<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/footer.css" />

<!--页脚 开始-->
<div class="FF">
	<div class="footer wrap">
		<div class="row-fluids clearfix">
			<div class="span7">
				<h3>故障分类：</h3>
				<foreach name="catRess" item="cat">
				<ul class="clearfix">
					<foreach name="cat.brandRes" item="brand">
						<li class="nLi">
							<h4><{$brand.cat_name}></h4>
							<ol>
								<foreach name="brand.faults" item="vo">
									<li><a target="_blank" href="<{$CBW_URL}>/fault/<{$vo[id]}>.html" title="<{$vo.title}>"><{$vo.title}></a></li>
								</foreach>
							</ol>
						</li>
					</foreach>
				</ul>
				</foreach>
			</div><!-- span7 --> 
			<div class="span30">
				<dl class="clearfix">
					<dt class="img fl"></dt>
					<dd class="fl">
						<h4>客服热线</h4>
						<p class="tel"><{$CONF['sy_freewebtel']}></p>
						<p class="supp">仅收市话费用</p>
						<p class="workTime">(周一至周日 9:00-18:00)</p>
					</dd>
				</dl>
			</div>
			<!-- <div class="span20"> -->
				<!-- <span class="masterLogin"><a rel="nofollow" href="<{:U('System/Login')}>" target="_blank">维修店登录&gt</a></span> -->
			<!-- </div> -->
		</div><!-- row-fluids -->
		<notempty name="linksRes">
		<if condition="($controller eq 'Index') AND ($action eq 'index')">
		<!-- 友情链接 -->
		<div class="frdLink wrap">
			<dl class="clearfix frdLink">
				<dd>
					友情链接：
					<foreach name="linksRes" item="vo">
					<a href="<{$vo.linkurl}>" target="_blank"><{$vo.linktitle}></a>
					</foreach>
					<a href="<{:U('Link/links')}>" target="_blank" alt="草包友链" title="草包友链">友链申请</a>
				</dd>
			</dl>
		</div>
		</if>
		</notempty>
		<!-- <div class="row-fluids safeInfo">
			<a rel="nofollow" target="_blank" href="http://61.144.227.239:9002/"><img src="__PUBLIC__/Home/images/2016/sznet110.jpg" height="34"  alt="深圳网络警察报警平台"></a>
			<a rel="nofollow" target="_blank" href="http://www.cyberpolice.cn/wfjb/"><img src="__PUBLIC__/Home/images/2016/cyberpolice.jpg" height="34"  alt="公共信息安全网络监察"></a>
			<a rel="nofollow" key="56777671efbfb07fa5f91f9e" logo_size="124x47" logo_type="business" href="http://www.anquan.org/authenticate/cert/?site=www.caobao.com&amp;at=business" target="_blank"><img src="http://static.pinpaibao.com.cn/static/kiss_page/outer/image/hy_124x47.png" alt="安全联盟认证" height="34" style="border: none;"></a>
			<a rel="nofollow" target="_blank" id="_pingansec_bottomimagelarge_shiming" href="http://si.trustutn.org/info?sn=868170109026620625771&amp;certType=1"><img src="http://v.trustutn.org/images/cert/bottom_large_img.png" height="34"/></a>
		</div> -->
		<div class="row-fluids">
			<p class="CR">Copyright © 2016 深圳草包网络科技有限公司 版权所有 粤ICP备15009083号-1</p>
		</div>
	</div>
</div>
<!--页脚 结束-->