<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/sidebar.css" />

<!--侧栏 开始-->
<div class="cb_sidebar">
	<span class="open"></span>
	<div class="cb_sidebar_bg"></div>
	<div class="cb_sidebar_tabs">
		<ul>
			<li class="cbwlogo">
				<a href="<{$CBW_URL}>" title="草包网">
					<i></i>
				</a>
			</li>
			<li class="cart">
				<a href="<{:U('Buy/cart')}>" title="购物车">
					<span class="cart_num"><eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq></span>
					<i></i>
					<P class="icon-text">购物车</P>
				</a>
			</li>
			<li class="linekefu open_kefu">
				<a href="javascript:void(0);" title="在线客服">
					<i></i>
					<P class="icon-text">客服</P>
				</a>
			</li>
			<li class="weixin">
				<a href="javascript:void(0);" title="关注微信">
					<img src="__PUBLIC__/Home/images/2016/erweima.jpg" alt="" class="erweima_" />
					<i></i>
					<P class="icon-text">微信</P>
				</a>
			</li>
			<li class="app">
				<a href="javascript:void(0);" title="APP下载">
					<i></i>
					<P style="width:17px;" class="icon-text">APP</P>
					<div class="clearfix" id="App_code">
						<div class="android-code app-code">
							<img src="__PUBLIC__/Home/images/2016/Android.png" />
							<p>Android下载</p>
						</div>
						<div class="iphone-code app-code">
							<img src="__PUBLIC__/Home/images/2016/ios.png" />
							<p>IOS下载</p>
						</div>
						<em></em>
					</div>
				</a>
			</li>
			<li class="weibo">
				<a href="http://weibo.com/u/5394332979" target="_blank" title="关注微博">
					<i></i>
					<P class="icon-text">微博</P>
				</a>
			</li>
		</ul>
	</div>
	<div class="scrollUp">
		<a href="javascript:void(0);" title="返回顶部">
			<i></i>
		</a>
	</div>
</div>
<!--侧栏 结束-->

<script type="text/javascript">	
	// 侧栏
	$(".cb_sidebar .scrollUp").click(function(event) {
		$('html,body').animate({scrollTop:0},600);
	});
	$(".cb_sidebar li.weixin").hover(function() {
		$('.erweima_').stop().animate({"left":-153});
	}, function() {
		$('.erweima_').stop().animate({"left":51});
	});
	$(".cb_sidebar li.app").hover(function() {
		$('#App_code').stop().animate({"left":-338});
	}, function() {
		$('#App_code').stop().animate({"left":51});
	});
	smallScreen();
	$(window).on("resize",function(){
		smallScreen();
	});
	function smallScreen(){
		if($(window).width() < 1350){
			smallHide()
			$(".cb_sidebar").hover(function() {
				bigShow()
			}, function() {
				smallHide()
			});
		}else{
			bigShow()
			$(".cb_sidebar").hover(function() {
				bigShow()
			}, function() {
				bigShow()
			});
		}
	};
	function smallHide(){
		$(".cb_sidebar_tabs ul li:not(.cart)").hide();
		$(".cb_sidebar_tabs ul li.cart").css({"border-bottom":"1px solid #eee","border-left-color":"#eee"})
		$(".cb_sidebar_bg").hide();
		$(".cb_sidebar").css("top","57px");
	};
	function bigShow(){
		$(".cb_sidebar_tabs ul li").show();
		$(".cb_sidebar_tabs ul li.cart").css({"border-bottom":"0 none","border-left-color":"#cdcdcd"})
		$(".cb_sidebar_bg").show();
		$(".cb_sidebar").css("top","0px");
	};
</script>






