<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/widget-user.css">
<div class="tabnav">
	<neq name="Think.session.user.userid" value="">
	<eq name="Think.session.user.groupid" value="1">
	<ul class="tabbd">
		<li class="quote-notice tabbdli" data-type="repair">
			<a href="javascript:void(0);" class="quote-num">抢单通知<em><{$offerCount}></em></a>
			<div class="notice-list">
				<gt name="offerCount" value="0">
				<ul class="notice-list-ul">
					<!--通知列表-->
				</ul>
				<div class="all-notice"><a href="<{:U('Agent/offers')}>">查看所有通知 <em></em></a></div>
				<else />
				<div class="null-notice">暂无通知</div>
				</gt>
				<div class="triangle"></div>
			</div>
		</li>
	</ul>
	<else />
	<ul class="tabbd">
		<li class="quote-notice tabbdli" data-type="users">
			<a href="javascript:void(0);" class="quote-num">报价通知<em><{$offerCount}></em></a>
			<div class="notice-list">
				<gt name="offerCount" value="0">
				<ul class="notice-list-ul">
					<!--通知列表-->
				</ul>
				<else />
				<div class="null-quote">暂无报价</div>
				</gt>
				<div class="triangle"></div>
			</div>
		</li>
	</ul>
	<gt name="offerCount" value="0">
	<div class="posF" id="newShopTtips">
		<div class="bg"></div>
		<div class="box467 posR">
			<div class="hd"><span class="posA off">&nbsp;</span></div>
			<div class="bd">
				<div class="b-pic"><img src="__PUBLIC__/Home/images/2016/newShopTips.png" alt="有新的维修店报价"></div>
				<div class="b-content">
					您的<{$order.pro_name}>有新的维修店报价，请及时查看！
				</div>
				<div class="btn btn-look">
				<if condition="$order['order_type'] eq 1">
					<a href="<{:U('Repair/server', array('id'=>$order['id']))}>">点击查看</a>
				<else />
					<a href="<{:U('Recovery/server', array('id'=>$order['id']))}>">点击查看</a>
				</if>
				</div>
			</div>
		</div>
	</div>
	</gt>
	</eq>
	</neq>
	<ul class="tabbd">
		<!-- <li class="by"><a href="<{:U('Buy/cart')}>"><i class="buycar"></i><span>(<eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq>)</span></a></li> -->
		<li class="login tabbdli"><a target="_blank" href="http://college.azooo.com/index.html">维修学院</a></li>
		<li class="line tabbdli">|</li>
		<eq name="Think.session.user.userid" value="">
		<li class="login tabbdli"><a rel="nofollow" href="<{:U('Users/login')}>">登录</a></li>
		<li class="line tabbdli">|</li>
		<!--<li><a rel="nofollow" href="<{:U('Users/regist')}>">注册</a></li>-->
		<li class="tabbdli"><a rel="nofollow" href="<{:U('Users/login',array('type'=>'weixin'))}>">注册</a></li>
		<else />
		<li class="tabbdli user-name">
			<a rel="nofollow" href="<{:U('Users/index')}>">
				<{$Think.session.user.username}>
				<if condition="$user['thumb'] neq ''">
					<img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='/Public/User/default.jpg';"/>
				<else />
					<img src="__PUBLIC__/User/<{$Think.session.user.thumb}>" onerror="javascript:this.src='/Public/User/default.jpg';"/>
				</if>
				<if condition="$offerShopCount gt 0">
					<i class="icons-circle"></i>
				</if>
			</a>
			<div class="drop-down">
				<div class="all-drop-down">
					<eq name="Think.session.user.groupid" value="1">
					<if condition="$offerShopCount gt 0">
						<p class="my-shop"><a href="<{:U('System/index')}>">我的店铺<i class="icons-circle"></i></a></p>
					<else />
						<p class="my-shop"><a href="<{:U('System/index')}>">我的店铺</a></p>
					</if>
					</eq>
					<p class="buy-order"><a rel="nofollow" href="<{$CBW_URL}>/orders/index.html" class="logout_a">购物订单</a></p>
					<p class="user-sever"><a rel="nofollow" href="<{$CBW_URL}>/service/index.html" class="logout_a">我的售后</a></p>
					<p class="logout"><a rel="nofollow" href="javascript:void(0);" class="logout_a">退出登录</a></p>
				</div>
				<div class="triangle"></div>
			</div>
		</li>
		</eq>
	</ul>
</div>

<script type="text/javascript">
	$(".quote-notice").hover(function(){                               // 维修师抢单通知
		var _this = $(this);
		var type  = _this.attr('data-type');
		$.post('__CONTROLLER__/loadUserOffer', {'type':type}, function(d){
			var data = JSON.parse(d);
			if(data || data != ''){
				if(type == 'repair'){//加载附近的维修、回收单等通知信息
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li>';
						html += '	<a href="<{$CBW_URL}>/offer/'+data[a]['order_id']+'-'+data[a]['shop_id']+'.html" class="clearfix">';
						html += '		<div class="pic">';
						html += '			<img src="__PUBLIC__/User/'+data[a]['thumb']+'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';" />';
						html += '		</div>';
						html += '		<div class="content">';
						html += '			<div class="user-need">';
						if(data[a]['order_type'] == 1){
							html += '			<p>用户<span>'+data[a]['uname']+'</span>发布了一条维修订单</p>';
						}else{
							html += '			<p>用户<span>'+data[a]['uname']+'</span>发布了一条回收订单</p>';
						}
						html += '			</div>';
						html += '			<div class="need-detial clearfix">';
						html += '				<p>【详情】'+data[a]['details']+'</p>';
						html += '				<time>'+data[a]['show_time']+'</time>';
						html += '			</div>';
						html += '		</div>';
						html += '	</a>';
						html += '</li>';
					}
				}else{//加载自己的维修、回收单等通知信息
					var html = '';
					for(var a = 0;a < data.length;a++){
						var url = "<{$CBW_URL}>/repair/server/id/"+data[a]['order_id']+".html";
						if(data[a]['order_type'] == 2){
							var url = "<{$CBW_URL}>/recovery/server/id/"+data[a]['order_id']+".html";
						}
						html += '<li>';
						html += '	<a href="'+url+'" class="clearfix">';
						html += '		<div class="pic">';
						html += '			<img src="__PUBLIC__/User/'+data[a]['logo_image']+'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';" />';
						html += '		</div>';
						html += '		<div class="content">';
						html += '			<div class="user-need">';
						html += '			<p>维修店<span>'+data[a]['shop_name']+'</span>对您发布的订单报价了</p>';
						html += '			</div>';
						html += '			<div class="need-detial clearfix">';
						html += '				<p>【详情】'+data[a]['details']+'</p>';
						html += '				<time>'+data[a]['show_time']+'</time>';
						html += '			</div>';
						html += '		</div>';
						html += '	</a>';
						html += '</li>';
					}
				}
				$(".notice-list-ul").empty().append(html);
				_this.find(".notice-list").stop().slideDown(300);
			}
		});
		
	},function(){
		$(this).find(".notice-list").stop().slideUp(300);
	});
	$(".user-name").hover(function(){ // 维修师抢单通知
		var _this = $(this);
		_this.find(".drop-down").stop().slideDown(300);
	},function(){
		var _this = $(this);
		_this.find(".drop-down").stop().slideUp(300);
	});
</script>



