<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">评论管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="__CONTROLLER__/comments" method="get" class="search span8">
								<select name="category" style="width:150px;">
                                    <option>评论类型</option>
									<option value="1" <eq name="category" value="1">selected</eq>>帖子</option>
									<option value="0" <eq name="category" value="0">selected</eq>>主题</option>
                                </select>
								<select name="status" style="width:150px;">
                                    <option>评论状态</option>
									<option value="1" <eq name="status" value="1">selected</eq>>帖子被屏蔽</option>
									<option value="0" <eq name="status" value="0">selected</eq>>正常</option>
                                </select>
								<input type="hidden" name="acceptid" value="<{$acceptid}>" />
                                <input type="text" name="content" value="<{$content}>" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
					<div class="widget-title">
						<span class="icon"><input type="checkbox" id="title-checkbox" name="title-checkbox" /></span>
						<h5>帖子列表</h5>
					</div>
					<div class="widget-content nopadding">
					<form action="__CONTROLLER__/batchComments" method="post">
						<table class="table table-bordered table-striped with-check">
						<thead>
						<tr>
							<th><i class="icon-resize-vertical"></i></th>
							<th style="width:5%;">编号</th>
							<th style="width:10%;">所属主题</th>
							<th style="width:7%;">作者</th>
							<th>内容</th>
							<th style="width:5%;">状态</th>
							<th style="width:8%;">发布时间</th>
							<th style="width:8%;">操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="commentRes" item="vo">
						<tr>
							<td><input type="checkbox" name="ids[]" value="<{$vo.id}>" /></td>
							<td class="text-center"><{$vo.id}></td>
							<td><{$vo.subject}></td>
							<td class="text-center"><{$vo.user_name}></td>
							<td class="text-left"><{$vo.content|htmlspecialchars_decode}></td>
							<td class="text-center">
								<eq name="vo.status" value="0">正常</eq>
								<eq name="vo.status" value="1">被屏蔽</eq>
							</td>
							<td class="text-center"><{$vo.dateline|date='Y-m-d H:i',###}></td>
							<td class="text-center" style="width:170px;">
								<a href="__CONTROLLER__/commentview/id/<{$vo.id}>" title="查看" class="btn btn-success btn-mini"> <i class="icon-search"></i> </a>
								<a href="__CONTROLLER__/removeComments/id/<{$vo.id}>" onclick="return confirm('您确定要删除评论吗？')" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
							</td>
						</tr>
						</foreach>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="8">
							<div class="btns" style="margin-top:5px">
							<select name="batch_option" class="span2" style="margin-right:10px">
							<option value="-1">请选择</option>
							<option value="1">批量删除</option>
							</select>
							<button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="icon-icon-align-justify"></i> 执行</button>
							</div>
							<div class="pagination alternate text-right span9 pull-right" style="margin-top:-20px">
							<{$page}>
							</div>
							</td>
						</tr>
						</tfoot>
						</table>
					</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
$('.search select').change(function(){
	$('.search').submit();
});
$('.search input[name=content]').blur(function(){
	$('.search').submit();
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
