<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">版块管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>添加版块</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form method="post" action="__CONTROLLER__/doAddForum" name="addForum" id="addForum" enctype="multipart/form-data" novalidate="novalidate">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">名称：</label>
									<div class="controls">
										<input type="text" class="span2" name="name"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">描述：</label>
									<div class="controls">
										<textarea class="span5" name="description"></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">图标：</label>
									<div class="controls">
										<input type="file" name="icon" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">标签：</label>
									<div class="controls">
										<input type="text" class="span5" name="tags"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">显示顺序：</label>
									<div class="controls">
										<input type="text" class="span2" name="displayorder"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">主题发布,是否需要审核：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="auditthread" value="1" checked="checked"/>是</label>
										<label style="display:inline"><input type="radio" name="auditthread" value="0"/>否</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">是否允许编辑发布的主题：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="modthread" value="1" checked="checked"/>是</label>
										<label style="display:inline"><input type="radio" name="modthread" value="0"/>否</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">显示状态：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="status" value="1" checked="checked"/>显示</label>
										<label style="display:inline"><input type="radio" name="status" value="0"/>隐藏</label>
									</div>
								</div>
								<div class="form-actions">
									<input type="hidden" name="fid" value="<{$forum.id}>" />
									<input type="hidden" name="level" value="<{$forum.level}>" />
									<input type="submit" value=" 添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
									<a href="__CONTROLLER__/forum/fid/<{$forum.id}>" class="btn btn-default">返回列表</a>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
