<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        a {
            color:#27A9E3;
        }
        a:hover {
            color:#f70;
            text-decoration:underline;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">版块管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">板块列表</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div class="tab-pane active">
                            <div class="" style="width:100%; height:30px; margin-bottom:10px;">
								<neq name="sup.fid" value="">
								<a href="__CONTROLLER__/forum/fid/<{$sup.fid}>" class="btn btn-info"><i class="icon-reply"></i> 返回上级板块</a>
								</neq>
                                <a href="__CONTROLLER__/forumAdd/fid/<{$Think.get.fid}>" class="btn btn-info"><i class="icon-plus"></i> 添加板块</a>
                            </div> 
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="list-title" style="width:7%;">编号</th>
                                        <th class="list-title">名称</th>
										<th class="list-title" style="width:20%;">图标</th>
                                        <th class="list-title" style="width:7%;">主题数</th>
										<th class="list-title" style="width:7%;">今日主题数</th>
                                        <th class="list-title" style="width:7%;">显示顺序</th>
										<th class="list-title" style="width:7%;">状态</th>
                                        <th class="list-title" style="width:10%;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="forumRes" item="vo">
                                    <tr>
                                        <td class="align-center"><{$vo.id}></td>
                                        <td class="align-left"><a href="__CONTROLLER__/forum/fid/<{$vo.id}>"><{$vo.name}></a></td>
										<td class="align-center"><neq name="vo.icon" value=""><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" style="height:30px;" /></neq></td>
										<td class="align-center"><{$vo.threads}></td>
										<td class="align-center"><{$vo.todaythreads}></td>
										<td class="align-center"><{$vo.displayorder}></td>
										<td class="align-center"><eq name="vo.status" value="1"><i class="icon-ok" style="color:green;"></i><else /><i class="icon-remove" style="color:red;"></i></eq></td>
                                        <td class="align-center">
                                            <a href="__CONTROLLER__/forumEdit/id/<{$vo.id}>"><i class="icon-pencil"></i> 编辑</a> | 
                                            <a href="__CONTROLLER__/forumDelete/id/<{$vo.id}>" onclick="return confirm('您确定删除该版块信息？');"><i class="icon-trash"></i> 删除
										</td>
                                    </tr>
                                    </foreach>
                                </tbody>
								<tfoot>
									<tr>
										<td colspan="8">
										<div class="pagination alternate text-right span9 pull-right" style="margin-top:0px">
										<{$page}>
										</div>
										</td>
									</tr>
								</tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
   
</block>
<!-- 底部JS执行区域 结束 -->
