<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">帖子管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>编辑帖子</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form method="post" action="__CONTROLLER__/doEditPost" name="editPost" id="editPost" novalidate="novalidate">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">主题：</label>
									<div class="controls">
										<{$thread.subject}>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">内容：</label>
									<div class="controls">
										<textarea name="message" class="span5"><{$post.message}></textarea>
									</div>
								</div>
								<neq name="post.attachment" value="">
								<div class="control-group">
									<label class="control-label">附件：</label>
									<div class="controls">
										<img src="__PUBLIC__/bbs/attachment/<{$post.attachment}>" style="height:60px;" />
									</div>
								</div>
								</neq>
								<neq name="post.quote" value="0">
								<div class="control-group">
									<label class="control-label">引用：</label>
									<div class="controls">
										<a href="http://bbs.caobao.com/view/<{$post.quote}>.html"><{$post.quotesubject}></a>
									</div>
								</div>
								</neq>
								<div class="control-group">
									<label class="control-label">最有帮助的：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="satisfy" value="1" <eq name="post.satisfy" value="1">checked="checked"</eq> />是</label>
										<label style="display:inline"><input type="radio" name="satisfy" value="0" <eq name="post.satisfy" value="0">checked="checked"</eq> />否</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">帖子审核状态：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="invisible" value="0" <eq name="post.invisible" value="0">checked="checked"</eq> />已审核通过</label>
										<label style="display:inline"><input type="radio" name="invisible" value="-0" <eq name="post.invisible" value="-1">checked="checked"</eq> />主题帖在回收站中</label>
										<label style="display:inline"><input type="radio" name="invisible" value="-2" <eq name="post.invisible" value="-2">checked="checked"</eq> />待审核</label>
										<label style="display:inline"><input type="radio" name="invisible" value="-3" <eq name="post.invisible" value="-3">checked="checked"</eq> />已忽略</label>
										<label style="display:inline"><input type="radio" name="invisible" value="-5" <eq name="post.invisible" value="-5">checked="checked"</eq> />回收站</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">状态：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="status" value="3" <eq name="post.status" value="3">checked="checked"</eq> />主题再编辑</label>
										<label style="display:inline"><input type="radio" name="status" value="2" <eq name="post.status" value="2">checked="checked"</eq> />主题被警告</label>
										<label style="display:inline"><input type="radio" name="status" value="1" <eq name="post.status" value="1">checked="checked"</eq> />主题被屏蔽</label>
										<label style="display:inline"><input type="radio" name="status" value="0" <eq name="post.status" value="0">checked="checked"</eq> />正常</label>
									</div>
								</div>
								<div class="form-actions">
									<input type="hidden" name="id" value="<{$post.id}>" />
									<input type="hidden" name="tid" value="<{$post.tid}>" />
									<input type="submit" value=" 编辑 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
									<a href="__CONTROLLER__/post/tid/<{$post.tid}>" class="btn btn-default">返回列表</a>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 编辑器
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('textarea[name="message"]', {
					width : '50%',
					height : 300,
                    resizeType : 1,
                    uploadJson : '__PUBLIC__/editor/php/upload_feacher_json.php'
                });
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->
