<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">主题管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>编辑主题</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form method="post" action="__CONTROLLER__/doEditThread" name="editThread" id="editThread" novalidate="novalidate">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">版块：</label>
									<div class="controls">
										<select name="fid" class="span3">
											<option>主题版块</option>
											<{$forumString}>
										</select>
									</div>
								</div>
								<neq name="thread.category" value="0">
								<div class="control-group">
									<label class="control-label">分类：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="category" value="2" <eq name="thread.category" value="2">checked="checked"</eq> />维修技巧</label>
										<label style="display:inline"><input type="radio" name="category" value="1" <eq name="thread.category" value="1">checked="checked"</eq> />使用技巧</label>
									</div>
								</div>
								<else />
								<div class="control-group">
									<label class="control-label">分类：</label>
									<div class="controls">
										问题解答<input type="hidden" name="category" value="0" />
									</div>
								</div>
								</neq>
								<div class="control-group">
									<label class="control-label">标题：</label>
									<div class="controls">
										<input type="text" class="span5" name="subject" value="<{$thread.subject}>" />
									</div>
								</div>
								<eq name="thread.category" value="0">
								<div class="control-group">
									<label class="control-label">内容：</label>
									<div class="controls">
										<textarea name="content" class="span5"><{$thread.content}></textarea>
									</div>
								</div>
								<else />
								<div class="control-group">
									<label class="control-label">描述：</label>
									<div class="controls">
										<textarea name="description" class="span5"><{$thread.description}></textarea>
									</div>
								</div>
								</eq>
								<neq name="thread.attachment" value="">
								<div class="control-group">
									<label class="control-label">附件：</label>
									<div class="controls">
										<img src="__PUBLIC__/bbs/attachment/<{$thread.attachment}>" style="height:60px;" />
									</div>
								</div>
								</neq>
								<neq name="thread.quote" value="0">
								<div class="control-group">
									<label class="control-label">引用：</label>
									<div class="controls">
										<a href="http://bbs.caobao.com/view/<{$thread.quote}>.html"><{$thread.quotesubject}></a>
									</div>
								</div>
								</neq>
								<notempty name="thread.tools">
								<foreach name="thread.tools" item="vo">
								<div class="control-group">
									<label class="control-label">工具<{$vo.displayorder}>：</label>
									<div class="controls">
										<input type="text" name="tools[]" value="<{$vo.content}>" class="span5" />
									</div>
								</div>
								</foreach>
								</notempty>
								<notempty name="thread.steps">
								<foreach name="thread.steps" item="vo">
								<div class="control-group">
									<label class="control-label">方法/步骤<{$vo.displayorder}>：</label>
									<div class="controls">
										<textarea name="steps[]" class="span5"><{$vo.content}></textarea>
										附件：<img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" style="height:60px;" />
										<input type="hidden" name="attachments[]" value="<{$vo.attachment}>" />
										<input type="hidden" name="quotes[]" value="<{$vo.quote}>" />
										<neq name="vo.quote" value="0">
										引用：<a href="http://bbs.caobao.com/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a>
										</neq>
									</div>
								</div>
								</foreach>
								</notempty>
								<notempty name="thread.matters">
								<foreach name="thread.matters" item="vo">
								<div class="control-group">
									<label class="control-label">注意事项<{$vo.displayorder}>：</label>
									<div class="controls">
										<input type="text" name="matters[]" value="<{$vo.content}>" class="span5" />
									</div>
								</div>
								</foreach>
								</notempty>
								<div class="control-group">
									<label class="control-label">标签：</label>
									<div class="controls">
										<input type="text" class="span5" name="tags" value="<{$thread.tags}>" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">显示顺序：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="displayorder" value="3" <eq name="thread.displayorder" value="3">checked="checked"</eq> />全局置顶</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="2" <eq name="thread.displayorder" value="2">checked="checked"</eq> />分类置顶</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="1" <eq name="thread.displayorder" value="1">checked="checked"</eq> />板块置顶</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="0" <eq name="thread.displayorder" value="0">checked="checked"</eq> />正常</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="-1" <eq name="thread.displayorder" value="-1">checked="checked"</eq> />被删除到回收站</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="-2" <eq name="thread.displayorder" value="-2">checked="checked"</eq> />待审核</label>
										<label style="display:inline"><input type="radio" name="displayorder" value="-3" <eq name="thread.displayorder" value="-3">checked="checked"</eq> />草稿帖</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">主题状态：</label>
									<div class="controls">
										<label style="display:inline"><input type="radio" name="status" value="3" <eq name="thread.status" value="3">checked="checked"</eq> />主题再编辑</label>
										<label style="display:inline"><input type="radio" name="status" value="2" <eq name="thread.status" value="2">checked="checked"</eq> />主题被警告</label>
										<label style="display:inline"><input type="radio" name="status" value="1" <eq name="thread.status" value="1">checked="checked"</eq> />主题被屏蔽</label>
										<label style="display:inline"><input type="radio" name="status" value="0" <eq name="thread.status" value="0">checked="checked"</eq> />正常</label>
									</div>
								</div>
								<neq name="thread.category" value="0">
								<div class="control-group">
									<label class="control-label"></label>
									<div class="controls">
										<label style="display:inline"><input type="checkbox" name="original" value="1" <eq name="thread.original" value="1">checked="checked"</eq> />是否原创</label>
									</div>
								</div>
								</neq>
								<div class="form-actions">
									<input type="hidden" name="id" value="<{$thread.id}>" />
									<input type="submit" value=" 编辑 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
									<a href="__CONTROLLER__/thread/fid/<{$thread.fid}>" class="btn btn-default">返回列表</a>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
