<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
		.shortcut{
			display:inline;
			font-size:12px;
		}
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">论坛管理</a> 
    </div>
    <h1 style="margin-top:10px;">主题管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="__CONTROLLER__/thread" method="get" class="search span8">
								<select name="fid" style="width:250px;">
                                    <option>主题版块</option>
									<{$forumString}>
                                </select>
								<select name="category" style="width:100px;">
                                    <option>主题类型</option>
									<option value="1" <eq name="category" value="1">selected</eq>>问题解答</option>
									<option value="2" <eq name="category" value="2">selected</eq>>技巧文章</option>
                                </select>
								<select name="displayorder" style="width:100px;">
                                    <option>显示顺序</option>
									<option value="0" <eq name="displayorder" value="0">selected</eq>>正常</option>
									<option value="1" <eq name="displayorder" value="1">selected</eq>>板块置顶</option>
									<option value="2" <eq name="displayorder" value="2">selected</eq>>分类置顶</option>
									<option value="3" <eq name="displayorder" value="3">selected</eq>>全局置顶</option>
									<option value="-2" <eq name="displayorder" value="-2">selected</eq>>待审核</option>
									<option value="-3" <eq name="displayorder" value="-3">selected</eq>>草稿帖</option>
                                </select>
								<select name="status" style="width:100px;">
                                    <option>主题状态</option>
									<option value="0" <eq name="status" value="0">selected</eq>>正常</option>
									<option value="1" <eq name="status" value="1">selected</eq>>被屏蔽</option>
									<option value="2" <eq name="status" value="2">selected</eq>>被警告</option>
									<option value="3" <eq name="status" value="3">selected</eq>>再编辑</option>
                                </select>
                                <input type="text" name="subject" value="<{$subject}>" style="width:150px;">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
					<div class="widget-title">
						<span class="icon"><input type="checkbox" id="title-checkbox" name="title-checkbox" /></span>
						<h5>主题列表</h5>
					</div>
					<div class="widget-content nopadding">
					<form action="__CONTROLLER__/batchThread" method="post">
						<table class="table table-bordered table-striped with-check">
						<thead>
						<tr>
							<th><i class="icon-resize-vertical"></i></th>
							<th style="width:3%;">编号</th>
							<th>主题标题</th>
							<th style="width:5%;">主题类型</th>
							<th style="width:10%;">所属版块</th>
							<th style="width:7%;">主题作者</th>
							<th style="width:5%;">是否精华</th>
							<th style="width:18%;">显示顺序</th>
							<th style="width:5%;">主题状态</th>
							<th style="width:8%;">发布时间</th>
							<th style="width:10%;">操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="threadRes" item="vo">
						<tr>
							<td><input type="checkbox" name="ids[]" value="<{$vo.id}>" /></td>
							<td class="text-center"><{$vo.id}></td>
							<td><{$vo.subject}></td>
							<td class="text-center">
								<if condition="$vo.category eq 1">
									<a href="__CONTROLLER__/thread/category/<{$vo.category}>">问题解答</a>
								<else />
									<eq name="vo.sub" value="1"><a href="__CONTROLLER__/thread/category/<{$vo.category}>">使用技巧</a></eq>
									<eq name="vo.sub" value="2"><a href="__CONTROLLER__/thread/category/<{$vo.category}>">维修技巧</a></eq>
								</if>
							</td>
							<td class="text-center"><a href="__CONTROLLER__/thread/fid/<{$vo.fid}>"><{$vo.forum_name}></a></td>
							<td class="text-center"><{$vo.user_name}></td>
							<td class="text-center"><{$vo.digest}></td>
							<td class="text-center" id="displayorder<{$vo.id}>">
								<label class="shortcut"><input type="radio" name="displayorder<{$vo.id}>" value="3" onclick="shortcutEdit(<{$vo.id}>, 'displayorder', '3');" <eq name="vo.displayorder" value="3">checked="checked"</eq> />全局置顶</label>
								<!--<label class="shortcut"><input type="radio" name="displayorder<{$vo.id}>" value="2" onclick="shortcutEdit(<{$vo.id}>, 'displayorder', '2');" <eq name="vo.displayorder" value="2">checked="checked"</eq> />分类置顶</label>-->
								<!--<label class="shortcut"><input type="radio" name="displayorder<{$vo.id}>" value="1" onclick="shortcutEdit(<{$vo.id}>, 'displayorder', '1');" <eq name="vo.displayorder" value="1">checked="checked"</eq> />板块置顶</label>-->
								<label class="shortcut"><input type="radio" name="displayorder<{$vo.id}>" value="0" onclick="shortcutEdit(<{$vo.id}>, 'displayorder', '0');" <eq name="vo.displayorder" value="0">checked="checked"</eq> />正常</label>
								<label class="shortcut"><input type="radio" name="displayorder<{$vo.id}>" value="0" onclick="shortcutEdit(<{$vo.id}>, 'displayorder', '-2');" <eq name="vo.displayorder" value="-2">checked="checked"</eq> />待审核</label>
							</td>
							<td class="text-center">
								<eq name="vo.status" value="0">正常</eq>
								<eq name="vo.status" value="1">被屏蔽</eq>
								<eq name="vo.status" value="2">被警告</eq>
								<eq name="vo.status" value="3">再编辑</eq>
							</td>
							<td class="text-center"><{$vo.dateline|date='Y-m-d H:i',###}></td>
							<td class="text-center" style="width:170px;">
								<a href="__CONTROLLER__/threadview/id/<{$vo.id}>" title="查看" class="btn btn-success btn-mini"> <i class="icon-search"></i> </a>
								<a href="__CONTROLLER__/post/id/<{$vo.id}>" title="回复" class="btn btn-info btn-mini"> <i class="icon-comments"></i> </a>
								<a href="__CONTROLLER__/comments/category/0/acceptid/<{$vo.id}>" title="评价" class="btn btn-warning btn-mini"> <i class="icon-list-ul"></i> </a>
								<a href="__CONTROLLER__/addThreadToRecycle/id/<{$vo.id}>" onclick="return confirm('您确定加入到回收站吗？')" title="回收站" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
							</td>
						</tr>
						</foreach>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="12">
							<div class="btns" style="margin-top:5px">
							<select name="batch_option" class="span2" style="margin-right:10px">
							<option value="-1">请选择</option>
							<option value="1">批量回收</option>
							<option value="2">批量审核</option>
							<option value="3">批量屏蔽</option>
							<option value="4">批量警告</option>
							</select>
							<button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="icon-icon-align-justify"></i> 执行</button>
							</div>
							<div class="pagination alternate text-right span9 pull-right" style="margin-top:-20px">
							<{$page}>
							</div>
							</td>
						</tr>
						</tfoot>
						</table>
					</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
$('.search select').change(function(){
	$('.search').submit();
});
$('.search input[name=subject]').blur(function(){
	$('.search').submit();
});
function shortcutEdit(no, field, val){
	var data = {'id': no, 'field': field, 'val':val};
	$.post('__CONTROLLER__/shortcutThread', data, function (d) {
		if (d <= 0) {
			alert("修改失败.");
		}
	});
}
</script>
</block>
<!-- 底部JS执行区域 结束 -->
