<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repair-serven.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con">
		<div class="topnews">
			<ul class="clearfix">
				<li><div class="return"><span>&#xe61d;</span></div></li>
				<li>
					<span>类型</span>
					<strong><a href="<{$CBW_URL}>/repair/select.html" title="<{$step.type}>"><{$step.type}></a></strong>
				</li>
				<if condition="$Think.session.server.brandId neq ''">
				<li>
					<span>品牌</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$Think.session.server.typeId}>.html" title="<{$step.brand}>"><{$step.brand}></a></strong>
				</li>
				</if>
				<if condition="$Think.session.server.modelId neq ''">
				<li>
					<span>型号</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$Think.session.server.typeId}>-<{$Think.session.server.brandId}>.html" title="<{$step.model}>"><{$step.model}></a></strong>
				</li>
				</if>
				<if condition="$Think.session.server.colorId neq ''">
				<li>
					<span>颜色</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$Think.session.server.typeId}>-<{$Think.session.server.brandId}>-<{$Think.session.server.modelId}>.html" title="<{$step.color}>"><{$step.color}></a></strong>
				</li>
				</if>
				<if condition="$Think.session.server.catId neq ''">
				<li>
					<span>分类</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$Think.session.server.typeId}>-<{$Think.session.server.brandId}>-<{$Think.session.server.modelId}>-<{$Think.session.server.colorId}>.html" title="<{$step.cat}>"><{$step.cat}></a></strong>
				</li>
				</if>
			</ul>
		</div>
		<div class="bts-cdn">
			<form id="server" method="post" action="<{:U('Repair/create')}>" autocomplete="off">
				<div class="select">
					<dl class="clearfix">
						<dt>故障信息</dt>
						<if condition="$Think.session.server.brandId eq ''">
						<dd class="clearfix">
							<strong>品牌：</strong><input type="text" name="brand" class="must" placeholder="请填写设备品牌"/>
						</dd>
						</if>
						<if condition="$Think.session.server.modelId eq ''">
						<dd class="clearfix">
							<strong>型号：</strong><input type="text" name="model" class="must" placeholder="请填写设备型号"/>
						</dd>
						</if>
						<if condition="$Think.session.server.colorId eq ''">
						<dd class="clearfix">
							<strong>颜色：</strong><input type="text" name="color" class="must" placeholder="请填写设备颜色"/>
						</dd>
						</if>
						<dd class="textarea-remarks clearfix">
							<strong>故障：</strong><textarea name="remarks" style="line-height:41px;" class="must" placeholder="请简单描述您手机的故障情况"></textarea>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>服务方式</dt>
						<dd class="clearfix" id="userStyle">
							<strong>方式：</strong>
							<div class="select-style">
							    <p data-id="2" class="selected"><span class="select door"></span>上门</p>
								<p data-id="1" class="store"><span class="select store"></span>到店</p>
							</div>
						</dd>
					</dl>
					<if condition="$is_show_tip==1">
						<dl class="clearfix">
							<a href='javascript:kefu();' class="kefu" style="line-height:23px;color:#40bb8c;font-size: 1em;">
								如您需要更快速的上门服务，可以点此联系在线客服，为您优先处理更进。
							</a>
						</dl>
					</if>
					<dl class="clearfix linker">
						<dt>联系人信息</dt>
						<dd style="margin:0;" class="tps"><p></p></dd>
						<dd class="clearfix">
							<strong>联系人：</strong><input type="text" class="must" name="username" placeholder="请输入您的姓名"/>
						</dd>
						<dd class="clearfix">
							<strong>手机号：</strong><input id="mobile" type="text" class="must" name="mobile" placeholder="请输入您的手机号码"/>
						</dd>
						<if condition="$Think.session.user.userid eq ''">
						<dd class="rope img_code posR clearfix">
							<strong>图形验证码：</strong>
							<input type="text" id="img_code" name="imgcode"  class="img_code must" value="" placeholder="请输入图形验证码" />
							<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
						</dd>
						<dd class="rope posR Rcode" style="display:none;">
							<strong>短信验证码：</strong>
							<input type="text" id="code" name="smscode" class="code must" value="" placeholder="请输入短信验证码" maxlength="6" />
							<span id="phone_login_btn">获取验证码</span><span style="display:none;" id="re_code">获取验证码</span>
						</dd>
						</if>
						<dd class="textarea-address clearfix">
							<i class="icon-map"></i>
							<strong>详细地址：</strong><p id="address">请输入小区、写字楼、学校等</p>
						</dd>
						<dd class="textarea-supplement clearfix">
							<strong>补充地址：</strong><input class="must" type="text" name="supplement" id="supplement" placeholder="补充详细地址（如门牌号/楼层号等）"/>
						</dd>
					</dl>
				</div>
				<div class="next-btn">
					<input type="hidden" name="province" value="" placeholder="省" />
					<input type="hidden" name="city" value="" placeholder="市" />
					<input type="hidden" name="district" value="" placeholder="区" />
					<input type="hidden" name="address" value="" placeholder="地址" />
					<input type="hidden" name="lng" value="" placeholder="经度" />
					<input type="hidden" name="lat" value="" placeholder="纬度" />
					<input type="hidden" name="way" value="2" placeholder="服务方式" />
					<a class="next-step" id="nextStep" href="javascript:;">立即提交</a>
				</div>
			</form>
		</div>
		<div class="reposition">
			<div class="top_tit"><span class="close">&#xe602;</span>地址定位</div>
			<div class="input">
				<span class="position"><img src="__PUBLIC__/Mobile/images/position.png"></span>
				<input type="text" name="street" id="street" placeholder="请输入小区、写字楼、学校等"/>
			</div>
			<div class="mapsearch">
				<ul>
					<li>
						<p class="suggest-name">市民中心</p>
						<p class="suggest-addr">广东省深圳市福田区福中三路</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		mapInit();               // 初始化
		getCurrentPosition();    // 定位
		geocoder([$('input[name=lng]').val(), $('input[name=lat]').val()]);  // 页面加载,定位成功,根据坐标获取地址信息
		
		var rightColor = "0 none";
		var falutColor = "1px solid #ff4444";
		// 检查故障信息是否全部填写
		if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {  //判断iPhone|iPad|iPod|iOS
			$("input").on("focus",function(){
			   $("footer").css({"display":"none"});	   
			}).on("blur",function(){
			   $("footer").css({"display":"block"});	
			});
		};
		$("#userStyle p").on("click",function(){
		   var _this = $(this);
           _this.addClass("selected").siblings().removeClass("selected");
		   if(_this.index() == 0){
		       $("input[name=way]").val(2);
		   }else{
		       $("input[name=way]").val(1);
		   }	   
		});
		$("#nextStep").on('click', function(d){
			checkNews();
            if($("#address").html() == "请输入小区、写字楼、学校等"){
			    $("#address").css({"border-bottom":falutColor}).parents("dd").addClass("false");
			}else{
			    $("#address").css({"border-bottom":rightColor}).parents("dd").removeClass("false");
			};
			if(!$(".must").parents("dd").hasClass("false")){
				$("form#server").submit();
			};
		});
		$(".must").each(function(index,element){
			$(element).blur(function(){
				var must = $(".must");
				for(var i = 0;i<must.length;i++){
					if($(must[i]).val() === ""){
						$(must[i]).siblings(".icon-right").hide().parents("dd").addClass("false");
					}else{		
						$(must[i]).css({"border-bottom":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
					}
				};
			});
		});
		
		/*
		 *检查故障信息
		 *
		*/ 
		function checkNews(){
			var must = $(".must");
			for(var i = 0;i<must.length;i++){
				if($(must[i]).val() == ""){
					$(must[i]).css({"border-bottom":falutColor}).parents("dd").addClass("false");
				}else{
					if($(must[i]).parents("dd").hasClass("false")){
						$(must[i]).css({"border-color":falutColor});
					}
					$(must[i]).css({"border-bottom":rightColor}).parents("dd").removeClass("false");
				}
			};
			checkMobile($("#mobile"));
		}
		/*
		 *
		   手机号码
		 *
		*/ 
		function check_phone() {
			if(/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/.test($("#mobile").val())) return true;
		}		
		function checkMobile(_this){
			if (!check_phone()) {
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
				if(_this.val() != ""){
					$(".tps p").text("手机号码不正确").css("color",falutColor);
				}
			}else{
				_this.css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
				$(".tps p").text("");
			};
		}
		$("#mobile").on("blur",function(){
			var _this = $(this);
			if(_this.val() != ""){
			    checkMobile(_this);
			};
		});
		
		/*
		 *图形验证码
		 *
		*/ 
		$("#img_code").on("input",function(){
			var _this = $(this);
			if(_this.val() != ""){
			    checkImgcode(_this);
			};
		});
		function checkImgcode(_this){
			var imgcode = _this.val();
			if(imgcode == ""){
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
			}else{
				if(imgcode.length >= 1){
					$.post('__CONTROLLER__/checkAjaxVerify', {'code':imgcode}, function (data) {
						if(data){
							_this.parents(".img_code").hide();
							$(".Rcode").show().css("color","#313131");
							_this.css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
							$(".tps p").text("");
							console.log(123)
						}else{
						    console.log(456)
							$(".tps p").text("图形验证码错误").css("color",falutColor);
							_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
						}
					});
				}
			}
		}
		
		/*
		 *短信验证码
		 *
		*/
		$("#code").on("blur",function(){
			var _this  = $(this);
			var code   = _this.val();
			var mobile = $('#mobile').val();
			if(code == ""){
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
			}else{
			    if(code.length >= 1){
					$.post('__CONTROLLER__/checkVerifySms', {'mobile':mobile, 'code':code}, function (data) {
						if(data){
							_this.css({"border-color":rightColor}).parents("dd").removeClass("false");
							$(".tps p").text("");
						}else{
							$(".tps p").text("短信验证码错误").css("color","#ff4444");
							_this.css({"border-color":falutColor}).parents("dd").addClass("false");
							_this.css({"border-color":falutColor}).parents("dd").addClass("false");
						}
					});
				};
			};
		});
		
		//发送验证码
		$('#phone_login_btn').click(function(event) {
			var mobile = $('#mobile').val();
			if (!check_phone()) {
				$(".tps p").text("请输入正确的手机号码").css("color",falutColor);
			}else{
				$.post('__CONTROLLER__/sendSms', {'mobile':mobile, 'tempid':'SMS_116560959','testid':'11'}, function (d){
					var data = JSON.parse(d);
					if(data['status'] > 0){
						$(".tps p").text("验证码第"+data['status']+"次成功发送，8小时内有效").css("color","#535353");
					}else{
						$(".tps p").text(data['msg']).css("color",falutColor);
						$("#code").css({"border-color":falutColor}).parents("dd").addClass("false");
						return false;
					}
				});
				clearInterval(timer);
				timer=setInterval(FreshTimes,1000);
				$('#phone_login_btn').html("重新获取<em class='j_qrCodeCountdown'>(60)</em>");
				
			}
		});
		
		var endtimes = 60; //定时器
		var timer;
		/*
		 *
		   验证码倒计时
		 *
		*/
		function FreshTimes(){
			endtimes--;
			$("#phone_login_btn").hide()
			$('#re_code').show();
			$('#re_code').addClass("disable").html("重新获取<em class='j_qrCodeCountdown'>("+endtimes+")</em>");
			if(endtimes <= 0){
				clearInterval(timer);
				$('#re_code').show().removeClass("disable").html("重新获取");
			}
		};
		// 重新获取验证码
		$("#re_code").click(function(event) {
			$(this).html("重新获取<em class='j_qrCodeCountdown'>(60)</em>");
			if($(this).hasClass("disable")){
				return false;
			}
			endtimes = 60;
			$("#phone_login_btn").trigger("click");
			clearInterval(timer);
			timer=setInterval(FreshTimes,1000);
		});
		// 输入详细地址
		$("#address").on("click",function(){
			$(".reposition").addClass("show-time");
			var _this  = $(this);
			var address = _this.text();
			if(_this.text().length == 0){
				_this.siblings(".icon-map").css("background-position","-5px -27px");
				_this.css({"color":"#c9c9c9"});
				_this.css({"border-bottom":falutColor}).parents("dd").addClass("flase");
			}else{
				_this.siblings(".icon-map").css("background-position","-22px -27px");
				_this.css({"color":"#898989"});
				_this.css({"border-bottom":rightColor}).parents("dd").removeClass("flase");
			}
		});
		// 输入地址动作
		$(".reposition").on('input propertychange',"#street",function() {
			var street = $(this).val();
			var city   = $("input[name=city]").val();
			poiSearch(city, street);
		}).on('click',".mapsearch ul li",function() {    
			$(".reposition").removeClass("show-time");
			var _this = $(this);
			var lng         = _this.children('.suggest-name').attr('data-lng');
			var lat         = _this.children('.suggest-name').attr('data-lat');
			var addressText = _this.children(".suggest-name").text();
			$("dd.textarea-address #address").text(addressText);
			$('input[name=lng]').val(lng);
			$('input[name=lat]').val(lat);
			$('input[name=address]').val(addressText);
			$("#address").siblings(".icon-map").css("background-position","-22px -27px");
			$("#address").css({"color":"#898989"});
			geocoder([lng, lat]);
		}).on('click',".top_tit .close",function() {    
			$(".reposition").removeClass("show-time");
		});

	</script>
</block>
<!-- 底部JS执行区域 结束 -->






