<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repair-server.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>店铺报价</h1>
    </header>
	<div class="con">
		<!-- 正在报价 -->
		<if condition="$offerCount gt 0">
		<div class="quote-mod">
			<div class="loading-offer">
				<img src="__PUBLIC__/Mobile/images/repair/68x68.gif" width="34px"/>
				<div class="offer-introduce">
					<p>附近<span><{$offerCount}></span>家维修店</p>
					<p>微信搜索<a href="javascript:void(0);">caobao_com</a>查看订单最新报价</p>
				</div>
			</div>
			<div class="stolst">
				<h2 class="sto-title">附近维修店报价<span class="user-tips">（订单会保留两个小时,请尽快选择一家维修店服务）</span></h2>
				<ul class="list"><!--店铺报价列表--></ul>
			</div>
		</div>
		</if>
		<!--<div class="official">
			<h2>免邮寄送至官方维修</h2>
			<eq name="relation.is_show" value="1">
				<ul>
					<li id="selectOfficial"><img src="__PUBLIC__/Mobile/images/logo_03.png" />草包网官方邮寄信息<div class="selected"><i></i></div></li>
					<li class="official-address clearfix">
						<strong>地<b>址</b>：</strong>
						<span>广东省广州市海珠区杨协成电子创意园A座319之1</span>
					</li>
					<li><strong>联系人：</strong>维修部</li>
					<li><strong>电<b>话</b>：</strong>4006233866</li>
					<li class="clearfix">
						<span>价格：<em id="officialMoney"><eq name="relation.money" value="0">依检测结果<else /><{$relation.money}></eq></em></span>
						<span><strong>保修：</strong><{$relation.warranty}>个月</span>
					</li>
				</ul>
				<div class="official-remark clearfix">
					<strong><i class="icon-tip"></i>备注：</strong>
					<span>邮寄维修，建议使用顺丰，来回运费全免，邮寄时选到付即可，修不好不收任何费用。（属于主板类大型故障，如：严重进水等。经验 测无法修复的，我们不承担寄回运费。谢谢理解支持！）</span>
				</div>
			<else />
				<ul class="dis_repair">
					<li>该故障暂不支持维修!</li>
				</ul>
			</eq>
		</div>-->
		<form id="confirm" method="post" action="<{:U('Repair/confirmShopServer')}>" autocomplete="off">
		<div class="payorder">
			<span>维修金额：
				<strong>￥</strong>
				<em class="pri">0.00</em>
			</span>
			<input type="hidden" name="oid" value="<{$order.id}>" />
			<input type="hidden" name="lng" value="<{$server.lng}>" />
			<input type="hidden" name="lat" value="<{$server.lat}>" />
			<input type="hidden" name="way" value="0" />
			<input type="hidden" name="sid" value="0" />
			<input type="hidden" name="warranty" value="<{$relation.warranty}>" />
			<if condition="$offerCount gt 0">
			<span class="visit">立即下单</span>
			</if>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(function(){
			var timer = null;
			loadOffer();
			timer = setInterval(function(){
				var baseNum = $(".list li").length;
				loadOffer(baseNum);
				if(baseNum >= 4){
					clearInterval(timer);
				}
			},3000);
		});
		
		$(".con").delegate('.stolst li', 'click', function(event) {                     // 选择维修店
			var _this = $(this);
			var way   = _this.attr('data-way');
			var sid   = _this.attr('data-id');
			var money = _this.find('.pri').text();
			
			$("input[name=way]").val(way);
			$("input[name=sid]").val(sid);
			$(".payorder").find('.pri').text(money);
			_this.children(".selected")
				   .addClass("current")
				   .end()
				   .siblings()
				   .children(".selected")
				   .removeClass("current");
			if(_this.children(".selected").hasClass("current")){
				$("#selectOfficial").find(".selected").removeClass("current")
			}
		}).delegate(".official ul","click",function(){                             // 邮寄官方维修
			var _this = $(this);
			var officialMoney = $("#officialMoney").text();
			$(".payorder").find('.pri').text(officialMoney);
			_this.find(".selected").addClass("current");
			if(_this.find(".selected").hasClass("current")){
				$('.stolst li').children(".selected").removeClass("current");
			}
			$("input[name=way]").val(3);
			$("input[name=sid]").val(0);
		}).delegate('.visit', 'click', function(event) {                             // 提交表单
			var way = $("input[name=way]").val();
			var sid = $("input[name=sid]").val();
			if(way == 0){
				alert('请选择一种维修店服务');
				return false;
			}
			if(sid == 0 && way!=3){
				alert('请选择维修店');
				return false;
			}
			$('form#confirm').submit();
		})
		
		function loadOffer(len){
			var id  = $('input[name=oid]').val();
			var lng = $('input[name=lng]').val();
			var lat = $('input[name=lat]').val();
			$.post('__CONTROLLER__/loadOffer', {'id':id, 'lng':lng, 'lat':lat, 'len':len}, function (d) {
				var data = JSON.parse(d);
				if(data && data != ''){
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="clearfix" data-id="'+data[a]['shop_id']+'" data-way="'+data[a]['server_way']+'">';
						html += '	<div class="selected"><i></i></div>';
						html += '	<div class="fl">';
						html += '		<div class="lst_top">';
						if(data[a]['type_id'] == 2){
							html += '		<img src="'+_PUBLIC_+'/Mobile/images/cooperation.png" class="ordinary-store">';
						}else{
							html += '		<img src="'+_PUBLIC_+'/Mobile/images/store.png" class="ordinary-store">';
						}
						html += '			<a href="<{$CBW_URL}>/repairer/'+data[a]['shop_id']+'.html" title="'+data[a]['shop_name']+'">'+data[a]['shop_name']+'</a>';
						for(var b = 0;b < data[a]['level_image_num'];b++){
							html += '<b><img src="/Public/Home/images/level/'+data[a]['level_image_name']+'.png" width="16" title="'+data[a]['level_level']+'级" alt="'+data[a]['level_level']+'级" /></b>';
						}
						html += '			<b class="distance">'+data[a]['distance']+'公里</b>';
						html += '		</div>';
						html += '		<div class="lst_bd clearfix">';
						html += '			<div class="pic">';
						html += '				<a href="<{$CBW_URL}>/repairer/'+data[a]['shop_id']+'.html" title="'+data[a]['shop_name']+'"><img src="__PUBLIC__/User/'+data[a]['logo_image']+'" alt="'+data[a]['shop_name']+'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';" /></a>';
						html += '			</div>';
						html += '			<div class="art">';
						html += '				<p class="ar2"><span class="art-title">联系：</span>'+data[a]['user_name']+'  '+data[a]['user_phone']+'</p>';
						html += '				<p class="shop-address"><span class="art-title">地址：</span>'+data[a]['address']+'</p>';
						html += '				<p class="ar3">';
						html += '					<strong>￥</strong><em class="pri">'+data[a]['offer']+'</em>';
						if(data[a]['is_door'] == 1 && data[a]['warranty'] == 0){
							html += '				<span>可以上门维修</span>';
						}else if(data[a]['is_door'] == 0 && data[a]['warranty'] > 0){
							html += '				<span>保修'+data[a]['warranty']+'个月</span>';
						}else if(data[a]['is_door'] == 1 && data[a]['warranty'] > 0){
							html += '				<span>可以上门维修，保修'+data[a]['warranty']+'个月</span>';
						}
						html += '				</p>';
						html += '			</div>';
						html += '			<div class="lst_btn"><span class="btn"></span></div>';
						html += '		</div>';
						if(data[a]['remarks'] != ''){
							html += '	<div class="remarks"><span class="art-title">备注：</span>'+data[a]['remarks']+'</div>';
						}else{
							html += '	<div class="remarks"><span class="art-title">备注：</span>无</div>';
						}
						html += '	</div>';
						html += '</li>';
					}
					$('.list').append(html);
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->