<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repair-step.css" />
	<style type="text/css">
		.con dd{
			line-height: 25px;
			width: 99%;
			height:auto;
		}
		.con dd strong{
			font-size: 18px;
			color: #313131;
			display: block;
		}
		.con dd a span{
			font-size: 15px;
			color: #898989;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con">
		<div class="topnews">
			<ul class="clearfix">
				<li><div class="return"><span>&#xe61d;</span></div></li>
				<li>
					<span>类型</span>
					<strong><a href="<{$CBW_URL}>/repair/select.html" title="<{$step.type}>"><{$step.type}></a></strong>
				</li>
				<li>
					<span>品牌</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$Think.session.server.typeId}>.html" title="<{$step.brand}>"><{$step.brand}></a></strong>
				</li>
				<li>
					<span>型号</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$typeId}>-<{$brandId}>.html" title="<{$step.model}>"><{$step.model}></a></strong>
				</li>
				<li>
					<span>颜色</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$typeId}>-<{$brandId}>-<{$modelId}>.html" title="<{$step.color}>"><{$step.color}></a></strong>
				</li>
				<li>
					<span>分类</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$typeId}>-<{$brandId}>-<{$modelId}>-<{$colorId}>.html" title="<{$step.cat}>"><{$step.cat}></a></strong>
				</li>
			</ul>
		</div>
		<div class="bts-cdn">
			<div class="select">
				<dl class="clearfix">
					<dt>6.请选择您设备的故障详情</dt>
					<foreach name="faultRes" item="vo">
					<dd class="" style="height:100px;">
						<a href="<{$CBW_URL}>/repair/serven/fault/<{$vo.fault_id}>.html" title="<{$vo.fault_name}>">
							<strong><{$vo.fault_name}></strong>
							<span><{$vo.description}></span>
						</a>
					</dd>
					</foreach>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->