<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repair-step.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con">
		<div class="topnews">
			<ul class="clearfix">
				<li><div class="return"><span>&#xe61d;</span></div></li>
				<li>
					<span>类型</span>
					<strong><a href="<{$CBW_URL}>/repair/select.html" title="<{$step.type}>"><{$step.type}></a></strong>
				</li>
				<li>
					<span>品牌</span>
					<strong><a href="<{$CBW_URL}>/repair/<{$typeId}>.html" title="<{$step.brand}>"><{$step.brand}></a></strong>
				</li>
			</ul>
		</div>
		<div class="bts-cdn">
			<div class="select">
				<dl class="clearfix">
					<dt>3.请选择您的设备型号</dt>
					<foreach name="repairRes" item="vo">
					<if condition="$vo['pro_name'] eq '其他型号'">
					<dd>
						<a href="<{$CBW_URL}>/repair/serven.html" title="<{$vo.pro_name}>">
							<strong><{$vo.pro_name}></strong>
						</a>
					</dd>
					<else />
					<dd>
						<a href="<{$CBW_URL}>/repair/<{$typeId}>-<{$brandId}>-<{$vo.id}>.html" title="<{$vo.pro_name}>">
							<strong><{$vo.pro_name}></strong>
						</a>
					</dd>
					</if>
					</foreach>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->