<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/insurance-security.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con wrap clearfix">
		<div class="fill slt">
			<div class="sltPhoneNews slt must false">
				<span>选择机型：</span>
				<select name="brand" id="brand">
					<option value="0">选择品牌</option>
					<foreach name="brands" item="vo">
					<option value="<{$vo.id}>"><{$vo.cat_name}></option>
					</foreach>
				</select>
				<select name="model" id="model">
					<option value="0">选择型号</option>
				</select>
				<select name="color" id="color">
					<option value="0">选择颜色</option>
				</select>
				<select name="fault" id="fault">
					<option value="0">选择故障</option>
				</select>
				<em class="tip"></em>
			</div>
			<div class="input_radio">
				<span>维修方式：</span>
				<label for="gostore"><input id="gostore" type="radio" name="way" value="1" checked="checked" autocomplete="off" />到店维修</label>
				<label for="godoor"><input id="godoor" type="radio" name="way" value="2" autocomplete="off" />上门维修</label>
				<label for="official"><input id="official" type="radio" name="way" value="0" autocomplete="off" />邮寄维修</label>
			</div>
			<div class="name false">
				<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
				<input id="name" type="text" name="uname" placeholder="请输入姓名" class="ui-input" />
				<input class="ui-input" type="hidden" name="lng" placeholder="经度" />
				<input class="ui-input" type="hidden" name="lat" placeholder="纬度" />
				<em class="tip"></em>
			</div>
			<div class="phone false">
				<span>手机号码：</span>
				<input id="phone" type="text" name="mobile" placeholder="请输入手机号码" class="ui-input" />
				<em class="tip"></em>
			</div>
			<div class="price false">
				<span>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</span>
				<input id="price" type="text" name="price" placeholder="请输入价格" class="ui-input" />
				<em class="tip"></em>
			</div>
		</div>
		<div class="fill slt2">
			<div class="sltDown slt must false">
				<span>选择地区：</span>
				<{$city.str}>
				<em class="tip"></em>
			</div>
			<div class="detial slt must false">
				<span>详细地址：</span>
				<input class="ui-input" type="text" id="detial" name="address" placeholder="输入详细地址" />
				<button class="ui-button search">搜索</button>
				<button class="ui-button lst_btn">下单</button>
				<em class="tip"></em>
			</div>
		</div>
		<div>
			<h2>该区域维修店：</h2>
		</div>
		<div class="store_lst"></div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//城市三级联动
		<{$city.script}>
		
		$(function(){
			mapInit();    // 初始化地图
		});
		
		// 选择
		$('#brand').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeRepairSelect', {'id': id}, function (d) {
					if(d){
						$("#model").empty().append(d);
					}else{
						$('#model').empty().append('<option value="0">选择型号</option>');
					}
					$('#color').empty().append('<option value="0">选择颜色</option>');
					$('#fault').empty().append('<option value="0">选择故障</option>');
                });
			}
		});
		$('#model').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeColorSelect', {'id': id}, function (d) {
					if(d){
						$("#color").empty().append(d);
					}else{
						$('#color').empty().append('<option value="0">选择颜色</option>');
					}
					$('#fault').empty().append('<option value="0">选择故障</option>');
                });
			}
		});
		$('#color').change(function(){
			var id = $('#model').children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeFaultSelect', {'id': id}, function (d) {
					if(d){
						$("#fault").empty().append(d);
					}else{
						$('#fault').empty().append('<option value="0">选择故障</option>');
					}
                });
			}
		});
		
		// 切换维修方式
		$('.input_radio input').bind('click', function(event) {
			var way = $('input[name=way]:checked').val();
			if(way > 0){
				$(".fill").find(".lst_btn").hide();
				$(".fill").find(".search").show();
			}else{
				$(".fill").find(".search").hide();
				$(".fill").find(".lst_btn").show();
			}
		});
		
		// 获取坐标
		$('input[name=address]').bind('blur keyup', function(event) {
			check_town();
			var address  = $(this).val();
			var province = $('#province option:selected').text();
			var city     = $('#city option:selected').text();
			var area     = $('#area option:selected').text();
			geocoder2(province+city+area+address);
		});
		
		// 搜索
		$('.detial .ui-button').click(function(){
			check_town();
			check_address();
			if($(".slt2 .false").length == 0){
				loadUserShops();
			}
		});
		
		// 下单
		$(document).on("click",".lst_btn",function(){
			check_brand();
			check_name();
			check_phone();
			check_price()
			check_town();
			check_address();
			if($(".con .false").length == 0){
				var shopid  = $(this).parents('.lst_num').attr('data-id');
				var model   = $('#model').children('option:selected').val();
				var color   = $('#color').children('option:selected').val();
				var fault   = $('#fault').children('option:selected').val();
				var way     = $("input[name='way']:checked").val();
				var uname   = $('input[name=uname]').val();
				var area    = $('#area').val();
				var address = $('input[name=address]').val();
				var mobile  = $('input[name=mobile]').val();
				var price   = $('input[name=price]').val();
				$.post('__CONTROLLER__/submitOrder', {'shopid': shopid,'model': model,'color': color,'fault': fault,'way': way,'uname': uname,'area': area,'address': address,'mobile': mobile,'price': price}, function (d) {
					if(d == 1){
						alert('添加订单成功');
					}else if(d == 0){
						alert('添加订单失败');
					}else{
						alert('添加用户失败');
					}
				});
			}
		});
		
		// 检查选择机型
		function check_brand() {
			var select = $('.sltPhoneNews select');
			if(select){
				var text = '';
				for(var i = 0;i < select.length;i++){
					if($(select[i]).val() == 0 || $(select[i]).val() == '' || !$(select[i]).val()){
						if(i == 0){
							text += ' 品牌';
						}else if(i == 1){
							text += ' 型号';
						}else if(i == 2){
							text += ' 颜色';
						}else if(i == 3){
							text += ' 故障';
						}
						$(".sltPhoneNews em.tip").html('请选择'+text);
						$("div.sltPhoneNews").addClass("false");
						return false;
					}
				}
			}
			$(".sltPhoneNews em.tip").html('');
			$("div.sltPhoneNews").removeClass("false");
		}
		// 检查选择地区
		function check_town() {
			var select = $('.sltDown select');
			var input = $('.detial input');
			if(select){
				var text = '';
				for(var i = 0;i < select.length;i++){
					if($(select[i]).val() == 0 || $(select[i]).val() == '' || !$(select[i]).val()){
						if(i == 0){
							text += ' 省/直辖区';
						}else if(i == 1){
							text += ' 市';
						}else if(i == 2){
							text += ' 县/区';
						}
						$(".sltDown em.tip").html('请选择'+text);
						$("div.sltDown").addClass("false");
						return false;
					}
				}
			}
			$(".sltDown em.tip").html('');
			$("div.sltDown").removeClass("false");
		}
		// 检查详细地址
		function check_address() {
			if($("#detial").val()==""){
				$(".detial em.tip").html('请输入详细地址');
				$("div.detial").addClass("false");
			}else{
				$(".detial em.tip").html('');
				$("div.detial").removeClass("false");
			}
		}
		// 检查手机号码
		function check_phone() {
			var phoneRule =  /^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/;
			if(!phoneRule.test($("#phone").val())){
				$(".fill .phone .tip").html("请正确输入手机号码");
				$("div.phone").addClass("false")
			}else{
				$(".fill .phone .tip").html("");
				$("div.phone").removeClass("false")
			}
		}
		// 检查价格
		function check_price() {
			if($("#price").val()==""){
				$(".fill .price .tip").html("请正确输入价格");
				$("div.price").addClass("false")
			}else{
				$(".fill .price .tip").html("");
				$("div.price").removeClass("false")
			}
		}
		// 检查姓名
		function check_name() {
			var regName =/^[\u4e00-\u9fa5]{2,4}$/;
			if(!regName.test($("#name").val())){
				$(".fill .name .tip").html("请正确输入姓名");
				$("div.name").addClass("false")
			}else{
				$(".fill .name .tip").html("");
				$("div.name").removeClass("false")
			}
		}
		
		// 根据填写信息获取维修店列表
		function loadUserShops(){
			var lng = $('input[name=lng]').val();
			var lat = $('input[name=lat]').val();
			$.post('__CONTROLLER__/loadShops', {'lng': lng,'lat': lat}, function (d) {
				var data = JSON.parse(d);
				if(data){
					for(var a = 0;a < data.length;a++){
						var lnglat = new AMap.LngLat(parseFloat(lng),parseFloat(lat));
						data[a]['distance'] = parseInt(lnglat.distance([parseFloat(data[a]['lng']), parseFloat(data[a]['lat'])]));
					}
					
					data.sort(listSortBy('distance')); // 按距离排序
					
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<div class="lst_num" data-id="'+data[a]['id']+'">';
						html += '	<div class="lst_top">';
						html += '		<i>店</i><em class="store"><a href="'+_APP_+'/repairer/'+data[a]['id']+'.html">'+data[a]['shop_name']+'</a></em>';
						html += '		<b class="distance">'+data[a]['distance']+'m</b>';
						html += '	</div>';
						html += '	<div class="lst_bd clearfix">';
						html += '		<div class="pic"><a href="'+_APP_+'/repairer/'+data[a]['id']+'.html"><img src="'+_PUBLIC_+'/User/'+data[a]['logo_image']+'" width="100" alt="'+data[a]['shop_name']+'" onerror="javascript:this.src=\''+_PUBLIC_+'/Home/images/2016/picc.png\';" /></a></div>';
						html += '		<div class="art">';
						html += '			<p class="ar1 article">姓名：'+data[a]['user_name']+'</p>';
						html += '			<p class="ar1 article">电话：'+data[a]['user_phone']+'</p>';
						html += '			<p class="ar2 article">地址：'+data[a]['pro_addr']+data[a]['city_addr']+data[a]['addr']+data[a]['address']+'</p>';
						html += '		</div>';
						html += '		<div class="lst_btn"><span>立即下单</span></div>';
						html += '	</div>';
						html += '</div>';
					}
					html += '</div>';
					$('.store_lst').empty().append(html);
				}
			});
		}
		// js二维数组排序
		function listSortBy(field){
			return function (object1, object2){
				var value1 = object1[field];
				var value2 = object2[field];
				if(value1 < value2){
					return -1;
				}else if(value1 > value2){
					return 1;
				}else{
					return 0;
				}
			}
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->