<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">添加区域</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>设置城市</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form method="post" action="<{:U('City/doAreaEdit')}>" name="areaedit" id="areaedit" novalidate="novalidate">
						<div class="form-horizontal">
							<div class="control-group">
								<label class="control-label">选择城市：</label>
								<div class="controls">
									<select id="one_id" name="one_id" class="span2">
										<option></option>
										<foreach name="province" item="p">
										<option value="<{$p.id}>" <if condition="($p.id eq $one_id)">selected</if>><{$p.addr}></option>
										</foreach>
									</select>
									<select id="two_id" name="two_id" class="span2">
										<{$city_str}>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">检索码：</label>
								<div class="controls">
									<input type="tel" name="check_nm" class="span2" value="<{$area.check_nm}>" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">区域名称：</label>
								<div class="controls">
									<input type="text" name="addr" class="span2" value="<{$area.addr}>" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">名称全拼：</label>
								<div class="controls">
									<input type="text" name="quan_pin" class="span2" value="<{$area.quan_pin}>" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">名称简拼：</label>
								<div class="controls">
									<input type="text" name="jian_pin" class="span2" value="<{$area.jian_pin}>" />
								</div>
							</div>
							<div class="form-actions">
								<input type="hidden" name="id" value="<{$Think.get.id}>" />
								<input type="submit" value=" 修改 " id="btnEdit" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
								<a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
							</div>
						</div>
						</form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		$('#one_id').change(function(){
			var oneid = $(this).children('option:selected').val();
			if(oneid){
				// Ajax请求数据库验证
				$.post('__CONTROLLER__/changeProvinceSelect', {'id': oneid}, function (d) {
					if(d){
						$('#two_id').empty();
						$("#two_id").append(d);
					}else{
						$('#two_id').empty();
					}
				});
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->
