<!--添加广告位-->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->
<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<!--自定义的广告样式-->
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">添加广告位</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <div class="add-adv">
            <a href="__CONTROLLER__/cateList" class="btn btn-info"><b>返回列表</b></a>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  
                </div>
                <div class="widget-content nopadding">
                  <form action="__CONTROLLER__/doAddCate" method="post" class="form-horizontal">
					<div class="control-group">
                      <label class="control-label">广告位分类 :</label>
                      <div class="controls">
                        <select name="category" style="width:150px;">
							<option value="1">移动端</option>
							<option value="0" selected>电脑端</option>
						</select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">广告位名称 :</label>
                      <div class="controls">
                        <input type="text" class="span11" style="width:200px;"  name="name"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">广告宽度 :</label>
                      <div class="controls">
                        <input type="text" class="span11 tip-right" style="width:200px;" name="adv_width" data-original-title="默认是像素"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">广告高度:</label>
                      <div class="controls">
                        <input type="text"  class="span11 tip-right" style="width:200px;" name="adv_height" data-original-title="默认是像素"/>
                      </div>
                    </div>
                   
                    <div class="control-group">
                      <label class="control-label">广告位描述:</label>
                      <div class="controls">
						<input type="text"  class="span11 tip-right" style="width:200px;" name="description" />
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success"><b>添加</b></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
           
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
   <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
<script>
  $('.textarea_editor').wysihtml5();
</script>
   
</block>
<!-- 底部JS执行区域 结束 -->
