<!-- =====================================================
   广告列表管理
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">广告管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
            <div class="add-adv"> 
              <a href="__CONTROLLER__/addAdv" class="btn btn-info"><b>+ 添加广告</b></a>
              <a href="__CONTROLLER__/cateList" class="btn btn-info"><b>广告位管理</b></a>
            </div>
          <div class="row-fluid">
             <div class="span12">
              <div class="widget-box">
                  <div class="widget-title"> 
                        <span class="icon"> <i class="icon-th"></i> </span>
                  </div>
                  <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
						  <th style="font-size:14px;">ID</th>
                          <th style="font-size:14px;">广告位</th>
                          <th style="font-size:14px;">名称</th>
                          <th style="font-size:14px;">是否显示</th>
                          <th style="font-size:14px;">操作</th>
                        
                        </tr>
                      </thead>
                      <tbody style="font-size:14px;">
                       <foreach name="data" item="vo">
                         <tr class="odd gradeX" >
                          <td style="text-align:center;"><{$vo.id}></td>
                          <td style="text-align:left;"><eq name="vo.category" value="0">电脑端<else />移动端</eq>-<{$vo.name}></td>
                          <td style="text-align:center;"><{$vo.adv_name}></td>
                          <td style="text-align:center;">
                             <if condition="$vo.is_show eq 1">
                                  <span style="color:red;">显示</span>
                             <else />
								<span style="color:red;">隐藏</span>
                             </if>
                          </td>
                          <td class="center" style="text-align:center;">
                            <a href="__CONTROLLER__/editAdv/id/<{$vo.id}>"><i class="icon-pencil"></i>编辑</a> |
                           <a href="__CONTROLLER__/delAdv/id/<{$vo.id}>" onclick="return confirm('您确定执行删除操作吗？')">删除</a>
                          </td>
                        </tr>
                        </foreach>
                       <tr>
                         <td colspan="5">
                            <div class="pagination alternate">
                              <ul style="float:right;">
                                   <{$page}>
                             </ul>
                             </div>
                         </td>
                       </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage (newURL) {

          // if url is empty, skip the menu dividers and reset the menu selection to default
          if (newURL != "") {
          
              // if url is "-", it is this page -- reset the menu:
              if (newURL == "-" ) {
                  resetMenu();            
              } 
              // else, send page to designated URL            
              else {  
                document.location.href = newURL;
              }
          }
      }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
       document.gomenu.selector.selectedIndex = 2;
    }
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
