<!--添加广告 -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
</block>
<!-- 顶部CSS文件 结束 -->
   
<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/adv.js"></script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">修改广告</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
            <div class="add-adv"> 
               <a href="__CONTROLLER__/advList" class="btn btn-info"><b>返回列表</b></a>
             </div>
              <div class="row-fluid">
                 <div class="span12">
                   <div class="widget-box">
                      <div class="widget-title"> 
                          <span class="icon"> <i class="icon-align-justify"></i> </span>
                         <h5></h5>
                      </div>
                      <div class="widget-content nopadding">
                         <form action="__CONTROLLER__/editSave" method="post" class="form-horizontal" onsubmit="return dosubmit()" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="<{$data.id}>">
                            <div class="control-group">
                               <label class="control-label">广告名称 :</label>
                               <div class="controls">
                               <input type="text" class="span2" name="adv_name" value="<{$data.adv_name}>" />
                               </div>
                            </div>
							
                            <div class="control-group">
                                <label class="control-label">广告位</label>
                                <div class="controls">
                                   <select name="position_id" style="width:350px;"> 
                                      <foreach name="res" item="v">  
                                           <option value="<{$v.id}>" <if condition="$data['position_id'] eq $v['id'] "> selected="selected"</if>><{$v.catename}></option>  
                                       </foreach> 
                                   </select>
                               </div>
                            </div>
           
                            <div class="control-group">
                                <label class="control-label">广告图片</label>
                                <div class="controls">
                                    <img src="__PUBLIC__/Imgadv/<{$data.thumbnail}>" style="height:70px;"/><br>
                                    <input type="file" name="file"/>
									<input type="hidden" name="old_thumbnail" value="<{$data.thumbnail}>"/>
                                </div>
                            </div>
							<div class="control-group">
								<label class="control-label">广告链接</label>
								<div class="controls">
								  <input type="text" class="span6" name="link_url" value="<{$data.link_url}>" />
								</div>
							</div>
                            <div class="control-group">
                                <label class="control-label">广告描述:</label>
                                <div class="controls">
                                   <textarea class="span11" style="width:400px;" name="adv_desc"><{$data.adv_desc}></textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">是否显示</label>
                                <div class="controls">
                                  <label style="display:inline">
                                     <input type="radio" name="is_show" value="1" <if condition="$data['is_show'] eq 1">checked="checked"</if>/>
                                      是</label>
                                  <label style="display:inline">
                                     <input type="radio" name="is_show" value="0" <if condition="$data['is_show'] eq 0">checked="checked"</if>/>
                                      否</label>
                                </div>
                             </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">保存</button>
                                <button type="reset" class="btn btn-success">重置</button>
                            </div>
                         </form>
                      </div>
                   </div>
                 </div>
              </div>
    </div>

</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
	<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
	<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
	<script src="__PUBLIC__/Admin/js/masked.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
	<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
	<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
	<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
      $('.textarea_editor').wysihtml5();
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
