.bdCont{}
.bdCont .cond{}
.bdCont .cond dl{margin:0 0 10px 0;}
.bdCont .cond dt{margin:0;float:left;width:80px;font-size:14px;font-weight:normal; line-height:30px;}
.bdCont .cond dd{margin:0;float:left; line-height:30px;margin-right:10px;height:30px;}
.bdCont .cond dd input{margin:0;}
.bdCont .cond dd input.checkbox{margin-top:7px;}
.bdCont .cond dd input.date-select{width:120px;}
.bdCont .cond dd span{float:left;display:inline-block; line-height:30px;padding:0 5px;}
.bdCont .cond dd select{margin:0;width:150px;vertical-align:top;}
.bdCont .cond dd button{margin:0 0 0 5px;}

.bdCont .list{}
.bdCont .list .title{background:#4fc0e8;border:1px solid #dfdfdf;border-bottom:0;}
.bdCont .list .title p{float:left;text-align:center;color:#fff;margin:0;line-height:32px;border-right:1px solid #4fc0e8;}
.bdCont .list .title p.sp1{text-align:left;text-indent:10%;}
.bdCont .list dl{margin:0 0 10px 0;background:#fff;border:1px solid #dfdfdf;}
.bdCont .list dd{margin:0;}
.bdCont .list dd .tbs{float:left;border-right:1px solid #dfdfdf;text-align:center;} 
.bdCont .list dd .tbs p{margin:0;line-height:40px;height:40px;overflow:hidden;}
.bdCont .list dd .tbs p span{padding:0 5px;}
.bdCont .list dd .sp1 p{text-align:left;padding:0 0 0 25px;}
.bdCont .list dd .sp5 button{border:0;border-radius:4px;color:#fff;line-height:24px;margin:8px 2px 0 2px;padding:0 10px;font-size:13px;}
.bdCont .list dd .sp5 .agree{background:#37bc9b;}
.bdCont .list dd .sp5 .post{background:#37bc9b;}
.bdCont .list dd .sp5 .sign{background:#f60;}
.bdCont .list dd .sp5 .shut{background:#f60;}
.bdCont .list dd .sp5 .send{background:#f60;}
.bdCont .list dd .sp5 .back{background:#999;}
.bdCont .list dd .sp5 .offInfo{background:#999;}

.sp1{width:300px;}
.sp2{width:250px;}
.sp3{width:150px;}
.sp4{width:150px;}
.sp5{width:200px;border-right:0 !important;}
