.tab{width:800px;}
.tab h1{font-size:28px;line-height:1.8; text-align:center;text-indent:0;}
.tab h2{font-size:24px;line-height:1.8; text-align:center;text-indent:0;}
.tab h3{font-size:20px;line-height:1.8; text-align:center;text-indent:0;}
.tab h4{font-size:16px;line-height:1.8; text-align:center;text-indent:0;}
.tab h5{font-size:14px;line-height:1.8; text-align:center;text-indent:0;}
.tab h6{font-size:12px;line-height:1.8; text-align:center;text-indent:0;}
.tab p{font-size:28px;line-height:1.8;margin:0 0 10px 0;font-size:14px; text-indent:2em;}
.tab span{line-height: inherit;}
.tab ul{}
.tab ol{}
.tab ul li{}
.tab ol li{}
.tab a{}
.tab img{width:100%;max-width:600px;height:auto;margin:5px auto;display:block;border:0;padding:0;}
.tab{}
.tab{}