/* 37bc9b */
.header{margin-bottom:20px;}

.login{height:520px;}

.rope{text-align:center;width:400px;margin:0 auto 15px auto;}
.rope h2{font-size:24px; line-height:2;margin:0;}
.rope p{font-size:13px; line-height:18px;margin:0;}
.rope input{margin:0;border-radius:2px;font-size:14px;line-height:2.6;width:310px;padding:0 5px;}
.rope button{width:320px;font-size:14px; line-height:2.6; background:#37bc9b;color:#fff; border:0;border-radius:3px;letter-spacing:5px;}
.rope a{float:right;margin-right:40px;}

.footer{text-align:center;padidng:0 25px;}
.footer p{margin:0;}










