.container-fluid{
	width:900px;
}
.widget-box{
	border-width:1px;
	margin-top:8px;
}
.userNews{
	margin-top:20px;
}
.widget-title{
	padding:0 10px;
	background-color:#f5f5f5;
}
.widget-title h5{
	float:left;
	color:#898989;
	margin-right:15px;
}
.table-bordered thead tr th{
	color:#535353;
	background-color:#f5f5f5;
	text-align:center;
	border-radius:0;
}
.table-bordered thead tr th:first-child{
	border-left:0 none;
}

.print{
	text-align:center;
	margin:15px 0;
}
.print a{
	display:inline-block;
	background-color:#3080d1;
	color:#fff;
	height:28px;
	line-height:28px;
	text-align:center;
	padding:0 8px;
	border-radius:3px;
}
.print a:hover{
	color:#fff;
}
.table-bordered{
	border-right:0 none;
}
.table{
	margin-bottom:0;
	border-bottom:0 none;
}

.title{
	margin-top:15px;
}
.title .imgArea{
	float:left;
	margin:20px 20px 0 0;
}
.title .textArea{
	float:left;
	color:#535353;
	line-height:24px;
}
.title .textArea p{
	margin:0;
}
.order_date{
	float:right;
	font-weight:normal;
}






