.posF{display:none;}
.posF .hd{border-bottom:2px solid #dfdfdf;}
.posF .hd p{font-size:16px; text-indent:2em; line-height:36px;margin:0;}
.posF .bd{padding:25px 35px;}
.posF .bd dl{margin:0;}
.posF .bd dl.fl{width:50%;}
.posF .bd dl.fn{width:100%;}
.posF .bd dt{margin:0;font-size:14px;font-weight:normal;line-height:28px;float:left;width:80px;}
.posF .bd dd{margin:0;font-size:14px;line-height:28px;float:left;width:250px;}
.posF .bd .fl dt{width:70px;}
.posF .bd .fl dd{width:95px;}
.posF .bd .fn dt{width:70px;}
.posF .bd .fn dd{width:260px;}
.posF .bd textarea{resize:none;width:96%;height:100px;}
.posF .bd dd a{display:inline-block;border-radius:3px;padding:0 10px;margin-right:5px;color:#fff;line-height:24px;}
.posF .bd dd a.yes{background:#37bc9b;}
.posF .bd dd a.no{background:#ff9f00;}
.posF .bd .rope{text-align:right;}
.posF .bd button{border:0;border-radius:4px;padding:0 15px; line-height:28px;color:#969696;}
.posF .bd button.allot{background:#37bc9b;color:#fff;margin-left:10px;}
.posF .bd button.off{background:#fff;}
.posF .bd button.off:hover{background:#ff9f00;color:#fff;}
.posF .bd p.clearfix{padding:0 10px;margin:0 0 10px 0;font-size:14px;line-height:30px; }
.posF .bd p a{float:right;padding:0 10px;color:#fff;line-height:24px;font-size:13px;border-radius:3px;margin-left:10px;}
.posF .bd p a.off{background:#ff9f00;}
.posF .bd p a.submit{background:#37bc9b;}
.posF .bd .rope {margin:0 0 10px 0;}
.posF .bd .rope p{text-align:left;margin:0;line-height:30px;font-size:14px;}
.posF .bd .rope input{margin:0;}
.posF .bd .rope select{margin:0;}
.posF .bd button.submit{background:#37bc9b;color:#fff;margin-left:10px;}
.posF .bd .btns{text-align:right;}
.posF .bd .btns button{margin:0 5px 0 0;}
.posF .bd table{}
.posF .bd table tr{}
.posF .bd table td{line-height:1.8;font-size:13px;vertical-align:top;}

.bdCont{}
.bdCont .cond{}
.bdCont .cond dl{margin:0 0 10px 0;}
.bdCont .cond dt{margin:0;float:left;width:80px;font-size:14px;font-weight:normal; line-height:30px;}
.bdCont .cond dd{margin:0;float:left; line-height:30px;margin-right:10px;height:30px;}
.bdCont .cond dd input{margin:0;}
.bdCont .cond dd input.checkbox{margin-top:7px;}
.bdCont .cond dd input.date-select{width:120px;}
.bdCont .cond dd span{float:left;display:inline-block; line-height:30px;padding:0 5px;}
.bdCont .cond dd select{margin:0;width:150px;vertical-align:top;}
.bdCont .cond dd button{margin:0 0 0 5px;}


.bdCont .list{}
.bdCont .list .title{background:#4fc0e8;border:1px solid #dfdfdf;border-bottom:0;}
.bdCont .list .title p{float:left;text-align:center;color:#fff;margin:0;line-height:32px;border-right:1px solid #4fc0e8;}
.bdCont .list .title p.sp1{text-align:left;text-indent:10%;}
.bdCont .list dl{margin:0 0 10px 0;background:#fff;border:1px solid #dfdfdf;}
.bdCont .list dt{margin:0;font-weight:normal;border-bottom:1px solid #dfdfdf;}
.bdCont .list dt p{margin:0;font-size:12px;line-height:30px;float:left;text-align:center;}
.bdCont .list dt p.orderNo{width:270px;}
.bdCont .list dt p.payWay{width:160px;}
.bdCont .list dt p.date{width:200px;color:#888;float:right;}
.bdCont .list dd{margin:0;}
.bdCont .list dd .tbs{float:left;border-right:1px solid #dfdfdf;} 
.bdCont .list dd .im{width:80px;height:80px;margin:9px;border:1px solid #dfdfdf;}
.bdCont .list dd .im img{width:100%;height:auto;}
.bdCont .list dd .ti{width:350px;overflow:hidden;padding-top:10px;}
.bdCont .list dd .ti p{margin:0;font-size:13px;line-height:20px;}
.bdCont .list dd .tbCell{height:100px;}
.bdCont .list dd .tbCell a{color:#269ecf;}
.bdCont .list dd .tbCell span i{display:inline-block;font-style:normal;}
.bdCont .list dd .tbCell button{border:0;border-radius:3px;padding:0 15px;line-height:2;font-size:13px;color:#fff;margin:2px auto;}
.bdCont .list dd .tbCell button.closeOrder{background:#ff9f00;}
.bdCont .list dd .tbCell button.editPrice{background:#4fc0e8;}
.bdCont .list dd .tbCell button.createAlipay{background:#4fc0e8;}
.bdCont .list dd .tbCell button.payment{background:#4fc0e8;}
.bdCont .list dd .tbCell button.return{background:#4fc0e8;}
.bdCont .list dd .tbCell button.take{background:#4fc0e8;}
.bdCont .list dd .tbCell button.postInfo{background:#4fc0e8;}

/* 1060 */
.sp1{width:450px;}
.sp2{width:200px;}
.sp3{width:200px;}
.sp4{width:200px;border-right:0 !important;}