form{margin:0;}
body{background:#fff;}
.content{background:#f5f5f5;margin-bottom:0;}
.navBar{width:100px;float:left;}
.navBar ul{margin:0;padding:0;list-style:none; background:#4fc0e8;min-height:600px;}
.navBar ul li{height:100px;}
.navBar ul li.on{background:#3baeda; border-right:5px solid #89e0ff;}
 
.cont{float:left;width:1100px;}

.hdNav{float:left;width:1100px;padding: 10px 0;border-bottom:1px solid #C8C8C8;}
.hdNav a{display:inline-block;width:120px;text-align:center;font-size:15px; line-height:40px;margin-left:15px;}
.hdNav a.on{background:#4fc0e8;color:#fff;}
.hdNav a span{padding:0 2px;}
.hdNav a i{font-style:normal;color:#ff0101}
.header{background:#888;}
.header *{color:#fff;}
.header p{margin:0; line-height:32px;width:1120px;float:left; text-indent:15px;}
.header p span{padding:0 10px 0 10px; text-indent:0;}
.header a.logout{background:#ff8f00;color:#fff;float:right;width:80px;height:32px;line-height:32px;display:inline-block;text-indent:0;text-align:center;}

.bdCont{float:left;overflow:auto;width:1100px;}
.bdCont .tab{padding:15px 20px;}
.bdCont .tab label{display:inline-block;vertical-align:middle;margin-bottom:14px;width:75px;}
.bdCont .tab select{margin-right:10px;}
.bdCont .tab .sub_address{background:#40bb8c;border:0;border-radius:3px;padding:0 15px;line-height:2;font-size:13px;color:#fff;margin:5px auto;display:inline-block;}

.bdCont .cond{}
.bdCont .cond select{width:200px;margin-right:10px;}
.bdCont .cond p{margin:0;}
.bdCont .cond input{margin:0;float:left;}
.bdCont .cond button{margin:0 5px 0 5px;line-height:28px;border:0;border-radius:3px; background:#4fc0e8;color:#fff;vertical-align:top; text-align:center;width:60px;float:left;}
.bdCont .cond a.button{margin:0 5px 0 5px;line-height:28px;border:0;border-radius:3px; background:#4fc0e8;color:#fff;vertical-align:top; text-align:center;width:60px;float:left;}
.ie7 .bdCont .cond button{ background:url(../images/coins/coins.png) no-repeat -100px -272px #48cfad;}

.footer{width:1200px;background:#888;clear:both;float:none;}
.footer p{margin:0;color:#fff;text-align:center; line-height:36px;}

.page{text-align:center;padding:10px 0;position:relative;}
.page span{position:absolute;left:0;}
.page ul{margin:0;padding:0;list-style:none;display:inline-block; text-align:center;}
.page li{float:left;}
.page a{display:inline-block;border:1px solid #dfdfdf;background:#fff;padding:0 10px; line-height:26px;border-radius:4px;margin:0 2px;}
.page a.on{background:#ff8f00;color:#fff;border:1px solid #ff8f00;}

.notice{border-left:1px solid #dfdfdf;float:left;width:239px;padding:0 10px;margin:10px 0 0 0;min-height:500px;}
.notice .count{padding:15px 25px;border-bottom:1px solid #dfdfdf;}
.notice .count p{margin:0;padding-left:5px;font-size:14px; line-height:2;}
.notice .levels {border-bottom:1px solid #dfdfdf;}
.notice .levels p{font-size:14px; line-height:2.4; text-indent:1em;}
.notice .new {padding:15px 20px;}
.notice .new p{font-size:13px; line-height:2;text-indent:2em;}





 









.posF{display:none;}