
.posF{display:none;}
.posF .hd{border-bottom:2px solid #dfdfdf;}
.posF .hd p{font-size:16px; text-indent:2em; line-height:36px;margin:0;}
.posF .bd{padding:25px 35px;}
.posF .bd dl{margin:0;}
.posF .bd dl.fl{width:50%;}
.posF .bd dl.fn{width:100%;}
.posF .bd dt{margin:0;font-size:14px;font-weight:normal;line-height:28px;float:left;width:80px;}
.posF .bd dd{margin:0;font-size:14px;line-height:28px;float:left;width:250px;}
.posF .bd .fl dt{width:70px;}
.posF .bd .fl dd{width:95px;}
.posF .bd .fn dt{width:70px;}
.posF .bd .fn dd{width:260px;}

.posF .bd dd a{display:inline-block;border-radius:3px;padding:0 10px;margin-right:5px;color:#fff;line-height:24px;}
.posF .bd dd a.yes{background:#4fc0e8;}
.posF .bd dd a.no{background:#ff9f00;}
.posF .bd .rope{text-align:center;}
.posF .bd button{border:0;border-radius:4px;padding:0 15px; line-height:28px;color:#969696;}
.posF .bd button.allot{background:#4fc0e8;color:#fff;margin-left:10px;}
.posF .bd button.off{background:#fff;}
.posF .bd button.off:hover{background:#ff9f00;color:#fff;}
.posF .bd p.clearfix{padding:0 10px;margin:0 0 10px 0;font-size:14px;line-height:30px; }
.posF .bd p a{float:right;padding:0 10px;color:#fff;line-height:24px;font-size:13px;border-radius:3px;margin-left:10px;}
.posF .bd p a.off{background:#ff9f00;}
.posF .bd p a.submit{background:#4fc0e8;}
.posF .bd .rope {margin:0 0 10px 0;}
.posF .bd .rope input{margin:0;}
.posF .bd .rope select{margin:0;}
.posF .bd button.submit{background:#4fc0e8;color:#fff;margin-left:10px;}
.posF .bd .btns{text-align:right;}
.posF .bd .btns button{margin:0 5px 0 0;}
.posF .bd table{}
.posF .bd table tr{}
.posF .bd table td{line-height:1.8;font-size:13px;vertical-align:top;border:1px solid #dfdfdf;}

.bdCont{}
.bdCont .cond{}
.bdCont .cond dl{margin:0 0 10px 0;}
.bdCont .cond dt{margin:0;float:left;width:100px;font-size:14px;font-weight:normal; line-height:30px;} 
.bdCont .cond dd{margin:0;float:left; line-height:30px;margin-right:10px;height:30px;}
.bdCont .cond dd label{display:block;line-height:30px;margin:0 5px 0 0;float:left;margin-right:5px;}
.bdCont .cond dd label input{vertical-align:-2px;margin-right:2px;float:none;}
.bdCont .cond dd input{margin:0;}
.bdCont .cond dd input.checkbox{margin-top:7px;}
.bdCont .cond dd input.date-select{width:120px;}
.bdCont .cond dd span{float:left;display:inline-block; line-height:30px;padding:0 5px;}
.bdCont .cond dd select{margin:0;width:150px;vertical-align:top;}
.bdCont .cond dd button{margin:0 0 0 5px;}

.bdCont table{ text-align:center;border:1px solid #dfdfdf;font-size:14px;background:#fff;margin:0 0 10px 0;}
.bdCont table .title{background:#4fc0e8;height:36px;}
.bdCont table .title th{color:#fff;line-height:36px;}
.bdCont table .title th.sp6{cursor:pointer;}
.bdCont table .title:hover{background:#4fc0e8;}
.bdCont table tr{height:80px;}
.bdCont table tr.on{background:#f1fbff;}
.bdCont table tr:hover{background:#f9f9f9;}
.bdCont table td{}
.bdCont table td a{color:#4fc0e8;}
.bdCont table td .block{}
.bdCont table td b.select{display:inline-block;border:1px solid #dfdfdf;border-radius:4px;width:20px;height:20px;vertical-align:middle;text-align:center;line-height:20px;cursor:pointer;}
.bdCont table td b.select.on{border:1px solid #4fc0e8;color:#4fc0e8;}
.bdCont table td b.select:hover{border:1px solid #4fc0e8;}
.bdCont table td button{border:0;border-radius:3px;padding:0 15px;line-height:1.8;}
.bdCont table td .Refund{background:#ff9f00;color:#fff;}

.bdCont .btns{text-align:center;padding:10px 0;}
.bdCont .btns button{display:inline;padding:0 15px;border-radius:3px;border:0;line-height:36px;color:#fff;font-size:14px;margin:0 5px;}
.bdCont .btns button.checked{background:#4fc0e8;}
.bdCont .btns button.thisPage{background:#4fc0e8;}
.bdCont .btns button.allPage{background:#4fc0e8;}
.bdCont .btns button.refundCheck{background:#ff9f00;}

.sp0{width:50px;}
.sp1{width:210px;}
.sp2{width:328px;}
.sp3{width:100px;}
.sp4{width:100px;}
.sp5{width:100px;}
.sp6{width:50px;}
.sp7{width:100px;}
.sp8{width:120px;}

.pt1{width:300px;}
.pt2{width:100px;}
.pt3{width:100px;}
.pt4{width:85px;}
.pt5{width:85px;}
.pt6{width:85px;}
.pt7{width:90px;}
