<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">维修关联</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>修改维修关联</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form  method="post" action="<{:U('Relation/doRelationEdit')}>" name="relationedit" id="relationedit" novalidate="novalidate">
							<input type="hidden" name="productid" id="productid" value="" />
							<input type="hidden" name="faultid" id="faultid" value="" />
							<input type="hidden" name="planids" id="planids" value="" />
							<input type="hidden" name="id" value="<{$relation.id}>">
						</form>
						<div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">关联商品：</label>
                                <div class="controls">
                                    <select name="product_id" id="product_id" class="span3">
										<option>查找全部关联商品</option>
										<foreach name="repairSelect" item="repair">
										<option value="<{$repair.id}>" <eq name="repair.id" value="$relation.product_id">selected</eq>><{$repair.pro_name}></option>
										</foreach>
									</select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">关联故障：</label>
                                <div class="controls">
                                    <select id="fault_id" name="fault_id" class="span3">
										<foreach name="faultList" item="fault">
											<option value="<{$fault.id}>" <eq name="relation.fault_id" value="$fault.id">selected = "selected"</eq>><{$fault.name}></option>
										</foreach>
									</select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">关联方案：</label>
                                <div class="controls">
                                    <select id="plan_ids" name="plan_ids" multiple tabindex="8" class="chosen-select span3">
										<foreach name="planList" item="plan">
											<option value="<{$plan.id}>" <eq name="plan.selected" value="1">selected</eq>><{$plan.name}></option>
										</foreach>
									</select>
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 立即修改 " id="btnRelationEdit" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index/product_id/<{$relation.product_id}>" class="btn btn-default">返回列表</a>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
// 商品change提交,获取改商品下的维修方案
$('#product_id').change(function(){
	var proid = $(this).children('option:selected').val();
	if(proid){
		// Ajax请求数据库验证
		$.get('__CONTROLLER__/changePlanSelect', {'id': proid}, function (d) {
			if(d){
				var data = JSON.parse(d);
				//故障下拉框
				var faultLen = data['fault'].length;
				var faultStr  = '';
				for(var a = 0;a < faultLen; a++){
					faultStr += '<option value="'+data['fault'][a]['id']+'">'+data['fault'][a]['name']+'</option>'
				}
				$('#fault_id').empty();
				$("#fault_id").append('<option></option>'+faultStr);
				
				//维修方案下拉框
				var planLen = data['plan'].length;
				var planStr  = '';
				for(var a = 0;a < planLen; a++){
					planStr += '<option value="'+data['plan'][a]['id']+'">'+data['plan'][a]['name']+'</option>'
				}
				$('#plan_ids').empty();
				$("#plan_ids").append('<option></option>'+planStr);
			}else{
				$('#fault_id').empty();
				$('#plan_ids').empty();
			}
		});
	}
});
$('#btnRelationEdit').click(function(){
	var product_id = $("#product_id").val();
	var fault_id = $("#fault_id").val();
	var plan_ids = $("#plan_ids").val();
	$("#productid").val(product_id);
	$("#faultid").val(fault_id);
	$("#planids").val(plan_ids);
	$("#relationedit").submit();
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
