<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/css/repairer-comments.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div><{$shop.shop_name}>
		</h1>
	</header>
	<div class="con">
		<div class="evaluate">
			<h2>用户评价(<{$shop.comment_count}>)</h2>
			<ul class="list">
				<foreach name="shop.comment" item="vo">
				<li>
					<div class="top clearfix">
						<img class="user" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" />
						<div class="nameandtime">
							<span class="username"><{$vo.uname}></span>
							<time><{$vo.comment_time|date="Y-m-d",###}></time>
						</div>
						<div class="eva-scal">
							<img src="__PUBLIC__/Home/images/2016/<if condition="$vo.score eq 1">good<elseif condition="$vo.score eq 2"/>middle<else />low</if>.png" />
							<span><if condition="$vo.score eq 1">好评<elseif condition="$vo.score eq 2"/>中评<else />差评</if></span>
						</div>
					</div>
					<div class="content"><p><{$vo.content}></p></div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.evaluate').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreComments',
				dataType: 'json',
				data: {'counter':counter, 'id':"<{$shop.id}>", 'num':num },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<div class="top clearfix">';
							html += '		<img class="user" src="__PUBLIC__/User/'+ data[a]['thumb'] +'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';" />';
							html += '       <div class="nameandtime">';
							html += '		    <span class="username">'+ data[a]['uname'] +'</span>';
							html += '		    <time>'+ data[a]['comment_time'] +'</time>';
							html += '       </div>';
							html += '		<div class="eva-scal">';
								if(data[a]['score'] == 1){
							html +='		    <img src="__PUBLIC__/Home/images/2016/good.png" />';
							html +='		    <span>好评</span>';
								}else if(data[a]['score'] == 2){
							html +='		    <img src="__PUBLIC__/Home/images/2016/middle.png" />';
							html +='		    <span>中评</span>';
								}else if(data[a]['score'] == 3){
							html +='		    <img src="__PUBLIC__/Home/images/2016/low.png" />';
							html +='		    <span>差评</span>';
								}
							html += '		</div>';
							html += '	</div>';
							html += '	<div class="content"><p>'+ data[a]['content'] +'</p></div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->