<extend name="Public:public" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/css/repairer-detail.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div><{$shop.shop_name}><div class="share"><span>&#xe60a;</span></div>
		</h1>
	</header>	
	<div class="con">
		<div class="storeimg">
			<div class="pic">
				<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$shop.shop_name}>" />
				<div class="storenews">
					<div class="icon">
						<span class="Authentication">认证</span>
						<if condition="$shop['type_id'] eq 2">
						<span class="chain">直营</span>
						</if>
						<span class="custemers notuse">售后</span>
						<span class="guarantee notuse">担保</span>
					</div>
					<div class="shopname">
						<for start="0" end="$shop.level_image_num">
							<b><img src="__PUBLIC__/Home/images/level/<{$shop.level_image_name}>.png" width="16" title="<{$shop.level_level}>级" alt="<{$shop.level_level}>级" /></b>
						</for>
					</div>
					<gt name="shop.repair_count" value="0">
						<div class="success">已成功维修<strong><{$shop.repair_count}></strong>台设备</div>
					<else />
						<div class="success">刚刚加入请多支持！</div>
					</gt>
				</div>
			</div>
		</div>
		<div class="tAa">
			<eq name="shop.server_status" value="0">
			<div class="close"><img src="__PUBLIC__/Home/images/2016/close.png" /></div>
			</eq>
			<p class="clearfix address"><i class="icon-distance"></i><span><{$shop.pro_addr}><{$shop.city_addr}><{$shop.addr}><{$shop.address}></span></p>
			<p class="clearfix time"><i class="icon-time"></i><span>营业时间：<eq name="shop.is_week" value="1">周一至周末<else />周一至周五</eq>（<{$shop.open_time}>:00-<{$shop.close_time}>:00）</span></p>
			<p class="clearfix phone"><i class="icon-master"></i><span><{$shop.user_name}>师傅 <!--<{$shop.user_phone|hidestr}>--><{$shop.user_phone|hidestr}></span></p>
		</div>
		<notempty name="shop.description">
		<div class="introduction">
			<p class="clearfix"><strong>店铺简介：</strong><span><{$shop.description}></span></p>
		</div>
		</notempty>
		<div class="shop-tab">
			<!-- 导航 -->
			<ul class="clearfix nav-ul">
				<li class="current detial-item">维修 / 回收</li>
				<li class="sever-item">店铺详情</li>
			</ul>
			<!-- 维修列表 -->
			<div class="repairItem tab-con block">
			    <div class="classify clearfix">
					<foreach name="types" item="vo">
					<strong <eq name="typeId" value="$vo.id">class="current"</eq> data-id="<{$vo.id}>"><{$vo.cat_name}></strong>
					</foreach>
				</div>
				<notempty name="models">
				<div id="itemTab">
					<div class="repairIphone item block">
					    <div class="brand">
						    <p>品牌</p>
						    <ul class="repair-ul list-ul clearfix">
								<foreach name="brands" item="vo">
								<li <eq name="brandId" value="$vo.id">class="current"</eq> data-id="<{$vo.id}>"><img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" /></li>
								</foreach>
							</ul>
						</div>
						<div class="model">
						    <p>型号</p>
						    <ul class="model-ul clearfix">
								<foreach name="models" item="vo">	
								<li data-id="<{$vo.id}>"><span><{$vo.pro_name}></span></li>
								</foreach>
							</ul>
						</div>
					</div>
				</div>
				<div class="now-repair clearfix">
				    <a id="Repair" href="javascript:void(0);">找他维修</a>
				    <a id="Recovery" href="javascript:void(0);">找他回收</a>
				</div>
				</notempty>
			</div>
			<!-- 店铺详情 -->
			<div class="detialItem tab-con">
				<neq name="shop.content" value="">
					<p><{$shop.content|htmlspecialchars_decode}></p>
				<else />
					<p class="noCont">这家伙太懒，什么都没留下！</p>
				</neq>
			</div>
		</div>
		<div class="evaluate">
			<h2>用户评价(<{$shop.comment_count}>)</h2>
			<ul>
				<foreach name="shop.comment" item="vo">
				<li>
					<div class="top clearfix">
						<img class="user" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" alt="<{$vo.uname}>" />
						<div class="nameandtime">
							<span class="username"><{$vo.uname}></span>
							<time><{$vo.comment_time|date="Y-m-d",###}></time>
						</div>
						<div class="eva-scal">
							<img src="__PUBLIC__/Home/images/2016/<if condition="$vo.score eq 1">good<elseif condition="$vo.score eq 2"/>middle<else />low</if>.png" />
							<span><if condition="$vo.score eq 1">好评<elseif condition="$vo.score eq 2"/>中评<else />差评</if></span>
						</div>
					</div>
					<div class="content"><p><{$vo.content}></p></div>
				</li>
				</foreach>
			</ul>
		</div>
		<span class="loadmore"><a href="<{:U('Repairer/comments', array('id'=>$shop['id']))}>">加载更多</a></span>
	</div>
	<div class="sharesocil fixTop fullLayer z10">
		<div class="share-list fixBottom pct100">
			<div class="feature">
				<ul class="clearfix">
					<li>
						<a class="jiathis_button_qzone">
							<img src="__PUBLIC__/Mobile/images/qzone.jpg" />
							<p>QQ空间</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tsina">
							<img src="__PUBLIC__/Mobile/images/sina.jpg" />
							<p>新浪微博</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tqq">
							<img src="__PUBLIC__/Mobile/images/tx.jpg" />
							<p>腾讯微博</p>
						</a>
					</li>
					<li>
						<a class="jiatitle" onclick="jiathis_sendto('tieba');return false;">
							<img src="__PUBLIC__/Mobile/images/baidu.jpg" />
							<p>百度贴吧</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="fcancel ptb20r">取消</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script type="text/javascript">
		$(".con").delegate('.brand li','click',function(){                       // 品牌切换
			var _this = $(this);
			var _brand = _this.parents(".brand");
			var id  = _this.attr('data-id');
			_this.addClass('current').siblings().removeClass('current');
			$.post('__CONTROLLER__/loadModels', {'id':id, 'shopId':"<{$shop.id}>"}, function(d){
				var data = JSON.parse(d);
				if(!data || data == ''){
					_brand.siblings(".model").hide();
					return false;
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li data-id="'+ data[a]['id'] +'"><span>'+ data[a]['pro_name'] +'</span></li>';
					}
					_brand.siblings(".model").find('li').remove();
					_brand.siblings(".model").find('ul').append(html);
					_brand.siblings(".model").show();
				}
			});
		}).delegate('.model li','click',function(){                                // 型号切换
			$(this).addClass('current').siblings().removeClass('current');
		}).delegate('.nav-ul li','click',function(){                               // 店铺详情，维修/回收切换
		    var _this = $(this);
			var Myindex = _this.index();
			_this.addClass('current').siblings().removeClass('current');
			$(".tab-con:eq("+Myindex+")").addClass('block').siblings('div').removeClass('block');
		}).delegate('.classify strong','click',function(){                         // 手机平板切换
			var _this = $(this);
			var _parent = _this.parent(".classify")
			var id  = _this.attr('data-id');
			_this.addClass('current').siblings().removeClass('current');
			$.post('__CONTROLLER__/loadBrands', {'id':id, 'shop_id':"<{$shop.id}>"}, function(d){
				var data = JSON.parse(d);
				if(!data || data == ''){
					_parent.siblings('#itemTab').find(".brand").hide();
					_parent.siblings('#itemTab').find(".model").hide();
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li data-id="'+ data[a]['id'] +'"><img src="__PUBLIC__/Product/icon/'+ data[a]['icon_image'] +'" /></li>';
					}
					_parent.siblings('#itemTab').find('.brand li').remove();
					_parent.siblings('#itemTab').find('.brand ul').append(html);
					_parent.siblings('#itemTab').find('.brand').show();
					
				};
			});
			_parent.siblings('#itemTab').find(".model").hide();
		}).delegate('#Repair,#Recovery','click',function(){                       // 找他维修/回收
			if($(".brand li.current").length !== 1){
				alert("请选择品牌");
			}else if($(".model li.current").length !== 1){
				alert("请选择型号");
			}else{
				var type     = $(this).attr('id');
				var classify = $(".classify strong.current").attr('data-id');
				var brand    = $(".brand li.current").attr('data-id');
				var model    = $(".model li.current").attr('data-id');
				if(type == 'Repair'){
					window.location.href = '<{$CBW_URL}>/repair/'+classify+'-'+brand+'-'+model+'.html?sid=<{$shop.id}>';
				}else{
					window.location.href = '<{$CBW_URL}>/recovery/'+classify+'-'+brand+'-'+model+'.html?sid=<{$shop.id}>';
				}
			};
		});
 	</script>
</block>
















