<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repairer.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div><{$city.addr}> - <{$area.addr}><div class="select"><span>&#xe606;</span></div>
		</h1>
	</header>
	<div class="con">
		<div class="cityTown clearfix fixed_bug">
			<div class="city">
				<span class="white">&#xe604;</span>
				<select name="city" id="city">
					<foreach name="citys" item="vo">
					<option value="<{$vo.id}>" <eq name="city_id" value="$vo.id">selected</eq>><{$vo.addr}></option>
					</foreach>
				</select>
			</div>
			<div class="town">
				<span class="white">&#xe604;</span>
				<select name="area" id="area">
					<foreach name="areas" item="vo">
					<option value="<{$vo.id}>" <eq name="area_id" value="$vo.id">selected</eq>><{$vo.addr}></option>
					</foreach>
				</select>
			</div>
		</div>
		<div class="lists">
			<empty name="shops">
				<div class="emptyTip">该地区暂无维修店，<a href="<{$CBW_URL}>/index/special.html">立即加盟</a>吧！</div>
			<else />
				<ul class="clearfix storelst">
					<foreach name="shops" item="vo">
					<li>
						<a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>">
							<div class="tit">
								<img src="__PUBLIC__/Mobile/images/store.png" class="ordinary-store" /><strong><{$vo.shop_name}></strong>
								<for start="0" end="$vo.level_image_num">
									<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
								</for>
							</div>
							<div class="bd clearfix">
								<div class="pic">
									<img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png'" alt="<{$vo.shop_name}>" />
								</div>
								<div class="fr">
									<p>
										<span class="Authentication">认证</span>
										<if condition="$vo['type_id'] eq 2">
										<span class="chain">直营</span>
										</if>
										<span class="custemers notuse">售后</span>
										<span class="guarantee notuse">担保</span>
									</p>
									<p><span>主修：</span><{$vo.brands}></p>
									<p><span>地址：</span><{$vo.address}></p>
								</div>
							</div>
						</a>
					</li>
					</foreach>
				</ul>
			</empty>
		</div>
		<div class="filter">
			<div class="bg"></div>
			<div class="filterBx">
				<dl class="clearfix header">
					<dt><i>&#xe60f;</i></dt>
				</dl>
				<dl class="clearfix gy type">
					<dt class="clearfix">类型</dt>
					<dd class="clearfix" id="type">
						<foreach name="types" item="vo">
						<a href="javascript:void(0);" data-id="<{$vo.id}>" <eq name="type_id" value="$vo.id">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				<dl class="clearfix gy models">
					<dt class="clearfix">品牌</dt>
					<dd class="clearfix" id="brand">
						<foreach name="brands" item="vo">
						<a href="<{$CBW_URL}>/repairer_list/<{$city_id}>-<{$area_id}>-<{$type_id}>-<{$vo.id}>.html" data-id="<{$vo.id}>" <eq name="brand_id" value="$vo.id">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate("select","change",function(){
			var cityid  = $('#city').val();
			var areaid  = $('#area').val();
			var typeid  = $('#type').find('a.on').attr('data-id');
			var brandid = $('#brand').find('a.on').attr('data-id');
			var url = "<{$CBW_URL}>/repairer_list/"+cityid+"-"+areaid;
			if(typeid){
				url += "-"+typeid;
			}
			if(brandid){
				url += "-"+brandid;
			}
			url += ".html";
			window.location.href=url;  //页面跳转并传参
		});
		
		// 筛选品牌
		$(".filterBx").on("click","#type a",function(){
			toggleClass(this);
			var cityid  = $('#city').val();
			var areaid  = $('#area').val();
			var typeid  = $('#type').find('a.on').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadShopBrand',
				dataType: 'json',
				data: {'type':typeid },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<a href="<{$CBW_URL}>/repairer_list/'+ cityid +'-'+ areaid +'-'+ typeid +'-'+ data[a]['id'] +'.html">'+ data[a]['cat_name'] +'</a>';
						}
						$('#brand').empty().html(html);
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
		});
		
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		function ajax_data(me, counter){
			var num      = 8;
			var area_id  = $('#area').val();
			var type_id  = $('#type').find('a.on').attr('data-id');
			var brand_id = $('#brand').find('a.on').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadUserShops',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'area':area_id, 'type':type_id, 'brand':brand_id },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<a href="<{$CBW_URL}>/repairer/'+data[a]['id']+'.html" title="'+data[a]['shop_name']+'">';
							html += '		<div class="tit">';
							html += '			<em>店</em><strong>'+data[a]['shop_name']+'</strong> ';
							for(var b = 0;b < data[a]['level_image_num'];b++){
								html += '<b><img src="__PUBLIC__/Home/images/level/'+data[a]['level_image_name']+'.png" width="16" title="'+data[a]['level_level']+'级" alt="'+data[a]['level_level']+'级"></b>';
							}
							html += '		</div>';
							html += '		<div class="bd clearfix">';
							html += '			<div class="pic">';
							html += '				<img src="__PUBLIC__/User/'+data[a]['logo_image']+'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\'" title="'+data[a]['shop_name']+'" alt="'+data[a]['shop_name']+'">';
							html += '			</div>';
							html += '			<div class="fr">';
							html += '				<p>';
							html += '					<span class="Authentication">认证</span>';
							html += '					<span class="chain notuse">直营</span>';
							html += '					<span class="custemers notuse">售后</span>';
							html += '					<span class="guarantee notuse">担保</span>';
							html += '					<span class="distance">距离您'+conversion(data[a]['distance'])+'</span>';
							html += '				</p>';
							html += '				<p><span>主修：</span>'+data[a]['brands']+'</p>';
							html += '				<p><span>地址：</span>'+data[a]['address']+'</p>';
							html += '			</div>';
							html += '		</div>';
							html += '	</a>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.storelst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		};
		function toggleClass(that){
			var _this = $(that);
			_this.addClass("on").siblings("a").removeClass("on");
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->