<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->


<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css"/>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>

<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">视频管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
				<div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('Video/index')}>" id="searchVideo" method="get" class="span7">
								<select name="classify_id" id="classify_id" style="width:150px;">
                                    <option>请选择分类</option>
									<foreach name="classifyRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$classify_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								<neq name="typeRes" value="">
								<select name="type_id" id="type_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="typeRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$type_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
								<neq name="brandRes" value="">
								<select name="brand_id" id="brand_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="brandRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$brand_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
								<neq name="catRes" value="">
								<select name="cat_id" id="cat_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="catRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$cat_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
                                <input type="text" name="keyword" style="width:150px;">
                                <input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" placeholder="请输入关键字..." value="提交">
                            </form>
							<a href="<{:U('Video/videoAdd')}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加视频</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>视频列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center" style="width:5%;">id</th>
                                <th class="text-center" style="width:25%;">标题</th>
                                <th class="text-center">视频链接</th>
								<th class="text-center" style="width:5%;">浏览次数</th>
                                <th class="text-center" style="width:5%;">状态</th>
                                <th class="text-center" style="width:5%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="videoList" item="list">
                                <tr>
                                    <td class="text-center"><{$list.id}></td>
                                    <td class="text-center"><{$list.title}></td>
                                    <td class="text-left"><{$list.weburl}></td>
									<td class="text-left"><{$list.clicktimes}></td>
									<td class="text-center">
										<eq name="list.status" value="1">
										<i class="icon-ok" style="color:green;"></i>
										<else />
										<i class="icon-remove" style="color:red;"></i>
										</eq>
									</td>
                                    <td class="text-center">
                                        <a href="__CONTROLLER__/videoEdit/id/<{$list.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        <a href="__CONTROLLER__/delVideo/id/<{$list.id}>" onclick="return confirm('您确定删除该视频？');" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
							<tfoot>
								<tr>
									<td colspan="5">
									<div class="pagination alternate text-right span9 pull-right">
									<{$page}>
									</div>
									</td>
								</tr>
							</tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<!-- js文件模块 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
    <!--<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>-->
    <script src="__PUBLIC__/Admin/js/masked.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <!--<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script>-->
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script>
</block>
<!-- js文件模块 结束 -->


<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		$('#searchVideo select').change(function(){
			$('#searchVideo').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->

