<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">添加视频</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
						<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
							<h5></h5>
						</div>
						<div class="widget-content nopadding">
							<form method="post" enctype="multipart/form-data" action="<{:U('Video/doAddVideo')}>" class="form-horizontal"  id="addvideo" novalidate="novalidate">
								<div class="control-group">
									<label class="control-label">标题：</label>
									<div class="controls">
										<input type="text" name="title" id="title"  />
										<span id="checkU" available='0'></span>
									</div>

									<div class="control-group">
										<label class="control-label">本地小图上传</label>
										<div class="controls">
											<input type="file" id="simg" name='simg'/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">视频链接</label>
										<div class="controls">
											<input type="text" name="weburl" id="weburl" >
											<span></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">视频类别：</label>
										<div class="controls">
											<select name="type_id" id="type_id" style="width:150px;">
												<option value="">请选择</option>
												<foreach name="typeRes" item="vo">
													<option value="<{$vo.id}>"><{$vo.cat_name}></option>
												</foreach>
											</select>
											<select name="brand_id" id="brand_id" style="width:150px;">
											</select>
											<select name="cat_id" id="cat_id" style="width:150px;">
											</select>
											<select name="product_id" id="product_id" style="width:250px;">
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">关键字</label>
										<div class="controls">
											<input type="text" name="keywords" id="keywords" >
											<span></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">描述</label>
										<div class="controls">
											<textarea id="description" name="description" style="width:600px; height:80px;"></textarea>
											<span></span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">介绍:</label>
										<div class="controls">
										   <textarea class="span11" style="width:700px; height:300px;" id="video_content" name="content"> </textarea>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											<label>
												<input type="radio" name="status" checked value="1" />
												启用
											</label>
											<label>
												<input type="radio" name="status" value="0" />
												禁用
											</label>
										</div>
									</div>
									<div class="form-actions">
										<input type="submit" id="sub" value=" 确认添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
										<a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
	<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
	<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
	<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

    <script>
		$('.textarea_editor').wysihtml5();
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('#video_content', {});
		});
        $('#title').blur(function (){
            if($('#title').val()==''){
                $(this).next('span').html('标题不能为空');
            }
            else{
                $(this).next('span').html('');
            }
        });

		// 产品类别,产品change提交
		$('#type_id').change(function(){
			var proid = $(this).children('option:selected').val();
			if(proid){
				// Ajax请求数据库验证
                $.post('__CONTROLLER__/changeCatSelect', {'id': proid, 'type':'type_id'}, function (d) {
					data = JSON.parse(d);
					if(data['cat'] != ''){
						$('#brand_id').empty();
						$('#cat_id').empty();
						$("#brand_id").append('<option></option>'+data['cat']);
					}else{
						$('#brand_id').empty();
						$('#cat_id').empty();
					}
					if(data['products'] != ''){
						$('#product_id').empty();
						$("#product_id").append('<option></option>'+data['products']);
					}else{
						$('#product_id').empty();
					}
                });
			}
		});
		$('#brand_id').change(function(){
			var brandid = $(this).children('option:selected').val();
			if(brandid){
				// Ajax请求数据库验证
                $.post('__CONTROLLER__/changeCatSelect', {'id': brandid, 'type':'brand_id'}, function (d) {
					data = JSON.parse(d);
					if(data['cat'] != ''){
						$('#cat_id').empty();
						$("#cat_id").append('<option></option>'+data['cat']);
					}else{
						$('#cat_id').empty();
					}
					if(data['products'] != ''){
						$('#product_id').empty();
						$("#product_id").append('<option></option>'+data['products']);
					}else{
						$('#product_id').empty();
					}
                });
			}
		});
		$('#cat_id').change(function(){
			var catid = $(this).children('option:selected').val();
			if(catid){
				// Ajax请求数据库验证
                $.post('__CONTROLLER__/changeCatSelect', {'id': catid, 'type':'cat_id'}, function (d) {
					data = JSON.parse(d);
					if(data['products'] != ''){
						$('#product_id').empty();
						$("#product_id").append('<option></option>'+data['products']);
					}else{
						$('#product_id').empty();
					}
                });
			}
		});
    </script>


</block>
<!-- 底部JS执行区域 结束 -->
