<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile/css/service-apply.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>售后申请</h1>
    </header>
	<div class="con">
		<div class="cus_news">
			<h2>售后地址</h2>
			<div class="bd">
				<div class="name">联系人：<p>售后部（收） 4006233866</p></div>
				<div class="address">地 &nbsp&nbsp址：<p>广东省广州市海珠区杨协成电子创意园A座319之1</p></div>
			</div>
		</div>
		<form action="<{:U('Service/submitApply')}>" method="post" id="submit">
		<div class="cus_pro">
			<h2>售后内容</h2>
			<div class="bd">
				<p class="pro">产品： <span><{$product.pro_name}></span></p>
				<p class="type">
					类型：
					<select name="type">
						<option value="0">请选择</option>
						<option value="1">退款/退货</option>
						<option value="2">换货</option>
						<option value="3">维修</option>
					</select>
				</p>
				<p class="reason">
					原因：
					<select name="reason">
						<option value="0">请选择</option>
						<option value="1">包装破损</option>
						<option value="2">商品缺失/损坏</option>
						<option value="3">型号/商品发错</option>
						<option value="4">快递太慢/服务态度差</option>
						<option value="5">工具不好用</option>
						<option value="6">视频/说明书看不懂</option>
						<option value="7">自己动手太难</option>
						<option value="8">任性，仅此而已</option>
						<option value="9">商品故障</option>
					</select>
				</p>
				<p class="num">数量： <input type="tel" value="<{$product.pro_number}>" name="num" placeholder="申请数量"></p>
				<p class="description">描述：<textarea name="description" placeholder="您的宝贵意见是我们前进的助力！有您的相伴，我们才能提供更好的服务！字数限制500以内，且请文明留言！" maxlength="500"></textarea></p>
			</div>
		</div>
		<div class="submit">
			<input type="hidden" name="order_id" value="<{$order.id}>" />
			<input type="hidden" name="pro_id" value="<{$product.pro_id}>" />
			<a href="javascript:;">提交</a>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.submit a', 'click', function(event) {
			var type   = $("select[name=type]").val();
			var reason = $("select[name=reason]").val();
			var num    = $("input[name=num]").val();
			if(type == 0 || reason == 0 || num < 1){
				alert('请填写完整申请信息');
				return false;
			}
			$('form#submit').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->