<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/service-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>售后列表</h1>
	</header>
	<div class="con">
		<div class="pro_lst">
			<ul>
				<foreach name="serviceRes" item="vo">
				<li>
					<div class="date">
						<span class="service"></span><a href="<{:U('Service/detail', array('sn'=>$vo['service_sn']))}>"><{$vo.service_sn}></a>
						<strong>
							<eq name="vo.service_status" value="0">已取消</eq>
							<eq name="vo.service_status" value="1">待审核</eq>
							<eq name="vo.service_status" value="2">审核通过</eq>
							<eq name="vo.service_status" value="3">待卖家签收</eq>
							<eq name="vo.service_status" value="4">待卖家发货</eq>
							<eq name="vo.service_status" value="5">待退款</eq>
							<eq name="vo.service_status" value="6">售后完成</eq>
						</strong>
					</div>
					<div class="pro_news clearfix">
						<div class="news_pic">
							<img src="<{$vo.list.show_img}>" />
						</div>
						<div class="news_bd">
							<p><{$vo.list.show_name}></p>
							<p class="num"><{$vo.list.show_desc}></p>
							<p class="price"><em>￥</em><{$vo.list.show_price}><ins>×<{$vo.list.show_num}></ins></p>
						</div>
					</div>
					<div class="btn clearfix">
						<{$vo['apply_time']|date="Y-m-d",###}>
						<if condition="($vo['service_status'] eq 2) AND ($vo['return_way'] eq 0)">
							<a class="send" data-sn="<{$vo.service_sn}>">发货</a>
						</if>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="dark"></div>
	<div class="logistics">
		<form id="send" action="<{:U('Service/send')}>" method="post" >
		<div class="top">物流选择</div>
		<div class="slt">
			<select name="shipping_way">
				<option value="0">请选择快递公司</option>
				<foreach name="shipping" item="s">
				<option value="<{$s.id}>"><{$s.cname}></option>
				</foreach>
			</select>
			<input type="hidden" name="sn" value="" />
			<input type="text" name="shipping_num" placeholder="请输入快递单号"/>
		</div>
		<div class="btns clearfix">
			<span class="save"><a href="javascript:;">保存</a></span>
			<span class="close"><a href="javascript:;">取消</a></span>
		</div>
		</form>
	</div> 
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.btn .send', 'click', function(event) {
			var sn = $(this).attr('data-sn');
			$('#send input[name=sn]').val(sn);
			$(".dark").fadeTo(350,0.5);
			$(".logistics").slideDown(350);
		});
		$(".logistics .btns span.close").click(function(event) {      // 关闭发货窗口
			$(".dark").fadeOut(350);
			$(".logistics").slideUp(350);
		});
		$(".logistics .btns span.save").click(function(event) {       // 提交发货
			var sn = $('#send input[name=sn]').val();
			var shipping_way = $('#send select[name=shipping_way]').val();
			var shipping_num = $('#send input[name=shipping_num]').val();
			if(sn == ''){
				alert('未知错误');
				return false;
			}else if(shipping_way == '' || shipping_way == 0 || !shipping_way){
				alert('请选择快递公司');
				return false;
			}else if(shipping_num == '' || !shipping_num){
				alert('请填写快递单号！');
				return false;
			}
			$('form#send').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->