<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/search.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<!-- 搜索部分 开始 -->
		<{:W('System/search')}>
		<!-- 搜索部分 结束 -->
		<div class="cancle"><a href="javascript:;">取消</a></div>
	</div>
	<div class="editBtns clearfix">
		<a href="<{:C('BBS_URL')}>/add/1.html"><em class="icon_question"></em>立即提问</a>
		<a href="<{:C('BBS_URL')}>/add/2.html"><em class="icon_share"></em>我要分享</a>
	</div>
</header>
<div class="content">
	<notempty name="data">
	<section class="search_list mod">
		<ul class="list">
			<foreach name="data" item="vo">
			<li class="mt6bgcf">
				<article>
					<div class="h3">
					    <mark><a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>"/></a></mark>
					    <a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="a_content">
						    <h3><{$vo.subject}></h3>
							<p><{$vo.description}></p>
						</a>
					</div>
					<div class="pdzArea clearfix">
						<span class="<{$vo.cname}>"><{$vo.replies}> <if condition="$vo.category eq 1">回答<else />回复</if></span><span><{$vo.votes}> 评分</span><span><{$vo.favtimes}> 收藏</span>
						<time>发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></time>
					</div>
				</article>
			</li>
			</foreach>
		</ul>
	</section>
	<else />
	<section class="empty_list mod">
		搜索不到相关内容, <a href="<{:C('BBS_URL')}>/add/1.html">我要提问</a>
	</section>
	</notempty>
</div>

<!-- 大家都在搜 开始 -->
<{:W('System/people')}>
<!-- 大家都在搜 结束 -->

<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->

</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.search_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 15;
			var keyword = "<{$keyword}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreSearch',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'keyword':keyword },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li class="mt6bgcf">';
							html += '	<article>';
							html += '		<div class="h3">';
							html += '			<mark>';
							html += '                <a href="<{$CBW_URL}>/model/'+ data[a]['category'] +'_'+ data[a]['fid'] +'.html">';
							html += '				     <img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'"/>';
							html += '                </a>';
							html += '			</mark>';
							html += '       	<a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html" class="a_content">';
							html += '				<h3>'+data[a]['subject']+'</h3>';
							html += '               <p>'+data[a]['description']+'</p>';
							html += '			</a>';
							html += '	    </div>';
							html += '		<div class="pdzArea clearfix">';
							if(data[a]['category'] == 1){
								html += '		<span>'+ data[a]['replies'] +' 回答</span><span>'+ data[a]['votes'] +' 评分</span><span>'+ data[a]['favtimes'] +' 收藏</span>';
							}else{
								html += '		<span>'+ data[a]['replies'] +' 回复</span><span>'+ data[a]['votes'] +' 评分</span><span>'+ data[a]['favtimes'] +' 收藏</span>';
							}
							html += '			<time>发布于'+ data[a]['occurtime'] +'</time>';
							html += '		</div>';
							html += '	</article>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->