<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
</block>
<!-- 顶部CSS文件 结束 -->
   
<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/adv.js"></script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">问答管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> 
						<span class="icon"> <i class="icon-align-justify"></i> </span>
						<h5>添加问答</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="__CONTROLLER__/doAddWenda" method="post" class="form-horizontal" onsubmit="return dosubmit()" enctype="multipart/form-data">
							<div class="control-group">
								<label class="control-label">问答标题:</label>
								<div class="controls">
								<input type="text" class="span11" style="width:200px;" name="title"/>
								</div>
							</div>

							<div class="control-group">
							<label class="control-label">问答分类</label>
							<div class="controls">
							   <select name="cat_id" style="width:300px;"> 
								  <foreach name="list" item="v">  
									   <option value="<{$v.id}>"><{$v.cat_name}></option>  
								   </foreach> 
							   </select>
							</div>
							</div>

							<div class="control-group">
								<label class="control-label">作者:</label>
								<div class="controls">
								<input type="text" class="span11" style="width:200px;" name="author"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">来源:</label>
								<div class="controls">
								<input type="text" class="span11" style="width:200px;" name="source"/>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">关键字</label>
								<div class="controls">
								  <input type="text" id="keywords" name="keywords" >
								  <span class="yzurl" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">描述</label>
								<div class="controls">
								  <textarea id="description" name="description" style="width:600px; height:80px;"></textarea>
								  <span class="yzurl" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">内容:</label>
								<div class="controls">
								   <textarea class="span11" style="width:700px; height:300px;" id="news_content" name="content"> </textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">缩略图</label>
								<div class="controls">
									<input type="file" name="file"/>
								</div>
							</div>
							<div class="control-group">
							<label class="control-label">是否显示</label>
								<div class="controls">
								  <label style="display:inline">
									 <input type="radio" name="is_show" value="1" checked />
									  是</label>
								  <label style="display:inline">
									 <input type="radio" name="is_show" value="0" />
									  否</label>
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" id="sub" value=" 确认添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
								<a href="__CONTROLLER__/wenda" class="btn btn-default">返回列表</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>

</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>

    <script type="text/javascript">

      $('.textarea_editor').wysihtml5();
      var editor;
            KindEditor.ready(function(K) {
              editor = K.create('#news_content', {
                  
              });
            });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
