<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->


<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css"/>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>

<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">问答管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
				<div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('Wenda/wenda')}>" method="get" class="span6">
								<select name="cat_id" style="width:200px;">
                                    <option>查找全部问答</option>
									<foreach name="catList" item="vo">
										<option value="<{$vo.id}>"><{$vo.cat_name}></option>
									</foreach>
                                </select>
                                <input type="text" name="title" style="width:150px;">
                                <input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" placeholder="请输入关键字..." value="提交">
                            </form>
							<a href="__CONTROLLER__/addWenda" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加问答</a>
							<a href="__CONTROLLER__/categoryList" class="btn btn-info pull-right"> 分类列表</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>问答列表</h5>
                    </div>
                    <div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th class="text-center" style="width:5%;">ID</th>
							<th class="text-center" style="width:10%;">类别</th>
							<th class="text-center">名称</th>
							<th class="text-center" style="width:10%;">作者</th>
							<th class="text-center" style="width:10%;">创建日期</th>
							<th class="text-center" style="width:5%;">浏览次数</th>
							<th class="text-center" style="width:5%;">是否显示</th>
							<th class="text-center" style="width:10%;">操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="list" item="v">
							<tr>
							<td style="text-align:center;"><{$v.id}></td>
							<td style="text-align:center;"><{$v.cat_name}></td>
							<td style="text-align:left;"><{$v.title}> [<a href="<{:C('SITE_URL')}>/wenda/<{$v.id}>.html" target="_blank">查看</a>]</td>
							<td style="text-align:center;"><{$v.author}></td>
							<td style="text-align:center;"><{$v.create_time|date="Y-m-d",###}></td>
							<td style="text-align:center;"><{$v.clicktimes}></td>
							<td style="text-align:center;">
							<if condition="$v.is_show eq 1">
							<span style="color:red;">显示</span>
							<else />未显示
							</if>
							</td>
							<td style="text-align:center;">
							<a href="__CONTROLLER__/editWenda/id/<{$v.id}>"><i class="icon-pencil"></i>编辑</a> |
							<a href="__CONTROLLER__/delWenda/id/<{$v.id}>" onclick="return confirm('您确定执行删除操作吗？')" >删除</a>
							</td>
							</tr>
						</foreach>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
								<div class="pagination alternate text-right span9 pull-right">
								<{$page}>
								</div>
								</td>
							</tr>
						</tfoot>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</block>

<!-- js文件模块 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
    <!--<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>-->
    <script src="__PUBLIC__/Admin/js/masked.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <!--<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script>-->
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script>
</block>
<!-- js文件模块 结束 -->


<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->

