<extend name="Public:server" />
	<block name="cssFile">
		<link href="__PUBLIC__/Home/servercss/appeal.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.skinNice.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
    </block>
    <block name="topJsFile">
		<script src="__PUBLIC__/Home/js/ion.rangeSlider.js"></script>
		<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
    </block>
   
    <block name="publicBody">
	<div class="cont clearfix" data-nav="2"> 
		<div class="hdNav"> 
			<a href="__CONTROLLER__/apply" title="售后申请">售后申请</a>
			<a href="__CONTROLLER__/serversign" title="售后签收">售后签收</a>
			<a href="__CONTROLLER__/serversend" title="售后发货">售后发货</a>
			<a href="__CONTROLLER__/serveroff" title="售后取消">售后取消</a>
			<a href="__CONTROLLER__/appeal" class="on" title="申诉列表">申诉列表</a>
			<a href="__CONTROLLER__/report" title="举报列表">举报列表</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/appeal')}>" method="get">
						<dl class="clearfix">
							<dt>精准搜索：</dt>
							<dd>
								<input type="text" name="keyword" placeholder="搜索订单号" value="<{$keyword}>" />
								<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>申诉类型：</dt>
							<dd class="clearfix">
								<select name="reason">
									<option value="0">请选择</option>
									<option value="1" <eq name="reason" value="1">selected</eq>>顾客取消交易</option>
									<option value="2" <eq name="reason" value="2">selected</eq>>缺少配件</option>
									<option value="3" <eq name="reason" value="3">selected</eq>>路程太远</option>
								</select>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>申诉日期：</dt>
							<dd>
								<input type="text" name="start" class="date-select" value="<{$start}>" />
								<span class="fl">至</span>
								<input type="text" name="end" class="date-select" value="<{$end}>" />
							</dd>
						</dl>
					</form>
				</div>
				<div class="list">
					<div class="title clearfix">
						<p class="sp1">订单号</p>
						<p class="sp2">原因</p>
						<p class="sp3">时间</p>
						<p class="sp4">状态</p>
						<p class="sp5">操作</p>
					</div>
					<foreach name="appeal" item="vo">
					<dl class="clearfix" data-id="<{$vo.id}>">
						<dd class="clearfix">
							<div class="sp1 tbs">
								<p>
									<if condition="$vo['order_type'] eq 1">
										<a href="<{:U('Orders/rdetail', array('sn'=>$vo['order_sn']))}>" target="_blank"><{$vo.order_sn}></a>
									<else />
										<a href="<{:U('Orders/redetail', array('sn'=>$vo['order_sn']))}>" target="_blank"><{$vo.order_sn}></a>
									</if>
								</p>
							</div>
							<div class="sp2 tbs">
								<p>
								<span>
									<eq name="vo.reason" value="1">顾客取消交易</eq>
									<eq name="vo.reason" value="2">缺少配件</eq>
									<eq name="vo.reason" value="3">路程太远</eq>
								</span>
								</p>
							</div>
							<div class="sp3 tbs">
								<p><{$vo['appeal_date']|date="Y-m-d H:i:s",###}></p>
							</div>
							<div class="sp4 tbs">
								<p>
									<if condition="$vo['appeal_status'] eq 1">
										待核准
									<elseif condition="$vo['appeal_status'] eq 2" />
										已核准
									<else />
										取消核准
									</if>
								</p>
							</div>
							<div class="sp5 tbs">
								<if condition="$vo['appeal_status'] eq 1">
									<button class="agree" type="button">核准</button>
									<button class="shut" type="button">取消</button>
								</if>
							</div>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="page">
					<{$page}>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>
			$("input[name=start]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$("input[name=end]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

			$('.bdCont').delegate('.sp5 button','click',function(){
				var type = $(this).attr('class');
				var id = $(this).parents('dl').attr('data-id');
				var ok = confirm('确定执行该操作吗？');
				if(!ok){return false;}
				$.post('__CONTROLLER__/doAppeal', {'type': type,'id': id}, function (d) {
					if(d > 0){
						window.location.href = window.location.href;
					}else{
						alert('网络错误！请重试！');
					}
				});
			});
			</script>
	</block>