<extend name="Public:server" />
<block name="cssFile">		
	<link href="__PUBLIC__/Home/servercss/edit.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">

</block>

<block name="publicBody">
<div class="cont clearfix"> 
	<div class="hdNav"> 
		<a href="#" class="on">修改收货地址</a>
	</div>
	<div class="bdCont">
		<div class="tab posR">
			<form action="<{:U('Ssystem/doEditAddress')}>" method="post" id="edit">
			<div class="bd">
				<input type="hidden" name="id" value="<{$order.id}>" />
				<div class="rope">
					<label for="name">收货人姓名</label>
					<input type="text" id="name" name="reciver_user" placeholder="姓名" value="<{$order.reciver_user}>" />
				</div>
				<div class="rope">
					<label for="phone">收货人电话</label>
					<input type="tel" id="phone" name="reciver_phone" placeholder="电话" value="<{$order.reciver_phone}>" />
				</div>
				<div class="rope">
					<label for="address">收货地址</label>
					<{$city.str}>
				</div>
				<div class="rope">
					<label for="detialAddress">详细地址</label>
					<input type="text" id="detialAddress" name="address" placeholder="详细地址" value="<{$order.address}>" />
				</div>
				<div class="rope btns">
					<button class="sub_address" type="submit">提交</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</block>
<block name="footScript">
	<script>
		// 城市三级联动
		<{$city.script}>
	</script>
</block>