<extend name="Public:server" />
	<block name="cssFile">		
		<link href="__PUBLIC__/Home/servercss/printlist.css" rel="stylesheet" type="text/css">
    </block>
    <block name="topJsFile">
		
    </block>
   
    <block name="publicBody">
	<div class="cont">
		<div class="container-fluid ddd">
			<div class="title clearfix">
				<div class="imgArea"><img src="/Public/Forum/images/logo.png"/></div>
				<div class="textArea">
					<p>公司：广东省广州市海珠区杨协成电子创意园A座319之1</p>
					<p>电话：400-6233-866</p>
					<p>网址：www.caobao.com</p>
				</div>
			</div>
			<h5>订单号:<{$order.order_sn}><span class="order_date"><{$order['order_date']|date="Y-m-d",###}></span></h5>
		</div>
		<div class="container-fluid ddd">
			<div class="row-fluid">
				<div class="span12">
					<div>
						<div class="control-group">
							<div class="widget-box">
								<div class="widget-title clearfix">
									<h5>商品信息</h5>
								</div>
								<div class="widget-content nopadding">
									<table class="table table-bordered table-striped">
										<thead>
										<tr>
											<th>#</th>
											<th>名称</th>
											<th>属性</th>
											<th>单价</th>
											<th>数量</th>
											<th>总计</th>
										</tr>
										</thead>
										<tbody>
										<foreach name="product" item="vo">
											<if condition="($vo['service'] eq '') AND ($vo['shop_id'] eq 0)">
											<tr>
												<td style="text-align:center;vertical-align: middle;"><{++$a}></td>
												<td style="text-align:left;vertical-align: middle;"><{$vo.pro_name}></td>
												<td style="text-align:center;vertical-align: middle;"><{$vo.attr_name}></td>
												<td style="text-align:center;vertical-align: middle;"><{$vo.pro_price}></td>
												<td style="text-align:center;vertical-align: middle;"><{$vo.pro_number}></td>
												<td style="text-align:center;vertical-align: middle;"><{$vo['pro_price']*$vo['pro_number']|number_format=2,'.',''}></td>
											</tr>
											</if>
										</foreach>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-title clearfix">
						<span>商品合计:　￥<{$schedule.pro_money|number_format=2,'.',''}></span>
						<span>&nbsp;&nbsp;邮费:　￥<{$schedule.shipping_fee}></span>
						<span>&nbsp;&nbsp;草包豆抵扣:　￥<{$schedule.virtual_money/100|number_format=2,'.',''}></span>
						<span>&nbsp;&nbsp;支付价格:　￥<{$schedule.shop_money|number_format=2,'.',''}></span>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid ddd">
			<div class="row-fluid">
				<div class="span12">
					<div class="widget-box userNews">
						<div class="widget-title clearfix">
							<h5>用户信息</h5>
						</div>
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped">
								<tbody>
								<tr class="even gradeC">
									<td style="width: 85px;">收货人:</td>
									<td><{$order.reciver_user}></td>
									<td style="width:85px;">电话:</td>
									<td><{$order.reciver_phone}></td>
									<td style="width: 85px;">快递公司:</td>
									<td><eq name="schedule.cname" value="">默认<else /><{$schedule.cname}></eq></td>
								</tr>
								<tr class="even gradeC">
									<td>地址:</td>
									<td colspan="5">
										<{$order['pro_addr']}> <{$order['city_addr']}> <{$order['addr']}> <{$order['address']}>
									</td>
								</tr>
								<if condition="$schedule.remarks neq ''">
								<tr class="even gradeC">
									<td>备注:</td>
									<td colspan="5">
										<{$schedule['remarks']}>
									</td>
								</tr>
								</if>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="print">
				<a href="javascript:a();"> 打印 </a>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
		<script>
			//打印输出
			function a() {
				$(".ddd").jqprint();
			}
		</script>
	</block>