<extend name="Public:server" />
	<block name="cssFile">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.skinNice.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
		
		<link href="__PUBLIC__/Home/servercss/send.css" rel="stylesheet" type="text/css">
    </block>
    <block name="topJsFile">
		<script src="__PUBLIC__/Home/js/ion.rangeSlider.js"></script>
		<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
    </block>
   
    <block name="publicBody">
	<div class="cont clearfix" data-nav="1"> 
		<div class="hdNav"> 
			<a href="__CONTROLLER__/productsend" title="发货">发货</a>
			<a href="__CONTROLLER__/productsended" class="on" title="已发货">已发货</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/productsended')}>" method="get">
						<dl class="clearfix">
							<dt>精准搜索：</dt>
							<dd>
								<input type="text" name="keyword" placeholder="搜索订单号" value="<{$keyword}>" />
								<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>下单日期：</dt>
							<dd>
								<input type="text" name="start" class="date-select" value="<{$start}>" />
								<span class="fl">至</span>
								<input type="text" name="end" class="date-select" value="<{$end}>" />
							</dd>
						</dl>
					</form>
				</div>
				<div class="list">
					<div class="title clearfix">
						<p class="sp1">商品信息</p>
						<p class="sp2">单价</p>
						<p class="sp3">数量</p>
						<p class="sp4">小结</p>
					</div>
					<foreach name="orders" item="vo">
					<dl class="clearfix" data-id="<{$vo.id}>" data-orderNo="<{$vo.order_sn}>">
						<dt class="clearfix">
							<p class="orderNo">订单编号：<span><{$vo.order_sn}></span></p>
							<p class="payWay">支付方式：
							<span>
								<eq name="vo.pay_mode" value="0">支付宝</eq>
								<eq name="vo.pay_mode" value="1">银联在线</eq>
								<eq name="vo.pay_mode" value="2">网银支付</eq>
								<eq name="vo.pay_mode" value="3">微信支付</eq>
								<eq name="vo.pay_mode" value="4">余额支付</eq>
								<eq name="vo.pay_mode" value="5">京东支付</eq>
							</span>
							</p>
							<p class="date">下单时间：<span><{$vo.order_date|date="Y-m-d H:i:s",###}></span></p>
						</dt>
						<foreach name="vo.product" item="v">
						<if condition="$v['shop_id'] eq 0">
						<dd class="clearfix">
							<div class="sp1 clearfix tbs">
								<div class="im fl"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" /></div>
								<div class="ti fl">
									<p><{$v.pro_name}></p>
									<p><{$v.attr_name}></p>
								</div>
							</div>
							<div class="sp2 tbs">
								<p class="tbCell">
									<span><{$v.pro_price}></span>
								</p>
							</div>
							<div class="sp3 tbs">
								<p class="tbCell">
									<span><{$v.pro_number}></span>
								</p>
							</div>
							<div class="sp4 tbs">
								<p class="tbCell">
									<span><{$v.pro_money|number_format=2,'.',''}></span>
								</p>
							</div>
						</dd>
						</if>
						</foreach>
						<dd class="clearfix">
							<span class="allprice"><span class="allcount">总计：</span><b><{$vo.schedule.shop_money}></b> (含运费:<{$vo.schedule.shipping_fee}>)</span>
							<div class="btn-groups clearfix">
								<a class="change-shipping" data-id="<{$vo.id}>" id="change_deliver" href="javascript:;">修改运单号</a>
								<a class="look-orders" href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>" target="_blank">查看订单</a>
							</div>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="page">
					<{$page}>
				</div>
			</div>
		</div>
	</div>
	<!-- 发货 -->
	<div class="posF" id="delivery">
		<div class="bg"></div>
		<div class="box300">
			<div class="hd posR">
				<p>填写快递</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<input type="hidden" name="id" value="0" />
				<div class="rope">
					<select name="shipping_way" id="shipping_way">
						<foreach name="shipping" item="vo">
						<option value="<{$vo.id}>"><{$vo.cname}></option>
						</foreach>
					</select>
				</div>
				<div class="rope">
					<input type="tel" name="shipping_num" placeholder="请填写快递单号" />
				</div>
				<div class="rope btns">
					<button type="button" class="off">取消</button>
					<button type="button" class="submit">提交</button>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>
			$("input[name=start]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$("input[name=end]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			
			$(".bdCont").on("click","#change_deliver",function(){
				var id = $(this).attr('data-id');
				$('#delivery .bd input[name=id]').val(id);
				$("#delivery").slideDown(300);
			});
			
			$("body").on("click","#delivery button.submit",function(){
				var id  = $('#delivery .bd input[name=id]').val();       
				var way = $('#delivery .bd #shipping_way').val();
				var num = $('#delivery .bd input[name=shipping_num]').val();   
				if(!num || num == ""){
					alert('请输入快递单号');
					return false;
				}
				$.post('__CONTROLLER__/delivery', {'id':id, 'way':way, 'num':num}, function (d) {
					if(d){
						window.location.href=window.location.href;
					}else{
						alert('网络错误！请重试！');
						return false;
					}
				});
			});
		</script>
	</block>