<extend name="Public:server" />
	<block name="cssFile">
		<link href="__PUBLIC__/Home/servercss/rejected.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.skinNice.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
    </block>
    <block name="topJsFile">
		<script src="__PUBLIC__/Home/js/ion.rangeSlider.js"></script>
		<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
    </block>
   
    <block name="publicBody">
	<div class="posF" id="orderInfo">
		<div class="bg"></div>
		<div class="box400">
			<div class="hd posR">
				<p>订单详情</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd"></div>
		</div>
	</div>
	<div class="posF" id="back">
		<div class="bg"></div>
		<div class="box300">
			<div class="hd posR">
				<p>退回详情</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<div class="rope">
					<textarea name="remark" maxlength="200" placeholder="请输入退回原因"></textarea>
				</div>
				<div class="rope clearfix">
					<button type="button" class="off">关闭</button>
					<button type="button" class="submit">提交</button>
				</div>
			</div>
		</div>
	</div>
	<div class="cont clearfix" data-nav="3"> 
		<div class="hdNav"> 
			<a href="__CONTROLLER__/withdraw" title="">提现申请</a> 
			<a href="__CONTROLLER__/refund" class="on" title="">待退款记录</a>
			<a href="__CONTROLLER__/refundlist" title="">已退款记录</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/refund')}>" method="get">
						<dl class="clearfix">
							<dt>精准搜索：</dt>
							<dd>
								<input type="text" name="keyword" placeholder="搜索服务单号" value="<{$keyword}>" />
								<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>申请日期：</dt>
							<dd>
								<input type="text" name="start" class="date-select" value="<{$start}>" />
								<span class="fl">至</span>
								<input type="text" name="end" class="date-select" value="<{$end}>" />
							</dd>
						</dl>
					</form>
				</div>
				<div class="list">
					<div class="title clearfix">
						<p class="sp1">售后产品</p>
						<p class="sp2">售后类型</p>
						<p class="sp3">售后状态</p>
						<p class="sp4">订单详情</p>
						<p class="sp5">售后操作</p>
					</div>
					<foreach name="service" item="vo">
					<dl class="clearfix" data-orderNo="<{$vo.order_id}>" data-server="<{$vo.service_sn}>" data-serverid="<{$vo.id}>">
						<dt class="clearfix">
							<p class="orderNo">订单编号：<span><a href="<{:U('Orders/odetail', array('sn'=>$vo['order']['order_sn']))}>" target="_blank"><{$vo.order.order_sn}></a></span></p>
							<p class="serverNo">售后编号：<span><{$vo.service_sn}></span></p>
							<p class="date">申请时间：<span><{$vo['apply_time']|date="Y-m-d H:i:s",###}></span></p>
						</dt>
						<dd class="clearfix">
							<div class="sp1 tbs">
								<p><{$vo.product.pro_name}> <{$vo.product.attr_name}></p>
							</div>
							<div class="sp2 tbs">
								<p><span>退款</span><span>￥<{$vo.pro_money|number_format=2,'.',''}></span></p>
							</div>
							<div class="sp3 tbs">
								<p>待退款</p>
							</div>
							<div class="sp4 tbs">
								<p><a href="javascript:void(0);" class="orderInfo">订单详情</a></p>
							</div>
							<div class="sp5 tbs">
								<button class="sign" type="button">退款</button>
							</div>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="page">
					<{$page}>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>

			$("input[name=start]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$("input[name=end]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

			$('.bdCont').delegate('.list a.orderInfo','click',function(){
				var id = $(this).parents('dl').attr('data-orderNo');
				$.post('__CONTROLLER__/order_info', {'id': id}, function (d) {
					data = JSON.parse(d);
					if(data != ''){
						var html = '';
						for(var a = 0;a < data.length;a++){
							if(data[a][0] && !data[a][1]){
								data[a][1] = '无';
							}
							html += '<dl class="clearfix"><dt>'+ data[a][0] +'：</dt><dd>'+ data[a][1] +'</dd></dl>';
						}
						$('#orderInfo .bd').empty();
						$('#orderInfo .bd').append(html);
						$('#orderInfo').slideDown(250);
						boxPos($('#orderInfo'));
					}else{
						alert('网络错误！请重试！');
						return false;
					}
				});
			}).delegate('.sp5 button','click',function(){
				var type = $(this).attr('class');
				if(type == 'sign'){
					var id = $(this).parents('dl').attr('data-serverid');
					var ok = confirm('退款之前需要确认是否已经打款给顾客！确认退款？');
					if(!ok){return false;}
					/*更新售后服务订单并刷新页面
					$.post()
					*/
					$.post('__CONTROLLER__/service_refund', {'id':id},function (data){
						if(data == 1){
							window.location.href = window.location.href;
						}else{
							alert('网络错误！请重试！');
						}
					})
					
				}
			})
			
			</script>
	</block>