<extend name="Public:server" />
	<block name="cssFile">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.skinNice.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
		<link href="__PUBLIC__/Home/servercss/search.css" rel="stylesheet" type="text/css">
    </block>
    <block name="topJsFile">
		<script src="__PUBLIC__/Home/js/ion.rangeSlider.js"></script>
		<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
    </block>
   
    <block name="publicBody">
	<div class="posF" id="postInfo">
		<div class="bg"></div>
		<div class="box600">
			<div class="hd posR">
				<p>物流信息</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd"></div>
		</div>
	</div>
	<div class="cont clearfix" data-nav="0"> 
		<div class="hdNav"> 
			<a href="<{:U('Ssystem/shopping')}>">购物订单</a>
			<a href="<{:U('Ssystem/repair')}>" class="on">维修订单</a>
			<a href="<{:U('Ssystem/recovery')}>">回收订单</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/repair')}>" method="get">
						<dl class="clearfix">
							<dt>精准搜索：</dt>
							<dd>
								<input type="text" name="keyword" placeholder="搜索订单号 或 手机号码" value="<{$keword}>" />
								<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
								<a href="<{:U('Ssystem/export', array('type'=>1, 'keyword'=>$keyword, 'start'=>$start, 'end'=>$end, 'status'=>$status))}>" class="button">导出</a>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>城市地区：</dt>
							<dd>
								<{$city.str}>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>订单日期：</dt>
							<dd>
								<input type="text" name="start" class="date-select" value="<{$start}>" />
								<span class="fl">至</span>
								<input type="text" name="end" class="date-select" value="<{$end}>" />
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>维修方式：</dt>
							<dd>
								<select name="way">
									<option></option>
									<option value="3" <eq name="way" value="3">selected</eq>>邮寄维修</option>
									<option value="2" <eq name="way" value="2">selected</eq>>上门维修</option>
									<option value="1" <eq name="way" value="1">selected</eq>>到站维修</option>
								</select>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>订单状态：</dt>
							<dd>
								<select name="status">
									<option></option>
									<option value="2" <eq name="status" value="2">selected</eq>>已完成</option>
									<option value="1" <eq name="status" value="1">selected</eq>>正在交易</option>
									<option value="0" <eq name="status" value="0">selected</eq>>已取消</option>
								</select>
							</dd>
						</dl><dl class="clearfix">
							<dt>维修状态：</dt>
							<dd>
								<select name="sstatus">
									<option></option>
									<option value="1" <eq name="sstatus" value="1">selected</eq>>等待报价</option>
									<option value="2" <eq name="sstatus" value="2">selected</eq>>等待维修</option>
									<option value="3" <eq name="sstatus" value="3">selected</eq>>维修完成</option>
								</select>
							</dd>
						</dl>
					</form>
				</div>
				<div class="list">
					<div class="title clearfix">
						<p class="sp1">产品</p>
						<p class="sp2">价格</p>
						<p class="sp3">状态</p>
						<p class="sp4">操作</p>
					</div>
					<foreach name="orders" item="order">
					<dl class="clearfix" data-id="<{$order['id']}>" data-orderNo="<{$order['order_sn']}>" data-post="123456789">
						<dt class="clearfix">
							<p class="orderNo">订单编号：<span><{$order['order_sn']}></span></p>
							<p class="fl ordertype">维修方式：
							<span>
							<eq name="order.server_way" value="0">等待选择</eq>
							<eq name="order.server_way" value="1">到站维修</eq>
							<eq name="order.server_way" value="2">上门维修</eq>
							<eq name="order.server_way" value="3">邮寄维修</eq>
							</span></p>
							<if condition="($order['pay_status'] eq '1')">
							<p class="payWay">支付方式：
							<span>
							<eq name="order.pay_mode" value="0">支付宝</eq>
							<eq name="order.pay_mode" value="1">银联在线</eq>
							<eq name="order.pay_mode" value="2">网银支付</eq>
							<eq name="order.pay_mode" value="3">微信支付</eq>
							<eq name="order.pay_mode" value="4">余额支付</eq>
							<eq name="order.pay_mode" value="5">京东支付</eq>
							</span>
							</p>
							</if>
							<neq name="order.ok_date" value="0">
							<p class="date">完成时间：<span><{$order['ok_date']|date="Y-m-d H:i:s",###}></span></p>
							</neq>
							<p class="date">下单时间：<span><{$order['order_date']|date="Y-m-d H:i:s",###}></span></p>
						</dt>
						<dd class="clearfix">
							<div class="sp1 clearfix tbs">
								<div class="im fl"><img src="<{$order['show_img']}>" /></div>
								<div class="ti fl">
									<p><{$order['show_name']}></p>
								</div>
							</div>
							<div class="sp2 tbs">
								<p class="tbCell">
									<span>
										<neq name="order.new_price" value="0">
											<i class="throwLine"><{$order['deail_price']}></i>
											<i class="fontRed"><{$order['new_price']}></i>
										<else />
											<i class="fontRed"><{$order['deail_price']}></i>
										</neq>
									</span>
								</p>
							</div>
							<div class="sp3 tbs">
								<p class="tbCell">
									<span>
										<if condition="($order['order_status'] eq 0)">
											已取消
										<elseif condition="($order['order_status'] eq 1)"/>
											<if condition="($order['pay_status'] eq 1)">
												已付款
											<else />
												<eq name="order.server_status" value="1">待付款，等待报价</eq>
												<eq name="order.server_status" value="2">待付款，等待维修</eq>
												<eq name="order.server_status" value="3">待付款，维修完成</eq>
											</if>
										<elseif condition="($order['order_status'] eq 2)"/>
											已完成
										</if>
									</span>
									<a href="<{:U('Orders/rdetail', array('sn'=>$order['order_sn']))}>" target="_blank">订单详情</a>
								</p>
							</div>
							<div class="sp4 tbs">
								<p class="tbCell">
									<if condition="($order['shipping_way'] neq '0') AND ($order['shipping_num'] neq '0')">
									<button type="button" shipping-way="<{$order['shipping_way']}>" shipping-num="<{$order['shipping_num']}>" class="postInfo">查看物流</button>
									</if>
								</p>
							</div>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="page">
					<span>共 <{$count}> 个订单, 总计: <{$money|number_format=2,'.',''}> 元</span> <{$page}>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>
			// 城市三级联动
			<{$city.script}>
		
			$("input[name=start]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$("input[name=end]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

			$('.bdCont').delegate('.list .postInfo','click',function(){//物流信息
				var way = $(this).attr('shipping-way');
				var no = $(this).attr('shipping-num');
				/*
				$.post()
				*/
				$.post('__CONTROLLER__/shipping', {'way':way,'no':no}, function (d) {
					if(d != ''){
						data = JSON.parse(d);
						var html = "<table border='0' cellspacing='0' cellpadding='0' id='showtablecontext'><tr><td width='150'>快递公司:"+data[0]+"</td><td>物流单号:"+no+"</td></tr>";
						for(var i=0;i<data[1].length;i++){
							html += "<tr><td>"+data[1][i]['time']+'</td><td>'+data[1][i]['context']+"</td></tr>"
						}
						html += '</table>';
						$('#postInfo .bd').empty();
						$('#postInfo .bd').append(html);
						$('#postInfo').slideDown(250);
						boxPos($('#postInfo'));
					}else{
						alert('网络错误！请重试！');
						return false;
					}
				});
			});
		</script>
	</block>