<extend name="Public:server" />
	<block name="cssFile">
		<link href="__PUBLIC__/Home/servercss/report.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ion.rangeSlider.skinNice.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
    </block>
    <block name="topJsFile">
		<script src="__PUBLIC__/Home/js/ion.rangeSlider.js"></script>
		<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
    </block>
   
    <block name="publicBody">
	<div class="posF" id="report">
		<div class="bg"></div>
		<div class="box500">
			<div class="hd posR">
				<p></p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
			</div>
		</div>
	</div>
	<div class="cont clearfix" data-nav="2"> 
		<div class="hdNav"> 
			<a href="__CONTROLLER__/apply" title="售后申请">售后申请</a>
			<a href="__CONTROLLER__/serversign" title="售后签收">售后签收</a>
			<a href="__CONTROLLER__/serversend" title="售后发货">售后发货</a>
			<a href="__CONTROLLER__/serveroff" title="售后取消">售后取消</a>
			<a href="__CONTROLLER__/appeal" title="申诉列表">申诉列表</a>
			<a href="__CONTROLLER__/report" class="on" title="举报列表">举报列表</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/report')}>" method="get">
						<dl class="clearfix">
							<dt>精准搜索：</dt>
							<dd>
								<input type="text" name="keyWord" placeholder="搜索维修师店铺名" value="<{$keyWord}>" />
								<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>举报日期：</dt>
							<dd>
								<input type="text" name="startDate" class="date-select" value="<{$startDate}>" />
								<span class="fl">至</span>
								<input type="text" name="endDate" class="date-select" value="<{$endDate}>" />
							</dd>
						</dl>
					</form>
				</div>
				<div class="list">
					<div class="title clearfix">
						<p class="sp1">举报人</p>
						<p class="sp2">被举报人</p>
						<p class="sp3">举报类型</p>
						<p class="sp4">状态</p>
						<p class="sp5">操作</p>
					</div>
					<foreach name="reportRes" item="vo">
					<dl class="clearfix">
						<dt class="clearfix">
							<p class="reportNo">举报编号：<span><{$vo.report_sn}></span></p>
							<p class="date">举报时间：<span><{$vo.create_time|date="Y-m-d H:i:s",###}></span></p>
						</dt>
						<dd class="clearfix">
							<div class="sp1 tbs">
								<p><neq name="vo.mobile" value=""><{$vo.mobile}><else /><{$vo.email}></neq></p>
							</div>
							<div class="sp2 tbs">
								<p><{$vo.shop_name}></p>
							</div>
							<div class="sp3 tbs">
								<p>
								<eq name="vo.content" value="1">临时加价</eq>
								<eq name="vo.content" value="2">服务态度差</eq>
								<eq name="vo.content" value="3">服务不专业</eq>
								<eq name="vo.content" value="4">拒绝退款</eq>
								<eq name="vo.content" value="5">问题复现，拒绝售后</eq>
								<eq name="vo.content" value="6">商家不营业</eq>
								<eq name="vo.content" value="7">不提供服务</eq>
								</p>
							</div>
							<div class="sp4 tbs">
								<p><eq name="vo.status" value="1">已处理<else /><span class="result" report-id="<{$vo.id}>">待处理</span></eq></p>
							</div>
							<div class="sp5 tbs">
								<p><span class="info" report-id="<{$vo.id}>">查看详情</span></p>
							</div>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="page">
					<{$page}>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>
			$("input[name=startDate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$("input[name=endDate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
			$('.bdCont').delegate('span.info','click',function(){
				var _this = $(this);
				var report = _this.parents('dl');
				var reportNo = report.find('.reportNo span').text();
				$.post('__CONTROLLER__/report_info', {'sn':reportNo}, function(d){
					var data = JSON.parse(d);
					if(data != ''){
						var html = '';
						html += '<dl class="clearfix"><dt>举报人：</dt>';
						html += '<dd>'+ data['uname'] +'</dd></dl>';
						html += '<dl class="clearfix"><dt>举报人电话：</dt>';
						html += '<dd>'+ data['mobile'] +'</dd></dl>';
						html += '<dl class="clearfix"><dt>被举报人：</dt>';
						html += '<dd>'+ data['shop_name'] +'</dd></dl>';
						html += '<dl class="clearfix"><dt>举报描述：</dt>';
						html += '<dd>'+ data['description'] +'</dd></dl>';
						html += '<dl class="clearfix"><dt>处理结果：</dt>';
						html += '<dd>'+ data['res'] +'</dd></dl>';
						
						$('#report .bd').html(html);
						$('#report .hd p').text('举报详情');
					}else{
						alert('网络错误！请重试！');
						return false;
					}
					$('#report').slideDown(250);
					boxPos($('#report'));
				});
				
			}).delegate('span.result','click',function(){
				var id = $(this).attr('report-id');
				var textarea = '<div class="rope"><input type="hidden" name="id" value="'+ id +'" /><textarea name="reportResult" placeholder="请简要输入处理结果！以备查阅！"></textarea></div><div class="rope"><button type="button" class="off">取消</button><button type="button" class="submit">提交</button></div>';
				$('#report .bd').html(textarea);
				$('#report .hd p').text('举报处理结果');
				$('#report').slideDown(250);
				boxPos($('#report'));
			});
			$('#report').delegate('button.submit','click',function(){
				var id = $('#report input[name=id]').val();
				var textarea = $('#report textarea').val();
				if(!textarea){
					alert('请填写处理结果！');
					return false;
				}else{
					$.post('__CONTROLLER__/doReportStatus', {'id':id, 'result':textarea}, function(d){
						if(d != 1){
							alert('提交失败！请重试！');
							return false;
						}else{
							window.location.href = window.location.href;	//页面刷新
						}
					});
				}
			})
		</script>
	</block>