<extend name="Public:server" />
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
	
	<link href="__PUBLIC__/Home/servercss/shopping.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>

<block name="publicBody">
<div class="cont clearfix" data-nav="0">
	<div class="hdNav"> 
		<a href="<{:U('Ssystem/shopping')}>" class="on">购物订单</a>
		<a href="<{:U('Ssystem/repair')}>">维修订单</a>
		<a href="<{:U('Ssystem/recovery')}>">回收订单</a>
	</div>
	<div class="bdCont">
		<div class="tab posR">
			<div class="cond">
				<form name="shop" action="<{:U('Ssystem/shopping')}>" method="get">
					<dl class="clearfix">
						<dt>精准搜索：</dt>
						<dd>
							<input type="text" name="keyword" placeholder="搜索订单号" value="<{$keyword}>" />
							<button type="submit" name="search" id="search" class="search icon-search">&nbsp;</button>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>下单日期：</dt>
						<dd>
							<input type="text" name="start" class="date-select" value="<{$start}>" />
							<span class="fl">至</span>
							<input type="text" name="end" class="date-select" value="<{$end}>" />
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>订单状态：</dt>
						<dd>
							<select name="status">
								<option></option>
								<option value="2" <eq name="status" value="2">selected</eq>>已完成</option>
								<option value="1" <eq name="status" value="1">selected</eq>>正在交易</option>
								<option value="0" <eq name="status" value="0">selected</eq>>已取消</option>
							</select>
						</dd>
					</dl>
				</form>
			</div>
			<div class="list">
				<div class="title clearfix">
					<p class="sp1">商品信息</p>
					<p class="sp2">单价</p>
					<p class="sp3">数量</p>
					<p class="sp4">小结</p>
				</div>
				<foreach name="orders" item="vo">
				<dl class="clearfix" data-id="<{$vo.id}>">
					<dt class="clearfix">
						<p class="orderNo">订单编号：<span><{$vo.order_sn}></span></p>
						<p class="payWay">支付方式：
						<span>
							<eq name="vo.pay_mode" value="0">支付宝</eq>
							<eq name="vo.pay_mode" value="1">银联在线</eq>
							<eq name="vo.pay_mode" value="2">网银支付</eq>
							<eq name="vo.pay_mode" value="3">微信支付</eq>
							<eq name="vo.pay_mode" value="4">余额支付</eq>
							<eq name="vo.pay_mode" value="5">京东支付</eq>
						</span>
						</p>
						<p class="date">下单时间：<span><{$vo.order_date|date="Y-m-d H:i:s",###}></span></p>
					</dt>
					<foreach name="vo.product" item="v">
					<if condition="$v['shop_id'] eq 0">
					<dd class="clearfix">
						<div class="sp1 clearfix tbs">
							<div class="im fl"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" /></div>
							<div class="ti fl">
								<p><{$v.pro_name}></p>
								<p><{$v.attr_name}></p>
							</div>
						</div>
						<div class="sp2 tbs">
							<p class="tbCell">
								<span><{$v.pro_price}></span>
							</p>
						</div>
						<div class="sp3 tbs">
							<p class="tbCell">
								<span><{$v.pro_number}></span>
							</p>
						</div>
						<div class="sp4 tbs">
							<p class="tbCell">
								<span><{$v.pro_money|number_format=2,'.',''}></span>
							</p>
						</div>
					</dd>
					</if>
					</foreach>
					<dd class="clearfix">
						<div class="order-statu">订单状态：
							<if condition="($vo['order_status'] eq 0)">
								<a href="javascript:;">已取消</a>
							<elseif condition="($vo['order_status'] eq 1)"/>
								<if condition="($vo['pay_status'] eq 1)">
									<if condition="$vo['schedule']['shop_status'] eq 1">
										<a href="javascript:;">待发货</a>
									<elseif condition="$vo['schedule']['shop_status'] eq 2"/>
										<a href="javascript:;">已发货</a>
									<elseif condition="$vo['schedule']['shop_status'] eq 3"/>
										<a href="javascript:;">已收货</a>
									</if>
								<else />
									<a href="javascript:;">待付款</a>
								</if>
							<elseif condition="($vo['order_status'] eq 2)"/>
								<a href="javascript:;">已完成</a>
							</if>
						</div>
						<span class="allprice"><span class="allcount">总计：</span><b><{$vo.schedule.shop_money}></b> (含运费:<{$vo.schedule.shipping_fee}>)</span>
						<div class="btn-groups clearfix">
							<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 0) AND ($vo['schedule']['shipping_fee'] gt 0)">
								<a class="change-fee" onClick="return confirm('确定免除该订单运费?');" href="<{:U('Ssystem/exemptFee', array('id'=>$vo['id']))}>">免运费</a>
							</if>
							<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 0)">
								<a class="change-price" id="change_price" href="javascript:;">改价</a>
							</if>
							<a class="look-orders" href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>" target="_blank">查看订单</a>
						</div>
					</dd>
				</dl>
				</foreach>
			</div>
			<div class="page">
				<span>共 <{$count}> 个订单, 总计: <{$money|number_format=2,'.',''}> 元</span> <{$page}>
			</div>
		</div>
	</div>
</div>
<!-- 改价 -->
<div class="posF" id="changePrice">
	<div class="bg"></div>
	<div class="box300" style="margin-top: 347.5px;">
		<div class="hd posR">
			<p>改价</p>
			<span class="off posA">&nbsp;</span>
		</div>
		<div class="bd">
			<input type="hidden" name="id" value="0">
			<div class="rope">
				<input type="tel" style="width:200px;" class="ui-input" name="money" placeholder="请填写更改后金额"/>
			</div>
			<div class="rope btns">
				<button type="button" class="off ui-button small-btn">取消</button>
				<button type="button" class="submit ui-button small-btn">提交</button>
			</div>
		</div>
	</div>
</div>
</block>
<block name="footScript">
	<script>
		$("input[name=start]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=end]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		
		$(".cont").on("click","#change_price",function(){
			var id = $(this).parents('dl').attr('data-id');
			$('#changePrice .bd input[name=id]').val(id);
			$("#changePrice").slideDown(300);
		});
		
		$("body").on("click","#changePrice button.submit",function(){
			var id    = $('#changePrice .bd input[name=id]').val();       
			var money = $('#changePrice .bd input[name=money]').val();   
			if(!money || money == ""){
				alert('请填写更改后金额');
				return false;
			}
			$.post('__CONTROLLER__/changePrice', {'id':id, 'money':money}, function (d) {
				if(d){
					window.location.href=window.location.href;
				}else{
					alert('网络错误！请重试！');
					return false;
				}
			});
		});
	</script>
</block>