<extend name="Public:server" />
	<block name="cssFile">
		<link href="__PUBLIC__/Home/servercss/withdraw.css" rel="stylesheet" type="text/css">
    </block>
    <block name="topJsFile">

    </block>
   
    <block name="publicBody">
	<div class="posF" id="order">
		<div class="bg"></div>
		<div class="box500">
			<div class="hd posR">
				<p></p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<table>
					<tbody border="1" cellspacing="0" cellpadding="0">
						<tr>
							<th class="pt1">订单编号</th>
							<th class="pt4">订单金额</th>
							<th class="pt7">结算</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="cont clearfix" data-nav="3"> 
		<div class="hdNav">
			<a href="__CONTROLLER__/withdraw" class="on" title="提现申请">提现申请</a>
			<a href="__CONTROLLER__/refund" title="">待退款记录</a>
			<a href="__CONTROLLER__/refundlist" title="">已退款记录</a>
		</div>
		<div class="bdCont">
			<div class="tab posR">
				<div class="cond">
					<form name="shop" action="<{:U('Ssystem/withdraw')}>" method="get">
						<dl class="clearfix">
							<dt>提现类型</dt>
							<dd>
								<label for="alipay"><input type="radio" name="type_id" id="alipay" <eq name="type_id" value="1">checked</eq> value="1" />支付宝</label>
								<label for="bank"><input type="radio" name="type_id" id="bank" <eq name="type_id" value="2">checked</eq> value="2" />银行卡</label>
								<button type="submit" id="search" class="search icon-search">&nbsp;</button>
							</dd>
						</dl>
					</form>
				</div>
				<div class="list master"> 
					<table border="1">
						<tr class="title">
							<th class="sp0">序号</th>
							<th class="sp8">用户编号</th>
							<th class="sp2">用户帐号(支/收款)</th>
							<th class="sp1">申请时间</th>
							<th class="sp3">提现金额</th>
							<th class="sp4">状态</th>
							<th class="sp5">操作</th>
							<th class="sp6">全选</th>
						</tr>
						<foreach name="withdrawRes" item="vo">
						<tr data-id="<{$vo.id}>">
							<td class="sp0"><{$vo.id}></td>
							<td class="sp8">
							<span class="block"><p><{$vo.user_id}></p><p><{$vo.mobile}></p></span></td>
							<td class="sp2">
								<eq name="vo.type_id" value="1">
								<span class="block"><{$vo.infos.name}> - <{$vo.infos.alipay}></span>
								<else />
								<span class="block"><{$vo.infos.name}> - <{$vo.infos.bank_name}></span>
								<span class="block"><{$vo.infos.card_no}></span>
								</eq>
							</td>
							<td class="sp1"><{$vo.create_time|date="m-d H:i",###}></td>
							<td class="sp3"><{$vo.money}></td>
							<td class="sp4"><eq name="vo.status" value="1"><span class="block">已处理</span><else /><span class="block">未处理</span></eq></td>
							<td class="sp5"><eq name="vo.status" value="0"><button type="button" class="Refund">处理</button></eq></td>
							<td class="sp6"><b class="select">&nbsp;</b></td>
						</tr>
						</foreach>
					</table>
					<div class="btns">
						<button type="button" class="allPage" title="下载满足查询条件的所有数据">下载全部未处理申请</button>
						<button type="button" class="refundCheck">批量处理选中申请</button>
					</div>
					<div class="page">
						<{$page}>
					</div>
				</div>
			</div>
		</div>
	</div>
	</block>
	<block name="footScript">
		<script>
			$('.bdCont').delegate('th.sp6','click',function(){
				$(this).toggleClass('on');
				if($(this).hasClass('on')){
					$('.bdCont table b.select').addClass('on').text('√');
					$('.bdCont table b.select').parents('tr').addClass('on');
				}else{
					$('.bdCont table b.select').removeClass('on').text('');
					$('.bdCont table b.select').parents('tr').removeClass('on');
				}
				$('.bdCont .btns button').removeAttr('data-link');
			}).delegate('.sp6 b.select','click',function(){
				$(this).toggleClass('on');
				if($(this).hasClass('on')){
					$(this).text('√');
					$(this).parents('tr').addClass('on');
				}else{
					$(this).text('');
					$(this).parents('tr').removeClass('on');
				}
				var select = $('.bdCont .sp6 b.select').length;
				var on = $('.bdCont .sp6 b.on').length;
				if(select == on){
					$('.bdCont th.sp6').addClass('on');
				}else{
					$('.bdCont th.sp6').removeClass('on');
				}
				$('.bdCont .btns button').removeAttr('data-link');
			}).delegate('button.Refund','click',function(){
				var id = $(this).parents('tr').attr('data-id');
				var ok = confirm('确定修改申请状态？操作后不可撤销！');
				if(ok == false){
					alert('请再次核对！');
					return false;
				}
				$.post('__CONTROLLER__/batch_withdraw', {'id': id}, function (d){
					if(d == 1){
						alert('处理成功！');
						window.location.href = window.location.href;
					}else{
						alert('网络错误！');
						return false;
					}
				});
			
			}).delegate('.btns button','click',function(){
				var _this = $(this);
				var cls = $(this).attr('class');
				var check = $('.bdCont .sp6 b.on');
				var ckLen = check.length;
				var ids = [];
				if(ckLen == 0){
					if(cls == 'refundCheck'){
						alert('亲，没有勾选，小的没法为您服务哇~');
						return false;
					}else if(cls == 'allPage'){
						
					}
				}
				if(cls == 'allPage'){
					var type_id = $("input[name='type_id']:checked").val();
					window.location.href="__CONTROLLER__/load_excel/type_id/"+type_id;
				}else if(cls == 'refundCheck'){
					for(var a = 0;a < ckLen; a++){
						ids[a] = $(check[a]).parents('tr').attr('data-id');
					}
					$.post('__CONTROLLER__/batch_withdraw', {'ids': ids}, function (d) {
						if(d == 1){
							alert('处理成功！');
							window.location.href = window.location.href;
						}else{
							alert('网络错误！');
						}
					});
				}
			});
		</script>
	</block>