<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <style>
        td.text-center {
            text-align: center;
        }

        a.title-link {
            color: #0066ff;
        }

        .gritter-item {
            background: none repeat scroll 0 0 #f74d4d;
            box-shadow: 3px 3px 20px #000;
            display: none;
            color: #fff;
            font-size: 14px;
            padding: 7px 10px 10px;
            width: 250px;
            position: fixed;
            z-index: 1999;
            top: 150px;
            right: 100px;
        }

        .addShippingInfoBox {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.42);
            box-shadow: 3px 3px 20px #000;
            display: none;
            color: #fff;
            font-size: 14px;
            padding: 7px 10px 10px;
            width: 250px;
            position: fixed;
            z-index: 1899;
            top: 10px;
        }

        .form_input > div.span12 > input {
            margin-left: 30px;
            width: 142px;
        }

        .form_search {
            float: left;

        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
        <a href="#" class="current">订单详情</a>
    </div>
    <h1 style="margin-top:10px;">订单列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="__CONTROLLER__/index" method="get" class="span12 form_input">
                                <div class="span12" style="padding-left:2.5%;">
                                    <input type="text" value="<{$order_sn}>" name="order_sn" placeholder="订单号码查询" class="span3">
                                    <input type="text" value="<{$order_num}>" name="order_num" placeholder="快递单号查询" class="span3">


                                    <input type="text" data-date="2018-07-12"
                                           data-date-format="yyyy-mm-dd"
                                           value="<{$time_start}>" class="datepicker "
                                           placeholder="按时间查询（开始）" class="span3" name="time_start" autocomplete="off" >


                                    <input type="text" data-date="2018-07-13" data-date-format="yyyy-mm-dd"
                                           value="<{$time_end}>" class="datepicker "
                                           placeholder="按时间查询（结束）" class="span3" name="time_end" autocomplete="off" >
                                </div>

                                <div class="span12">
                                    <div class="span2">
                                        <select name="order_status" class="">
                                            <option value="999" <?php if(!in_array($order_status,[0,1,2,3,4]))  echo 'selected';?> >按订单状态查询</option>
                                            <option value="0"  <?php if($order_status==0)  echo 'selected';?> >已取消</option>
                                            <option value="1" <?php if($order_status==1)  echo 'selected';?> >等待付款</option>
                                            <option value="2" <?php if($order_status==2)  echo 'selected';?> >等待发货</option>
                                            <option value="3" <?php if($order_status==3)  echo 'selected';?> >已发货</option>
                                            <option value="4" <?php if($order_status==4)  echo 'selected';?> >已完成</option>
                                        </select>
                                    </div>

                                    <div class="span2">
                                        <select name="order_type" class="">
                                            <option value="999" <?php if(!in_array($order_type,[0,1,2]))  echo 'selected';?> >按订单类型查询</option>
                                            <option value="0" <?php if($order_type==0)  echo 'selected';?> >购物订单</option>
                                            <option value="1" <?php if($order_type==1)  echo 'selected';?> >维修订单</option>
                                            <option value="2" <?php if($order_type==2)  echo 'selected';?> >回收订单</option>
                                        </select></div>
                                    <{$city.str}>
                                    <input type="submit" name="type_sub" class="btn btn-primary" style="width: 60px;" value="提交">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <h5>订单列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th style="width:2%;">编号</th>
                                <th style="width:8%;">用户名</th>
                                <th style="width:10%;">订单号</th>
                                <th style="width:4%;">订单类型</th>
                                <th style="width:8%;">下单时间</th>
                                <th style="width:4%;">成交金额</th>
                                <th style="width:6%;">订单状态</th>
                                <th style="width:6%;">支付状态</th>
                                <th style="width:8%;">支付方式</th>
                                <th style="width:10%;">物流单号</th>
                                <th style="width:20%;">收货地址</th>
                                <th style="width:8%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="data" item="fo">
                                <tr>
                                    <td class="text-center"><{$fo.id}></td>
                                    <td class="text-center">
                                        <a href="__APP__/User/userEdit/id/<{$fo.user_id}>" class="title-link"><{$fo.reciver_user|default='-'}>(<{$fo.uname}>) </a>
                                    </td>
                                    <td class="text-center">
                                        <eq name="fo.order_type" value="0">
                                            <a href="__CONTROLLER__/orderInfo/id/<{$fo.id}>/addid/<{$fo.shipping_addr_id}>/price/<{$fo.deail_price}>/order_status/<{$fo.order_status}>"
                                               class="title-link"><{$fo.order_sn}></a>
                                        </eq>
                                        <eq name="fo.order_type" value="1">
                                            <a href="__CONTROLLER__/repairInfo/id/<{$fo.id}>/price/<{$fo.deail_price}>"
                                               class="title-link"><{$fo.order_sn}></a>
                                        </eq>
                                        <eq name="fo.order_type" value="2">
                                            <a href="__CONTROLLER__/recoveryInfo/id/<{$fo.id}>/price/<{$fo.deail_price}>"
                                               class="title-link"><{$fo.order_sn}></a>
                                        </eq>
                                    </td>
                                    <td class="text-center">
                                        <eq name="fo.order_type" value="0">
                                            购物订单
                                        </eq>
                                        <eq name="fo.order_type" value="1">
                                            维修订单
                                        </eq>
                                        <eq name="fo.order_type" value="2">
                                            回收订单
                                        </eq>
                                    </td>
                                    <td class="text-center"><{$fo['order_date'] | date='Y-m-d H:i',###}></td>
                                    <td class="text-center">￥<{$fo.deail_price}></td>

                                    <td class="text-center order_status_now<{$fo.id}>">
                                        <eq name="fo.order_status" value="0" class="order_trash">
                                            <i class="icon-trash" style="color:#646464;">　已取消</i>
                                        </eq>
                                        <eq name="fo.order_status" value="1">
                                            <i class="icon-tasks" style="color:#eab34f;">　待付款</i>
                                        </eq>
                                        <eq name="fo.order_status" value="2">
                                            <i class="icon-time" style="color:#ff6cc8;">　待发货</i>
                                        </eq>
                                        <eq name="fo.order_status" value="3">
                                            <i class="icon-truck" style="color:#313fd3;">　已发货</i>
                                        </eq>
                                        <eq name="fo.order_status" value="4">
                                            <i class="icon-ok" style="color:#00cb00;">　已完成</i>
                                        </eq>

                                    </td>
                                    <td class="text-center">

                                        <eq name="fo.pay_status" value="0">
                                            <i class="icon-remove" style="color:#be5d3f;"></i>
                                        </eq>
                                        <eq name="fo.pay_status" value="1">
                                            <i class="icon-ok" style="color:#00cb00;"></i>
                                        </eq>

                                    </td>
                                    <td class="text-center">

                                        <eq name="fo.pay_type" value="0">
                                            <i class="icon-credit-card" style="color:#dd7cb5;">　在线支付</i>
                                        </eq>
                                        <eq name="fo.pay_type" value="1">
                                            <i class="icon-shopping-cart" style="color:#6b49cb;">　现金支付</i>
                                        </eq>

                                    </td>
                                    <td class="text-center">
                                        <a href="javasript:0;" class="shipping_num_now<{$fo.id}>"><{$fo.shipping_num}></a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javasript:0;" ><{$fo.pro_addr}> <{$fo.city_addr}> <{$fo.addr}> <{$fo.address}></a>
                                    </td>
                                    <td class="text-center">
                                        <eq name="fo.order_type" value="0">
                                            <a href="__CONTROLLER__/orderInfo/id/<{$fo.id}>"
                                               class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        </eq>
                                        <eq name="fo.order_type" value="1">
                                            <a href="__CONTROLLER__/repairInfo/id/<{$fo.id}>/price/<{$fo.deail_price}>"
                                               class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        </eq>
                                        <eq name="fo.order_type" value="2">
                                            <a href="__CONTROLLER__/orderInfo/id/<{$fo.id}>"
                                               class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        </eq>
                                        <eq name="fo.order_type" value="3">
                                            <a href="__CONTROLLER__/partInfo/id/<{$fo.id}>/addid/<{$fo.shipping_addr_id}>/price/<{$fo.deail_price}>/order_status/<{$fo.order_status}>"
                                               class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        </eq>
                                        <eq name="fo.order_type" value="4">
                                            <a href="__CONTROLLER__/partInfo/id/<{$fo.id}>/addid/<{$fo.shipping_addr_id}>/price/<{$fo.deail_price}>/order_status/<{$fo.order_status}>"
                                               class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
                                        </eq>
                                        <a href="javascript:;" title="添加物流信息" class="btn btn-info btn-mini addShipping"
                                           status="<{$fo.order_status}>" id="<{$fo.id}>" num="<{$fo.shipping_num}>"
                                           shipping_way="<{$fo.shipping_way}>"> <i class="icon-truck"></i> </a>
                                        <a href="javascript:orderCancel(<{$fo.id}>)" title="取消订单"
                                           class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11">
                                    <div class="pagination alternate text-right span9 pull-right">
                                        <{$page}>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--浮动地址显示-->
    <div class="gritter-item">
        <div class="gritter-close"></div>
        <div class="gritter-with-image"><span class="gritter-title"></span>

            <p class="gritter-msg"></p></div>
        <div style="clear:both"></div>
    </div>


    <!--浮动填写物流信息-->
    <div class="addShippingInfoBox">

        <div class="addShippingBody" style="width:300px;background:#fff
        ;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);">

            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>添加物流</h5><h5 id="shipping_msg" style="color:red;"></h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-actions">
                        <div class="control-group">
                            <div class="controls">
                                <select class="campany form-control">

                                    <foreach name="company" item="com">

                                        <option value="<{$com.id}>"><{$com.cname}></option>

                                    </foreach>

                                </select>

                            </div>
                            <span class="help-block">选择物流公司</span>
                        </div>
                        <div class="control-group">

                            <div class="controls">
                                <input type="text" value="" class="colorpicker input-big shipping_num">
                                <span class="help-block">添加物流单号</span></div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn_success">确定</button>
                            <button type="submit" class="btn btn-info btn_modify">修改</button>
                            <button type="submit" class="btn btn-danger btn_cancel">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

    <script>
        $(function () {
            boxSize();
        });

        $('.datepicker').datepicker();

        function boxSize() {
            var h = 0;
            var w = 0;
            h = $(window).height();
            w = $(window).width();
            $('.addShippingInfoBox').css({'height': h, 'width': w});
        }


        $(window).scroll(function () {
            boxSize()
        });

        /*
         $('.addShippingInfoBox').bind('click',function(){
         alert()
         $('.addShippingInfoBox').hide();
         //return false;
         })
         */

        //弹出买家地址
        $('.user_address').bind('mouseover', function () {

            $('.gritter-item').stop(true, true);
            $('.gritter-item').delay(1).slideDown(300);
            var aid = $(this).attr('id');
            var data = {'id': aid};
            $.post('__CONTROLLER__/getUserAddress', data, function (a) {
                var s = a.reciver_user;
                $('.gritter-title').html('收件人：' + s);
                $('.gritter-msg').html('<br>联系方式：<strong> ' + a.reciver_phone + '</strong><br>详细地址：' + a.province + a.city + a.area + a.street + '</td>');
            })
        })

        //隐藏买家地址
        $('.user_address').bind('mouseout', function () {

            $('.gritter-item').delay(3000).slideUp(300);

        })

        var status = 999;
        var num = '';
        var id = 0;
        var shipping_way = 0;
        //弹出物流信息
        $('.addShipping').bind('click', function () {

            status = $(this).attr('status');
            num = $(this).attr('num');
            id = $(this).attr('id');
            ship_way = $(this).attr('shipping_way');

            //$(".campany option[value= '166' ]").attr("selected", true);

            var count = $(".campany option").length;

            //$('.campany option').eq(3).css({'selected':'selected'});   //debug  无法设置option的选中状态


            $('.addShippingInfoBox').show();
            if (status == 2) {//待发货状态
                $('#shipping_msg').html('');
                $('.btn_modify').hide();
                $('.btn_success').show();

            } else if (status == 3) {//已发货状态
                $('#shipping_msg').html('');
                $('.btn_modify').show();
                $('.btn_success').hide();


            } else {//其他
                $('.btn_modify').hide();
                $('.btn_success').hide();
                $('#shipping_msg').html('订单不满足发货要求');
            }

        });


        //隐藏物流信息
        //        $('.addShippingInfoBox').bind('click', function (event) {
        //            $(this).hide();
        //            return false;
        //        })

        $('.addShippingBody').bind('click', function (event) {
            return false;
        })


        var shippingNum = '';
        var company = '';

        //点击确定按钮
        $('.btn_success').bind('click', function () {
            shippingNum = $('.shipping_num').val();
            if (shippingNum == '') {
                alert('订单号不能为空!');
                return false;
            } else {
                company = $('.campany').find("option:selected").val();
                data = {'id': id, 'shipping_num': shippingNum, 'shipping_way': company, 'order_status': '3'};
                $.post('__CONTROLLER__/shippingAdd', data, function (a) {
                    if (a > 0) {
                        var o = '.order_status_now' + id;
                        var s = '.shipping_num_now' + id;
                        $(o).html('<i class="icon-truck" style="color:#313fd3;">已发货</i>');
                        $(s).html(shippingNum);
                        $('.addShippingInfoBox').hide();
                        alert('发货成功!');
                        clear();
                    } else {
                        $('.addShippingInfoBox').hide();
                        alert('发货失败!');
                        clear();
                    }
                })
            }
        });

        //点击取消按钮
        $('.btn_cancel').bind('click', function () {
            $('.addShippingInfoBox').hide();
            clear();
        });

        //点击修改按钮
        $('.btn_modify').bind('click', function () {

            shippingNum = $('.shipping_num').val();
            if (shippingNum == '') {
                alert('订单号不能为空!');
                return false;
            } else {
                company = $('.campany').find("option:selected").val();
                data = {'id': id, 'shipping_num': shippingNum, 'shipping_way': company, 'order_status': '3'};
                $.post('__CONTROLLER__/shippingAdd', data, function (a) {
                    if (a > 0) {
                        var o = '.order_status_now' + id;
                        var s = '.shipping_num_now' + id;
                        $(o).html('<i class="icon-truck" style="color:#313fd3;">已发货</i>');
                        $(s).html(shippingNum);
                        $('.addShippingInfoBox').hide();
                        alert('更新成功!');
                        clear();
                    } else {
                        $('.addShippingInfoBox').hide();
                        alert('更新失败!');
                        clear();
                    }
                })
            }
        })

        //数据初始化
        function clear() {
            status = 999;
            num = '';
            id = 0;
            shippingNum = '';
            company = '';
            shipping_way = 0;
        }

        //取消订单
        function orderCancel(id) {
            var oid = id;
            if (oid == '') {
                alert('id 不存在!');
                return false;
            }
            if (confirm("确定要取消订单?")) {

                data = {'id': oid};
                $.post('__CONTROLLER__/OrderCancel/', data, function (a) {
                    alert(a);
                    window.location.href = window.location.href;
                })
            }

        }

        <{$city.script}>
    </script>
</block>
<!-- 底部JS执行区域 结束 -->


