<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <style>
        td.text-center {
            text-align: center;
        }

        a.title-link {
            color: #0066ff;
        }

        .gritter-item {
            background: none repeat scroll 0 0 #f74d4d;
            box-shadow: 3px 3px 20px #000;
            display: none;
            color: #fff;
            font-size: 14px;
            padding: 7px 10px 10px;
            width: 250px;
            position: fixed;
            z-index: 1999;
            top: 150px;
            right: 100px;
        }

        .addShippingInfoBox {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.42);
            box-shadow: 3px 3px 20px #000;
            display: none;
            color: #fff;
            font-size: 14px;
            padding: 7px 10px 10px;
            width: 250px;
            position: fixed;
            z-index: 1899;
            top: 10px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">订单详情</a>
    </div>
    <h1 style="margin-top:10px;">无效订单列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon">
						<input type="checkbox" id="title-checkbox" name="title-checkbox"/>
						</span>
                        <h5>订单列表</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form action="__CONTROLLER__/batchDoDelete" method="post">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
								<th><i class="icon-resize-vertical"></i></th>
                                <th style="width:2%;">编号</th>
								<th style="width:10%;">用户名</th>
								<th>订单号</th>
								<th style="width:10%;">下单时间</th>
								<th style="width:8%;">成交金额</th>
								<th style="width:8%;">订单状态</th>
								<th style="width:8%;">支付状态</th>
								<th style="width:8%;">支付方式</th>
								<th style="width:8%;">物流单号</th>
								<th style="width:10%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="data" item="fo">
                                <tr>
									<td><input type="checkbox" name="ids[]" value="<{$fo.id}>" /></td>
                                    <td class="text-center"><{$fo.id}></td>
                                    <td class="text-center">
                                        <a href="__APP__/User/userEdit/id/<{$fo.user_id}>" class="title-link"><{$fo.uname}></a>
                                    </td>
                                    <td class="text-center">
                                        <a href="__CONTROLLER__/OrderInfo/id/<{$fo.id}>/addid/<{$fo.shipping_addr_id}>/price/<{$fo.deail_price}>/order_status/<{$fo.order_status}>"
                                           class="title-link"><{$fo.order_sn}></a>
                                    </td>
                                    <td class="text-center"><{$fo['order_date'] | date='Y-m-d H:i',###}></td>
                                    <td class="text-center">￥<{$fo.deail_price}></td>

                                    <td class="text-center order_status_now<{$fo.id}>">
                                        <eq name="fo.order_status" value="0" class="order_trash">
                                            <i class="icon-trash" style="color:#646464;">　已取消</i>
                                        </eq>
                                        <eq name="fo.order_status" value="1">
                                            <i class="icon-tasks" style="color:#eab34f;">　待付款</i>
                                        </eq>
                                        <eq name="fo.order_status" value="2">
                                            <i class="icon-time" style="color:#ff6cc8;">　待发货</i>
                                        </eq>
                                        <eq name="fo.order_status" value="3">
                                            <i class="icon-truck" style="color:#313fd3;">　已发货</i>
                                        </eq>
                                        <eq name="fo.order_status" value="4">
                                            <i class="icon-ok" style="color:#00cb00;">　已完成</i>
                                        </eq>

                                    </td>
                                    <td class="text-center">

                                        <eq name="fo.pay_status" value="0">
                                            <i class="icon-remove" style="color:#be5d3f;"></i>
                                        </eq>
                                        <eq name="fo.pay_status" value="1">
                                            <i class="icon-ok" style="color:#00cb00;"></i>
                                        </eq>

                                    </td>
                                    <td class="text-center">

                                        <eq name="fo.pay_type" value="0">
                                            <i class="icon-credit-card" style="color:#dd7cb5;">　在线支付</i>
                                        </eq>
                                        <eq name="fo.pay_type" value="1">
                                            <i class="icon-shopping-cart" style="color:#6b49cb;">　现金支付</i>
                                        </eq>

                                    </td>


                                    <td class="text-center">
                                        <a href="#" class="shipping_num_now<{$fo.id}>"><{$fo.shipping_num}></a>
                                    </td>


                                    <td class="text-center">
                                        <a href="__CONTROLLER__/orderInfo/id/<{$fo.id}>/addid/<{$fo.shipping_addr_id}>/price/<{$fo.deail_price}>/order_status/<{$fo.order_status}>"
                                           title="订单详情"
                                           class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>

                                        <a href="javascript:orderCancel(<{$fo.id}>)" title="取消订单"
                                           class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11">
								<div class="btns" style="margin-top:5px">
								<select name="batch_option" class="span2" style="margin-right:10px">
									<option value="-1">请选择</option>
									<option value="1">批量删除</option>
								</select>
								<button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="icon-icon-align-justify"></i> 执行</button>
								</div>
								<div class="pagination alternate text-right span9 pull-right" style="margin-top:-20px">
								<{$page}>
								</div>
								</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

    <script>
        $(function () {
            boxSize();
        });


        function boxSize() {
            var h = 0;
            var w = 0;
            h = $(window).height();
            w = $(window).width();
            $('.addShippingInfoBox').css({'height': h, 'width': w});
        }


        $(window).scroll(function () {
            boxSize()
        });



        $('.addShippingBody').bind('click', function (event) {
            return false;
        })


        //点击取消按钮
        $('.btn_cancel').bind('click', function () {
            $('.addShippingInfoBox').hide();
            clear();
        });

        //点击修改按钮
        $('.btn_modify').bind('click', function () {

            shippingNum = $('.shipping_num').val();
            if (shippingNum == '') {
                alert('订单号不能为空!');
                return false;
            } else {
                company = $('.campany').find("option:selected").val();
                data = {'id': id, 'shipping_num': shippingNum, 'shipping_way': company, 'order_status': '3'};
                $.post('__CONTROLLER__/shippingAdd', data, function (a) {
                    if (a > 0) {
                        var o = '.order_status_now' + id;
                        var s = '.shipping_num_now' + id;
                        $(o).html('<i class="icon-truck" style="color:#313fd3;">已发货</i>');
                        $(s).html(shippingNum);
                        $('.addShippingInfoBox').hide();
                        alert('更新成功!');
                        clear();
                    } else {
                        $('.addShippingInfoBox').hide();
                        alert('更新失败!');
                        clear();
                    }
                })
            }
        })

        //数据初始化
        function clear() {
            status = 999;
            num = '';
            id = 0;
            shippingNum = '';
            company = '';
            shipping_way = 0;
        }

        //取消订单
        function orderCancel(id) {
            var oid = id;
            if (oid == '') {
                alert('id 不存在!');
                return false;
            }
            if (confirm("确定要取消订单?")) {

                data = {'id': oid};
                $.post('__CONTROLLER__/OrderCancel/', data, function (a) {
                    alert(a);
                })
            }

        }


    </script>
</block>
<!-- 底部JS执行区域 结束 -->
