<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">订单详情</a>
    </div>
    <h1 style="margin-top:10px;width:250px;">订单信息</h1>
    <span><a style="margin-top:5px; margin-right: 30px;float: right; " id="print" href="javascript:a();">[打印订单]</a></span>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">

    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid ddd">
        <hr style="margin:0;clear: right;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="widget-box">
                            <div class="widget-title"> </span>
                                <h5>商品信息</h5><h5>订单号:<{$order.order_sn}></h5><h5 style="color:red" id="price_error"></h5>

                                <eq name="order.order_status" value="0">
                                    <span style="background:#30c8d3;" class="icon-trash label label-info">已取消</span>
                                </eq>
                                <eq name="order.order_status" value="1">
                                    <span style="background:#968400;" class="icon-tasks label label-info">待付款</span>
                                </eq>
                                <eq name="order.order_status" value="2">
                                    <span style="background:#ff6cc8;" class="icon-time label label-info">待发货</span>
                                </eq>
                                <eq name="order.order_status" value="3">
                                    <span style="background:#313fd3;" class="icon-truck label label-info">已发货</span>
                                </eq>
                                <eq name="order.order_status" value="4">
                                    <span style="background:#00cb00;" class="icon-ok label label-info">已收货</span>
                                </eq>
								<eq name="order.order_status" value="5">
                                    <span style="background:#00cb00;" class="icon-ok label label-info">已完成</span>
                                </eq>
                            </div>
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>商品图片</th>
                                        <th>商品名</th>
                                        <th>商品颜色</th>
                                        <th>商品数量</th>
                                        <th>商品单价</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="data" item="vo">
                                        <tr>
                                            <td style="text-align:center;vertical-align: middle;"><{++$a}></td>
                                            <td style="text-align:center;vertical-align: middle;"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" style="width:40px;height:40px;"/></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$vo.pro_name}></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$vo.pro_color}></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$vo.pro_number}></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$vo.pro_price}></td>
                                            <div style="display: none"><{$sum += $vo['product_number'] *
                                                $vo['product_price']}>
                                            </div>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-title"><h5>商品总价:　￥<{$worth}></h5><h5>支付价格:　￥<{$price}></h5></div>
            </div>
        </div>
    </div>

    <div class="container-fluid ddd">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <h5>用户信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr class="even gradeC">
                                <td style="width: 85px;">收货人:</td>
                                <td><{$order.reciver_user}></td>
                                <td style="width:85px;">电话:</td>
                                <td><{$order.reciver_phone}></td>
                            </tr>
                            <tr class="even gradeC">
                                <td>地址:</td>
                                <td colspan="3">
                                    <if condition="strlen($order['pro_addr']) gt 0|strlen($order['city_addr']) gt 0
                                    |strlen($order['addr']) gt 0|strlen($order['address']) gt 0">
                                        <{$order['pro_addr']}>　<{$order['city_addr']}>　<{$order['addr']}>　<{$order['address']}>
                                        <else/>
                                        -
                                    </if>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div style="padding-top:20px; padding-bottom:20px; text-align:center;">
            <a href="javascript:a();" class="btn btn-primary " style="margin-right:20px"> 打印订单 </a>
            <a type="submit" href="javascript:history.go(-1);" class="btn btn-default"> 返回列表 </a>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
        var sum =<{$worth}>;  //商品总价
        var pay =<{$price}>;   //支付价格
        var x = pay / sum * 100;
        if (x >= 1) {

        } else {
            $('#price_error').html("支付的价格只相当于总价的" + x + "%,请检查!");
        }


        //打印输出
        function a() {
            $(".ddd").jqprint();
        }
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
