<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">订单详情</a>
    </div>
    <h1 style="margin-top:10px;width:250px;">订单信息</h1>
    <span><a style="margin-top:5px; margin-right: 30px;float: right; " id="print" href="javascript:a();">[打印订单]</a></span>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">

    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid ddd">
        <hr style="margin:0;clear: right;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="widget-box">
                            <div class="widget-title"> </span>
                                <h5>商品信息</h5><h5>订单号:<{$order.order_sn}></h5><h5 style="color:red" id="price_error"></h5>
                                <if condition="($order['order_status'] eq 0)">
                                    <span style="background:#968400;" class="icon-tasks label label-info">已取消</span>
                                <elseif condition="($order['order_status'] eq 1)"/>
									<span style="background:#968400;" class="icon-tasks label label-info">待付款</span>
								<elseif condition="($order['order_status'] eq 3)"/>
									<span style="background:#313fd3;" class="icon-truck label label-info">已发货</span>
								<elseif condition="($order['order_status'] eq 4)"/>
									<span style="background:#00cb00;" class="icon-ok label label-info">已收货</span>
								<else />
									<if condition="($server['server_status'] eq 1)">
										<span style="background:#00cb00;" class="icon-ok label label-info">待服务</span>
									<elseif condition="($server['server_status'] eq 2)"/>
										<span style="background:#ff6cc8;" class="icon-ok label label-info">服务中</span>
									</if>
								</if>

                            </div>
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>维修产品</th>
                                        <th>维修故障</th>
                                        <th>附加服务</th>
                                        <th>颜色</th>
                                        <th>服务价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;vertical-align: middle;"><img src="__PUBLIC__/Repair/thumb/<{$info.list_image}>" style="width:40px;height:40px;"/><{$info.cat_name}> <{$info.pro_name}></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$info.fault_name}><{$info.plan_name}></td>
                                            <td style="text-align:center;vertical-align: middle;"><eq name="server.server_add" value="1">高清贴膜<else />无</eq></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$info.color}></td>
                                            <td style="text-align:center;vertical-align: middle;"><{$order.deail_price}></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-title"><h5>维修总价:　￥<{$order.deail_price}></h5><h5>支付价格:　￥<{$order.deail_price}></h5></div>
            </div>
        </div>
    </div>

    <div class="container-fluid ddd">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <h5>用户信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr class="even gradeC">
                                <td style="width: 85px;">联系人:</td>
                                <td><{$order.reciver_user}></td>
                                <td style="width:85px;">联系电话:</td>
                                <td><{$order.reciver_phone}></td>
                            </tr>
                            <tr class="even gradeC">
                                <td>联系地址:</td>
                                <td colspan="3">
                                    <{$order['pro_addr']}>　<{$order['city_addr']}>　<{$order['addr']}>　<{$order['address']}>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<neq name="server.server_way" value="0">
    <div class="container-fluid ddd">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <h5>维修师/店信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr class="even gradeC">
                                <td>姓名:</td>
                                <td><{$repair.user_name}></td>
                                <td>电话:</td>
                                <td><{$repair.user_phone}></td>
                            </tr>
                            <tr class="even gradeC">
                                <td>地址:</td>
                                <td colspan="3">
                                    <if condition="strlen($recovery['province']) gt 0|strlen($recovery['city']) gt 0
                                    |strlen($recovery['area']) gt 0|strlen($recovery['address']) gt 0">
                                        <{$recovery.province}><{$recovery.city}><{$recovery.area}><{$recovery.address}>
                                        <else/>
                                        -
                                    </if>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</neq>
	<div class="container-fluid">
        <div style="padding-top:20px; padding-bottom:20px; text-align:center;">
            <a href="javascript:a();" class="btn btn-primary " style="margin-right:20px"> 打印订单 </a>
            <a type="submit" href="javascript:history.go(-1);" class="btn btn-default"> 返回列表 </a>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
        var sum =<{$worth}>;  //商品总价
        var pay =<{$price}>;   //支付价格
        var x = pay / sum * 100;
        if (x >= 1) {

        } else {
            $('#price_error').html("支付的价格只相当于总价的" + x + "%,请检查!");
        }


        //打印输出
        function a() {
            $(".ddd").jqprint();
        }
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
