<!--sidebar-menu-->
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> 系统后台</a>
    <ul>
        <li class="submenu"><a href="#"><i class="icon icon-home"></i> <span>后台首页</span></a>
			<ul>
                <li><a href="<{:U('Index/home')}>" data-item="后台首页">后台首页</a></li>
            </ul>
		</li>
        <li class="submenu"><a href="#"><i class="icon icon-signal"></i> <span>系统管理</span></a>
            <ul>
                <li><a href="<{:U('SystemConfig/webConfig')}>" data-item="系统管理">网站配置</a></li>
                <li><a href="<{:U('Administrator/index')}>" data-item="系统管理">系统管理员</a></li>
				<li><a href="<{:U('Jurisdiction/index')}>" data-item="系统管理">系统用户组</a></li>
                <li><a href="<{:U('Email/index')}>" data-item="系统管理">邮件配置</a></li>
                <li><a href="<{:U('Sms/index')}>" data-item="系统管理">短信配置</a></li>
                <li><a href="<{:U('Bank/index')}>" data-item="系统管理">银行管理</a></li>
                <li><a href="<{:U('Shipping/index')}>" data-item="系统管理">物流管理</a></li>
                <li><a href="<{:U('Seo/index')}>" data-item="系统管理">SEO优化</a></li>
				<li><a href="<{:U('City/index')}>" data-item="系统管理">城市管理</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-inbox"></i> <span>用户管理</span></a>
            <ul>
                <li><a href="<{:U('User/index')}>" data-item="用户管理">会员列表</a></li>
				<li><a href="<{:U('UserAgent/index')}>" data-item="用户管理">代理列表</a></li>
				<li><a href="<{:U('UserRepairs/index')}>" data-item="用户管理">维修店列表</a></li>
				<li><a href="<{:U('UserRepairs/recruit')}>" data-item="用户管理">维修师招募</a></li>
				<li><a href="<{:U('Comment/index')}>" data-item="用户管理">用户留言</a></li>
				<li><a href="<{:U('Feedback/index')}>" data-item="用户管理">咨询建议</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-shopping-cart"></i> <span>商品管理</span></a>
            <ul>
				<li><a href="<{:U('ProductCat/catList')}>" data-item="商品管理">分类管理</a></li>
				<li><a href="<{:U('Attribute/index')}>" data-item="商品管理">属性管理</a></li>
                <li><a href="<{:U('Product/index')}>" data-item="商品管理">商品列表</a></li>
				<li><a href="<{:U('Brand/index')}>" data-item="商品管理">商品品牌</a></li>
				<li><a href="<{:U('Product/stock')}>" data-item="商品管理">商品库存管理</a></li>
                <li><a href="<{:U('Product/productRecycle')}>" data-item="商品管理">商品回收站</a></li>
				<li><a href="<{:U('Repair/repairList')}>" data-item="设备列表">设备列表</a></li>
				<li><a href="<{:U('FaultCat/index')}>" data-item="商品管理">维修故障分类</a></li>
				<li><a href="<{:U('Fault/index')}>" data-item="商品管理">维修故障管理</a></li>
				<li><a href="<{:U('Plan/index')}>" data-item="商品管理">维修方案管理</a></li>
				<li><a href="<{:U('Relation/index')}>" data-item="商品管理">维修关联管理</a></li>
				<li><a href="<{:U('Recovery/recoveryContent')}>" data-item="商品管理">评估内容管理</a></li>
				<li><a href="<{:U('Recovery/recoveryRelation')}>" data-item="商品管理"><!--回收关联管理-->回收比例</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th"></i> <span>订单详情</span></a>
            <ul>
                <li><a href="<{:U('OrderInfo/index')}>" data-item="订单详情">订单列表</a></li>
                <li><a href="<{:U('OrderInfo/invalidOrder')}>" data-item="订单详情">无效订单</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>论坛管理</span></a>
            <ul>
				<li><a href="<{:U('Forum/forum')}>" data-item="版块管理">版块管理</a></li>
                <li><a href="<{:U('Forum/thread')}>" data-item="主题管理">主题管理</a></li>
				<li><a href="<{:U('Forum/post')}>" data-item="帖子管理">帖子管理</a></li>
                <li><a href="<{:U('Forum/comments')}>" data-item="评论管理">评论管理</a></li>
				<li><a href="<{:U('Forum/recycle')}>" data-item="主题回收站">主题回收站</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-tint"></i> <span>内容管理</span></a>
            <ul>
                <li><a href="<{:U('Articles/articlesList')}>" data-item="内容管理">文章管理</a></li>
                <li><a href="<{:U('News/news')}>" data-item="内容管理">新闻管理</a></li>
				<li><a href="<{:U('Wenda/wenda')}>" data-item="内容管理">问答管理</a></li>
				<li><a href="<{:U('Explain/index')}>" data-item="内容管理">说明书管理</a></li>
				<li><a href="<{:U('FaultExplain/index')}>" data-item="内容管理">故障说明</a></li>
				<li><a href="<{:U('Message/messageList')}>" data-item="内容管理">消息管理</a></li>				
                <li><a href="<{:U('AdvPosition/advList')}>" data-item="内容管理">广告管理</a></li>
                <li><a href="<{:U('Links/linksManager')}>" data-item="内容管理">友情链接</a></li>
                <li><a href="<{:U('Archives/index')}>" data-item="内容管理">单页管理</a></li>
                <li><a href="<{:U('Video/index')}>" data-item="内容管理">视频管理</a></li>
				<li><a href="<{:U('Keywords/index')}>" data-item="内容管理">关键词管理</a></li>
				<li><a href="<{:U('Cards/index')}>" data-item="内容管理">保障卡管理</a></li>
				<li><a href="<{:U('Poster/index')}>" data-item="内容管理">海报管理</a></li>
				<!--
                <li><a href="<{:U('SupportDown/fileList')}>" data-item="内容管理">相关下载</a></li>
                <li><a href="<{:U('Faq/articleList')}>" data-item="内容管理">常见问题</a></li>
                <li><a href="<{:U('SupportMap/index')}>" data-item="内容管理">网点查询</a></li>
				-->
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>网站工具</span></a>
              <ul>
                <li><a href="<{:U('Log/index')}>" data-item="网站工具">后台日志</a></li>
                <li><a href="<{:U('Search/index')}>" data-item="网站工具">热搜词管理</a></li>
                <li><a href="<{:U('Backup/index')}>" data-item="网站工具">数据库</a></li>
				<li><a href="<{:U('Cache/index')}>" data-item="网站工具">清理缓存</a></li>
              </ul>
        </li>
		<!--
        <li class="submenu"> <a href="#"><i class="icon icon-asterisk"></i> <span>人才招聘</span></a>
            <ul>
                <li><a href="<{:U('Job/index')}>" data-item="人才招聘">招聘列表</a></li>
                <li><a href="<{:U('Job/addJob')}>" data-item="人才招聘">添加职位</a></li>
                <li><a href="<{:U('Job/catIndex')}>" data-item="人才招聘">类别列表</a></li>
                <li><a href="<{:U('Job/addCat')}>" data-item="人才招聘">添加类别</a></li>
                <li><a href="<{:U('Job/applyIndex')}>" data-item="人才招聘">求职信息</a></li>
            </ul>
        </li>
		-->
    </ul>
</div>
<!--sidebar-menu-->
