<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/news-detail.css" />

</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>说明书详情<div class="share"><span>&#xe60a;</span></div></h1>
	</header>
	<div class="con">
		<div class="con_top">
			<h2><{$explain.title}></h2>
			<div class="con_top_time">
				<span class="time"><i>&#xe610;</i><{$explain.create_time|date="Y-m-d",###}></span>
				<span class="look"><i>&#xe601;</i><{$explain.clicktimes}></span>
			</div>
			<div class="con_top_con">
				<{$explain.content|htmlspecialchars_decode}>
			</div>
		</div>
	</div>
	<div class="sharesocil fixTop fullLayer z10">
		<div class="share-list fixBottom pct100">
			<div class="feature">
				<ul class="clearfix">
					<li>
						<a class="jiathis_button_qzone">
							<img src="__PUBLIC__/Mobile/images/qzone.jpg" />
							<p>QQ空间</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tsina">
							<img src="__PUBLIC__/Mobile/images/sina.jpg" />
							<p>新浪微博</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tqq">
							<img src="__PUBLIC__/Mobile/images/tx.jpg" />
							<p>腾讯微博</p>
						</a>
					</li>
					<li>
						<a class="jiatitle" onclick="jiathis_sendto('tieba');return false;">
							<img src="__PUBLIC__/Mobile/images/baidu.jpg" />
							<p>百度贴吧</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="fcancel ptb20r">取消</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->