<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/explain-list.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>说明书
		</h1>
	</header>
	<div class="con">
		<div class="lists">
			<ul class="clearfix news_list">
				<foreach name="explainRes" item="vo">
				<li>
					<a href="<{$CBW_URL}>/explain/<{$vo.id}>.html" title="<{$vo.title}>" >
						<div class="title"><{$vo.title}></div>
						<div class="content clearfix">
							<div class="pic_bd">
								<p><{$vo.description|msubstr=0,30,'utf-8',false}></p>
								<p class="look"><i>&#xe610;</i><{$vo.create_time|date="m/d",###}><i>&#xe601;</i><{$vo.clicktimes}></p>
							</div>
						</div>
					</a>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreExplain',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '<a href="<{$CBW_URL}>/explain/'+ data[a]['id'] +'.html" title="'+ data[a]['title'] +'" >';
							html += '	<div class="title">'+ data[a]['title'] +'</div>';
							html += '	<div class="content clearfix">';
							html += '		<div class="pic_bd">';
							html += '			<p>'+ data[a]['description'] +'</p>';
							html += '			<p class="look"><i>&#xe610;</i>'+ data[a]['dateline'] +'<i>&#xe601;</i>'+ data[a]['clicktimes'] +'</p>';
							html += '		</div>';
							html += '	</div>';
							html += '</a>'
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.news_list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->