<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/service-apply.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="prolist">
				<div class="protit"><h2>申请退/换货</h2></div>
				<div class="prod">
					<table>
						<tr>
							<th class="prodInfo">商品信息</th>
							<th class="money">商品价格</th>
							<th class="number">购买数量</th>
						</tr>
						<tr>
							<td class="prodInfo">
								<div class="im">
									<img src="__PUBLIC__/Product/thumb/<{$product.list_image}>" height="80" />
								</div>
								<div class="info">
									<p class="prodName"><{$product.pro_name}></p>
									<p class="prodAttr"><{$product.show_desc}></p>
								</div>
							</td>
							<td class="money">
								<p><{$product.pro_price}></p>
							</td>
							<td class="number">
								<p><{$product.pro_number}></p>
							</td>
						</tr>
					</table>
				</div>
				<div id="Return">
					<form action="<{:U('Service/submitApply')}>" method="post" id="submit">
					<div class="order">
						<dl class="rope clearfix">
							<dt>服务选择：</dt>
							<dd>
								<label for="type1">
									<input name="type" type="radio" id="type1" value="1" checked />退款/退货</label>
								<label for="type2">
									<input name="type" type="radio" id="type2" value="2" />我要换货</label>
								<label for="type3">
									<input name="type" type="radio" id="type3" value="3" />我要维修</label>
							</dd>
						</dl>
						<dl class="rope clearfix">
							<dt>售后原因：</dt>
							<dd>
								<select name="reason">
									<option value="0">请选择</option>
									<option value="1">包装破损</option>
									<option value="2">商品缺失/损坏</option>
									<option value="3">型号/商品发错</option>
									<option value="4">快递太慢/服务态度差</option>
									<option value="5">工具不好用</option>
									<option value="6">视频/说明书看不懂</option>
									<option value="7">自己动手太难</option>
									<option value="8">任性，仅此而已</option>
									<option value="9">商品故障</option>
								</select>
							</dd>
						</dl>
						<dl class="rope clearfix">
							<dt>数量：</dt>
							<dd>
								<input type="tel" class="span2" value="<{$product.pro_number}>" name="num" placeholder="申请数量" />
							</dd>
						</dl>
						<dl class="rope clearfix">
							<dt class="">问题描述：</dt>
							<dd>
								<textarea name="description" placeholder="有什么想说的尽情吐槽吧！优质的建议能让草包更完善！字数限制500以内，且请文明留言！" maxlength="500"></textarea>
							</dd>
						</dl>
						<dl class="rope clearfix">
							<dd>
								<input type="hidden" name="order_id" value="<{$order.id}>" />
								<input type="hidden" name="pro_id" value="<{$product.pro_id}>" />
								<button type="button" class="submit">提交</button>
							</dd>
						</dl>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('button.submit', 'click', function(event) {
			var reason = $("select[name=reason]").val();
			var num    = $("input[name=num]").val();
			if(reason == 0 || num < 1){
				var txt=  "请填写完整申请信息！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('form#submit').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->