<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/service-detail.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>">首页</a></dt>
			<dd><em></em> <a href="<{:U('Service/index')}>">我的售后</a> </dd>
			<dd class="nowPage"><em></em> 订单详情</dd>
		</dl>
		<div class="orderDetail">
			<div class="order_news">
				<h2>售后单详情</h2>
				<p class="clearfix"><strong>售后单号：</strong><span><{$sale.order_sn}></span></p>
				<p class="clearfix"><strong>下单时间：</strong><span><{$sale.apply_time|date="Y-m-d H:i:s",###}></span></p>
				<p class="clearfix"><strong>收  件  人 ：</strong><span><{$sale.reciver_user}> <{$sale.reciver_phone}></span></p>
				<p class="clearfix"><strong>收货地址：</strong><span><{$sale.pro_addr}><{$sale.city_addr}><{$sale.addr}><{$sale.address}></span></p>
				<p class="clearfix"><strong>售后原因：</strong>
				<span>
				<eq name="sale.reason" value="1">包装破损</eq>
				<eq name="sale.reason" value="2">商品缺失/损坏</eq>
				<eq name="sale.reason" value="3">型号/商品发错</eq>
				<eq name="sale.reason" value="4">快递太慢/服务态度差</eq>
				<eq name="sale.reason" value="5">工具不好用</eq>
				<eq name="sale.reason" value="6">视频/说明书看不懂</eq>
				<eq name="sale.reason" value="7">自己动手太难</eq>
				<eq name="sale.reason" value="8">任性，仅此而已</eq>
				<eq name="sale.reason" value="9">商品故障</eq>
				</span>
				</p>
				<p class="clearfix"><strong>状    态：</strong>
				<span>
					<eq name="sale.service_status" value="1">申请中</eq>
					<eq name="sale.service_status" value="2">等待发货</eq>
					<eq name="sale.service_status" value="3">发货(<{$Think.session.user.username}>)</eq>
					<eq name="sale.service_status" value="4">签收(草包网)</eq>
					<if condition="($sale['service_type'] eq 1) and ($sale['service_status'] eq 5)">
						待打款(草包网)
					<elseif condition="($sale['service_type'] neq 1) and ($sale['service_status'] eq 5)"/>
						待发货(草包网)
					</if>
					<eq name="sale.service_status" value="6">完成服务单</eq>
					<eq name="sale.service_status" value="0">服务单已取消</eq>
				</span>
				</p>
			</div>
			<div class="pro_news">
				<notempty name="product">
				<h2>商品信息</h2>
				<div class="news">
					<div class="news_lst clearfix">
						<div class="news_pic">
							<img src="__PUBLIC__/Product/thumb/<{$product.list_image}>" />
						</div>
						<div class="news_bd">
							<p><{$product.pro_name}></p>
							<p class="num"><{$product.attr}></p>
							<p class="price"><em>￥</em><{$product.pro_price}><ins>×<{$sale.applynum}></ins></p>
						</div>
					</div>
				</div>
				</notempty>
				<div class="order_news">
					<p class="clearfix"><strong>备注：</strong><span><{$sale.description}></span></p>
				</div>
			</div>
			<div class="fllow_news clearfix">
				<div class="outorin">
				<span class="current">跟踪</span>
				<neq name="sale.shipping_way" value="0"><span>寄出</span></neq>
				<neq name="sale.return_way" value="0"><span>寄回</span></neq>
				</div>
				<div class="fllow_news1 current">
					<ul class="clearfix  dad">
						<foreach name="sale.details" item="vo">
						<li class="on"><b class="bns"></b></li>
						<li class="on"><p class="line"></p></li>
						</foreach>
					</ul>
					<ul class="son">
						<foreach name="sale.details" item="vo">
						<li>
							<{$vo.message}><strong><{$vo['time']|date="Y-m-d H:i:s",###}></strong>
						</li>
						</foreach>
					</ul>
				</div>
				<neq name="sale.shipping_way" value="0">
				<div class="fllow_news2">
					<ul class="clearfix  dad">
						<foreach name="sale.express" item="vo">
						<li class="on"><b class="bns"></b></li>
						<li class="on"><p class="line"></p></li>
						</foreach>
					</ul>
					<ul class="son">
						<foreach name="sale.express" item="vo">
						<li>
							<strong>【<{$vo['time']}>】</strong><{$vo['context']}>
						</li>
						</foreach>
					</ul>
				</div>
				</neq>
				<neq name="sale.return_way" value="0">
				<div class="fllow_news3">
					<ul class="clearfix  dad">
						<foreach name="sale.return" item="vo">
						<li class="on"><b class="bns"></b></li>
						<li class="on"><p class="line"></p></li>
						</foreach>
					</ul>
					<ul class="son">
						<foreach name="sale.return" item="vo">
						<li>
							<strong>【<{$vo['time']}>】</strong><{$vo['context']}>
						</li>
						</foreach>
					</ul>
				</div>
				</neq>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	   $(".outorin span").click(function(event) {
		   $(this).addClass('current').siblings().removeClass('current');
		   var myindex = $(this).index()+1;
		   $(".fllow_news div:eq("+myindex+")").addClass('current').siblings().removeClass('current');
	   });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->