<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/service-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-b">
				<ul class="ul_tit">
					<li class="one">商品信息</li>
					<li class="five">单价</li>
					<li class="two">数量</li>
					<li class="three">小结</li>
				</ul>
				<ul class="ul_bd">
					<empty name="serviceRes">
					<li class="empty">售后单还是空的</li>
					<else />
					<foreach name="serviceRes" item="vo">
					<li>
						<div class="list_tit clearfix">
							<time><{$vo['apply_time']|date="Y-m-d",###}></time>
							<span class="order">
								<a href="<{:U('Service/detail', array('sn'=>$vo['service_sn']))}>">订单号：<{$vo.service_sn}></a>
							</span>
							<if condition="($vo['service_status'] eq 1) OR ($vo['service_status'] eq 2)">
								<a href="<{:U('Service/close', array('id'=>$vo['id']))}>" onclick="return confirm('确定要删除吗');" class="delete"></a>
							</if>
						</div>
						<div class="list_bd">
							<div class="phpic">
								<div class="iphone"><img src="<{$vo.list.show_img}>" height="52" width="52" alt="" /></div>
								<div class="phpic_id">
									<span class="introduce"><{$vo.list.show_name}></span>
									<span class="color"><{$vo.list.show_desc}></span>
								</div>
							</div>
							<span class="two"><{$vo.list.show_price}></span>
							<span class="five"><{$vo.list.show_num}></span>
							<span class="three"><{$vo['list']['show_price']*$vo['list']['show_num']|number_format=2,'.',''}></span>
						</div>
						<div class="list_btn clearfix">
							订单状态：
							<span class="three">
								<eq name="vo.service_status" value="0">已取消</eq>
								<eq name="vo.service_status" value="1">待审核</eq>
								<eq name="vo.service_status" value="2">审核通过</eq>
								<eq name="vo.service_status" value="3">待卖家签收</eq>
								<eq name="vo.service_status" value="4">待卖家发货</eq>
								<eq name="vo.service_status" value="5">待退款</eq>
								<eq name="vo.service_status" value="6">售后完成</eq>
							</span>
							<if condition="($vo['service_status'] eq 2) AND ($vo['return_way'] eq 0)">
								<a class="send" data-sn="<{$vo.service_sn}>">发货</a>
							</if>
							<span class="allprice"><b><{$vo.deail_price}></b></span>
						</div>
					</li>
					</foreach>
					</empty>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
		<div class="posF" id="express">
			<div class="bg"></div>
			<div class="box400">
				<div class="hd posR"> 
					<p>发货</p>
					<span class="off posA">&nbsp;</span>
				</div>
				<div class="bd">
					<form id="send" action="<{:U('Service/send')}>" method="post" >
						<div class="rope">
							<span>选择快递</span>
							<select name="shipping_way">
								<option value="0">请选择快递公司</option>
								<foreach name="shipping" item="s">
								<option value="<{$s.id}>"><{$s.cname}></option>
								</foreach>
							</select>
							<input type="hidden" name="sn" value="" />
						</div>
						<div class="rope">
							<span>快递单号</span>
							<input type="text" name="shipping_num" placeholder="请输入快递单号" />
						</div>
						<div class="rope">
							<button type="button" class="off">取消发货</button>
							<button type="button" class="submit">确定发货</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate(".list_btn a.send" ,"click" ,function(event){
			var sn = $(this).attr('data-sn');
			$('#send input[name=sn]').val(sn);
			$("#express").slideDown(300)
		}).delegate("#express button.submit" ,"click" ,function(event){
			var sn = $('#send input[name=sn]').val();
			var shipping_way = $('#send select[name=shipping_way]').val();
			var shipping_num = $('#send input[name=shipping_num]').val();
			if(sn == ''){
				var txt=  "未知错误";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
				return false;
			}else if(shipping_way == '' || shipping_way == 0 || !shipping_way){
				var txt=  "请选择快递公司！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}else if(shipping_num == '' || !shipping_num){
				var txt=  "请填写快递单号！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('form#send').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->