@charset "utf-8";
/* CSS Document */
.posR{ position:relative;}
.posA{ position:absolute;}
.add{width:100px; line-height:32px;padding:0;border-radius:5px;border:0;color:#fff; background:#3fbc88;bottom:15px;left:400px;}
.get{width:100px; line-height:32px;padding:0;border-radius:5px;border:0;color:#fff; background:#ff9f00;bottom:15px;left:520px;}
.empty{width:100px; line-height:32px;padding:0;border-radius:5px;border:0;color:#fff; background:#999;bottom:15px;left:640px;}
.imgBox{width:1200px;height:500px;margin:20px auto; position:relative;zoom:1;}
.imgBox img{position: absolute; cursor:move;top:0;left:0;}
.inImg img{display:inline-block;}
.input{background:#fff;width:200px;height:auto;position:absolute;border:5px solid #dfdfdf;left:500px;top:250px;}
p{color:#787878;font-size:12px;width:1200px;margin:0 auto;padding:10px 0; line-height:1.8;}.input .title{position:relative;height:28px;width:100%;margin:0 0 10px 0;border-bottom:2px solid #dfdfdf;}
.input .title p{margin:0; line-height:28px;padding-left:25px;padding:0 0 0 15px;}
.input .title span.off{ background:#fff;position:absolute;width:30px;height:30px; line-height:30px;text-align:center;border:3px solid #dfdfdf;border-radius:30px;right:-18px;top:-18px;}
.input input{width:120px;border:1px solid #dfdfdf;border-radius:4px;padding:6px; display:block;margin:0 auto 10px auto;}
.input button{display:block;margin:10px auto;}
.upImg{min-height:50px;padding-bottom:10px;border-bottom:1px solid #d5d5d5; text-align:center;}
.upImg img{width:50px;height:auto;}
