<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/menu.css" />
<if condition="$user['id'] neq ''">
	<if condition="$user['group_id'] neq 1">
		<gt name="offerCount" value="0">
		<div class="posF" id="newShopTtips">
			<div class="bg"></div>
			<div class="box60 posR">
				<div class="hd"><span class="posA off">&#xe602;</span></div>
				<div class="bd">
					<div class="b-pic"><img src="__PUBLIC__/Mobile/images/newShopTips.png" alt="有新的维修店报价"></div>
					<div class="b-content">
						您的<{$order.pro_name}>有新的维修店报价，请及时查看！
					</div>
					<div class="btn-look">
					<if condition="$order['order_type'] eq 1">
						<a href="<{:U('Repair/server', array('id'=>$order['id']))}>">点击查看</a>
					<elseif condition="$order['order_type'] eq 2" />
						<a href="<{:U('Recovery/server', array('id'=>$order['id']))}>">点击查看</a>
					</if>
					</div>
				</div>
			</div>
		</div>
		</gt>
	</if>
</if>
<if condition="$controller eq 'Product'">
<if condition="$action neq 'detail'">
<footer>
	<ul class="clearfix">
		<li class="first current">
			<a href="<{$CBW_URL}>">
				<strong><img src="__PUBLIC__/Mobile/images/footer1.png"></strong>
				<span>首页</span>
			</a>
		</li>
		<li class="second">
			<a href="<{$CBW_URL}>/product/category.html">
				<strong><img src="__PUBLIC__/Mobile/images/classify.png"></strong>
				<span>分类</span>
			</a>
		</li>
		<li class="five">
			<a href="<{$CBW_URL}>/buy/cart.html">
				<strong><img src="__PUBLIC__/Mobile/images/car.png"><i class="pro_num"><eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq></i></strong>
				<span>购物车</span>
			</a>
		</li>
		<li class="four person-center">
			<a href="<{$CBW_URL}>/users/index.html">
				<strong>
				<img src="__PUBLIC__/Mobile/images/footer2.png">
				<gt name="user.group_id" value="0">
					<gt name="offerShopCount" value="0">
					<i class="icons-circle"></i>
					</gt>
				</gt>
				</strong>
				<span>我</span>
			</a>
		</li>
	</ul>
</footer>
</if>
</if>
<if condition="$controller eq 'System'">
<footer>
	<ul class="clearfix">
		<li class="first current">
			<a href="<{$CBW_URL}>">
				<strong><img src="__PUBLIC__/Mobile/images/footer1.png"></strong>
				<span>首页</span>
			</a>
		</li>
		<li class="second">
			<a href="<{$CBW_URL}>/product/">
				<strong><img src="__PUBLIC__/Mobile/images/footer6.png"></strong>
				<span>商城</span>
			</a>
		</li>
		<li class="five">
			<a href="<{$CBW_URL}>/buy/cart.html">
				<strong><img src="__PUBLIC__/Mobile/images/car.png"><i class="pro_num"><eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq></i></strong>
				<span>购物车</span>
			</a>
		</li>
		<li class="four person-center">
			<a href="<{$CBW_URL}>/users/index.html">
				<strong>
				<img src="__PUBLIC__/Mobile/images/footer2.png">
				<gt name="user.group_id" value="0">
					<gt name="offerShopCount" value="0">
					<i class="icons-circle"></i>
					</gt>
				</gt>
				</strong>
				<span>我</span>
			</a>
		</li>
	</ul>
</footer>
</if>
<if condition="($controller neq 'Product') AND ($controller neq 'System')">
<if condition="($action neq 'server') AND ($action neq 'cart') AND ($action neq 'collect') AND ($action neq 'money') AND ($action neq 'service')">
<footer>
	<ul class="clearfix">
		<li class="first current">
			<a href="<{$CBW_URL}>">
				<strong><img src="__PUBLIC__/Mobile/images/footer1.png"></strong>
				<span>首页</span>
			</a>
		</li>
		<li class="second">
			<a href="<{$CBW_URL}>/repair/select.html">
				<strong><img src="__PUBLIC__/Mobile/images/footer4.png"></strong>
				<span>修手机</span>
			</a>
		</li>
		<li class="five">
			<a href="<{$CBW_URL}>/recovery/select.html">
				<strong><img src="__PUBLIC__/Mobile/images/footer5.png"></strong>
				<span>收手机</span>
			</a>
		</li>
		<li class="third">
			<a href="javascript:void(0);" class="kefu">
				<strong><img src="__PUBLIC__/Mobile/images/footer3.png"></strong>
				<span>客服</span>
			</a>
		</li>
		<li class="four person-center">
			<a href="<{$CBW_URL}>/users/index.html">
				<strong>
				<img src="__PUBLIC__/Mobile/images/footer2.png">
				<gt name="user.group_id" value="0">
					<gt name="offerShopCount" value="0">
					<i class="icons-circle"></i>
					</gt>
				</gt>
				</strong>
				<span>我</span>
			</a>
		</li>
	</ul>
</footer>
<script>
	 $('footer').delegate('a.kefu','click',function(){
	 	var ok = confirm('需要联系在线客服吗？');
	 	if(!ok){return false;}
	 	window.open('http://p.qiao.baidu.com/im/index?siteid=8982367&ucid=10589340','_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no,resizable=yes,location=no');
	 });
</script>
</if>
</if>