<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/footer.css" />

<!--页脚 开始-->
<div class="footer_bg">
	<div id="footer" class="wrap">
		<div class="hot_label clearfix cb_footer">
			<h4>热门标签</h4>
			<ul>
				<foreach name="tags" item="vo">
				<li><a href="<{$CBW_URL}>/search/index.html?keyword=<{$vo.name}>"><{$vo.name}></a></li>
				</foreach>
			</ul>
		</div>
		<notempty name="links">
		<div class="friend_link clearfix  cb_footer">
			<h4>友情链接</h4>
			<ul>
				<foreach name="links" item="vo">
				<li><a href="<{$vo.linkurl}>"><{$vo.linktitle}></a></li>
				</foreach>
			</ul>
		</div>
		</notempty>
		<div class="row-fluids">
			<p class="CR">© 2015-2016 草包网版权所有</p>
		</div>
	</div>
</div>
<!--页脚 结束-->