<style>
	/*头部用户登录/退出*/
	.user_operation_ul li.username img{
		vertical-align:middle;
		margin:5px 5px 0;
		width:20px;
		height:20px;
		border: 1px solid #fff;
		overflow:hidden;
		border-radius:50%;
		float:left;
	}
	.user_operation_ul li.username a{
		float:left;
	}
	.user_operation_ul .notice{
		float:right;
		margin-right:15px;
		font-size:12px;
	}
	.user_operation_ul .notice a{
		display:block;
		color:#c9c9c9;
	}
</style>
<ul class="user_operation_ul clearfix">
	<eq name="Think.session.user.userid" value="">
	<li class="login"><a rel="nofollow" href="<{:U('Users/login')}>">登录</a></li>
	<li class="line">|</li>
	<li><a rel="nofollow" href="<{:U('Users/login',array('type'=>'weixin'))}>">注册</a></li>
	<else />
	<li class="notice"><a rel="nofollow" href="<{:U('Users/notice')}>">消息<em>（<{$notice}>）</em></a></li>
	<li class="username clearfix"><img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='/Public/User/default.jpg';"/><a rel="nofollow" href="<{$CBW_URL}>/user.html"><{$user.uname}></a></li>
	<li class="line">|</li>
	<li class="logout"><a rel="nofollow" href="javascript:void(0);" class="logout_a">退出</a></li>
	</eq>
</ul>