<style>
	/* 右侧个人信息 */
	.user_right{
		width: 224px;
		float: right;
		border: 1px solid #dcdcdc;
		padding: 20px 16px;
	}
	.user_right .top .user_pic{
		width: 94px;
		height: 94px;
		border: 1px solid #a0a0a0;
		overflow:hidden;
		border-radius: 2px;
		float: left;
	}
	.user_right .top .user_pic_con{
		width: 120px;
		float: right;
	}
	.user_right .top .user_pic_con strong{
		font-size: 18px;
		color: #000;
	}
	.user_right .top .user_pic_con .address{
		color: #898989;
		display: block;
		margin: 8px 0;
	}
	.user_right .top .user_pic_con .edit{
		display: block;
		width: 96px;
		height: 29px;
		border: 1px solid #dcdcdc;
		background-color: #efeeee;
		font-size: 12px;
		border-radius: 8px;
		line-height: 29px;
		text-align: center;
		cursor: pointer;
	}
	.user_right .top .user_pic_con .edit a{
		display: block;
		color: #000;
	}
	.user_right .top .user_pic img{
		width: 100%;
		height: 100%;
	}
	.user_right .middle{
		color: #535353;
		line-height: 25px;
		padding: 20px 0;
		border-bottom: 1px solid #dcdcdc;
	}
	.user_right .bottom li{
		width: 33%;
		padding-top: 10px;
		text-align: center;
		float: left;
	}
	.user_right .bottom li span{
		display: block;
	}
	.user_right .bottom li .num{
		font-size: 18px;
	}
	.user_right .bottom li .num a{
		color: #000;
	}
	.user_right .bottom li .tit{
		color: #898989;
	}
	.user_mod h2{
		height: 42px;
		background-color: #eeeeee;
		padding:0 18px;
		line-height: 42px;
		font-size: 18px;
		color: #313131;
		font-weight:bold;
	}
</style>
<div class="user_right">
	<div class="top clearfix">
		<div class="user_pic"><img alt="<{$user.uname}>" src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></div>
		<div class="user_pic_con">
			<strong><{$user.uname}></strong>
			<if condition="$user.city_addr neq ''">
			<span class="address">常居地：<{$user.city_addr}></span>
			</if>
			<if condition="($user.id eq $userId)">
			<span class="edit"><a href="<{$CBW_URL}>/users/edit.html">编辑资料</a></span>
			</if>
		</div>
	</div>
	<div class="middle">个人签名：<{$user.signature}></div>
	<div class="bottom">
		<ul class="clearfix">
			<li>
				<span class="num"><a href="#"><{$user.virtual_money}></a></span>
				<span class="tit"><a href="#">草包豆</a></span>
			</li>
			<li>
				<span class="num"><a href="#"><{$user.exp}></a></span>
				<span class="tit"><a href="#">经验值</a></span>
			</li>
			<li>
				<span class="num"><{$user.adopt}></span>
				<span class="tit">采纳</span>
			</li>
		</ul>
	</div>
</div>