<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/orders-comment.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="prolist">
				<div class="protit"><h2>评价</h2></div>
				<form id="submit" action="<{:U('Orders/submitComment')}>" method="post" >
					<foreach name="order.list" key="key" item="vo">
					<if condition="($vo['status'] eq 1)">
					<div class="item clearfix">
						<div class="pronews">
							<div class="pic"><img src="<{$vo.show_img}>" width="80" alt="" /></div>
							<div class="pro_bd">
								<p><{$vo.show_name}></p>
								<p class="clearfix">
									<span class="money">￥<{$vo.show_price}></span>
									<span class="num">×<{$vo.show_num}></span>
								</p>
							</div>
						</div>
						<div class="edis">
							<div class="sacle clearfix">
								<p>
									<label for="good<{$key}>">
										<input type="radio" name="score[<{$key}>]" id="good<{$key}>" value="1" checked />
										<img src="__PUBLIC__/Home/images/2016/good.png" alt="好评" />好评
									</label>
								</p>
								<p>
									<label for="middle<{$key}>">
										<input type="radio" name="score[<{$key}>]" id="middle<{$key}>" value="2" />
										<img src="__PUBLIC__/Home/images/2016/middle.png" alt="中评" />中评
									</label>
								</p>
								<p>
									<label for="low<{$key}>">
										<input type="radio" name="score[<{$key}>]" id="low<{$key}>" value="3" />
										<img src="__PUBLIC__/Home/images/2016/low.png" alt="差评" />差评
									</label>
								</p>
							</div>
							<div class="key">
								<eq name="order.order_type" value="0">
								<input type="hidden" name="ids[]" value="<{$vo.show_id}>" />
								</eq>
								<textarea id="content" name="content[]" placeholder="请在这里输入您的评价,字数不少于5个中文"></textarea>
							</div>
						</div>
					</div>
					</if>
					</foreach>
					<div class="submit">
						<input type="hidden" name="id" value="<{$order.id}>" />
						<a href="javascript:;">提交</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.submit a', 'click', function(event) {
			var y = 1;
			$("textarea").each(function(index, element) {
				if($(this).attr('id') == 'content'){
					var len = $(this).val().length;
					if (len<5){
						y = 0;
					}
				}
			});
			if(y == 1){
				$('form#submit').submit();
			}else{
				var txt=  "评论内容太少啦！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->