<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/orders-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab current"><a href="<{:U('Orders/index')}>">购物订单</a></li>
							<li class="tab"><a href="<{:U('Orders/repair')}>">维修订单</a></li>
							<li class="tab"><a href="<{:U('Orders/recovery')}>">回收订单</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bd-b">
				<ul class="ul_tit">
					<li class="one bigW">商品信息</li>
					<li class="five bigM">单价</li>
					<li class="two bigS">数量</li>
					<li class="three bigS">小结</li>
					<li class="six bigM">操作</li>
				</ul>
				<ul class="ul_bd">
					<empty name="orders">
					<li class="null">购物订单还是空的</li>
					<else />
					<foreach name="orders" item="vo">
					<li data-id="<{$vo.id}>">
						<!-- 订单头部 -->
						<div class="list_tit clearfix">
							<time><{$vo['order_date']|date="Y-m-d",###}></time>
							<span class="order-num">订单号：<{$vo.order_sn}></span>
							<span class="order-statu">
								订单状态：
								<a href="javascript:;">
									<if condition="($vo['order_status'] eq 0)">
										已取消
									<elseif condition="($vo['order_status'] eq 1)"/>
										<if condition="($vo['pay_status'] eq 1)">
											已付款
										<else />
											待付款
										</if>
									<elseif condition="($vo['order_status'] eq 2)"/>
										已完成
									</if>
								</a>
							</span>
							<if condition="($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
								<a href="javascript:;" class="delete"></a>
							</if>
						</div>
						<foreach name="vo.schedule" item="v">
						<!-- 订单商家 -->
						<div class="shop-name clearfix">
							<if condition="$v['shop_id'] gt 0">
								<h4 class="clearfix"><i class="icon-store"></i><strong><{$v.shop.shop_name}></strong></h4>
								<a class="contact-btn" href="tencent://message/?uin=<{$v.shop.qq}>&Site=caobao.com&Menu=yes" target="_blank"><i class="icon-QQ"></i>联系卖家</a>
							<else />
								<h4 class="clearfix"><strong>深圳市草包网络科技有限公司<span class="self-sale">自营</span></strong></h4>
								<a class="contact-btn open_kefu" href="javascript:;"><i class="icon-office"></i>联系卖家</a>
							</if>
						</div>
						<!-- 订单详情 -->
						<div class="list-detial clearfix">
							<div class="list-item">
								<foreach name="v.product" item="pro">
								<div class="list_bd clearfix">
									<div class="phpic bigW">
										<div class="iphone"><a href="<{$CBW_URL}>/detail/<{$pro.show_id}>.html"><img src="<{$pro.show_img}>" height="52" width="52" alt="" /></a></div>
										<div class="phpic_id">
											<span class="introduce">
												<{$pro.show_name}>
											</span>
											<span class="color"><{$pro.show_desc}></span>
										</div>
									</div>
									<span class="two bigM">
										<{$pro.show_price}>
									</span>
									<span class="five bigS"><{$pro.show_num}></span>
									<span class="three bigS">
										<{$pro['show_price']*$pro['show_num']|number_format=2,'.',''}>
										<span class="user-service">
											<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 1) AND ($pro['service'] eq '') AND ($pro['status'] eq 1) AND ($pro['is_card'] eq 1)">
												<a href="#" class="extracts">提取卡密</a>
											</if>
											<empty name="pro.service.service_type">
												<if condition="($vo['order_status'] neq 0) AND ($pro['cards'] eq 0) AND ($vo['pay_status'] eq 1)">
													<if condition="($pro['status'] eq 1)">
														<a href="<{:U('Service/apply', array('oid'=>$vo['id'], 'pid'=>$pro['show_id']))}>" class="customer">申请售后</a>
													<else />
														<a href="javascript:;" class="customer">已退货</a>
													</if>
												</if>
											<else />
												<eq name="pro.service.service_type" value="1"><a class="customer" href="javascript:;">正在退货</a></eq>
												<eq name="pro.service.service_type" value="2"><a class="customer" href="javascript:;">正在换货</a></eq>
												<eq name="pro.service.service_type" value="3"><a class="customer" href="javascript:;">正在维修</a></eq>
											</empty>
										</span>
									</span>
								</div>
								</foreach>
							</div>
							<div class="btn-group bigM">
								<if condition="$v['shop_status'] eq 2">
									<a href="javascript:;" data-id="<{$v.shop_id}>" class="sign ui-button">确认收货</a>
								<elseif condition="$v['shop_status'] eq 3"/>
									<!--<span class="signin">已收货</span>-->
								</if>
								<a class="order-detial ui-button" href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>">订单详情</a>
							</div>
						</div>
						</foreach>
						<!-- 订单结算 -->
						<div class="countMoney clearfix">
							<div class="allprice"><span class="realyPay">实付款:<b class="price-num"><{$vo.deail_price}><em>元</em></b></span><span class="shipping-price">（运费0.00）</span></div>
							<div class="btns">
								<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 0)">
								<a class="pay" href="<{:U('Buy/pay', array('id'=>$vo['order_sn']))}>">立即付款</a>
								</if>
								<if condition="($vo['order_status'] eq 2) AND ($vo['is_comment'] eq 0)">
								<a class="eva" href="<{:U('Orders/comment', array('sn'=>$vo['order_sn']))}>">评价</a>
								</if>
							</div>
						</div>
					</li>
					</foreach>
					</empty>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate(".extracts" ,"click" ,function(event){
			var txt =  "亲！确认提取卡密吗？";
			var id  = $(this).parents('li').attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href="__APP__/orders/extracts/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		}).delegate(".delete","click",function(){
			var txt =  "您确定要取消此订单吗？";
			var id  = $(this).parents('li').attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/close/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		}).delegate(".sign","click",function(){
			var txt =  "确认收货?是否已收到包裹!";
			var id  = $(this).parents('li').attr('data-id');
			var sid = $(this).attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/sign/id/"+id+"/sid/"+sid+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->