<extend name="Public:same"/>
<block name="cssFile">
	<link href="__PUBLIC__/Home/css/orders-odetail.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">

</block>
<block name="publicBody"> 
 	<div class="content">
		<div class="order-statu">
			<if condition="$order['order_status'] eq 0">
				<h2>订单状态：已取消</h2>
			<elseif condition="($order['order_status'] eq 1)"/>
				<if condition="$order['pay_status'] eq 0">
					<h2>订单状态：待付款</h2>
					<p>请确认订单后，尽快完成付款哦</p>
				<else />
					<h2>订单状态：已付款</h2>
					<p>收到包裹后,请确认商品无损，再签字签收哦</p>
				</if>
			<elseif condition="($order['order_status'] eq 2)"/>
				<h2>订单状态：已完成</h2>
			</if>
		</div>
		<div class="user-news clearfix">
			<div class="f_left mod-left">
				<div class="rope clearfix">
					<span class="news-tit f_left">订单编号：</span>
					<div class="news-content f_left"><{$order.order_sn}></div>
				</div>
				<div class="rope clearfix">
					<span class="news-tit f_left">收货人：</span>
					<div class="news-content f_left"><{$order.reciver_user}>  <{$order.reciver_phone}> <p><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></p></div>
				</div>
			</div>
			<div class="f_left mod-right">
				<div class="rope clearfix">
					<span class="news-tit f_left">下单时间：</span>
					<div class="news-content f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></div>
				</div>
				<div class="rope clearfix">
					<span class="news-tit f_left">支付方式：</span>
					<div class="news-content f_left">
						<eq name="order.pay_mode" value="0">支付宝</eq>
						<eq name="order.pay_mode" value="1">银联在线</eq>
						<eq name="order.pay_mode" value="2">网银支付</eq>
						<eq name="order.pay_mode" value="3">微信支付</eq>
						<eq name="order.pay_mode" value="4">余额支付</eq>
						<eq name="order.pay_type" value="0">在线支付</eq>
						<eq name="order.pay_type" value="1">现金支付</eq>
					</div>
				</div>
				<div class="rope clearfix">
					<span class="news-tit f_left">送货时间：</span>
					<div class="news-content f_left">
						<eq name="order.send_time" value="0">工作日休息日假日均可送货</eq>
						<eq name="order.send_time" value="1">只工作日送货,休息日或假日不送</eq>
						<eq name="order.send_time" value="2">只休息日或假日送货</eq>
						<eq name="order.send_time" value="3">白天没人,尽量安排其它时间送</eq>
					</div>
				</div>
			</div>
		</div>
		<div class="orderDetail">
			<div class="prodInfo">
				<dl class="bought-listform-header">
					<dd class="header-prod">商品信息</dd>
					<dd class="header-color">属性</dd>
					<dd class="header-price">单价（元）</dd>
					<dd class="header-number">数量</dd>
					<dd class="header-money">小计（元）</dd>
				</dl>
				<foreach name="schedule" item="vo">
				<div class="prodInfoDetial">
					<div class="content-package clearfix">
						<if condition="$vo['shop_id'] gt 0">
							<span class="shop-name f_left"><i class="icon-store"></i><{$vo.shop.shop_name}></span>
							<a class="contact-shop f_left"><a href="tencent://message/?uin=<{$vo.shop.qq}>&Site=caobao.com&Menu=yes" target="_blank"><i class="icon-QQ"></i>联系卖家</a></span>
						<else />
							<span class="shop-name f_left">深圳市草包网络科技有限公司<span class="self-sale">自营</span></span>
							<span class="contact-shop f_left"><a href="javascript:;" class="open_kefu"><i class="icon-office"></i>联系卖家</a></span>
						</if>
						<notempty name="vo.shipping_num">
						<span class="shipping-news f_right">
							<span class="best-new"><span class="fwb">[<{$vo.cname}>]:<{$vo.shipping_num}></span> <{$vo['shipping'][0]['time']}> <{$vo['shipping'][0]['context']}></span>
							<span class="more-shipping-news">更多<i class="icon-arrow"></i></span>
							<div class="package-detail-list">
								<notempty name="vo.shipping">
								<ul>
									<foreach name="vo.shipping" item="v">
									<li><{$v.time}> <{$v.context}><span class="circle_step"></span></li>
									</foreach>
								</ul>
								<else />
								<div class="null">暂无详细物流信息</div>
								</notempty>
							</div>
						</span>
						</notempty>
					</div>
					<table>
						<foreach name="vo.product" item="v">
						<tr>
							<td class="prod header-prod">
								<div class="im">
									<a href="<{$CBW_URL}>/detail/<{$v.show_id}>.html"><a href="<{$CBW_URL}>/detail/<{$v.show_id}>.html"><img src="<{$v.show_img}>" alt="<{$v.show_name}>" /></a>
								</div>
								<p><{$v.show_name}></p>
							</td>
							<td class="color header-color">
								<p class="num"><{$v.show_desc}></p>
							</td>
							<td class="price header-price">
								<p><{$v.show_price}></p>
							</td>
							<td class="number header-number">
								<p><{$v.show_num}></p>
							</td>
							<td class="money number-money">
								<{$v['show_price']*$v['show_num']|number_format=2,'.',''}>
								<eq name="v.service.service_type" value="1"><a href="javascript:;">退货中</a></eq>
								<eq name="v.service.service_type" value="2"><a href="javascript:;">换货中</a></eq>
								<eq name="v.service.service_type" value="3"><a href="javascript:;">维修中</a></eq>
							</td>
						</tr>
						<notempty name="v.cards">
						<tr class="card-password">
							<td colspan="5">
								保障卡卡密：
								<foreach name="v.cards" item="c">
								<span><{$c.card_code}></span>
								</foreach>
							</td>
						</tr>
						</notempty>
						</foreach>
						<tr class="last-tr">
							<td colspan="3" class="masterRemarks">
								<notempty name="vo.remarks">
								<p>备注：<span><{$vo.remarks}></span></p>
								</notempty>
							</td>
							<td colspan="2" class="balance">
								<p class="post">运费：<span class="freightCount"><{$vo.shipping_fee}></span></p>
								<p class="integral">草包豆：<span class="cbd">-<{$vo.virtual_money/100|number_format=2,'.',''}></span></p>
								<p>总计：<span class="totalPrice">￥<{$vo.shop_money}></span></p>
							</td>
						</tr>
					</table>
				</div>
				</foreach>
			</div>
		</div>
		<div class="settlement">
			<p>实付款：<span class="AlltotalPrice">￥<{$order.deail_price}></span></p>
			<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
			<div class="btngrops">
					<a class="ui-button btn-cancel" data-id="<{$order.id}>" href="javascript:;">取消订单</a>
					<a class="ui-button btn-payment" href="<{:U('Buy/pay', array('id'=>$order['order_sn']))}>">立即付款</a>
			</div>
			</if>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		$('.content').delegate('.btn-cancel', 'click', function () {
			var id = $(this).attr('data-id');
			var txt=  "确定删除这笔订单吗？";
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/close/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});
		$(".more-shipping-news").mouseenter(function(event){
			$(this).siblings(".package-detail-list").show();
		});
		$(".shipping-news").mouseleave(function(event){
			$(this).children(".package-detail-list").hide();
		});
	</script>
</block>
