<extend name="Public:same"/>
<block name="cssFile">
    <link href="__PUBLIC__/Home/css/orders-rdetail.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">
	
</block>
<block name="publicBody"> 
    <div class="content">
        <dl class="clearfix siteUrl">
            <dt><a href="<{$CBW_URL}>">首页</a></dt>
            <dd><em></em> <a href="<{:U('Orders/repair')}>">订单中心</a> </dd>
            <dd class="nowPage"><em></em> 订单详情</dd>
        </dl>
		<div class="content">
			<div class="order-statu">
				<h2>订单状态：
					<if condition="($order['order_status'] eq 0)">
						已取消
					<elseif condition="($order['order_status'] eq 1)"/>
						<if condition="($order['pay_status'] eq 1)">
							已付款
						<else />
							<eq name="order.server_status" value="1">待付款，等待报价</eq>
							<eq name="order.server_status" value="2">待付款，等待维修</eq>
							<eq name="order.server_status" value="3">待付款，维修完成</eq>
						</if>
					<elseif condition="($order['order_status'] eq 2)"/>
						已完成
					</if>
				</h2>
				<p>请保持手机畅通,维修师傅稍后联系您!</p>
			</div>
			<if condition="($order['shipping_num'] neq '') OR ($order['return_num'] neq '')">
			<div class="item shipping-news">
				<h2>物流信息</h2>
				<div class="hd">
					<ul class="clearfix">
						<li class="on">寄出</li>
						<li>寄回</li>
					</ul>
				</div>
				<div class="bd">
					<div class="package-detail-list tab show">
						<neq name="order.shipping_num" value="">
						<p class="shopping-tit">快递公司：<{$order['shipping_name']}> 快递单号：<{$order['shipping_num']}></p>
						<ul>
							<foreach name="order.shipping" item="vo">
							<li><{$vo['time']}> <{$vo['context']}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</neq>
					</div>
					<div class="package-detail-list tab">
						<neq name="order.return_num" value="">
						<p class="shopping-tit">快递公司：<{$order['return_name']}> 快递单号：<{$order['return_num']}></p>
						<ul>
							<foreach name="order.return" item="vo">
							<li><{$vo['time']}> <{$vo['context']}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</neq>
					</div>
				</div>
			</div>
			</if>
		</div>
        <div class="orderDetail ddd">
			<h2>订单信息</h2>
			<div class="item">
				<div class="user-news orderDetail-item clearfix">
					<h3>联系人信息</h3>
					<div class="rope clearfix">
						<span class="news-tit f_left">联系人：</span>
						<div class="news-content f_left">
							<span><{$order.reciver_user}></span> 
							<span><{$order.reciver_phone}></span>
							<span><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span>
						</div>
					</div>
				</div>
				<div class="order-detial-news orderDetail-item">
					<h3>订单信息</h3>
					<div class="rope clearfix">
						<div class="f_left mr75">
							<span class="news-tit f_left">订单编号：</span>
						    <div class="news-content lh20 f_left"><{$order.order_sn}></div>
						</div>
						<div class="f_left mr75">
							<span class="news-tit f_left">下单时间：</span>
						    <div class="news-content lh20 f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></div>
						</div>
						<div class="f_left mr75">
							<span class="news-tit f_left">维修方式：</span>
							<div class="news-content lh20 f_left">
								<if condition="$order.server_way eq 1">
									到店维修
								<elseif condition="$order.server_way eq 2"/>
									上门服务
								<elseif condition="$order.server_way eq 3"/>
									邮寄维修
								</if>
							</div>
						</div>
					</div>
					<div class="rope clearfix">
						<div class="f_left">
							<span class="news-tit f_left">支付方式：</span>
							<div class="news-content lh20 f_left">
								<eq name="order.pay_mode" value="0">支付宝</eq>
								<eq name="order.pay_mode" value="1">银联在线</eq>
								<eq name="order.pay_mode" value="2">网银支付</eq>
								<eq name="order.pay_mode" value="3">微信支付</eq>
								<eq name="order.pay_mode" value="4">余额支付</eq>
								<eq name="order.pay_type" value="0">在线支付</eq>
								<eq name="order.pay_type" value="1">现金支付</eq>
							</div>
						</div>
					</div>
				</div>
				<div class="fault-content">
					<h3>故障信息</h3>
					<div class="fault-news clearfix">
						<div class="rope clearfix">
							<if condition="$order['type_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">类型：</span>
								<div class="news-content f_left"><{$order.type_name}></div>
							</div>
							</if>
							<if condition="$order['brand_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">品牌：</span>
								<div class="news-content f_left"><{$order.brand_name}></div>
							</div>
							</if>
							<if condition="$order['model_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">型号：</span>
								<div class="news-content f_left"><{$order.model_name}></div>
							</div>
							</if>
							<if condition="$order['color_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">颜色：</span>
								<div class="news-content f_left"><{$order.color_name}></div>
							</div>
							</if>
						</div>
						<if condition="$order['plan_name'] neq ''">
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">故障：</span>
								<div class="news-content f_left"><{$order.plan_name}></div>
							</div>
						</div>
						</if>
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">备注：</span>
								<div class="news-content f_left"><{$order['remarks']}></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 用户模块 -->
		<div class="user-mod">
			<div class="item ddd">
				<if condition="($order['server_way'] eq 1) OR ($order['server_way'] eq 2)">
				<h2>维修店铺报价信息</h2>
				<div class="master-news">
					<div class="master-news-tit">
						<ul class="clearfix">
							<li class="f_left first w30">店铺名</li>
							<li class="f_left w15">联系人</li>
							<li class="f_left w19">联系方式</li>
							<li class="f_left w15">距离</li>
							<li class="f_left w15">店铺报价</li>
						</ul>
					</div>
				</div>
				<div class="master-news-con">	
					<div class="common">
						<foreach name="offer" item="vo">
						<ul class="clearfix <if condition="$vo['selected'] eq 1">special</if>">
							<if condition="$vo['selected'] eq 1">
							<li class="checked">【已选店铺】</li>
							</if>
							<li class="f_left first w30">
								<img class="f_left" src="__PUBLIC__/User/<{$vo.logo_image}>" alt="<{$vo.shop_name}>" onerror="javascript:this.src='/Public/Home/images/2016/picc.png';" />
								<div class="f_left shop-name">
									<p><{$vo.shop_name}></p>
									<p class="shop-address"><span>地址：</span><{$vo.address}></p>
								</div>
							</li>
							<li class="f_left w15"><{$vo.user_name}></li>
							<li class="f_left w19"><{$vo.user_phone}></li>
							<li class="f_left w15"><{$vo.distance}>公里</li>
							<li class="f_left w15">
								<p class="price">
									<em>￥</em><{$vo.offer}>
								</p>
							</li>
						</ul>
						</foreach>
					</div>
				</div>
				</if>
				<if condition="($order['server_way'] eq 3)">
				<div class="item official-news">
					<h2>草包网官方邮寄信息</h2>
					<div class="official-news-content clearfix">
						<div class="rope clearfix">
							<span class="news-tit f_left">详细地址：</span>
							<div class="news-content f_left">广东省广州市海珠区杨协成电子创意园A座319之1</div>
						</div>
						<div class="rope clearfix">
							<span class="news-tit f_left">联系电话：</span>
							<div class="news-content f_left">4006233866 维修部（收）</div>
						</div>
						<div class="rope clearfix">
							<span class="news-tit f_left">备注：</span>
							<div class="news-content f_left" style="width:1098px;">邮寄维修，建议使用顺丰，来回运费全免，邮寄时选到付即可，修不好不收任何费用。（属于主板类大型故障，如：严重进水等。经验 测无法修复的，我们不承担寄回运费。谢谢理解支持！）</div>
						</div>
					</div>
				</div>
				</if>
				
				<div class="item canQuote-news">
					<h2>可报价店铺列表</h2>
					<ul class="canQuote-news-content clearfix">
						<foreach name="offers" item="vo">
						<li class="rope clearfix">
							<img alt="<{$vo.shop_name}>" src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';"/>
							<p class="shop-news">
							    <span><{$vo.shop_name}></span>
								<span><{$vo.user_name}></span>
								<span><{$vo.user_phone}></span>
								<if condition="$vo['is_offer'] eq 1">
								<span>已报价</span>
								</if>
							</p>
						</li>
						</foreach>
					</ul>
				</div>
				<if condition="($Think.session.server.serverid gt 0)">
				</if>
			</div>
			<if condition="($order['relation_ids'] neq '')">
			<div class="item new-fault-news">
				<h2>维修店检测故障信息</h2>
				<div class="new-fault-news-content">
					<volist name="order.test" id="test">
					<div class="rope clearfix">
						<span class="news-tit f_left">维修 <{$i}>：</span>
						<div class="news-content f_left"><{$test}></div>
					</div>
					</volist>
					<div class="rope clearfix">
						<span class="news-tit f_left">备注：</span>
						<div class="news-content f_left"><{$order.shop_remarks}></div>
					</div>	
					<div class="rope clearfix">
						<span class="news-tit f_left">保修：</span>
						<div class="news-content f_left"><{$order.warranty}>个月</div>
					</div>	
					<div class="rope clearfix">
						<span class="news-tit f_left">价格：</span>
						<div class="news-content price f_left"><em><{$order.money}></em>元</div>
					</div>	
				</div>
			</div>
			</if>
			<if condition="$order['user_id'] eq $userId">
			<div class="btngrops">
				<a class="ui-button btn-prin" href="javascript:a();">打印</a>
				<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
					<a class="ui-button btn-cancel" href="javascript:;" data-id="<{$order.id}>">取消订单</a>
					<a class="ui-button btn-payment" href="<{:U('Buy/pay', array('id'=>$order['order_sn']))}>">修好了,付款</a>
				</if>
			</div>
			</if>
		</div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
		//打印输出
		function a() {
			$(".ddd").jqprint();
		};
		
		// 更换店铺
		$(".common ul").click(function(){
			var _this = $(this);
			var id    = _this.attr('order-id');
			var sid   = _this.attr('shop-id');
			$.post('__CONTROLLER__/updateOfferShop', {'id':id, 'sid':sid}, function (d){
				if(d){
					_this.addClass("special").siblings("ul").removeClass("special");
				}
			});
		});
		
		// 物流切换
		$(".shipping-news .hd li").click(function(){
			var _this = $(this);
			var myIndex = _this.index();
			_this.addClass("on").siblings().removeClass("on");
			$(".package-detail-list").eq(myIndex).addClass("show").siblings().removeClass("show");
		});
		
		// 取消订单
		$(".btn-cancel").click(function(){
			var txt =  "您确定要取消此订单吗？";
			var id  = $(this).attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/close/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});
    </script>
</block>








