<extend name="Public:same"/>
<block name="cssFile">
    <link href="__PUBLIC__/Home/css/orders-redetail.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.SuperSlide.js"></script>
</block>
<block name="publicBody"> 
    <div class="content">
        <dl class="clearfix siteUrl">
            <dt><a href="<{$CBW_URL}>">首页</a></dt>
            <dd><em></em> <a href="<{:U('Orders/recovery')}>">订单中心</a> </dd>
            <dd class="nowPage"><em></em> 订单详情</dd>
        </dl>
		<div class="content">
			<div class="order-statu">
				<h2>订单状态：
					<if condition="($order['order_status'] eq 0)">
						已取消
					<elseif condition="($order['order_status'] eq 1)"/>
						<if condition="($order['pay_status'] eq 1)">
							已打款
						<else />
							<eq name="order.reco_status" value="1">待打款，等待报价</eq>
							<eq name="order.reco_status" value="2">待打款，等待回收</eq>
							<eq name="order.reco_status" value="3">待打款，回收完成</eq>
						</if>
					<elseif condition="($order['order_status'] eq 2)"/>
						已完成
					</if>
				</h2>
				<p>请保持手机畅通,维修师傅稍后联系您!</p>
			</div>
		</div>
       <div class="orderDetail ddd">
			<h2>订单信息</h2>
			<div class="item">
				<div class="user-news orderDetail-item clearfix">
					<h3>联系人信息</h3>
					<div class="rope clearfix">
						<span class="news-tit f_left">收货人：</span>
						<div class="news-content f_left">
							<span><{$order.reciver_user}></span> 
							<span><{$order.reciver_phone}></span>
							<span><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span>
						</div>
					</div>
				</div>
				<div class="order-detial-news orderDetail-item">
					<h3>订单信息</h3>
					<div class="rope clearfix">
						<div class="f_left mr75">
							<span class="news-tit f_left">订单编号：</span>
						    <div class="news-content lh20 f_left"><{$order.order_sn}></div>
						</div>
						<div class="f_left mr75">
							<span class="news-tit f_left">下单时间：</span>
						    <div class="news-content lh20 f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></div>
						</div>
						<div class="f_left mr75">
							<span class="news-tit f_left">送货时间：</span>
							<div class="news-content lh20 f_left">
								节假日均可送货
							</div>
						</div>
					</div>
					<div class="rope clearfix">
						<span class="news-tit f_left">收款方式：</span>
						<div class="news-content lh20 f_left"><{$order.reco_pay}></div>
					</div>
				</div>
				<div class="fault-content">
					<h3>故障信息</h3>
					<div class="fault-news clearfix">
						<div class="rope clearfix">
							<if condition="$order['type_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">类型：</span>
								<div class="news-content f_left"><{$order.type_name}></div>
							</div>
							</if>
							<if condition="$order['brand_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">品牌：</span>
								<div class="news-content f_left"><{$order.brand_name}></div>
							</div>
							</if>
							<if condition="$order['pro_name'] neq ''">
							<div class="f_left mr85">
								<span class="news-tit f_left">型号：</span>
								<div class="news-content f_left"><{$order.pro_name}></div>
							</div>
							</if>
						</div>
						<if condition="$order['attrs'] neq ''">
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">信息：</span>
								<div class="news-content f_left"><{$order.attrs}></div>
							</div>
						</div>
						</if>
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">备注：</span>
								<div class="news-content f_left"><{$order['remarks']}></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item ddd">
			<if condition="($order['reco_way'] eq 1) OR ($order['reco_way'] eq 2)">
			<h2>维修店铺报价信息</h2>
			<div class="master-news">
				<div class="master-news-tit">
					<ul class="clearfix">
						<li class="f_left first w30">店铺名</li>
						<li class="f_left w15">联系人</li>
						<li class="f_left w19">联系方式</li>
						<li class="f_left w15">距离</li>
						<li class="f_left w15">店铺报价</li>
					</ul>
				</div>
			</div>
			<div class="master-news-con">	
				<div class="common">
					<!--<p class="shop-tips">
						<span class="icon-tips"></span>下单1小时内可以选择更换回收店铺
					</p>-->
					<foreach name="offer" item="vo">
					<ul class="clearfix <if condition="$vo['selected'] eq 1">special</if>">
						<if condition="$vo['selected'] eq 1">
						<li class="checked">【已选店铺】</li>
						</if>
						<li class="f_left first w30">
							<img class="f_left" src="__PUBLIC__/User/<{$vo.logo_image}>" alt="<{$vo.shop_name}>" onerror="javascript:this.src='/Public/Home/images/2016/picc.png';" />
							<div class="f_left shop-name">
								<p><{$vo.shop_name}></p>
								<p class="shop-address"><span>地址：</span><{$vo.address}></p>
							</div>
						</li>
						<li class="f_left w15"><{$vo.user_name}></li>
						<li class="f_left w19"><{$vo.user_phone}></li>
						<li class="f_left w15"><{$vo.distance}>公里</li>
						<li class="f_left w15">
							<p class="price">
								<em>￥</em><{$vo.offer}>
							</p>
						</li>
					</ul>
					</foreach>
				</div>
			</div>
			</if>
			<if condition="($order['reco_way'] eq 3)">
			<div class="item official-news">
				<h2>草包网官方邮寄信息</h2>
				<div class="official-news-content clearfix">
					<div class="rope clearfix">
						<span class="news-tit f_left">详细地址：</span>
						<div class="news-content f_left">广东省广州市海珠区杨协成电子创意园A座319之1</div>
					</div>
					<div class="rope clearfix">
						<span class="news-tit f_left">联系电话：</span>
						<div class="news-content f_left">4006233866 维修部（收）</div>
					</div>
					<div class="rope clearfix">
						<span class="news-tit f_left">备注：</span>
						<div class="news-content f_left">邮寄回收，建议使用顺丰快递；为避免恶意邮寄请自行支付快递费，回收成功最多可补30元运费。</div>
					</div>
				</div>
			</div>
			<div class="item shipping-news">
				<h2>物流信息</h2>
				<div class="hd">
					<ul class="clearfix">
						<li class="on">寄出</li>
						<li>寄回</li>
					</ul>
				</div>
				<div class="bd">
					<div class="package-detail-list tab show">
						<neq name="order.shipping_num" value="">
						<p class="shopping-tit">快递公司：<{$order['shipping_name']}> 快递单号：<{$order['shipping_num']}></p>
						<ul>
							<foreach name="order.shipping" item="vo">
							<li><{$vo['time']}> <{$vo['context']}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</neq>
					</div>
					<div class="package-detail-list tab">
						<neq name="order.return_num" value="">
						<p class="shopping-tit">快递公司：<{$order['return_name']}> 快递单号：<{$order['return_num']}></p>
						<ul>
							<foreach name="order.return" item="vo">
							<li><{$vo['time']}> <{$vo['context']}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</neq>
					</div>
				</div>
			</div>
			</if>
		</div>
		<if condition="$order['user_id'] eq $userId">
		<div class="btngrops">
			<a class="ui-button btn-prin" href="javascript:a();">打印</a>
			<a class="ui-button btn-cancel" data-id="<{$order.id}>" href="javascript:;">取消订单</a>
			<div id="btnSuccess" style="display: inline-block;">
				<a class="ui-button btn-payment" href="javascript:;">收款</a>
				<span class="wx_zfb clearfix">
					<a class="qrcode wx" target="_blank" href="<{:U('Wxpay/native', array('trade_no'=>$order['order_sn']))}>"><i class="wx_icon"></i>微信收款</a>
					<a class="qrcode zfb" target="_blank" href="<{:U('Alipay/qrcode', array('trade_no'=>$order['order_sn']))}>"><i class="zfb_icon"></i>支付宝收款</a>
					<a class="qrcode line" href="<{:U('Orders/linePay', array('trade_no'=>$order['order_sn']))}>"><i class="line_icon"></i>线下结算</a>
				</span>
			</div>
		</div>
		</if>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
		//打印输出
		function a() {
			$(".ddd").jqprint();
		};
		
		// 收款
        $(".btngrops .btn-payment").click(function(){
		   $(this).siblings(".wx_zfb").toggle(300);
		});
		
		// 物流切换
		$(".shipping-news .hd li").click(function(){
			var _this = $(this);
			var myIndex = _this.index();
			_this.addClass("on").siblings().removeClass("on");
			$(".package-detail-list").eq(myIndex).addClass("show").siblings().removeClass("show");
		});
		
		// 取消订单
		$(".btn-cancel").click(function(){
			var txt =  "您确定要取消此订单吗？";
			var id  = $(this).attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/close/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});
    </script>
</block>