<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/orders-repair.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab"><a href="<{:U('Orders/index')}>">购物订单</a></li>
							<li class="tab current"><a href="<{:U('Orders/repair')}>">维修订单</a></li>
							<li class="tab"><a href="<{:U('Orders/recovery')}>">回收订单</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bd-b">
				<ul class="ul_tit">
					<li class="one bigW">维修信息</li>
					<li class="five bigM">单价</li>
					<li class="six bigM">操作</li>
				</ul>
				<ul class="ul_bd">
					<empty name="orders">
					<li class="null">维修订单还是空的</li>
					<else />
					<foreach name="orders" item="vo">
					<li data-id="<{$vo.id}>">
						<!-- 订单头部 -->
						<div class="list_tit clearfix">
							<time><{$vo['order_date']|date="Y-m-d",###}></time>
							<span class="order-num">订单号：<{$vo.order_sn}></span>
							<span class="order-statu">
								订单状态：
								<a href="javascript:;">
									<if condition="($vo['order_status'] eq 0)">
										已取消
									<elseif condition="($vo['order_status'] eq 1)"/>
										<if condition="($vo['pay_status'] eq 1)">
											已付款
										<else />
											<eq name="vo.server_status" value="1">待付款，等待报价</eq>
											<eq name="vo.server_status" value="2">待付款，报价成功</eq>
											<eq name="vo.server_status" value="3">待付款，维修完成</eq>
										</if>
									<elseif condition="($vo['order_status'] eq 2)"/>
										已完成
									</if>
								</a>
							</span>
							<if condition="($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
								<a href="javascript:;" class="delete"></a>
							</if>
						</div>
						<!-- 订单详情 -->
						<div class="list-detial clearfix">
							<div class="list-item">
								<div class="list_bd clearfix">
									<div class="phpic bigW">
										<div class="iphone"><img src="<{$vo.show_img}>" height="52" width="52" alt="" /></div>
										<div class="phpic_id">
											<span class="introduce"><{$vo.show_name}></span>
											<span class="color"><{$vo.show_desc}></span>
										</div>
									</div>
									<span class="two bigM"><{$vo.show_price}></span>
								</div>
							</div>
							<div class="btn-group bigM">
								<if condition="($vo['server_way'] eq 3) AND ($vo['shipping_num'] eq '')">
									<a href="javascript:;" data-id="<{$vo.id}>" class="sign">发货</a>
								</if>
								<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 0) AND ($vo['shop_id'] gt 0) AND ($vo['server_status'] eq 2)">
									<a class="pay" href="<{:U('Buy/pay', array('id'=>$vo['order_sn']))}>">修好了,付款</a>
								</if>
								<if condition="($vo['order_status'] eq 2) AND ($vo['is_comment'] eq 0)">
									<a class="eva" href="<{:U('Orders/comment', array('sn'=>$vo['order_sn']))}>">评价</a>
								</if>
								<if condition="($vo['order_status'] eq 1) AND ($vo['server_status'] eq 1)">
									<a class="slt-shop" href="<{:U('Repair/server', array('id'=>$vo['id']))}>">选择店铺</a>
								<else />
									<a class="order-detial" href="<{:U('Orders/rdetail', array('sn'=>$vo['order_sn']))}>">订单详情</a>
								</if>
							</div>
						</div>
					</li>
					</foreach>
					</empty>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
	<div class="posF" id="express">
		<div class="bg"></div>
		<div class="box400">
			<div class="hd posR"> 
				<p>发货</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<form id="send" action="<{:U('Orders/send')}>" method="post" >
					<div class="rope">
						<span>选择快递</span>
						<select name="shipping_way">
						<foreach name="shipping" item="vo">
						<option value="<{$vo.id}>"><{$vo.cname}></option>
						</foreach>
						</select>
						<input type="hidden" name="id" value="" />
					</div>
					<div class="rope">
						<span>快递单号</span>
						<input type="text" name="shipping_num" placeholder="请输入快递单号" />
					</div>
					<div class="rope">
						<button type="button" class="off">取消发货</button>
						<button type="button" class="submit">确定发货</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate(".delete","click",function(){
			var txt =  "您确定要取消此订单吗？";
			var id  = $(this).parents('li').attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/orders/close/id/"+id+".html";
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		}).delegate(".sign","click",function(){
			var id = $(this).attr('data-id');
			$('#send input[name=id]').val(id);
			$("#express").slideDown(300);
		});
		$("#express").delegate(".submit","click",function(){
			var id = $('#send input[name=id]').val();
			var shipping_way = $('#send select[name=shipping_way]').val();
			var shipping_num = $('#send input[name=shipping_num]').val();
			if(id == ''){
				var txt=  "未知错误！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
				return false;
			}else if(shipping_way == '' || shipping_way == 0 || !shipping_way){
				var txt=  "请选择快递公司！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}else if(shipping_num == '' || !shipping_num){
				var txt=  "请填写快递单号！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('form#send').submit();
		}).delegate(".off,.bg","click",function(event){
			if(event && event.stopPropagation){
				event.stopPropagation();
			}else{
				event.cancelBubble = true;
			}
			$("#express").slideUp(300);
		})
	</script>
</block>
<!-- 底部JS执行区域 结束 -->