<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
</block>

<!--js-->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Plugins/jquery.cookie.js"></script>
</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
		<!-- 品牌型号弹出模块 -->
		<div class="wrap idea">
			<div class="service">
				<foreach name="cats" key="key" item="vo">
				<div class="Slst">
					<div class="Slst-bd num<{$key+1}>">
						<p class="tit"><{$vo.cat_name}>维修</p>
						<p class="tit-bd">
							<foreach name="vo.brands" key="k" item="v">
								<lt name="k" value="4">
								<span><a href="<{$CBW_URL}>/repair/<{$vo.id}>-<{$v.id}>.html" title="<{$v.cat_name}>"><{$v.cat_name}></a></span>
								</lt>
							</foreach>
						</p>
						<span class="right"></span>
					</div>
					<div class="extend">
						<div class="extent-b clearfix">
							<ol>
								<foreach name="vo.brands" key="k" item="v">
								<if condition="($k lt 7) AND ($v['cat_name'] neq '其他')">
								<li class="clearfix">
									<a href="<{$CBW_URL}>/repair/<{$vo.id}>-<{$v.id}>.html" class="left" title="<{$v.cat_name}>"><img src="__PUBLIC__/Product/icon/<{$v.icon_image}>" title="<{$v.cat_name}>"></a>
									<p class="right">
										<foreach name="v.models" key="k" item="m">
											<a href="<{$CBW_URL}>/repair/<{$vo.id}>-<{$v.id}>-<{$m.id}>.html" title="<{$m.pro_name}>"><{$m.pro_name}></a>
										</foreach>
									</p>
									<a href="<{$CBW_URL}>/repair/<{$vo.id}>-<{$v.id}>.html" class="moremodel">更多&gt</a>
								</li>
								</if>
								</foreach>
							</ol>
						</div>
						<div class="morebrand"><a href="<{$CBW_URL}>/repair/<{$vo.id}>.html">更多维修品牌&gt</a></div>
					</div>
				</div>
				</foreach>
				<foreach name="cats" key="key" item="vo">
				<div class="Slst">
					<div class="Slst-bd num<{$key+3}>">
						<p class="tit"><{$vo.cat_name}>回收</p>
						<p class="tit-bd">
							<foreach name="vo.brands" key="k" item="v">
								<lt name="k" value="4">
								<span><a href="<{$CBW_URL}>/recovery/<{$vo.id}>-<{$v.id}>.html" title="<{$v.cat_name}>"><{$v.cat_name}></a></span>
								</lt>
							</foreach>
						</p>
						<span class="right"></span>
					</div>
					<div class="extend">
						<div class="extent-b clearfix">
							<ol>
								<foreach name="vo.brands" key="k" item="v">
								<if condition="($k lt 7) AND ($v['cat_name'] neq '其他')">
								<li class="clearfix">
									<a href="<{$CBW_URL}>/recovery/<{$vo.id}>-<{$v.id}>.html" class="left" title="<{$v.cat_name}>"><img src="__PUBLIC__/Product/icon/<{$v.icon_image}>" title="<{$v.cat_name}>"></a>
									<p class="right">
										<foreach name="v.models" key="k" item="m">
											<a href="<{$CBW_URL}>/recovery/<{$vo.id}>-<{$v.id}>-<{$m.id}>.html" title="<{$m.pro_name}>"><{$m.pro_name}></a>
										</foreach>
									</p>
									<a href="<{$CBW_URL}>/recovery/<{$vo.id}>-<{$v.id}>.html" class="moremodel">更多&gt</a>
								</li>
								</if>
								</foreach>
							</ol>
						</div>
						<div class="morebrand"><a href="<{$CBW_URL}>/recovery/<{$vo.id}>.html">更多回收品牌&gt</a></div>
					</div>
				</div>
				</foreach>
			</div>
		</div>
		<!-- Banner -->
        <div class="topArea clearfix">
			<div id="slideBoxs" class="slideBox">
                <div class="hd">
                    <ul>
        				<foreach name="catAds" item="vo">
        				<li></li>
        				</foreach>
        			</ul>
                </div>
                <div class="bd">
                    <ul style="margin:0 auto;width:1920px;">
        				<foreach name="catAds" item="vo">
        				<li><a href="<{$vo.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" alt="<{$vo.adv_name}>"/></a></li>
        				</foreach>
                    </ul>
                </div>
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
        </div>
        <!-- 首页维修店 -->
        <div class="repair_store wrap">
            <h2><a class="titleA" href="<{$CBW_URL}>/repairer_list/<{$city.id}>.html"><{$CBW_CITY}>维修店</a></h2>
            <div class="nav_bar clearfix">
                <dl class="clearfix">
                    <dt><i></i><{$CBW_CITY}></dt>
					<foreach name="areas" key="key" item="vo">
                    <a href="<{$CBW_URL}>/repairer_list/<{$city.id}>-<{$vo.id}>.html" alt="<{$vo.addr}>手机维修店" <eq name="key" value="0">class="current"</eq>><{$vo.addr}></a>
					</foreach>
                </dl>
                <a href="javascript:void(0);" class="more-city" id="moreCity">更多<i class="icon-arrow"></i></a>
            </div>
			<foreach name="areas" key="key" item="vo">
			<empty name="vo.shops">
			<div class="none store_lst clearfix <eq name="key" value="0">current</eq>">
				<a href="<{:U('Index/special')}>" target="_blank"><img src="__PUBLIC__/Home/images/2016/long.jpg" title="赶紧加入我们吧"/></a>
            </div>
			<else />
            <div class="store_lst clearfix <eq name='key' value='0'>current</eq>">
                <div class="small_pic">
                    <ul class="clearfix">
						<foreach name="vo.shops" item="v">
                        <li class="clearfix first">
                            <div class="small"><a href="<{$CBW_URL}>/repairer/<{$v.id}>.html"><img  src="__PUBLIC__/User/<{$v.logo_image}>" width="93" alt="<{$v.shop_name}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';"/></a></div>
                            <div class="pic_bd">
                                <p class="store_name">
									<a href="<{$CBW_URL}>/repairer/<{$v.id}>.html"><{$v.shop_name}></a>
									<for start="0" end="$v.level_image_num">
										<b><img src="__PUBLIC__/Home/images/level/<{$v.level_image_name}>.png" width="16" title="<{$v.level_level}>级" alt="<{$v.level_level}>级" /></b>
									</for>
								</p>
								<p>
									<span class="Authentication id_icon">认证</span>
									<if condition="$v['type_id'] eq 2">
									<span class="chain id_icon">直营</span>
									</if>
									<!--<span class="custemers id_icon">售后</span>
									<span class="guarantee id_icon">担保</span>-->
								</p>
                                <p><if condition="$v['brands'] neq ''">主修：<{$v.brands}></if></p>
                                <p><span class="address_detial">地址：<{$v.address}></span><span class="map_icon" data-deg="<{$v.lng}>,<{$v.lat}>"></span></p>
                            </div>
                        </li>
						</foreach>
                    </ul>
                </div>
            </div>
			</empty>
			</foreach>
        </div>
		<!-- 维修师加盟 -->
		<div class="join_us wrap">
			<!-- <div class="hgrop">
				<h3>维修师加盟</h3><h4>草包网专业维修平台</h4>
			</div> -->
			<a href="<{:U('Index/special')}>" target="_blank"><span class="shadow">立即加盟</span></a>
		</div>

		<!-- 维修指南 -->
        <div class="skill wrap">
			<h2><div class="titleA">维修指南</div></h2>
			<div class="skillCon clearfix">
				<a class="skillBlock" target="_blank" href="<{:C('BBS_URL')}>/wenda.html">
					<div class="skillImg wenda"></div>
					<div class="skillTitle">维修问答</div>
					<div class="skillTip">手机黑屏、换新电池开不了机
					</br>
						专业维修师帮你解疑</div>
				</a>
				<a class="skillBlock" target="_blank" href="<{:C('BBS_URL')}>/jiqiao.html">
					<div class="skillImg gonglve"></div>
					<div class="skillTitle">维修攻略</div>
					<div class="skillTip">手机爆屏维修、iPhoneX摔后无触摸
					</br>
					教你成为更专业的维修师</div>
				</a>
				<a class="skillBlock" target="_blank" href="<{$CBW_URL}>/video/">
					<div class="skillImg shiping"></div>
					<div class="skillTitle">维修视频</div>
					<div class="skillTip">拆机换音量排线、换前置摄像头
					</br>
					自己动手省了3000银元</div>
				</a>
			</div>
            <!-- <div class="clearfix">
				<foreach name="skillRes" key="key" item="vo">
                <div class="skillbd clearfix <eq name="key" value="0">current</eq>">
                    <div class="skpic">
						<a href="<{:C('BBS_URL')}>/view/<{$vo.id}>.html" rel="nofollow"><img <empty name="vo.attachment" >src="__PUBLIC__/Forum/images/nopic.jpg"<else />src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>"</empty>></a>
					</div>
                    <div class="skpicbd">
                        <h4><{$vo.subject|msubstr=0,20,'utf-8',false}></h4>
                        <time><{$vo.dateline|date="Y-m-d",###}></time>
                        <div class="cbd_i">
							<p><{$vo.description|msubstr=0,85,'utf-8',false}></p>
							<foreach name="vo.schedules" item="v">
							<p>（<{$v.displayorder}>）<{$v.content|msubstr=0,25,'utf-8',false}> </p>
							</foreach>
                        </div>
                        <span class="more"><a href="<{:C('BBS_URL')}>/view/<{$vo.id}>.html" rel="nofollow">详细&gt</a></span>
                   </div>
                </div>
				</foreach>
                <div class="news-links">
                    <ul>
						<foreach name="skillRes" key="key" item="vo">
                        <li <eq name="key" value="0">class="current"</eq>><{$vo.subject}></li>
                        </foreach>
                    </ul>
                </div>
            </div> -->
		</div>
		<!--end 维修指南 -->

		 <!-- 商城 -->
		 <div class="store wrap">
			<h2><a class="titleA" href="<{$CBW_URL}>/product/">配件商城</a></h2>
			<div class="store_tab">
				<span class="active">新品</span>
				<span>热销</span>
				<span>内配</span>
				<span>外配</span>
				<span>工具</span>
				<span class="brn" onclick="location.href='<{$CBW_URL}>/product/'">全部商品</span>
			</div>
			<foreach name="productRes" item="data" key="j">
				<div class="store_goods_con clearfix" data-type="<{$j}>">
					<foreach name="data" item="val" key="i">
						<a href="<{$CBW_URL}>/detail/<{$val.rid}>.html" title="<{$val.pro_name}>">
							<if condition="$i==3">
									<div  class="store_goods_block mgn">
								<else/>
									<div  class="store_goods_block">
							</if>
								<div class="store_goods_name"><{$val.pro_name}></div>
								<div class="store_goods_price"><label>￥</label> <{$val.price}></div>
								<div class="store_goods_img">
									<img src="__PUBLIC__/Product/thumb/<{$val.list_image}>" alt="<{$val.pro_name}>" >
								</div>
							</div>
						</a>
					</foreach>
				</div>
			</foreach>
            <!-- <div class="hdul clearfix" id="index_pro">
                <ul>
					<foreach name="productRes" item="vo">
                    <li>
                        <p class="pic"><a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" /></a></p>
                        <p class="tit"><a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a></p>
                        <p class="price"><span>￥</span><{$vo.price}></p>
                    </li>
                    </foreach>
					<foreach name="productRes" item="vo">
                    <li>
                        <p class="pic"><a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" /></a></p>
                        <p class="tit"><a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a></p>
                        <p class="price"><span>￥</span><{$vo.price}></p>
                    </li>
                    </foreach>
                </ul>
            </div>
            <span class="left"></span>
            <span class="right"></span> -->
		</div>
		<!-- end 商城 -->

		<div class="news wrap">
			<h2><a class="titleA" href="<{$CBW_URL}>/news/">资讯中心</a></h2>
			<div class="news_tab clearfix">
				<foreach name="newsRes" item="va" key="i">
					<!-- <a href="<{$CBW_URL}>/news_list/<{$va.id}>" title="<{$va.cat_name}>" alt=""> -->
						<span><{$va.cat_name}></span>
					<!-- </a> -->
				</foreach>
			</div>
			
			<foreach name="newsList_all" item="v">
				<ul class="news_con">
				<foreach name="v" item="value" >
					<li class="cat_id<{$value.cat_id}>">
						<a href="<{$CBW_URL}>/news/<{$value.id}>.html" title="<{$value.title}>" alt="<{$value.title}>">
						<div class="news_con_l">
							<{$value.thumbnail}>
						</div>
						<div class="news_con_r">
							<div class="news_title"><{$value.title}></div>
							<div class="news_tip">作者：<{$value.author|default='草包网'}> &nbsp;&nbsp; 发布时间：<{$value.create_time|date="Y-m-d H:i",###}> &nbsp;&nbsp; 点击：<{$value.clicktimes|default='0'}>次</div>
							<div class="news_describe"><{$value.description}></div>
						</div>
						</a>
					</li>
					</foreach>
				</ul>
			</foreach>
			
			<a href="<{$CBW_URL}>/news/" class="news_more">查看更多 ></a>
		</div>

		<!-- 维修视频 -->
        <!-- <div class="videos wrap">
            <h2><a class="titleA" href="<{$CBW_URL}>/video/">维修视频</a></h2>
            <div class="skill-detial">
                   <ul class="clearfix">
                       <foreach name="videoRes" key="key" item="vo">
                       <li <eq name="key" value="1">class="middle"</eq>>
                           <div class="pic">
                               <a href="<{$CBW_URL}>/video/<{$vo.id}>.html" title="<{$vo.title}>"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Video/<{$vo.simg}>" width="278" alt="<{$vo.title}>" /></a>
                               <span><{$vo.title}></span>
                           </div>
						   <span class="play_icon"><a href="<{$CBW_URL}>/video/<{$vo.id}>.html" title="<{$vo.title}>"><img src="__PUBLIC__/Home/images/2016/video.png" /></a></span>
                       </li>
                       </foreach>
                   </ul>
               </div>
        </div> -->
		<!-- 维修流程介绍 -->
		<!-- <div class="repair_step wrap">
			<div class="repair_step_wrap">
				
				<div class="repair">
					<h3> 用户轻松 <strong>5</strong> 步，下单维修</h3>
					<div class="five_step clearfix">
						<div class="step stepone clearfix">
							<div class="content_s">
								<h4>1.品牌机型</h4>
								<p>选择需要维修的设备型号及颜色</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step steptwo clearfix">
							<div class="content_s">
								<h4>2.描述故障</h4>
								<p>选择故障现象或者描述故障详情</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step stepthree clearfix">
							<div class="content_s">
								<h4>3.等待维修店报价</h4>
								<p>等待附近维修店针对故障描述进行报价</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step stepfour clearfix">
							<div class="content_s">
								<h4>4.选择维修</h4>
								<p>选择已报价店铺维修或</p>
								<p>邮寄至官方或官方直营店维修</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step stepfive clearfix">
							<div class="content_s">
								<h4>5.在线支付</h4>
								<p>维修完成在线支付维修款</p>
								<p>享受更多售后保障</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="master">
					<h3>维修师 <strong>4</strong> 步操作，维修无忧</h3>
					<div class="four_step clearfix">
						<div class="step stepone clearfix">
							<div class="content_s">
								<h4>1.关注草包网微信公号接收微信报价提示</h4>
								<p><span class="icon icon-erweima"></span></p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step steptwo clearfix">
							<div class="content_s">
								<h4>2.维修报价</h4>
								<p>点击报价链接</p>
								<p>根据消费者故障描述报价</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step stepthree clearfix">
							<div class="content_s">
								<h4>3.等待用户选择维修</h4>
								<p>用户选中维修后获取用户联系信息</p>
								<p>及时与用户联系维修</p>
							</div>
							<span class="next_icon icon"></span>
						</div>
						<div class="step stepfour clearfix">
							<div class="content_s">
								<h4> 4.完成维修</h4>
								<p>提醒用户通过草包网平台当面在线支付</p>
								<p>及对您的维修进行评价</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- 快捷栏目 -->
        <!-- <div class="customer-service wrap">
            <ul class="clearfix">
                <li class="first">
                    <p><a href="<{:C('BBS_URL')}>/wenda.html">问题解答</a></p>
                    <p class="bottom"><a href="<{:C('BBS_URL')}>/jiqiao.html">技巧分享</a></p>
                </li>
                <li class="second">
                    <p><a href="<{$CBW_URL}>/article/35.html">消费保障</a></p>
                    <span><a href="<{$CBW_URL}>/article/35.html">价格保护</a><a href="<{$CBW_URL}>/article/31.html">退换货</a></span>
                </li>
                <li class="third">
                    <p><a href="<{$CBW_URL}>/article/13.html">新手指南</a></p>
                    <span><a href="<{$CBW_URL}>/article/40.html">维修店加入流程</a><a href="<{$CBW_URL}>/article/37.html">折价换屏</a></span>
                </li>
                <li class="last">
                    <p><a href="<{$CBW_URL}>/article/38.html">关于我们</a></p>
                    <span><a href="<{$CBW_URL}>/article/39.html">联系我们</a><a href="<{$CBW_URL}>/article/42.html">人才招聘</a></span>
                </li>
            </ul>
        </div> -->
    </div>
	<!-- 地图 -->
	<div class="dark"></div>
	<div class="bigbox posF" style="height:500px;width:700px;">
		<span class="posA off">&nbsp;</span>
		<div id="mapBx" style="height:500px;width:700px;"></div>
	</div>
	<div id="map" style="display:none;"></div>
	<script name="baidu-koubei-verification" src="//ikoubei.baidu.com/embed/b8b3e2020fe53dcaa8e81dd0816ba1a8"></script>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/index.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//图片懒加载
		$(function() {
			$("img").lazyload({
				placeholder : "images/loading.gif",
				effect: "fadeIn"
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->