<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/coop.css">
</block>

<!--js-->
<block name="topJsFile">
</block>
	
<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content clearfix">
		<dl class="clearfix siteUrl">
			<dt>首页</dt>
			<dd><em></em> 合作加盟</dd>
		</dl>
		<div class="bdCont">
			<div class="applyStep">
				<ul class="clearfix">
					<li class="on">1、选择开店类型</li>
					<li>2、提交申请信息</li>
					<li>3、草包网审核信息</li>
					<li>4、加入成功</li>
				</ul>
			</div>
			<div class="clearfix select">
				<div class="recruit hasshop fl">
					<a href="<{:U('Index/recruit',array('type'=>0))}>">
						<div class="join-head">
							<h2>有店面加入</h2>
							<p>支持上门、到店客户双向选择</p>
						</div>
						<div class="join-bg">
							<img src="__PUBLIC__/Home/images/2016/hasShop.jpg" />
						</div>
						<div class="join-btn">下一步</div>
					</a>
				</div>
				<div class="recruit noshop fr">
				    <a href="<{:U('Index/recruit',array('type'=>1))}>">
						<div class="join-head">
							<h2>无店面加入</h2>
							<p>专业上门维修，无需办公场地，也能轻松接单</p>
						</div>
						<div class="join-bg">
							<img src="__PUBLIC__/Home/images/2016/noShop.jpg" />
						</div>
						<div class="join-btn">下一步</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">

</block>