<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/coop.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/ietip/iealert/style.css" />
</block>

<!--js-->
<block name="topJsFile">

</block>
	
<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="posF" id="servers"> 
		<div class="bg"></div>
		<div class="box800">
			<div class="posR hd">
				<h3>草包网用户协议</h3>
				<span class="posA off">&nbsp;</span>
			</div>
			<div class="bd">
				<{$article.content|htmlspecialchars_decode}>
			</div>
		</div>
	</div>
	<!-------------------------------------------->
	<div class="dark"></div>
	<div class="bigbox posF" style="height:500px;width:700px;">
		<span class="posA off">&nbsp;</span>
		<p class="PS posA">拖动<img src="__PUBLIC__/Home/images/2016/master.png" title="定位标记" alt="定位标记">即可重新定位！</p>
		<div id="mapBx" style="height:500px;width:700px;"></div>
	</div>
	<!-------------------------------------------->
	<div id="map" style="display:none"></div>
	<!-------------------------------------------->
	<div class="content clearfix">
		<dl class="clearfix siteUrl">
			<dt>首页</dt>
			<dd>&gt; 合作加盟</dd>
		</dl>
		<div class="bdCont">
			<div class="applyStep">
				<ul class="clearfix">
					<li>1、选择开店类型</li>
					<li class="on">2、提交申请信息</li>
					<li>3、草包网审核信息</li>
					<li>4、开店成功</li>
				</ul>
			</div>
			<div class="form">
				<div class="title">
					<p><eq name="type" value="1">无店面<else />有店面</eq>加盟申请</p>
				</div>
				<form action="<{:U('Index/add_recruit')}>" method="post" id="Info" class="clearfix" autocomplete="off">
					<dl class="clearfix must">
						<dt><i>*</i>店铺名称：</dt>
						<dd class="formItem"><input name="shop_name" class="must" type="text" value="<{$Think.session.recruit.sname}>" placeholder="请输入您的店铺名称,无名称可填自己姓名" /></dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must">
						<dt><i>*</i>真实姓名：</dt>
						<dd class="formItem"><input name="user_name" class="must" type="text" value="<{$Think.session.recruit.uname}>" placeholder="请输入您的真实姓名" /></dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must" style="margin-top:25px;" id="IDspecial">
						<dt><i>*</i>身份证明：</dt>
						<dd class="clearfix formItem formItemIDcart">
						    <div class="IDcart-just IDcart fl">
								<div class="img clearfix">
									<div class="file clearfix">
										<label for="identity_positive_file" class="Ifile">
										    <p class="file_txt"><i class="icon-add"></i>上传正面</p>
											<input type="file" class="none" name="identity_positive_file" id="identity_positive_file" />
										</label>
										<input type="hidden" class="checkEle" name="identity_positive" id="identity_positive" />
										<div><img id="identity_img" src="__PUBLIC__/Plugins/1.png" /></div>
									</div>
								</div>
								<div class="IDcart-simple">
									<p>案例</p>
									<p class="pic-simple">
									    <img class="pic_simple_sml" src="__PUBLIC__/Home/images/2016/just.jpg" alt="身份证正面">
									    <img class="pic-simple-big" src="__PUBLIC__/Home/images/2016/just-big.jpg" alt="身份证正面">
									</p>
								</div>
							</div>
						    <div class="IDcart-back IDcart fl">
								<div class="img clearfix">
									<div class="file clearfix">
										<label for="identity_back_file" class="Ifile">
										    <p class="file_txt"><i class="icon-add"></i>上传反面</p>
											<input type="file" class="none" name="identity_back_file" id="identity_back_file" />
										</label>
										<input type="hidden" class="checkEle" name="identity_back" id="identity_back" />
										<div><img id="back_img" src="__PUBLIC__/Plugins/1.png" /></div>
									</div>
								</div>
								<div class="IDcart-simple">
									<p>案例</p>
									<p class="pic-simple">
									    <img class="pic_simple_sml" src="__PUBLIC__/Home/images/2016/back.jpg" alt="身份证反面">
									    <img class="pic-simple-big" src="__PUBLIC__/Home/images/2016/back-big.jpg" alt="身份证反面">
									</p>
								</div>
							</div>
						    <div class="IDcart-person IDcart fl">
								<div class="img clearfix">
									<div class="file clearfix">
										<label for="identity_body_file" class="Ifile">
											<p class="file_txt"><i class="icon-add"></i>上传半身照</p></p>
											<input type="file" class="none" name="identity_body_file" id="identity_body_file" />
										</label>
										<input type="hidden" class="checkEle" name="identity_body" id="identity_body" />
										<div><img id="body_img" src="__PUBLIC__/Plugins/1.png" /></div>
									</div>
								</div>
								<div class="IDcart-simple">
									<p>案例</p>
									<p class="pic-simple">
									    <img class="pic_simple_sml" src="__PUBLIC__/Home/images/2016/person.jpg" alt="半身照">
									    <img class="pic-simple-big" src="__PUBLIC__/Home/images/2016/person-big.jpg" alt="半身照">
									</p>
								</div>
							</div>
						</dd>
						<dd class="formTips" style="top: -28px;"></dd>
					</dl>
					<if condition="$type eq 0">
					<dl class="clearfix must hasShop">				
						<dt>营业执照：</dt>
						<dd class="clearfix formItem formItemIDcart">
						    <div class="IDcart">
								<div class="img clearfix">
									<label for="business_file" class="Ifile">
										<p class="file_txt"><i class="icon-add"></i>营业执照</p>
										<input type="file" class="none" name="business_file" id="business_file" />
									</label>
									<input type="hidden" name="business" id="business" placeholder="请提交您的营业执照" />
									<div><img id="business_img" src="__PUBLIC__/Plugins/1.png" /></div>
								</div>
							</div>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must hasShop">
						<dt><i>*</i>店铺图片：</dt>
						<dd class="clearfix formItem formItemIDcart">
						    <div class="IDcart">
								<div class="img clearfix">
									<label for="external_file" class="Ifile">
										<p class="file_txt"><i class="icon-add"></i>店铺图片</p>
										<input type="file" class="none" name="external_file" id="external_file" />
									</label>
									<input type="hidden" class="must" name="external" id="external" placeholder="请提交店铺图片" />
									<div><img id="external_img" src="__PUBLIC__/Plugins/1.png" /></div>
								</div>
							</div>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					</if>
					<dl class="clearfix must">
						<dt><i>*</i>所在城市：</dt>
						<dd class="clearfix formItem">
							<{$city.str}>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must">
						<dt><i>*</i>详细地址：</dt>
						<dd class="formItem">
							<input style="width:300px;" name="address" class="must" type="text" value="<{$Think.session.recruit.address}>" placeholder="请输入您的店铺地址" />
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must">
						<dt><i>*</i>地图坐标：</dt>
						<dd class="formItem">
							<input name="lng" type="text" class="must" style="width:100px;" value="" placeholder="经度" />
							<input name="lat" type="text" class="must" style="width:100px;" value="" placeholder="纬度" />
							<button type="button" class="getMap">手动定位</button>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<if condition="$type eq 1">
					<dl class="clearfix must">
						<dt><i>*</i>服务方式：</dt>
						<dd class="formItem">
							<label for="is_door"><input  class="least" type="checkbox" id="is_door" name="is_door" value="1" checked onclick="return false;" /> 仅支持上门服务</label>
						</dd>
						<dd class="formTips leastTips"></dd>
					</dl>
					<else />
					<dl class="clearfix must">
						<dt><i>*</i>服务方式：</dt>
						<dd class="formItem">
							<label for="is_store"><input class="least" type="checkbox" id="is_store" name="is_store" value="1" <if condition="$Think.session.recruit.store eq 1">checked</if> /> 支持到店服务</label>
							<label for="is_door"><input  class="least" type="checkbox" id="is_door" name="is_door" value="1" <if condition="$Think.session.recruit.store eq 1">checked</if> /> 支持上门服务</label>
						</dd>
						<dd class="formTips leastTips"></dd>
					</dl>
					</if>
					<dl class="clearfix must">
						<dt><i>*</i>主营：</dt>
						<dd class="formItem"><input name="main" class="must" type="text" value="<{$Think.session.recruit.main}>" placeholder="请填写主营内容" /></dd>
						<dd class="formTips"></dd>
					</dl>
					<eq name="Think.session.user.userid" value="">
					<dl class="clearfix must">
						<dt><i>*</i>手机号码：</dt>
						<dd class="formItem"><input name="mobile" class="must" type="text" value="<{$Think.session.recruit.mobile}>" placeholder="请输入您的手机号码" /></dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix must">
						<dt><i>*</i>图形验证码：</dt>
						<dd class="formItem">
							<input class="must imgCode" type="text" name="imgcode" value="" placeholder="请输入右侧的图形验证码" />
							<div class="imgicon"></div>
							<img class="verify" src="<{:U('Index/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Index/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix smsMust">
						<dt><i>*</i>短信验证码：</dt>
						<dd class="formItem">
							<input name="smscode" class="smsCode" type="text" value="" placeholder="请输入您的短信验证码" />
							<div class="smsicon"></div>
							<button type="button" class="sendMesg">获取验证码</button>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					</eq>
 					<dl class="clearfix must">
						<dt>&nbsp;</dt>
						<dd class="formItem">
							<label for="serverTerms">
								<input id="serverTerms" class="must" name="servers" value="1" type="checkbox" placeholder="请阅读并接受《招募简介》" />
								我已阅读并接受<a href="javascript:void(0);" onClick="$('#servers').slideDown(250);">《草包网用户协议》</a>
							</label>
						</dd>
						<dd class="formTips"></dd>
					</dl>
					<dl class="clearfix">
						<dt>&nbsp;</dt>
						<dd><input type="hidden" name="type" value="<{$type}>" /><button type="button" class="submit">提交</button></dd>
					</dl>
				</form>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
	<script src="__PUBLIC__/Plugins/ietip/jquery-migrate-1.2.1.js"></script>
	<script src="__PUBLIC__/Plugins/ietip/iealert.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
    <script type="text/javascript">
		//城市三级联动
		<{$city.script}>
		//ie低版本提示
		$(document).ready(function() {
			$("body").iealert();
		});
		$(function(){
			mapInit();    // 初始化地图
		});
        //身份证正面
		upload($("#identity_positive_file"),$('#identity_img'),$('#identity_positive'));
        //身份证反面
		upload($("#identity_back_file"),$('#back_img'),$('#identity_back'));
        //半身照
		upload($("#identity_body_file"),$('#body_img'),$('#identity_body'));
		//营业执照
		upload($("#business_file"),$('#business_img'),$('#business'));
		//店铺图片
		upload($("#external_file"),$('#external_img'),$('#external'));
		// 上传压缩图片函数
		function upload(input,imgs,hidden){
		    input.change(function (e) {
				new html5ImgCompress(e.target.files[0], {
					before: function(file) {
						//console.log('单张: 压缩前...');
					},
					done: function (file, base64) {
						//console.log('单张: 压缩成功...');
						var img = new Image(), title, src, size, base;
						if (typeof base64 === 'object') {
							title = '前';
							size = base64.size;
							src = URL.createObjectURL(base64);
							base = 1024;
						} else {
							title = '后';
							size = base64.length;
							src = base64;
							base = 1333;
						}
						imgs.attr('src',src).show();
						var height = imgs.height();
						input.siblings(".file_txt")
												.html('')
												.parent().css({"position":"absolute","height":height});
						hidden.val(src);
						base64 = null; // 处理完后记得清缓存
					},
					fail: function(file) {
						//console.log('单张: 压缩失败...');
					},
					complate: function(file) {
						//console.log('单张: 压缩完成...');
					},
					notSupport: function(file) {
						var txt=  "浏览器不支持！";
						window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					}
				});
			});
		};
		$('form#Info').delegate('.sendMesg','click',function(){              // 发送验证码
			var _this = $(this);
			var imgcode = $('#Info input[name=imgcode]').val();
			var mobile = $('#Info input[name=mobile]').val();
			var telReg = !!mobile.match( /^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/);
			if(!telReg){
				$('#Info input[name=mobile]').parents('dl').find('.formTips').text('手机号码格式不正确！请检查！');
				$('#Info input[name=mobile]').parents('dl').addClass('false');
			}else{
				$('#Info input[name=mobile]').parents('dl').find('.formTips').empty();
				$('#Info input[name=mobile]').parents('dl').removeClass('false');
			}

			if(!imgcode || imgcode == '' || imgcode == ' '){
				$('#Info input[name=imgcode]').parents('dl').find('.formTips').text('请输入右侧的图形验证码');
				$('#Info input[name=imgcode]').parents('dl').addClass('false');
			}
			if($('#Info dl.false').length != 0){
				return false;
			}
			var time = parseInt(90);
			$.post("__CONTROLLER__/sendSms", {'mobile':mobile,'tempid':'SMS_116560959','testid':'1'},function(d){
				var data = JSON.parse(d);
				if (data['status'] > 0) {//发送成功
					_this.parents('dl').find('.formTips').text("短信验证码第"+data['status']+"次成功发送，8小时内有效");
				} else{
					_this.parents('dl').find('.formTips').text(data['msg']);
				}
				var t = setInterval(function(){
					if(time > 0){
						_this.text(time + "s").prop('disabled',true).addClass('disabled');
						time--;
					}else{
						_this.text("重新获取").prop('disabled',false).removeClass('disabled');
						clearInterval(t);
					}
				},1000);
			});
		}).delegate('.imgCode','blur',function(){                                    // 短信验证码
			var imgcode = $('#Info input[name=imgcode]').val();
			$.post("<{:U('Index/checkAjaxVerify')}>", {'code':imgcode}, function (d) {
				if (d) {//短信验证码正确
					$('#Info .imgicon').removeClass('error').addClass('succcess').show().find('.formTips').text("");
				}else{
					$('#Info .imgicon').removeClass('succcess').addClass('error').show().find('.formTips').text("验证码错误");
				}
			});
		}).delegate('.smsCode','blur',function(){
			var mobile = $('#Info input[name=mobile]').val();
			var smscode = $('#Info input[name=smscode]').val();
			$.post('__CONTROLLER__/check_sms', {'mobile':mobile,'smscode':smscode}, function (d) {
				if (d == 1) {//短信验证码正确
					$('#Info .smsicon').removeClass('error').addClass('succcess').parents('dl').removeClass('false').show().find('.formTips').text('');
				}else if(d == 2){
					$('#Info .smsicon').removeClass('succcess').addClass('error').show().parents('dl').removeClass('false').find('.formTips').text("验证码过期");
					return false;
				}else{
					$('#Info .smsicon').removeClass('succcess').addClass('error').show().parents('dl').removeClass('false').find('.formTips').text("验证码错误");
					return false;
				}
			});
		}).delegate('button.submit','click',function(){                       // 提交
			var _this = $(this);
			var DL = $('#Info dl.must');
			var atLeast = $(".least");
			if(!atLeast.is(':checked')){
				$(this).parents(".must").addClass("false");
				$(".leastTips").html("请选择服务方式");
			}else{
				$(this).parents(".must").removeClass("false");
				$(".leastTips").html("");
			}
			for(var a = 0;a < DL.length;a++){
				var input = $(DL[a]).find('input.must');
				var select = $(DL[a]).find('select');
				if(input){
					for(var b = 0;b < input.length;b++){
						var val = $(input[b]).val();
						if(!val || ($(input[b]).attr('type') == 'checkbox' && !$(input[b]).is(':checked'))){
							$(input[b]).parents('dl').addClass('false').find('.formTips').text($(input[b]).attr('placeholder'));
						}else{
							$(input[b]).parents('dl').removeClass('false').find('.formTips').text('');
						}
					}
				}
				if(select){
					var text = '';
					for(var b = 0;b < select.length;b++){
						if($(select[b]).val() == 0 || $(select[b]).val() == '' || !$(select[b]).val()){
							if(b == 0){
								text += ' 省份/直辖市';
							}else if(b == 1){
								text += ' 城市';
							}else if(b == 2){
								text += ' 地区';
							}
							$(select[b]).parents('dl').find('.formTips').text('请选择您的所在' + text);
							_this.addClass('false');
						}else{
							$(select[b]).parents('dl').find('.formTips').text('');
							_this.removeClass('false');
						}
					}
				}
			};
			if($('#Info .smsicon').hasClass("error") || $(".smsCode").val() == ""){
			    $(".smsMust").addClass("false").find(".formTips").text('验证码错误');
			    return false;
			}else{
			    $(".smsMust").removeClass("false").find(".formTips").text('');
			};
			checkIDcart();
			if($('#Info dl.false').length == 0){
				$('form#Info').submit();
			}
		}).delegate('input[name=address]', 'blur keyup', function(event) {             // 地址
			var address  = $(this).val();
			var province = $('#province option:selected').text();
			var city     = $('#city option:selected').text();
			var area     = $('#area option:selected').text();
			geocoder2(province+city+area+address);
		}).delegate('button.getMap','click',function(){                             // 手动定位
			var area    = $('#area').val();
			var address = $('#Info input[name=address]').val();
			if(!area || area == 0){
				var txt=  "请选择您的所在城市/地区！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			if(!address || address == ''){
				var txt=  "请输入您的店铺地址！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$(".dark").fadeTo(300,0.5).css("z-index",9);
			$('.bigbox').slideDown(250);
			againPosition();
		}).delegate('.pic_simple_sml','mouseenter',function(){                    // 鼠标移上小图
			var _this = $(this);
			_this.siblings(".pic-simple-big").stop().show(300);
		}).delegate('.pic_simple_sml','mouseleave',function(){                    // 鼠标移上小图
			var _this = $(this);
			_this.siblings(".pic-simple-big").stop().hide(300);
		});
		$(".off").click(function(event){                                          //关闭定位
			$(".dark").fadeOut(300);
			$('.bigbox').slideUp(250);
		})
		// 检查身份信息是否齐全
		function checkIDcart(){
		    var checkEle = $("#IDspecial").find(".checkEle");
			for(var i = 0;i<checkEle.length;i++){
			   if($(checkEle[i]).val() == ""){
			        $(checkEle[i]).parents('.IDcart').addClass("IDfalse");
				}else{
				    $(checkEle[i]).parents('.IDcart').removeClass("IDfalse");
				}
			};
			if($("#IDspecial .IDcart.IDfalse").length == 0){
			    $("#IDspecial").removeClass("false");
				$("#IDspecial").find('.formTips').text("");
			}else{
			   $("#IDspecial").addClass("false");
			   $("#IDspecial").find('.formTips').text("请完整提交您的身份信息");
			}
		};
		$(function(){
			var maxHeight = window.innerHeight;
			var boxHeight = maxHeight * 0.75 - 72;
			$('#servers .box800 .bd').css({'height':boxHeight+'px'});
		});
	</script>
</block>