<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/coop.css">
</block>

<!--js-->
<block name="topJsFile">
	
</block>
	
<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content clearfix">
		<dl class="clearfix siteUrl">
			<dt>首页</dt>
			<dd><em></em> 合作加盟</dd>
		</dl>
		<div class="bdCont">
			<div class="applyStep">
				<ul class="clearfix">
					<li>1、选择开店类型</li>
					<li>2、提交申请信息</li>
					<li class="on">3、草包网审核信息</li>
					<li>4、开店成功</li>
				</ul>
			</div>
			<div class="infos">
				<if condition="($mobile neq '') AND ($password neq '')">
				<div class="acc">
					您的账号：<span><{$mobile}></span>
				</div>
				<div class="pasd">
					您的密码：<span><{$password}></span>
				</div>
				</if>
				<p>提交完成！感谢你的加入，工作人员会在1-2个工作日内和你取得联系！<br/>
				如需快速申请，可以在<span>工作日的早上9点至下午6点</span>，咨询在线维修主管，优先审核！<a href="http://wpa.qq.com/msgrd?v=1&amp;uin=717231769&amp;site=qq&amp;menu=yes" target="_blank" alt="草包网QQ客服" title="草包网QQ客服"><img src="__PUBLIC__/Home/images/coins/qq_icon.png" alt="草包网QQ客服" /></a>
				</p>
				<a href="<{:U('Index/index')}>">返回首页</a>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">

</block>