<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/search.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="search_tit">
			<h1 class="search_h1"><i class="search_icon"></i>搜索到 <{$number}> 条记录</h1>
		</div>
		<div class="thread_bd common_bd">
			<div class="wenda_nav common_nav">
				<ul class="clearfix ulTit">
					<li class="current"><a href="#">全部主题</a></li>
				</ul>
			</div>
			<notempty name="data">
			<div class="thread_list">
				<ul>
					<foreach name="data" item="vo">
					<li class="clearfix">
						<div class="share_bd">
							<div class="item_detial clearfix">
								<div class="item_detial_img">
									<a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
								</div>
								<div class="item_detial_text">
									<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></h2>
									<p class="share_content">简介：<{$vo.description|msubstr=0,85,'utf-8',true}></p>
								</div>
							</div>
							<p class="pdz"><strong><{$vo.replies}></strong> <if condition="$vo.category eq 1">回答<else />回复</if> / <strong><{$vo.votes}></strong> 评分 / <strong><{$vo.favtimes}></strong> 收藏</p>
						</div>
						<div class="share_auth clearfix">
							<div class="share_auth_img">
								<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
							</div>
							<div class="share_auth_name">
								<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
								<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<else />
			<div class="empty_list">
				搜索不到相关内容, <a href="<{:C('BBS_URL')}>/add/1.html">我要提问</a>
			</div>
			</notempty>
			<if condition="$pages gt 1">
			<div class="pagenum">
				<if condition="($page gt 1)">
					<span class="pre_page"><a href="<{$CBW_URL}>/search/index.html?keyword=<{$keyword}>&page=<{$page-1}>">&lt&lt上一页</a></span>
				</if>
				<span class="num"><{$page}>/<{$pages}>页</span>
				<if condition="($page lt $pages)">
					<span class="next_page"><a href="<{$CBW_URL}>/search/index.html?keyword=<{$keyword}>&page=<{$page+1}>">下一页&gt&gt</a></span>
				</if>
			</div>
			</if>
		</div>
	</div>
	<div class="proList_right">
		<h3>最新回答</h3>
		<ul>
			<foreach name="news" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><span>[<{$vo.dateline|CBWTimeFormat='m.d'}>] <{$vo.uname}> 回答了问题</span><{$vo.subject}></a></li>
			</foreach>
		</ul>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->