<extend name="Public:shop" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/repairer-comments.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="con wrap clearfix">
	<div class="comment-left">
		<div class="comment-title clearfix">
			<h1 class="user-eva">用户评价</span></h1>
		</div>
		<div class="comment-classify clearfix">
			<ul class="clearfix">
				<li>
					<label for="comment-all">
						<input type="radio" name="evaluate" value="0" id="comment-all" autocomplete="off" <eq name="score" value="0">checked</eq> />
						全部
						<span class="all">( <{$all}> )</span>					
					</label>
				</li>
				<li>
					<label for="comment-good">
						<input type="radio" name="evaluate" value="1" id="comment-good" autocomplete="off" <eq name="score" value="1">checked</eq> />
						好评
						<span class="good">( <{$good}> )</span>					
					</label>
				</li>
				<li>
					<label for="comment-middle">
						<input type="radio" name="evaluate" value="2" id="comment-middle" autocomplete="off" <eq name="score" value="2">checked</eq> />
						中评
						<span class="middle">( <{$middle}> )</span>					
					</label>
				</li>
				<li>
					<label for="comment-low">
						<input type="radio" name="evaluate" value="3" id="comment-low" autocomplete="off" <eq name="score" value="3">checked</eq> />
						差评
						<span class="low">( <{$low}> )</span>					
					</label>
				</li>
			</ul>
		</div>
		<div class="comment-lst">
			<ul>
				<empty name="data">
				<li class="clearfix not-comment">
					<div class="list_null">
						暂无相关评论!
					</div>
				</li>
				<else />
				<foreach name="data" item="vo">
				<li class="clearfix">
					<div class="scal_left">
						<p>
							<if condition="($vo['score'] eq 1)">
								<img src="__PUBLIC__/Home/system/images/eva-good.png" height="18" width="18" alt="好评" /> <span>好评</span>
							<elseif condition="$vo['score'] eq 2"/>
								<img src="__PUBLIC__/Home/system/images/eva-zh.png" height="18" width="18" alt="中评" /> <span>中评</span>
							<elseif condition="$vo['score'] eq 3"/>
								<img src="__PUBLIC__/Home/system/images/eva-no.png" height="18" width="18" alt="差评" /> <span>差评</span>
							</if>
						</p>
						<time><{$vo.comment_time|date="m.d",###}></time>
					</div>
					<div class="content_Box clearfix">
						<div class="content_right"><{$vo.content}></div>
						<neq name="vo.replies" value="">
							<div class="reply">[回复]<{$vo.replies}><time><{$vo.reply_time|date="m.d",###}></time></div>
						</neq>
					</div>
					<div class="user_Box clearfix">
						<img src="__PUBLIC__/User/<{$vo.thumb}>" title="<{$vo.uname}>" onerror="javascript:this.src='/Public/User/default.jpg';">
						<div class="right">
							<p class="username"><{$vo.uname}></p>
							<p><{$vo.city}></p>
						</div>
					</div>
				</li>
				</foreach>
				</empty>
			</ul>
		</div>
		<div class="pageLink clearfix">
			<{$page}>
		</div>
	</div>
	<div class="comment-right">
		<div class="shop-news">
			<h2><{$shop.shop_name}></h2>
			<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$shop.shop_name}>" />
			<div class="sever-time txtArea">
				<span>营业时间：</span><eq name="shop.is_week" value="1">周一至周末<else />周一至周五</eq><time>（<{$shop.hours_start}>:00-<{$shop.hours_close}>:00）</time>
			</div>
			<div class="phone txtArea"><span>联系方式：</span><{$shop.user_name}>师傅  <em style="font-style:italic;font-size:16px;"><{$shop.user_phone|hidestr}></em></div>
			<div class="detial txtArea"><span>店铺简介：</span><neq name="shop.description" value=""><{$shop.description}><else />这家伙太懒，什么都没留下！</neq></div>
		</div>
		<div class="erweima">
			<p>微信扫一扫 关注我们</p>
			<img src="/Public/Temp/<{$qrcode}>" width="200px" height="200px" alt="扫码关注" title="扫码关注">
		</div>
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
<!--js-->
<block name="footScript">
    <script type="text/javascript">
		$(".comment-classify label").on("click",function(){
			var score = $(this).children("input:checked").val()
			var id = "<{$Think.get.id}>";
			if(score > 0){
				window.location.href = '/Repairer/comments/id/'+ id +'/score/'+ score +'.html';
			}else{
				window.location.href = '/Repairer/comments/id/'+ id +'.html';
			}
		})
 	</script>
</block> 