<extend name="Public:shop" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/repairer.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="con">
	<!-- 分页 -->
	<div class="tcdPageCode"></div>
	<!-- 店铺名 -->
	<div class="shop-name clearfix wrap">
		<!--<div class="shop-img">
			<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$shop.shop_name}>" />
		</div>-->
		<div class="shop-main">
			<h2><{$shop.shop_name}></h2>
			<div class="shop-icon">
				<span class="Authentication">认证</span>
				<if condition="$shop['type_id'] eq 2">
				<span class="chain">直营</span>
				</if>
				<span class="custemers notuse">售后</span>
				<span class="guarantee notuse">担保</span>
			</div>
			<div class="shop-level">
				<for start="0" end="$shop.level_image_num">
					<b><img src="__PUBLIC__/Home/images/level/<{$shop.level_image_name}>.png" width="16" title="<{$shop.level_level}>级" alt="<{$shop.level_level}>级" /></b>
				</for>
			</div>
		</div>
		<div class="share">
			<div class="share_four">
				<span class="shares">分享：</span>
				<div class="jiathis_style">
					<strong><a class="jiathis_button_weixin"><em></em></a></strong>
					<strong><a class="jiathis_button_qzone"><em></em></a></strong>
					<strong><a class="jiathis_button_cqq"><em></em></a></strong>
					<strong><a class="jiathis_button_tsina"><em></em></a></strong>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 店铺信息 -->
	<div class="shop-news-bg">
		<div class="shop-news">
			<div class="shop-news-con wrap clearfix">
				<div class="shop-introduce clearfix">
					<eq name="shop.server_status" value="0">
					<div class="close"><img src="__PUBLIC__/Home/images/2016/close.png" alt="暂停营业" title="暂停营业" /></div>
					</eq>
					<div class="shop-introduce-con">
						<div class="introduce-left">
							<div class="sever-way">
								<span>服务方式：</span>
								<eq name="shop.is_store" value="1">
								<i class="door-icon"></i>到店维修
								</eq>
								<eq name="shop.is_door" value="1">
								<i class="store-icon"></i>上门维修 
								</eq>
							</div>
							<div class="sever-time">
								<span>营业时间：</span><eq name="shop.is_week" value="1">周一至周末<else />周一至周五</eq><time>（<{$shop.hours_start}>:00-<{$shop.hours_close}>:00）</time>
							</div>
							<div class="phone"><span>联系方式：</span><{$shop.user_name}>师傅  <em style="font-style:italic;font-size:16px;"><{$shop.user_phone}><!--<{$shop.user_phone|hidestr}>--></em></div>
							<div class="address-detial"><span>详细地址：</span><{$shop.pro_addr}><{$shop.city_addr}><{$shop.addr}><{$shop.address}></div>
							<div class="range"><span>服务范围：</span><notempty name="shop.server_area"><{$shop.server_area}><else/><{$shop.city_addr}>,<{$shop.addr}></notempty></div>
						</div>
						<div class="erweima">
							<img src="__PUBLIC__/Temp/<{$qrcode}>" alt="扫码关注" title="扫码关注" />
							<p>关注本店 优惠多多</p>
						</div>
						<div class="shop-img-big">
							<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$shop.shop_name}>" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 维修，回收，店铺详情 -->
	<div class="bottom clearfix wrap">
		<div class="bottom-left">
			<div class="navbar">
				<ul class="clearfix">
					<li class="current" data-nav="repair">维修 / 回收</li>
					<li>店铺详情</li>
				</ul>
			</div>
			<!-- 维修列表 -->
			<div class="items repair block">
				<div class="classify">
					<foreach name="types" item="vo">
					<span <eq name="typeId" value="$vo.id">class="current"</eq> data-id="<{$vo.id}>"><i class="phone-icon"></i><{$vo.cat_name}></span>
					</foreach>
				</div>
				<notempty name="models">
				<div class="brand clearfix">
					<strong>品牌：</strong>
					<dl class="clearfix">
						<foreach name="brands" item="vo">
						<dd <eq name="brandId" value="$vo.id">class="current"</eq> data-id="<{$vo.id}>"><img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" title="<{$vo.cat_name}>" /></dd>
						</foreach>
					</dl>
				</div>
				<div class="model clearfix">
					<strong>型号：</strong>
					<dl class="clearfix">
						<foreach name="models" item="vo">	
						<dd data-id="<{$vo.id}>"><{$vo.pro_name}></dd>
						</foreach>
					</dl>
				</div>
				<div class="now-repair">
				    <a id="Repair" href="javascript:void(0);">找他维修</a>
				    <a id="Recovery" href="javascript:void(0);">找他回收</a>
				</div>
				</notempty>
			</div>
			<!-- 店铺详情 -->
			<div class="items detial">
				<neq name="shop.content" value="">
					<p><{$shop.content|htmlspecialchars_decode}></p>
				<else />
					<p class="noCont">这家伙太懒，什么都没留下！</p>
				</neq>
			</div>
			<!-- 评价 -->
			<div class="eva-lst">
				<div class="eva-title clearfix"><span class="user-eva">用户评价(<{$count}>)</span><span class="more-eva"><a href="<{:U('Repairer/comments', array('id'=>$shop['id']))}>">更多&gt;</a></span></div>
				<div class="ul-bd">
					<ul>
						<foreach name="comment" item="vo">
						<li class="clearfix">
							<div class="scal_left">
								<p>
									<if condition="($vo['score'] eq 1)">
										<img src="__PUBLIC__/Home/system/images/eva-good.png" height="18" width="18" alt="" /> <span>好评</span>
									<elseif condition="$vo['score'] eq 2"/>
										<img src="__PUBLIC__/Home/system/images/eva-zh.png" height="18" width="18" alt="" /> <span>中评</span>
									<elseif condition="$vo['score'] eq 3"/>
										<img src="__PUBLIC__/Home/system/images/eva-no.png" height="18" width="18" alt="" /> <span>差评</span>
									</if>
								</p>
								<time><{$vo.comment_time|date="m.d",###}></time>
							</div>
							<div class="content_Box clearfix">
								<div class="content_right"><{$vo.content}></div>
								<neq name="vo.replies" value="">
									<div class="reply">[回复]<{$vo.replies}><time><{$vo.reply_time|date="m.d",###}></time></div>
								</neq>
							</div>
							<div class="user_Box clearfix">
								<img src="__PUBLIC__/User/<{$vo.thumb}>" title="<{$vo.uname}>" onerror="javascript:this.src='/Public/User/default.jpg';">
								<div class="right">
									<p class="username"><{$vo.uname}></p>
									<p><{$vo.city}></p>
								</div>
							</div>
							
						</li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
		<!-- 侧栏 -->
		<div class="bottom-right">
			<!--<div class="repair-num">
				<p class="tit">已成功维修设备(台)</p>
				<div class="success-num">
					<span class="hundred"><{$shop.repair_count_one}></span>
					<span class="ten"><{$shop.repair_count_two}></span>
					<span class="individual"><{$shop.repair_count_three}></span>
				</div>
			</div>-->
			<div class="notic">
				<p class="tit"><i></i>本店公告</p>
				<div class="content">
					<eq name="shop.notice" value="">暂无公告！<else /><{$shop.notice}></eq>
				</div>
				<div class="report">举报店铺</div>
			</div>
			<div class="shop-address">
				<p class="tit"><i></i>店铺地址</p>
				<div class="map">
					<div id="mapBx" style="height:186px;width:223px;"></div>
					<div class="address"><{$shop.pro_addr}><{$shop.city_addr}><{$shop.addr}><{$shop.address}></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 友情链接 -->
	<div class="links clearfix wrap">
		友情链接：
		<a href="<{$CBW_URL}>">草包网</a>
		<a href="<{$CBW_URL}>/repair/select.html">手机维修</a>
		<a href="<{$CBW_URL}>/recovery/select.html">手机回收</a>
		<a href="<{$CBW_URL}>/product/">配件商城</a>
		<a href="<{$CBW_URL}>/video/">维修视频</a>
		<a href="<{:C('BBS_URL')}>/wenda.html">问题与解答</a>
		<a href="<{:C('BBS_URL')}>/jiqiao.html">技巧分享</a>
		<a href="<{$CBW_URL}>/news_list/2.html">数码资讯</a>
		<a href="<{$CBW_URL}>/index/special.html">合作加盟</a>
	</div>
</div>

<form id="collect" action="<{:U('Repair/collect')}>" method="post">
	<input type="hidden" name="model" value="" />
	<input type="hidden" name="color" value="" />
	<input type="hidden" name="fault" value="" />
	<input type="hidden" name="way" value="1" />
	<input type="hidden" name="server" value="<{$shop.id}>" />
</form>
<!-- 举报 开始 -->
<div class="posF" id="report">
	<div class="bg"></div>
	<div class="box500">
		<div class="hd posR">
			<p>我要举报</p>
			<span class="posA off">&nbsp;</span>
		</div>
		<div class="bd">
			<form id="doreport" action="<{:U('Repairer/report')}>" method="post">
				<input type="hidden" name="user_id" value="<{$Think.session.user.userid}>" />
				<input type="hidden" name="report_id" value="<{$Think.get.id}>" />
				<dl class="clearfix">
					<dt><span>*</span>举报内容：</dt>
					<dd>
						<div class="clearfix report-con">
							<div class="report-item"><label for="report_1"><input type="radio" id="report_1" name="content" value="1" /><span>临时加价</span></label></div>
							<div class="report-item"><label for="report_2"><input type="radio" id="report_2" name="content" value="2" /><span>服务态度差</span></label></div>
							<div class="report-item"><label for="report_3"><input type="radio" id="report_3" name="content" value="3" /><span>服务不专业</span></label></div>
							<div class="report-item"><label for="report_4"><input type="radio" id="report_4" name="content" value="4" /><span>拒绝退款</span></label></div>
							<div class="report-item"><label for="report_5"><input type="radio" id="report_5" name="content" value="5" /><span>问题复现，拒绝售后</span></label></div>
							<div class="report-item"><label for="report_6"><input type="radio" id="report_6" name="content" value="6" /><span>商家不营业</span></label></div>
							<div class="report-item"><label for="report_7"><input type="radio" id="report_7" name="content" value="7" /><span>不提供服务</span></label></div>
						</div>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><span>*</span>问题描述：</dt>
					<dd>
						<textarea name="description" maxlength="80" placeholder="请简要说明您遇到的问题！"></textarea>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><span>*</span>图形验证：</dt>
					<dd>
						<input type="text" name="imgCode" placeholder="请输入右侧的图形上的文字!" value="" />
						<img src="<{:U('Index/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Index/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
					</dd>
				</dl>
				<dl class="clearfix">
					<dt>&nbsp;</dt>
					<dd>
						<button type="button" class="off">取消</button>
						<button type="button" class="submit">提交</button>
					</dd>
				</dl>
			</form>
		</div>
	</div>
</div>
<!-- 举报 结束 -->
</block>
<!-- 主体部分结束 -->
<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
	<!--script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script-->
</block>
<!-- js文件部分 结束 -->
<!--js-->
<block name="footScript">
    <script type="text/javascript">
		$(function(){
			shopPosition ("<{$shop.lng}>", "<{$shop.lat}>");
		});
		$('.bottom').delegate('.navbar li','click',function(){             // 选项卡切换
			var Myindex = $(this).index();
			$(this).addClass('current').siblings().removeClass('current');
			$(".items:eq("+Myindex+")").addClass('block').siblings('.items').removeClass('block');
		}).delegate('.classify span','click',function(){                   // 手机平板类型切换
			var _this = $(this);
			var _parent = _this.parent(".classify")
			var id  = _this.attr('data-id');
			_this.addClass('current').siblings().removeClass('current');
			$.post('__CONTROLLER__/loadBrands', {'id':id, 'shop_id':"<{$shop.id}>"}, function(d){
				var data = JSON.parse(d);
				if(!data || data == ''){
					_parent.siblings(".brand").hide();
					_parent.siblings(".model").hide();
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<dd data-id="'+ data[a]['id'] +'"><img src="__PUBLIC__/Product/icon/'+ data[a]['icon_image'] +'" /></dd>';
					}
					_parent.siblings('.brand').find('dl dd').remove();
					_parent.siblings('.brand').find('dl').append(html);
					_parent.siblings(".brand").show();
					
				};
			});
			_parent.siblings(".model").hide();
		}).delegate('.brand dd','click',function(){                          // 品牌切换
			var _this = $(this);
			var _brand = _this.parents(".brand");
			var id  = _this.attr('data-id');
			_this.addClass('current').siblings().removeClass('current');
			$.post('__CONTROLLER__/loadModels', {'id':id, 'shopId':"<{$shop.id}>"}, function(d){
				var data = JSON.parse(d);
				if(!data || data == ''){
					_brand.siblings(".model").hide();
					return false;
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<dd data-id="'+ data[a]['id'] +'">'+ data[a]['pro_name'] +'</dd>';
					}
					_brand.siblings(".model").find('dd').remove();
					_brand.siblings(".model").find('dl').append(html);
					_brand.siblings(".model").show();
				}
			});
		}).delegate('.model dd','click',function(){                               // 型号切换
			var _this = $(this);
			_this.addClass('current').siblings().removeClass('current');
		}).delegate('#Repair,#Recovery','click',function(){                       // 找他维修/回收
			if($(".brand dd.current").length !== 1){
				var txt=  "请选择品牌";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
			}else if($(".model dd.current").length !== 1){
				var txt=  "请选择型号";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
			}else{
				var type     = $(this).attr('id');
				var classify = $(".classify span.current").attr('data-id');
				var brand    = $(".brand dd.current").attr('data-id');
				var model    = $(".model dd.current").attr('data-id');
				if(type == 'Repair'){
					window.location.href = '<{$CBW_URL}>/repair/'+classify+'-'+brand+'-'+model+'.html?sid=<{$shop.id}>';
				}else{
					window.location.href = '<{$CBW_URL}>/recovery/'+classify+'-'+brand+'-'+model+'.html?sid=<{$shop.id}>';
				}
			};
		});
		
		// 举报
		$(".notic").delegate('.report','click',function(){
			$("#report").slideDown(300);
		});
		$('#report').delegate('button.off,.hd p span','click',function(){
			$(this).parents("#report").slideUp(300);
		}).delegate('button.submit','click',function(){
			var user_id = $('#report input[name=user_id]').val();
			if(!user_id){
				var txt=  "请检查您是否已经登录！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			var content = $('#report input[name=content]:checked').val();
			var description = $('#report textarea').val();
			var ImgCode = $('#report input[name=imgCode]').val();
			if(!content || !description || !ImgCode){
				var txt=  "请检查举报选项内容和图形验证码！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('form#doreport').submit();
		});

		// 分享辅助
		var jiathis_config={
			summary:"",
			shortUrl:false,
			hideMore:false
		}
		$("span.share").click(function(event) {
			$(".share_four").fadeToggle(300)
		});
 	</script>
</block> 