<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href ="__PUBLIC__/Home/css/repairer-list.css"/>
</block>
<!--js-->
<block name="topJsFile">

</block>

<!--main-->
<block name="publicBody">
<div class="con wrap">
	<div class="nav_bar clearfix">
		<dl class="clearfix town">
			<dt><{$citys.addr}></dt>
			<foreach name="areas" item="vo">
			<if condition="($type neq '') AND ($brand neq '')">
				<dd <eq name="area" value="$vo.id">class="current"</eq>><a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$vo.id}>-<{$type}>-<{$brand}>.html"><{$vo.addr}></a></dd>
			<else />
				<dd <eq name="area" value="$vo.id">class="current"</eq>><a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$vo.id}>.html"><{$vo.addr}></a></dd>
			</if>
			</foreach>
		</dl>
		<dl class="clearfix">
			<dt>类型</dt>
			<foreach name="types" item="vo">
			<dd <eq name="type" value="$vo.id">class="current"</eq>><a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>-<{$vo.id}>.html"><{$vo.cat_name}></a></dd>
			</foreach>
		</dl>
		<notempty name="brands">
		<dl class="clearfix">
			<dt>品牌</dt>
			<foreach name="brands" item="vo">
			<dd <eq name="brand" value="$vo.id">class="current"</eq>><a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>-<{$type}>-<{$vo.id}>.html"><{$vo.cat_name}></a></dd>
			</foreach>          
		</dl>
		</notempty>
	</div>
	<div class="con_bottom clearfix">
		<div class="con_left">
			<empty name="shops">
			<div class="join">此区域暂无维修店加盟 <a href="<{:U('Index/special')}>">立即加盟</a></div>
			<div class="nearby"><img src="__PUBLIC__/Home/images/2016/position0.png"/>附近维修店推荐</div>
			<div class="left_middle">
				<ul>
					<foreach name="nearbys" item="vo">
					<li>
						<div class="tit">
							<em>店</em><strong><a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><{$vo.shop_name}></a></strong>
							<for start="0" end="$vo.level_image_num">
								<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
							</for>
						</div>
						<div class="bd clearfix">
							<div class="pic">
								<a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$vo.shop_name}>" /></a>
							</div>
							<div class="fr">
								<p>
									<span class="Authentication">认证</span>
									<if condition="$vo['type_id'] eq 2">
									<span class="chain">直营</span>
									</if>
									<!--<span class="custemers">售后</span>
									<span class="guarantee">担保</span>-->
								</p>
								<p><if condition="$vo['brands'] neq ''"><span>主修：</span><{$vo.brands}></if></p>
								<p><span>地址：</span><{$vo.pro_addr}><{$vo.city_addr}><{$vo.addr}><{$vo.address}></p>
								<a class="button" href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>">进入店铺</a>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<else />
			<div class="left_middle">
				<ul>
					<foreach name="shops" item="vo">
					<li>
						<div class="tit">
							<img src="__PUBLIC__/Mobile/images/store.png" class="ordinary-store"><strong><a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><{$vo.shop_name}></a></strong>
							<for start="0" end="$vo.level_image_num">
								<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
							</for>
						</div>
						<div class="bd clearfix">
							<div class="pic">
								<a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$vo.shop_name}>" /></a>
							</div>
							<div class="fr">
								<p>
									<span class="Authentication">认证</span>
									<if condition="$vo['type_id'] eq 2">
									<span class="chain">直营</span>
									</if>
									<!--<span class="custemers">售后</span>
									<span class="guarantee">担保</span>-->
								</p>
								<p><if condition="$vo['brands'] neq ''"><span>主修：</span><{$vo.brands}></if></p>
								<p><span>地址：</span><{$vo.pro_addr}><{$vo.city_addr}><{$vo.addr}><{$vo.address}></p>
								<a class="button" href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>">进入店铺</a>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="pagenum">
				<gt name="page" value="1">
					<span class="pre_page">
						<if condition="($type neq '') AND ($brand neq '')">
							<a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>-<{$type}>-<{$brand}>/<{$page-1}>.html">&lt&lt上一页</a>
						<else />
							<a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>/<{$page-1}>.html">&lt&lt上一页</a>
						</if>
					</span>
				</gt>
				<span class="num"><{$page}>/<{$pageCount}>页 共 <{$count}> 个记录</span>
				<lt name="page" value="$pageCount">
					<span class="next_page">
						<if condition="($type neq '') AND ($brand neq '')">
							<a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>-<{$type}>-<{$brand}>/<{$page+1}>.html">下一页&gt&gt</a>
						<else />
							<a href="<{$CBW_URL}>/repairer_list/<{$citys.id}>-<{$area}>/<{$page+1}>.html">下一页&gt&gt</a>
						</if>
					</span>
				</lt>
			</div>
			</empty>
		</div>
		<div class="con_right">
			<div class="right_top">
				<a href="<{$adv.upper.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$adv.upper.thumbnail}>" title="<{$adv.upper.adv_name}>" width="274" alt="<{$adv.upper.adv_name}>"/></a>
			</div>
			<div class="right_middle">
				<dl>
					<dt>明星店铺</dt>
					<foreach name="tops" key="key" item="vo">
					<dd class="clearfix">
						<div class="<eq name="key" value="0">one</eq><eq name="key" value="1">two</eq><eq name="key" value="2">three</eq><gt name="key" value="2">other</gt> gy"><{$key+1}></div>
						<div class="pic">
							<a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>">
							<img src="__PUBLIC__/User/<{$vo.logo_image}>" width="69" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$vo.shop_name}>" />
							</a>
						</div>
						<div class="bd">
							<p><a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><{$vo.shop_name}></a></p>
							<p>
								<for start="0" end="$vo.level_image_num">
									<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
								</for>
							</p>
						</div>
					</dd>
					</foreach>
				</dl>
			</div>
			<div class="right_bottom">
				<a href="<{$adv.under.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$adv.under.thumbnail}>" title="<{$adv.under.adv_name}>" width="274" alt="<{$adv.under.adv_name}>"/></a>
			</div>
		</div>   
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">

</block>
