<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/repairer-offer.css">
</block>

<!--js-->
<block name="topJsFile">
	
</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="con wrap">
	<div class="user-all-news">
		<!-- 报价信息 -->
		<div class="release-news clearfix">
			<div class="user-news f_left clearfix">
				<div class="user-news-img f_left">
					<img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
				</div>
				<div class="user-news-intro f_left">
					<p class="user-name"><{$user.uname}></p>
					<empty name="offer">
						<p class="user-phone"><{$order.reciver_phone|hidestr='tel'}></p>
					<else />
						<p class="user-phone"><{$order.reciver_phone}></p>
					</empty>
					<p class="user-phone-tips">报价成功可获得客户完整号码！</p>
				</div>
			</div>
			<div class="other-news f_right">
				<div class="other-news-item f_left">
					<span class="icon-item time"></span>
					<div class="item-detial">
						<p class="contact-num"><{$order.order_date|CBWTimeFormat='m.d'}></p>
						<p>发布时间</p>
					</div>
				</div>
				<div class="other-news-item f_left">
					<span class="icon-item consume"></span>
					<div class="item-detial">
						<p class="contact-num">0个草包豆</p>
						<p>报价需消耗</p>
					</div>
				</div>
				<div class="other-news-item f_left">
					<span class="icon-item person"></span>
					<div class="item-detial">
						<p class="contact-num"><em><{$count}></em>人</p>
						<p>已报价（<em><{$count}></em>/3）</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 用户需求 -->
		<div class="user-demand clearfix">
			<div class="user-demand-detial f_left">
				<h3>用户需求详情</h3>
				<ul>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">需求名称：</span><span class="demand-content">设备<if condition="$order['order_type'] eq 1">维修<else />回收</if></span></li>
					<if condition="$order['order_type'] eq 1">
					<notempty name="relation">
					<li class="clearfix"><em class="circle"></em><span class="demand-title">设备品牌：</span><span class="demand-content"><{$brand.cat_name}></span></li>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">设备型号：</span><span class="demand-content"><{$relation.pro_name}></span></li>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">设备颜色：</span><span class="demand-content"><{$server.name}></span></li>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">维修项目：</span><span class="demand-content"><{$relation.plan_name}></span></li>
					</notempty>
					<else />
					<if condition="$brand['cat_name'] neq ''">
					<li class="clearfix"><em class="circle"></em><span class="demand-title">设备品牌：</span><span class="demand-content"><{$brand.cat_name}></span></li>
					</if>
					<if condition="$recovery['pro_name'] neq ''">
					<li class="clearfix"><em class="circle"></em><span class="demand-title">设备型号：</span><span class="demand-content"><{$recovery.pro_name}></span></li>
					</if>
					<if condition="$recovery['attrs'] neq ''">
					<li class="clearfix"><em class="circle"></em><span class="demand-title">回收评估：</span><span class="demand-content"><{$recovery.attrs}></span></li>
					</if>
					</if>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">服务方式：</span><span class="demand-content"><if condition="$order['server_way'] eq 2">上门服务<else />到店服务</if></span></li>
					<li class="clearfix"><em class="circle"></em><span class="demand-title">备注说明：</span><span class="demand-content"><{$order.remarks}></span></li>
					<li class="user-address clearfix">
						<em class="circle"></em><span class="demand-title">所在地区：</span>
						<if condition="$offer['selected'] eq 1">
							<span class="demand-content"><{$order.city_addr}><{$order.addr}><{$order.address}><p class="user-distance"><i class="icon-map"></i>距离你<{$distance}>公里</p></span>
						<else />
							<span class="demand-content"><{$order.city_addr}><{$order.addr}><p class="user-distance"><i class="icon-map"></i>距离你<{$distance}>公里</p></span>
						</if>
					</li>
				</ul>
			</div>
			<div class="shop-address f_right">
			    <p>我的报价店铺：<{$shop.shop_name}></p>
			    <p class="cbd">我的草包豆余额：<span id="cbdBalance"><{$suser.virtual_money}></span>个</p>
				<div class="map">
					<div id="mapBx" style="height:209px;width:302px;"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 报价 -->
	<div id="quote" class="<notempty name="offer">quote-empty</notempty>">
		<div class="hd">
			<span class="posA off">&nbsp;</span>
		</div>
		<div class="bd">
			<div class="user-sever clearfix">
			    <p class="f_left"><input class="quote-input" name="offer" type="text" placeholder="参考价 <{$money}>" autocomplete="off" /> 元</p>
				<input name="id" type="hidden" value="<{$Think.get.id}>" />
				<input name="shop_id" type="hidden" value="<{$shop.id}>" />
				<if condition="$order['order_type'] eq 1">
				<a class="btn-select f_left" id="btn_select">
					<span class="cur-select">请选择保修时间</span>         
					<select class="warranty" name="warranty" autocomplete="off">
						<option>请选择保修时间</option>
						<option value="1">1个月</option>
						<option value="2">2个月</option>
						<option value="3">3个月</option>
						<option value="6">6个月</option>
						<option value="12">12个月</option>
					</select>
				</a>
				</if>
				<!-- 备注 -->
				<div class="remarks f_left">
					<input class="ui-input" type="text" name="remarks" autocomplete="off" maxlength=32 placeholder="此处可以填写您的店铺优势!字数控制在20-30以内" />
				</div>
			</div>
			<div class="user-tips clearfix">
			    <p class="quote-tips clearfix" style="width:100%;">
					<span class="icon-tips"></span>
					<!--<span class="word-tips">抢单需消耗草包豆500-1000，抢单不成功草包豆自动退回（00：00 - 06：00报价时限6个小时，7：00 - 24：00报价时限2小时，超时无法报价）</span>-->
					<span class="word-tips">2018年03月04日起，报价取消收取草包豆，免费报价并获取客户联系方式。</span>
				</p>
			    <!--<p class="quote-tips clearfix">
					<span class="icon-tips"></span>
					<span class="word-tips">所有店铺第一次报价不扣除草包豆</span>
				</p>-->
				<notempty name="offer">
				<p class="quote-tips clearfix">
					<span class="icon-tips"></span>
					<span class="word-tips">已报价,耐心等待顾客回复</span>
				</p>
				</notempty>
			</div>
		</div>
	</div>
	<!-- 维修师报价 -->
	<div class="my-quote">
		<div class="quote-btn">
		    <div class="reduce-cbd"><!--需消耗草包豆，活动价：<span id="reduceNum"> 0 </span> 个，<span class="original">原价：<span id="primaryNum"> 0 </span></span>--></div>
			<div class="reduce-botton">
			<empty name="offer">
				<if condition="$order['is_offer'] eq 1">
					<a href="javascript:;" id="confirmQuote">我要报价</a>
				<else />
					<a href="javascript:;" id="quoteBtnEd">已结束</a>
				</if>
			<else />
				<if condition="$offer['selected'] eq 1">
					<if condition="$order['order_type'] eq 1">
						<a href="<{:U('System/editprice', array('id'=>$order['id']))}>" id="detail">查看订单</a>
					<else />
						<a href="<{:U('System/assess', array('id'=>$order['id']))}>" id="detail">查看订单</a>
					</if>
				<else />
					<a href="javascript:;" id="quoteBtnEd">已报价</a>
				</if>
			</empty>
			</div>
			<div>
				<notempty name="offer">
					<if condition="$offer['selected'] eq 1">
						<img src="__PUBLIC__/Home/images/2016/order-success.png" class="order-success" />
					<else />
						<notempty name="selected">
						<img src="__PUBLIC__/Home/images/2016/order-fail.png" class="order-success" />
						</notempty>
					</if>
				</notempty>
			</div>
		</div>
	</div>
	<!-- 全部报价 -->
	<div class="offer-list <empty name="offers">offer-empty</empty>">
	    <h3>维修师抢单列表</h3>
		<ul>
			<foreach name="offers" item="vo">
			<li class="offer-content clearfix <if condition="$vo['selected'] eq 1">bd-offer-success</if>">
				<div class="pic">
					<img  src="__PUBLIC__/User/<{$vo.logo_image}>" width="93" alt="<{$vo.shop_name}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';"/>
				</div>
				<div class="off-content">
					<p class="name"><a href="javascript:void(0);"><{$vo.shop_name}></a></p>
					<if condition="$vo['warranty'] gt 0">
					<p class="time"><span>保修时间：</span><{$vo.warranty}>个月</p>
					</if>
					<p class="remarks" id="Remark">
						<span>备注：</span><empty name="vo.remarks">空<else /><{$vo.remarks}></empty><em class="more">更多</em>
					</p>
				</div>
				<div class="price">
					<p class="style">服务报价</p>
					<p class="money"><{$vo.offer}><span>元</span></p>
				</div>
				<if condition="$vo['selected'] eq 1"><img src="__PUBLIC__/Mobile/images/quote-success.jpg" class="order-success" alt="抢单成功"></if>
			</li>
			</foreach>
		</ul>
	</div>
	<!-- 充值草包豆弹窗 -->
	<div class="posF" id="cbdRecharge">
	    <div class="bg"></div>
	    <div class="box735 posR">
		    <div class="hd"><span class="icon-warm"></span>草包豆余额不足，请充值<span class="posA off">&nbsp;</span></div>
			<div class="bd">
				<form id="recharge" method="post" action="<{:U('Users/doRecharge')}>" autocomplete="off">
			    <p class="rechange-num">选择充值金额<span>（兑换比例：1元=100草包豆）</span></p>
				<ul id="rechangeVal" class="clearfix">
					<foreach name="product.list" key="key" item="vo">
					<if condition="$key eq 0">
					<li class="item" data-id="<{$vo.id}>">
					    <p class="cbdspecial"><span><{$vo['virtual']}></span>豆/<{$vo.attr_value}>元</p>
					</li>
					<else />
					<li class="item" data-id="<{$vo.id}>">
					    <p><span class="cbdval"><{$vo['virtual']}></span>豆/<{$vo.attr_value}>元</p>
					    <p class="give"><span class="giveval">送<{$vo['give_virtual']}></span>豆</p>
						<img class="sign" src="__PUBLIC__/Home/images/2016/yh.png"/>
					</li>
					</if>
					</foreach>
				</ul>
				<p id="rechangeTips">请选择充值金额</p>
				<div class="btn">
					<input type="hidden" name="id" value="" />
					<input type="hidden" name="link" value="<{$CBW_URL}>/offer/<{$order.id}>-<{$shop.id}>" />
					<a id="nowRecharge" href="javascript:void(0);">立即充值</a>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->
<!--js-->
<block name="footScript">
    <script type="text/javascript">
		// 定时器
		var timer = null;
		timer = setInterval(function(){
			loadOffer();
		},3000);
		
		shopPosition ("<{$lng}>", "<{$lat}>");
		function loadOffer(){
			var id      = $('input[name=id]').val();
			var shop_id = $('input[name=shop_id]').val();
			var type_id = "<{$order.order_type}>";
			$.post('__CONTROLLER__/loadOffer', {'id':id}, function (d) {
				var data = JSON.parse(d);
				if(data && data != ''){
					var html = '';
					for(var a = 0;a < data.length;a++){
						if(data[a]['selected'] == 1){
							if(data[a]['shop_id'] == shop_id){
								if(type_id == 1){
									$(".reduce-botton").html('<a href="<{$CBW_URL}>/system/editprice/id/'+id+'.html" id="detail">查看订单</a>');
								}else{
									$(".reduce-botton").html('<a href="<{$CBW_URL}>/system/assess/id/'+id+'.html" id="detail">查看订单</a>');
								}
							}
							html += '<li class="offer-content bd-offer-success clearfix">';
							clearInterval(timer);
						}else{
							html += '<li class="offer-content clearfix">';
						}
						
						html += '	<div class="pic">';
						html += '		<img  src="__PUBLIC__/User/'+ data[a]['logo_image'] +'" width="93" alt="'+ data[a]['shop_name'] +'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';"/>';
						html += '	</div>';
						html += '	<div class="off-content">';
						html += '		<p class="name"><a href="javascript:void(0);">'+ data[a]['shop_name'] +'</a></p>';
						if(data[a]['warranty'] > 0){
							html += '	<p class="time"><span>保修时间：</span>'+ data[a]['warranty'] +'个月</p>';
						}
						html += '		<p class="remarks" id="Remark">';
						html += '			<span>备注：</span>';
						if(data[a]['remarks'] == ''){
							html += '空';
						}else{
							html += data[a]['remarks'];
						}
						html += '			<em class="more">更多</em>';
						html += '		</p>';
						html += '	</div>';
						html += '	<div class="price">';
						html += '		<p class="style">服务报价</p>';
						html += '		<p class="money">'+ data[a]['offer'] +'元</p>';
						html += '	</div>';
						if(data[a]['selected'] == 1){
							html += '<img src="__PUBLIC__/Mobile/images/quote-success.jpg" class="order-success" alt="抢单成功">';
						}
						html += '</li>';
					}
					$(".offer-list ul").empty().append(html);
				}
			});
		}
		
		// 输入价格检测需消费多少草包豆
		$(".quote-input").on("keyup blur",function(){
			var _this = $(this);
			var reduceNum = $("#reduceNum")
			var primaryNum = $("#primaryNum")
			if(_this.val() != ""){
				if(!/\d/.test(_this.val()) || _this.val() <= 0){
					return false;
				}else{
					if(_this.val()>100){
						// 8月活动半价
						reduceNum.text( 1000/2 );
						primaryNum.text( 1000 );
					}else{
						// 8月活动半价
						reduceNum.text( 500/2 );
						primaryNum.text( 500 );
					}  
				}
			}else{
				reduceNum.text( 0 );
				primaryNum.text( 0 );
			};
		});
		
		// 下拉框,复选框模拟
		$(document).on("change","#btn_select .warranty",function(){
			var text = $("#btn_select").find("option:selected").text(); 
			$("#btn_select .cur-select").html(text);
		});
		
		// 确认报价
		$("#confirmQuote").on("click",function(){
			var id       = $('input[name=id]').val();
			var shop_id  = $('input[name=shop_id]').val();
			var offer    = $('input[name=offer]').val();
			var warranty = $('select[name=warranty]').val();
			var remarks  = $('input[name=remarks]').val();
			if(offer == "" || !/\d/.test(offer) || offer <= 0){
				alert("请输入正确的价格")
				var win_hei = $(window).height();
				var doc_hei = $(document).height();
				$('html,body').animate({scrollTop:doc_hei-win_hei}, 300)
				return false;
			}
			$.post('__CONTROLLER__/submitOffer', {'id':id,'shop_id':shop_id,'offer':offer,'warranty':warranty,'remarks':remarks}, function(d){
				if(d == -1){
					//$("#cbdRecharge").slideDown(300);
					//return false;
				}else if(d == -2){
					alert("非法操作");
					return false;
				}else if(d == -3){
					alert("报价人数已满");
					return false;
				}else if(d == -4){
					alert("不允许重复报价");
					return false;
				}else if(d == -5){
					alert("订单状态异常(已取消或已完成)");
					return false;
				}else if(d == -6){
					alert("订单已关闭报价");
					return false;
				}else if(d == 0){
					alert("报价失败,未知错误");
					return false;
				}else{
					var data = JSON.parse(d);
					increase(data);
					$("#quote").addClass('quote-empty');
					$(".offer-list").show();
					var n = $(".release-news").find("em").html();
					$(".user-phone").html(data['reciver_phone']);
					$(".item-detial").find("em").html(parseInt(n)+1);
					$(".reduce-botton").html('<a href="javascript:;" id="quoteBtnEd">已报价</a>');
					$(".reduce-cbd").hide();
				}
			});
		});
		
		function increase(data){
			var html  = '<li class="offer-content clearfix">';
				html += '	<div class="pic">';
				html += '		<img  src="__PUBLIC__/User/'+ data['logo_image'] +'" width="93" alt="'+ data['shop_name'] +'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';"/>';
				html += '	</div>';
				html += '	<div class="off-content">';
				html += '		<p class="name"><a href="javascript:void(0);">'+ data['shop_name'] +'</a></p>';
				if(data['warranty'] > 0){
					html += '	<p class="time"><span>保修时间：</span>'+ data['warranty'] +'个月</p>';
				}
				html += '		<p class="remarks" id="Remark">';
				html += '			<span>备注：</span>';
				if(data['remarks'] == ''){
					html += '空';
				}else{
					html += data['remarks'];
				}
				html += '			<em class="more">更多</em>';
				html += '		</p>';
				html += '	</div>';
				html += '	<div class="price">';
				html += '		<p class="style">服务报价</p>';
				html += '		<p class="money">'+ data['offer'] +'元</p>';
				html += '	</div>';
				html += '</li>';
				
				$(".offer-list ul").append(html);
		}
		
		// 立即充值
		$("#nowRecharge").on("click",function(){
			var id = $(".btn input[name=id]").val();
			if(id <= 0){
				$("#rechangeTips").show();
				return false;
			}else{
				$("#cbdRecharge").slideDown(300);
			}
			$("form#recharge").submit();
		});
		
		// 选择充值金额
		$("#rechangeVal li").on("click",function(){
			var id = $(this).attr("data-id");
			$(".btn input[name=id]").val(id);
			$("#rechangeTips").hide();
			$(this).addClass("current").siblings().removeClass("current");
		});
	</script>
</block> 










