<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">维修方案</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>添加维修方案</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('Plan/doPlanAdd')}>" name="planadd" id="planadd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">关联商品：</label>
                                <div class="controls">
                                    <select name="product_id" id="product_id" style="width:220px;">
										<option>查找全部关联商品</option>
										<foreach name="repairSelect" item="repair">
										<option value="<{$repair.id}>"><{$repair.pro_name}></option>
										</foreach>
									</select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">方案名称：</label>
                                <div class="controls">
                                    <input type="text" class="span3" name="name" placeholder="方案名称">
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label shift">维修金额：</label>
                                <div class="controls moneylist">
                                    <input type="text" class="span1" name="money" placeholder="0.00">
                                </div>
								
                            </div>
							<div class="control-group">
                                <label class="control-label">保修：</label>
                                <div class="controls">
                                    <input type="text" class="span1" name="warranty" value="0" placeholder="保修">月
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">排序：</label>
                                <div class="controls">
                                    <input type="text" class="span1" name="sort" value="0" placeholder="排序">
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">是否显示：</label>
                                <div class="controls">
									<input type="radio" class="span1" name="is_show" value="1" checked />显示
									<input type="radio" class="span1" name="is_show" value="0" />隐藏
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
// 点击切换,设置维修金额
$('.shift').click(function(){
	var proid = $('#product_id').children('option:selected').val();
	var _this = $(this);
	var text = _this.html();
	if(text == '维修金额：'){
		if(proid){
			// Ajax请求数据库验证
			$.post('__CONTROLLER__/changePlanSelect', {'id': proid}, function (d) {
				if(d){
					var data = JSON.parse(d);
					var html = '';
					for(var a = 0;a < data.length; a++){
						html += '<p>'+data[a]['name']+'：<input type="text" class="span1" name="money['+data[a]['id']+']" placeholder="0.00"></p>';
					}
					$('.moneylist').empty();
					$(".moneylist").append(html);
					_this.html('按颜色设置维修金额：');
				}
			});
		}
	}else{
		var html = '<input type="text" class="span1" name="money" placeholder="0.00">';
		$('.moneylist').empty();
		$(".moneylist").append(html);
		_this.html('维修金额：');
	}
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
