<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        a {
            color:#27A9E3;
        }
        a:hover {
            color:#f70;
            text-decoration:underline;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">方案列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">维修方案</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div class="tab-pane active">
                            <div class="" style="width:100%; height:30px; margin-bottom:10px;">
								<form action="" method="get" class="span6">
									<select name="product_id" style="width:220px;">
										<option>查找全部关联商品</option>
										<foreach name="repairSelect" item="repair">
										<option value="<{$repair.id}>" <eq name="repair.id" value="$product_id">selected</eq>><{$repair.pro_name}></option>
										</foreach>
									</select>
									<input type="text" name="name" style="width:150px;">
									<input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" placeholder="请输入关键字..." value="提交">
								</form>
								<a href="__CONTROLLER__/planCopy" class="btn btn-info pull-right"><i class="icon-plus"></i> 复制维修方案</a>
                                <a href="__CONTROLLER__/planAdd" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加维修方案</a>
                            </div> 
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
										<th class="list-title" style="width:5%;">方案名称</th>
                                        <th class="list-title">方案名称</th>
                                        <th class="list-title" style="width:10%;">排序</th>
                                        <th class="list-title" style="width:10%;">显示</th>
                                        <th class="list-title" style="width:10%;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="plan">
                                    <tr>
										<td class="align-center"><{$plan.id}></td>
                                        <td class="align-left"><{$plan.name}></td>
                                        <td class="align-center"><span class="sort<{$plan.id}>" id="sort<{$plan.id}>" ondblclick="postData(<{$plan.id}>, 'sort', <{$plan.sort}>);"><{$plan.sort}></span></td>
										<td class="align-center" id="is_show<{$plan.id}>">
											<eq name="plan.is_show" value="1">
											<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$plan.id}>, 'is_show', '0');"></i>
											<else />
											<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$plan.id}>, 'is_show', '1');"></i>
											</eq>
										</td>
                                        <td class="align-center">
                                            <a href="__CONTROLLER__/planEdit/id/<{$plan.id}>"><i class="icon-pencil"></i> 编辑</a> | 
                                            <a href="__CONTROLLER__/planDelete/id/<{$plan.id}>" onclick="return confirm('您确定删除该方案？');"><i class="icon-trash"></i> 删除
										</td>
                                        </tr>
                                    </foreach>
                                </tbody>
								<tfoot>
									<tr>
										<td colspan="5">
										<div class="pagination alternate text-right span9 pull-right">
										<{$page}>
										</div>
										</td>
									</tr>
								</tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage (newURL) {

          // if url is empty, skip the menu dividers and reset the menu selection to default
          if (newURL != "") {
          
              // if url is "-", it is this page -- reset the menu:
              if (newURL == "-" ) {
                  resetMenu();            
              } 
              // else, send page to designated URL            
              else {  
                document.location.href = newURL;
              }
          }
      }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
       document.gomenu.selector.selectedIndex = 2;
    }
	
	//快速修改排序
	function postData(no, type, val){
		$("span."+ type + no).html('<input type="text" id="'+ type +'_'+ no +'" name="'+ type +'_'+ no +'" onblur="postDataEdit('+ no +', \''+ type +'\', \''+ val +'\')" value="'+ val +'" style="width:50px;margin-bottom:0px;" />');
		$("#"+ type +"_"+no).focus();
	}
	
	//post提交
	function postDataEdit(no, type, oldval){
		var val = $("#"+ type + '_' + no).val();
		data = {'id': no, 'type': type, 'val':val};
		$.post('__CONTROLLER__/postPlanEdit', data, function (a) {
			if (a > 0) {
				$("#"+ type + no).html(val);
			} else {
				$("#"+ type + no).html(oldval);
			}
		});
	}
	
	//快速修改是否显示
	function postDataStatus(no, type, val){
		var data = {'id': no, 'type': type, 'val':val};
		$.post('__CONTROLLER__/postPlanEdit', data, function (a) {
			if (a > 0) {
				if(val=='1'){
					$("#"+ type + no).html('<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'0\');"></i>');
				}else{
					$("#"+ type + no).html('<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'1\');"></i>');
				}
			} else {
				alert("修改失败.");
			}
		});
	}
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
