<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">添加地址</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form method="post"  class="form-horizontal"  id="addvideo" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">市：</label>
                                <div class="controls">
                                    <input type="text" name="name" id="name" />
                                    <span></span>
                                </div>



                                <div class="control-group">
                                    <label class="control-label">地址: </a></label>
                                    <div class="controls">
                                        <input type="text" id="address" name="address" class="tip-right" />
                                        <span></span>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">公司名</a></label>
                                    <div class="controls">
                                        <input type="text"  name="cname" id="cname" />
                                        <span></span>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">电话</label>
                                    <div class="controls">
                                        <input type="text" name="tel" id="tel" >
                                        <span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">工作时间:</label>
                                    <div class="controls">
                                        <input type="text" name="wtime" id="wtime" >
                                        <span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">地图坐标X</label>
                                    <div class="controls">
                                        <input type="text" name="map_x" id="map_x" >
                                        <span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">地图坐标Y</label>
                                    <div class="controls">
                                        <input type="text" name="map_y" id="map_y" >
                                        <span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">所属地区:</label>
                                    <div class="controls">
                                        <select name="pid" style="width:220px;">
                                            <foreach name="data" item="role">
                                                <option value="<{$role.id}>">
                                                    <{$role.name}>
                                                </option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            <input type="radio" name="status" checked value="1" />
                                            启用
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="0" />
                                            禁用
                                        </label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" id="sub" value=" 确认添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                                    <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

    <script>

        $('#name').blur(function (){
            if($('#name').val()==''){
                $(this).next('span').html('标题不能为空');
                return false;
            }
            else{
                $(this).next('span').html('');
            }
        });

        /*
         var title = '';
         var simg = '';
         var bimg = '';
         var url = '';
         var websimg = '';
         var webbimg = '';
         var weburl = '';
         var status = '';
         var pid = '';

         var st = '';
         var data = '';
         $('#sub').bind('click',function(){
         st = '';
         title = $('#title').val();
         simg = $('#simg').val();
         bimg = $('#bimg').val();
         url = $('#url').val();
         websimg = $('#websimg').val();
         webbimg = $('#webbimg').val();
         weburl = $('#weburl').val();
         if($('input radio').eq(0).is(":checked")){
         status = 1;
         }else{
         status = 0;
         }
         pid = $('option:selected').attr('id');
         if($('#title').val()==''){

         alert('标题没有填写,无法提交')
         st = 1;
         return false;
         }
         if(st == '1'){
         return false;
         }else{
         data = {
         'title':title,'simg':simg,'bimg':bimg,'url':url,'websimg':websimg,'webbimg':webbimg,
         'weburl':weburl,'status':status,'pid':pid
         }
         $.post("<{:U('Video/addType')}>",data,function(a){

         alert(a)

         })

         }


         })*/

    </script>


</block>
<!-- 底部JS执行区域 结束 -->
