<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">添加地区</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" novalidate="novalidate" method="post" action="<{:U(Video/addArea)}>">

                            <div class="control-group">
                                <label class="control-label">添加地区：</label>
                                <div class="controls">
                                    <input type="text" name="name" id="name"  />

                                </div>


                                <div class="control-group">
                                    <label class="control-label">已存在地区：</label>
                                    <div class="controls">
                                        <select name="pid" style="width:220px;">
                                            <foreach name="data" item="vo">
                                                <option  value="<{$vo.id}>">
                                                    <{$vo.name}>
                                                </option>
                                            </foreach>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-actions">
                                    <input id="sub" type="submit" value=" 立即添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                                    <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

    <script>
        var name;
        var option ='';
        var st = '';

        $('#name').blur(function(){
            name = $.trim($('#name').val());

        })

        $('#sub').click(function(){
            st = '';
            $('option').each(function() {
                option = $.trim($(this).html());

                if(name==null){
                    st = 2;
                    return false;
                }
                if(option==name){

                    st = 1;
                    return false;
                }

            });

            if(st=='1'){
                alert(name+'已存在');
                return false;
            }else if(st=='2'){
                alert('省市名不能为空');
                return false;
            }

        })

    </script>


</block>
<!-- 底部JS执行区域 结束 -->
