<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <style>
        th.list-title {
            font-size: 14px;
        }

        td.align-center {
            text-align: center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">修改省市</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" id="modifyType" novalidate="novalidate" method="post"
                              action="<{:U('SupportMap/modifyArea')}>">

                            <div class="control-group">

                                <div class="control-group">
                                    <label class="control-label">已存在板块：</label>

                                    <div class="controls">
                                        <select name="id" style="width:220px;">
                                            <foreach name="data" item="vo">
                                                <option value="<{$vo.id}>">
                                                    <{$vo.name}>
                                                </option>
                                            </foreach>
                                        </select>

                                    </div>
                                </div>

                                <label class="control-label">修改为：</label>

                                <div class="controls">
                                    <input type="text" name="title" id="title"/>
                                    <span id="checkU" available='0'></span>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            <input type="radio" name="status" value="1"
                                            <if condition="$vo.status eq 1"> checked</if>
                                            />
                                            启用
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="0"
                                            <if condition="$vo.status eq 0"> checked</if>
                                            />
                                            禁用
                                        </label>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <input id="sub" name="sub" type="submit" value=" 修改 " class="btn btn-primary"
                                           style="margin-left:179px; margin-right:30px;">
                                    <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                                    <a id="delsub" class="btn btn-danger" style="margin-left:30px; margin-right:30px;">
                                        删除 </a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
        $('#delsub').bind('click', function () {
            if (confirm('注意:这将会删除当前地区下的所有地址!')) {
                id = $("select").find("option:selected").val();
                location = '__CONTROLLER__/delAll/id/' + id;
            }
        })
    </script>

</block>
<!-- 底部JS执行区域 结束 -->
