<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <style>
        th.list-title {
            font-size: 14px;
        }

        td.align-center {
            text-align: center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">地址修改</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('SupportMap/modify')}>" id="modify"
                              enctype="multipart/form-data" novalidate="novalidate">
                            <input type="hidden" name="id" value="<{:I('get.id')}>"/>

                            <div class="control-group">
                                <label class="control-label">市: </label>

                                <div class="controls">
                                    <input type="text" name="name" id="name" value="<{$data.name}>"/>
                                    <span id="checkU" available='0'></span>
                                </div>
                                <
                                
                                <div class="control-group">
                                    <label class="control-label">地址: </a></label>

                                    <div class="controls">
                                        <input type="text" name="address" class="tip-right" id="address"
                                               value="<{$data.address}>"/>
                                        <span></span>
                                    </div>
                                </div>
                                
                                
                                <div class="control-group">
                                    <label class="control-label">公司名:</a></label>

                                    <div class="controls">
                                        <input type="text" name="cname" id="cname" class="tip-right"
                                               value="<{$data.cname}>">
                                        <span></span>
                                    </div>
                                </div>
                                
                                
                                <div class="control-group">
                                    <label class="control-label">电话: </label>

                                    <div class="controls">
                                        <input type="text" name="tel" id="tel" class="tip-right"
                                               value="<{$data.tel}>">
                                        <span></span>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">工作时间: </label>

                                    <div class="controls">
                                        <input type="text" name="wtime" id="wtime" class="tip-right"
                                               value="<{$data.wtime}>">
                                        <span></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">地图坐标X: </label>

                                    <div class="controls">
                                        <input type="text" name="map_x" id="map_x" class="tip-right"
                                               value="<{$data.map_x}>">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">地图坐标Y: </label>

                                    <div class="controls">
                                        <input type="text" name="map_y" id="map_y" class="tip-right"
                                               value="<{$data.map_y}>">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">选择板块：</label>

                                    <div class="controls">
                                        <select name="pid" style="width:220px;">
                                            <foreach name="option" item="role">
                                                <option
                                                <if condition="$data['pid'] eq $role['id']">selected="selected"</if>
                                                value="<{$role.id}>">
                                                <{$role.name}>
                                                </option>
                                            </foreach>
                                        </select>
                                        <a href="__APP__/SupportMap/addArea" class="btn btn-primary">添加地区</a>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            <input type="radio" name="status" value="1"
                                            <if condition="$data['status'] eq 1"> checked</if>
                                            />
                                            启用
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="0"
                                            <if condition="$data['status'] eq 0">checked</if>
                                            />
                                            禁用
                                        </label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" value=" 立即修改 " class="btn btn-primary"
                                           style="margin-left:179px; margin-right:30px;">
                                    <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>


    </script>


</block>
<!-- 底部JS执行区域 结束 -->
