<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile/css/address-index.css" />
	<style type="text/css">
		.address .left p{
			width: 90%;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>删除地址</h1>
    </header>
	<div class="con">
		<div class="address">
			<foreach name="address" item="vo">
			<div data-id="<{$vo.id}>" <eq name="vo.is_default" value="1">class="moren clearfix"<else />class="myaddress"</eq>>
				<eq name="vo.is_default" value="1">
				<span class='mr'>[默认]</span>
				</eq>
				<div class="left">
					<p><span class="name"><{$vo.reciver_user}></span><span class="phone"><{$vo.reciver_phone}></span></p>
					<p class="address_detial"><span class="province none"><{$vo.pro_addr}></span><span class="city none"><{$vo.city_addr}></span><span class="town"><{$vo.addr}></span><span class="detial_small"><{$vo.street}></span></p>
					<i data-id="<{$vo.id}>">&#xe607;</i>
				</div>
			</div>
			</foreach>
		</div>
		<div class="btn"><a href="javascript:;">删除</a></div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.address div.left', 'click', function(event) {
			$(this).children('i').toggleClass('current');
		}).delegate('.btn a', 'click', function(event) {
			var ids = new Array();
			var i=0;
			$(".left i").each(function(){
				if($(this).hasClass("current")){
					ids[i] = $(this).attr('data-id');
					i++;
				}
				
			});
			$.post('__CONTROLLER__/deleteAddress',{'ids':ids}, function(d){
				if(d){
					window.location.reload() 
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->