<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/address-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>编辑地址</h1>
	</header>
	<div class="con" style="padding:0 10px 50px 10px; background:#fff; border-top: 54px solid #eee;">
		<form id="address" action="<{:U('Address/updateadderss')}>" method="post">
		<div class="bottom">
			<input type="text" name="reciver_user" placeholder="请输入您的姓名" value="<{$address.reciver_user}>" class="must name" />
			<div class="citys">
				<{$city.str}>
			</div>
			<p class="special">
				<span class="dw"></span>
				<input type="text" name="street" placeholder="请输入详细地址" value="<{$address.street}>" class="must address_detial" />
			</p>
			<input type="text" name="reciver_phone" placeholder="请输入手机号码" value="<{$address.reciver_phone}>" class="must phone" />
			<input type="hidden" name="id" value="<{$address.id}>" />
			<p class="serve">保存</p>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(".con").delegate('.bottom .serve', 'click', function(event) {        // 保存地址
            var input = $('.bottom input');
            for(var a = 0;a < input.length;a++){
                if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
                    alert('请输入' + $(input[a]).attr('placeholder'));
                    return false;
                }
            }
            var select = $('.bottom select');
            for(var b = 0;b < select.length;b++){
                if(!$(select[b]).val() || $(select[b]).val() == 0){
                    alert('请检查城市地区选择');
                    return false;
                }
            }
            $('form#address').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->