<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/address-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>地址管理<div class="select"><a href="<{:U('Address/address')}>">编辑</a></div></h1>
	</header>
	<div class="con">
		<div class="address">
			<foreach name="address" item="vo">
			<div data-id="<{$vo.id}>" <eq name="vo.is_default" value="1">class="moren clearfix"<else />class="myaddress"</eq>>
				<eq name="vo.is_default" value="1">
				<span class='mr'>[默认]</span>
				</eq>
				<a href="<{:U('Address/edit', array('id'=>$vo['id']))}>">
				<div class="left">
					<p><span class="name"><{$vo.reciver_user}></span><span class="phone"><{$vo.reciver_phone}></span></p>
					<p class="address_detial"><span class="province none"><{$vo.pro_addr}></span><span class="city none"><{$vo.city_addr}></span><span class="town"><{$vo.addr}></span><span class="detial_small"><{$vo.street}></span></p>
				</div>
				</a>
			</div>
			</foreach>
		</div>
		<div class="btn"><a href="javascript:;">添加地址</a></div>
	</div>
	<div class="dark"></div>
	<div class="add_window">
		<form id="address" action="<{:U('Address/updateadderss')}>" method="post">
		<div class="top"><span>编辑地址</span><span class="icon">&#xe602;</span></div>
		<div class="bottom">
			<input type="text" name="reciver_user" placeholder="请输入您的姓名" class="must name" />
			<div class="citys">
				<{$city.str}>
			</div>
			<p class="special">
				<span class="dw">&#xe611;</span>
				<input type="text" name="street" placeholder="请输入详细地址" class="must address_detial" />
			</p>
			<input type="text" name="reciver_phone" placeholder="请输入手机号码" class="must phone" />
			<p class="serve">保存</p>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(".con").delegate('.btn a', 'click', function(event) {                       // 打开地址弹窗
            $(".dark").fadeTo(300,0.5);
            $(".add_window").slideDown(300);
		});
		$(".add_window").delegate('.bottom .serve', 'click', function(event) {        // 保存地址
            var input = $('.bottom input');
            for(var a = 0;a < input.length;a++){
                if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
                    alert('请输入' + $(input[a]).attr('placeholder'));
                    return false;
                }
            }
            var select = $('.bottom select');
            for(var b = 0;b < select.length;b++){
                if(!$(select[b]).val() || $(select[b]).val() == 0){
                    alert('请检查城市地区选择');
                    return false;
                }
            }
            $('form#address').submit();
            
        }).delegate('.top .icon', 'click', function(event) {                        //关闭修改地址弹窗
            $(".dark").fadeOut(300);
            $(".add_window").slideUp(300);
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->