<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link href="__PUBLIC__/Home/css/vip-purchase.css" rel="stylesheet" type="text/css" >
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
	<dl class="clearfix siteUrl wrap">
		<dt><a href="<{$CBW_URL}>">首页</a></dt>
		<dd><em></em> 购买VIP服务</dd>
	</dl>
    <div class="con wrap">
		<div id="user_Box" class="clearfix">
			<div class="img_Box">
				<img src="__PUBLIC__/User/<{$user.thumb}>"  onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
			</div>
			<div class="con_Box">
				<p class="name"><{$user.uname}></p>
				<eq name="user.vip" value="1">
				<p class="date"><span>VIP</span>到期日期：<{$user.vip_time|date="Y-m-d",###}></p>
				<else />
				<p class="novip"><span>VIP</span></p>
				</eq>
			</div>
		</div>
		<div id="select_Box">
			<p>草包网VIP服务</p>
			<ul class="clearfix">
				<li class="current" data-id="1">
					<div class="center">
						<span>1000</span>元/月度
						<!--<p>(原价:1000元)</p>-->
					</div>
				</li>
				<li data-id="3">
					<div class="center">
						<span>3000</span>元/季度
						<!--<p>(原价:3000元)</p>-->
					</div>
				</li>
				<li data-id="6">
					<div class="center">
						<span>6000</span>元/半年
						<!--<p>(原价:6000元)</p>-->
					</div>
				</li>
				<li data-id="12">
					<div class="center">
						<span>12000</span>元/年度
						<!--<p>(原价:12000元)</p>-->
					</div>
				</li>
			</ul>
			<button class="purchase">立即购买</button>
		</div>
		<div id="introduce">
			<p class="tit">草包网VIP套餐</p>
			<p class="detial">零售价普通购买价格，针对大众用户;</p>
			<p class="detial">加盟店可享受批发价（普通户用看不到）;</p>
			<p class="detial">会员价等于采购成本价（只向地区合伙人开放）</p>			
		</div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$("#select_Box li").click(function(){
			$(this).addClass("current").siblings().removeClass("current");
		});
		$(".purchase").click(function(){
			var times = $("#select_Box").find('li.current').attr('data-id');
			var txt=  "您确定要购买"+ times +"个月VIP服务吗？";
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = _CONTROLLER_+"/order/times/"+ times +".html"; 
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->











