<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/assess.css"/>
</block>
<!--js-->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/highcharts.js"></script>
</block>

<!--main-->
<block name="publicBody">
<div id="meizu" class="posF demo">
	<div class="bg">&nbsp;</div>
	<div class="im posR">
		<span class="off posA">&nbsp;</span>
		<img src="__PUBLIC__/Home/images/reco/meizu.jpg" title="魅族帐号解绑示例" alt="魅族帐号解绑示例" />
	</div>
</div>
<div id="apple" class="posF demo">
	<div class="bg">&nbsp;</div>
	<div class="im posR">
		<span class="off posA">&nbsp;</span>
		<img src="__PUBLIC__/Home/images/reco/apple.jpg" title="苹果帐号解绑示例" alt="苹果帐号解绑示例" />
	</div>
</div>
<div class="con-bd-t">
	<ul class="clearfix  dad">
		<li class="on Line"><p class="line"></p></li>
		<li class="on Line"><p class="line"></p></li>
		<li class="on Line"><p class="line"></p></li>
		<li class="Line"><p class="line"></p></li>
		<li class="Line"><p class="line"></p></li>
		<li class="Line"><p class="line"></p></li>
		<li class="Line Lines"><p class="line"></p></li>
	</ul>
	<ol class="clearfix">
		<li class="Breadcrumbs-backArrow"></li>
		<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">类型</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/select.html"><{$step.type}></a></li>
		<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">品牌</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/<{$typeId}>.html"><{$step.brand}></a></li>
		<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">型号</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/<{$typeId}>-<{$brandId}>.html"><{$step.model}></a></li>
	</ol>
</div>
<div class="content">
	<div class="recoKinds">
		<div class="tit">
			<p>回收评估</p>
		</div>
	</div>
	<div class="details row-fluid clearfix">
		<div class="span9">
			<div class="cont">
				<div class="bd">
					<div class="tab detail">
						<notempty name="basic[1]['basic']">
						<div class="wrap clearfix">
							<form action="<{:U('Recovery/information')}>" method="post" id="recovery">
							<input type="hidden" name="ids" />
							<foreach name="basic" item="vo">
								<eq name="vo.show" value="1">
								<dl class="clearfix must">
									<dt><{$vo.name}></dt>
									<foreach name="vo.basic" item="b">
										<dd data-id="<{$b.id}>" <in name="b.id" value="$ids">class="on"</in>><span title="<{$b.description}>"><{$b.name}></span></dd>
									</foreach>
									<dd class="mod"><span>修改</span></dd>
								</dl>
								</eq>
							</foreach>
							<foreach name="other" item="vo">
								<eq name="vo.show" value="1">
								<dl class="clearfix must">
									<dt><{$vo.name}></dt>
									<foreach name="vo.other" item="o">
										<dd data-id="<{$o.id}>" <in name="o.id" value="$ids">class="on"</in>><span title="<{$o.description}>"><{$o.name}></span></dd>
									</foreach>
									<dd class="mod"><span>修改</span></dd>
								</dl>
								</eq>
							</foreach>
							<dl class="clearfix">
								<dt>功能情况<span style="color:#f60; padding-left:15px; font-size:13px;">此项可多选也可不选</span></dt>
								<foreach name="function" item="vo">
									<neq name="vo.pid" value="0">
										<dd data-id="<{$vo.id}>" data-kinds="<{$vo.brother}>" <in name="vo.id" value="$ids">class="on"</in>><span title="<{$vo.description}>"><{$vo.name}></span></dd>
									</neq>
								</foreach>
							</dl>
							<div class="option clearfix">
								<span class="pvTp">重新评估</span>
								<span class="submit">立即回收</span>
							</div>
							</form>
						</div>
						<else />
						<div class="empty clearfix">
							该设备暂不支持回收
						</div>
						</notempty>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="otherInfo">
				<div class="title">
					<p>评估须知</p>
				</div>
				<dl>
					<dt><img src="__PUBLIC__/Home/images/coins/recoCoin1.png" class="coins">取消密码</dt>
					<dd>
						<p>请将设备的所有密码取消，以便我们检测人员及时进行功能检测。</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="__PUBLIC__/Home/images/coins/recoCoin2.png" class="coins">退出账户</dt>
					<dd>
						<p>苹果手机IOS7以上请退出icloud帐户，并清除有关隐私的数据资料。</p>
						<!--<p>苹果手机IOS7以上请退出icloud帐户魅族请退出flyme帐户</p>-->
						<span onclick="$('#apple').slideDown()">苹果示例</span>
						<!--<span class="could" onclick="$('#meizu').slideDown()">魅族示例</span>-->
					</dd>
				</dl>
				<dl>
					<dt><img src="__PUBLIC__/Home/images/coins/recoCoin3.png" class="coins">评估过程安全吗？</dt>
					<dd>
						<p>	草包网是正规工商注册的环保企业，是中国标准化评估的创新者。目前支持多种方式交易：货到付款和当面交易，并承诺到货后24小时之内确认汇款。</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="__PUBLIC__/Home/images/coins/recoCoin4.png" class="coins">价格会不会有变动？</dt>
					<dd>
						<p>只要您所描叙的设备情况与实际检测相符合，这个就是最终的评估价格，不会有变动，若和所描叙的有差异，我们将与您说明情况，然后根据网站的评估系统重新评估。若价格不满意，您也可以要求退货。</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
	<script type="text/javascript">		
		$(function(){
			$('.detail .must dd').each(function(){
				if($(this).hasClass('on')){
					$(this).siblings('dd:not(.mod)').hide();
					$(this).siblings('dd.mod').show();
				}
			})
		})
		
		jQuery('.cont').slide({titCell:'.hd li',trigger:'click'});
		$('.recoKinds').delegate('span.more','click',function(){
			var height = $(this).siblings('dd').height();
			$(this).parent('dl').animate({'height': height + 'px'},250);
		});
		$('.cont').delegate('.wrap dd','click',function(){
			var _this = $(this);
			var _dl = _this.parents('dl');
			var must = _dl.hasClass('must');
			var musts = _dl.nextAll('dl.must');
			var kind = _this.attr('data-kinds');
			var bdTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
			_this.siblings('dt').css({'background':'none'});
			//判断是否修改
			if(_this.hasClass('mod')){
				_this.siblings('dd').removeClass('on').show(250);
				_this.hide();
				return false;
			}
			//下一个未选择的对象的TOP
			var dTop = 0;
			var index = 'a';
			for(var a = 0;a < musts.length;a++){
				if($(musts[a]).find('dd.on').length == 0 && index == 'a'){
					index = a;
					var offset = $(musts[index]).offset();
					dTop = offset.top;
				}
			}
			//点击对象的TOP
			var ofst = _dl.offset();
			var tp = ofst.top;
			//两者之间的距离
			var move = dTop - tp;
			if(!must){
				if(kind){
					if(_this.hasClass('on')){
						_this.removeClass('on');
					}else{
						_this.addClass('on');
						_this.siblings('dd[data-kinds="'+ kind +'"]').removeClass('on');
					}
				}else{
					_this.toggleClass('on');
				}
			}else{
				if(move > 0){
					$('html,body').animate({scrollTop: bdTop + move + 'px'});
				}else{
					var checkOfst = $('.option').offset();
					var checkTop = checkOfst.top;
					$('html,body').animate({scrollTop: checkTop + 'px'});
				}
				if(_this.hasClass('on')){
					return false;
				}
				_this.addClass('on').siblings('dd').removeClass('on').hide(250);
				_this.siblings('dd.mod').show();
			}
		}).delegate('.option span','click',function(){
			var _this = $(this);
			var type = _this.attr('class');
			if(type == 'pvTp'){//重置
				$('input[name=ids]').val('');
				$('.wrap dd').removeClass('on').show(250);
				$('.wrap dd.mod').hide();
				var move = (document.body.clientHeight / 10);
				$('html,body').animate({scrollTop: move + 'px'});
			}else if(type == 'submit'){//提交
				var must = $('.wrap dl.must');
				var on = must.find('dd.on');
				if(must.length > on.length){
					var index = 'a';
					var top;
					for(var a = 0;a < must.length;a++){
						if($(must[a]).find('dd.on').length == 0){
							$(must[a]).find('dt').css({'background':'#ffe1e1'});
							if(index == 'a'){
								index = a;
								var offset = $(must[index]).offset();
								top = parseFloat(offset.top);
							}
						}
					}
					if(index != 'a'){
						$('body').animate({scrollTop: top + 'px'},300);
					}
					return false;
				}
				var ids = "";
				var dds = $('.cont .wrap dd.on');
				for(var i = 0;i < dds.length;i++){
					if(dds.length == (i+1)){
						ids += $(dds[i]).attr('data-id');
					}else{
						ids += $(dds[i]).attr('data-id')+',';
					}
				}
				$('input[name=ids]').val(ids);
				$('form#recovery').submit();
			}
		});
	</script>
</block>
