<extend name="Public:same"/>
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairStep.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/recovery-infomation.css">
</block>

<!--js-->
<block name="topJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
        <div class="con-bd-t">
			<ul class="clearfix  dad">
				<li class="on Line"><p class="line"></p></li>
				<li class="on Line"><p class="line"></p></li>
				<li class="on Line"><p class="line"></p></li>
				<li class="Line"><p class="line"></p></li>
				<li class="Line"><p class="line"></p></li>
				<li class="Line"><p class="line"></p></li>
				<li class="Line Lines"><p class="line"></p></li>
			</ul>
			<ol class="clearfix">
				<li class="Breadcrumbs-backArrow"></li>
				<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">类型</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/select.html"><{$step.type}></a></li>
				<if condition="$Think.session.server.brandId neq ''">
				<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">品牌</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/<{$Think.session.server.typeId}>.html"><{$step.brand}></a></li>
				</if>
				<if condition="$Think.session.server.modelId neq ''">
				<li class="Breadcrumbs-item"><span class="Breadcrumbs-label">型号</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/recovery/<{$Think.session.server.typeId}>-<{$Think.session.server.brandId}>.html"><{$step.model}></a></li>
				</if>
			</ol>
		</div>
		<div class="select">
			<div class="one">
				<form id="server" method="post" action="<{:U('Recovery/create')}>" autocomplete="off">
					<dl class="clearfix linker">
						<dt>回收信息</dt>
						<if condition="$Think.session.server.ids eq ''">
						<dd class="clearfix">
							<strong>品牌：</strong>
							<input type="text" name="brand" value="<{$step.brand}>" class="must inputMust" placeholder="请输入您的品牌"/>
							<i class="icon-right"></i>
						</dd>
						<dd class="clearfix">
							<strong>型号：</strong>
							<input type="text" name="model" class="must inputMust" placeholder="请输入您的型号"/>
							<i class="icon-right"></i>
						</dd>
						<dd class="clearfix">
							<strong>几成新：</strong>
							<select name="condition" id="condition" class="sltMust selectMust">
								<option value="0">请选择</option>
								<option value="9.5成新以上">9.5成新以上（打开过原包装，但从未使用。或者仅使用了几次，没有使用痕迹）</option>
								<option value="9成新以上">9成新以上（有使用过的痕迹，但基本没有磨损或划痕）</option>
								<option value="8成新以上">8成新以上（有少量且明显的磨损或划痕，无掉漆现象和外表硬损伤）</option>
								<option value="7成新以上">7成新以上（有多处明显的磨损或划痕，略有掉漆现象，但无外表硬损伤）</option>
								<option value="7成新以下">7成新以下（外表有明显硬损伤或有多处掉漆现象）</option>
							</select>
							<i class="icon-right"></i>
						</dd>
						<dd class="clearfix">
							<strong>内存：</strong>
							<select name="memory" id="memory" class="sltMust selectMust">
								<option value="0">请选择</option>
								<option value="8G">8G</option>
								<option value="16G">16G</option>
								<option value="32G">32G</option>
								<option value="64G">64G</option>
								<option value="128G">128G</option>
								<option value="256G">256G</option>
							</select>
							<i class="icon-right"></i>
						</dd>
						<dd class="clearfix">
							<strong>有无拆修：</strong>
							<select name="overhaul" id="overhaul" class="sltMust selectMust">
								<option value="0">请选择</option>
								<option value="有拆修">有拆修</option>
								<option value="无拆修">无拆修</option>
						    </select>
							<i class="icon-right"></i>
						</dd>
						</if>
						<dd class="clearfix">
							<strong>备注：</strong>
							<textarea class="must inputMust" name="remarks" id="remarks" placeholder="描述您手机的简单情况" cols="30" rows="10"></textarea>
							<i class="icon-right"></i>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>服务方式</dt>
						<dd class="clearfix" id="userStyle">
							<strong>方式：</strong>
							<div class="select-style">
							    <p class="selected"><span class="select door"></span>上门</p>
								<p class="store"><span class="select store"></span>到店</p>
							</div>
						</dd>
					</dl>
					<if condition="$is_show_tip==1">
						<div style="clear: both; ">
							<a class="open_kefu" style="color:#40bb8c;font-size: 12px;cursor: pointer;"> 如您需要更快速的上门服务，可以点此联系在线客服，为您优先处理更进。</a>
						</div>
					</if>
					<dl class="clearfix linker">
						<dt>联系人信息</dt>
						<dd style="margin:0; display:block;" class="tps"><p></p></dd>
						<dd class="clearfix">
							<strong>联系人：</strong>
							<input type="text" class="must inputMust" name="username" placeholder="请输入您的姓名"/>
							<i class="icon-right"></i>
						</dd>
						<dd class="clearfix">
							<strong>手机号：</strong>
							<input id="mobile" class="inputMust" type="text" name="mobile" placeholder="请输入您的手机号码"/>
							<i class="icon-right"></i>
						</dd>
						<if condition="$Think.session.user.userid eq ''">
						<dd class="rope img_code clearfix">
							<strong>图形验证码：</strong>
							<input type="text" id="img_code" name="imgcode" value="" placeholder="图形验证码"/>
							<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
							<i class="icon-right"></i>
						</dd>
						<dd class="rope Rcode" style="display:none;">
							<strong>短信验证码：</strong>
							<input type="text" class="inputMust" id="code" name="smscode" value="" placeholder="短信验证码" maxlength="6"/>
							<span id="phone_login_btn">获取验证码</span><span style="display:none;" id="re_code">获取验证码</span>
							<i class="icon-right"></i>
						</dd>
						</if>
						<!--<dd class="cart-mod">-->
							<!--<p class="clearfix"><strong>收款方式：</strong><span class="receivables"><span data-id="bank" class="current">银行卡</span><span data-id="alipay">支付宝</span></span></p>-->
							<!--<div class="cart-mod-detial show payMod">-->
								<!--<p class="clearfix"><strong>银行名称：</strong>-->
									<!--<select class="selectMust sltMust" name="bank" id="bank">-->
										<!--<option value="0">请选择银行</option>-->
										<!--<foreach name="bank" item="vo">-->
										<!--<option value="<{$vo.name}>"><{$vo.name}></option>-->
										<!--</foreach>-->
									<!--</select>-->
									<!--<i class="icon-right bankIcon"></i>-->
								<!--</p>-->
								<!--<p class="clearfix">-->
									<!--<strong>银行卡号：</strong>-->
									<!--<input class="inputMust" id="idcart" type="text" name="idcart" placeholder="请输入您的银行卡号"/>-->
									<!--<i class="icon-right cardNumIIcon"></i>-->
								<!--</p>-->

							<!--</div>-->
							<!--<div class="zfb-mod payMod">-->
								<!--<p class="clearfix">-->
									<!--<strong>支付宝：</strong>-->
									<!--<input class="inputMust" id="zfb" type="text" name="zfb" placeholder="请输入您的支付宝账户"/>-->
									<!--<i class="zfbIcon icon-right"></i>-->
								<!--</p>-->
							<!--</div>-->
						<!--</dd>-->
						<dd class="textarea-address clearfix">
							<div class="address clearfix">
								<i class="icon-map"></i>
								<strong>详细地址：</strong>
								<input type="text" class="must inputMust" name="address" id="address" placeholder="请输入小区、写字楼、学校等"/>
								<i class="icon-right"></i>
								<div class="town">
									<div class="mapsearch">
										<ul>
											<li>
												<p class="suggest-name">市民中心</p>
												<p class="suggest-addr">广东省深圳市福田区福中三路</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</dd>
						<dd class="textarea-supplement clearfix">
							<strong> </strong>
							<input class="must inputMust" type="text" name="supplement" id="supplement" placeholder="补充详细地址（如门牌号/楼层号等）">
							<i class="icon-right"></i>
						</dd>
					</dl>
					<input type="hidden" name="province" value="" placeholder="省" />
					<input type="hidden" name="city" value="" placeholder="市" />
					<input type="hidden" name="district" value="" placeholder="区" />
					<input type="hidden" name="township" value="" placeholder="镇区" />
					<input type="hidden" name="street" value="" placeholder="街道" />
					<input type="hidden" name="payway" value="bank" placeholder="收款方式" />
					<input type="hidden" name="lng" value="" placeholder="经度" />
					<input type="hidden" name="lat" value="" placeholder="纬度" />
					<input type="hidden" name="way" value="" placeholder="服务方式" />
					<a class="next-step" id="nextStep" href="javascript:;">立即提交</a>
				</form>
			</div>
		</div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(function(){
			mapInit();               // 初始化
			//getCurrentPosition();    // 定位
			//geocoder([$('input[name=lng]').val(), $('input[name=lat]').val()]);  // 页面加载,定位成功,根据坐标获取地址信息
		});
		var rightColor = "#dcdcdc";
		var falutColor = "#ff4444";
		$("#userStyle p").on("click",function(){
		   var _this = $(this);
           _this.addClass("selected").siblings().removeClass("selected");
		   if(_this.index() == 0){
		       $("input[name=way]").val(2);
		   }else{
		       $("input[name=way]").val(1);
		   }
		});
		// 检查故障信息是否全部填写
		$("#nextStep").on('click', function(d){
		    if($("#userStyle p.selected").length == 0){
			    $("#userStyle").addClass("false");
				$(".tps p").text("请选择服务方式").css("color",falutColor);
			}else{
			    $(".tps p").text("");
			}
			checkInputNews();
			checkInputSelect();
			//check_repayMod();
			if(!$(".inputMust,.selectMust").parents("dd").hasClass("false")){
				$(".tps p").text("")
				$("form#server").submit();
			};
		});
		$(".inputMust").each(function(index,element){
			$(element).blur(function(){
				var must = $(".must");
				for(var i = 0;i<must.length;i++){
					if($(must[i]).val() == ""){
						$(must[i]).siblings(".icon-right").hide().parents("dd").addClass("false");
					}else{
						if($(must[i]).parents("dd").hasClass("false")){
							$(must[i]).css({"border-color":falutColor});
						}
						$(must[i]).css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
					}
				};
			});
		});
		$(".selectMust").each(function(index,element){
			$(element).change(function(){
				var sltMust = $(".sltMust");
				for(var i = 0;i<sltMust.length;i++){
					if($(sltMust[i]).val() == 0 || $(sltMust[i]).val() == null){
						$(sltMust[i]).siblings(".icon-right").hide().parents("dd").addClass("false");
					}else{
						if($(sltMust[i]).parents("dd").hasClass("false")){
							$(sltMust[i]).css({"border-color":falutColor});
						}
						$(sltMust[i]).css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
					}
				};
			});
		});

		$(".con").delegate('.town .mapsearch ul li', 'mouseenter', function(event) {  // 聚焦出现地址
			 $(this).addClass('current').siblings().removeClass('current');
		}).delegate('.mapsearch ul li', 'click', function(event) {                    // 搜索结果 选择事件
			var lng  = $(this).find('.suggest-name').attr('data-lng');
			var lat  = $(this).find('.suggest-name').attr('data-lat');
			var addr = $(this).find('.suggest-name').text();

			$('input[name=lng]').val(lng);
			$('input[name=lat]').val(lat);
			$('input[name=address]').val(addr);
			geocoder([lng, lat]);
			// 保存当前位置
			$.post('__CONTROLLER__/saveLocation',{'lng': lng, 'lat': lat, 'addr': addr},function(d){
				$('.mapsearch').hide();
			});
		}).delegate("input[name=address]","keyup",function(){                         // 输入地址
			var _this  = $(this);
			var city   = $('.con-r').attr('data-city');
			var address = _this.val();
			poiSearch(city, address);
			if(_this.val().length == 0){
				_this.siblings(".icon-map").css("background-position","-272px -3px");
			}else{
				_this.siblings(".icon-map").css("background-position","-272px -26px");
			}
		}).delegate(".cart-mod .receivables span","click",function(){
			var _this  = $(this);
			var payway = _this.attr('data-id');
			var thisIndex = _this.index();
			_this.addClass("current").siblings().removeClass("current");
			$(".payMod").eq(thisIndex).addClass("show").siblings().removeClass("show");
			$("input[name=payway]").val(payway);
		});

		/*
		 *
		   检查故障信息
		 *
		*/
		function checkInputNews(){
			var must = $(".must");
			for(var i = 0;i<must.length;i++){
				if($(must[i]).val() == ""){
					$(must[i]).css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
				}else{
					$(must[i]).css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
				}
			};
			if($("#img_code").length > 0){
				if($("dd.img_code").attr("style") != "display: none;"){
				     checkImgcode($("#img_code"));
				}
			}
			checkMobile($("#mobile"));
		}
		/*
		 *
		   检查下拉框
		 *
		*/
		function checkInputSelect(){
			var sltMust = $(".sltMust");
			for(var i = 0;i<sltMust.length;i++){
				if($(sltMust[i]).val() == 0 || $(sltMust[i]).val() == null){
					$(sltMust[i]).css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
				}else{
					$(sltMust[i]).css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
				}
			};
		}
		/*
		 *
		   手机号码
		 *
		*/
		function check_phone() {
			if(/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/.test($("#mobile").val())) return true;
		}
		function checkMobile(_this){
			if (!check_phone()) {
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
				if(_this.val() != ""){
					$(".tps p").text("手机号码不正确").css("color",falutColor);
				}
			}else{
				_this.css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
				$(".tps p").text("");
			};
		}
		$("#mobile").on("blur",function(){
		    var _this = $(this);
			if(_this.val() != ""){
			    checkMobile(_this);
			}
		});
		/*
		 *图形验证码
		 *
		*/
		$("#img_code").on("keyup",function(){
			var _this = $(this);
			if(_this.val() != ""){
			    checkImgcode(_this);
			}
		});
		function checkImgcode(_this){
			var imgcode = _this.val();
			if(imgcode == ""){
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
			}else{
				if(imgcode.length >= 1){
					$.post('__CONTROLLER__/checkAjaxVerify', {'code':imgcode}, function (data) {
						if(data){
							_this.parents(".img_code").hide();
							$(".Rcode").show().css("color","#313131");
							_this.css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
							$(".tps p").text("");
						}else{
							$(".tps p").text("图形验证码错误").css("color",falutColor);
							_this.css({"border-color":falutColor}).parents("dd").addClass("false");
						}
					});
				}
			}
		}

		/*
		 *短信验证码
		 *
		*/
		$("#code").blur(function(){
			var _this  = $(this);
			var code   = _this.val();
			var mobile = $('#mobile').val();
			if(code == ""){
				_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
			}else{
				$.post('__CONTROLLER__/checkVerifySms', {'mobile':mobile, 'code':code}, function (data) {
					if(data){
						_this.css({"border-color":rightColor}).siblings(".icon-right").show().parents("dd").removeClass("false");
						$(".tps p").text("");
					}else{
						$(".tps p").text("短信验证码错误").css("color",falutColor);
						_this.css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
					}
				});
			}
		});

		/*
		 *
		   检查收款模块
		 *
		*/
		// function check_repayMod() {
		// 	// 银行卡
		// 	var bankCheck = 0;
		// 	var zfbcheck = 0;
		// 	var bank = $("#bank");
		// 	var idcart = $("#idcart");
		// 	var zfb = $("#zfb");
		// 	if(bank.val() == 0 || $("#bank").val() == null){
		// 		bank.css({"border-color":falutColor});
		// 	}else{
		// 		bank.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 		bankCheck++;
		// 	};
		// 	if (!check_IDcart()) {
		// 		idcart.css({"border-color":falutColor}).siblings(".icon-right").hide();
		// 		if(idcart.val() != ""){
		// 			$(".tps p").text("银行卡号不正确").css("color",falutColor);
		// 		}
		// 	}else{
		// 		idcart.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 		$(".tps p").text("");
		// 		bankCheck++;
		// 	};
		// 	if (zfb.val() == "") {
		// 		zfb.css({"border-color":falutColor});
		// 	}else{
		// 		zfb.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 		zfbcheck++;
		// 	};
		// 	if(bankCheck == 2 || zfbcheck == 1){
		// 		$(".cart-mod-detial").parents("dd").removeClass("false");
		// 		idcart.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 		bank.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 		zfb.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 	}else{
		// 		$(".cart-mod-detial").siblings(".icon-right").hide().parents("dd").addClass("false");
		// 		$(".cart-mod-detial").find(".icon-right").hide();
		// 	};
		// }
		/*
		 *
		 *微信好检测
		 *

		*/
		// function check_IDcart() {
		// 	if(/^(\d{16}|\d{19}|\d{20})$/.test($("#idcart").val())) return true;
		// }
		// $("#idcart").on("blur",function(){
		//     var _this = $(this);
		//     if(_this.val() != ""){
		// 		if (!check_IDcart()) {
		// 			_this.css({"border-color":falutColor}).siblings(".icon-right").hide();
		// 			$(".tps p").text("银行卡号不正确").css("color",falutColor);
		// 		}else{
		// 			_this.css({"border-color":rightColor}).siblings(".icon-right").show();
		// 			$(".tps p").text("");
		// 		}
		// 	};
		// });

		// $("#zfb").on("blur",function(){
		// 	if($(this).val != ""){
		// 	    $(this).css({"border-color":rightColor}).siblings(".icon-right").show();
		// 	}
		// });

		//发送验证码
		$('#phone_login_btn').click(function(event) {
			var mobile = $('#mobile').val();
			if (!check_phone()) {
				$(".tps p").text("请输入正确的手机号码").css("color",falutColor);
			}else{
				$.post('__CONTROLLER__/sendSms', {'mobile':mobile, 'tempid':'SMS_116560959','testid':'2'}, function (d){
					var data = JSON.parse(d);
					if(data['status'] > 0){
						$(".tps p").text("验证码第"+data['status']+"次成功发送，8小时内有效").css("color","#535353");
					}else{
						$(".tps p").text(data['msg']).css("color",falutColor);
						$("#code").css({"border-color":falutColor}).siblings(".icon-right").hide().parents("dd").addClass("false");
						return false;
					}
				});
				clearInterval(timer);
				timer=setInterval(FreshTimes,1000);
				$('#phone_login_btn').html("重新获取<em class='j_qrCodeCountdown'>(60)</em>");

			}
		});

		var endtimes = 60; //定时器
		var timer;
		/*
		 *
		   验证码倒计时
		 *
		*/
		function FreshTimes(){
			endtimes--;
			$("#phone_login_btn").hide()
			$('#re_code').show();
			$('#re_code').html("重新获取<em class='j_qrCodeCountdown'>("+endtimes+")</em>");
			if(endtimes<=0){
				clearInterval(timer);
				$('#re_code').show().html("重新获取");
			}
		};
		// 重新获取验证码
		$("#re_code").click(function(event) {
			$(this).addClass("disable").html("重新获取<em class='j_qrCodeCountdown'>(60)</em>");
			if($(this).hasClass("disable")){
				return false;
			}
			FreshTimes();
			endtimes = 60;
			$("#phone_login_btn").trigger("click");
			clearInterval(timer);
			timer=setInterval(FreshTimes,1000);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->












