<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/recoveryServer.css">
</block>

<!--js-->
<block name="topJsFile">
	
</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con wrap clearfix">
		<form id="order" autocomplete="off" method="post" action="<{:U('Recovery/submitorder')}>">
			<div class="con-l">
				<if condition="$offerCount gt 0">
				<div class="lists">
				    <div class="b-addcode clearfix">
						<div class="loading-offer f_left">
						    <p class="mode-title">等待维修店报价<span class="user-tips">订单会保留两个小时,请尽快选择一家维修店服务</span></p>
							<div class="offer-introduce clearfix">
							    <img class="f_left" src="__PUBLIC__/Home/images/2016/repaire/loading.gif" />
								<p class="f_left">附近<span class="offer-count"><{$offerCount}></span>家维修店</p>
							</div>
						</div>
						<div class="cb-code f_right">
							<img src="__PUBLIC__/Home/images/2016/erweima01.jpg" />
							<p>扫码关注或微信搜索<span class="weixin">caobao_com</span></p>
							<p>查看订单最新报价</p>
						</div>
					</div>
					<div class="store">
						<div class="store-list"><!--店铺报价列表--></div>
					</div>
				</div>
				</if>
				<div class="official">
					<if condition="$offerCount gt 0">
						<strong class="mode-title">不想等待？立即下单免邮寄送到官方回收</strong>
					<else />
						<strong class="mode-title">免邮寄送到官方回收</strong>
					</if>
					<div class="official-mod clearfix">
						<div class="official-detial clearfix">
							<div class="off">
								<div class="cbw" data-warranty="5">
									<div class="cbw-news"><i></i>草包网官方邮寄信息</div>
								</div>
							</div>
							<div class="ifo">
								<p><strong>地<b>址</b>：</strong>广东省广州市海珠区杨协成电子创意园A座319之1</p>
								<p><strong>联系人：</strong> 维修部（收）</p>
								<p><strong>电<b>话</b>：</strong> 4006233866</p>
								
							</div>
							
							<div class="pri-b">
								<span class="pri">官方回收价格：<span class="num"><{$repair.money}></span>元</span>
							</div>
							<div class="lst_btn"><a href="javascript:;" data-warranty="<{$relation.warranty}>" id="officialRecovery">选择邮寄回收</a></div>
						</div>
						<div class="official-remark">
							<i class="icon-tip"></i>
							注意：邮寄回收，建议使用顺丰快递；为避免恶意邮寄请自行支付快递费，回收成功最多可补30元运费。
						</div>
					</div>
				</div>
			</div>
		</form>
		<input type="hidden" name="id" value="<{$order.id}>" />
		<input type="hidden" name="lng" value="<{$recovery.lng}>" />
		<input type="hidden" name="lat" value="<{$recovery.lat}>" />
		<!-- 地图 -->
		<div class="dark"></div>
		<div class="bigbox posF" style="height:500px;width:700px;">
			<span class="posA off">&nbsp;</span>
			<p class="PS posA">拖动<img src="__PUBLIC__/Home/images/2016/master.png" title="定位标记" alt="定位标记">即可重新定位！</p>
			<button type="button" class="ensure posA">确定</button>
			<div id="mapBx" style="height:500px;width:700px;"></div>
		</div>
		<div id="map" style="display:none"></div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/recovery-step.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>

	</script>
</block>
<!-- 底部JS执行区域 结束 -->