<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/addcomment.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="<{:U('Thread/comments', array('id'=>$acceptId, 'category'=>$category))}>">&#xe617;</a></div>
		<h1>评论</h1>
	</div>
</header>
<div class="content">
	<div class="textarea mt6bgcf">
		<textarea id="content" name="content" placeholder="输入您要评论的内容！"></textarea>
	</div>
	<div class="submit ui-button"><a href="javascript:;">提交</a></div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	// 提交
	$(".submit").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var content  = $("#content").val();
		var tid      = "<{$threadId}>";
		var category = "<{$category}>";
		var acceptid = "<{$acceptId}>";
		var len      = $.trim(content).length;
		if(len<5){
			alert("评论内容字数不少于五个");
			return false; 
		}else{
			$.post('__CONTROLLER__/doAddComment', {'tid':tid, 'category':category, 'acceptid':acceptid, 'content':content}, function(d){
				if(d == 'error'){
					alert('非法请求！');
				}else if(d == 'login'){
					alert('尚未登录,不允许发布！');
				}else if(d == 'badwords'){
					alert('评论中存在敏感词,不允许发布！');
				}else if(d == 'freely'){
					alert('评论频繁,请一分钟后再评论！');
				}else{
					window.location.href = "<{$CBW_URL}>/Thread/comments/id/"+ acceptid + "/category/"+ category + ".html";
				}
			});
		}
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->