<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/comments.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<h1>评论（<{$cnumber}>）</h1>
	</div>
</header>
<div class="content">
	<notempty name="data">
	<div class="comment_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li>
				<div class="author clearfix">
					<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" title="<{$vo.uname}>"></a>
					<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><span class="authorName"><{$vo.uname}></span></a>
					<span class="time">发布于<{$vo.dateline|CBWTimeFormat='m.d'}></span>
				</div>
				<div class="art">
					<p><{$vo.content}></p>
				</div>
			</li>
			</foreach>
		</ul>
	</div>
	</notempty>
	<div class="add-comment"><a href="<{:U('Thread/addcomment', array('id'=>$acceptId, 'category'=>$category))}>">添加评论</a></div>
</div>
</body>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.comment_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 9;
			var category = "<{$id}>";
			var id = "<{$acceptId}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreComments',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'id':id, 'category':category },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<div class="author clearfix">';
							html += '		<a href="<{$CBW_URL}>/user/'+ data[a]['authorid'] +'.html" class="userImg"><img src="__PUBLIC__/User/'+ data[a]['thumb'] +'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';" alt="'+ data[a]['uname'] +'" title="'+ data[a]['uname'] +'"></a>';
							html += '		<a href="<{$CBW_URL}>/user/'+ data[a]['authorid'] +'.html"><span class="authorName">'+ data[a]['uname'] +'</span></a>';
							html += '		<span class="time">发布于'+ data[a]['dateline'] +'</span>';
							html += '	</div>';
							html += '	<div class="art">';
							html += '		<p>'+ data[a]['content'] +'</p>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->