<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/editquestion.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<h1>编辑问题</h1>
	</div>
</header>
<div class="content">
	<form id="edit" method="post" action="__CONTROLLER__/doEditThread">
		<div class="question_tit mt6bgcf">
			<input type="text" id="subject" name="subject" value="<{$data.subject}>" class="ui-input" placeholder="请输入一个标题"/>
		</div>
		<div class="textarea mt6bgcf">
			<textarea id="content" name="content" placeholder="请尽可能详细的描述您的问题，以便得到更好的答案！"><{$data.content}></textarea>
		</div>
		<div class="add_bd mt6bgcf clearfix">
			<label for="inser_pic" class="inser_pic mt6bgcf">
				<em class="icon_add"></em>添加图片<input type="file" name="inser_pic" id="inser_pic">
			</label>
			<div class="user_img"><img id="user_img" data-val="<{$data.attachment}>" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" /></div>
			<input type="hidden" id="attachment" name="attachment" value="">
			<input type="hidden" name="id" value="<{$data.id}>" />
		</div>
		<div class="tps mod">
			<input type="checkbox" name="notice" value="1" id="tips" <if condition="$data.notice eq '1'">checked</if> /> <label for="tips">收到答案时,通过绑定手机或邮箱通知我</label>
		</div>
		<div class="submitQuestion ui-button"><a href="javascript:;">提交</a></div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
		if($("#user_img").attr('data-val')){
			$('#user_img').show();  
		}
	});
	
	// 压缩插入图片
	$("#inser_pic").on("change",function(e){
		new html5ImgCompress(e.target.files[0], {
			before: function(file) {
				console.log('单张: 压缩前...');
			},
			done: function (file, base64) {
				console.log('单张: 压缩成功...');
				var img = new Image(), title, src, size, base;
				if (typeof base64 === 'object') {
					title = '前';
					size = base64.size;
					src = URL.createObjectURL(base64);
					base = 1024;
				} else {
					title = '后';
					size = base64.length;
					src = base64;
					base = 1333;
				}
				$('#user_img').attr('src',src).show();  
				$('#attachment').val(src);
				base64 = null; // 处理完后记得清缓存
			},
			fail: function(file) {
				//console.log('单张: 压缩失败...');
			},
			complate: function(file) {
				//console.log('单张: 压缩完成...');
			},
			notSupport: function(file) {
				//console.log('浏览器不支持！...');
			}
		});
	});
	// 提交
	$(".submitQuestion").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var content = $("#content").val();
		var ques = $("#subject").val();
		var queslen = $.trim(ques).length;
		var len = $.trim(content).length;
		if (queslen < 5 || queslen > 25){
			alert("请输入一个标题，字数在5和25之间");
			return false; 
		}else if(len<5){
			alert("请输入详细内容，字数不少于五个");
			return false; 
		}else{
			$("#edit").submit();
		}
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->