<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/share.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content">
	<form id="edit" method="post" action="__CONTROLLER__/doEditThread">
		<div class="step-one">
			<header>
				<div class="return"><a href="javascript:;">&#xe617;</a></div>
				<h1>技巧分享</h1>
			</header>
			<section>
				<h2>文章标题</h2>
				<div class="share-title bdt6bgcf">
					<input type="hidden" name="fid" value="<{$data.fid}>" />
					<input type="hidden" name="sub" value="<{$data.sub}>" />
					<input type="hidden" name="id" value="<{$data.id}>" />
					<input id="step_one_tit" name="subject" value="<{$data.subject}>" placeholder="在这里输入分享的标题"></input>
				</div>
			</section>
			<div class="tip">请输入标题，字数在5到25之间</div>
		</div>
		<div class="step-two">
			<section>
				<h2>简介</h2>
				<div class="share-title bdt6bgcf">
					<textarea id="step_two_tit" name="description" type="text" placeholder="在这里输入技巧简介"><{$data.description}></textarea>
				</div>
				<div class="add_bd">
					<label for="inser_pic" class="inser_pic bdt6bgcf">
						<em class="icon_add"></em>添加简介图片<input type="file" name="inser_pic" id="inser_pic">
					</label>
					<div class="user_img"><img id="user_img" data-val="<{$data.attachment}>" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" /></div>
					<input type="hidden" id="attachment" name="attachment" value="">
				</div>
				<div class="tip">请输入简介，字数不少于五字</div>
			</section>
		</div>
		<div class="step-three">
			<section>
				<h2>工具</h2>
				<foreach name="data.tools" item="vo">
				<div class="share-title bdt6bgcf">
					<input name="tools[]" value="<{$vo.content}>" placeholder="在这里输入所需要工具"></input>
				</div>
				</foreach>
				<div class="btns clearfix" id="tool_btns">
					<button class="clone-btn ui-button" id="clone_tool">添加工具</button>
					<button class="close-btn ui-button" id="close_tool">取消</button>
				</div>
			</section>
		</div>
		<div class="step-four">
			<h2>方法/步骤</h2>
			<div class="four-step-step">
				<volist name="data.steps" id="vo">
				<div class="clone-step profalse">
					<section>
						<div class="share-title bdt6bgcf">
							<textarea name="step[]" class="step_four_tit" type="text" placeholder="在这里输入技巧步骤"><{$vo.content}></textarea>
						</div>
					</section>
					<div class="add_bd">
						<label class="inser_pic bdt6bgcf">
							<em class="icon_add"></em>添加步骤图片<input type="file" name="inser_pic" class="inser_pic_pro">
						</label>
						<div class="user_img"><img class="user_img_pro" data-val="<{$vo.attachment}>" src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" /></div>
						<input type="hidden" class="attachment_pro" name="attachments[]" value="">
						<input type="hidden" name="old_attachments[]" value="<{$vo.attachment}>" />
					</div>
					<div class="tip">请输入步骤，字数不少于五字</div>
				</div>
				</volist>
				<div class="btns clearfix" id="step_btns">
					<button class="clone-btn ui-button" id="clone_step">添加步骤</button>
					<button class="close-btn ui-button" id="close_step">取消</button>
				</div>
			</div>
		</div>
		<div class="step-five">
			<h2>注意事项</h2>
			<section>
				<foreach name="data.matters" item="vo">
				<div class="share-title bdt6bgcf">
					<input class="step_five_tit" name="matters[]" value="<{$vo.content}>" placeholder="在这里输入注意事项"></input>
					<div class="tip carful">请输入注意事项</div>
				</div>
				</foreach>
				<div class="btns clearfix" id="care_btns">
					<button class="clone-btn ui-button" id="clone_care">添加事项</button>
					<button class="close-btn ui-button" id="close_care">取消</button>
				</div>
			</section>
			<div class="oriange bdt6bgcf clearfix">
				<label for="oriange-checkbox">原创</label><input type="checkbox" id="oriange-checkbox" name="original" value="1" <if condition="$data.original eq '1'">checked</if> class="mui-switch mui-switch-animbg" />
			</div>
		</div>
		<div class="submitBtn ui-button"><a href="javascript:;">提交</a></div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
		var imgs = $(".user_img");
		for(var a = 0;a < imgs.length;a++){
			if($(imgs[a]).find('img').attr('data-val')){
				$(imgs[a]).find('img').show();  
			}
		}
	});
	
	var submit = $(".submitBtn");
	var item = $(".type-item").children("div");
	// 标题检查
	$('#step_one_tit').bind('keyup blur', function(event) {
		check_tit();
	});
	// 方法/步骤输入检查
	$(document).on("keyup blur",".step_four_tit",function(){
		check_step();
	});
	// 简介输入检查
	$('#step_two_tit').bind('keyup blur', function(event) {
		check_intro();
	});
	// 注意事项输入检查
	$(document).on("keyup blur",".step_five_tit",function(){
		chekc_carful();
	});
	// 提交
	submit.on("click",function(){
		check_step();
		check_tit();
		check_intro();
		chekc_carful();
		if($(".content form").children("div.false").length == 0){
			$("form#edit").submit();
		}
	});
	// 第一步选择类型
	item.on("click",function(){
		var sub = $(this).find('span').attr('data-id');
		$("input[name=sub]").val(sub);
		$(this).addClass('current').siblings().removeClass('current');
	});
	// 压缩插入图片
	$("#inser_pic").on("change",function(e){
		inser_pic(e,$("#user_img"),$("#attachment"));
	});
	$(document).on("change",".inser_pic_pro",function(e){
		var thisImg = $(this).parents("label").siblings('.user_img').children('img');
		var thisInput = $(this).parents("label").siblings('.attachment_pro');
		inser_pic(e,thisImg,thisInput);
	});
	// 添加步骤
	$(".step-four").on('click','#clone_step',function(){
		$(".step-four .clone-step").eq(0).clone().insertBefore("#step_btns");
		return false;
	}).on('click','#close_step',function(){
		var stepLength = $(".clone-step").length-1;
		if(stepLength != 0){
			$(".step-four .clone-step").eq(stepLength).remove();
		} 
		return false;
	}); 
	// 添加工具
	$(".step-three").on('click','#clone_tool',function(){
		$(".step-three .share-title").eq(0).clone().insertBefore("#tool_btns");
		return false;
	}).on('click','#close_tool',function(){
		var stepLength = $(".step-three .share-title").length-1;
		if(stepLength != 0){
			$(".step-three .share-title").eq(stepLength).remove();
		} 
		return false;
	}); 
	// 添加注意事项
	$(".step-five").on('click','#clone_care',function(){
		$(".step-five .share-title").eq(0).clone().insertBefore("#care_btns");
		return false;
	}).on('click','#close_care',function(){
		var stepLength = $(".step-five .share-title").length-1;
		if(stepLength != 0){
			$(".step-five .share-title").eq(stepLength).remove();
		} 
		return false;
	}); 
	/*
		插入图片
	 */
	function inser_pic(e,imgs,input){
		new html5ImgCompress(e.target.files[0], {
			before: function(file) {
				console.log('单张: 压缩前...');
			},
			done: function (file, base64) {
				console.log('单张: 压缩成功...');
				var img = new Image(), title, src, size, base;
				if (typeof base64 === 'object') {
					title = '前';
					size = base64.size;
					src = URL.createObjectURL(base64);
					base = 1024;
				} else {
					title = '后';
					size = base64.length;
					src = base64;
					base = 1333;
				}
				imgs.attr('src',src).show();  
				input.val(src);
				base64 = null; // 处理完后记得清缓存
			},
			fail: function(file) {
				//console.log('单张: 压缩失败...');
			},
			complate: function(file) {
				//console.log('单张: 压缩完成...');
			},
			notSupport: function(file) {
				//console.log('浏览器不支持...');
			}
		});
	}
	/* 
		方法/步骤检查
	 */
	function check_step(){
		$(".step_four_tit").each(function(index, element) {
			var len = $(element).val();
			if (len.length > 5){
				$(element).parents(".clone-step").removeClass('profalse').children('.tip').hide();
			}else{
				$(element).parents(".clone-step").addClass('profalse').children('.tip').show();
			};
			if($(element).parents(".profalse").length == 0){
				$(element).parents(".step-four").removeClass('false');
			}else{
				$(element).parents(".step-four").addClass('false');
			}
		});
	};
	/* 
		标题检查
	 */
	function check_tit(){
		var len = $("#step_one_tit").val().length;
		if (len>5 && len<25){
			$(".step-one").removeClass('false').find('.tip').hide();
		}else{
			$(".step-one").addClass('false').find('.tip').show();
		}
	};
	/* 
		简介检查
	 */
	function check_intro(){
		var len = $("#step_two_tit").val().length;
		if (len>5){
			$(".step-two").removeClass('false').find('.tip').hide();
		}else{
			$(".step-two").addClass('false').find('.tip').show();
		}
	};
	/* 
		注意事项检查
	 */
	function chekc_carful(){
		$(".step_five_tit").each(function(index, element) {
			var len = $(element).val();
			if (len.length != 0){
				$(element).parents(".share-title").removeClass('profalse').children('.carful').hide();
			}else{
				$(element).parents(".share-title").addClass('profalse').children('.carful').show();
			};
			if($(element).parents(".profalse").length == 0){
				$(element).parents(".step-five section").removeClass('false');
			}else{
				$(element).parents(".step-five section").addClass('false');
			}
		});
	};
</script>
</block>
<!-- 底部JS执行区域 结束 -->