<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/addpost.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<h1>编辑<if condition="$data['category'] eq 1">回答<else />回复</if></h1>
	</div>
</header>
<div class="content">
	<form id="edit" method="post" action="__CONTROLLER__/doEditPost">
		<div class="textarea mt6bgcf">
			<textarea id="message" name="message" placeholder="输入<if condition="$data['category'] eq 1">回答<else />回复</if>就有赠送草包豆哦！"><{$data.message}></textarea>
		</div>
		<div class="add_bd mt6bgcf clearfix">
			<label for="inser_pic" class="inser_pic mt6bgcf">
				<em class="icon_add"></em>添加图片<input type="file" name="inser_pic" id="inser_pic">
			</label>
			<div class="user_img">
				<img id="<if condition="$data.attachment eq ''">user_img<else />user_img_show</if>" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" height="120" />
			</div>
			<input type="hidden" id="insert" name="insert" value="">
			<input type="hidden" name="id" value="<{$data.id}>" />
		</div>
		<div class="submit ui-button"><a href="javascript:;">提交</a></div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	// 压缩插入图片
	$("#inser_pic").on("change",function(e){
		new html5ImgCompress(e.target.files[0], {
			before: function(file) {
				console.log('单张: 压缩前...');
			},
			done: function (file, base64) {
				console.log('单张: 压缩成功...');
				var img = new Image(), title, src, size, base;
				if (typeof base64 === 'object') {
					title = '前';
					size = base64.size;
					src = URL.createObjectURL(base64);
					base = 1024;
				} else {
					title = '后';
					size = base64.length;
					src = base64;
					base = 1333;
				}
				$('#user_img_show').attr('src',src).show();  
				$('#insert').val(src);
				base64 = null; // 处理完后记得清缓存
			},
			fail: function(file) {
				//console.log('单张: 压缩失败...');
			},
			complate: function(file) {
				//console.log('单张: 压缩完成...');
			},
			notSupport: function(file) {
				//console.log('浏览器不支持！...');
			}
		});
	});
	// 提交
	$(".submit").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var message = $("#message").val();
		var len = $.trim(message).length;
		if(len<5){
			alert("回答/回复字数不少于五个");
			return false; 
		}else{
			$("#edit").submit();
		}
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->