<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/finish.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content clearfix wrap">
		<div class="im">
			<p>提交成功</p>
			<p class="Auditing">等待审核......</p>
		</div>
		<p class="returnpre">
		<eq name="category" value="0">
			<a href="<{$CBW_URL}>/jiqiao.html">返回技巧分享</a>
		<else />
			<a href="<{$CBW_URL}>/wenda.html">返回问题与解答</a>
		</eq>
		</p>
		<div class="ti">
			<p>等级LV2以上，发布主题免审核</p>
			<p>等级LV2以上，回复主题免审核</p>
			<p>等级LV2以上，评论免审核</p>
			<p class="scale"><a href="<{$CBW_URL}>/introduce.html">查看等级说明</a></p>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->