<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/jiqiao.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		
		<!-- 搜索部分 开始 -->
		<{:W('System/search')}>
		<!-- 搜索部分 结束 -->
		
		<div class="classify"><a href="javascript:;">&#xe60b;</a></div>
		<div class="cancle" style="display:none;"><a href="javascript:;">取消</a></div>
	</div>
	<div class="editBtns clearfix">
		<a href="<{:C('BBS_URL')}>/add/1.html"><em class="icon_question"></em>立即提问</a>
		<a href="<{:C('BBS_URL')}>/add/2.html"><em class="icon_share"></em>我要分享</a>
	</div>
</header>
<div class="content mt6bgcf">
	<h1>技巧分享</h1>
	<section class="share_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li>
				<a href="<{$CBW_URL}>/view/<{$vo.id}>.html">
					<div class="h2">
						<h2><{$vo.subject}><eq name="vo.original" value="1">（<span>原创</span>）</eq></h2>
					</div>
					<figure>
						<div class="imgArea">
							<img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" onerror="javascript:this.src='__PUBLIC__/Forum/images/nopic.jpg'"/>
						</div>
						<figcaption class="textArea">
							<p><{$vo.description|msubstr=0,26,'utf-8',true}></p>
							<span class="shareTime">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
						</figcaption>
					</figure>
				</a>
			</li>
			</foreach>
		</ul>
	</section>
</div>

<!-- 大家都在搜 开始 -->
<{:W('System/people')}>
<!-- 大家都在搜 结束 --> 

<!-- 专题分类部分 开始 -->
<{:W('System/brand', array('category'=>2))}>
<!-- 专题分类部分 结束 -->

<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">	
		// dropload
		var counter = 0;
		$('.share_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 15;
			var category = "<{$category}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreThread',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'category':category },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							var original = '';
							if(data[a]['original'] == 1){
								original = '（<span>原创</span>）';
							}
							var src = "";
							if(data[a]['attachment'] == ''){
								src = "__PUBLIC__/Forum/images/nopic.jpg";
							}else{
								src = "__PUBLIC__/bbs/attachment/"+data[a]['attachment'];
							}
							html += '<li>';
							html += '	<a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html">';
							html += '		<div class="h2">';
							html += '			<h2>'+ data[a]['subject'] + original +'</h2>';
							html += '		</div>';
							html += '		<figure>';
							html += '			<div class="imgArea"><img src="'+ src +'"/></div>';
							html += '			<figcaption class="textArea">';
							html += '				<p>'+ data[a]['description'] +'</p>';
							html += '				<span class="shareTime">发布于'+ data[a]['occurtime'] +'</span>';
							html += '			</figcaption>';
							html += '		</figure>';
							html += '	</a>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->