<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/question.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<h1>提问</h1>
	</div>
</header>
<div class="content">
	<form id="add" method="post" action="__CONTROLLER__/doNewThread">
		<div class="slt_model mt6bgcf">
			<div class="oriange" id="slt_model"><em class="must">*</em><input type="text" id="slt_model_input" placeholder="输入并选择一个型号，例如iPhone6s"/></div>
			<div class="clearfix alerted">
				<span id="close_cb">×</span>
				<img src="__PUBLIC__/Forum/images/phone.jpg" height="45" width="45">
				<p><strong>iPhone 4S</strong>iPhone 4S是iPhone第五代产品。</p>
			</div>
			<div class="prolist">
				<ul></ul>
			</div>
		</div>
		<div class="question_tit mt6bgcf">
			<em class="must">*</em><input type="text" id="subject" name="subject" class="ui-input" placeholder="请输入一个标题"/>
		</div>
		<div class="textarea mt6bgcf">
			<em class="must">*</em><textarea id="content" name="content" placeholder="请尽可能详细的描述您的问题，以便得到更好的答案！"></textarea>
		</div>
		<div class="add_bd mt6bgcf clearfix">
			<label for="inser_pic" class="inser_pic mt6bgcf">
				<em class="icon_add"></em>补充图片<input type="file" name="inser_pic" id="inser_pic">
			</label>
			<div class="user_img"><img id="user_img" src=""></div>
			<input type="hidden" id="attachment" name="attachment" value="">
			<input type="hidden" name="fid" value="" />
			<input type="hidden" name="category" value="1" />
		</div>
		<div class="tps mod">
			<input type="checkbox" name="notice" value="1" id="tips" /><label for="tips">收到答案时,通过绑定手机或邮箱通知我</label>
		</div>
		<div class="submitQuestion ui-button"><a href="javascript:;">提交</a></div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	// 筛选版块
	$('#slt_model_input').on('keyup focus',function(event){
		var sel = $(this).val();
		if($.trim(sel) == ''){
			$(".prolist").hide();
			return false;
		}
		$.post('__CONTROLLER__/searchForum', {'select':sel}, function(d){
			var data = $.parseJSON(d);
			if(data){
				$('.prolist ul').find("li").remove(); 
				for(var a = 0;a < data.length;a++){
					var html = '<li class="clearfix" data-id="'+ data[a]['id'] +'"><img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'" height="45" width="45" /><p><strong>'+ data[a]['name'] +'</strong>'+ data[a]['description'] +'</p></li>';
					$(".prolist ul").append(html);
				}
				$(".prolist").show(300);
			}
		});
	});
	// 选择机型
	$('#slt_model_input').val('')  // 初始化
	$(".content").on('click',".prolist li",function(event){
		var id = $(this).attr('data-id');
		var imgsrc = $(this).children('img').attr("src");
		var phtml = $(this).find('strong').html();
		var alerted = $(".alerted");
		alerted.children('img').attr("src",imgsrc);
		alerted.children('p').html(phtml);
		alerted.show();
		$("input[name=fid]").val(id);
		$('#slt_model').hide();
		$(this).parents(".prolist").hide();
	});
	// 关闭型号列表
	$("#close_cb").on("click",function(){
		$(this).parent().hide();
		$("input[name=fid]").val('');
		$('#slt_model_input').val('')
		$('#slt_model').show().focus();
	});
	// 压缩插入图片
	$("#inser_pic").on("change",function(e){
		new html5ImgCompress(e.target.files[0], {
			before: function(file) {
				console.log('单张: 压缩前...');
			},
			done: function (file, base64) {
				console.log('单张: 压缩成功...');
				var img = new Image(), title, src, size, base;
				if (typeof base64 === 'object') {
					title = '前';
					size = base64.size;
					src = URL.createObjectURL(base64);
					base = 1024;
				} else {
					title = '后';
					size = base64.length;
					src = base64;
					base = 1333;
				}
				$('#user_img').attr('src',src).show();  
				$('#attachment').val(src);
				base64 = null; // 处理完后记得清缓存
			},
			fail: function(file) {
				//console.log('单张: 压缩失败...');
			},
			complate: function(file) {
				//console.log('单张: 压缩完成...');
			},
			notSupport: function(file) {
				//console.log('浏览器不支持！...');
			}
		});
	});
	// 提交
	$(".submitQuestion").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var content = $("#content").val();
		var ques = $("#subject").val();
		var queslen = $.trim(ques).length;
		var len = $.trim(content).length;
		var fid = $("input[name=fid]").val();
		if (queslen < 5 || queslen > 25){
			alert("请输入一个标题，字数在5和25之间");
			return false; 
		}else if(len<5){
			alert("请输入详细内容，字数不少于五个");
			return false; 
		}else if(fid == ""){
			alert("请选择一个型号");
			return false; 
		}else{
			$("#add").submit();
		}
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->