<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/view.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="<{:C('BBS_URL')}>">&#xe617;</a></div>
		<h1><eq name="data.category" value="1">问答<else />分享</eq>详情</h1>
	</div>
</header>
<div class="content">
	<div class="thread" data-id="<{$data.id}>">
		<section class="title">
			<div class="hline">
				<div class="author clearfix">
					<a href="<{$CBW_URL}>/user/<{$data.authorid}>.html"><img alt="<{$data.uname}>" src="__PUBLIC__/User/<{$data.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
					<a href="<{$CBW_URL}>/user/<{$data.authorid}>.html">
						<span class="authorName"><{$data.uname}></span>
						<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$data.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($data['exp'],'name')}>" width="32" title="<{:CBWExpLevel($data['exp'],'name')}>"/>
						<!-- <span class="level"><{:CBWExpLevel($data['exp'],'name')}></span> -->
					</a>
					<div class="score current">
						<i>评分</i><b><{$data.votes}></b>
						<span class="font_allow">&#xe617;</span>
						<ul>
							<li>
								<empty name="data.collect">
									<span class="collect">收藏</span>
								<else />
									<span class="collect yes">已收藏</span>
								</empty>
							</li>
							<eq name="data.authorid" value="$Think.session.user.userid">
							<li><a href="<{:U('Thread/edit', array('id'=>$data['id']))}>">编辑</a></li>
							</eq>
						</ul>
					</div>
				</div>
			</div>
			<h3><mark><a href="<{$CBW_URL}>/model/<{$data.category}>_<{$data.fid}>.html">【<{$data.name}>】</a></mark><{$data.subject}></h3>
			
			<neq name="data.description" value=""><p class="art"><{$data.description}></p></neq>
			<neq name="data.content" value=""><p class="art"><{$data.content}></p></neq>
			<neq name="data.attachment" value=""><p class="art"><img src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
			<neq name="data.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$data.quote}>.html"><{$data.quotesubject}></a></p></neq>
		</section>
		<if condition="$data.category eq 2">
		<section class="steps mt6bgcf">
			<h3>方法步骤</h3>
			<ul>
				<foreach name="steps" key="key" item="vo">
				<li>
					<div class="li_content clearfix">
						<p><span class="circle_step">第<{$key+1}>步</span><{$vo.content}></p>
						<neq name="vo.attachment" value=""><img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" alt="<{$data.subject}>" title="<{$data.subject}>" /></neq>
						<neq name="vo.quote" value="0"><p class="q">引用:<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a></p></neq>
					</div>
					
				</li>
				</foreach>
			</ul>
		</section>
		<notempty name="tools">
		<section class="tools mt6bgcf">
			<h3>工具</h3>
			<ul>
				<foreach name="tools" item="vo">
				<li><{$vo.content}></li>
				</foreach>
			</ul>
		</section>
		</notempty>
		<notempty name="matters">
		<section class="matters mt6bgcf">
			<h3>注意事项</h3>
			<ul>
				<foreach name="matters" item="vo">
				<li><{$vo.content}></li>
				</foreach>
			</ul>
		</section>
		</notempty>
		</if>
		<div class="scoreque" category="0" vote-id="<{$data.id}>">
			<div class="comment"><a href="<{:U('Thread/comments', array('id'=>$data['id']))}>">评论 <{$data.cnumber}></a></div>
				<div class="operation">
					<div class="yesorno <notempty name="data.vote"> none</notempty>">
						<span class="yes">赞同</span><em>.</em><span class="no">反对</span>
					</div>
					<strong class="aord <empty name="data.vote"> none</empty>">撤销</strong>
					<strong class="state <empty name="data.vote"> none</empty>"><gt name="data.vote.votevalue" value="0">赞同<else />反对</gt></strong>
				</div>
			<div class="time">发布于<{$data.dateline|CBWTimeFormat='m.d'}></div>
		</div>
		<div class="answer-all">
			<h3 class="mt6bgcf"><{$data.replies}>个<eq name="data.category" value="1">答案<else />回复</eq></h3>
			<notempty name="satisfy">
			<!--满意回答-->
			<section class="answer_lst helpest" data-id="<{$vo.id}>">
				<div class="est">最佳答案</div>
				<div class="detial mt6bgcf">
					<div class="hline">
						<div class="author clearfix">
							<a href="<{$CBW_URL}>/user/<{$satisfy.authorid}>.html"><img alt="<{$satisfy.uname}>" src="__PUBLIC__/User/<{$satisfy.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
							<a href="<{$CBW_URL}>/user/<{$satisfy.authorid}>.html">
								<span class="authorName"><{$satisfy.uname}></span>
								<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$satisfy.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($satisfy['exp'],'name')}>" width="32" title="<{:CBWExpLevel($satisfy['exp'],'name')}>"/>
								<!-- <span class="level"><{:CBWExpLevel($satisfy['exp'],'name')}></span> -->
							</a>
							<div class="score">
								<i>评分</i><b><{$satisfy.votes}></b>
							</div>
						</div>
					</div>
					<div class="art">
						<p><{$satisfy.message}></p>
						<neq name="satisfy.attachment" value=""><p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$satisfy.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
						<neq name="satisfy.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$satisfy.quote}>.html"><{$satisfy.quotesubject}></a></p></neq>
					</div>
					<div class="scoreque" category="1" vote-id="<{$satisfy.id}>">
						<div class="comment"><a href="<{:U('Thread/comments', array('id'=>$satisfy['id'], 'category'=>1))}>">评论 <{$satisfy.cnumber}></a></div>
							<div class="operation">
								<div class="yesorno <notempty name="satisfy.vote"> none</notempty>">
									<span class="yes">赞同</span><em>.</em><span class="no">反对</span>
								</div>
								<strong class="aord <empty name="satisfy.vote"> none</empty>">撤销</strong>
								<strong class="state <empty name="satisfy.vote"> none</empty>"><gt name="satisfy.vote.votevalue" value="0">赞同<else />反对</gt></strong>
							</div>
						<div class="time">发布于<{$satisfy.dateline|CBWTimeFormat='m.d'}></div>
					</div>
				</div>
			</section>
			</notempty>
			
			<notempty name="posts">
			<!--其他回答-->
			<foreach name="posts" item="vo">
			<section class="answer_lst mt6bgcf" data-id="<{$vo.id}>">
				<div class="detial">
					<div class="hline">
						<div class="author clearfix">
							<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
							<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html">
								<span class="authorName"><{$vo.uname}></span>
								<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$vo.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($vo['exp'],'name')}>" width="32" title="<{:CBWExpLevel($vo['exp'],'name')}>" />
								<!-- <span class="level"><{:CBWExpLevel($vo['exp'],'name')}></span> -->
							</a>
							<div class="score current">
								<i>评分</i><b><{$vo.votes}></b>
								<span class="font_allow">&#xe617;</span>
								<ul>
									<if condition="$data.category eq 1">
									<empty name="satisfy">
									<eq name="data.authorid" value="$Think.session.user.userid">
									<li><a class="agree" style="float:none;" herf="javascript:;" data-id="<{$vo.id}>">采纳</a></li>
									</eq>
									</empty>
									</if>
									<eq name="vo.authorid" value="$Think.session.user.userid">
									<li><a  style="float:none;" href="<{:U('Thread/editpost', array('id'=>$vo['id']))}>">编辑</a></li>
									</eq>
								</ul>
							</div>
						</div>
					</div>
					<div class="art">
						<p><{$vo.message}></p>
						<neq name="vo.attachment" value=""><p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
						<neq name="vo.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a></p></neq>
					</div>
					<div class="scoreque" category="1" vote-id="<{$vo.id}>">
						<div class="comment"><a href="<{:U('Thread/comments', array('id'=>$vo['id'], 'category'=>1))}>">评论 <{$vo.cnumber}></a></div>
							<div class="operation">
								<div class="yesorno <notempty name="vo.vote"> none</notempty>">
									<span class="yes">赞同</span><em>.</em><span class="no">反对</span>
								</div>
								<strong class="aord <empty name="vo.vote"> none</empty>">撤销</strong>
								<strong class="state <empty name="vo.vote"> none</empty>"><gt name="vo.vote.votevalue" value="0">赞同<else />反对</gt></strong>
							</div>
						<div class="time">发布于<{$vo.dateline|CBWTimeFormat='m.d'}></div>
					</div>
				</div>
			</section>
			</foreach>
			</notempty>
		</div>
		<div class="noanswer mt6bgcf">暂无答案</div>
	</div>
	<div class="addAnswer"><a href="<{:U('Thread/addpost', array('id'=>$data['id']))}>">添加回复</a></div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	// 投票
	$(".scoreque span").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var _this = $(this);
		var type  = 'yes';
		if(_this.hasClass("no")){
			type  = 'no';
		}
		var tid      = _this.parents(".thread").attr("data-id");
		var category = _this.parents(".scoreque").attr("category");
		var voteid   = _this.parents(".scoreque").attr("vote-id");
		$.post('__CONTROLLER__/userVote', {'tid':tid, 'type':type, 'category':category, 'voteid':voteid}, function(d){
			if(d == 'illegal'){
				alert('非法请求.');
			}else if(d == 'notlogin'){
				alert('尚未登录.');
			}else if(d == 'repeat'){
				alert('请勿重复投票.');
			}else if(d == 'authorvotes'){
				alert('不能给自己投票.');
			}else{
				if(type == 'yes'){
					_this.parents(".yesorno").siblings(".state").show().html("赞同").css("color","#a0a0a0");
				}else{
					_this.parents(".yesorno").siblings(".state").show().html("反对").css("color","#a0a0a0");
				}
				_this.parents(".yesorno").hide();
				_this.parents(".yesorno").siblings(".aord").show();
				_this.parents(".scoreque").siblings(".author").find(".score").children("b").html(1);
			}
		});
	});
	// 撤销投票
	$(".aord").click(function(event) {
		if(!confirm('确定要撤销投票吗?此操作需要扣除100点经验值')){
			return false;
		}
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var _this    = $(this);
		var tid      = _this.parents(".thread").attr("data-id");
		var category = _this.parents(".scoreque").attr("category");
		var voteid   = _this.parents(".scoreque").attr("vote-id");
		$.post('__CONTROLLER__/revokeVote', {'tid':tid, 'category':category, 'voteid':voteid}, function(d){
			if(d == 'illegal'){
				alert('非法请求.');
			}else if(d == 'notlogin'){
				alert('尚未登录.');
			}else if(d == 'exp'){
				alert('经验值不足.');
			}else{
				_this.parents(".scoreque").siblings(".author").find(".score").children("b").html(0);
				_this.siblings(".state").hide();
				_this.hide();
				_this.siblings('.yesorno').show();
			}
		});	
	});
	// 选择最有帮助的答案
	$(".score .agree").on("click",function(){
		if(!_USERS_){
			alert('尚未登录');
			return false;
		}
		var pid = $(this).attr("data-id");
		$.post('__CONTROLLER__/helpfulAnswer', {'type':'select', 'pid':pid}, function(d){
			if(d == 'illegal'){
				alert('非法请求.');
			}else if(d == 'notlogin'){
				alert('尚未登录.');
			}else if(d == '1'){
				window.location.reload();
			}else{
				alert('未知错误.');
			}
		});
	});
	// 收藏
	$(".title .score .collect").on("click",function(){
		var _this = $(this);
		var tid   = _this.parents('.thread').attr("data-id");
		$.post('__CONTROLLER__/collect', {'tid':tid}, function(d){
			if(d == 'illegal'){
				alert('非法请求.');
			}else if(d == 'notlogin'){
				alert('尚未登录.');
			}else if(d == 'cancel'){
				_this.html("收藏").removeClass('yes');
			}else if(d == 'collect'){
				_this.html("已收藏").addClass('yes');
			}
		});
	});	
	$(document).on("click",function(){
		$(".score").addClass("current");
	})
	$(".score").on("click",function(e){
		$(this).toggleClass("current");
		e.stopPropagation(); 
	});
	// 没有答案
	if($(".answer-all .answer_lst").length == 0){
		$(".noanswer").show();
	}
</script>
</block>
<!-- 底部JS执行区域 结束 -->





