<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/wenda.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		
		<!-- 搜索部分 开始 -->
		<{:W('System/search')}>
		<!-- 搜索部分 结束 -->
		
		<div class="classify"><a href="javascript:;">&#xe60b;</a></div>
		<div class="cancle" style="display:none;"><a href="javascript:;">取消</a></div>
	</div>
	<div class="editBtns clearfix">
		<a href="<{:C('BBS_URL')}>/add/1.html"><em class="icon_question"></em>立即提问</a>
		<a href="<{:C('BBS_URL')}>/add/2.html"><em class="icon_share"></em>我要分享</a>
	</div>
</header>
<div class="content mt6">
	<h1>问题与解答</h1>
	<section class="wenda_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li class="mt6bgcf">
				<div class="h2">
					<mark><a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>"/></a></mark>
					<a href="<{$CBW_URL}>/view/<{$vo.id}>.html">
						<h2><{$vo.subject}></h2>
						<p><{$vo.content|msubstr=0,26,'utf-8',true}></p>
					</a>
				</div>
				<div class="pdzArea clearfix">
					<div class="pdz clearfix">
						<span class="<{$vo.cname}>"><{$vo.replies}> 回答 <eq name="vo.cname" value="satisfy"><em class="accepted">已接受</em></eq></span>
						<div class="author clearfix">
							<div class="authNews">
								<span class="time">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
							</div>
						</div>
					</div>
				</div>
			</li>
			</foreach>
		</ul>
	</section>
</div>

<!-- 大家都在搜 开始 -->
<{:W('System/people')}>
<!-- 大家都在搜 结束 -->  

<!-- 专题分类部分 开始 -->
<{:W('System/brand', array('category'=>1))}>
<!-- 专题分类部分 结束 -->

<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->

</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.wenda_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 15;
			var category = "<{$category}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreThread',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'category':category },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li class="mt6bgcf">';
							html += '	<div class="h2">';
							html += '		<mark><a href="<{$CBW_URL}>/model/1_'+ data[a]['fid'] +'.html"><img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'"/></a></mark>';
							html += '		<a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html">';
							html += '			<h2>'+ data[a]['subject'] +'</h2>';
							html += '			<p>'+ data[a]['content'] +'</p>';
							html += '		</a>';
							html += '	</div>';
							html += '	<div class="pdzArea clearfix">';
							html += '		<div class="pdz clearfix">';
							html += '			<span class="'+ data[a]['cname'] +'">';
							html += '			'+ data[a]['replies'] +' 回答 ';
							if(data[a]['cname'] == 'satisfy'){
								html += '			<em class="accepted">已接受</em>';
							}
							html += '			</span>';
							html += '			<div class="author clearfix">';
							html += '				<div class="authNews">';
							html += '					<span class="time">发布于'+ data[a]['occurtime'] +'</span>';
							html += '				</div>';
							html += '			</div>';
							html += '		</div>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->