<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
</block>
<!-- 顶部CSS文件 结束 -->
   
<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/adv.js"></script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页</a>
        <a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">故障说明管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> 
						<span class="icon"> <i class="icon-align-justify"></i> </span>
						<h5>修改故障说明</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="__CONTROLLER__/doUpdate" method="post" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="id" value="<{$list.id}>">
							<div class="control-group">
								<label class="control-label">标题:</label>
								<div class="controls">
								<input type="text" class="span11" style="width:200px;" name="title" value="<{$list.title}>" />
								</div>
							</div>

							<div class="control-group">
							<label class="control-label">分类</label>
							<div class="controls">
								<select name="type_id" id="type_id" style="width:150px;">
									<option value=""></option>
									<foreach name="type_cats" item="cats">
										<option value="<{$cats.id}>" <eq name="list.type_id" value="$cats.id">selected = "selected"</eq>><{$cats.cat_name}></option>
									</foreach>
								</select>
								<select name="fault_id" id="fault_id" style="width:150px;">
									<option value=""></option>
									<foreach name="brand_cats" item="cats">
										<option value="<{$cats.id}>" <eq name="list.fault_id" value="$cats.id">selected = "selected"</eq>><{$cats.cat_name}></option>
									</foreach>
								</select>
							</div>
							</div>

							<div class="control-group">
								<label class="control-label">关键字</label>
								<div class="controls">
								  <input type="text" id="keywords" name="keywords" value="<{$list.keywords}>" />
								  <span class="yzurl" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">描述</label>
								<div class="controls">
								  <textarea id="description" name="description" style="width:600px; height:80px;"><{$list.description}></textarea>
								  <span class="yzurl" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">内容:</label>
								<div class="controls">
								   <textarea class="span11" style="width:700px; height:300px;" id="article_content" name="content"><{$list.content}></textarea>
								</div>
							</div>
							<div class="control-group">
							<label class="control-label">是否显示</label>
								<div class="controls">
								  <label style="display:inline">
									 <input type="radio" name="is_show" value="1" <if condition="$list['is_show'] eq 1">checked="checked"</if> />
									  是</label>
								  <label style="display:inline">
									 <input type="radio" name="is_show" value="0" <if condition="$list['is_show'] eq 0">checked="checked"</if> />
									  否</label>
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" id="sub" value=" 确认修改 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
								<a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>

</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
		$('.textarea_editor').wysihtml5();
		var editor;
		KindEditor.ready(function(K) {
		  editor = K.create('#article_content', {
			  
		  });
		});
		
		// 产品类别,产品change提交
		$('#type_id').change(function(){
			var proid = $(this).children('option:selected').val();
			if(proid){
				// Ajax请求数据库验证
                $.get("<{:U('Product/changeProductSelect')}>", {'id': proid}, function (d) {
					if(d){
						$('#fault_id').empty();
						$("#fault_id").append('<option></option>'+d);
					}else{
						$('#fault_id').empty();
					}
                });
			}
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
