<!--添加新闻位-->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->
<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<!--自定义的广告样式-->
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">内容管理</a> 
    </div>
    <h1 style="margin-top:10px;">修改友情链接</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <div class="add-adv">
           <a href="__CONTROLLER__/linksManager" class="btn btn-info"><b>返回列表</b></a>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  
                </div>
                <div class="widget-content nopadding">
                  <form action="__CONTROLLER__/doEditLinks" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">分类</label>
                        <div class="controls">
                          <label style="display:inline"><input type="radio" name="category" value="1" <eq name="list.category" value="1">checked="checked"</eq> />官网</label>
                          <label style="display:inline"><input type="radio" name="category" value="2" <eq name="list.category" value="2">checked="checked"</eq>/>论坛</label>
						</div>
					</div>
                    <div class="control-group">
                     <input type="hidden" name="id" value="<{$list.id}>">
                      <label class="control-label">标题 :</label>
                      <div class="controls">
                        <input type="text" class="span11" style="width:200px;"  name="linktitle" value="<{$list.linktitle}>"/>
                      </div>
                    </div>

                    <div class="control-group">
                     <input type="hidden" name="id" value="<{$list.id}>">
                      <label class="control-label">链接:</label>
                      <div class="controls">
                        <input type="text" class="span11" style="width:200px;"  name="linkurl" value="<{$list.linkurl}>"/>
                      </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">图片</label>
                        <div class="controls">
                            <input id="file_upload" type="file" multiple="true" name="file_upload" />
							<div id="imgs"><img width="200px" <eq name="list.picture" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Links/<{$list.picture}>"</eq>></div>
							<input type="hidden" name="org_picture" value="<{$list.picture}>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">是否显示</label>
                        <div class="controls">
                          <label style="display:inline">
                             <input type="radio" name="is_show" value="1" <if condition="$list['is_show'] eq 1">checked="checked"</if>/>
                              是</label>
                          <label style="display:inline">
                             <input type="radio" name="is_show" value="0" <if condition="$list['is_show'] eq 0">checked="checked"</if>/>
                              否</label>
                    </div>
                    
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success"><b>修改</b></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
           
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
   <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
	
	var img = '';
	$('#file_upload').uploadify({
			'debug' : false,
			'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
			'uploader' : '<{:U("Links/upload",array("session_id"=>session_id()))}>',
			'buttonText' : '商品图片',
			'onUploadSuccess' : function(file, data, response) {
				img = "<img width='200px' src='__PUBLIC__/Links/"+data+"'><input type='hidden' name='picture' value='"+data+"'>";
				$('#imgs').html(img);
			}
	});
</script>
   
</block>
<!-- 底部JS执行区域 结束 -->
