<!-- =====================================================
   友情链接
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
   <script>
        var _URL_ = "__CONTROLLER__";
   </script>
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/adv.js"></script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">友情链接管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
		<div class="add-adv">
		  <a href="__CONTROLLER__/addLinks" class="btn btn-info"><b>添加链接</b></a>
		</div>
       
        <div class="row-fluid">
            <div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon">
						<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>
						<h5>友情链接列表</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="__CONTROLLER__/batchDeleteLinks" method="post">
						<table class="table table-bordered table-striped with-check" style="font-size:14px;">
							<thead>
								<tr >
								  <th style="width:3%;"><i class="icon-resize-vertical"></i></th>
								  <th style="width:8%;">ID</th>
								  <th style="width:8%;">分类</th>
								  <th style="width:8%;">标题</th>
								  <th>链接</th>
								  <th style="width:8%;">操作</th>
								 
								</tr>
							</thead>
							<tbody>
								<foreach name="list" item="v">
								<tr>
								  <td style="text-align:center;"><input type="checkbox" name="ids[]" value="<{$v.id}>"/ class="aa"></td>
								  <td style="text-align:center;"><{$v.id}></td>
								  <td style="text-align:center;">
									<eq name="v.category" value="1">官网</eq>
									<eq name="v.category" value="2">论坛</eq>
								  </td>
								  <td style="text-align:center;"><{$v.linktitle}></td>
								  <td style="text-align:center;"><{$v.linkurl}></td>
								  <td style="text-align:center;">
									  <a href="__CONTROLLER__/editLinks/id/<{$v.id}>">
									  <i class="icon-pencil"></i> 编辑</a> | 
									  <a href="__CONTROLLER__/delLinks/id/<{$v.id}>" onclick="javascript:confirm('确定要删除吗？')" >删除</a>
								  </td>   
								</tr>
								</foreach>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="9">
									    <div class="pagination alternate text-right">
											<input type="submit" class="btn btn-primary pull-left" onclick="return confirm('您确定执行删除操作吗？')" value="批量删除">
										    <{$page}>
									  </div>
									</td>
								</tr>
							</tfoot>
						</table>
						</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script type="text/javascript">
         
    
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
