<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/brand.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="header">
		<div class="return"><a href="javascript:;">&#xe617;</a></div>
		<h1><{$brands.name}>专题</h1>
		<div class="classify"><a href="javascript:;">&#xe60b;</a></div>
	</div>
</header>
<div class="content">
	<section class="special_brand">
		<div class="modelArea clearfix">
			<div class="imgArea"><img src="__PUBLIC__/bbs/icon/<{$brands.icon}>" alt="" /></div>
			<div class="textArea">
				<h1><{$brands.name}>专题</h1>
				<p>共有<{$number}>个<if condition="$category eq 1">问题<else />分享</if></p>
			</div>
		</div>
	</section>
	<section class="thread mod mt6">
		<h2>最新<if condition="$category eq 1">问题<else />分享</if></h2>
		<ul class="list">
			<foreach name="data" item="vo">
			<if condition="$category eq 1">
			<!-- 问答 -->
			<li class="mt6bgcf typeQuestion">
				<article>
					<div class="h3">
						<mark><a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>"/></a></mark>
						<a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="a_content">
							<h3><{$vo.subject}></h3>
							<p><{$vo.content|msubstr=0,26,'utf-8',true}></p>
						</a>
					</div>
					<div class="pdzArea clearfix">
						<span class="<{$vo.cname}>"><{$vo.replies}> 回答 <eq name="vo.cname" value="satisfy"><em class="accepted">已接受</em></eq></span>
						<div class="author clearfix">
							<div class="authNews">
								<span class="time">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
							</div>
						</div>
					</div>
				</article>
			</li>
			<else />
			<!-- 分享 -->
			<li class="mt6bgcf">
				<a href="<{$CBW_URL}>/view/<{$vo.id}>.html">
					<div class="h3">
						<h3><{$vo.subject}><eq name="vo.original" value="1">（<span>原创</span>）</eq></h3>
					</div>
					<figure>
						<div class="imgArea">
							<img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" onerror="javascript:this.src='__PUBLIC__/Forum/images/nopic.jpg'"/>
						</div>
						<figcaption class="textArea">
							<p><{$vo.description|msubstr=0,26,'utf-8',true}></p>
							<span class="shareTime">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
						</figcaption>
					</figure>
				</a>
			</li>
			</if>
			</foreach>
		</ul>
	</section>
</div>

<!-- 专题分类部分 开始 -->
<{:W('System/model', array('category'=>$category, 'brand'=>$brand))}>
<!-- 专题分类部分 结束 -->

<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->

</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.thread').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 15;
			var category = "<{$category}>";
			var brand = "<{$brand}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreBrand',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'category':category, 'brand':brand },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							if(category == 1){
								<!-- 问答 -->
								html += '<li class="mt6bgcf typeQuestion">';
								html += '	<div class="h3">';
								html += '		<mark><a href="<{$CBW_URL}>/model/1_'+ data[a]['fid'] +'.html"><img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'"/></a></mark>';
								html += '		<a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html" class="a_content">';
								html += '			<h3>'+ data[a]['subject'] +'</h3>';
								html += '			<p>'+ data[a]['content'] +'</p>';
								html += '		</a>';
								html += '	</div>';
								html += '	<div class="pdzArea clearfix">';
								html += '			<span class="'+ data[a]['cname'] +'">';
								html += '			'+ data[a]['replies'] +' 回答 ';
								if(data[a]['cname'] == 'satisfy'){
									html += '			<em class="accepted">已接受</em>';
								}
								html += '			</span>';
								html += '			<div class="author clearfix">';
								html += '				<div class="authNews">';
								html += '					<span class="time">发布于'+ data[a]['occurtime'] +'</span>';
								html += '				</div>';
								html += '			</div>';
								html += '	</div>';
								html += '</li>';
							}else{
								<!-- 分享 -->
								var original = '';
								if(data[a]['original'] == 1){
									original = '（<span>原创</span>）';
								}
								var src = "";
								if(data[a]['attachment'] == ''){
									src = "__PUBLIC__/Forum/images/nopic.jpg";
								}else{
									
									src = "__PUBLIC__/bbs/attachment/"+data[a]['attachment'];
								}
								html += '<li>';
								html += '	<a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html">';
								html += '		<div class="h3">';
								html += '			<h3>'+ data[a]['subject'] + original +'</h3>';
								html += '		</div>';
								html += '		<figure>';
								html += '			<div class="imgArea"><img src="'+ src +'"/></div>';
								html += '			<figcaption class="textArea">';
								html += '				<p>'+ data[a]['description'] +'</p>';
								html += '				<span class="shareTime">发布于'+ data[a]['occurtime'] +'</span>';
								html += '			</figcaption>';
								html += '		</figure>';
								html += '	</a>';
								html += '</li>';
							}	
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>	
</block>
<!-- 底部JS执行区域 结束 -->