<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/jump.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content clearfix wrap">
		<div class="im">
			<p><?php if(isset($message)){?>操作成功<?php }else{ ?>操作失败<?php } ?></p>
		</div>
		<div class="ti">
			<p>友情提示:</p>
			<p><?php if(isset($message)){?><!--<?php echo($message);?>--><?php }else{ ?><?php echo($error);?><?php } ?></p>
			<br />
			<p class="scale"><a id="href" href="<?php echo($jumpUrl); ?>">返回</a></p>
			<p class="scale" style="border-color:#dcdcdc;color:#707070;"><a href="http://bbs.caobao.com">前往首页</a></p>
			<!--<p class="returnpre"><b id="wait"><?php echo($waitSecond); ?></b> 秒后未发生跳转</p>-->
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		/*
        (function(){
            var wait = document.getElementById('wait'),href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();*/
    </script>
</block>
<!-- 底部JS执行区域 结束 -->