<style>
	/* 菜单 */
	footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #dcdcdc;
	}
	footer ul{
		display: -webkit-box;    
		display: -moz-box;      
		display: -ms-flexbox;    
		display: flex;
	}
	footer ul li{
		-webkit-box-flex: 1;     
		-moz-box-flex: 1;        
		width: 20%;              
		-webkit-flex: 1;         
		-ms-flex: 1;              
		flex: 1; 
		text-align: center;
	}
	footer ul li a{
		display: block;
		color: #898989;
		padding: 8px 0 0 0;
		text-align: center;
	}
	footer ul li strong{
		width: 18px;
		height: 18px;
		margin: 0 auto;
	}
	footer ul li p{
		color: #898989;
		margin-top: 3px;
		font-size: 14px;
	}
	footer ul li .icon_index{
		background-position: -5px -5px;
	}
	footer ul li .icon_wenda{
		background-position: -5px -28px;
	}
	footer ul li .icon_skill{
		background-position: -5px -50px;
	}
	footer ul li .icon_person{
		background-position: -5px -71px;
	}
</style>
<footer>
	<ul>
		<li>
			<a href="<{:C('BBS_URL')}>">
				<strong class="icon_index"></strong>
				<p>首页</p>
			</a>
		</li>
		<li>
			<a href="<{:C('BBS_URL')}>/wenda.html">
				<strong class="icon_wenda"></strong>
				<p>问答</p>
			</a>
		</li>
		<li>
			<a href="<{:C('BBS_URL')}>/jiqiao.html">
				<strong class="icon_skill"></strong>
				<p>技巧</p>
			</a>
		</li>
		<li>
			<if condition="$userId gt 0">
				<a href="<{:C('BBS_URL')}>/user.html">
					<strong class="icon_person"></strong>
					<p>我</p>
				</a>
			<else />
				<a href="<{:C('BBS_URL')}>/users/login.html">
					<strong class="icon_person"></strong>
					<p>登录</p>
				</a>
			</if>
		</li>
	</ul>
</footer>