<style>
	/* 专题 - 类型分类 */
	.filter {
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
	}
	@-webkit-keyframes move {
		0% { left:100%;}
		100% {left:0; }
	}
	@keyframes move{
		0% { left:100%;}
		100% {left:0; }
	}
	@-webkit-keyframes go {
		0% { left:0;}
		100% {left:100%; }
	}
	@keyframes go{
		0% { left:0;}
		100% {left:100%; }
	}
	.filterBx {
		width: 100%;
		background: #f5f5f5;
		height: 100%;
		overflow: auto;
	}
	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.35;
		z-index: -1;
	}
	.brand,.model{
		background-color: #fff;
		padding: 0 10px;
		width: 100%;
	}
	.ipad{
		margin-top: 10px;
	}
	.brand h2,.model h2{
		font-size: 18px;
		color: #535353;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 15px 0;
		text-align:center;
		position:relative;
	}
	.brand h2 span,.model h2 span{
		font-family:Forum-iconfont;
		font-size:24px;
		color:#40bb8c;
		text-align:left;
		position:absolute;
		left:0;
		top:0;
		height:55px;
		line-height:55px;
		width:50px;
		text-align:left;
		padding-left:10px;
	-webkit-transform:rotate(180deg);
       -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
         -o-transform:rotate(180deg);
            transform:rotate(180deg);
	}
	.brand ul li,.model ul li {
		border: 1px solid #e6e6e6;
		float: left;
		width: 31.3%;
		margin: 0 0 3%;
	}
	.brand ul li:nth-child(3n-1),.model ul li:nth-child(3n-1){
		margin: 0 3% 3%;
	}
	.model ul li{
		text-align: center;
		position: relative;
		height: 70px;
	}
	.model ul li a{
		position: absolute;
		top:50%;
		left:50%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
		width: 100%;
		line-height: 24px;
		padding: 10px 0;
		display: block;
	}
	.model-Bx{
		background: #fff;
	}
</style>

<div class="filter">
	<div class="bg"></div>
	<div class="filterBx  model-Bx">
		<div class="model">
			<h2><span>&#xe617;</span>型号</h2>
			<ul class="clearfix">
				<foreach name="forums" item="vo">
				<li><a href="<{$CBW_URL}>/model/<{$category}>_<{$vo.id}>.html"><{$vo.name}></a></li>
				</foreach>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var filter = $(".filter");
		var classify = $(".classify");
		var startPosition, endPosition, deltaX, deltaY, moveLength;  
		classify.on("click",function(){
			filter.css({"animation":"move 1s","webkitAnimation":"move 1s","left":"0px"})
		});
		$(".filter").on('touchstart', function(e){  
			var touch = e.touches[0];  
			startPosition = {  
				x: touch.pageX,  
				y: touch.pageY  
			}  
		}).on('touchmove', function(e){  
			var touch = e.touches[0];  
			endPosition = {  
				x: touch.pageX,  
				y: touch.pageY  
			};  
			deltaX = endPosition.x - startPosition.x;  
			deltaY = endPosition.y - startPosition.y;  
			moveLength = Math.sqrt(Math.pow(Math.abs(deltaX), 2) + Math.pow(Math.abs(deltaY), 2));  
		}).on('touchend', function(e){  
			if (deltaX > 100) {
				filter.css({"animation":"go 1s","webkitAnimation":"go 1s","left":"100%"});
			}  
		});  
		$("h2 span").on("click",function(){
			$(this).parents(".filter").css({"animation":"go 1s","webkitAnimation":"go 1s","left":"100%"});
		});
	});
</script>








