<style>
	/* 大家都在搜 */
	body{
		background-color:#fff;
	}
	.people_search {
		padding-top: 44px;
		display: none;
		background-color: #fff;
	}
	.people_search h3 {
		background-color: #fff;
		text-indent: 8px;
		color: #313131;
		font-size: 12px;
		padding: 20px 0 10px 8px;
	}
	.people_search li {
		padding: 0 10px;
		text-align: center;
		line-height: 28px;
		background-color: #eee;
		height: 28px;
		color: #535353;
		border-radius: 4px;
		float: left;
		font-size: 12px;
		margin: 8px 12px;
	}
</style>
<div class="people_search">
	<h3>大家都在搜</h3>
	<ul class="clearfix">
		<foreach name="tags" item="vo">
		<li><a href="<{$CBW_URL}>/search/index?keyword=<{$vo.name}>"><{$vo.name}></a></li>
		</foreach>
	</ul>
</div>