<style>
	/* 搜索 */
	.search{
		padding:0 11%;
		width:100%;
		height:48px;
	}
	.search form{
		position:relative;
		z-index:0;
		height: 48px;
		text-align: center;
	}
	.search form input{
		width:100%;
		height:30px;
		padding: 5px 8px 5px 35px;
		margin-top: 9px;
		background-color:#eee;
		font-size:14px;
		border-radius: 3px;
	}
	.search form em{
		font: 18px/21px "Forum-iconfont";
		position: absolute;
		left: 5px;
		top: 13px;
		width: 30px;
		color: #c9c9c9;
	}
</style>
<div class="search">
	<form method="get" action="<{:U('Search/index')}>">
		<input type="search" name="keyword" value="<{$Think.get.keyword}>" placeholder="输入你想要搜索的关键词"/>
		<em>&#xe633;</em>
	</form>
</div>