<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">添加用户组</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>添加用户组</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('Jurisdiction/doGroupAdd')}>" name="groupadd" id="groupadd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">用户组名称：</label>
                                <div class="controls">
                                    <input type="text" name="title" id="title" class="tip-right" data-original-title="用户组名称用字母，数字和下划线组成，可以为中文" />
                                    <span id="checkU" available='0'></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">描述：</label>
                                <div class="controls">
                                    <textarea name="description" id="description"></textarea>
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>

        // 验证用户名
        $(function (){
            $('#title').blur(function (){
                checkGrouptitle(this);
            });

            $('form#groupadd').submit(function () {

                var objGrouptitle = $('#title')[0];
                var isGroupTure = false;
                checkGrouptitle(objGrouptitle);

                if ($('#checkU').attr('available') != 1)
                {
                    $('#checkU').html('请填写合法用户组名称').css({'font-size':'12px', 'color':'red'});
                    return false;
                }
                else
                {
                    isGroupTure = true;
                }

                if (isGroupTure)
                {
                    return true;
                }
                return false;
            });

        });

        // 用户组名称验证方法
        function checkGrouptitle (obj) 
        {
            var txtVal = $(obj).val();
            var oTips = $(obj).next('span');
            var bool = false;

            if (txtVal.length == 0)
            {
                oTips.html('用户组名称不能为空').css({'font-size':'12px', 'color':'red'});
                oTips.attr('available', '0');
                return false;
            }
            else if (txtVal.match(/^\w+$/) && txtVal.length < 3)
            {
                
                oTips.html('用户组名称长度不够').css({'font-size':'12px', 'color':'red'});
                oTips.attr('available', '0');
            }
            else
            {
                // Ajax请求数据库验证
                $.get('__CONTROLLER__/checkGroupExists', {'title': txtVal}, function (d) {
                    if (d == '1')
                    {
                        oTips.html('用户组名称可用').css({'font-size':'12px', 'color':'green'});
                        oTips.attr('available', '1');
                    }
                    else
                    {
                        oTips.html('用户组名称被占用').css({'font-size':'12px', 'color':'red'});
                        oTips.attr('available', '0');
                    }
                });
            }
            
        }
            
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
