<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        a {
            color:#27A9E3;
        }
        a:hover {
            color:#f70;
            text-decoration:underline;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">用户组列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">系统用户组</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div class="tab-pane active">
                            <div class="" style="width:100%; height:30px; margin-bottom:10px;">
                                <a href="__CONTROLLER__/groupAdd" class="btn btn-info"><i class="icon-plus"></i> 添加用户组</a>
                            </div> 
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="list-title">用户组</th>
                                        <th class="list-title">描述</th>
                                        <th class="list-title">状态</th>
                                        <th class="list-title">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="groups" item="group">
                                    <tr>
                                        <td class="align-center"><{$group.title}></td>
                                        <td class="align-center"><{$group.description}></td>
										<td class="align-center">
											<if condition="$group['status'] eq 1">
                                                <a href="__CONTROLLER__/toggleGroupStatus/id/<{$group.id}>/prev/1">
                                                    <span class="lable label-important" style="color:#fff;">&nbsp;启用&nbsp;</span>
                                                </a>
                                            <else />
                                                <a href="__CONTROLLER__/toggleGroupStatus/id/<{$group.id}>/prev/0">
                                                    <span class="lable label-inverse" style="color:#ccc;">&nbsp;禁用&nbsp;</span>
                                                </a>
                                            </if>
										</td> 
                                        <td class="align-center">
											<if condition="$group['id'] neq 1">
                                            <a href="__CONTROLLER__/setRule/id/<{$group.id}>"><i class="icon-pencil red"></i> 授权</a> | 
                                            <a href="__CONTROLLER__/groupEdit/id/<{$group.id}>"><i class="icon-pencil"></i> 编辑</a> | 
                                            <a href="__CONTROLLER__/groupDelete/id/<{$group.id}>" onclick="return confirm('您确定删除该用户组？');"><i class="icon-trash"></i> 删除
											 </if></td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage (newURL) {

          // if url is empty, skip the menu dividers and reset the menu selection to default
          if (newURL != "") {
          
              // if url is "-", it is this page -- reset the menu:
              if (newURL == "-" ) {
                  resetMenu();            
              } 
              // else, send page to designated URL            
              else {  
                document.location.href = newURL;
              }
          }
      }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
       document.gomenu.selector.selectedIndex = 2;
    }
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
