<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
		.tree {
			min-height:20px;
			padding:19px;
			margin-bottom:20px;
			background-color:#fbfbfb;
			border:1px solid #999;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
		}
		.tree li {
			list-style-type:none;
			margin:0;
			padding:10px 0px 0 5px;
			position:relative
		}
		.tree li::before, .tree li::after {
			content:'';
			left:-20px;
			position:absolute;
			right:auto
		}
		.tree li::before {
			border-left:1px solid #999;
			bottom:50px;
			height:100%;
			top:0;
			width:1px
		}
		.tree li::after {
			border-top:1px solid #999;
			height:20px;
			top:25px;
			width:25px
		}
		.tree li:hover {
			background-color:#f2f2f2;
		}
		.tree li span {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border:1px solid #999;
			border-radius:5px;
			display:inline-block;
			padding:3px 8px;
			text-decoration:none;
			font-size:13px;
		}
		.tree li span span {
			width:20px;
			font-size:12px;
			border:0;
		}
		.tree li a {
			font-size:13px;
			float:right;
			margin-right:5px;
		}
		.tree li i {
			font-size:13px;
			margin-left: 50px;
			display: inline-block;
			font-style:normal;			
		}
		.tree li.parent_li>span {
			cursor:pointer
		}
		.tree>ul>li::before, .tree>ul>li::after {
			border:0
		}
		.tree li:last-child::before {
			height:26px
		}
		.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
			background:#eee;
			border:1px solid #94a0b4;
			color:#000
		}
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">权限列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>目录树</h5>
                    </div>
                    <div class="widget-content nopadding add">
                        <div class="tree">
							<ul>
								<foreach name="rulelist" item="rule">
								<empty name="rule['lowers']">
								<li>
									<span title="Collapse this branch"><span><{$rule.id}></span> <{$rule.title}></span>
									<i><{$rule.name}></i>
									<a href="__CONTROLLER__/ruleDelete/id/<{$rule.id}>" onclick="return confirm('您确定删除该规则吗？');">删除</a>
									<a href="__CONTROLLER__/ruleEdit/id/<{$rule.id}>">修改</a>
									<a href="__CONTROLLER__/ruleAdd/id/<{$rule.id}>">添加子分类</a>
								</li>
								<else />
								<li class="parent_li">
									<span title="Collapse this branch"><span><{$rule.id}></span> <{$rule.title}></span>
									<i><{$rule.name}></i>
									<a href="__CONTROLLER__/ruleDelete/id/<{$rule.id}>" onclick="return confirm('您确定删除该规则吗？');">删除</a>
									<a href="__CONTROLLER__/ruleEdit/id/<{$rule.id}>">修改</a>
									<a href="__CONTROLLER__/ruleAdd/id/<{$rule.id}>">添加子分类</a>
									<ul>
										<foreach name="rule['lowers']" item="lower">
										<li style="display:none;">
											<span title="Collapse this branch"><span><{$lower.id}></span> <{$lower.title}></span>
											<i><{$lower.name}></i>
											<a href="__CONTROLLER__/ruleDelete/id/<{$lower.id}>" onclick="return confirm('您确定删除该规则吗？');">删除</a>
											<a href="__CONTROLLER__/ruleEdit/id/<{$lower.id}>">修改</a>
										</li>
										</foreach>
									</ul>
								</li>
								</empty>						
								</foreach>
							</ul>
						</div>
				    </div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
$('.add input[type=checkbox]').each(function(index, element) {
    $(this).click(function(){
		var b = $(this).attr('class')
		var c = $(this).is(':checked')
		var d = $(this).parents('.control-group').next('.control-group').find('input')
		if(b == 'row'){
			if(c == true){
				$(d).prop("checked", true);
				$(d).parent('span').addClass('checked')
				}
			else if(c == false ){
				$(d).prop("checked", false); 
				$(d).parent('span').removeClass('checked')
				}
			}
		})
});
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
