<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">用户组授权</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
				<div>
                    <div class="control-group">
                        <div class="controls">
							<a href="<{:U('Jurisdiction/ruleList')}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 权限管理</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>授权</h5>
                    </div>
                    <div class="widget-content nopadding add">
                        <form class="form-horizontal" method="post" action="<{:U('Jurisdiction/doRuleSet')}>" name="ruleSet" id="ruleSet" novalidate="novalidate">
							<foreach name="rulelist" item="rule">
                            <div class="control-group<empty name="rule['lowers']"><{$rule.id}></empty>">
                                <label class="control-label" for="row_<{$rule.id}>"><input type="checkbox" name="rule[]" <if condition="in_array($rule['id'],$rulesarray)">checked="checked"</if> value="<{$rule.id}>" class="row" /></label>
                                <div class="controls2">
                                    <{$rule.title}>
                                </div>
                            </div>
							<notempty name="rule['lowers']">
							<div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls2">
                                    <ul>
										<foreach name="rule['lowers']" item="lower">
										<label for="row_<{$rule.id}>_item_<{$lower.id}>">
										<li><input type="checkbox" name="rule[]" <if condition="in_array($rule['id'],$rulesarray)">checked="checked"</if> value="<{$lower.id}>" class="item" /><{$lower.title}></li>
										</li>
										</label>
										</foreach>
									</ul>
                                </div>
                            </div>
							</notempty>
							</foreach>
                          <div class="form-actions">
						  	<input type="hidden" name='gid' value="<{$gid}>">
                            <input type="submit" value=" 授权 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
$('.add input[type=checkbox]').each(function(index, element) {
    $(this).click(function(){
		var b = $(this).attr('class')
		var c = $(this).is(':checked')
		var d = $(this).parents('.control-group').next('.control-group').find('input')
		if(b == 'row'){
			if(c == true){
				$(d).prop("checked", true);
				$(d).parent('span').addClass('checked')
				}
			else if(c == false ){
				$(d).prop("checked", false); 
				$(d).parent('span').removeClass('checked')
				}
			}
		})
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
