<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/searchList.css">
</block>

<!--js-->
<block name="topJsFile">
	
</block>
	
<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>">首页</a></dt>
			<dd><em></em> 与<i>“<{$keyword}>”</i>相关的（<i><eq name="searchCount" value="">0<else /><{$searchCount}></eq></i>）个结果</dd>
		</dl>
		<div class="bdCont">
			<div class="row-fluid clearfix">
				<!-- 搜索分类 -->
				<div class="span3 searchCats">
					<foreach name="tables" key="key" item="tab">
					<p <eq name="type" value="$key">class="on"</eq>><a href="<{:U('Search/index',array('type'=>$key, 'keyword'=>$keyword))}>"><{$tab.title}><i>(<eq name="tab.count" value="">0<else /><{$tab.count}></eq>)</i></a></p>
					</foreach>
				</div>
				<div class="span9 resultCont">
					<div class="title">
						<p>草包<{$typename}><span>（<i><eq name="getPageCount" value="">0<else /><{$getPageCount}></eq></i>个结果）</span></p>
					</div>
					<div class="resultList">
						<div class="pageTable clearfix"><!-- 这个不用管 -->
							<div class="pageRow"><!-- 这个分页 -->
							<volist name="listRes" id="vo" >
								<!----------------------- 视频 ---------------------->
								<eq name="type" value="v">
								<div class="item video posR">
									<div class="im">
										<a href="<{$CBW_URL}>/video/<{$vo['id']}>.html" target="_blank" title="<{$vo.title}>">
											<img src="__PUBLIC__/Video/<{$vo.simg}>" alt="<{$vo.title}>" title="<{$vo.title}>" />
										</a>
									</div>
									<p class="videoTitle posA">
										<a href="<{$CBW_URL}>/video/<{$vo['id']}>.html" target="_blank" title="<{$vo.title}>"><{$vo.new_title}></a>
									</p>
								</div>
								</eq>
								
								<!----------------------- 资讯 ---------------------->
								<eq name="type" value="n">
								<div class="item news">
									<div class="im">
										<a href="<{$CBW_URL}>/news/<{$vo['id']}>.html" target="_blank" title="<{$vo['title']}>">
											<img src="<{$vo['thumbnail']}>" alt="<{$vo['title']}>" title="<{$vo['title']}>" />
										</a>
									</div>
									<div class="infos">
										<div class="newsTitle clearfix">
											<p><a href="<{$CBW_URL}>/news/<{$vo['id']}>.html" target="_blank" title="<{$vo['title']}>"><{$vo['new_title']}></a></p>
											<span class="dateTime">[ <{$vo.create_time|date="Y-m-d H:i",###}> ]</span>
										</div>
										<div class="abstract">
											<!-- 此处摘要字数限制在170个字，不然会高度溢出 -->
											<p class="clearfix"><{$vo.new_desc}><a class="read " href="<{$CBW_URL}>/news/<{$vo['id']}>.html" title="<{$vo['title']}>" target="_blank">阅读全文</a></p>
										</div>
									</div>
								</div>
								</eq>
								
								<!----------------------- 问答 ---------------------->
								<eq name="type" value="w">
								<div class="item wenda">
									<div class="im">
										<a href="<{$CBW_URL}>/wenda/<{$vo['id']}>.html" target="_blank" title="<{$vo['title']}>">
											<img src="<{$vo['thumbnail']}>" alt="<{$vo['title']}>" title="<{$vo['title']}>" />
										</a>
									</div>
									<div class="infos">
										<div class="newsTitle clearfix">
											<p><a href="<{$CBW_URL}>/wenda/<{$vo['id']}>.html" target="_blank" title="<{$vo['title']}>"><{$vo['new_title']}></a></p>
											<span class="dateTime">[ <{$vo.create_time|date="Y-m-d H:i",###}> ]</span>
										</div>
										<div class="abstract">
											<p class="clearfix"><{$vo.new_desc}><a class="read " href="<{$CBW_URL}>/wenda/<{$vo['id']}>.html" title="<{$vo['title']}>" target="_blank">阅读全文</a></p>
										</div>
									</div>
								</div>
								</eq>
								
								<!----------------------- 课堂 ---------------------->
								<eq name="type" value="e">
								<div class="item class">
									<div class="classTitle clearfix">
										<p><a href="<{$CBW_URL}>/explain/<{$vo['id']}>.html" target="_blank" title="<{$vo['title']}>"><{$vo['new_title']}></a></p>
										<span class="dateTime">[ <{$vo.create_time|date="Y-m-d H:i",###}> ]</span>
									</div>
								</div>
								</eq>
								<if condition="($i%12) eq 0"></div><div class="pageRow"></if>
							</volist>
							</div>
						</div>
						<!----------------------- 无结果 ---------------------->
						<eq name="getPageCount" value="">
							<div class="item resultNull">
								<p><img src="__PUBLIC__/Home/images/Null.png" alt="无搜索结果" />抱歉！并未搜索到与“<span>关键词</span>”相关的信息</p>
							</div>
						</eq>
					</div>
					<div class="pageLink clearfix">
						<span class="JsPage prev disabled" data-page="prev">上一页</span>
						<div class="pagebar posR"></div>
						<span class="JsPage next" data-page="next">下一页</span>
						<span class="pageNums"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script type="text/javascript">
		$(function(){
			JsPages(0);
		});
		$('.pageLink').delegate('span.JsPage','click',function(){
			var _this = $(this);
			if(_this.hasClass('disabled')){return false;}
			var page = _this.attr('data-page');
			var pageIndex = parseInt(0);
			var pages = $('.pageRow').length;
			var onpage = parseInt($('.pageLink span.on').attr('data-page'));
			if(page == 'prev'){pageIndex = onpage - 1;}
			else if(page == 'next'){pageIndex = onpage + 1;}
			else{pageIndex = page;}
			if(pageIndex < 0){pageIndex = 0;}
			else if(pageIndex > (pages - 1)){pageIndex = (pages - 1);}
			var width = $('.pageRow').width();
			var height = $('.pageRow:eq('+ pageIndex +')').height();
			$('.pageTable').animate({'margin-left':- (pageIndex * width) + 'px','height': height + 'px'},500);
			$('.resultList').animate({'height': height + 'px'},500);
			JsPages(pageIndex);
			var offset = $(".content").offset().top;
			 $('html,body').animate({scrollTop:offset}, 500)
		});
		function JsPages(index){
			index = parseInt(index);
			if(!index){index = 0;}
			var pageRow = $('.pageRow');
			var pages = pageRow.length;
			if(pages>1){
				$('.pageLink').show();
			}else{
				$('.pageLink').hide();
			}
			var pageWidth = pageRow.width();
			var startPage = index - 2;
			var endPage = index + 2;
			if(startPage < 0){endPage = endPage + (-(startPage));startPage = 0;}
			if(endPage > pages && index > 2){startPage = startPage - 1;endPage = pages;}
			else if(endPage > pages && index < 3){endPage = pages;}
			var pageCode = '';
			for(var a = startPage;a < endPage;a++){
				var b = a + 1;
				if(a == index){
					pageCode += '<span class="JsPage on" data-page="'+ a +'">'+ b +'</span>';
				}else{
					pageCode += '<span class="JsPage" data-page="'+ a +'">'+ b +'</span>';
				}
			}
			pageRow.parent().css({'width': (pageWidth * pages) + 'px','margin-left':'0px'})
			$('.pageLink .pagebar').html(pageCode);
			$('.pageLink .pageNums').text($('.pageLink span.on').text() +' / '+ pages);
			if($('.pageLink span.on').text() == pages){$('.pageLink .next').addClass('disabled');}else{$('.pageLink .next').removeClass('disabled');};
			if($('.pageLink span.on').text() == 1){$('.pageLink .prev').addClass('disabled');}else{$('.pageLink .prev').removeClass('disabled');};
		}
	</script>
</block>