<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/agent-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>代理中心</h1>
	</header>
	<div class="con">
		<div class="lists">
			<ul class="menu">
				<li><a href="<{:U('Agent/myshop')}>">我的店铺</a><i>&#xe60f;</i></li>
				<li><a href="<{:U('Agent/offers')}>">报价通知</a><i>&#xe60f;</i></li>
				<li><a href="<{:U('Agent/repair')}>">维修订单</a><i>&#xe60f;</i></li>
				<li><a href="<{:U('Agent/recovery')}>">回收订单</a><i>&#xe60f;</i></li>
				<li><a href="<{:U('Agent/shopping')}>">购物订单</a><i>&#xe60f;</i></li>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->