<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/agent-myshop.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>
			<div class="search">
				<p><input type="text" name="keyword" placeholder="搜索店铺名称"/><em>&#xe614;</em></p>
			</div>
			<div class="add"><a href="<{:U('Agent/shopadd')}>">+</a></div>
		</h1>
	</header>
	<div class="con">
		<div class="citys">
			<{$city.str}>
		</div>
		<div class="lists">
			<empty name="shops">
			<div class="empty">未搜索到我的店铺信息</div>
			<else />
			<ul class="prolst">
			<foreach name="shops" item="vo">
			<li class="content">
				<div class="clearfix content-top">
					<div class="pic">
						<img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" />
						<a class="editShopnews" href="<{:U('Agent/shopedit', array('id'=>$vo['id']))}>">编辑</a>
					</div>
					<a href="<{:U('Agent/jumpSystem', array('id'=>$vo['id']))}>">
					<div class="pic_bd">
						<p class="shopname">
							<em>店</em><{$vo.shop_name}>
							<for start="0" end="$vo.level_image_num">
								<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
							</for>
						</p>
						<p class="shopmaster"><strong>店长：</strong><span><{$vo.user_name}></span></p>
						<p class="shopphone"><strong>电话：</strong><span><{$vo.user_phone}></span></p>
					</div>
					</a>
				</div>
				<div class="shopaddress"><p><strong>&#xe620;</strong><span><{$vo.pro_addr}><{$vo.city_addr}><{$vo.addr}><{$vo.address}></span></p></div>
				<if condition="$vo['is_main'] eq 1">
				<div class="master-shop"><img src="__PUBLIC__/Mobile/images/zhu.png" /></div>
				</if>
				<if condition="$vo['orderCount'] gt 0">
					<p class="hasRepairOrder">有新的订单</p>
				</if>
			</li>
			</foreach>
			</ul>
			</empty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//城市选择js
		<{$city.script}>
		
		var counter = 0;
		$(".search p em").click(function(event) {       // 搜索提交
			counter      = 0;
			var num      = 8;
			var province = $('#province').val();
			var city     = $('#city').val();
			var area     = $('#area').val();
			var keyword  = $('input[name=keyword]').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShop',
				dataType: 'json',
				data: {'counter':0, 'num':num, 'province':province, 'city':city, 'area':area, 'keyword':keyword },
				success: function(data){
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="content">';
						html += '	<div class="clearfix content-top">';
						html += '		<div class="pic">';
						html += '			<img src="__PUBLIC__/User/'+ data[a]['logo_image'] +'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';" />';
						html += '		</div>';
						html += '		<a href="<{$CBW_URL}>/agent/jumpSystem/'+ data[a]['logo_image'] +'.html">';
						html += '		<div class="pic_bd">';
						html += '			<p class="shopname">';
						html += '				<em>店</em>'+ data[a]['shop_name']+ ' ';
						for(var b=0; b<data[a]['level_image_num'];b++){
							html += '<b><img src="__PUBLIC__/Home/images/level/'+ data[a]['level_image_name'] +'.png" width="16" title="'+ data[a]['level_level']+ '级" alt="'+ data[a]['level_level']+ '级" /></b>';
						}
						html += '			</p>';
						html += '			<p class="shopmaster"><strong>店长：</strong><span>'+ data[a]['user_name'] +'</span></p>';
						html += '			<p class="shopphone"><strong>电话：</strong><span>'+ data[a]['user_phone'] +'</span></p>';
						html += '		</div>';
						html += '		</a>';
						html += '	</div>';
						html += '	<div class="shopaddress"><p><strong>&#xe620;</strong><span>'+ data[a]['pro_addr']+ data[a]['city_addr']+ data[a]['addr']+ data[a]['address'] +'</span></p></div>';
						html += '</li>';
					}
					$('.prolst').html(html);
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
        });
		
		// dropload
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num      = 8;
			var province = $('#province').val();
			var city     = $('#city').val();
			var area     = $('#area').val();
			var keyword  = $('input[name=keyword]').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShop',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'province':province, 'city':city, 'area':area, 'keyword':keyword },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li class="content">';
							html += '	<div class="clearfix content-top">';
							html += '		<div class="pic">';
							html += '			<img src="__PUBLIC__/User/'+ data[a]['logo_image'] +'" onerror="javascript:this.src=\'__PUBLIC__/Home/images/2016/picc.png\';" />';
							html += '		</div>';
							html += '		<a href="<{$CBW_URL}>/agent/jumpSystem/'+ data[a]['logo_image'] +'.html">';
							html += '		<div class="pic_bd">';
							html += '			<p class="shopname">';
							html += '				<em>店</em>'+ data[a]['shop_name']+ ' ';
							for(var b=0; b<data[a]['level_image_num'];b++){
								html += '<b><img src="__PUBLIC__/Home/images/level/'+ data[a]['level_image_name'] +'.png" width="16" title="'+ data[a]['level_level']+ '级" alt="'+ data[a]['level_level']+ '级" /></b>';
							}
							html += '			</p>';
							html += '			<p class="shopmaster"><strong>店长：</strong><span>'+ data[a]['user_name'] +'</span></p>';
							html += '			<p class="shopphone"><strong>电话：</strong><span>'+ data[a]['user_phone'] +'</span></p>';
							html += '		</div>';
							html += '		</a>';
							html += '	</div>';
							html += '	<div class="shopaddress"><p><strong>&#xe620;</strong><span>'+ data[a]['pro_addr']+ data[a]['city_addr']+ data[a]['addr']+ data[a]['address'] +'</span></p></div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.prolst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->