<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/agent-repair.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>
			<div class="search"><p><input type="text" name="keyword" placeholder="搜索 订单号"/><em>&#xe614;</em></p></div>
		</h1>
	</header>
	<div class="con">
		<div class="cat">
			<select name="status" id="status" class="span2">
				<option value="">订单状态</option>
				<option value="0"> 已取消</option>
				<option value="1"> 正在交易</option>
				<option value="2"> 交易完成</option>
			</select>
		</div>
		<div class="lists">
			<empty name="orders">
			<div class="empty">订单列表还是空的</div>
			<else />
			<ul class="prolst">
			<foreach name="orders" item="vo">
			<li class="item">
                <div class="shopname">
					<span class="recovery"></span><a href="<{:U('Agent/jumpSystem', array('id'=>$vo['shop_id']))}>"><{$vo.shop_name}></a>
					<strong>
						<eq name="vo.order_status" value="0">已取消</eq>
						<eq name="vo.order_status" value="1">正在交易</eq>
						<eq name="vo.order_status" value="2">交易完成</eq>
					</strong>
				</div>
                <div class="news clearfix">
                    <div class="news_pic">
                        <img src="<{$vo.show_img}>" />
                    </div>
                    <div class="news_bd">
                        <p><{$vo.show_name}></p>
                        <p class="plane num"><{$vo.show_desc}></p>
                        <p class="style num">
							<eq name="vo.reco_way" value="1">到站回收</eq><eq name="vo.reco_way" value="2">上门回收</eq>
							<span class="price"><em>￥</em><{$vo['show_price']|number_format=2,'.',''}></span>
						</p>
                    </div>
                </div>
                <div class="time"><span class="timeicon"></span><{$vo['order_date']|date="Y-m-d",###}><span class="ordernum"><a href="<{:U('Orders/rdetail', array('sn'=>$vo['order_sn']))}>">订单号：<{$vo.order_sn}></a></span></div>
            </li>
			</foreach>
			</ul>
			</empty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var counter = 0;
		
		$(".search em").click(function(event) {       // 搜索提交
			counter     = 0;
			var num     = 8;
			var keyword = $('input[name=keyword]').val();
			var status  = $('#status').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreRecovery',
				dataType: 'json',
				data: {'counter':0, 'num':num, 'keyword':keyword, 'status':status },
				success: function(data){
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="item">';
						html += '	<div class="shopname">';
						html += '		<span class="repair"></span><a href="<{$CBW_URL}>/agent/jumpsystem/id/'+ data[a]['shop_id'] +'">'+ data[a]['shop_name'] +'</a>';
						html += '		<strong>';
						if(data[a]['order_status'] == 0){
							html += '			已取消';
						}
						if(data[a]['order_status'] == 1){
							html += '			正在交易';
						}
						if(data[a]['order_status'] == 2){
							html += '			交易完成';
						}
						html += '		</strong>';
						html += '	</div>';
						html += '	<div class="news clearfix">';
						html += '		<div class="news_pic">';
						html += '			<img src="'+ data[a]['show_img'] +'" />';
						html += '		</div>';
						html += '		<div class="news_bd">';
						html += '			<p>'+ data[a]['show_name'] +'</p>';
						html += '			<p class="plane num">'+ data[a]['show_desc'] +'</p>';
						html += '			<p class="style num">';
						if(data[a]['server_way'] == 1){
							html += '			到站维修';
						}
						if(data[a]['server_way'] == 2){
							html += '			上门维修';
						}
						html += '				<span class="price"><em>￥</em>'+ data[a]['show_price'] +'</span>';
						html += '			</p>';
						html += '		</div>';
						html += '	</div>';
						html += '	<div class="time"><span class="timeicon"></span>'+ data[a]['order_date'] +'<span class="ordernum"><a href="<{$CBW_URL}>/orders/rdetail/sn/'+ data[a]['order_sn'] +'.html">订单号：'+ data[a]['order_sn'] +'</a></span></div>';
						html += '</li>';
					}
					$('.prolst').html(html);
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
        });
		
		// dropload
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num     = 8;
			var keyword = $('input[name=keyword]').val();
			var status  = $('#status').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreRecovery',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'keyword':keyword, 'status':status },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li class="item">';
							html += '	<div class="shopname">';
							html += '		<span class="repair"></span><a href="<{$CBW_URL}>/agent/jumpsystem/id/'+ data[a]['shop_id'] +'">'+ data[a]['shop_name'] +'</a>';
							html += '		<strong>';
							if(data[a]['order_status'] == 0){
								html += '			已取消';
							}
							if(data[a]['order_status'] == 1){
								html += '			正在交易';
							}
							if(data[a]['order_status'] == 2){
								html += '			交易完成';
							}
							html += '		</strong>';
							html += '	</div>';
							html += '	<div class="news clearfix">';
							html += '		<div class="news_pic">';
							html += '			<img src="'+ data[a]['show_img'] +'" />';
							html += '		</div>';
							html += '		<div class="news_bd">';
							html += '			<p>'+ data[a]['show_name'] +'</p>';
							html += '			<p class="plane num">'+ data[a]['show_desc'] +'</p>';
							html += '			<p class="style num">';
							if(data[a]['server_way'] == 1){
								html += '			到站维修';
							}
							if(data[a]['server_way'] == 2){
								html += '			上门维修';
							}
							html += '				<span class="price"><em>￥</em>'+ data[a]['show_price'] +'</span>';
							html += '			</p>';
							html += '		</div>';
							html += '	</div>';
							html += '	<div class="time"><span class="timeicon"></span>'+ data[a]['order_date'] +'<span class="ordernum"><a href="<{$CBW_URL}>/orders/rdetail/sn/'+ data[a]['order_sn'] +'.html">订单号：'+ data[a]['order_sn'] +'</a></span></div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.prolst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->