<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/agent-shopadd.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>添加我的店铺</h1>
	</header>
	<div class="con">
		<div class="List_box">
			<div class="List">
				<form action="<{:U('Agent/doAddShop')}>" id="add" method="post" autocomplete="off">
					<ul class="news_ul">
						<li class="flex"><span>店铺名称：</span><input type="text" name="shop_name" placeholder="请输入店铺名称" /></li>
						<li class="flex"><span>联系姓名：</span><input type="text" name="user_name" placeholder="请输入联系姓名" /></li>
						<li class="flex"><span>联系电话：</span><input type="text" name="user_phone" placeholder="请输入联系电话" /></li>
						<li class="flex"><span>所在城市：</span><{$city.str}></li>
						<li class="flex"><span>详细地址：</span><input type="text" name="address" placeholder="请输入详细地址" /></li>
						<li class="map flex"><span>地图坐标：</span>
							<input type="text" name="lng" placeholder="定位经度" readonly />
							<input type="text" name="lat" placeholder="定位纬度" readonly />
							<a href="javascript:;" class="showmap">定位</a>
						</li>
						<li class="service_style">
							<span>服务方式：</span>
							<label><input type="checkbox" value="1" name="is_store" /> 支持到店服务</label>
							<label><input type="checkbox" value="1" name="is_door" /> 支持上门服务</label>
						</li>
						<li class="tips"></li>
					</ul>
					<button type="button" class="submit">添加</button>
				</form>
			</div>
		</div>
	</div>
	<div class="dark"></div>
	<div class="bigbox posF" style="width:100%;height:336px;">
		<span class="posA off">关闭</span>
		<p class="PS posA">拖动<img src="__PUBLIC__/Home/images/2016/master.png" title="定位标记" alt="定位标记">即可重新定位！</p>
		<div id="mapBx" style="width:100%;height:300px;"></div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		
		$(function(){
			mapInit();    // 初始化地图
		});
		
		$(".con").delegate('input[name=address]', 'input', function(event) {
			var address  = $(this).val();
			var province = $('#province option:selected').text();
			var city     = $('#city option:selected').text();
			var area     = $('#area option:selected').text();
			geocoder2(province+city+area+address);
		}).delegate('a.showmap', 'click', function(event) {
			var area    = $('#area').val();
			var address = $('input[name=address]').val();
			if(!area || area == 0){
				$('.tips').text('请选择店铺所在城市/地区！');
				return false;
			}
			if(!address || address == ''){
				$('.tips').text('请输入店铺地址！');
				return false;
			}
			$('.tips').text('');
			$(".dark").fadeTo(300,0.5);
			$('.bigbox').slideDown(250);
			againPosition();
		}).delegate('button.submit', 'click', function(event) {
			var FL = $('form#add').find('li');
			for(var a = 0;a < FL.length;a++){
				var input  = $(FL[a]).find('input');
				var select = $(FL[a]).find('select');
				if(input){
					var val = $(input).val();
					if(val==""){
						$('.tips').text($(input).attr('placeholder'));
						return false;
					}else{
						if(input.attr('name') == 'user_phone'){
							var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
							if(!myreg.test(val)) { 
								$('.tips').text('请输入有效的手机号码！');
								return false; 
							} 
						}
						$('.tips').text('');
					}
				}
				if(select){
					var text = '';
					for(var b = 0;b < select.length;b++){
						if($(select[b]).val() == 0 || $(select[b]).val() == '' || !$(select[b]).val()){
							if(b == 0){
								text += ' 省份';
							}else if(b == 1){
								text += ' 城市';
							}else if(b == 2){
								text += ' 选择县/区';
							}
							$('.tips').text('请选择您的所在' + text);
							return false;
						}else{
							$('.tips').text('');
						}
					}
				}
			}
			$('form#add').submit();
		});
		$(".bigbox span.off").click(function(event){                                    //关闭定位
			$(".dark").fadeOut(300);
			$('.bigbox').slideUp(250);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->