<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/agent-shopping.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>
			<div class="search"><p><input type="text" name="keyword" placeholder="搜索 订单号"/><em>&#xe614;</em></p></div>
		</h1>
	</header>
	<div class="con">
		<div class="cat">
			<select name="status" id="status" class="span2">
				<option value="">订单状态</option>
				<option value="0"> 已取消</option>
				<option value="1"> 正在交易</option>
				<option value="2"> 交易完成</option>
			</select>
		</div>
		<div class="lists">
			<empty name="orders">
			<div class="empty">订单列表还是空的</div>
			<else />
			<ul class="prolst">
			<foreach name="orders" item="vo">
			<li class="item">
                <div class="shopname">
					<span class="shopping"></span><a href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>"><{$vo.order_sn}></a>
					<strong>
						<eq name="vo.order_status" value="0">已取消</eq>
						<eq name="vo.order_status" value="1">正在交易</eq>
						<eq name="vo.order_status" value="2">交易完成</eq>
					</strong>
				</div>
				<foreach name="vo.list" item="v">
                <div class="news clearfix">
                    <div class="news_pic">
                        <a href="<{$CBW_URL}>/detail/<{$v['pro_id']}>.html"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" /></a>
                    </div>
                    <div class="news_bd">
                        <p><{$v.pro_name}></p>
                        <p class="plane num"><{$v.show_desc}></p>
                        <p class="style num"><span class="price"><em>￥</em><{$v['money']|number_format=2,'.',''}></span></p>
                    </div>
                </div>
				</foreach>
                <div class="time"><span class="timeicon"></span><{$vo['order_date']|date="Y-m-d",###}>  <{$vo.shop_name}><span class="ordernum">收益:<{$vo['harvest']|number_format=2,'.',''}></span></div>
            </li>
			</foreach>
			</ul>
			</empty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var counter = 0;
		
		$(".search em").click(function(event) {       // 搜索提交
			counter     = 0;
			var num     = 8;
			var keyword = $('input[name=keyword]').val();
			var status  = $('#status').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShopping',
				dataType: 'json',
				data: {'counter':0, 'num':num, 'keyword':keyword, 'status':status },
				success: function(data){
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="item">';
						html += '	<div class="shopname">';
						html += '		<span class="shopping"></span><a href="<{$CBW_URL}>/orders/odetail/sn/'+ data[a]['order_sn'] +'.html">'+ data[a]['order_sn'] + '</a>';
						html += '		<strong>';
						if(data[a]['order_status'] == 0){
							html += '			已取消';
						}
						if(data[a]['order_status'] == 1){
							html += '			正在交易';
						}
						if(data[a]['order_status'] == 2){
							html += '			交易完成';
						}
						html += '		</strong>';
						html += '	</div>';
						var list = data[a]['list'];
						for(var b = 0;b < list.length;b++){
						html += '	<div class="news clearfix">';
						html += '		<div class="news_pic">';
						html += '			<a href="<{$CBW_URL}>/detail/'+ list[a]['pro_id'] +'.html"><img src="__PUBLIC__/Product/thumb/'+ list[a]['list_image'] +'" /></a>';
						html += '		</div>';
						html += '		<div class="news_bd">';
						html += '			<p>'+ list[a]['pro_name'] +'</p>';
						html += '			<p class="plane num">'+ list[a]['show_desc'] +'</p>';
						html += '			<p class="style num"><span class="price"><em>￥</em>'+ list[a]['money'] +'</span></span></p>';
						html += '		</div>';
						html += '	</div>';
						}
						html += '	<div class="time"><span class="timeicon"></span>'+ data[a]['order_date'] +'<span class="ordernum">收益:'+ data[a]['harvest'] +'</span></div>';
						html += '</li>';
					}
					$('.prolst').html(html);
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
        });
		
		// dropload
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num     = 8;
			var keyword = $('input[name=keyword]').val();
			var status  = $('#status').val();
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShopping',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'keyword':keyword, 'status':status },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li class="item">';
							html += '	<div class="shopname">';
							html += '		<span class="shopping"></span><a href="<{$CBW_URL}>/orders/rdetail/sn/'+ data[a]['order_sn'] +'.html">'+ data[a]['order_sn'] + '</a>';
							html += '		<strong>';
							if(data[a]['order_status'] == 0){
								html += '			已取消';
							}
							if(data[a]['order_status'] == 1){
								html += '			正在交易';
							}
							if(data[a]['order_status'] == 2){
								html += '			交易完成';
							}
							html += '		</strong>';
							html += '	</div>';
							var list = data[a]['list'];
							for(var b = 0;b < list.length;b++){
							html += '	<div class="news clearfix">';
							html += '		<div class="news_pic">';
							html += '			<a href="<{$CBW_URL}>/detail/'+ list[a]['pro_id'] +'.html"><img src="__PUBLIC__/Product/thumb/'+ list[a]['list_image'] +'" /></a>';
							html += '		</div>';
							html += '		<div class="news_bd">';
							html += '			<p>'+ list[a]['pro_name'] +'</p>';
							html += '			<p class="plane num">'+ list[a]['show_desc'] +'</p>';
							html += '			<p class="style num"><span class="price"><em>￥</em>'+ list[a]['money'] +'</span></span></p>';
							html += '		</div>';
							html += '	</div>';
							}
							html += '	<div class="time"><span class="timeicon"></span>'+ data[a]['order_date'] +'<span class="ordernum">收益:'+ data[a]['harvest'] +'</span></div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.prolst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->