<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-comment.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>添加评价</h1>
	</header>
	<div class="con">
		<form id="submit" action="<{:U('Orders/submitComment')}>" method="post" >
		<foreach name="order.list" item="vo">
			<if condition="($vo['status'] eq 1)">
			<div class="bd clearfix">
				<div class="pic">
					<img src="<{$vo.show_img}>" />
				</div>
				<div class="edis">
					<eq name="order.order_type" value="0">
					<input type="hidden" name="ids[]" value="<{$vo.show_id}>" />
					</eq>
					<textarea id="content" name="content[]" placeholder="请在这里输入您的评价,字数不少于5个中文"></textarea>
				</div>
			</div>
			</if>
		</foreach>
		<div class="scale clearfix">
			<div class="good">
				<span class="icon icon1">&#xe619;</span>
				<span>好评</span>
			</div>
			<div class="zhong">
				<span class="icon icon2">&#xe664;</span>
				<span>中评</span>
			</div>
			<div class="low">
				<span class="icon icon3">&#xe609;</span>
				<span>差评</span>
			</div>
		</div>
		<div class="submit">
			<input type="hidden" name="id" value="<{$order.id}>" />
			<input type="hidden" name="score" value="1" />
			<a href="javascript:;" class="">提交</a>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.good', 'click', function(event) {
			$(this).children('.icon1').html("&#xe612;");
			$(".zhong").children('.icon2').html("&#xe664;");
			$(".low").children('.icon3').html("&#xe609;");
			$("input[name=score]").val(1);
		}).delegate('.zhong', 'click', function(event) {
			$(this).children('.icon2').html("&#xe636;");
			$(".good").children('.icon1').html("&#xe619;");
			$(".low").children('.icon3').html("&#xe609;");
			$("input[name=score]").val(2);
		}).delegate('.low', 'click', function(event) {
			$(this).children('.icon3').html("&#xe613;");
			$(".good").children('.icon1').html("&#xe619;");
			$(".zhong").children('.icon2').html("&#xe664;");
			$("input[name=score]").val(3);
		}).delegate('.submit a', 'click', function(event) {
			var y = 1;
			$("textarea").each(function(index, element) {
				if($(this).attr('id') == 'content'){
					var len = $(this).val().length;
					if (len<5){
						y = 0;
					}
				}
			});
			if(y == 1){
				$('form#submit').submit();
			}else{
				alert('评价内容太少了');
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->