<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-index.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单列表</h1>
	</header>
	<div class="con">
		<div class="cat fixed_bug">
			<ul id="classs">
				<li class="new-change-eleven"><a href="<{:U('Orders/index')}>" class="active">购物订单</a></li>
				<li class="new-change-eleven"><a href="<{:U('Orders/repair')}>">维修订单</a></li>
				<li class="new-change-eleven"><a href="<{:U('Orders/recovery')}>">回收订单</a></li>
			</ul>
		</div>
		<div class="lists">
			<ul class="pro_lst">
				<foreach name="orders" item="vo">
				<li>
					<!-- 订单头部 -->
					<div class="list_tit clearfix">
						<time><{$vo['order_date']|date="m-d",###}></time>
						<span class="order-num">订单号：<a href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>"><{$vo.order_sn}></a></span>
						<span class="order-statu">
							<if condition="($vo['order_status'] eq 0)">
								已取消
							<elseif condition="($vo['order_status'] eq 1)"/>
								<if condition="($vo['pay_status'] eq 1)">
									已付款
								<else />
									待付款
								</if>
							<elseif condition="($vo['order_status'] eq 2)"/>
								已完成
							</if>
						</span>
					</div>
					<foreach name="vo.schedule" item="v">
					<!-- 订单商家 -->
					<div class="shop-name clearfix">
						<if condition="$v['shop_id'] gt 0">
							<h4 class="clearfix"><i class="icon-store"></i><strong><{$v.shop.shop_name}></strong></h4>
							<a class="contact-btn" href="mqqwpa://im/chat?chat_type=wpa&uin=<{$v.shop.qq}>&version=1&src_type=web&web_src=caobao.com"><i class="icon-QQ"></i>联系卖家</a>
						<else />
							<h4 class="clearfix"><strong>草包网自营<span class="self-sale">自营</span></strong></h4>
							<a class="contact-btn open_kefu" href="<{:U('Index/service')}>" onclick="if(confirm('需要联系在线客服吗？')==false)return false;" target="_blank"><i class="icon-office"></i>联系卖家</a>
						</if>
					</div>
					<foreach name="v.product" item="pro">
					<div class="pro_news clearfix">
						<div class="news_pic">
							<a href="<{$CBW_URL}>/detail/<{$pro.show_id}>.html"><img src="<{$pro.show_img}>" /></a>
						</div>
						<div class="news_bd">
							<p><a href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>"><{$pro.show_name}></a></p>
							<p class="num"><{$pro.show_desc}></p>
							<p class="price">
								<em>￥</em><{$pro.show_price}><ins>×<{$pro.show_num}></ins>
								<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 1) AND ($pro['service'] eq '') AND ($pro['status'] eq 1) AND ($pro['is_card'] eq 1)">
									<a class="extracts" href="<{:U('Orders/extracts', array('id'=>$vo['id']))}>" onclick="return confirm('亲！确认提取卡密吗？');">提取卡密</a>
								</if>
								<empty name="pro.service.service_type">
									<if condition="($vo['order_status'] neq 0) AND ($pro['cards'] eq 0) AND ($vo['pay_status'] eq 1)">
										<if condition="($pro['status'] eq 1)">
											<a href="<{:U('Service/apply', array('oid'=>$vo['id'], 'pid'=>$pro['show_id']))}>" class="customer">申请售后</a>
										<else />
											<a href="javascript:;" class="customer">已退货</a>
										</if>
									</if>
								<else />
									<eq name="pro.service.service_type" value="1"><a class="customer" href="javascript:;">正在退货</a></eq>
									<eq name="pro.service.service_type" value="2"><a class="customer" href="javascript:;">正在换货</a></eq>
									<eq name="pro.service.service_type" value="3"><a class="customer" href="javascript:;">正在维修</a></eq>
								</empty>
							</p>
						</div>
					</div>
					</foreach>
					<div class="btn clearfix">				
						<if condition="$v['shop_status'] eq 2">
							<a class="sign" href="<{:U('Orders/sign', array('id'=>$vo['id'], 'sid'=>$v['shop_id']))}>" onclick="return confirm('确认收货?是否已收到包裹!');">确认收货</a>
						<elseif condition="$v['shop_status'] eq 3"/>
							<span class="signin">已收货</span>
						</if>
					</div>
					</foreach>
					<div class="count-money clearfix">
						<div class="realy-pay">实付款：<span><em>￥</em><{$vo.deail_price}></span></div>
						<if condition="($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
							<a class="close" href="<{:U('Orders/close', array('id'=>$vo['id']))}>" onclick="return confirm('确定要删除吗');">关闭交易</a>
						</if>
						<if condition="($vo['order_status'] eq 1) AND ($vo['pay_status'] eq 0)">
							<a class="now-pay" href="<{:U('Buy/pay', array('id'=>$vo['order_sn']))}>">付款</a>
						</if>
						<if condition="($vo['order_status'] eq 2) AND ($vo['is_comment'] eq 0)">
							<a class="eva" href="<{:U('Orders/comment', array('sn'=>$vo['order_sn']))}>">评价</a>
						</if>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 10;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShopping',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li>';
								<!-- 订单头部 -->
							html += '	<div class="list_tit clearfix">';
							html += '		<time>'+ data[a]['order_date'] +'</time>';
							html += '		<span class="order-num">订单号：<a href="<{$CBW_URL}>/orders/odetail/sn/'+ data[a]['order_sn'] +'.html">'+ data[a]['order_sn'] +'</a></span>';
							html += '		<span class="order-statu">';
										if(data[a]['order_status'] == 0){
							html += '				已取消';
										}else if(data[a]['order_status'] == 1){
											if(data[a]['pay_status'] == 1){
							html += '					已付款';
											}else{
							html += '					待付款';
											}
										}else if(data[a]['order_status'] == 2){
							html += '				已完成';
										}
							html += '		</span>';
							html += '	</div>';
								var schedule = data[a]['schedule'];
								for(var b = 0;b < schedule.length;b++){
								<!-- 订单商家 -->
							html += '	<div class="shop-name clearfix">';
									if(schedule[b]['shop_id'] > 0){
							html += '			<h4 class="clearfix"><i class="icon-store"></i><strong>'+ schedule[b]['shop']['shop_name'] +'</strong></h4>';
							html += '			<a class="contact-btn" href="mqqwpa://im/chat?chat_type=wpa&uin='+ schedule[b]['shop']['qq'] +'&version=1&src_type=web&web_src=caobao.com"><i class="icon-QQ"></i>联系卖家</a>';
									}else{
							html += '			<h4 class="clearfix"><strong>草包网自营<span class="self-sale">自营</span></strong></h4>';
							html += '			<a class="contact-btn open_kefu" href="<{$CBW_URL}>/index/service.html" onclick="if(confirm(\'需要联系在线客服吗？\')==false)return false;" target="_blank"><i class="icon-office"></i>联系卖家</a>';
									}
							html += '	</div>';
								var product = schedule[b]['product'];
								for(var c = 0;c < product.length;c++){
							html += '	<div class="pro_news clearfix">';
							html += '		<div class="news_pic">';
							html += '			<a href="<{$CBW_URL}>/detail/'+ product[c]['show_id'] +'.html"><img src="'+ product[c]['show_img'] +'" /></a>';
							html += '		</div>';
							html += '		<div class="news_bd">';
							html += '			<p><a href="<{$CBW_URL}>/detail/'+ product[c]['show_id'] +'.html">'+ product[c]['show_name'] +'</a></p>';
							html += '			<p class="num">'+ product[c]['show_desc'] +'</p>';
							html += '			<p class="price">';
							html += '				<em>￥</em>'+ product[c]['show_price'] +'<ins>×'+ product[c]['show_num'] +'</ins>';
											if(data[a]['order_status'] == 1 && data[a]['pay_status'] == 1 && !product[c]['service'] && product[c]['status'] == 1 && product[c]['is_card'] == 1){
							html += '					<a class="extracts" href="<{$CBW_URL}>/orders/extracts/id/'+ data[a]['id'] +'.html" onclick="return confirm(\'亲！确认提取卡密吗？\');">提取卡密</a>';
											}
											if(!product[c]['service']){
												if(data[a]['order_status'] != 0 && data[a]['pay_status'] == 1 && product[c]['cards'] == ''){
													if(product[c]['status'] == 1){
							html += '							<a href="<{$CBW_URL}>/service/apply/id/'+ data[a]['id'] +'/pid/'+ product[c]['show_id'] +'.html" class="customer">申请售后</a>';
													}else{
							html += '							<a href="javascript:;" class="customer">已退货</a>';
													}
												}
											}else{
												if(product[c]['service']['service_type'] == 1){
							html += '						<a class="customer" href="javascript:;">正在退货</a>';
												}else if(product[c]['service']['service_type'] == 2){
							html += '						<a class="customer" href="javascript:;">正在换货</a>';
												}else if(product[c]['service']['service_type'] == 3){
							html += '						<a class="customer" href="javascript:;">正在维修</a>';
												}
											}
							html += '			</p>';
							html += '		</div>';
							html += '	</div>';
								}
							html += '	<div class="btn clearfix">';
									if(schedule[b]['shop_status'] == 2){
							html += '			<a class="sign" href="<{$CBW_URL}>/orders/sign/id/'+ data[a]['id'] +'/sid/'+ product[a]['shop_id'] +'.html" onclick="return confirm(\'确认收货?是否已收到包裹!\');">确认收货</a>';
									}else if(schedule[b]['shop_status'] == 3){
							html += '			<span class="signin">已收货</span>';
									}
							html += '	</div>';
								}
							html += '	<div class="count-money clearfix">';
							html += '		<div class="realy-pay">实付款：<span><em>￥</em><{$vo.deail_price}></span></div>';
									if(data[a]['pay_status'] == 0){
							html += '			<a class="close" href="<{$CBW_URL}>/orders/close/id/'+ data[a]['id'] +'.html" onclick="return confirm(\'确定要删除吗\');">关闭交易</a>';
									}
									if(data[a]['order_status'] == 1 && data[a]['pay_status'] == 0){
							html += '			<a class="now-pay" href="<{$CBW_URL}>/Buy/pay/id/'+ data[a]['order_sn'] +'.html">付款</a>';
									}
									if(data[a]['order_status'] == 2 && data[a]['is_comment'] == 0){
							html += '			<a class="eva" href="<{$CBW_URL}>/orders/comment/sn/'+ data[a]['order_sn'] +'.html">评价</a>';
									}
							html += '	</div>';
							html += '</li>';	
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.pro_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->