<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-detail.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单详细</h1>
	</header>
	<div class="con">
		<div class="order_statu">
			<if condition="$order['order_status'] eq 0">
				<h3>订单状态：已取消</h3>
			<elseif condition="($order['order_status'] eq 1)"/>
				<if condition="$order['pay_status'] eq 0">
					<h3>订单状态：待付款</h3>
					<p>请确认订单后，尽快完成付款哦</p>
				<else />
					<h3>订单状态：已付款</h3>
					<p>收到包裹后,请确认商品无损，再签字签收哦</p>
				</if>
			<elseif condition="($order['order_status'] eq 2)"/>
				<h3>订单状态：已完成</h3>
			</if>
		</div>
		<div class="order_news mod_news">
			<h2>订单详情</h2>
			<p class="clearfix"><strong class="f_left">订单编号：</strong><span class="f_left"><{$order.order_sn}></span></p>
			<p class="clearfix"><strong class="f_left">下单时间：</strong><span class="f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></span></p>
			<p class="clearfix"><strong class="f_left">收件人：</strong><span class="f_left"><{$order.reciver_user}> <{$order.reciver_phone}></span></p>
			<p class="clearfix"><strong class="f_left">收件地址：</strong><span class="f_left"><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span></p>
			<p class="clearfix"><strong class="f_left">支付方式：</strong>
			<span class="f_left">
			    <eq name="order.pay_mode" value="0">支付宝</eq>
				<eq name="order.pay_mode" value="1">银联在线</eq>
				<eq name="order.pay_mode" value="2">网银支付</eq>
				<eq name="order.pay_mode" value="3">微信支付</eq>
				<eq name="order.pay_mode" value="4">余额支付</eq>
				<eq name="order.pay_type" value="0">在线支付</eq>
				<eq name="order.pay_type" value="1">现金支付</eq>
			</span></p>
		</div>
		<div class="pro_news">
			<foreach name="schedule" item="vo">
			<div class="pro_news_list">
				<div class="news_lst_tit clearfix">
					<if condition="$vo['shop_id'] gt 0">
						<h4 class="clearfix"><strong><i class="icon-store"></i><{$vo.shop.shop_name}></strong></h4>
					<else />
						<h4 class="clearfix"><strong>草包网自营<span class="self-sale">自营</span></strong></h4>
					</if>
					<if condition="($vo['shipping_way'] gt 0) AND ($vo['shipping_num'] neq '')">
					<a href="<{:U('Orders/shipping', array('way'=>$vo['shipping_way'], 'num'=>$vo['shipping_num']))}>" class="look_shipping">查看物流</a>
					</if>
				</div>
				<foreach name="vo.product" item="v">
				<div class="news_lst clearfix">
					<div class="news_pic">
						<a href="<{$CBW_URL}>/detail/<{$v['show_id']}>.html"><img src="<{$v.show_img}>" alt="<{$v.show_name}>" title="<{$v.show_name}>" /></a>
					</div>
					<div class="news_bd">
						<p><{$v.show_name}> 
							<eq name="v.status" value="0"><span class="fontRed">已退货</span></eq>
							<eq name="v.service.service_type" value="1"><span class="fontRed">退货</span></eq>
							<eq name="v.service.service_type" value="2"><span class="fontRed">换货</span></eq>
							<eq name="v.service.service_type" value="3"><span class="fontRed">维修</span></eq>
						</p>
						<p class="num"><{$v.show_desc}></p>
						<p class="price"><em>￥</em><{$v.show_price}> <ins>×<{$v.show_num}></ins></p>
					</div>
				</div>
				<notempty name="v.cards">
				<div class="guarantee_news clearfix">
					<h3>保障卡信息</h3>
					<ul class="clearfix">
						<foreach name="v.cards" item="c">
							<li class="clearfix"><{$c.card_code}></li>
						</foreach>
					</ul>
				</div>
				</notempty>
				</foreach>
				<div class="price_news">
					<notempty name="vo.remarks">
					<p class="remarks">备注：<span><{$vo.remarks}></span></p>
					</notempty>
					<gt name="vo.virtual_money" value="0">
					<p class="dubloons">草包豆：<span>-<{$vo['virtual_money']/100|number_format=2,'.',''}></span></p>
					</gt>
					<p class="postMoney">邮费：<span>+<{$vo.shipping_fee}></span></p>
					<p class="allMoney">小计：<span><{$vo.shop_money}><em>元</em></span></p>
				</div>
			</div>
			</foreach>
			<div class="AlltotalMoney">
				<p class="clearfix last"><strong>实付款：</strong><span><{$order['deail_price']}>元</span></p>
				<span class="triangle-up"></span>
			</div>
		</div>
		<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
		<div class="fix_btns clearfix">
			<a class="cancle" onclick="return confirm('确定要取消此订单吗');" href="<{:U('Orders/close', array('id'=>$order['order_sn']))}>">取消订单</a>
			<a class="payment" href="<{:U('Buy/pay', array('id'=>$order['order_sn']))}>">立即付款</a>
		</div>
		</if>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->