<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-detail.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单详细</h1>
	</header>
	<div class="con">
		<div class="order_statu">
			<h3>
				<if condition="($order['order_status'] eq 0)">
					已取消
				<elseif condition="($order['order_status'] eq 1)"/>
					<if condition="($order['pay_status'] eq 1)">
						已付款
					<else />
						<eq name="order.server_status" value="1">等待报价，待付款</eq>
						<eq name="order.server_status" value="2">等待维修，待付款</eq>
						<eq name="order.server_status" value="3">维修完成，待付款</eq>
					</if>
				<elseif condition="($order['order_status'] eq 2)"/>
					已完成
				</if>
			</h3>
			<p>请保持手机畅通,维修师傅稍后联系您!</p>
		</div>
		<div class="order-tips clearfix"><span class="icon-tips f_left"></span><span class="f_left word-spac">上门维修服务,维修人员可以修复,但顾客放弃维修,则收取30元上门服务费</span></div>
		<div class="print ddd">
			<div class="order_news mod_news">
				<h2>订单详情</h2>
				<p class="clearfix"><strong >订单编号：</strong><span><{$order.order_sn}></span></p>
				<p class="clearfix"><strong >下单时间：</strong><span ><{$order.order_date|date="Y-m-d H:i:s",###}></span></p>
				<p class="clearfix"><strong >收件人：</strong><span ><{$order.reciver_user}> <{$order.reciver_phone}></span></p>
				<p class="clearfix"><strong >收件地址：</strong><span ><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span></p>
			</div>
			<div class="fault_news mod_news">
				<h2>故障信息</h2>
				<div class="clearfix">
					<if condition="$order['model_name'] neq ''">
					<p class="clearfix f_left w50"><strong >类型：</strong><span ><{$order.type_name}></span></p>
					</if>
					<if condition="$order['model_name'] neq ''">
					<p class="clearfix f_left w50"><strong >品牌：</strong><span ><{$order.brand_name}></span></p>
					</if>
				</div>
				<div class="clearfix">
					<if condition="$order['model_name'] neq ''">
					<p class="clearfix f_left w50"><strong >型号：</strong><span ><{$order.model_name}></span></p>
					</if>
					<if condition="$order['color_name'] neq ''">
					<p class="clearfix f_left w50"><strong >颜色：</strong><span ><{$order.color_name}></span></p>
					</if>
				</div>
				<if condition="$order['plan_name'] neq ''">
				<p class="clearfix"><strong  >故障：</strong><span ><{$order.plan_name}></span></p>
				</if>
				<p class="clearfix"><strong  >备注：</strong><span ><{$order['remarks']}></span></p>
			</div>
		</div>
		<div class="master_news ddd">
			<if condition="($order['server_way'] eq 1) OR ($order['server_way'] eq 2)">
			<h2>维修店报价信息</h2>
			<ul>
				<foreach name="offer" item="vo">
					<li class="clearfix <if condition="$vo['selected'] eq 1">special</if>">
						<div class="shop-img-news">
							<img src="__PUBLIC__/User/<{$vo.logo_image}>" alt="<{$vo.shop_name}>" onerror="javascript:this.src='/Public/Home/images/2016/picc.png';" />
						</div>
						<div class="repairer-news">
							<h3><{$vo.shop_name}></h3>
							<p class="shop-phone">
								<i class="icon-phone"></i>
								<{$vo.user_name}>  <{$vo.user_phone}>
							</p>
							<p class="shop-address">
								<i class="icon-address"></i>
								<{$vo.address}>
							</p>
						</div>
						<div class="shop-price-news">
							<p class="distance"><{$vo.distance}>公里</p>
							<p class="price"><span>￥</span><em><{$order.money}></em><span style="margin-left:10px;color: grey;text-decoration:line-through "><{$vo.offer}></span></p>
						</div>
						<if condition="$vo['selected'] eq 1">
                        <img src="__PUBLIC__/Mobile/images/selected.jpg" class="order-success" alt="抢单成功">						
						</if>
					</li>
				</foreach>
			</ul>
			</if>
			<if condition="($order['server_way'] eq 3)">
			<div class="item">
				<h2>草包网官方邮寄信息</h2>
				<div class="offcial-news mod_news clearfix">
					<p class="clearfix"><strong class="f_left">详细地址：</strong><span class="f_left">广东省广州市海珠区杨协成电子创意园A座319之1</span></p>
					<p class="clearfix"><strong class="f_left">联系电话：</strong><span class="f_left">4006233866 维修部（收）</span></p>
					<p class="clearfix"><strong class="f_left">备注：</strong><span class="f_left">邮寄维修，建议使用顺丰，来回运费全免，邮寄时选到付即可，修不好不收任何费用。（属于主板类大型故障，如：严重进水等。经验</span></p>
				</div>
			</div>
			</if>
		</div>
		<if condition="($order['relation_ids'] neq '')">
		<div class="master_news mod_news ddd">
			<h2>维修店检测故障信息</h2>
			<div class="new-fault-news-content">
				<volist name="order.test" id="test">
				<p class="clearfix"><strong >维修 <{$i}>：</strong><span ><{$test}></span></p>
				</volist>
				<p class="clearfix"><strong >备注：</strong><span ><{$order.shop_remarks}></span></p>
				<p class="clearfix"><strong >保修：</strong><span ><{$order.warranty}>个月</span></p>
				<p class="clearfix master-change-price"><strong >价格：</strong><span ><em><{$order.money}></em>元</span></p>
			</div>
		</div>
		</if>
		<if condition="($order['server_way'] eq 3)">
		<div class="fllow_news clearfix">
			<h2>物流信息</h2>
			<div class="outorin clearfix">
				<span class="current">寄出</span>
				<span>寄回</span>
			</div>
			<div class="fllow_news_detial">
				<div class="fllow_news1 fllow-mod current">
					<neq name="order.shipping_num" value="">
					<ul class="son">
						<foreach name="order.shipping" item="vo">
						<li>
							<div><strong>【<{$vo['time']}>】寄出</strong><{$vo['context']}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</neq>
				</div>
				<div class="fllow_news2 fllow-mod">
					<neq name="order.return_num" value="">
					<ul class="son">
						<foreach name="order.return" item="vo">
						<li>
							<div><strong>【<{$vo['time']}>】寄回</strong><{$vo['context']}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</neq>
				</div>
			</div>
		</div>
		</if>
		<if condition="$order['user_id'] eq $userId">
		<div class="btn-groups">
			<!--<a class="print" href="javascript:a();"> 打印 </a>-->
			<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
				<a class="cancle" href="javascript:;" data-id="<{$order.id}>"> 取消订单 </a>
				<a class="pay" href="<{:U('Buy/pay', array('id'=>$order['order_sn']))}>"> 修好了,付款 </a>
			</if>
		</div>
		</if>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//打印输出
		function a() {
			$(".ddd").jqprint();
		};
		
		// 物流切换
	    $(".outorin span").click(function(event) {
			$(this).addClass('current').siblings().removeClass('current');
			var myindex = $(this).index();
			$(".fllow_news_detial .fllow-mod:eq("+myindex+")").addClass('current').siblings().removeClass('current');
	    });
		
		// 取消订单
		$(".cancle").click(function(){
			var flag = confirm('您确定要取消此订单吗？');
			if(flag == true){
				var id  = $(this).attr('data-id');
				window.location.href = "__APP__/orders/close/id/"+id+".html";
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->




