<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-repair.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单列表</h1>
	</header>
	<div class="con">
		<div class="cat fixed_bug">
			<ul id="classs">
				<li class="new-change-eleven"><a href="<{:U('Orders/index')}>">购物订单</a></li>
				<li class="new-change-eleven"><a href="<{:U('Orders/repair')}>">维修订单</a></li>
				<li class="new-change-eleven"><a href="<{:U('Orders/recovery')}>" class="active">回收订单</a></li>
			</ul>
		</div>
		<div class="lists">
			<ul class="pro_lst">
				<foreach name="orders" item="vo">
				<li data-id="<{$vo.id}>">
					<!-- 订单头部 -->
					<div class="list_tit clearfix">
						<time><{$vo['order_date']|date="m-d",###}></time>
						<if condition="($vo['order_status'] eq 1) AND ($vo['reco_status'] eq 1)">
							<span class="order-num">订单号：<a class="order-detial" href="<{:U('Recovery/server', array('id'=>$vo['id']))}>"><{$vo.order_sn}></a></span>
						<else />
							<span class="order-num">订单号：<a href="<{:U('Orders/redetail', array('sn'=>$vo['order_sn']))}>"><{$vo.order_sn}></a></span>
						</if>
						<if condition="($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
						<span class="font-delete">&#xe603;</span>
						</if>
					</div>
					<div class="pro_news clearfix">
						<if condition="($vo['order_status'] eq 1) AND ($vo['reco_status'] eq 1)">
							<a class="order-detial" href="<{:U('Recovery/server', array('id'=>$vo['id']))}>">
						<else />
							<a class="order-detial" href="<{:U('Orders/redetail', array('sn'=>$vo['order_sn']))}>">
						</if>
							<div class="news_pic">
								<img src="<{$vo.show_img}>" height="52" width="52" alt="<{$vo.show_name}>" />
							</div>
							<div class="news_bd">
								<p><{$vo.show_name}></p>
								<p class="num"><{$vo.show_desc}></p>
								<p class="price"><em>￥</em><{$vo.show_price}></p>
							</div>
						</a>
					</div>
					<div class="count-money clearfix">
						<div class="order-statu f_left">
							<if condition="($vo['order_status'] eq 0)">
								已取消
							<elseif condition="($vo['order_status'] eq 1)"/>
								<if condition="($vo['pay_status'] eq 1)">
									已打款
								<else />
									<eq name="vo.reco_status" value="1">待打款，等待报价</eq>
									<eq name="vo.reco_status" value="2">待打款，等待回收</eq>
									<eq name="vo.reco_status" value="3">待打款，回收完成</eq>
								</if>
							<elseif condition="($vo['order_status'] eq 2)"/>
								已完成
							</if>
						</div>
						<div class="btn-groups f_right">
							<if condition="($vo['reco_way'] eq 3) AND ($vo['shipping_num'] eq '')">
								<a href="javascript:;" data-id="<{$vo.id}>" class="sign">发货</a>
							</if>
							<if condition="($vo['order_status'] eq 2) AND ($vo['is_comment'] eq 0)">
								<a class="eva" href="<{:U('Orders/comment', array('sn'=>$vo['order_sn']))}>">评价</a>
							</if>
							<if condition="($vo['order_status'] eq 1) AND ($vo['reco_status'] eq 1)">
								<a class="slt-shop" href="<{:U('Recovery/server', array('id'=>$vo['id']))}>">选择店铺</a>
							</if>
						</div>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="dark"></div>
	<div class="logistics">
		<form id="send" action="<{:U('Orders/send')}>" method="post">
			<div class="top">物流选择</div>
			<div class="slt">
				<select name="shipping_way">
					<foreach name="shipping" item="vo">
					<option value="<{$vo.id}>"> <{$vo.cname}></option>
					</foreach>
				</select>
				<input type="hidden" name="id" value="" />
				<input type="text" name="shipping_num" placeholder="请输入快递单号">
			</div>
			<div class="btns clearfix">
				<span class="save"><a href="javascript:;">保存</a></span>
				<span class="close"><a href="javascript:;">取消</a></span>
			</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreRecovery',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					console.log(data);
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li data-id="'+ data[a]['id'] +'">';
							html += '	<div class="list_tit clearfix">';
							html += '		<time>'+ data[a]['order_date'] +'</time>';
							if(data[a]['order_status'] == 1 && data[a]['reco_status'] == 1){
								html += '	<span class="order-num">订单号：<a href="<{$CBW_URL}>/recovery/server/id/'+data[a]['id']+'.html">'+ data[a]['order_sn'] +'</a></span>';
							}else{
								html += '	<span class="order-num">订单号：<a href="<{$CBW_URL}>/orders/redetail/sn/'+ data[a]['order_sn'] +'.html">'+ data[a]['order_sn'] +'</a></span>';
							}
							if(data[a]['order_status'] == 1){
								html += '	<span class="font-delete">&#xe603;</span>';
							}
							html += '	</div>';
							html += '	<div class="pro_news clearfix">';
							if(data[a]['order_status'] == 1 && data[a]['reco_status'] == 1){
								html += '	<a href="<{$CBW_URL}>/recovery/server/id/'+data[a]['id']+'.html">';
							}else{
								html += '	<a href="<{$CBW_URL}>/orders/redetail/sn/'+ data[a]['order_sn'] +'.html">';
							}
							html += '		    <div class="news_pic">';
							html += '			    <img src="'+ data[a]['show_img'] +'" height="52" width="52" alt="'+ data[a]['show_name'] +'" />';
							html += '		    </div>';
							html += '		    <div class="news_bd">';
							html += '			    <p>'+ data[a]['show_name'] +'</p>';
							html += '			    <p class="num">'+ data[a]['show_desc'] +'</p>';
							html += '			    <p class="price"><em>￥</em>'+ data[a]['show_price'] +'</p>';
							html += '		    </div>';
							html += '	    </a>';
							html += '	</div>';
							html += '	<div class="count-money clearfix">';
							html += '		<div class="order-statu f_left">';
							if(data[a]['order_status'] == 0){
								html += '		已取消';
							}else if(data[a]['order_status'] == 1){
								if(data[a]['pay_status'] == 1){
									html += '		已打款';
								}else{
									if(data[a]['reco_status'] == 1){
										html += '		待打款，等待报价';
									}else if(data[a]['reco_status'] == 2){
										html += '		待打款，等待回收';
									}else if(data[a]['reco_status'] == 3){
										html += '		待打款，回收完成';
									}
								}
							}else if(data[a]['order_status'] == 2){
								html += '		已完成';
							}
							html += '		</div>';
							html += '		<div class="btn-groups f_right">';
							if(data[a]['order_status'] == 1 && data[a]['reco_status'] == 1){
								html += '		<a class="slt-shop" href="<{$CBW_URL}>/recovery/server/id/'+data[a]['id']+'.html">选择店铺</a>';
							}
							if(data[a]['order_status'] == 2 && data[a]['is_comment'] == 0){
								html += '		<a class="eva" href="<{$CBW_URL}>/orders/comment/sn/'+data[a]['order_sn']+'.html">评价</a>';
							}
							if(data[a]['reco_way'] == 3 && data[a]['shipping_num'] == ''){
								html += '		<a href="javascript:;" data-id="'+data[a]['id']+'" class="sign">发货</a>';
							}
							html += '		</div>';
							html += '	</div>';
							html += '</li>';	
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.pro_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
		
		$(".con").delegate(".font-delete","click",function(){
			var id  = $(this).parents('li').attr('data-id');
			if (confirm("您确定要取消此订单吗？")==false){
				return false;
			}
			window.location.href = "__APP__/orders/close/id/"+id+".html";
		}).delegate('.btn-groups .sign', 'click', function(event) {
			var id = $(this).attr('data-id');
			$('#send input[name=id]').val(id);
			$(".dark").fadeTo(350,0.5);
			$(".logistics").slideDown(350);
		});
		$(".logistics .btns span.close").click(function(event) {      // 关闭发货窗口
			$(".dark").fadeOut(350);
			$(".logistics").slideUp(350);
		});
		$(".logistics .btns span.save").click(function(event) {       // 提交发货
			var id = $('#send input[name=id]').val();
			var shipping_way = $('#send select[name=shipping_way]').val();
			var shipping_num = $('#send input[name=shipping_num]').val();
			if(id == ''){
				alert('未知错误');
				return false;
			}else if(shipping_way == '' || shipping_way == 0 || !shipping_way){
				alert('请选择快递公司');
				return false;
			}else if(shipping_num == '' || !shipping_num){
				alert('请填写快递单号！');
				return false;
			}
			$('form#send').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->