<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-detail.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单详细</h1>
	</header>
	<div class="con">	
		<div class="order_statu ddd">
			<h3>
				<if condition="($order['order_status'] eq 0)">
					已取消
				<elseif condition="($order['order_status'] eq 1)"/>
					<if condition="($order['pay_status'] eq 1)">
						已打款
					<else />
						<eq name="order.reco_status" value="1">待打款，等待报价</eq>
						<eq name="order.reco_status" value="2">待打款，等待回收</eq>
						<eq name="order.reco_status" value="3">待打款，回收完成</eq>
					</if>
				<elseif condition="($order['order_status'] eq 2)"/>
					已完成
				</if>
			</h3>
			<p>请保持手机畅通,维修师傅稍后联系您!</p>
		</div>
		<div class="order_news mod_news ddd">
			<h2>订单详情</h2>
			<p class="clearfix"><strong class="f_left">订单编号：</strong><span class="f_left"><{$order.order_sn}></span></p>
			<p class="clearfix"><strong class="f_left">下单时间：</strong><span class="f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></span></p>
			<p class="clearfix"><strong class="f_left">收件人：</strong><span class="f_left"><{$order.reciver_user}> <{$order.reciver_phone}></span></p>
			<p class="clearfix"><strong class="f_left">收件地址：</strong><span class="f_left"><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span></p>
		</div>
		<div class="fault_news mod_news ddd">
			<h2>商品信息</h2>
			<if condition="$order['type_name'] neq ''">
			<div class="clearfix">
				<p class="clearfix f_left w50"><strong class="f_left">类型：</strong><span class="f_left"><{$order.type_name}></span></p>
			</div>
			</if>
			<div class="clearfix">
				<if condition="$order['brand_name'] neq ''">
				<p class="clearfix f_left w50"><strong class="f_left">品牌：</strong><span class="f_left"><{$order.brand_name}></span></p>
				</if>
				<if condition="$order['pro_name'] neq ''">
				<p class="clearfix f_left w50"><strong class="f_left">型号：</strong><span class="f_left"><{$order.pro_name}></span></p>
				</if>
			</div>
			<if condition="$order['attrs'] neq ''">
			<p class="clearfix"><strong class="f_left">信息：</strong><span class="f_left"><{$order.attrs}></span></p>
			</if>
			<p class="clearfix"><strong class="f_left">备注：</strong><span class="f_left"><{$order.remarks}></span></p>
		</div>
		<div class="master_news ddd">
			<if condition="($order['reco_way'] eq 1) OR ($order['reco_way'] eq 2)">
			<h2>维修店报价信息</h2>
			<ul>
				<foreach name="offer" item="vo">
					<li class="clearfix <if condition="$vo['selected'] eq 1">special</if>">
						<div class="shop-img-news f_left">
							<img src="__PUBLIC__/User/<{$vo.logo_image}>" alt="<{$vo.shop_name}>" onerror="javascript:this.src='/Public/Home/images/2016/picc.png';" />
						</div>
						<div class="repairer-news">
							<h3><{$vo.shop_name}></h3>
							<p class="shop-phone">
								<i class="icon-phone"></i>
								<{$vo.user_name}>  <{$vo.user_phone}>
							</p>
							<p class="shop-address">
								<i class="icon-address"></i>
								<{$vo.address}>
							</p>
						</div>
						<div class="shop-price-news f_right">
							<p class="distance"><{$vo.distance}>公里</p>
							<p class="price"><span>￥</span><{$vo.offer}></p>
						</div>
						<if condition="$vo['selected'] eq 1">
						<img src="__PUBLIC__/Mobile/images/selected.jpg" class="order-success" alt="抢单成功">		
						</if>
					</li>
				</foreach>
			</ul>
			</if>
			<if condition="($order['reco_way'] eq 3)">
			<div class="item">
				<h2>草包网官方邮寄信息</h2>
				<div class="offcial-news mod_news clearfix">
					<p class="clearfix"><strong class="f_left">详细地址：</strong><span class="f_left">广东省广州市海珠区杨协成电子创意园A座319之1</span></p>
					<p class="clearfix"><strong class="f_left">联系电话：</strong><span class="f_left">4006233866 回收部（收）</span></p>
					<p class="clearfix"><strong class="f_left">备注：</strong><span class="f_left">邮寄回收，建议使用顺丰快递；为避免恶意邮寄请自行支付快递费，回收成功最多可补30元运费。</span></p>
				</div>
			</div>
			</if>
		</div>
		<if condition="($order['reco_way'] eq 3)">
		<div class="fllow_news clearfix">
			<h2>物流信息</h2>
			<div class="outorin clearfix">
				<span class="current">寄出</span>
				<span>寄回</span>
			</div>
			<div class="fllow_news_detial">
				<div class="fllow_news1 fllow-mod current">
					<neq name="order.shipping_num" value="">
					<ul class="son">
						<foreach name="order.shipping" item="vo">
						<li>
							<div><strong>【<{$vo['time']}>】寄出</strong><{$vo['context']}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</neq>
				</div>
				<div class="fllow_news2 fllow-mod">
					<neq name="order.return_num" value="">
					<ul class="son">
						<foreach name="order.return" item="vo">
						<li>
							<div><strong>【<{$vo['time']}>】寄回</strong><{$vo['context']}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</neq>
				</div>
			</div>
		</div>
		</if>
		<if condition="$order['user_id'] eq $userId">
		<div class="btn-groups">
			<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
			<a class="cancle" href="javascript:;" data-id="<{$order.id}>" onclick="return confirm('您确定要取消此订单吗？')"> 取消订单 </a>
			</if>
		</div>
		</if>
		<if condition="($order['order_status'] eq 1) AND ($order['pay_status'] eq 0)">
		<div class="receivables">
		    <a class="receivables-btn" id="receivablesBtn" href="javascript:void();">收款</a>
			<div class="select_pay_style">
				<div class="title"><strong>选择收款方式</strong></div>
				<div class="pay"><a class="wx" target="_blank" href="<{:U('Wxpay/native', array('trade_no'=>$order['order_sn']))}>"><img src="/Public/Mobile/images/wx_03.png">微信支付</a></div>
				<div class="pay"><a class="zfb" target="_blank" href="<{:U('Alipay/qrcode', array('trade_no'=>$order['order_sn']))}>"><img src="/Public/Mobile/images/zfb_03.png">支付宝支付</a></div>
				<div class="pay"><a class="line" href="<{:U('Orders/linePay', array('trade_no'=>$order['order_sn']))}>"><img src="/Public/Mobile/images/line_03.png">线下结算</a></div>
			</div>
		</div>
		</if>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//打印输出
		function a() {
			$(".ddd").jqprint();
		};
		$("#receivablesBtn").click(function(){
		   $(this).siblings(".select_pay_style").toggle(300);
		});
		
		$(".outorin span").click(function(event) {
			$(this).addClass('current').siblings().removeClass('current');
			var myindex = $(this).index()+1;
			$(".fllow_news div:eq("+myindex+")").addClass('current').siblings().removeClass('current');
		});
		
		// 取消订单
		$(".cancle").click(function(){
			var id  = $(this).attr('data-id');
			window.location.href = "__APP__/orders/close/id/"+id+".html";
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->