<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-shipping.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>物流信息</h1>
	</header>
	<div class="con">
		<div class="package-detail-list">
			<h2><{$shipping.cname}>： <{$num}></h2>
			<notempty name="shipping.list">
			<ul>
				<foreach name="shipping.list" item="vo">
				<li><{$vo.time}> <{$vo.context}><span class="circle_step"></span></li>
				</foreach>
			</ul>
			<else />
			<div class="null">暂无详细物流信息</div>
			</notempty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->