<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/orders-comment.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>评价成功</h1>
	</header>
	<div class="con tipcon">
	    <div class="success-tip">
			<img class="tipimg" src="__PUBLIC__/Mobile/images/eva-success.png" />
			<p>评价成功</p>
		</div>
		<div class="commen_con">感谢热心评价，敬请关注草包网微信公号caobao-com，尽享更多手机维护资讯
</div>
		<a class="comment_btn" href="<{:U('Orders/index')}>">返回订单</a>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->