<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/buy-cart.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>购物车<div class="delcart"><span>&#xe603;</span></div></h1>
    </header>
	<div class="con">
		<form id="collect" method="post" action="<{:U('Buy/collect')}>">
		<div class="buy_pro">
			<foreach name="gws" item="vo">
				<div class="cartList">
					<div class="store_name">
						<if condition="$vo['shop']['shop_name'] neq ''">
							<h3><span class="select">&#xe607;</span><i class="icon-store"></i><{$vo['shop']['shop_name']}></h3>
						<else />
							<h3><span class="select">&#xe607;</span>草包网络科技有限公司<span class="self-sale">自营</span></h3>
						</if>
					</div>
					<ul>
						<foreach name="vo.cart" item="v">
						<li class="clearfix" data-id="<{$v.id}>">
							<div class="pro_news">	
								<div class="clearfix">
									<span class="select">&#xe607;</span>
									<div class="news_pic">
										<img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" alt="<{$v.pro_name}>" title="<{$v.pro_name}>" />
									</div>
									<div class="news_bd">
										<p><{$v.pro_name}></p>
										<p class="num">属性：<{$v.attr_name}></p>
									</div>
									<div class="buynum clearfix">
										<div class="customize">
											<strong class="min" id="min">&#xe628;</strong>
											<input type="tel" id="num" name="num" value="<{$v.num}>" class="text_box"/>
											<strong class="add" id="add">&#xe629;</strong>
										</div>
										<span class="price">￥<em><{$v.pro_amount}></em></span>
									</div>
								</div>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
			</foreach>
			<div class="emptyTip">购物车还是空的，去<a href="<{$CBW_URL}>/product/">配件商城</a>看看吧！</div>
		</div>
		<div class="all_select clearfix">
			<span class="all_slt"><i>&#xe607;</i>全选</span>
			<span class="all_pro">总计：<strong>￥<em>0.00</em></strong></span>
			<input type="hidden" name="ids" value="0" />
			<span class="btn"><a href="javascript:;">立即下单</a></span>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		/*页面一进来就加载*/
		$(function(){
			$(".all_select i").trigger("click");
			if($(".cartList h3.current").length == 0){
				$(".all_select i").removeClass('current');
			}
		})
		$("header").delegate('.delcart', 'click', function(event) {                             // 删除选中购物车商品
			if(!confirm("您确定进行此操作吗？")){
				return;
			}
			var on = $('.cartList ul li.current');
			var ids = new Array();
			for(var a = 0;a < on.length;a++){
				ids[a] = $(on[a]).attr('data-id');
			}
			$.post('__CONTROLLER__/deleteCart', {'ids':ids}, function(d){
				$('.buy_pro .current').remove();
				emptyTip();
				getMoney();
				$(".all_select i").removeClass('current');
			});
		});
		$(".con").delegate('#add', 'click', function(event) {                                   // + 按钮事件:增加数量
			event.stopPropagation();
			var _input = $(this).parent().find('#num');
			var id=_input.parents('li').attr('data-id');
			var num=_input.val();
			num++;
			if(parseInt(num) > 99){
				num=99;
			}
			changeNum(_input,id,num);
		}).delegate('#min', 'click', function(event) {                                          // - 按钮事件:减少数量
			event.stopPropagation();
			var _input=$(this).parent().find('#num');
			var id=_input.parents('li').attr('data-id');
			var num=_input.val();
			if(num>1){
				num--;
				if(parseInt(num) < 1){
					num=1;
				}
				changeNum(_input,id,num);
			}
		}).delegate('#num', 'input click', function(event) {                             // 手动输入数量
			event.stopPropagation();
			var _input=$(this);
			var id=_input.parents('li').attr('data-id');
			var num=_input.val();
			if(parseInt(num) < 1){ 
				num=1; 
			}
			if(parseInt(num) > 99){ 
				num=99;
			} 
			changeNum(_input,id,num);
		}).delegate('.cartList ul li', 'click', function(event) {                               // 单选商品
			var _this = $(this);
			var thisCartList = _this.parents(".cartList");
			$(this).toggleClass('current');
			// 部分全选
			var blen = thisCartList.find('ul li').length;
			var oklen = thisCartList.find('ul li.current').length;
			if(blen == oklen){
				_this.parents("ul").siblings(".store_name").find("h3").addClass('current');
			}else{
				_this.parents("ul").siblings(".store_name").find("h3").removeClass('current');
			}
			allSelect();
			getMoney();
		}).delegate('.all_select i', 'click', function(event) {                                 // 全选商品
			$(this).toggleClass('current');
			if($(this).hasClass('current')){
				$('.buy_pro ul li,.cartList h3').addClass('current');
			}else{
				$('.buy_pro ul li,.cartList h3').removeClass('current');
			}
			getMoney();
		}).delegate('.cartList h3', 'click', function(event) {                                 // 部分全选
			var _this = $(this);
			_this.toggleClass('current');
			if(_this.hasClass('current') == true){
				_this.parent(".store_name").siblings("ul").children("li").addClass("current");
			}else{
				_this.parent(".store_name").siblings("ul").children("li").removeClass("current");
			};
			allSelect();
			getMoney();
		}).delegate('.btn a', 'click', function(event) {                                       // 立即下单
			var on = $('.buy_pro ul li.current');
			var ids = new Array();
			for(var a = 0;a < on.length;a++){
				ids[a] = $(on[a]).attr('data-id');
			}
			if(!ids || ids==''){
				alert('请选择需要购买的商品');
				return false;
			}else{
				$("input[name=ids]").val(ids);
				$("form#collect").submit();
			}
		});
		/*
		改变数量
		*/ 
		function changeNum(_this,id, num){
			$.post('__CONTROLLER__/changeNumber', {'id':id,'num':num}, function(d){
				var data = JSON.parse(d);
				if(data['status'] == 1){
					_this.val(num);
					var sigleMoney = data.price * num;
					_this.parents(".customize").siblings(".price").find("em").text(sigleMoney.toFixed(2));
					getMoney();
				}else if(data['status'] == 0){
					alert('库存不足');
					_this.val(data.num);
				}else if(data['status'] == -1){
					alert('价格异常');
				}
			});
		};
		/*
		计算价钱
		*/ 
		function getMoney(){                                                                    // 计算金钱
			var on = $(".cartList").find("ul li.current");
			var money = 0;
			for(var a = 0;a < on.length;a++){
				var price = parseFloat($(on[a]).find('.buynum .price em').text());
				money += price;
			}
			$('.all_select em').text(money.toFixed(2));
		};
		/*
		购物车空了
		*/ 
		function emptyTip(){
			var Lilength = $(".buy_pro ul li").length;
			if(Lilength==0){
				$(".buy_pro .emptyTip").show();
			}
		};
		/*
		全选
		*/ 
		function allSelect(){
			var allLen = $('.cartList h3').length;
			var allOkLen = $('.cartList h3.current').length;
			if(allLen == allOkLen){
				$(".all_select i").addClass('current');
			}else{
				$(".all_select i").removeClass('current');
			}
		};
		emptyTip();
	</script>
</block>
<!-- 底部JS执行区域 结束 -->