<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/buy-collect.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>确认订单</h1>
    </header>
	<div class="con">
		<form id="order" action="<{:U('Buy/submitOrder')}>" method="post" autocomplete="off">
			<div class="address_news">
				<h2>地址信息</h2>
				<empty name="address">
				<div class="empty">
					<p>+添加新地址</p>
				</div>
				<else />
				<div id="slideBox" class="slideBox">
					<div class="bd">
						<ul>
							<foreach name="address" item="vo">
							<li class="news_bd" data-id="<{$vo.id}>">
								<p><span class="name"><{$vo.reciver_user}></span><span class="phone"><{$vo.reciver_phone}></span><span class="reset">修改</span></p>
								<p class="address"><span class="town"><{$vo.addr}></span><span class="detial_small"><{$vo.street}></span></p>
							</li>
							</foreach>
						</ul>
					</div>
					<div class="hd">
						<span class="prev">&#xe61d;</span>
						<span class="next">&#xe60f;</span>
					</div>
				</div>
				</empty>
			</div>
			<div class="order_style">
				<h2>送货方式</h2>
				<ul>
					<foreach name="shipping" item="vo">
					<li>
						<div class="selectedset">
							<input type="radio" value="<{$vo.id}>" id="way<{$vo.id}>" name="shipping_id" <eq name="vo.is_default" value="1">checked</eq> /><span>&#xe607;</span>
						</div>
						<label class="lbl" for="way<{$vo.id}>"><{$vo['cname']}></label>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="pro_news">
				<foreach name="goods" key="key" item="vo">
					<div class="porList">
						<div class="store_name">
							<if condition="$vo['shop']['shop_name'] neq ''">
								<h3><i class="icon-store"></i><{$vo['shop']['shop_name']}></h3>
							<else />
								<h3>草包网络科技有限公司<span class="self-sale">自营</span></h3>
							</if>
						</div>
						<foreach name="vo.cart" key="k" item="v">
							<div class="news clearfix">
								<div class="news_pic">
									<a href="<{$CBW_URL}>/detail/<{$v.id}>.html" target="_blank" title="<{$v.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" alt="<{$v.pro_name}>" title="<{$vo.pro_name}>" /></a>
								</div>
								<div class="news_bd">
									<p><a href="<{$CBW_URL}>/detail/<{$v.id}>.html" target="_blank" title="<{$v.pro_name}>"><{$v.pro_name}></a></p>
									<p class="num">属性：<{$v.attr_name}></p>
									<p class="price"><em>￥</em><{$v.pro_price}> <ins>×<{$v.num}></ins></p>
								</div>
							</div>
						</foreach>
						<div class="balance">
							<div class="p10 remark">买家备注：<input type="text" name="remarks[<{$key}>]" class="input_common" value="" placeholder="选填" /></div>
							<div class="post p10">运费：<span class="freight<{$key}> freightCount frRed"><{$vo['other']['freight']|number_format=2,'.',''}></span></div>
							<if condition="$key eq 0">
							<div class="integrals p10 clearfix">
								<label for="integral" class="usecbd clearfix">
									<p>使用草包豆 <a href="<{$CBW_URL}>/article/4.html" target="_blank">&#xe623;</a></p>
									<p><input id="integral" type="text" name="virtual" value="" maxlength="6" placeholder="剩余<{$user.virtual_money}>豆" 
										data-max="<{$user.virtual_money}>"/></p>
									<p class="save"><span>-0.00</span></p>
								</label>
							</div>
							</if>
							<div class="partPrice p10">
								<p>商品总价：<span class="totalPrice frRed"><{$vo['other']['smoney']|number_format=2,'.',''}></span></p>
								<if condition="$vo['other']['virtual'] gt 0">
									<p class="get_cbd">完成交易可以获得<em><{$vo.other.virtual}></em>草包豆</p>
								</if>
							</div>
						</div>
					</div>
				</foreach>
			</div>
			<div class="pay clearfix">
				<div class="all">总计：<span>￥<em><{$money}></em></span></div>
				<input type="hidden" name="adds" id="adds" value="" placeholder="请选择收货地址" />
				<a href="javascript:;">提交订单</a>
			</div>
		</form>
	</div>
	<div class="dark"></div>
	<div class="add_window">
		<form id="addressForm" action="<{:U('Buy/updateAdderss')}>" method="post">
		<div class="top"><span>编辑地址</span><span class='icon'>&#xe602;</span></div>
		<div class="bottom">
			<input type="text" name="reciver_user" placeholder="请输入您的姓名" class="must name" />
			<div class="citys">
				<{$city.str}>
			</div>
			<p class="special"><span class="dw">&#xe611;</span><input type="text" name="street" placeholder="请输入详细地址" class="must address_detial"/></p>
			<input type="text" name="reciver_phone" placeholder="请输入手机号码" class="must phone"/>
			<input type="hidden" name="id" value="" />
			<p class="serve">保存</p>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		
		// 地址切换插件
		TouchSlide({
			slideCell:"#slideBox",
			mainCell:".bd ul",
			effect:"left",
			endFun:function(i,c){ // 每次切换效果结束时执行函数
				var address = $('.slideBox .bd').find('li:eq('+i+')').attr('data-id');
				$('#adds').val(address);
				updateShipping();
			}
		});
		$("#integral").next("span").css("color","#40bb8c");
		$(".con").delegate('.empty p', 'click', function(event) {                 // 打开添加地址弹窗
			$(".dark").fadeTo(300,0.5);
			$(".add_window").slideDown(300);
		}).delegate('.reset', 'click', function(event) {                          // 打开修改地址弹窗
			var id = $('#adds').val();
			$.post("__APP__/Address/organize", {'id': id}, function(d){
				var data = JSON.parse(d);
				if(data == 'null' || !data){
					return false;
				}else{
					$('input[name=id]').val(data['address']['id']);
					$('input[name=reciver_user]').val(data['address']['reciver_user']);
					$('input[name=reciver_phone]').val(data['address']['reciver_phone']);
					$("select#province").empty().prepend(data['provinces']);
					$("select#city").empty().prepend(data['citys']);
					$("select#area").empty().prepend(data['areas']);
					$('input[name=street]').val(data['address']['street']);
					$(".dark").fadeTo(300,0.5);
					$(".add_window").slideDown(300);
				}
			});
		}).delegate('.order_style ul li input', 'click', function(event) {              // 邮寄方式
			updateShipping();
		}).delegate('.integrals #integral','keyup',function(){                         // 草包豆折扣金额
			var _this = $(this);
			var val = parseInt(_this.val());
			var money = $('#integral').val();
			var maxUse = (parseFloat(money) * 100) * 0.5;
			if(_this.val() == ''){
				val = 0;
			}else{
				var max = _this.attr('data-max');
				if(!val){val = 0;}
				val = Math.min.apply(Math,[val,max,maxUse]);
				_this.val(val);
			}
			var save = val * 0.01;
			$('.integrals p.save span').text('-'+save.toFixed(2));
			countMoney();
		}).delegate('.pay a', 'click', function(event) {                                  // 提交订单
			if($("#slideBox li").length == 0){
				alert("请添加一个地址")
				return false;
			}else{
				$('#order').submit();
			}
		});

		$(".add_window").delegate('.bottom .serve', 'click', function(event) {           // 保存地址
			var input = $('.bottom input');
			for(var a = 0;a < input.length;a++){
				if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
					alert('请输入' + $(input[a]).attr('placeholder'));
					return false;
				}
			}
			var select = $('.bottom select');
			for(var b = 0;b < select.length;b++){
				if(!$(select[b]).val() || $(select[b]).val() == 0){
					alert('请检查城市地区选择');
					return false;
				}
			}
			$('#addressForm').submit();
			
		}).delegate('.top .icon', 'click', function(event) {                             // 关闭修改地址弹窗
			$(".dark").fadeOut(300);
			$(".add_window").slideUp(300);
		});
		
		/*
		   计算运费
		*/
		function updateShipping(){
			var adds        = $('#adds').val();
			var shipping_id = $('input[name=shipping_id]:checked').val();
			//不同地址不同运费
			$.post('__CONTROLLER__/loadShipping', {'adds':adds, 'shipping_id':shipping_id}, function (d) {
				var data = JSON.parse(d);
				if(d){
					for(var a = 0;a < data.length;a++){
						$(".freight"+data[a]['id']).html(data[a]['freight']);
					}
					countMoney();
				}else{
					alert('未知错误');
				}
			});	
		}
		/*
		   计算价格
		*/
		function countMoney(){
			// 草包豆
			var integral = parseFloat($('#integral').val() * 0.01);
			if(!integral){integral = 0;}
			// 商品总价
			var totalPrice = $('.totalPrice');
			var allPrice = 0;
			for(var i = 0;i<totalPrice.length;i++){
				allPrice += parseFloat($(totalPrice[i]).text());
			}
			// 运费总价
			var totalPostages = $('.freightCount');
			var postages = 0;
			for(var i = 0;i<totalPostages.length;i++){
				postages += parseFloat($(totalPostages[i]).text());
			}
			// 最终价格
			var money = allPrice + postages - integral;
			$('.pay .all em').text(money.toFixed(2));
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->