<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/buy-jdpay.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>快捷支付
		</h1>
    </header>
	<div class="con">
        <div class="index fullLayer abs-lt bgGray con" key="jdpayIndex" id="jdpayOnePage">
            <div class="title-box posR">
                <div class="title abs-mm">
                    <p>向草包网支付</p>
                    <h4 id="h_realAmount">￥<{$money}></h4>
                </div>
            </div>
            <ul id="dcard" class="pay-info posR bt bb bg-white <empty name="dcard">dn</empty>">
                <li class="posR bb">
                    <span class="abs-lm">快捷卡</span>
                    <div class="bank-box bt bb posR abs-rm">
                        <img class="abs-lm bank-icon" alt="<{$dcard.name}>" src="__PUBLIC__/Bank/<{$dcard.picture}>"/>
                        <p><em><eq name="dcard.card_type" value="D">储蓄卡<else />信用卡</eq></em>(<{$dcard.card_no|substr=-4}>)</p>
						<span class="abs-rm arrow-rightb">&#xe60f;</span>
                    </div>
                </li>
                <li class="posR bb type-pay">
                    <span class="abs-lm">持卡人</span>
                    <div class="abs-rm"><{$dcard.true_name|hidestr='name'}></div>
                </li>
            </ul>
            <div id="rj_pay" class="btn-box mt10 posR <empty name="dcard">dn</empty>">
				<span id="span-red-pay" class="font-red posA Tip"></span>
                <a href="javascript:;" class="red-btn">
					<span>
					<input type="hidden" name="trade_card" value="<{$dcard.id}>" />
					<input type="hidden" name="trade_no" value="<{$order.order_sn}>" />
					<i class="abs-lm"></i>立即支付
					</span>
				</a>
            </div>
            <div id="new_car_pay" class="btn-box add-card mt10 <notempty name="dcard">dn</notempty>">
                <a href="javascript:;" class="red-btn"><span>添加一张快捷卡</span></a>
            </div>
        </div>
        <!-- 选择银行卡 -->
        <div class="dialog dialog-quickly-bank fixTop fullLayer dn">
            <div class="mask fullLayer"></div>
            <div class="content abs-lb">
                <h2 class="posR bb">选择支付方式<div class="arrow-box abs-lm"><span class="arrow-left abs-mm">&#xe61d;</span></div></h2>
                <div class="card-listBox abs-lt">
                    <ul class="card-list type1 bb" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                        <foreach name="cards" item="vo">
						<li <eq name="vo.is_default" value="1">class="active"</eq> id="<{$vo.id}>" mobile="<{$vo.card_mobile|substr=-4}>">
                            <div class="container bb clearfix">
                                <img src="__PUBLIC__/Bank/<{$vo.picture}>" alt="<{$vo.name}>" class="bank-icon abs-lm"/>
                                <div class="card-info">
									<p><eq name="vo.card_type" value="D"><em>储蓄卡</em><else /><em class="credit">信用卡</em></eq>(<{$vo.card_no|substr=-4}>)</p>
									<span class="red fs10 red ta-c lijian hidden"></span>
                                </div>
                                <span class="abs-rm correct">&#xe622;</span>
                            </div>
                        </li>
						</foreach>
                        <li class="add">
                            <div class="container bb">
                                <img src="__PUBLIC__/Mobile/images/newcard.png" alt="" class="bank-icon abs-lm">
                                <div class="card-info">
                                    <h4 class="fs16">添加一张快捷卡</h4>
                                </div>
                                <span class="abs-rm arrow-rightb">&#xe60f;</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 立即支付 -->
        <div class="dialog dialog-confirmPay fixTop fullLayer dn">
            <div class="mask fullLayer"></div>
            <div class="content abs-lb">
                <h2 class="posR bb">
                    <p>请输入短信验证码</p>
                    <div class="arrow-box abs-lm">&#xe602;</div>
                </h2>
                <div class="confirm-box abs-mt pct100 type-tel">
                    <div class="enter-box abs-mt pct100">
                        <div class="main-box pt20r">
                            <div class="code-box ba bg-white posR mlr15r">
                                <input type="hidden" class="txt-code abs-lt" name="smscode" id="txt_code" value="">
                                <p class="abs-lmcustom-holder">短信验证码(手机尾号<span id="card_no_txt">0575</span>)</p>
                                <div class="abs-lm custom-txt">
                                    <p class="fl" id="content"></p><span class="fl custom-pointer"></span>
                                </div>
                                <a href="javascript:;" id="re_acquisition_code" class="abs-rt btn-count disabled"><em class="j_qrCodeCountdown">60</em>秒后重发</a>
                            </div>
                            <div class="btn-box pt20r" psanc="jiTel">
                                <a class="red-btn disabled" href="javascript:;" id="paymoney">
                                    <span><i class="abs-lm"></i>确认付款</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 模拟键盘 -->
                    <div class="key-box abs-mb pct100">
                        <div class="keyboard pct100 abs-lb num none slideUp" id="keyboard_TmKIwoc9" key="">
                        <div class="abs-mt symbol bt border-box "> <h5 class="abs-mm">草包网安全键盘</h5> <div class="arrow-box abs-rm "> <a href="javascript:;" class="arrow-down abs-mm"></a> </div> </div> <ul class="pct100"> <li> <div onclick="key_code(this,1)">1</div> <div onclick="key_code(this,1)" class="br bl">2</div> <div onclick="key_code(this,1)">3</div> </li> <li> <div onclick="key_code(this,1)">4</div> <div onclick="key_code(this,1)" class="br bl">5</div> <div onclick="key_code(this,1)">6</div> </li> <li> <div onclick="key_code(this,1)">7</div> <div onclick="key_code(this,1)" class="br bl">8</div> <div onclick="key_code(this,1)">9</div> </li> <li> <div class="bg-gray" onclick="key_code(this,2)"><span>C</span></div> <div onclick="key_code(this,1)" class="br bl">0</div> <div onclick="key_code(this,3)"class="del bg-gray"><span>删除</span></div> </li> </ul> </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- 添加银行卡 -->
		<div id="addBnakCart" class="filter">
			<dl class="clearfix header">
				<dt><i>&#xe60f;</i></dt>
				<dd class="ddName">添加银行卡</dd>
			</dl>
			<div class="add-card border-box page fullLayer">
				<if condition="($user['true_name'] neq '') AND ($user['identity'] neq '')">
				<div class="idcrdInfo cl">
					<span class="perName"><{$user.true_name|hidestr='name'}></span>
					<span class="idcardNm"><{$user.identity|hidestr='card'}></span>
				</div>
				</if>
				<div class="nameAndId col-bgw">
					<if condition="($user['true_name'] eq '') AND ($user['identity'] eq '')">
					<div class="ui-form-item posR ui-textfield false" id="cot-username">
						<span id="span-red-name" class="font-red posA Tip"></span>
						<input class="debit anim-input" type="text" id="username" maxlength="15" autocomplete="on" placeholder="请输入本人真实姓名" name="name">
						<div id="userNameCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
						<!--一键清除内容图标-->
					</div>
					<div class="ui-form-item posR border-top ui-textfield false" id="cot-usercardid">
						<span id="span-red-id" class="font-red posA Tip"></span>
						<input class="debit anim-input" type="text" id="userid" autocomplete="on" maxlength="18" placeholder="请输入您本人的身份证号码" name="idcardno">
						<div id="userIdCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div> <!--一键清除内容图标-->
					</div>
					</if>
					<div class="ui-form-item  posR border-top ui-textfield false" id="bankcard">
						<span id="span-red-cartId" class="font-red posA Tip"></span>
						<input id="card-num" class=" debit anim-input noCancel" type="tel" autocomplete="on" maxlength="23" width="80%" placeholder="请输入本人银行卡号" name="bankcardno">
						<div id="bank-clear" class="rightCancels posA"><a href="<{:U('Users/supportbank')}>" class="posA" target="_blank">&#xe623;</a></div>
					</div>
					<div class="ui-form-item border-1px border-top posR  ui-textfield" id="rn-card-type">
						<span class="font-redsp posA Tip">卡类型/发卡行</span>
						<div id="cardtypeh" class=" debit anim-input  noCancel">***/******</div>
					</div>
					<!--信用卡-->
					<div class="dl ui-form-item wdh-per100 border-top  posR ui-textfield" id="credit-info-data">
						<span id="span-red-data" class="font-red posA Tip"></span>
						<input id="selectdata" class="anim-input  noCancel" type="text" maxlength="7" placeholder="请输入日期，格式为“月-年”" name="exp">
						<div id="dataCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
					</div>
					<div class="dl ui-form-item wdh-per100 border-top posR  ui-textfield" style="overflow: hidden" id="credit-info-cvv2">
						<span id="span-red-cvv2" class="font-red posA Tip"></span>
						<input id="cardcode" class="anim-input  noCancel" type="tel" autocomplete="on" maxlength="3" placeholder="请输入卡验证码" name="cvv2">
						<div id="cardCodeCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
					</div>
					<div class="ui-form-item border-1px border-top  posR  ui-textfield false">
						<span id="span-red-phone" class="font-red posA Tip"></span>
						<input id="phone-num" class="debit  anim-input" type="tel" autocomplete="on" value="" maxlength="11" placeholder="请输入银行预留的手机号码" name="mobile">
						<div class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
					</div>
					<div class="ui-form-item border-top  posR  ui-textfield false">
						<span id="span-red-code" class="font-red posA Tip"></span>
						<input id="pic-code" class="debit  anim-input" type="text" autocomplete="on" value="" maxlength="11" placeholder="请输入右侧验证码" name="imgcode" style="width:50%;">
						<div class="rightCode posA">
							<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="40"/>
						</div>
					</div>
				</div>
				<!-- <div class="show-cards">
					<a href="#" class="fr fs14 pt18r pb20r">查看支持的银行卡</a>
					<p class="clearfix"></p>
				</div> -->
				<div id="confirmBtn" name="buy-add-card" class="makeSurebtn">
					<span id="span-red-all" class="font-red posA Tip"></span>
					同意协议并确定
				</div>
				<div id="btnProtcol" class="text-not-attention text-attention textcont top col-999999 marginauto">我已阅读<a class="link-col" href="<{$CBW_URL}>/article/43.html" target="_blank" id="xieyi">《草包网快捷支付服务协议》</a> </div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
	<script src="__PUBLIC__/Mobile/js/pay-jdpay.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	// 键盘输入
	function key_code(obj,tip){
		var btn = document.getElementById("paymoney");
		var con=document.getElementById('content').innerHTML;
		var content = document.getElementById('content');
		var text_code = document.getElementById("txt_code");
		if(tip==1){
			content.innerHTML=con+obj.innerHTML;
			text_code.value=con+obj.innerHTML;
			if(content.innerHTML.length == 6){
				$(btn).removeClass('disabled')
			}else{
				$(btn).addClass('disabled')
			}
		}else if(tip==2){
			content.innerHTML="";
			text_code.value="";
		}else if(tip==3){
			content.innerHTML=con.slice(0,-1);
			text_code.value=con.slice(0,-1);
			if(con.length == 7){
				$(btn).removeClass('disabled')
			}else{
				$(btn).addClass('disabled')
			}
		}
	}
</script>
</block>
<!-- 底部JS执行区域 结束 -->