<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/buy-pay.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>支付方式</h1>
    </header>
	<div class="con">
		<form method="post" action="<{:U('Alipay/doMobileAlipay')}>" name="payNow" id="payNow">
		<div class="con_top">支付金额<span><em><{$money}></em>元</span><input type="hidden" name="trade_no" value="<{$order.order_sn}>" /></div>
		<div class="con_middle">
			<dl>
				<dt>支付方式</dt>
				<if condition="($agent eq 1)">
				<dd data-pay="weixin"><img src="__PUBLIC__/Mobile/images/wx.png" alt="微信支付" />微信支付<span class="go">&#xe60f;</span></dd>
				<else />
				<dd data-pay="alipay"><img src="__PUBLIC__/Mobile/images/zfb.png" alt="微信支付" />支付宝支付<span class="go">&#xe60f;</span></dd>
				</if>
				<dd data-pay="balance"><img src="__PUBLIC__/Mobile/images/balance.png" alt="微信支付" />余额支付<span>（余额<em><{$user.money}></em>元）</span><span class="go">&#xe60f;</span></dd>
				<dd data-pay="jdpay"><img src="__PUBLIC__/Mobile/images/jd.png" alt="京东支付" />快捷支付<span class="go">&#xe60f;</span></dd>
			</dl>
		</div>
		<!--<div class="return"><a href="<{$CBW_URL}>">返回首页</a></div>-->
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		//定时检查订单支付状态
		var endtime = 100;
		var sh;
		sh=setInterval(FreshTime,3000);
		function FreshTime(){
			endtime--;
			if(endtime<=0){
				clearInterval(sh);
				//window.location.href = '__APP__/orders/index.html';                              // 页面跳转
			}
			checkOrderPay();
		}
		function checkOrderPay(){
			var trade_no = $('input[name=trade_no]').val();
			$.post('__CONTROLLER__/orderQuery',{'trade_no':trade_no},function(d){
				var data = JSON.parse(d);
				if(data['pay_status'] == 1){
					if(data['pay_link'] != ''){
						window.location.href = data['pay_link'];                                 // 页面跳转
					}else{
						window.location.href = '<{:U("Orders/index")}>';                         // 页面跳转
					}
				}
			});
		}
	
		$(".con_middle dd").click(function(event) {
			var mode = $(this).attr('data-pay');
			if(mode == 'weixin'){
				$('#payNow').attr('action','<{:U("Wxpay/jsapi")}>');
			}else if(mode == 'alipay'){
				$('#payNow').attr('action','<{:U("Alipay/doMobileAlipay")}>');
			}else if(mode == 'balance'){
				var money = $('.con_top').find('span em').text();
				var surplus = $('.con_middle dd').find('span em').text();
				if(parseFloat(surplus) < parseFloat(money)){
					alert('账户余额不足,请选择其他支付方式');
					return false;
				}
				$('#payNow').attr('action','<{:U("Buy/surplus")}>');
			}else if(mode == 'jdpay'){
				$('#payNow').attr('action','<{:U("Buy/jdpay")}>');
			}else{
				return false;
			}
			$('#payNow').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->