<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <style type="text/css">
		.con{
			background-color: #fff;
			border-top: 54px solid #eee;
			padding: 10px 0  40px 0;
		}
		.con p{
			text-align: center;
			font-size: 16px;
			color: #313131;
			margin: 10px 0;
		}
		.con p a{
			font-size: 14px;
			color: #ff4444;
		}
		.have_pw input{
			width: 90%;
			display: block;
			margin: 0 auto;
			height:35px;
			padding: 5px;
			background-color: #eee;
			text-align: center;
			font:16px "微软雅黑";
		}
		.con p.tips{
			font-size: 14px;
			color: #ff4444;
		}
		.have_pw p.btn{
			margin-top: 20px;
		}
		.have_pw p.btn a{
			width: 93%;
			margin: 0 auto;
			height:36px;
			line-height: 36px;
			text-align: center;
			background-color: #3ebb8d;
			border-radius:5px;
			color: #fff;
			display: block;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>余额支付</h1>
    </header>
	<div class="con">
		<eq name="user.pay_password" value="">
			<p>您尚未设置支付密码？</p>
			<p><a href="<{:U('Users/security')}>">立即设置</a></p>
		<else />
			<div class="have_pw">
				<p>请输入支付密码</p>
				<p><input type="password" name="password" value="" placeholder="支付密码" /></p>
				<p class="tips"></p>
				<p class="btn"><a href="javascript:;">支付</a></p>
			</div>
			<input type="hidden" name="sn" value="<{$order.order_sn}>" />
		</eq>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".btn").click(function(event) {
			var sn = $('input[name=sn]').val();
			var password = $('input[name=password]').val();
			if(password == ''){
				$('.tips').text('支付密码不能为空');
				return false;
			}
			$.post('__CONTROLLER__/doSurplus', {'sn':sn, 'password':password}, function(d){
				if(d=='-5'){
					$('.tips').text('重复支付或支付金额错误');
					return false;
				}else if(d=='-4'){
					$('.tips').text('账户余额不足');
					return false;
				}else if(d=='-3'){
					$('.tips').text('支付密码错误');
					return false;
				}else if(d=='-2'){
					$('.tips').text('请先设置支付密码');
					return false;
				}else if(d=='-1'){
					window.location.href = "<{$CBW_URL}>/users/login.html";
				}else{
					var data = JSON.parse(d);
					if(data['pay_link'] != ''){
						window.location.href = data['pay_link'];
					}else{
						if(data['order_type'] == 0){
							window.location.href = "<{$CBW_URL}>/orders/index.html";
						}else if(data['order_type'] == 1){
							window.location.href = "<{$CBW_URL}>/orders/repair.html";
						}else if(data['order_type'] == 2){
							window.location.href = "<{$CBW_URL}>/orders/recovery.html";
						}
					}
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->