<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<style>
        td.text-center {
            text-align: center;
        }
    </style>

</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">下载分类列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
<!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
        <div class="span12">
			<div class="control-group">
				<div class="add-adv" style=" padding-bottom:10px;">
					 <a href="<{:U('SupportDown/downCate')}>" class="btn btn-info"><b> 添加下载类别</b></a>
					 <a href="<{:U('SupportDown/fileList')}>" class="btn btn-info"><b> 下载文件列表</b></a>
					 <a href="<{:U('SupportDown/down')}>" class="btn btn-info"><b> 添加下载文件</b></a>
				</div>
			</div>
            <div class="widget-box">
                <div class="widget-content nopadding">
                      <table class="table table-bordered table-striped">
              <thead>
                <tr >
                  <th style="font-size:14px;width:50px;">分类ID</th>
                  <th style="font-size:14px;">分类名称</th>
                  <th style="font-size:14px;">操作</th>
                 
                </tr>
              </thead>
              <tbody>
               <foreach name="list" item="v">
                <tr>  
                  <td class="text-center"><{$key+1}></td>
                  <td class="text-center"><{$v.cat_name}></td>
                  <td class="text-center">
                      <a href="__CONTROLLER__/editCate/id/<{$v.id}>">
                      <i class="icon-pencil"></i> 编辑</a> | 
                      <a href="__CONTROLLER__/delCate/id/<{$v.id}>">
                      删除
                      </a>
                  </td>   
                </tr>
               </foreach>
                  <tr>
                         <td colspan="4">
                            <div class="pagination alternate">
                              <ul style="float:right;">
                                   <{$page}>
                             </ul>
                             </div>
                         </td>
                  </tr>
              </tbody>
            </table>
                  </div>
            </div>
        </div>
    </div>
</div>

</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
