<!--添加广告位-->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->
<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
<link rel="stylesheet" href="__PUBLIC__/editor/plugins/code/prettify.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<!--自定义的广告样式-->
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
  <script src="__PUBLIC__/Admin/js/jquery.min.js"> </script> 
  <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
  <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
  <script charset="utf-8" src="__PUBLIC__/editor/plugins/code/prettify.js"></script>
  <script>
    KindEditor.ready(function(K) {
      var editor1 = K.create('textarea[name="my_content"]', {
        cssPath : '../plugins/code/prettify.css',
        uploadJson : '../php/upload_json.php',
        fileManagerJson : '../php/file_manager_json.php',
        allowFileManager : true,
        afterCreate : function() {
          var self = this;
          K.ctrl(document, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
          K.ctrl(self.edit.doc, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
        }
      });
      prettyPrint();
    });
  </script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">添加下载文件</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
         <hr style="margin:0;">
         <div class="add-adv">
             <a href="<{:U('SupportDown/downCate')}>" class="btn btn-info"><b> 添加下载类别</b></a>
			 <a href="<{:U('SupportDown/cateList')}>" class="btn btn-info"><b> 下载分类</b></a>
             <a href="<{:U('SupportDown/fileList')}>" class="btn btn-info"><b> 下载文件列表</b></a>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  
                </div>
                <div class="widget-content nopadding">
                  <form action="<{:U('SupportDown/addFile')}>" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="control-group">
                      <label class="control-label">标题 :</label>
                      <div class="controls">
                        <input type="text" class="span11" style="width:200px;"  name="title"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">类别 :</label>
                      <div class="controls">
                           <select name="cat_id" style="width:200px;">
                               <foreach name="list" item="v">
                                   <option value="<{$v.id}>"><{$v.cat_name}></option>
                               </foreach>
                           </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">外链地址:</label>
                      <div class="controls">
                        <input type="text"  class="span11 tip-right" style="width:200px;" name="linkurl"/>
                      </div>
                    </div>
                     <div class="control-group">
                      <label class="control-label">关键字:</label>
                      <div class="controls">
                        <input type="text"  class="span11 tip-right" style="width:200px;" name="keywords"/>
                      </div>
                    </div>
                     <div class="control-group">
                      <label class="control-label">上传文件:</label>
                      <div class="controls">
                        <input type="file"  class="span11 tip-right" style="width:200px;" name="filename"/>
                      </div>
                      <div class="control-group">
                      <label class="control-label">文件大小:</label>
                      <div class="controls">
                        <input type="text"  class="span11 tip-right" name="filesize" style="width:200px;"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">上传图片:</label>
                      <div class="controls">
                        <input type="file"  class="span11 tip-right" name="fileimg"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">描述:</label>
                      <div class="controls">
                        <textarea class="span11" style="width:400px;" name="my_content"></textarea>
                      </div>
                    </div>
                     <div class="control-group">
                      <label class="control-label">是否显示</label>
                      <div class="controls" style="margin-top:4px;">
                        <label style="display:inline;">
                          <input type="radio" name="is_show" value="1" checked="checked"/>
                          是</label>
                        <label style="display:inline;">
                          <input type="radio" name="is_show" value="0"/>
                          否</label>
                        
                      </div>
                   
                    <div class="form-actions">
                      <button type="submit" class="btn btn-info"><b>添加</b></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
           
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
   <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
<script>
  $('.textarea_editor').wysihtml5();
</script>
   
</block>
<!-- 底部JS执行区域 结束 -->
