<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank"/>
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css"/>
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<style>
        td.text-center {
            text-align: center;
        }
    </style>

</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">

</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a>
    </div>
    <h1 style="margin-top:10px;">下载文件列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
<!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
		<div class="control-group">
			<div class="controls">
				<form action="<{:U('SupportDown/fileList')}>" method="get" class="span3">
					<input type="text" name="title" placeholder="标题" style="width:150px;">
					<input type="submit" class="btn btn-info" style=" width:auto; margin-top:-10px;" value="查询">
				</form>                   
			</div>
			<div class="add-adv">
				 <a href="<{:U('SupportDown/downCate')}>" class="btn btn-info"><b> 添加下载类别</b></a>
				 <a href="<{:U('SupportDown/cateList')}>" class="btn btn-info"><b> 下载分类</b></a>
				 <a href="<{:U('SupportDown/down')}>" class="btn btn-info"><b> 添加下载文件</b></a>
			</div>
		</div>
		<div class="widget-box">
			<div class="widget-content nopadding">
				  <table class="table table-bordered table-striped">
					<thead>
					  <tr>
					  <th style="font-size:14px;">标题</th>
					  <th style="font-size:14px;">所属类别</th>
					  <th style="font-size:14px;">添加时间</th>
					  <th style="font-size:14px;">点击次数</th>
					  <th style="font-size:14px;">是否显示</th>
					  <th style="font-size:14px;">操作</th>
					</tr>
				  </thead>
				  <tbody>
					<foreach name="list" item="v">
					<tr>
					
					  <td><{$v.title}></td>
					  <td class="text-center"><{$v.cname}></td>
					  <td class="text-center"><{$v.ctime}></td>
					  <td class="text-center"><{$v.clicktimes}></td>
					  <td class="text-center" style="color:red;"><{$v.show}></td>
					  <td class="text-center">
						 <a href="<{:U('SupportDown/editFile/id/'.$v['id'])}>"><i class="icon-pencil"></i>编辑</a> | 
						 <a href="<{:U('SupportDown/delFile/id/'.$v['id'])}>">删除</a>
					  </td>
					</tr>
					</foreach>
					<tr>
					 <td colspan="6">
						<div class="pagination alternate" style="float:right;">
							   <{$page}>
						 </div>
					 </td>
				   </tr>
				  </tbody>
				</table>
			  </div>
		</div>
    </div>
</div>

</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
