<!-- =====================================================
   清理缓存管理
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">网站工具</a> 
    </div>
    <h1 style="margin-top:10px;">清理缓存</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
          <div class="row-fluid">
             <form>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">
				<thead>
					<tr>
						<td style="text-align: left;" colspan="4"><label><input name="chooseAll" class="chooseAll" type="checkbox"/> 全选</label></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Admincache']}>" /></td>
						<td>后台缓存文件<br/> <{$caches['Admincache']}></td>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Adminlogs']}>" /></td>
						<td>后台日志缓存文件<br/> <{$caches['Adminlogs']}></td>
					</tr>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Homecache']}>" /></td>
						<td>前台缓存文件<br/> <{$caches['Homecache']}></td>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Homelogs']}>" /></td>
						<td>前台日志缓存文件<br/> <{$caches['Homelogs']}></td>
					</tr>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Mobilecache']}>" /></td>
						<td>手机端缓存文件<br/> <{$caches['Mobilecache']}></td>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Mobilelogs']}>" /></td>
						<td>手机端日志缓存文件<br/> <{$caches['Mobilelogs']}></td>
					</tr>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Forumcache']}>" /></td>
						<td>论坛缓存文件<br/> <{$caches['Forumcache']}></td>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Forumlogs']}>" /></td>
						<td>论坛日志缓存文件<br/> <{$caches['Forumlogs']}></td>
					</tr>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['WebRuntime']}>" /></td>
						<td>runtime.php缓存文件<br/> <{$caches['WebRuntime']}></td>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['WebTemp']}>" /></td>
						<td>临时缓存文件<br/> <{$caches['WebTemp']}></td>
					</tr>
					<tr>
						<td width="30" align="center"><input type="checkbox" name="caches" value="<{$caches['Webdata']}>" /></td>
						<td>数据库字段缓存文件<br/> <{$caches['Webdata']}></td>
						<td width="30" align="center"></td>
						<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4"><label><input name="chooseAll" class="chooseAll" type="checkbox"/> 全选</label></td>
					</tr>
				</tfoot>
			</table>
		</form>
		    <div>
			<button class="btn submit">清除已选缓存</button>
			</div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
	<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
	<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
	<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
	<script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- 底部JS执行区域 结束 -->
<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
$(".submit").click(function(){
    
	 if($("tbody input[type='checkbox']:checked").size()==0){
        alert("请先选择要删除的缓存！");
        return false;
    }else{
		var cachesVal = new Array(); 
		var i=0;
		$('input[name="caches"]:checked').each(function(){
			cachesVal[i] = $(this).val();
			i++;
		}); 
		 // Ajax请求数据库验证
		$.get('__CONTROLLER__/deleteCache', {'caches': cachesVal}, function (d) {
			if(d)
			{
				alert('清除缓存成功.');
			}else{
				alert('清除缓存失败.');
			}
		});
	}
});

$(".chooseAll").each(function(){
    $(".chooseAll").click(function(){
        var status=$(this).prop('checked');
        $("tbody input[type='checkbox']").prop("checked",status);
        $(".chooseAll").prop("checked",status);
    });

});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
