/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 14:51:43
*/
body header h1 div{
	width:11%;
}
body{
	background:#fff;
}
header h1 .select a{
    color: #3ebb8d;
	font-size:15px;
	margin-right:4px;
}
.address{
    background-color: #fff;
    border-top:10px solid #eee;
	font-size:15px;
}
.address .moren{
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.address .moren span.mr{
    float: left;
    color: #ff8916;
    margin: 25px 5px 0 0;
	font-size:14px;
}
.address .moren p{
    color: #535353;
    line-height:24px;
}
.address .moren .left{
    float: left;
    width: 84%;    
}
.address .myaddress .left{
    float: none;
    width: auto;  
}
.address .myaddress{
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.address .myaddress p{
    color: #535353;
    line-height: 24px;
}
.address .myaddress span.smr{
    color: #b5b5b5;
}
.address span.phone{
    margin-left: 15px;
}
.btn{
    width: 95%;
    margin: 26px auto;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color: #40bb8c;
    border-radius: 5px;
	font-size:15px;
}
.btn a{
    color: #fff;
    display: block;
}

.dark{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}
.add_window{
    position: fixed;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    z-index: 4;
    left: 2.5%;
    border-radius: 5px;
    top: 50px;
    display: none;
}
.add_window .top{
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    position: relative;
}
.add_window .top .icon{
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 5px;
    font-family:"iconfont1";
	font-size:28px;
	color:#dcdcdc;
}
.bottom input{
    padding: 5px;
    width: 95%;
    height:26px;
    font:14px "微软雅黑";
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 8px 0;
}
.bottom p.float{
     margin: 8px 0;
}
.bottom p.float input{
    width: 46%;
    float: left;
    margin: 0;
}
.bottom p.float span{
    width: 46%;
    float: right;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
}
.bottom p.serve{
    width: 100%;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
}
.bottom p.special{
    position: relative;
}
.bottom p.special span.dw{
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -11px;
    font-family:"iconfont1";
	font-size:18px;
	color:#eee;
}
.bottom p.special input{
    padding: 5px 5px 5px 20px;
    width: 90%;
    height: 26px;
}
.citys select{
    height:36px;
    width: 32%;
    font:14px "微软雅黑";
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 8px 1% 8px 0;
    color: #535353;
}
.citys select option{
    color: #313131;
}
.add_window label{
    display: block;
}
.add_window label input{
    width: auto;
    height: auto;
}
.address i{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
	font:22px "iconfont1";
	color:#b5b5b5;
}
.address i.current{
    color:#40bb8c;
}
.address div.moren,.address div.myaddress{
    position: relative;
}
.address div.myaddress a{
	display:block;
}
.address div.myaddress a:hover{
    background-color:#eee;
}










