/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
header h1 .search{
	padding:0 12%;
	width:100%;
	display:block;
	box-sizing:border-box;
}
header h1 .search p{
	position:relative;
	z-index:0;
}
header h1 .search input{
    width:100%;
	height:30px;
	padding: 5px 12px;
    background-color: #eee;
	box-sizing:border-box;
}
header h1 .search em{
	font: 22px/21px "iconfont1";
    position: absolute;
    right: 0;
    top: 13px;
    width: 30px;
    height: 100%;
    color: #898989;
}
/* 购物订单 */
.cat{
	line-height: 22px;
	background-color: #fff;
	border-top: 1px solid #eeeeee;
	margin-bottom:2px;
}
.cat select {
    border: 0 none;
    height: 40px;
    margin: 3px 5px;
    font: 14px "微软雅黑";
    width: 30%;
    color: #898989;
    text-align: center;
    border: 1px solid #eee;
}
.cat ul li {
    width: 50%;
    float: left;
}
.cat ul li a {
    color: #8b8b8b;
    display: inline-block;
    width: 100%;
	padding: 10px 0;
	border-left: 1px solid #eeeeee;
}
.cat ul li.current{
	border-bottom:2px solid #40bb8c;
}
.cat ul li.current a{
    color: #40bb8c;
}

.item{
    margin-top: 10px;
    background-color: #fff;
}
.item .shopname span.shopping{
    margin: 10px 5px 10px 15px;
    width: 20px;
    height: 20px;
    background: url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -14px;
}
.item .shopname{
    font-size: 15px;
    color:#313131;
    padding:5px 0;
    border-bottom:1px solid #eeeeee;
}
.item .shopname strong{
    float: right;
    color: #ff4d5a;
    line-height: 40px;
    margin-right: 10px;
}
/*middle*/
.item .news{
    padding:10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.news_pic{
   width: 70px;
}
.news_pic img{
    width: 100%;
    border:1px solid #eeeeee;
}
.news_bd{
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1; 
    margin-left: 10px;
    color: #313131;
    line-height:22px;
}
.news_bd p.num{
    color: #898989;
}
.news_bd p.num .status{
    float:right; 
	color:#ccc;
}
.price{
    text-align:left;
	float:right;
    color: #ff6262;
    margin-top: 5px;
}
.price a{
    color:#ccc;
    float:right;
    margin-right:5px;
    font-size:12px;
}
.price a.customer{
    color:red;
    float:right;
    margin-right:5px;
    font-size:12px;
}
.price em{
    font-size: 12px;
}
.price ins{
   color: #313131;
   text-decoration: none;
   font-size: 14px;
}
/*bottom*/
.item .time{
    border-top:1px solid #eeeeee;
    height:50px;
    color:#a0a0a0;
    padding:0 10px;
    line-height:50px;
}
.item .time .ordernum{
    float: right;
	color:#40bb8c;
}
.empty{
	text-align:center;
	margin:10px 0;
	color:#313131;
}