/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
body{
	background-color:#fff;
}
.con{
	font-size:15px;
}
.List{
	padding:0 10px;
}
.List_box{
	border-top:10px solid #eee;
}
.List li{
  margin-top: 10px;
}
.List .news_ul li{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.List li span{
  color:#898989;
  display: inline-block;
  text-align:right;
  line-height: 40px;
  width: 75px;
}
.List .news_ul .flex input,.List .news_ul select,.List .news_ul label{
	padding: 5px;
    box-sizing: border-box;
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	height: 38px;
	border: 1px solid #e5e5e5;
	font:15px "微软雅黑";
	color:#898989;
}
.List .news_ul .service_style label{
	border:0 none;
	font-size:14px;
	line-height:34px;
}
.List .news_ul select{
	margin-left:6px;
}
.List .news_ul .service_style{
	font-size:15px;
}
.List .news_ul .service_style input{
	vertical-align:-1px;
}
.List .news_ul select{
	margin-left:6px;
}
.List .map input{
	width: 30%;
	margin-right:10px;
}
.List .tips{
	margin-left:48px;
	color:#f60;
	height: 28px;
	font-size:12px;
}
.List button{
  width: 16%;
  height: 40px;
  float:right;
  background-color: #40bb8c;
  line-height: 40px;
  text-align: center;
  color:#fff;
  font:14px "微软雅黑";
  margin: 0 0 0 1%;
  border-radius: 3px;
  cursor: pointer;
  vertical-align:middle;
}
.List button.submit{
	float:none;
}
.List .map a{
	margin:0;
	width: 22%;
	height:38px;
	vertical-align:middle;
	float:right;
	background-color: #40bb8c;
	text-align: center;
	color:#fff;
	font:14px/38px "微软雅黑";
	border-radius: 3px;
}
.bigbox  span.off{
    position: absolute;
    right: 5px;
    top: 5px;
    background: #40bb8c;
    color: #fff;
    z-index: 587;
    width: 60px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
}
.dark{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: 1000;
}
.bigbox{
	position:absolute;
	display: none;
	left:0;
	top:50%;
	margin-top:-168px !important;
	z-index:1001;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0px;
    bottom: 32px;
    line-height: 36px;
    width: 100%;
    margin: 0;
    font-size: 14px;
	z-index:1;
}
.bigbox p.PS img{
	width:14px;
	margin:0 5px;
}
.col-md-3 {
	width:20%!important;
	padding-left:0!important;
}