/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
body{
	background-color:#fff;
}
.con{
	font-size:15px;
}
.lists{
	border-top:10px solid #eee;
}
.lists ul li {
    border-bottom: 1px solid #eeeeee;
    line-height: 46px;
    color: #313131;
    position: relative;
}
.lists ul li a{
    color: #535353;
    display: block;
    height: 50px;
    padding-left: 10px;
}
.lists ul li a:active{
	background-color:#eee;
}
.lists ul li i {
    position: absolute;
    right: 2px;
    top: 2px;
    font-family:"iconfont1";
    font-size: 16px;
    color: #dcdcdc;
}
.border_r{
	border-right:1px solid #dcdcdc;
}
.border_b{
	border-bottom:1px solid #dcdcdc;
}




