/* 
* @Author: Marte
* @Date:   2016-05-21 17:03:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 09:50:55
*/
.contBx {
	margin-top: 10px;
    background: #fff;
    width: 100%;
    padding: 10px 0 10px 0;
}
.cont {
    padding: 0 10px 30px 10px;
    font-size: 15px;
	color:#262626;
	line-height:26px;
	letter-spacing:1px;
}
.cont h2 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 10px;
}
.cont img{
	width:100%;
	height:auto;
}
.cont p{
	color:#262626;
}
.cont h4{
	font-weight:bold;
	font-size:16px;
	margin:10px 0;
}
.cont p strong{
	font-size:16px;
	color:#262626;
}
.cont .otherInfo{
    text-align: center;
    border-top: 1px dashed #dfdfdf;
    padding-top: 10px;
}
