/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
	padding:48px 0 51px 0 !important;
	font-size:15px;
}
.none{
	display: none;
}
.con h2{
    font-size: 16px;
    color: #313131;
    height:46px;
    line-height:46px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
/* 地址信息 */
.address_news{
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    overflow:hidden;
}
.address_news .news_bd{
    padding:10px 10px 10px 44px;
    color: #898989;
    line-height: 26px;
}
.address_news .news_bd p{
    width: 95%;
	color:#313131;
}
.address_news .news_bd p span.phone{
    margin-left: 15px;
}
.address_news .news_bd p span.reset{
    float: right;
    color: #f40;
    margin-right: 30px;
}
/* 商品信息 */
.pro_news .porList{
	margin-top: 10px;
	background-color: #fff;
}
.self-sale{
	width:32px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
	font-size:13px;
}
.pro_news .store_name h3{
	padding:13px 10px;
	font-size:16px;
	border-bottom:1px solid #e6e6e6;
}
.pro_news .store_name h3 .icon-store{
	background-position:-65px -7px;
	width:16px;
	height:14px;
	margin-right:5px;
}
.pro_news .news{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
	border-bottom:1px dashed #e6e6e6;
	padding:10px;
}
.pro_news .news:last-child{
	border:0 none;
}
.pro_news .news_pic {
    width: 80px;
}
.pro_news .news_pic img {
    width: 100%;
}
.pro_news .news_bd {
   -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
    color: #000;
   margin-left:10px;
    line-height: 22px;
}
.pro_news .news_bd p:first-child{
	font-size:15px;
}
.pro_news .news_bd p.num {
    color: #898989;
}
.pro_news .price {
    text-align: left;
    color: #ff6262;
    font-size: 16px;
    margin-top: 8px;
}
.pro_news .price em {
    font-size: 12px;
}
.pro_news .price ins {
    color: #313131;
    text-decoration: none;
    font-size: 14px;
}
.pro_news .price span {
    float: right;
    color: #ff4d5a;
    font-size: 14px;
}
.remark input{
	width:70%;
	margin-left:5px;
	height:28px;
	line-height:28px;
}
/* 送货方式 */
.order_style,.pay{
    margin-top: 10px;
    background-color: #fff;
}
.pay{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:10;
}
.order_style ul li{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    color: #313131;
}
.order_style ul li span{
    color: #898989;
}
.order_style ul li input{
    display:inline-block;
	vertical-align:-2px;
	margin-right:3px;
}
/* 立即支付 */
.pay .all{
    width: 70%;
    height:45px;
    line-height:45px;
    text-indent: 2em;
    color: #313131;
    font-size: 15px;
	background-color:##fff;
    float: left;
}
.pay .all span{
	color:#ff4444;
	font-size:12px;
}
.pay .all span em{
	font-size:16px;
}
.pay a{
    width: 30%;
    height:45px;
    line-height:45px;
    text-align: center;
    color: #fff;
    display: block;
    float: right;
    background-color: #ff9000;
    font-size: 15px;
}
/* 添加地址弹窗 */
.dark{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.add_window{
    position: fixed;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    z-index: 100;
    left: 2.5%;
    border-radius: 5px;
    top: 50px;
    display: none;
}
.add_window .top{
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    position: relative;
}
.add_window .top .icon{
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 5px;
    font-family:"iconfont1";
	font-size:20px;
	color:#dcdcdc;
}
.bottom input{
    padding: 5px;
    width: 95%;
    height:26px;
    font:14px "微软雅黑";
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 8px 0;
}
.bottom p.float{
     margin: 8px 0;
}
.bottom p.float input{
    width: 46%;
    float: left;
    margin: 0;
}
.bottom p.float span{
    width: 46%;
    float: right;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
}
.bottom p.serve{
    width: 100%;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
}
.bottom p.special{
    position: relative;
}
.bottom p.special span.dw{
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -11px;
    font-family:"iconfont1";
	font-size:18px;
	color:#eee;
}
.bottom p.special input{
    padding: 5px 5px 5px 20px;
    width: 90%;
    height: 26px;
}
.citys select{
    height:36px;
    width: 31%;
    font:14px "微软雅黑";
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 8px 1% 8px 0;
    color: #535353;
	text-align:center;
}
.citys select option{
    color: #313131;
}

.empty{
    padding: 15px 0;
    position: relative;
    height:46px;
}
.empty p{
    text-align: center;
    font-size: 18px;
    height:46px;
    line-height: 46px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    color: #535353;
    margin-top: -23px;
}

/*轮播切换*/
.slideBox{
    position:relative;
    overflow:hidden;
    margin:0 auto;
}
.slideBox .hd{
    position:absolute;
    width:100%;
    height:27px;
    bottom:0;
    left:0;
    z-index:1;
}
.slideBox .prev,.slideBox .next{
    position:absolute;
    left:2px;
    top:-26px;
	font:28px/27px "iconfont1";
    display:block;
    text-align:center;
	color:#b5b5b5;
}
.slideBox .next{
    left:auto;
    right:5px;
	font-size:22px;
}
.slideBox .bd{
    position:relative;
    z-index:0;
}
.slideBox .bd li{
    position:relative;
    width: 100%;
}
.slideBox .bd li a{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    /* 取消链接高亮 */;
}
.slideBox .bd li .tit{
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
    text-indent:10px;
    height:27px;
    line-height:27px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.7);
}
/* 使用草包豆 */
.balance .frRed{
	float:right;
	color:#ff4444;
}
.balance .partPrice .get_cbd{
	font-size:12px;
	color:#c9c9c9;
}
.integrals{
	background-color:#fff;
	padding:10px;
	line-height:30px;
}
.integrals label {
    color:#313131;
	display:block;
}
.integrals label a{
	font:14px "iconfont1";
	color:#40bb8c;
	margin:0 2px;
}
.integrals input{
	vertical-align:-2px;
	margin:0;
}
.integrals p {
	height:30px;
	float:left;
}
.integrals p input{
    width: 100px;
    margin: 0 0 0 5px;
    text-align: center;
    vertical-align: 0;
	background:#fff;
	border:1px solid #ccc;
	padding:4px 6px;
	border-radius:5px;
	font:14px/20px "微软雅黑";
}
.integrals p.save {
	float:right;
}
.integrals p span {
    color: #ff4444;
    font-size: 16px;
}
.integrals p span {
    margin: 0;
    line-height: inherit;
    padding-right: 5px;
    display: inline-block;
}

.selectedset {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
}
.selectedset input {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%!important;
  height:100%!important;
  z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}
.selectedset span { 
	display: block;
	position: absolute;
	font:18px "iconfont1";
	color:#b5b5b5;
	top: 50%;
	left:50%;
	margin: -12px 0  0 -6px;
	z-index:1;
}

.selectedset input[type="radio"] + span {
  color:#b5b5b5;

}
.selectedset input[type="radio"]:checked + span {
  color:#40bb8c;
}
.p10{
	padding:3px 10px;
}
























