/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
	font-size:15px;
}
.index .title-box {
    height: 128px;
}
.title-box .title p{
    text-align: center;
    color:#535353;
}
.title-box .title h4{
    font-size: 28px;
    text-align: center;
    color:#535353;
}
.btn-box a span {
    display: inline-block;
    height:18px;
    padding-left: 26px;
    background-image: url(../images/safekey_iconfff.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}
.index .add-card a span{
    height:18px;
   background-image:  url(../images/add_icon1.png);
}
.index .pay-info {
    padding-left: 13px;
}
.bb {
    border-bottom: 1px solid #e4e4e4;
}
.bt {
    border-top: 1px solid #e4e4e4;
}
.pay-info li .bank-box {
    right: 20px;
    padding: 8px 0 13px 22px;
    border-width: 0;
}
.index .pay-info li div {
    right: 20px;
}
.index .pay-info li .bank-icon {
    left: -104px;
}
.card-list.type1 li.add .container .bank-icon{
	left: 0;
    top: 27px;
    width: 20px;
}
.arrow-rightb {
    font:14px "iconfont1";
    color:#898989;
    font-weight: bold;
    right:-16px;
}
.index .pay-info li div p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-top:5px;
}
.index .pay-info li {
    height: 52px;
}
/*支付方式对话框*/
.dialog {
    z-index: 910;
    color: #333;
}
.fullLayer {
    width: 99.8%;
    height: 100%;
	padding-bottom:10px;
    box-sizing: border-box;
}
.fixTop {
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.dialog .mask {
    opacity: 0.5;
    background-color: #000;
}

.dialog h2{
    padding:13px 0;
    text-align: center;
}
.dialog-quickly-bank .content {
    width: 100%;
    bottom: 0;
    height: 376px;
    border-radius: 0;
}
.dialog .content {
    z-index: 100;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.dialog-quickly-bank .card-listBox {
    right: 0;
    bottom: 0;
    top: 3rem;
    left: 0;
    overflow: auto;
}
.card-list.type1 li {
    margin-left: 0;
    border-width: 0;
}
.card-list li {
    position: relative;
    margin-left: .16rem;
    border-bottom: 1px solid #e4e4e4;
    height: 54px;
}
.card-list.type1 li .container {
    position: relative;
    margin-left: 13px;
    border-color: #e4e4e4;
}
.card-list.type1 li .container img{
	left: 2px;
    top: 26px;
    width: 110px;
}
.card-list .container {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.card-list .card-info {
    left: 112px;
    position: absolute;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.card-list.type1 li.add .card-info{
	left:36px;
}
.card-list .card-info .clearfix{
    padding-bottom: 4px;
}
.card-list p em,
.index .pay-info li div p em{
	background-color:#5b9fe2;
	display:inline-block;
	color:#fff;
	padding:0 5px;
	height:22px;
	line-height:21px;
	font-size:12px;
	margin-right:5px;
}
.card-list p em.credit,
.index .pay-info li div p em.credit{
	background-color:#ff7674;
}
li.active .correct{
    display: block;
}
.correct {
    font:22px "iconfont1";
    color:#40bb8c;
    right:10px;
    display:none;
}
.dialog-quickly-bank .arrow-box {
    height: 45px;
    width: 36px;
}
.arrow-left{
   font:26px "iconfont1";
   color:#898989;
}
.container .arrow-rightb{
    right:10px;
}
/*立即支付对话框*/
.dialog-confirmPay {
    overflow: hidden;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    left:0;
}
.dialog-confirmPay .abs-lmcustom-holder{
    padding-left:10px;
    color:#898989;
    margin-top:10px;
}
.dialog-confirmPay .content {
    width: 100%;
    bottom: 0;
    height: 376px;
    border-radius: 0;
    background-color: #f0f2f5;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.dialog-confirmPay .arrow-box{
    font:18px "iconfont1";
    color:#898989;
    left:10px;
}
.dialog-confirmPay .confirm-box {
    top: 68px;
    bottom: 0;
}
.code-box {
    height: 40px;
    margin-bottom: 10px;
}
.dialog-confirmPay .confirm-box .enter-box {
    z-index: 10;
    top: 0;
    bottom: 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.dialog-confirmPay .confirm-box .main-box {
    padding-bottom: .2rem;
}
.ba {
    border: 1px solid #e4e4e4;
}
.btn-count {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 85px;
    line-height: 40px;
    background-color: #ee3d3d;
    color: #fff;
    text-align: center;
}
.btn-count.disabled {
    background-color: #d6d6d6;
    color: #727272;
}
.dialog-confirmPay .confirm-box .key-box {
    height: 2.36rem;
    z-index: 100;
}
.dialog-confirmPay .confirm-box .key-box .del{
    font-size: 16px;
}
.pct100 {
    width: 100%;
}
.custom-pointer, .custom-txt span {
    background-color: #49b8ff;
    width: 2px;
    height: .16rem;
    margin-left: .02rem;
}
.custom-txt p{
    margin-left: 10px;
}
.dialog-confirmPay .confirm-box .main-box {
    padding-bottom: .2rem;
}
.keyboard {
    z-index: 900;
    height: 201px;
    background-color: #fff;
    text-align: center;
    line-height: 1;
    border-color: #d6d6d6;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -ms-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.pct100 {
    width: 100%;
}
.keyboard .symbol {
    width: 100%;
    height: 32px;
    border-color: #d6d6d6;
    background-color: #fff;
    box-sizing: border-box;
}
.bt {
    border-top: 1px solid #e4e4e4;
}
.keyboard ul {
    position: absolute;
    top: 36px;
    bottom: -4px;
    border-color: #d6d6d6;
}
.keyboard li {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    height: 25%;
    border-color: #d6d6d6;
    position: relative;
}
.keyboard.num li div {
    font-size: 22px;
    color:#535353;
    line-height: 41px;
    border-top: 1px solid #d6d6d6;
}
.keyboard li div {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    position: relative;
}
.br {
    border-right: 1px solid #e4e4e4;
}
.bl {
    border-left: 1px solid #e4e4e4;
}
.dialog-confirmPay .confirm-box .key-box {
    height: 201px;
    z-index: 100;
}
.custom-pointer,.custom-txt span {
    background-color: #49b8ff;
    width: 2px;
    height: 17px;
    margin-left: 2px;
}
.v-h{
    visibility:hidden;
}
/*添加银行卡*/
#addBnakCart {
    position: absolute;
    left: 100%;
	display:none;
    top: 0;
    z-index: 100;
    width: 100%;
}
#addBnakCart .header {
    background: #fff;
    margin: 0;
    height: 52px;
    line-height: 52px;
    position: relative;
	padding:0;
}
#addBnakCart dt {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -26px;
}
#addBnakCart i {
    font-family: iconfont1;
    font-size: 24px;
    color: #40bb8c;
    margin-left: 5px;
}
#addBnakCart .ddName {
    width: 100%;
    text-align: center;
    float: left;
    line-height: 52px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-size:18px;
}
.bg-gray{
    background-color: #B3B9C4;
}
.add-card .card-banner img {
    height: 86px;
    display: block;
    padding: 20px 0;
}
.rightCancels{
    width: 1.44rem;
    height: 1.44rem;
    right: 1.5rem;
    top: 46px;
}
.rightCancels span,
.rightCancels a{
    font:21px "iconfont1";
    color:#40bb8c;
    z-index: 10;
}
.rightCode{
	right:0;
	top:50%;
	margin-top:-20px;
}
.idcrdInfo {
    line-height: 3.4375rem;
    height: 3.4375rem;
    background: #617e97;
    color: #FFFFFF;
    padding: 0 0.9375rem;
}
.idcrdInfo .perName {
    margin-right: 1.65rem;
}
.idcrdInfo .idcardNm {
    float: right;
}
#credit-info-data{
	display:none;
}
#credit-info-cvv2{
	display:none;
}
#rj_pay{
	margin-top:20px;
}
#span-red-pay{
	top:-18px;
	left:50%;
-webkit-transform: translate(-50%,0);
   -moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	 -o-transform: translate(-50%,0);
		transform: translate(-50%,0);
	
}
#span-red-all{
	width:280px;
}