/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
    padding-bottom: 101px;
}
header h1 .delcart{
	left: auto;
    right: 0;
    top: 0;
}
header h1 .delcart span{
    color: #40bb8c;
    font-family: "iconfont1";
    font-size: 22px;
    position: absolute;
    left: auto;
    right: 10px;
    top: 50%;
    margin-top: -23px;
}
.buy_pro .cartList{
    background-color: #fff;
    margin-top: 10px;
}
.buy_pro ul li .date{
    color: #313131;
    font-size: 16px;
}
.buy_pro ul li span.buycar{
    margin: 15px 5px 15px 40px;
    width: 20px;
    height: 20px;
    background:  url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -18px;
}
.buy_pro .emptyTip{
	text-align:center;
	color:#535353;
	padding:0 10px;
	margin-top:10px;
	display:none;
}
.buy_pro .emptyTip a{
	color:#40bb8c;
}
.buy_pro h3 {
    padding: 13px 10px;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
	position:relative;
	padding-left:32px;
}
.self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.buy_pro h3 .icon-store{
	background-position:-65px -7px;
	width:16px;
	height:14px;
	margin-right:5px;
}
.pro_news{
    border-bottom: 1px dashed #eee;
    position: relative;
    padding: 10px;
}
.buy_pro span.select{
    font: 16px "iconfont1";
    color: #b5b5b5;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -12px;
}
.buy_pro h3 span.select{
	font-size:18px;
	left:8px;
	margin-top:-13px;
}
.buy_pro  ul li.current span.select,
.buy_pro h3.current span.select
{
    color:#40bb8c;
}
.news_pic{
    margin-left: 16px;
    float: left;
}
.news_pic img{
    width: 80px;
}
.news_bd{
    float: left;
    width:64%;
    color: #313131;
    line-height:22px;
	margin-left:10px;
}
.news_bd p:first-child{
	font-size:15px;
}
.news_bd p.num{
    color: #898989;
	width:103%;
}
.price em{
    font-size: 12px;
}

.all_select{
    background-color: #fff;
    height:50px;
    line-height:50px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
}
.all_select .btn a{
    width: 120px;
    height:50px;
    background-color: #ff9000;
    text-align: center;
    float: right;
    font-size: 15px;
    line-height:50px;
    color: #fff;
}
.all_select .all_slt{
    color: #313131;
}
.all_select .all_slt i{
    font:20px "iconfont1";
	color:#b5b5b5;
    margin: 8px;
}
.all_select .all_slt i.current{
     color:#40bb8c;
}
.all_pro{
    color: #313131;
    margin-left: 10px;
}
.all_pro strong{
    color: #ff4444;
    font-size: 12px;
}
.all_pro strong em{
    font-size: 16px;
}

div.buynum{
	color: #313131;
    margin-top: 8px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
	
}
div.buynum .customize{
	display: inline-block;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-left: 8px; 
	height:30px;
    vertical-align: middle;
	margin-top:5px;
}
div.buynum strong{
    font: 15px "iconfont1";
    color: #898989;
    background: #fff;
    position: relative;
    top: -1px;
	display:inline-block;
	height:32px;
	line-height: 32px;
	padding:0 8px;
	font-weight:700;
	text-align:center;
}
div.buynum strong.min{
	border-right:1px solid #dcdcdc;
}
div.buynum strong.add{
	border-left:1px solid #dcdcdc;
}
div.buynum input{
	text-align: center;
    width: 26px;
    font-size: 15px;
	position:relative;
	top:-1px;
}
div.buynum .price{
	margin-top:12px;
    float:right;
    color: #ff6262;
    font-size: 16px;
	border:0 none;
}