/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
.con{
    padding: 10px 10px 60px;
	border-top:59px solid #eee;
    background-color: #fff;
    word-wrap: break-word;
	font-size:15px;
	letter-spacing:1px;
}
.con p{
    color: #282828;
}
.con .img{
    text-align: center;
    margin:10px 0 16px 0;
}
dl.tip dt{
    color: #313131;
    margin-bottom: 10px;
}
dl.tip dd{
    color: #707070;
    text-indent: 2em;
    line-height: 24px;
}
dl.progress dt{
    color: #313131;
    line-height: 24px;
    margin-top: 10px;
}
dl.progress dd{
    color: #707070;
    margin-top: 10px;
}
dl.progress dd strong{
    color: #313131;
}
p.bottom{
    color: #888;
    margin-top: 25px;
    text-indent: 2em;
}