/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
html{
	font-size:62.5%;
}
@media screen and (max-width: 413px) and (min-width: 375px){
	/* 大于375 小于413 iphone6 */
	html{
		font-size:73.5%;
	}
}
@media screen and (min-width: 414px){
	/* 大于414 iphone 6 plus*/
	html{
		font-size:80%;
	}
}
@media screen and (min-width: 640px){
	/* 大于375 ipad*/
	html{
		font-size:105%;
	}
}
a:active{
	background:#e2e2e2;
}
.con{
	padding-bottom:50px;
	width:100%;
	max-width:640px;
	margin:0 auto;
	min-width:320px;
}
header{
	z-index:99;	
	text-align:right;
}
header .systemlogin{
	display:inline-block;
	height:26px;
	line-height:26px;
	padding:0 8px;
	margin-right:10px;
	color:#40bb8c;
	border:1px solid #40bb8c;
	border-radius:3px;
}
header .my-notice{
	display:inline-block;
	margin-right:20px;
	color:#898989;
	position: relative;
}
header .my-notice em{
	position: absolute;
    right: -13px;
    top: 11px;
    padding: 0 2px;
    background-color: #ff4444;
    color: #fff;
    border-radius: 6px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}
header .systemlogin:active{
	background-color:#40bb8c;
	color:#fff;
}
/* banner */
.focus{
    width:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
	height:auto;
	background-color:#fff;
}
#focus .hd{
	position: absolute;
    z-index: 10;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 15px;
    text-align: center;
}
#pro_focus .hd{
	position:absolute;
    z-index:1;
	right:24px;
    top:0;
    text-align:center;
}
.focus .hd ul{
    display:-moz-box;
    display:-webkit-box;
    display:box;
}
.focus .hd ul li{
	margin: 0 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    background-color: #fff;
    text-indent: -999em;
}
#pro_focus .hd ul li{
    margin: 0 2px;
    height:4px;
    border-radius:4px;
	background-color: #ccc;
}
.focus .hd ul .on{
    background-color:#40bb8c!important;
}
.focus .bd{
    position:relative;
    z-index:0;
}
.focus .bd li img{
    width:100%;
	display:block;
}
#pro_focus .bd li img{
    width:130px;
	margin:0 auto;
	display:block;
}
.focus .bd li a{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
/* 导航 */
.nav {
	margin-top:-4px;
}
.nav .nav-top{
	background-color: #fff;
}
.nav .nav-top ul li {
    float: left;
    width: 33.3%;
    text-align: center;
}
.nav .nav-top ul li a {
    width: 100%;
    display: block;
    padding: 15px 0 10px 0;
}
.nav .nav-top ul li img {
    width: 65%;
}
.nav .nav-top ul li strong {
    display: block;
    height: 30px;
    font-size: 1.4rem;
    color: #313131;
    line-height: 30px;
    text-align: center;
}
.nav .nav-top ul li p {
    font-size: 1.2rem;
    color: #898989;
}
.nav .nav-bottom{
	background-color: #fff;
	margin-top:6px;
}
.nav .nav-bottom .other{
    width:50%;
	float:left;
	box-sizing:border-box;
}
.nav .nav-bottom .other:first-child{
	border-right:1px solid #f5f5f5;
}
.nav .nav-bottom .other a{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
	padding:1rem 0 1rem 1.7rem;
	box-sizing:border-box;
}
.nav .nav-bottom .other .nav-pic img{
	width:4.4rem;
}
.nav .nav-bottom .other .nav-text{
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;  
	padding:0.5rem 0 0.5rem 0.5rem;
}
.nav .nav-bottom .other .nav-text strong{
	font-size:1.5rem;
	color:#313131;
}
.nav .nav-bottom .other .nav-text p{
	font-size:1.2rem;
	color:#898989;
}
/* 维修师加盟 */
.master{
    width: 100%;
    height: 75px;
    background-color: #fff;
    margin: 6px 0;
}
.master a{
	display:block;
	height:75px;
}
.master img{
    width: 110px;
    float: left;
    margin-left: 2px;
}
.master .word{
    float: right;
    width: 62%;
    text-align: center;
}
.word img{
    float:none;
	width:20px;
	margin-left:-8px;
	vertical-align:17px;
}
.word .word_l{
    display: inline-block;
    margin-top: 15px;
    width: 85%;
	text-align:left;
}
.word strong{
    font-size: 22px;
    font-weight: bold;
    display: block;
    color: #313131;
}
.word span{
    font-size: 14px;
    color: #a0a0a0;
	letter-spacing:0;
}
/* 商城 */
.product-mod{
	background-color:#fff;
	box-sizing:border-box;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.b_left{
	border-left:1px solid #e6e6e6;
	box-sizing:border-box;
}
.b_right{
	border-right:1px solid #e6e6e6;
	box-sizing:border-box;
}
.b_bottom{
	border-bottom:1px solid #e6e6e6;
}
.product-mod .pro-top .pro-focus{
	padding: 1rem 0 0.5rem;
}
.product-mod .pro-top .pro-focus .focus{
	width:50%;
}
.product-mod .pro-top .pro-focus .focus-intro{
	padding:3.3rem 2rem;
	
}
.product-mod .pro-top .pro-focus strong{
	font-size:2rem;
	color:#40bb8c;
	display:block;
	margin: 0.8rem 0;
}
@media screen and (max-width: 374px) and (min-width: 320px){
	.product-mod .pro-top .pro-focus strong{
		font-size:1.6rem;
	}
}
@media screen and (max-width: 321px){
	.product-mod .pro-top .pro-focus .focus-intro{
		padding:3.3rem 1.5rem;
	}
}
.product-mod .pro-top .pro-focus .p-tit{
	font-size:1.3rem;
	color:#40bb8c;
	display:inline-block;
	margin-right:0.5rem;
}
.product-mod .pro-top .pro-focus .p-intro{
	text-align: center;
    color: #535353;
    font-size: 1.3rem;
    width: 140px;
	margin:0 auto;
    height: 25px;
	line-height:25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-mod .pro-item{
	width:33.333%;
	text-align:center;
}
.product-mod .pro-item a{
	display:block;
	padding: 1.5rem 0 0.5rem;
}
.product-mod .pro-item .pro-text strong{
	font-size:1.7rem;
	color:#525252;
}
.product-mod .pro-item .pro-text p{
	font-size:1.3rem;
	color:#40bb8c;
	line-height: 26px;
}
.product-mod .pro-item .pro-text p.on{
	color:#5ebfe2;
}
.product-mod .pro-item .pro-text p.tool{
	color:#53cfb1;
}
.product-mod .pro-item .pro-pic{
	text-align:center;
}
.product-mod .pro-item .pro-pic img{
	width:80%;
	display:inline-block;
}
[class^="icon-"]{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon.png") no-repeat;
    background-size: 250px 250px; /* 注意背景图的缩放 */
}








