/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
/* html{
	height:auto;
} */
header{
	top:0!important;
}
body{
    background:url(../images/bg1.jpg);
    background-size:cover;
	padding-bottom: 50px;
}
.content{
    padding: 0 20px 10px 20px;
    background-color: #fffef5;
    border: 2px solid #663320;
    border-radius: 10px 10px 10px 10px;
    width: 74%;
    margin: 260px auto 10px;
}
.content h2{
    color: #303e3a;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}
.content h2 img{
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: -3px;
}
.content .div1 div.paragraph{
   text-indent: 2em;
   color: #6f6f6f;
   line-height: 26px;
   margin-top: 15px;
}
.content .div2 ul{
    width: 100%;
}
.content .div2 li{
    width: 47%;
    float: left;
    color: #6f6f6f;
    text-align: center;
    margin-top: 10px;
}
.content .div2 li img{
    width: 28px;
}
.content .div2 li.two img{
    width: 19px;
}
.content .div2 li.three img{
    width: 47px;
}
.content .div2 li.four img{
    width: 28px;
}
.content .div2 li.six img{
    width: 38px;
}
.content .div2 li.two,
.content .div2 li.four,
.content .div2 li.six{
    margin-left: 12px;
}
.content .div3{
    color: #6f6f6f;
}
.content .div3 p{
    margin-top: 15px;
}
.content .div4 p{
    color: #898989;
    margin-top: 15px;
}
.content .div4 p span{
    color: #383838;
    margin-right: 5px;
}
.div5 span{
    display: block;
	margin: 20px auto;
    width: 80%;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border: 1px solid #3ebb8d;
    border-radius: 15px;
	background-color: #40bb8c;
	font-size: 16px;
	letter-spacing:1px;
}
.div5 p.tips{
	padding: 0 10px;
	color: #ff9600;
}
.div5 span a{
    color: #fff;
    display: block;
}


