/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
body{
	background:#fff;
}
.con{
	border-top:54px solid #eee;
	padding:10px;
	font-size:15px;
}
.con .btn{
	width:191px;
	margin:0 auto;
}
.con a{
	width:86px;
	height:30px;
	line-height:30px;
	border-radius:8px;
	display:inline-block;
	text-align:center;
	margin:60px 0;
	color:#ffa929;
	border:1px solid #e5c390;
}
.con a:last-child{
	border-color:#9ae1c6;
	color:#40bb8c;
	margin-left:10px;
}
.con .tit {
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}
.con .tit img {
    width: 24px;
	margin-right: 5px;
}
.con .content {
    color: #b5b5b5;
    text-align: center;
    line-height: 26px;
    margin-top: 10px;
}