/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
body{
	background:#fff;
}
.con{
    background-color: #fff;
	overflow: hidden;
    padding:0 10px 60px 10px;
	border-top:59px solid #eee;
	font-size:15px;
}
.con dl{
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
	margin-bottom:0;
}
.con .IDcarstDl,
.con .businessDl,
.con .externalDl{
    height:70px;
}
.con .IDcarstDl dt,
.con .businessDl dt,
.con .externalDl dt{
	line-height:52px;
}
.con .IDcarstDl dd,
.con .businessDl dd,
.con .externalDl dd{
    position: relative;
	width:22%;
	height: 52px;
}
.con .IDcarstDl dd:nth-child(3){
    margin:0 2%;
}
.con dt{
    color: #313131;
    float: left;
	line-height:36px;
	font-weight:normal;
}
.con dd{
    float: right;
    width: 76%;
}
.con .Imgcode dd{
    width: 75%;
}
.con .formTips{
    color: #f40;
    width: 100%;
}
.con dd input{
    font:15px "微软雅黑";
    padding: 5px;
    height: 36px;
    line-height: 36px;
    width: 95%;
}
.con dl.Map dd input{
	width:39%;
}
.con dl.Map a.showmap{
	padding:0 5px;
	text-align:center;
	line-height:30px;
	height:30px;
	display:inline-block;
	background:#40bb8c;
	border-radius:5px;
	color:#fff;
	float:right;
	margin-top:3px;
}
.con dd select{
    border: 1px solid #c9c9c9;
    width: 31%;
	margin-right:2%;
	padding-left: 10px;
    height:36px;
    font:15px "微软雅黑";
    color: #313131;
}
.con dl.Imgcode,
.con dl.Newcode{
    position: relative;
}
.con dl.Imgcode dd.img,
.con dl.Newcode dd.news{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.con dl.Imgcode dd.img img{
    width: 100px;
    margin-top: 13px;
}
span.Tips{
	font-size: 12px;
	color: #535353;
}
.con dl.Newcode dd.news button{
    width: 100px;
    height: 34px;
    line-height: 34px;
    background-color: #40bb8c;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    font:14px "微软雅黑";
}
.con .introduce dd{
    float: none;
    width: auto;
	line-height:32px;
}
.con .introduce input{
    width: auto;
    height:auto;
}
.con .introduce a{
    color: #3674db;
}
.con #smscode{
	display:none;
}
.tips{
    color: #f40;
    width: 100%;
}
/*提交*/
.submit{
    width: 100%;
    text-align: center;
    
}
.submit button{
    width: 100%;
    height:100%;
    display: block;
    color:#fff;
	background-color: #40bb8c;
	height:36px;
	line-height: 36px;
    border-radius: 5px;
}
.submit button.disabled{
    background-color: #ccc;
	color: #fff;
}
.submit button:visited{
	color:#fff;
}
.subing{
	text-align: center;
	display: none;
}
.subing img{
	display: inline-block;
	width: 60%;
}

.pagetip{
    line-height: 26px;
    margin-top: 10px;
    color: #313131;
}
/* 地图 */
.dark{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	top:0;
	left:0;
	z-index:10;
	display:none;
}
.amap-container{
    overflow: hidden;
    height: 100%;
    z-index: 100;
    width: 99%;
    top: 0;
    background: #fcf9f2;
    border: 1px solid #40bb8c;
	display:none;
}
.amap-container span{
	position:absolute;
	right:5px;
	top:5px;
	opacity:1;
	font-size:14px;
	font-weight:normal;
	background:#40bb8c;
	color:#fff;
	z-index:100;
	text-shadow: 0 0 0 transparent;
	width:60px;
	text-align:center;
	border-radius:5px;
	height:28px;
	line-height:28px;
}
.amap-container span.amap-mcode{
	display: none;
}
div.pic dt{
	width:25%;
}
div.pic dd{
	width:auto;
}
div.pic dd.samllpic{
	float:left;
}
div.pic a.upload{
	padding:0 5px;
	text-align:center;
	line-height:30px;
	height:30px;
	display:inline-block;
	background:#40bb8c;
	border-radius:5px;
	color:#fff;
	float:right;
	margin-top:3px;
}
#crop-avatar{
	position: fixed;
    left: 100%;
    top: 0;
	width:100%;
	background:#fff;
	display:none;
	z-index:11;
}
header h1{
	line-height:44px;
	margin:0;
}
.col-md-9 span.off{
	position: absolute;
    right: 15px;
    top: 5px;
    background: #337ab7;
    color: #fff;
    z-index: 587;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
}
.con label{
	font-weight:normal;
	margin-right: 6px;
    margin-left: 2px;
}
#crop-avatar .avatar-btns {
    margin-top: 10px;
    margin-bottom: 0px;
}
#crop-avatar .btn-block{
	width:50%;
	margin-top:36px;
}
/* 上传图片样式 */
.Ifile {
    position: absolute;
	width: 100%;
	height: 100%;
    text-decoration: none;
    text-indent: 0;
	margin: 0;
}
.con dd .Ifile input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}
.sever_style dl dd>div{
	float:left;
}
.sever_style dl dd>div.style_door{
	margin-left:3px;
}
/* 复选框样式 */
.selectedset {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
}
.selectedset input {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%!important;
  height:100%!important;
  z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}

.selectedset span { 
	display: block;
	position: absolute;
	font:18px "iconfont1";
	color:#b5b5b5;
	top: 50%;
	left:50%;
	margin: -13px 0  0 -3px;
	z-index:1;
}
.selectedset span.checked{
	color: #40bb8c;
}

.selectedset span.unchecked{
	color: #b5b5b5;
}














