/* 
* @Author: Marte
* @Date:   2016-05-16 09:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 09:55:17
*/
/*css初始化代码*/
body{
	background-color: #fff;
}
.db{
	display: block;
}
.con .content{
	padding:0 10px;
	border-top: 10px solid #eee;
}
.con .company{
	border-bottom: 1px solid #eeeeee;
}
.con .type{
	text-align: center;
	padding:40px 10px;
}
.con .type h2{
	color: #5a5754;
	font-size: 16px;
}
.con .type h2 .icon-right{
	background-position: -151px -30px;
	width: 14px;
	height: 11px;
	margin-left: 5px;
	background-size: 250px 250px;
}
.con .type p{
	margin:10px 0;
	color: #898989;
}
.con .type img{
	width: 70%;
	display: inline-block;
}