/* 
* @Author: Marte
* @Date:   2016-04-09 17:22:09
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-04 14:23:49
*/
body{
	background-color: #fff;
}
.im{
    width: 100%;
    margin-top: 50px;
}
.im img{
    margin:50px auto 5px auto;
    display:block;
}
.im p {
    text-align: center;
    font-size: 32px;
    margin: 0;
    line-height: 41px;
    color: #f6bd42;
}
.im p.Auditing{
    font-size:16px;
    color: #898989;
}
.ti{
    width:100%;
    margin:auto;
    padding:15px 0 0 0;
    margin-top: 20px;
}
.ti h4{
    font-size:18px;
    line-height:2;
    margin:0 0 10px 0;
}
.ti p{
    font-size:14px;
    line-height:2;
    margin:0 0 10px 0;
    text-align: center;
    color: #b5b5b5;
    line-height: 20px;
}
.ti p.scale{
    width: 222px;
    height: 34px;
    border: 1px solid #dcdcdc;
    line-height: 34px;
    border-radius: 4px;
    margin: 10px auto 12px;
}
p.returnpre{
    width: 222px;
    height: 34px;
    border: 1px solid #40bb8c;
    line-height: 34px;
    border-radius: 4px;
    margin: 0 auto;
	font-size:14px;
	text-align:center;
}
p.returnpre a{
	color:#40bb8c;
}
.ti p a{
    color:#40bb8c;
}
.ti p.returnpre a,.ti p.scale a{
    color: #40bb8c;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.ti p.scale a{
    color: #b5b5b5;
}
.ti p.returnpre a:hover,.ti p.scale a:hover{
    color: #fff;
    background-color: #40bb8c;
    border-color: #40bb8c;
}
#wait{
    padding:0 2px;
    color:#e71f19;
}
.container{
    padding:0 10px;
    box-sizing: border-box;
    margin-top: 15px;
}