/* 公用 */
footer{
    height: 50px;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
	z-index:2;
    border-top: 1px solid #eee;
    width: 100%;
}
footer ul{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
footer ul li{
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
    text-align: center;
}
footer ul li.person-center strong{
    position: relative;
}
footer ul li.person-center .icons-circle{
    position: absolute;
	right:0;
	top:0;
	width: 6px;
	height: 6px;
	background-color: #ff4444;
	border-radius:50%;
}
footer ul li a{
    display: block;
    width: 100%;
	height:100%;
	padding:8px 0;
}
footer ul li a:active{
	background:#e2e2e2;
}
footer ul li strong{
   display: inline-block;
   height:24px;
}
footer ul li strong img{
	width:21px;
}
footer ul li span{
   display: block;
   font-size: 12px;
   color: #898989;
}

/* 商城 */
footer ul li strong{
	position:relative;
}
footer ul li.five .pro_num{
	position: absolute;
    padding: 1px 4px;
	right: -9px;
    top: -5px;
    font-size: 12px;
    border-radius: 8px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background-color: #ff4444;
}

/* 有新的维修店报价 */
.posA {
    position: absolute;
}
.posR {
    position: relative;
}
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    z-index: -1;
}
.posA.off {
    font-family: "iconfont1";
    font-size: 24px;
    color: #a0a0a0;
    right: 10px;
    top: 10px;
}
/* 有新的维修店报价 */
#newShopTtips .box60{
	padding:22px 0 0;
	border:1px solid #dcdcdc;
	width:68%;
	border-radius: 5px;
	box-sizing:border-box;
	left: 16%;
	top:50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #fff;
}
#newShopTtips .bd .b-pic{
	text-align: center;
}
#newShopTtips .bd .b-pic img{
	width:35%;
}
#newShopTtips .bd .b-content{
	font-size: 14px;
	color: #7f7e7e;
	line-height: 26px;
	margin:20px 0;
	text-align: center;
	padding:0 25px 0;
}
#newShopTtips .bd .btn-look{
	text-align: center;
}
#newShopTtips .bd .btn-look a{
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #40bb8c;
	background-color: #fff;
	border-top:1px solid #dcdcdc;
	border-radius: 4px;
	display: inline-block;
}
#newShopTtips .bd .btn-look a:active{
	background-color: #eee;
}