/* 
* @Author: Marte
* @Date:   2016-05-21 17:03:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 09:50:55
*/
.con_top{
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
	font-size:16px;
	letter-spacing:1px;
}
.con_top h2{
    color: #313131;
    font-size: 16px;
    margin: 10px 0;
}
.con_top .con_top_time{
    color: #b5b5b5;
}
.con_top .con_top_time .time i,.con_top .con_top_time .look i{
    font:14px "iconfont1";
	color:#b5b5b5;
    margin-right: 3px;
}
.con_top .con_top_time .look i{
	font-size:20px;
	vertical-align:-3px;
	display:inline-block;
}
.con_top .con_top_con p{
    color: #535353;
    line-height:26px;
}
.con_top .con_top_con img{
    width:100%;
    height:auto;
}
.con_top .con_top_con .add_qun{
    color: #b5b5b5;
    font-size: 14px;
    margin: 10px 0;
}
.con_top .con_top_con .add_qun a{
    width: 80px;
    height:25px;
    text-align: center;
    color: #4eca9b;
    line-height:25px;
    display: inline-block;
    border: 1px solid #40bb8c;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 8px;
}
.con_top .con_top_con .add_qun a i{
    display: inline-block;
    width: 13px;
    height: 13px;
    background:  url(../images/icon.png) -321px -16px no-repeat;
    margin-right: 5px;
    vertical-align: -1px;
}
.bespoke{
	height:36px;
	width:90px;
	line-height:36px;
	text-align:center;
	border:1px solid #ff9c00;
	border-radius:5px;
	margin:0 10px;
	display:inline-block;
}
.bespoke a{
	display:block;
	color:#ff9c00;
	font-size:16px;
}
.bespoke a:hover{
	background:#ff9c00;
	color:#fff;
}

.con_bottom{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}
.con_bottom h3{
    font-size: 16px;
    border-bottom: 1px solid #dcdcdc;
    height:46px;
    line-height: 46px;
    padding: 0 10px;
}
.con_bottom ul li{
    border-bottom: 1px solid #dcdcdc;
}
.con_bottom ul li a{
	display:block;
	padding: 15px 0;
}
.con_bottom ul li:active{
	background-color:#eee;
}
.con_bottom ul li .pic{
    float: left;
    width: 35%;
	height:80px;
	overflow:hidden;
}
.con_bottom ul li .pic img{
    width: 100%;
    height:100%;
}
.con_bottom ul li .pic_bd{
    float: right;
    width: 62%;
}
.con_bottom ul li .pic_bd strong{
    display: block;
    font-size: 16px;
}
.con_bottom ul li .pic_bd strong a{
	color: #313131;
}
.con_bottom ul li .pic_bd p{
    color: #898989;
    margin-top: 8px;
}