/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
/*分类*/
.cat{
    height: 28px;
    line-height: 28px; 
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
	padding:10px 0;
}
.cat ul li{
    width: 33%;
    float: left;
    border-left: 1px solid #eeeeee;
}
.cat ul li a{
    color: #313131;
    display: inline-block;
    width: 100%;
    height:100%;
	font-size:16px;
}
.cat ul li a:active{
	background-color:#eee;
}
.cat ul li.current a{
    color: #3fbb8d;
}
.cat ul li.last{
    width: 23%;
}

/*新闻列表*/
.news_list{
    background-color: #fff;
    width: 100%;
	margin: 10px 0 0 0;
}
.news_list li{
    
    border-bottom: 1px solid #eeeeee;
}
.news_list li a{
	display:block;
	padding:10px 10px 18px 10px;
}
.news_list li:active{
	background-color:#eee;
}
.news_list li .title{
    height:auto;
    line-height:28px;
    margin: 0 0 10px 0;
    display: block;
	font-size:16px;
}
.news_list li .title a{
    color: #505050;
	display:block;
}
.news_list li .content .pic{
    float: left;
    width: 27%;
	height:68px;
	overflow:hidden;
}
.news_list li .content .pic img{
    width: 100%;
    height:100%;
}
.news_list li .content .pic_bd{
    float: right;
    width: 70%;
    color: #707070;
	line-height:24px;
}
.news_list li .content .pic_bd .look{
    color: #b5b5b5;
    margin-top: 2px;
	font-size:12px;
}
.news_list li .content .pic_bd i{
    margin-right: 5px;
	margin-left: 5px;
    font:18px "iconfont1";
	color:#b5b5b5;
    margin-right: 3px;
    display: inline-block;
	vertical-align:-2px;
}
.news_list li .content .pic_bd i:first-child{
	margin-right:2px;
	margin-left: 0;
	vertical-align:0;
	font-size:12px;
}









