/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#fff;
}
.tipcon{
	text-align:center;
	padding:48px 10px 0;
}
.success-tip p{
	font-size: 16px;
	color: #000;
	margin: 15px 0;
}
.tipimg{
	display:block;
	margin:30px auto 0;
}
.commen_con{
	font-size:14px;
	color:#5c5c5c;
}
.comment_btn{
	width:100%;
	display:block;
	background-color:#40bb8c;
	color:#fff;
	height:32px;
	line-height:32px;
	text-align:center;
	border-radius:5px;
	margin-top:20px;
}
@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.con .bd{
	background-color: #fff;
	margin-top: 10px;
	padding:10px;
}
.bd .pic{
	border: 1px solid #e5e5e5;
	float: left;
}
.bd .pic img{
	width:50px;
}
.bd .edis{
	float: left;
	width: 78%;
	margin-left: 10px;
}
.bd .edis textarea{
	border:0 none;
	height:45px;
	width:98%;
	padding: 5px;
	resize: none;
	font:14px "微软雅黑";
}
.con{
	background-color: #fff;
}
.scale{
	width: 100%;
	text-align: center;
	padding:15px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	background-color: #fff;
	margin: 15px 0;
}
.scale div{
	width: 33%;
	float: left;
}
.scale div.zhong{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.scale span{
	display: block;
}
.scale .icon{
	font-family: "iconfont";
	font-size:20px;
	font-style: normal;
	color: #ff7800;
}
.scale .icon3{
	font-size: 18px;
}
.submit a{
	width: 93%;
	margin: 0 auto;
	display: block;
	height:40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #3ebb8d;
	border-radius: 5px;
}