/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#fff;
}
/* 物流详细 */
 .package-detail-list h2{
	 margin:15px 0;
	 font-size:16px;
	 color:#313131;
	 padding-left:20px;
 }
 .package-detail-list{
	padding:10px 20px;
	background-color:#fff;
	border:1px solid #e6e6e6;	
}
 .package-detail-list .null{
	text-align:center;
	
}
 .package-detail-list ul li{
	border-left: 1px solid #b8eed9;
    padding-left: 18px;
    position: relative;
	color:#313131;
	line-height:22px;
	padding-top:29px;
}
 .package-detail-list ul li:first-child{
	padding-top:0;
}
 .package-detail-list ul li:first-child .circle_step{
	top: 0;
}
 .package-detail-list ul li .circle_step {
    position: absolute;
    left: -6px;
	background-color:#fff;
    top: 36px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 26px;
    border:1px solid #49be91;
    border-radius: 50%;
}
/* 物流详细 */
 .more-shipping-news{
	color:#b5b5b5;
	cursor:pointer;
}
 .more-shipping-news .icon-arrow{
	width: 13px;
    height: 7px;
    background: url(../images/2016/icon.png) -200px -256px;
    display: inline-block;
	margin-left:5px;
	vertical-align:middle;
}