/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#f5f5f5;
}
.con{
	font-size: 15px!important;
	padding-bottom:98px;
}
/* 标题 */
.con h2{
    font-size: 16px;
    color: #313131;
    height:42px;
    line-height:42px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
/* 订单状态 */
.con .order_statu{
	height: 123px;
    background: linear-gradient(90deg, #ff7900, #ff9400);
    width: 100%;
    color: #fff;
    line-height: 26px;
    box-sizing: border-box;
    padding: 36px 6%;
}
.con .order_statu h3{
	font-size:18px;
}
.con .order_statu p{
	font-size:12px;
}
/* 提示 */
.order-tips {
	font-size: 12px;
	color: #898989;
	background-color: #fff;
	padding: 10px;
	position: relative;
}
.order-tips .icon-tips {
    width: 8px;
    height: 11px;
    background-position: -80px -26px;
    margin-top: 2px;
	-webkit-background-size: 220px 220px ;
	background-size: 220px 220px;
}
.order-tips .word-spac {
	width: 95%;
	padding-left: 3px;
}
/* 用户信息 */
.con .mod_news{
    background-color: #fff;
    margin-top:10px;
}
.con .mod_news p{
    padding: 5px 10px;
	position:relative;
}
.con .mod_news .master-change-price em{
    font-size: 16px;
	color: #ff4444;
	font-weight: bold;
}
.con .mod_news strong{
    color: #898989;
    width: 80px;
	font-size:14px;
	position:absolute;
}
.con .fault_news strong{
    width: 76px;
}
.con .mod_news span{
    color: #313131;
	padding-left: 80px;
	min-height: 20px;
	font-size: 14px;
}
.con .fault_news span{
    padding-left: 48px;
}
.con .mod_news span.cbdreduce{
	color:#ff4444;
}
.con .mod_news span.yfadd{
	color:#40bb8c;
}
.con .mod_news em{
	color:#313131;
}
.con .mod_news em.add{
	color:#40bb8c;
	font-size:16px;
}
.con .mod_news em.reduce{
	color:#ff4444;
	font-size:16px;
}
/* 维修店报价信息 */
.con .master_news{
    background-color: #fff;
    margin-top:10px;
}
.con .master_news .tips{
    text-align:right;
	color:#a0a0a0;
	font-size:12px;
	padding:10px;
}
.con .master_news .tips .icon-tips{
    width:10px;
	height:11px;
	background-position:-80px -31px;
}
.master_news li{
	padding:10px;
	border-bottom:1px solid #eee;
	position: relative;
}
.master_news li .order-success{
	position: absolute;
	right: 10px;
	top: -4px;
	width: 62px;
}
.master_news li .shop-img-news .circle{
	width:10px;
	height:10px;
	border:2px solid #a0a0a0;
	margin:16px 10px;
	border-radius:50%;
	display:inline-block;
}
.master_news li .shop-img-news{
	position: absolute;
	left: 10px;
	top: 10px;
}
.master_news li .shop-img-news img{
	height:45px;
	border:1px solid #eeeeee;
}
.master_news li .repairer-news{
	padding:0 92px 0 67px ;
}
.master_news li .repairer-news h3{
	font-size:17px;
	color:#535353;
	line-height:26px;
}
.master_news li .repairer-news .shop-phone,
.master_news li .repairer-news .shop-address{
	color:#898989;
	font-size:12px;
	margin-top:3px;
}
.master_news li .repairer-news .shop-address{
	display: none;
}
.master_news li.special .repairer-news .shop-address{
	display: block;
}
.master_news li .repairer-news .shop-phone .icon-phone{
	width:10px;
	height:10px;
	background-position: -44px -30px;
}
.master_news li .repairer-news .shop-address .icon-address{
	width:10px;
	height:11px;
	background-position: -62px -30px;
}
.master_news li .shop-price-news{
	position:absolute;
	right: 10px;
	top: 10px;
	width: 120px;
}
.master_news li.special .shop-price-news{
	top: 30px;
}
.master_news li .shop-price-news .distance{
	font-size:12px;
	color:#898989;
	text-align:right;
}
.master_news li .shop-price-news .price{
	font-size:18px;
	color:#ff4444;
	text-align:right;
	margin-top:5px;
}
.master_news li .shop-img-news .shop-address{
	display:none;
}
.master_news li .shop-price-news .price span{
	font-size:12px;
}
.master_news ul .special .shop-img-news .circle{
	display:none;
}
.master_news ul .special .shop-img-news .shop-address{
	display:block;
}
.master_news ul .special{
	background-color:#fbf5ec;
	padding-top:0;
}
.master_news ul .special .shop-img-news img{
	height:65px;
}
.master_news ul .special .repairer-news{
	padding: 8px 78px 0 92px;
}

/* 跟踪信息 */
.fllow_news{
	background-color:#fff;
	font-size: 14px;
	margin-top:10px;
	padding-bottom:10px;
}
.fllow_news .fllow-mod{
	position:relative;
	display:none;
}
.fllow_news .fllow-mod.current{
	display:block;
}
.fllow_news .outorin span{
    color: #898989;
    height: 42px;
    line-height: 42px;
    text-align:center;
	font-size: 14px;
	width:50%;
	float: left;
}
.fllow_news .outorin span.current{
    color: #40bb8c;
}
.fllow_news ul.dad {
    display: inline-block;
    position:absolute;
	left:0;
	top:16px;
}
.fllow_news li.on b {
    border-color: #40bb8c;
}
.fllow_news ul.dad li p {
    width: 2px;
    height: 55px;
    display: block;
    background: #dfdfdf;
}
.fllow_news ul.dad li.on p {
    background: #3fb88c;
}
.fllow_news ul.son{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: #313131;
}
.fllow_news ul.son li{
	position: relative;
	border-left:1px solid #ccc;
	padding-left:10px;
}
.fllow_news ul.son li div{
    padding-bottom: 18px;
	color:#535353;
}

.fllow_news ul.son li .circle_step{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display:block;
    margin-left: -4px;
	position:absolute;
	left:-1px;
	top:0px;
	background-color:#fff;
}
.fllow_news ul.son strong{
    color: #b5b5b5;
	display:block;
	font-weight:normal;
	font-size:12px;
}
.fllow_news ul.son li:last-child div{
    padding-bottom: 0;
}
.fllow_news ul.son li:first-child .circle_step{
    border-color:#40bb8c;
}
.fllow_news ul.son li:first-child div{
    color: #40bb8c;
}
.fllow_news ul.son li:first-child div strong{
    color: #40bb8c;
}
/* 商品信息 */
.news_lst{
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.news_lst:first-child{
    margin-bottom: 0;
}
.news_lst_tit{
	padding:10px;
}
.news_lst_tit h4{
	float: left;
}
.news_lst_tit h4 .self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.news_lst_tit .look_shipping{
	float: right;
	color:#535353;
}
.pro_news{
    background-color: #fff;
    margin-top: 10px;
}
.pro_news .pro {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    padding: 10px;
}
.pro_news .news_pic {
    float: left;
}
.pro_news .news_pic img {
    width: 70px;
}
.pro_news .news_bd {
    float: right;
    width: 72%;
    color: #313131;
    padding: 0 6px;
    line-height: 22px;
}
.pro_news .news_bd p.service{
	color:#ff4444;
}
.pro_news .news_bd p.num {
    color: #898989;
}
.pro_news .news_bd .fontRed {
    color: #ff4444;
	font-size:12px;
}
.pro_news .price_news p{
    margin:5px 0;
	padding:0 10px;
}
.pro_news .price_news p span{
    color: #535353;
}
.pro_news .AlltotalMoney{
    text-align: right;
	padding:0 10px 10px;
}
.pro_news .AlltotalMoney span{
    font-size: 18px;
	font-weight: bold;
	color: #ff4444;
}

.fix_btns{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index:99;
}
.fix_btns a{
	width: 50%;
	float: left;
	height:50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.fix_btns a.cancle{
	background-color: #c9c9c9;
}
.fix_btns a.payment{
	background-color: #ff9600;
}
/* 打印按钮 */
.btn-groups{
	text-align: center;
	margin-top: 10px;
}
.btn-groups a{
	margin:5px;
    height:32px;
    line-height:32px;
    color:#fff;
    width:29%;
    text-align:center;
	display:inline-block;
}
.btn-groups a.print{
    background-color:#a0a0a0;
}
.btn-groups a.cancle{
    background-color:#40bb8c;
}
.btn-groups a.pay{
    background-color:#ff9600;
}
.receivables{
    position: fixed;
	bottom: 0;
	left: 0;
	z-index:3;
	width:100%;
}
.receivables .receivables-btn{
	display: block;
	color:#fff;
	text-align: center;
	width:100%;
	background-color: #40bb8c;
	height:46px;
	line-height:46px;
}
/* 收款 */
.select_pay_style {
    border: 1px solid #dcdcdc;
    position: absolute;
    width: 60%;
    right: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    bottom: 50px;
    background-color: #fff;
    text-align: left;
    z-index: 10;
	display: none;
}
.select_pay_style .title {
    height: 51px;
    text-align: center;
    line-height: 51px;
    border-bottom: 1px solid #eeeeee;
}
.select_pay_style .pay {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eeeeee;
	
}
.select_pay_style .wx {
    color: #42b035;
}
.select_pay_style .wx img{
    height: 21px;
}
.select_pay_style .zfb {
    color:#07a7ef;
}
.select_pay_style a {
    display: block;
    height: 60px;
	width: 100%;
	text-align: left;
	box-sizing:border-box;
	padding-left: 15px;
}
.select_pay_style .pay img {
    vertical-align: middle;
    height: 24px;
    margin-right: 5px;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.w50{
	width:50%;
	box-sizing: border-box;
}
[class^="icon-"]{
    background-size: 250px 250px; /* 注意背景图的缩放 */
}









