/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	padding-top: 87px;
	font-size:15px;
}
.cat {
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    position: absolute;
    width: 100%;
    top: 44px;
    z-index: 88;
}
.cat ul li {
    width: 33.333%;
    float: left;
    font-size: 15px;
}
.cat ul li a {
    display:block;
}
.cat ul li a.active {
    color: #40bb8c;
}
.pro_lst li{
    background-color: #fff;
    margin-top: 10px;
}
.pro_lst li span.shopping,
.pro_lst li span.repair,
.pro_lst li span.recovery,
.pro_lst li span.vip{
    margin: 10px 5px 10px 15px;
    width: 20px;
    height: 20px;
    background:  url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -14px;
}
.pro_lst li span.repair{
    background-position:-380px -166px;
}
.pro_lst li span.recovery{
    background-position: -406px -166px;
}
.pro_lst li span.vip{
    background-position: -432px -166px;
}
.list_tit {
	height:48px;
	line-height:48px;
	color: #535353;
    background-color: #e8f3ef;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
	padding:0 10px;
	font-size:14px;
}
.list_tit .font-delete{
	font: 20px "iconfont1";
    color: #ccc;
    float: right;
    margin-top: 10px;
}
.list_tit time{
	margin-right:5px;
	font-weight:bold;
}
.self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.icon-store {
    background-position: -65px -7px;
    width: 16px;
    height: 14px;
    margin-right: 5px;
}

.pro_news a{
    padding: 10px;
	display: block;
	position: relative;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.news_bd{
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	margin-left:10px;
    color: #313131;
    line-height:22px;
}
.news_bd p:first-child{
	font-size:15px;
}
.news_bd p.num{
    color: #898989;
}
.price{
    text-align:left;
    color: #ff6262;
    margin-top: 5px;
}
.price a{
	color:#ccc;
	float:right;
	padding:0 3px;
	margin-left:10px;
	font-size:12px;
	border: 1px solid #ccc;
}
.price em{
    font-size: 12px;
}

.all_select{
    background-color: #efefef;
    height:50px;
    line-height:50px;
    position: fixed;
    bottom: 51px;
    left: 0;
    width: 100%;
}

.all_select .all_slt{
    color: #313131;
}

.all_pro{
    color: #313131;
    margin-left: 10px;
}
.all_pro strong{
    color: #ff4444;
    font-size: 16px;
}
.all_pro strong em{
    font-size: 12px;
}

.count-money {
	padding:10px 10px;
	background-color:#fff;
	border-top:1px solid #eee;
}
.count-money .order-statu{
	color:#ff9600;
	font-size:13px;
	line-height:29px;
}
.count-money .btn-groups a{
	float:right;
	width: 86px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
	margin:0 5px;
	font-size: 14px;
	background-color: #40bb8c;
}
.count-money .btn-groups .now-pay{
    background-color: #ff9000;
}
.count-money .btn-groups .eva,
.count-money .btn-groups .sign{
    border: 1px solid #c9c9c9;
    background-color: #fff;
    color: #535353;
}
/* 物流弹窗 */
.dark{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:#000;
	z-index:99;
	display:none;
}
.logistics{
	width:280px;
	margin:0 auto;
	left:50%;
	margin-left:-140px;
	top:50px;
	background-color:#fff;
	z-index:100;
	position:fixed;
	border-radius:5px;
	display:none;
}
.logistics .top{
	height:42px;
	line-height:42px;
	text-align:center;
	border-bottom:1px solid #eee;
	font-size:16px;
}
.logistics .slt{
	padding:10px;
}
.logistics .slt select{
	border:1px solid #eee;
	height:35px;
	border-radius:5px;
	font:14px "微软雅黑";
	width:100%;
	padding-left: 5px;
}
.logistics .slt input{
	height:25px;
	padding:5px;
	border-radius:5px;
	font:14px "微软雅黑";
	border:1px solid #eee;
	width:95%;
	margin-top:20px;
}
.logistics .btns{
	padding:10px;
}
.logistics .btns span{
	display:inline-block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:5px;
	background-color:#ff9600;
	float:right;
	margin-left:15px;
}
.logistics .btns span.close{
	background-color:#ccc;
}
.logistics .btns span a{
	color:#fff;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}















