/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	font-size:15px;
	padding-top:87px;
}
.cat {
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    position: absolute;
    width: 100%;
    top: 44px;
    z-index: 251;
}
.cat ul li {
    width: 33.333%;
    float: left;
    font-size: 15px;
}
.cat ul li a {
    display:block;
}
.cat ul li a.active {
    color: #40bb8c;
}
.pro_lst li{
    background-color: #fff;
    margin-top: 10px;
}
.pro_lst li span.shopping,
.pro_lst li span.repair,
.pro_lst li span.recovery,
.pro_lst li span.vip{
    margin: 10px 5px 10px 15px;
    width: 20px;
    height: 20px;
    background:  url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -14px;
}
.pro_lst li span.repair{
    background-position:-380px -166px;
}
.pro_lst li span.recovery{
    background-position: -406px -166px;
}
.pro_lst li span.vip{
    background-position: -432px -166px;
}
.list_tit {
	height:48px;
	line-height:48px;
	color: #535353;
    background-color: #e8f3ef;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
	padding:0 10px;
	font-size:14px;
}
.list_tit time{
	margin-right:5px;
	font-weight:bold;
}
.shop-name{
	padding: 13px 10px;
	background-color:#f4f4f4;
}
.shop-name h4 {
    font-size: 16px;
    position: relative;
	float:left;
}
.shop-name h4 strong{
	font-size:15px;
}
.shop-name a.contact-btn {
	float:right;
}
.shop-name a.contact-btn .icon-QQ{
	background-position:-44px -6px;
    width: 16px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.shop-name a.contact-btn .icon-office{
	background-position: -85px -8px;
    width: 14px;
    height: 12px;
    margin-right: 2px;
}
.list_tit .order-statu{
	float:right;
	color:#ff4444;
	font-size:13px;
}
.self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.icon-store {
    background-position: -65px -7px;
    width: 16px;
    height: 14px;
    margin-right: 5px;
}

.pro_news{
    position: relative;
    padding: 10px;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.news_pic{
   width: 70px;
}
.news_pic img{
   width: 70px;
}
.news_bd{
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	margin-left:10px;
    color: #313131;
    line-height:22px;
}
.news_bd p:first-child{
	font-size:15px;
}
.news_bd p.num{
    color: #898989;
}
.price{
    text-align:left;
    color: #ff6262;
    margin-top: 5px;
}
.price a{
	color:#ccc;
	float:right;
	padding:0 3px;
	margin-left:10px;
	font-size:12px;
	border: 1px solid #ccc;
}
.price a.extracts{
	border: 1px solid #ffb6b6;
    padding: 2px 6px;
	color:#ff4444;
	font-size:12px;
	margin-top:-3px;
}
.price a.customer{
	float:right;
	font-size:12px;
	border: 1px solid #ccc;
    color: #a0a0a0;
    padding: 2px 6px;
	margin-top:-3px;
	border-radius:3px;
}
.price em{
    font-size: 12px;
}
.price ins{
   color: #313131;
   text-decoration: none;
   font-size: 14px;
}

.all_select{
    background-color: #efefef;
    height:50px;
    line-height:50px;
    position: fixed;
    bottom: 51px;
    left: 0;
    width: 100%;
}

.all_select .all_slt{
    color: #313131;
}

.all_pro{
    color: #313131;
    margin-left: 10px;
}
.all_pro strong{
    color: #ff4444;
    font-size: 16px;
}
.all_pro strong em{
    font-size: 12px;
}

.btn{
	line-height:52px;
	padding:0 10px;
	color:#535353;
	border-top:1px dashed #eeeeee;
}
.btn a,.count-money a{
    width: 72px;
    height: 28px;
    line-height: 28px;
    margin: 10px 0 10px 10px;
    text-align: center;
    color: #fff;
    float: right;
    border-radius: 3px;
    background-color: #3ebb8d;
}
.count-money a{
	margin:0 5px 0 5px;
}
.btn span{
	float: right;
    font-size: 13px;
}
.btn a.close{
    background-color: #ff9c00;
}
.btn a.send{
    background-color: #ff9000;
}
.btn a.eva{
	background-color: #e6e6e6;
	border:1px solid #cdcdcd;
	color:#313131;
}

.count-money {
	padding:15px 10px;
	background-color:#fff;
	border-top:1px solid #eee;
}
.count-money .realy-pay{
	float:left;
	color:#313131;
}
.count-money .realy-pay span{
	font-size:16px;
	color:#ff6262;
}
.count-money .realy-pay span em{
	font-size:12px;
}
.count-money .now-pay{
	float:right;
	width: 72px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: #ff9000;
}

















