/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 14:51:43
*/
body{
	background-color:#fff;
}
.con{
	padding-bottom:51px;
	width:100%;
	max-width:640px;
	margin:0 auto;
	min-width:320px;
}
input::-webkit-search-cancel-button{
  display: none;
}
/* header */
header{
	z-index:251;
}
header h1 .search{
	padding:0 12%;
	width:100%;
	height:48px;
	box-sizing:border-box;
}
header h1 .search form{
	position:relative;
	z-index:0;
}
header h1 .search form input{
	width:100%;
	height:30px;
	padding: 5px 12px;
    background-color: #eee;
}
.search_bar_cancel{
	display:none;
}
.search_bar_cancel span{
	font: 16px "iconfont1";
    color: #40bb8c;
    height: 100%;
    line-height: 48px;
}
header h1 .search form em{
    font: 20px/21px "iconfont1";
    position: absolute;
    right: 2px;
    top: 13px;
    width: 30px;
    color: #898989;
}
header h1 .classify {
    position: absolute;
    right: 0;
    top: 0;
	width:12%;
	overflow:hidden;
}
header h1 .classify a{
	color:#40bb8c;
	font: 22px/21px "iconfont1";
	text-align:center;
	line-height:52px;
	display:block;
	width:100%;
}
/* banner */
#focus{
    width:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
	height:auto;
}
/*iphone 5*/
@media screen and (max-width: 374px) {
    #focus{
		height:153px;
	}
}
/*iphone 6*/
@media screen and (min-width: 375px) and (max-width: 413px) {
	#focus{
		height:178px;
	}
}
/*iphone 6 plus*/
@media screen and (min-width: 414px) and (max-width: 639px) {
	#focus{
		height:196px;
	}
}
/*ipad*/
@media screen and (min-width: 640px) {
	#focus{
		height:296px;
	}
}
#focus .hd{
    position:absolute;
    z-index:10;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom:10px;
    text-align:center;
}
#focus .hd ul{
    display:-moz-box;
    display:-webkit-box;
    display:box;
}
#focus .hd ul li{
    margin: 0 5px;
    width:8px;
    height:8px;
    border-radius: 50%;
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    background-color: #fff;
    text-indent: -999em;
}
#focus .hd ul .on{
    background:#40bb8c;
}
#focus .bd{
    position:relative;
    z-index:0;
}
#focus .bd li img{
    width:100%;
}
#focus .bd li a{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
/* 共用样式 */
.common{
	border-top:10px solid #eee;
}
.common h2{
	font-size:18px;
	color:#898989;
	margin:15px 0 15px 0;
	height:26px;
	line-height:26px;
	padding:0 8px;
}
.common h2 .more{
	float:right;
	margin-right:6px;
	font-size:14px;	
}
.common h2 .more a{
	color:#40bb8c;
}
.common h2 .bar_h2{
	display:inline-block;
	margin-right:9px;
	vertical-align:-4px;
	width:3px;
	height:22px;
	background-color:#898989;
}

.common .prolst{
    background-color: #fff;
    width: 100%;
	box-sizing:border-box;
	border-top:1px solid #f5f5f5;
}
.common .prolst li{
    border: 1px solid #f5f5f5;
    float: left;
    width:50%;
    text-align: center;
	padding: 1px 0px 0px 1px;
    height:auto;
	box-sizing:border-box;
}
.common .prolst li .pic a{
	display:block;
}
.common .prolst li img{
    width: 100%;
    text-align: center;
}
.common .prolst li .introduce{
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left:5px;
}
.common .prolst li .introduce a{
	color: #313131;
}
.common .prolst li .price{
	padding-left:5px;
}
.common .prolst li .price strong{
    font-size: 16px;
    float: left;
    color: #ff4444;
	line-height:32px;
	height: 32px;
}
.common .prolst li p.price a{
    float: right;
    font-size: 16px;
    width: 48px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #ff9c00;
    color: #ff9c00;
    margin: 10px 0;
}

.common .recommend{
	border:1px solid #f5f5f5;
	
	height:180px;
}
.common .recommend a{
	display:block;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: -webkit-flex;	 
	display: flex;
}
.common .recommend a:active{
	background-color:#eee;
}
.common .recommend .pic{
	height:180px;
	width:180px;
}
.common .recommend .pic img{
	height:180px;
}
.common .recommend .content{
	-webkit-box-flex: 1;      
	-moz-box-flex: 1;         
	width: 20%;               
	-webkit-flex: 1;          
	-ms-flex: 1;             
	flex: 1; 
	padding:35px 6px 35px 15px;
}
.common .recommend .content h3{
	font-size:18px;
	color:#313131;
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding:5px 0;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:700;
}
.common .recommend .content p{
	color:#898989;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
}
.common .recommend .content .price_c{
	color:#313131;
	font-size:14px;
	font-weight:700;
	padding:8px 0;
}
.common .recommend .content .price_c strong{
	color:#ff4444;
	font-size:18px;
	font-weight:700;
}
/* 产品小分类 */
#smlclassify{
	padding:5px 8px 10px;
}
#smlclassify ul{
	width:100%;
}
#smlclassify li{
	width: 25%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}
#smlclassify li a{
	display:block;
	padding-top:10px;
}
#smlclassify li a:active{
	background-color:#eee;
}
#smlclassify li a h3{
	line-height: 32px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
	color:#737373;
}
#smlclassify li a img{
	width: 60%;
    display: block;
    margin: 0 auto;
}
/* 新品推荐 */
#new_product .prolst li:first-child,
#new_product .prolst li:nth-child(2){
	border-top: 1px solid #f5f5f5;
}
/* 内配 */
#External h2 .bar_h2{
	background-color:#ff4444;
}
/* 外配 */
#Internal h2 .bar_h2{
	background-color:#f79619;
}
/* 二手机 */
#Second h2 .bar_h2{
	background-color:#4c94f7;
}
/* 工具 */
#Tool h2 .bar_h2{
	background-color:#40bb8c;
}
/* 大家都在搜 */
.people_search{
	padding-top:44px;
	display:none;
}
.people_search h3{
	background-color: #fff;
    text-indent: 8px;
    color: #313131;
    font-size: 12px;
    padding: 20px 0 10px 8px;
}
.people_search li{
	padding: 0 10px;
    text-align: center;
    line-height: 28px;
    background-color: #eee;
    height: 28px;
    color: #535353;
    border-radius: 4px;
    float: left;
    font-size: 12px;
    margin: 8px 12px;
}
