/* 
* @Author: Marte
* @Date:   2016-05-18 17:24:59
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 15:29:04
*/
/* 评价 */
.eva{
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 1px;
}
.eva h2{
    font-size: 16px;
    height:60px;
    line-height: 60px;
    color: #313131;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}
.eva_lst{
    padding: 12px 10px;
    color: #898989;
	border-bottom:1px solid #eee;
}
.eva_lst .top .eva-scal{
	width: 51px;
    height: 18px;
    border: 1px solid #ff7800;
    color: #ff7800;
    display: inline-block;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    float: right;
	margin-top:9px;
}
.eva_lst .top .nameandtime{
	float:left;
	width: 98px;
	line-height: 19px;
}
.eva_lst .top .nameandtime time{
	font-size:12px;
	color:#b5b5b5;
	display:block;
}
.eva_lst .top .username{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	display:block;
	color:#313131;
}
.eva_lst .top .eva-scal span{
	display:inline-block;
}
.eva_lst .top .eva-scal img{
	width: 13px;
    height: 13px;
	position:relative;
	top:1px;
}
.eva_lst .top img.user{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
	margin-right:3px;
    vertical-align: middle;
	float:left;
	margin-top: 2px;
}
.eva_lst .bottom{
    margin-top: 7px;
    color: #000;
    line-height: 25px;
}
.eva_lst .pro_news{
	color:#b5b5b5;
	font-size:14px;
	margin-top:5px;
}
.eva_lst .pro_news span{
	margin-right:20px;
	display:inline-block;
}
.eva_lst .reply{
    color: #f9a400;
	padding:10px 7px;
	box-sizing:border-box;
	color:#ff4444;
	background-color:#e6e6e6;
	margin-top:5px;
}



