/* 
* @Author: Marte
* @Date:   2016-05-18 17:24:59
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 15:29:04
*/
/* 商品信息 */
.pro_news{
    background-color: #fff;
    margin-top: 10px;
	font-size:15px;
	letter-spacing:1px;
}
.pro_news h3,.pro_relative h3{
    font-size: 16px;
    height:60px;
    line-height: 60px;
    color: #313131;
    padding: 0 15px;
}
.pro_news h3{
	border-bottom:1px solid #dcdcdc;
}
.pro_news div{
    padding: 15px 10px;
    color: #a0a0a0;
}
.pro_news div.clearfix{
    border-bottom: 1px solid #dcdcdc;
}
.pro_news div strong{
    display:block;
    color: #313131;
	margin-bottom:10px;
	font-size: 16px;
}
.pro_news div span{
    color: #898989;
    line-height: 24px;
	display:block;
}
.pro_news div span.right img{
	width:100%;
	height:auto;
	display:block;
}
.pro_news div .right span{
	color:#898989;
	float:none;
}



