/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 14:51:43
*/
body{
	background-color:#ffffff!important;
}
.con{
	padding-top:86px;
	font-size:15px;
}
input::-webkit-search-cancel-button{
  display: none;
}
/* header */
header{
	z-index:251;
}
header h1 .search{
	padding:0 12%;
	width:100%;
	height:48px;
	box-sizing:border-box;
}
header h1 .search form{
	position:relative;
	z-index:0;
}
header h1 .search form input{
	width:100%;
	height:30px;
	padding: 5px 12px;
    background-color: #eee;
}
.search_bar_cancel{
	display:none;
}
.search_bar_cancel span{
	font: 16px "iconfont1";
    color: #40bb8c;
    height: 100%;
    line-height: 48px;
}
header h1 .search form em{
    font: 20px/21px "iconfont1";
    position: absolute;
    right: 2px;
    top: 13px;
    width: 30px;
    color: #898989;
}
header h1 .classify {
    position: absolute;
    right: 0;
    top: 0;
	width:12%;
	overflow:hidden;
}
header h1 .classify a{
	color:#40bb8c;
	font: 22px/21px "iconfont1";
	text-align:center;
	line-height:52px;
	display:block;
	width:100%;
}
/*分类*/
.cat{
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	margin-bottom:10px;
	position:absolute;
	width:100%;
	top:44px;
	z-index:251;
}
.cat ul li{
    width: 24.8%;
    float: left;
    font-size: 16px;
}
.cat ul li.current{
    border-bottom:2px solid #40bb8c;
}
.cat ul li.last{
    width: 23%;
}
.cat ul li.last i{
    font-family:iconfont1;
	font-size:15px;
	color:#000;
	font-weight:600;
    margin-right: 5px;
}
.cat ul li a{
	color:#000;
}
.cat ul li.sort_price{
	display:inline-block;
}
.cat ul li span.active{
	color:#ff4444;
}
/* 综合排序 */
.show-position {
    width: 100%;
    background-color: #fff;
	position:fixed;
	z-index:251;
	top:87px;
	border-top:1px solid #eee;
	display:none;
}
.integrative-list {
    padding: 4px 8px 4px 4px;
}
.sidebar-iteam {
    position: relative;
    font-size: 0;
	text-indent:12px;
}
.integrative-list .sidebar-iteam.checked .tick {
    font-size:16px;
	font-family:"iconfont1";
	color:#40bb8c;
	position:absolute;
	right:5px;
	top:12px;
}
.integrative-list .sidebar-iteam .sort-of-brand {
    height: 38px;
    line-height:38px;
    font-size: 14px;
}
.sidebar-iteam.checked .sort-of-brand {
    color: #40bb8c;
}
.news_array span strong{
	font-size:16px;
}
/* 锁屏遮罩 */
.mjd-floor {
    height: auto;
    width: 100%;
	display:none;
}
.cover-floor {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 250;
}
/* 小图标 */
.cat ul li.sort_price span.arrow-down.active .price_icon {
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -170px 0;
    margin-left: 4px;
}
.cat ul li.sort_price span.arrow-up.active .price_icon {
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -170px -15px;
    margin-left: 4px;
}
.cat ul li.new-change-eleven span.J_ping .price_icon{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -170px -30px;
    margin-left: 4px;
}
.cat ul li.news_array span.arrow-down.active .comprehensive_icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-position: 0 -109px;
    margin-left: 4px;
}
.cat ul li.news_array span.arrow-up.active .comprehensive_icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-position: -19px -109px;
    margin-left: 4px;
}
.cat ul li.new-change-eleven span.J_ping .comprehensive_icon{
	display: inline-block;
    width: 8px;
    height: 8px;
    background-position: -9px -109px;
    margin-left: 4px;
}

.list_icon{
	display: block;
    background: url(../images/jd-sprites.png) no-repeat;
    background-size: 200px 200px;
}

/*商品列表*/
.prolst{
    background-color: #fff;
    width: 100%;
	box-sizing:border-box;
}
.prolst li{
    border: 1px solid #f5f5f5;
    float: left;
    width:50%;
    text-align: center;
	padding: 1px 0px 0px 1px;
    height:auto;
	box-sizing:border-box;
	position:relative;
}
.prolst li a{
	display: block;
	overflow:hidden;
}
.prolst li a img{
	display: block;
}
.prolst li .new,.prolst li .hot{
    width: 53px;
    height: 54px;
    background: url(../images/hot.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
	background-size:cover;
}
.prolst li .new span,.prolst li .hot span{
    width: 46px;
    height: 46px;
    display: block;
    font-size: 14px;
    color: #fff;
    transform: rotate(-45deg);
    padding: 5px 0 0 2px;
}
.prolst li .shipping {
    width: 32px;
    height: 32px;
    background: url(../images/shipping.png) no-repeat;
    position: absolute;
    bottom: 62px;
    right: 10px;
	background-size:cover;
}
.prolst li .shipping span{
	display:none;
}
.prolst li img{
    width: 100%;
    text-align: center;
}
.prolst li p.ido{
    font-size: 15px;
}
.prolst li p.ido a{
	color: #313131;
	line-height: 26px;
    height: 26px;
    overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0 5px;
}
.prolst li p.price{
	padding-left:5px;
}
.prolst li p.price strong{
    font-size: 16px;
    float: left;
    color: #ff4444;
	line-height:32px;
	height: 32px;
}
.prolst li p.price a{
    float: right;
    font-size: 16px;
    width: 48px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #ff9c00;
    color: #ff9c00;
    margin: 10px 0;
}
/*商品弹出*/
.clickbuy{
    background-color: #fff;
    position: fixed;
    overflow:auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: none;
}
.clickbuy .top{
    padding: 15px 10px;
    border-bottom: 1px solid #e5e5e5;
}
.clickbuy .top .pic{
    width: 45px;
    height: 50px;
    text-align: center;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    float: left;
}
.clickbuy .top .pic img{
    width: 45px;
}
.clickbuy .top .pic_bd{
    float: left;
    line-height: 26px;
    margin-left: 5px;
    width: 72%;
}
.clickbuy .top .pic_bd strong{
    display: block;
    color: #313131;
    font-size: 14px;
}
.clickbuy .top .pic_bd span{
    display: block;
    color: #ff4444;
    font-size: 16px;
}
.clickbuy .top .close{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    border: 1px solid #bbbbbb;
    line-height: 28px;
    float: right;
    font-weight: bold;
    color: #b5b5b5;
}

.clickbuy .middle_one{
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-bottom: 1px solid #e5e5e5;
}
.clickbuy .middle_one span{
    color: #898989;
}
.clickbuy .middle_one strong{
    color: #898989;
    float: right;
}
.clickbuy .middle_one strong em{
    color: #ff4444;
}
.clickbuy .middle_three{
    padding: 10px 10px 18px 10px;
    border-bottom: 1px solid #dcdcdc;
}
.clickbuy .middle_two p.buynum{
    color: #313131;
    margin-top: 8px;
    line-height:30px;
}
.clickbuy .middle_two em{
	display:none;
    color: #f40;
    margin-left: 10px;
}
.clickbuy .middle_two p.buynum{
    margin-bottom: 8px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}
.clickbuy .middle_two p.buynum span{
    display: inline-block;
    border: 1px solid #dcdcdc;
    overflow:hidden;
    margin-left: 7px;
    vertical-align: middle;
}
.clickbuy .middle_two p.buynum strong{
    background-color: #fff;
    color: #b5b5b5;
    font-size: 20px;
    width: 30px;
    display: inline-block;
    text-align: center;
    height: 28px;
    line-height: 26px;
}
.clickbuy .middle_two p.buynum strong.min{
    font-size: 20px;
    line-height: 28px;
}
.clickbuy .middle_two p.buynum input{
    text-align: center;
    width: 15px;
    font-size: 14px;
}
.clickbuy .middle_three div.attr strong{
    float: left;
    width: 66px;
    text-align: right;
    color: #313131;
}
.clickbuy .middle_three div.attr span{
    display: block;
    float: left;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 67px;
    line-height: 28px;
    text-align: center;
    color: #898989;
    margin: 0 0 8px 8px;
}
.clickbuy .middle_three div.attr .sdetial{
    float: left;
    width: 77%;
}
.clickbuy .middle_three div.attr span.current{
    background-color: #40bb8c;
    border:1px solid #40bb8c;
    color: #fff;
}
.clickbuy .middle_four .tips{
	padding-left:10px;
    color: #ff4444;
	display:none;
}
.clickbuy .bottom span{
    width: 50%;
    height: 45px;
    float: left;
    background-color: #e5e5e5;
    line-height: 45px;
    text-align: center;
    color: #313131;
    font-size: 16px;
}
.clickbuy .bottom span a{
    color: #313131;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.clickbuy .bottom span.buy a{
    background-color: #f6bd42;
    color: #fff;
}
/*灰色背景*/
.dark{
    width: 100%;
    height:100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 2;
    display: none;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}
/*筛选*/
.filter {
    position: fixed;
    z-index: 251;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    left: 100%;
}
.filterBx {
    width: 90%;
    margin-left: 10%;
    background: #f6f6f6;
    height: 100%;
    overflow: auto;
}
.filterBx .header {
    background: #fff;
    margin: 0;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.filterBx .header dt{
    width: 22px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -22px;
}
.filterBx .header i{
    font-family: iconfont1;
    font-size: 25px;
    color: #40bb8c;
    margin-left: 5px;
}
.filterBx .header .ddName {
    width: 80%;
    text-align: center;
    margin-right: 10%;
    float: left;
    line-height: 44px;
    font-size: 16px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .types,
.filterBx .brands,
.filterBx .models,
.filterBx .price_section{
    line-height: 28px;
    margin: 0 0 5px 0;
    background: #fff;
}
.filterBx .types dt,
.filterBx .brands dt ,
.filterBx .models dt,
.filterBx .price_section dt{
    line-height: 42px;
    margin: 0;
    color: #313131;
    padding-left: 5%;
    border-bottom: 1px solid #dfdfdf;
}
.filterBx .models dt strong{
	float:right;
	color:#f90;
	margin-right:10px;
}
.filterBx .models dt span,
.filterBx .types dt span,
.filterBx .brands dt span,
.filterBx .price_section dt span{
	color:#535353;
}
.filterBx .models dd{
    line-height: inherit;
    margin: 0;
    padding:5px;
}
.filterBx .models dd a {
    display: block;
    float: left;
    width: 47%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 2% 1%;
    font-size: 15px;
    text-align: center;
    padding:6px 0;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .models dd a.on {
    border-color: #3fbb8c;
    color: #fff;
    background: #3fbb8c;
}
.filterBx button{
	width:95%;
	display:block;
	margin:10px auto;
	height:40px;
	line-height:40px;
	background:#40bb8c;
	border-radius:3px;
	text-align:center;
	color:#fff;
	font:15px "微软雅黑";
	
}
.filterBx .price_section hr{
	width:15px;
	margin:0 5px;
	vertical-align:middle;
	display:inline-block;
}
.filterBx .price_section input{
	width:30%;
	background-color:#eee;
	height:26px;
	border-radius:3px;
	line-height:36px;
	font:14px "微软雅黑";
	padding:5px;
}
.filterBx .price_section dd{
	padding:10px 0 10px 15px;
}

.waterfllow-loading{
      z-index: 2000;
      display:none;
}
.waterfllow-loading.active{
      display:block;
}
.waterfllow-loading img.loading-progress{
      display: block;
      margin: 0 auto;
}
/* 大家都在搜 */
.people_search{
	padding-top:44px;
	display:none;
}
.people_search h3{
	background-color: #fff;
    text-indent: 8px;
    color: #313131;
    font-size: 12px;
    padding: 20px 0 10px 8px;
}
.people_search li{
	padding: 0 10px;
    text-align: center;
    line-height: 28px;
    background-color: #eee;
    height: 28px;
    color: #535353;
    border-radius: 4px;
    float: left;
    font-size: 12px;
    margin: 8px 12px;
}



















