/* 
* @Author: Marte
* @Date:   2016-05-18 17:24:59
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 15:29:04
*/
.con{
    padding-bottom: 50px;
	width:100%;
	max-width:640px;
	margin:0 auto;
	min-width:320px;
}
.show{
	display:block!important;
}
.hide{
	display:none;
}
/* banner */
.focus{
    width:100%;
    height:auto;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color: #fff;
}
/* iphone 5 */
@media screen and (max-width: 374px) {
    .focus{
		height:320px;
	}
}
/* iphone 6 */
@media screen and (min-width: 375px) and (max-width: 413px) {
	.focus{
		height:375px;
	}
}
/* iphone 6 plus */
@media screen and (min-width: 414px) and (max-width: 639px) {
	.focus{
		height:414px;
	}
}
/* ipad */
@media screen and (min-width: 640px) {
	.focus{
		height:640px;
	}
}
/* 产品展示 */
.focus .hd{
    width:100%;
    height:11px;
    position:absolute;
    z-index:1;
    bottom:5px;
    text-align:center;
}
.focus .hd ul{
    display:inline-block;
    height:5px;
    padding:3px 5px;
    background-color:rgba(255,255,255,0.7);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:0;
    vertical-align:top;
}
.focus .hd ul li{
    display:inline-block;
    width:5px;
    height:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border: 1px solid #8c8c8c;
    margin:0 5px;
    vertical-align:top;
    overflow:hidden;
}
.focus .hd ul .on{
    background:#898989;
}
.focus .bd{
    position:relative;
    z-index:0;
}
.focus .bd figure img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.focus .bd figure a{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.focus .reAsh{
    height:45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
}
.focus .reAsh span{
    width: 11px;
    height: 19px;
    background:  url(../images/icon.png) -40px -313px no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    left: 5px;
}
.focus .reAsh span.right{
    width: 23px;
    height: 22px;
    background-position: -40px -341px;
    left: auto;
    right: 5px;
}
/* 选择商品属性 */
.select_news h1{
    padding: 8px 15px;
    line-height: 32px;
    color: #000;
    font-size: 16px;
    -o-text-overflow: ellipsis;
    background-color: #fff;
}
.select_news .pro_price{
    padding: 0 0 10px 0;
	background-color: #fff;
}
.select_news .p_price em{
    font-size: 14px;
}
.select_news .p_price .batch em{
    color:#40bb8c;
	font-size:14px;
	text-indent:1em;
}
.select_news .p_price .difference{
    font-size: 14px;
	color:#898989;
	position:relative;
	top:-1px;
	margin:0 3px 0 0;
}
.select_news .p_price .batch{
    font-size:14px;
	margin-left:15px;
    color:#898989;
	font-weight:normal;
}
.select_news .pro_price p{
    color: #898989;
	margin-top:10px;
	padding: 0 10px 0;
}
.select_news .pro_price p.p_price{
    color: #ff4810;
    font-size: 18px;
	padding-bottom:10px;
	margin-top:0;
	padding: 0 15px 15px;
	border-bottom:1px dashed #dcdcdc;
}
.select_news .pro_price p.oldscreen em{
    color: #ff7b10;
}
.select_news .pro_price p.cbd em{
    color: #ff7b10;
    margin-left: 5px;
}
.select_news .pro_price p.clicktimes em{
    color: #ff7b10;
    margin-left: 5px;
}
.select_news .pro_price p .start{
	color:#c9c9c9;
	font-size:14px;
	margin:0 5px;
	display:inline-block;
}
.slt_content,
.introduce{
    color: #898989;
	margin:10px 0;
	position:relative;
}
.slt_content,
.introduce a{
	display:block;
	padding: 13px 10px;
	background-color:#FFF;
	color:#000;
	font-size:15px;
}
.slt_content em,
.introduce em{
	font:16px "iconfont1";
	position: absolute;
    right: 10px;
	top:12px;
	color:#898989;
}
.slt_content {
	cursor:pointer;
}
.slt_content .part-note-msg{
    float: left;
}
.slt_content .base-txt {
    margin-right: 30px;
}
.slt_content .base-txt,
.spec-desc .part-note-msg {
    line-height: 18px;
}
.slt_content .base-txt {
    margin-left: 34px;
    font-size: 13px;
    color: #252525;
    line-height: 15px;
}
.slt_content .part-note-msg {
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    color: #81838e;
    width: 26px;
    white-space: normal;
    height: auto;
}
.middle_three{
    padding: 10px;
    color: #898989;
	background-color: #fff;
}
.middle_three ul li{
    width: 33.3%;
    float: left;
    margin-bottom: 10px;
	color:#535353;
}
.middle_three ul li.shipping{
    width: 48%;
}
.middle_three ul li img{
    width: 26px;
    margin-right: 5px;
	display:inline-block;
    vertical-align: middle;
}
.select_news .servic{
    margin-top:10px;
	padding:10px 0;
    width: 100%;
	background-color:#fff;
}
.select_news .servic img{
    margin:0 5px 0 10px;
	display:inline-block;
    vertical-align: middle;
	width:20px;
}
.select_news .servic li{
    float: left;
	width:50%;
    line-height:36px;
	color:#898989;
}
.select_news .servic li:last-child{
    margin-right:0;
}
.select_news .servic li.middle{
    float: left;
}
/* 需要工具 */
.needtool{
    background-color: #fff;
    margin-top: 10px;
}
.needtool h2{
    height:50px;
    font-size: 18px;
    color: #000;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}
.tool_lst{
    border-bottom: 1px dashed #eee;
}
.tool_lst a{
    padding: 15px 10px;
	display: block;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.tool_lst:last-child{
	border-bottom: 0 none;
}
.tool_lst .pic img{
    width: 80px;
}
.tool_lst .pic_bd{
    float: left;
    color: #ff4810;
    font-size: 18px;
    padding-top: 15px;
    -webkit-box-flex: 1;     
	-webkit-flex: 1;         
	flex: 1; 
    margin-left: 5px;
}
.tool_lst .pic_bd strong{
    display: block;
    font-size: 14px;
	height:35px;
	color: #313131;
}
.tool_lst .pic_bd p span{
    float:left;
}
.tool_lst .pic_bd p .buy{
    float:right;
	color:#f40;
	text-decoration:underline;
	font-size:14px;
}


.pro-tab ul{
	width:100%;
	background-color:#fff;
	margin-top:10px;
}
.pro-tab ul li{
	float:left;
	width:33.3%;
	text-align:center;
	height:48px;
	line-height:48px;
	font-size:16px;
	color:#313131;
	border-bottom:1px solid #eeeeee;
}
.pro-tab ul li.current{
	color:#40bb8c;
	border-bottom-width:2px;
	border-bottom-color:#40bb8c;
	margin-top:-1px;
}
.contact-buyer{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
	margin:10px 0;
	background-color:#fff;
	padding:12px 10px;
}
.contact-buyer img{
	height:60px;
}
.contact-buyer .buyer-news{
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	margin:0 0 0 15px;
}
.contact-buyer .buyer-news h4{
	color:#000000;
	font-size:16px;
}
.contact-buyer .buyer-news a.contact-btn{
	width: 118px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    text-align: center;
    color: #535353;
    line-height: 30px;
    margin: 7px 0 0;
    display: inline-block;
}
.self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.contact-buyer .buyer-news a.contact-btn .icon-QQ{
	background-position:-44px -6px;
    width: 16px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.contact-buyer .buyer-news a.contact-btn .icon-office{
	background-position: -85px -8px;
    width: 14px;
    height: 11px;
    margin-right: 2px;
}
/* 商品信息 */
.pro_news{
    background-color: #fff;
	font-size:15px;
	letter-spacing:1px;
	display:none;
	padding-top:20px;
}
.pro_news h3,
.pro_relative h3{
    font-size: 16px;
    height:60px;
    line-height: 60px;
    color: #313131;
    padding: 0 15px;
}
.pro_news h3{
	border-bottom:1px solid #dcdcdc;
}
.pro_news h5{
	color:#a0a0a0;
	padding:0 10px;
}
.pro_news div.param{
    padding:5px 10px;
    color: #a0a0a0;
	line-height:26px;
	font-size:12px;
}
.pro_news div.param strong{
    color: #313131;
	float:left;
}
.pro_news div.param span{
    color: #666;
	float:left;
}
.pro_news div.describe{
	color:#666;
	line-height:26px;
	border-top:1px solid #dcdcdc;
	padding:10px;
}
.pro_news div.describe img{
	width: 100%;
	height:auto;
}
/* 评价 */
.eva{
    background-color: #fff;
    padding-bottom: 1px;
	display:none;
}
.eva h2{
    font-size: 16px;
    height:50px;
    line-height: 50px;
    color: #313131;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}
.eva_lst{
    padding: 12px 8px;
    color: #898989;
	border-top:6px solid #eee;
}
.eva_lst .top .eva-scal{
	width: 51px;
    height: 18px;
    border: 1px solid #ff7800;
    color: #ff7800;
    display: inline-block;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    float: right;
	margin-top:9px;
}
.eva_lst .top .nameandtime{
	float:left;
	width: 98px;
	line-height: 19px;
}
.eva_lst .top .nameandtime time{
	font-size:12px;
	color:#b5b5b5;
	display:block;
}
.eva_lst .top .username{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	display:block;
	color:#313131;
}
.eva_lst .top .eva-scal span{
	display:inline-block;
}
.eva_lst .top .eva-scal img{
	width: 13px;
    height: 13px;
	position:relative;
	top:1px;
}
.eva_lst .top img.user{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
	margin-right:3px;
    vertical-align: middle;
	float:left;
	margin-top: 2px;
}
.eva_lst .bottom{
    margin-top: 7px;
    color: #535353;
    line-height: 25px;
}
.eva_lst .pro_news{
	color:#b5b5b5;
	font-size:14px;
	margin-top:5px;
}
.eva_lst .pro_news span{
	margin-right:20px;
	display:inline-block;
}
.eva_lst .reply{
    color: #f9a400;
	padding:10px 7px;
	box-sizing:border-box;
	color:#ff4444;
	background-color:#e6e6e6;
	margin-top:5px;
}
.more{
    width: 30%;
    margin: 15px auto;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
}
.more a{
    color: #3ebb8d;
	border: 1px solid #b8e2d2;
	border-radius: 5px;
	display:block;
	width:100%;
	height:100%;
}
.more a:active{
	 color: #fff;
	 border-color:#40bb8c;
	 background-color:#40bb8c;
}
/*售后及物流*/
.server{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background-color:#fff;
	display:none;
}
.server img{
	width:22px;
	vertical-align:middle;
	margin-right:5px;
}
.server .guarantee{
	height:36px;
}
.server .guarantee div{
	float:left;
	font-size:18px;
	color:#40bb8c;
	font-weight:bold;
	height:36px;
	line-height:36px;
	margin-left:15px;
}
.server .guarantee .guarantee_two{
	margin-right:15px;
	float: right;
}
.server .dlitem{
	margin-top:20px;
}
.server dl{
	margin:20px 0;
}
.server .dlitem dt{
	font-size:16px;
	color:#40bb8c;
	margin-bottom:6px;
}
.server .dlitem dd{
	color:#535353;
	line-height:26px;
}
.server .shopping dd{
	margin-bottom:30px;
}
.server .server_tip{
	padding:20px 16px;
	background-color:#faf5ed;
	border:1px solid #efb365;
	color:#000;
}
.server .server_tip dt,
.server .server_tip dd{
	line-height:26px;
}
/* 相关商品 */
.pro_relative h3{
    font-size: 16px;
    height:50px;
    line-height: 50px;
    color: #313131;
    padding: 0 15px;
	border-bottom: 1px solid #dcdcdc;
}
.pro_relative{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
}
.prolst{
    background-color: #fff;
    width: 100%;
	box-sizing:border-box;
}
.prolst li{
    border: 1px solid #f5f5f5;
	border-top:0 none;
    float: left;
    width:50%;
    text-align: center;
	padding: 1px 0px 0px 1px;
    height:auto;
	box-sizing:border-box;
	position:relative;
	margin-left: -1px;
}
.prolst li img{
    width: 100%;
    text-align: center;
}
.prolst li p.ido{
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left:5px;
}
.prolst li p.ido a{
	color: #313131;
}
.prolst li p.price{
	padding-left:5px;
}
.prolst li p.price strong{
    font-size: 16px;
    float: left;
    color: #ff4444;
	line-height:32px;
	height: 32px;
}
.prolst li p.price a{
    float: right;
    font-size: 16px;
    width: 48px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #ff9c00;
    color: #ff9c00;
    margin: 10px 0;
}
/* 加入购物车或者购买 */
.add_car_buy{
    width: 100%;
    position: fixed;
    left: 0;
	z-index:2;
    bottom: 0px;
    height:50px;
}
.add_car_buy .join,
.add_car_buy .buy,
.add_car_buy .kefu_car{
    width: 33.3%;
    height:50px;
    display: block;
    float: left;
    line-height:50px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    color: #313131;
}
.add_car_buy .kefu_car{
	border-top:1px solid #eee;
}

.add_car_buy .buy_car{
	position:relative;
}
.add_car_buy .kefu_car i{
	position: absolute;
	padding:1px 4px;
    right: 14px;
    top: 3px;
    font-size: 12px;
    border-radius: 8px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background-color: #ff4444;
}
.add_car_buy .kefu_car a{
	width:50%;
	float:left;
	line-height:15px;
	
}
.add_car_buy .kefu_car a .block{
	display:block;
	margin-top:5px;
}
.add_car_buy .kefu_car a .art{
	line-height:24px;
	font-size:12px;
	color:#313131;
}
.add_car_buy .kefu img{
	height:20px;
}
.add_car_buy .kefu_car a img{
	height:20px;
}
.add_car_buy .join{
	background-color: #ff9600;
	color: #fff;
}
.add_car_buy .buy{
    background-color: #f40;
    color: #fff;
}
.add_car_buy span.sale,
.add_car_buy span.nostock {
	width:100%;
	height:50px;
    display: block;
	line-height:50px;
    text-align: center;
    background-color: #dcdcdc;
    font-size: 14px;
    color: #fff;
}
/*购物车*/
.buycar{
    position: fixed;
    right: 15px;
    bottom: 120px;
    z-index: 2;
}
.buycar img{
    width: 42px;
}
.buycar i{
    position: absolute;
    width: 15px;
    right: 0;
    top: 0;
    font-size: 12px;
    border-radius: 50%;
    height: 15px;
    text-align: center;
    line-height:15px;
    color: #fff;
    background-color: #ff4444;
}
/* 选择商品属性弹窗 */
.clickbuy{
    margin: 10px 0 0 0;
    background-color: #fff;
    position: fixed;
    bottom: -100%;
    left: 0;
    z-index: 101;
    width: 100%;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.goTop{
	bottom:0;
}
.clickbuy .sku-pro>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}
.clickbuy .sku-pro>div .sku-img {
    width: 97px;
    height: 76px;
    margin-right: 10px;
    position: relative;
}
.clickbuy .sku-pro>div .sku-img p {
    position: absolute;
    width: 98px;
    height: 98px;
    padding:2px;
    border-radius: 3px;
    background: #fff;
    bottom: 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    overflow: hidden;
}
.clickbuy .sku-pro>div .sku-img img {
    width: 98px;
    border-radius: 3px;
}
.clickbuy .sku-pro>div .sku-pro-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}
.clickbuy .sku-pro>div h3{
	display: block;
    color: #313131;
    font-size: 14px;
	width: 92%;
}
.clickbuy .sku-pro>div p.h{
	color: #ff4444;
    font-size: 16px;
}
.clickbuy .sku-pro>div .batch{
	display: inline;
    color: #898989;
    font-size: 14px;
}
.clickbuy .sku-pro .sku-pro-info>div{
	width:100%;
}
.clickbuy .sku-pro>div .batch em {
    color: #40bb8c;
}
.clickbuy .sku-pro .close{
	font: 16px iconfont1;
    color: #535353;
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 2px;
}
.clickbuy .middle_one{
    height:42px;
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #e5e5e5;
}
.clickbuy .middle_one span{
    color: #898989;
}
.clickbuy .middle_one span em{
    color: #f6bd42;
}
.clickbuy .middle_one strong{
    color: #898989;
    float: right;
}
.clickbuy .middle_one strong em{
    color: #ff4444;
}
.clickbuy .middle_two{
    padding:20px 10px 10px;
    border-bottom: 1px solid #dcdcdc;
}
.clickbuy .middle_two .buynum{
	margin-bottom: 60px;
}
.clickbuy .middle_two .buynum,.clickbuy .middle_two div.attribute{
    color: #313131;
    line-height:36px;
	margin-bottom: 10px;
}
.clickbuy .middle_two div.attribute{
	margin-bottom: 5px;
}
.clickbuy .middle_two .buynum .customize{
    display: inline-block;
    border: 1px solid #dcdcdc;
    overflow: hidden; 
	height:30px;
    vertical-align: middle;
	margin-top:5px;
}
.clickbuy .middle_two .buynum strong{
    font: 15px "iconfont1";
    color: #898989;
    background: #fff;
    position: relative;
    top: -1px;
	display:inline-block;
	height:32px;
	line-height: 32px;
	padding:0 8px;
	font-weight:700;
	text-align:center;
}
.buynum strong.min{
	border-right:1px solid #dcdcdc;
}
.buynum strong.max{
	border-left:1px solid #dcdcdc;
}
.clickbuy .middle_two .buynum input{
    text-align: center;
    width: 26px;
    font-size: 15px;
	position:relative;
	top:-2px;
	background:none;
}
.clickbuy .middle_two div.attribute strong{
	float:left;
	width:72px;
}
.clickbuy .middle_two div.attribute .right{
	float:left;
	width:76%;
}
.clickbuy .middle_two div.attribute span{
    display: inline-block;
    padding:0 16px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #898989;
    margin: 0 8px 8px 0px;
	height:30px;
	line-height:30px;
}
.clickbuy .middle_two div.attribute span.current{
    background-color: #40bb8c;
    border-color: #40bb8c;
    color: #fff;
}

.clickbuy .middle_three{
    padding: 10px;
    color: #898989;
}
.clickbuy .middle_three ul li{
    width: 33.3%;
    float: left;
    margin-bottom: 10px;
}
.clickbuy .middle_three ul li img{
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
}

.clickbuy .bottom .cell{
    width: 100%;
    height:50px;
    float: left;
    background-color: #f40;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
	color:#fff;
}
.clickbuy .bottom .nostock{
	background-color: #dcdcdc!important;
}
.clickbuy_tip{
	padding:0 10px;
	height:32px;
	line-height:32px;
	background-color:rgba(0,0,0,0.8);
	border-radius:5px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-59px;
	color:#fff;
	display:none;
}
/*灰色背景*/
.dark{
    width: 100%;
    height:100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 100;
    display: none;
}



