/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 14:51:43
*/
.con{
	height:100%;
}
/* header */
header h1 .cart{
    position: absolute;
    right: 20px;
    top: 3px;
    width: 30px;
    float: left;
    text-align: center;
}
header h1 .cart a{
	
}
header h1 .cart a img{
	width: 21px;
	position: static;  
    margin-left: 0; 
    margin-top: 0; 
}
header h1 .cart a .pro_num{
	position: absolute;
    right: 1px;
    top: 3px;
    font-size: 12px;
    border-radius: 8px;
    padding: 1px 4px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background-color: #ff4444;
}
/* 分类条 */
.con{
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
}
.category_tab{
	background-color:#fff;
	float:left;
	height:100%;
	overflow-y:auto;
	position:fixed;
}
.category_tab li:first{
	border-top:1px solid #e5e5e5;
}
.category_tab li{
	padding:15px 0;
	width:76px;
	text-align:center;
	border-bottom:1px solid #e5e5e5;
}
.category_tab li.cur{
	background-color:#eee;
}
.category_tab li.cur a{
	color:#f23030;
}
/* 内容 */
.category_con{
	-webkit-box-flex: 1;      
	-moz-box-flex: 1;         
	width: 20%;               
	-webkit-flex: 1;          
	-ms-flex: 1;              
	flex: 1; 
	background:#eee;
	padding-left:76px;
}
.category_common .item{
	padding: 0 10px 0 10px;
	box-sizing:border-box;
}
.category_common .item h3{
	margin:24px 0 4px 0;
	text-indent:10px;
	font-size:16px;
	color:#898989;
}
.category_con_in .item ul{
	background-color:#fff;
}
.category_con_in .item li{
	width: 33.3%;
	padding:3px;
	background-color:#fff;
    display: table;
    float: left;
    color: #535353;
    text-align: left;
	box-sizing:border-box;
}
.category_con_in li a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}
.category_con_in li a:active{
	background-color:#eee;
}























