/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 14:51:43
*/
.con{
	padding-top:0;
}
/* 头信息 */
.topnews{
    width: 100%;
    background-color: #eff9f5;
}
.topnews ul li {
    float: left;
    padding: 5px 0 0 0;
    width:18%;
    text-align: center;
    font-size: 16px;
}
.topnews ul li a{
	font-size:14px;
}
.topnews ul li:first-child{
	width:10%;
}
.topnews ul li:nth-child(2){
	width:12%;
}
.topnews ul li:first-child .return,
.topnews ul li:first-child .returnUrl {
    width: 10%;
    height: 45px;
    position: absolute;
	top:1px;
}
.topnews ul li:first-child .return span,
.topnews ul li:first-child .returnUrl a{
    color:#40bb8c;
	font-family:"iconfont1";
	font-size:30px;
	position:absolute;
	top:50%;
	margin-top:-18px;
	left:6px;
}
.topnews ul li strong{
    line-height: 20px;
	margin-top:5px;
	display:inline-block;
}
.topnews ul li span {
    display: block;
    font-size: 12px;
    color: #a0a0a0;
    height: 15px;
}
.con .bts-cdn .select dl {
    margin: 10px 0 0px 0;
	background-color:#fff;
	padding:0 10px 0 10px;
}
.con .select .one {
	text-align:center;
}
.con .select dl {
    margin: 40px 0 0px 0;
}
.con .select dl .select-style{
	color: #535353;
}
.con .select dl .select-style .select{
    width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/unselect0.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
	vertical-align: -5px;
	margin: 0 5px;
}
.con .select dl .select-style p{
	display: inline-block;
}
.con .select dl .select-style p.store{
	margin:0 0 0 20px;
}
.con .select dl .select-style p.selected span{
    background: url(../images/uselected.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
}
.con .select dt{
	font-size:16px;
	color:#292929;
	height:46px;
	line-height:46px;
	border-bottom:1px solid #eeeeee;
}
.con .select dd {
	width: 100%;
	vertical-align: top;
	border:0 none;
	line-height:45px;
}
.con .select dd.tps{
	margin: 0;
    font-size: 14px;
	color:#ff4444;
	border:0 none;
}
.con .select dd.current{
	border:0 none;
}
.con .select dd.textarea-address{
	position:relative;
}
.con .select dd.textarea-address .icon-map{
	position:absolute;
	left: 93px;
    top: 15px;
	background-position:-5px -27px;
	width:13px;
	height:17px;
}
.con .select dd.textarea-address #address{
	padding-left:20px;
	line-height:44px;
	color:#c9c9c9;
}
.con .select dd.textarea-address .icon-map{
	background-position:-22px -27px;
}
.con .select dd{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
	border-bottom:1px solid #eee;
}
.con .select dd.cart-mod{
	display:block;
	border-bottom:0 none;
}
.con .select dd.cart-mod p{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.con .select dd.cart-mod p{
	border-bottom: 1px solid #eee;
}
.con .select dd.cart-mod .payMod{
	display:none;
}
.con .select dd.cart-mod .payMod.show{
	display:block;
}
.con .select dd .receivables span{
	float: left;
    width: 50%;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.con .select dd .receivables span.current{
	color:#40bb8c;
}
.con .select dd strong{
	color:#313131;
	width:88px;
	text-align:left;
	line-height: 44px;
}
.con .select dd input,
.con .select dd textarea,
.con .select dd select,
.con .select dd .receivables,
.con .select dd #address{
   -webkit-box-flex: 1;     
	-moz-box-flex: 1;                  
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1;
	width:20%;
   height:44px;
   line-height:44px;
   border-radius:0;
   padding-left:10px;
   color:#898989;
   font:14px "microsoft yahei";
   border:0 none; 
}
/* 设置文本框placeholder颜色 */
.con .select dd input::-webkit-input-placeholder,
.con .select dd textarea::-webkit-input-placeholder {              
   color: #c9c9c9;
}
.con .select dd input:-moz-placeholder ,
.con .select dd textarea::-moz-placeholder{
	   color: #c9c9c9;
}
.con .select dd input:-ms-input-placeholder,
.con .select dd textarea::-ms-input-placeholder{
	   color: #c9c9c9;
 }
 .con .next-btn{
	 padding:0 10px;
 }
.con .next-step{
	display: inline-block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color:#ff9600;
	color:#fff;
	text-align:center;
	border-radius:3px;
	margin:25px 0;
	font-size:15px;
}

/* 绑定手机 */
.linker .rope input#img_code,
.linker .rope input#code{
	width: 224px;
}
.linker .rope #phone_login_btn,
.linker .rope #re_code{
	width: 120px;
	height: 30px;
	line-height:30px;
	display:inline-block;
	background-color: #fff;
	text-align: center;
	border: 1px solid #dcdcdc;
	cursor:pointer;
	color:#535353;
	font-size:14px;
	margin:7px 0 0 5px;
	position: absolute;
	right: 0;
	top: 0;
}
.img_code img {
    position: absolute;
	right: 0;
	top: 0;
	margin-top: 7px;
    height: 32px;
	margin-left:5px;
}

/* 重新定位 */
.reposition{
	width:100%;
	height:100%;
	position:fixed;
	background-color:#eee;
	z-index:100;
	left:0;
	top:0;
	-webkit-transform:translate3d(0,-200%,0);
	transform:translate3d(0,-200%,0);
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
}
.show-time{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.top_tit{
	height:45px;
	line-height:45px;
	text-align:center;
	background:#fff;
	font-size:16px;
	position:relative;
}
.top_tit span.close{
	position: absolute;
    top: 0;
    left: 0;
	width:40px;
    font-family:"iconfont1";
	font-size:22px;
	font-weight:700;
	color:#b5b5b5;
}
.input{
	height:45px;
	line-height:45px;
	background:#fff;
	margin-top:10px;
	padding:0 10px;
}
.input span.position img{
	height: 18px;
	vertical-align:-4px;
}
.input input{
	font:14px "微软雅黑";
	padding:5px;
	border:0 none;
	width:90%;
}
/* 当前地址和其他地址 */
.mapsearch{
    margin-top:10px;
	background:#fff;
	padding:6px 10px 10px 10px;
	display: none;
}
.mapsearch ul li{
	cursor: pointer;
	border-bottom: 1px solid #eee;
	text-align: left;
}
.mapsearch ul li.current{
	background-color: #fbfbfb;
}
.mapsearch ul li .suggest-name{
	line-height: normal;
	padding-top: 10px;
	font-size: 15px;
}
.mapsearch ul li .suggest-addr{
	line-height: normal;
	padding: 6px 0 8px 0;
	font-size: 12px;
	color: #999;
}
[class^="icon-"]{
    background-size: 250px 250px; /* 注意背景图的缩放 */
}