/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
body{
	background-color:#fff;
	font-size:15px;
}
header{
	border-bottom:1px solid #dcdcdc;
}
.options{
    margin:0;
    background-color: #fff;
}
.options dt{
    margin:0;
    color: #3ebb8d;
    background-color: #fff;
    padding:0 15px;
    line-height:30px;
    font-size:16px;
    font-weight:normal;
}
.options dt span{
    padding:0 0 0 15px;
}
.options dd{
    margin:0;
    padding:12px 16px 7px 16px;
}
.options dd span{
    display:block;
    padding:0 15px;
    border-radius:4px;
    border:1px solid #e2e2e2;
    margin:0px 5px 10px 0;
    line-height:40px;
    height:40px;
    overflow:hidden;
    color: #757575;
    float:left;
}
.options dd span.on{
    background:#3fb88c;
    color:#fff;
    border-color:#3fb88c;
}
.options dd span.mod{
    display:none;
}
.btns{
    text-align:center;
    padding:18px 0;
}
.btns button{
    width:47%;
    margin:0 1%;
    line-height:42px;
	height:42px;
    border-radius:4px;
    background:#dcdcdc;
	color:#535353;
    font-family:14px "微软雅黑";
}
.btns .reset{
}
.btns .next{
    display:none;
}
.btns .reco{
    background:#3fb88c;
    color:#fff;
    border-color:#3fb88c;
}
.empty{
	margin: 5px auto;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    text-align: center;
	color:#535353;
    width: 95%;
}






