/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
.con{
	padding-bottom:51px;
	font-size:15px;
}
.evaluate{
    background-color: #fff;
	margin-top:10px;
}
.evaluate ul{
	padding:0 10px;
}
.evaluate li{
    padding:10px 0;
	border-bottom:1px solid #eee;
}
.evaluate li:last-child{
	border:0 none;
}
.evaluate h2{
    border-bottom: 1px solid #eee;
    height:48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 10px;
    color: #313131;
}

.evaluate li .content{
	margin: 8px 0 5px 0;
}
.evaluate li .content p{
    line-height: 26px;
    color: #535353;
}

.evaluate .top .eva-scal{
	width: 51px;
    height: 18px;
    border: 1px solid #ff7800;
    color: #ff7800;
    display: inline-block;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    float: right;
	margin-top:9px;
}
.evaluate .top .nameandtime{
	float:left;
	width: 98px;
	line-height: 19px;
}
.evaluate .top .nameandtime time{
	font-size:12px;
	color:#b5b5b5;
	display:block;
}
.evaluate .top .username{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	display:block;
	color:#313131;
}
.evaluate .top .eva-scal span{
	display:inline-block;
}
.evaluate .top .eva-scal img{
	width: 13px;
    height: 13px;
	position:relative;
	top:1px;
}
.evaluate .top img.user{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
	margin-right:3px;
    vertical-align: middle;
	float:left;
	margin-top: 2px;
}












