/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
.con{
	padding-bottom:51px;
	font-size:15px;
}
.storeimg{
    position: relative;
    background:#fff;
    width:100%;
    height:90px;
    overflow:hidden;
	padding-bottom:10px;
}
.storeimg img{
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 90px;
    height: auto;
}

.storeimg .storenews{
    color: #000000;
    width: 63%;
    margin-top: 20px;
    margin-left: 112px;
}
.storeimg .storenews .icon{
	margin: 8px 0 6px;
}
.storeimg .storenews .success{
	color:#535353;
	font-size: 14px;
}
.storeimg .storenews .icon span{
	display:inline-block;
	width:39px;
	height:21px;
	background:url(../images/shopicon/authentication.png);
	color:#fff;
	font:12px "微软雅黑";
	line-height:21px;
	margin-right:6px;
	text-align:center;
	border-radius:3px;
	background-size:cover;
}
.storeimg .storenews span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.storeimg .storenews span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.storeimg .storenews span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.storeimg .storenews .icon span.notuse{
	display:none;
}
.storeimg .success strong{
    color: #ff4444;
	font-size:18px;
	padding:15px 2px 0;
}
.storeimg .storenews .shopname{
	font-size:18px;
}
.storeimg .storenews .shopname b{
	vertical-align:-2px;
}
.storeimg .storenews .shopname img{
    display:inline-block;
	width:15px;
	margin:0 1px;
	position:static;
}
.tAa{
    background-color: #fff;
	position:relative;
	padding:10px 10px 0;
}
.tAa .close{
	position:absolute;
	left:200px;
	bottom:0;
}
.tAa .close img{
	width:100px;
}
.tAa p{
    color: #313131;
    line-height: 24px;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
    display:-webkit-flex;
    -wbkit-flex-flow:row;
}
.tAa p:first-child{
	border-top: 1px solid #eeeeee;
}
.tAa p i{
    background-position:-64px -5px;
	width:12px;
	height:18px;
	margin: 5px 8px;
}
.tAa p i.icon-time{
    background-position:-80px -5px;
	width:17px;
	height:16px;
}
.tAa p i.icon-master{
    background-position:-101px -5px;
	width:15px;
	height:15px;
}
.tAa p span{
    float: left;
    -webkit-flex: 1;
}
.tAa .time i{
	font-size:14px;
	margin: 5px 8px;
}
.tAa .phone i{
	font-size:14px;
	margin: 5px 8px;
}
.introduction{
    padding: 10px;
    background-color: #fff;
    margin-top: 9px;
    line-height: 22px;
}
.introduction p{
    margin-top: 5px;
    display:-webkit-flex;
    -webkit-flex-flow:row;
}
.introduction p strong{
    color: #898989;
    float: left;
    width: 76px;
	font-size:15px;
}
.introduction p span{
    color: #313131;
    float: left;
    -webkit-flex:1;
	word-break:break-all;
}
/* .introduction  span.station{
    width:30%;
}
.introduction  span.door{
    width:30%;
}
.introduction  span.station i{
    width: 16px;
    height: 14px;
    display: inline-block;
    background:  url(../images/icon.png) -228px -181px no-repeat;
    margin-right: 5px;
}
.introduction  span.door i{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
    background:  url(../images/icon.png) -258px -181px no-repeat;
} */
.shop-tab .tab-con{
	display:none;
}
.shop-tab .block{
	display:block!important;
}
.shop-tab ul.nav-ul {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}
.shop-tab ul.nav-ul li {
    float: left;
    width: 50%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #313131;
    border-bottom: 1px solid #eeeeee;
}
.shop-tab ul.nav-ul li.current {
    color: #40bb8c;
    border-bottom-width: 2px;
    border-bottom-color: #40bb8c;
    margin-top: -1px;
}
.shop-tab .item{
	background-color:#fff;
	padding:10px;
    display: none;
}
.shop-tab .classify{
	margin: 10px 0;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}
.shop-tab .classify strong{
	font-size:15px;
	color:#313131;
	float: left;
	width: 50%;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.shop-tab .classify strong.current{
	background-color: #40bb8c;
	color:#fff;
}
/*.shop-tab .classify .icon-phone{
	background-position: -5px -5px;
    width: 11px;
    height: 17px;
    margin-right: 5px;
    vertical-align: -2px;
}
.shop-tab .classify .icon-pad{
	background-position: -20px -5px;
    width: 21px;
    vertical-align: -1px;
    margin-right: 5px;
    height: 14px;
}*/
.shop-tab .item .list-ul li{
	border:1px solid #dcdcdc;
	float:left;
	width:23.3%;
	margin:0 2% 2% 0;
	box-sizing:border-box;
	border-radius:2px;
}
.shop-tab .item .list-ul li a{
	display:block;
}
.shop-tab .item .list-ul li:nth-child(4n){
	margin-right:0;
}
.shop-tab .item .list-ul li img{
	width:60px;
	display:block;
	margin:0 auto;
}
.shop-tab .item .list-ul li.current{
	border-color:#40bb8c;
}
.shop-tab .item .model ul li{
	padding: 0 10px;
    height: 66px;
	width: 31.3%;
    line-height: 26px;
	text-align: center;
	float: left;
	border:1px solid #dcdcdc;
	margin:0 2% 2% 0;
	box-sizing:border-box;
	border-radius:2px;
	position: relative;
}
.shop-tab .item .model ul li.current{
	border-color: #40bb8c;
}
.shop-tab .item .model ul li span{
	color:#535353;
	position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
	word-break:break-all;
	padding: 0 5px;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shop-tab .item p{
	margin:10px;
}
.shop-tab .repairIpad{
	margin-top:10px;
}
.shop-tab .detialItem{
	background-color:#fff;
	padding:10px;
}
.shop-tab .detialItem p{
	word-break:break-all;
	line-height:24px;
}
.shop-tab .detialItem p img{
	max-width:100%;
}
.shop-tab .now-repair {
	margin-top: 10px;
	padding:0 10px;
}
.shop-tab .now-repair a{
	width: 46%;
	height: 38px;
    line-height: 38px;
	text-align: center;
	border-radius:3px;
	background-color: #ff9600;
	color:#fff;
	float: left;
}
.shop-tab .now-repair a#Recovery{
	float: right;
}

.evaluate{
    background-color: #fff;
	margin-top:10px;
}
.evaluate ul{
	padding:0 10px;
}
.evaluate li{
    padding:10px 0;
	border-bottom:1px solid #eee;
}
.evaluate li:last-child{
	border:0 none;
}
.evaluate h2{
    border-bottom: 1px solid #eee;
    height:48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 10px;
    color: #313131;
}
.evaluate .top .eva-scal{
	width: 51px;
    height: 18px;
    border: 1px solid #ff7800;
    color: #ff7800;
    display: inline-block;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    float: right;
	margin-top:9px;
}
.evaluate .top .nameandtime{
	float:left;
	width: 98px;
	line-height: 19px;
}
.evaluate .top .nameandtime time{
	font-size:12px;
	color:#b5b5b5;
	display:block;
}
.evaluate .top .username{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	display:block;
	color:#313131;
}
.evaluate .top .eva-scal span{
	display:inline-block;
}
.evaluate .top .eva-scal img{
	width: 13px;
    height: 13px;
	position:relative;
	top:1px;
}
.evaluate .top img.user{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
	margin-right:3px;
    vertical-align: middle;
	float:left;
	margin-top: 2px;
}

.evaluate li .content{
	margin:8px 0 5px 0;
}
.evaluate li .content p{
    line-height: 26px;
    color: #535353;
}
.loadmore{
	width:80%;
	display:block;
	height:38px;
	line-height:38px;
	text-align:center;
	margin:10px auto;
	background:#40bb8c;
	border-radius:5px;
}
.loadmore a{
	display:block;
	color:#fff;
}
[class^="icon-"]{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 200px 200px; /* 注意背景图的缩放 */
}












