/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
body{
	background-color:#fff;
}
header h1 .returnUrl a span{
	font-size:16px;
	color:#313131;
	font-family:"微软雅黑";
}
.none{
	display:none;
}
/* 正在报价 */
.loading-offer{
	text-align:center;
	margin:20px 0 20px 0;
}
.offer-introduce{
	margin-top:10px;
}
.offer-introduce p{
	color:#b0b0b0;
}
.offer-introduce p span{
	color:#ff9600;
	font-weight: bold;
}
.offer-introduce p a{
	color:#ff9600;
}
.con{
	padding-bottom:50px;
	font-size:15px;
}
/* 列表 */
.stolst li{
    background-color: #fff;
    border-top: 6px solid #eee;
    padding: 10px 10px;
	overflow:hidden;
}
.stolst li:first-child{
	border-top:0 none;
}
.stolst li:last-child{
	border-bottom:1px solid #eee;
}
.stolst li span.tip{
	display:block;
	text-align:center;
	color:#535353;
}
.lst_top {
    font-size: 16px;
    color: #313131;
	position:relative;
}
.lst_top .ordinary-store{
	width:20px;
	width: 18px;
    vertical-align: -3px;
	margin-right:5px;
}
.lst_top b.level-icon{
	margin-left: -5px;
}
.lst_top b.distance{
    color: #b5b5b5;
    position:absolute;
	right:-26px;
	top:0;
    font-weight: normal;
    font-size: 12px;
}
.lst_top b img{
	vertical-align:-3px;
	margin:0 1px;
}
.lst_top a{
	margin:0 4px 0 0;
	color:#313131;
}
.pic img{
    width: 80px;
}
.stolst .list{
	min-height:140px;
}
.stolst .sto-title{
	font-size: 16px;
    color: #000;
    height: 46px;
    padding: 5px 10px;
    border-top: 6px solid #eee;
	border-bottom: 1px solid #eee;
}
.stolst .sto-title .user-tips{
	font-size:14px;
	color:#898989;
	font-weight: normal;
}
.official h2{
	font-size:16px;
	color:#000;
	height:46px;
	line-height:46px;
	border-bottom: 1px solid #eeeeee;
	padding: 0 10px;
}
.stolst li .art{
    margin-left: 5px;
    -webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1; 
	-ms-flex: 1;
	flex: 1; 
	overflow:hidden;
}
.stolst .lst_bd{
    margin-top: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.stolst .lst_bd div.ar2{
	width:100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1; 
	-ms-flex: 1;
	flex: 1; 
}
.stolst li .art p{
    color: #898989;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	display:block;
	width:97%;
	font-size:14px;
}
.stolst li .art p .art-title{
    color: #535353;
}
.stolst li .art p.ar2{
	margin-top:-2px;
}
.stolst li .art p.shop-address{
	margin-top:0;
}
.stolst li .art span.Authentication,
.stolst li .art span.chain,
.stolst li .art span.custemers,
.stolst li .art span.guarantee{
	display: inline-block;
    width: 39px;
    height: 21px;
    background:url(../images/shopicon/authentication.png);
	background-size:cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font: 12px/21px 微软雅黑;
    border-radius: 3px
}
.stolst li .art span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.stolst li .art span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.stolst li .art span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.stolst li .ar3{
	margin-top:5px;
}
.stolst li .ar2 strong{
    color: #898989;
}
.stolst li .ar3 strong,
.stolst li .ar3 em{
    color: #ff9c00;
}
.stolst li .ar3 em{
    font-size: 18px;
    font-weight: bold;
}
.stolst li .ar3 strong{
    font-size: 12px;
}
.stolst li .ar3 span{
    color: #898989;
	font-size: 12px;
}
.stolst li .remarks{
	color:#898989;
	font-size: 14px;
	width: 110%;
}
.stolst li .remarks .art-title{
    color: #535353;
}
/*.stolst li .shop-address{
	float:left;
	width:100%;
	line-height:24px;
	color:#898989;
	margin-top:5px;
}*/
.selected{
    float: right;
}
.fl{
    float: left;
    width: 91%;
}
.selected i{
    width: 20px;
    margin-top: 43px;
    margin-right: 6px;
    height: 20px;
    display: inline-block;
	font:18px "iconfont1";
	color:#b5b5b5;
}
.official .selected i{
    margin-top: 0;
}
.selected.current i{
    color:#40bb8c;
}
.payorder{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    line-height: 45px;
    height: 45px;
    background-color: #ddd;
    z-index: 99;
    color: #535353;
	display: -webkit-flex;
    -webkit-flex-flow: row;
}
.payorder strong{
    font-size: 12px;
    color: #ff9c00;
}
.payorder span:first-child{
    margin-left: 8px;
    -webkit-flex:1;
    display: inline-block;
}
.payorder em{
    font-size: 16px;
    color: #ff9c00;
}
.payorder span:last-child{
    float: right;
    background-color: #ff9c00;
    width: 100px;
    height:45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
}


/* 邮寄官方维修 */
.official{
	border-top:6px solid #eee;
}
.official ul{
	border-top-style: solid;
	border-top-width: 3px;
	-webkit-border-image:url(../images/borderImg.jpg) 6 5 round;
	border-image:url(../images/borderImg.jpg) 6 5 round;
	padding:15px 10px;
	background-color: #f9f7f3;
}
.official .dis_repair{
	text-align:center;
	border: 0;
	-webkit-border-image:none;
	border-image:none;
	background-color: #fff;
}
.official .dis_repair li:last-child{
	border: 0;
}
.official ul li{
	color:#535353;
	line-height:24px;
}
.official ul li.last{
	padding:5px 0;
	border-top:1px solid #eee;
	line-height:24px;
}
.official ul li.last strong{
	float:left;
}
.official ul li.last strong,
.official ul li.official-address strong{
	float:left;
	color: #535353;
	font-size: 14px;
}
.official ul li.last span,
.official ul li.official-address span{
	float:left;
	width:80%;
	font-size: 14px;
}
.official ul li:first-child{
	border-bottom:1px solid #eee;
	padding: 0px 0 10px;
}
.official ul li:last-child{
	padding: 10px 0 0 0;
	border-top:1px solid #eee;
}
.official ul li:last-child span:first-child{
	color:#313131;
	float:left;
}
.official ul li:last-child span:last-child{
	float:right;
	padding-right: 15px;
}
.official ul li:last-child span em{
	color:#f40;
}
.official ul li:first-child img{
	width:24px;
	display:inline-block;
	vertical-align:-6px;
	margin-right:8px;
}
.official ul li:nth-child(4){
	padding-bottom:10px;
}
.official ul li:nth-child(2){
	padding-top:10px;
}
.official ul li strong{
	color: #535353;
	font-size: 14px;
}
.official ul li b{
	font-weight:normal;
	margin-left:13px;
}
.official ul li:nth-child(4) b{
	margin-left:3px;
}
.official .official-remark{
	padding:15px 10px;
}
.official .official-remark strong{
	font-size:15px;
	color:#000;
	display: block;
}
.official .official-remark strong .icon-tip{
	background-position: -230px -9px;
	-webkit-background-size: 250px 250px;
	background-size:250px 250px;
	width: 13px;
	height: 16px;
	margin-right:6px;
	vertical-align:0;
}
.official .official-remark span{
	color: #898989;
	font-size: 14px;
	line-height: 26px;
}
/* 没有维修店 */
.stolst .empty{
	font-size:16px;
	color:#535353;
	text-align:center;
}
.stolst .empty a{
	color:#535353;
}

