/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
html body{
    background-color: #fff;
}
.con{
	padding-top:0;
}
.con .bts-cdn{
    padding: 0 0 0 2%;
    border-top: 1px solid #dcdcdc;
	box-sizing:border-box;
}
.con .select{
    width: 100%;
}
.con dl{
    width: 100%;
    display: block;
}
.con dt{
    padding-top: 22px;
    text-align: center;
    font-size: 20px;
    color: #313131;
    margin-bottom: 20px;
	width: 100%;
}
.con dd{
    width: 31.3333%;
    height: 89px;
    margin:0 2% 2% 0;
    float: left;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    color: #535353;
    text-align: center;
	box-sizing:border-box;
	position:relative;
}
.con dd a{
	padding: 10px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
	-webkit-transform:translate(-50%, -50%) ;
	   -moz-transform:translate(-50%, -50%) ;
	    -ms-transform:translate(-50%, -50%) ;
	     -o-transform:translate(-50%, -50%) ;
	        transform:translate(-50%, -50%) ;
}
.con dd:active{
	background-color:#eee;
}
.con dd strong{
    display: inline-block;
    font-size: 15px;
}
.topnews{
    width: 100%;
    background-color: #eff9f5;
}
.topnews ul li {
    float: left;
    padding: 5px 0 0 0;
    width:18%;
    text-align: center;
    font-size: 16px;
}
.topnews ul li a{
	font-size:14px;
}
.topnews ul li:first-child{
	width:10%;
}
.topnews ul li:nth-child(2){
	width:12%;
}
.topnews ul li:first-child .return,
.topnews ul li:first-child .returnUrl {
    width: 10%;
    height: 45px;
    position: absolute;
	top:1px;
}
.topnews ul li:first-child .return span,
.topnews ul li:first-child .returnUrl a{
    color:#40bb8c;
	font-family:"iconfont1";
	font-size:30px;
	position:absolute;
	top:50%;
	margin-top:-18px;
	left:6px;
}
.topnews ul li strong{
    line-height: 20px;
	margin-top:5px;
	display:inline-block;
}
.topnews ul li span {
    display: block;
    font-size: 12px;
    color: #a0a0a0;
    height: 15px;
}