/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
.con{
	font-size:15px;
}
.con .classify a:last-child{
    border-left: 1px solid #e5e5e5;
}
/* 选择城市地区 */
.cityTown{
	background:#fff;
	padding:8px 10px;
	position:fixed;
	width:100%;
	border-top:1px solid #dcdcdc;
	box-sizing:border-box;
}
.cityTown div{
	position:relative;
	width:48%;
	float:left;
}
.cityTown div.town{
	padding-left:2%;
	border-left:1px solid #dcdcdc;
}
.cityTown div span{
	position:absolute;
	right:7px;
	font-family:iconfont1;
	font-size:14px;
	color:#707070;
	top:6px;
	background:#fff;
	height:18px;
	display:inline-block;
	width:20px;
}
.cityTown select{
	width:100%;
	height:28px;
	border:0 none;
	font:14px "微软雅黑";
}
.cityTown select option{
	font:14px "微软雅黑";
}
.lists{
	padding-top:45px;
}
.storelst li{
    background-color: #fff;
    margin-top: 10px;
	overflow:hidden;
}
.storelst li a{
    display:block;
	padding:10px;
}
.storelst li a:active{
    background-color:#eee;
}
.storelst li b img{
	vertical-align:middle; 
	width:15px;
	margin:0 1px;
}
.storelst li .tit{
    color: #313131;
}
.storelst li .tit strong{
    font-size: 16px;
}
.storelst li .tit .shop-sign {
    width: 45px;
    height: 21px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    border-radius: 3px;
    vertical-align: 1px;
    background-color: #ff3d3d;
    margin-left: 6px;
}
.storelst li .fr span.Authentication,
.storelst li .fr span.chain,
.storelst li .fr span.custemers,
.storelst li .fr span.guarantee{
	display:inline-block;
	width:39px;
	height:21px;
	background:url(../images/shopicon/authentication.png);
	color:#fff;
	font:12px "微软雅黑";
	line-height:21px;
	margin-right:6px;
	text-align:center;
	border-radius:3px;
	background-size:cover;
}
.storelst li .fr span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.storelst li .fr span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.storelst li .fr span.guarantee{
	background-image:url(../images/shopicon/authentication.png);
}
.storelst li .fr span.notuse,
.storelst li .fr span.notuse,
.storelst li .fr span.notuse,
.storelst li .fr span.notuse{
	display:none;
}
.storelst li .ordinary-store{
    width:20px;
	width: 18px;
    vertical-align: -3px;
	margin-right:5px;
}

.storelst li .bd{
    margin-top: 10px;
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
}
.storelst li .bd .pic{
    vertical-align: top;
    display: inline-block;
    width:95px;
    height:auto;
}
.storelst li .bd img{
    width: 100%;
    height:auto;
	display: block;
	border:1px solid #eee;
}
.storelst li .bd .fr{
    margin-left: 10px;
    vertical-align: top;
   -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1; 
	overflow:hidden;
}
.storelst li .bd .fr p{
    color: #535353;
    text-overflow: ellipsis;
    line-height: 20px;
    overflow: hidden;
    margin: 9px 0;
    white-space: nowrap;
}
.storelst li .bd .fr p.success strong{
	color: #ff4444;
    font-size: 19px;
    padding: 0 2px 0;
}
.storelst li .bd .fr p.comment .comment-num{
	color:#898989;
	float:left;
}
.storelst li .bd .fr p.comment .comment-num .icon-ele{
	background-position:-46px -5px;
	width:13px;
	height:12px;
	margin-right:3px;
	vertical-align:0;
}
.storelst li .bd .fr p.comment .distance{
	float:right;
	color:#b5b5b5;
	font-size:14px;
}
.storelst li .bd .fr p:first-child{
	margin:0;
}

.emptyTip{
	text-align:center;
	color:#535353;
	padding:0 10px;
	margin-top:10px;
	display:none;
}
.emptyTip a{
	color:#40bb8c;
}
/*筛选*/
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}
.filter {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left:100%;
}
.filterBx {
    width: 90%;
    margin-left: 10%;
    background: #fff;
    height: 100%;
    overflow: auto;

}
.filterBx .header {
    background: #fff;
    margin: 0;
    height: 44px;
    position: relative;
}
.filterBx .header dt{
    width: 22px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -22px;
}
.filterBx .header i{
    line-height:44px;
    font-family: iconfont1;
    font-size: 22px;
    color: #40bb8c;
}
.filterBx .gy{
    line-height: 32px;
    margin: 0 0 5px 0;
    background: #fff;
    border-top: 10px solid #eee;
}
.filterBx .gy dt {
    line-height: inherit;
    margin: 0;
    color: #313131;
    padding-left: 25px;
    border-bottom: 1px solid #dfdfdf;
}
.filterBx .gy dd {
    line-height: inherit;
    margin: 0;
    padding: 10px 25px 15px 25px;
}
.filterBx .gy dd a {
    display: block;
    float: left;
    width: 47%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin:2% 1%;
    text-align: center;
    line-height: 35px;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .gy dd a.on {
    border-color: #3fbb8c;
    color: #fff;
    background: #3fbb8c;
}
[class^="icon-"]{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 200px 200px; /* 注意背景图的缩放 */
}



