/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
.con{
	padding-bottom: 36px;
}
.topnews{
	padding:15px 0;
	background-color: #fff;
}
.topnews .chosen,
.topnews .cbd-balance{
	color:#5c5c5c;
	text-align: center;
	font-size: 15px;
	line-height:24px;
}
.topnews .cbd-balance #cbdBalance{
	color:#ff9600;
	font-size: 17px;
	font-weight: bold;
}
/* 报价信息 */
.f_left{
	float:left;
}
.release-news{
	margin-top:10px;
	position:relative;
}
.release-news .order-success{
	position: absolute;
    right: 15px;
    top: 80px;
    width: 80px;
}
.other-news{
	padding:12px 0;
	width:100%;
	background-color: #faf9f5;
}
.other-news .other-news-item{
	width:33.33333%;
	text-align:center;
	box-sizing:border-box;
}
.other-news .other-news-item:last-child{
	border:0 none;
}
.other-news .other-news-item  p{
	color:#000;
}
.other-news .other-news-item  .contact-num{
	color:#ff9600;
}
.other-news .other-news-item .icon-item{
	width:13px;
	height:13px;
	background-position:-174px -9px;
	margin-right:5px;
}
.other-news .other-news-item .item-detial{
	display:block;
}
.other-news .other-news-item .icon-item.consume{
	background-position:-152px -11px;
	width:17px;
	height:11px;
}
.other-news .other-news-item .icon-item.person{
	background-position:-192px -9px;
	width:14px;
	height:14px;
}
/* 用户需求 */

.user-demand-detial{
	margin-top:10px;
	background-color:#fff;
}
.user-demand-detial ul li{
	border-bottom:1px solid #eeeeee;
	padding:15px 10px;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
	font-size:15px;
	line-height:26px;
}
.user-demand-detial ul li .user-news:not(.user-news){
	border-bottom:1px solid #e6e6e6;
	background-color: #fff;
}
.user-demand-detial ul li .user-news-img img{
	width: 40px;
    border: 1px solid #e5e6e5;
    border-radius: 50%;
    margin-top: 2px;
    display: block;
}
.user-demand-detial ul li .user-news-intro{
	color: #313131;
    font-size: 15px;
    margin-left: 5px;
    line-height: 22px;
}
.user-demand-detial ul li .user-phone-phone{
	 font-size: 16px;
	 font-weight: bold;
}
.user-demand-detial ul li .user-phone-tips{
	  font-size: 12px;
	  color: #535353;
}
.user-demand-detial ul li .demand-title{
	margin-right:5px;
	color:#313131;
}
.user-demand-detial ul li .demand-content{
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	color:#898989;
}
.user-demand-detial ul li .content-special em{
	display: inline-block;
    margin-right: 10px;
}
.user-demand-detial ul li .demand-content .user-distance{
	color:#ff9600;
}

.user-demand-detial ul li .demand-content .user-distance .icon-map{
	background-position:-211px -8px;
	width:11px;
	height:17px;
	vertical-align:-3px;
	margin-right:5px;
}
/* 维修师报价 */
.confirm-btn{
	position:fixed;
	bottom:0;
	left:0;
	z-index:999;
	width:100%;
	text-align:center;
}
.confirm-btn .quote-btn a{
    width: 42%;
	text-align:center;
    height: 48px;
    background-color: #ff9600;
    color: #fff;
    line-height: 48px;
    font-size: 16px;
	float: left;
}
.confirm-btn .quote-btn .reduce-cbd{
    width: 58%;
	text-align:left;
	padding-left: 10px;
    height: 48px;
	box-sizing:border-box;
    background-color: #626262;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
	float: left;
}
.confirm-btn .quote-btn .reduce-cbd .discount{
    margin-top: 6px;
}
.confirm-btn .quote-btn .reduce-cbd #reduceNum{
    font-size: 17px;
	color: #ff9600;
	font-weight: bold;
}
.confirm-btn .quote-btn .reduce-cbd .original{
	font-size: 12px;
	padding-left: 47px;
	box-sizing:border-box;
	opacity:0.6;
}
.confirm-btn .quote-btn .reduce-cbd #primaryNum{
	text-decoration:line-through;
}
.confirm-btn .quote-btn #quoteBtnEd{
	background-color: #ccc;
}
.fixTop {
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fullLayer {
    width: 100%;
    height: 100%;
}
.z1000 {
    z-index: 1000;
}
.dn{
	display:none;
}
.menu {
    background-color: rgba(0, 0, 0, 0.6);
}
.fixBottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	-webkit-transition:all 1s;
	transition:all 1s;
}
.pct100 {
    width: 100%;
}
.quote-content .user-tips{
	padding:10px;
	background-color:#fff;
}
.quote-content .user-sever{
	margin-top: 10px;
	padding: 10px 10px 0;
	background-color:#fff;
}

#quote {
	margin-top: 10px;
}
.quote-empty{
	display:none;
}
#quote .quote-input {
    width: 91%;
    height: 50px;
	line-height:50px;
    border: 2px solid #ff9600;
    font-size: 18px;
	box-sizing:border-box;
	padding:5px 10px;
	color:#ff9600;
	font-weight: bold;
}
/* 设置文本框placeholder颜色 */
#quote input.quote-input::-webkit-input-placeholder {              
   color: #f6cb8f;
   font-weight: normal;
}
#quote input.quote-input:-moz-placeholder {
	color: #ff9600;
	font-weight: normal;
}
 #quote input.quote-input::-moz-placeholder{
	color: #ff9600;
	font-weight: normal;
}
 #quote input.quote-input:-ms-input-placeholder {
	color: #f6cb8f;
	font-weight: normal;
 }
#quote select {
    height: 46px;
    font: 14px "微软雅黑";
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin: 15px 0 0;
	width:91%;
    color: #313131;
	padding-left: 10px;
	box-sizing:border-box;
	background: url(../images/arrow.png) right -3px no-repeat;
	-webkit-background-size: 35px 48px;
	background-size: 35px 48px ;
}
#quote .remarks {
    height: 46px;
    font: 14px "微软雅黑";
    border: 1px solid #dcdcdc;
    border-radius: 2px;
	width:91%;
    color: #313131;
	padding-left: 10px;
	box-sizing:border-box;
	margin-top: 15px;
}
#quote select option{
    color: #898989;
}
#quote .user-sever .door-repair{
	height: 46px;
	line-height: 46px;
	font-size: 16px;
}
#quote .user-sever .door-repair .select{
    width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/unselect.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
	vertical-align: -5px;
}
#quote .user-sever .door-repair .selected{
    background: url(../images/uselected.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
}
#quote .user-tips .quote-tips{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
#quote .user-tips .quote-tips .icon-tips{
	width: 10px;
    height: 14px;
    background-position: -91px -29px;
    margin-right: 3px;
    margin-top: 2px;
}
#quote .user-tips .quote-tips .word-tips{
	color: #898989;
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	font-size: 13px;
}

[class^="icon-"] {
    background-size: 250px 250px;
}
/* 草包豆充值 */
.rechange-content{
	background-color:#fff;
	padding:10px;
}
.rechange-content h4{
	font-size: 16px;
	color:#000;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.rechange-content h4 .icon-warm{
	width: 18px;
	height: 18px;
	background-position: -123px -28px;
	margin-right: 5px;
	vertical-align:-3px;
}
.rechange-content .Rcontent .slt-tit{
	font-size: 15px;
	color:#313131;
	margin-top: 15px;
}
.rechange-content .Rcontent .slt-tit span{
	font-size: 13px;
	color:#a0a0a0;
}
.rechange-content .Rcontent ul li{
	height: 49px;
	line-height: 49px;
	padding: 0 10px;
	box-sizing:border-box;
	border: 1px solid #dcdcdc;
	color: #313131;
	margin-top: 12px;
	border-radius:2px;
	position: relative;
}
.rechange-content .Rcontent ul li p{
	display: inline;
}
.rechange-content .Rcontent ul li .sign{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.rechange-content .Rcontent ul li.current{
	border-color:#ff4444;
	border-width:2px;
}
.rechange-content .Rcontent ul li .cbdval{
	font-size: 17px;
	color: #ff4444;
	font-weight: bold;
}
.rechange-content .Rcontent ul li .giveval{
	font-size: 15px;
	color: #ff4444;
}
.rechange-content .Rcontent .rechange-btn{
	margin-top: 12px;
}
.rechange-content .Rcontent .rechange-btn a{
	height: 49px;
	line-height: 49px;
	text-align: center;
	background-color: #ff4444;
	color:#fff;
	border-radius:2px;
	display: block;
}
.rechange-content .Rcontent #rechangeTips{
	text-align: center;
	color:#FF4444;
	display: none;
	margin-top: 5px;
}
/* 维修师报价列表 */
.offer-empty{
	display:none;
}
.offer-list{
	margin: 10px 0 0;
	background-color: #fff;
	padding-bottom: 20px;
}
.offer-list h3{
	color: #000;
	padding:10px;
	font-size: 15px;
}
.offer-list .offer-content{
	padding:10px;
	position: relative;
	border-bottom: 1px solid #eee;
}
.offer-list .offer-content .order-success{
	width: 66px;
	right: 10px;
	top: 0;
	position: absolute;
}
.offer-list .bd-offer-success{
	background-color: #fbf5ec;
}
.offer-list .offer-content .pic{
	width: 60px;
	left:10px;
	top:10px;
	position:absolute;
}
.offer-list .offer-content .pic img{
	width: 100%;
}
.offer-list .offer-content .content{
	padding:0 75px 0 70px;
}

.offer-list .offer-content .content .name{
	margin-bottom: 5px;
}
.offer-list .offer-content .content .name a{
	font-size: 15px;
	color: #000;
}
.offer-list .offer-content .content p{
	color: #898989;
	font-size: 13px;
}
.offer-list .offer-content .content p.remarks{
	height: 19px;
	text-overflow:ellipsis;
	overflow:hidden;
	position: relative;
	word-wrap:break-word;
}
.offer-list .offer-content .content p.cur{
	height: auto;
}
.offer-list .offer-content .content p.remarks .more{
	color: #778adb;
	position: absolute;
	bottom:0;
	right:0;
	background-color: #fff;
	display: none;
}
.offer-list .bd-offer-success .content p.remarks .more{
	background-color: #fbf5ec;
}
.offer-list .offer-content .content p.remarks .more b{
	color: #898989;
}
.offer-list .offer-content .content p span{
	color: #535353;
}
.offer-list .offer-content .price{
	right:10px;
	top:22px;
	position:absolute;
}
.offer-list .offer-content .price .style{
	color: #b5b5b5;
}
.offer-list .offer-content .price .money{
	font-size: 15px;
	color: #ff4444;
}












