/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img,input,span{ margin:0; padding:0; }
body{
	font-size: 14px;
	font-family: "Microsoft YaHei","宋体","黑体",Arial,Helvetica,sans-serif;
	-webkit-overflow-scrolling: touch;overflow-scrolling: touch;
	background-color: #eeeeee;
}
input,button{ border:0 none; outline-style:none;}
button{font:14px "微软雅黑";}
h1, h2, h3, h4, h5, h6,strong{ font-size:14px; font-weight:normal;}
i,em{ font-style:normal;}
fieldset,img{ border:0 none;}
ul, ol { list-style:none; }
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }  
a{text-decoration:none;color: #707070;}
 select, input[type="text"], input[type="tel"],input[type="password"], textarea { font-size:12px; margin:0; box-shadow:none;-webkit-appearance: none;}/* iphone，ipad */
.clearfix{*zoom:1}
.clear{clear:both;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
@font-face {
	font-family: 'iconfont1';
	src: url('../font/font1/iconfont.eot'); /* IE9*/
	src: url('../font/font1/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/font1/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/font1/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/font1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.con{
	padding-top:48px;
	padding-bottom:48px;
	margin-top:0!important;
}
header{
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
	z-index:99;
	top: 0;
    left: 0;
	border-bottom:1px solid #eee;
}
header img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -12px;
    width: 80px;
}
header img.position{
    left: auto;
    right: 64px;
    top: 17px;
    margin: 0;
    width: 10px;
}
header h1 div:not(.search){
    width: 12%;
    height:48px;
    position: absolute;
	z-index:1;
}
header h1 div:not(.search):active{
	background-color:#40bb8c;
}
header h1 div:not(.search):active span,
header h1 div:not(.search):active a{
	color:#fff;
}
header h1{
    font-size: 18px;
    color: #313131;
}
header h1 .return,
header h1 .returnUrl{
  left: 0;
  top: 0;
}
header h1 input{
	font:15px "微软雅黑"!important;
}
header h1 .select,header h1 .share,header h1 .shareapp{
  left: auto;
  right: 0;
  top: 0;
}
header h1 .return span,
header h1 .returnUrl a{
    color:#40bb8c;
	font-family:"iconfont1";
	font-size:26px;
}
header h1 .select span{
    color:#40bb8c;
	font-family:"iconfont1";
	font-size:22px;
	font-weight:bold;
}
header h1 .share span,header h1 .shareapp span{
    color:#40bb8c;
	font-family:"iconfont1";
	font-size:25px;
}
/* 强制隐藏客服样式 */
#newBridge{
	display:none!important;
}
.span-red-tips{
	color:#ff4444;
	font-size:12px;
	text-align:center;
	margin-top:10px;
	display:block;
}

/*分享弹出*/
.sharesocil {
    background-color: rgba(0, 0, 0, 0.6);
	display:none;
}
.fixTop {
    position: fixed;
    left: 0;
    top: 0;
}
.fixBottom {
    position: fixed;
    left: 50%;
    bottom: -192px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.sharesocil .feature,.sharesocil .fcancel{
    border-radius: 10px;
    width: 94%;
    margin: 0 auto;
    background-color: #fff;
	font-size:12px;
}
.sharesocil .fcancel {
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #40bb8c;
	font-size:16px;
}
.sharesocil .fcancel:active{
	background-color:#eee;
}
.sharesocil .feature li {
    text-align: center;
	float:left;
	width:25%;
}
.sharesocil .feature li a{
    display:block;
	padding:28px 10px 28px 10px;
}
.sharesocil .feature li a:active{
	background-color:#eee;
}
.sharesocil .feature li img{
	display:block;
	width:55px;
	border-radius:8px;
	margin:0 auto;
}
.sharesocil .feature li p{
	text-align:center;
	color:#000;
	letter-spacing:0;
	margin-top:3px;
}
.pct100 {
    width: 100%;
}
.bt {
    border-top: 1px solid #ebebeb;
}

.ptb20r {
    padding: 10px 0;
 }
.fullLayer {
    width: 100%;
    height: 100%;
}
.z10 {
    z-index: 999;
}
.input_common{
    width: 100%;
    height: 42px;
    font: 14px "微软雅黑";
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: none !important;
    background: #fff;
	box-sizing:border-box;
}
.input_short{
	width: 50%;
}
.input_code{
	float:left;
}
.button_common{
    width: 100%;
    padding: 0;
    text-align: center;
    line-height: 40px;
    border: 0;
    border-radius: 4px;
    background: #3fb88c;
    color: #fff;
    cursor: pointer;
}
.button_code{
	background: #3fb88c;
	color:#fff;
	border:1px solid #3fb88c;
	width:45%;
	float:right;
	vertical-align:top;
}
[class^="icon-"]{
    display: inline-block;
    vertical-align: 0;
    background: url("../images/icon.png") no-repeat;
    background-size: 200px 200px; /* 注意背景图的缩放 */
}






