/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.pro_lst ul li{
    background-color: #fff;
    margin-top: 10px;
}
.pro_lst ul li .date{
    color: #313131;
    font-size: 14px;
}
.pro_lst ul li .date strong{
    float: right;
    color: #ff4d5a;
    line-height:40px;
    margin-right: 10px;
}
.pro_lst ul li span.service{
    margin: 10px 5px 10px 15px;
    width: 20px;
    height: 20px;
    background:  url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -14px;
}
.pro_news{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    padding: 10px;
}
.select{
    background:  url(../images/icon.png) -367px -144px no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}
.news_pic{
    float: left;
}
.news_pic img{
    width: 70px;
}
.news_bd{
    float: right;
    width:72%;
    color: #313131;
    line-height:22px;
}
.news_bd p.num{
    color: #898989;
}
.price{
    text-align:left;
    color: #ff6262;
    margin-top: 5px;
}
.price a{
	color:#ccc;
	float:right;
	margin-right:5px;
	font-size:12px;
}
.price a.customer{
	color:red;
	float:right;
	margin-right:5px;
	font-size:12px;
}
.price em{
    font-size: 12px;
}
.price ins{
   color: #313131;
   text-decoration: none;
   font-size: 14px;
}

.all_select{
    background-color: #efefef;
    height:50px;
    line-height:50px;
    position: fixed;
    bottom: 51px;
    left: 0;
    width: 100%;
}
.all_select .btn a{
    width: 120px;
    height:50px;
    background-color: #ff9000;
    text-align: center;
    float: right;
    font-size: 15px;
    line-height:50px;
    color: #fff;
}
.all_select .all_slt{
    color: #313131;
}
.all_select .all_slt i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background:  url(../images/icon.png) -367px -144px no-repeat;
    vertical-align: middle;
    margin: 8px;
}
.all_pro{
    color: #313131;
    margin-left: 10px;
}
.all_pro strong{
    color: #ff4444;
    font-size: 16px;
}
.all_pro strong em{
    font-size: 12px;
}

.btn{
	line-height:52px;
	padding:0 10px;
	color:#535353;
}
.btn a{
    width: 70px;
    height: 32px;
    line-height: 32px;
    margin: 10px 0 10px 10px;
    text-align: center;
    color: #fff;
    float: right;
    border-radius: 5px;
    background-color: #3ebb8d;
}
.btn a.close{
    background-color: #ff4444;
}
.btn a.send{
    background-color: #ff9000;
}
.dark{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:#000;
	z-index:5;
	display:none;
}
.logistics{
	width:280px;
	margin:0 auto;
	left:50%;
	margin-left:-140px;
	top:50px;
	background-color:#fff;
	z-index:6;
	position:fixed;
	border-radius:5px;
	display:none;
}
.logistics .top{
	height:35px;
	line-height:35px;
	text-align:center;
	border-bottom:1px solid #eee;
}
.logistics .slt{
	padding:10px;
}
.logistics .slt select{
	border:1px solid #eee;
	height:35px;
	border-radius:5px;
	font:14px "微软雅黑";
	width:100%;
}
.logistics .slt input{
	height:25px;
	padding:5px;
	border-radius:5px;
	font:14px "微软雅黑";
	border:1px solid #eee;
	width:95%;
	margin-top:20px;
}
.logistics .btns{
	padding:10px;
}
.logistics .btns span{
	display:inline-block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:5px;
	background-color:#f40;
	float:right;
	margin-left:15px;
}
.logistics .btns span.close{
	background-color:#ccc;
}
.logistics .btns span a{
	color:#fff;
}


















