/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
    padding-bottom: 60px;
}
.cus_news{
    background-color: #fff;
    margin-top: 10px;
}
.cus_news .bd{
    padding: 10px;
    background-color: #eefaf6;
    color: #707070;
}
.cus_news .bd p{
    display: inline-block;
    width: 80%;
    line-height: 26px;
    color: #313131;
    vertical-align: top;
}
.cus_pro{
    background-color: #fff;
    margin-top: 10px;
}
.cus_pro p{
    color: #707070;
    padding: 0 10px;
    margin: 10px 0;
}
.cus_pro p span{
    color: #313131;
}
.cus_pro p select,.cus_pro p input{
    font:14px "微软雅黑";
    width:84%;
    height:35px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}
.cus_pro p input{
    padding: 5px;
    height: 25px;
    width:80%;
}
.cus_pro p textarea{
    font:14px "微软雅黑";
    width:95%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    height:62px;
    resize:none;
    border-radius: 5px;
    margin-top: 10px;
}
.con h2{
    height:35px;
    line-height: 35px;
    padding: 0 10px;
    border-bottom:1px solid #e5e5e5;
}
.submit a{
    width: 93%;
    margin: 0 auto;
    display: block;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #3ebb8d;
    border-radius: 5px;
}