/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background: #fff;
	padding:48px 10px 10px;
}
.con{
	padding-top:0;
	max-width:640px;
	margin:0 auto;
}
.create{
	background-color:#dff0d8;
	border:1px solid #b9d5a0;
	padding:10px;
	box-sizing:border-box;
	border-radius:5px;
	color:#377238;
	margin:15px 0 0 0;
	line-height:24px;
}
.main_box{
	width:100%;
	margin:15px 0 0 0;
}
.main_box img{
	width:100%;
	height:auto;
}








