/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.con{
	border:0 none;
	font-size:15px;
}
header h1 input{
    width: 65%;
    height:20px;
    font:14px "微软雅黑";
    border:1px solid #e5e5e5;
    padding:5px;
}
header h1 .search{
	position:relative;
}
header h1 .search em{
	font: 22px/21px "iconfont1";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    color: #898989;
}
header h1 span.add{
    display: inline-block;
    font-size: 30px;
    position: absolute;
    right: 14px;
    top: -1px;
}
header h1 span.add a{
    color:#40bb8c;
}
.con .citys{
    height:46px;
    border-top:1px solid #eee;
    background-color: #fff;
    margin-bottom: 10px;
}
.con .citys select:first-child{
	margin-left:8px;
}
.con .citys select{
    border:0 none;
    height:40px;
    margin:3px 0;
    font:14px "微软雅黑";
    width: 30%;
	margin-right:2%;
    color:#898989;
    text-align: center;
	border:1px solid #eee;
}
.content{
    padding:10px;
    background-color: #fff;
    box-shadow: 0 5px 15px #dcdcdc;
    margin:0 0 10px 0;
}
.content-top{
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
}
.content .pic{
   width:110px;
   height: 88px;
   position: relative;
}
.content .pic .numbers{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:26px;
    line-height: 26px;
    text-align: center;
    background: rgba(0, 0, 0, 0.34);
}
.content .pic .numbers a{
	color:#fff;
}
.content .pic img{
    width: 110px;
    border: 1px solid #e5e5e5;
}
.content .pic_bd{
    -webkit-flex:1;
    margin-left: 10px;
}
.pic_bd p{
    color:#666;
    line-height: 22px;
}
.pic_bd p{
    display: -webkit-flex;
    -webkit-flex-flow: row;
}
.pic_bd p strong{
    color:#999999;
    width: 46px;
}
.pic_bd p span{
    -webkit-flex:1;
}
.pic_bd p.shopname {
    color: #313131;
    display: block;
    height: 46px;
    overflow: hidden;
}
.pic_bd p.shopname em {
    display: inline-block;
    vertical-align: 1px;
    width: 16px;
    height: 16px;
    color: #ff5252;
    border-radius: 50%;
    border: 1px solid #ff5252;
    text-align: center;
    line-height: 15px;
    margin-right: 2px;
    font-size: 12px;
}
.pic_bd p.shopname img {
    width: auto;
    border: 0 none;
    vertical-align: -3px;
}
.shopaddress{
	display:block;
	line-height:24px;
	color:#666;
	margin:5px 0 0 0;
}
.shopaddress p strong{
	color:#dcdcdc;
	font-size:18px;
	font-family:iconfont1;
	position:relative;
	top:2px;
}
.empty{
	text-align:center;
	color:#313131;
}









