/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.con{
    padding:0 10px;
    background-color: #fff;
	border-top: 54px solid #eee;
}
.news_pic{
    margin-top: 10px;
}
.news_pic ul li{
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #f3f3f3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.news_pic ul li input{
    font:15px "微软雅黑";
    height:36px;
    width:95%;
    padding:5px;
    box-sizing:border-box;
}
.news_pic ul li:first-child label {
    margin-right: -102px;
    color: #707070;
    width: 95px;
    text-align: right;
    vertical-align: -1px;
}
.news_pic ul li:first-child input {
    text-indent: 103px;
    background: transparent;
}
.news_pic ul li.myshop{
    height:87px;
}
.news_pic ul li.myshop img{
    height: 66px;
    margin-top: 10px;
}
.news_pic ul li.myshop span{
    margin-top: 20px;
}
.news_pic ul li.Map input{
    width:39%;
}
.news_pic ul li.Map a.showmap {
    padding: 0 5px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    background: #40bb8c;
    border-radius: 5px;
    color: #fff;
    float: right;
    margin-top: 10px;
}
.news_pic ul li:nth-child(5){
    margin-top: 10px;
}
.news_pic ul li:nth-child(3){
    margin-top: 10px;
}
.news_pic ul li strong{
    color: #313131;
    margin-right: 50px;
}
.news_pic ul li select{
    border:0 none;
    font:15px "微软雅黑";
    color:#898989;
    width:30%;
	border:1px solid #eee;
	margin-right:3%;
	height:32px;
}
.news_pic .left{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1; 
}
.con span{
    color: #313131;
    display: inline-block;
    width: 60px;
    margin-right: 15px;
	font-size:15px;
}
.submit {
    width: 100%;
    height: 36px;
    background-color: #40bb8c;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    margin:15px 0;
	color: #FFF;
	font-size:15px;
}
.submit a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

#crop-avatar{
	position: fixed;
    left: 100%;
    top: 0;
	width:100%;
	background:#fff;
	display:none;
	z-index:11;
}
#crop-avatar .avatar-btns {
    margin-top: 10px;
    margin-bottom: 0px;
}
#crop-avatar .btn-block{
	width:50%;
	margin-top:36px;
}
header h1{
	line-height:44px;
	margin:0;
}
.col-md-9 span.off{
	position: absolute;
    right: 15px;
    top: 5px;
    background: #337ab7;
    color: #fff;
    z-index: 587;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
}
.con label{
	font-weight:normal;
}
.tips{
    color: #f40;
    width: 100%;
}
.dark{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	top:0;
	left:0;
	z-index:10;
	display:none;
}
/* 地图 */
.posF{
	position:fixed;
}
.posA{
	position:absolute;
}
.bigbox{
	height: 350px;
	z-index:12;
    width: 99%;
	display: none;
	top:50%;
	margin-top:-175px !important;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0;
    bottom: 1px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    border: 1px solid #37bc9b;
    font-size: 14px;
	z-index:99999;
}
.bigbox p.PS img{
	width:14px;
	margin:0 5px;
}
.bigbox span.close {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 1;
    font-size: 14px;
    font-weight: normal;
    background: #40bb8c;
    color: #fff;
    z-index: 100;
    text-shadow: 0 0 0 transparent;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
}
/* 单选框 */
.selectedset {
  display: inline-block;
  margin:0 6px 0 10px;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
}
.selectedset input {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}

.selectedset span { 
	display: block;
	position: absolute;
	font:18px "iconfont1";
	color:#b5b5b5;
	top: 50%;
	left:50%;
	margin: -13px auto  0 -7px;
	z-index:1;
    width: auto;
}

.selectedset input[type="radio"] + span {
  color:#b5b5b5;

}
label{
	margin-left:5px;
}
.selectedset input[type="radio"]:checked + span {
  color:#40bb8c;
}