/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con1{
    margin-top: 10px;
    padding:15px 10px;
    background-color: #fff;
}
.detial{
    background-color: #fff;
    box-shadow: 2px 2px 12px #e0dfdf;
    border: 1px solid #e5e5e5;
}
.detial span.top{
    color: #313131;
    display: block;
    height:38px;
    padding: 0 10px;
    line-height:38px;
    background-color: #f0f0f0;
}
.detial .middle_top{
    padding: 12px 10px 10px 10px;
}
.detial .middle p{
    line-height: 26px;
    color: #313131;
}
.detial .middle p span{
    color: #898989;
    display: inline-block;
    width:73%;
    vertical-align: top;
}
.detial .middle p.remark{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 20px 10px;
}
.detial .middle p.price{
    height:40px;
    line-height: 40px;
    padding: 0 10px;
}
.detial .middle p.price span{
    float: right;
    color: #313131;
    width: auto;
}
.detial .middle p.price span em{
    color: #db0303;
}


.bottom{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}
.remarks{
    margin-top: 15px;
}

.rope{
    margin-bottom: 10px;
}
.rope .img#upload_file{
	margin: 10px 0px;
    display:none;
}
.rope .img img{
    height:100px;
	border:1px solid #eee;
}
.rope button {
    width: 100%;
    text-align: center;
    line-height: 35px;
    color: #fff;
    display: block;
    height: 35px;
    background: #3ebb8d;
    border-radius: 4px;
    border: 0;
    padding: 0;
    font-family: "微软雅黑";
    margin-top: 15px;
}
#repair .tit{
	color: #313131;
    display: block;
    height: 38px;
    padding: 0 10px;
    line-height: 38px;
    background-color: #f0f0f0;
	margin-bottom:10px;
}
#repair .example{
	margin-bottom:10px;
}
#repair .example p{
	color:#40bb8c;
	padding:15px 5px;
}
#repair .example img{
	vertical-align:top;
	color:#535353;
	width:100%;
	height:auto;
	display:none;
}
#repair .file{
	padding-bottom:10px;
}
#repair .file img{
	vertical-align:top;
	border:1px solid #eee
}
#repair label {
    font-weight: normal;
    margin-right: 6px;
    margin-left: 2px;
}
#repair .Ifile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
#repair input {
    font: 15px "微软雅黑";
    padding: 5px;
    height: 36px;
    line-height: 36px;
    width: 95%;
}
#repair input[type=file] {
    display: block;
}
#repair .Ifile input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}






