/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
body{
	background:#fff;
}
.posF{
	position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    z-index: 99;
	display:none;
}
.loading{
	text-align:center;
	margin-top:5px;
	position: absolute;
    top: 50%;
    left: 50%;
	margin-top:-34px;
    margin-left: -130px;
}
.con{
	border-top:59px solid #eee;
	padding-top:0;
	padding-bottom:80px;
}
.con ul li{
	text-align:center;
	float:left;
	width:50%;
}
.con .downImg{
	height:265px;
	overflow:hidden;
}
.con ul li p{
	margin:10px 0;
	color:#313131;
	padding: 0 10px;
	word-break:break-all;
}
.con ul li img{
	width:90%;
	text-align:center;
	display:inline-block;
	margin-top:15px;
}
.con ul li a{
	width: 68px;
    height: 32px;
    display: inline-block;
    background-color: #40bb8c;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
	margin-top:10px;
}

.jumpWindow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
	display:none;
}
.jumpWindow .bg{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.jumpWindow .popup{
	text-align:center;
	position:relative;
	height:100%;
}
.jumpWindow .popup .img{
	height:100%;
	overflow:auto;
}
.jumpWindow .popup .img p{
	color:#fff;
	text-align:center;
	padding:10px 0;
	font-size:16px;
}
.jumpWindow .popup img{
    height:auto;
	width:100%;
}
.jumpWindow .popup .btns{
	position:absolute;
	top:0;
	right:16px;
}
.jumpWindow .popup button{
    padding:0 18px;
    height: 34px;
    margin: 25px 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    border-radius: 3px;
    cursor: pointer;
    font-family: "微软雅黑";
}










