/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	padding-top:106px;
}
.tabBox .hd{
	font-size:16px;
	overflow:hidden;
	background:#fff;
	position:absolute;
	top:49px;
	left:0;
	width:100%;
	z-index:99;
}
.tabBox .hd ul{
	width:100%;
}
.tabBox .hd ul li{
	float:left;
	width:50%;
	vertical-align:top;
	text-align:center;
	position: relative;
}
.tabBox .hd ul li a{
	display:block;
	height:26px;
	line-height:26px;
	padding:12px 0;
}
.tabBox .hd ul li a .offer{
	border-left:1px solid #dcdcdc;
	display:block;
}
.tabBox .hd ul li a .offerIng{
	border-left:none;
	display:inline-block;
	position: relative;
}
.tabBox .hd ul li  a .offerIng .icon-circle{
	position: absolute;
    right: -8px;
    top: 0px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    background-color: #ff4444;
    border-radius: 50%;
}
.tabBox .hd ul li.on{
	border-bottom:3px solid #40bb8c;
}
.tabBox .hd ul li.on a{
	color:#40bb8c;
}
.tabBox .bd ul li{
	border-bottom:1px dotted #ddd;
}
.tabBox .bd li a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
} 
.readMore{
	display:block;
	height:30px;
	line-height:30px;
	margin:10px auto 20px auto;
	text-align:center;
	text-decoration:underline;
}
#wrapper {
	top: 44px;
}
header h1 div.select{
	width:auto;
}
header h1 .select a{
	font-size:15px;
	color:#40bb8c;
	display:block;
	padding:0 8px;
}
ul.pro_lst  li{
    background-color: #fff;
    margin-top: 10px;
}
ul.pro_lst  li .date{
    color: #313131;
    font-size: 14px;
	border-top: 1px solid #dcdcdc;
	height: 48px;
	line-height: 48px;
	padding:0 10px;
	background-color: #e6faf2;
}
ul.pro_lst  li .date .statu{
	float: right;
    color: #313131;
}
ul.pro_lst  li .date .statu .red{
	float: right;
    color: #ff4d5a;
}
ul.pro_lst  li .date .cancel{
	float:right;
	margin-right:10px;
	color:#898989;
	font:14px/40px "iconfont1";
}
ul.pro_lst  li span.shopping,
ul.pro_lst  li span.recovery{
    margin: 10px 2px 10px 0px;
    width: 20px;
    height: 20px;
    background:  url(../images/icon.png) -354px -165px no-repeat;
    display: inline-block;
    vertical-align: -14px;
}
ul.pro_lst  li span.recovery{
    background-position:-406px -166px;;
}
.pro_news{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
	font-size:15px;
}
.pro_news .lookdetial{
    display: block;
	padding: 10px;
}
.news_pic{
    float: left;
}
.news_pic img{
    width: 70px;
}
.news_bd{
    float: right;
    width:76%;
    color: #313131;
    line-height:22px;
}
.news_bd p.style{
	color:#313131;
}
.news_bd p.desc{
	color:#898989;
	font-size:14px;
}
.news_bd p.way{
	font-size:15px;
	color:#313131;
}
.price{
    text-align:left;
    color: #ff6262;
    margin-top: 5px;
}
.price a{
	color:#ff9000;
	float:right;
	margin-right:5px;
}
.price a.customer{
	color:red;
	float:right;
	margin-right:5px;
	font-size:12px;
}
.price a.finish{
	color:#40bb8c;
}
.price em{
    font-size: 12px;
}
.price .statu{
	float: right;
    color: #ff4d5a;
    margin-right: 10px;
}
.all_select{
    background-color: #efefef;
    height:50px;
    line-height:50px;
    position: fixed;
    bottom: 51px;
    left: 0;
    width: 100%;
}
.all_select .btn a{
    width: 120px;
    height:50px;
    background-color: #ff9000;
    text-align: center;
    float: right;
    font-size: 15px;
    line-height:50px;
    color: #fff;
}
.all_select .all_slt{
    color: #313131;
}
.all_pro{
    color: #313131;
    margin-left: 10px;
}
.all_pro strong{
    color: #ff4444;
    font-size: 16px;
}
.all_pro strong em{
    font-size: 12px;
}

.btngroups{
	line-height:52px;
	padding:0 10px;
	color:#535353;
}
.btngroups time{
	color:#898989;
	float: left;
}
.btngroups time em{
	font-family: "iconfont1";
	font-size: 14px;
	margin-right: 5px;
    vertical-align: 1px;
    display: inline-block;
}
.btngroups a{
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
    margin: 10px 0 10px 8px;
    text-align: center;
    color: #b5b5b5;
    float: right;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
}
/* 选择支付方式 */
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "微软雅黑";
    color: #535353;
    display: none;
}
.select_pay_style{
	border:1px solid #dcdcdc;
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	   -moz-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		 -o-transform:translate(-50%,-50%);
			transform:translate(-50%,-50%);
	width:66%;
	background-color:#fff;
	text-align:center;
	z-index:10;
}
.select_pay_style .title{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #eeeeee;
	position:relative;
}
.select_pay_style .title span{
	font:14px/40px "iconfont1";
	color:#898989;
	position:absolute;
	right:10px;
	top:50%;
	-webkit-transform:translate(0,-50%);
	   -moz-transform:translate(0,-50%);
		-ms-transform:translate(0,-50%);
		 -o-transform:translate(0,-50%);
			transform:translate(0,-50%);
}
.select_pay_style a{
	display:block;
	height:60px;
}
.select_pay_style .pay{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #eeeeee;
}
.select_pay_style .wx{
	color:#42b035;
}
.select_pay_style .zfb{
	color:#00aaef
}
.select_pay_style .pay img{
	vertical-align:middle;
	height:24px;
	margin-right:5px;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}
.fixTop {
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fullLayer {
    width: 100%;
    height: 100%;
}
.z1000 {
    z-index: 1000;
}
.dn{
	display:none;
}
.menu {
    background-color: rgba(0, 0, 0, 0.6);
}
.fixBottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	-webkit-transition:all 1s;
	transition:all 1s;
}
.pct100 {
    width: 100%;
}
#AppealContent{
	background-color: #fff;
	padding:30px 10px;
	box-sizing:border-box;
}
#AppealContent select{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border: 1px solid #dcdcdc;
	padding:0 10px; 
	font-family: "微软雅黑";
	color:#313131;
	font-size: 15px;
	margin-bottom: 30px;
	background: url(../images/arrow.png) right -4px no-repeat;
	-webkit-background-size: 35px 48px;
    background-size: 35px 48px;
}
#AppealContent .appeal-btn a {
    height: 49px;
    line-height: 49px;
    text-align: center;
    background-color: #40bb8c;
    color: #fff;
    border-radius: 2px;
    display: block;
}
























