/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#f5f5f5;
}
.con{
	font-size: 15px!important;
	padding-bottom:98px;
}
/* 标题 */
.con h2{
    font-size: 16px;
    color: #313131;
    height:42px;
    line-height:42px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
/* 用户信息 */
.con .mod_news{
    background-color: #fff;
    margin-top:10px;
}
.con .mod_news p{
    padding: 5px 10px;
	position:relative;
}
.con .mod_news p.master-change-price{
	float: right;
}
.con .mod_news p.master-change-price strong{
	color: #313131;
	width: auto;
}
.con .mod_news .master-change-price span{
	padding-left: 46px;
}
.con .mod_news .master-change-price em{
    font-size: 16px;
	color: #ff4444;
	font-weight: bold;
}
.con .mod_news strong{
    color: #898989;
    width: 80px;
	font-size:14px;
	position:absolute;
}
.con .fault_news strong{
    width: 76px;
}
.con .mod_news span{
    color: #313131;
	padding-left: 80px;
	min-height: 20px;
	font-size: 14px;
}
.con .fault_news span{
    padding-left: 48px;
}
.con .mod_news span.cbdreduce{
	color:#ff4444;
}
.con .mod_news span.yfadd{
	color:#40bb8c;
}
.con .mod_news em{
	color:#313131;
}
.con .mod_news em.add{
	color:#40bb8c;
	font-size:16px;
}
.con .mod_news em.reduce{
	color:#ff4444;
	font-size:16px;
}
/* 维修店报价信息 */
.con .master_news{
    background-color: #f5fffb;
    margin-top:10px;
}
.con .master_news.dn{
	display: none;
}
.con .master_news h2{
    border:0;
}
.con .master_news .tips{
    text-align:right;
	color:#a0a0a0;
	font-size:12px;
	padding:10px;
}
.con .master_news .tips .icon-tips{
    width:10px;
	height:11px;
	background-position:-80px -31px;
}
.master_news li{
	padding:10px;
	border-bottom:1px solid #eee;
}
.master_news li .shop-img-news .circle{
	width:10px;
	height:10px;
	border:2px solid #a0a0a0;
	margin:16px 10px;
	border-radius:50%;
	display:inline-block;
}
.master_news li .shop-img-news img{
	height:45px;
	border:1px solid #eeeeee;
}
.master_news li .shop-img-news .repairer-news{
	display:inline-block;
	vertical-align:top;
}
.master_news li .shop-img-news .repairer-news h3{
	font-size:17px;
	color:#535353;
	line-height:26px;
}
.master_news li .shop-img-news .repairer-news .shop-phone,
.master_news li .shop-img-news .repairer-news .shop-address{
	color:#898989;
	font-size:12px;
	margin-top:3px;
}
.master_news li .shop-img-news .repairer-news .shop-phone .icon-phone{
	width:10px;
	height:10px;
	background-position: -44px -30px;
}
.master_news li .shop-img-news .repairer-news .shop-address .icon-address{
	width:10px;
	height:11px;
	background-position: -62px -30px;
}
.master_news li .shop-price-news .distance{
	font-size:12px;
	color:#898989;
	text-align:right;
}
.master_news li .shop-price-news .price{
	font-size:18px;
	color:#ff4444;
	text-align:right;
	margin-top:5px;
}
.master_news li .shop-img-news .shop-address{
	display:none;
}
.master_news li .shop-price-news .price span{
	font-size:12px;
}
.master_news ul .special .shop-img-news .circle{
	display:none;
}
.master_news ul .special .shop-img-news .shop-address{
	display:block;
	width:196px;
}
.master_news ul .special{
	background-color:#eee;
	padding-top:0;
}
.master_news ul .special .shop-img-news img{
	height:65px;
}
.master_news ul li .checked{
	display:none;
	color:#ff4444;
	font-size:12px;
	margin:10px 0;
}
.master_news ul .special .checked{
	display:block;
}

/* 跟踪信息 */
.fllow_news{
	background-color:#fff;
	font-size: 14px;
	margin-top:10px;
}
.fllow_news .fllow-mod{
	position:relative;
	display:none;
}
.fllow_news .fllow-mod .Open{
    text-align: left;
    font-size: 14px;
    color: #4a64eb;
    position: absolute;
    bottom: 10px;
    padding-top: 100px;
    width: 100%;
    padding-left: 30px;
	box-sizing:border-box;
}
.fllow_news .fllow-mod.current{
	display:block;
}
.fllow_news .outorin span{
    color: #898989;
    height: 42px;
    line-height: 42px;
    text-align:center;
	font-size: 14px;
	width:50%;
	float: left;
}
.fllow_news .outorin span.current{
    color: #40bb8c;
}
.fllow_news ul.dad {
    display: inline-block;
    position:absolute;
	left:0;
	top:16px;
}
.fllow_news li.on b {
    border-color: #40bb8c;
}
.fllow_news ul.dad li p {
    width: 2px;
    height: 55px;
    display: block;
    background: #dfdfdf;
}
.fllow_news ul.dad li.on p {
    background: #3fb88c;
}
.fllow_news ul.son{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: #313131;
	padding-bottom: 15px;
}
.fllow_news ul.son li{
	position: relative;
	border-left:1px solid #ccc;
	padding-left:10px;
	display: none;
}
.fllow_news ul.son li div{
    padding-bottom: 18px;
	color:#535353;
}

.fllow_news ul.son li .circle_step{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display:block;
    margin-left: -4px;
	position:absolute;
	left:-1px;
	top:0px;
	background-color:#fff;
}
.fllow_news ul.son strong{
    color: #b5b5b5;
	display:block;
	font-weight:normal;
	font-size:12px;
}
.fllow_news ul.son li:first-child .circle_step{
    border-color:#40bb8c;
}
.fllow_news ul.son li:first-child div{
    color: #40bb8c;
}
.fllow_news ul.son li:first-child div strong{
    color: #40bb8c;
}
/* 商品信息 */
.news_lst{
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.news_lst:first-child{
    margin-bottom: 0;
}
.news_lst_tit{
	padding:10px;
}
.news_lst_tit h4{
	float: left;
}
.news_lst_tit h4 .self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
.news_lst_tit .look_shipping{
	float: right;
	color:#535353;
}
.pro_news{
    background-color: #fff;
    margin-top: 10px;
}
.pro_news .pro {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    padding: 10px;
}
.pro_news .news_pic {
    float: left;
}
.pro_news .news_pic img {
    width: 70px;
}
.pro_news .news_bd {
    float: right;
    width: 72%;
    color: #313131;
    padding: 0 6px;
    line-height: 22px;
}
.pro_news .news_bd p.service{
	color:#ff4444;
}
.pro_news .news_bd p.num {
    color: #898989;
}
.pro_news .news_bd .fontRed {
    color: #ff4444;
	font-size:12px;
}
.pro_news .price_news p{
    margin:5px 0;
	padding:0 10px;
}
.pro_news .price_news p span{
    color: #535353;
}
.pro_news .AlltotalMoney{
    text-align: right;
	padding:0 10px 10px;
}
.pro_news .AlltotalMoney span{
    font-size: 18px;
	font-weight: bold;
	color: #ff4444;
}

.fix_btns{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index:99;
}
.fix_btns a{
	width: 50%;
	float: left;
	height:50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.fix_btns a.cancle{
	background-color: #c9c9c9;
}
.fix_btns a.payment{
	background-color: #ff9600;
}
/* 打印按钮 */
.btn-groups {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 3;
    bottom: 0px;
}
.btn-groups .test,
.btn-groups .completely{
    width:50%;
	height: 50px;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    color: #898989;
}
.btn-groups a.completely{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.btn-groups a.completely{
    background-color: #40bb8c;
	color: #fff;
}
.btn-groups a.cancle{
    background-color:#40bb8c;
}
.btn-groups a.pay{
    background-color:#ff9600;
}
/* 检测改价 */
.bottom{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
	display: none;
}
.remarks{
    margin-top: 15px;
}
.title{
    height: 36px;
    line-height: 36px;
}
.title p {
    display: inline-block;
    width: 78px;
    font-size: 16px;
    background: #fff;
    margin: 0;
    width: 160px;
}
.title span{
    float: right;
    color: #ff9f00;
    font-size: 16px;
	margin-right:13px;
}
.title span em{
    font-size: 24px;
    display: inline-block;
    vertical-align: -1px;
}
.rope{
    margin-bottom: 10px;
}
.rope select{
    width: 100%;
	height: 42px;
	line-height: 28px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
	box-sizing:border-box;
    font-family: "微软雅黑";
    font-size: 14px;
    display: block;
    margin-top: 10px;
    color: #898989;
	background: url(../images/arrow.png) right -3px no-repeat;
    -webkit-background-size: 35px 48px;
    background-size: 35px 48px;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #313131;
}
.rope textarea {
    width: 96%;
    resize: none;
    padding: 5px;
    height: 90px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    font-family: "微软雅黑";
    font-size: 14px;
}
.rope .money {
    font-size: 14px;
    line-height: 30px;
	margin-bottom:10px;
}
.rope input {
    width: 80px;
    margin: 0 5px;
    vertical-align: initial;
}
.rope button {
    width: 100%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    display: block;
    height: 42px;
    background: #3ebb8d;
    border-radius: 2px;
    border: 0;
    padding: 0;
    font-family: "微软雅黑";
    margin-top: 15px;
}
.money input {
    width: 80px;
    margin: 0 5px;
    vertical-align: initial;
    border: 1px solid #dcdcdc;
    padding: 5px;
    height:20px;
}
.copy{
    position: relative;
}
.copy span{
    position: absolute;
    right: 15px;
    top: 4px;
    font-size: 30px;
    color: #898989;
    cursor: pointer;
}
/* 收款 */
.select_pay_style {
    border: 1px solid #dcdcdc;
    position: absolute;
    width: 60%;
    right: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    bottom: 50px;
    background-color: #fff;
    text-align: left;
    z-index: 10;
	display: none;
}
.select_pay_style .title {
    height: 40px;
	text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
}
.select_pay_style .pay {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eeeeee;
	
}
.select_pay_style .wx {
    color: #42b035;
}
.select_pay_style a {
    display: block;
    height: 60px;
	width: 100%;
	text-align: left;
	box-sizing:border-box;
	padding-left: 15px;
}
.select_pay_style .pay img {
    vertical-align: middle;
    height: 24px;
    margin-right: 5px;
}


.f_left{
	float:left;
}
.f_right{
	float:right;
}
.w50{
	width:50%;
	box-sizing: border-box;
}
[class^="icon-"]{
    background-size: 250px 250px; /* 注意背景图的缩放 */
}









