/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
.con .tips{
	text-align:center;
	height:52px;
	line-height:52px;
	font-size:14px;
	color:#707070;
	width:100%;
}