/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#fff;
}
.con{
	font-size:15px;
	padding-bottom:99px;
}
h1{
	position:relative;
}
h1 a.fastset{
	position:absolute;
	color:#40bb8c;
	right:18px;
	top:1px;
	font-size:14px;
}
.classify{
    width: 100%;
	border-top:1px solid #e5e5e5;
}
.classify span{
    display: block;
    float: left;
    background-color: #fff;
    width:50%;
    height:42px;
    text-align: center;
    line-height:42px;
}
.classify span a{
    width: 100%;
    height: 100%;
    display: block;
    color: #707070;
}
.classify span.current{
    background-color: #40bb8c;
}
.classify span.current a{
    color: #fff;
}
.brand,
.model,
.recoveryset{
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.brand{
	margin-top:0;
}
.model{
    margin-top: 0;
}
.brand h2,
.model h2{
    height:36px;
    line-height: 36px;
    font-size: 16px;
    color: #313131;
}
.pceinterval{
	color:#313131;
}
.brand ul li,
.model ul li{
    width:30%;
    border: 1px solid #dcdcdc;
    position: relative;
    height:32px;
    float: left;
    margin: 10px 0;
}
.model ul li{
    color: #3fbb8c;
    text-align: center;
    line-height: 20px;
	height:40px;
    font-size: 14px;
	display:table;
}
.brand ul li:nth-child(2),
.brand ul li:nth-child(5),
.brand ul li:nth-child(8),
.brand ul li:nth-child(11),
.model ul li:nth-child(3n-1)
{
    margin: 10px 4%;
}
.brand ul li:last-child{
    border: 1px solid #dcdcdc;
    height: 32px;
    text-align: center;
    width:48px;
    font-size: 28px;
    line-height:32px;
    color: #b5b5b5;
}
.brand ul li.current,
.model ul li.current{
	border-color:#40bb8c;
}
.brand ul li img{
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: -25px;
}
.model ul li a{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.model ul li a strong{
	display: inline-block;
}

/*筛选*/
.filter {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
}
.filterBx {
    width: 90%;
    margin-left: 10%;
    background: #f6f6f6;
    height: 100%;
    overflow: auto;
}
.filterBx .header {
    background: #fff;
    margin: 0;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.filterBx .header dt{
	width: 22px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}
.filterBx .header i{
    font-family: iconfont1;
    font-size: 22px;
    color: #40bb8c;
    margin-left: 5px;
	
}
.filterBx .header .ddName {
    width: 80%;
    text-align: center;
    margin-right: 10%;
    float: left;
    line-height: 56px;
    font-size: 16px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .models {
    margin: 0 0 5px 0;
    background: #fff;
}
.filterBx .models dt {
    line-height: 42px;
    margin: 0;
    color: #313131;
    padding-left: 5%;
    border-bottom: 1px solid #dfdfdf;
}
.filterBx .models dd {
    line-height: inherit;
    margin: 0;
    padding: 10px 25px 15px 25px;
}
.filterBx .models dd a {
    display: block;
    float: left;
    width: 47%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin:2% 1%;
    text-align: center;
    line-height: 42px;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .models dd a.on {
    border-color: #3fbb8c;
    color: #fff;
    background: #3fbb8c;
}
.filterBx .conser a{
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    height:38px;
    line-height:38px;
    color: #fff;
    background-color: #40bb8c;
    border-radius: 5px;

}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}
