/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    padding: 0 0 60px;
    border-top: 49px solid #eee;
}
header h1 div.select{
	font-size:14px;
	width:110px;
	color:#40bb8c;
}
header h1 div.select a{
	color:#40bb8c;
}
.lists{
	border-top:6px solid #eee;
}
.s_style {
    height: 32px;
    padding: 8px;
    line-height: 32px;
    background-color: #fff;
    text-align: center;
}
.s_style strong {
    float: left;
    width: 15%;
    box-sizing: border-box;
    color: #898989;
}
.s_style .s_lst {
    float: left;
    width: 85%;
}
.s_style .s_lst li.current {
    border-color: #40bb8c;
    background: url(../images/selected.png) right bottom no-repeat;
    background-size: 10px;
}
.s_style .s_lst li.current a{
    color: #40bb8c;
}
.s_style .s_lst li {
    font-size: 14px;
    float: left;
    width: 24%;
    margin: 0 4.5%;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.s_style .s_lst li a{
    color: #313131;
	display:block;
}
.con-hd  ul li a{
	color:#535353;
}
.lists .outdiv li{
	border-bottom:1px solid #eee;
	padding:10px;
}
.lists .outdiv .left{
	font-size:15px;
	color:#535353;
	line-height:24px;
}
.lists .outdiv .left time{
	font-size:13px;
	color:#898989;
}
.lists .outdiv .left p{
	font-size:15px;
	color:#898989;
}
.lists .outdiv .left .unread{
	font-weight:bold;
	color:#535353;
}


/* 通知详情 */
.ReplayBox {
    border: 1px solid #f1f1f1;
}
.xtfjr {
    font-size: 14px;
    width: 100%;
	
}
.xtfjr dl {
    display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
    line-height: 2.5;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}
.xtfjr dt {
    width: 70px;
    text-align: center;
    background: #f8f8f8;
    color: #666;
}
.xtfjr dd {
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
    padding-left: 10px;
}
.msgct{
    padding: 10px;
    font-size: 14px;
}
.msgct a{
    width:100px;
	background-color:#40bb8c;
	height:28px;
	line-height:28px;
	color:#fff;
	border-radius:3px;
	text-align:center;
	display:inline-block;
}
.ReplayBox p {
    line-height: 2;
}


















