/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
body{
	background-color: #fff;
	font-size:15px;
	letter-spacing:1px;
}
.con-bd-t{
	border-top:10px solid #eee;
}
.con-bd-t ul li{
    color: #898989;
    line-height: 43px;
}
.con-bd-t ul li h2{
	font-size:16px;
	text-indent:1em;
}
.con-bd-t ul li h2 strong{
	font-size:16px;
}
.con-bd-t ul li strong .arrow{
	font-family:"iconfont1";
	font-size:15px;
	color:#898989;
	display:inline-block;
	line-height:16px;
	text-indent:0;
	transition:all 1s;
	-webkit-transition:all 0.8s;
}
.con-bd-t ul li strong .arrow.down{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.con-bd-t ul li div{
	display: none;
}
.con-bd-t ul li p{
    background-color: #e9f6f1;
    line-height: 24px;
    color: #535353;
    padding: 5px 10px;
}
.con-bd-t ul li p img{
	width:100%;
	height:auto;
}
.con-bd-t ul li:first-child p{
	display:block;
}
.con-bd-t ul li strong{
    cursor: pointer;
}