/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
body{
	background:#fff;
}
.con h2{
	font-size:17px;
	color:#000;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #dadada;
	border-top:10px solid #eee;
	text-indent:16px;
}
.con h2 #allselect{
	float:right;
	margin-right:10px;
}
.con h2 #allselect span,
.con ul li span{
	width:17px;
	height:17px;
	border:1px solid #cdcdcd;
	display:inline-block;
	margin-right:10px;
	position: relative;
    top: 4px;
}
.con h2 #allselect.current span,
.con ul li.current span{
	border-color:#fff;
	background:url(../images/onekeysetselected.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.con ul li{
	float:left;
	padding:30px 0;
	width:33.333333%;
	border-bottom:1px solid #dadada;
	border-right:1px solid #dadada;
	text-indent:16px;
	color:#535353;
	font-size:15px;
	box-sizing:border-box;
}
.con ul.set li{
	width:100%;
	padding:20px 0;
}
.con ul li strong{
	color:#ff4444;
}
.con .btm{
	padding:0 15px;
	text-align:center;
}
.con .btm button{
	font-size:17px;
	margin:15px 0;
}
.con .btm .introduce{
	color:#898989;
	padding-bottom:15px;
	line-height:24px;
	text-indent:28px;
}
.con .btm img{
	display:inline-block;
	display:none;
	margin-top:15px;
}










