/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
    overflow: hidden;
    padding-bottom: 60px;
	font-size:15px;
}
.con a:active{
	background-color:#eee;
}
.head_pic{
    margin-top: 10px;
    background-color: #fff;
    height:66px;
    line-height: 66px;
    padding: 0 10px;
    position: relative;
}
.head_pic a{
	display:block;
	width:100%;
}
.head_pic .right{
    float: right;
    height: 66px;
}
.head_pic .right img{
    border-radius: 5px;
    width:55px;
    margin: 6px 35px 6px 0;
}
.con i{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    font: 18px iconfont1;
    color: #b5b5b5;
}
.con span{
    color: #898989;
	display:inline-block;
	width:70px;
}
.con .head_pic span{
    float: left;
	width:90px;
}
.news_pic{
    margin-top: 10px;
}
.news_pic ul li{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.news_pic .right{
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	margin-left:10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-right:40px;
}
.news_pic .rightsp{
	text-overflow:clip;
	overflow:visible;
	white-space:normal;
	line-height:24px;
	margin:13px 0;
	margin-right:40px;
}
.news_pic .rightsp strong{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.news_pic .rightsp .address{
	-webkit-flex:1;
	color:#313131;
}
.news_pic ul li{
    position: relative;
    height: 46px;
    width: 100%;
    padding-left:10px;
    background-color: #fff;
    line-height: 46px;
    border-bottom: 1px solid #f3f3f3;
}
.news_pic ul li a{
	display:block;
	width:100%;
	height:100%;
	display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.news_pic i{
    right:20px;
}
.news_pic ul li:nth-child(5){
    margin-top: 10px;
}
.news_pic ul li:last-child{
    margin-top: 10px;
	height:auto;
}
.news_pic ul li strong{
    color: #313131;
	word-wrap:break-word;
	font-size:15px;
}
.con span.system_tip{
	width:62px;
	color:#ff4444;
	display:inline-block;
	text-align:center;
	font-size:12px;
	margin:0 10px;
	vertical-align:1px;
}
.con span.system_tip1{
	position:absolute;
	top:50%;
	-webkit-transform:translate(0, -50%);
	   -moz-transform:translate(0, -50%);
		-ms-transform:translate(0, -50%);
		 -o-transform:translate(0, -50%);
			transform:translate(0, -50%);
}
.btn a {
    display: block;
    width: 95%;
    margin: 10px auto;
    color: #535353;
    text-align: center;
    line-height: 45px;
    height: 45px;
    border-radius: 6px;
    background-color: #fff;
}











