/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    padding: 8px 10px 60px;
    border-top: 59px solid #eee;
}
.ui-input{
	width:260px;
}
.con-bd-t h2{
    height: 36px;
    line-height: 36px;
	padding-top:10px;
    border-bottom: 1px solid #40bb8c;
    font-size: 16px;
    color: #313131;
	text-align:center;
}
.con-bd-t{
	line-height:32px;
}
.con-bd-t .way label{
	cursor:pointer;
	margin-right:15px;
}
.con-bd-t div{
	padding-bottom:10px;
}
.con-bd-t .slt_mobile{
	padding-bottom:17px;
}
.con-bd-t .area select,
.con-bd-t .slt_mobile select{
	height:32px;
	border-color:#dcdcdc;
	border-radius:3px;
	margin:0;
	margin-right:2%;
	cursor:pointer;
	width:31%;
	color:#535353;
	border-style: solid;
	font-family:"微软雅黑";
}
.con-bd-t .slt_mobile select{
	width:22%;
}
.con-bd-t .remarks textarea{
	padding:10px;
	width:100%;
	border-color:#dcdcdc;
	border-style: solid;
	box-sizing:border-box;
	line-height:22px;
	font:14px "microsoft yahei";
	height:80px;
}
.con-bd-t .remarks span{
	vertical-align:top;
}
em.tip{
	color:#ff4444;
	display:none;
}
.suggest{
	color:#898989;
	display:none;
}


/* 文本框样式开始 */
.ui-input {
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
	border-radius:3px;
    font-size: 14px;
    vertical-align: middle;
    background-color: #fff;
    color: #5e5e5e;
    font-family: arial,"microsoft yahei"!important;
	font-weight:normal!important;
	box-sizing:border-box;
}
.ui-input:focus{
    border-color:#8cb5de;
} 

/* 按钮样式开始 */
.ui-button{
    display: inline-block;
    margin: 0;
    height: 34px;
    line-height: 34px;
    width:100%;
    color: #fff;
    border: 1px solid #40bb8c;
    background-color: #40bb8c;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: "microsoft yahei";
}

/* ios下fixed bug */
.posR{
	position: relative!important;
}


















