/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	padding-top:106px;
}
/* tab栏 */
.tabBox .hd{
	font-size:16px;
	overflow:hidden;
	background:#fff;
	position:absolute;
	top:49px;
	left:0;
	width:100%;
	z-index:99;
}
.tabBox .hd ul{
	width:100%;
}
.tabBox .hd ul li{
	float:left;
	width:50%;
	vertical-align:top;
	text-align:center;
}
.tabBox .hd ul li a{
	display:block;
	height:26px;
	line-height:26px;
	padding:12px 0;
	font-size: 15px;
}
.tabBox .hd ul li a .offer{
	border-left:1px solid #dcdcdc;
	display:block;
}
.tabBox .hd ul li a .offerIng{
	border-left:none;
	display:inline-block;
	position: relative;
}
.tabBox .hd ul li  a .offerIng .icon-circle{
	position: absolute;
    right: -8px;
    top: 0px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    background-color: #ff4444;
    border-radius: 50%;
}
.tabBox .hd ul li.on{
	border-bottom:3px solid #40bb8c;
}
.tabBox .hd ul li.on a{
	color:#40bb8c;
}
.tabBox .bd ul li{
	border-bottom:1px dotted #ddd;
}
.tabBox .bd li a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
} 
.readMore{
	display:block;
	height:30px;
	line-height:30px;
	margin:10px auto 20px auto;
	text-align:center;
	text-decoration:underline;
}
/* item1&item2 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.same-item ul li{
	border:1px solid #e5e5e5;
	margin-top:10px;
	background-color:#fff;
}
.same-item ul li .title-news{
	background-color:#e6faf2;
	height:48px;
	line-height:48px;
	padding:0 10px;
}
.same-item ul li.already .title-news{
	background-color:#eee;
}
.same-item ul li .title-news.noPerson{
	background-color:#ededed;
}
.same-item ul li .title-news .titile-user-news img{
	width:28px;
	height:28px;
	border:1px solid #e6e6e6;
	border-radius:50%;
	display:inline-block;
	vertical-align: middle;
}
.same-item ul li .title-news .ready-statu{
	color: #535353;
}

.same-item ul li .main-content .main-content-a{
	display: block;
}
.same-item ul li .main-content .main-content-phone{
	padding: 10px 8px;
	line-height:24px;
}
.same-item ul li .main-content .main-content-phone .user-phone{
	color:#535353;
}
.same-item ul li .main-content .main-content-phone .required{
	color:#000;
	font-size:16px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.same-item ul li .main-content .main-content-people{
	height:44px;
	line-height:44px;
	color:#000;
	padding:0 15px;
	border-top:1px solid #eeeeee;
}
.same-item ul li .main-content .main-content-people .user-time{
	color: #898989;
}
.same-item ul li .main-content .main-content-people span{
	color:#40bb8c;
}












