/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
	padding-bottom:50px;
	padding-top:0;
	border:0 none;
	font-size:15px;
}
div.header{
    position: relative;
	background:-webkit-linear-gradient(#91d0e3,#90b7f1);
	background:linear-gradient(#91d0e3,#90b7f1);
}
div.header .top img{
    width: 100%;
    height:150px;
}
.top_con img{
    width: 85px;
    border: 1px solid #eee;
    border-radius: 2px;
	display:inline-block;
	margin:10px 0 0 10px;
	float:left;
}
.top_con{
    color: #535353;
	position:relative;
	padding: 15px 0;
}
.top_con .headerinFo{
	float:left;
	margin-left:10px;
}
.top_con .headerinFo p b img{
	margin:0 1px;
}
.top_con i{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7.5px;
    font: 16px iconfont1;
    color: #fff;
}
.top_con p.middle{
    margin: 10px 0 6px 0;
	font-size: 16px;
	color:#fff;
}
.top_con .headerinFo span{
	display:inline-block;
	width:39px;
	height:21px;
	background:url(../images/shopicon/authentication.png);
	background-size:cover;
	color:#fff;
	font:12px "微软雅黑";
	line-height:21px;
	text-align:center;
	margin-right:5px;
	border-radius:3px;
}
.top_con .headerinFo span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.top_con .headerinFo span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.top_con .headerinFo span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
}
.top_con p img{
    width:14px;
	border:0 none;
	border-radius:0;
	margin:0;
}
.dateProgress{
	padding:10px 10px;
	margin-top:20px;
	background-color:#9bc2f1;
}

.dateProgressWord{
	margin:0 0 3px 0;
	color:#fff;
	font-size:15px;
}
.dateProgressWord .filled{
	margin-left:0;
	color:#fff;
	font-size:12px;
}
.dateProgress .clearfixBox{
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.dateProgress .clearfixBox .progress-bar {
    width: 90%;
    height: 8px;
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	margin-right:10px;
    border-radius: 36.5px;
	border:1px solid #fff;
}
.dateProgress .clearfixBox .percentage {
    color: #fff;
	min-width:25px;
	max-width:40px;
    line-height: 10px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 700;
}
.progress-bar .progress-bar-filled{
    height: 10px;
    border-radius: 36.5px;
    min-width: 40px;
    position: relative;
    top: -1px;
	background-color: #fff;
}

/*.progress-bar .progress-bar-filled.color100{
	background-color: rgb(64, 187, 140);
}
.progress-bar .progress-bar-filled.color90{
	background-color: rgb(64, 187, 140);
}
.progress-bar .progress-bar-filled.color80{
	background-color: rgb(64, 187, 140);
}
.progress-bar .progress-bar-filled.color70{
	background-color: rgb(255, 204, 0);
}
.progress-bar .progress-bar-filled.color60{
	background-color: rgb(255, 204, 0);
}
.progress-bar .progress-bar-filled.color50{
	background-color: rgb(255, 204, 0);
}
.progress-bar .progress-bar-filled.color40{
	background-color: rgb(255, 204, 0);
}
.progress-bar .progress-bar-filled.color30{
	background-color: rgb(255, 2, 0);
}
.progress-bar .progress-bar-filled.color20{
	background-color: rgb(255, 2, 0);
}
.progress-bar .progress-bar-filled.color10{
	background-color: rgb(255, 2, 0);
}*/

.bdt{
	border-top:1px solid #e6e6e6;
}
.bdb{
	border-bottom:1px solid #e6e6e6;
}
.bdb0{
	border-bottom:0 none!important;
}
.list h3{
	font-size:16px;
	color:#313131;
	height:50px;
	line-height:50px;
	background-color:#fff;
	border-bottom: 1px solid #eeeeee;
	padding:0 10px;
	margin-top:10px;
}
.list-payment h3 span{
	display: inline-block;
    height: 18px;
    color: #fff;
    background-color: #ff4444;
    line-height: 18px;
    width: 30px;
    border-radius: 2px;
    font-size: 12px;
	vertical-align: middle;
    text-align: center;
	margin-left:5px;
}
.list ul{
	background-color:#fff;
}
.list ul li{
    border-bottom: 1px solid #eeeeee;
	width:25%;
    color: #313131;
	float:left;
	text-align:center;
}
.list ul li:last-child p,
.list ul li.my-repair p{
	position: relative;
    width: 83px;
    margin: 0 auto;
}
.list ul li p {
    color: #313131;
    padding-top: 5px;
}
.list ul li a{
    color: #313131;
    display: block;
	padding:18px 0;
}
.list ul li a:active{
	background:#e2e2e2;
}
.list ul li i{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    font: 18px iconfont1;
    color: #b5b5b5;
}
.list ul li .icons-circle{
    position: absolute;
    right: 23px;
    top: -36px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    background-color: #ff4444;
    border-radius: 50%;
}
.list ul li img{
    width: 40px;
    margin: 5px 0;
    vertical-align: middle;
}
.btn a{
    display: block;
    width:95%;
    margin: 15px auto;
    color: #313131;
    text-align: center;
    line-height:45px;
    height:45px;
    border-radius: 6px;
    background-color: #fff;
}