/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
.con .outdiv{
	border-top:10px solid #eee;
}
body{
	background:#fff;
}
.con .classify {
    height:38px;
	line-height:38px;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #eee;
}
.con .classify a.current {
    color: #40bb8c;
	border-bottom:2px solid #40bb8c;
}
.con .classify a {
    display: block;
    line-height: 36px;
	font-size:16px;
    float: left;
    width: 49%;
}
.con .classify a:last-child{
    border-left: 1px solid #e5e5e5;
}
.bigbox{
    padding: 15px 14px 15px 14px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
	
}

.left{
    width:100%;
	line-height:32px;
}
.left img{
    border-radius: 50%;
    width: 32px;
    vertical-align: middle;
}
.left span{
    display: inline-block;
    color: #313131;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
	line-height:17px;
}
.right{
    width: 100%;
    margin-top: 10px;
    color: #313131;
	font-size:15px;
}
.right .scale{
	margin-bottom:5px;
}
.right .scale img{
    width: 18px;
    margin-right: 5px;
    vertical-align: -2px;
}

.right .scale em{
    color: #b5b5b5;
    margin: 0 5px;
}
.right .phone{
    color: #b5b5b5;
    padding: 10px 0;
    font-size: 12px;
}
.left time{
    display:block;
	font-size:12px;
	color:#b5b5b5;
}
.rights{
	display:none;
}
.rights p {
    color: #b92711;
    font-size: 12px;
}
.more p {
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
}
textarea {
    font-size: 14px;
    width: 93%;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #888;
	resize:none;
}
.rights p.alert {
    padding: 4px 10px;
    margin: 5px 0;
    color: #ff4444;
    display: none;
}
.rights p {
    font-size: 12px;
}
.rights input {
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    float: right;
    color: #888;
    padding: 5px;
    font-size: 14px;
    margin: 5px 4.6%;
}
.rights span {
    float: left;
    border: 0 none;
    color: #888;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.more p.more_ad {
    font-size: 12px;
    color: #dcdcdc;
    border: 1px solid #eee;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
}
.right .return{
    line-height: 24px;
}
.right .return em,.right .return time{
    color: #b5b5b5;
}
.right .return time{
    float: right;
    font-size: 12px;
}