/* 
* @Author: Marte
* @Date:   2016-05-16 12:00:21
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 10:51:09
*/
.con h2 {
    font-size: 16px;
    color: #313131;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
/* 用户信息 */
.con .mod_news{
    background-color: #fff;
    margin-top:10px;
}
.con .mod_news p{
    padding: 5px 10px;
	position:relative;
	box-sizing: border-box;
}
.con .mod_news p.master-change-price{
	float: right;
}
.con .mod_news p.master-change-price strong{
	width: auto;
}
.con .mod_news .master-change-price span{
	padding-left: 70px;
	color: #313131;
}
.con .mod_news .master-change-price em{
    font-size: 18px;
	color: #ff4444;
}
.con .mod_news strong{
    color: #898989;
    width: 80px;
	font-size:14px;
	position:absolute;
}
.con .fault_news strong{
    width: 76px;
}
.con .master_news{
	background-color: #f5fffb;
}
.con .master_news.dn{
	display: none;
}
.con .master_news .tips{
	color: #898989;
	font-size: 12px;
}
.con .master_news .tips .icon-tips {
    width: 10px;
    height: 14px;
    background-position: -91px -29px;
    margin: 5px 5px 10px;
    float: left;
}
[class^="icon-"] {
    background-size: 250px 250px;
}
.con .master_news h2{
    border: 0;
}
.con .mod_news span{
    color: #313131;
	padding-left: 80px;
	min-height: 20px;
	font-size: 14px;
}
.con .fault_news span{
    padding-left: 48px;
}
.con .mod_news span.cbdreduce{
	color:#ff4444;
}
.con .mod_news span.yfadd{
	color:#40bb8c;
}
.con .mod_news em{
	color:#313131;
}
.con .mod_news em.add{
	color:#40bb8c;
	font-size:16px;
}
.con .mod_news em.reduce{
	color:#ff4444;
	font-size:16px;
}

.options{
    margin:0;
    background-color: #fff;
}
.options dt{
    margin:0;
    color: #3ebb8d;
    background-color: #fff;
    padding:0 15px;
    line-height:30px;
    font-size:16px;
    font-weight:normal;
}
.options dt span{
    padding:0 0 0 15px;
}
.options dd{
    margin:0;
    padding:12px 16px 7px 16px;
}
.options dd span{
    display:block;
    padding:0 15px;
    border-radius:4px;
    border:1px solid #e2e2e2;
    margin:0px 5px 10px 0;
    line-height:40px;
    height:40px;
    overflow:hidden;
    color: #757575;
    float:left;
}
.options dd span.on{
    background:#3fb88c;
    color:#fff;
    border-color:#3fb88c;
}
.options dd span.mod{
    display:none;
}
.btns{
    text-align:center;
    padding:18px 10px;
	background-color: #fff;
}
.btns button{
    width:47%;
    line-height:39px;
	height:42px;
    border-radius:4px;
    background:#fff;
    font-family: "微软雅黑";
	font-size: 15px;
}
.btns .next{
    display:none;
}
.btns .reco{
    background-color:#fff;
    color:#313131;
    border:1px solid #dcdcdc;
	width:100%;
	
}
.money .sub{
    background:#3fb88c;
    color:#fff;
    border-color:#3fb88c;
	width:28%;
    margin:0 1%;
    line-height:31px;
	height:32px;
    border-radius:3px;
}
.btns .assess{
    background:#ff9000;
    color:#fff;
    border-color:#ff9000;
}

.money{
	padding:15px 10px 0;
	background-color: #fff;
}
.money input{
	border:1px solid #dcdcdc;
	border-radius:5px;
	padding:5px;
	height:32px;
	font:18px "微软雅黑";
	background:#fff;
	vertical-align:middle;
	font-weight: normal;
}
/* 设置文本框placeholder颜色 */
.money input::-webkit-input-placeholder {              
   color: #f4cb90;
   font-weight: bold;
}
.money input:-moz-placeholder {
	color: #f4cb90;
	font-weight: bold;
}
.money input::-moz-placeholder{
	color: #f4cb90;
	font-weight: bold;
}
.money input:-ms-input-placeholder {
	color: #f4cb90;
	font-weight: bold;
 }
.btn-groups {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 3;
    bottom: 0px;
}
.btn-groups .test{
    width:100%;
	height: 50px;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    color: #898989;
}
/* 跟踪信息 */
.fllow_news{
	background-color:#fff;
	font-size: 14px;
	margin-top:10px;
}
.fllow_news .fllow-mod{
	position:relative;
	display:none;
}
.fllow_news .fllow-mod .Open{
    text-align: left;
    font-size: 14px;
    color: #4a64eb;
    position: absolute;
    bottom: 10px;
    padding-top: 100px;
    width: 100%;
    padding-left: 30px;
	box-sizing:border-box;
}
.fllow_news .fllow-mod.current{
	display:block;
}
.fllow_news .outorin span{
    color: #898989;
    height: 42px;
    line-height: 42px;
    text-align:center;
	font-size: 14px;
	width:50%;
	float: left;
}
.fllow_news .outorin span.current{
    color: #40bb8c;
}
.fllow_news ul.dad {
    display: inline-block;
    position:absolute;
	left:0;
	top:16px;
}
.fllow_news li.on b {
    border-color: #40bb8c;
}
.fllow_news ul.dad li p {
    width: 2px;
    height: 55px;
    display: block;
    background: #dfdfdf;
}
.fllow_news ul.dad li.on p {
    background: #3fb88c;
}
.fllow_news ul.son{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: #313131;
	padding-bottom: 15px;
}
.fllow_news ul.son li{
	position: relative;
	border-left:1px solid #ccc;
	padding-left:10px;
	display: none;
}
.fllow_news ul.son li div{
    padding-bottom: 18px;
	color:#535353;
}

.fllow_news ul.son li .circle_step{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display:block;
    margin-left: -4px;
	position:absolute;
	left:-1px;
	top:0px;
	background-color:#fff;
}
.fllow_news ul.son strong{
    color: #b5b5b5;
	display:block;
	font-weight:normal;
	font-size:12px;
}
.fllow_news ul.son li:first-child .circle_step{
    border-color:#40bb8c;
}
.fllow_news ul.son li:first-child div{
    color: #40bb8c;
}
.fllow_news ul.son li:first-child div strong{
    color: #40bb8c;
}
#recovery{
	display: none;
	margin-top: 10px;
}
.f_left{
    float: left;
}
.f_right{
	float: right;
}
.w50{
	width: 50%;
}




