/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    padding: 8px 10px 60px;
    border-top: 59px solid #eee;
}
input,select{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #333;
    vertical-align: -2px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.info .rope{
    margin:0;
    padding:10px 8px;
    border-bottom:1px dashed #dfdfdf;
}
.info .rope.server-range {
	position: relative;
} 
.info .rope.server-range .input-group-addon{
	position: absolute;
	right: 8px;
	top: 40px;
	height: 28px;
	line-height: 28px;
	width: 80px;
	text-align: center;
	background-color: #eee;
    border: 1px solid #ccc;
	border-radius:0 4px 4px 0;
} 
.info .rope label input{
    vertical-align:middle;
    margin:0;
    margin:0 3px 0 0;
}
.info .rope input.text{
    margin:0;
    width:100%;
	box-sizing:border-box;
	font: 14px "微软雅黑";
	height: 30px;
}
.info .rope button{
    margin:0;
    border:0;
    border-radius:4px;
    line-height:28px;
    padding:0;
    width:90%;
    color:#fff;
    background:#f60;
}
.info .form{
    position:relative;
}
.info p{
    margin:0;
    line-height:inherit;
    margin-bottom:10px;
    color: #313131;
}
.info p .text{
    font-size:14px;
}
.info span.grey{
    color:#888;
}
.info a{
    display:inline-block;
}
.info select{
    margin-bottom:5px;
}
.info .citys select{
    width:32% !important;
    margin-left:1% !important;
}
.info select:first-child{
    margin-left:0 !important;
}
.info input{
    margin:0;
}
.info input.radio{
    vertical-align: middle;
    margin-right:2px;
}
.info label{
    display:inline-block;
    margin:0;
    padding-right:10px;
    line-height:30px;
    font-size:14px;
}
.selectedset {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
}
.selectedset input {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}

.selectedset span { 
	display: block;
	position: absolute;
	font:14px "iconfont1";
	color:#b5b5b5;
	top: 50%;
	left:50%;
	margin: -9px 0  0 -6px;
	z-index:1;
}

.selectedset input[type="radio"] + span {
  color:#b5b5b5;

}
.selectedset input[type="radio"]:checked + span {
  color:#40bb8c;
}
.info .btns{
    text-align:center;
}
.info .infoSub{
    display:none;
}
.info p.serve{
    width: 98%;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
#userinfo textarea{
	padding:5px;
	font:14px "微软雅黑";
	width:100%;
	box-sizing:border-box;
	resize:none;
	height:100px;
	border-radius:5px;
	border-color:#ccc;
}
.info p.ptips{
	font-size:12px;
	color:#898989;
	margin-bottom:0;
	margin-top:8px;
}



















