/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    padding: 8px 10px 60px;
    border-top: 59px solid #eee;
}
input,select{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #333;
    vertical-align: -2px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.con dt{
	height:25px;
	line-height:25px;
	color:#535353;
	margin:5px 0;
}
.con dd select{
    width:32% !important;
    margin-right:1% !important;
}
.con dd .longinput{
	width:100%;
	box-sizing:border-box;
	font:14px "微软雅黑";
}
.con dd .shortinput{
	width:30%;
	margin-right:10px;
}
.con dd .showmap{
	padding: 0 10px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    background: #40bb8c;
    border-radius: 5px;
    color: #fff;
	vertical-align:middle;
}
.submit {
    width: 100%;
    height: 36px;
	margin-top:15px;
    background-color: #40bb8c;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
}
.submit a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}
#userinfo div:nth-child(5) input{
	width: 94%;
	margin-right:5px;
}
#userinfo div:nth-child(6) input{
	width:95%;
	margin-right:5px;
}
#userinfo textarea{
	padding:5px;
	font:14px "微软雅黑";
	width:95%;
	resize:none;
	height:100px;
	border-radius:5px;
}
.formTips{
    color: #f40;
    width: 100%;
}
/* 地图 */
.dark{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	top:0;
	left:0;
	z-index:10;
	display:none;
}
.amap-container{
    overflow: hidden;
    height: 350px;
	z-index:12;
    width: 99%;
	top:50%;
	margin-top:-175px;
    background: #fcf9f2;
	border:1px solid #40bb8c;
	display:none;
}
.amap-container span.close{
	position:absolute;
	right:5px;
	top:5px;
	opacity:1;
	font-size:14px;
	font-weight:normal;
	background:#40bb8c;
	color:#fff;
	z-index:100;
	text-shadow: 0 0 0 transparent;
	width:60px;
	text-align:center;
	border-radius:5px;
	height:28px;
	line-height:28px;
}



















