/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
body{
	background:#fff;
}
.con{
    overflow: hidden;
    padding:0 0 60px 0;
	border-top:54px solid #eee;
}
body h1{
	margin:0;
	line-height:44px;
}