/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background:#fff;
}
.con{
    padding: 10px 10px 50px 10px;
    border-top:54px solid #eee;
}
.con .cart{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    margin-bottom:10px;
}
.con .cart img{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin:7px 0;
    float: left;
}
.con .cart span{
    float: left;
    height: 42px;
    line-height: 40px;
    padding: 0 8px;
}
.con .cart i{
    position: absolute;
    right: 8px;
    top: -2px;
    font-size: 24px;
    color: #dcdcdc;
}
.con .cart em {
    background-color: #5b9fe2;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    margin-right: 6px;
}
.con .cart em.credit{
	    background-color: #ff7674;
}