/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
header .calendar{
	right:0;
	top:0;
	color:#40bb8c;
}
header .calendar span{
    font:20px iconfont1;
}
.allcbd{
    background-color: #fff;
    height:50px;
    margin-top: 10px;
    line-height:50px;
    padding: 0 10px;
}
.allcbd .all{
    color: #313131;
}
.allcbd .all em{
    color: #ff4444;
    font-size: 20px;
}
.cbd{
    margin-top: 10px;
    background-color: #fff;
}

#wrapper {
	top: 101px;
	background-color: #fff;
}
.cbd_lst{
    padding: 0 10px 10px 10px;
}
.cbd_lst li{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.cbd_lst li div{
    float: left;
}
.cbd_lst li .time{
	width:40px;
	line-height: 17px;
    padding: 5px 0;
}
.cbd_lst li .time span{
    color: #b5b5b5;
    text-align: center;
	display:block;
}
.cbd_lst li div.circle{
    margin:6px 6% 0;
	width:32px;
}
.cbd_lst li div.circle span{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.cbd_lst li div.circle span{
	color:#fff;
	border-radius:50%;
	background-color:#40bba8;
	width:32px;
	height:32px;
	display:block;
	padding:4px;
	box-sizing:border-box;
	line-height:26px;
	text-align:center;
	font-size:12px;
}
.cbd_lst li div.circle span.return,
.cbd_lst li div.circle span.settlement,
.cbd_lst li div.circle span.recovery,
.cbd_lst li div.circle span.profit{
	background-color:#fd8440;
}

.cbd_lst li div.detial{
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
    word-break: break-all;
}
.cbd_lst li div.detial span{
    color: #313131;
    font-weight: bold;
}
.cbd_lst li div.detial p{
    color: #898989;
    font-size: 14px;
}
.data{
    padding:0 10px;
    position: absolute;
    top: 58px;
    left: 4px;
	z-index:1;
    display: none;
}
.data ul{
    width: 100%;
}
.data ul li{
    width: 32.7%;
    background-color: #fff;
    float: left;
    height:55px;
    line-height: 55px;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    border: 1px solid #dcdcdc;
}
.data ul li.checked{
    background-color: #8ecc52;
	color:#FFF;
}