/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
	padding-top:0;
	padding-bottom:55px;
}
header{
	background-color:#f24e35;
	border:0 none;
}
header h1{
	color:#fff;
}
header h1 .return span{
	color:#fff;
}
.money{
	width:100%;
	height:227px;
	overflow:hidden;
	background:-webkit-linear-gradient(#f04134,#fd8c3c);
	background:linear-gradient(#f04134,#fd8c3c);
	position:relative;
}
.money .usable{
	width:100%;
	height:61px;
	text-align:center;
	color:#fff;
	font-size:15px;
	position:absolute;
	top:50%;
	margin-top:-60.5px;
}
.money .usable strong{
	font-size:32px;
}
.money .other{
	background-color:#fd9651;
	width:100%;
	padding:10px 0;
	position:absolute;
	bottom:0;
}
.money .other div{
	text-align:center;
	width:50%;
	float:left;
	color:#fff;
	font-size:15px;
}
.money .other div strong{
	font-size:18px;
	display:block;
}
@media screen and (max-width: 374px) {
     .money{
		 height:227px;
	 }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
    .money{
		 height:250px;
	 }
}
@media screen and (min-width: 414px) {
    .money{
		 height:294px;
	 }
}
.balance{
	border-top:10px solid #eee;
}
.balance h2{
	height:50px;
	line-height:50px;
	font-size:16px;
	border-bottom:1px solid #dadada;
}
.balance h2 a{
	padding:0 10px;
	display:block;
	color:#313131;
}
.balance h2 a:active{
	background-color:#eee;
}
.balance h2 i{
	font:15px "iconfont1";
	float:right;
	height:50px;
	line-height:50px;
	color:#a0a0a0;
}
.balance ul li{
	height:48px;
	padding:5px 0;
	border-bottom:1px solid #eee;
	line-height:24px;
}
.balance ul li .clearfix{
	padding:0 10px;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.balance ul li .Fleft{
	float:left;
}
.balance ul li .left{
	width:40px;
	line-height: 18px;
    padding:6px 0;
}
.balance ul li .left span{
	color:#898989;
	display:block;
}
.balance ul li .middle{
	margin:8px 6% 0;
	width:32px;
}
.balance ul li .middle .item span{
	color:#fff;
	border-radius:50%;
	background-color:#40bba8;
	width:32px;
	height:32px;
	display:block;
	padding:4px;
	box-sizing:border-box;
	line-height:26px;
	text-align:center;
	font-size:12px;
}
.balance ul li .middle .item span.return,
.balance ul li .middle .item span.settlement,
.balance ul li .middle .item span.recovery,
.balance ul li .middle .item span.profit{
	background-color:#fd8440;
}
.balance ul li .right{
	padding:8px 0;
	line-height:18px;
	color:#313131;
	font-weight:bold;
	-webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
}
.balance ul li .right p{
	color:#b5b5b5;
	font-weight:normal;
	word-break: break-all;
}
.balance .withdraw_btn{
	height:50px;
	line-height:50px;
	width:100%;
	font-size:16px;
	text-align:center;
	background-color:#fff;
	display:block;
	color:#313131!important;
	box-shadow:0 -3px 3px #eee;
	position:fixed;
	bottom:0;
	left:0;
}
.balance .withdraw_btn:active{
	background:#eee;
}



















