/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color: #fff;
}
.con{
    margin-top: 10px;
    overflow:hidden;
    padding: 0 20px;
	border-top:54px solid #eee;
}
.con .accounts,.con .password{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}
.con .tips{
    text-align:left;
    color:#f60;
    line-height:20px;
    margin-bottom:10px;
}
.con .password i{
    width: 15px;
    height: 17px;
    margin-top: -8.5px;
    background-position: -68px -391px;

}
.con input{
    width: 97%;
    height:25px;
    font:14px "微软雅黑";
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
.con .code{
    margin-top: 15px;
    position: relative;
}
.con .code input{
    width: 42%;
}
.con .code span{
    width: 45%;
    height:35px;
    background-color: #3ebb8d;
    color: #fff;
    text-align: center;
    line-height:35px;
    display: inline-block;
    border-radius: 5px;
    float: right;
}
.con .code span.codeimg{
    overflow:hidden;
	width:45%;
    height:50px;
    background-color: transparent;
}
.codeimg img{
    width: 100%;
	height:35px;
    float: right;
}
.con .sms{
    display: none;
}
.con .button a{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    height:35px;
    font-size: 16px;
    background-color: #3ebb8d;
    text-align: center;
    line-height:35px;
    color: #fff;
    display: block;
}
.tencent_code{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    background-color: #3ebb8d;
    text-align: center;
    line-height: 35px;
    color: #fff;
    display: block;
}
