/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    padding: 0 10px 51px;
    border-top: 54px solid #eee;
}
input,select{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #333;
    vertical-align: -2px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.info{
    padding:8px 10px;
}
.info .rope{
    margin:0;
    padding:8px 5%;
    border-bottom:1px dashed #dfdfdf;
}
.info .rope label input{
    vertical-align:middle;
    margin:0;
    margin:0 3px 0 0;
}
.info .rope input.text{
    margin:0;
    width:95%;
}
.info .rope .radio{
}
.info .rope button{
    margin:0;
    border:0;
    border-radius:4px;
    line-height:28px;
    padding:0;
    width:90%;
    color:#fff;
    background:#f60;
}
.info .form{
    position:relative;
}
.info p{
    margin:0;
    line-height:inherit;
    margin-bottom:5px;
    color: #313131;
}
.info p .text{
    font-size:14px;
}
.info span.grey{
    color:#888;
}
.info a{
    display:inline-block;
}
.info select{
    margin-bottom:8px;
}
.info .citys select{
    width:32% !important;
    margin-left:1% !important;
}
.info .citys select:first-child{
	margin:0 !important;
}
.info select:first-child{
    margin-left:0 !important;
}
.info input{
    margin:0;
}
.info input.radio{
    vertical-align: middle;
    margin-right:2px;
}
.info label{
    display:inline-block;
    margin:0;
    padding-right:10px;
    line-height:30px;
    font-size:14px;
}
.info .btns{
    text-align:center;
}
.info .infoSub{
    display:none;
}
.info p.serve{
    width: 100%;
    background-color: #3ebb8d;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
	margin-top:10px;
}

.selectedset {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
}
.selectedset input {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}

.selectedset span { 
	display: block;
	position: absolute;
	font:18px "iconfont1";
	color:#dcdcdc;
	top: 50%;
	left:50%;
	margin: -13px 0  0 -11px;
	z-index:1;
}

.selectedset input[type="radio"] + span {
  color:#b5b5b5;

}
.selectedset input[type="radio"]:checked + span {
  color:#40bb8c;
}