/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.rightCancels{
    width: 1.44rem;
    height: 1.44rem;
    right: 1.5rem;
    top: 46px;
}
.rightCancels span,
.rightCancels a{
    font:21px "iconfont1";
    color:#40bb8c;
    z-index: 10;
}
.rightCode{
	right:0;
	top:50%;
	margin-top:-20px;
}
#credit-info-data{
	display:none;
}
#credit-info-cvv2{
	display:none;
}