/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
/*body{
	background-color: #fff;
}
.con{
    margin-top: 10px;
    overflow:hidden;
    padding: 0 20px;
	border-top:54px solid #eee;
}
.con input{
    width: 96%;
    height:25px;
    font:14px "微软雅黑";
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
	box-shadow:none !important;
	background:#fff;
}
.bdCont .rope{
	margin-bottom:15px;
	position:relative;
}
.bdCont .Rcode input ,.bdCont .img_code input{
	width:60%;
	float:left;
}
.bdCont .tps{
	color:#666;
	margin:15px 0;
}
.bdCont .rope button{
    width:100%;
    padding:0;
    text-align:center;
    line-height:40px;
    border:0;
    border-radius:4px;
    background:#3fb88c;
    color:#fff;
	cursor:pointer;
}
.img_code img{
	height:37px;
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	border-radius: 0 5px 5px 0 ;
	float:right;
}
.bdCont .rope #phone_login_btn,.bdCont .rope #re_code{
	width: 30%;
	height: 35px;
	display:inline-block;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	cursor:pointer;
	text-align:center;
	vertical-align:0;
	line-height:35px;
	cursor:pointer;
	color:#535353;
	float:right;
}*/
.con{
	padding-top:0;
}
div.header{
    background: url(../images/bg_02.jpg) 0 -80px no-repeat;
    width: 100%;
    overflow: hidden;
    padding: 7% 10px;
    position: relative;
	box-sizing:border-box;
}
div.header span.master{
    width: 110px;
    height: 36px;
    position: absolute;
    right: -23px;
    bottom: 20px;
    border-radius: 42px 0 0 42px;
    line-height: 37px;
    text-indent: .5em;
    border: 1px solid #fff;
    z-index: 2;
    background-color: rgba(255,255,255,0.3);
}
div.header span.master a{
    color: #fff;
}
.middle{
    color: #fff;
    margin-top: 10px;
}
.user_pic{
    border: 3px solid #90dbcd;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
	margin-right:5px;
}
.user_pic a{
	display:block;
}
.user_pic img{
    width: 100%;
}
.user_name{
	float:left;
}
.user_name .name{
    margin: 10px 0 10px 0;
	font-size:16px;
}
.user_name .date,.user_name .account{
	font-size:14px;
	margin: 0 0 10px 0;
}
.user_name a{
	width: 110px;
    height: 28px;
    display: block;
    text-align: center;
    background-color: #e1b400;
    color: #fff;
    font-size: 14px;
    border-radius: 16px;
    cursor: pointer;
    line-height: 27px;
}
.user_name .name span{
	padding:0 7px;
	height:20px;
	line-height:20px;
	display:inline-block;
	color:#fff;
	border-radius:2px;
	margin-left:8px;
	font-size:12px;
}
.user_name .name .store{
	background-color:#ff7330;
}
.user_name .name .vip{
	background-color:#debc00;
}
.user_name .name .novip{
	background-color:#dcdcdc;
}

.classify{
    background-color: #fff;
    padding: 10px 0;
	box-sizing:border-box;
}
.classify a{
    display: block;
    width: 25%;
    float: left;
    text-align: center;
	box-sizing:border-box;
	border-right: 1px solid #eeeeee;
}
.classify a:last-child{
    border:0 none;
}
.classify a.middle{
	margin-top: 0;
}
.classify a strong{
    display: block;
    font-size: 20px;
    color: #313131;
}
.classify a span{
    display: block;
    font-size: 16px;
    color: #b5b5b5;
}

.list ul{
    margin-top: 10px;
	background-color:#fff;
}
.list ul li{
    border-bottom: 1px solid #eeeeee;
	width:25%;
    color: #313131;
	float:left;
	text-align:center;
}
.list ul li p{
	color:#313131;
	padding-top:5px;
}
.list ul li a{
    color: #313131;
    display: block;
	padding:18px 0;
}
.list ul li a:active{
	background:#e2e2e2;
}
.list ul li img{
    width: 30px;
    margin: 5px 0;
    vertical-align: middle;
}
.btn a{
    display: block;
    width:95%;
    margin: 10px auto;
    color: #313131;
    text-align: center;
    line-height:45px;
    height:45px;
    border-radius: 6px;
    background-color: #fff;
}

.binding_phone{
	background:rgba(0,0,0,0.5);
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
}
.main_box{
	position:absolute;
	width:88%;
	background-color:#fff;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	   -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
         -o-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	border-radius:5px;
}
.main_box h2{
	height:50px;
	line-height:50px;
	font-size:18px;
	color:#313131;
	border-bottom:1px solid #c9c9c9;
	text-align:center;
}
.main_box>.content{
	padding:5px 15px 25px 15px;
}
.main_box>.content>div{
	margin:15px 0 0 0;
}
.main_box>.content>div.phone{
	margin:25px 0 0 0;
}
.main_box>.content>p{
	color:#b5b5b5;
	font-size:12px;
	margin:10px 0;
}
.phone_code{
	display:none;
}
.tips{
	text-align:center;
	margin-top:10px;
	width:100%;
	position:absolute;
	top:45px;
}
.img_code>img{
	height:42px;
	display:inline-block;
	border-radius: 0 5px 5px 0 ;
	float:right;
}
footer{
	z-index:1000;
}
.img_bg img{
	width:75%;
	display:block;
	margin:0 auto;
}
@media screen and (max-width: 374px) {
     .img_bg{
		 margin-top:0;
	 }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
    .img_bg{
		 margin-top:13px;
	 }
}
@media screen and (min-width: 414px) {
    .img_bg{
		 margin-top:15px;
	 }
}










































