/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
body{
	background-color:#fff;
}
.con{
    background-color: #fff;
    border-top:59px solid #eee;
    padding: 10px 10px 55px 10px;
	font-size:15px;
}
.safe_level{
    margin: 15px 0;
    color: #757575;
    line-height: 5px;
}
.safe_level strong{
    color: #2b2b2b;
}
.safe_level  p {
    border: 1px solid #dfdfdf;
    height: 6px;
    margin: 0 10px;
    vertical-align: middle;
    width: 64%;
    float: right;
    line-height: 25px;
    border-radius: 5px;
}
.safe_level p span.level1 {
    display: block;
    width: 10%;
    background: #ff4444;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level2 {
    display: block;
    width: 25%;
    background: #ff4444;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level3 {
    display: block;
    width: 50%;
    background: #ff9c00;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level4 {
    display: block;
    width: 75%;
    background: #ff9c00;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level5 {
    display: block;
    width: 100%;
    background: #40bb8c;
    float: none;
    height: 6px;
    border-radius: 5px;
}

.safe_style p{
    color: #757575;
    margin: 15px 0;
}
.safe_style  ul{
    width: 100%;
    height:auto;
}
.safe_style  ul li{
   text-align: center;
   width: 49%;
   float: left;
   padding: 10px 0;
   word-wrap: break-word;
   color: #292929;
}
.bdt{
	border-top:1px solid #eee;
}
.bdb{
	border-bottom:1px solid #eee;
}
.bdl{
	border-left:1px solid #eee;
}
.bdr{
	border-right:1px solid #eee;
}
.safe_style  ul li img{
   width: 80px;
}
.safe_style .pic_con{
    margin: 6px 0;
    height: 20px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.safe_style .none{
    color: #b5b5b5;
}
.safe_style .reset{
   color: #3ebb8d;
   font-size: 14px;
}
.safe_style .reset a{
	color: #3ebb8d;
}

button{
  font-family: "微软雅黑";
}
.posF{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "微软雅黑";
  color:#535353;
}
.hide{
  display: none;
}
.posF .bd{
  width:auto;
  display:block;
  padding: 12px 15px;
}
.posF .bd .tips{
  color:#f60;
  line-height:20px;
  text-align:Center;
  margin-bottom:10px;
}
.posF .bd .rope{
  margin:0 0 10px 0;
  width:inherit;
  display:block;
  text-align:center;
}
.posF .bd .rope:before{
  content:'';
  line-height:0;
  display:table;
}
.posF .bd .rope:after{
  content:'';
  line-height:0;
  display:table;
  clear:both;
}
.posF .bd .rope button{
  width:100%;
  background:#3fbb8c;
  color:#fff;
  border-radius:4px;
  border:1px solid #3fbb8c;
  height:38px;
  line-height:38px;
  margin:auto;
  padding:0;
}
.posF .bd .rope input{
  margin:auto;
  display:block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 95%;
}
.posF .bd .rope p{
  margin:0;
  line-height:28px;
  text-align:center;
}
.posF .bd .posR{
  z-index:0;
  width:inherit;
}
.posF .bd .ImgCode img{
  height:34px;
  width:auto;
  margin:auto;
  display:block;
  right:0;
  top:0;
  border:1px solid #ccc;
  border-radius:4px;
  border-left:0;
}

.posF .bd .mesg .submit{
  display:none;
}
.posF .bd .after{
  display:none;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    z-index: -1;
}
.bx80 {
    width: 92%;
    margin: 10% auto 0 auto;
    background: #fff;
    border: 2px solid #dfdfdf;
	border-radius:5px;
}
.bx80 .hd {
    height: 48px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.bx80 .hd .off {
	position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    font:26px iconfont1;
	color:#b5b5b5;
}
.posA.off {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 10;
    background: url(../images/coins.png) no-repeat -440px -53px;
    cursor: pointer;
}
.posA {
    position: absolute;
}
.posR {
    position: relative;
}
.bx80 .hd p {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 16px;
    line-height: 48px;
	text-align:center;
}
input{
	font-family:"微软雅黑";
	height:26px;
}