/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background: #fff;
	padding:44px 10px 10px;
}
.con{
	padding-top:0;
	max-width:640px;
	margin:0 auto;
}
/*.create{
	background-color:#dff0d8;
	border:1px solid #b9d5a0;
	padding:10px;
	box-sizing:border-box;
	border-radius:5px;
	color:#377238;
	margin:15px 0 0 0;
	line-height:24px;
}*/
.main_box{
	width:100%;
	overflow: hidden;
	margin:20px 0 0 0;
}
.main_box img{
	width:100%;
	height:auto;
}
.bg_box{
	background: #fff;
	border-radius:5px;
	margin:10px;
}
.main_box .user_news{
	height:40px;
	line-height:40px;
	padding:15px 15px 15px 30px;
}
.main_box .user_news .radius_box{
	height:46px;
	width:46px;
	overflow:hidden;
	float:left;
	border:2px solid #eee;
}
.main_box .user_news img{
	height:48px;
}
.main_box .user_news h1{
	font-size:16px;
	color:#000;
	margin-left:15px;
	float:left;
	height:40px;
}
.introduce h2{
	height:40px;
	line-height:40px;
	background-color:#eeeeee;
	text-align:center;
}
.img_box{
	width: 65%;
    margin: 15px auto;
}
.img_box img{
	border:10px solid #eee;
	width:100%;
	box-sizing:border-box;
}
.main_box p{
	height: 18px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 10px;
    color: #535353;
    font-size: 12px;
}
.btns{
	margin:7% 0;
}
.btns button{
	text-align:center;
	background-color:#fff;
	color:#313131;
	height:40px;
	top:0;
	padding:0 15px;
	line-height:40px;
	width:48%;
	box-sizing:border-box;
	font-size:18px;
	border-radius:5px;
	float:left;
}
.btns button#url_btn{
	float:right;
}








