/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.cardList {
    height: 56px;
    border-bottom: 1px solid #eee;
	width:50%;
	float:left;
	text-align:center;
	padding:10px 0;
}
.bankIC {
    top: 50%;
    margin-top: -15px;
    position: relative;
    left: 0;
}
.tabBox{
    width:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
.tab_bank {
    height: 51px;
    line-height: 51px;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}
.tabBox .hd ul{
    display:-moz-box;
    display:-webkit-box;
    display:box;
}
.tabBox .hd ul li{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    background-color: #fff;
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #666;

}
.tabBox .hd ul li.on{
    border-bottom: 2px solid #359df5;
    color: #359df5;
    height: 98%;
}

.tabBox .bd{
    position:relative;
    z-index:0;
	background:#fff;
}
.tabBox .bd li a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}  /* 去掉链接触摸高亮 */}
