/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.card-center {
    min-height: 100%;
}
.border-box {
    box-sizing: border-box;
}
.pct100 {
    width: 100%;
}
.mlr15rn {
    margin-left: 12px;
    margin-right: 12px;
}
.pt15rn {
    padding-top: 10px;
}
.card-center .card-list > li {
    margin-bottom: 10px;
    color: #fff;
    background-color: #449cc9;
    height: 105px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.card-center .zfb{
	height:105px;
	background:#00b9e2;
	border-radius: 5px;
	text-align:center;
}
.card-center .zfb .zfbson{
	font-size:24px;
	height:54px;
	line-height:60px;
	display:block;
	color:#fff;
}
.card-center .zfb .content{
	font-size:14px;
	line-height:40px;
}
.card-center .card-list .info {
    height: 68px;
}
.card-center .card-list .empty{
	line-height:120px;
	font-size:16px;
	text-align:center;
}
.pr {
    position: relative;
}
.card-center .card-list .info .bank-icon {
    left: 28px;
    height: 32px;
	width:115px;
}
.card-center .card-list .info img {
    left:63px;
}
.card-center .card-list .info .info-bank {
    top: 32px;
    left: 163px;
}
.fs16 {
    font-size: 14px;
}
.pt5r {
    padding-top: 5px;
}
.fs12 {
    font-size: 14px;
}
.card-center .card-list .info .info-tel {
    opacity: 0.6;
    right: 24px;
    top: 28px;
}
.card-center .card-list .card-no {
    height: 28px;
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 10px;
}
.card-center .card-list .card-dot {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    right: 80px;
}
.card-center .card-list .card-dot ul {
    height: 8px;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
}
.card-center .card-list .card-no ul li {
    opacity: .6;
    float: left;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 7px;
}
.card-center .card-list .card-no .num {
}
.fs24 {
    font-size: 18px;
}
.card-center .add-card {
    color: #999;
    height: 105px;
    background-color: #fff;
    background-size: 46px;
    border-radius: 5px;
    background-position: center 11px;
    background-repeat: no-repeat;
    margin: 10px 12px;
    background-image: url(../images/icon_add.png);
}
.mlr15rn {
    margin-left: 12px;
    margin-right: 12px;
}
.card-center .add-card .word {
    color: #999;
    text-align: center;
    bottom: 20px;
    position: absolute;
    width: 100%;
}
.fs18 {
    font-size: 16px;
}

.fixBottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fixBottom h6{
    text-align: center;
}
.menu .feature, .menu .fcancel {
    border-radius: 8px;
    width: 94%;
    margin: 0 auto;
    background-color: #fff;
}
.ptb15r {
    padding-top: 18px;
    padding-bottom: 18px;
    color:#535353;
}
.menu .feature li {
    text-align: center;
    padding: 24px;
}
.menu .red {
    color: #ff3b30;
}
.bt {
    border-top: 1px solid #ebebeb;
}
.menu .fcancel {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    color:#40bb8c;
}
.menu {
    background-color: rgba(0, 0, 0, 0.6);
}
.z10 {
    z-index: 10;
}
.fullLayer{
    width: 100%;
    height: 100%;
}
.fixTop {
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.green{
    color:#40bb8c;
}
.ptb20r {
    padding-top: 16px;
    padding-bottom: 16px;
}
/* 支付宝 */
.filter {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}
.filterBx {
    width: 100%;
    background-color: #fff;
    height: 100%;
    overflow: auto;
}
.filterBx .header {
    background: #fff;
    margin: 0;
    height: 52px;
    line-height: 52px;
    position: relative;
	padding:0;
}
.filterBx .header dt {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -26px;
}
.filterBx .header i {
    font-family: iconfont1;
    font-size: 24px;
    color: #40bb8c;
    margin-left: 5px;
}
.filterBx .header .ddName {
    width: 100%;
    text-align: center;
    float: left;
    line-height: 52px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-size:18px;
}
.ui-form-item {
	padding:0 10px;
	box-sizing:border-box;
}
.anim-input{
	width:94%;
}
.font-red.Tip{
	left:10px!important;
}