/* 
* @Author: Marte
* @Date:   2016-05-23 15:50:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-25 16:38:54
*/
.con{
	padding-top:0;
}
div.header{
    background: url(../images/bg_02.jpg) 0 -80px no-repeat;
    width: 100%;
    overflow: hidden;
    padding: 7% 10px;
    position: relative;
	box-sizing:border-box;
}
div.header span.master{
    width: 100px;
    height: 28px;
    position: absolute;
    right: -23px;
    bottom: 8px;
    border-radius: 42px 0 0 42px;
    line-height: 28px;
    text-indent: .5em;
    border: 1px solid #fff;
    z-index: 2;
    background-color: rgba(255,255,255,0.3);
}
div.header span.master .icons-circle{
    position: absolute;
    right: 33px;
    top: 5px;
    width: 6px;
    height: 6px;
    background-color: #ff4444;
    border-radius: 50%;
}
div.header span.master a{
    color: #fff;
}
.middle{
    color: #fff;
    margin-top: 10px;
}
.user_pic{
    border: 3px solid #90dbcd;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
	margin-right:5px;
}
.user_pic a{
	display:block;
}
.user_pic img{
    width: 100%;
}
.user_name{
	float:left;
}
.user_name .name{
    margin: 10px 0 10px 0;
	font-size:16px;
}
.user_name .date,.user_name .account{
	font-size:14px;
	margin: 0 0 10px 0;
}
.user_name a{
	width: 110px;
    height: 28px;
    display: block;
    text-align: center;
    background-color: #e1b400;
    color: #fff;
    font-size: 14px;
    border-radius: 16px;
    cursor: pointer;
    line-height: 27px;
}
.user_name .name span{
	padding:0 7px;
	height:20px;
	line-height:20px;
	display:inline-block;
	color:#fff;
	border-radius:2px;
	margin-left:2px;
	font-size:12px;
}
.user_name .name .store{
	background-color:#ff7330;
}
.user_name .name .vip{
	background-color:#debc00;
}
.user_name .name .novip{
	background-color:#dcdcdc;
}

.classify{
    background-color: #fff;
    padding: 10px 0;
	box-sizing:border-box;
	display: -webkit-box;	 
	display: -moz-box;		
	display: -ms-flexbox;	 
	display: flex;
}
.classify a{
    -webkit-box-flex: 1;     
	-moz-box-flex: 1;        
	width: 20%;              
	-webkit-flex: 1;         
	-ms-flex: 1;              
	flex: 1; 
	display: block;
    text-align: center;
	box-sizing:border-box;
	border-right: 1px solid #eeeeee;
}
.classify a:active{
    background-color:#eee;
}
.classify a:last-child{
    border:0 none;
}
.classify a.middle{
	margin-top: 0;
}
.classify a strong{
    display: block;
    font-size: 20px;
    color: #313131;
}
.classify a span{
    display: block;
    font-size: 16px;
    color: #b5b5b5;
}

.list ul{
    margin-top: 10px;
	background-color:#fff;
}
.list ul li{
    border-bottom: 1px solid #eeeeee;
	width:25%;
    color: #313131;
	float:left;
	text-align:center;
}
.list ul li p{
	color:#313131;
	padding-top:5px;
}
.list ul li a{
    color: #313131;
    display: block;
	padding:18px 0;
}
.list ul li a:active{
	background:#e2e2e2;
}
.list ul li img{
    width: 30px;
    margin: 5px 0;
    vertical-align: middle;
}
.btn a{
    display: block;
    width:95%;
    margin: 10px auto;
    color: #fff;
    text-align: center;
    line-height:45px;
    height:45px;
    border-radius: 6px;
    background-color: #ff4444;
}
.img_bg img{
	width:75%;
	display:block;
	margin:0 auto;
}
@media screen and (max-width: 374px) {
     .img_bg{
		 margin-top:0;
	 }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
    .img_bg{
		 margin-top:13px;
	 }
}
@media screen and (min-width: 414px) {
    .img_bg{
		 margin-top:15px;
	 }
}