/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con {
    background-color: #fff;
    margin-top: 10px;
    overflow: hidden;
    height: 600px;
    padding: 0 12px;
}
.con .hd {
    margin: 0 0 10px 0;
}
.con .hd ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #dfdfdf;
    overflow: visible;
    height: 38px;
    margin-top: 15px;
}
.con .hd li.on {
    color: #40bb8c;
}
.con .hd li:first-child {
    border-right: 1px solid #dfdfdf;
}
.con .hd li {
    display: inline-block;
    width: 49%;
    line-height: 38px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 14px;
    color: #313131;
}
.con .bd{
    margin-top: 18px;
}
.con .bd ul li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    color: #212121;
    width: 100%;
}
.con .bd ul li strong{
    float: left;
}
.con .bd ul li.bank span{
    margin-left: 15px;
}
.con .bd ul li.bank,.con .bd ul li.zfb{
    display: none;
    border-top: 1px solid #eeeeee;
}
.con .bd ul li.current{
    display: block;
}
.con .bd ul li input {
    width: 62%;
    margin-left: 10px;
    float: left;
    padding: 5px;
    font: 14px "微软雅黑";
    height: 30px;
	background:#fff;
}
.con .bd a{
    float: right;
    color: #f8aa22;
}
.con div.submit a{
    width: 100%;
    height:36px;
    line-height: 36px;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    background-color: #40bb8c;
    color: #fff;
    border-radius: 5px;
}