/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
/* item1&item2 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.same-item ul li{
	border:1px solid #dcdcdc;
	margin-top:10px;
	background-color:#fff;
}
.same-item ul li .title-news{
	background-color:#e0efe9;
	height:43px;
	line-height:43px;
	padding:0 10px;
}
.same-item ul li .title-news.noPerson{
	background-color:#ededed;
}
.same-item ul li .title-news .titile-user-news img{
	width:28px;
	height:28px;
	border:1px solid #e6e6e6;
	border-radius:50%;
	display:inline-block;
	vertical-align: middle;
}

.same-item ul li .main-content .main-content-a{
	display: block;
}
.same-item ul li .main-content .main-content-phone{
	padding: 10px 8px;
	line-height:24px;
}
.same-item ul li .main-content .main-content-phone .user-phone{
	color:#898989;
}
.same-item ul li .main-content .main-content-phone .required{
	color:#ff9000;
	font-size:16px;
	padding-left: 5px;
}



