/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.btn-box a.disabled {
    background-color: #d2d2d7;
    border-color: #d2d2d7;
    color: #fff;
}
.makeSurebtn {
    border-radius: 4px;
    text-align: center;
    height: 3rem;
    width: 90%;
    line-height: 3rem;
    font-size: 15px;
    margin: 1.7rem auto 0;
    color: #fff;
    background-color: #cccccc;
}
.anim-input {
    background: none;
    display: inline-block;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: left;
    height: 32px;
    color: #252525;
    line-height: 32px;
    position: absolute;
    font-family: "微软雅黑";
    font-size:15px !important;
}
.btn-box .red-btn {
    color: #fff;
    background-color: #40bb8c;
    border-color: #40bb8c;
}
.btn-box a {
    border-radius: 5px;
    display: block;
    text-align:center;
    padding:10px 0;
    position: relative;
    margin: 0 10px;
    font-size: 16px;
    border-color: #d7d7d7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.auto {
    margin: 0 auto;
}
.posR {
    position: relative;
}
.col-999999{
    color: #bfbfbf;
}
.posA {
    position: absolute;
}
.col-btn1Gray {
    background-color: #40bb8c;
}
.col-btn1Graysp{
	background-color: #40bb8c!important;
}
.marginauto {
    margin: 0.8rem auto;
    width: 90%;
}
.dn{
  display:none;
}
.font-red{
  color:#ff4444;
  font-size:12px ;
}
.font-redsp{
	color:#40bb8c;
	font-size:12px ;
}
.font-red.Tip,.font-redsp.Tip{
  top:18px;
  left:0;
}
.abs-mm {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.abs-mt {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.abs-lm {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.abs-mb {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.abs-rm {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.abs-lb {
    position: absolute;
    left: 0;
    bottom: 0;
}
.abs-lt {
    position: absolute;
    left: 1px;
    top: 0;
}
.abs-rt {
    position: absolute;
    right: 0;
    top: 0;
}
.rightCancel{
    width: 1.44rem;
    height: 1.44rem;
    right: 1.5rem;
    top: 46px;
}
.rightCancel span{
    font:21px "iconfont1";
    color:#a0a0a0;
    z-index: 10;
}
.header {
    padding: 0.6rem 1rem;
    line-height: 1rem;
    text-align: center;
}
.border-top{
    border-top:1px solid #eee;
}
.ui-form-item {
    height: 7rem;
    overflow: hidden;
}
.col-bgw {
    background: #ffffff;
    padding: 0 10px;
}
.mt10{
    margin-top: 10px;
}
.bg-white{
    background-color: #fff;
}
.fz12{
    font-size: 12px;
    color:#898989;
}
.fl{
    float: left;
}
.v-h{
    visibility: hidden;
}
#confirmBtn{
	position:relative;
}
#span-red-all,#sp-red-all{
	top:-35px;
	left:50%;
	-webkit-transform: translate(-50%,0);
       -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
         -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
}