/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-08 10:58:56
*/
/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-08 10:58:56
*/
.con .cbd-mod{
	margin-top: 10px;
	background-color: #fff;
}
.con .cbd{
	padding:10px;
}
.con .cbd .balance{
	color: #ff9600;
}
.selectmoney{
	background-color: #fff;
	padding:10px;
}
.selectmoney .title{
	margin:0 0 10px;
}
.selectmoney .title .rate{
	font-size: 12px;
    color: #b5b5b5;
}
.selectmoney .money ul li{
	height: 49px;
	line-height: 49px;
	padding: 0 10px;
	box-sizing:border-box;
	border: 1px solid #dcdcdc;
	color: #313131;
	margin-top: 12px;
	border-radius:2px;
	position: relative;
}
.selectmoney .money ul li p{
	display: inline;
}
.selectmoney .money ul li .sign{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.selectmoney .money ul li.current{
	border-color:#ff4444;
	border-width:2px;
}
.selectmoney .money ul li .cbdval{
	font-size: 17px;
	color: #ff4444;
	font-weight: bold;
}
.selectmoney .money ul li .giveval{
	font-size: 15px;
	color: #ff4444;
}
.btn_div {
	text-align: center;
	padding:0 10px;
}
.btn_div .btn-recharge{
	display: inline-block;
	width: 140px;
    height: 38px;
    overflow: hidden;
	background-color: #ff4444;
	border-radius: 5px;
	line-height: 38px;
	color: #fff;
	font-size: 16px;
	margin:15px 0;
	text-align: center;
}


























