/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.con{
    overflow: hidden;
    padding-bottom: 60px;
}
.head_pic{
    margin-top: 10px;
    background-color: #fff;
    height:66px;
    line-height: 66px;
    position: relative;
}
.head_pic a{
    display:block;
	width:100%;
	height:100%;
	padding: 0 10px;
	box-sizing:border-box;
}
.head_pic span{
    float: left;
}
.head_pic .right{
    float: right;
    height: 66px;
}
.head_pic .right img{
    border-radius: 50%;
    width:55px;
    margin: 6px 35px 6px 0;
}
.con i{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    font:18px iconfont1;
	color:#b5b5b5;
}
.con span{
    color: #898989;
}
.news_pic{
    margin-top: 10px;
    
}
.news_pic .right{
    float: right;
}
.news_pic ul li{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #fff;
    line-height: 40px;
    border-bottom: 1px solid #f3f3f3;
}
.news_pic ul li a{
	display:block;
	width:100%;
	height:100%;
	padding-left:10px;
} 
.news_pic i{
    right:10px;
}
.news_pic ul li:nth-child(5){
    margin-top: 10px;
}
.news_pic ul li:first-child{
	margin:0 0 10px 0;
}
.news_pic ul li:last-child{
    margin-top: 10px;
}
.news_pic ul li strong{
    color: #313131;
    margin-right: 50px;
}
/* a:active{
	background:#f5f5f5;
} */