/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/

body{
	background-color:#fff;
}
.lst{
	border-top: 10px solid #eee;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.lst p{
	line-height:26px;
	margin:10px 0;
	text-indent:28px;
	color:#535353;
}
.lst p.special{
	background-color: rgb(248,249,250);
}










