/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con {
    background-color: #fff;
    border-top:60px solid #eee;
    overflow: hidden;
    height: 600px;
    padding: 0 12px;
	font-size:15px;
	box-sizing:border-box;
}
.con .hd {
    margin: 0 0 10px 0;
}
.con .hd ul {
    list-style: none;
    margin: 0;
    padding: 0;
	width: 100%;
    text-align: center;
    border: 1px solid #dfdfdf;
    overflow: visible;
    height: 42px;
    margin-top: 15px;
}
.con .hd li {
    float:left;
    width: 50%;
    line-height: 42px;
    color: #313131;
}
.con .hd li.on {
    color: #40bb8c;
}
.con .hd li:first-child {
    border-right: 1px solid #dfdfdf;
	box-sizing:border-box;
}
.con .bd{
    margin-top: 18px;
}
.con .bd ul li {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    color: #212121;
    width: 100%;
}
.con .bd ul li.input{
	height:90px;
	line-height:90px;
}
.con .bd ul li.input label{
	height:90px;
	line-height:90px;
}
.con .bd ul li.input label input{
	height:80px;
	line-height:80px;
	font-size:26px;
}
.con .bd ul li label{
	display:block;
	height: 46px;
    line-height: 46px;
}
.con .bd ul li strong{
    float: left;
	font-size:15px;
}
.con .bd ul li.bank span,
.con .bd ul li.zfb span{
    margin-left: 10px;
}
.con .bd ul li.bank span img{
	vertical-align:middle;
	padding-bottom:6px;
}
.con .bd ul li.bank,
.con .bd ul li.zfb{
    display: none;
    border-top: 1px solid #eeeeee;
}
.con .bd ul li.current{
    display: block;
}
.con .bd ul li input {
    width: 70%;
    margin-left: 10px;
    float: left;
    padding: 5px;
    font: 14px "微软雅黑";
    height: 36px;
	background:#fff;
}
.con .bd a{
    float: right;
    text-align: center;
    color: #f8aa22;
}
.con div.submit a{
    width: 100%;
    height:42px;
    line-height: 42px;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    background-color: #40bb8c;
    color: #fff;
    border-radius: 5px;
}