/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#fff;
}
.lst{
	border-top:10px solid #eee;
}
.lst li{
	display: -webkit-box;	  
    display: -moz-box;		
    display: -ms-flexbox;	  
	display: -webkit-flex;	
    display: flex;
	border-bottom:1px solid #eeeeee;
	padding:10px;
}
.lst .empty{
	color:#535353;
	text-align:center;
	display:block;
	border:0 none;
	padding:10px;
}
.lst .empty a{
	color:#40bb8c;
}
.lst .img_box{
	width:70px;
	height:70px;
	overflow:hidden;
	margin:0 10px 0 0;
}
.lst .img_box img{
	width:68px;
	height:68px;
	border-radius: 5px;
	border:1px solid #e5e5e5;
}
.lst .text_box{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: 20%;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1; 
}
.lst .text_box p{
	line-height:24px;
}
.lst .text_box .name strong{
	color: #313131;
    width: 100px;
    font-size: 14px;
    white-space: nowrap;
    float: left;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lst .text_box span{
	font-size:14px;
	color:#898989;
}
.profit .profit_left em{
	color:#40bb8c;
}













