/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	letter-spacing:0;
	font-size:15px;
}
.allcbd{
    background-color: #fff;
    height:50px;
    margin-top: 10px;
    line-height:50px;
    padding: 0 10px;
}
.allcbd .all{
    color: #313131;
}
.allcbd .all em{
    color: #ff4444;
    font-size: 20px;
	vertical-align: middle;
}
.allcbd .all .btn-recharge{
    display: inline-block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	background-color: #40bb8c;
	color: #fff;
	text-align: center;
	margin-left: 15px;
	border-radius:3px;
	float: right;
	margin-top: 9px;
}
.cbd{
    margin-top: 10px;
    background-color: #fff;
    padding-bottom: 40px;
}
.cbd_tit{
    height:45px;
    line-height: 45px;
    padding: 0 10px;
    border:1px solid #eee;
}
.cbd_tit div.i{
	height:45px;
	width:30px;
	float: right;
	position:relative;
}
.cbd_tit i{
	position:absolute;
    font: 18px iconfont1;
    color: #707070;
    margin-top: -8.5px;
	top:50%;
	left:5px;

}
#wrapper {
	top: 161px;
	background-color: #fff;
}
.cbd_lst{
    padding: 0 10px 10px 10px;
}
.cbd_lst li{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.cbd_lst li div{
    float: left;
}
.cbd_lst li div.time{
    font-size: 20px;
    color: #b4b4b4;
    text-align: center;
}
.cbd_lst li div.time span{
    display: block;
}
.cbd_lst li div.time span.clock{
    font-size: 14px;
}

.cbd_lst li div.circle{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #fab50e;
    border-radius: 50%;
    text-align: center;
    color: #b4b4b4;
    margin: 0 2%;
    display: table;
}
.cbd_lst li div.circle span{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.cbd_lst li div.shopping{
    border: 1px solid #40bb8c;
}
.cbd_lst li div.repair{
    border: 1px solid #f40;
}
.cbd_lst li div.recovery{
    border: 1px solid #2a6cf3;
}
.cbd_lst li div.offer{
    border: 1px solid #ff7800;
}
.cbd_lst li div.comment{
    border: 1px solid #d64cfe;
}
.cbd_lst li div.return{
    border: 1px solid #ff4444;
}
.cbd_lst li div.detial{
    width: 58%;
}
.cbd_lst li div.detial span{
    color: #313131;
    font-size: 18px;
    font-weight: bold;
}
.cbd_lst li div.detial p{
    color: #898989;
    font-size: 14px;
}
.cbd_lst li div.detial .in{
    color: #40bb8c;
}
.cbd_lst li div.detial .out{
    color: #ff4444;
}
.data{
    padding:0 10px;
    position: absolute;
    top: 160px;
    left: 4px;
	z-index:1;
    display: none;
}
.data ul{
    width: 100%;
}
.data ul li{
    width: 32.7%;
    background-color: #fff;
    float: left;
    height:55px;
    line-height: 55px;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    border: 1px solid #dcdcdc;
}
.data ul li.checked{
    background-color: #8ecc52;
	color:#FFF;
}