/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
.video_lst{
    background-color: #fff;
    width: 100%;
	margin: 10px 0 0 0;
}

.video_lst li{
    width: 46%;
    height: 155px;
    float: left;
    margin: 10px 0 0 3%;
	padding:0 0 5px 0;
}
.video_lst li a{
    width: 100%;
    height: auto;
    display: block;
}
.video_lst img{
    width:99%;
    height:99px;
}
.waterfllow-loading img{
    width:auto;
}
.video_lst strong{
    font-size: 15px;
    display: block;
    height: 40px;
    color: #000;
}
.video_lst p{
    color: #b5b5b5;
	font-size:12px;
    text-align: right;
}
.video_lst p .look{
    font:16px iconfont1;
	color:#b5b5b5;
    display: inline-block;
	margin-right:2px;
	vertical-align:-1px;
}
/*筛选*/
.filter {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
}
.filterBx {
    width: 90%;
    margin-left: 10%;
    background: #f6f6f6;
    height: 100%;
    overflow: auto;
}
.filterBx .header {
    background: #fff;
    margin: 0;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.filterBx .header dt{
   width: 12%;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -24px;
}
.filterBx .header i{
    color: #40bb8c;
    font-family: "iconfont1";
    font-size: 25px;
    margin-left: 5px;
}
.filterBx .header .ddName {
    width: 80%;
    text-align: center;
    margin-right: 10%;
    float: left;
    font-size: 16px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .mod {
    line-height: 28px;
    margin: 0 0 5px 0;
    background: #fff;
}
.filterBx .mod dt {
    line-height: inherit;
    margin: 0;
    color: #313131;
	line-height:42px;
    padding-left: 5%;
    border-bottom: 1px solid #dfdfdf;
	font-size:15px;
}
.filterBx .mod dd {
    line-height: inherit;
    margin: 0;
    padding: 5px;
}
.filterBx .mod dd a {
   display: block;
    float: left;
    width: 47%;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 2% 1%;
    font-size: 15px;
    text-align: center;
    padding: 6px 8px;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterBx .mod dd a.on {
    border-color: #3fbb8c;
    color: #fff;
    background: #3fbb8c;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}