/* 
* @Author: Marte
* @Date:   2016-05-21 17:03:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-31 09:50:55
*/
.detial{
    background-color: #fff;
    margin-top: 10px;
    height: 209px;
}
.detial .content{
   padding: 10px 8px;
   height:28px;
}
.detial img{
    width: 100%;
    height:auto;
}
.detial h2{
    font-size: 16px;
    display: block;
    float: left;
    color: #313131;
}
.detial p{
    color: #b5b5b5;
    float: right;
}
.detial p .look{
    font:16px iconfont1;
	color:#b5b5b5;
    display: inline-block;
    margin:0 2px 0 10px;
}

.video_idr{
    margin-top: 45px;
    background-color: #fff;
    padding-bottom: 20px;
}
.video_idr h3,.video_relative h3,.pro_relative h3{
    font-size: 18px;
    text-indent: 1em;
    height:50px;
    line-height:50px;
    color: #313131;
    border-bottom: 1px solid #dcdcdc;
}
.video_idr p.content{
    padding: 8px;
    font-size: 15px;
    color: #313131;
    line-height: 26px;
}
.video_idr p.time{
    color: #b5b5b5;
    text-align:right;
    padding-right: 8px;
}

.video_relative{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
}
.video_relative ul{
    width: 100%;
	padding:0 0 10px 0;
}
.video_relative li{
    width: 43%;
    float: left;
    margin:10px 0 0 5%;
}
.video_relative img{
    width:100%;
    height:auto;
}
.video_relative strong{
    font-size: 15px;
    display: block;
    color: #313131;
}

.pro_relative{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
}
.pro_relative ul{
    padding: 10px;
}
.pro_relative li{
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
	box-sizing:border-box;
}
.pro_relative li a{
    display: block;
    width: 100%;
    height: 100%;
	color:#535353;
	box-sizing:border-box;
    padding:10px 5px;
	display: -webkit-box;	  
    display: -moz-box;		
    display: -ms-flexbox;	 
	display: -webkit-flex;	
    display: flex;
}
.pro_relative li a:active{
    background-color:#eee;
}
.pro_relative li .left{
    width:82px;
}
.pro_relative li .right{
    margin-left: 15px;
    -webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: 20%;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size:15px;
}
.pro_relative  li img.pro{
    width: 80px;
    border: 1px solid #dcdcdc;
}
.pro_relative  li span{
    color: #313131;
    text-align: left;
    display: block;
    word-wrap: break-word;
}
.pro_relative  li p{
    margin-top: 5px;
    color: #ff4810;
}
.pro_relative  li p img{
    width: 16px;
    float: right;
}