/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background-color:#fff;
}
#user_Box{
	padding:10px;
}
#user_Box .img_Box{
	width:45px;
	height:45px;
	overflow:hidden;
	border-radius:50%;
	float:left;
}
#user_Box .img_Box img{
	width:45px;
}
#user_Box .con_Box{
	float:left;
	margin-left:9px;
}
#user_Box .con_Box h2{
	color:151414;
	font-size:16px;
}
#user_Box .con_Box .date,#user_Box .con_Box .novip{
	color:#b5b5b5;
	margin-top:4px;
}
#user_Box .con_Box .date span{
	width:36px;
	height:20px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	border-radius:2px;
	text-align:center;
	line-height:19px;
	background-color:#debc00;
	margin-right:5px;
}
#user_Box .con_Box .novip span{
	width:36px;
	height:20px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	border-radius:2px;
	text-align:center;
	line-height:20px;
	background-color:#dcdcdc;
	margin-right:5px;
}
#select_Box,#introduce{
	border-top:10px solid #eee;
}
#select_Box h3,#introduce h3{
	font-size:16px;
	color:#40bb8c;
	padding:15px 10px;
	border-bottom:1px solid #eee;
}
#select_Box li{
	padding:15px 10px;
	border-bottom:1px solid #eee;
	color:#313131;
	font-size:14px;
	color:#535353;
}
#select_Box li .Fleft{
	float:left;
}
#select_Box li .Fleft em{
	font-size:12px;
	padding-left:3px;
	color: #ff4444;
	text-decoration: line-through;
}
#select_Box li .Fleft .circle{
	border:1px solid #d3d3d3;
	border-radius:50%;
	width:16px;
	height:16px;
	display:inline-block;
	position:relative;
	top:4px;
	margin-right:5px;
}
#select_Box li.current .Fleft .circle{
	background:url(../images/vipselected.jpg);
	width:16px;
	height:16px;
	background-size:cover;
	border-color:#ff4444;
}
#select_Box li .Fright{
	float:right;
	color:#313131;
}
#select_Box li .Fright span{
	font-size:18px;
	color:#ff4444;
}
#select_Box button{
	width:90%;
	display:block;
	margin:16px auto;
	height:42px;
	background-color:#ff4444;
	color:#fff;
	font-size:16px;
	border-radius:12px;
	cursor:pointer;
}
#select_Box button a{
	display:block;
	color:#fff;
}
#introduce p{
	color: #151414;
    padding: 10px 10px 0px 10px;
}



















