/* 
* @Author: Marte
* @Date:   2016-05-21 16:17:26
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-30 16:07:30
*/
/*分类*/
.con{
    border-top:10px solid #eee;
}
.list ul li{
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    line-height: 46px;
    font-size: 16px;
    color: #313131;
    position: relative;
}
.list ul li p{
    height:46px;
    line-height: 46px;
}
.list ul li.current a.tit{
    color:#40bb8c;
}
.list ul li.current i{
    display:none;
}
.list ul li.current div{
    display: block;
}
.list ul li div{
    color:#535353;
    padding:0 10px;
    line-height: 28px;
    display: none;
}
.list ul li a{
    color: #535353;
    display: block;
    height:42px;
    padding-left: 10px;
}
.list ul li i{
    position: absolute;
    right: 2px;
    top: 2px;
    font-family:"iconfont1";
	font-size:16px;
	color:#eee;
}