.w{
    background-color: #ecedf2;
    padding: 32px 0;
}
body{
	background-color: #fff;
}
.payment{
    padding: 12px 10px 0;
	border-top:1px solid #eee;
}
.order{
	background:#fff;
}
.p-w-hd {
    margin-bottom: 20px;
    font-size: 18px;
    color:#666;
    font-family: "Microsoft Yahei";
}
.font-red {
    color: #ff5d5b!important;
}
.j_weixinInfo{
    color:#666;
	font: 12px/150% Microsoft Yahei;
}
.p-w-bd {
    margin-bottom: 30px;
}
.p-w-box {
    width: 300px;
    border: 0 none;
    margin: 10px auto;
}
.p-w-box .repeat{
	line-height:298px;
	text-align:center;
	font-size:16px;
}
.pw-box-hd {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 298px;
    height: 298px;
	margin-top:0;
}
.pw-box-ft {
    height: 44px;
	margin:0;
	border:0 none;
    padding: 8px 0 8px 125px;
    background: url(../images/icon-red.png) 50px 8px no-repeat #ff7674;
}
.pw-box-ft p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
}
.payment-change a{
    display: block;
    height:60px;
    line-height: 56px;
    padding:0 20px;
    color:#40bb8c;
}
.payment-change a i{
    color:#40bb8c;
    display: inline-block;
    vertical-align: -2px;
    font-size: 20px;
}
.order{
	padding:10px 0;
}
.order .o-right {
    overflow: hidden;
	text-align:center;
	padding-top:10px;
}
.order .o-right strong {
	font-size:16px;
	font-weight: bold;
    color: #ffa368;
	margin:0 3px;
}
.order .o-left {
    text-align:center;
	color:#535353;
}
.order .o-left h3{
    font-weight: bold;
}