<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/editpost.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="add_answer">
			<div class="answer_top clearfix">
				<h2>编辑您的<eq name="data.category" value="1">答案<else />回复</eq></h2>
				<div class="help_author">
					<eq name="Think.session.user.userid" value="">
						<a href="<{:U('User/login')}>"><i class="icon icon_comment"></i>立即登录</a>
					<else />
						<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><i class="icon icon_comment"></i><{$Think.session.user.username}></a>
					</eq>
				</div>
			</div>
			<form id="edit" method="post" action="__CONTROLLER__/doEditPost" autocomplete="off">
			<div class="help_input">
				<textarea name="message" placeholder="输入<eq name="data.category" value="1">答案<else />回复</eq>就有赠送草包豆哦！"><{$data.message}></textarea>
				<div class="btns clearfix">
					<div class="user_img"><img id="<if condition="$data.attachment eq ''">user_img<else />user_img_show</if>" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" /></div>
					<input type="hidden" id="insert" name="insert" value="" />
					<input type="hidden" id="quote" name="quote" value="" />
					<input type="hidden" name="id" value="<{$data.id}>" />
					<span class="quote">
						<neq name="data.quote" value="0">
							<a href="__APP__/view/<{$data.quote}>.html"><{$data.quotesubject}></a><span class="icon icon_close"></span>
						</neq>
					</span>
					<label for="inser_pic" class="inser_pic icon icon_btn"><em class="icon icon_add"></em>插入图片<input type="file" name="inser_pic" id="inser_pic"></label>
					<button class="inser_link icon icon_btn"><em class="icon icon_add"></em>添加引用</button>
					<a href="#" class="ui-button btn_release">提交编辑</a>
				</div>
				<div class="ui-widget-content ui-window">
					<div class="ui-widget-header">
						<span class="ui-dialog-title">添加引用</span>
						<span class="ui-icon close-window">×</span>
					</div>
					<div class="quote-dialog-content">
						<p><input class="quote-url" type="text" name="link" maxlength="180"></p>
						<p class="quote-msg">请输入引用链接</p>
					</div>
					<div class="ui-dialog-btns clearfix">
						<div>
							<a href="javascript:;" class="ui-button confirm">确定</a>
							<a href="javascript:;" class="ui-button close-window cancle">取消</a>
						</div> 
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
        // 引用打开
		$(".inser_link").click(function(event) {
			$('.quote-url').val("");
			$('.ui-widget-content').stop().fadeIn(300);
			return false;
		});
		// 引用确定
		$(".ui-dialog-btns .confirm").click(function(event) {
			var _content = $(this).parents('.ui-widget-content');
			var url = _content.find('.quote-url').val();
			if(url == ""){
				_content.find(".quote-msg").show();
			}else{
				var model = 'https://bbs.caobao.com/view/';
				if(url.indexOf('http') == 0){
					if(url.indexOf(model) >= 0){
						var idstr = url.split(model)[1];
						var id = idstr.split('.')[0];
						$.post('__CONTROLLER__/searchThread', {'id':id}, function(d){
							var data = $.parseJSON(d);
							if(data){
								_content.siblings('.btns').find('.quote').show().html('<a href="http://bbs.caobao.com/view/'+data['id']+'.html" target="_blank">'+data['subject']+'</a><span class="icon icon_close"></span>');
								_content.siblings('.btns').find('#quote').val(id);
								_content.find(".quote-msg").hide();
								_content.delay(200).fadeOut(300);
								return false
							}else{
								_content.find(".quote-msg").show();
							}
						});
					}else{
						_content.find(".quote-msg").show();
					}
				}else{
					_content.find(".quote-msg").show();
				}
			}
		});
		// 引用关闭
		$(".btns").on("click",".quote .icon_close",function(event) {
			$(this).parent(".quote").hide();
			$(this).parent(".quote").siblings('input[name=quote]').val('');
		});
		// 回答发表确定
		$(".add_answer .btns .btn_release").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var textarea = $(this).parent().siblings('textarea')
			if(textarea.val()==""){
				textarea.css("borderColor","#f00").focus();
				return false;
			}else{
				textarea.css("borderColor","#dcdcdc");
			}
			$("#edit").submit();
		});
		// 压缩插入图片
		$("#inser_pic").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					//console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					//console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('.user_img').find('img').attr('src',src).show();  
					$('#insert').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持！...');
				}
			});
		});
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->