<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/share.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content clearfix wrap">
	<form id="edit" method="post" action="__CONTROLLER__/doEditThread">
	<div class="content_left">
		<div class="share_tit">
			<h1><i class="skill_icon"></i>问题与解答</h1>
		</div>
		<div class="slt_type clearfix">
			<span data-id="1" <eq name="data.sub" value="1">class="current"</eq>><i class="icon icon_disslt"></i>使用技巧</span>
			<span data-id="2" <eq name="data.sub" value="2">class="current"</eq>><i class="icon icon_disslt"></i>维修技巧</span>
		</div>
		<div class="slt_model mod">
			<h2>选择一个设备</h2>
			<input type="text" id="slt_model" name="select" class="ui-input input_share w646 none" placeholder="示例：输入苹果6 选择下边的型号" />
			<input type="hidden" name="fid" value="<{$data.fid}>" />
			<input type="hidden" name="sub" value="<{$data.sub}>" />
			<p class="tip">请输入选择一个型号</p>
			<div class="clearfix alerted">
				<span class="icon icon_close" id="close_cb"></span>
				<img src="__PUBLIC__/bbs/icon/<{$data.forum.icon}>" height="45" width="45">
				<p><strong><{$data.forum.name}></strong><{$data.forum.description|msubstr=0,105,'utf-8',true}></p>
			</div>
			<div class="prolist">
				<ul></ul>
			</div>
		</div>
		<div class="write_tit mod">
			<h2>文章标题</h2>
			<input type="text" id="subject" name="subject" value="<{$data.subject}>" class="ui-input input_share w646" placeholder="示例：输入标题" />
			<p class="tip">请输入文章标题</p>
		</div>
		<div class="simple_intro mod">
			<h2>简介</h2>
			<div class="user_imgs drop">
				<eq name="data.attachment" value="">
					<p><img src="__PUBLIC__/Forum/images/default/pic.jpg" height="15" width="19" />请从右侧拖地图片至此处</p>
				<else />
					<div style="cursor: move;">
						<img src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" width="85">
					</div>
					<span id="img_colse" class="close">×</span>
				</eq>
			</div>
			<input type="hidden" id="attachment" name="attachment" value="" />
			<input type="hidden" id="quote" name="quote" value="" />
			<textarea name="description" placeholder="示例：简单描述分享,没有可以不填" class="ui-textarea text_share w646"><{$data.description}></textarea>
			<button class="ui-button btn_add add_exp">+添加经验引用</button>
			<span class="quote">
				<neq name="data.quote" value="0">
					<a href="__APP__/view/<{$data.quote}>.html"><{$data.quotesubject}></a><span class="close">×</span>
				</neq>
			</span>
			<p class="tip">请输入简介</p>
			<div class="ui-widget-content ui-window">
				<div class="ui-widget-header">
					<span class="ui-dialog-title">添加引用</span>
					<span class="ui-icon close-window">×</span>
				</div>
				<div class="quote-dialog-content">
					<p><input class="quote-url" type="text" name="link" maxlength="180"></p>
					<p class="quote-msg">请输入正确的引用链接</p>
				</div>
				<div class="ui-dialog-btns clearfix">
					<div>
						<a href="javascript:;" class="ui-button confirm">确定</a>
						<a href="javascript:;" class="ui-button close-window cancle">取消</a>
					</div> 
				</div>
			</div>
		</div>
		<div class="tool mod">
			<h2>工具<span>（选填）</span></h2>
			<foreach name="data.tools" item="vo">
			<div class="closeble tool_list profalse clearfix">
				<em class="circle"></em>
				<input type="text" name="tools[]" value="<{$vo.content}>" class="input_tool ui-input input_share w558" placeholder="请输入需要的工具" />
				<em class="icon icon_close"></em>
			</div>
			</foreach>
			<button class="ui-button btn_add ml40" id="add_tool">+添加工具</button>
		</div>
		<div class="method mod">
			<h2>方法/步骤</h2>
			<volist name="data.steps" id="vo">
			<div class="pro_list clearfix profalse">
				<span class="num_circle"><{$i}></span>
				<div class="pro_right w618">
					<div class="user_imgs drop">
						<eq name="vo.attachment" value="">
							<p><img src="__PUBLIC__/Forum/images/default/pic.jpg" height="15" width="19" />请从右侧拖地图片至此处</p>
						<else />
							<div style="cursor: move;">
								<img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" width="85">
							</div>
							<span id="img_colse" class="close">×</span>
						</eq>
					</div>
					<input type="hidden" id="attachment" name="attachments[]" value="" />
					<input type="hidden" id="old_attachments" name="old_attachments[]" value="<{$vo.attachment}>" />
					<input type="hidden" id="quote" name="quotes[]" value="" />
					<div class="closeble clearfix">
						<textarea name="step[]" placeholder="点击这里输入方法或步骤" class="ui-textarea step text_share w558"><{$vo.content}></textarea>
						<div class="icons">
							<em class="icon icon_close"></em>
							<em class="icon icon_add"></em>
						</div>
					</div>
					<button class="ui-button btn_add add_exp">+添加经验引用</button>
					<span class="quote">
						<neq name="vo.quote" value="0">
							<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a><span class="close">×</span>
						</neq>
					</span>
					<div class="ui-widget-content ui-window">
						<div class="ui-widget-header">
							<span class="ui-dialog-title">添加引用</span>
							<span class="ui-icon close-window">×</span>
						</div>
						<div class="quote-dialog-content">
							<p><input class="quote-url" type="text" name="link" maxlength="180"></p>
							<p class="quote-msg">请输入正确的引用链接</p>
						</div>
						<div class="ui-dialog-btns clearfix">
							<div>
								<a href="javascript:;" class="ui-button confirm">确定</a>
								<a href="javascript:;" class="ui-button close-window cancle">取消</a>
							</div> 
						</div>
					</div>
				</div>
				<p class="tip">请输入方法步骤</p>
			</div>
			</volist>
			<div class="ui-button btn_add" id="add_pro">+添加新步骤栏目</div>
		</div>
		<div class="careful mod">
			<h2>注意事项</h2>
			<foreach name="data.matters" item="vo">
			<div class="closeble care_list profalse clearfix">
				<em class="circle"></em>
				<input type="text" name="matters[]" value="<{$vo.content}>" class="input_careful ui-input input_share w558" placeholder="请输入注意事项" /><em class="icon icon_close"></em>
				<p class="tip">请输入注意事项</p>
			</div>
			</foreach>
			<button class="ui-button btn_add ml40" id="add_careful">+添加注意事项</button>
			
		</div>
		<div class="mask mod">
			<h2>相关标签<span>（选填）</span></h2>
			<div class="clearfix"><input type="text" name="tags" value="<{$data.tags}>" class="ui-input input_share w646" placeholder="请输入标题里最关键的'词组'，让更多的朋友找到此问题。如：苹果6、更换屏幕等等..." /></div>
		</div>
		<div class="oriange">
			<span>原创作者声明</span>
			<div class="oriange_check"><input type="checkbox" name="original" value="1" id="selfwrite" <if condition="$data.original eq '1'">checked</if>/> <label for="selfwrite" > 是否原创，非原创请勿勾选。</label></div>
		</div>
		<div class="CR">
			<strong>版权声明</strong>
			<p>草包网的用户不得侵犯包括他人的著作权在内的知识产权以及其他合法权利，请勿在未经授权的情况下转载任何涉及著作权侵权的分享，除非完全由您个人创作。由于用户发布的相关内容引起的任何知识产权纠纷或其他法律纠纷，其责任在于用户本人，与草包网无关。点击发布即表示您确认该分享不违反国家相关法律法规及分享协议，并且您拥有该分享的合法、完整的版权或者合法、完整的转载授权。</p>
		</div>
		<div class="presub">
			<input type="hidden" name="id" value="<{$data.id}>" />
			<span class="btn-sub ui-button">提交编辑</span>
		</div>
	</div>
	</form>
	<div class="content_right">
		<div class="dw" id="dw">
			<div class="catalog">
				<ul class="catalog-list">
					<li class="ca-brief-item current">简介</li>
					<li class="ca-tools-item">工具/原料</li>
					<li class="ca-step-item">方法/步骤</li>
					<li class="ca-notice-item">注意事项</li>
				</ul>
			</div>
			<div class="gallery-lib">
				<div class="btns">
					<label for="upload"><img src="__PUBLIC__/Forum/images/default/img_bg.jpg" />点击添加图片<input type="file" name="upload" id="upload" /></label>
				</div>
				<div class="gallery-list">
					<ul class="drag"></ul>
				</div>
			</div>
		</div>
	</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
	<script src="__PUBLIC__/Forum/js/jquery.drag.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
		// 维修技巧和使用技巧切换
		$(".slt_type span").click(function(event) {
			var sub = $(this).attr('data-id');
			$("input[name=sub]").val(sub);
			$(this).addClass('current').siblings().removeClass('current');
		});
		// 筛选版块
		$('#slt_model').on('keyup focus',function(event){
			var sel = $(this).val();
			if($.trim(sel) == ''){
				$(".prolist").hide();
				return false;
			}
			$.post('__CONTROLLER__/searchForum', {'select':sel}, function(d){
				var data = $.parseJSON(d);
				if(data){
					$('.prolist ul').find("li").remove(); 
					for(var a = 0;a < data.length;a++){
						var html = '<li class="clearfix" data-id="'+ data[a]['id'] +'"><img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'" /><p><strong>'+ data[a]['name'] +'</strong>'+ data[a]['description'] +'</p></li>';
						$(".prolist ul").append(html);
					}
					$(".prolist").slideDown(300);
				}
			});
		});
		// 分类弹出框/机型检查
		$('#slt_model').val('')  // 初始化
		$(".content_left").on('mouseenter',".prolist li",function(event){
		   $(this).addClass('current').siblings().removeClass('current');
		}).on('mouseleave',".prolist li",function(event){
			$(this).removeClass('current')
		}).on('click',".prolist li",function(event){
			var id = $(this).attr('data-id');
			var imgsrc = $(this).children('img').attr("src");
			var phtml = $(this).children('p').html();
			var alerted = $(".alerted");
			alerted.children('img').attr("src",imgsrc);
			alerted.children('p').html(phtml);
			alerted.show();
			$("input[name=fid]").val(id);
			$('#slt_model').hide();
			$(this).parents(".prolist").hide();
			$(".slt_model").removeClass('false').children('.tip').hide();
		});
		// 关闭型号列表
		$("#close_cb").click(function(event) {
			$(this).parent().hide();
			$("input[name=fid]").val('');
			$('#slt_model').val('').show().focus();
			$(".slt_model").addClass('false');
		});
		// 标题检查
		$('#subject').bind('keyup blur', function(event) {
			var len = $(this).val().length;
			if (len>5 && len<25){
				$(".write_tit").removeClass('false').children('.tip').hide();
			}else{
				$(".write_tit").addClass('false');
			}
		});
		// 点击添加图片
		$("#upload").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					//console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					//console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('.drag').append('<li><div><img src="'+src+'" width="85" /></div></li>');
					$('.drag li').Drag({drop:'.drop, .drag li',finish:change});
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持！...');
				}
			});
		});
		// 点击关闭图片
		$(document).on('click','#img_colse',function(){
			var p = '<p><img src="__PUBLIC__/Forum/images/default/pic.jpg" height="15" width="19" />请从右侧拖地图片至此处</p>';
			var _this = $(this)
			_this.parents(".pro_right").find("#attachment").val("");
			_this.parents(".pro_right").find("#old_attachments").val("");
			_this.parents(".drop").html(p);
			
		});
		// 方法/步骤输入检查
		$('.step').bind('keyup blur', function(event) {
			check_step();
		});
		// 方法/步骤检查
		function check_step(){
			$(".method textarea").each(function(index, element) {
				var len = $(element).val();
				if (len.length > 5){
					$(element).parents(".pro_list").removeClass('profalse').children('.tip').hide();
				}else{
					$(element).parents(".pro_list").addClass('profalse').children('.tip').show();;
				};
				if($(element).parents(".profalse").length == 0){
					$(element).parents(".method").removeClass('false');
				}else{
					$(element).parents(".method").addClass('false');
				}
			});
		}
		// 注意事项检查
		function check_careful(){
			$(".careful input").each(function(index, element) {
				var len = $(element).val();
				if (len.length != 0){
					$(element).parents(".closeble").removeClass('profalse').children('.tip').hide();
				}else{
					$(element).parents(".closeble").addClass('profalse').children('.tip').show();;
				};
				if($(element).parents(".profalse").length == 0){
					$(element).parents(".careful").removeClass('false');
				}else{
					$(element).parents(".careful").addClass('false');
				}
			});
		}
		
		// 引用打开
		$(".content_left").on("click",".add_exp",function(event) {
			$(this).siblings('.ui-widget-content').find('.quote-url').val('');
			$(this).siblings('.ui-widget-content').stop().fadeIn(300);
			return false;
		}).on("click",".ui-dialog-btns .confirm",function(){        // 引用确定
			var _content = $(this).parents('.ui-widget-content');
			var url = _content.find('.quote-url').val();
			if(url == ""){
				_content.find(".quote-msg").show();
			}else{
				var model = 'http://bbs.caobao.com/view/';
				if(url.indexOf('http') == 0){
					if(url.indexOf(model) >= 0){
						var idstr = url.split(model)[1];
						var id = idstr.split('.')[0];
						$.post('__CONTROLLER__/searchThread', {'id':id}, function(d){
							var data = $.parseJSON(d);
							if(data){
								_content.siblings('.quote').show().html('<a href="http://bbs.caobao.com/view/'+data['id']+'.html" target="_blank">'+data['subject']+'</a><span class="icon icon_close"></span>');
								_content.siblings('#quote').val(id);
								_content.find(".quote-msg").hide();
								_content.delay(200).fadeOut(300);
								return false
							}else{
								_content.find(".quote-msg").show();
							}
						});
					}else{
						_content.find(".quote-msg").show();
					}
				}else{
					_content.find(".quote-msg").show();
				}
			}
		}).on("click",".quote .icon_close",function(event) {
			$(this).parent(".quote").hide();
		});
		
		// 添加工具
		$('.tool').on('click','#add_tool',function(){
			$(".tool .closeble").eq(0).clone().insertBefore("#add_tool");
			$(".tool_list:last").find(".input_tool").val("");
			return false;
		}).on('click','.icon_close',function(){
			if($(".tool .closeble").length>1){
				$(this).parents(".closeble").remove();
			}
		});
		// 添加步骤方法
		var proLength = $(".pro_list").length;
		$('.method').on('click','#add_pro,.icon_add',function(){
			proLength++;
			$(".method .pro_list").eq(0).clone().insertBefore("#add_pro");
			$(".method .pro_list:last").children('.num_circle').html(proLength);
			$(".pro_list:last").find(".step").val("");
			$(".pro_list:last .user_imgs").html('<p><img src="/Public/Forum/images/default/pic.jpg" height="15" width="19">请从右侧拖地图片至此处</p>');
			return false;
		}).on('click','.icons .icon_close',function(){
			if($(".method .pro_list").length>1){
				$(this).parents(".pro_list").remove();
			};
			if($(".method .pro_list").length>1){
				proLength--;
				$(this).parents(".pro_list").remove();
			}
			var length = $(".method .pro_list").length;
			for(var i = 0;i<length;i++){
				var item = $(".method .pro_list");
				$(item[i]).children('.num_circle').html(i+1);
			};
		});
		// 添加注意事项
		$(".careful").on("click","#add_careful",function(){
			$(".careful .closeble").eq(0).clone().insertBefore("#add_careful");
			$(".care_list:last").find(".input_careful").val("");
			return false;
		}).on('click','.icon_close',function(){
			if($(".careful .closeble").length>1){
				$(this).parents(".closeble").remove();
			};
		});

		// 提交
		var model_ofset_top = $('.slt_model h2').offset().top;
		var write_ofset_top = $(".write_tit h2").offset().top;
		var meth_ofset_top = $(".method h2").offset().top;
		var care_ofset_top = $(".careful h2").offset().top;
		var tool_ofset_top = $(".tool h2").offset().top;
		var sim_ofset_top = $(".simple_intro h2").offset().top;
		$(".presub").click(function(event) {
			check_step();
			check_careful();
			if($('.slt_model').hasClass('false')){
				$(".slt_model").children('.tip').show();
				$('html,body').animate({scrollTop:model_ofset_top-20}, 300)
				return false;
			};
			if($('.write_tit').hasClass('false')){
				$(".write_tit").children('.tip').show();
				$('html,body').animate({scrollTop:write_ofset_top-20}, 300)
				return false;
			};
			if($('.method').hasClass('false')){
				$(".method").children('.tip').show();
				$('html,body').animate({scrollTop:meth_ofset_top-20}, 300)
				return false;
			};
			if($('.careful').hasClass('false')){
				$(".careful").children('.tip').show();
				$('html,body').animate({scrollTop:care_ofset_top-20}, 300)
				return false;
			};
			$("#edit").submit();
		});
		// 鼠标滚动坐标值
		var ULli = $(".catalog-list li");
		var div_ofset_top = $('.dw').offset().top;
		$(window).scroll(function(event) {
			var TOP = $(window).scrollTop();
			if($(window).scrollTop()>div_ofset_top){
				$('.dw').css({'position':'fixed',"top":0})
			}else{
				$('.dw').css({'position':'static'})
			}
			if(TOP<=sim_ofset_top){
				ULli.eq(0).addClass('current').siblings().removeClass("current");
			}
			if(TOP>=tool_ofset_top){
				ULli.eq(1).addClass('current').siblings().removeClass("current");
			}
			if (TOP>=meth_ofset_top) {
				ULli.eq(2).addClass('current').siblings().removeClass("current");
			}
			if(TOP>=care_ofset_top){
				ULli.eq(3).addClass('current').siblings().removeClass("current");
			}
		});
		// 点击跳到相应的栏目
		$('.catalog').delegate('.ca-notice-item','click',function(){
			$('html,body').animate({scrollTop:care_ofset_top}, 300);
			$(this).addClass('current').siblings().removeClass('current');
		}).delegate('.ca-brief-item', 'click', function(event) {
			$('html,body').animate({scrollTop:sim_ofset_top}, 300);
			$(this).addClass('current').siblings().removeClass('current');
		}).delegate('.ca-tools-item', 'click', function(event) {
			$('html,body').animate({scrollTop:tool_ofset_top}, 300);
			$(this).addClass('current').siblings().removeClass('current');
		}).delegate('.ca-step-item', 'click', function(event) {
			$('html,body').animate({scrollTop:meth_ofset_top}, 300);
			$(this).addClass('current').siblings().removeClass('current');
		});
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->