<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/question.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content clearfix wrap">
	<form id="edit" method="post" action="__CONTROLLER__/doEditThread">
	<div class="content_wrap">
		<div class="share_tit">
			<h1><i class="skill_icon"></i>问题与解答</h1>
			<p>过去的二十四小时内，总共有<{$snumber}>个问题，只有<{$unanswer}>个问题没有答复。</p>
		</div>
		<div class="write_tit mod">
			<h2>文章标题</h2>
			<input type="text" id="subject" name="subject" value="<{$data.subject}>" class="ui-input input_share w646" placeholder="示例：输入标题" />
			<p class="tip">请输入文章标题</p>
		</div>
		<div class="simple_intro mod">
			<h2>问题描述</h2>
			<label for="inser_pic" class="inser_pic">+插入图片<input type="file" name="inser_pic" id="inser_pic"></label>
			<div class="user_img"><img id="<if condition="$data.attachment eq ''">user_img<else />user_img_show</if>" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" /></div>
			<input type="hidden" id="attachment" name="attachment" value="" />
			<textarea name="content" id="content" placeholder="请输入问题描述" class="ui-textarea text_share w646"><{$data.content}></textarea>
			<p class="tip">请输入问题描述</p>
		</div>
		<div class="mask mod">
			<h2>相关标签<span>（选填）</span></h2>
			<div class="clearfix"><input type="text" name="tags" value="<{$data.tags}>" class="ui-input input_share w646" placeholder="请输入需要的工具" /></div>
		</div>
		<div class="tps mod">
			<input type="checkbox" name="notice" value="1" id="tips" <if condition="$data.notice eq '1'">checked</if> /> <label for="tips">收到答案时,通过绑定手机或邮箱通知我</label>
		</div>
		<div class="presub">
			<input type="hidden" name="id" value="<{$data.id}>" />
			<span class="btn-pre ui-button">更新问题</span>
		</div>
	</div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
        // 标题检查
        $('#subject').bind('keyup blur', function(event) {
            var len = $(this).val().length;
			if (len>5 && len<25){
				$(".write_tit").removeClass('false').children('.tip').hide();
			}else{
				$(".write_tit").addClass('false');
			}
        });
        // 内容详情检查
        $('#content').bind('keyup blur', function(event) {
            var content = $(this).val();
            var len = $.trim(content).length;
            if (len > 5){
                $(".simple_intro").removeClass('false').children('.tip').hide();
            }else{
                $(".simple_intro").addClass('false');
            }
        });
        // 压缩插入图片
        $("#inser_pic").change(function (e) {
            new html5ImgCompress(e.target.files[0], {
                before: function(file) {
                    //console.log('单张: 压缩前...');
                },
                done: function (file, base64) {
                    //console.log('单张: 压缩成功...');
                    var img = new Image(), title, src, size, base;
                    if (typeof base64 === 'object') {
                        title = '前';
                        size = base64.size;
                        src = URL.createObjectURL(base64);
                        base = 1024;
                    } else {
                        title = '后';
                        size = base64.length;
                        src = base64;
                        base = 1333;
                    }
                    $('.user_img').find('img').attr('src',src).show();  
                    $('#attachment').val(src);
                    base64 = null; // 处理完后记得清缓存
                },
                fail: function(file) {
                    //console.log('单张: 压缩失败...');
                },
                complate: function(file) {
                    //console.log('单张: 压缩完成...');
                },
                notSupport: function(file) {
                    //console.log('浏览器不支持！...');
                }
            });
        });
		// 提交
		$(".presub").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
            if($('.write_tit').hasClass('false')){
                $(".write_tit").children('.tip').show();
                $('html,body').animate({scrollTop:write_ofset_top-20}, 300)
                return false;
            };
            if($('.simple_intro').hasClass('false')){
                $(".simple_intro").children('.tip').show();
                $('html,body').animate({scrollTop:sim_ofset_top-20}, 300)
                return false;
            };
            $("#edit").submit();
        });
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->