<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/jiqiao.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="skill_tit common_tit">
			<h1><i class="skill_icon"></i>技巧分享</h1>
		</div>
		<div class="skill_bd common_bd">
			<div class="skill_nav common_nav clearfix">
				<ul class="clearfix ulTit">
					<li <if condition="($sort eq '')">class="current"</if>><a href="<{$CBW_URL}>/jiqiao.html">所有分享</a></li>
					<li <if condition="($sort eq 'use')">class="current"</if>><a href="<{$CBW_URL}>/jiqiao.html?sort=use">使用技巧</a></li>
					<li <if condition="($sort eq 'repair')">class="current"</if>><a href="<{$CBW_URL}>/jiqiao.html?sort=repair">维修技巧</a></li>
				</ul>
			</div>
			<div class="share_list">
				<ul>
					<foreach name="data" item="vo">
					<li class="clearfix">
						<div class="share_pic">
							<empty name="vo.attachment" >
							<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/Forum/images/nopic.jpg" /></a>
							<else />
								<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" /></a>
							</empty>
						</div>
						<div class="share_bd">
							<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></h2>
							<p class="share_content">简介：<{$vo.description|msubstr=0,85,'utf-8',true}></p>
							<p class="pdz"><strong><{$vo.replies}></strong> 回复 / <strong><{$vo.votes}></strong> 评分 / <strong><{$vo.favtimes}></strong> 收藏</p>
						</div>
						<div class="share_auth">
							<div class="share_auth_img">
								<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
							</div>
							<div class="share_auth_name">
								<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
								<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="pagenum">
				<if condition="($page gt 1)">
					<if condition="($sort eq '')">
						<span class="pre_page"><a href="<{$CBW_URL}>/jiqiao/<{$page-1}>.html">&lt&lt上一页</a></span>
					<else />
						<span class="pre_page"><a href="<{$CBW_URL}>/jiqiao/<{$page-1}>.html?sort=<{$sort}>">&lt&lt上一页</a></span>
					</if>
				</if>
				<span class="num"><{$page}>/<{$pages}>页</span>
				<if condition="($page lt $pages)">
					<if condition="($sort eq '')">
						<span class="next_page"><a href="<{$CBW_URL}>/jiqiao/<{$page+1}>.html">下一页&gt&gt</a></span>
					<else />
						<span class="next_page"><a href="<{$CBW_URL}>/jiqiao/<{$page+1}>.html?sort=<{$sort}>">下一页&gt&gt</a></span>
					</if>
				</if>
			</div>
		</div>
	</div>
	<div class="proList_right">
		<h3>最新回答</h3>
		<ul>
			<foreach name="news" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><span>[<{$vo.dateline|CBWTimeFormat='m.d'}>] <{$vo.uname}> 回答了问题</span><{$vo.subject}></a></li>
			</foreach>
		</ul>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->