<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/question.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content clearfix wrap">
	<form id="add" method="post" action="__CONTROLLER__/doNewThread" autocomplete="off">
	<div class="content_wrap">
		<div class="share_tit">
			<h1><i class="skill_icon"></i>问题与解答</h1>
			<p>过去的二十四小时内，总共有<{$snumber}>个问题，只有<{$unanswer}>个问题没有答复。</p>
		</div>
		<div class="slt_model mod false">
			<h2><em class="must">*</em> 选择一个设备</h2>
			<input type="text" id="slt_model" class="ui-input input_share w646" placeholder="示例：输入苹果6 选择下边的型号" />
			<input type="hidden" name="fid" value="" />
			<input type="hidden" name="category" value="1" />
			<p class="tip">请输入选择一个型号</p>
			<div class="clearfix alerted">
				<span class="icon icon_close" id="close_cb"></span>
				<img src="__PUBLIC__/Forum/images/default/phone.jpg" height="45" width="45">
				<p><strong>iPhone 4S</strong>iPhone 4S是iPhone第五代产品。</p>
			</div>
			<div class="prolist">
				<ul></ul>
			</div>
		</div>
		<div class="write_tit mod false">
			<h2><em class="must">*</em> 文章标题</h2>
			<input type="text" id="subject" name="subject" class="ui-input input_share w646" placeholder="示例：输入标题" />
			<p class="tip">请输入文章标题</p>
		</div>
		<div class="simple_intro mod false">
			<h2><em class="must">*</em> 问题描述</h2>
			<label for="inser_pic" class="inser_pic">+插入图片<input type="file" name="inser_pic" id="inser_pic"></label>
			<div class="user_img"><img id="user_img" src="" /></div>
			<input type="hidden" id="attachment" name="attachment" value="" />
			<textarea name="content" id="content" placeholder="请输入问题描述" class="ui-textarea text_share w646"></textarea>
			<p class="tip">请输入问题描述</p>
		</div>
		<div class="mask mod">
			<h2>相关标签<span>（选填）</span></h2>
			<div class="clearfix"><input type="text" name="tags" class="ui-input input_share w646" placeholder="请输入需要的工具" /></div>
		</div>
		<div class="tps mod">
			<input type="checkbox" name="notice" value="1" id="tips"/> <label for="tips">收到答案时,通过绑定手机或邮箱通知我</label>
		</div>
		<div class="presub">
			<span class="btn-pre sub ui-button">提交</span>
		</div>
	</div>
	</form>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
		// 筛选版块
        $('#slt_model').on('keyup focus',function(event){
            var sel = $(this).val();
			if($.trim(sel) == ''){
				$(".prolist").hide();
				return false;
			}
			$.post('__CONTROLLER__/searchForum', {'select':sel}, function(d){
				var data = $.parseJSON(d);
				if(data){
					$('.prolist ul').find("li").remove(); 
					for(var a = 0;a < data.length;a++){
						var html = '<li class="clearfix" data-id="'+ data[a]['id'] +'"><img src="__PUBLIC__/bbs/icon/'+ data[a]['icon'] +'" /><p><strong>'+ data[a]['name'] +'</strong>'+ data[a]['description'] +'</p></li>';
						$(".prolist ul").append(html);
					}
					$(".prolist").slideDown(300);
				}
			});
        });
        // 分类弹出框/机型检查
        $('#slt_model').val('')  // 初始化
        $(".content_wrap").on('mouseenter',".prolist li",function(event){
           $(this).addClass('current').siblings().removeClass('current');
        }).on('mouseleave',".prolist li",function(event){
            $(this).removeClass('current')
        }).on('click',".prolist li",function(event){
            var id = $(this).attr('data-id');
			var imgsrc = $(this).children('img').attr("src");
			var phtml = $(this).find('strong').html();
			var alerted = $(".alerted");
			alerted.children('img').attr("src",imgsrc);
			alerted.children('p').html(phtml);
			alerted.show();
			$("input[name=fid]").val(id);
			$('#slt_model').hide();
			$(this).parents(".prolist").hide();
			$(".slt_model").removeClass('false').children('.tip').hide();
        });
        // 关闭型号列表
        $("#close_cb").click(function(event) {
            $(this).parent().hide();
			$("input[name=fid]").val('');
			$('#slt_model').val('').show().focus();
			$(".slt_model").addClass('false');
        });
        // 标题检查
        $('#subject').bind('keyup blur', function(event) {
            var len = $(this).val().length;
			if (len>5 && len<25){
				$(".write_tit").removeClass('false').children('.tip').hide();
			}else{
				$(".write_tit").addClass('false');
			}
        });
        // 内容详情检查
        $('#content').bind('keyup blur', function(event) {
            var content = $(this).val();
            var len = $.trim(content).length;
            if (len > 5){
                $(".simple_intro").removeClass('false').children('.tip').hide();
            }else{
                $(".simple_intro").addClass('false');
            }
        });
        // 压缩插入图片
        $("#inser_pic").change(function (e) {
            new html5ImgCompress(e.target.files[0], {
                before: function(file) {
                    //console.log('单张: 压缩前...');
                },
                done: function (file, base64) {
                    //console.log('单张: 压缩成功...');
                    var img = new Image(), title, src, size, base;
                    if (typeof base64 === 'object') {
                        title = '前';
                        size = base64.size;
                        src = URL.createObjectURL(base64);
                        base = 1024;
                    } else {
                        title = '后';
                        size = base64.length;
                        src = base64;
                        base = 1333;
                    }
                    $('#user_img').attr('src',src).show();  
                    $('#attachment').val(src);
                    base64 = null; // 处理完后记得清缓存
                },
                fail: function(file) {
                    //console.log('单张: 压缩失败...');
                },
                complate: function(file) {
                    //console.log('单张: 压缩完成...');
                },
                notSupport: function(file) {
                    //console.log('浏览器不支持...');
                }
            });
        });
        // 添加
        var model_ofset_top = $('.slt_model h2').offset().top;
        var write_ofset_top = $(".write_tit h2").offset().top;
        var sim_ofset_top = $(".simple_intro h2").offset().top;
        $(".sub").click(function(event) {
            if($('.slt_model').hasClass('false')){
                $(".slt_model").children('.tip').show();
                $('html,body').animate({scrollTop:model_ofset_top-20}, 300)
                return false;
            };
            if($('.write_tit').hasClass('false')){
                $(".write_tit").children('.tip').show();
                $('html,body').animate({scrollTop:write_ofset_top-20}, 300)
                return false;
            };
            if($('.simple_intro').hasClass('false')){
                $(".simple_intro").children('.tip').show();
                $('html,body').animate({scrollTop:sim_ofset_top-20}, 300)
                return false;
            }; 
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
            $("#add").submit();
        });
	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->