<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/view.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="ask_news clearfix">
			<div class="ask_author">
				<a class="author_pic" href="<{$CBW_URL}>/user/<{$data.authorid}>.html"><img class="authorImg" alt="<{$data.uname}>" src="__PUBLIC__/User/<{$data.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
				<a class="author_name" href="<{$CBW_URL}>/user/<{$data.authorid}>.html"><{$data.uname}></a>
				<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$data.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($data['exp'],'name')}>" width="32" title="<{:CBWExpLevel($data['exp'],'name')}>"/>
			</div>
			<div class="ask_question">
				<h1><a href="<{$CBW_URL}>/model/<{$data.category}>_<{$data.fid}>.html">【<{$data.name}>】</a><{$data.subject}></h1>
				<p class="time">发帖于<{$data.dateline|CBWTimeFormat='m.d'}></p>
				<neq name="data.description" value=""><p class="art"><{$data.description}></p></neq>
				<neq name="data.content" value=""><p class="art"><{$data.content}></p></neq>
				<neq name="data.attachment" value=""><p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$data.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
				<neq name="data.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$data.quote}>.html"><{$data.quotesubject}></a></p></neq>
				<if condition="$data.category eq 2">
                <div class="method ml70mt26">
                    <h2>方法/步骤</h2>
                    <ul>
						<foreach name="steps" key="key" item="vo">
                        <li>
                            <div class="li_content clearfix">
                                <neq name="vo.attachment" value=""><img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" alt="<{$data.subject}>" title="<{$data.subject}>" /></neq>
                                <p><{$vo.content}></p>
								<neq name="vo.quote" value="0"><p class="q">引用:<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a></p></neq>
                            </div>
                            <span class="circle_step"><{$key+1}></span>
                        </li>
                        </foreach>
                    </ul>
                    <span class="circle_last">End</span>
                </div>
				<notempty name="tools">
				<div class="tool ml70mt26">
                    <h2>工具</h2>
					<foreach name="tools" item="vo">
                    <p><i class="icon icon_gcircle"></i><{$vo.content}></p>
                    </foreach>
                </div>
				</notempty>
				<notempty name="matters">
				<div class="careful ml70mt26">
                    <h2>注意事项</h2>
					<foreach name="matters" item="vo">
                    <p><i class="icon icon_gcircle"></i><{$vo.content}></p>
                    </foreach>
                </div>
				</notempty>
				</if>
				<div class="scoreque" data-id="<{$data.id}>" category="0" vote-id="<{$data.id}>">
					<p>这个<eq name="data.category" value="1">问题<else />分享</eq>好吗？</p>
					<div class="aord <empty name="data.vote">none</empty>">
						<strong class="agreen"><i></i>投票<gt name="data.vote.votevalue" value="0">同意<else />反对</gt>!</strong>
						<strong class="back"><i></i>撤销投票</strong>
					</div>
					<div class="yesorno <notempty name="data.vote">none</notempty>">
						<span class="yes"><i></i>赞同</span>
						<span class="no"><i></i>反对</span>
					</div>
					<div class="score">
						<i>综合评分</i>
						<b><{$data.votes}></b>
					</div>
				</div>
				<div class="pdz">
					<a class="icon_comment" herf="javascript:;"><i class="icon"></i><{$data.cnumber}>条评论</a>
					<empty name="data.collect">
						<a class="icon_collect" herf="javascript:;" data-id="<{$data.id}>"><i class="icon"></i>收藏</a>
					<else />
						<a class="icon_collect yes" herf="javascript:;" data-id="<{$data.id}>"><i class="icon"></i>已收藏</a>
					</empty>
					<a class="icon_answer" herf="javascript:;"><i class="icon"></i>立即<eq name="data.category" value="1">回答<else />回复</eq></a>
					<eq name="data.authorid" value="$Think.session.user.userid">
						<a href="<{:U('Thread/edit', array('id'=>$data['id']))}>" target="_blank">编辑</a>
					</eq>
				</div>
				<div class="comment_area">
					<span class="icon_triangle icon"></span>
					<notempty name="data.comments">
					<ul>
						<foreach name="data.comments" item="vo">
						<li class="clearfix">
							<span class="icon icon_bigcom"></span>
							<div class="area_bd">
								<p class="area_tit"><{$vo.content}></p>
								<p class="area_auth">由 <span><{$vo.uname}></span> 于<{$vo.dateline|CBWTimeFormat='m.d'}></p>
							</div>
						</li>
						</foreach>
					</ul>
					</notempty>
					<gt name="data.cnumber" value="9">
					<div class="show_more">+显示更多的9条评论</div>
					</gt>
					<div class="area_input" data-id="<{$data.id}>" category="0" accept-id="<{$data.id}>" length="9">
						<input type="text" class="common_input" placeholder="请输入您的评论">
						<div class="btns">
							<a class="ui-button btn_cancle" href="javascript:;">取消</a>
							<a class="ui-button btn_confirm" href="javascript:;">确定</a>
						</div>
				   </div>
				</div><!-- 评论 -->
			</div>
		</div>
		<div class="answer_lst">
			<h2><{$data.replies}>个<eq name="data.category" value="1">答案<else />回复</eq></h2>
			<notempty name="satisfy">
			<div class="answer_news clearfix helpest">
				<div class="classify">最有帮助的答案</div>
				<div class="answer_bd clearfix">
					<div class="answer_author">
						<a class="author_pic" href="<{$CBW_URL}>/user/<{$satisfy.authorid}>.html"><img alt="<{$satisfy.uname}>" class="authorImg" src="__PUBLIC__/User/<{$satisfy.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
						<a class="author_name" href="<{$CBW_URL}>/user/<{$satisfy.authorid}>.html"><{$satisfy.uname}></a>
						<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$satisfy.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($satisfy['exp'],'name')}>" width="32" title="<{:CBWExpLevel($satisfy['exp'],'name')}>"/>
					</div>
					<div class="answer_con">
						<p class="art"><{$satisfy.message}></p>
						<neq name="satisfy.attachment" value=""><p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$satisfy.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
						<neq name="satisfy.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$satisfy.quote}>.html"><{$satisfy.quotesubject}></a></p></neq>
						<div class="scoreque" data-id="<{$data.id}>" category="1" vote-id="<{$satisfy.id}>">
							<p>这个问题好吗？</p>
							<div class="aord <empty name="satisfy.vote">none</empty>">
								<strong class="agreen"><i></i>投票<gt name="satisfy.vote.votevalue" value="0">同意<else />反对</gt>!</strong>
								<strong class="back"><i></i>撤销投票</strong>
							</div>
							<div class="yesorno <notempty name="satisfy.vote">none</notempty>">
								<span class="yes"><i></i>赞同</span>
								<span class="no"><i></i>反对</span>
							</div>
							<div class="score">
								<i>综合评分</i>
								<b><{$satisfy.votes}></b>
							</div>
						</div>
						<div class="pdz">
							<a class="icon_comment" herf="javascript:;"><i class="icon"></i><{$satisfy.cnumber}>条评论</a>
						</div>
						<div class="comment_area">
							<span class="icon_triangle icon"></span>
							<notempty name="satisfy.comments">
							<ul>
								<foreach name="satisfy.comments" item="vo">
								<li class="clearfix">
									<span class="icon icon_bigcom"></span>
									<div class="area_bd">
										<p class="area_tit"><{$vo.content}></p>
										<p class="area_auth">由 <span><{$vo.uname}></span> 于<{$vo.dateline|CBWTimeFormat='m.d'}></p>
									</div>
								</li>
								</foreach>
							</ul>
							</notempty>
							<gt name="satisfy.cnumber" value="9">
							<div class="show_more">+显示更多的9条评论</div>
							</gt>
							<div class="area_input" data-id="<{$data.id}>" category="1" accept-id="<{$satisfy.id}>" length="9">
								<input type="text" class="common_input" placeholder="请输入您的评论"/>
								<div class="btns">
									<a class="ui-button btn_cancle" href="javascript:;">取消</a>
									<a class="ui-button btn_confirm" href="javascript:;">确定</a>
								</div>
						   </div>
						</div><!-- 评论 -->
					</div>
				</div>
			</div>
			</notempty>
			<div class="answer_news clearfix">
				<notempty name="posts">
				<foreach name="posts" item="vo">
				<div class="answer_bd clearfix">
					<div class="answer_author">
						<a class="author_pic" href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><img alt="<{$vo.uname}>" class="authorImg" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
						<a class="author_name" href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><{$vo.uname}></a>
						<img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$vo.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($vo['exp'],'name')}>" width="32" title="<{:CBWExpLevel($vo['exp'],'name')}>" />
					</div>
					<div class="answer_con">
						<p class="art"><{$vo.message}></p>
						<neq name="vo.attachment" value=""><p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" width="120" alt="<{$data.subject}>" title="<{$data.subject}>" /></p></neq>
						<neq name="vo.quote" value="0"><p class="art">引用:<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a></p></neq>
						<div class="scoreque" data-id="<{$data.id}>" category="1" vote-id="<{$vo.id}>">
							<p>这个问题好吗？</p>
							<div class="aord <empty name="vo.vote">none</empty>">
								<strong class="agreen"><i></i>投票<gt name="vo.vote.votevalue" value="0">同意<else />反对</gt>!</strong>
								<strong class="back"><i></i>撤销投票</strong>
							</div>
							<div class="yesorno <notempty name="vo.vote">none</notempty>">
								<span class="yes"><i></i>赞同</span>
								<span class="no"><i></i>反对</span>
							</div>
							<div class="score">
								<i>综合评分</i>
								<b><{$vo.votes}></b>
							</div>
						</div>
						<div class="pdz">
							<a class="icon_comment" herf="javascript:;"><i class="icon"></i><{$vo.cnumber}>条评论</a>
							<if condition="$data.category eq 1">
								<empty name="satisfy">
									<eq name="data.authorid" value="$Think.session.user.userid">
									<a class="agree" herf="javascript:;" data-id="<{$vo.id}>">采纳此答案</a>
									</eq>
								</empty>
							</if>
							<eq name="vo.authorid" value="$Think.session.user.userid">
							<a href="<{:U('Thread/editpost', array('id'=>$vo['id']))}>" target="_blank">编辑</a>
							</eq>
						</div>
						<div class="comment_area">
							<span class="icon_triangle icon"></span>
							<notempty name="vo.comments">
							<ul>
								<foreach name="vo.comments" item="v">
								<li class="clearfix">
									<span class="icon icon_bigcom"></span>
									<div class="area_bd">
										<p class="area_tit"><{$v.content}></p>
										<p class="area_auth">由 <span><{$v.uname}></span> 于<{$v.dateline|CBWTimeFormat='m.d'}></p>
									</div>
								</li>
								</foreach>
							</ul>
							</notempty>
							<gt name="vo.cnumber" value="9">
							<div class="show_more">+显示更多的9条评论</div>
							</gt>
							<div class="area_input" data-id="<{$data.id}>" category="1" accept-id="<{$vo.id}>" length="9">
								<input type="text" class="common_input" placeholder="请输入您的评论"/>
								<div class="btns">
									<a class="ui-button btn_cancle" href="javascript:;">取消</a>
									<a class="ui-button btn_confirm" href="javascript:;">确定</a>
								</div>
						   </div>
						</div><!-- 评论 -->
					</div>
				</div>
				</foreach>
				</notempty>
			</div>
		</div>
		<div class="add_answer">
			<div class="answer_top clearfix">
				<h2>添加您的<eq name="data.category" value="1">答案<else />回复</eq></h2>
				<div class="help_author">
					<eq name="Think.session.user.userid" value="">
						<a href="<{:U('User/login')}>"><i class="icon icon_comment"></i>立即登录</a>
					<else />
						<a href="<{$CBW_URL}>/user/<{$Think.session.user.userid}>.html"><i class="icon icon_comment"></i><{$Think.session.user.username}></a>
					</eq>
				</div>
			</div>
			<form id="add" method="post" action="__CONTROLLER__/doAddPost" autocomplete="off">
			<div class="help_input">
				<textarea name="message" placeholder="输入<eq name="data.category" value="1">答案<else />回复</eq>就有赠送草包豆哦！"></textarea>
				<div class="btns clearfix">
					<div class="user_img"><img id="user_img" src="__PUBLIC__/Forum/images/1.png" /></div>
					<input type="hidden" id="insert" name="insert" value="" />
					<input type="hidden" id="quote" name="quote" value="" />
					<input type="hidden" name="tid" value="<{$data.id}>" />
					<span class="quote"></span>
					<label for="inser_pic" class="inser_pic icon icon_btn"><em class="icon icon_add"></em>插入图片<input type="file" name="inser_pic" id="inser_pic"></label>
					<button class="inser_link icon icon_btn"><em class="icon icon_add"></em>添加引用</button>
					<a href="#" class="ui-button btn_release">发布</a>
				</div>
				<div class="ui-widget-content ui-window">
					<div class="ui-widget-header">
						<span class="ui-dialog-title">添加引用</span>
						<span class="ui-icon close-window">×</span>
					</div>
					<div class="quote-dialog-content">
						<p><input class="quote-url" type="text" name="link" maxlength="180"></p>
						<p class="quote-msg">请输入引用链接</p>
					</div>
					<div class="ui-dialog-btns clearfix">
						<div>
							<a href="javascript:;" class="ui-button confirm">确定</a>
							<a href="javascript:;" class="ui-button close-window cancle">取消</a>
						</div> 
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="proList_right">
		<h3>相关问题</h3>
		<ul>
			<foreach name="relevants" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></li>
			</foreach>
		</ul>
		<h3>推荐问题</h3>
		<ul>
			<foreach name="recommends" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></li>
			</foreach>
		</ul>
		<div class="introduce">
			草包网论坛：专注维修师手机、平板类维修问题解答和各类维修技巧分享。
		</div>
	</div>
	<div class="big_pic">
		<div id="screen"></div>
		<div id="photo_big">
			<h2>大图预览<span class="icon icon_close"></span></h2>
			<div class="big">
				<img src="" alt=""/>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script type="text/javascript">
	$(document).ready(function(){
		// 引用打开
		$(".inser_link").click(function(event) {
			$('.quote-url').val("");
			$('.ui-widget-content').stop().fadeIn(300);
			return false;
		});
		// 引用确定
		$(".ui-dialog-btns .confirm").click(function(event) {
			var _content = $(this).parents('.ui-widget-content');
			var url = _content.find('.quote-url').val();
			if(url == ""){
				_content.find(".quote-msg").show();
			}else{
				var model = 'http://bbs.caobao.com/view/';
				if(url.indexOf('http') == 0){
					if(url.indexOf(model) >= 0){
						var idstr = url.split(model)[1];
						var id = idstr.split('.')[0];
						$.post('__CONTROLLER__/searchThread', {'id':id}, function(d){
							var data = $.parseJSON(d);
							if(data){
								_content.siblings('.btns').find('.quote').show().html('<a href="http://bbs.caobao.com/view/'+data['id']+'.html" target="_blank">'+data['subject']+'</a><span class="icon icon_close"></span>');
								_content.siblings('.btns').find('#quote').val(id);
								_content.find(".quote-msg").hide();
								_content.delay(200).fadeOut(300);
								return false
							}else{
								_content.find(".quote-msg").show();
							}
						});
					}else{
						_content.find(".quote-msg").show();
					}
				}else{
					_content.find(".quote-msg").show();
				}
			}
		});
		// 回答发表确定
		$(".add_answer .btns .btn_release").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var textarea = $(this).parent().siblings('textarea')
			if(textarea.val()==""){
				textarea.css("borderColor","#f00").focus();
				return false;
			}else{
				textarea.css("borderColor","#dcdcdc");
			}
			$("#add").submit();
		});
		// 压缩插入图片
		$("#inser_pic").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					//console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					//console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('#user_img').attr('src',src).show();  
					$('#insert').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持！...');
				}
			});
		});
		// 投票
		$(".scoreque span").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var _this    = $(this);
			var type     = _this.attr("class");
			var tid      = _this.parents(".scoreque").attr("data-id");
			var category = _this.parents(".scoreque").attr("category");
			var voteid   = _this.parents(".scoreque").attr("vote-id");
			$.post('__CONTROLLER__/userVote', {'tid':tid, 'type':type, 'category':category, 'voteid':voteid}, function(d){
				if(d == 'illegal'){
					alert('非法请求.');
				}else if(d == 'notlogin'){
					alert('尚未登录.');
				}else if(d == 'repeat'){
					alert('请勿重复投票.');
				}else if(d == 'authorvotes'){
					alert('不能给自己投票.');
				}else{
					_this.parent(".yesorno").hide();
					var html = '<i></i>投票反对!';
					if(type == 'yes'){
						html = '<i></i>投票同意!';
					}
					_this.parent(".yesorno").siblings('.aord').find('.agreen').html(html);
					_this.parent(".yesorno").siblings('.aord').show().find('.agreen').show();
					_this.parent(".yesorno").siblings('.score').find('b').html(d);
				}
			});
		});
		// 显示撤销效果
		$(".aord .agreen").mouseenter(function(){
			$(this).hide();
			$(this).siblings('.back').show();
		});
		// 显示投票效果
		$(".aord .back").mouseleave(function(){
			$(this).hide();
			$(this).siblings('.agreen').show();
		});
		// 撤销投票
		$(".aord .back").click(function(event) {
			if(!confirm('确定要撤销投票吗?此操作需要扣除100点经验值')){
				return false;
			}
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var _this    = $(this);
			var tid      = _this.parents(".scoreque").attr("data-id");
			var category = _this.parents(".scoreque").attr("category");
			var voteid   = _this.parents(".scoreque").attr("vote-id");
			$.post('__CONTROLLER__/revokeVote', {'tid':tid, 'category':category, 'voteid':voteid}, function(d){
				if(d == 'illegal'){
					alert('非法请求.');
				}else if(d == 'notlogin'){
					alert('尚未登录.');
				}else if(d == 'exp'){
					alert('经验值不足.');
				}else{
					_this.parent('.aord').hide();
					_this.parent(".aord").siblings('.yesorno').show();
					_this.parent(".aord").siblings('.score').find('b').html(d);
				}
			});	
		});
		// 选择最有帮助的答案
		$(".pdz .agree").click(function(){
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var pid = $(this).attr("data-id");
			$.post('__CONTROLLER__/helpfulAnswer', {'type':'select', 'pid':pid}, function(d){
				if(d == 'illegal'){
					alert('非法请求.');
				}else if(d == 'notlogin'){
					alert('尚未登录.');
				}else if(d == '1'){
					window.location.reload();
				}else{
					alert('未知错误.');
				}
			});
		});
		// 页面滑动到底部
		$(".pdz .icon_answer").click(function(event) {
			var win_hei = $(window).height();
			var doc_hei = $(document).height();
			$('html,body').animate({scrollTop:doc_hei-win_hei+200}, 600);
			$(".add_answer textarea").focus();
		});
		// 收藏
		$(".pdz .icon_collect").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var _this = $(this);
			var tid   = _this.attr("data-id");
			$.post('__CONTROLLER__/collect', {'tid':tid}, function(d){
				if(d == 'illegal'){
					alert('非法请求.');
				}else if(d == 'notlogin'){
					alert('尚未登录.');
				}else if(d == 'cancel'){
					_this.html("<i class='icon'></i>收藏").removeClass('yes');
				}else if(d == 'collect'){
					_this.html("<i class='icon'></i>已收藏").addClass('yes');
				}
			});
		});
		// 评论显示
		$(".icon_comment").click(function(event) {
			$(this).parent().siblings(".comment_area").stop().slideToggle(300);
		});
		// 评论隐藏
		$(".area_input .btn_cancle").click(function(event) {
			$(this).parents(".comment_area").stop().slideUp(300);
		});
		// 加载更多评论
		$(".show_more").click(function(event) {
			var _this = $(this);
			var category = _this.siblings(".area_input").attr("category");
			var acceptid = _this.siblings(".area_input").attr("accept-id");
			var length   = _this.siblings(".area_input").attr("length");
			
			$.post('__CONTROLLER__/loadComments', {'category':category, 'acceptid':acceptid, 'length':length}, function(d){
				var data = $.parseJSON(d);
				if(data){
					if(data.length > 0){
						_this.hide();
					}
					for(var a = 0;a < data.length;a++){
						var html = '<li class="clearfix">';
						html += '		<span class="icon icon_bigcom"></span>';
						html += '		<div class="area_bd">';
						html += '			<p class="area_tit">'+ data[a]['content'] +'</p>';
						html += '			<p class="area_auth">由 <span>'+ data[a]['uname'] +'</span> 于'+ data[a]['dateline'] +'</p>';
						html += '		</div>';
						html += '	</li>';
						_this.siblings("ul").append(html);
						_this.siblings(".area_input").attr("length",parseFloat(length)+9);
					}
				}
			});
		});	
		// 评论确定
		$(".comment_area .btns .btn_confirm").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var input = $(this).parent().siblings('.common_input');
			if(input.val()==""){
				input.css("borderColor","#f00").focus();
				return false;
			}else{
				input.css("borderColor","#dcdcdc");
			}
			var _this = $(this);
			var tid      = _this.parents(".area_input").attr("data-id");
			var category = _this.parents(".area_input").attr("category");
			var acceptid = _this.parents(".area_input").attr("accept-id");
			var content  = input.val();
			$.post('__CONTROLLER__/doAddComment', {'tid':tid, 'category':category, 'acceptid':acceptid, 'content':content}, function(d){
				if(d == 'error'){
					alert('非法请求！');
				}else if(d == 'login'){
					alert('尚未登录,不允许发布！');
				}else if(d == 'badwords'){
					alert('评论中存在敏感词,不允许发布！');
				}else if(d == 'freely'){
					alert('评论频繁,请一分钟后再评论！');
				}else{
					input.val('');
					window.location.reload();
				}
			});
		});
		$(".btns").on("click",".quote .icon_close",function(event) {
			$(this).parent(".quote").hide();
		});
		// 图片放大
		$("img:not(.authorImg)").click(function(){
			var Attr = $(this).attr("src");
			var obj = $("#photo_big");
			var imgHeight = getNaturalHeight(this);
			var imgWidth = getNaturalWidth(this);
			var win_height = $(window).height()-40;
			obj.find("img").attr("src",Attr);
			if(imgHeight>win_height){
				obj.find("img").css("height","95%");
				obj.css({"margin-left":(-imgWidth*0.856)/2});
				obj.css({"top":"0","margin-top":0});
			}else{
				obj.find("img").css("height","auto");
				obj.css({"top":"50%","margin-top":(-imgHeight)/2});
				obj.css({"margin-left":(-imgWidth)/2});
			}
			$(".big_pic").fadeIn(300);
			$("body,html").css("overflow","hidden")
		});
		$("#photo_big .icon_close").click(function(){
			$(this).parents(".big_pic").fadeOut(300);
			$("body,html").css("overflow","auto")
		})
		// 获取图片原始大小
		function getNaturalWidth(img) {
			var image = new Image()
			image.src = img.src
			var naturalWidth = image.width
			return naturalWidth
		}
		function getNaturalHeight(img) {
			var image = new Image()
			image.src = img.src
			var naturalWidth = image.height
			return naturalWidth
		}

	});
</script>
</block>
<!-- 底部JS执行区域 结束 -->