<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/wenda.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="wenda_tit common_tit">
			<h1><i></i>问题与解答</h1>
			<p>过去的二十四小时内，总共有<{$snumber}>个问题，只有<{$unanswer}>个问题没有答复。</p>
			<div class="progress-bar">
				<div class="progress-bar-filled" style="width: <{$pace}>%">
				   <span class="percentage"><{$pace}>%</span>
				</div>
			</div>
		</div>
		<div class="wenda_bd common_bd">
			<div class="wenda_nav common_nav">
				<ul class="clearfix ulTit">
					<li <if condition="($sort eq '')">class="current"</if>><a href="<{$CBW_URL}>/wenda.html">所有问题</a></li>
					<li <if condition="($sort eq 'new')">class="current"</if>><a href="<{$CBW_URL}>/wenda.html?sort=new">最新</a></li>
					<li <if condition="($sort eq 'helpful')">class="current"</if>><a href="<{$CBW_URL}>/wenda.html?sort=helpful">最有帮助</a></li>
					<li <if condition="($sort eq 'unanswer')">class="current"</if>><a href="<{$CBW_URL}>/wenda.html?sort=unanswer">未答复的</a></li>
				</ul>
			</div>
			<div class="wenda_list">
				<ul>
					<foreach name="data" item="vo">
					<li class="clearfix <{$vo.cname}>">
						<div class="item_detial clearfix">
							<div class="item_detial_img">
								<a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
							</div>
							<div class="item_detial_question">
								<span class="item_question_tit"><{$vo.replies}></span>
								<span class="item_question_bd">回答</span>
							</div>
						</div>
						<div class="item_tit">
							<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h2>
							<p>
								<if condition="$vo.satisfy eq '1'">
								<span>已接受</span>
								</if>
								<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.content|msubstr=0,70,'utf-8',true}></a>
							</p>
						</div>
						<div class="item_auth">
							<div class="item_auth_img">
								<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
							</div>
							<div class="item_auth_name">
								<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
								<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="pagenum">
				<if condition="($page gt 1)">
					<if condition="($sort eq '')">
						<span class="pre_page"><a href="<{$CBW_URL}>/wenda/<{$page-1}>.html">&lt&lt上一页</a></span>
					<else />
						<span class="pre_page"><a href="<{$CBW_URL}>/wenda/<{$page-1}>.html?sort=<{$sort}>">&lt&lt上一页</a></span>
					</if>
				</if>
				<span class="num"><{$page}>/<{$pages}>页</span>
				<if condition="($page lt $pages)">
					<if condition="($sort eq '')">
						<span class="next_page"><a href="<{$CBW_URL}>/wenda/<{$page+1}>.html">下一页&gt&gt</a></span>
					<else />
						<span class="next_page"><a href="<{$CBW_URL}>/wenda/<{$page+1}>.html?sort=<{$sort}>">下一页&gt&gt</a></span>
					</if>
				</if>
			</div>
		</div>
	</div>
	<div class="proList_right">
		<h3>最新回答</h3>
		<ul>
			<foreach name="news" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><span>[<{$vo.dateline|CBWTimeFormat='m.d'}>] <{$vo.uname}> 回答了问题</span><{$vo.subject}></a></li>
			</foreach>
		</ul>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->