<extend name="Public:same" />
<block name="cssFile">
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/content.css"/>
</block>
<block name="topJsFile">

</block>
<block name="publicBody">
<div class="content">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> 故障说明</dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>分类</p>
					</div>
					<ul class="level1">
					<foreach name="catRes" item="cats">
					<li class="<eq name="cats.is_on" value="1">on</eq>">
						<h3><{$cats.cat_name}></h3>
						<ul class="level2">
							<foreach name="cats.brandRes" item="brand">
							<li class="<eq name="brand.is_on" value="1">on</eq>">
								<h3 class="clearfix"><{$brand.cat_name}><i class="icon-minus">&nbsp;</i></h3>
								<ul class="level3">
									<foreach name="brand.faultRes" item="vo">
									<li class="posR <eq name="faults.id" value="$vo.id">on</eq>">
										<i class="posA">&nbsp;</i>
										<a href="<{$CBW_URL}>/fault/<{$vo.id}>.html" title="<{$vo.title}>"><{$vo.title}></a>
									</li>
									</foreach>
								</ul>
							</li>
							</foreach>
						</ul>
					</li>
					</foreach>
				</ul>
				</div>
			</div>
			<div class="contBx">
				<div class="cont">
					<h1><{$faults.title}></h1>
					<div class="otherInfo">
						<p>发布时间：<span><{$faults.create_time|date="Y-m-d H:i:s",###}></span></p>
						<p>点击：<span><{$faults.clicktimes}>次</span></p>
					</div>
					<div class="steps">
						<{$faults.content|htmlspecialchars_decode}>
					</div>
					<div class="clearfix">
						<div class="bdsharebuttonbox fl">
							<a href="#" class="bds_more" data-cmd="more"></a>
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
							<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						</div>
						<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
						<a style="float:right;display:inline-block;line-height:36px;margin: 15px 0 0 0;padding: 10px 20px 0 20px;" href="http://www.caobao.com/news/407.html" target="_blank">手机维修、玩机技巧交流QQ群</a>
					</div>
					<div class="recommend">
						<p class="tit">推荐维修店</p>
						<ul class="clearfix">
							<foreach name="nearbys" item="vo">
							<li>
								<p class="bigpic"><a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$vo.shop_name}>" /></a></p>
								<p class="storename"><a href="<{$CBW_URL}>/repairer/<{$vo.id}>.html" title="<{$vo.shop_name}>"><{$vo.shop_name}></a></p>
								<p class="levelpic">
									<for start="0" end="$vo.level_image_num">
										<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
									</for>
								</p>
								<p class="repair">主修:<{$vo.shopcat}></p>
							</li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footScript"> 
	<script>
		$('.listNav').delegate('h3','click',function(){
			var _this = $(this);
			var level = _this.parent().parent().attr('class');
			_this.parent().addClass('on');
			_this.parent('li').siblings('li').find('ul').slideUp(250).find('ul:not(.level3) li.on').removeClass('on');
			_this.parent('li').siblings('li').find('h3 i').attr('class','icon-plus');
			_this.next('ul').slideDown(250);
			_this.find('i').attr('class','icon-minus');

		
		}).delegate('','click',function(){
			
		})
		$(function(){
			$('.listNav .level1 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
			$('.listNav .level2 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
		})
	</script> 
</block>
