<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_item">
		<!-- 问题 -->
		<div class="problem mod clearfix">
			<div class="hot_problem modsmall">
				<h2>
					<a href="<{$CBW_URL}>/wenda.html?sort=helpful" class="tit">最有帮助的问题</a>
					<a href="<{$CBW_URL}>/wenda.html?sort=helpful" class="more">更多&gt;</a>
				</h2>
				<div class="list">
					<ul>
						<foreach name="help_issue" key="key" item="vo">
						<if condition="($key eq 0)">
						<li>
							<div class="list_recommend clearfix">
								<div class="imgArea">
									<a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" height="72" width="72" alt="" /></a>
								</div>
								<div class="wordArea">
									<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html">【<{$vo.name}>】<{$vo.subject}></a></h3>
									<p><{$vo.content|msubstr=0,55,'utf-8',true}></p>
								</div>
							</div>
						</li>
						<else />
						<li>
							<a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="clearfix"><em class="circle"></em><p class="circleContent">【<{$vo.name}>】<{$vo.subject}></p></a>
							<p><{$vo.content|msubstr=0,55,'utf-8',true}></p>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="new_problem modsmall">
				<h2>
					<a href="<{$CBW_URL}>/wenda.html?sort=new" class="tit">最新问题</a>
					<a href="<{$CBW_URL}>/wenda.html?sort=new" class="more">更多&gt;</a>
				</h2>
				<div class="list">
					<ul>
						<foreach name="new_issue" key="key" item="vo">
						<if condition="($key eq 0)">
						<li>
							<div class="list_recommend clearfix">
								<div class="imgArea">
									<a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" height="72" width="72" alt="" /></a>
								</div>
								<div class="wordArea">
									<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html">【<{$vo.name}>】<{$vo.subject}></a><p><{$vo.content|msubstr=0,55,'utf-8',true}></p></h3>
								</div>
							</div>
						</li>
						<else />
						<li>
							<a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="clearfix"><em class="circle"></em><p class="circleContent">【<{$vo.name}>】<{$vo.subject}></p></a>
							<p><{$vo.content|msubstr=0,55,'utf-8',true}></p>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
		<!-- 分享 -->
		<div class="share mod clearfix">
			<div class="hot_share modsmall">
				<h2>
					<a href="<{$CBW_URL}>/jiqiao.html" class="tit">热门分享</a>
					<a href="<{$CBW_URL}>/jiqiao.html" class="more">更多&gt;</a>
				</h2>
				<div class="list">
					<ul>
						<foreach name="hot_share" key="key" item="vo">
						<if condition="($key eq 0)">
						<li>
							<div class="list_recommend clearfix">
								<div class="imgArea">
									<a href="<{$CBW_URL}>/model/2_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" height="72" width="72" alt="" /></a>
								</div>
								<div class="wordArea">
									<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html">【<{$vo.name}>】<{$vo.subject}><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></a></h3>
									<p><{$vo.description|msubstr=0,55,'utf-8',true}></p>
								</div>
							</div>
						</li>
						<else />
						<li>
							<a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="clearfix"><em class="circle"></em><p class="circleContent">【<{$vo.name}>】<{$vo.subject}><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></p></a>
							<p><{$vo.description|msubstr=0,55,'utf-8',true}></p>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="new_share modsmall">
				<h2>
					<a href="<{$CBW_URL}>/jiqiao.html" class="tit">最新分享</a>
					<a href="<{$CBW_URL}>/jiqiao.html" class="more">更多&gt;</a>
				</h2>
				<div class="list">
					<ul>
						<foreach name="new_share" item="vo">
						<if condition="($key eq 0)">
						<li>
							<div class="list_recommend clearfix">
								<div class="imgArea">
									<a href="<{$CBW_URL}>/model/2_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" height="72" width="72" alt="" /></a>
								</div>
								<div class="wordArea">
									<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html">【<{$vo.name}>】<{$vo.subject}><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></a></h3>
									<p><{$vo.description|msubstr=0,55,'utf-8',true}></p>
								</div>
							</div>
						</li>
						<else />
						<li>
							<a href="<{$CBW_URL}>/view/<{$vo.id}>.html" class="clearfix"><em class="circle"></em><p class="circleContent">【<{$vo.name}>】<{$vo.subject}><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></p></a>
							<p><{$vo.description|msubstr=0,55,'utf-8',true}></p>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
		<!-- 机型专题 -->
		<div class="modelSpecial mod">
			<h2>
				<a href="<{$CBW_URL}>/forum/1.html" class="tit">品牌机型专题</a>
				<a href="<{$CBW_URL}>/forum/1.html" class="more">更多&gt;</a>
			</h2>
			<foreach name="brands" item="vo">
			<div class="modsmall">
				<div class="list">
					<div class="list_recommend clearfix">
						<div class="imgArea">
							<a href="<{$CBW_URL}>/brand/1_<{$vo.id}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
						</div>
						<div class="wordArea">
							<h3><a href="<{$CBW_URL}>/brand/1_<{$vo.id}>.html"><{$vo.name}></a></h3>
							<p><{$vo.statistics}>个分享</p>
						</div>
					</div>
					<ul>
						<foreach name="vo.thread" item="v">
						<li><a href="<{$CBW_URL}>/view/<{$v.id}>.html"><em class="circle"></em>【<{$v.name}>】<{$v.subject}></a></li>
						</foreach>
					</ul>
				</div>
			</div>
			</foreach>
		</div>
	</div>
	<div class="rank_item">
		<div class="F_introduce">
			<a href="<{$CBW_URL}>/introduce.html">查看论坛说明</a>
		</div>
		<div class="rank_common">
			<!-- 等级排行 -->
			<div class="level_rank mb">
				<h3>等级排行</h3>
				<ul>
					<foreach name="levels" item="vo">
					<li class="clearfix">
						<div class="pic"><a href="<{$CBW_URL}>/user/<{$vo.id}>.html"><img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" width="46" height="46" /></a></div>
						<div class="word">
							<a href="<{$CBW_URL}>/user/<{$vo.id}>.html"><{$vo.uname}></a>
							<p><img src="__PUBLIC__/Forum/images/level/level<{$vo.level}>.png" alt="<{$vo.levelname}>" width="24" /></p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<!-- 回答行家 -->
			<div class="problem_rank mb">
				<h3>回答行家</h3>
				<ul>
					<foreach name="posts" item="vo">
					<li class="clearfix">
						<div class="pic"><a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" width="46" height="46" /></a></div>
						<div class="word">
							<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><{$vo.uname}></a>
							<p>回答<{$vo.number}>个问题</p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<!-- 分享达人 -->
			<div class="share_rank mb">
				<h3>分享达人</h3>
				<ul>
					<foreach name="shares" item="vo">
					<li class="clearfix">
						<div class="pic"><a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" width="46" height="46" /></a></div>
						<div class="word">
							<a href="<{$CBW_URL}>/user/<{$vo.authorid}>.html"><{$vo.uname}></a>
							<p>分享了<{$vo.number}>篇技巧</p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<!-- 财富排行 -->
			<div class="money_rank mb">
				<h3>财富排行</h3>
				<ul>
					<foreach name="virtuals" item="vo">
					<li class="clearfix">
						<div class="pic"><a href="<{$CBW_URL}>/user/<{$vo.id}>.html"><img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" alt="<{$vo.uname}>" width="46" height="46" /></a></div>
						<div class="word">
							<a href="<{$CBW_URL}>/user/<{$vo.id}>.html"><{$vo.uname}></a>
							<p>草包豆：<{$vo.virtual_money}></p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->