<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/introduce.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="con wrap clearfix">
	<div class="con-left">
		<div class="con-l-1">
			<p class="tit"><i></i><span>草包网</span>-专注于手机维修问答平台</p>
			<div class="tit-bd clearfix">
				<div class="tit-l">
					<p class="bd">我们是一个互助维修和问题解答的社区，你可以向大家咨询手机、平板维修及使用过程中遇到的各种问题，也可以发挥自己的经验来帮助需要你的人。从中，你还可以得到由草包网给予的草包豆奖励，草包豆可直接在草包商城用于购买商品。</p>
					<p class="bd bd0">加入我们，你将会发现一群友好的、乐于助人的人们，关心各种设备并想要设备持续工作更长时间。</p>
				</div>
				<div class="tit-pic">
					<img src="__PUBLIC__/Forum/images/default/logo_03.jpg" height="174" width="220" alt="">
				</div>
			</div>
			<div class="con-l-b">
				<strong>我们很专业</strong>
				<p class="con-l-b-bd">我们有全国各地专业手机维修、平板维修人员聚集在一起，帮助你解答你所遇到的各种手机问题，主要是和延长设备寿命相关的问题。</p>
			</div>
		</div>
		<div class="con-l-2">
			<p class="tit">
				<i></i>
				<span class="tit-t">草包网技巧与经验论坛</span>
				<span class="tit-b"> - 专注于分享手机维修、使用技巧文章</span>
			</p>
			<div class="cl clearfix">
				<div class="l-2-l">
					<p class="l-2-t">
						这里是基于实践，教授人们如何修理手机、平板，以及如何更好更酷地使用手机平板的地方。任何人都能为一个设备分享自己的经验和经历，并且任何人也能够对现
						有的经验和问题来评论改进。我们的网站赋予了个人强大的力量，
						使他们能够和其他人分享他们自己的技术知识。
					</p>
					<p class="l-2-m">
						<strong>不断的学习</strong>
						</p><p>提出问题——讨论问题——解决问题，我们在不断的学习，不断的进步，解决遇到的各种问题。
						</p><p>我们的目标是建立一个对未来有用的手机平板硬件问题解决方案的专业平台。</p><p></p>
					<p></p>
					<p class="l-2-b">
						<strong>你的收获</strong>
						</p><p>提出问题——讨论问题——解决问题，我们在不断的学习，不断的进步，解决遇到的各种问题。我们的目标是建立一个对未来有用的手机平板硬件问题解决方案的专业平台。</p>
					<p></p>
				</div>
				<div class="l-2-r">
					<img src="__PUBLIC__/Forum/images/default/sm2_03.jpg" height="300" width="247" alt="">
				</div>
			</div>
		</div>
		<div class="con-l-3">
			<span>等级进阶规则</span>
			<div>
				<table width="100%" style="text-align:center;font-size:14px;">
					<tbody><tr>
						<th width="20%" align="left">等级</th>
						<th width="30%">头衔</th>
						<th>经验值</th>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level1.png" height="38" width="38" alt=""></td>
						<td>新手菜鸟</td>
						<td>0-10</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level2.png" height="38" width="38" alt=""></td>
						<td>入门学徒</td>
						<td>10-200</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level3.png" height="38" width="38" alt=""></td>
						<td>初级学员</td>
						<td>200-2400</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level4.png" height="38" width="38" alt=""></td>
						<td>中级技工</td>
						<td>2400-7200</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level5.png" height="38" width="38" alt=""></td>
						<td>高级技师</td>
						<td>7200-14400</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level6.png" height="38" width="38" alt=""></td>
						<td>大师教授</td>
						<td>14400-28800</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level7.png" height="38" width="38" alt=""></td>
						<td>宗师主任</td>
						<td>28800-56700</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level8.png" height="38" width="38" alt=""></td>
						<td>神级院长</td>
						<td>56700-115200</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Forum/images/level/level9.png" height="38" width="38" alt=""></td>
						<td>传说天下</td>
						<td>115200-</td>
					</tr>
				</tbody></table>
			</div>
		</div>
		<div class="con-l-4">
			<strong class="declare">我们的声明</strong>
			<p>1、不能发布危害国家和社会安全的所有信息；</p>
			<p>2、不能发布不健康的信息，以及诬陷他人的信息；</p>
			<p>3、不能发布任何形式的广告信息。</p>
			<p class="last">为了营造一个健康、绿色的环境，如发生以上情况，我们有权清除发言者的信息及ID。</p>
		</div>
	</div> 
	<div class="con-r">
		<div class="con-r-t">
			<div class="con-r-t-tit">如何获取经验值？</div>
			<div class="con-r-t-bd">
				<p>经验值是代表论坛对你的一种肯定与荣誉，获取方式非常简单，不同的操作有不同的经验值，详细情况如下：</p>
				<ul>
					<li class="fst"><strong class="left">操作</strong><strong class="right">经验值</strong></li>
					<li><strong class="left">提问</strong><strong class="right">+20</strong></li>
					<li><strong class="left">分享技巧</strong><strong class="right">+40</strong></li>
					<li><strong class="left">回答</strong><strong class="right">+10</strong></li>
					<li><strong class="left">评论</strong><strong class="right">+5</strong></li>
					<li><strong class="left">被采纳</strong><strong class="right">+40</strong></li>
					<li><strong class="left">采纳</strong><strong class="right">+10</strong></li>
					<li><strong class="left">投票</strong><strong class="right">+5</strong></li>
				</ul>
				<p>经验值的提升会让你的等级名称上升，每天你可以最多获得500经验值。</p>
			</div>
		</div>
		<div class="con-r-b">
			<div class="con-r-t-tit">如何获取草包豆？</div>
			<div class="con-r-t-bd">
				<p>草包豆是草包网设定的一种虚拟货币，用户可以使用草包豆在草包商城购买相关产品以抵消现金来使用。在使用草包论坛过程中，也有很多途径都可以获得草包豆.</p>
				<ul>
					<li class="fst"><strong class="left">具体获取方式如下：</strong></li>
					<li><strong class="left">回答</strong><strong class="right">+5</strong></li>
					<li><strong class="left">评论</strong><strong class="right">+5</strong></li>
					<li><strong class="left">被采纳</strong><strong class="right">+40</strong></li>
					<li><strong class="left">分享技巧</strong><strong class="right">+30</strong></li>
					<li><strong class="left">被推荐</strong><strong class="right">+60</strong></li>
				</ul>
				<p>草包豆的消费请到草包商城，具体可了解《<a href="http://www.caobao.com/article/4.html" style="color:#ffa800;" target="_blank">什么是草包豆</a>》，每天你可以最多获得500草包豆。</p>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->