<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/frdLink.css"/>
</block>
<!--js-->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.pin.js"></script>
</block>

<!--main-->
<block name="publicBody">
	<div class="content">
		<dl class="clearfix siteUrl">
			<dt>首页</dt>
			<dd><em></em> 友情链接</dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>帮助中心</p>
					</div>
					<foreach name="articleRes" item="res">
					<dl class="clearfix <eq name='article.cat_id' value='$res.id'>on</eq>">
						<dt><{$res.cat_name}><em></em></dt>
						<dd>
						<foreach name="res.list" item="list">
						<p class="posR <eq name='article.id' value='$list.id'>on</eq>"><i class="posA">&nbsp;</i><a href="<{$CBW_URL}>/article/<{$list[id]}>.html" <eq name='article.id' value='$list.id'>rel="nofollow"</eq>><{$list.title}></a></p>
						</foreach>
						</dd>
					</dl>
					</foreach>
				</div>
			</div>
			<div class="contBx">
				<div class="cont detail">
					<div class="title">
						<p>友情链接</p>
					</div>
					<div class="links clearfix">
						<foreach name="linkRes" item="vo">
						<a href="<{$vo.linkurl}>" target="_blank" title="<{$vo.linktitle}>"><{$vo.linktitle}></a>
						</foreach>
					</div>
					<p class="frdSwap">友情链接申请请联系QQ：<a href="http://wpa.qq.com/msgrd?v=1&amp;uin=717231769&amp;site=qq&amp;menu=yes" target="_blank" alt="草包友链" title="草包友链">717231769</a></p>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script>
	$('.listNav').delegate('dt','click',function(){
		$(this).parent('dl').addClass('on').siblings('dl').removeClass('on').find('dd').slideUp(250);
		$(this).siblings('dd').slideDown(250,function(){
			getPinHeight();
		});
	})
	$(function(){
		$('.listNav dl').each(function(){
			if($(this).hasClass('on') == true){
				$(this).find('dd').slideDown(250,function(){
					getPinHeight();
				}); 
			}
		})
	})
	function getPinHeight(){
		$('.listNav .pinedBx').pin({containerSelector:'.bdCont'});
	}
	</script>
</block>
