<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <style>
        img.thumb {
            width:150px;
            height:150px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">收货地址管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>编辑用户收货地址</h5>
                    </div>
                    <div class="widget-content nopadding">
                        
                        <form class="form-horizontal" method="post" action="<{:U('User/doUserAddressEdit')}>" enctype="multipart/form-data" name="useradd" id="useradd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">收件人：</label>
                                <div class="controls">
                                    <input type="hidden" name="id" value="<{$addr.id}>">
                                    <input type="hidden" name="user_id" value="<{$addr.user_id}>">
                                    <input type="text" name="reciver_user" value="<{$addr.reciver_user}>" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">联系方式：</label>
                                <div class="controls">
                                    <input type="text" name="reciver_phone" value="<{$addr.reciver_phone}>" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">详细地址：</label>
                                <div class="controls">
                                    <{$city.str}>
                                    <input type="text" name="street" value="<{$addr.street}>" id="" style="margin-left:20px; margin-top:-1px;" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">设为默认：</label>
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="is_default" <notempty name="addr.is_default">checked</notempty> value="1">设为默认
                                    </label>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">是否显示：</label>
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="is_show" <notempty name="addr.is_show">checked</notempty> value="1">是否显示
                                    </label>
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 确认修改 " id="sub" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/userAddress/id/<{$addr.user_id}>" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 

</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
		//城市选择js
		<{$city.script}>
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
