<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <style>
        img.thumb {
            width:150px;
            height:150px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">编辑会员账号</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>编辑会员信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        
                        <form class="form-horizontal" method="post" action="<{:U('User/doUserEdit')}>" enctype="multipart/form-data" name="useradd" id="useradd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">用户名：</label>
                                <div class="controls">
                                    <input type="hidden" name="id" value="<{$user.id}>">
                                    <input type="text" name="uname" value="<{$user.uname}>" disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">真实姓名：</label>
                                <div class="controls">
                                    <input type="text" name="true_name" value="<{$user.true_name}>" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">性别：</label>
                                <div class="controls">
                                    <select class="span2" name="sex">
                                        <option value="2" <eq name="user.sex" value="2">selected</eq>>保密</option>
                                        <option value="1" <eq name="user.sex" value="1">selected</eq>>男</option>
                                        <option value="0" <eq name="user.sex" value="0">selected</eq>>女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">邮箱地址：</label>
                                <div class="controls">
                                    <input type="text" name="email" value="<{$user.email}>" id="email" />
                                    <label style="display:inline-block">
                                        <input type="checkbox" name="email_state"<eq name="user.email_state" value="1"> checked</eq> value="1">验证通过
                                    </label>
                                    <span class="help-block" id="emailDesc">请输入合法邮箱地址</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">手机号码：</label>
                                <div class="controls">
                                    <input type="text" name="mobile" value="<{$user.mobile}>" id="mobile" />
                                    <label style="display:inline-block">
                                        <input type="checkbox" name="mobile_state"<eq name="user.mobile_state" value="1"> checked</eq> value="1">验证通过
                                    </label>
                                    <span class="help-block" id="mobileDesc">请输入合法手机号码</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">新密码：</label>
                                <div class="controls">
                                    <input type="hidden" name="org_password" value="<{$user.password}>">
                                    <input type="password" name="password" value="" id="" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">确认密码：</label>
                                <div class="controls">
                                    <input type="password" name="repassword" value="" id="" />
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">用户组：</label>
                                <div class="controls">
                                    <select class="span2" name="group_id">
										<option value="3" <eq name="user.group_id" value="3">selected</eq>>代理会员</option>
                                        <option value="2" <eq name="user.group_id" value="2">selected</eq>>直营会员</option>
                                        <option value="1" <eq name="user.group_id" value="1">selected</eq>>店铺会员</option>
                                        <option value="0" <eq name="user.group_id" value="0">selected</eq>>普通会员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">出生日期：</label>
                                <div class="controls">
                                <input type="text" name="birthday" data-date="2013-01-02" data-date-format="yyyy-mm-dd" value="<{$user.birthday}>" class="datepicker">
                                <span class="help-block">请输入正确的日期格式  (yyyy-mm-dd)</span> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">现居地：</label>
                                <div class="controls">
                                    <{$city.str}>
                                    <input type="text" name="address" value="<{$user.address}>" id="" style="margin-left:20px; margin-top:-1px;" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">婚姻状况：</label>
                                <div class="controls">
                                    <select class="span2" name="marry">
                                        <option value="2" <eq name="user.marry" value="2">selected</eq>>已婚</option>
                                        <option value="1" <eq name="user.marry" value="1">selected</eq>>未婚</option>
                                        <option value="0" <eq name="user.marry" value="0">selected</eq>>保密</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">学历：</label>
                                <div class="controls">
                                    <select class="span3" name="education">
                                        <option value="8" <eq name="user.education" value="8">selected</eq>>博士后</option>
                                        <option value="7" <eq name="user.education" value="7">selected</eq>>博士</option>
                                        <option value="6" <eq name="user.education" value="6">selected</eq>>硕士</option>
                                        <option value="5" <eq name="user.education" value="5">selected</eq>>本科</option>
                                        <option value="4" <eq name="user.education" value="4">selected</eq>>大专</option>
                                        <option value="3" <eq name="user.education" value="3">selected</eq>>中专</option>
                                        <option value="2" <eq name="user.education" value="2">selected</eq>>高中</option>
                                        <option value="1" <eq name="user.education" value="1">selected</eq>>初中</option>
                                        <option value="0" <eq name="user.education" value="0">selected</eq>>保密</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">所在行业：</label>
                                <div class="controls">
									<select class="span3" name="job">
                                        <option value="11" <eq name="user.job" value="11">selected</eq>>公务员/翻译/其他</option>
										<option value="10" <eq name="user.job" value="10">selected</eq>>服务业</option>
										<option value="9" <eq name="user.job" value="9">selected</eq>>咨询/法律/教育/科研</option>
										<option value="8" <eq name="user.job" value="8">selected</eq>>人事/行政/高级管理</option>
										<option value="7" <eq name="user.job" value="7">selected</eq>>建筑/房地产</option>
										<option value="6" <eq name="user.job" value="6">selected</eq>>广告/市场/媒体/艺术</option>
										<option value="5" <eq name="user.job" value="5">selected</eq>>生物/制药/医疗/护理</option>
										<option value="4" <eq name="user.job" value="4">selected</eq>>生产/营运/采购/物流</option>
										<option value="3" <eq name="user.job" value="3">selected</eq>>会计/金融/银行/保险</option>
										<option value="2" <eq name="user.job" value="2">selected</eq>>销售/客服/技术支持</option>
										<option value="1" <eq name="user.job" value="1">selected</eq>>计算机/互联网</option>
										<option value="0" <eq name="user.job" value="0">selected</eq>>保密</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">用户头像：</label>
                                <div class="controls">
                                    <img class="thumb" <empty name="user.thumb" >src="__PUBLIC__/User/default.jpg"<else />src="__PUBLIC__/User/<{$user.thumb}>"</empty>><br/>
                                    <input type="file" name="thumb" />
									<input type="hidden" name="old_thumb" value="<{$user.thumb}>" />
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="hidden" name="org_thumb" value="<{$user.thumb}>">
                            <input type="submit" value=" 确认修改 " id="sub" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 

</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
		//城市选择js
		<{$city.script}>
		
        // 判断邮箱是否可用
        var orgEmail = $('#email').val();
        $('#email').change(function (){
            var emailValue = $('#email').val();
            if ( ! emailValue.match(/^[1-9a-zA-Z]+\w+@\w+\.[\w]+$/))
            {
                $('#emailDesc').html('<i class="icon-remove"></i>邮箱不合法').css({'font-size':'12px', 'color':'red'});
            }
            else
            {
                var data = {
                    'email': emailValue
                };
                $.post('__CONTROLLER__/checkValueExists', data, function (d){
                    if (d == 1)
                    {
                        $('#emailDesc').html('<i class="icon-ok"></i>邮箱可用').css({'font-size':'12px', 'color':'green'});
                    }
                    else if (d == 0)
                    {
                        if (emailValue != orgEmail){
                            $('#emailDesc').html('<i class="icon-remove"></i>邮箱不可用').css({'font-size':'12px', 'color':'red'});
                            // $('#email').attr('id', 'inputError');
                        }
                    }
                });
            }
        });

        // 判断手机是否可用
        var orgMobile = $('#mobile').val();
        $('#mobile').change(function (){
            var mobileValue = $('#mobile').val();
            // 判断手机格式
            if ( ! mobileValue.match(/^1[3578]{1}\d{9}$/))
            {
                $('#mobileDesc').html('<i class="icon-remove"></i>手机号码不合法').css({'font-size':'12px', 'color':'red'});
                // $('#mobile').attr('id', 'inputError');
            }
            else
            {
                var data = {
                    'mobile': mobileValue
                };
                $.post('__CONTROLLER__/checkValueExists', data, function (d){
                    if (d == 1)
                    {
                        $('#mobileDesc').html('<i class="icon-ok"></i>手机号码可用').css({'font-size':'12px', 'color':'green'});
                    }
                    else if (d == 0)
                    {
                        if (mobileValue != orgMobile){
                            $('#mobileDesc').html('<i class="icon-remove"></i>手机号码已被占用').css({'font-size':'12px', 'color':'red'});
                            // $('#mobile').attr('id', 'inputError');
                        }
                    }
                });
            }
        });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
