<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">用户列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="" method="get" class="span6">
                                <input type="text" name="keyword" style="width:150px;" value="<{$keyword}>" placeholder="请输入关键字...">
                                <select name="type" style="width:120px;">
                                    <option>查找全部</option>
									<option value="email" <eq name="type" value="email">selected</eq>>按邮箱</option>
									<option value="mobile" <eq name="type" value="mobile">selected</eq>>按手机</option>
									<option value="uname" <eq name="type" value="uname">selected</eq>>按用户名</option>
                                </select>
								<select name="group" style="width:120px;">
                                    <option>查找用户组</option>
									<option value="1" <eq name="group" value="1">selected</eq>>店铺用户</option>
									<option value="0" <eq name="group" value="0">selected</eq>>普通用户</option>
                                </select>
								<select name="is_agent" style="width:120px;">
                                    <option>是否代理</option>
									<option value="1" <eq name="is_agent" value="1">selected</eq>>是</option>
									<option value="0" <eq name="is_agent" value="0">selected</eq>>否</option>
                                </select>
                                <input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" value="查找">
                            </form>
                            <a href="<{:U('User/userAdd')}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加会员</a> 
                        </div>
                    </div>
                </div>
                <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>会员列表</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="__CONTROLLER__/batchDisableUsers" method="post">
            <table class="table table-bordered table-striped with-check">
                <thead>
                    <tr>
                        <th><i class="icon-resize-vertical"></i></th>
                        <th style="width:5%;">编号</th>
						<th style="width:5%;">账号</th>
                        <th style="width:8%;">用户名</th>
                        <th>电子邮箱</th>
                        <th style="width:8%;">手机号</th>
						<th style="width:5%;">用户组</th>
						<th style="width:5%;">代理</th>
						<th style="width:8%;">注册时间</th>
                        <th style="width:8%;">上次登录</th>
                        <th style="width:8%;">上次IP</th>
                        <th style="width:5%;">状态</th>
						<th style="width:5%;">论坛状态</th>
                        <th style="width:12%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="userRes" item="user">
                        <tr>
                            <td><input type="checkbox" name="uids[]" value="<{$user.id}>"/></td>
                            <td class="text-center"><{$user.id}></td>
							<td class="text-center"><{$user.account}></td>
                            <td class="text-center">
                                <{$user.uname}>
                            </td>
                            <td>
                                <empty name="user.email">
                                    —未填写—
                                <else />
                                    <{$user.email}> <notempty name="user.email_state"> <span class="badge badge-success">证</notempty>
                                </empty>
                            </td>
                            <td>
                                <empty name="user.mobile">
                                    —未填写—
                                <else />
                                    <{$user.mobile}>
                                    <notempty name="user.mobile_state"> 
                                        <span class="badge badge-warning">证</span>
                                    </notempty>
                                </empty>
                            </td>
							<td class="text-center">
                                <if condition="$user.group_id eq 1">
									<a href="<{:U('UserRepairs/index', array('field'=>'mobile', 'keyword'=>$user['mobile']))}>">店铺用户</a>
								<else />
									普通用户
								</if>
                            </td>
							<td class="text-center">
								<eq name="user.is_agent" value="1">
								<i class="icon-ok" style="color:green;"></i>
								<else />
								<i class="icon-remove" style="color:red"></i>
								</eq>
							</td>
							<td class="text-center">
                                <{$user.create_time|date="Y-m-d H:i", ###}>
                            </td>
                            <td class="text-center">
                                <{$user.last_login_time|date="Y-m-d H:i", ###}>
                            </td>
                            <td class="text-center"><{$user.last_login_ip|long2ip}></td>
                            <td class="text-center" id="status<{$user.id}>">
                                <empty name="user.status">
                                    <i class="icon-lock" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$user.id}>, 'status', '1');"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$user.id}>, 'status', '0');"></i>
                                </empty>
                            </td>
							<td class="text-center" id="bbs_status<{$user.id}>">
                                <empty name="user.bbs_status">
                                    <i class="icon-lock" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$user.id}>, 'bbs_status', '1');"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$user.id}>, 'bbs_status', '0');"></i>
                                </empty>
                            </td>
                            <td class="text-center" style="width:150px;">
                                <a href="__CONTROLLER__/userEdit/id/<{$user.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="<{:U('UserAgent/add', array('id'=>$user['id']))}>" title="设置代理" class="btn btn-warning btn-mini"> <i class="icon-list-ul"></i> </a>
								<a href="__CONTROLLER__/userAddress/id/<{$user.id}>" title="收货地址" class="btn btn-info btn-mini"> <i class="icon-home"></i> </a>
                                <a href="__APP__/OrderInfo/index/id/<{$user.id}>" title="查询订单" class="btn btn-warning btn-mini"> <i class="icon-zoom-in"></i> </a>
                                <a href="#" title="交易明细" class="btn btn-primary btn-mini"> <i class="icon-list-alt"></i> </a>
								<a href="__CONTROLLER__/userDelete/id/<{$user.id}>" onclick="return confirm('您确定执行删除操作吗？')" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
              <tfoot>
                <tr>
                    <td colspan="14">
                      <div class="pagination alternate text-right">
                      <input type="submit" class="btn btn-primary pull-left" onclick="return confirm('您确定执行禁用操作吗？')" value="批量禁用">
                          <{$page}>
                      </div>
                    </td>
                </tr>
              </tfoot>
            </table>
            </form>
          </div>
        </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
function postDataStatus(no, type, val){
	var data = {'id': no, 'type': type, 'val':val};
	$.post('__CONTROLLER__/postUserEdit', data, function (a) {
		if (a > 0) {
			if(val=='1'){
				$("#"+ type + no).html('<i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'0\');"></i>');
			}else{
				$("#"+ type + no).html('<i class="icon-lock" style="color:red;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'1\');"></i>');
			}
		} else {
			alert("修改失败.");
		}
	});
}
</script>
</block>
<!-- 底部JS执行区域 结束 -->
