<extend name="Public:same" />
<block name="cssFile">
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/content.css"/>
</block>
<block name="topJsFile">

</block>
<block name="publicBody">
<div class="content">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> 说明书</dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>说明书分类</p>
					</div>
					<ul class="level1">
					<foreach name="catRes" item="cats">
					<li class="<eq name="cats.is_on" value="1">on</eq>">
						<h3><{$cats.cat_name}></h3>
						<ul class="level2">
							<foreach name="cats.brandRes" item="brand">
							<li class="<eq name="brand.is_on" value="1">on</eq>">
								<h3 class="clearfix"><{$brand.cat_name}><i class="icon-minus">&nbsp;</i></h3>
								<ul class="level3">
									<foreach name="brand.modelRes" item="model">
									<li class="posR <eq name="explain.cat_id" value="$model.id">on</eq>">
										<i class="posA">&nbsp;</i>
										<a href="<{$CBW_URL}>/explain_list/<{$model.id}>.html" title="<{$model.cat_name}>"><{$model.cat_name}></a>
									</li>
									</foreach>
								</ul>
							</li>
							</foreach>
						</ul>
					</li>
					</foreach>
				</ul>
				</div>
			</div>
			<div class="contBx">
				<div class="cont">
					<h1><{$explain.title}></h1>
					<div class="otherInfo">
						<p>发布时间：<span><{$explain.create_time|date="Y-m-d H:i:s",###}></span></p>
						<p>点击：<span><{$explain.clicktimes}>次</span></p>
					</div>
					<div class="ready">
						<p style="color:#f60;font-size:16px;line-height:30px;">请结合本站内的维修视频教程维修。建议先观看视频，将维修流程/步骤了解熟悉再维修，以减少维修失误！</p>
						<div class="title">
							<p>维修前准备</p>
						</div>
						<dl>
							<dt>备份您的设备</dt>
							<dd>维修您的设备可能造成设备的损坏，数据的丢失，开始维修之前，请确保您的手机已经备份。</dd>
						</dl>
						<dl>
							<dt>通过ltunes备份 （1）</dt>
							<dd>将您的设备和电脑相连接，打开ltunse，在电脑的右上方选择您的设备，在备份窗口选择现在开始备份。</dd>
						</dl>
						<dl>
							<dt>通过ltunes备份 （2）</dt>
							<dd>确保您的手机和WiFi相连，按照下列步骤进行：设置-lcloud-存储&备份，点击开始备份。</dd>
						</dl>
						<dl>
							<dt>维修所需工具</dt>
							<dd>
								<eq name="explain.type_id" value="35">
								<ul>
									<li>十字螺旋刀（1.5mm）</li>
									<li>五角螺丝刀（0.8mm）</li>
									<li>一字螺丝刀</li>
									<li>磁性螺丝记忆贴</li>
									<li>防静电多功能金属手机撬棒</li>
									<li>吸盘</li>
									<li>三角薄片</li>
								</ul>
								<else />
								<ul>
									<li>十字螺旋刀（1.5mm）</li>
									<li>防静电多功能金属手机撬棒</li>
									<li>电吹风（自备）</li>
								</ul>
								</eq>
							</dd>
						</dl>
					</div>
					<div class="steps">
						<div class="title">
							<p>方法/步骤</p>
						</div>
						<{$explain.content|htmlspecialchars_decode}>
					</div>
					<div class="clearfix">
						<div class="bdsharebuttonbox fl">
							<a href="#" class="bds_more" data-cmd="more"></a>
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
							<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						</div>
						<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
						<a style="float:right;display:inline-block;line-height:36px;margin: 15px 0 0 0;padding: 10px 20px 0 20px;" href="/news/407.html" target="_blank">手机维修、玩机技巧交流QQ群</a>
					</div>
				</div>
				<div class="pages">
					<neq name="previous.title" value="">
						<p>上一篇：<span><a href="<{$CBW_URL}>/explain/<{$previous.id}>.html"><{$previous.title}></a></span></p>
					</neq>
					<neq name="next.title" value="">
						<p>下一篇：<span><a href="<{$CBW_URL}>/explain/<{$next.id}>.html"><{$next.title}></a><span></p>
					</neq>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footScript"> 
	<script>
		$('.listNav').delegate('h3','click',function(){
			var _this = $(this);
			var level = _this.parent().parent().attr('class');
			_this.parent().addClass('on');
			_this.parent('li').siblings('li').find('ul').slideUp(250).find('ul:not(.level3) li.on').removeClass('on');
			_this.parent('li').siblings('li').find('h3 i').attr('class','icon-plus');
			_this.next('ul').slideDown(250);
			_this.find('i').attr('class','icon-minus');

		
		}).delegate('','click',function(){
			
		})
		$(function(){
			$('.listNav .level1 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
			$('.listNav .level2 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
		})
	</script> 
</block>
