<extend name="Public:same" />
<!--css-->
<block name="cssFile">
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/list.css"/>
</block>
<!--js-->
<block name="topJsFile"></block>

<!--main-->
<block name="publicBody">
<div class="content">
	<dl class="clearfix siteUrl">
		<dt class="clearfix"><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
		<dd><em></em> 说明书</dd>
	</dl>
	<div class="bdCont clearfix">
		<div class="listNavBar">
			<div class="listNav navBar">
				<div class="title">
					<p>说明书分类</p>
				</div>
				<ul class="level1">
					<foreach name="catRes" item="cats">
					<li class="<eq name="cats.is_on" value="1">on</eq>">
						<h3><{$cats.cat_name}></h3>
						<ul class="level2">
							<foreach name="cats.brandRes" item="brand">
							<li class="<eq name="brand.is_on" value="1">on</eq>">
								<h3 class="clearfix"><{$brand.cat_name}><i class="icon-minus">&nbsp;</i></h3>
								<ul class="level3">
									<foreach name="brand.modelRes" item="model">
									<li class="posR <eq name="cat" value="$model.id">on</eq>">
										<i class="posA">&nbsp;</i>
										<a href="<{$CBW_URL}>/explain_list/<{$model.id}>.html" title="<{$model.cat_name}>"><{$model.cat_name}></a>
									</li>
									</foreach>
								</ul>
							</li>
							</foreach>
						</ul>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="contBx">
			<div class="list">
				<foreach name="explainRes" item="explain">
					<dl class="item clearfix">
						<dd class="explain fl">
							<p class="ti clearfix"> <a href="<{$CBW_URL}>/explain/<{$explain.id}>.html" title="<{$explain.title}>"><{$explain.title}></a> <span class="date">[ <{$explain.create_time|date="Y-m-d H:m",###}> ]</span>
							<p class="detail"><{$explain.description}> <a href="<{$CBW_URL}>/explain/<{$explain.id}>.html" title="<{$explain.title}>">阅读全文</a> </p>
						</dd>
					</dl>
				</foreach>
			</div>
			<div class="pageLink clearfix"> <{$page}> </div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分结束 --> 
<!--js-->
<block name="footScript"> 
	<script>
		$('.listNav').delegate('h3','click',function(){
			var _this = $(this);
			var level = _this.parent().parent().attr('class');
			_this.parent().addClass('on');
			_this.parent('li').siblings('li').find('ul').slideUp(250).find('ul:not(.level3) li.on').removeClass('on');
			_this.parent('li').siblings('li').find('h3 i').attr('class','icon-plus');
			_this.next('ul').slideDown(250);
			_this.find('i').attr('class','icon-minus');

		
		}).delegate('','click',function(){
			
		})
		$(function(){
			$('.listNav .level1 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
			$('.listNav .level2 > li').each(function(){
				if($(this).hasClass('on') == true){
					$(this).children('h3').find('i').attr('class','icon-minus');
					$(this).children('h3').next('ul').slideDown(250);
				}else{
					$(this).children('h3').find('i').attr('class','icon-plus');
					$(this).children('h3').next('ul').slideUp(250);
				}
			})
		})
	</script> 
</block>
