<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/agent-myshop.css" />
	
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="prolist">
				<div class="protit clearfix"><h2>我的店铺</h2><span><a href="<{:U('Agent/shopadd')}>"><em>+</em>添加店铺</a></span></div>
				<div class="filter">
					<form action="<{:U('Agent/myshop')}>" id="search" name="search" method="get">
					<{$city.str}>
					<input type="text" name="keyword" value="<{$keyword}>" placeholder="搜索店铺名称" />
					<span class="search">确定</span>
					</form>
				</div>
				<div class="storeList">
					<empty name="shops">
					<div class="empty">未搜索到我的店铺信息</div>
					<else />
					<ul class="clearfix">
						<foreach name="shops" key="key" item="vo">
						<li>
							<a href="<{:U('Agent/jumpSystem', array('id'=>$vo['id']))}>">
								<img src="__PUBLIC__/User/<{$vo.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" />
								<div class="storenews">
									<span>
									<{$vo.shop_name}>
									<for start="0" end="$vo.level_image_num">
										<b><img src="__PUBLIC__/Home/images/level/<{$vo.level_image_name}>.png" width="16" title="<{$vo.level_level}>级" alt="<{$vo.level_level}>级" /></b>
									</for>
									</span>
									<p>店长：<{$vo.user_name}> <{$vo.user_phone}></p>
									<p>地址：<{$vo.pro_addr}><{$vo.city_addr}><{$vo.addr}><{$vo.address}></p>
								</div>
							</a>
							<a class="editShopnews" href="<{:U('Agent/shopedit', array('id'=>$vo['id']))}>">编辑</a>
							<if condition="$vo['orderCount'] gt 0">
							<p class="hasRepairOrder">有新的订单正在进行(<{$vo.orderCount}>)</p>
							</if>
							<if condition="$vo['is_main'] eq 1">
							<div class="master-shop"><img src="__PUBLIC__/Home/images/2016/zhu.png" /></div>
							</if>
						</li>
						<if condition="(($key+1)%6 eq 0)">
						</ul><ul class="clearfix">
						</if>
						</foreach>
					</ul>
					</empty>
				</div>
			</div>
			<div class="tcdPageCode"></div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/jquery.page.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	    // 分页
		var len = $(".storeList ul").length;
		$(".storeList ul").first().show();
		$(".tcdPageCode").createPage({
			pageCount:len,
			current:1,
			backFn:function(p){
				$(".storeList ul").eq(p-1).show().siblings().hide();
			}
		});
		
		// 城市三级联动
        <{$city.script}>
		
		// 搜索提交
		$('.con').delegate('#search .search', 'click', function(event) {
            $('form#search').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->