<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/agent-offers.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		<div class="con-right prolist">
			<div class="protit"><h2>报价通知</h2></div>
			<div class="bd-b">
				<div class="tab_item">
					<!-- item1 -->
					<div class="item1 same-item">
						<ul>
							<foreach name="offers" item="vo">
							<li>
								<div class="title-news clearfix">
									<div class="titile-user-news f_left">
										<img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';">
										<span><{$vo.uname}></span>
									</div>
									<div class="user-time f_right">
										发布于 <{$vo.order_date|CBWTimeFormat='m.d'}>
									</div>
								</div>
								<div class="main-content">
									<a href="<{$CBW_URL}>/offer/<{$vo.order_id}>-<{$vo.shop_id}>.html">
										<div class="main-content-phone">
											<p class="required">用户需求：<if condition="$vo['order_type'] eq 1">设备维修<else />设备回收</if></p>
											<p class="user-phone">
											<if condition="$vo['pro_name'] neq ''">
											【型号】<{$vo.pro_name}>  
											</if>
											<if condition="$vo['color_name'] neq ''">
											【颜色】<{$vo.color_name}>
											</if>
											<if condition="$vo['plan_name'] neq ''">
											【方案】<{$vo.plan_name}>
											</if>
											<if condition="$vo['attrs'] neq ''">
											【评估】<{$vo.attrs}>
											</if>
											【备注】<{$vo.remarks}>
											</p>
										</div>
									</a>
									<div class="main-content-people clearfix">
										<p class="quote-people f_left">已有<{$vo.offer_count}>人抢单<span>(<{$vo.offer_count}>/5)</span></p>
										<p class="quote-shop f_right">店铺：<{$vo.shop_name}></p>
									</div>
								</div>
							</li>
							</foreach>
						</ul>
					</div>
					<div class="page">
						<{$page}>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

		$('.con').delegate('.search', 'click', function(event) {                      // 搜索提交
            $('form#repair').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->