<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/agent-recovery.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right prolist">
			<div class="protit"><h2>回收订单</h2></div>
			<form action="<{:U('Agent/repair')}>" id="repair" name="repair" method="get">
				<div class="t1">订单搜索：<input type="text" name="keyword" value="<{$keyword}>" placeholder="搜索 订单号"> <span><i class="search"></i></span></div>
				<div class="t2">订单日期：
					<input type="text" class="date-select" name="startdate" value="<{$start}>">
					<span>至</span>
					<input type="text" name="enddate" class="date-select" value="<{$end}>">
				</div>
				<div class="t3">订单状态：   
					<select name="status" class="span2">
						<option value=""></option>
						<option value="0"<eq name="status" value="0"> selected</eq>>已取消</option>
						<option value="1"<eq name="status" value="1"> selected</eq>>正在交易</option>
						<option value="5"<eq name="status" value="2"> selected</eq>>交易完成</option>
					</select>
				</div>
			</form>
			<div class="bd-b">
				<ul class="ul_tit">
					<li class="one">商品信息</li>
					<li class="five">维修方式</li>
					<li class="two">店铺</li>
					<li class="three">金额</li>
				</ul>
				<ul class="ul_bd">
					<empty name="orders">
					<li class="empty">订单列表还是空的</li>
					<else />
					<foreach name="orders" item="vo">
					<li>
						<div class="list_tit clearfix">
							<time><{$vo['order_date']|date="Y-m-d",###}></time>
							<span class="order">订单号：<a href="<{:U('Orders/redetail', array('sn'=>$vo['order_sn']))}>"><{$vo.order_sn}></a></span>
						</div>
						<div class="list_bd clearfix">
							<div class="phpic">
								<div class="iphone"><img src="<{$vo.show_img}>" height="52" width="52" alt="" /></div>
								<div class="phpic_id">
									<span class="introduce"><{$vo.show_name}></span>
									<span class="color"><{$vo.show_desc}></span>
								</div>
							</div>
							<span class="two">
								<eq name="vo.reco_way" value="1">到站回收</eq>
								<eq name="vo.reco_way" value="2">上门回收</eq>
							</span>
							<span class="five"><{$vo.shop_name}></span>
							<span class="three"><{$vo['show_price']|number_format=2,'.',''}></span>
						</div>
						<div class="list_btn clearfix">
							订单状态：
							<span class="three">
								<eq name="vo.order_status" value="0">已取消</eq>
								<eq name="vo.order_status" value="1">正在交易</eq>
								<eq name="vo.order_status" value="2">交易完成</eq>
							</span>
							<a href="<{:U('Agent/jumpSystem', array('id'=>$vo['shop_id']))}>" class="confirm">进入店铺</a>
						</div>
					</li>
					</foreach>
					</empty>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

		$('.con').delegate('.search', 'click', function(event) {                      // 搜索提交
            $('form#repair').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->