<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/agent-shopedit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right prolist">
			<div class="protit"><h2>编辑店铺信息</h2></div>
			<div class="List">
				<form action="<{:U('Agent/doEditShop')}>" id="edit" method="post" autocomplete="off">
				<div class="search_user">
					<ul>
						<li class="fix-width"><span>店铺名称：</span><input type="text" name="shop_name" value="<{$shop.shop_name}>" placeholder="请输入店铺名称" /><span class="red">*</span></li>
						<li class="fix-width"><span>联系人：</span><input type="text" name="user_name" value="<{$shop.user_name}>" placeholder="请输入联系人" /><span class="red">*</span></li>
						<li class="fix-width"><span>联系电话：</span><input type="text" name="user_phone" value="<{$shop.user_phone}>" placeholder="请输入联系电话" /><span class="red">*</span></li>
						<li class="fix-width"><span>所在城市：</span>
							<{$city.str}>
							<span class="red">*</span>
						</li>
						<li class="fix-width"><span>详细地址：</span><input type="text" name="address" value="<{$shop.address}>" placeholder="请输入详细地址" /><span class="red">*</span></li>
						<li class="map fix-width"><span>地图坐标：</span><input type="text" name="lng" value="<{$shop.lng}>" placeholder="定位经度" readonly /><input type="text" name="lat" value="<{$shop.lat}>" placeholder="定位纬度" readonly /><button type="button" class="getMap"><i></i>手动定位</button><span class="red">*</span></li>
						<li class="server_style">
							<span>服务方式：</span>
							<label><input type="checkbox" value="1" name="is_store" <eq name="shop.is_store" value="1">checked</eq> /> 支持到店服务</label>
							<label><input type="checkbox" value="1" name="is_door" <eq name="shop.is_door" value="1">checked</eq> /> 支持上门服务</label>
						</li>
						<li class="tips"></li>
					</ul>
					<input type="hidden" name="id" value="<{$shop.id}>" />
					<button type="button" class="submit">提交修改</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div class="dark"></div>
	<div class="bigbox posF" style="height:500px;width:700px;">
		<span class="posA off">&nbsp;</span>
		<p class="PS posA">拖动<img src="__PUBLIC__/Home/images/2016/master.png" title="定位标记" alt="定位标记">即可重新定位！</p>
		<div id="mapBx" style="height:500px;width:700px;"></div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		
		$(function(){
			mapInit();    // 初始化地图
		}); 
		
		$(".con").delegate('input[name=address]', 'blur keyup', function(event) {
			var address  = $(this).val();
			var province = $('#province option:selected').text();
			var city     = $('#city option:selected').text();
			var area     = $('#area option:selected').text();
			geocoder2(province+city+area+address);
		}).delegate('button.getMap','click',function(){                 // 手动定位
			var area    = $('#area').val();
			var address = $('input[name=address]').val();
			if(!area || area == 0){
				$('.tips').text('请选择店铺所在城市/地区！');
				return false;
			}
			if(!address || address == ''){
				$('.tips').text('请输入店铺地址！');
				return false;
			}
			$('.tips').text('');
			$(".dark").fadeTo(300,0.5);
			$('.bigbox').slideDown(250);
			againPosition();
		}).delegate('button.submit', 'click', function(event) {
            var input = $('#edit input');
            for(var a = 0;a < input.length;a++){
                if(!$(input[a]).val() || $(input[a]).val() == ' '){
					$('.tips').text($(input[a]).attr('placeholder'));
                    return false;
                }
				if($(input[a]).attr('name') == 'user_phone'){
                    // var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                    var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})|(0\d{2}-?\d{8})|(0\d{3}-?\d{7})|((800|400)-?(\d{4})-?(\d{3}))$/;
					if(!myreg.test($(input[a]).val())) {
						$('.tips').text('请输入有效的电话号码！提示：座机区号和400电话支持"-"');
						return false; 
					} 
				}
            }
            $('form#edit').submit();
        });
		$(".bigbox .off").click(function(event){                                    //关闭定位
			$(".dark").fadeOut(300);
			$('.bigbox').slideUp(250);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->