<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/agent-shopping.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right prolist">
			<div class="protit"><h2>购物订单</h2></div>
			<form action="<{:U('Agent/shopping')}>" id="shopping" name="shopping" method="get">
				<div class="t1">订单搜索：<input type="text" name="keyword" value="<{$keyword}>" placeholder="搜索 订单号"> <span><i class="search"></i></span></div>
				<div class="t2">订单日期：
					<input type="text" class="date-select" name="startdate" value="<{$start}>">
					<span>至</span>
					<input type="text" name="enddate" class="date-select" value="<{$end}>">
				</div>
				<div class="t3">订单状态：   
					<select name="status" class="span2">
						<option value=""></option>
						<option value="0"<eq name="status" value="0"> selected</eq>>已取消</option>
						<option value="1"<eq name="status" value="1"> selected</eq>>待付款</option>
						<option value="5"<eq name="status" value="5"> selected</eq>>交易完成</option>
					</select>
				</div>
			</form>
			<div class="bd-b">
				<ul class="ul_tit">
					<li class="one">商品信息</li>
					<li class="five">单价</li>
					<li class="two">数量</li>
					<li class="three">金额</li>
				</ul>
				<ul class="ul_bd">
					<empty name="orders">
					<li class="empty">订单列表还是空的</li>
					<else />
					<foreach name="orders" item="vo">
					<li>
						<div class="list_tit clearfix">
							<time><{$vo['order_date']|date="Y-m-d",###}></time>
							<span class="order">订单号：<a href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>"><{$vo.order_sn}></a></span>
							<span class="order"><{$vo.shop_name}></span>
						</div>
						<foreach name="vo.list" item="v">
						<div class="list_bd clearfix">
							<div class="phpic">
								<div class="iphone"><a href="<{$CBW_URL}>/detail/<{$v['pro_id']}>.html"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" height="52" width="52" alt="" /></a></div>
								<div class="phpic_id">
									<span class="introduce"><{$v.pro_name}></span>
									<span class="color"><{$v.show_desc}></span>
								</div>
							</div>
							<span class="two"><{$v.pro_price}></span>
							<span class="three"><{$v.pro_number}></span>
							<span class="five"><{$v['money']|number_format=2,'.',''}></span>
						</div>
						</foreach>
						<div class="list_btn clearfix">
							<div class="Fleft">
								状态：
								<span class="three">
									<eq name="vo.order_status" value="0">已取消</eq>
									<eq name="vo.order_status" value="1">待付款</eq>
									<eq name="vo.order_status" value="2">等待发货</eq>
									<eq name="vo.order_status" value="5">交易完成</eq>
								</span>
							</div>
							<a href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>" class="confirm">查看订单</a>
							<div class="Fright">
								收益:
								<span class="two"><{$vo['harvest']|number_format=2,'.',''}></span>
							</div>
							
						</div>
					</li>
					</foreach>
					</empty>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		
		$('.con').delegate('.search', 'click', function(event) {                      // 搜索提交
            $('form#shopping').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->