<!-- =====================================================
   广告列表管理
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a> 
    </div>
    <h1 style="margin-top:10px;">常见问题列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
           
            <div class="add-adv"> 
               <a href="<{:U('faq/faqArticles')}>" class="btn btn-info"><b>添加Faq文章</b></a>
               <a href="<{:U('faq/faqCate')}>" class="btn btn-info"><b>添加Faq分类</b></a>
               <a href="<{:U('faq/articleList')}>" class="btn btn-info"><b>Faq列表</b></a>
            </div>
          <div class="row-fluid">
             <div class="span12">
              <div class="widget-box">
                  <div class="widget-title"> 
                        <span class="icon"> <i class="icon-th"></i> </span>
                        
                  </div>
                  <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                      <thead>

                        <tr>
                          <th style="font-size:14px;">标题ID</th>
                          <th style="font-size:14px;">标题</th>
                          <th style="font-size:14px;">所属类</th>
                          <th style="font-size:14px;">操作</th>
                        
                        </tr>
                      </thead>
                      <tbody style="font-size:14px;">
                       <foreach name="list" item="v">
                         <tr class="odd gradeX" >
                          <td style="text-align:center;"><{$v.id}></td>
                          <td style="text-align:center;"><{$v.title}></td>
                          <td style="text-align:center;">
                              <{$v.cname}>
                          </td>
                          <td class="center" style="text-align:center;">
                            <a href="<{:U('faq/lookArticle/id/'.$v[id])}>">查看</a> |
                            <a href="<{:U('faq/editArticle/id/'.$v[id])}>"><i class="icon-pencil"></i>编辑</a> |
                           <a href="<{:U('faq/delArticle/id/'.$v[id])}>" onclick="return confirm('您确定执行删除操作吗？')">删除</a>
                          </td>
                        </tr>
                        </foreach>
                       <tr>
                         <td colspan="4">
                            <div class="pagination alternate">
                              <ul style="float:right;">
                                   <{$page}>
                             </ul>
                             </div>
                         </td>
                       </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script type="text/javascript">
      
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
