<!-- 
   支付配置
 -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
<link rel="stylesheet" href="__PUBLIC__/editor/plugins/code/prettify.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />



</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
 <script src="__PUBLIC__/Admin/js/jquery.min.js"> </script> 
  <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
  <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
  <script charset="utf-8" src="__PUBLIC__/editor/plugins/code/prettify.js"></script>
  <script>
    KindEditor.ready(function(K) {
      var editor1 = K.create('textarea[name="faq_content"]', {
        cssPath : '../plugins/code/prettify.css',
        uploadJson : '../php/upload_json.php',
        fileManagerJson : '../php/file_manager_json.php',
        allowFileManager : true,
        afterCreate : function() {
          var self = this;
          K.ctrl(document, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
          K.ctrl(self.edit.doc, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
        }
      });
      prettyPrint();
    });
  </script>
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a> 
    </div>
    <h1 style="margin-top:10px;">常见问题</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
            <div class="add-adv" style="float:right;"> 
               <a href="<{:U('faq/faqArticles')}>" class="btn btn-info"><b>添加Faq文章</b></a>
               <a href="<{:U('faq/faqCate')}>" class="btn btn-info"><b>添加Faq分类</b></a>
               <a href="<{:U('faq/articleList')}>" class="btn btn-info"><b>Faq列表</b></a>
            </div>
        <div class="row-fluid">
            <div class="span12">
                 <div class="widget-box">
                  <div class="widget-title">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#tab1" style="font-size:14px;">添加内容</a></li>
                    </ul>
                  </div>
                  <div class="widget-content tab-content"> 
                    <div id="tab1" class="tab-pane active">
                    <form action="<{:U('faq/addFaq')}>" method="post">
                       <table>
                            <tr>
                                <td style="width:100px;text-align:center;font-size:14px;">标题</td>
                                <td><input type="text" name="title"></td>
                            </tr>
                             <tr>
                                <td style="width:100px;text-align:center;font-size:14px;">分类</td>
                                <td><select name="cid">
                                    <foreach name="list" item="v">
                                      <option value="<{$v.id}>"><{$v.cate_name}></option>
                                    </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                               <td style="width:100px;text-align:center;font-size:14px;">内容</td>
                               <td>
                                    <textarea name="faq_content"></textarea>
                               </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center;"> 
                                     <input type="submit" class="btn btn-primary" value="提交">
                                     <input type="reset" value="重置" class="btn btn-primary">
                                </td>
                            </tr>
                       </table>
                     </form>
                    </div>
                  
                  </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script>
  
</block>
<!-- 底部JS执行区域 结束 -->
