<extend name="Public:same"/>
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/collect.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/newAdds.css"/>
</block>

<block name="publicBody">
    <!--主体-->
    <main> 
        <div class="con">
            <div class="navStep clearfix warp bgcF">
                <p class="step">
                    <b class="on"></b>
                    <span>购物车</span>
                </p>
                <p class="line">
                    <b class="on"></b>
                </p>
                <p class="step">
                    <b class="on"></b>
                    <span>填写订单</span>
                </p>
                <p class="line">
                    <b></b>
                </p>
                <p class="step">
                    <b></b>
                    <span>完成付款</span>
                </p>
            </div>
            <form action="<{:U('Buy/submitOrder')}>" method="post" id="order" autocomplete="off">
                <div class="infos wrap bgcF">
                    <div class="write-info clearfix bgcF">
                        <p>请填写并核对信息</p>
                    </div>
                    <div class="cont">
						<!--收货地址-->
                        <p class="ti">收货地址</p>
                        <ul class="userInfo">
                            <foreach name="address" item="v">
                                <li>
                                    <label for="adds<{$v.id}>" class="clearfix CountShippingCost">
                                        <input type="radio" name="adds" id="adds<{$v.id}>" <eq name="v.is_default" value='1'> checked='checked' </eq> value="<{$v.id}>">
                                        <span class="username"><{$v.reciver_user}></span> <span class="adds"><b class="province"><{$v.pro_addr}></b> <b class="city"><{$v.city_addr}></b> <b class="area"><{$v.addr}></b> <b class="street"><{$v.street}></b></span> <span class="phone"><{$v.reciver_phone}></span></label>
									<span class="is_default">设为默认地址</span> 
									<a class="upData" href="javascript:void(0);">修改地址</a>
                                </li>
                            </foreach>
                            <li class="newAdds clearfix">
								<lt name="addsCount" value="3">
                                <label for="newAdds"><input type="radio" name="adds" id="newAdds" value="new"/><span>使用新地址</span> </label>
								</lt>
                                <a href="<{:U('Address/index')}>" target="_blank" class="fr">管理收货地址</a>
                            </li>
                        </ul>
                        <!--送货方式-->
                        <p class="ti">送货方式</p>
                        <ul class="clearfix postCom">
                            <foreach name="shipping" item="vo">
							<li class="urgentPost">
								<label class="CountShippingCost" for="post<{$vo.id}>"><input type="radio" id="post<{$vo.id}>" name="shipping_id" value="<{$vo.id}>" <eq name="vo.is_default" value="1">checked</eq> /><span><{$vo['cname']}></span></label>
							</li>
							</foreach>
                        </ul>
						
                    </div>
                </div>
                <!--商品清单-->
                <div class="prodList wrap">
                    <div class="title clearfix">
                        <dl class="clearfix">
                            <dd class="prodInfo">商品信息</dd>
                            <dd class="color">属性</dd>
                            <dd class="price">单价</dd>
                            <dd class="number">数量</dd>
                            <dd class="money">小计（元）</dd>
                        </dl>
                    </div> 
					<table>
						<foreach name="goods" key="key" item="vo">
							<tr class="shop-tit">
								<td colspan="5">
									<if condition="$vo['shop']['shop_name'] neq ''">
										<i class="icon-store"></i><{$vo['shop']['shop_name']}>
									<else />
										深圳市草包网络科技有限公司<span class="self-sale">自营</span>
									</if>
								</td>
							</tr>
							<foreach name="vo.cart" key="k" item="v">
								<tr>
									<td class="prodInfo">
										<a href="<{$CBW_URL}>/detail/<{$v.id}>.html" target="_blank" title="<{$v.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" title="<{$v.pro_name}>" alt="<{$v.pro_name}>" /></a>
										<p><a href="<{$CBW_URL}>/detail/<{$v.id}>.html" target="_blank" title="<{$v.pro_name}>"><{$v.pro_name}></a></p>
									</td>
									<td class="color">
										<p><{$v.attr_name}></p>
									</td>
									<td class="price">
										<p><{$v.pro_price}></p>
									</td>
									<td class="number">
										<p><{$v.num}></p>
									</td>
									<td class="money">
										<p><{$v.pro_amount}></p>
									</td>
								</tr>
							</foreach>
							<tr class="option" style="border-top:1px dashed #e6e6e6;">
								<td class="remarks">
									<p>备注<input type="text" name="remarks[<{$key}>]" value="" placeholder="选填" /></p>
									<if condition="$vo['other']['virtual'] gt 0">
									<div class="gets">
										<p>完成交易可获得<span><{$vo['other']['virtual']}></span>草包豆</p>
									</div>
									</if>
								</td>
								<td class="balance" colspan="4">
									<p class="post">运费：<span class="freight<{$key}> freightCount"><{$vo['other']['freight']|number_format=2,'.',''}></span>元</p>
									<if condition="$key eq 0">
										<div class="integrals clearfix" <eq name="address" value="1">style="display:none;"</eq>>
											<label for="integral">
												<input name="integral" id="integral" type="checkbox" value="1" checked="checked"/>
												<span>使用草包豆</span>
											</label>
											<a href="<{$CBW_URL}>/article/4.html" class="icon-exclamation-sign" target="_blank" title="关于草包豆"></a>
											<p><input type="text" name="virtual" id="virtual" value="" maxlength="6" placeholder="剩余<{$user.virtual_money}>豆" data-max="<{$user.virtual_money}>" autocomplete="off" /></p>
											<p class="save">草包豆优惠：<span>0.00</span>元</p>
										</div>
									</if>
									<p>商品总价：<span class="totalPrice"><{$vo['other']['smoney']|number_format=2,'.',''}></span>元</p>
								</td>
							</tr>
						</foreach>
					</table>
                </div>
				<!-- 订单结算 -->
				<div class="settlement wrap">
					<div class="settlemented clearfix">
						<p>实付款：<span>￥<{$money}></span></p>
					</div>
				</div>

                <!--提交订单-->
                <div class="options wrap">
                    <dl class="clearfix">
                        <dd class="order">
                            <button type="button" class="submit">提交订单</button>
                        </dd>
                    </dl>
                </div>
            </form>
        </div>
    </main>

    <!--添加地址遮罩层-->
    <div class="posF" id="addBx" style="display:none;">
        <div class="bg"></div>
        <div class="box600">
            <div class="posR tits">
                <p>添加新地址</p>
                <span class="posA off">&nbsp;</span></div>
            <div id="newAddsCont">
                <input type="hidden" name="type" value="new" class="must">
				<input type="hidden" name="id" value="">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="tit"><i>*</i><span>收货人姓名：</span></td>
                        <td><input class="must" type="text" name="reciver_user" placeholder="请输入收货人姓名" /></td>
                    </tr>
                    <tr>
                        <td class="tit"><i>*</i><span>联系电话：</span></td>
                        <td><input class="must" type="tel" name="reciver_phone" placeholder="请输入收货人电话" /></td>
                    </tr>
                    <tr>
                        <td class="tit"><i>*</i><span>所在地区：</span></td>
                        <td class="citys"><{$city.str}></td>
                    </tr>
                    <tr>
                        <td class="tit"><i>*</i><span>街道地址：</span></td>
                        <td><input class="must" type="text" name="street" placeholder="请输入具体详细街道地址" /></td>
                    </tr>
                    <tr>
                        <td class="tit"><span>是否设为默认：</span></td>
                        <td><input type="checkbox" name="is_default" class="isDefault" value="1"></td>
                    </tr>
                    <tr>
                        <td class="tit">&nbsp;</td>
                        <td><button type="button" class="update" id="addressAdd">保存</button>
                            <button type="button" class="off " id="cancel">关闭</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--添加地址遮罩层 结束-->

</block>

<block name="footScript">
    <script>
	//城市三级联动
	<{$city.script}>
	var check = $('.userInfo li #newAdds').is(':checked');
	if (check == true) {
		$('.options button.submit').addClass('disabled').prop('disabled', true);
	} else {
		$('.options button.submit').removeClass('disabled').prop('disabled', false);
	};
	$('.userInfo').delegate('li', 'mouseover', function () {        // 设为默认地址和修改地址show();
	    $(this).find('span.is_default').show();
	}).delegate('li', 'mouseleave', function () {                   // 设为默认地址和修改地址hide();
	    $(this).find('span.is_default').hide();
	}).delegate('label', 'click', function () {                     
	    if ($(this).parent('li').hasClass('newAdds') == true){      // 使用新地址
			$('#newAddsCont input.must').val('');
			$('#newAddsCont input[name=type]').val('new');
			$('#newAddsCont').siblings('.tits').find('p').text('添加新地址');
			$('#newAddsCont').parents('.posF').slideDown(200);
			$('.options button.submit').addClass('disabled').prop('disabled', true);
	    }else{
			$('.options button.submit').removeClass('disabled').prop('disabled', false);
		}
	}).delegate('.is_default', 'click', function () {             // 设为默认地址
	    var id = $(this).siblings('label').find('input').val();
	    var data = {'id': id};
	    $.post('__CONTROLLER__/edit_default', data, function (a) {
			if (a > 0) {
				location.reload();
			}
	    });
	}).delegate('a.upData','click',function(){                   // 修改地址
		var _this = $(this);
		var label = _this.siblings('label');
		var id = label.find('input').val();
		$.post('__CONTROLLER__/address_info', {'id': id}, function (d) {
			var data = $.parseJSON(d);
			if (data != '') {
				$('#addBx input[name=id]').val(data['id']);
				$('#addBx input[name=reciver_user]').val(data['reciver_user']);
				$('#addBx input[name=reciver_phone]').val(data['reciver_phone']);
				$('#addBx .citys').empty();
				$('#addBx .citys').append(data['citys']);
				$('#addBx input[name=street]').val(data['street']);
				if(data['is_default'] == 1){
					$('#addBx input[name=is_default]').prop("checked", true);
				}
				$('#addBx input[name=type]').val('upData');
				$('#newAddsCont').siblings('.tits').find('p').text('修改地址');
				$('#addBx').slideDown();
				
			} else {
				var txt=  "网络错误，请重试！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
			}
		});
	});
	$('label.CountShippingCost input').click(function(){             // 切换快递,切换地址重新计算运费
		var adds         = $(".CountShippingCost").find('input[name=adds]:checked').val();
		var shipping_id  = $(".CountShippingCost").find('input[name=shipping_id]:checked').val();
		if(!adds){
			var txt=  "请选择收货地址！";
			window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
			return false;
		}
		$.post('__CONTROLLER__/loadShipping', {'adds':adds, 'shipping_id':shipping_id}, function (d) {
			var data = JSON.parse(d);
			if(d){
				for(var a = 0;a < data.length;a++){
					$(".freight"+data[a]['id']).html(data[a]['freight']);
				}
				countMoney();
			}else{
				window.wxc.xcConfirm(a, window.wxc.xcConfirm.typeEnum.warning);
			}
		});
	});
	
	$('.integrals').delegate('label','click',function(){         // 点击使用草包豆
		var _this = $(this);
		var input = _this.find('input');
		if(input.is(':checked')){
			_this.siblings('p').css({'display':'inline-block'});
		}else{
			_this.siblings('p').css({'display':'none'}).find('#virtual').val('').focus();
		}
	}).delegate('#virtual','keyup',function(){                  // 使用具体数值草包豆
		var _this = $(this);
		var val = parseInt(_this.val());
		var maxUse = (parseFloat($('.totalPrice').text()) * 100) * 0.5;
		if(_this.val() == ''){
			val = 0;
		}else{
			var max = _this.attr('data-max');
			if(!val){val = 0;}
			val = Math.min.apply(Math,[val,max,maxUse]);
			_this.val(val);
		}
		var save = - val * 0.01;
		$('.integrals p.save span').text(save.toFixed(2));
		countMoney();
	});
	
	$(function(){
	    $('#addressAdd').click(function () {                     // 保存新地址
			var selects = $("#addBx select");
			for(var a = 0;a < selects.length;a++){
				if($(selects[a]).val() == 0 || !$(selects[a]).val()){
					var txt=  "请选择您的城市地区！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					return false;
				}
			}
			var id = $("#addBx input[name=id]").val();
			var type = $("#addBx input[name=type]").val();
			var reciver_user = $("#addBx input[name=reciver_user]").val();
			var reciver_phone = $("#addBx input[name=reciver_phone]").val();
			var area = $("#addBx select[name=area]").find("option:selected").val();
			var street = $("#addBx input[name=street]").val();
			if ($("#addBx input[name=is_default]").is(':checked') == true) {
				var is_default = 1;
			}
			
			var data = {'id': id, 'reciver_user': reciver_user, 'reciver_phone': reciver_phone, 'area_id': area, 'street': street, 'is_default': is_default};
			var action = 'add_address';
			if(type == 'upData'){
				action = 'edit_address';
			}
			$.post('__CONTROLLER__/' + action, data, function (a) {
				if (a > 0) {
					window.location.href = window.location.href;
				}else{
					window.wxc.xcConfirm(a, window.wxc.xcConfirm.typeEnum.warning);
				}
			});
	    });
	    $('input.must').each(function (index, element) {             // 循环文本框必填项
			$(this).focus(function () {
				$(this).css({'border-color': '#b4b4b4'});
			})
	    });
	    $('.options button.submit').click(function () {                  // 提交订单
			var radio = $('.postCom input[name=shipping_id]:checked');
			if ($('.userInfo li [name=adds]:checked').val() == 'new' || !$('.userInfo li [name=adds]:checked').val()) {
				var txt=  "请选择/填写收货地址！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			if (!radio.val()) {
				var txt=  "请选择快递";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('form#order').submit();
	    })
	});
	/*
	   计算价格
	*/
	function countMoney(){
		// 草包豆
		var virtual = parseFloat($('#virtual').val() * 0.01);
		if(!virtual){virtual = 0;}
		// 商品总价
		var totalPrice = $('.totalPrice');
		var allPrice = 0;
		for(var i = 0;i<totalPrice.length;i++){
			allPrice += parseFloat($(totalPrice[i]).text());
		}
		// 运费总价
		var totalPostages = $('.freightCount');
		var postages = 0;
		for(var i = 0;i<totalPostages.length;i++){
			postages += parseFloat($(totalPostages[i]).text());
		}
		// 最终价格
	    var money = allPrice + postages - virtual;
	    $('.settlement .settlemented span').text('￥'+money.toFixed(2));
	}
    </script>
</block>













