<extend name="Public:same" />
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/payOrder.css"/>
</block>
<block name="publicBody">
<main>
<div class="posF dn" id="common_verificationModal">
	<div class="bg false"></div>
	<div class="ui-modal verification-modal" style="top: 256px; margin-left: -220px; display: block;>
		<div class="ui-modal-inner">
			<div class="ui-modal-head">
				<h3 class="um-h-title"><div id="common_cardPaySum"></div></h3>
				<a class="um-h-close off" id="common_messageClose"></a>
			</div>
			<div class="ui-modal-content">
				<div class="verification-content">
					<div class="vc-amount">
						<div>请输入短信验证码</div>
						<div class="vc-a-phone">
							<span id="common_m15_openBindPhone" class="common_m15_openBindPhone">（已发送至<em><{$dcard.card_mobile|hidestr='tel'}></em>)</span>
						</div>
					</div>
					<div class="vc-number">
						<span class="vc-n-grid">
							<span class="grid-item"></span>
							<span class="grid-item"></span>
							<span class="grid-item"></span>
							<span class="grid-item"></span>
							<span class="grid-item"></span>
							<span class="grid-item"></span>
						</span>
						<input type="text" class="vc-n-input j_modalAuthInput" maxlength="6" id="common_phoneVer_modalAuthInput_fk" autocomplete="off">
						<div class="vc-n-block"></div>
						<div class="vc-n-error" style="display: block;"><span id="common_messageError">短信验证码已发送，请注意查收</span>&nbsp;<a href="javascript:void(0);" id="common_clearMessage">清空</a></div>
						<a style="position:absolute; right:12px;top:16px;" href="javascript:;">确认</a>
					</div>
					<div class="vc-operations">
						<span class="vc-o-left">
							<a class="ui-button ui-button-gray j_verificationCount" id="re_acquisition_code" href="javascript:;">重新获取验证码</a>
						</span>
						<span class="vc-o-right">
							<a class="vc-close off j_modalClose" href="javascript:;" id="common_phoneJ_modalClose">关闭</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--订单提交成功-->
<div class="content">
	<div class="tipInfo">
		<p class="tit">您的订单已经成功提交！请您尽快完成支付！</p>
		<p class="payTip">订单在24小时内有效，逾期将列为无效订单！请尽快完成支付！</p>
		<p class="payMoney">支付金额：￥<span class="money"><{$money}></span>元</p>
		<p>您的订单号为：<span class="orderNo"><{$order.order_sn}></span></p>
		<neq name="order.order_type" value="3">
		<p>收货信息：<{$order.reciver_user}>  <{$order.reciver_phone}>  <{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></p>
		</neq>
	</div>
	<div class="payWays">
		<div class="title">
			<p>请选择支付方式</p>
		</div>
		<div class="bd">
		<!-- 支付开始 -->
			<form method="post" action="" id="payNow">
			<input type="hidden" name="trade_no" value="<{$order.order_sn}>" />
			<input type="hidden" name="trade_card" value="<{$dcard.id}>"/>
			<input type="hidden" name="smscode" value=""/>
			<div class="tab opera"> 
				<ul class="clearfix">
					<!-- 余额支付 -->
					<li class="clearfix" data-action="<{:U('Buy/pay_surplus')}>">
						<div class="fl way">
							<i class="ui-check-L" id="ui-check-L-payCard"><em ></em></i>
							<span class="balance_paybg paybg"></span>余额支付<strong>可用余额：<{$user.money}>元</strong>
							<div class="balance_password">
								<eq name="user.pay_password" value="">
									您尚未设置支付密码?  <a class="fontRed" href="<{:U('Users/security')}>">立即设置</a>
								<else />
									<strong>支付密码</strong><input type="password" name="pay_password" id="payword"/>
								</eq>
							</div>
						</div>
						<div class="fr moneys" style="height:20px;"><strong><{$money}></strong>元</div>
					</li>
					<!-- 微信支付 -->
					<li class="clearfix" data-action="<{:U('Wxpay/native')}>">
						<div class="fl way"><i class="ui-check-L" id="ui-check-L-payCard"><em ></em></i><span class="wx_paybg paybg"></span>微信支付</div>
						<div class="fr moneys"><strong><{$money}></strong>元</div>
					</li>
					<!-- 支付宝支付 -->
					<li class="clearfix" data-action="<{:U('Alipay/alipay')}>">
						<div class="fl way"><i class="ui-check-L" id="ui-check-L-payCard"><em ></em></i><span class="zfb_paybg paybg"></span>支付宝支付</div>
						<div class="fr moneys"><strong><{$money}></strong>元</div>
					</li>
					<!-- 京东支付 -->
					<li class="clearfix" data-action="<{:U('Jdpay/pay')}>">
						<div class="clearfix">
							<div class="fl way"><i class="ui-check-L" id="ui-check-L-payCard"><em ></em></i><span class="jd_paybg paybg"></span>快捷支付</div>
							<div class="fl selectCart">
								<div class="used-bank">
									<div class="emptyCart <notempty name="dcard">dn</notempty>">
										请添加一张银行卡
									</div>
									<dt class="j_usedBankSelect <empty name="dcard">dn</empty>">
										<div class="ub-item" id="ub-item-firstBank">
											<span id="bank-icbc" class="bank-logo"><img src="__PUBLIC__/Bank/<{$dcard.picture}>" title="<{$dcard.name}>" alt="<{$dcard.name}>" /></span>
											<eq name="dcard.card_type" value="D">
											<em class="ub-i-quick">储蓄卡</em>
											<else />
											<em class="ub-i-quick credit">信用卡</em>
											</eq>
											<em>(尾号<{$dcard.card_no|substr=-4}>)</em>
										</div>
										<i class="ub-arrow"></i>
									</dt>
									<dd class="j_usedBankList dn">
										<ul class="ub-list" id="ub-list-usedCard">
											<foreach name="cards" item="vo">
											<li data-card="<{$vo.id}>" data-mobile="<{$vo.card_mobile|hidestr='tel'}>" class="ub-item  posR <eq name="vo.is_default" value="1">selected</eq>">
												<span id="bank-icbc" class="bank-logo"><img src="__PUBLIC__/Bank/<{$vo.picture}>" title="<{$vo.name}>" alt="<{$vo.name}>" /></span>
												<eq name="vo.card_type" value="D">
												<em class="ub-i-quick">储蓄卡</em>
												<else />
												<em class="ub-i-quick credit">信用卡</em>
												</eq>
												<em>(尾号<{$vo.card_no|substr=-4}>)</em>
												<i></i>
											</li>
											</foreach>
										</ul>
									</dd>
								</div>
								<a class="fl ml20 bank-new" href="javascript:;"><b class="bn-icon">+</b>添加新银行卡</a>
								<a href="javascript:;" class="bank-return fl dn">
									<i>&lt;</i>
									返回我的银行卡
								</a>
							</div>
							<div class="fr moneys" style="height:20px;"><strong><{$money}></strong>元</div>
						</div>
						<div class="bw-quick j_quickBankEdit" id="bw-quick-cardType" style="display:none;">
							<div class="ui-form realName">
								<eq name="user.true_name" value="">
									<div class="ui-form-line false" id="quick-form-name">
										<label class="ui-form-label">真实姓名</label>
										<div class="ui-form-group" id="ui-form-group-cvv2">
											<input type="text" class="ui-input short-input" maxlength="20" name="name" id="ui-input-holderName" autocomplete="off" placeholder="真实姓名">
											<span id="span-notify-holderName" class="extra">为确保您的账户安全，请填写您本人的实名认证信息</span>
											<span class="error-text font-red" id="span-red-name"></span>
										</div>
									</div>
								<else />
									<div class="ui-form-line" id="quick-form-name">
										<label class="ui-form-label">真实姓名</label>
										<div class="ui-form-group" id="ui-form-group-cvv2">
											<{$user.true_name|hidestr='name'}>
										</div>
									</div>	
								</eq>
								<eq name="user.identity" value="">
									<div class="ui-form-line false" id="quick-form-card">
										<label class="ui-form-label">身份证号码</label>
										<div class="ui-form-group" id="ui-form-group-holderId">
												<input type="text" class="ui-input long-input" maxlength="18" name="idcardno" id="ui-input-holderId" autocomplete="off" placeholder="请输入您的身份证号码">
												<span class="error-text font-red" id="span-red-IDcart"></span>
										</div>
									</div>
								<else />
									<div class="ui-form-line" id="quick-form-card">
										<label class="ui-form-label">身份证号码</label>
										<div class="ui-form-group" id="ui-form-group-holderId">
											<{$user.identity|hidestr='idcard'}>
										</div>
									</div>
								</eq>
								<div class="ui-form-line false posR clearfix" id="div-newcard">
									<label class="ui-form-label fl">银行卡号</label>
									<div class="ui-form-group bank-info fl" id="ui-form-group-cardNo">
										<input type="text" id="ui-input-cardNo" class="number ui-input" maxlength="23" name="bankcardno" autocomplete="off" placeholder="请输入银行卡号">
                                        <span id="bank-abc" class="bank-logo"></span>
                                        <span id="newcard-type-span" class="type"></span>
									</div>
									<div class="support-bank fl">
										<span class="text">支持银行</span>
										<div class="support-bank-list">
											<i class="support-arrow"></i>
											<div class="section-tab">
												<ul class="section-tab-title clearfix">
													<li class="current"><span>储蓄卡</span></li>
													<li><span>信用卡</span></li>
												</ul>
											</div>
											<div class="suport-bank-tab">
												<div class="product product-bg">
													<foreach name="deposits" key="key" item="vo">
														<span class="name" bankno="<{$vo.ident}>" agencycode="<{$vo.id}>"><{$vo.name}></span>
														<if condition="($key+1)%4 eq 0">
															<if condition="($key+1)%8 eq 0">
																</div><div class="product product-bg">
															<else />
																</div><div class="product">
															</if>
														</if>
													</foreach>
												</div>
											</div>
											<div class="suport-bank-tab dn">
												<div class="product product-bg">
													<foreach name="credits" key="key" item="vo">
														<span class="name" bankno="<{$vo.ident}>" agencycode="<{$vo.id}>"><{$vo.name}></span>
														<if condition="($key+1)%4 eq 0">
															<if condition="($key+1)%8 eq 0">
																</div><div class="product product-bg">
															<else />
																</div><div class="product">
															</if>
														</if>
													</foreach>
												</div>
											</div>                       
										</div>
									</div>
									<span id="cardspan-notify-cardNo" class="extra fl">仅支持您本人名下的银行卡，输入卡号自动识别银行卡种</span>
									<span class="font-red ml10" id="span-red-cartNo"></span>
									<div class="magnifier" id="magnifier"></div>
								</div>
								<div class="ui-form-line false dn" id="creditDate">
									<label class="ui-form-label">有效期</label>
									<div class="ui-form-group" id="ui-form-group-validity">
										<span id="ui-select-validity">
										<select class="ui-select" id="creditCardMonth" autocomplete="off" name="month">
											<option value="">请选择</option>
											<for start="1" end="13">
												<lt name="i" value="10">
													<option value="0<{$i}>">0<{$i}></option>
												<else />
													<option value="<{$i}>"><{$i}></option>
												</lt>
											</for>
										</select>
										&nbsp;&nbsp;月&nbsp;&nbsp;
										<select class="ui-select" id="creditCardYear" autocomplete="off" name="year">
											<option value="">请选择</option>
											<for start="0" end="10">
												<option value="<{$year+$i}>"><{$year+$i}></option>
											</for> 
										</select>
										&nbsp;&nbsp;年
										</span>
										<span class="font-red ml10" id="span-red-Date"></span>
									</div>
								</div>
								<div class="ui-form-line false dn" id="credit">
									<label class="ui-form-label">卡验证码</label>
									<div class="ui-form-group" id="ui-form-group-cvv2">
										<input type="password" class="ui-input bw-q-input-auth" id="ui-input-cvv2" maxlength="3" placeholder="卡后3位数" autocomplete="off" data-form-pw="1473403181192.4675" name="cvv2">
										<span class="extra" id="cardspan-notify-cartcode">卡背面三位数字</span>
										<span class="font-red ml10" id="span-red-cvv2"></span>
									</div>
								</div>
								<div class="ui-form-line false">
									<label class="ui-form-label">手机号</label>
									<div class="ui-form-group" id="ui-form-group-phone">
										<input type="text" class="ui-input center-input bw-q-input-phone" id="input_card_phone_no" maxlength="11" placeholder="银行存留号码" autocomplete="off" name="mobile" >
										<span id="span-phone-notify" class="extra">请填写该卡在银行预留的手机号码，验证该银行卡是否真实属于您本人</span>
										<span class="font-red ml10" id="span-red-number"></span>
									</div>
								</div>  
								<div class="ui-form-line false">
									<label class="ui-form-label">图形验证码</label>
									<div class="ui-form-group" id="ui-form-group-phone">
										<input id="input-phone-code" type="text" class="ui-input short-input" name="imgcode" autocomplete="off">
										<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="34"/>
										<span class="error-text font-red" id="span-red-code"></span>
									</div>
								</div> 	
								<div class="ui-form-line">
									<label class="ui-form-label">&nbsp;</label>
									<div class="ui-form-group">
										<a class="font-black" href="<{$CBW_URL}>/article/43.html" target="_blank">《草包网快捷支付相关协议》</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			</form>
			<!-- 支付结束 -->
		</div>
	</div>
	<div class="security-form-btn">
		<a id="paySubmit" href="javascript:;" class="ui-button ui-button-XL">立即支付</a>
		<span class="error-text font-red dn" id="span-red-All"></span>
	</div>
</div>
</main>
</block>
<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/users-auth.js"></script>
</block>
<!-- js文件部分 结束 -->
<block name="footScript"> 
<script>
	/**定时检查订单支付状态***/
	var endtime = 100;
	var sh;
	sh=setInterval(FreshTime,3000);
	function FreshTime(){
		endtime--;
		if(endtime<=0){
			clearInterval(sh);
			window.location.href = '<{:U("Orders/index")}>';                               // 页面跳转
		}
		checkOrderPay();
	}
	function checkOrderPay(){
		var trade_no = $('input[name=trade_no]').val();
		$.post('__CONTROLLER__/orderQuery',{'trade_no':trade_no},function(d){
			var data = JSON.parse(d);
			if(data['pay_status'] == 1){
				if(data['pay_link'] != ''){
					window.location.href = data['pay_link'];                                 // 页面跳转
				}else{
					window.location.href = '<{:U("Orders/index")}>';                         // 页面跳转
				}
			}	
		});
	}

	$(".content").delegate('.payWays li.clearfix', 'mouseenter', function(event) {           // 鼠标移入li
		$(this).css({"border-color":"#dcdcdc"})
			   .find(".moneys").show()
			   .end(1).find("i").addClass("hover");	
	}).delegate('.payWays li.clearfix', 'mouseleave', function(event) {                      // 鼠标移出li
		$(this).css({"border-color":"#fff"})
		       .find(".moneys").hide()
			   .end(1).find("i").removeClass("hover");
	}).delegate('.payWays li.clearfix', 'click', function(event) {                           // li选中状态
		$(this).find("i").addClass("selected")
		       .end().siblings().find("i").removeClass("selected");
		$('#payNow').attr('action',$(this).attr('data-action'));
		if(!$(".payWays li.clearfix:eq(3)").find("i").hasClass("selected")){                 // 点击除了最后一个li
			$(".bank-return").hide()
			                 .siblings(".bank-new").show()
							 .siblings(".used-bank").show();
			$(".ui-button-XL").removeClass("disabled").text("立即支付")
			$("#bw-quick-cardType").slideUp(300);
			$("#span-red-All").text("").hide();
		}
		if(!$(".payWays li.clearfix:eq(0)").find("i").hasClass("selected")){                 // 点击除了第一个li
			$(".balance_password").slideUp(300);
		}
	}).delegate('.used-bank dt', 'click', function(event) {                                  // 出现已存的银行卡
		$(this).siblings().show();
		$(".used-bank .emptyCart").hide();
	}).delegate('.used-bank .ub-list li', 'click', function(event) {                         // 选择已存的银行卡
		var liem = $(this).children("em");
		var dtem = $(".ub-item").children("em");
		var pic = $(this).find("img").attr("src")
		var numattr = $(this).attr("data-mobile")
		$("#ub-item-firstBank .bank-logo").children("img").attr("src",pic)
		if($(this).find("em").eq(0).hasClass("credit")){
			$("dt.j_usedBankSelect").find("em").eq(0).addClass("credit")
		}else{
			$("dt.j_usedBankSelect").find("em").eq(0).removeClass("credit")
		}
		$(this).addClass("selected")
		       .siblings().removeClass("selected")
		       .end(1).parents("dd").hide();
		for(var i = 0;i<liem.length; i++){
			$(dtem[i]).html($(liem[i]).html());
		}
		$("input[name=trade_card]").val($(this).attr("data-card"));
		$("#common_m15_openBindPhone").find("em").text(numattr);
	}).delegate(".payWays li.clearfix:first","click",function(event){                        //输入支付密码                        
		$(this).find(".balance_password").slideDown(300);
	});
	$(document).on('click','.bank-return',function(){                                       // 返回银行卡
		$(this).hide().siblings(".bank-new").show()
		              .siblings(".used-bank").show();
		$(".ui-button-XL").text("立即支付").attr('id', 'paySubmit');
		$("#bw-quick-cardType").slideUp(300);
		$("#span-red-All").hide().text("");
    });
	$(document).on('click','.bank-new',function(){                                          // 添加新卡
		$(this).hide().siblings(".used-bank").hide()
		              .siblings(".bank-return").show();
		$(".ui-button-XL").text("同意协议并确定").attr('id', 'authPaySubmit');
		$("#bw-quick-cardType").slideDown(300);
		$("#span-red-All").text("").show();
		$(".ui-form-group input").val("");
		$(".ui-form-group select").val("");
		$("#newcard-type-span,#bank-abc").hide();
		$("#magnifier").html("");
    });
	$(".vc-number .vc-n-input").keyup(function(event){                                     //京东支付输入验证码
		var _this    = $(this);
		var smscode  = _this.val();
		var Iplength = smscode.length
		if(Iplength == 6){
			_this.hide().parents(".vc-number").addClass("vc-loading");
			$(".vc-n-grid,.vc-n-error").hide();
			var trade_card = $("input[name=trade_card]").val();
			var trade_no   = $("input[name=trade_no]").val();
			$.post("<{:U('Jdpay/pay')}>", {'trade_card':trade_card, 'trade_no':trade_no, 'smscode':smscode}, function(d){
				var data = JSON.parse(d);
				if(data['code'] == '0000'){
					if(data['pay_link'] != ''){
						window.location.href = data['pay_link'];                                 // 页面跳转
					}else{
						window.location.href = '<{:U("Orders/index")}>';                         // 页面跳转
					}
				}else{
					_this.show().parents(".vc-number").removeClass("vc-loading");
					$(".vc-n-grid,.vc-n-error").show();
					$("#common_messageError").text(data['desc']);
					return false;
				}
			});
		}else{
			
		}
	});
	$("#common_clearMessage").click(function(event){                                        //清空京东支付验证码        
		$(".vc-n-input").val("");
	})
</script> 
</block>
