<extend name="Public:same" />
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/Buy/payOk.css"/>
</block>

<block name="publicBody">
    <main>
        <!--订单支付成功. 3s后跳转到订单列表-->
        <div id="pay_ok">
            <div class="pay_ok_top">
                <p>恭喜您,订单支付成功!</p>
                <p>我们将尽快为您发货!</p>
            </div>
            <div class="pay_ok_bottom">
                <p>现在您可以: <a href = "">查看订单状态</a>或者 <a href = "">返回首页</a></p>

            </div>
        </div>

    </main>
</block>


