<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="<{:C('SITE_URL')}>"><em>&#xe617;</em>草包网</a></div>
	<img src="__PUBLIC__/Forum/images/mobile/F-logo.png" alt="草包网论坛">
	<div class="cancle" style="display:none;"><a href="javascript:;">取消</a></div>
</header>
<div class="searchArea">
	<div class="search-bd">
		<form method="get" action="<{:U('Search/index')}>">
			<div class="search-box">
				<div class="search-bg"><img src="__PUBLIC__/Forum/images/mobile/search-bg.png" /></div>
				<input id="index_search" type="search" name="keyword" placeholder="输入你想要搜索的关键词" /><em>&#xe633;</em>
			</div>
		</form>
	</div>
	<div class="editBtns clearfix">
		<a href="<{:C('BBS_URL')}>/add/1.html"><em class="icon_question"></em>立即提问</a>
		<a href="<{:C('BBS_URL')}>/add/2.html"><em class="icon_share"></em>我要分享</a>
	</div>	
</div>
<div class="content">
	<!-- 问题 -->
	<section class="answer mod">
		<h2>最新问题<span class="more"><a href="<{$CBW_URL}>/wenda.html" title="">更多&gt;</a></span></h2>
		<ul>
			<foreach name="new_issue" key="key" item="vo">
			<li class="mt6bgcf">
				  <article>
					<div class="h3">
						<mark><a href="<{$CBW_URL}>/model/1_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>"/></a></mark>
						<a href="<{$CBW_URL}>/view/<{$vo.id}>.html">
							<h3><{$vo.subject}></h3>
							<p><{$vo.content|msubstr=0,26,'utf-8',true}></p>
						</a>
					</div>
					<div class="pdzArea clearfix">
						<span class="<{$vo.cname}> flag"><{$vo.replies}> 回答 <eq name="vo.cname" value="satisfy"><em class="accepted">已接受</em></eq></span>
						<div class="author clearfix">
							<div class="authNews">
								<span class="time">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
							</div>
						</div>
					</div>
				</article>
			</li>
			</foreach>
		</ul>
	</section>
	<!-- 技巧 -->
	<section class="share mod">
		<h2>最新技巧<span class="more"><a href="<{$CBW_URL}>/jiqiao.html" title="">更多&gt;</a></span></h2>
		<ul>
			<foreach name="new_share" item="vo">
			<li class="mt6bgcf">
				<a href="<{$CBW_URL}>/view/<{$vo.id}>.html">
					<div class="h3">
						<h3><{$vo.subject}><eq name="vo.original" value="1">（<span>原创</span>）</eq></h3>
					</div>
					<figure>
						<div class="imgArea">
							<img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" onerror="javascript:this.src='__PUBLIC__/Forum/images/nopic.jpg'"/>
						</div>
						<figcaption class="textArea">
							<p><{$vo.description|msubstr=0,26,'utf-8',true}></p>
							<span class="shareTime">发布于<{$vo.occurtime|CBWTimeFormat='m.d'}></span>
						</figcaption>
					</figure>
				</a>
			</li>
			</foreach>
		</ul>
	</section>
	<!-- 品牌机型专题 -->
	<section class="brand mod mt6bgcf">
		<h2>品牌机型专题<span class="more"><a href="<{$CBW_URL}>/forum/1.html" title="">更多&gt;</a></span></h2>
		<ul class="clearfix">
			<foreach name="brands" item="vo">
			<li>
				<div class="imgArea">
					<a href="<{$CBW_URL}>/brand/1_<{$vo.id}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
				</div>
				<div class="textArea">
					<h3><a href="<{$CBW_URL}>/brand/1_<{$vo.id}>.html"><{$vo.name}></a></h3>
					<p><span><{$vo.statistics}>个分享</span></p>
				</div>
			</li>
			</foreach>
		</ul>
	</section>
	<div class="intoduce"><a href="<{$CBW_URL}>/introduce.html">查看论坛说明</a></div>
</div>

<!-- 大家都在搜 开始 -->
<{:W('System/people')}>
<!-- 大家都在搜 结束 -->  

<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->  

</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript" >
		var content = $(".content");
		var search = $(".people_search");
		var footer = $("footer");
		var cancle = $("header .cancle");
		if($(".flag").hasClass("satisfy")){$(".flag .accepted").show();}else{$(".flag .accepted").hide();}
		$("#index_search").on("focus",function(){
			$(this).parents(".searchArea").addClass("focus");
			$(this).parents(".searchArea").siblings(".people_search").addClass("focus");
			content.hide();
			search.show();
			cancle.show();
			footer.hide();
		});
		cancle.on("click",function(){
			$(".searchArea").removeClass("focus");
			$(".searchArea").siblings(".people_search").removeClass("focus");
			content.show();
			search.hide();
			$(this).hide();
			footer.show();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->