<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-address.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>编辑店铺地址</h1>
	</header>
	<div class="con">
		<div class="must">
			<dl class="clearfix">
				<dt>所在城市</dt>
				<dd>
					<{$city.str}>
				</dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="clearfix">
				<dt>详细地址</dt>
				<dd><input type="text" name="address" placeholder="请输入您的详细地址" class="must longinput"/></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="clearfix Map">
				<dt>地图坐标</dt>
				<dd><input type="text" name="lng" class="must shortinput" placeholder="地图坐标" value="" disabled /><input type="text" name="lat" placeholder="地图坐标" class="must shortinput" value="" disabled /><a class="showmap" >定位</a></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="submit">
			<a href="javascript:;">提交</a>
		</div>
	</div>
	<div class="dark"></div>
	<div id="map" style="position: fixed; display:none;"><span class="close">关闭</span></div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/webapi-amap.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(document).ready(function(){
			var mapObj = new AMap.Map("map", {
				resizeEnable: true,
				zoom: 18
			});
			mapObj.plugin('AMap.Geolocation', function () {
				var geolocation = new AMap.Geolocation();
				geolocation.getCurrentPosition();
				//mapObj.addControl(geolocation);
				AMap.event.addListener(geolocation, "complete", function(data){
					var lngX = data.position.getLng();
					var latY = data.position.getLat();
					$("input[name=lng]").val(lngX);
					$("input[name=lat]").val(latY);
					mapObj.setCenter(new AMap.LngLat(lngX, latY));
					var marker = new AMap.Marker({
						position: mapObj.getCenter(),
						draggable: true,
						cursor: 'move',
						raiseOnDrag: true
					});
					marker.setMap(mapObj);
					AMap.event.addListener(marker, 'dragend', function(e){
						var point = marker.getPosition(); // 重新获取点坐标
						$("input[name=lng]").val(point.getLng());
						$("input[name=lat]").val(point.getLat());
					});
				});//返回地点查询结果
			});
		});
		
		$(".con").delegate('.submit a', 'click', function(event) {
			var DL = $('div.must');
			for(var a = 0;a < DL.length;a++){
				var input = $(DL[a]).find('input.must');
				var select = $(DL[a]).find('select');
				if(input){
					for(var b = 0;b < input.length;b++){
						var val = $(input[b]).val();
						if(!val || ($(input[b]).attr('type') == 'checkbox' && !$(input[b]).is(':checked'))){
							$(input[b]).parents('div').addClass('false').children('.formTips').text($(input[b]).attr('placeholder'));
						}else{
							$(input[b]).parents('div').removeClass('false').children('.formTips').text('');
						}
					}
				}
				if(select){
					var text = '';
					for(var b = 0;b < select.length;b++){
						if($(select[b]).val() == 0 || $(select[b]).val() == '' || !$(select[b]).val()){
							if(b == 0){
								text += ' 省份';
							}else if(b == 1){
								text += ' 城市';
							}else if(b == 2){
								text += ' 选择县/区';
							}
							$(select[b]).parents('div').addClass('false').children('.formTips').text('请选择您的所在' + text);
						}else{
							$(select[b]).parents('div').removeClass('false').children('.formTips').text('');
						}
					}
				}
			}
			if($('div.must').hasClass('false')){
				return false;
			}
			var area      = $('#area').val();
			var address   = $('input[name=address]').val();
			var lng       = $('input[name=lng]').val();
			var lat       = $('input[name=lat]').val();
			
			$.post('__CONTROLLER__/updateShopAddress', {'area':area,'address':address,'lng':lng,'lat':lat}, function(d){
				if(d > 0){
					window.location.href = "<{$CBW_URL}>/system/info.html";
				}else{
					$('.tips').html(data['msg']);
				}
			});
		}).delegate('dl.Map a.showmap', 'click', function(event) {
			$(".dark").slideDown(150);
			$(".amap-container").slideDown(150);
		});
		$("#map").delegate('span.close', 'click', function(event) {
			$(".dark").slideUp(150);
			$(".amap-container").slideUp(150);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->