<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-assess.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>检测评估
		</h1>
	</header>
	<div class="con">
		<div class="order_news mod_news">
			<h2>订单详情</h2>
			<p class="clearfix"><strong class="f_left">订单编号：</strong><span class="f_left"><{$order.order_sn}></span></p>
			<p class="clearfix"><strong class="f_left">下单时间：</strong><span class="f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></span></p>
			<p class="clearfix"><strong class="f_left">收件人：</strong><span class="f_left"><{$order.reciver_user}> <{$order.reciver_phone}></span></p>
			<p class="clearfix"><strong class="f_left">收件地址：</strong><span class="f_left"><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span></p>
		</div>
		<div class="fault_news mod_news clearfix">
			<h2>故障信息</h2>
			<div class="clearfix">
				<p class="clearfix f_left w50"><strong class="f_left">类型：</strong><span class="f_left"><{$recovery.type}></span></p>
				<p class="clearfix f_left w50"><strong class="f_left">品牌：</strong><span class="f_left"><{$recovery.brand}></span></p>
			</div>
			<div class="clearfix">
				<p class="clearfix f_left w50"><strong class="f_left">型号：</strong><span class="f_left"><{$recovery.model}></span></p>
			</div>
			<p class="clearfix"><strong class="f_left">服务方式：</strong><span style="padding-left: 66px;" class="f_left"><if condition="$recovery['reco_way'] eq 1">到店服务<else />上门服务</if></span></p>
			<p class="clearfix"><strong class="f_left">信息：</strong><span class="f_left"><{$recovery.attrs}></span></p>
			<p class="clearfix"><strong class="f_left">备注：</strong><span class="f_left"><eq name="order.remarks" value="">无<else /><{$order.remarks}></eq></span></p>
			<if condition="$recovery['new_attr'] eq ''">
			<p class="clearfix master-change-price"><strong class="f_left">回收价格：</strong><span class="f_left"><em><{$order.deail_price}></em>元</span></p>
			</if>
		</div>
		<div class="master_news mod_news <if condition="$recovery['new_attr'] eq ''">dn</if> clearfix">
			<h2>维修师评估信息</h2>
			<div class="new-fault-news-content clearfix">
				<p class="clearfix" style="float: left; width: 100%;"><strong class="f_left">信息：</strong><span style="padding-left: 43px;" id="testDetial" class="f_left"><{$recovery.again_attr}></span></p>
				<p class="clearfix master-change-price"><strong class="f_left">回收价格：</strong><span id="testPrice" class="f_left"><em><{$recovery.new_price}></em>元</span></p>
			</div>
			<div class="tips clearfix"><i class="icon-tips"></i><p class="word-tips">回收价格不对可重新检测改价</p></div>
		</div>
		<if condition="$recovery['reco_way'] eq 3">
		<div class="fllow_news clearfix">
			<h2>物流信息</h2>
			<div class="outorin clearfix">
				<span class="current">寄出</span>
				<span>寄回</span>
			</div>
			<div class="fllow_news_detial">
				<div class="fllow_news1 fllow-mod current clearfix">
					<notempty name="order.shipping">
					<ul class="son">
						<foreach name="order.shipping" item="v">
						<li>
							<div><strong>【<{$v['time']}>】</strong><{$v.context}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</notempty>
					<div class="Open">展开</div>
				</div>
				<div class="fllow_news2 fllow-mod clearfix">
					<notempty name="order.return">
					<ul class="son">
						<foreach name="order.return" item="v">
						<li>
							<div><strong>【<{$v['time']}>】</strong><{$v.context}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</notempty>
					<div class="Open">展开</div>
				</div>
			</div>
		</div>
		</if>
		<div id="recovery" >
			<if condition="$recovery['reco_id'] gt 0">
			<foreach name="basic" item="vo">
			<eq name="vo.show" value="1">
			<dl class="must options clearfix">
				<dt><{$vo.name}></dt>
				<dd>
					<foreach name="vo.basic" item="b">
					<span data-id="<{$b.id}>"><{$b.name}></span>
					</foreach>
					<span class="mod">修改</span>
				</dd>
			</dl>
			</eq>
			</foreach>
			<foreach name="other" item="vo">
			<eq name="vo.show" value="1">
			<dl class="must options clearfix">
				<dt><{$vo.name}></dt>
				<dd class="clearfix">
					<foreach name="vo.other" item="o">
					<span data-id="<{$o.id}>"><{$o.name}></span>
					</foreach>
					<span class="mod">修改</span>
				</dd>
			</dl>
			</eq>
			</foreach>
			<dl class="options clearfix">
				<dt>功能情况<span style="color:#f60; paspaning-left:15px; font-size:13px;">此项多选也可不选</span></dt>
				<dd class="clearfix">
					<foreach name="function" item="vo">
						<neq name="vo.pid" value="0">
							<span data-id="<{$vo.id}>" data-kinds="<{$vo.brother}>"><{$vo.name}></span>
						</neq>
					</foreach>
				</dd>
			</dl>
			</if>
			<div class="money">
				最终评估价：<input type="text" name="money" id="lastPrice" value="" placeholder="0.00" /> 元
			</div>
			<div class="btns">
				<button type="button" data-type="reco" class="reco">保存</button>
			</div>
			<input type="hidden" name="id" value="<{$recovery.order_id}>" />
			<input type="hidden" name="model" value="<{$recovery.reco_id}>" />
			<input type="hidden" name="ids" value="" />
		</div>
		<div class="btn-groups">
			<if condition="$order['order_status'] eq 1">
			<a class="test" id="reTest" href="javascript:;"> 重新评估 </a>
			</if>
		</div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	    // 物流
		$(".fllow_news1 ul li").eq(0).css("display","block");
		$(".fllow_news1 ul li").eq(1).css("display","block");
		$(".fllow_news2 ul li").eq(0).css("display","block");
		$(".fllow_news2 ul li").eq(1).css("display","block");
		if($(".fllow_news1 ul li").length <= 2){
		    $(".fllow_news1 .Open").hide();
		}else{
		    $(".fllow_news1 .Open").show();
		}
		if($(".fllow_news2 ul li").length <= 2){
		    $(".fllow_news2 .Open").hide();
		}else{
		    $(".fllow_news2 .Open").show();
		}
		$(".fllow-mod .Open").click(function(){
		   var _this = $(this);
		   if(_this.html() == "展开"){
			   _this.siblings("ul").find("li").css("display","block");	
			   _this.html("收起");
		   }else if(_this.html() == "收起"){
				_this.siblings("ul").find("li").css("display","none");
				$(".fllow_news1 ul li").eq(0).css("display","block");
				$(".fllow_news1 ul li").eq(1).css("display","block");
				$(".fllow_news2 ul li").eq(0).css("display","block");
				$(".fllow_news2 ul li").eq(1).css("display","block");
			   _this.html("展开");				   
		   } 	   
		});
	    $(".outorin span").click(function(event) {
			$(this).addClass('current').siblings().removeClass('current');
			var myindex = $(this).index();
			$(".fllow_news_detial .fllow-mod:eq("+myindex+")").addClass('current').siblings().removeClass('current');
	    });
		// 主体
        $('.con').delegate('#reTest','click',function(e){
            $("#recovery").slideToggle(300);
			setTimeout(function(){
			    var scroll_hei = $("#recovery").offset().top;
				$('html,body').animate({scrollTop:scroll_hei}, 300)
			},300)
        }).delegate('.options dd span','click',function(e){
            var e = e || event;
            var top = e.pageY;
            var _this = $(this);
            var must = $('.must');
            var _dl = _this.parents('dl');
            if(_dl.hasClass('must')){
                if(_this.hasClass('on')){return false;}
                if(_this.hasClass('mod')){
                    _this.hide(150).siblings('span').removeClass('on').show(150);
                    $('.btns .checkPrice').show(150);
                    $('.btns .next').hide(150);
                }else{
                    _this.addClass('on').siblings('span').removeClass('on').hide(150);
                    _this.siblings('span.mod').show(150);
                }
            }else{
                var call = $(this).attr('data-kinds');
                if(call){
                    if(_this.hasClass('on')){
                        _this.removeClass('on');
                    }else{
                        _this.addClass('on').siblings('span[data-kinds="'+ call +'"]').removeClass('on');
                    }
                }else{
                    $(this).toggleClass('on');
                }
            }
            $('html,body').animate({scrollTop:(top - 80)+'px'});
            _dl.find('dt').removeAttr('style');
            $('.btns .next').hide(150);
            $('.btns .checkPrice').show(150);
			
			var must = $('dl.must');
			var onMust = $('dl.must span.on');
			if(must.length == onMust.length){
				var ids = [];
				var dds = $('.options dd span.on');
				for(var i = 0;i < dds.length;i++){
					ids[i] = $(dds[i]).attr('data-id');
				}
				var model   = $("input[name=model]").val();
				var order_id = $("input[name=id]").val();
				$.post("__CONTROLLER__/compute", {'model':model, 'ids':ids, 'order_id':order_id}, function(d){
					var data = JSON.parse(d);
					if(data['money'] > 0){
						$("input[name=money]").val(data['money']);
						$("input[name=ids]").val(data['ids']);
					}else{
						return false;
					}
				});
			}
        }).delegate('button.reco','click',function(){
            var _this  = $(this);
			var top    = 0;
			var index  = 'a';
			var must   = $('dl.must');
			var onMust = $('dl.must span.on');
			var id     = $("input[name=id]").val();
			var ids    = $("input[name=ids]").val();
			var money  = $("input[name=money]").val();
			
			for(var a = 0;a < must.length;a++){
				if($(must[a]).find('span.on').length == 0){
					$(must[a]).find('dt').css({'background':'#ffe1e1'})
					if(index == 'a'){
						index = a;
						var offset = $(must[index]).offset();
						$('html,body').animate({scrollTop:(offset.top)+'px'});
					}
				}
			}

			if(must.length == onMust.length){
				$.post('__CONTROLLER__/updateRecovery', {'id':id,"ids":ids,"money":money}, function (d){
					if(d > 0){
						var ids = [];
						var dds = $('.options dd span.on');
						for(var i = 0;i < dds.length;i++){
							ids[i] = $(dds[i]).html();
						}
						var allNews = ids.join("|");
						var lastPrice = parseInt($("#lastPrice").val());
						var toLastPrice = lastPrice.toFixed(2);
						$(".fault_news .master-change-price").hide();
						$(".master_news").show();
						$("#testDetial").html(allNews);
						$("#testPrice em").html(toLastPrice);
						_this.parents("#recovery").slideUp(300);
					}else{
						alert('保存失败');
					}
				}); 
			}
        });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->






