<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-comment.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>我的评价</h1>
	</header>
	<div class="con">
		<div class="lists">
			<ul class="outdiv">
				<foreach name="comments" item="vo">
				<li class="clearfix bigbox" data-id="<{$vo.id}>">
					<div class="left">
						<img alt="<{$vo.uname}>" <empty name="vo.thumb" >src="__PUBLIC__/User/default.jpg"<else />src="__PUBLIC__/User/<{$vo.thumb}>"</empty>>
						<span><{$vo.uname}><time><{$vo.comment_time|date="m-d H:i",###}></time></span>
						
					</div>
					<div class="right">
						<p class="scale">
							<eq name="vo.score" value="1"><img src="__PUBLIC__/Mobile/images/good.png" />好评</eq>
							<eq name="vo.score" value="2"><img src="__PUBLIC__/Mobile/images/middle.png" />中评</eq>
							<eq name="vo.score" value="3"><img src="__PUBLIC__/Mobile/images/low.png" />差评</eq>
							<em>|</em><{$vo.content}>
						</p>
						<neq name="vo.replies_content" value="">
						<p class="return"><em>[回复]</em><{$vo.replies_content}></p>
						<else />
						<div class="more">
							<div class="rights clearfix">
								<textarea name="content" maxlength="1024" class="area"></textarea>
								<p class="alert">您不能提交一个空的回复！</p>
								<input type="submit" value="回复" class="sub_bt">
								<span class="more_close">取消</span>
							</div>
							<p class="more_ad">回复</p>
						</div>
						</neq>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreComment',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '	<li class="clearfix bigbox" data-id="'+ data[a]['id'] +'">';
							html += '		<div class="left">';
							if(data[a]['thumb'] == ''){
								html += '		<img alt="'+ data[a]['uname'] +'" src="__PUBLIC__/User/default.jpg" />';
							}else{
								html += '		<img alt="'+ data[a]['uname'] +'" src="__PUBLIC__/User/'+ data[a]['thumb'] +'" />';
							}
							html += '			<span>'+ data[a]['uname'] +'<time>'+ data[a]['comment_time'] +'</time></span>';
							html += '		</div>';
							html += '		<div class="right">';
							html += '			<p class="scale">';
							if(data[a]['score'] == 1){
								html += '			<img src="__PUBLIC__/Mobile/images/good.png" />好评';
							}else if(data[a]['score'] == 2){
								html += '			<img src="__PUBLIC__/Mobile/images/middle.png" />中评';
							}else if(data[a]['score'] == 3){
								html += '			<img src="__PUBLIC__/Mobile/images/low.png" />差评';
							}
							html += '				<em>|</em>'+ data[a]['content'];
							html += '			</p>';
							html += '			<p class="phone">';
							if(type == '1'){
								html += '			<span>维修机型：'+ data[a]['pro_name'] +'</span>';
							}else{
								html += '			<span>回收机型：'+ data[a]['pro_name'] +'</span>';
							}
							html += '			</p>';
							var content = data[a]['replies_content'];
							if(content != '' && content != 'null' && !content){
								html += '			<p class="return"><em>[回复]</em>'+ content +'</p>';
							}else{
								html += '			<div class="more">';
								html += '				<div class="rights clearfix">';
								html += '					<textarea name="content" maxlength="1024" class="area"></textarea>';
								html += '					<p class="alert">您不能提交一个空的回复！</p>';
								html += '					<input type="submit" value="回复" class="sub_bt">';
								html += '					<span class="more_close">取消</span>';
								html += '				</div>';
								html += '				<p class="more_ad">回复</p>';
								html += '			</div>';
							}
							html += '		</div>';
							html += '	</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.outdiv').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
		
		$('.con').delegate('.more_ad','click',function(e){      // 打开回复窗口
			$(this).hide();
			$(this).siblings(".rights").slideDown(500);
		}).delegate('.more_close','click',function(e){          // 关闭回复窗口
			$(this).parent(".rights").siblings(".more_ad").show();
			$(this).parent(".rights").slideUp(500);
			$(".rights .alert").hide();
		}).delegate('.sub_bt','click',function(e){              // 提交回复
			var id = $(this).parents(".bigbox").attr('data-id');
			var content = $(this).siblings(".area").val();
			$.post('__CONTROLLER__/reply', {'id':id, 'content':content}, function (d) {
				if(d){
					location.reload();
				}else{
					alert('回复失败');
				}
			});	
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->