<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-edit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>店铺信息</h1>
	</header>
	<div class="con info">
		<form id="userinfo" action="<{:U('System/updateinfo')}>" method="post">
		<div class="rope">
			<p class="prompt"><span class="text">联系人：</span></p>
			<input class="text" type="text" name="user_name" value="<{$shop.user_name}>" placeholder="请输入联系人" />
		</div>
		<div class="rope">
			<p class="prompt"><span class="text">联系电话：</span></p>
			<input class="text" type="text" name="user_phone" value="<{$shop.user_phone}>" placeholder="请输入联系电话" />
		</div>
		<div class="rope">
			<p class="prompt"><span class="text">店铺介绍：</span></p>
			<textarea name="description" placeholder="请输入您的店铺介绍"><{$shop.description}></textarea>
		</div>
		<div class="rope">
			<p class="prompt"><span class="text">店铺公告：</span></p>
			<textarea name="notice" placeholder="请输入您的店铺公告"><{$shop.notice}></textarea>
		</div>
		<div class="rope Edit">
			<p class="prompt"><span class="text">营业时间：</span></p>
			<p>
				<select name="hours_start" placeholder="营业时间">
					<for start = "0" end = "25">
					<option value="<{$i}>" <eq name="shop.open_hours.0" value="$i">selected</eq>><{$i}>:00</option>
					</for>
				</select>
				至
				<select name="hours_close" placeholder="打烊时间">
					<for start="1" end="25">
					<option value="<{$i}>" <eq name="shop.open_hours.1" value="$i">selected</eq>><{$i}>:00</option>
					</for>
				</select>
			</p>
			<div class="selectedset">
				<input style="width:auto;" type="checkbox" id="week" name="is_week" value="1" <eq name="shop.is_week" value="1">checked</eq> /><span>&#xe607;</span>
			</div>
			<label for="week" class="week">周末营业</label>
		</div>
		<div class="rope">
			<p class="prompt"><span class="text">客服QQ：</span></p>
			<input class="text" type="text" name="qq" value="<{$shop.qq}>" placeholder="客服QQ" />
		</div>
		<div class="rope citys">
			<p class="prompt"><span class="text">服务方式：</span></p>
			<p>
				<label for="is_store"><input type="checkbox" id="is_store" name="is_store" value="1" <eq name="shop.is_store" value="1">checked</eq> /> 支持到店服务</label>
				<label for="is_door"><input type="checkbox" id="is_door" name="is_door" value="1" <eq name="shop.is_door" value="1">checked</eq> /> 支持上门服务</label>
			</p>
		</div>
		<div class="rope">
			<p class="prompt"><span class="text">服务地区：</span></p>
			<input class="text" type="text" name="server_area" value="<{$shop.server_area}>" placeholder="服务地区" />
		</div>
		<div class="rope server-range">
			<p class="prompt"><span class="text">服务范围：</span></p>
			<input class="text" type="tel" name="server_range" value="<if condition="$shop['server_range'] gt 0"><{$shop.server_range}></if>" placeholder="设置上门服务的距离(单位:公里)" /><span class="input-group-addon">公里</span>
		</div>
		<div class="rope citys">
			<p class="prompt"><span class="text">通知方式：</span></p>
			<p>
				<label for="is_wechat"><input type="checkbox" id="is_wechat" name="is_wechat" value="1" <eq name="shop.is_wechat" value="1">checked</eq> /> 微信通知</label>
				<label for="is_sms"><input type="checkbox" id="is_sms" name="is_sms" value="1" <eq name="shop.is_sms" value="1">checked</eq> /> 短信通知</label>
			</p>
		</div>
		<div class="rope citys">
			<p class="prompt"><span class="text">服务状态：</span></p>
			<div class="selectedset">
				<input type="radio" id="open" name="server_status" value="1" <eq name="shop.server_status" value="1">checked</eq> /><span>&#xe607;</span>	
			</div>
			<label for="open">正常服务</label>
			<div class="selectedset">
				<input type="radio" id="close" name="server_status" value="0" <eq name="shop.server_status" value="0">checked</eq> /><span>&#xe607;</span>
			</div>
			<label for="close">暂停服务</label>
		</div>
		<p class="serve">保存</p>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		function checkboxed(){
			if($("#week").is(":checked")){
				$(".Edit .selectedset span").css("color","#40bb8c")
			}else{
				$(".Edit .selectedset span").css("color","#b5b5b5")
			}
		}
		checkboxed()
		$(".con").delegate('.serve', 'click', function(event) {
            var input = $('.info input');
            for(var a = 0;a < input.length;a++){
                if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden' && $(input[a]).attr('type') != 'password'){
                    alert('请输入' + $(input[a]).attr('placeholder'));
                    return false;
                }
            }
            $('form#userinfo').submit();
        }).delegate('.week', 'click', function(event) {
			if($("#week").is(":checked")){
				$(".Edit .selectedset span").css("color","#b5b5b5")
			}else{
				$(".Edit .selectedset span").css("color","#40bb8c")
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->