<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header style="display:none;"></header>
<div class="con">
	<div class="header">
		<a href="<{:U('System/info')}>">
			<div class="top_con clearfix">
				<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" />
				<div class="headerinFo">
					<p class="middle"><{$shop.shop_name}></p>
					<p style="height:20px;">
						<for start="0" end="$shop.level_image_num">
							<b><img src="__PUBLIC__/Home/images/level/<{$shop.level_image_name}>.png" width="16" title="<{$shop.level_level}>级" alt="<{$shop.level_level}>级" /></b>
						</for>
					</p>
					<p>
					<span class="Authentication">认证</span>
					<if condition="$shop['type_id'] eq 2">
					<span class="chain">直营</span>
					</if>
					<!--<span class="custemers">售后</span><span class="guarantee">担保</span>-->
					</p>
				</div>
				<i>&#xe60f;</i>
			</div>
		</a>
	</div>
	<div class="list-app list">
		<h3 class="bdt">应用中心</h3>
		<ul class="clearfix bdb">
			<li>
				<a href="<{:U('System/mv')}>">
					<img src="__PUBLIC__/Mobile/images/07.png" />
					<p>演示视频</p>
				</a>
			</li>
			<!--<li>
				<a href="<{:U('System/edit')}>">
					<img src="__PUBLIC__/Mobile/images/09.png" />
					<p>修改资料</p>
				</a>
			</li>-->
			<li>
				<a href="<{:U('System/reset')}>">
					<img src="__PUBLIC__/Mobile/images/03.png" />
					<p>服务设置</p>
				</a>
			</li>
			<li class="my-repair">
				<a href="<{:U('System/offering')}>">
					<img src="__PUBLIC__/Mobile/images/01.png" />
					<p>火速抢单<if condition="$offerCount gt 0"><i class="icons-circle"></i></if></p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/repair')}>">
					<img src="__PUBLIC__/Mobile/images/02.png" />
					<p>我的订单<if condition="$offerCount gt 0"><i class="icons-circle"></i></if></p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/comment')}>">
					<img src="__PUBLIC__/Mobile/images/04.png" />
					<p>我的评价</p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/poster')}>">
					<img src="__PUBLIC__/Mobile/images/05.png" />
					<p>下载海报</p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/introduce')}>">
					<img src="__PUBLIC__/Mobile/images/06.png" />
					<p>维修制度</p>
				</a>
			</li>
			
			<li class="bdb0">
				<a href="<{:U('System/notice')}>">
					<img src="__PUBLIC__/Mobile/images/08.png" />
					<p>我的通知<if condition="$notices gt 0"><i class="icons-circle"></i></if></p>
				</a>
			</li>
		</ul>
	</div> 
	<div class="list-payment list">
		<h3 class="bdt">收费专区<span>付费</span></h3>
		<ul class="clearfix bdb">
			<li>
				<a href="<{:U('System/create')}>">
					<img src="__PUBLIC__/Mobile/images/12.png" />
					<p>创建订单</p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/products')}>">
					<img src="__PUBLIC__/Mobile/images/11.png" />
					<p>商品出售</p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/shopping')}>">
					<img src="__PUBLIC__/Mobile/images/13.png" />
					<p>我卖出的</p>
				</a>
			</li>
			<li>
				<a href="<{:U('System/service')}>">
					<img src="__PUBLIC__/Mobile/images/10.png" />
					<p>专属客服</p>
				</a>
			</li>
		</ul>
	</div> 
	<div class="btn"><a href="<{:U('Users/logout')}>" onclick="return confirm('您确定要退出吗？');" class="logout">退出登录</a></div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
</block>
<!-- 底部JS执行区域 结束 -->