<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile/css/system-info.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>店铺信息</h1>
    </header>
	<div class="con">
	    <div class="head_pic clearfix">
			<a href="<{:U('System/image')}>" class="clearfix">
				<span>修改店铺形象</span>
				<neq name="shop.mod_image" value=""><span class="system_tip system_tip1">[等待审核]</span></neq>
				<div class="right">
					<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" />
					<i>&#xe60f;</i>
				</div>
			</a>
	    </div>
	    <div class="news_pic clearfix">
		    <ul>
				<li class="clearfix">
				    <a href="<{:U('System/edit')}>" class="logout">
						<span>店铺名称</span>
						<div class="right">
							<strong><{$shop.shop_name}></strong>
							<i>&#xe60f;</i>
						</div>
					</a>
				</li>
				<li class="clearfix">
				    <a href="<{:U('System/edit')}>" class="logout">
						<span>店铺介绍</span>
						<div class="right">
							<strong><{$shop.description}></strong>
							<i>&#xe60f;</i>
						</div> 
					</a> 
				</li>
				<li class="clearfix">
				    <a href="<{:U('System/edit')}>" class="logout">
						<span>店铺公告</span>
						<div class="right">
							<strong><{$shop.notice}></strong>
							<i>&#xe60f;</i>
						</div> 
					</a> 
				</li>
				<li class="clearfix">
				    <a href="<{:U('System/edit')}>" class="logout">
						<span>营业时间</span>
						<div class="right">
							<strong><{$shop.open_hours}></strong>
							<i>&#xe60f;</i>
						</div> 
					</a> 
				</li>
				<li class="clearfix">
				    <a href="<{:U('System/edit')}>" class="logout">
						<span>周边范围</span>
						<div class="right">
							<strong><{$shop.server_area}></strong>
							<i>&#xe60f;</i>
						</div> 
					</a> 
				</li>
				<li class="clearfix">
					<a href="<{:U('System/address')}>">
						<span>店铺地址</span>
						<div class="right rightsp">
							<strong><neq name="shop.mod_address" value=""><span class="system_tip">[等待审核]</span></neq><span class="address"><{$shop.address}></span></strong>
							<i>&#xe60f;</i>
						</div>
					</a>					
				</li>
		    </ul>
	   </div> 
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->