<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-introduce.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>相关说明</h1>
	</header>
	<div class="con">
		<div class="con-bd-t clearfix">
			<ul class="block">
				<foreach name="introduce" key="key" item="vo">
				<li>
					<h2><strong><{$vo.title}><em class="arrow">&#xe644;</em></strong></h2>
					<div class="content">
						<p><{$vo.content|htmlspecialchars_decode}></p>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$("h2").click(function(){
			var _this = $(this)
			_this.siblings("div").stop().slideToggle(300);
			_this.find(".arrow").toggleClass("down");
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->







