<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link href="https://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
	<style type="text/css">
		.con{
			overflow: hidden;
			border-top: 59px solid #eee;
			text-align:center;
		}
		.video-js{
			margin:0 auto;
		}
		body{
			background:#fff;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>系统操作演示视频</h1>
    </header>
	<div class="con">
		<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" height="230" width="300" poster="__PUBLIC__/Mv/m-system_poster.jpg" data-setup="{}">
			<source src="__PUBLIC__/Mv/m-system.mp4" type="video/mp4">
			<source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
			<source src="https://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
		</video>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="https://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <script src="https://vjs.zencdn.net/5.0.2/video.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->