<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-notice.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>我的通知<div class="select"><a href="<{:U('System/doReadNotice')}>">全部设置为已读</a></div></h1>
	</header>
	<div class="con">
		<div class="select_style s_style">
			<strong>显示</strong>
			<ul class="sty_lst s_lst clearfix">
				<li data-id="" <eq name="status" value="">class="current"</eq>><a href="<{:U('System/notice')}>">全部</a></li>
				<li data-id="0" <eq name="status" value="0">class="current"</eq>><a href="<{:U('System/notice', array('status'=>0))}>">未读</a></li>
				<li data-id="1" <eq name="status" value="1">class="current"</eq>><a href="<{:U('System/notice', array('status'=>1))}>">已读</a></li>
			</ul>
		</div>
		<div class="lists">
			<notempty name="notices">
			<ul class="outdiv">
				<foreach name="notices" item="vo">
				<li class="clearfix bigbox">
					<a href="<{:U('System/noticedetail', array('id'=>$vo['id']))}>">
					<div class="left">
						<div>
							<p <if condition="$vo['status'] eq 0">class="unread"</if>><{$vo.title}></p>
							<time><{$vo.create_time|date="m-d H:i",###}></time>
						</div>
					</div>
					</a>
				</li>
				</foreach>
			</ul>
			</notempty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			var status = $(".select_style").find("li.current").attr("data-id");
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreNotice',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'status':status },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li class="clearfix bigbox">';
							html += '	<a href="__APP__/System/noticedetail/id/'+ data[a]['id'] +'.html">';
							html += '		<div class="left">';
							html += '			<span>';
							if(data[a]['status'] == 0){
								html += '			<p class="unread">'+ data[a]['title'] +'</p>';
							}else{
								html += '			<p>'+ data[a]['content'] +'</p>';
							}
							html += '				<time>'+ data[a]['create_time'] +'</time>';
							html += '			</span>';
							html += '		</div>';
							html += '	</a>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.outdiv').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->