<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-offer.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>已报价订单</h1>
	</header>
	<div class="con">
		<div id="leftTabBox" class="tabBox">
			<div class="hd fixed_bug">
				<ul>
					<li><a href="<{:U('System/offerIng')}>"><span class="offerIng">正在抢单<if condition="$offerCount gt 0"><span class="icon-circle"></span></if></span></a></li>
					<li class="on"><a href="<{:U('System/offer')}>"><span  class="offer">已报价订单</span></a></li>
				</ul>
			</div>
			<div class="bd" id="leftTabBox-bd">
				<div class="same-item">
					<ul class="list">
						<foreach name="offer" item="vo">
						<li>
							<div class="title-news clearfix">
								<div class="titile-user-news f_left">
									<img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';">
									<span><{$vo.uname}></span>
								</div>
								<div class="user-time f_right">
									发布于 <{$vo.order_date|CBWTimeFormat='m.d'}>
								</div>
							</div>
							<div class="main-content">
							    <a class="main-content-a" href="<{$CBW_URL}>/offer/<{$vo.id}>-<{$Think.session.shop.id}>.html">
									<div class="main-content-phone">
										<p class="required">用户需求：<if condition="$vo['order_type'] eq 1">设备维修<else />设备回收</if></p>
										<p class="user-phone">
										<if condition="$vo['pro_name'] neq ''">
										【型号】<{$vo.pro_name}>  
										</if>
										<if condition="$vo['color_name'] neq ''">
										【颜色】<{$vo.color_name}>
										</if>
										<if condition="$vo['plan_name'] neq ''">
										【方案】<{$vo.plan_name}>
										</if>
										【备注】<{$vo.remarks}>
										</p>
									</div>
									<div class="main-content-people">
										<p class="quote-people">已有<{$vo.offer_count}>人报价</p>
									</div>
								</a>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.same-item').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num  = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreOffer',
				dataType: 'json',
				data: {'counter':counter, 'num':num},
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<div class="title-news clearfix">';
							html += '		<div class="titile-user-news f_left">';
							html += '			<img alt="'+data[a]['uname']+'" src="__PUBLIC__/User/'+data[a]['thumb']+'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';">';
							html += '			<span>'+data[a]['uname']+'</span>';
							html += '		</div>';
							html += '		<div class="user-time f_right">';
							html += '			发布于 '+data[a]['order_date'];
							html += '		</div>';
							html += '	</div>';
							html += '	<div class="main-content">';
							html += '	<a class="main-content-a" href="<{$CBW_URL}>/offer/'+data[a]['id']+'-<{$Think.session.shop.id}>.html">';
							html += '		<div class="main-content-phone">';
							html += '			<p class="required">用户需求：';
							if(data[a]['order_type'] == 1){
							html += '			设备维修';
							}else{
							html += '			设备回收';
							}
							html += '			</p>';
							html += '			<p class="user-phone">';
							if(data[a]['pro_name'] && data[a]['pro_name'] != ''){
							html += '			【型号】'+data[a]['pro_name'];
							}
							if(data[a]['color_name'] && data[a]['color_name'] != ''){
							html += '			【颜色】'+data[a]['color_name'];
							}
							if(data[a]['plan_name'] && data[a]['plan_name'] != ''){
							html += '			【方案】'+data[a]['plan_name'];
							}
							html += '			【备注】'+data[a]['remarks'];
							html += '			</p>';
							html += '		</div>';
							html += '		<div class="main-content-people">';
							html += '			<p class="quote-people">已有'+data[a]['offer_count']+'人抢单<span>('+data[a]['offer_count']+'/5)</span></p>';
							html += '		</div>';
							html += '	</a>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->