<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-onekeyset.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<h1><div class="return"><span>&#xe61d;</span></div>一键导入价格</h1>
</header>
<div class="con">
	<div id="setPrice">
		<div class="brand">
			<h2>选择品牌<div id="allselect"><span></span>全选</div></h2>
			<ul id="brand" class="brand clearfix">
				<foreach name="brands" item="vo">
				<li data-id="<{$vo.id}>">
					<span></span><{$vo.cat_name}>
				</li>
				</foreach>
			</ul>
		</div>
		<div class="option">
			<h2>设置价格</h2>
			<ul id="set" class="set clearfix">
				<li data-id="1">
					<span></span>官方维修价
				</li>
				<li data-id="0.95">
					<span></span>官方维修价的<strong> 9.5 </strong>折
				</li>
				<li data-id="0.9">
					<span></span>官方维修价的<strong> 9 </strong>折
				</li>
				<li data-id="0.8">
					<span></span>官方维修价的<strong> 8 </strong>折
				</li>
				<li data-id="0.7">
					<span></span>官方维修价的<strong> 7 </strong>折
				</li>
			</ul>
		</div>
	</div>
	<div class="btm">
		<button id="confirm" class="button_common">确定</button>
		<img src="__PUBLIC__/Home/images/2016/load.gif" />
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript" >
		//选择
		$("#setPrice li").click(function(){
			var _this = $(this)
			if(_this.parent().hasClass("set")){            //选择折扣
				_this.addClass("current").siblings().removeClass("current");
			}else{                                         //选择品牌
				_this.toggleClass("current");
				var length = $("#brand li").length;
				var sellength = $("#brand li.current").length;
				if(length == sellength){
					$("#allselect").addClass("current");
				}else{
					$("#allselect").removeClass("current");
				};
			}
		});
		// 全选
		$("#allselect").click(function(){
			var _this = $(this);
			_this.toggleClass("current");
			if(_this.hasClass('current')){
				$("#brand li").addClass('current');
			}else{
				$("#brand li").removeClass('current');
			}
		});
		//确定
		$("#confirm").click(function(){
			
			if(!$("#brand li").hasClass('current')){
				alert("请选择同步的品牌");
				return false;
			}
			if(!$("#set li").hasClass('current')){
				alert("请选择同步的价格");
				return false;
			}
			
			var brands = new Array();
			var discount = $("#set").find('.current').attr('data-id');
			var i = 0;
			$("#brand li").each(function(){
				var _class = $(this).attr('class');
				if(_class == 'current'){
					brands[i] = $(this).attr('data-id');
					i++;
				}
			});
			$(this).hide().siblings("img").show();
			$.post('__CONTROLLER__/doonekeyset', {'brands':brands, 'discount':discount}, function (d) {
				if(d){
					window.location.href="__APP__/system/reset/type/<{$typeId}>.html"; 
				}else{
					return false;
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->








