<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-poster.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>下载海报</h1>
	</header>
	<div class="con">
		<ul class="clearfix" id="poster_ul">
			<foreach name="data" item="vo">
			<li class="clearfix bigbox" data-id="<{$vo.id}>">
				<div class="downImg"><img src="__PUBLIC__/Poster/<{$vo.image}>" /></div>
				<p><{$vo.name}></p>
			</li>
			</foreach>
		</ul>
		<div class="posF" id="poster_load"><div class="loading"><img src="__PUBLIC__/Mobile/images/m2Iru2J.gif" /></div></div>
		<div class="jumpWindow" id="alerpopup">
			<div class="bg"></div>
			<div class="wrap popup">
				<div class="img">
					<img src="__PUBLIC__/Home/system/images/screen.jpg" />
					<p class="poster_introduce">长按图片保存</p>
				</div>
				<div class="btns">
					<button id="close">关闭</button>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript" >
	   $("#close").on("click",function(){
			$("#alerpopup").hide(300);
	   });
	   $("#poster_ul li").on("click",function(){
			$("#poster_load").show();
			var id = $(this).attr("data-id");
			$.post('__CONTROLLER__/createPoster', {'id':id}, function(d){
				if(d){
					$("#alerpopup").show(300).find("img").attr("src",'__PUBLIC__/Temp/'+d);
					$("#poster_load").hide();
					if(event && event.stopPropagation){
						event.stopPropagation();
					}else{
						event.cancelBubble = true;
					}
				}
			});
	   });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->










