<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-recovery.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>我的订单</h1>
	</header>
	<div class="con">
		<div id="leftTabBox" class="tabBox">
			<div class="hd fixed_bug">
				<ul>
					<li><a href="<{:U('System/repair')}>"><span class="offer">维修订单</span></a></li>
					<li class="on"><a href="<{:U('System/recovery')}>"><span class="offer">回收订单</span></a></li>
				</ul>
			</div>
			<div class="bd" id="leftTabBox-bd">
				<div class="lists">
					<ul class="pro_lst">
						<foreach name="orders" item="vo">
						<li data-id="<{$vo.id}>">
							<div class="date">
								<span class="recovery"></span><a href="<{:U('System/assess', array('id'=>$vo['id']))}>"><{$vo.order_sn}></a>
								<strong class="statu">
									<if condition="($vo['order_status'] eq 0)">
										<span>已取消</span>
									<elseif condition="($vo['order_status'] eq 1)"/>
										<if condition="($vo['pay_status'] eq 1)">
											<span>已打款</span>
										<else />
											<eq name="vo.reco_status" value="1"><span class="red">待打款，等待报价</span></eq>
											<eq name="vo.reco_status" value="2"><span class="red">待打款，等待回收</span></eq>
											<eq name="vo.reco_status" value="3"><span class="red">待打款，回收完成</span></eq>
										</if>
									<elseif condition="($vo['order_status'] eq 2)"/>
										<span>已完成</span>
									</if>
								</strong>
								<if condition="$vo.order_status eq '1'">
									<!--<a href="javascript:;" class="cancel">&#xe625;</a>-->
								</if>
							</div>
							<div class="pro_news clearfix">
								<a class="lookdetial" href="<{:U('System/assess', array('id'=>$vo['id']))}>">
									<div class="news_pic">
										<img src="<{$vo.show_img}>" />
									</div>
									<div class="news_bd">
										<p><{$vo.show_name}></p>
										<p class="desc"><{$vo.show_desc}></p>
										<p class="way">
											<if condition="$vo.reco_way eq 1">
												到店维修
											<elseif condition="$vo.reco_way eq 2"/>
												上门服务
											<elseif condition="$vo.reco_way eq 3"/>
												邮寄维修
											</if>
										</p>
										<p class="price">
											<em>￥</em><span><{$vo.show_price}></span>
										</p>
									</div>
								</a>
							</div>
							<div class="btngroups clearfix">
							    <time><em>&#xe610;</em><{$vo['order_date']|date="Y-m-d",###}></time>
								<if condition="$vo['order_status'] eq '1'">
									<a class="resivied" href="<{:U('System/assess', array('id'=>$vo['id']))}>">检测评估</a>
									<a class="success" data-id="<{$vo.id}>" href="javascript:void(0);">订单完成</a>
									<if condition="$vo['appeal'] eq 1">
										<a href="javascript:;" class="appeal">申诉</a>
									</if>
								</if>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 申诉 -->
	<div class="menu dn fixTop fullLayer z1000" id="Appeal">
		<div class="pct100 fixBottom" id="AppealContent">
			<form id="appealForm" action="<{:U('System/doAppeal')}>" method="post" autocomplete="off">
			<div class="Acontent">
				<select name="reason">
					<option value="0">请选择申诉原因</option>
					<option value="1">顾客取消交易</option>
					<option value="2">缺少配件</option>
					<option value="3">路程太远</option>
				</select>
				<input type="hidden" name="id" value="" />
				<div class="appeal-btn">
					<a href="javascript:;">确定</a>
				</div>
			</div>
			</form>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num  = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreRecovery',
				dataType: 'json',
				data: {'counter':counter, 'num':num},
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '	<li data-id="'+ data[a]['id'] +'">';
							html += '		<div class="date">';
							html += '			<span class="recovery"></span><a href="__APP__/system/redetail/id/'+ data[a]['id'] +'.html">'+ data[a]['order_sn'] +'</a>';
							html += '			<strong class="statu">';
									if(data[a]['order_status'] == 0){
										html += '<span>已取消</span>';
									}else if(data[a]['order_status'] == 1){
										if(data[a]['pay_status'] == 1){
											html += '<span>已打款</span>';
										}else{
											if(data[a]['reco_status'] == 1){
												html += '<span class="red">待打款，等待报价</span>';
											}else if(data[a]['reco_status'] == 2){
												html += '<span class="red">待打款，等待回收</span>';
											}else if(data[a]['reco_status'] == 3){
												html += '<span class="red">待打款，回收完成</span>';
											}
										}
									}else if(data[a]['order_status'] == 2){
										html += '<span>已完成</span>';
									}
							html += '			</strong>';
							if(data[a]['order_status'] == 1){
								//html += '		<a href="javascript:;" class="cancel">&#xe625;</a>';
							}
							html += '		</div>';
							html += '		<div class="pro_news clearfix">';
							html += '		<a class="lookdetial clearfix" href="__APP__/system/assess/id/'+ data[a]['id'] +'.html">';
							html += '			<div class="news_pic">';
							html += '				<img src="'+ data[a]['show_img'] +'" />';
							html += '			</div>';
							html += '			<div class="news_bd">';
							html += '				<p>'+ data[a]['show_name'] +'</p>';
							html += '				<p class="desc">'+ data[a]['show_desc'] +'</p>';
							html += '				<p class="way">';
													if(data[a]['reco_way'] == 1){
														html += '到店维修';
													}else if(data[a]['reco_way'] == 2){
														html += '上门回收';
													}else if(data[a]['reco_way'] == 3){
														html += '邮寄维修';
													}
							html += '				</p>';
							html += '				<p class="price">';
							html += '					<em>￥</em><span>'+ data[a]['show_price']+'</span>';
							html += '				</p>';
							html += '			</div>';
							html += '		</a>';
							html += '		</div>';
							html += '		<div class="btngroups clearfix">';
							html += '        	<time><em>&#xe610;</em>'+data[a]['order_date']+'</time>';
							if(data[a]['order_status'] == 1){
								html += '	<a class="resivied" href="__APP__/System/assess/id/'+ data[a]['id'] +'.html">检测评估</a>';
								html += '	<a href="javascript:void(0);" data-id="'+ data[a]['id'] +'" class="success">完成订单</a>';
								if(data[a]['appeal'] == 1){
									html += '	<a href="javascript:;" class="appeal">申诉</a>';
								}
							}
							html += '		</div>';
							html += '	</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.pro_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
		
		var Appeal = $("#Appeal");
		$('.con').delegate('.btngroups .cancel','click',function(){           // 取消订单
			var ok = confirm('确定取消此维修订单吗?');
			if(!ok){return false;}
			var id    = $(this).parents('li').attr('data-id');
			$.post("__CONTROLLER__/close", {'id':id}, function(d){
				if(d == 1){
					window.location.href=window.location.href;
				}else{
					return false;
				}
			});
		}).delegate('.btngroups .success','click',function(){               // 完成订单
			var ok = confirm('确定此维修订单完成了吗?');
			if(!ok){return false;}
			var id = $(this).parents('li').attr('data-id');
			window.location.href = "__APP__/system/complete/id/"+id+".html"; 
		}).delegate('.btngroups .appeal','click',function(){             // 申诉
			var id = $(this).parents('li').attr('data-id');
			$('#Appeal input[name=id]').val(id);
			Appeal.removeClass("dn");
		});
		
		// 申诉
		$(".fullLayer").on("click",function(){
			Appeal.addClass("dn");
		}).on("click","#AppealContent",function(e){
			if(e && e.stopPropagation){
				e.stopPropagation();
			}else{
				e.cancelBubble = true;
			}
		}).delegate('.appeal-btn','click',function(){        // 提交申诉
			var c = $("#Appeal select option:selected").val();
			if(c == 0){
			    alert("请选择申诉内容");
				return false;
			}
			$('form#appealForm').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->