<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-repair.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>我的订单</h1>
	</header>
	<div class="con">
		<div id="leftTabBox" class="tabBox">
			<div class="hd fixed_bug">
				<ul>
					<li class="on"><a href="<{:U('System/repair')}>"><span class="offer">维修订单</span></a></li>
					<li><a href="<{:U('System/recovery')}>"><span class="offer">回收订单</span></a></li>
				</ul>
			</div>
			<div class="bd" id="leftTabBox-bd">
				<div class="lists">
					<ul class="pro_lst">
						<foreach name="orders" item="vo">
						<li data-id="<{$vo.id}>">
							<div class="date">
								<span class="repair"></span><a href="<{:U('System/rtest', array('id'=>$vo['id']))}>"><{$vo.order_sn}></a>
								<strong class="statu">
									<if condition="($vo['order_status'] eq 0)">
										<span>已取消</span>
									<elseif condition="($vo['order_status'] eq 1)"/>
										<if condition="($vo['pay_status'] eq 1)">
											<span>已付款</span>
										<else />
											<eq name="vo.server_status" value="1"><span class="red">待付款，等待报价</span></eq>
											<eq name="vo.server_status" value="2"><span class="red">待付款，等待维修</span></eq>
											<eq name="vo.server_status" value="3"><span class="red">待付款，维修完成</span></eq>
										</if>
									<elseif condition="($vo['order_status'] eq 2)"/>
										<span>已完成</span>
									</if>
								</strong>
								<if condition="$vo.order_status eq '1'">
									<!--<a href="javascript:;" class="cancel">&#xe625;</a>-->
								</if>
							</div>
							<div class="pro_news">
							    <a class="lookdetial clearfix" href="<{:U('System/rtest', array('id'=>$vo['id']))}>">
									<div class="news_pic">
										<img src="<{$vo.show_img}>" />
									</div>
									<div class="news_bd">
										<p><{$vo.show_name}></p>
										<p class="way">
											<if condition="$vo.server_way eq 1">
												到店维修
											<elseif condition="$vo.server_way eq 2"/>
												上门服务
											<elseif condition="$vo.server_way eq 3"/>
												邮寄维修
											</if>
										</p>
										<p class="price">
											<em>￥</em><span><{$vo.show_price}></span>
										</p>
										
									</div>
								</a>
							</div>
							<div class="btngroups clearfix">
								<time><em>&#xe610;</em><{$vo['order_date']|date="Y-m-d",###}></time>
								<if condition="$vo.order_status eq '1'">
									<if condition="($vo.security eq '0') OR ($vo.server_way eq 3)">
										<a href="javascript:;" data-sn="<{$vo.order_sn}>" class="receivables">收款</a>
										<if condition="($vo.relation_id gt '0')">
										<a class="resivied" href="<{:U('System/rtest', array('id'=>$vo['id']))}>">检测改价</a>
										</if>
									<else />
										<a href="<{:U('System/security', array('id'=>$vo['id']))}>" class="security">完成订单</a>
									</if>
									<if condition="$vo['appeal'] eq 1">
										<a href="javascript:;" class="appeal">申诉</a>
									</if>
								</if>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
				<!-- 付款 -->
				<div class="posF" id="payStyle">
					<div class="bg"></div>
					<div class="select_pay_style">
						<div class="title"><strong>选择支付方式</strong><span class="off">&#xe625;</span></div>
						<div class="pay"><a class="wx" target="_blank" href="javascript:;"><img src="__PUBLIC__/Mobile/images/wx_03.png"/>微信支付</a></div>
						<div class="pay"><a class="zfb" target="_blank" href="javascript:;"><img src="__PUBLIC__/Mobile/images/zfb_03.png"/>支付宝支付</a></div>
					</div>
				</div>
				<!-- 申诉 -->
				<div class="menu dn fixTop fullLayer z1000" id="Appeal">
					<div class="pct100 fixBottom" id="AppealContent">
						<form id="appealForm" action="<{:U('System/doAppeal')}>" method="post" autocomplete="off">
					    <div class="Acontent">
							<select name="reason">
								<option value="0">请选择申诉原因</option>
								<option value="1">顾客取消交易</option>
								<option value="2">缺少配件</option>
								<option value="3">路程太远</option>
							</select>
							<p class="appeal-tip">提示：订单未达成交易,在此申请退还草包豆</p>
							<input type="hidden" name="id" value="" />
							<div class="appeal-btn">
								<a href="javascript:;">确定</a>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num  = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreRepair',
				dataType: 'json',
				data: {'counter':counter, 'num':num},
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '	<li data-id="'+ data[a]['id'] +'">';
							html += '		<div class="date">';
							html += '			<a href="__APP__/system/rtest/id/'+ data[a]['id'] +'.html"><span class="repair"></span>'+ data[a]['order_sn'] +'</a>';
							html += '		    <strong class="statu">';
												if(data[a]['order_status'] == 0){
													html += '<span>已取消</span>';
												}else if(data[a]['order_status'] == 1){
													if(data[a]['pay_status'] == 1){
														html += '<span>已付款</span>';
													}else{
														if(data[a]['server_status'] == 1){
															html += '<span class="red">待付款，等待报价</span>';
														}else if(data[a]['server_status'] == 2){
															html += '<span class="red">待付款，等待维修</span>';
														}else if(data[a]['server_status'] == 3){
															html += '<span class="red">待付款，维修完成</span>';
														}
													}
												}else if(data[a]['order_status'] == 2){
													html += '<span>已完成</span>';
												}
							html += '		    </strong>';
							if(data[a]['order_status'] == 1){
								//html += '		<a href="javascript:;" class="cancel">&#xe625;</a>';
							}
							html += '		</div>';
							html += '		<div class="pro_news clearfix">';
							html += '		<a class="lookdetial clearfix" href="__APP__/system/rtest/id/'+ data[a]['id'] +'.html">';
							html += '			<div class="news_pic">';
							html += '				<img src="'+ data[a]['show_img'] +'" />';
							html += '			</div>';
							html += '			<div class="news_bd">';
							html += '				<p>'+ data[a]['show_name'] +'</p>';
							html += '				<p class="way">';
													if(data[a]['server_way'] == 1){
														html += '到店维修';
													}else if(data[a]['server_way'] == 2){
														html += '上门回收';
													}else if(data[a]['server_way'] == 3){
														html += '邮寄维修';
													}
							html += '				</p>';
							html += '				<p class="price">';
							html += '					<em>￥</em><span>'+ data[a]['show_price']+'</span>';
							html += '				</p>';
							html += '			</div>';
							html += '		</a>';
							html += '		</div>';
							html += '		<div class="btngroups clearfix">';
							html += '        	<time><em>&#xe610;</em>'+data[a]['order_date']+'</time>';
							if(data[a]['order_status'] == 1){
								if(data[a]['security'] == 0){
									html += '	<a href="javascript:;" data-sn="'+ data[a]['order_sn'] +'" class="receivables">收款</a>';
									html += '	<a class="resivied" href="__APP__/System/rtest/id/'+ data[a]['id'] +'.html">检测改价</a>';
								}else{
									html += '	<a href="__APP__/System/security/id/'+ data[a]['id'] +'.html" class="security">完成订单</a>';
								}
								if(data[a]['appeal'] == 1){
									html += '	<a href="javascript:;" class="appeal">申诉</a>';
								}
							}else if(data[a]['order_status'] == 2){
								html += '	<a href="javascript:void(0);" data-id="<{$vo.id}>" class="success">完成订单</a>';
							}
							html += '		</div>';
							html += '	</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.pro_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		};
		
		var Appeal = $("#Appeal");
		$('.con').delegate('a.cancel','click',function(){           // 取消订单
			var ok = confirm('确定取消此维修订单吗?');
			if(!ok){return false;}
			var id    = $(this).parents('li').attr('data-id');
			$.post("__CONTROLLER__/close", {'id':id}, function(d){
				if(d == 1){
					window.location.href=window.location.href;
				}else{
					return false;
				}
			});
		}).delegate('a.receivables','click',function(){             // 收款
			var sn = $(this).attr('data-sn');
			$('.wx').attr('href', "__APP__/wxpay/native/trade_no/"+sn+".html");
			$('.zfb').attr('href', "__APP__/alipay/qrcode/trade_no/"+sn+".html");
			$("#payStyle").fadeIn(300);
		}).delegate('a.appeal','click',function(){             // 申诉
			var id = $(this).parents('li').attr('data-id');
			$('#Appeal input[name=id]').val(id);
			Appeal.removeClass("dn");
		});
		
		// 申诉
		$(".fullLayer").on("click",function(){
			Appeal.addClass("dn");
		}).on("click","#AppealContent",function(e){
			if(e && e.stopPropagation){
				e.stopPropagation();
			}else{
				e.cancelBubble = true;
			}
		}).delegate('.appeal-btn','click',function(){        // 提交申诉
			var c = $("#Appeal select option:selected").val();
			if(c == 0){
			    alert("请选择申诉内容");
				return false;
			}
			$('form#appealForm').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->