<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-reset.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1>
			<div class="returnUrl"><a href="<{:U('System/index')}>">&#xe61d;</a></div>服务设置
		</h1>
	</header>
	<div class="con">
		<div class="classify clearfix">
			<foreach name="types" item="vo">
		    <span <eq name="vo.id" value="$type">class="current"</eq>><a href="<{:U('System/reset', array('type'=>$vo['id']))}>"><{$vo.cat_name}></a></span>
			</foreach>
		</div>
		<div class="brand">
			<h2>服务品牌</h2>
			<ul class="clearfix">
				<foreach name="brands" item="vo">
			    <li data-id="<{$vo.id}>" <eq name="vo.id" value="$brand">class="current"</eq>><a href="<{:U('System/reset', array('type'=>$type, 'brand'=>$vo['id']))}>"><img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" /></a></li>
			    </foreach>
				<li class="last">+</li>
			</ul>
		</div>
		<notempty name="models">
		<div class="model">
			<h2>服务型号</h2>
			<ul class="clearfix">
				<volist name="models" id="vo">
			    <li data-id="<{$vo.id}>" class="<eq name="vo.id" value="$model">current</eq>"><a href="<{:U('System/reset', array('type'=>$type, 'brand'=>$brand, 'model'=>$vo['id']))}>"><strong><{$vo.pro_name}></strong></a></li>
				</volist>
			</ul>
		</div>
		</notempty>
		<div class="filter">
			<div class="bg"></div>
			<div class="filterBx">
				<dl class="clearfix header">
					<dt><i>&#xe60f;</i></dt>
					<dd class="ddName">筛选</dd>
				</dl>
				<dl class="clearfix models models1">
					<dt class="clearfix">品牌</dt>
					<dd class="clearfix">
						<foreach name="brandRes" key="key" item="vo">
						<a href="javascript:;" brand-id="<{$vo.id}>" <eq name="key" value="0">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				<dl class="clearfix models models2">
					<dt class="clearfix">型号</dt>
					<dd class="clearfix">
						<foreach name="modelRes" item="vo">
						<a <eq name="vo.on" value="1">class="on"</eq> model-id="<{$vo.id}>"><i></i><{$vo.pro_name}></a>
						</foreach>
					</dd>
				</dl>
				<span class="conser"><a href="javascript:;">保存</a></span>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('li.last', 'click', function(event) {
			$(".filter").animate({"left":"0"}, 500);
		}).delegate('.filterBx .header i', 'click', function(event) {
			$(".filter").animate({"left":"100%"}, 500);
		}).delegate('.filterBx .models1 dd a', 'click', function(event) {
			var _this = $(this);
			var id = _this.attr('brand-id');
			$.post('__CONTROLLER__/loadModel', {'id':id}, function (d) {
				var data = $.parseJSON(d);
				console.log(data)
				if(data == 'null' || !data){
					alert('网络错误！请重试！');
					return false;
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						if(data[a]['on']){
							html += '<a class="on" model-id="'+data[a]['id']+'">'+data[a]['pro_name']+'</a>';
						}else{
							html += '<a model-id="'+data[a]['id']+'">'+data[a]['pro_name']+'</a>';
						}
					}
					$('.models2 dd').empty();
					$('.models2 dd').append(html);
					_this.addClass('on').siblings().removeClass('on');
				}
			});
		}).delegate('.filterBx .models2 dd a', 'click', function(event) {
			var _this = $(this);
			if(_this.hasClass('on')){
				_this.removeClass('on');
			}else{
				_this.addClass('on');
			}
		}).delegate('.filterBx .conser a','click',function(){             // 点击确定按钮
			var ok = confirm('确定更新此设置吗?');
			if(ok == false){
				return false;
			}
			var brand = $('.models1').find('a.on').attr('brand-id');
			var model = new Array();
			var i = 0;
			$(".models2 dd a").each(function(){
				var _class = $(this).attr('class');
				if(_class == 'on'){
					model[i] = $(this).attr('model-id');
					i++;
				}
			}); 
			$.post('__CONTROLLER__/saveModel', {'brand':brand, 'model':model}, function (d) {
				if(d > 0){
					var url = "__APP__/system/reset";
					var typeId  = "<{$type}>";
					if(typeId > 0){
						url += "/type/"+typeId;
					}
					var brandId = "<{$brand}>";
					if(brandId > 0){
						url += "/brand/"+brandId;
					}
					var modelId  = "<{$model}>";
					if(modelId > 0){
						url += "/model/"+modelId;
					}
					window.location.href=url+".html";
				}else{
					return false;
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->