<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-rtest.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>订单详细</h1>
	</header>
	<div class="con">
		<div class="print ddd">
			<div class="order_news mod_news">
				<h2>订单详情</h2>
				<p class="clearfix"><strong class="f_left">订单编号：</strong><span class="f_left"><{$order.order_sn}></span></p>
				<p class="clearfix"><strong class="f_left">下单时间：</strong><span class="f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></span></p>
				<p class="clearfix"><strong class="f_left">联系人：</strong><span class="f_left"><{$order.reciver_user}> <{$order.reciver_phone}></span></p>
				<p class="clearfix"><strong class="f_left">收件地址：</strong><span class="f_left"><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span></p>
			</div>
			<div class="fault_news mod_news clearfix">
				<h2>故障信息</h2>
				<div class="clearfix">
					<p class="clearfix f_left w50"><strong class="f_left">类型：</strong><span class="f_left"><{$order.type}></span></p>
					<p class="clearfix f_left w50"><strong class="f_left">品牌：</strong><span class="f_left"><{$order.brand}></span></p>
				</div>
				<div class="clearfix">
					<p class="clearfix f_left w50"><strong class="f_left">型号：</strong><span class="f_left"><{$order.model}></span></p>
					<p class="clearfix f_left w50"><strong class="f_left">颜色：</strong><span class="f_left"><{$order.color_name}></span></p>
				</div>
				<p class="clearfix"><strong class="f_left">维修方式：</strong><span style="padding-left: 66px;" class="f_left"><if condition="$order['order_type'] eq 1">到店维修<else />上门维修</if></span></p>
				<p class="clearfix"><strong class="f_left">故障：</strong><span class="f_left"><{$order.fault}></span></p>
				<p class="clearfix"><strong class="f_left">备注：</strong><span class="f_left"><eq name="order.remarks" value="">无<else /><{$order.remarks}></eq></span></p>
				<if condition="$order['relation_ids'] eq ''">
				<p class="clearfix master-change-price"><strong class="f_left">价格：</strong><span class="f_left"><em><{$order.deail_price}></em>元</span></p>
				</if>
			</div>
		</div>
		<div class="master_news <if condition="$order['relation_ids'] eq ''">dn</if> mod_news clearfix">
			<h2>维修店检测故障信息</h2>
			<div class="new-fault-news-content">
				<if condition="$order['again_plan_name'] neq ''">
				<p class="clearfix"><strong class="f_left">故障：</strong><span id="testDetial" class="f_left"><{$order.again_plan_name}></span></p>
				</if>
				<p class="clearfix"><strong class="f_left">备注：</strong><span id="testRemark" class="f_left"><if condition="$order['shop_remarks'] eq ''">空<else /><{$order.shop_remarks}></if></span></p>
				<p class="clearfix master-change-price"><strong class="f_left">价格：</strong><span id="testPrice" class="f_left"><em><{$order.new_price}></em>元</span></p>
			</div>
		</div>
		<if condition="$order['server_way'] eq 3">
		<div class="fllow_news clearfix">
			<h2>物流信息</h2>
			<div class="outorin clearfix">
				<span class="current">寄出</span>
				<span>寄回</span>
			</div>
			<div class="fllow_news_detial">
				<div class="fllow_news1 fllow-mod current clearfix">
					<notempty name="order.shipping">
					<ul class="son">
						<foreach name="order.shipping" item="v">
						<li>
							<div><strong>【<{$v['time']}>】</strong><{$v.context}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</notempty>
					<div class="Open">展开</div>
				</div>
				<div class="fllow_news2 fllow-mod clearfix">
					<notempty name="order.return">
					<ul class="son">
						<foreach name="order.return" item="v">
						<li>
							<div><strong>【<{$v['time']}>】</strong><{$v.context}></div>
							<span class="circle_step"></span>
						</li>
						</foreach>
					</ul>
					</notempty>
					<div class="Open">展开</div>
				</div>
			</div>
		</div>
		</if>
		<div class="bottom" id="masterOperation">
			<div class="title clearfix">
				<p>重新评估</p>
			</div>
			<div class="newSelect">
				<div class="addone">
					<div class="rope clearfix copy">
						<select name="fault" class="fault">
							<option value="0">请选择维修故障</option>
							<foreach name="relationRes" item="vo">
							<neq name="vo.plan_name" value="依检测结果">
							<option value="<{$vo.id}>"><{$vo.fault_name}>-<{$vo.plan_name}></option>
							</neq>
							</foreach>
						</select>
					</div>
				</div>
				<div class="rope remarks">
					<textarea name="remarks" id="masterRemark" maxlength="255" placeholder="维修师自行填写检测结果，并自行根据维修故障调整价格！维修价格请参照网站的维修查询"></textarea>
				</div>
				<div class="rope clearfix">
					<p class="money fl">维修价格：<input type="phone" id="Price" name="money">元</p>
					<input type="hidden" name="order_id" value="<{$order.id}>" />
					<input type="hidden" name="color_id" value="<{$order.color_id}>" />
					<button type="button" id="saveNews" class="fl submit">保存</button>
				</div>
			</div>
		</div>
		<div class="btn-groups">
			<if condition="$order['order_status'] eq 1">
			<a class="test" id="reTest" href="javascript:;"> 重新评估 </a>
			<a class="completely" href="javascript:;" id="completely"> 完成维修 </a>
			</if>
			<div class="select_pay_style">
				<div class="title"><strong>选择支付方式</strong></div>
				<div class="pay"><a class="wx" target="_blank" href="<{:U('Wxpay/native', array('trade_no'=>$order['order_sn']))}>"><img src="__PUBLIC__/Mobile/images/wx_03.png">微信支付</a></div>
				<div class="pay"><a class="zfb" target="_blank" href="<{:U('Alipay/qrcode', array('trade_no'=>$order['order_sn']))}>"><img src="__PUBLIC__/Mobile/images/zfb_03.png">支付宝支付</a></div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	    // 物流
		$(".fllow_news1 ul li").eq(0).css("display","block");
		$(".fllow_news1 ul li").eq(1).css("display","block");
		$(".fllow_news2 ul li").eq(0).css("display","block");
		$(".fllow_news2 ul li").eq(1).css("display","block");
		if($(".fllow_news1 ul li").length <= 2){
		    $(".fllow_news1 .Open").hide();
		}else{
		    $(".fllow_news1 .Open").show();
		}
		if($(".fllow_news2 ul li").length <= 2){
		    $(".fllow_news2 .Open").hide();
		}else{
		    $(".fllow_news2 .Open").show();
		}
		$(".fllow-mod .Open").click(function(){
		   var _this = $(this);
		   if(_this.html() == "展开"){
			   _this.siblings("ul").find("li").css("display","block");	
			   _this.html("收起");
		   }else if(_this.html() == "收起"){
				_this.siblings("ul").find("li").css("display","none");
				$(".fllow_news1 ul li").eq(0).css("display","block");
				$(".fllow_news1 ul li").eq(1).css("display","block");
				$(".fllow_news2 ul li").eq(0).css("display","block");
				$(".fllow_news2 ul li").eq(1).css("display","block");
			   _this.html("展开");				   
		   } 	   
		});
	    $(".outorin span").click(function(event) {
			$(this).addClass('current').siblings().removeClass('current');
			var myindex = $(this).index();
			$(".fllow_news_detial .fllow-mod:eq("+myindex+")").addClass('current').siblings().removeClass('current');
	    });
		
		// 保存维修师检测信息
		$("#saveNews").click(function(){
			var _this   = $(this);
			var oid     = $('input[name=order_id]').val();
			var fault   = $('select[name=fault]').val();
			var opt     =  $(".fault option:selected").text();
			var money   = $('input[name=money]').val();
			var remarks = $('textarea[name=remarks]').val();
			if (money == 0 || money == ''){
                alert('请填写维修价格');
                return false;
            }
			$.post('__CONTROLLER__/updateServer', {'fault':fault,"oid":oid,"money":money,"remarks":remarks}, function (d){
				if(d > 0){
					_this.parents("#masterOperation").slideUp(300);
					$("#testDetial").html(opt);
					$("#testRemark").html(remarks);
					$("#testPrice em").html(money);
					$(".fault_news .master-change-price").hide();
					$(".master_news").show();
				}else{
					alert('保存失败');
				}
			});
		});
		
		// 选择故障
		$(".addone select.fault").on("change",function(){
			var oid = $('input[name=order_id]').val();
			var cid = $('input[name=color_id]').val();
			var fault = $('select[name=fault]').val();
			$.post('__CONTROLLER__/updateServerMoney', {'fault':fault,"oid":oid,"cid":cid}, function (d){
				if(d > 0){
					$('input[name=money]').val(d);
				}
			});
		});
		
		// 完成维修
		$("#completely").click(function(){
		     $(this).siblings(".select_pay_style").toggle(300);
		});
		
		// 重新评估
		$("#reTest").click(function(){
		    $("#masterOperation").slideToggle(300);
			setTimeout(function(){
			    var win_hei = $(window).height();
				var doc_hei = $(document).height();
				$('html,body').animate({scrollTop:doc_hei-win_hei}, 300)
			},300)
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->




