<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/system-security.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<h1><div class="return"><span>&#xe61d;</span></div>保障卡订单</h1>
	</header>
	<div class="con">
		<div class="con1">
			<div class="detial">
				<span class="top">维修故障详情</span>
				<div class="middle">
					<div class="middle_top">
						<p>
							<strong>订单编号：</strong>
							<span><{$order.order_sn}></span>
						</p>
						<p>
							<strong>维修设备：</strong>
							<span><{$order.type}> <{$order.brand}> <{$order.model}> <{$order.color_name}></span>
						</p>
						<p>
							<strong>维修故障：</strong>
							<span><{$order.fault}></span>
						</p>
						<p>
							<strong>维修方案：</strong>
							<span><{$order.plan}></span>
						</p>
					</div>
					<p class="remark">
						备注：<eq name="order.remarks" value="">无<else /><{$order.remarks}></eq>
					</p>
					<p class="price">
						<span>维修金额：<em><{$order.deail_price}></em>元</span>
					</p>
				</div>
			</div>
		</div>
		<div class="bottom">
			<form id="repair" action="<{:U('System/doSecurity')}>" method="post">
				<div class="rope clearfix">
					<div class="img clearfix">
						<p class="tit">维修前手机与身份证信息照片</p>
						<div class="file clearfix">
							<label class="Ifile" for="upload_file">上传<input type="file" name="upload_file1" id="upload_file1" /></label>
							<input type="hidden" name="upload1" id="upload1" />
						</div>
						<div><img id="upload_img1" src="__PUBLIC__/Plugins/1.png" /></div>
						<div class="example"><p>示例&gt;&gt;</p><img src="__PUBLIC__/Mobile/images/example1.jpg" /></div>
					</div>
					<div class="img clearfix">
						<p class="tit">保险订单信息照片</p>
						<div class="file clearfix">
							<label class="Ifile"  for="upload_file">上传<input type="file" name="upload_file2" id="upload_file2" /></label>
							<input type="hidden" name="upload2" id="upload2" />
						</div>
						<div><img id="upload_img2" src="__PUBLIC__/Plugins/1.png" /></div>
						<div class="example"><p>示例&gt;&gt;</p><img src="__PUBLIC__/Mobile/images/example2.jpg" /></div>
					</div>
					<input type="hidden" name="id" value="<{$Think.get.id}>" />
					<button type="submit" class="fl submit">提交</button>
				</div>
			</form>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 维修前手机与身份证信息照片
		$("#upload_file1").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('#upload_img1').attr('src',src).show();
					$('#upload1').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持！');
				}
			});
		});
		
		// 保险订单信息照片
		$("#upload_file2").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('#upload_img2').attr('src',src).show();
					$('#upload2').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持！');
				}
			});
		});
		$("#repair").on("click",".example p",function(){
			$(this).siblings().toggle(500);
		}).on("click",".example img",function(){
			$(this).toggle(500);
		})
	</script>
</block>
<!-- 底部JS执行区域 结束 -->








