<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<style type="text/css">
		.con{
			overflow: hidden;
			text-align:center;
		}
		.head_pic {
			margin-top: 10px;
			background-color: #fff;
			height: 66px;
			line-height: 66px;
			padding:0 10px;
		}
		.con .tips{
			text-align:center;
			height:52px;
			line-height:52px;
			font-size:14px;
			color:#707070;
			width:100%;
		}
		.con span {
			color: #898989;
		}
		.head_pic span {
			float: left;
		}
		.head_pic .right {
			float: right;
			height: 66px;
		}
		.head_pic .right img {
			border-radius: 50%;
			width: 55px;
			margin: 6px 0 6px 0;
		}
		.news_pic {
			margin-top: 10px;
		}
		.news_pic .right {
			float: right;
		}
		.news_pic ul li {
			height: 40px;
			padding:0 10px;
			width: 100%;
			background-color: #fff;
			line-height: 40px;
			border-bottom: 1px solid #f3f3f3;
			box-sizing:border-box;
		}
		.news_pic ul li strong {
			color: #313131;
		}
		.news_pic span {
			float: left;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>专属客服</h1>
    </header>
	<div class="con">
		<empty name="service">
			<div class="tips">您还没有专属客服!</div>
		<else />
	    <div class="head_pic clearfix">
			<span>头像</span>
			<div class="right">
				<img src="__PUBLIC__/User/thumb/<{$service.thumbnail}>" />
			</div>
	    </div> 
	    <div class="news_pic clearfix">
		    <ul>
				<li class="clearfix">
					<span>编号：</span>
					<div class="right">
						<strong><{$service.username}></strong>
					</div>
			   </li>
			   <li class="clearfix">
					<span>姓名：</span>
					<div class="right">
						<strong><{$service.true_name}></strong>
					</div> 
			   </li>
			   <li class="clearfix">
					<span>电话：</span>
					<div class="right">
					  <strong><{$service.phone}></strong>
					</div> 
			   </li>
			   <li class="clearfix">
					<span>QQ：</span>
					<div class="right">
					  <strong><{$service.qq}></strong>
					</div> 
			   </li>
			   <li class="clearfix">
					<span>邮箱：</span>
					<div class="right">
					  <strong><{$service.email}></strong>
					</div> 
			   </li>
		    </ul>
	    </div> 
		</empty>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->