<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">内容管理</a> 
    </div>
    <h1 style="margin-top:10px;">单页管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <div class="add-adv">
		  <a href="__CONTROLLER__/add" class="btn btn-info"><b>添加单页</b></a>
		</div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
				  <div class="widget-title"> <span class="icon">
					<input type="checkbox" id="title-checkbox" name="title-checkbox" />
					</span>
					<h5>单页文章列表</h5>
				  </div>
				  <div class="widget-content nopadding">
					<form action="__CONTROLLER__/batchDeleteUsers" method="post">
					<table class="table table-bordered table-striped with-check">
						<thead>
							<tr>
								<th><i class="icon-resize-vertical"></i></th>
								<th style="width:5%;">编号</th>
								<th style="width:10%;">单页名称</th>
								<th>单页标识</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<foreach name="archives" item="arch">
								<tr>
									<td><input type="checkbox" name="uids[]" value="<{$arch.id}>"/></td>
									<td class="text-center"><{$arch.id}></td>
									<td class="text-center">
										<{$arch.title}>
									</td>
									<td>
										<{$arch.symbol}>
									</td>
									<td class="text-center" style="width:150px;">
										<a href="__CONTROLLER__/edit/id/<{$arch.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
										<a href="__CONTROLLER__/delete/id/<{$arch.id}>/symbol/<{$arch.symbol}>" title="删除" class="btn btn-danger btn-mini"> <i class="icon-minus-sign"></i> </a>
									</td>
								</tr>
							</foreach>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="9">
								  <div class="pagination alternate text-right">
								  <input type="submit" class="btn btn-primary pull-left" onclick="return confirm('您确定执行删除操作吗？')" value="批量删除">
									  <{$page}>
								  </div>
								</td>
							</tr>
						</tfoot>
					</table>
					</form>
				  </div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
