<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/user-activity.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="javascript:;">&#xe617;</a></div>
	<h1>动态</h1>
</header>
<div class="content">
	<section class="activity_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li class="mt6bgcf">
				<div class="conArea">
					<b>@<{$vo.uname}></b>
					<i>
						<eq name="vo.act" value="-5">取消投票</eq>
						<eq name="vo.act" value="-4">取消采纳</eq>
						<eq name="vo.act" value="-3">删除评论</eq>
						<eq name="vo.act" value="-2">删除回复</eq>
						<eq name="vo.act" value="-1">删除主题</eq>
						<eq name="vo.act" value="1">发布主题</eq>
						<eq name="vo.act" value="2">回复主题</eq>
						<eq name="vo.act" value="3">写评论</eq>
						<eq name="vo.act" value="4">采纳答案</eq>
						<eq name="vo.act" value="5">投票</eq>
					</i>
					<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.subject}></a>”</strong>
				</div>
				<div class="profit clearfix">
					<span>经验值<eq name="vo.category" value="1">+<else />-</eq><{$vo.exp}></span>
					<gt name="vo.virtual" value="0">
					<span class="cbd">草包豆<eq name="vo.category" value="1">+<else />-</eq><{$vo.virtual}></span>
					</gt>
					<span class="bdn"><{$vo.dateline|CBWTimeFormat='m.d'}></span>
				</div>
			</li>
			</foreach>
		</ul>
	</section>
</div>
<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.activity_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 8;
			var id  = "<{$id}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreActivity',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'id':id },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li class="mt6bgcf">';
							html += '	<div class="conArea">';
							html += '		<b>@'+ data[a]['uname'] +'</b>';
							html += '		<i>';
							if(data[a]['act'] == -5){
								html += '		取消投票';
							}else if(data[a]['act'] == -4){
								html += '		取消采纳';
							}else if(data[a]['act'] == -3){
								html += '		删除评论';
							}else if(data[a]['act'] == -2){
								html += '		删除回复';
							}else if(data[a]['act'] == -1){
								html += '		删除主题';
							}else if(data[a]['act'] == 1){
								html += '		发布主题';
							}else if(data[a]['act'] == 2){
								html += '		回复主题';
							}else if(data[a]['act'] == 3){
								html += '		写评论';
							}else if(data[a]['act'] == 4){
								html += '		采纳答案';
							}else if(data[a]['act'] == 5){
								html += '		投票';
							}
							html += '		</i>';
							html += '		<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html">'+ data[a]['subject'] +'</a>”</strong>';
							html += '	</div>';
							html += '	<div class="profit clearfix">';
							if(data[a]['category'] == 1){
								html += '	<span>经验值+'+ data[a]['exp'] +'</span>';
							}else{
								html += '	<span>经验值-'+ data[a]['exp'] +'</span>';
							}
							if(data[a]['virtual'] > 0){
								html += '	<span class="cbd">草包豆+'+ data[a]['virtual'] +'</span>';
							}
							html += '		<span class="bdn">'+ data[a]['dateline'] +'</span>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->