<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/user-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="javascript:;">&#xe617;</a></div>
	<h1>个人中心</h1>
</header>
<div class="content">
	<section class="userArea">
		<div class="usernews">
			<div class="imgArea">
				<a href="<if condition="($id eq $userId) AND ($userId gt 0)"><{$CBW_URL}>/users/avatar.html<else />#</if>">
					<img alt="<{$user.uname}>" src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
				</a>
			</div>
			<div class="textArea">
				<a href="<if condition="($id eq $userId) AND ($userId gt 0)"><{$CBW_URL}>/users/edit.html<else />#</if>">
					<h2><{$user.uname}><img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$user.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($user['exp'],'name')}>" width="32" title="<{:CBWExpLevel($user['exp'],'name')}>"/></h2>
					<p><{$user.city_addr}></p>
				</a>
			</div>
		</div>
		<div class="userdata">
			<ul class="clearfix">
				<li class="fl">
					<a href="#">
						<span class="num"><{$user.virtual_money}></span>
						<span class="tit">草包豆</span>
					</a>
				</li>
				<li class="fl">
					<a href="#">
						<span class="num"><{$user.exp}></span>
						<span class="tit">经验值</span>
					</a>
				</li>
				<li class="fl">
					<a href="#">
						<span class="num"><{$user.adopt}></span>
						<span class="tit">赞同</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="person_intouduce mt6bgcf">
		<article>
			<strong>个人简介：</strong><p><{$user.signature}></p>
		</article>
	</section>
	<nav class="mt6bgcf">
		<ul>
			<li>
				<a href="<{$CBW_URL}>/users/question/id/<{$user.id}>.html" class="clearfix">
					<div class="fl">提问</div>
					<div class="fr"><span class="num"><{$user.question}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			<li>
				<a href="<{$CBW_URL}>/users/post/id/<{$user.id}>.html" class="clearfix">
					<div class="fl">回答</div>
					<div class="fr"><span class="num"><{$user.post}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			<li>
				<a href="<{$CBW_URL}>/users/share/id/<{$user.id}>.html" class="clearfix">
					<div class="fl">分享</div>
					<div class="fr"><span class="num"><{$user.share}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			<if condition="($id eq $userId)">
			<li>
				<a href="<{$CBW_URL}>/users/collect.html" class="clearfix">
					<div class="fl">收藏</div>
					<div class="fr"><span class="num"><{$user.collect}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			<li>
				<a href="<{$CBW_URL}>/users/activity.html" class="clearfix">
					<div class="fl">动态</div>
					<div class="fr"><span class="num"><{$user.activity}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			<li>
				<a href="<{$CBW_URL}>/users/notice.html" class="clearfix">
					<div class="fl">消息</div>
					<div class="fr"><span class="num"><{$user.notice}></span><span class="go">&#xe600;</span></div>
				</a>
			</li>
			</if>
		</ul>
	</nav>
	<if condition="($id eq $userId) AND ($userId gt 0)">
	<section class="logout"><a rel="nofollow" href="javascript:void(0);">退出</a></section>
	</if>
</div>
<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->