<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/login.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="javascript:;">&#xe617;</a></div>
	<h1>登录</h1>
</header>
<div class="content">
	<div class="hd">
		<!--<ul class="clearfix">
			<li class="on" data-id="0">动态密码登录</li>
			<li data-id="1">账号登录</li>
		</ul>-->
	</div>
	<div class="bd">
		<div class="tab">
			<div class="accounts"><input type="text" name="username" placeholder="请输入您的手机号码"/></div>
			<div class="password"><input type="password" name="password" placeholder="请输入密码"/></div>
			<!--<div class="code">
				<input type="text" name="code" placeholder="请输入验证码"/><span class="codesend">点击获取</span>
			</div>--> 
			<div class="tips"></div>
			<div class="rope">
				<button type="button" class="login">登录</button>
			</div>
			<div class="rope">
				<span class="acc">
					<a class="fgtWd" href="<{:C('MOBILE_URL')}>/users/forget.html">忘记密码？</a>
				</span>
				<span class="mobile">
					<if condition="($agent neq 1)">
					<a id="web" class="reg" href="<{:C('MOBILE_URL')}>/users/regist.html">新会员注册</a>
					<else />
					<a id="web" class="reg" href="<{:U('Users/login',array('type'=>'weixin'))}>">新会员注册</a>
					</if>
					<a id="app" class="reg" href="#" onclick="WxLogin()">新会员注册</a>
				</span>
			</div>
			<div class="login_extinfo">
				<dl>
					<dt class="optbar"><span class="tit">合作网站账号登录</span></dt>
					<dd>
						<ul class="api_login clearfix">
							<li id="web"><a href="<{:U('Users/login',array('type'=>'weixin'))}>" class="api-wechat" title="微信授权登录"><span></span></a></li>
							<li id="app"><a href="#" onclick="WxLogin()" class="api-wechat" title="微信APP登录"><span></span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/YdbOnline.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(document).ready(function(){
			var ua = navigator.userAgent;    // 获取当前的useragent
			if (ua.indexOf('CK 2.0') > -1){  // 判断当前的ua中是否包含"CK 2.0"，如果包含"CK 2.0"标识当前在CK 2.0的应用中
				$(".mobile #web, .login_extinfo #web").hide();
				$(".mobile #app, .login_extinfo #app").show();
			}else{
				$(".mobile #web, .login_extinfo #web").show();
				$(".mobile #app, .login_extinfo #app").hide();
			}
		});
		
		function WxLogin() {
            var YDB = new YDBOBJ();
            YDB.WXLogin(1, "<{$CBW_URL}>/users/appwechatlogin.html");
        }
		
		$('.content').delegate('.hd ul li','click',function(){    // 登录类型切换
            var _this = $(this);
            if(_this.hasClass('on')){return false;}
            var id = _this.attr('data-id');
            _this.addClass('on').siblings('li').removeClass('on');
            if(id == 0){
                $('div.password').hide();
                $('div.code').show();
				$('input[name=loginname]').attr('placeholder','请输入您的手机号码');
            }else if(id == 1){
                $('div.password').show();
                $('div.code').hide();
				$('input[name=loginname]').attr('placeholder','请输入邮箱或者手机号');
            }
        }).delegate('.codesend','click',function(){  // 发送短信验证码
			var _this = $(this);
			if(_this.hasClass('disabled')){return false;}
			var mobile = $.trim($('input[name=loginname]').val());
			var mobileReg = !!mobile.match(/^(13[0-9]{2}|15[012356789][0-9]|17[678][0-9]|170[059]|18[0-9]{2}|14[57][0-9])[0-9]{7}$/);
			if(!mobileReg){
				$('.tips').text("请检查您的手机号码格式是否正确").show();
				return false;
			}
			_this.text('发送中...');
			var time = parseInt(90);
			var statue = true;
			$.post("__CONTROLLER__/sendSms", {'mobile': mobile, 'tempid': 'public', 'ischeck':1}, function(d){
				var data = JSON.parse(d);
				if (data['status'] > 0){//发送成功
					$('.tips').text("短信验证码第"+data['status']+"次成功发送，8小时内有效");
					_this.prop('disabled', true).addClass('disabled');
					statue = true;
				} else{
					$('.tips').text(data['msg']);
					statue = false;
				}
				if(statue == false){
					_this.text('获取短信');
					return false;
				}else{
					var t = setInterval(function(){
						time--;
						_this.text('已发送(' + time + ')');
						if (time == 0) {
							clearInterval(t);
							_this.text("重新获取");
							_this.prop('disabled', false).removeClass('disabled');
							$('.tips').empty();
						}
					}, 1000);
				}
			});
		}).delegate('.login','click',function(){     // 登录
            //var type = $('.hd').find('li.on').attr('data-id');
            var type = 1;
			var username = $.trim($('input[name=username]').val());
			var password  = $.trim($('input[name=password]').val());
			var code = $.trim($('input[name=code]').val());
			
			if(type == "0"){
				if(username=="" || code==""){
					$(".tips").html("登录账号及验证码不能为空").show();
					return false;
				}
			}else{
				if(username=="" || password==""){
					$(".tips").html("登录账号及密码不能为空").show();
					return false;
				}
			}
			$.post('__CONTROLLER__/dologin',{'type':type,'username':username,'password':password,'code':code},function(d){
				var data = JSON.parse(d);
				if(data.status == -6){
					$(".tips").html("登陆失败，验证码错误").show();
				}else if(data.status == -5){
					$(".tips").html("登陆失败，验证码超时").show();
				}else if(data.status == -4){
					$(".tips").html("登陆失败，账号或密码错误").show();
				}else if(data.status == -3){
					$(".tips").html("登陆失败，账号被锁").show();
				}else if(data.status == -2){
					$(".tips").html("非法请求!").show();
				}else if(data.status == -1){
					$(".tips").html("未知错误,请联系客服").show();
				}else if(data.status == 0){
					if(data['failed']>=7){
						$(".tips").html("连续7次登录失败,账号被上锁").show();
					}else{
						$('.tips').html('账号或密码错误,剩余'+(7-data['failed'])+'次机会').show();
					}
				}else{
					location.href="<{$CBW_URL}>/user.html";
				}
			});
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->