/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-24 16:00:56
*/
.content{
    margin-top: 6px;
    overflow:hidden;
    padding: 0 10px;
	background-color: #fff;
}
.content input{
    width: 100%;
    height:35px;
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
	box-shadow:none !important;
	background:#fff;
	font-size:14px;
}
.content .accounts,.content .password{
    position: relative;
    margin-top: 15px;
}
.content .hd{
    margin:0 0 10px 0;
}
.content .hd ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    border:1px solid #dfdfdf;
    overflow:visible;
    height:38px;
    margin-top: 15px;
}
.content .hd li{
    display:inline-block;
    width:45%;
    line-height:2.4;
    font-size:16px;
    color: #535353;
}
.content .hd li:first-child{
    border-right: 1px solid #dfdfdf;
}
.content .hd li.on{
    color: #40bb8c;
}
.content .bd .tab .rope button{
    width:100%;
    display:block;
    height:35px;
    margin-bottom: 10px;
    line-height: 35px;
    font-family: "微软雅黑";
    font-size: 14px;
    color:#fff;
    border-radius: 5px;
    background-color: #3ebb8d;
    text-align: center;
    color: #fff;
}
.rope .acc{
    float:left;
}
.rope .acc label{
    display:inline-block;
}
.rope a{
    display:inline-block;
    padding:0 5px;
    color:#f60;
    color:#f60;
}
.rope .mobile{
    float:right;
}
.content .tips{
    text-align:left;
    color:#f60;
    line-height:20px;
    margin-bottom:10px;
}
.content .code{
    margin-top: 15px;
    position: relative;
}
.content .code input{
    width: 42%;
}
.content .code span{
    width: 45%;
    height:37px;
    background-color: #3ebb8d;
    color: #fff;
    text-align: center;
    line-height:37px;
    display: inline-block;
    border-radius: 5px;
    float: right;
}
/* 合作伙伴登录 */
.login_extinfo {
    width: 100%;
    margin: 50px auto 0;
    padding: 35px 0 20px 0;
}
.login_extinfo .optbar {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: -15px 0 25px;
    zoom: 1;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}
.login_extinfo .optbar .tit {
    position: absolute;
    left: 50%;
    top: 10px;
    margin: 0 0 0 -60px;
    background: #fff;
    width: 120px;
    height: 20px;
    line-height: 20px;
    text-align: center;
	color:#535353;
}
.api_login {
    width: 100%;
	text-align:center;
    margin: 0 auto;
    zoom: 1;
}
.api_login li {
    width: 90px;
    height: 70px;
    overflow: hidden;
    zoom: 1;
	display: inline-block;
}
.api_login li a {
    width: 90px;
    height: 70px;
	padding:10px 20px;
	display: inline-block;
}
.api_login li a span{
	display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../../images/mobile/login-ico.png) -5px -56px no-repeat;
    background-size: 241px
}
.api_login li a:active{
	background-color:#eee;
}




























