<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/user-notice.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="javascript:;">&#xe617;</a></div>
	<h1>消息</h1>
	<div class="delete"><a href="javascript:;">&#xe614;</a></div>
</header>
<div class="content">
	<section class="notice_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li data-id="<{$vo.id}>" class="mt6bgcf clearfix <if condition="$vo['status'] eq 0">unread</if>">
				<div class="notice-content">
					<p class="author">
						@<{$vo.uname}>
						<eq name="vo.act" value="1"><i>回复了</i></eq>
						<eq name="vo.act" value="2"><i>评论了</i></eq>
						<eq name="vo.act" value="3"><i>采纳了</i></eq>
						<eq name="vo.act" value="4"><i>取消采纳</i></eq>
						<eq name="vo.act" value="5"><i>投票了</i></eq>
						<eq name="vo.act" value="6"><i>取消投票</i></eq>
						<lt name="vo.act" value="7">
							<eq name="vo.status" value="1">
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
							<else />
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
							</eq>
						</lt>
						<eq name="vo.act" value="7">
							<eq name="vo.category" value="0"><i>主题</i></eq>
							<eq name="vo.category" value="1"><i>回复</i></eq>
							<eq name="vo.status" value="1">
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
							<else />
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
							</eq>
							<i>通过审核</i>
						</eq>
						<eq name="vo.act" value="8">
							<eq name="vo.category" value="0"><i>主题</i></eq>
							<eq name="vo.category" value="1"><i>回复</i></eq>
							<eq name="vo.status" value="1">
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
							<else />
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
							</eq>
							<i>不通过审核</i>
						</eq>
					</p>
					<div class="pdz clearfix">
						<span class="bdn"><{$vo.dateline|CBWTimeFormat='m.d'}></span>
					</div>
				</div>
				<div class="notice-check" id="check">
					<span><em>&#xe63b;</em></span>
				</div>
			</li>
			</foreach>
		</ul>
	</section>
</div>
<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.notice_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 15;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreNotice',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							var liclass = "";
							if(data[a]['status'] == 0){
								liclass = " unread";
							}
							html += '<li data-id="'+ data[a]['id'] +'" class="mt6bgcf clearfix'+ liclass +'">';
							html += '	<div class="notice-content">';
							html += '		<p class="author">@'+ data[a]['uname'];
							if(data[a]['act'] == 1){
								html += '		<i>回复了</i>';
							}else if(data[a]['act'] == 2){
								html += '		<i>评论了</i>';
							}else if(data[a]['act'] == 3){
								html += '		<i>采纳了</i>';
							}else if(data[a]['act'] == 4){
								html += '		<i>取消采纳</i>';
							}else if(data[a]['act'] == 5){
								html += '		<i>投票了</i>';
							}else if(data[a]['act'] == 6){
								html += '		<i>取消投票</i>';
							}

							if(data[a]['act'] < 7){
								if(data[a]['status'] == 1){
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html">'+ data[a]['content'] +'</a>”</strong>';
								}else{
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html?nid='+ data[a]['id'] +'">'+ data[a]['content'] +'</a>”</strong>';
								}
							}
							
							if(data[a]['act'] == 7){
								if(data[a]['category'] == 0){
									html += '	<i>主题</i>';
								}
								if(data[a]['category'] == 1){
									html += '	<i>回复</i>';
								}								
								if(data[a]['status'] == 1){
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html">'+ data[a]['content'] +'</a>”</strong>';
								}else{
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html?nid='+ data[a]['id'] +'">'+ data[a]['content'] +'</a>”</strong>';
								}
								html += '		<i>通过审核</i>';
							}
							
							if(data[a]['act'] == 8){
								if(data[a]['category'] == 0){
									html += '	<i>主题</i>';
								}
								if(data[a]['category'] == 1){
									html += '	<i>回复</i>';
								}								
								if(data[a]['status'] == 1){
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html">'+ data[a]['content'] +'</a>”</strong>';
								}else{
									html += '	<strong>“<a href="<{$CBW_URL}>/view/'+ data[a]['tid'] +'.html?nid='+ data[a]['id'] +'">'+ data[a]['content'] +'</a>”</strong>';
								}
								html += '		<i>不通过审核</i>';
							}
							html += '		</p>';
							html += '		<div class="pdz clearfix">';
							html += '			<span class="bdn">'+ data[a]['dateline'] +'</span>';
							html += '		</div>';
							html += '	</div>';
							html += '	<div class="notice-check" id="check">';
							html += '		<span><em>&#xe63b;</em></span>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		};
		// 删除选择
		var notices = [];
		$(document).on("click",".notice_list ul li .notice-check",function(){
			$(this).parent("li").toggleClass("current");
			var id = $(this).parent("li").attr("data-id")
			if($(this).parent("li").hasClass("current")){
				notices.push(id);
			}else if(!$(this).parent("li").hasClass("current")){
				notices.shift(id);
			}
		});
		// 删除消息
		$(".delete").click(function(){
			if(!confirm('您确定要删除选中消息吗？')){
				return false;
			}
			$.post('__CONTROLLER__/batchDelNotice', {'notices':notices}, function(d){
				if(d){
					$(".notice_list ul li.current").remove();
				}
			});
		});
		
	</script>
</block>
<!-- 底部JS执行区域 结束 -->











