<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/mobile/user-share.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header>
	<div class="return"><a href="javascript:;">&#xe617;</a></div>
	<h1>分享</h1>
</header>
<div class="content">
	<section class="ques_list">
		<ul class="list">
			<foreach name="data" item="vo">
			<li class="mt6bgcf">
				<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h2>
				<div class="pdz clearfix">
					<span class="pn"><{$vo.replies}> 回答</span>
					<span><{$vo.votes}> 评分</span>
					<span><{$vo.favtimes}> 收藏</span>
					<span class="bdn"><{$vo.dateline|CBWTimeFormat='m.d'}></span>
				</div>
			</li>
			</foreach>
		</ul>
	</section>
</div>
<!-- 菜单部分 开始 -->
<{:W('System/menu')}>
<!-- 菜单部分 结束 -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.ques_list').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajaxData(me,counter);
			}
		});
		
		function ajaxData(me, counter){
			var num = 8;
			var id  = "<{$id}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreShare',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'id':id },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li class="mt6bgcf">';
							html += '	<h2><a href="<{$CBW_URL}>/view/'+ data[a]['id'] +'.html">'+ data[a]['subject'] +'</a></h2>';
							html += '	<div class="pdz clearfix">';
							html += '		<span class="pn">'+ data[a]['replies'] +' 回答</span>';
							html += '		<span>'+ data[a]['votes'] +' 评分</span>';
							html += '		<span>'+ data[a]['favtimes'] +' 收藏</span>';
							html += '		<span class="bdn">'+ data[a]['dateline'] +'</span>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->