@charset "UTF-8";
*{ margin:0; padding:0;}
ul,ol{ list-style:none;}
.section{
	position: relative;
	padding:0 10px;
}
.img{
	position: absolute;
}
.img img{
	width: 100%;
	height: auto;
}
.tit{
	left: 50%;
	top:40px;
	margin-left: -144px;
	width: 288px;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	animation-delay: 0s;
}
.tit1{
	width: 273px;
	margin-left: -136.5px;
	display: none;
}
.tit2{
	display: none;
}
.tit3{
	width: 288px;
	margin-left: -144px;
	display: none;
}
.section1 .middle{
	top:30%;
	width: 100%;
	right:0;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.section1 .bottom{
	bottom:39px;
	width: 272px;
	height:115px;
	left:50%;
	margin-left: -136px;
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
}
.section2 .middle{
	top:99px;
	width: 302px;
	z-index: 2;
	left: 50%;
	margin-left: -151px;
	height:auto;
	display: none;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.section2 .bottom{
	width: 158px;
	height: auto;
	display: none;
	right: 0;
	bottom: -28px;
	-moz-animation-delay: 1.0s;
	-webkit-animation-delay: 1.0s;
	animation-delay: 1.0s;
}
.section3 .middle{
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
	z-index: 2;
	display: none;
}
.section3 .ship{
	bottom: 46%;
	left: 36px;
	z-index: 1;
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
	display: none;
}
.section3 .circle{
	bottom: 166px;
	left: 50%;
	width: 298px;
	height: auto;
	margin-left: -149px;
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
	z-index: 2;
	display: none;
}
.section3 .demand{
	bottom: 30px;
	left: 50%;
	width: 258px;
	height: auto;
	margin-left: -129px;
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
	display: none;
	z-index: 2;
}
.section4 .intruduction{
	bottom:100px;
	width: 304px;
	height: auto;
	left:50%;
	margin-left: -152px;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
	z-index: 1;
	display: none;
}
.section4 .buttonbg{
	bottom:36px;
	width: 100%;
	opacity:0.5;
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
	z-index: 2;
	left:0;
	height: 80px;
	display: none;
}
.section4 .button{
	color: #66c371;
	position: absolute;
	top:50%;
	margin-top:3px;
	font-family: "微软雅黑";
	left:50%;
	margin-left:-110px;
	border:0;
	font-size: 18px;
	width: 220px;
	height: 40px;
	border-radius: 8px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-animation: bs linear 2s 0.5s infinite;
	-moz-animation: bs linear 2s 0.5s infinite;
	animation: bs linear 2s 0.5s infinite;
}
.controlmusic{
	width:30px;
	height:30px;
	background-image: url(../images/music.png);
	background-size: contain;
	position: fixed;
	right:10px;
	top:10px;
	-webkit-animation: go 1.2s linear infinite;
	-moz-animation: go 1.2s linear infinite;
	animation: go 1.2s linear infinite;
}
.rotate{
	-webkit-animation: go 1.2s linear;
	-moz-animation: go 1.2s linear;
	animation: go 1.2s linear;
}
@-webkit-keyframes go{
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}

}
@-moz-keyframes go{
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}

}
@-o-keyframes go{
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}

}
@keyframes go{
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}

}
@-webkit-keyframes bs {
	  0% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		25% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  50% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		75% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  100% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
}
@-moz-keyframes bs {
	  0% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		25% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  50% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		75% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  100% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
}
@-o-keyframes bs {
	  0% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		25% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  50% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		75% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  100% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
}
@keyframes bs {
	  0% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		25% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  50% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
		75% {
		box-shadow:0 0 60px 0 #1affff;
	  }
	  100% {
		box-shadow:0 0 0px 0 #b2ff1a;
	  }
}
.up-allow{
	position: fixed;
	bottom: 10px;
	left:50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
	background:  url(../images/allow.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-animation: start 1.5s infinite ease-in-out;
	-moz-animation: start 1.5s infinite ease-in-out;
	animation: start 1.5s infinite ease-in-out;
}
@-webkit-keyframes start{
	from{
		bottom:10px;
		opacity:1;
	}
	to{
		bottom:50px;
		opacity:0;
	}

}
@-moz-keyframes start{
	from{
		bottom:10px;
		opacity:1;
	}
	to{
		bottom:50px;
		opacity:0;
	}

}
@-o-keyframes start{
	from{
		bottom:10px;
		opacity:1;
	}
	to{
		bottom:50px;
		opacity:0;
	}

}
@keyframes start{
	from{
		bottom:10px;
		opacity:1;
	}
	to{
		bottom:50px;
		opacity:0;
	}

}
