<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/content.css"/>
</block>
<!--js-->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.pin.js"></script>
</block>

<!--main-->
<block name="publicBody">
	<div class="content">
		<dl class="clearfix siteUrl">
			<dt>首页</dt>
			<dd><em></em>帮助中心</dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>帮助中心</p>
					</div>
					<foreach name="articleRes" item="res">
					<dl class="clearfix <eq name='article.cat_id' value='$res.id'>on</eq>">
						<dt><{$res.cat_name}><em></em></dt>
						<dd>
						<foreach name="res.list" item="list">
						<p class="posR <eq name='article.id' value='$list.id'>on</eq>"><i class="posA">&nbsp;</i><a href="<{$CBW_URL}>/article/<{$list[id]}>.html" <eq name='article.id' value='$list.id'>rel="nofollow"</eq>><{$list.title}></a></p>
						</foreach>
						</dd>
					</dl>
					</foreach>
				</div>
			</div>
			<div class="contBx">
				<div class="cont detail">
					<h1><{$article.title}></h1>
					<div class="otherInfo">
						<p>发布时间：<span><{$article.create_time|date="Y-m-d H:i:s",###}></span></p>
						<p>点击：<span><{$article.clicktimes}>次</span></p>
					</div>
					<{$article.content|htmlspecialchars_decode}>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script>
	$('.listNav').delegate('dt','click',function(){
		$(this).parent('dl').addClass('on').siblings('dl').removeClass('on').find('dd').slideUp(250);
		$(this).siblings('dd').slideDown(250,function(){
			getPinHeight();
		});
	})
	$(function(){
		$('.listNav dl').each(function(){
			if($(this).hasClass('on') == true){
				$(this).find('dd').slideDown(250,function(){
					getPinHeight();
				}); 
			}
		})
	})
	function getPinHeight(){
		$('.listNav .pinedBx').pin({containerSelector:'.bdCont'});
	}
	</script>
</block>
