<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/repair.css" />
    <style>
        div.fblocks {
            margin:0 auto; 
            width: 80%; 
            height:100px; 
            background:#fff;
        }
        .blocks {
            width:150px; 
            height:98px; 
            border:1px dashed #ccc;
            text-align:center;
            line-height:98px;
            font-size:50px;
            cursor:pointer;
            display:block;
            float:left;
            margin:0 5px;
        }
        .blocks h4 {
            font-size:30px;
            color:#555;
            line-height:60px;
            margin:0;
            padding:0;
        }
        .blocks small {
            font-size:25px;
            line-height:40px;
            color:red;
            margin:0;
            padding:0;
        }
        .upadv-show {
            width:100px; 
            height:100px;
            margin:5px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">编辑设备</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
        <div class="span12">
            <form action="__CONTROLLER__/doRepairEdit" id="editPro" method="post">
                <input type="hidden" name="id" value="<{$Think.get.id}>">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">通用属性</a></li>
                            <li><a data-toggle="tab" href="#tab2">设备特征</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
						<!-- 选项卡一开始 -->
                        <div id="tab1" class="tab-pane active">
                            <div class="form-horizontal">
								<div class="control-group">
                                    <label class="control-label">设备类别：</label>
                                    <div class="controls">
                                        <select name="type_id" id="type_id" style="width:150px;">
											<option value=""></option>
                                            <foreach name="type_cats" item="cats">
                                                <option value="<{$cats.id}>" <eq name="pro.type_id" value="$cats.id">selected = "selected"</eq>><{$cats.cat_name}></option>
                                            </foreach>
                                        </select>
										<select name="brand_id" id="brand_id" style="width:150px;">
											<option value=""></option>
                                            <foreach name="brand_cats" item="cats">
                                                <option value="<{$cats.id}>" <eq name="pro.brand_id" value="$cats.id">selected = "selected"</eq>><{$cats.cat_name}></option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">设备名称：</label>
                                    <div class="controls">
                                        <input type="text" class="span5" value="<{$pro.pro_name}>" name="pro_name" placeholder="产品名称">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">最小回收价格：</label>
                                    <div class="controls">
                                        <input type="text" class="span5" value="<{$pro.min_price}>" name="min_price" placeholder="0.00">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">最大回收价格：</label>
                                    <div class="controls">
                                        <input type="text" class="span5" value="<{$pro.max_price}>" name="max_price" placeholder="0.00">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">关键字：</label>
                                    <div class="controls">
                                        <input type="text" name="keywords" value="<{$pro.keywords}>" class="span5" placeholder="关键字">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">描述：</label>
                                    <div class="controls">
                                        <textarea class="span5" name="description" placeholder="产品相关描述"><{$pro.description}></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">上传缩略图：</label>
                                    <div class="controls">
                                        <input id="file_upload" type="file" multiple="true" name="file_upload" />
										<div id="imgs"><img width="200px" <eq name="pro.list_image" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/thumb/<{$pro.list_image}>"</eq>></div>
										<input type="hidden" name="org_list_image" value="<{$pro.list_image}>">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">上架</label>
                                    <div class="controls">
                                        <label><input type="radio" value="1" <eq name="pro.is_on_sale" value="1">checked</eq> name="is_on_sale" /> 是
											   <input type="radio" value="0" <eq name="pro.is_on_sale" value="0">checked</eq> name="is_on_sale" />否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 选项卡一结束 -->
						<!-- 选项卡二开始 -->
                        <div id="tab2" class="tab-pane">
                            <div class="form-horizontal">
								<div class="control-group">
                                    <textarea name="feacher" id="feacher" style="width:100%; height:350px;"><{$pro.feacher}></textarea>
                                </div>
                            </div>
							<div id="coor"><input type='hidden' name='coor' value='<{$pro.coor}>'></div>
                        </div>
                        <!-- 选项卡二结束 -->
                    </div>
                </div>
                <div style="padding-top:20px; padding-bottom:20px; text-align:center;">
                    <button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 保存商品信息 </button>
                    <a type="submit" href="__CONTROLLER__/repairList" class="btn btn-default btn-large"> 返回商品列表 </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </form> -->
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/excanvas.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.resize.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/fullcalendar.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.dashboard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.gritter.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.chat.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.wizard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>--> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> --> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
    <script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
		// 编辑器
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#feacher', {
                    resizeType : 1,
                    uploadJson : '__PUBLIC__/editor/php/upload_feacher_json.php'
                });
        });
		
        var img = '';
        $('#file_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("Repair/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '列表图片',
                'onUploadSuccess' : function(file, data, response) {
                
                img = "<img width='200px' src='__PUBLIC__/Repair/thumb/"+data+"'><input type='hidden' name='list_image' value='"+data+"'>";
                $('#imgs').html(img);
            }
        });

		// 产品类别,产品change提交
		$('#type_id').change(function(){
			var proid = $(this).children('option:selected').val();
			if(proid){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeProductSelect', {'id': proid}, function (d) {
					if(d){
						$('#brand_id').empty();
						$('#cat_id').empty();
						$("#brand_id").append('<option></option>'+d);
					}else{
						$('#brand_id').empty();
						$('#cat_id').empty();
					}
                });
			}
		});	
		
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
