<extend name="Public:same" />
<block name="cssFile">
	<link href="__PUBLIC__/Home/css/mb.zoomify.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/Home/css/product-detail.css" rel="stylesheet" type="text/css">
	
</block>
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/mb.zoomify.js"></script>
</block>
<block name="publicBody">
<!--商品的详情-->
<dl class="clearfix siteUrl wrapsp">
	<dt><a href="<{$CBW_URL}>">首页</a></dt>
	<dd><em></em> <a href="<{$CBW_URL}>/product/">草包商城</a></dd>
	<eq name="data.classify_id" value="5">
		<dd><em></em> <a href="<{$CBW_URL}>/product/">内配</a></dd>
	<else />
		<dd><em></em> <a href="<{$CBW_URL}>/product/<{$data.classify_id}>.html">外配</a></dd>
	</eq>
	<neq name="data.type_id" value="0">
	<dd><em></em> <a href="<{$CBW_URL}>/product/<{$data.classify_id}>_<{$data.type_id}>.html"><{$data.type_name}></a></dd>
	</neq>
	<neq name="data.brand_id" value="0">
	<dd><em></em> <a href="<{$CBW_URL}>/product/<{$data.classify_id}>_<{$data.type_id}>_<{$data.brand_id}>.html"><{$data.brand_name}></a></dd>
	</neq>
	<neq name="data.cat_id" value="0">
	<dd><em></em> <a href="<{$CBW_URL}>/product/<{$data.classify_id}>_<{$data.type_id}>_<{$data.brand_id}>_<{$data.cat_id}>.html"><{$data.cat_name}></a></dd>
	</neq>
	<dd><em></em> <{$data.pro_name}></dd>
</dl>
<div class="clearfix wrapsp">
	<!-- 详情开始 -->
	<div class="top clearfix">
		<div class="bigleft">
			<div class="left">
				<div class="goods"></div>
				<div class="down">
					<span class="leftarrow"></span>
					<span class="rightarrow"></span>
					<div class="spec-items" style="position: absolute;width: 490px;height: 62px;overflow: hidden; margin:0 62px;">
						<ul class="thumbs clearfix">
							<foreach name="data.album" key="key" item="vo">
								<li <eq name='key' value='0'>class="current first"</eq>><img src="__PUBLIC__/Product/images/thumb_img/<{$vo.images}>" onmouseover="change_img('<{$vo.images}>')" /></li>
							</foreach>				
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="bigright clearfix">
			<div class="pro_attr">
				<h1 style="font-weight:normal; margin:0;">
					<{$data.pro_name}>
				</h1>
				<div class="price">
					<span class="word">
						<if condition="($Think.session.user.groupid eq 1) AND ($Think.session.user.vip eq 0) AND ($data.shop_id eq 0)">
							批发价
						<elseif  condition="($Think.session.user.vip eq 1) AND ($data.shop_id eq 0)"/>
							成本价
						<else />
							零售价
						</if>
					</span>
					<span class="money"><{$data.price}></span><em> 元</em>
					<if condition="($Think.session.user.groupid eq 1) AND ($Think.session.user.vip eq 0) AND ($data.four_price gt 0) AND ($data.shop_id eq 0)">
					<span class="batch">批量≥5 <em>￥<{$data.four_price}></em></span>
					</if>
				</div>
				<eq name="data.is_buy" value="1">
				<div class="oldscreen">
					<strong style="font-weight:normal;">旧屏回收：</strong><span class="change"><{$data.sale_money}></span>元 <a href="<{:U('Article/article',array('id'=>37))}>">了解详情?</a>
				</div>
				</eq>
				<foreach name="data.attrs" key="key" item="vo">
					<div class="attrs clearfix">
						<strong class="Fleft"><{$vo.attr_name}>:</strong>
						<ul class="clearfix Fright">
							<foreach name="vo.list" key="k" item="v">
							<li data-id="<{$v.id}>" <in name="v.id" value="$attrs">class="current"</in>><span><{$v.attr_value}></span></li>
							</foreach>
						</ul>
					</div>
				</foreach>
				
				<div class="number clearfix">
					<strong class="Fleft">数量:</strong>
					<select class="Fright" name="num" id="num">
						<option value="1">&nbsp;&nbsp;1</option>
						<option value="2">&nbsp;&nbsp;2</option>
						<option value="3">&nbsp;&nbsp;3</option>
						<option value="4">&nbsp;&nbsp;4</option>
						<option value="5">&nbsp;&nbsp;5</option>
						<option value="6">&nbsp;&nbsp;6</option>
						<option value="7">&nbsp;&nbsp;7</option>
						<option value="8">&nbsp;&nbsp;8</option>
						<option value="9">&nbsp;&nbsp;9</option>
						<option value="10">&nbsp;&nbsp;10</option>
					</select>
					<div class="clicktimes Fright">已有<span><{$data.click_times}></span>人关注</div>
				</div>
				<gt name="data.virtual_money" value="0">
				<div class="baodou">赠送草包豆：<span><img src="__PUBLIC__/Home/images/coins/virtual.png"/><{$data.virtual_money}></span> 个</div>
				</gt>
				<div class="servic">
					<ul class="clearfix">
						<eq name="data.is_quality" value="1"><li><img src="__PUBLIC__/Home/images/coins/quality.jpg"/>原厂品质</li></eq>
						<eq name="data.is_return" value="1"><li><img src="__PUBLIC__/Home/images/coins/return.jpg"/>7天退换货</li></eq>
						<eq name="data.warranty" value="1"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 15 天</li></eq>
						<eq name="data.warranty" value="2"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 1 个月</li></eq>
						<eq name="data.warranty" value="3"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 2 个月</li></eq>
						<eq name="data.warranty" value="4"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 3 个月</li></eq>
						<eq name="data.warranty" value="5"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 6 个月</li></eq>
						<eq name="data.warranty" value="6"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 12 个月</li></eq>
						<li>
							<img src="__PUBLIC__/Home/images/coins/shipping.jpg"/>
							<if condition="$data.is_shipping eq '1'">
								商品包邮
							<else />
								全场满99元包邮
							</if>
						</li>
					</ul>
				</div>
				<notempty name="video">
				<div class="video"><a href="<{$CBW_URL}>/video/<{$video['id']}>.html"><img src="__PUBLIC__/Home/images/coins/videoCoin.png"/>建议您观看最新视频后再选择购买！</a></div>
				</notempty>
				<div class="buys clearfix">
					<if condition="$data['is_on_sale'] eq 0">
						<button class="sale">已下架</button>
					<else />
						<if condition="$data['pro_stock'] gt 0">
							<eq name="data.is_card" value="0">
							<button class="join"><a href="javascript:;">加入购物车</a></button>
							</eq>
							<button class="buyer"><a href="javascript:;">立即购买</a></button>
						<else />
							<button class='nostock'>已售罄</button>
						</if>
					</if>
				</div>
				<div id="tip">成功加入购物车！</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<notempty name="links">
		<div class="need">
			<div class="snav clearfix">
				<h3>需要工具</h3>
			</div>
			<div class="tool clearfix">
				<div class="suits">
					<ul class="clearfix">
						<foreach name="links" key="key" item="vo">
						<li class="tool0<{$key+1}> clearfix toollst">
							<div class="img_Box">
								<a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" target="_blank">
									<img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" width="69" height="69"/>
								</a>
							</div>
							<div class="content_Box">
								<a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" target="_blank"><{$vo.pro_name}></a>
								<p><span class="eting"><{$vo.price}></span> 元</p>
								<button class="needcart" data-id="<{$vo.rid}>">添加到购物车</button>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
		</notempty>
		<div class="product-area clearfix">
			<div class="bottom-left-bar">
				<!-- 店铺信息及联系方式 -->
				<div class="contact-buyer">
					<if condition="$data['shop_id'] gt 0">
						<h4 class="clearfix"><em>店</em><strong><{$shop.shop_name}></strong></h4>
						<a class="contact-btn" href="tencent://message/?uin=<{$shop.qq}>&Site=caobao.com&Menu=yes" target="_blank"><i class="icon-QQ"></i>联系卖家</a>
						<div class="user_phone">电话:<{$shop.user_phone}></div>
					<else />
						<h4 class="clearfix"><em>店</em><strong>深圳市草包网络科技有限公司<span class="self-sale">自营</span></strong></h4>
						<a class="contact-btn open_kefu" href="javascript:;"><i class="icon-office"></i>联系卖家</a>
					</if>
				</div>
				<!-- 顾客还购买了 -->
				<div class="buy">
					<h2 style="font-weight:normal;">顾客还购买了</h2>
					<div class="buy-content">
						<ul>
							<foreach name="buyRes" item="vo">
							<if condition="$vo['id'] neq 722">
							<li>
								<div class="img_Box">
									<a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" target="_blank" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" /></a>
								</div>
								<div class="content_Box">
									<a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" target="_blank" title="<{$vo.pro_name}>">
										<h4 style="font-weight:normal;"><{$vo.pro_name}></h4>
										<p><span><{$vo.price}></span> 元</p>
									</a>
								</div>
							</li>
							</if>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
			<!-- 商品信息 -->
			<div class="proandeva">
				<!-- 导航 -->
				<div class="snav clearfix">
					<h3 class="current pro">产品信息<em class="sanjiao"></em></h3>
					<h3 class="eva">评价 <span>（<{$commentLength}>）</span> <em class="sanjiao"></em></h3>
					<h3 class="server_h3">售后及物流<em class="sanjiao"></em></h3>
				</div>
				<!-- 商品详情 -->
				<div class="products">
					<notempty name="paramRes">
					<div class="describe clearfix">
						<h4>产品参数：</h4>
						<foreach name="paramRes" item="vo">
						<dl class="describe_content clearfix">
							<dt style="font-weight:normal;"><{$vo.param_title}>：</dt>
							<dd><{$vo.param_content}></dd>
						</dl>
						</foreach>
					</div>
					</notempty>
					<div class="describe-content"><{$data.feacher|htmlspecialchars_decode}></div>
				</div>
				<!-- 商品评价 -->
				<div class="evaluate">
					<empty name="commentsRes">
					<div class="eva_null">该商品暂无相关评论!</div>
					<else />
					<div class="eva_list">
						<ul>
							<foreach name="commentsRes" item="vo">
							<li class="clearfix">
								<div class="scal_left">
									<p><img src="__PUBLIC__/Home/images/2016/<if condition="$vo.score eq 1">good<elseif condition="$vo.score eq 2"/>middle<else />low</if>.png" />
									<span><if condition="$vo.score eq 1">好评<elseif condition="$vo.score eq 2"/>中评<else />差评</if></span></p>
									<time><{$vo.comment_time|date="m.d",###}></time>
								</div>
								<div class="content_Box clearfix">
									<div class="content_right"><{$vo.content}></div>
									<div class="pro_news"><span class="attr">属性：<{$vo.attr}></span><span>数量：<{$vo.number}></span></div>
									<notempty name="vo.replies.content">
									<div class="reply">
										[回复]<{$vo.replies.content}>
									</div>
									</notempty>
								</div>
								<div class="user_Box clearfix">
									<img src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
									<div class="right">
										<p class="username"><{$vo.uname}></p>
										<neq name="vo.city" value="">
										<p><{$vo.city}></p>
										</neq>
									</div>
								</div>
							</li>
							</foreach>
						</ul>
					</div>
					<!-- 分页 -->
					<div class="tcdPageCode"></div>
					</empty>
				</div>
				<!-- 商品售后 -->
				<div class="server">
					<div class="guarantee">
						<div class="guarantee_one"><span class="server_icon"></span>拒绝劣质产品</div>
						<div class="guarantee_two"><span class="server_icon"></span>只售优品</div>
					</div>
					<div class="dlitem">
						<dl>
							<dt>草包网承诺：</dt>
							<dd>自签收日起  15日内未拆包装可退换货，运费由买家承担。因品质问题，经我司检测情况属实可全额退款或换货，运费由我司承担。</dd>
							<dd style="margin-top:10px;">所售配件均经过严格检测，经过长期精心挑选行业最优品质，方可上架出售。也许外观成色和同行业相似，但我们更注重内在品质和服务。</dd>
						</dl>
						<dl>
							<dt>签收须知：</dt>
							<dd>       凡手机等产品须当面签字签收，如发现货不对版，配件缺失，外观磨损等问题，请拒绝签收，并立即与我们联系，签收后再出现类似情况由客户自理。</dd>
						</dl>
					</div>
					<div class="dlitem shopping">
						<dl>
							<dt>物流发货规则如下：</dt>
							<dd>1、商城购物订单手机类产品付款时起48小时内发货，正常情况当日下午18点之前成交的订单，由草包网19点之前发出。18点以后付款订单于次日下午19点之前发出。（部分大法定节假日相应延后）</dd>
							<dd>2、维修订单苹果系列配件充足，非主板故障当天收到，当天修好发货，及个别偏门品牌配件需从原厂调货2-3天内发货，发货统一时间当日18点到19点。</dd>
							<dd>4、满99元包邮普通快递，如需发顺丰请补运费差价，非LCD显示屏类产品，草包网默认为普通物流，以申通，圆通，中通为主，高价值产品默认顺丰物流。</dd>
							<dd>5、因各物流公司的配送服务区域经常更新，因此可能存在以上快递不支持用户收货地址区域的配送的情况，此类情形下客服将与用户沟通转发事宜。</dd>
						</dl>
					</div>
					<div class="server_tip">
						<dl>
							<dt>温馨提示：</dt>
							<dd>如遇交通管制、大雨雪、洪涝、冰灾、地震、节假日、停电及其他不可抗力因素等特殊情况，派送时间均会有所延长，请您谅解</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Home/page-js/product-detial.js"></script>
	<script src="__PUBLIC__/Plugins/jquery.page.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		var _PUBLIC_     = "__PUBLIC__";
        var _CONTROLLER_ = "__CONTROLLER__";
		var _PROID_      = "<{$data.id}>";
		var _RELID_      = "<{$data.rid}>";
		/*
		* 分页
		*/
		$(".tcdPageCode").createPage({
			pageCount:"<{$pageCount}>",
			current:1,
			backFn:function(p){
				page_comments(p);
			}
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->














