<extend name="Public:product" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href ="__PUBLIC__/Home/css/product-index.css"/>
</block>
<!--js-->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
</block>

<!--main-->
<block name="publicBody">
<div class="con">
	<!-- 分类，banner -->
	<div class="pro_main_nav">
		<ul class="clearfix wrap">
			<li class="all_cli pro_main_nav_li current">
				<!-- 快速导航 -->
				<a class="pro_main_nav_li_a" href="#">商品分类</a>
				<div id="cb_classify">
					<ul class="sort_list">
						<li>
							<div class="sort_div">
								<strong><a href="#">内配</a></strong><em></em>
								<volist name="insidecat" id="vo"  >
								<if condition="$i lt 8">
								<a href="<{$CBW_URL}>/product/5_2_<{$vo.id}>.html"><{$vo.cat_name}></a>
								</if>
								</volist>
							</div>
						</li>
						<li>
							<div class="sort_div">
								<strong><a href="#">外配</a></strong><em></em>
								<foreach name="outsidecat" item="vo">
								<a href="<{$CBW_URL}>/product/6_<{$vo.id}>.html"><{$vo.cat_name}></a>
								</foreach>
							</div>
						</li>
						<li>
							<div class="sort_div">
								<strong><a href="#">工具</a></strong><em></em>
								<foreach name="toolcat" item="vo">
								<a href="<{$CBW_URL}>/product/9_<{$vo.id}>.html"><{$vo.cat_name}></a>
								</foreach>
							</div>
						</li>
					</ul>
					<div class="JS_popCtn" style="display:none;">
						<foreach name="category" key="key" item="cate">
						<div class="cate_item clearfix" style="display:none;">
							<if condition="($cate['id'] eq 5) OR ($cate['id'] eq 8)">
							<div class="classify_brand">
								<foreach name="cate.category" item="vo">
								<div class="phone">
									<h2><a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>.html" title="<{$vo.cat_name}>"><{$vo.cat_name}></a></h2>
									<notempty name="vo.category">
									<ul class="clearfix">
										<foreach name="vo.category" item="v">
										<li>
											<a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>_<{$v.id}>.html" title="<{$v.cat_name}>">
												<img src="__PUBLIC__/Product/icon/<{$v.icon_image}>" alt="<{$v.cat_name}>" />
												<span><{$v.cat_name}></span>
											</a>
										</li>
										</foreach>
									</ul>
									</notempty>
								</div>
								</foreach>
							</div>
							<else />
							<div class="classify_brand">
								<h2><{$cate.cat_name}></h2>
								<ul class="clearfix">
									<foreach name="cate.category" item="vo">
									<li>
										<a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>.html" title="<{$vo.cat_name}>">
											<img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" />
											<span><{$vo.cat_name}></span>
										</a>
									</li>
									</foreach>
								</ul>
							</div>
							</if>
							<div class="adver">
								<foreach name="cateadvs" item="vo">
								<a href="<{$vo.link_url}>"><img src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" /></a>
								</foreach>
							</div>
						</div>
						</foreach>
					</div>
				</div>
			</li>
			<li class="pro_main_nav_li"><a class="pro_main_nav_li_a" href="<{$CBW_URL}>/product/5.html">内配</a></li>
			<li class="pro_main_nav_li"><a class="pro_main_nav_li_a" href="<{$CBW_URL}>/product/6.html">外配</a></li>
			<li class="pro_main_nav_li"><a class="pro_main_nav_li_a" href="<{$CBW_URL}>/product/9.html">工具</a></li>
		</ul>
	</div>
	<div id="toparea" class="clearfix">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<foreach name="banners" item="vo">
					<li></li>
					</foreach>
				</ul>
			</div>
			<div class="bd">
				<ul style="margin:0 auto;">
					<foreach name="banners" item="vo">
					<li><a href="<{$vo.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" alt="<{$vo.adv_name}>"/></a></li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<!-- 新品推荐 -->
	<div id="new_product" class="common wrap">
		<div class="recommend_hd">
			<ul class="clearfix">
				<li class="current">新品推荐</li>
				<li>热销商品</li>
			</ul>
		</div>
		<ul class="new_product_lst current clearfix">
			<foreach name="news" item="vo">
			<li>
				<div class="tit">
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a>
					<p class="price">￥<{$vo.price}></p>
				</div>
				<div class="pic">
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>"/></a>
				</div>
			</li>
			</foreach>
		</ul>
		<ul class="new_product_lst clearfix">
			<foreach name="hots" item="vo">
			<li>
				<div class="tit">
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a>
					<p class="price">￥<{$vo.price}></p>
				</div>
				<div class="pic">
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>"/></a>
				</div>
			</li>
			</foreach>
		</ul>
	</div>
	<!-- 广告 -->
	<!--<div class="pro_sm_banner wrap"><a href="<{$baradv.link_url}>" title="<{$baradv.adv_name}>"><img src="__PUBLIC__/Imgadv/<{$baradv.thumbnail}>" title="<{$baradv.adv_name}>"  alt="<{$baradv.adv_name}>"/></a>-->
	<!-- 内配 -->
	<div id="Internal" class="common wrap">
		<div class="floor_tit clearfix">
			<h2>
				<a href="<{$CBW_URL}>/product/5.html" title="显示屏,电池"><span class="bar_h2"></span>内配</a>
			</h2>
			<div class="more">
				<foreach name="insidecat" item="vo">
				<a href="<{$CBW_URL}>/product/5_2_<{$vo.id}>.html"><{$vo.cat_name}></a>
				</foreach>
				<a class="more_a" href="<{$CBW_URL}>/product/5.html" title="显示屏,电池">更多<em class="arrow_icon"></em></a>
			</div>
		</div>
		<div class="clearfix common_con">
			<div class="recommend">
				<div class="recommend_top">
					<div class="pic">
						<a href="<{$insideadv1.link_url}>" target="_blank"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Imgadv/<{$insideadv1.thumbnail}>" title="<{$insideadv1.adv_name}>"  alt="<{$insideadv1.adv_name}>"/></a>
					</div>
				</div>
				<div class="recommend_btm">
					<div class="pic">
						<a href="<{$insideadv2.link_url}>" target="_blank"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Imgadv/<{$insideadv2.thumbnail}>" title="<{$insideadv2.adv_name}>"  alt="<{$insideadv2.adv_name}>"/></a>
					</div>
				</div>
			</div>
			<div class="figure_hot clearfix">
				<div class="figure_left">
					<ul class="clearfix">
						<li class="main bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$insides[0]['rid']}>.html" title="<{$insides[0]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[0]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[0]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[0]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$insides[1]['rid']}>.html" title="<{$insides[1]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[1]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[1]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[1]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$insides[2]['rid']}>.html" title="<{$insides[2]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[2]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[2]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[2]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$insides[3]['rid']}>.html" title="<{$insides[3]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[3]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[3]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[3]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$insides[4]['rid']}>.html" title="<{$insides[4]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[4]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[4]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[4]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="figure_right">
					<ul>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$insides[5]['rid']}>.html" title="<{$insides[5]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[5]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[5]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[5]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$insides[6]['rid']}>.html" title="<{$insides[6]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[6]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[6]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[6]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$insides[7]['rid']}>.html" title="<{$insides[7]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[7]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[7]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[7]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight">
							<a href="<{$CBW_URL}>/detail/<{$insides[8]['rid']}>.html" title="<{$insides[8]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$insides[8]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$insides[8]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$insides[8]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 外配 -->
	<div id="External" class="common wrap">
		<div class="floor_tit clearfix">
			<h2>
				<a href="<{$CBW_URL}>/product/6.html" title="保护壳,数据线"><span class="bar_h2"></span>外配</a>
			</h2>
			<div class="more">
				<foreach name="outsidecat" item="vo">
				<a href="<{$CBW_URL}>/product/6_<{$vo.id}>.html"><{$vo.cat_name}></a>
				</foreach>
				<a class="more_a" href="<{$CBW_URL}>/product/6.html" title="保护壳,数据线"><em class="arrow_icon"></em>更多</a>
			</div>
		</div>
		<div class="clearfix common_con">
			<div class="recommend">
				<div class="recommend_top">
					<div class="pic">
						<a href="<{$outsideadv1.link_url}>" target="_blank"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Imgadv/<{$outsideadv1.thumbnail}>" title="<{$outsideadv1.adv_name}>"  alt="<{$outsideadv1.adv_name}>"/></a>
					</div>
				</div>
				<div class="recommend_btm">
					<div class="pic">
						<a href="<{$outsideadv2.link_url}>" target="_blank"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Imgadv/<{$outsideadv2.thumbnail}>" title="<{$outsideadv2.adv_name}>"  alt="<{$outsideadv2.adv_name}>"/></a>
					</div>
				</div>
			</div>
			<div class="figure_hot clearfix">
				<div class="figure_left">
					<ul class="clearfix">
						<li class="main bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$outsides[0]['rid']}>.html" title="<{$outsides[0]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[0]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[0]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[0]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$outsides[1]['rid']}>.html" title="<{$outsides[1]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[1]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[1]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[1]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$outsides[2]['rid']}>.html" title="<{$outsides[2]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[2]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[2]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[2]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$outsides[3]['rid']}>.html" title="<{$outsides[3]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[3]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[3]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[3]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$outsides[4]['rid']}>.html" title="<{$outsides[4]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[4]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[4]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[4]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="figure_right">
					<ul>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$outsides[5]['rid']}>.html" title="<{$outsides[5]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[5]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[5]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[5]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$outsides[6]['rid']}>.html" title="<{$outsides[6]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[6]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[6]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[6]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$outsides[7]['rid']}>.html" title="<{$outsides[7]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[7]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[7]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[7]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight">
							<a href="<{$CBW_URL}>/detail/<{$outsides[8]['rid']}>.html" title="<{$outsides[8]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$outsides[8]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$outsides[8]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$outsides[8]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 工具 -->
	<div id="Tool" class="common wrap">
		<div class="floor_tit clearfix">
			<h2>
				<a href="<{$CBW_URL}>/product/9.html" title="维修工具"><span class="bar_h2"></span>工具</a>
			</h2>
			<div class="more">
				<foreach name="toolcat" item="vo">
				<a href="<{$CBW_URL}>/product/9_<{$vo.id}>.html"><{$vo.cat_name}></a>
				</foreach>
				<a class="more_a" href="<{$CBW_URL}>/product/9.html" title="维修工具">更多<em class="arrow_icon"></em></a>
			</div>
		</div>
		<div class="clearfix common_con">
			<div class="recommend">
				<div class="recommend_top">
					<div class="pic">
						<a href="<{$tooladv.link_url}>" target="_blank"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Imgadv/<{$tooladv.thumbnail}>" title="<{$tooladv.adv_name}>"  alt="<{$tooladv.adv_name}>"/></a>
					</div>
				</div>
				<div class="recommend_btm">
					<a href="<{$CBW_URL}>/detail/319.html">iphone6s 系列拆机工具包</a>
					<a href="<{$CBW_URL}>/detail/318.html">iphone/ipad系列拆机工具包</a>
				</div>
			</div>
			<div class="figure_hot clearfix">
				<div class="figure_left">
					<ul class="clearfix">
						<li class="main bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$tools[0]['rid']}>.html" title="<{$tools[0]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[0]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[0]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[0]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r bd_b">
							<a href="<{$CBW_URL}>/detail/<{$tools[1]['rid']}>.html" title="<{$tools[1]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[1]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[1]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[1]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$tools[2]['rid']}>.html" title="<{$tools[2]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[2]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[2]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[2]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$tools[3]['rid']}>.html" title="<{$tools[3]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[3]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[3]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[3]['price']}></p>
							</div>
							</a>
						</li>
						<li class="upDown bd_r">
							<a href="<{$CBW_URL}>/detail/<{$tools[4]['rid']}>.html" title="<{$tools[4]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[4]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[4]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[4]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="figure_right">
					<ul>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$tools[5]['rid']}>.html" title="<{$tools[5]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[5]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[5]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[5]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$tools[6]['rid']}>.html" title="<{$tools[6]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[6]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[6]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[6]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight bd_b">
							<a href="<{$CBW_URL}>/detail/<{$tools[7]['rid']}>.html" title="<{$tools[7]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[7]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[7]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[7]['price']}></p>
							</div>
							</a>
						</li>
						<li class="leftRight">
							<a href="<{$CBW_URL}>/detail/<{$tools[8]['rid']}>.html" title="<{$tools[8]['pro_name']}>">
							<img src="__PUBLIC__/Product/thumb/<{$tools[8]['list_image']}>" />
							<div class="txt">
								<p class="tit"><{$tools[8]['pro_name']}></p>
								<p class="money"><span class="sign">￥</span><{$tools[8]['price']}></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
<script type="text/javascript">
	//banner
	jQuery("#slideBox").slide({mainCell:".bd ul",effect:"fold"},3500);
	//图片懒加载
	$(function() {
		$("img").lazyload({
			placeholder : "images/loading.gif",
			effect: "fadeIn"
		});
	});
	$(".sort_list li").hover(function(){
          $(this).addClass("current");
		  var myindex = $(this).index();
		  $(".JS_popCtn").show();
		  $(".cate_item:eq("+myindex+")").show().siblings().hide();
	}, function(){
		$(this).removeClass("current");
	});
	$("#cb_classify").mouseleave(function(){
		$(".JS_popCtn").hide();
	});
	$(".recommend_hd li").on("mouseenter",function(){
		var _this = $(this)
		_this.addClass("current").siblings().removeClass("current");
		var myindex = _this.index();
		$("#new_product .new_product_lst").eq(myindex).addClass("current").siblings("ul").removeClass("current");
	});
	bannerAuto();
	$(window).on("resize",function(){
		bannerAuto();
	});
	function bannerAuto(){
		var slideBox = $("#slideBox"),
		    slideBoxImg = slideBox.find("ul li img");
		var screenWidth = document.body.clientWidth,
		    slideImgWidth = slideBoxImg.width();
		slideBox.width(screenWidth);
		if(screenWidth < slideImgWidth){
			slideBoxImg.css({'margin-left': (screenWidth - slideImgWidth)/2 +'px'});
		}
		
	};
</script>
</block>
