<extend name="Public:product" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href ="__PUBLIC__/Home/css/product-lists.css"/>
</block>
<!--js-->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
</block>

<!--main-->
<block name="publicBody">
<div class="con wrap">
	<dl class="clearfix siteUrl">
		<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
		<dd><em></em> <a href="<{$CBW_URL}>/product/" title="商城首页">商城首页</a></dd>
		<neq name="cname" value="">
		<dd><em></em><a href="<{$CBW_URL}>/product/<{$class}>.html" title="<{$cname}>"><{$cname}></a></dd>
		</neq>
		<neq name="tname" value="">
		<dd><em></em> <a href="<{$CBW_URL}>/product/<{$class}>_<{$type}>.html" title="<{$tname}>"><{$tname}></a></dd>
		</neq>
		<neq name="bname" value="">
		<dd><em></em> <a href="<{$CBW_URL}>/product/<{$class}>_<{$type}>_<{$brand}>.html" title="<{$bname}>"><{$bname}></a></dd>
		</neq>
		<neq name="mname" value="">
		<dd><em></em><{$mname}></dd>
		</neq>
	</dl>
	<div id="pro_content" class="clearfix">
		<!-- 产品分类 -->
		<div class="pro_classify">
			<ul class="level">
				<li class="levelitem <if condition="$type eq 2">open</if>">
					<h3 class="clearfix"><a href="<{$CBW_URL}>/product/5_2.html">手机内配</a><p><span></span></p></h3>
					<ul class="level2">
						<foreach name="mobiles" item="vo">
						<li <if condition="$vo.id eq $brand">class="current"</if>><a href="<{$CBW_URL}>/product/5_2_<{$vo.id}>.html"><{$vo.cat_name}></a></li>
						</foreach>
					</ul>
				</li>
				<li class="levelitem <if condition="$type eq 41">open</if>">
					<h3 class="clearfix"><a href="<{$CBW_URL}>/product/5_41.html">平板内配</a><p><span></span></p></h3>
					<ul class="level2">
						<foreach name="ipads" item="vo">
						<li <if condition="$vo.id eq $brand">class="current"</if>><a href="<{$CBW_URL}>/product/5_41_<{$vo.id}>.html"><{$vo.cat_name}></a></li>
						</foreach>
					</ul>
				</li>
				<li class="levelitem <if condition="$class eq 6">open</if>">
					<h3 class="clearfix"><a href="<{$CBW_URL}>/product/6.html">外配</a><p><span></span></p></h3>
					<ul class="level2">
						<foreach name="outsides" item="vo">
						<li <if condition="$vo.id eq $type">class="current"</if>><a href="<{$CBW_URL}>/product/6_<{$vo.id}>.html"><{$vo.cat_name}></a></li>
						</foreach>
					</ul>
				</li>
				<li class="levelitem <if condition="$class eq 9">open</if>">
					<h3 class="clearfix"><a href="<{$CBW_URL}>/product/9.html">工具</a><p><span></span></p></h3>
					<ul class="level2">
						<foreach name="tools" item="vo">
						<li <if condition="$vo.id eq $type">class="current"</if>><a href="<{$CBW_URL}>/product/9_<{$vo.id}>.html"><{$vo.cat_name}></a></li>
						</foreach>
					</ul>
				</li>
			</ul>
		</div>
		<!-- 产品筛选 -->
		<div class="pro_filter">
			<notempty name="models">
			<div class="models">
				<dl class="clearfix">
					<dt>型号：</dt>
					<foreach name="models" item="vo">
					<dd <if condition="$vo.id eq $model">class="current"</if>><a href="<{$CBW_URL}>/product/<{$class}>_<{$type}>_<{$brand}>_<{$vo.id}>.html"><{$vo.cat_name}></a></dd>
					</foreach>
				</dl>
			</div>
			</notempty>
			<div class="array">
				<ul class="clearfix">
					<li class="default <eq name="sort" value="default">current</eq>"><a href="javascript:void(0);">综合排序</a></li>
					<li class="new_pro <eq name="sort" value="new">current</eq>"><a href="javascript:void(0);">新品优先</a></li>
					<li class="price <if condition="$sort eq 'down'">current down<elseif condition="$sort eq 'up'"/>current up</if>"><a href="javascript:void(0);">价格<i></i></a></li>
					<li class="price_section">价格区间<input type="text" id="min" class="min" name="min" maxlength="5" value="<{$min|number_format=2,'.',''}>" placeholder="最小价格" />—<input type="text" id="max" class="max" name="max" maxlength="5" value="<{$max|number_format=2,'.',''}>" placeholder="最大价格" />元<span class="confirm ui-button">确定</span></li>
				</ul>
			</div>
			<!-- 产品列表 -->
			<div class="pro_lists">
				<ul class="clearfix">
					<foreach name="products" item="vo">
					<if condition="$vo['id'] neq 722">
					<li class="list_item">
						<div class="pic">
							<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>">
								<img src="http://www.caobao.com/Public/Home/images/product/lazy.jpg" data-original = "__PUBLIC__/Product/images/goods_img/<{$vo.images}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>"/>
							</a>
							<if condition="$vo.is_new eq 1">
								<div class="new"><span>新 品</span></div>
							<elseif condition="$vo.is_hot eq 1"/>
								<div class="hot"><span>热 销</span></div>
							</if>
							<if condition="$vo.is_shipping eq 1">
								<div class="shipping"><span>包 邮</span></div>
							</if>
						</div>
						<div class="cb-scroll scrolled">
							<span class="cb-prev cb-toggle" id="cbPrev"> &lt; </span>
							<span class="cb-next cb-toggle" id="cbNext"> &gt; </span>
							<div class="cb-wrap">
								<ul class="cb-main">
									<volist name="vo.attrs" id="v">
									<li class="<if condition="($i eq 1)">current</if> cb-main-item">
										<a href="javascript:;" data-id="<{$v.id}>" data-images="<{$v.images}>" data-price="<{$v.price}>">
											<img src="__PUBLIC__/Product/images/thumb_img/<{$v.images}>"/>
										</a>
									</li>
									</volist>
								</ul>
							</div>
						</div>
						<div class="tit">
							<p class="clearfix">
								<span class="nowPrice">￥<{$vo.price}></span>
							</p>
							<p class="prodName"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a></p>
						</div>
					</li>
					</if>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<div class="pageLink clearfix">
		<{$page}>
	</div>
</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
	<script type="text/javascript" >
		$(document).ready(function(){
			// 导航栏切换显示
			$("h3 p").click(function(event) {     
				var pLi = $(this).parents('li')
				pLi.toggleClass("open");
				if(pLi.hasClass("open")){
					pLi.siblings().removeClass("open");
				}
			});
			
			// 排序切换
			$(".array li:lt(3)").click(function(){       
				var _this = $(this);
				var _sort = "<{$sort}>";
				_this.addClass("current").siblings().removeClass("current");
				var sort = "";
				// 默认
				if(_this.hasClass("default")){
					sort = "default";
				}
				// 新品
				if(_this.hasClass("new_pro")){
					sort = "new";
				}
				// 价格
				if(_this.hasClass("price")){
					if(_sort == "up"){
						_this.addClass("down").removeClass("up");
						sort = "down";
					}else{
						_this.addClass("up").removeClass("down");
						sort = "up";
					}
				}
				if(sort){
					var data = [["sort", sort]];
					changeParam(data);	
				}
			});
			
			// 价格区间
			$("span.confirm").click(function(){       
				var _this = $(this);
				var min = $("#min").val();
				var max = $("#max").val();
				if(!min){min = 0;}
				if(max){
					var data = [["min", min], ["max", max]];
					changeParam(data);
				}
			});
			// 列表切换大图
			var num = 0;       // 定义初始数量
			var proNum = 4;    // 小图数量
			var proWidth = 42; // 小图宽度
			var liLength = 0;  // 产品小图数量
			var ulEle = null;  // 产品小图ul
			$(".pro_lists .list_item").mouseover(function(event){
				var _this = $(this);
				liLength = _this.find(".cb-wrap ul li").length;
				ulEle = _this.find(".cb-wrap ul");
				if(event.target.id == "cbPrev"){
					num = liLength - proNum;
				}else if(event.target.id == "cbNext"){
					num = 0;
				};
			});
			// 左右切换产品小图
			$(".cb-scroll span").click(function(){
				var _this = $(this);
				// 右箭头
				if(_this.hasClass("cb-next") == true){
					num++;
					if(num <= liLength - proNum){
						ulEle.animate({"left":-(num * proWidth)}, 150);
					}else{
						return num = liLength - proNum;
					}
				// 左箭头
				}else if(_this.hasClass("cb-prev") == true){
					num--;
					if(num >= 0){
						ulEle.animate({"left":-(num*proWidth)}, 150);
					}else{
						return num = 0;
					}
					
				}
			});
			// 切换产品中图
			$(".cb-main li").mouseover(function(){
				var _this = $(this);
				var goodImages = _this.find("a").attr("data-images"),
					goodID = _this.find("a").attr("data-id"),
					goodPrice = _this.find("a").attr("data-price");
				_this.parents(".cb-scroll").siblings(".pic").find("img").prop("src","/Public/Product/images/goods_img/"+goodImages+"");
				_this.parents(".cb-scroll").siblings(".pic").find("a").prop("href","<{$CBW_URL}>/detail/"+goodID+".html");
				_this.parents(".cb-scroll").siblings(".tit").find(".nowPrice").html("￥"+goodPrice);
				_this.addClass("current").siblings().removeClass("current");
			});	
			//图片懒加载
			$(function() {
				$("img").lazyload({
					placeholder : "images/loading.gif",
					effect: "fadeIn"
				});
			});
			// 遍历列表判断那个ul需要padding26
			$(".pro_lists .list_item").each(function(index){
				var eachItem = $(".pro_lists .list_item").eq(index)
				if(eachItem.find(".cb-wrap ul li").length >= 5){
					eachItem.children(".cb-scroll").find(".cb-toggle").show();
					eachItem.addClass("p26");
				}
			});
		});
	</script>
</block>










