<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/video-detail.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>视频详情<div class="share"><span>&#xe60a;</span></div></h1>
	</header>
	<div class="con">
		<div class="detial clearfix">
			<div id="youkuplayer" style="height:inherit;"></div>
			<script type="text/javascript" src="https://player.youku.com/jsapi">
				player = new YKU.Player('youkuplayer',{
					styleid: '0',
					client_id: 'ea1c9dc551dbddce',
					vid: '<{$video.weburl}>',
				});
			</script>
			<div class="content">
				<h2><{$video.title}></h2>
				<p><i class="look">&#xe601;</i><{$video.clicktimes}></p>
			</div>
		</div>
		<div class="video_idr">
			<h3>视频简介</h3>
			<p class="content"><{$video.content|htmlspecialchars_decode}></p>
			<p class="time">上传时间 <{$video.create_time|date="Y-m-d H:i",###}></p>
		</div>
		<div class="video_idr" style="margin-top:11px;">
			<h3>维修学院</h3>
			<p class="content">草包网联合加速度维修学院推出多项手机维修课程，符合指定条件学费可全额返还，详情可联系下方在线客服或直接添加微信：weixiuxueyuan 了解咨询</p>
		</div>
		<div class="video_relative">
			<h3>相关视频</h3>
			<ul class="clearfix">
				<foreach name="videoRes" item="vo">
				<li>
					<a href="<{$CBW_URL}>/video/<{$vo.id}>.html"><img src="__PUBLIC__/Video/<{$vo.simg}>" title="<{$vo.title}>" alt="<{$vo.title}>" /></a>
					<strong><a href="<{$CBW_URL}>/video/<{$vo.id}>.html"><{$vo.title}></a></strong>
				</li>
				</foreach>
			</ul>
		</div>
		<div class="pro_relative">
			<h3>相关商品</h3>
			<ul class="clearfix">
				<foreach name="productRes" item="vo">
				<if condition="$vo['id'] neq 722">
				<li class="clearfix">
					<a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html">
						<div class="left">
							<img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" title="<{$vo.pro_name}>" alt="<{$vo.pro_name}>" class="pro" />
						</div>
						<div class="right">
							<span><{$vo.pro_name}></span>
							<p> ￥<{$vo.pro_price}></p>
						</div>
					</a>
				</li>
				</if>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="sharesocil fixTop fullLayer z10">
		<div class="share-list fixBottom pct100">
			<div class="feature">
				<ul class="clearfix">
					<li>
						<a class="jiathis_button_qzone">
							<img src="__PUBLIC__/Mobile/images/qzone.jpg" />
							<p>QQ空间</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tsina">
							<img src="__PUBLIC__/Mobile/images/sina.jpg" />
							<p>新浪微博</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tqq">
							<img src="__PUBLIC__/Mobile/images/tx.jpg" />
							<p>腾讯微博</p>
						</a>
					</li>
					<li>
						<a class="jiatitle" onclick="jiathis_sendto('tieba');return false;">
							<img src="__PUBLIC__/Mobile/images/baidu.jpg" />
							<p>百度贴吧</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="fcancel ptb20r">取消</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->