<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/video.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>视频中心<div class="select"><span>&#xe606;</span></div>
		</h1>
	</header>
	<div class="con">
		<div class="lists">
			<ul class="clearfix video_lst">
				<foreach name="videoRes" item="vo">
				<li>
					<a href="<{$CBW_URL}>/video/<{$vo.id}>.html"><img src="__PUBLIC__/Video/<{$vo.simg}>" alt="<{$vo.title}>" title="<{$vo.title}>"/></a>
					<strong><a href="<{$CBW_URL}>/video/<{$vo.id}>.html"><{$vo.title}></a></strong>
					<p><i class="look">&#xe601;</i><{$vo.clicktimes}></p>
				</li>
				</foreach>
			</ul>
		</div>
		<div class="filter">
			<div class="bg"></div>
			<div class="filterBx">
				<dl class="clearfix header">
					<dt><i>&#xe60f;</i></dt>
					<dd class="ddName">筛选</dd>
				</dl>
				<dl class="clearfix types mod">
					<dt class="clearfix">类型</dt>
					<dd class="clearfix" id="type">
						<foreach name="typeRes" item="vo">
						<a href="javascript:void(0);" data-id="<{$vo.id}>" <eq name="vo.id" value="$type">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				<dl class="clearfix brands mod">
					<dt class="clearfix">品牌</dt>
					<dd class="clearfix" id="brand">
						<foreach name="brandRes" item="vo">
						<a href="javascript:void(0);" data-id="<{$vo.id}>" <eq name="vo.id" value="$brand">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				<dl class="clearfix models mod">
					<dt class="clearfix">型号</dt>
					<dd class="clearfix" id="model">
						<foreach name="catRes" item="vo">
						<a href="<{$CBW_URL}>/video_list/<{$type}>_<{$brand}>_<{$vo.id}>.html" data-id="<{$vo.id}>" <eq name="vo.id" value="$model">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num      = 8;
			var type_id  = $('#type').find('a.on').attr('data-id');
			var brand_id = $('#brand').find('a.on').attr('data-id');
			var model_id = $('#model').find('a.on').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreVideo',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'type':type_id, 'brand':brand_id, 'model':model_id },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<a href="<{$CBW_URL}>/video/'+ data[a]['id'] +'.html"><img src="__PUBLIC__/Video/'+ data[a]['simg'] +'" alt="'+ data[a]['title'] +'" title="'+ data[a]['title'] +'" /></a>';
							html += '	<strong><a href="<{$CBW_URL}>/video/'+ data[a]['id'] +'.html">'+ data[a]['title'] +'</a></strong>';
							html += '	<p><i class="look">&#xe601;</i>'+ data[a]['clicktimes'] +'</p>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.video_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		};
		$(".filterBx").on("click","#type a",function(){
			toggleClass(this);
			var type_id  = $('#type').find('a.on').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadVideoBrand',
				dataType: 'json',
				data: {'type':type_id },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<a href="javascript:void(0);" data-id="'+ data[a]['id'] +'">'+ data[a]['cat_name'] +'</a>';
						}
						$('#brand').empty().html(html);
						$('#model').empty();
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
		}).on("click","#brand a",function(){
			toggleClass(this);
			var type_id  = $('#type').find('a.on').attr('data-id');
			var brand_id = $('#brand').find('a.on').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadVideoModel',
				dataType: 'json',
				data: {'brand':brand_id },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<a href="<{$CBW_URL}>/video_list/'+ type_id +'_'+ brand_id +'_'+ data[a]['id'] +'.html" data-id="'+ data[a]['id'] +'">'+ data[a]['cat_name'] +'</a>';
						}
						$('#model').empty().html(html);
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
				}
			});
		});
		function toggleClass(that){
			var _this = $(that);
			_this.addClass("on").siblings("a").removeClass("on");
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->






