<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">维修师申请列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="" method="get" class="span6">
                                <input type="text" name="keyword" style="width:150px;" value="<{$keyword}>" placeholder="请输入关键字...">
								<select name="field" style="width:120px;">
                                    <option>查找全部</option>
									<option value="email" <eq name="field" value="email">selected = "selected"</eq>>邮箱</option>
									<option value="mobile" <eq name="field" value="mobile">selected = "selected"</eq>>按手机</option>
                                </select>
								<select name="is_verify" style="width:120px;">
                                    <option>查找全部</option>
									<option value="1" <eq name="is_verify" value="1">selected = "selected"</eq>>已通过</option>
									<option value="0" <eq name="is_verify" value="0">selected = "selected"</eq>>未通过</option>
                                </select>
                                <input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" value="查找">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>维修师申请列表</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="__CONTROLLER__/batchDeleteRecruit" method="post">
            <table class="table table-bordered table-striped with-check">
                <thead>
                    <tr>
                        <th><i class="icon-resize-vertical"></i></th>
                        <th style="width:5%;">编号</th>
						<th style="width:8%;">会员账号</th>
						<th style="width:5%;">类型</th>
						<th style="width:8%;">店铺名称</th>
						<th style="width:5%;">真实姓名</th>
						<th style="width:8%;">E-mail</th>
						<th style="width:8%;">联系电话</th>
						<th>联系地址</th>
                        <th style="width:5%;">审核状态</th>
                        <th style="width:8%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="repairRes" item="repair">
                        <tr>
                            <td><input type="checkbox" name="uids[]" value="<{$repair.id}>"/></td>
							<td class="text-center"><{$repair.id}></td>
                            <td class="text-center"><{$repair.account}></td>
							<td class="text-center">
                                <eq name="repair.type" value="1">
                                    无店申请
                                <else />
                                    有店申请
                                </eq>
                            </td>
							<td class="text-center"><{$repair.shop_name}></td>
							<td class="text-center"><{$repair.user_name}></td>
							<td class="text-center"><{$repair.email}></td>
							<td class="text-center"><{$repair.mobile}></td>
							<td class="text-left"><{$repair.province}><{$repair.city}><{$repair.area}><{$repair.address}></td>
							<td class="text-center">
                                <empty name="repair.is_verify">
                                    <i class="icon-lock" style="color:red;cursor:pointer;"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;"></i>
                                </empty>
                            </td>
                            <td class="text-center" style="width:150px;">
                                <a href="__CONTROLLER__/recruitEdit/id/<{$repair.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="__CONTROLLER__/recruitDelete/id/<{$repair.id}>" onclick="return confirm('确定要删除吗？');" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
              <tfoot>
                <tr>
                    <td colspan="13">
                      <div class="pagination alternate text-right">
                      <input type="submit" class="btn btn-primary pull-left" onclick="return confirm('您确定执行删除操作吗？')" value="批量删除">
                          <{$page}>
                      </div>
                    </td>
                </tr>
              </tfoot>
            </table>
            </form>
          </div>
        </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
