<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
		.mt10{
			margin-top:10px;
		}
		.select2-container{
			float:left;
		}
		#s2id_city.span2,
		#s2id_area.span2,
		#s2id_autogen3,
		#s2id_autogen2{
			margin-left:3px!important;
			
		}
		.right a{
			margin:0 3px;
		}
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">维修师列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
							<div class="left">
                            <form action="<{:U('UserRepairs/index')}>" method="get" class="span8">
								<div class="clearfix"><{$citys.str}></div>
								<div class="clearfix mt10">
									<select name="types" style="width:14.52991452991453%;">
										<option>类型</option>
										<option value="2" <eq name="types" value="2">selected = "selected"</eq>>直营店</option>
										<option value="1" <eq name="types" value="1">selected = "selected"</eq>>无店面</option>
										<option value="0" <eq name="types" value="0">selected = "selected"</eq>>有店面</option>
									</select>
									<select name="server_status" style="width: 14.52991452991453%;">
										<option>服务状态</option>
										<option value="1" <eq name="server_status" value="1">selected = "selected"</eq>>开启</option>
										<option value="0" <eq name="server_status" value="0">selected = "selected"</eq>>关闭</option>
									</select>
									<select name="shop_status" style="width: 14.52991452991453%;">
										<option>店铺状态</option>
										<option value="1" <eq name="shop_status" value="1">selected = "selected"</eq>>开启</option>
										<option value="0" <eq name="shop_status" value="0">selected = "selected"</eq>>关闭</option>
									</select>
								</div>
								<div class="clearfix mt10">
									<input type="text" name="startdate" style="width:143px; margin-bottom:0;" placeholder="2017-01-01" value="<{$start}>" /> 至
									<input type="text" name="enddate" style="width:143px; margin-bottom:0;" placeholder="2017-01-31" value="<{$end}>" />
								</div>
								<div class="clearfix mt10">
									<input type="text" name="keyword" style="width:143px;" value="<{$keyword}>" placeholder="请输入关键字...">
									<input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" value="查找">
									<a href="<{:U('UserRepairs/index', array('review'=>1))}>" class="btn btn-primary" style="margin-top:-10px;">待审核(<span style="color:red;"><{$reviewCount}></span>)</a>
								</div>
                            </form>
							</div>
							<div class="right">
                            <!--<a href="<{:U('UserRepairs/repairAdd')}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加维修师</a>-->
							<a href="<{:U('UserRepairs/sms')}>" onclick="return confirm('您确定要发送短信吗？');" class="btn btn-info pull-right">发短信(<=60%)</a>
							<a href="<{:U('UserRepairs/export',array('integr'=>'1'))}>" class="btn btn-info pull-right">导出(>60%)</a>
							<a href="<{:U('UserRepairs/export',array('integr'=>'2'))}>" class="btn btn-info pull-right">导出(<=60%)</a>
							<a href="<{:U('UserRepairs/export',array('province'=>$province, 'city'=>$city, 'area'=>$area))}>" class="btn btn-info pull-right">全部导出</a>
							</div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
          <div class="widget-title"> <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox" />
            </span>
            <h5>维修师列表</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="__CONTROLLER__/batchDeleteRepairs" method="post">
            <table class="table table-bordered table-striped with-check">
                <thead>
                    <tr>
                        <th><i class="icon-resize-vertical"></i></th>
                        <th style="width:4%;">编号</th>
						<th style="width:4%;">类型</th>
                        <th style="width:8%;">会员账号</th>
						<th style="width:14%;">店铺名称</th>
						<th style="width:5%;">真实姓名</th>
						<th style="width:6%;">手机号码</th>
						<th>联系地址</th>
						<th style="width:8%;">审核</th>
						<!--<th style="width:4%;">完整度</th>-->
                        <th style="width:5%;">服务状态</th>
						<th style="width:5%;">店铺状态</th>
						<th style="width:5%;">开店时间</th>
                        <th style="width:5%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="repairRes" item="repair">
                        <tr>
                            <td><input type="checkbox" name="ids[]" value="<{$repair.id}>"/></td>
                            <td class="text-center"><{$repair.id}></td>
							<td class="text-center"><eq name="repair.type_id" value="0">有店面</eq><eq name="repair.type_id" value="1">无店面</eq><eq name="repair.type_id" value="2">直营店</eq></td>
                            <td class="text-center"><{$repair.account}> <br /> <{$repair.mobile}></td>
							<td class="text-left"><{$repair.shop_name}></td>
							<td class="text-center"><{$repair.user_name}></td>
							<td class="text-center"><{$repair.user_phone}></td>
							<td class="text-left"><{$repair.pro_addr}><{$repair.city_addr}><{$repair.addr}><{$repair.address}></td>
							<td class="text-center">
								<if condition="($repair['mod_address'] neq '') OR ($repair['mod_image'] neq '')">
									<a href="<{:U('UserRepairs/review', array('mod'=>'agree', 'id'=>$repair['id']))}>" class="btn btn-warning">同意</a><a href="<{:U('UserRepairs/review', array('mod'=>'oppose', 'id'=>$repair['id']))}>" class="btn btn-danger">反对</a>
								</if>
							</td>
							<!--<td class="text-center"><span style="<gt name="repair.inte" value="60">color:green;<else />color:red;</gt>"><{$repair.inte}>%</span></td>-->
							<td class="text-center" id="server_status<{$repair.id}>">
                                <empty name="repair.server_status">
                                    <i class="icon-lock" style="color:red;cursor:pointer;" onclick="postStatus(<{$repair.id}>, 'server_status', '1');"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postStatus(<{$repair.id}>, 'server_status', '0');"></i>
                                </empty>
                            </td>
							<td class="text-center" id="shop_status<{$repair.id}>">
                                <empty name="repair.shop_status">
                                    <i class="icon-lock" style="color:red;cursor:pointer;" onclick="postStatus(<{$repair.id}>, 'shop_status', '1');"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postStatus(<{$repair.id}>, 'shop_status', '0');"></i>
                                </empty>
                            </td>
							<td class="text-center"><{$repair.create_shop|date="Y-m-d", ###}></td>
                            <td class="text-center" style="width:150px;">
                                <a href="__CONTROLLER__/repairEdit/id/<{$repair.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="__CONTROLLER__/repairDelete/id/<{$repair.id}>" onclick="return confirm('确定要删除吗？');" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
              <tfoot>
                <tr>
                    <td colspan="13">
                      <div class="pagination alternate text-right">
                      <input type="submit" class="btn btn-primary pull-left" onclick="return confirm('您确定执行删除操作吗？')" value="批量删除">
                          <{$page}>
                      </div>
                    </td>
                </tr>
              </tfoot>
            </table>
            </form>
          </div>
        </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		
		//城市选择js
		<{$citys.script}>
		function postStatus(id, field, val){
			var data = {'id': id, 'field':field, 'val':val};
			$.post('__CONTROLLER__/repairStatusEdit', data, function (a) {
				if (a > 0) {
					if(val=='1'){
						$("#"+ field + id).html('<i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postStatus('+ id +', \''+ field +'\', \'0\');"></i>');
					}else{
						$("#"+ field + id).html('<i class="icon-lock" style="color:red;cursor:pointer;" onclick="postStatus('+ id +', \''+ field +'\', \'1\');"></i>');
					}
				} else {
					alert("修改失败.");
				}
			});
		}

	</script>
</block>
<!-- 底部JS执行区域 结束 -->
