<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <style>
        img.thumb {
            width:150px;
            height:150px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">维修师招募</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>查看维修师申请信息</h5>
                    </div>
                    <div class="widget-content nopadding">
						<form class="form-horizontal" method="post" action="" name="repairadd" id="repairadd" novalidate="novalidate">
							<div class="control-group">
                                <label class="control-label">类型：</label>
                                <div class="controls">
                                    <eq name="repair.type" value="1">无店申请<else />有店申请</eq>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">姓名：</label>
                                <div class="controls">
                                    <{$repair.user_name}>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">手机号码：</label>
                                <div class="controls">
                                    <{$repair.mobile}>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">E-MAIL：</label>
                                <div class="controls">
                                    <{$repair.email}>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">店铺名称：</label>
                                <div class="controls">
                                    <{$repair.shop_name}>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">服务方式：</label>
                                <div class="controls">
                                    <label><input type="checkbox" value="1" name="is_store" <eq name="repair.is_store" value="1">checked</eq> /> 支持到店服务</label>
									<label><input type="checkbox" value="1" name="is_door" <eq name="repair.is_door" value="1">checked</eq> /> 支持上门服务</label>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">主营：</label>
                                <div class="controls">
                                    <{$repair.main}>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">地址</label>
								<div class="controls">
                                    <span class="span3"><{$repair.province}><{$repair.city}><{$repair.area}><{$repair.address}></span>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">地图坐标</label>
								<div class="controls">
                                    <span class="span3"><{$repair.address_deg}></span>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">身份证照片(正面)：</label>
                                <div class="controls">
									<div id="positive_imgs"><img style="height:150px;"<eq name="repair.identity_positive" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/data/<{$repair.identity_positive}>"</eq>></div>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">身份证照片(反面)：</label>
                                <div class="controls">
									<div id="positive_imgs"><img style="height:150px;"<eq name="repair.identity_back" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/data/<{$repair.identity_back}>"</eq>></div>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">身份证照片(半身)：</label>
                                <div class="controls">
									<div id="positive_imgs"><img style="height:150px;"<eq name="repair.identity_body" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/data/<{$repair.identity_body}>"</eq>></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">营业执照：</label>
                                <div class="controls">
									<div id="positive_imgs"><img style="height:150px;"<eq name="repair.business" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/data/<{$repair.business}>"</eq>></div>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">店铺图片：</label>
                                <div class="controls">
									<div id="back_imgs"><img style="height:150px;"<eq name="repair.external" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Repair/data/<{$repair.external}>"</eq>></div>
                                </div>
                            </div>
							<div class="form-actions">
								<a href="__CONTROLLER__/add_repair/id/<{$repair.id}>" class="btn btn-default">添加</a>
								<a href="__CONTROLLER__/recruit" class="btn btn-default">返回列表</a>
							</div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script>
	<script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 

</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
