<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link rel="stylesheet"href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <style>
        div.fblocks {
            margin:0 auto; 
            width: 80%; 
            height:100px; 
            background:#fff;
        }
        .blocks {
            width:150px; 
            height:98px; 
            border:1px dashed #ccc;
            text-align:center;
            line-height:98px;
            font-size:50px;
            cursor:pointer;
            display:block;
            float:left;
            margin:0 5px;
        }
        .blocks h4 {
            font-size:30px;
            color:#555;
            line-height:60px;
            margin:0;
            padding:0;
        }
        .blocks small {
            font-size:25px;
            line-height:40px;
            color:red;
            margin:0;
            padding:0;
        }
        .upadv-show {
            width:100px; 
            height:100px;
            margin:5px;
        }
		.sever-news .sever-con{
			float:left;
		}
		.sever-news .sever-pic{
			float:left;
			margin-right:15px;
		}
		.sever-news .sever-pic img{
			height:120px;
			border:1px solid #eee
		}
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">编辑店铺信息</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
        <div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab1">店铺信息</a></li>
						<li><a data-toggle="tab" href="#tab2">店铺客服</a></li>
						<li><a data-toggle="tab" href="#tab3">店铺通知</a></li>
					</ul>
				</div>
				<div class="widget-content tab-content">
					<!-- 选项卡一开始 -->
					<div id="tab1" class="tab-pane active">
						<form method="post" action="<{:U('UserRepairs/doRepairEdit')}>" enctype="multipart/form-data" name="edit" id="edit">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">类别：</label>
									<div class="controls">
										<select class="span2" name="type_id">
											<option value="2" <eq name="shop.type_id" value="2">selected</eq>>直营店</option>
											<option value="1" <eq name="shop.type_id" value="1">selected</eq>>无店面</option>
											<option value="0" <eq name="shop.type_id" value="0">selected</eq>>有店面</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">店铺名称：</label>
									<div class="controls">
										<input type="text" name="shop_name" value="<{$shop.shop_name}>" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">联系地址：</label>
									<div class="controls">
										<{$city.str}>
										<input type="text" name="address" value="<{$shop.address}>" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">地图坐标：</label>
									<div class="controls">
										<input type="text" name="lng" value="<{$shop.lng}>" />
										<input type="text" name="lat" value="<{$shop.lat}>" />
									</div>
								</div>
								<notempty name="shop.mod_address">
								<div class="control-group">
									<label class="control-label">待审核新地址：</label>
									<div class="controls">
										<{$address.address}> [<{$address.lng}> , <{$address.lat}>]
									</div>
								</div>
								</notempty>
								<div class="control-group">
									<label class="control-label">服务方式：</label>
									<div class="controls">
										<label><input type="checkbox" value="1" name="is_store" <eq name="shop.is_store" value="1">checked</eq> /> 支持到店服务</label>
										<label><input type="checkbox" value="1" name="is_door" <eq name="shop.is_door" value="1">checked</eq> /> 支持上门服务</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">经验值：</label>
									<div class="controls">
										<input type="text" name="exp" value="<{$shop.exp}>" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">店铺形象：</label>
									<div class="controls">
										<input id="logo_upload" type="file" multiple="true" name="logo_upload" />
										<div id="logo_imgs"><img width="200px" <eq name="shop.logo_image" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.logo_image}>"</eq>></div>
										<input type="hidden" name="org_logo" value="<{$shop.logo_image}>">
									</div>
								</div>
								<notempty name="shop.mod_image">
								<div class="control-group">
									<label class="control-label">待审核新形象：</label>
									<div class="controls">
										<img width="200px" src="__PUBLIC__/User/<{$shop.mod_image}>">
									</div>
								</div>
								</notempty>
								<div class="control-group">
									<label class="control-label">身份证正面:</label>
									<div class="controls">
										<input id="positive_upload" type="file" multiple="true" name="positive_upload" />
										<div id="positive_imgs"><img width="200px" <eq name="shop.identity_positive" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.identity_positive}>"</eq>></div>
										<input type="hidden" name="org_positive" value="<{$shop.identity_positive}>">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">身份证反面:</label>
									<div class="controls">
										<input id="back_upload" type="file" multiple="true" name="back_upload" />
										<div id="positive_imgs"><img width="200px" <eq name="shop.identity_back" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.identity_back}>"</eq>></div>
										<input type="hidden" name="org_back" value="<{$shop.identity_back}>">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">身份证半身照:</label>
									<div class="controls">
										<input id="body_upload" type="file" multiple="true" name="body_upload" />
										<div id="positive_imgs"><img width="200px" <eq name="shop.identity_body" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.identity_body}>"</eq>></div>
										<input type="hidden" name="org_body" value="<{$shop.identity_body}>">
									</div>
								</div>
								<if condition="$shop['business'] neq ''">
								<div class="control-group">
									<label class="control-label">营业执照：</label>
									<div class="controls">
										<input id="business_upload" type="file" multiple="true" name="business_upload" />
										<div id="business_imgs"><img width="200px" <eq name="shop.business" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.business}>"</eq>></div>
										<input type="hidden" name="org_business" value="<{$shop.business}>">
									</div>
								</div>
								</if>
								<div class="control-group">
									<label class="control-label">店铺图片:</label>
									<div class="controls">
										<input id="shopimage_upload" type="file" multiple="true" name="shopimage_upload" />
										<div id="shopimage_imgs"><img width="200px" <eq name="shop.shop_image" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/User/<{$shop.shop_image}>"</eq>></div>
										<input type="hidden" name="org_shopimage" value="<{$shop.shop_image}>">
									</div>
								</div>
								<div style="padding-top:20px; padding-bottom:20px; text-align:center;">
									<input type="hidden" name="id" value="<{$shop.id}>" />
									<input type="hidden" name="user_id" value="<{$shop.user_id}>" />
									<button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 保存店铺信息 </button>
									<a type="submit" href="__CONTROLLER__/index/province/<{$area.one_id}>/city/<{$area.two_id}>/area/<{$area.id}>" class="btn btn-default btn-large"> 返回店铺列表 </a>
								</div>
							</div>
						</form>
					</div>
					<!-- 选项卡一结束 -->
					<!-- 选项卡二开始 -->
					<div id="tab2" class="tab-pane">
						<form method="post" action="<{:U('UserRepairs/doRepairEditService')}>" name="service" id="service" autocomplete="off">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">专属客服：</label>
									<div class="controls">
										<select class="span2" name="service_id" id="service_id">
											<option value="0">不设置客服</option>
											<foreach name="services" item="vo">
											<option value="<{$vo.id}>" <eq name="vo.is_selected" value="1">selected</eq>><{$vo.true_name}></option>
											</foreach>
										</select>
									</div>
								</div>
								<div class="control-group" id="service_info" <empty name="service">style="display:none"</empty>
									<label class="control-label"></label>
									<div class="controls">
										<div class="sever-news clearfix">
											<div class="sever-pic">
												<img src="__PUBLIC__/User/thumb/<{$service.thumbnail}>">
											</div>
											<div class="sever-con">
												<p>账号:<{$service.username}></p>
												<p>姓名:<{$service.true_name}></p>
												<p>邮箱:<{$service.email}></p>
												<p>电话:<{$service.phone}></p>
												<p>QQ:<{$service.qq}></p>
											</div>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"></label>
									<div class="controls">
										<input type="hidden" name="id" value="<{$shop.id}>" />
										<button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 保存店铺信息 </button>
										<a type="submit" href="__CONTROLLER__/index/province/<{$area.one_id}>/city/<{$area.two_id}>/area/<{$area.id}>" class="btn btn-default btn-large"> 返回店铺列表 </a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- 选项卡二结束 -->
					<!-- 选项卡三开始 -->
					<div id="tab3" class="tab-pane">
						<form method="post" action="<{:U('UserRepairs/doSendNotice')}>" name="notice" id="notice" autocomplete="off">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">常用通知：</label>
									<div class="controls" id="commonNotice" >
										<label><input type="radio" name="common" value="您的店铺涉及违规，暂时关闭店铺。" /> 您的店铺涉及违规，暂时关闭店铺。</label>
										<label><input type="radio" name="common" value="您的店铺被顾客多次举报，扣3分惩罚。" /> 您的店铺被顾客多次举报，扣3分惩罚。</label>
										<label><input type="radio" name="common" value="官方维修价格有变动,建议同步最新维修价格。" /> 官方维修价格有变动,建议同步最新维修价格。</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">主题：</label>
									<div class="controls" id="noticeText">
										<input type="text" name="title" id="title" class="span4" value="" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">内容：</label>
									<div class="controls" id="noticeText">
										<textarea name="content" class="span4"></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">奖罚类型：</label>
									<div class="controls" id="noticeText">
										<select class="span1" name="type">
											<option value=""></option>
											<option value="1">奖励 + </option>
											<option value="0">惩罚 - </option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">奖罚值：</label>
									<div class="controls" id="noticeText">
										<input type="text" name="score" class="span1" value="" placeholder="3" /> (此项只针对当前店铺)
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"></label>
									<div class="controls">
										<label><input type="checkbox" value="1" name="is_sms" /> 同时发送短信</label>
										<label><input type="checkbox" value="1" name="is_shop" /> 当前店铺</label>
										<label><input type="checkbox" value="1" name="is_all_shop" /> 整站所有店铺(慎重选择此项)</label>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"></label>
									<div class="controls">
										<input type="hidden" name="id" value="<{$shop.id}>" />
										<button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 提交 </button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- 选项卡三结束 -->
				</div>
			</div>
        </div>
    </div>
</div>
<!-- </form> -->
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script>
	<script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
        //城市选择js
		<{$city.script}>
		
		//店铺形象
        $('#logo_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='logo_image' value='"+data+"'>";
                $('#logo_imgs').html(img);
            }
        });
		
		//营业执照
        $('#business_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='business' value='"+data+"'>";
                $('#business_imgs').html(img);
            }
        });
		
		//身份证正面
        $('#positive_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='identity_positive' value='"+data+"'>";
                $('#positive_imgs').html(img);
            }
        });
		
		//身份证反面
        $('#back_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='identity_back' value='"+data+"'>";
                $('#back_imgs').html(img);
            }
        });
		
		//身份证半身照
        $('#body_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='identity_body' value='"+data+"'>";
                $('#body_imgs').html(img);
            }
        });
		
		//店铺图片
        $('#shopimage_upload').uploadify({
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("UserRepairs/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '上传图片',
                'onUploadSuccess' : function(file, data, response) {
                
                var img = "<img style='height:150px;' src='__PUBLIC__/User/"+data+"'><input type='hidden' name='shop_image' value='"+data+"'>";
                $('#shopimage_imgs').html(img);
            }
        });
		
		$('#service_id').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
				$.post('__CONTROLLER__/changeServiceSelect', {'service_id': id}, function (d) {
					var data = JSON.parse(d);
					if(data){
						$(".sever-pic img").attr('src', '__PUBLIC__/User/thumb/'+ data['thumbnail']);
						$(".sever-con").empty().html('<p>账号:'+ data['username'] +'</p><p>姓名:'+ data['true_name'] +'</p><p>邮箱:'+ data['email'] +'</p><p>电话:'+ data['phone'] +'</p><p>QQ:'+ data['qq'] +'</p>');
						$("#service_info").show();
					}else{
						$("#service_info").hide();
					}
				});
			}
		});
		
		//常用通知
        $("#commonNotice label").on("click",function(){
			var text = $(this).find("input:checked").val();
			$("#title").val(text);
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
