<extend name="Public:same" />
<block name="cssFile">
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/content.css"/>
</block>
<block name="topJsFile">

</block>
<block name="publicBody">
<div class="content">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> <a href="<{$CBW_URL}>/wenda/" title="问答中心">问答中心</a></dd>
			<dd><em></em> <a href="<{$CBW_URL}>/wenda_list/<{$nav.id}>.html" title="<{$nav.cat_name}>"><{$nav.cat_name}></a></dd>
			<dd><em></em> <{$wenda.title}></dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>问答中心</p>
					</div>
					<foreach name="catRes" item="c">
					<dl <eq name="wenda.cat_id" value="$c.id">class="on"</eq>>
						<dt><a href="<{$CBW_URL}>/wenda_list/<{$c.id}>.html" title="<{$c.cat_name}>"><{$c.cat_name}></a></dt>
					</dl>
					</foreach>
				</div>
				<!--
				<div class="navBar advs posR">
					<div class="hd posA">
						<ul class="clearfix">
						</ul>
					</div>
					<div class="bd">
						<ul> 
							<foreach name="photoRes" item="photo">
							<li><a class="posR" href="<{$CBW_URL}>/detail/<{$photo.product_id}>.html" title="<{$photo.adv_name}>" alt="<{$photo.adv_name}>"><img src="__PUBLIC__/Imgadv/<{$photo.thumbnail}>" alt="<{$photo.adv_name}>" title="<{$photo.adv_name}>" /></a></li>
							</foreach>
						</ul>
					</div>
				</div>
				-->
				<div class="navBar">
					<div class="title">
						<p>相关问答</p>
					</div>
					<div class="newsList">
						<ul>
							<foreach name="relevant_wenda" item="n">
							<li><a href="<{$CBW_URL}>/wenda/<{$n.id}>.html" title="<{$n.title}>" alt="<{$n.title}>"><{$n.title}></a></li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
			<div class="contBx">
				<div class="cont">
					<h1><{$wenda.title}></h1>
					<div class="otherInfo">
						<p>作者：<span><{$wenda.author}></span></p>
						<p>发布时间：<span><{$wenda.create_time|date="Y-m-d H:i:s",###}></span></p>
						<p>点击：<span><{$wenda.clicktimes}>次</span></p>
					</div>
					<div class="infos">
					<{$wenda.content|htmlspecialchars_decode}>
					</div>
					<neq name="wenda.source" value="">
					<dl class="clearfix from">
						<dt>本文来源：</dt>
						<dd><{$wenda.source}></dd>
					</dl>
					</neq>
					<div class="clearfix">
						<div class="bdsharebuttonbox fl">
							<a href="#" class="bds_more" data-cmd="more"></a>
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
							<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						</div>
						<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
						<a style="float:right;display:inline-block;line-height:36px;margin: 15px 0 0 0;padding: 10px 20px 0 20px;" href="http://www.caobao.com/news/407.html" target="_blank">手机维修、玩机技巧交流QQ群</a>
					</div>
				</div>
				<div class="pages">
					<neq name="previous.title" value="">
						<p>上一篇：<span><a href="<{$CBW_URL}>/wenda/<{$previous.id}>.html" title="<{$previous.title}>"><{$previous.title}></a></span></p>
					</neq>
					<neq name="next.title" value="">
						<p>下一篇：<span><a href="<{$CBW_URL}>/wenda/<{$next.id}>.html" title="<{$next.title}>"><{$next.title}></a><span></p>
					</neq>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footScript"> 
	<script>
		jQuery('.advs').slide({titCell:".hd ul",delayTime:700,interTime:3000,mainCell:".bd ul",autoPlay:true,autoPage:"<li>$</li>"});
		$(function(){
			if($('.advs .hd li').length > 1){
				$('.advs .hd').show();
			}else{
				$('.advs .hd').hide(); 
			}
		})
	</script> 
</block>
