<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/list.css"/>
</block>
<!--js-->
<block name="topJsFile">

</block>

<!--main-->
<block name="publicBody">
	<div class="content">
		<dl class="clearfix siteUrl">
			<dt class="clearfix"><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> <a href="<{$CBW_URL}>/wenda/" title="问答中心">问答中心</a></dd>
			<neq name="nav" value="">
			<dd><em></em> <a href="<{$CBW_URL}>/wenda_list/<{$nav.id}>" title="<{$nav.cat_name}>"><{$nav.cat_name}></a></dd>
			</neq>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>问答中心</p>
					</div>
					<foreach name="catRes" item="c">
					<dl <eq name="cat" value="$c.id">class="on"</eq>>
						<dt><a href="<{$CBW_URL}>/wenda_list/<{$c.id}>.html" title="<{$c.cat_name}>"><{$c.cat_name}></a></dt>
					</dl>
					</foreach>
				</div>
				<!--
				<div class="navBar advs posR">
					<div class="hd posA">
						<ul class="clearfix">
						</ul>
					</div>
					<div class="bd">
						<ul> 
							<foreach name="photoRes" item="photo">
							<li><a class="posR" href="<{$CBW_URL}>/detail/<{$photo.id}>.html" title="<{$photo.adv_name}>" alt="<{$photo.adv_name}>"><img src="__PUBLIC__/Imgadv/<{$photo.thumbnail}>" alt="<{$photo.adv_name}>" title="<{$photo.adv_name}>" /></a></li>
							</foreach>
						</ul>
					</div>
				</div>
				-->
				<div class="navBar">
					<div class="title">
						<p>最新问答</p>
					</div>
					<div class="wendaList">
						<ul>
							<foreach name="new_wenda" item="wenda">
							<li><a href="<{$CBW_URL}>/wenda/<{$wenda.id}>.html" title="<{$wenda.title}>" alt="<{$wenda.title}>"><{$wenda.title}></a></li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
			<div class="contBx">
				<div class="list">
					<foreach name="wendaRes" item="new">
					<dl class="item clearfix">
						<dt class="im fl">
							<a href="<{$CBW_URL}>/wenda/<{$new.id}>.html" title="<{$new.title}>" alt="<{$new.title}>"><{$new.thumbnail}></a>
						</dt>
						<dd class="info fl">
							<p class="ti clearfix">
							<a href="<{$CBW_URL}>/wenda/<{$new.id}>.html" title="<{$new.title}>"><{$new.title}></a>
							<span class="date">[ <{$new.create_time|date="Y-m-d H:i",###}> ]</span>
							<p class="detail"><{$new.description}>
							<a href="<{$CBW_URL}>/wenda/<{$new.id}>.html" title="<{$new.title}>">阅读全文</a>
							</p>
						</dd>
					</dl>
					</foreach>
				</div>
				<div class="pageLink clearfix">
					<{$page}>
				</div>	
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script>
		jQuery('.advs').slide({titCell:".hd ul",delayTime:700,interTime:3000,mainCell:".bd ul",autoPlay:true,autoPage:"<li>$</li>"});
		$(function(){
			if($('.advs .hd li').length > 1){
				$('.advs .hd').show();
			}else{
				$('.advs .hd').hide(); 
			}
		})
	</script>
</block>
