<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-activity.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<div class="tabWrap">
		<ul class="tabs">
			<li class="tab"><a href="<{$CBW_URL}>/users/question.html">提问</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/post.html">回答</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/share.html">分享</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/collect.html">收藏</a></li>
			<li class="tab current"><a href="<{$CBW_URL}>/users/activity.html">动态</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/notice.html">消息</a></li>
		</ul>
	</div>
	<div class="user_notice clearfix">
		<div class="user_left">
			<div class="user_mod notice">
				<h2 class="clearfix">动态</h2>
				<ul class="notice_list">
					<foreach name="data" item="vo">
					<li>
						<div class="thead clearfix">
							<div class="conArea">
								<b><{$vo.uname}></b>
								<i>
									<eq name="vo.act" value="-5">取消投票</eq>
									<eq name="vo.act" value="-4">取消采纳</eq>
									<eq name="vo.act" value="-3">删除评论</eq>
									<eq name="vo.act" value="-2">删除回复</eq>
									<eq name="vo.act" value="-1">删除主题</eq>
									<eq name="vo.act" value="1">发布主题</eq>
									<eq name="vo.act" value="2">回复主题</eq>
									<eq name="vo.act" value="3">写评论</eq>
									<eq name="vo.act" value="4">采纳答案</eq>
									<eq name="vo.act" value="5">投票</eq>
								</i>
								<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.subject}></a>”</strong>
							</div>
							<time><{$vo.dateline|CBWTimeFormat='m.d'}></time>
						</div>
						<div class="profit">
							<span>经验值<eq name="vo.category" value="1">+<else />-</eq><{$vo.exp}></span>
							<gt name="vo.virtual" value="0">
							<span class="cbd">草包豆<eq name="vo.category" value="1">+<else />-</eq><{$vo.virtual}></span>
							</gt>
						</div>
					</li>
					</foreach>
				</ul>
				<div class="page">
					<ul class="clearfix pageul">
						<if condition="($page gt 1)">
							<li class="page_np current"><a href="<{$CBW_URL}>/users/activity/page/<{$page-1}>.html">上一页</a></li>
						<else />
							<li class="page_np"><a href="javascript:;">上一页</a></span>
						</if>
						<if condition="($page lt $pages)">
							<li class="page_np current"><a href="<{$CBW_URL}>/users/activity/page/<{$page+1}>.html">下一页</a></li>
						<else />
							<li class="page_np"><a href="javascript:;">下一页</a></span>
						</if>
						<!--<li><input class="ui-input input_page" type="text" /></li>
						<li class="go"><a href="#">跳转</a></li>-->
						<li class="page_num"><{$page}>/<{$pages}> 页</li>
					</ul>
				</div>
			</div> 
		</div>
		<{:W('System/user', array('id'=>$id))}>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->