<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-edit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<h2>编辑你的个人资料</h2>
	<div class="user clearfix">
		<div class="photo">
			<a href="<{:U('Users/avatar')}>"><img alt="<{$user.uname}>" src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
			<span class="edit_pic"><a href="<{:U('Users/avatar')}>">修改头像</a></span>
		</div>
		<div class="data">
			<form method="post" id="edit" action="<{:U('Users/doEditUser')}>" class="clearfix">
				<div class="div_input key false fl w100">
					<p>@昵称</p>
					<input type="text" autocomplete="off" class="ui-input ui" name="uname" id="uname" value="<{$user.uname}>">
					<div class="tip">请输入昵称</div>
				</div>
				<div class="div_input key false fl w100">
					<p>常居地</p>
					<{$city.str}>
					<div class="tip">请选择常居地</div>
				</div>
				<div class="div_input key false fl">
					<p>详细地址</p>
					<input type="text" autocomplete="off" class="ui-input ui" name="address" id="address" value="<{$user.address}>">
					<div class="tip">请输入详细地址</div>
				</div>
				<div class="div_input key false fl ml25">
					<p>原密码</p>
					<input type="password" autocomplete="off" class="ui-input" name="oldpwd" id="oldpwd">
					<div class="tip">请输入原密码</div>
				</div>
				<div class="div_input key false fl">
					<p>新密码</p>
					<input type="password" autocomplete="off" class="ui-input" name="newpwd" id="newpwd">
					<div class="tip">请输入新密码</div>
				</div>
				<div class="div_input key false fl  ml25">
					<p>请再次输入您的新密码</p>
					<input type="password" autocomplete="off" class="ui-input againpwd" name="againpwd" id="againpwd">
					<div class="tip">请再次输入您的新密码</div>
				</div>
				<div class="div_textarea key false fl w100 text">
					<p>个人签名</p>
					<textarea name="signature" autocomplete="off" class="ui-textarea ui" id="signature"><{$user.signature}></textarea>
					<div class="tip">请输入个人签名</div>
				</div>
			</form>
			<button class="conserve ui-button">保存</button> 
		</div>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		
		var flength = $('.key');
        $(".ui").each(function(index,element){
            $(element).bind("blur",function(){
                var _this = $(this)
                if(_this.val()==""){
                    _this.parent().addClass('false').children('.tip').show();
                }else{
                    _this.parent().removeClass('false').children('.tip').hide();
                }
                if(_this.hasClass('againpwd')){
                    if($("#newpwd").val()){
                        if($("#newpwd").val() != _this.val()){
                            _this.parent().addClass('false');
                            _this.siblings('.tip').show().html("两次密码输入不一致");
                        }else{
                            _this.parent().removeClass('false');
                            _this.siblings('.tip').hide().html("请再次输入您的新密码");
                        }
                    }
                }
            })
        })  
        $(".conserve").click(function(event) {
            for(var i = 0;i<flength.length; i++){
                if($(flength[i]).children('.ui').val()==""){
                    $(flength[i]).addClass('false').children('.tip').show();
                }else{
                    $(flength[i]).removeClass('false').children('.tip').hide();
                }
            }
            if($('.false').length == 0){
                $('form#edit').submit();
            }
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->