<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="content wrap">
		<div class="user_right">
			<div class="top clearfix">
				<div class="user_pic"><img alt="<{$user.uname}>" src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></div>
				<div class="user_pic_con">
					<strong><{$user.uname}><img class="levelicon" src="__PUBLIC__/Forum/images/level/level<{$user.exp|CBWExpLevel=###}>.png" alt="<{:CBWExpLevel($user['exp'],'name')}>" width="32" title="<{:CBWExpLevel($user['exp'],'name')}>"/></strong>
					<span class="address">常居地：<{$user.city_addr}></span>
					<span class="middle">个人签名：<{$user.signature}></span>
				</div>
				<if condition="($user.id eq $userId)">
				<div class="edit"><a href="<{$CBW_URL}>/users/edit.html">编辑资料</a></div>
				</if>
			</div>
			<div class="bottom">
				<ul class="clearfix">
					<li><a href="<{$CBW_URL}>/users/question/id/<{$user.id}>.html">提问 <{$user.question}></a></li>
					<li><a href="<{$CBW_URL}>/users/post/id/<{$user.id}>.html">回答 <{$user.post}></a></li>
					<li><a href="<{$CBW_URL}>/users/share/id/<{$user.id}>.html">分享 <{$user.share}></a></li>
					<if condition="($user.id eq $userId)">
					<li><a href="<{$CBW_URL}>/users/collect.html">收藏 <{$user.collect}></a></li>
					<li><a href="<{$CBW_URL}>/users/activity.html">动态 <{$user.activity}></a></li>
					<li><a href="<{$CBW_URL}>/users/notice.html">消息 <{$user.notice}></a></li>
					</if>
				</ul>
			</div>
		</div>
		<div class="showArea clearfix">
			<div class="user_mod ques">
				<h2>最新的发表</h2>
				<div class="quew_lst">
					<ul class="ques_ul">
						<foreach name="data" item="vo">
						<li>
							<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h3>
							<div class="pdz clearfix">
								<span class="pn"><{$vo.replies}> <if condition="$vo.category eq 1">回答<else />回复</if></span>
								<span><{$vo.votes}> 评分</span>
								<span><{$vo.favtimes}> 收藏</span>
								<span class="bdn"><{$vo.dateline|CBWTimeFormat='m.d'}></span>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="user_profit">
				<ul class="clearfix">
					<li>
						<span class="num"><a href="#"><{$user.virtual_money}></a></span>
						<span class="tit"><a href="#">草包豆</a></span>
					</li>
					<li>
						<span class="num"><a href="#"><{$user.exp}></a></span>
						<span class="tit"><a href="#">经验值</a></span>
					</li>
					<li class="last">
						<span class="num"><{$user.adopt}></span>
						<span class="tit">赞同</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->