<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-notice.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<div class="tabWrap">
		<ul class="tabs">
			<li class="tab"><a href="<{$CBW_URL}>/users/question.html">提问</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/post.html">回答</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/share.html">分享</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/collect.html">收藏</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/activity.html">动态</a></li>
			<li class="tab current"><a href="<{$CBW_URL}>/users/notice.html">消息</a></li>
		</ul>
	</div>
	<div class="user_notice clearfix">
		<div class="user_left">
			<div class="user_mod notice">
				<h2 class="clearfix">
					<span class="noticespan">消息</span>
					<dl>
						<dt>显示：</dt>
						<dd <if condition="($show eq 'all')">class="current"</if>><a href="<{$CBW_URL}>/users/notice.html?show=all">全部</a></dd>
						<dd <if condition="($show eq 'unread')">class="current"</if>><a href="<{$CBW_URL}>/users/notice.html?show=unread">未读</a></dd>
					</dl>
				</h2>
				<ul class="notice_list">
					<foreach name="data" item="vo">
					<li <if condition="$vo['status'] eq 0">class="unread"</if>>
						<div class="conArea">
							<b>@<{$vo.uname}></b>
							<eq name="vo.act" value="1"><i>回复了</i></eq>
							<eq name="vo.act" value="2"><i>评论了</i></eq>
							<eq name="vo.act" value="3"><i>采纳了</i></eq>
							<eq name="vo.act" value="4"><i>取消采纳</i></eq>
							<eq name="vo.act" value="5"><i>投票了</i></eq>
							<eq name="vo.act" value="6"><i>取消投票</i></eq>
							<lt name="vo.act" value="7">
								<eq name="vo.status" value="1">
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
								<else />
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
								</eq>
							</lt>
							<eq name="vo.act" value="7">
								<eq name="vo.category" value="0"><i>主题</i></eq>
								<eq name="vo.category" value="1"><i>回复</i></eq>
								<eq name="vo.status" value="1">
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
								<else />
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
								</eq>
								<i>通过审核</i>
							</eq>
							<eq name="vo.act" value="8">
								<eq name="vo.category" value="0"><i>主题</i></eq>
								<eq name="vo.category" value="1"><i>回复</i></eq>
								<eq name="vo.status" value="1">
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.content}></a>”</strong>
								<else />
									<strong>“<a href="<{$CBW_URL}>/view/<{$vo.tid}>.html?nid=<{$vo.id}>"><{$vo.content}></a>”</strong>
								</eq>
								<i>不通过审核</i>
							</eq>
							<span class="t-zhi"><a href="<{:U('Users/delNotice', array('id'=>$vo['id']))}>" onclick="return confirm('您确定删除该消息吗？');">×</a></span>
						</div>
						<time><{$vo.dateline|CBWTimeFormat='m.d'}></time>
					</li>
					</foreach>
				</ul>
				<div class="page">
					<ul class="clearfix pageul">
						<if condition="($page gt 1)">
							<if condition="($show eq '')">
								<li class="page_np current"><a href="<{$CBW_URL}>/users/notice/page/<{$page-1}>.html">上一页</a></li>
							<else />
								<li class="page_np current"><a href="<{$CBW_URL}>/users/notice/page/<{$page-1}>.html?show=<{$show}>">上一页</a></li>
							</if>
						<else />
							<li class="page_np"><a href="javascript:;">上一页</a></span>
						</if>
						<if condition="($page lt $pages)">
							<if condition="($show eq '')">
								<li class="page_np current"><a href="<{$CBW_URL}>/users/notice/page/<{$page+1}>.html">下一页</a></li>
							<else />
								<li class="page_np current"><a href="<{$CBW_URL}>/users/notice/page/<{$page+1}>.html?show=<{$show}>">下一页</a></li>
							</if>
						<else />
							<li class="page_np"><a href="javascript:;">下一页</a></span>
						</if>
						<!--<li><input class="ui-input input_page" type="text" /></li>
						<li class="go"><a href="#">跳转</a></li>-->
						<li class="page_num"><{$page}>/<{$pages}> 页</li>
					</ul>
				</div>
			</div>
		</div>
		<{:W('System/user', array('id'=>$id))}>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->