<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-post.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<div class="tabWrap">
		<ul class="tabs">
			<li class="tab"><a href="<{$CBW_URL}>/users/question/id/<{$id}>.html">提问</a></li>
			<li class="tab current"><a href="<{$CBW_URL}>/users/post/id/<{$id}>.html">回答</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/share/id/<{$id}>.html">分享</a></li>
			<if condition="($id eq $userId)">
			<li class="tab"><a href="<{$CBW_URL}>/users/collect.html">收藏</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/activity.html">动态</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/notice.html">消息</a></li>
			</if>
		</ul>
	</div>
	<div class="user_notice clearfix">
		<div class="user_left">
			<div class="user_mod notice">
				<h2>回答</h2>
				<div class="answer_lst">
					<foreach name="data" item="vo">
					<div class="answer_news clearfix">
						<div class="answer_bd">
							<h3><a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><{$vo.subject}></a></h3>
							<div class="answer_author clearfix">
								<a class="author_pic" href="#"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
								<a class="author_name" href="#"><{$vo.uname}></a>
							</div>
							<div class="answer_con">
								<p class="art"><{$vo.message}></p>
								<neq name="vo.quote" value="0">
									<p class="art">引用:<a href="__APP__/view/<{$vo.quote}>.html"><{$vo.quotesubject}></a></p>
								</neq>
								<neq name="vo.attachment" value="">
									<p class="art"><img id="togpic" src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" width="120" /></p>
								</neq>
								<div class="pdz">
									<a class="icon_comment" herf="javascript:;"><i class="icon"></i><{$vo.cnumber}>条评论</a>
									<a class="date" href="javascript:;"><{$vo.dateline|CBWTimeFormat='m.d'}></a>
								</div>
								<div class="comment_area">
									<span class="icon_triangle icon"></span>
									<notempty name="vo.comments">
									<ul>
										<foreach name="vo.comments" item="v">
										<li class="clearfix">
											<span class="icon icon_bigcom"></span>
											<div class="area_bd">
												<p class="area_tit"><{$v.content}></p>
												<p class="area_auth">由 <span><{$v.uname}></span> 于<{$v.dateline|CBWTimeFormat='m.d'}></p>
											</div>
										</li>
										</foreach>
									</ul>
									</notempty>
									<gt name="vo.cnumber" value="9">
									<div class="show_more">+显示更多的9条评论</div>
									</gt>
									<if condition="($id eq $userId)">
									<div class="area_input" data-id="<{$vo.tid}>" category="1" accept-id="<{$vo.id}>" length="9">
										<input type="text" class="common_input" placeholder="请输入您的评论">
										<div class="btns">
											<a class="ui-button btn_cancle" href="javascript:;">取消</a>
											<a class="ui-button btn_confirm" href="javascript:;">确定</a>
										</div>
								   </div>
								   </if>
								</div><!-- 评论 -->
							</div>
						</div>
					</div>
					</foreach>
				</div>
			</div>
			<div class="page">
				<ul class="clearfix pageul">
					<if condition="($page gt 1)">
						<li class="page_np current"><a href="<{$CBW_URL}>/users/post/id/<{$id}>/page/<{$page-1}>.html">上一页</a></li>
					<else />
						<li class="page_np"><a href="javascript:;">上一页</a></span>
					</if>
					<if condition="($page lt $pages)">
						<li class="page_np current"><a href="<{$CBW_URL}>/users/post/id/<{$id}>/page/<{$page+1}>.html">下一页</a></li>
					<else />
						<li class="page_np"><a href="javascript:;">下一页</a></span>
					</if>
					<!--<li><input class="ui-input input_page" type="text" /></li>
					<li class="go"><a href="#">跳转</a></li>-->
					<li class="page_num"><{$page}>/<{$pages}> 页</li>
				</ul>
			</div>
		</div>
		<{:W('System/user', array('id'=>$id))}>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
        // 评论显示
		$(".icon_comment").click(function(event) {
			$(this).parent().siblings(".comment_area").stop().slideToggle(300);
		});
		// 评论隐藏
		$(".area_input .btn_cancle").click(function(event) {
			$(this).parents(".comment_area").stop().slideUp(300);
		});
		// 加载更多评论
		$(".show_more").click(function(event) {
			var _this = $(this);
			var category = _this.siblings(".area_input").attr("category");
			var acceptid = _this.siblings(".area_input").attr("accept-id");
			var length   = _this.siblings(".area_input").attr("length");
			
			$.post('__APP__/Thread/loadComments', {'category':category, 'acceptid':acceptid, 'length':length}, function(d){
				var data = $.parseJSON(d);
				if(data){
					if(data.length > 0){
						_this.hide();
					}
					for(var a = 0;a < data.length;a++){
						var html = '<li class="clearfix">';
						html += '		<span class="icon icon_bigcom"></span>';
						html += '		<div class="area_bd">';
						html += '			<p class="area_tit">'+ data[a]['content'] +'</p>';
						html += '			<p class="area_auth">由 <span>'+ data[a]['uname'] +'</span> 于'+ data[a]['dateline'] +'</p>';
						html += '		</div>';
						html += '	</li>';
						_this.siblings("ul").append(html);
						_this.siblings(".area_input").attr("length",parseFloat(length)+9);
					}
				}
			});
		});	
		// 评论确定
		$(".comment_area .btns .btn_confirm").click(function(event) {
			if(!_USERS_){
				alert('尚未登录');
				return false;
			}
			var input = $(this).parent().siblings('.common_input');
			if(input.val()==""){
				input.css("borderColor","#f00").focus();
				return false;
			}else{
				input.css("borderColor","#dcdcdc");
			}
			var _this = $(this);
			var tid      = _this.parents(".area_input").attr("data-id");
			var category = _this.parents(".area_input").attr("category");
			var acceptid = _this.parents(".area_input").attr("accept-id");
			var content  = input.val();
			$.post('__APP__/Thread/doAddComment', {'tid':tid, 'category':category, 'acceptid':acceptid, 'content':content}, function(d){
				if(d == 'error'){
					alert('非法请求！');
				}else if(d == 'login'){
					alert('尚未登录,不允许发布！');
				}else if(d == 'badwords'){
					alert('评论中存在敏感词,不允许发布！');
				}else if(d == 'freely'){
					alert('评论频繁,请一分钟后再评论！');
				}else{
					input.val('');
					window.location.reload();
				}
			});
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->