<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/user-share.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<div class="tabWrap">
		<ul class="tabs">
			<li class="tab"><a href="<{$CBW_URL}>/users/question/id/<{$id}>.html">提问</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/post/id/<{$id}>.html">回答</a></li>
			<li class="tab current"><a href="<{$CBW_URL}>/users/share/id/<{$id}>.html">分享</a></li>
			<if condition="($id eq $userId)">
			<li class="tab"><a href="<{$CBW_URL}>/users/collect.html">收藏</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/activity.html">动态</a></li>
			<li class="tab"><a href="<{$CBW_URL}>/users/notice.html">消息</a></li>
			</if>
		</ul>
	</div>
	<div class="user_notice clearfix">
		<div class="user_left">
			<div class="user_mod article">
				<h2>分享</h2>
				<div class="quew_lst">
					<ul class="ques_ul">
						<foreach name="data" item="vo">
						<li>
							<h3><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h3>
							<div class="pdz clearfix">
								<span class="pn"><{$vo.replies}> 回答</span>
								<span><{$vo.votes}> 评分</span>
								<span><{$vo.favtimes}> 收藏</span>
								<span class="bdn"><{$vo.dateline|CBWTimeFormat='m.d'}></span>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
				<div class="page">
					<ul class="clearfix pageul">
						<if condition="($page gt 1)">
							<li class="page_np current"><a href="<{$CBW_URL}>/users/share/id/<{$id}>/page/<{$page-1}>.html">上一页</a></li>
						<else />
							<li class="page_np"><a href="javascript:;">上一页</a></span>
						</if>
						<if condition="($page lt $pages)">
							<li class="page_np current"><a href="<{$CBW_URL}>/users/share/id/<{$id}>/page/<{$page+1}>.html">下一页</a></li>
						<else />
							<li class="page_np"><a href="javascript:;">下一页</a></span>
						</if>
						<!--<li><input class="ui-input input_page" type="text" /></li>
						<li class="go"><a href="#">跳转</a></li>-->
						<li class="page_num"><{$page}>/<{$pages}> 页</li>
					</ul>
				</div>
			</div> 
		</div>
		<{:W('System/user', array('id'=>$id))}>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->