<extend name="Public:same" />
<block name="cssFile">
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/listNav.css"/>
	<link rel = "stylesheet" href = "__PUBLIC__/Home/css/content.css"/>
</block>
<block name="topJsFile">

</block>
<block name="publicBody">
<div class="content">
		<div class="topadv clearfix">
			<foreach name="topRes" item="vo">
			<a href="<{$vo.link_url}>" title="<{$vo.adv_name}>"><img src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" alt="<{$vo.adv_name}>" title="<{$vo.adv_name}>" /></a>
			</foreach>
		</div>
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> <a href="<{$CBW_URL}>/news/" title="资讯中心">资讯中心</a></dd>
			<dd><em></em> <a href="<{$CBW_URL}>/news_list/<{$nav.id}>.html" title="<{$nav.cat_name}>"><{$nav.cat_name}></a></dd>
			<dd><em></em> <{$news.title}></dd>
		</dl>
		<div class="bdCont clearfix">
			<div class="listNavBar">
				<div class="listNav navBar">
					<div class="title">
						<p>资讯中心</p>
					</div>
					<foreach name="catRes" item="c">
					<dl <eq name="news.cat_id" value="$c.id">class="on"</eq>>
						<dt><a href="<{$CBW_URL}>/news_list/<{$c.id}>.html" title="<{$c.cat_name}>"><{$c.cat_name}></a></dt>
					</dl>
					</foreach>
				</div>
				<div class="navBar">
					<div class="title">
						<p>相关新闻</p>
					</div>
					<div class="newsList">
						<ul>
							<foreach name="relevant_news" item="n">
							<li><a href="<{$CBW_URL}>/news/<{$n.id}>.html" title="<{$n.title}>" alt="<{$n.title}>"><{$n.title}></a></li>
							</foreach>
						</ul>
					</div>
				</div>
				<div class="navBar advs posR">
					<div class="bd">
						<a href="<{$leftRes.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$leftRes.thumbnail}>" title="<{$leftRes.adv_name}>" width="218" alt="<{$leftRes.adv_name}>"/></a>
					</div>
				</div>
			</div>
			<div class="contBx">
				<div class="cont">
					<h1><{$news.title}></h1>
					<div class="otherInfo">
						<p>作者：<span><{$news.author}></span></p>
						<p>发布时间：<span><{$news.create_time|date="Y-m-d H:i:s",###}></span></p>
						<p>点击：<span><{$news.clicktimes}>次</span></p>
					</div>
					<div class="infos">
					<{$news.content|htmlspecialchars_decode}>
					</div>
					<neq name="news.source" value="">
					<dl class="clearfix from">
						<dt>本文来源：</dt>
						<dd><{$news.source}></dd>
					</dl>
					</neq>
					<div class="clearfix">
					<div class="bdsharebuttonbox" style="float:left;">
						<a href="#" class="bds_more" data-cmd="more"></a>
						<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
						<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
						<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
						<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
						<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
						<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
					</div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
					<a style="float:right;display:inline-block;line-height:36px;margin: 15px 0 0 0;padding: 10px 20px 0 20px;" href="http://www.caobao.com/news/407.html" target="_blank">手机维修、玩机技巧交流QQ群</a>
					</div>
				</div>
				<div class="pages">
					<neq name="previous.title" value="">
						<p>上一篇：<span><a href="<{$CBW_URL}>/news/<{$previous.id}>.html" title="<{$previous.title}>"><{$previous.title}></a></span></p>
					</neq>
					<neq name="next.title" value="">
						<p>下一篇：<span><a href="<{$CBW_URL}>/news/<{$next.id}>.html" title="<{$next.title}>"><{$next.title}></a><span></p>
					</neq>
				</div>
				<div class="recommend">
					<div id="hm_t_85815"></div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footScript"> 
 
</block>
