<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/css/wxpay-jsapi.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
    <dl class="clearfix header">
		<dt class="backItem"></dt>
		<dd class="ddName">微信安全支付</dd>
	</dl>
	<div class="payWay">
		<p><a class="weixin" href="<{:U('Buy/pay', array('id'=>$trade_no))}>">选择其他支付方式</a></p>
	</div>
</block>
<!-- 主体部分 结束 -->

<block name="footJsFile">
	
</block>

<!--js-->
<block name="footScript">
	<script>
		$(document).ready(function(){
		　　callpay();
		});
		
		//调用微信JS api 支付
		function jsApiCall(){
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				<{$jsApiParameters}>,
				function(res){
					WeixinJSBridge.log(res.err_msg);
					//alert(res.err_code+res.err_desc+res.err_msg);
					if(res.err_msg=='get_brand_wcpay_request:ok'){					
						var payLink = "<{$order.pay_link}>";
						if(payLink != ''){
							location.href = payLink;
						}else{
							location.href = "<{$CBW_URL}>/orders/index.html";
						}
					}
					if(res.err_msg=='get_brand_wcpay_request:cancel'){
						//$('button').css('opacity',1);	
					}
					if(res.err_msg=='get_brand_wcpay_request:fail'){
						//$('button').css('opacity',1);				
					}
				}
			);
		}

		function callpay(){
			if (typeof WeixinJSBridge == "undefined"){
				if( document.addEventListener ){
					document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
				}else if (document.attachEvent){
					document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
					document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
				}
			}else{
				jsApiCall();
			}
		}
	</script>
</block> 