<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/css/wxpay-native.css"/>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>微信支付</h1>
	</header>
	<div class="con">
		<div class="order">
			<div class="o-left">
				<h3 class="o-title">订单号：<{$trade_no}></h3>
				<p class="o-tips"></p>
			</div>
			<div class="o-right">
				<div class="o-price">
					<em>应付金额</em><strong><{$money}></strong><em>元</em>
				</div>
			</div>      
		</div>
		<div class="payment clearfix">
			<!-- 微信支付 -->
			<div class="pay-weixin">
				<div class="p-w-bd clearfix">
					<div class="j_weixinInfo">距离二维码过期还剩<span class="j_qrCodeCountdown font-bold font-red">60</span>秒，过期后请刷新页面重新获取二维码。</div>
					<div class="p-w-box">
						<eq name="err_code" value="OUT_TRADE_NO_USED">
						<div class="pw-box-hd repeat">
							商户订单号重复,请重新下单!
						</div>
						<else />
						<div class="pw-box-hd">
							<img src="<{:U('Wxpay/qrcode/',array('data'=>$code_url))}>" alt="微信扫码支付" title="微信扫码支付" width="298" height="298" />
						</div>
						</eq>
						<div class="pw-box-ft">
							<p>请使用微信扫一扫</p>
							<p>扫描二维码支付</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 微信支付 end -->
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<block name="footJsFile">
	
</block>

<!--js-->
<block name="footScript">
	<script>
		var endtime = 60;
        var sh;
        function FreshTime(){
			endtime--;
			$(".j_qrCodeCountdown").text(endtime);
			if(endtime<=0){
				$(".j_weixinInfo").addClass("font-red").html("二维码已过期，<a href='javascript:;' class='refresh'>刷新<a/>页面重新获取二维码。");
				$(".pw-box-hd").find('img').attr('src','__PUBLIC__/Home/images/2016/57b51ea9Nb862ca5e.png');
				clearInterval(sh);
			}
			checkWeiXinPay();
        }
        sh=setInterval(FreshTime,1000);

		function checkWeiXinPay(){
			var trade_no = "<{$trade_no}>";
			$.post('__CONTROLLER__/orderQuery',{'trade_no':trade_no},function(d){
				if(d == 1){
					window.location.href = '<{:U("System/repair")}>';//页面跳转
				}	
			});
		}
		
		$(".con").delegate(".refresh" ,"click" ,function(event){
			endtime = 60;
			sh=setInterval(FreshTime,1000);
			$(".j_weixinInfo").removeClass("font-red").html('距离二维码过期还剩<span class="j_qrCodeCountdown font-bold font-red">60</span>秒，过期后请刷新页面重新获取二维码。');
			$(".pw-box-hd").find('img').attr("src","<{:U('Wxpay/qrcode/',array('data'=>$code_url))}>");
		})
	</script>
</block>