<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">评估关联</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
				<div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('Recovery/recoveryRelation')}>" method="get" class="span6">
								<select name="pro_id" style="width:200px;">
                                    <option>查找全部回收商品</option>
									<foreach name="recoveryList" item="vo">
										<option value="<{$vo.id}>" <eq name="map.pro_id" value="$vo.id">selected</eq>><{$vo.pro_name}></option>
									</foreach>
                                </select>
                                <input type="submit" id="sub" class="btn btn-primary" placeholder="请选择回收商品..." value="提交">
                            </form>
							<a href="__CONTROLLER__/recoveryRelationCopy" class="btn btn-info pull-right"><i class="icon-plus"></i> 复制评估关联</a>
							<a href="__CONTROLLER__/addRecoveryRelation" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加评估关联</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:3%">编号</th>
                                    <th style="width:10%">关联商品</th>
                                    <th style="width:10%">关联评估</th>
                                    <th style="width:10%">项目</th>
									<th>值</th>
									<th style="width:10%">是否显示</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="relationList" item="vo">
                                <tr class="odd gradeX">
                                    <td style="text-align:center;"><{$vo.id}></td>
                                    <td style="text-align:center;"><{$vo.pro_name}></td>
                                    <td style="text-align:center;"><{$vo.content_name}></td>
                                    <td style="text-align:center;">
										<eq name="vo.project_id" value="1">比例项</eq>
										<eq name="vo.project_id" value="2">加项</eq>
										<eq name="vo.project_id" value="3">减项</eq>
									</td>
									<td style="text-align:center;"><{$vo.money}></td>
									<td class="text-center" id="is_show<{$vo.id}>">
										<eq name="vo.is_show" value="1">
										<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$vo.id}>, '0');"></i>
										<else />
										<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$vo.id}>, '1');"></i>
										</eq>
									</td>
                                    <td style="text-align:center;">
										<a href="__CONTROLLER__/editRecoveryRelation/id/<{$vo.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
										<a href="__CONTROLLER__/doRecoveryRelationDel/id/<{$vo.id}>" title="删除" onclick="return confirm('您确定删除该评估关联吗？');" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
									</td>
                                </tr>
                                </foreach>
                            </tbody>
							<tfoot>
								<tr>
									<td colspan="7">
										<div class="pagination alternate text-right span9 pull-right">
											<{$page}>
										</div>
									</td>
								</tr>
							</tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
function postDataStatus(id, val){
	var data = {'id': id, 'val':val};
	$.post('__CONTROLLER__/postRelationEdit', data, function (a) {
		if (a > 0) {
			if(val=='1'){
				$("#is_show"+ id).html('<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus('+ id +', \'0\');"></i>');
			}else{
				$("#is_show"+ id).html('<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus('+ id +', \'1\');"></i>');
			}
		} else {
			alert("修改失败.");
		}
	});
}

</script>
</block>
<!-- 底部JS执行区域 结束 -->
