<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">评估内容</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>修改评估内容</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('Recovery/doRecoveryContentEdit')}>" name="edit" id="edit" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">选择上级分类：</label>
                                <div class="controls">
                                    <select name="pid" style="width:220px;">
										<option value="0">顶级分类</option>
                                        <foreach name="contents" item="vo">
											<option value="<{$vo.id}>" <eq name="content.pid" value="$vo.id">selected</eq>><{$vo.name}></option>
										</foreach>
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">名称：</label>
                                <div class="controls">
                                    <input type="text" name="name" class="tip-right" value="<{$content.name}>" data-original-title="评估内容名称" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">多选一属性名：</label>
                                <div class="controls">
                                    <input type="text" name="brother" class="tip-right" value="<{$content.brother}>" data-original-title="评估内容多选一属性名" />
                                    <span></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">类型：</label>
                                <div class="controls">
									<label><input type="radio" value="1" name="types" <eq name="content.types" value="1">checked</eq> />手机基本情况</label>
									<label><input type="radio" value="2" name="types" <eq name="content.types" value="2">checked</eq> />手机功能情况</label>
									<label><input type="radio" value="3" name="types" <eq name="content.types" value="3">checked</eq> />手机其他情况</label>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">描述：</label>
                                <div class="controls">
									<textarea name="description" class="span5"><{$content.description}></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
								<input type="hidden" value="<{$content.id}>" name="id" />
                                <input type="submit" value=" 更新 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                                <a href="__CONTROLLER__/recoveryContent" class="btn btn-default">返回列表</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>

        // 分类select获取分类级别
        $(function (){
			$('[name=fid]').change(function(){
				var fid = $(this).val();
				var data = {'fid': fid};
				$.post('__CONTROLLER__/postCatLevel', data, function (a) {
					if (a > 0) {
						$('[name=level]').val(parseInt(a)+1);
					} else {
						alert("获取失败.");
					}
				});
			});  
        });
            
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
