<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">评估内容</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
				<div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('Recovery/recoveryContent')}>" method="get" class="span6">
								<select name="types" style="width:200px;">
                                    <option>查找全部类型</option>
									<option value="1" <eq name="map.types" value="1">selected</eq>>手机基本情况</option>
									<option value="2" <eq name="map.types" value="2">selected</eq>>手机功能情况</option>
									<option value="3" <eq name="map.types" value="3">selected</eq>>手机其他情况</option>
                                </select>
								<select name="pid" style="width:200px;">
                                    <option>查找全部上级目录</option>
									<foreach name="contents" item="vo">
										<option value="<{$vo.id}>" <eq name="map.pid" value="$vo.id">selected</eq>><{$vo.name}></option>
									</foreach>
                                </select>
                                <input type="submit" id="sub" class="btn btn-primary" placeholder="请选择类型或上级目录..." value="提交">
                            </form>
							<a href="__CONTROLLER__/addRecoveryContent" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加评估内容</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:3%">编号</th>
                                    <th style="width:10%">名称</th>
                                    <th>描述</th>
                                    <th style="width:8%">类型</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="contentList" item="vo">
                                <tr class="odd gradeX">
                                    <td style="text-align:center;"><{$vo.id}></td>
                                    <td style="text-align:center;"><{$vo.name}></td>
                                    <td><{$vo.description}></td>
                                    <td style="text-align:center;">
                                        <if condition="$vo['types'] eq 1">手机基本情况</if>
                                        <if condition="$vo['types'] eq 2">手机功能情况</if>
										<if condition="$vo['types'] eq 3">手机其他情况</if>
                                    </td>
                                    <td style="text-align:center;">
										<a href="__CONTROLLER__/editRecoveryContent/id/<{$vo.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
										<a href="__CONTROLLER__/doRecoveryContentDel/id/<{$vo.id}>" title="删除" onclick="return confirm('您确定删除该评估内容吗？');" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
									</td>
                                </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
