/* 
* @Author: Marte
* @Date:   2016-04-28 16:32:18
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-04 17:36:47
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.item h2 {
    font-size: 16px;
    color: #000;
    padding: 15px 0;
    font-weight: bold;
    border-bottom: 1px solid #e1e1e1;
    height: auto;
    line-height: 32px;
}
.orderDetail{
	margin-top: 20px;
}
.master-test{
	margin-top: 20px;
}
.dn{
	display: none;
}
.master-test .tips{
	margin-top: 10px;
}
.master-test .tips .icon-tips {
    width: 10px;
    height: 14px;
    display: inline-block;
    background: url(../images/icon.png) -254px -26px;
    margin-right: 5px;
    margin-top: 2px;
    float: left;
}
.master-test .tips .word-tips {
    color: #898989;
    font-size: 12px;
    float: left;
}
.orderDetail h2, .master-test h2 {
    font-size: 16px;
    color: #000;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    border-bottom: 0 none;
    background-color: #eeeeee;
    padding-left: 25px;
}
.orderDetail .item {
    border: 1px solid #e5e5e5;
    padding: 0 17px 24px;
}
.orderDetail .item .orderDetail-item {
    border-bottom: 1px dashed #eeeeee;
    padding: 0 0 25px;
}
.orderDetail .item h3 {
    color: #000000;
    padding: 16px 0;
    font-weight: bold;
}
.orderDetail .item .orderDetail-item .rope {
    margin-bottom: 10px;
}
.fault-news .rope, .order-detial-news .rope {
    margin-bottom: 10px;
}
.orderDetail .item .orderDetail-item .news-tit {
    color: #313131;
}
.orderDetail .item .orderDetail-item .news-content {
    color: #898989;
}
.fault-news .rope .news-tit {
    color: #313131;
}
.fault-news .rope .news-content {
    color: #898989;
    line-height: 22px;
}
.master-test h2 {
    background-color: #f0fff9;
}
.master-test .master-test-content {
    border: 1px solid #e5e5e5;
    padding: 24px 28px;
}
.master-test .master-test-content .mb10 {
    margin-bottom: 20px;
    width: 100%;
}
.master-test .master-test-content .news-tit {
    color: #313131;
}
.master-test .master-test-content .news-content {
    color: #898989;
}
.repair-price .news-content {
    color: #ff4444!important;
    font-size: 18px;
    font-weight: bold;
}
.repair-price .news-content em {
    font-size: 14px;
    font-weight: normal;
}
#recovery{
	display: none;
}
/* 物流详细 */
.shipping-news{
	margin-top:45px;
}
.shipping-news .shopping-tit{
	margin-bottom:15px;
}
.shipping-news .hd{
	background-color:#e8f3ef;
	border:1px solid #eee;
	height:48px;
	line-height:48px;
}
.shipping-news .hd li{
	float:left;
	width:120px;
	text-align:center;
	color:#000;
	height:48px;
	line-height:48px;
	cursor:pointer;
	display: none;
}
.shipping-news .hd li.on{
	border-bottom:3px solid #40bb8c;
	margin-top:-1px;
	font-weight:bold;
}
.shipping-news .package-detail-list{
	padding:24px 32px;
	display:none;
}
.shipping-news .package-detail-list.show{
	display:block;
}
.shipping-news .package-detail-list .null{
	text-align:center;
}
.shipping-news .package-detail-list ul li{
	border-left: 1px solid #b8eed9;
    padding-left: 38px;
    position: relative;
	color:#313131;
	line-height:22px;
	padding-top:29px;
}
.shipping-news .package-detail-list ul li:first-child{
	padding-top:0;
}
.shipping-news .package-detail-list ul li:first-child .circle_step{
	top: 0;
}
.shipping-news .package-detail-list ul li .circle_step {
    position: absolute;
    left: -6px;
	background-color:#fff;
    top: 36px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 26px;
    border:1px solid #49be91;
    border-radius: 50%;
}
.btn-groups{
	text-align: center;
	margin-top: 15px;
}
.btn-groups .change{
	display: inline-block;
	width: 164px;
	height: 40px;
	border: 1px solid #dcdcdc;
	color: #6a6a6a;
	line-height: 40px;
	border-radius:3px;
	text-align: center;
}

.detail dl {
    margin: 0 0 10px 0;
}
.detail dt {
    margin: 0;
    font-size: 15px;
    padding: 0 0 0 25px;
    line-height: 2;
    color: #40bb8c;
}
.detail dd {
    float: left;
    margin:5px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    height: 36px;
    text-align: center;
    width: 145px;
}
.detail dd.mod{
    display: none;
}
.detail dd span {
    display: inline-block;
    width: 100%;
    height: 36px;
    color: #313131;
    line-height: 36px;
    font-size: 16px;
}
div.option .pvTp{
    display: inline-block;
    width: 362px;
    height: 49px;
	font-size: 16px;
    text-align: center;
    line-height: 49px;
    background-color: #fff;
    color: #313131;
    border-radius: 3px;
    cursor: pointer;
	border: 1px solid #dcdcdc;
}
div.recovery-item .assess-price{
	float:left;
}
.price input{
    padding: 4px 6px;
    width: 100px;
    height: 26px;
	line-height: 26px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin-bottom: 15px;
	font-size: 15px;
}
.detail dd.on {
    background: url(../images/selected.png) 131px 22px no-repeat #fff;
    border-color: #3fb88c;
}
.bd{
    margin-top: 15px;
}
/* 公共类 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.mr85{
	margin-right:85px;
}
.mr75{
	margin-right:75px;
}
.w30{
	width:360px;
}
.w15{
	width:200px;
}
.w19{
	width:216px;
}
.lh20{
	height:20px;
	line-height:20px;
}










