/* 
* @Author: Marte
* @Date:   2016-05-03 09:14:54
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-03 15:35:12
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-t select{
    border: 1px solid #dcdcdc;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-family: "微软雅黑";
    border-radius: 5px;
}
.con-bd-t{
    margin-top: 26px;
}
.con-bd-t span.icon{
    width: 49px;
    height: 16px;
    padding: 7px 0;
    display: inline-block;
    background-color: #40bb8c;
    text-align: center;
    margin-left: 6px;
    border-radius: 5px;
    vertical-align: middle;
	vertical-align: auto\9;
    cursor: pointer;
}
.con-bd-t span i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/icon.png) -277px 0 no-repeat;
}
.con-bd-t input{
    width: 118px;
    height: 29px;
	line-height:29px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding:0 5px;
    font-size: 14px;
}
.con-bd-b .ul-tit{
    height: 44px;
    background-color: #4eca9b;
    color: #fff;
    line-height: 44px;
    padding-left: 18px;
    margin-top: 20px;
}
.con-bd-b .ul-bd li{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}
.eva-a{
    float: left;
}
.eva-a img{
    margin-top: 5px;
    width: 66px;
    height: 66px;
}
.eva-a .athname{
    color: #535353;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 66px;
}
.eva-b{
    width: 715px;
    float: left;
    margin-top: 20px;
    margin-left: 14px;
}
.eva-b img{
    vertical-align: middle;
    margin-right: 5px;
}
.eva-b span.iap{
    display: inline-block;
    height:16px;
    border-right:1px solid #dcdcdc;
    padding-right: 10px;
    vertical-align: top;
}
.eva-b span.eva-at{
    margin-left: 5px;
    display: inline-block;
    width: 380px;
    vertical-align: top;
}
.eva-b .gon span{
    color: #313131;
}
.eva-b .gon span.rely{
    color: #4eca9b;
    float: right;
    cursor: pointer;
}
.gon-b{
    margin-top: 15px;
    color: #898989;
    font-size: 12px;
}
.gon-b span{
   margin-left: 20px;
}
.eva-c{
    border-top:1px dashed #eee;
    margin-left:59px;
}
.eva-c .time{
    margin-top: 6px;
}
.eva-c time{
    font-size: 12px;
    color: #898989;
}
.eva-c-t{
    color: #313131;
    line-height: 24px;
}
.eva-c-t span{
    color: #898989;
}
.addreply{
    display: none;
}
.addreply textarea{
    resize: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: "微软雅黑";
    height: 65px;
    width: 770px;
    border: 1px solid #dcdcdc;
    padding: 5px;
}
.addreply .alert{
    color: #f00;
    display: none;
}
.addreply .submit{
    display: inline-block;
    width: 87px;
    height: 34px;
    background-color: #40bb8c;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}


/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display:inline;
}
.page a {
    display: inline-block;
	*display:inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}