/* 
* @Author: Marte
* @Date:   2016-04-28 16:32:18
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-04 17:36:47
*/
.ui-input1{
	width:70px;
}
.ui-input2{
	width:120px;
}
.ui-input3{
	width:367px;
}
.ui-button{
	width:150px;
	line-height:42px;
	height:42px;
	text-align:center;
	padding:0;
}
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-t{
	line-height:32px;
}
.con-bd-t .mod{
	border:1px solid #dcdcdc;
	margin-top:15px;
	padding:0 0 10px;
}
.con-bd-t .mod h3{
	height:42px;
	line-height:42px;
	font-size:15px;
	text-align:center;
	background-color:#eee;
}
.con-bd-t .way label{
	cursor:pointer;
	margin-right:15px;
}
.con-bd-t div{
	padding:15px 10px 0;
}
.con-bd-t .b5-b{
	width:170px;
	margin:0 auto;
}
.con-bd-t .area select,
.con-bd-t .slt_mobile select{
	height:32px;
	border-color:#dcdcdc;
	border-radius:3px;
	margin-right:10px;
	cursor:pointer;
	min-width: 87px;
	color:#535353;
	border-style: solid;
	border-width:1px;
	font-family:"微软雅黑";
}
.con-bd-t .area select{
	width:123px;
}
.con-bd-t .remarks textarea{
	padding:10px;
	width: 400px;
	border-color:#dcdcdc;
	border-style: solid;
	border-width:1px;
	font-family:"微软雅黑";
}
.con-bd-t .remarks span{
	vertical-align:top;
}
.con-bd-t div .fls_tit{
	display:inline-block;
	text-align:right;
	width:70px;
}
em.tip{
	color:#ff4444;
	display:none;
}
.suggest{
	color:#898989;
	display:none;
}






