/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.container{
	padding: 0 20px;
}
.pro-name{
	margin:40px 0;
}
.pro-name input{
	border: 2px solid #7d7d7d;
	width: 482px;
	height: 42px;
	line-height: 42px;
	padding: 0 18px;
	font-family: "微软雅黑";
}
/* 设置文本框placeholder颜色 */
.pro-name input::-webkit-input-placeholder {              
   color: #ccc;
}
.pro-name input:-moz-placeholder {
	color: #ccc;
}
.pro-name input::-moz-placeholder{
	color: #ccc;
}
.pro-name input:-ms-input-placeholder {
	color: #ccc;
 }
table {
    width: 100%;
	border-collapse:collapse;
	font-size: 14px;
	color: #535353;
}
table thead{
	background-color: #ebf8f3;
	color: #313131;
}
table tr{
	line-height: 32px;
	color: #313131;
}
table tbody tr{
	background-color: #fff;
	border: 1px solid #eeeeee;
	border-top: none;
}
table tbody tr.usernews{
	height: 43px;
	line-height: 43px;
	background-color: #f3f3f3;
	
	border-bottom: 0;
}
table tbody tr.usernews .buy-user,
table tbody tr.usernews .buy-phone{
	float: left;
	margin-left: 15px;
}
table tbody tr.usernews .buy-user input,
table tbody tr.usernews .buy-phone input{
	background-color: transparent;
	font-family: "微软雅黑";
	font-size: 14px;
	border-bottom: 1px solid #9d9d9d;
}
table tbody tr.usernews .buy-phone{
	margin-left: 20px;
}
table tbody tr.usernews .all-price{
	float: right;
	margin-right: 15px;
}

table td.text-center {
    text-align: center!important;
}
table td.number{
    width:160px;
}
table td.number p{
    text-align:center;
}
table td.number b{
    width:20px;
    height:20px;
    border:1px solid #e6e6e6;
    display:inline-block;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    background:url(../images/coins.png) no-repeat;
	cursor: pointer;
}
table td.number b.plus{
    background-position: -175px -217px;
	border-left: 0;
}
table td.number b.minus{
    background-position: -106px -217px;
	border-right: 0;
}
table td.number b.disabled{
    background-position-y: -237px;
}
table td.number input{
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 0;
    text-align: center;
    height: 20px;
}
table td.sigprice input{
	width: 64px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    padding: 0;
    text-align: center;
	border: 1px solid #e6e6e6;
    height: 20px;
}
table td.pro-detial{
	color: #313131;
}
table td.pro-detial img{
	height: 56px;
	width: 56px;
	border: 1px solid #eeeeee;
	margin: 10px 6px 10px 10px;
	vertical-align:middle;
}
table td.delete{
	cursor: pointer;
}
.all-price{
	color: #000;
	text-align: right;
}
.all-price span{
	color: #ff4444;
	font-size: 18px;
	vertical-align: -1px;
}
.btns{
	text-align: center;
	margin-top: 50px;
}
.btns button{
	width: 148px;
	height: 40px;
	letter-spacing:5px;
	line-height: 38px;
	text-align: center;
	background-color: #40bb8c;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
	border-radius:3px;
}
.pro-mod{
	position: relative;
}
/* 下拉选择型号 */
.prolist {
    width: 522px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 45px;
    z-index: 99;
	display: none;
}
.prolist ul {
    max-height: 383px;
    border: 1px solid #cbcbcb;
    overflow-y: auto;
}
.prolist ul li {
    width: 100%;
    height: 63px;
    background-color: #fff;
    border-bottom: 1px solid #cbcbcb;
    overflow: hidden;
    cursor: pointer;
    line-height: 63px;
}
.prolist ul li.current{
    background-color: #eee;
}
.prolist ul li img{
    margin:8px;
    float: left;
    width: 45px;
    height: 45px;
}   
.prolist ul li p{
    color: #404040;
}

















