
.orderDetail h2,
.master-test h2,
.shipping-news h2{
	font-size:16px;
	color:#000;
	height: 42px;
	line-height: 42px;
	font-weight:bold;
	border: 1px solid #e5e5e5;
    border-bottom: 0 none;
	background-color: #eeeeee;
	padding-left: 25px;
}
.shipping-news h2{
	padding:0 25px;
}
.master-test{
	margin-top: 12px;
}
.dn{
	display:none;
}
.master-test h2{
	background-color: #f0fff9;
}
.master-test .master-test-content{
	border: 1px solid #e5e5e5;
	padding: 24px 28px;
}
.master-test .master-test-content .mb10{
	margin-bottom: 20px;
	width: 100%;
}
.master-test .master-test-content .news-tit{
	color: #313131;
}
.master-test .master-test-content .news-content{
	color: #898989;
}
.master-test .master-test-content .repair-price .news-content{
	color: #ff4444;
	font-size: 18px;
	font-weight: bold;
}
.master-test .master-test-content .repair-price .news-content em{
	font-size: 14px;
	font-weight: normal;
}
.fault-news .repair-price .news-content{
	color: #ff4444;
	font-size: 18px;
	font-weight: bold;
}
.fault-news .repair-price .news-content em{
	font-size: 14px;
	font-weight: normal;
}

/* 用户信息&故障信息 */
.orderDetail .item{
	border:1px solid #e5e5e5;
	padding:0 17px 24px;
}
.orderDetail .item h3{
	color:#000000;
	padding:16px 0;
	font-weight:bold;
}
.orderDetail .item .orderDetail-item{
	border-bottom: 1px dashed #eeeeee;
	padding:0 0 25px;
}
.orderDetail .item .orderDetail-item .rope{
	margin-bottom: 10px;
}
.orderDetail .item .orderDetail-item .news-tit{
	color:#313131;
}
.orderDetail .item .orderDetail-item .news-content{
	color:#898989;
}
.new-fault-news-content{
	padding:23px 28px 13px;
	background-color:#e4f5ee;
	border:1px solid #eeeeee;
}
.fault-news .rope .news-tit{
	color:#313131;
}
.fault-news .rope .news-content{
	color:#898989;
	line-height:22px;
}
.fault-news .rope,
.order-detial-news .rope{
	margin-bottom:10px;
}
/* 物流详细 */
.shipping-news{
	margin-top:45px;
}
.shipping-news .shopping-tit{
	margin-bottom:15px;
}
.shipping-news .hd{
	border:1px solid #eee;
	height:43px;
	line-height:43px;
}
.shipping-news .hd li{
	float:left;
	width:60px;
	text-align:center;
	color:#000;
	height:43px;
	line-height:43px;
	cursor:pointer;
	font-weight:normal;
	font-size: 14px;
}
.shipping-news .hd li.on{
	margin-top:-1px;
	font-weight:bold;
}
.shipping-news .package-detail-list{
	padding:24px 32px;
    display: none;
}
.shipping-news .package-detail-list .shopping-tit .f_right{
	cursor: pointer;
	color: #40bb8c;
	font-size: 12px;
}
.shipping-news .package-detail-list.show{
	display:block;
}
.shipping-news .package-detail-list .null{
	text-align:center;
}
.shipping-news .package-detail-list ul li{
	border-left: 1px solid #b8eed9;
    padding-left: 38px;
    position: relative;
	color:#313131;
	line-height:22px;
	padding-top:29px;
	display: none;
}
.shipping-news .package-detail-list ul li:first-child{
	padding-top:0;
}
.shipping-news .package-detail-list ul li:first-child .circle_step{
	top: 0;
}
.shipping-news .package-detail-list ul li .circle_step {
    position: absolute;
    left: -6px;
	background-color:#fff;
    top: 36px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 26px;
    border:1px solid #49be91;
    border-radius: 50%;
}
/* 按钮 */
.btngrops{
	margin-top:30px;
	text-align:center;
}
.btngrops .ui-button{
	padding:0;
	width:140px;
	margin-left:12px;
	border:0 none;
	height:42px;
	line-height:42px;
	background-color:#40bb8c;
	color:#fff;
}
.btngrops .btn-prin{
	background-color:#a0a0a0;
}
.btngrops .btn-payment,
.btngrops .btn-change{
	background-color:#ff9600;
}
.btngrops .btn-change{
	background-color: #fff;
	border: 1px solid #eee;
	border-radius:3px;
	color: #313131;
}
/* 收款 */
.master-mod .btngrops{
	position: relative;
}
.master-mod .btngrops .wx_zfb{
	width: 143px;
    display: inline-block;
    border: 1px solid #eeeeee;
    text-align: center;
    background-color: #fff;
    position: absolute;
    right: 286px;
    bottom: 51px;
    z-index: 99;
	box-shadow:2px 2px 8px rgba(0,0,0,0.2);
	display: none;
}
.master-mod .btngrops .wx_zfb a{
	display: block;
	border-radius:5px;
	height:59px;
	margin-left:5px;
	line-height:59px;
	margin:0;
}
.master-mod .btngrops .wx_zfb a i{
	background:url(../images/icon.png) -90px -139px;
	display:inline-block;
	margin-right:2px;
	vertical-align: -4px;
}
.master-mod .btngrops .wx_zfb a.wx{
	color:#62b900;
	border-bottom: 1px solid #eee;
}
.master-mod .btngrops .wx_zfb a.wx .wx_icon{
	width:21px;
	height:19px;
}
.master-mod .btngrops .wx_zfb a.zfb{
	color:#31a3c8;
}
.master-mod .btngrops .wx_zfb a.zfb .zfb_icon{
	width:20px;
	height:20px;
	background-position: -91px -175px;
}
/* 维修师检测改价 */
.test-change {
	display: none;
}
.test-change .newSelect{
	margin-top: 20px;
}
.test-change .newSelect .remarks textarea{
	height: 110px;
	width: 774px;
	border: 1px solid #dcdcdc;
	padding:10px;
	font-family: "微软雅黑";
}
.test-change .newSelect .write p{
    margin-top: 10px;
}
.test-change .newSelect .write p input{
    padding:4px 10px;
	border:1px solid #dcdcdc;
	border-radius: 1px;
	height: 36px;
	line-height: 36px;
	width: 143px;
	font-family: "微软雅黑";
}
.test-change .newSelect .write .addfault .icon-add{
   width: 16px;
   height: 16px;
   background: #fff url(../images/icon.png) -423px -469px no-repeat;
   display: inline-block;
   vertical-align:-3px;
   margin-right: 5px;
}
.test-change .newSelect .write .submit{
   width: 126px;
   height: 42px;
   color: #fff;
   background-color: #40bb8c;
   display: block;
   text-align: center;
   line-height: 42px;
   border-radius:3px ;
   margin: 20px 0 0;
}

/* 公共类 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.mr85{
	margin-right:85px;
}
.mr75{
	margin-right:75px;
}
.w30{
	width:360px;
}
.w15{
	width:200px;
}
.w19{
	width:216px;
}
.lh20{
	height:20px;
	line-height:20px;
}
/* 下拉框 */
.btn-select { 
	position: relative; 
	display: inline-block; 
	width: 350px; 
	height: 46px; 
	font: 14px/46px "Microsoft YaHei"; 
	color: #535353; 
	cursor: pointer;	
	margin-bottom: 10px;
} 
.btn-select:hover { 
	color: #535353; 
} 
.btn-select .cur-select { 
	position: absolute; 
	display: block; 
	width: 350px; 
	height: 46px; 
	line-height: 46px;
    border: 1px solid #dcdcdc;	
	background: url(../images/arrow.png) no-repeat right 7px;
	text-indent: 10px; 
	cursor: pointer;
} 
.btn-select select { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 350px; 
	height: 46px; 
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	font: 14px/46px "Microsoft YaHei"; 
	cursor: pointer;
} 
.btn-select select option { 
    text-indent: 10px; 
} 













