/* 
* @Author: Marte
* @Date:   2016-04-29 14:14:24
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-29 22:11:28
*/
#address dl {
	margin:15px 0;
}
#address dt {
    float: left;
    width: 70px;
    margin-right: 15px;
    text-align: right;
    font-size: 14px;
    color: #898989;
    line-height: 30px;
    font-weight: normal;
}
#address dd {
    float: left;
    width: 590px;
    line-height: 30px;
}
#address select {
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
	height: 30px;
    line-height: 30px;
	padding: 4px 6px;
    font-size: 14px;
    color: #555;
	cursor:pointer;
	font-family:"microsoft yahei";
	margin-right:5px;
}
.ui-button{
	padding:0;
	width:96px;
}