/* 
* @Author: Marte
* @Date:   2016-04-25 16:34:48
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-28 14:09:04
*/

.slidebar .list-ul li.list-item h3 {
	line-height: 63px;
    font-size: 14px;
}
