/* 
* @Author: Marte
* @Date:   2016-04-25 10:41:07
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-27 16:00:59
*/

.con-bd h2 {
    border-bottom: 0 none;
}
/*主体内容开始*/
.con-bd-t .bd-t-l{
    width: 326px;
    height: 209px;
    border: 1px solid #dcdcdc;
    float: left;
}
.con-bd-t .bd-t-r{
    width: 547px;
    min-height: 209px;
    border: 1px solid #dcdcdc;
    float: right;
}
.con-bd-t .bd-t-r .notic{
    font-size: 16px;
    line-height: 28px;
    color: #ffa200;
	padding: 8px 17px;
	border-bottom:1px dashed #eee;
}
.con-bd-m .tit{
    line-height: 58px;
	margin-bottom:15px;
	border-bottom: 1px solid #40bb8c;
}
.con-bd-m .tit h2{
    display:inline-block;
    color: #313131;
    font-size: 24px;
	*display:inline;
	*zoom:1;
}
.con-bd-m .tit span{
    margin-left: 66px;
}
.con-bd-m .tit a{
    color: #313131;
}
.con-bd-m .tit span i{
   width: 22px;
   height: 22px;
   background:  url(../images/icon.png) -51px -49px no-repeat;
   margin-left: 9px;
   display: inline-block;
   vertical-align: middle;
}
.infomation{
    margin-top: 13px;
	position:relative;
	top:0;
	left:0;
	width: 438px;
	float:left;
	border:1px solid #f0f0f0;
}
.nokefu{
	width: auto;
	float:none;
}
.infomation p{
    line-height: 36px;
	padding:0 10px; 
}
.infomation p.scale b img{
	margin:0 1px;
}
.infomation p strong{
    color: #313131;
	float: left;
}
.infomation p span{
    color: #535353;
	float: left;
}
.infomation p.address span{
    width: 298px;
	line-height: 22px;
	margin-top:8px;
}
.infomation p span.Authentication,
.infomation p span.chain,
.infomation p span.custemers,
.infomation p span.guarantee{
	display:inline-block;
	width:39px;
	height:21px;
	background:url(../images/shopicon/authentication.png);
	color:#fff;
	font:12px "微软雅黑";
	line-height:21px;
	text-align:center;
	background-size: cover;
	border-radius:3px;
	margin: 8px 0 0 5px;
}
.infomation p span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.infomation p span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.infomation p span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.infomation p span.notuse{
	display:none;
}
.infomation p.scale span i{
    display: inline-block;
    width: 15px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background:  url(../images/icon.png) -251px 0 no-repeat;
}
.kefu{
	width: 418px;
	height:291px;
	float:left;
	margin: 12px 0 0 10px;
	border:1px solid #f0f0f0;
}
.kefu p strong {
    color: #313131;
}
.kefu p span {
    color: #535353;
}
.kefu p {
    margin-bottom:6px;
}
.kefu h3,.infomation h3 {
    line-height: 36px;
	font-size:18px;
	text-align:left;
	color:#313131;
	background-color:#f0f0f0;
	padding-left:15px;
}
.kefu h3{
	margin-bottom:10px;
}
.kefu .sever-pic{
	float:left;
	margin-right:10px;
	padding-left:10px;
}
.kefu .sever-pic img{
	height:123px;
}
.kefu .sever-con{
	float:left;
}








