/* 
* @Author: Marte
* @Date:   2016-04-26 10:39:53
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-26 10:58:24
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-t ul{
    margin: 10px 0 0;
}
.con-bd-t ul li{
    color: #898989;
    line-height: 43px;
}
.con-bd-t ul li.current p{
	display:block;
}
.con-bd-t ul li.current strong .arrow{
	background-position:-470px -468px;
}
.con-bd-t ul li p{
    background-color: #e9f6f1;
    line-height: 24px;
    color: #313131;
    padding: 15px;
    display: none;
}
.con-bd-t ul li strong{
    cursor: pointer;
}
.con-bd-t ul li strong .arrow{
	display:inline-block;
	vertical-align:-2px;
	width:10px;
	height:12px;
	background:url(../images/icon.png) -470px -449px;
}
.con-bd-t ul li i{
    color: #40bb8c;
    margin-right: 12px;
    width: 17px;
    height: 17px;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 17px;
    display: inline-block;
}