/* 
* @Author: Marte
* @Date:   2016-04-25 16:34:48
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-28 14:09:04
*/
.slidebar{
    width: 145px;
    background-color: #fff;
    float: left;
    border: 1px solid #dcdcdc;
	box-sizing: content-box;
}
.slidebar .list-ul{
	margin-bottom:0;
}
.slidebar .list-ul li.list-item{
    width: 145px;
    height:auto;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    line-height: 63px;
    text-align: center;
    cursor: pointer;
	position:relative;
}
.slidebar .list-ul li.list-item .pay-sign{
	position:absolute;
	right:0;
	top:-0;
}
.slidebar .list-ul li.list-item .pay-sign img{
	width:36px;
}
.slidebar .list-ul li.list-item:last-child{
    border:0 none;
}
.slidebar .list-ul li.list-item a{
    color: #313131;
    display: inline-block;
    width: 100%;
    height:100%;
}
.slidebar .list-ul li.list-item.current a{
    color: #40bb8c;
	font-weight:bold;
}
.slidebar .list-ul li.list-item.open h3 .icon-arrow {
    background-position: -238px -69px;
}
.slidebar .list-ul li.list-item.open h3{
	color: #40bb8c;
	font-weight:bold;
}
.slidebar .list-ul li.list-item h3 .icon-arrow {
    width: 13px;
    height: 7px;
    background: url(../images/icon.png) -262px -69px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 28px;
}
.slidebar .child-ul{
	display:none;
}
.slidebar .list-ul li.list-item.open .child-ul {
    display:block;
}
.slidebar .child-ul li.child-item{
	position:relative;
}
.slidebar .child-ul li.child-item a{
	color:#898989;
}
.slidebar .child-ul li.child-item.active a{
	color:#40bb8c;
}
.slidebar .child-ul li.child-item{
	line-height:48px;
	text-indent:4px;
}
.slidebar .child-ul li.my-repair{
	position: relative;
}
.slidebar .child-ul li.my-repair .icons-circle {
    position: absolute;
    top: 13px;
    right: 35px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff4444;
}

.system-notice{
	position:relative;
}
.notice-circle,
.icons-circle{
    position: absolute;
    right: 42px;
    top: 22px;
    width: 8px;
    z-index: 1;
    height: 8px;
    background: #ff4444;
    border-radius: 50%;
    color: #fff;
}








