/* 
* @Author: Marte
* @Date:   2016-05-03 09:14:54
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-03 15:35:12
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-t{
    margin-top: 26px;
}
.con-bd-b .ul-bd li{
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 10px;
}
.con-bd-b .ul-hd{
	padding:0 10px;
	border-bottom:1px solid #dcdcdc;
}
.con-bd-b .ul-hd li{
	float:left;
	color:#666;
	height:42px;
	line-height:42px;
	padding-left:10px;
}
.con-bd-b .ul-hd li.sender{
	width:100px;
}
.con-bd-b .ul-hd li.send-title{
	width:470px;
}
.con-bd-b .ul-hd li.send-time{
	width:160px;
}
.con-bd ul li div{
	float:left;
	color:#535353;
	padding-left:10px;
}
.con-bd ul li div.cbw{
	color: #595757;
	width:100px;
}
.con-bd ul li div.content{
	color: #898989;
	width:470px;
}
.con-bd ul li div.time{
	color: #a2a2a2;
}
.con-bd h2 span{
	float:left;
}
.con-bd h2 span.set-all{
	font-size:14px;
	margin-right:20px;
	float:right;
	padding-top: 30px;
    line-height: 26px;
}
.con-bd h2 span.set-all a{
	color:#535353;
}
.con-bd h2 dl {
    font-size: 14px;
    float: right;
	padding-top: 30px;
    line-height: 26px;
}
.con-bd h2 dl dt,
.con-bd h2 dl dd{
    float: left;
    margin-right: 10px;
}
.con-bd h2 dl dd.current a {
    color: #3ebb8d;
}
.con-bd h2 dl dd a {
    color: #535353;
}
.con-bd ul li.unread div.content{
	font-weight:bold;
	color:#313131;
}
.empty{
	text-align:center;
	color:#535353;
	line-height:36px;
}
/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display:inline;
}
.page a {
    display: inline-block;
	*display:inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}

/* 通知详情 */
.ReplayBox {
    margin: 20px auto;
    border: 1px solid #f1f1f1;
}
.xtfjr {
    font-size: 14px;
    width: 100%;
}
.xtfjr dl {
    float: left;
    line-height: 2.5;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}
.xtfjr dt {
    width: 80px;
    padding-right: 10px;
    float: left;
    text-align: right;
    background: #f8f8f8;
    color: #666;
}
.xtfjr dd {
    float: left;
    padding-left: 10px;
}
.msgct{
    padding: 10px;
    font-size: 14px;
}
.ReplayBox p {
    line-height: 2;
}
.ReplayBox p a{
    display: inline-block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #40bb8c;
	border-radius:3px;
	color:#fff;
}




