/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.con-bd h2{
    border-bottom: 1px solid #40bb8c;
	height: 60px;
    line-height: 60px;
}
.con-bd h2 strong{
	float:left;
    font-size: 24px;
    color: #313131;
}
.con-bd h2 a{
	float:right;
	padding:0 8px;
	height:32px;
	line-height:32px;
	font-size: 14px;
	background-color:#40bb8c;
	color:#fff;
	text-align:center;
	border-radius:3px;
	margin:10px 10px 0 0;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
/* tab栏 */
.repair-tab{
	height:57px;
	background-color:#e6e6e6;
	margin:20px 0 30px 0;
}
.repair-tab ul li{
	float:left;
	text-align:center;
	cursor:pointer;
	position: relative;
}
.repair-tab ul li .icon-circle{
	position: absolute;
	top: 16px;
    right: 45px;
    width: 8px;
    height: 8px;
	border: 1px solid #fff;
    border-radius: 50%;
    background-color: #ff4444;
}
.repair-tab ul li a{
	color:#000000;
	width:170px;
	line-height:57px;
	font-size: 16px;
	display:block;
}
.repair-tab ul li.current a{
	background-color:#40bb8c;
	color:#fff;
}
.item.show{
	display:block;
}
/* item1&item2 */
.same-item ul li{
	border: 1px solid #dcdcdc;
	margin-bottom:12px;
}
.same-item ul li .title-news{
	background-color:#e9faf4;
	height:43px;
	line-height:43px;
	padding:0 10px;
	border-bottom:1px solid #dcdcdc;
}
.same-item ul li .title-news .ready-statu{
	color: #535353;
}
.same-item ul li.already .title-news{
	background-color: #eee;
}
.same-item ul li .title-news.already{
	background-color:#eee;
}
.same-item ul li .title-news.noPerson{
	background-color:#f6f6f6;
}
.same-item ul li .title-news .titile-user-news img{
	width: 28px;
    height: 28px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.same-item ul li .main-content a{
	display: block;
	padding:16px 14px;
}
.same-item ul li .main-content .main-content-phone{
	line-height:24px;
}
.same-item ul li .main-content .main-content-phone .user-phone{
	color: #535353;
}
.same-item ul li .main-content .main-content-phone .required{
	color:#000;
	font-size:16px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.same-item ul li .main-content .main-content-people{
	height:44px;
	line-height:44px;
	color:#000;
	padding:0 15px;
	border-top:1px dashed #eeeeee;
}
.same-item ul li .main-content .main-content-people .user-time{
	color: #898989;
}
.same-item ul li .main-content .main-content-people span{
	color:#40bb8c;
}
/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}