/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 14:43:58
*/
.con-bd h2 span{
	float: left;
}
.con-bd h2 .csy{
	float: right;
	font-size: 14px;
	color: #898989;
}
.con-bd h2 .csy a{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius:3px;
	color: #898989;
}
.con-bd h2 .csy a.current{
	background-color: #7a7a7a;
	color: #fff;
}
/* 筛选 */
.filter{
	margin:15px 0 0;
}
.filter select{
	width:150px;
	height:34px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	font:14px "microsoft yahei";
}
.filter input{
	width:195px;
	padding:6px 7px;
	border:1px solid #dcdcdc;
	font-family: "微软雅黑";
}
.filter input.date-select{
	width:95px;
}
.filter .filter-btm{
	margin:0 0 10px;
}
.filter .filter-btm button.submit{
    width: 48px;
    height: 32px;
    line-height: 32px;
    font: 14px "microsoft yahei";
    background-color: #40bb8c;
    color: #fff;
    text-align: center;
    vertical-align: -1px;
    border-radius: 3px;
    cursor: pointer;
}
/* 订单列表 */
.order-lst .ul_tit{
    margin-top: 10px;
    height: 48px;
    background-color: #eee;
    border: 1px solid #dcdcdc;
}
.order-lst .ul_tit li{
    float: left;
    text-align: center;
    line-height: 48px;
	color:#000;
}
/* 定义三个宽度 */
.bigW{
	width:282px;
}
.bigM{
	width:164px;
}
.bigS{
	width:130px;
}

/* 订单列表 */
.order-lst .ul_bd .null{
	border:0 none;
	text-align:center;
	color:#535353;
	margin:20px 0;
}
.order-lst .ul_bd{
  margin-top: 10px;
}
.order-lst .ul_bd li{
  border: 1px solid #dcdcdc;
  margin-bottom: 13px;
}
.order-lst .ul_bd li.null{
	border:0 none;
	text-align:center;
}
.order-lst .ul_bd .list_tit,
.order-lst .ul_bd .list_btn{
   height: 42px;
   padding: 0 16px;
   color: #535353;
   background-color: #e8f3ef;
   line-height: 42px;
}
.order-lst .ul_bd .list_tit img{
	vertical-align:-6px;
}
.order-lst .ul_bd .list_tit time{
   margin-right: 10px;
   font-weight:bold;
}
.order-lst .ul_bd .list_tit .order-num{
   margin:0 136px 0 20px;
}
.order-lst .ul_bd .list_tit .order-statu a{
	color:#ff9600;
}
/* 店铺名 */
.shop-name{
	height:45px;
	line-height:45px;
	background-color:#f4f4f4;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	padding:0 10px;
}
.shop-name h4{
	float:left;
}
.shop-name .contact-btn{
	float:right;
	font-size:12px;
}
.shop-name h4 .icon-store {
    background: url(../images/2016/icon.png) no-repeat -390px -552px;
    width: 19px;
    height: 17px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 5px;
}
.shop-name .contact-btn .icon-QQ {
    background: url(../images/2016/icon.png) -362px -552px;
    display: inline-block;
    width: 14px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.shop-name .contact-btn .icon-office{
	background: url(../images/2016/icon.png) -418px -556px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -5px;
    margin-right: 3px;
}
.shop-name h4 .self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
/* 订单详情 */
.list-detial .list-item{
	float:left;
	border-right:1px solid #f5f5f5;
}
.list-detial .list-item .three .user-service{
  display: block;
  line-height: 22px;
  color: #535353;
}
.list-detial .list-item .three .user-service a.customer{
  color: #40bb8c;
  font-size:12px;
}
.list-detial .list-item .three .user-service a.extracts{
  color: #ff4444;
  font-size:12px;
}
.list-detial .btn-group{
	float:left;
	text-align:center;
}
.list-detial .btn-group .ui-button{
	padding: 0;
    width: 102px;
    height: 30px;
    line-height: 30px;
    border-color: #c9c9c9;
    background-color: #fff;
    font-size: 12px;
    color: #535353;
	margin: 5px 0;
}
.list-detial .btn-group .signin{
    color: #535353;
	margin-top: 22px;
	display:inline-block;
}
.list-detial .phpic{
  float:left;
  width:270px;
  padding-left:12px;
}
.list-detial .phpic .iphone{
  float:left;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
.list-detial .list_bd{
  padding: 10px 0;
  line-height:52px;
}
.list-detial .list_bd .phpic_id{
  float:left;
  vertical-align: middle;
  margin-left: 8px;
  width:210px;
  line-height: 22px;
}
.list-detial .list_bd .phpic_id .introduce{
	display:block;
}
.list-detial .list_bd .phpic_id .color{
	display:block;
	color:#b5b5b5;
}
.ul_bd span.two,
.ul_bd span.three,
.ul_bd span.four,
.ul_bd span.five{
  float:left;
  text-align: center;
}
.ul_bd span.two{
  color: #535353;
}
.ul_bd span.two strong{
  display: block;
  font-size: 12px;
  color: #898989;
}
.ul_bd span.three{
  vertical-align: 1px;
  line-height:22px;
  padding-top: 13px;
}
.ul_bd span.five{
  vertical-align: 1px;
}

.pageLink ul li.active a{
	line-height:2.4;
}
.ul_bd .list_tit .delete {
    width: 14px;
    cursor: pointer;
    height: 100%;
    background: url(../images/2016/icon.png) -457px 14px no-repeat;
    display: inline-block;
    float: right;
}
/* 订单结算 */
.countMoney{
	padding:0 16px 0;
	border-top:1px solid #f5f5f5;
	line-height:52px;
}
.countMoney .allprice{
	float:left;
}
.countMoney .allprice .shipping-price{
	color:#898989;
}
.countMoney .allprice .realyPay{
	color:#000;
}
.countMoney .allprice .realyPay .price-num{
	color:#ff4444;
	font-size:22px;
}
.countMoney .allprice .realyPay .price-num em{
	font-size:14px;
}

/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}

/*弹窗*/
.posF {
    display:none;
}
.posF .box300 {
    width: 300px;
	background: #fff none repeat scroll 0 0;
    border: 5px solid #e8e8e8;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.posF .hd{
    border-bottom:2px solid #dfdfdf;
}
.posF .hd p{
    font-size:16px;
    text-indent:2em;
    line-height:36px;
    margin:0;
}
.posF .bd{
    padding:25px 35px;
}
.posF .bd dl{
    margin:0;
}
.posF .bd dl.fl{
    width:50%;
}
.posF .bd dl.fn{
    width:100%;
}
.posF .bd dt{
    margin:0;
    font-size:14px;
    font-weight:normal;
    line-height:28px;
    float:left;
    width:80px;
}
.posF .bd dd{
    margin:0;
    font-size:14px;
    line-height:28px;
    float:left;
    width:250px;
}
.posF .bd .fl dt{
    width:70px;
}
.posF .bd .fl dd{
    width:95px;
}
.posF .bd .fn dt{
    width:70px;
}
.posF .bd .fn dd{
    width:260px;
}

.posF .bd dd a{
    display:inline-block;
    border-radius:3px;
    padding:0 10px;
    margin-right:5px;
    color:#fff;
    line-height:24px;
}
.posF .bd dd a.yes{
    background:#37bc9b;
}
.posF .bd dd a.no{
    background:#ff9f00;
}
.posF .bd .rope{
    text-align:center;
}
.posF .bd button{
    border:0;
    border-radius:4px;
    padding:0 15px;
    line-height:28px;
    color:#969696;
}
.posF .bd button.allot{
    background:#37bc9b;
    color:#fff;
    margin-left:10px;
}
.posF .bd button.off{
    background:#fff;
}
.posF .bd button.off:hover{
    background:#ff9f00;
    color:#fff;
}
.posF .bd p.clearfix{
    padding:0 10px;
    margin:0 0 10px 0;
    font-size:14px;
    line-height:30px;
}
.posF .bd p a{
    float:right;
    padding:0 10px;
    color:#fff;
    line-height:24px;
    font-size:13px;
    border-radius:3px;
    margin-left:10px;
}
.posF .bd p a.off{
    background:#ff9f00;
}
.posF .bd p a.submit{
    background:#37bc9b;
}
.posF .bd .rope {
    margin:0 0 10px 0;
}
.posF .bd .rope input{
    margin:0;
}
.posF .bd .rope select{
    margin: 0 0 10px 0;
    width:220px;
}
.posF .bd .rope select:last-child{
    margin:0;
}
.posF .bd button.submit{
    background:#37bc9b;
    color:#fff;
    margin-left:10px;
}
.posF .bd .btns{
    text-align:right;
}
.posF .bd .btns button{
    margin:0 5px 0 0;
}
.posF .bd table{
}
.posF .bd table tr{
}
.posF .bd table td{
    line-height:1.8;
    font-size:13px;
    vertical-align:top;
}