/* 
* @Author: Marte
* @Date:   2016-05-03 09:14:54
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-03 15:35:12
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-b ul li{
	float:left;
	margin-right:20px;
	text-align:center;
	width:176px;
}
.con-bd-b ul li .text{
	color:#313131;
	margin-bottom:10px;
	text-align:left;
}
.con-bd-b .downImg{
	height:240px;
	overflow:hidden;
}
.con-bd-b img{
	border:1px solid #eee;
	margin-top:15px;
	width:160px;
}
.con-bd-b .down{
	text-align: left;
}
.con-bd a{
	width: 60px;
    height: 28px;
    display: inline-block;
    background-color: #40bb8c;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
}
.jumpWindow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
	display:none;
}
.jumpWindow .bg{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.jumpWindow .popup{
	background-color:#fff;
	text-align:center;
	margin-top:64px;
}
.jumpWindow .popup .img{
	height:500px;
	overflow:auto;
}
.jumpWindow .popup img{
    width:100%;
	height:auto;
}
.jumpWindow .popup button{
    width: 120px;
    height: 38px;
    margin: 25px 0;
    background-color: #40bb8c;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    border-radius: 3px;
    cursor: pointer;
    font-family: "微软雅黑";
}
.jumpWindow .popup button.cancle{
    background-color:#dcdcdc;
	color:#313131;
	margin-right:15px;
}












