/* 
* @Author: Marte
* @Date:   2016-05-03 09:14:54
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-03 15:35:12
*/
.slidebar{
	display: none;
}
.con-bd{
	width: 988px;
	padding:80px 55px ;
}
.con-bd h1{
	font-size: 24px;
	color: #343434;
	text-align: center;
	letter-spacing:18px;
	font-weight: bold;
}
.shop-news{
	margin-top: 44px;
	border-bottom: 1px solid #7d7d7d;
	padding-bottom: 10px;
}
.shop-news .news p{
	color: #000;
	height: 26px;
}
.shop-news .shop-erweima{
	text-align: center;
	margin-top: -19px;
}
.shop-news .shop-erweima img{
	width: 69px;
	height: 69px;
}
.shop-news .shop-erweima p{
	color: #000;
	line-height:24px;
}
.user-news .top{
	margin-top: 15px;
}
.user-news .btm{
	margin: 15px 0;
}
.user-news .top div{
	width: 25%;
	margin-bottom: 10px;
}
.user-news .btm div.f_right{
	margin-right: 70px;
}
.pro-news {
    width: 100%;
	border-collapse:collapse;
	font-size: 14px;
	color: #000;
	border: 1px solid #7d7d7d;
}
.pro-news thead tr td{
	font-weight: bold;
}
.pro-news tr{
    text-align: center;
    border-bottom:1px solid #7d7d7d;
	line-height: 42px;
}
.pro-news tr td{
    border-right: 1px solid #7d7d7d;
}
.pro-news tr.count-all td .f_right{
	margin-right: 20px;
	font-weight: bold;
}
/* 打印 */
.prin{
	text-align: center;
	margin-top: 22px;
}
.prin button{
	width: 148px;
	height: 40px;
}
.pro-news tr.count-all td .f_left{
	margin-left: 10px;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}












