/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
/* tab栏导航 */
.con-bd .snav {
    border-bottom: 2px solid #40bb8c;
}
.con-bd .snav ul li.current {
    background-color: #f0f0f0;
}
.con-bd .snav ul li.current em {
    display: inline-block;
}
.con-bd .snav ul li{
    width: 120px;
    height: 32px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 32px;
    position: relative;
    float: left;
	cursor: pointer;
    color: #898989;
    margin-left: -1px;
}
.con-bd .snav ul li em {
    display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #40bb8c;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 35px;
}
/* 选择属性 */
.form-horizontal .control-label {
    padding-top: 15px;
    width: 180px;
}
.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 14px;
    text-align: right;
}
label {
    display: block;
    margin-bottom: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
	cursor: pointer;
}
.form-horizontal .controls {
    margin-left: 120px;
    padding: 10px 0;
	color:#555;
}
select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
	height: 30px;
    line-height: 30px;
	padding: 4px 6px;
    font-size: 14px;
    color: #555;
	cursor:pointer;
}
.tab-pane {
	display:none;
	margin-top:15px;
}
.tab-pane.active {
	display:block;
}
.btn-group{
	text-align:center;
	margin:10px 0;
}
.btn-group .ui-button{
	height:42px;
	line-height:42px;
	border:0 none;
}
.btn-group a.ui-button:hover{
	color:#fff;
}
.btn-group .btn-save{
	background-color:#1ab394;
}
.btn-group .btn-return{
	background-color:#ccc;
}
table{
	width: 100%;
}

.widget-box {
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-box .widget-content .content-box{
	border-bottom:1px solid #dcdcdc;
}
.widget-box .widget-content .content-box .content-tit,
.widget-box .widget-content .content-box .content-con{
	float:left;
}
.widget-box .widget-content .content-box .content-tit{
	padding: 10px 0;
	width:140px;
	text-align:center;
}
.widget-box .widget-content .content-box .content-con{
	width:570px;
	padding:10px 0;
}
.widget-box .widget-content .content-box .content-btn{
	width:140px;
}
.widget-box .widget-content .content-box .content-btn{
	float:right;
	padding: 10px 0;
}
.widget-box .widget-content .content-box .content-btn .ui-button{
	padding:0 10px;
	height:28px;
	line-height:28px;
	font-size:14px;
	border:0 none;
}
.widget-box .widget-content .content-box .content-btn .btn-delete{
	background-color:#fff;
	color:#313131;
	border:1px solid #dcdcdc;
}
.widget-box .widget-content .content-box .content-btn .btn-edit{
	background-color:#49afcd;
	color:#fff;
}
.widget-box .widget-content .content-box .content-tit h4{
	font-size:17px;
	margin:10px 0;
	color:#313131;
}
.widget-title{
    background: #efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
	line-height:36px;
	padding:0 10px;
}
#tab3 h5 strong{
	float:left;
}
#tab3 h5 span{
	float: right;
    height: 24px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 14px;
    margin: 6px 0 0;
	background-color:#49afcd;
}
.form-horizontal .form-actions{
	padding:20px 0 20px 122px;
}
.form-horizontal .form-actions .ui-button{
	background-color:#49afcd;
	border:0 none;
}
.form-horizontal .form-actions a.ui-button{
	background-color:#fff;
	color:#313131;
	border:1px solid #dcdcdc;
}
/* 选项卡四 */ 
.alert-info {
    color: #313131;
    background-color: #f0f0f0;
    border-color: #bce8f1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.spec_item_sZ .copyedItem{
	width: 435px;
    float: left;
    padding-left: 5px;
}
.btn {
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
	margin-right: 10px;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
.btn:hover {
    color: #fff;
}
.input-group {
    position: relative;
    border-collapse: separate;
	margin: 10px 0;
}
.input-group-btn {
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
	position: absolute;
	right: -6px;
    top: 0px;
}
.input-group .form-control{
    display: table-cell;
}
.form-control {
    display: block;
    height: 22px;
	width:175px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 22px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-family: "微软雅黑";
}
.ui-input,
.ui-textarea{
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius:0;
}
.ui-textarea{
	outline-style:none;
}
.form-control:focus,
.ui-input:focus,
.ui-textarea:focus{
	border-color:#40bb8c!important;
}
.spec_title{
	width: 720px;
}
.control-group .control-label {
    float: left;
    padding-top: 15px;
    text-align: right;
}
.control-group .controls {
    margin-left: 80px;
    padding: 10px 0;
    color: #555;
}
.control-group .controls .form-tips{
    color:#f00;
	display:none;
	font-size:12px;
}
.spec_item_items .radio{
	padding: 0 8px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ccc;
    border-right: 0;
    color: #ccc;
}
.spec_item_items .radio input{
	margin-top: 10px;
}
.add_bd{
	margin-bottom: 10px;
}
.add_bd label,.inser_thumbnail_pic{
    height: 36px;
    line-height: 35px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    display: inline-block;
    color: #898989;
    text-align: center;
    border: 1px solid #dcdcdc;
    margin: 0 5px 10px 0;
}
.add_bd label{
    float: left;
	overflow:hidden;
}
.add_bd label .icon_add ,.inser_thumbnail_pic .icon_add {
    width: 16px;
    height: 24px;
    background:url(../images/icon.png) -423px -464px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.add_bd label .icon_add{
    margin-right: 0;
}
.add_bd label input,.inser_thumbnail_pic input{
    position: absolute;
    right: 0;
    width: 38px;
    top: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}
.add_bd .user_img img{
    width: 38px;
	height: 38px;
	margin: 0 2px;
	cursor: move;
}
.add_bd .user_img{
    float: left;
	width: 385px;
}
.add_bd .user_img .imcontainer{
    display: inline-block;
}
#thumbnail_img{
	width: 60px;
	margin-left: 20px;
}
/* 表格 */
#options table input{
	width: 60%;
    text-align: center;
    height: 36px;
    box-sizing: border-box;
}
#options table th .doubleSet{
	float:left;	
}
#options table th input{
	float:left;
}
.table {
    table-layout: fixed;
	margin-top: 15px;
}
.table-bordered {
    border: 1px solid #EBEBEB;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table  thead{
	background-color: #f5f5f5;
}
.table  thead .input-group-addon{
	background-color: #fff;
    padding: 7px 8px;
    width: 40%;
    box-sizing: border-box;
    height: 20px;
    height: 36px;
    display: inline-block;
    margin-left: -5px;
    border: 1px solid #E5E6E7;
    vertical-align: 0px;
    margin-left: -1px;
}
.table  thead .input-group-addon a{
	width: 9px;
	height: 9px;
	display: inline-block;
	background: url(../images/icon.png) -412px -26px no-repeat;
}
.table  thead .input-group-addon a{
	font-size: 12px;
	color:#337ab7;
}
.table  thead .form-control{
	border-right: 0;
	border-color: #e5e6e7;
	padding:6px 5px;
	box-shadow:none;
}
.table thead tr th{
    border-top: 1px solid #e7eaec;
	border-bottom: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: middle;
	border-right: 1px solid #e7e7e7;
}
.table tbody td input{
    margin: 5px auto;
    border-color: #e7e7e7;
    width: 80%!important;
    padding: 6px;
}
.table tbody tr{
    border-bottom: 1px solid #DDDDDD;
}
.table tbody td{
    border-right: 1px solid #e7e7e7;
	text-align: center;
}
.table tbody td:last-child{
	border-left: 0 none;
}
.table thead tr th:last-child{
	border-left: 0 none;
}
.f_left{
	float: left;
}




















