/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.form-horizontal .control-label {
    padding-top: 15px;
    width: 180px;
}
.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 14x;
    text-align: right;
}
.form-horizontal .controls {
    margin-left: 120px;
    padding: 10px 0;
	color:#555;
}
select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
	height: 30px;
    line-height: 30px;
	padding: 4px 6px;
    font-size: 14px;
    color: #555;
	cursor:pointer;
}
.form-horizontal .form-actions .ui-button {
    background-color: #49afcd;
    border: 0 none;
	color:#fff;
}
.form-horizontal .form-actions .btn-return{
	color:#fff;
	font-size:14px;
	background-color:#fff;
	color:#535353;
	border:1px solid #dcdcdc;
}





















