/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.form-horizontal .control-label {
    padding-top: 15px;
    width: 180px;
}
.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 14x;
    text-align: right;
}
label {
    display: block;
    margin-bottom: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
	cursor: pointer;
}
.form-horizontal .controls {
    margin-left: 120px;
    padding: 10px 0;
	color:#555;
}
#imgsforcolor img{
    border: 1px solid #ccc;
}
select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
	height: 30px;
    line-height: 30px;
	padding: 4px 6px;
    font-size: 14px;
    color: #555;
	cursor:pointer;
}

.thumbnails li{
	float:left;
	width:124px;
	margin-right: 15px;
	cursor:pointer;
	position:relative;
}
.thumbnails li img{
	width:100%;
	height:auto;
}
.thumbnails .actions {
    width: auto;
    height: 16px;
	line-height:16px;
    background-color: #000;
    padding: 4px 8px 8px 8px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-top: -13px;
    margin-left: -34px;
    opacity: 0;
    top: 10%;
    transition: 1s ease-out;
    -moz-transition: all 1s ease-out;
}
.thumbnails li.current .actions{
	top:50%;
	opacity:1;
}
.thumbnails .actions a{
	font-size:12px;
}
.thumbnails .actions a:hover{
	color:#fff;
}

.form-actions{
	margin-top:15px;
}
.form-actions .btn-primary{
	font-size:14px;
	background-color:#006dcc;
	border:0 none;
}
.form-actions .btn-return{
	color:#fff;
	font-size:14px;
	background-color:#fff;
	color:#535353;
	border-color:#dcdcdc;
}


















