/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.con-bd h2 strong {
    float: left;
    font-size: 24px;
    color: #313131;
}
.con-bd h2 a{
	float:right;
	font-size: 14px;
	margin: 15px 2px;
	color:#fff;
}
.con-bd h2 a.return{
	background-color: #49afcd;
}
.relation-attr table {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-collapse:collapse;
	margin-top:15px;
}
.relation-attr table td {
    padding:0 8px;
    text-align: left;
    border-right: 1px solid #dcdcdc;
    color:#535353;
}

.relation-attr table td:last-child,
.relation-attr table th:last-child{
    border:0 none;
}
.relation-attr table td input{
    cursor:pointer;
}
.relation-attr table th{
    text-align: center;
    border-right:1px solid #dcdcdc;
}
.relation-attr table th label{
    cursor:pointer;
}
.relation-attr table th input{
    cursor:pointer;
}
.relation-attr table tr{
    text-align: center;
    border-bottom:1px solid #dcdcdc;
    line-height: 32px;
	font-size: 12px;
}
.text-center {
    text-align: center!important;
}
.text-center a.edit{
	color:#5bab4c;
}
.text-center a.dele{
	color:#ff4444;
}




















