/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
/* tab栏导航 */
.con-bd .snav {
    border-bottom: 2px solid #40bb8c;
}
.con-bd .snav ul li.current {
    background-color: #f0f0f0;
}
.con-bd .snav ul li.current em {
    display: inline-block;
}
.con-bd .snav ul li{
    width: 120px;
    height: 38px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 38px;
    position: relative;
    float: left;
	cursor: pointer;
    color: #898989;
    margin-left: -1px;
}
.con-bd .snav ul li a{
    display: block;
}
.con-bd .snav ul li em {
    display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #40bb8c;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 41px;
}
/* 全部库存 */
.all-stock{
	height: 56px;
	line-height: 56px;
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	margin-top: 8px;
}
.all-stock h3{
	font-size: 16px;
	color: #313131;
	font-weight: bold;
	float: left;
}
.all-stock .btns{
	float: right;
}
.all-stock .btns .ui-button{
	width:123px;
	height:32px;
	padding: 0;
	border: 0;
	font-size: 14px;
	line-height:32px;
	background-color:#40bb8c;
	text-align:center;
	border-radius:2px;
	color: #fff;
}
.all-stock .btns .pro-plus{
	background-color: #ff9600;
	margin-left: 11px;
}
/* 筛选 */
.filter{
	margin: 15px 0;
	color: #898989;
}
.filter .filter-shelves .select{
	width: 122px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #535353;
	display: inline-block;
	border: 1px solid #bfbfbf;
	margin: 0 10px;
	cursor: pointer;
}
.filter .filter-shelves .select.current{
	border-color: #40bb8c;
}
.filter .filter-csy{
	margin: 10px 0 10px 42px;
}
.filter .filter-csy select{
	margin:0 10px;
}
.filter .filter-name{
	margin: 0 0 0 42px;
}
.filter .filter-name .keyword{
	height: 30px;
	line-height: 30px;
	padding:0 13px;
	font-family: "微软雅黑";
	border: 1px solid #bfbfbf;
	margin:0 10px;
	width: 246px;
}
.filter .filter-name .submit{
	padding: 0;
	text-align: center;
	width: 123px;
	height: 32px;
	line-height: 32px;
	border: 0;
	font-size: 14px;
	border-radius:0;
	margin-top: -3px;
}

/* 商品列表 */
.widget-box{
	margin:15px 0 0;
	font-size:12px;
}
.widget-box .widget-title h5{
	float:left;
	text-align:center;
	width:88%;
}
.widget-box table {
    width: 100%;
	border-collapse:collapse;
	font-size: 14px;
	color: #535353;
}
.widget-box table thead{
	background-color: #ebf8f3;
	color: #313131;
}
.widget-box .table tr{
    text-align: center;
    border-bottom:1px dashed #dcdcdc;
	line-height: 32px;
}
.widget-box .table tr.operation td .all-select{
	float: left;
}
.widget-box .table tr.operation td .all-select .all-select-text{
	display: inline-block;
	margin-left: 5px;
	position: relative;
    top: -1px;
}
.widget-box .table tr.operation td .all-select .labelFor{
	display: inline-block;
	cursor: pointer;
}
.widget-box .table tr.operation td .all-select .btn{
	width: 78px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #bfbfbf;
	color: #898989;
	background-color: #eeeeee;
	display: inline-block;
	margin: 15px 0 15px 13px;
	cursor: pointer;
}
.widget-box .table tr.operation td .page{
	float: right;
}
.pagination{
	margin:15px 0 0;
	border-radius:5px;
}
.pagination li{
	float:left;
}
.pagination li:last-child{
	border-right:0 none;
}
.pagination li a{
	display:block;
	padding:4px 10px;
	font-size:12px;
	color:#333;
} 
.pagination li.active a{
	color:#898989;
}
.widget-box .table tr td.time{
	line-height: 18px;
}
.widget-box .table tr.operation{
    border-bottom:1px solid #dcdcdc;
}
.widget-box .table tr.theadtr{
	border-bottom: 0;
}
.widget-box table td {
    padding:0 8px;
	text-align: left;
}
.widget-box table td.shelves span.icon {
    background: url(../images/icon.png) -366px 0 no-repeat;
	width: 11px;
	height: 8px;
	display: inline-block;
}
.widget-box table td.shelves span.down{
    background: url(../images/icon.png) -389px -11px no-repeat;
	width: 8px;
}
.widget-box table td.pro-detial {	
	line-height:24px;
}
.widget-box table td.price{
	color:#ff4444;
}
.widget-box table td.slted .checker{
	cursor: pointer;
	display: inline-block;
	width: 35px;
}

.widget-box table td.pro-detial img{
	height: 64px;
	width: 64px;
	border: 1px solid #eeeeee;
	margin: 10px 0;
	vertical-align:middle;
	margin-right: 6px;
}
.widget-box table td a.edit{
	color:#535353;
}
.widget-box table td a.edit:hover{
	color:#40bb8c;
}

.widget-box table td:last-child,
.widget-box table th:last-child{
	border:0 none;
}
.widget-box table td input{
	cursor:pointer;
}
.widget-box table th{
	text-align: center;
}
.widget-box table th label{
	cursor:pointer;
}
.widget-box table th input{
	cursor:pointer;
}
td.text-center {
    text-align: center!important;
}
.dele-selected{
	float:left;
	margin:15px 0 0;
}
.dele-selected .ui-button{
	height:32px;
	line-height:29px;
	width:52px;
	color:#fff;
	font-size:14px;
	padding:0;
	margin:0 5px 5px;
}
select {
    width: 96px;
	font-family:"microsoft yahei";
    background-color: #fff;
    border: 1px solid #bfbfbf;
	height: 22px;
    line-height: 22px;
	padding: 4px 13px;
    font-size: 14px;
    color: #898989;
	cursor:pointer;
	box-sizing:content-box;
}

















