/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
}
.con-bd h2 strong{
	float:left;
	font-size: 24px;
    color: #313131;
}
.con-bd h2 a{
	float:right;
	font-size: 14px;
	margin: 15px 2px;
	color:#fff;
}
.con-bd h2 a.return{
	background-color: #49afcd;
}
.attr table {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-collapse:collapse;
	margin-top:15px;
}

.attr table td {
    padding:0 8px;
    text-align: left;
    border-right: 1px solid #dcdcdc;
    color:#535353;
}

.attr table td:last-child,
.attr table th:last-child{
    border:0 none;
}
.attr table td input{
    cursor:pointer;
}
.attr table th{
    text-align: center;
    border-right:1px solid #dcdcdc;
}
.attr table th label{
    cursor:pointer;
}
.attr table th input{
    cursor:pointer;
}
.attr table tr{
    text-align: center;
    border-bottom:1px solid #dcdcdc;
    line-height: 32px;
	font-size:12px;
}
.text-center {
    text-align: center!important;
}
.text-center a.edit{
	color:#5bab4c;
}
.text-center a.dele{
	color:#ff4444;
}






