/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:58:47
*/
.con-bd h2{
    border-bottom: 1px solid #40bb8c;
	height: 60px;
    line-height: 60px;
}
.con-bd h2 strong{
	float:left;
    font-size: 24px;
    color: #313131;
}
.con-bd h2 a{
	float:right;
	padding:0 8px;
	height:32px;
	line-height:32px;
	font-size: 14px;
	background-color:#40bb8c;
	color:#fff;
	text-align:center;
	border-radius:3px;
	margin:10px 10px 0 0;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
/* tab栏 */
.repair-tab{
	height:57px;
	background-color:#e6e6e6;
	margin:20px 0 30px 0;
}
.repair-tab ul li{
	float:left;
	text-align:center;
	cursor:pointer;
	position: relative;
}
.repair-tab ul li .icon-circle{
	position: absolute;
	top: 16px;
    right: 45px;
    width: 8px;
    height: 8px;
	border: 1px solid #fff;
    border-radius: 50%;
    background-color: #ff4444;
}
.repair-tab ul li a{
	color:#000000;
	width:170px;
	line-height:57px;
	font-size: 16px;
	display:block;
}
.repair-tab ul li.current a{
	background-color:#40bb8c;
	color:#fff;
}
.item.show{
	display:block;
}
/* item3 */
.con-bd-t{
    margin-top: 13px;
    color: #535353;
}
.con-bd-t .t1{
    position: relative;
}
.con-bd-t .t1 input{
    width: 233px;
    height: 29px;
	line-height:29px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 0 5px;
}
.con-bd-t .t1 span {
    width: 49px;
    height: 17px;
    padding: 7px 0;
    display: inline-block;
    background-color: #40bb8c;
    text-align: center;
    margin-left: 6px;
    border-radius: 5px;
    vertical-align: -3px;
	vertical-align: auto\9;
    cursor: pointer;
}
.con-bd-t .t1 span i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/icon.png) -277px 0 no-repeat;
}
.con-bd-t .t2 input{
    width: 128px;
    height: 19px;
	line-height:19px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-top: 13px;
    padding:5px;
}
.con-bd-t .t3{
    margin-top: 13px;
}
.con-bd-t .t3 select{
    height: 29px;
    color: #535353;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
	width:150px;
}
.con-bd-t .t3 .span1{
   margin-left: 18px;
   width: 128px;
}
/*----- .ul-tit ---------*/
.ul-tit{
    height: 44px;
    padding-left: 48px;
    background-color: #4eca9b;
    line-height: 44px;
    color: #fff;
    margin-top: 33px;
}
.ul-tit li{
    float: left;
}
.ul-tit li.li1{
    margin-right:171px;
}
.ul-tit li.li2{
    margin-right:84px;
}
.ul-tit li.li3{
    margin-right:133px;
}
.ul-tit li.li4{
    margin-right:89px;
}
.ul-tit li.li5{
    margin-right:89px;
}
/*------- .ul-bd ---------*/
.ul-bd li .li-b{
    line-height: 43px;
    padding: 0 10px;
    color: #5e5e5e;
	background-color: #e6faf2;
	border-bottom: 1px solid #dcdcdc;
}
.ul-bd li .li-b .li-b-l time{
    color:#000000;
	font-weight: bold;
	margin-right: 14px;
}
.ul-bd li{
    border: 1px solid #dcdcdc;
    margin-top: 13px;
	position:relative;
}
.ul-bd li .li-t p{
    float: left;
    color: #898989;
}
.ul-bd li .li-t .li-t1 span{
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-left: 11px;
    vertical-align: middle;
    margin-right: 10px;
    vertical-align: middle;
}
.ul-bd li .li-t .li-t1{
    margin-top: 13px;
    width: 250px;
}
.ul-bd li .li-t .li-t1 strong{
    color: #535353;
    display: inline-block;
    width: 136px;
    vertical-align: middle;
}
.ul-bd li .li-t .li-t2{
   width: 114px;
   text-align: center;
   margin:23px 0;
}
.ul-bd li .li-t .li-t3 .resivi_price{
	display:block;
	color:#de1616;
	line-height:24px;
	font-size: 16px;
}
.ul-bd li .li-t .li-t3{
   margin-top: 23px;
   width:170px;
   text-align:center;
}
.ul-bd li .li-t .li-t3 del{
   font-size: 16px;
   color:#b5b5b5;
}
.ul-bd li .li-t .li-t4{
   width: 206px;
   text-align: center;
   margin-top: 20px;
   color:#313131;
}
.ul-bd li .li-t .li-t4 .red{
   color:#de1616;
}
.ul-bd li .li-t .li-t5{
    text-align: center;
	width:144px;
	margin: 20px 0;
	float: left;
}

.ul-bd li .li-t .li-t5 a{
    display: block;
	color:#313131;
	line-height:24px;
}
.ul-bd li .li-t .li-t5 .replace.disabled a{
    cursor:no-drop;
	color:#b5b5b5;
}
.ul-bd li .li-t .li-t5 .receivables-mod{
	position: relative;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb{
	width: 143px;
	display: inline-block;
	border: 1px solid #eeeeee;
	text-align: center;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 24px;
	z-index:99;
	display: none;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a{
	display: block;
	border-radius:5px;
	height:59px;
	margin-left:5px;
	line-height:59px;
	margin:0;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a i{
	background:url(../images/icon.png) -90px -139px;
	display:inline-block;
	margin-right:2px;
	vertical-align: -4px;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a.wx{
	color:#62b900;
	border-bottom: 1px solid #eee;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a.wx .wx_icon{
	width:21px;
	height:19px;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a.zfb{
	color:#31a3c8;
}
.ul-bd li .li-t .li-t5 .receivables-mod .wx_zfb a.zfb .zfb_icon{
	width:20px;
	height:20px;
	background-position: -91px -175px;
}
.ul-bd li .li-t .li-t5 .closeThisOrder{
	text-indent:-999em;
    width:20px;
	height:20px;
    border-radius: 5px;
    cursor: pointer;
	position:absolute;
	top:5px;
	right:5px;
	background:url(../images/icon.png) -92px -202px;
}


.ul-bd li .li-t .close{
    background-color: #f60;
    margin: 5px 0;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
}
.ul-bd li .li-t a.closeOrder,
.ul-bd li .li-t a.successOrder{
	color:#535353;
	cursor: text;
}
/*发货弹窗*/
.dark{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}
.deliverbox{
    width: 310px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -108px;
	border-radius:5px;
    margin-left: -151px;
    z-index: 2;
    padding-bottom: 15px;
	border: 1px solid #e5e5e5!important;
    display: none;
}
.select-t{
    height: 60px;
    border-bottom: 2px solid #dcdcdc;
    font-size: 28px;
    color: #535353;
    line-height: 60px;
    text-align: center;
    position: relative;
}
.select-t i{
    width: 33px;
    height: 33px;
    background: url(../images/icon.png) -172px -84px no-repeat;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.select-m{
    margin: 0 auto;
    width: 260px;
}
.select-m select,.select-m input{
    width: 260px;
    height: 32px;
    border: 1px solid #dcdcdc;
    margin-top: 20px;
}
.select-m input{
    width: 250px;
    height: 22px;
    font-size: 14px;
    font-family: "微软雅黑";
    padding: 5px;
}
.select-m select{
    font-size: 14px;
    font-family: "微软雅黑";
}
.select-b{
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}
.select-b span{
   display: inline-block;
   width: 60px;
   height: 36px;
   line-height: 36px;
   background-color: #40bb8c;
   text-align: center;
   cursor: pointer;
   border-radius: 5px;
}
.select-b span.dele{
   background-color: transparent;
}
.select-b span a{
   color: #fff;
   display: inline-block;
   width: 100%;
   height:100%;
}
.select-b span.dele a{
   color: #313131;
}
.select-b span.dele a:hover{
   background-color: #40bb8c;
   border-radius: 5px;
   color: #fff;
}

/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}

/* 申述 */
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
.posA.off {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 10;
    background: url(../images/icon.png) -172px -84px no-repeat;
    cursor: pointer;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
	filter:Alpha(Opacity=35);
    z-index: -1;
}
.posA {
    position: absolute;
}
.posR {
    position: relative;
}
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
#masterRepresentations{
	display: none;
}
#masterRepresentations .posA.off {
    top: 5px;
    right: 6px;
}
#masterRepresentations .box280{
	padding: 58px 34px 36px;
    border: 1px solid #dcdcdc;
    width: 280px;
    margin-top: 16%;
    border-radius: 5px;
	background-color: #fff;
}
#masterRepresentations .bd .b-pic{
	text-align: center;
}
#masterRepresentations .bd .b-content{
	font-size: 18px;
	color: #7f7e7e;
	line-height: 30px;
	margin:20px 0;
	text-align: center;
}
#masterRepresentations .bd .btn-confirm{
	text-align: center;
}
#masterRepresentations .bd .btn-confirm a{
	width: 143px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background-color: #40bb8c;
	display: inline-block;
}
#masterRepresentations .bd .appeal-tip{
	color: #b5b5b5;
	display: block;
	margin:10px 0;
}
#masterRepresentations .bd .btn-look a:hover{
	background-color: #40bb8c;
	color:#fff;
}
/* 下拉框 */
.btn-select { 
	position: relative; 
	display: inline-block; 
	width: 278px; 
	height: 40px; 
	font: 14px/20px "Microsoft YaHei"; 
	color: #535353; 
	cursor: pointer;    
} 
.btn-select:hover { 
	color: #535353; 
} 
.btn-select .cur-select { 
	position: absolute; 
	display: block; 
	width: 278px; 
	height: 40px; 
	line-height: 40px;
	border: 1px solid #dcdcdc;  
	background: url(../images/arrow.png) right 3px no-repeat;
	text-indent: 10px; 
	cursor: pointer;
} 
.btn-select select { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 278px; 
	height: 40px; 
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	font: 14px/20px "Microsoft YaHei"; 
	cursor: pointer;
} 
.btn-select select option { 
	text-indent: 10px; 
} 