/* 
* @Author: Marte
* @Date:   2016-04-26 15:26:02
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 15:08:48
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
/* 手机平板 */
.bd1{
    border-bottom: 1px solid #dcdcdc;
    margin-top: 37px;
}
.bd1 button{
	width:130px;
	height:32px;
	border:1px solid #40bb8c;
	background-color:#fff;
	color:#40bb8c;
	font-size:12px;
	border-radius:2px;
	float:right;
	margin: 5px;
	cursor:pointer;
}
.bd1 button:hover{
	color:#fff;
	background:#40bb8c;
}
.bd1 span{
    display: inline-block;
    width: 162px;
    height: 47px;
    border: 1px solid #dcdcdc;
    color: #313131;
    text-align: center;
    line-height: 47px;
    float: left;
    cursor: pointer;
    border-bottom-color: #fff;
}
.bd1 span.current{
    background-color: #40bb8c;
    border: 1px solid #40bb8c;
}
.bd1 span.current a{
    color: #fff;
}
.bd1 span a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* 品牌选择 */
.bd2,.bd3{
    margin-top: 17px;
}
.bd2 span,
.bd3 span{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #535353;
}
.bd2 ul{
  float: left;
  width: 800px;
}
.bd2 ul li{
    overflow:hidden;
    text-align: center;
    width: 73px;
    height: 35px;
    border: 1px solid #dcdcdc;
    float: left;
    margin:0 15px 10px 0;
    cursor: pointer;
    position: relative;
}
.bd2 ul li.current,
.bd3 ul li div.current{
    border-color: #40bb8c!important;
}
.bd2 ul li.current i,
.bd3 ul li div.current i{
    width: 14px;
    height: 14px;
    background: url(../images/icon.png) -207px -59px no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* 型号选择 */
.bd3{
    margin-top: 7px;
}
.bd3 span{
    height: 38px;
}
.bd3 ul{
  float: left;
  width: 90%;
}
.bd3 ul li{
	display: none;
}
.bd3 ul li.block{
	display: block;
}
.bd3 ul li .model-item{
    width: 166px;
    height: 35px;
    border: 1px solid #dcdcdc;
    float: left;
    margin: 0 12px 12px 0;
    line-height: 35px;
    text-align: center;
    color: #898989;
	cursor: pointer;
    position: relative;
}
/* 立即提交 */
.submit-modify{
	text-align: center;
	margin-top: 15px;
}
.submit-modify a{
	display: inline-block;
	width: 120px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	background-color: #40bb8c;
	border-radius:3px;
}

/* 选择品牌、型号 */
.jump{
    width:1000px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
	margin-left:-500px;
    -webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		 -o-transform: translate(0,-50%);
			transform: translate(0,-50%);
    z-index: 1;
	*top:30px;
	top:30px\9;
    border-radius:8px;
    display: none;
}
.jump-tit{
    height:70px;
    border-bottom:1px dashed #dcdcdc;
    color: #535353;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
	position:relative;
	overflow:hidden;
}
.jump-tit i{
    position:absolute;
    width: 19px;
    height: 19px;
    background:  url(../images/icon.png) -178px -90px no-repeat;
	right:17px;
	top:23px;
    cursor: pointer;
}
.dark{
	z-index:1;
}
.select-bd{
    padding: 0 24px 26px;
}
.select-bd strong{
    display: block;
    font-size: 18px;
    color: #606060;
}
.select-bd div{
    margin-top: 22px;
}
.select-bd div ul{
    margin-top: 22px;
}
.select-bd div ul li{
	border: 1px solid #dcdcdc;
	text-align:center;
    cursor: pointer;
    position: relative;
	float: left;
	color: #898989;
}
.select-bd .brand ul li{
    width: 105px;
    height: 51px;
    margin:0 29px 10px 0;
}
.select-bd .model ul li{
    width: 166px;
    height: 44px;
	line-height: 44px;
    margin: 13px 9px 0 0;
}
.select-bd .option li{
	width:156px;
	height:44px;
	line-height:44px;
	margin-right:28px;
}
.select-bd div ul li.current{
    border-color: #40bb8c;
}
.select-bd div ul li.current i{
    width: 23px;
    height: 23px;
    background:  url(../images/icon.png) -198px -50px no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.jump .button{
    width: 169px;
    height: 38px;
    background-color: #40bb8c;
    text-align: center;
    line-height: 38px;
    margin: 0 auto;
    color: #fff;
    border-radius:5px;
    margin: 15px auto;
    cursor: pointer;
}