/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 14:43:58
*/
/*css初始化代码*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img,input,span{ margin:0; padding:0; }
body{font-size: 14px;font-family:"微软雅黑";background-color: #eee;}
input,button{ border:0 none; outline-style:none;}
h1, h2, h3, h4, h5, h6,strong{ font-size:14px; font-weight:normal;}
i,em{ font-style:normal;}
fieldset,img{ border:0 none; }
ul, ol { list-style:none; }
a{text-decoration:none;color: #8b8b8b;}
a:hover{color: #40bb8c;}
select, input, textarea { margin:0; background:#fff;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
border:none;padding:0;
} 
button::-moz-focus-inner{border:none ;padding:0;font-family:arial;}
.clearfix{*zoom:1}
.clear{clear:both;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
.none{display:none;}
.wrap{
    width: 1100px;
    margin: 0 auto;
}
.con-bd h2{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    color: #313131;
}
/*header*/
.TIT .CBW{
    display: block;
    float: left;
    width: 66px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 2px;
    color: #3a3a3a;
    background-color: #d5d5d5;
    margin: 4px 10px 0px 0;
}
.TIT{
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #7f7f7f;
}
.TIT span{
    display: block;
    float: left;
}
.TIT span.out{
    float: right;
    height:100%;
    width:80px;
    text-align: center;
    line-height: 30px;
    background-color: #ea9a00;
    cursor: pointer;
}
.TIT span.out a{
    color: #fff;
    display: inline-block;
    width: 100%;
    height:100%;
}
.con{
    margin-top: 20px;
}
.con-bd{
    border: 1px solid #dcdcdc;
    width: 887px;
    float: right;
    background-color: #fff;
    padding:22px 24px 30px;
	min-height: 523px;
	box-sizing:content-box;
}
.CRI{
    font-size: 12px;
    color: #313131;
    text-align: center;
    margin-top: 42px;
}
/*二维码*/
.erweima{
    position: fixed;
    top: 50%;
    margin-top: -135px;
    right: 0;
}

/*弹出阴影*/
.dark{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 50;
}
/* 返回顶部 */
.return_top{
    width: 32px;
    height: 83.5px;
    position: fixed;
    right: 50px;
    bottom: 50px;
	cursor:pointer;
	display:none;
}
.return_top img{
	width:32px;
	height: 83.5px;
}

/* 文本框样式开始 */
.ui-input {
    height: 22px;
    line-height: 22px;
    width: 88px;
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
	border-radius:3px;
    font-size: 14px;
    vertical-align: middle;
    background-color: #fff;
    color: #5e5e5e;
    font-family: arial,"microsoft yahei"!important;
	font-weight:normal!important;
}
.ui-input:focus{
    border-color:#8cb5de;
} 
.long-input{
	width:283px;
}
.middle-input{
	width:130px;
}
.sort-input{
	width:80px;
}

/* 按钮样式开始 */
.ui-button{
    display: inline-block;
    margin: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 28px;
    color: #fff;
    border: 1px solid #40bb8c;
    background-color: #40bb8c;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: "microsoft yahei";
}
.small-btn{
	padding: 0 14px;
	font-size: 14px;
	height: 28px;
    line-height: 28px;
}
.btn-cancle{
	border-color:#b5b5b5;
    background-color: #b5b5b5;
}
/* 文本域样式开始 */
.ui-textarea {
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
	border-radius:3px;
    font-size: 14px;
    background-color: #fff;
    color: #5e5e5e;
    font-family: arial,"microsoft yahei"!important;
	font-weight:normal!important;
}
/* 弹出层样式 */
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
	display:none;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    filter:Alpha(opacity = 35);
    z-index: -1;
}
.box300 {
    width: 300px;
}
.posR {
    position: relative;
}
.posA{
    position: absolute;
}
.posA.off {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 10;
    background: url(../images/icon.png) no-repeat -460px 9px;
    cursor: pointer;
}
.box600 {
    width: 600px;
}















