/* 
* @Author: Marte
* @Date:   2016-04-29 09:19:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:57:28
*/
.con-bd{
    color: #535353;
}
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
    margin-bottom: 13px;
}
/*订单搜索*/
.t1 input{
    width: 223px;
    font-size: 14px;
    height: 19px;
	line-height:19px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 13px;
}
.t1 span {
    width: 49px;
    height: 17px;
    padding: 7px 0;
    display: inline-block;
    background-color: #40bb8c;
    text-align: center;
    margin-left: 6px;
    border-radius: 5px;
    vertical-align: -3px;
	vertical-align: auto\9;
    cursor: pointer;
}
.t1 span i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/icon.png) -277px 0 no-repeat;
}
/*订单日期*/
.t2 input {
    width: 128px;
    height: 19px;
	line-height:19px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 13px;
	padding: 5px;
}
/*城市选择*/
.t3 select{
    margin-right:8px;
    width: 128px;
    height: 29px;
    border: 1px solid #dcdcdc;
    margin-top: 13px;
    border-radius: 5px;
    color: #535355;
    font-size: 14px;
    font-family: "微软雅黑";
}
/*列表头部*/
.ul-tit {
    height: 44px;
    padding-left: 48px;
    background-color: #4eca9b;
    line-height: 44px;
    color: #fff;
    margin-top: 33px;
}
.ul-tit li.li1 {
    margin-right: 243px;
}
.ul-tit li {
    float: left;
}
.ul-tit li.li2 {
    margin-right: 105px;
}
.ul-tit li.li3 {
    margin-right: 101px;
}
/*列表*/
.ul-bd li {
    border: 1px solid #dcdcdc;
    margin-top: 13px;
}
.ul-bd li .li-t {
    border-bottom: 1px dashed #eeeeee;
}
.ul-bd li .li-t .li-t1 {
    margin-top: 13px;
    width: 363px;
    cursor: pointer;
}
.ul-bd li .li-t p {
    float: left;
    color: #898989;
}

.ul-bd li .li-t .li-t1 span {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-left: 11px;
    vertical-align: middle;
    margin-right: 10px;
    vertical-align: middle;
}
.ul-bd li .li-t .li-t1 strong {
    color: #535353;
    display: inline-block;
    width: 268px;
    vertical-align: middle;
}
.ul-bd li .li-t .li-t3 span, 
.ul-bd li .li-t .li-t3 strong {
    display: block;
    line-height: 24px;
    text-align: center;
}
.ul-bd li .li-t .li-t3 strong a{
    color: #40bb8c;
}
.ul-bd li .li-t .li-t2 {
    width: 50px;
    line-height: 91px;
}

.ul-bd li .li-t .li-t3 {
    margin-left: 119px;
    margin-top: 23px;
}

.ul-bd li .li-t .li-t4 {
    margin-left: 83px;
    margin-top: 29px;
    cursor: pointer;
    width: 95px;
    height: 34px;
    background-color: #ff9a0a;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
}
.ul-bd li .li-t .li-t4 a{
   color: #fff;
   display: inline-block;
   width: 100%;
   height: 100%;
}
.ul-bd li .li-b {
    line-height: 38px;
    padding: 0 10px;
    color: #898989;
    font-size: 12px;
}
.ul-bd li .li-b .li-b-r {
    float: right;
	*float:none;
	*margin-left:15px;
}
/*签收确认弹窗*/
.signbox{
    width: 604px;
    height: 278px;
    background-color: #000;
    position: fixed;
    z-index: 100;
    left: 50%;
    margin-left: -302px;
    top: 200px;
    background-color: #fff;
    display: none;
}
.sign-t{
    height: 84px;
    border-bottom: 2px solid #dcdcdc;
    font-size: 30px;
    line-height: 84px;
    text-align: center;
    position: relative;
}
.sign-t i{
    width: 33px;
    height: 33px;
    background:  url(../images/icon.png) -154px -50px no-repeat;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 13px;
    cursor: pointer;
}
.sign-bd{
    margin: 0 auto;
    width: 312px;
}
.sign-bd select{
	width: 314px;
    height: 39px;
	line-height:39px;
	font:14px "微软雅黑";
    margin-top: 15px;
    border-color: #e5e5e5;
	color:#444;
}
.sign-bd input{
    width: 302px;
    height: 27px;
	line-height:27px;	
    border: 1px solid #e5e5e5;
    font: 14px "微软雅黑";
    margin-top: 15px;
    padding: 5px;
	color:#444;
}
.sign-bd p{
    margin: 18px auto;
   width: 124px;
   height: 40px;
   background-color: #40bb8c;
   line-height: 40px;
   text-align: center;
}
.sign-bd p a{
   color: #fff;
   display: inline-block;
   width: 100%;
   height: 100%;
}

/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}