/* 
* @Author: Marte
* @Date:   2016-04-29 14:14:24
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-29 22:11:28
*/
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
    margin-bottom: 13px;
}
.con-bd-t{
    border: 1px solid #dcdcdc;
}
.con-bd-t h3{
    height: 41px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 41px;
    font-size: 16px;
    color: #313131;
    padding: 0 17px;
}
.con-bd-t h3 span{
    float: right;
    font-size: 12px;
    color: #b5b5b5;
}
.h3-bd{
    padding: 0 22px;
}
.h3-bd p{
    color: #a0a0a0;
    height: 30px;
}
.h3-bd span{
    color: #313131;
}
.h3-bd-1{
    border-bottom: 1px solid #dcdcdc;
    margin-top: 29px;
    padding-left: 22px;
}
.h3-bd-3{
    padding-left: 22px;
    line-height: 28px;
	height:auto;
	padding:10px 0 10px 22px;
}
.h3-bd-4{
    height: 49px;
    line-height: 49px;
    border-top: 1px solid #dcdcdc;
}
.h3-bd-4 span{
    text-align: right;
    display: inline-block;
    width: 100%;
}
.h3-bd-4 span strong{
   font-size: 20px;
   color: #db0303;
}
.rope{
    margin: 32px 0;
}
.rope .img-box#upload_file{
    display:none;
}
.rope .img-box img{
    height:100px;
}
.rope button {
    width: 100px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #ff9f00;
    border-radius: 4px;
    border: 0;
    padding: 0;
    float: left;
    font-family: "微软雅黑";
	cursor:pointer;
	margin-top:10px;
}


.bdCont .form dd label {
    display: inline-block;
    padding-right: 10px;
}
#repair .Ifile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
	cursor:pointer;
}
#repair  label input {
    vertical-align: -2px;
    margin-top: 8px;
}
#repair  input {
    margin: 0 5px 0 0;
    display: block;
    float: left;
}
#repair .Ifile input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
#repair .img-box{
	border:1px solid #dcdcdc;
	padding:0 10px 10px;
	margin-bottom:15px;
}
#repair .img-box p{
	color:#535353;
	padding:15px 5px;
}
#repair .upload-box{
	float:left;
	width:133px;
	overflow:hidden;
}
#repair .example-box{
	float:left;
	margin-left:20px;
}
#repair .example-box p{
	padding:0;
	height:34px;
	line-height:34px;
	
}
#repair .example-box img{
	cursor:zoom-in;
	width:75px;
	height: 100px;
	transition:all .5s;
	-webkit-transition:all .5s;
}
#repair .example-box img.scale{
	cursor:zoom-out;
	height:800px;
	width:600px;
}





