/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 14:43:58
*/
/* tab栏导航 */
.con-bd .snav {
    border-bottom: 2px solid #40bb8c;
}
.con-bd .snav ul li.current {
    background-color: #f0f0f0;
}
.con-bd .snav ul li.current em {
    display: inline-block;
}
.con-bd .snav ul li{
    width: 120px;
    height: 38px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 38px;
    position: relative;
    float: left;
	cursor: pointer;
    color: #898989;
    margin-left: -1px;
}
.con-bd .snav ul li a{
    display: block;
}
.con-bd .snav ul li em {
    display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #40bb8c;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 41px;
}
/* 售后 */
.service .ul_tit{
    margin-top: 10px;
    height: 38px;
    background-color: #eee;
    border: 1px solid #dcdcdc;
}
.service .ul_tit li{
    float: left;
    text-align: center;
    line-height: 38px;
}
.service .ul_tit li.one{
   width: 352px;
}
.service .ul_tit li.two{
   width: 166px;
}
.service .ul_tit li.three{
   width: 166px;
}
.service .ul_tit li.five{
   width: 166px;
}
.service .ul_bd{
  margin-top: 5px;
}
.service .ul_bd li{
  border: 1px solid #dcdcdc;
  margin-bottom: 13px;
}
.service .ul_bd li.empty{
	border:0 none;
	text-align:center;
}
.service .ul_bd .list_tit,
.service .ul_bd .list_btn{
   height: 42px;
   padding: 0 16px;
   color: #535353;
   background-color: #f4f4f4;
   line-height: 42px;
}
.service .ul_bd .list_tit img{
	vertical-align:-6px;
}
.service .ul_bd .list_tit time{
   margin-right: 10px;
   float:right;
}
.service .ul_bd .list_tit .placeholder{
	width:23px;
	height:42px;
	float:right;
}
.service .ul_bd .list_tit .close{
	width:23px;
	text-align:center;
	height:42px;
	display:block;
	background: url(../images/icon.png) -380px 5px no-repeat;
}
.service .ul_bd .list_tit .order{
   margin-right: 43px;
}
.phpic{
  float:left;
  width:346px;
}
.phpic .iphone{
  float:left;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
.list_bd{
  padding: 10px;
}
.list_bd .phpic_id{
  float:left;
  vertical-align: middle;
  margin-left: 8px;
  width:270px;
}
.list_bd .phpic_id span{
  display: block;
  line-height: 22px;
  color: #535353;
}
.list_bd .phpic_id span.color{
  color: #898989;
}
.list_bd .phpic_id span.introduce a.customer{
  color: #ff4444;
  font-size:12px;
}
.list_bd .phpic_id span.introduce a.extracts{
  color: #ff4444;
  font-size:12px;
}
.ul_bd span.two,
.ul_bd span.three,
.ul_bd span.four,
.ul_bd span.five{
  float:left;
  text-align: center;
}
.ul_bd span.two{
  width: 161px;
  color: #535353;
}
.ul_bd span.two strong{
  display: block;
  font-size: 12px;
  color: #898989;
}
.ul_bd span.three{
  width: 161px;
  color: #40bb8c;
  vertical-align: 1px;
}
.service .ul_bd .list_btn span.three {
	width: auto;
	vertical-align:0;
	float:none;
	margin-right:10px;
}
.service .ul_bd .list_btn span.allprice{
	color:#313131;
	float:right;
	*float:none;
	padding-right:15px;
}
.service .ul_bd .list_btn span.allprice b{
	color:#ff9600;
}
.service .ul_bd .list_btn .btn-groups{
	float:right;
}
.service .ul_bd .list_btn a{
  width: 94px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  display:inline-block;
  border-radius: 5px;
  margin: 5px 5px 0;
  *margin: 5px 25px 0;
  float:left;
  *float:none;
  cursor:pointer;
}
.service .ul_bd .list_btn a.deliver{
  background-color: #ff7e00;
}
.service .ul_bd .list_btn a.look-orders{
  background-color: #40bb8c;
}
.service .ul_bd .list_btn a.change-refund{
  background-color: #ff7e00;
}
.service .ul_bd .list_btn a.change-sign{
  background-color: #ff4444;
}
.service .ul_bd .list_btn a.change-agree{
  background-color: #4fc0e8;
}

.service .ul_bd .list_btn a.change-disagree{
  background-color: #ff7e00;
}
.ul_bd span.five{
  width: 161px;
  vertical-align: 1px;
}

.pageLink ul li.active a{
	line-height:2.4;
}
.ul_bd .list_tit .delete {
    width: 14px;
    cursor: pointer;
    height: 100%;
    background: url(../images/icon.png) -410px 13px no-repeat;
    display: inline-block;
    float: right;
}
/* 弹出层 */
.posF .hd p {
    font-size: 16px;
    text-indent: 2em;
    line-height: 36px;
    margin: 0;
}
.posF .hd {
    border-bottom: 2px solid #dfdfdf;
}
.posF .bd {
    padding: 25px 35px;
}
.posF .bd .rope {
    margin: 0 0 10px 0;
}
.posF .btns .off{
	background-color:#dcdcdc;
	border-color:#dcdcdc;
	color:#313131;
	margin-right:15px;
}
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
#postInfo table{
	line-height:26px;
}
select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
	height: 32px;
    line-height: 32px;
	font-family:"microsoft yahei";
	cursor:pointer;
}
/* 筛选 */
.filter{
	margin:15px 0 0;
}
.filter select{
	width:150px;
	height:34px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	font:14px "microsoft yahei";
}
.filter input{
	width:195px;
	padding: 7px;
	border:1px solid #dcdcdc;
}
.filter input.date-select{
	width:95px;
}
.filter .filter-btm{
	margin:0 0 10px;
}
.filter .filter-btm button.submit{
	width:48x;
	height:32px;
	line-height:32px;
	font:14px "microsoft yahei";
	background-color:#40bb8c;
	color:#fff;
	text-align:center;
	border-radius:3px;
	cursor:pointer;
}
/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}













