/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 14:43:58
*/
/* tab栏导航 */
.con-bd .snav {
    border-bottom: 2px solid #40bb8c;
}
.con-bd .snav ul li.current {
    background-color: #f0f0f0;
}
.con-bd .snav ul li.current em {
    display: inline-block;
}
.con-bd .snav ul li{
    width: 120px;
    height: 38px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 38px;
    position: relative;
    float: left;
	cursor: pointer;
    color: #898989;
    margin-left: -1px;
}
.con-bd .snav ul li a{
    display: block;
}
.con-bd .snav ul li em {
    display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #40bb8c;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 41px;
}
.widget-box table {
    width: 100%;
    border: 1px solid #dcdcdc;
	border-collapse:collapse
}
.widget-box {
	margin-top:15px;
}

.widget-box table td {
    padding:0 8px;
	text-align: left;
    border-right: 1px solid #dcdcdc;
	color:#666;
}
.widget-box table td a.edit{
	color:#5bab4c;
}
.widget-box table td a.attr{
	color:#0044cc;
}
.widget-box table td a.rela{
	color:#faa732;
}
.widget-box table td a.dele{
	color:#ff4444;
}

.widget-box table td:last-child,
.widget-box table th:last-child{
	border:0 none;
}
.widget-box table td input{
	cursor:pointer;
}
.widget-box table td a.edit{
	color:#5bab4c;
}
.widget-box table td a.dele{
	color:#ff4444;
}
.widget-box table th{
	text-align: center;
	border-right:1px solid #dcdcdc;
}
.widget-box table th label{
	cursor:pointer;
}
.widget-box table th input{
	cursor:pointer;
}
.widget-box .table tr{
    text-align: center;
    border-bottom:1px solid #dcdcdc;
	line-height: 32px;
	font-size:12px;
}
.pro-lst em{
	background:url(../images/icon.png) no-repeat -366px 0;
	display:inline-block;
	width:13px;
	height:9px;
}
.pro-lst em.icon-fault{
	background-position: -383px -1px;
    width: 20px;
    height: 20px;
}
td.text-center {
    text-align: center!important;
}
/* 分页 */
.pagination{
	float:right;
}
.pagination ul{
	border:1px solid #dcdcdc;
	margin:15px 0 0;
	border-radius:5px;
}




