/* 
* @Author: Marte
* @Date:   2016-04-25 16:34:48
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-19 15:01:08
*/
.con input{
    padding: 5px;
    box-sizing: border-box;
}
.con-bd h2{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #40bb8c;
    font-size: 24px;
    color: #313131;
}
.con-bd-t{
    margin-top: 16px;
    border-bottom: 1px dashed #eee;
}
.con-bd-t .t-r .span2{
    width: 110px;
    height: 32px;
    border: 1px solid #dcdcdc;
    margin-left: 8px;
}
.con-bd-t .t-r .span2{
    margin:0  5px;
    margin-left: 0;
}
.t-l{
    width: 200px;
    height: 192px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    text-align: center;
    float: right;
}
.t-l img{
    width:200px;
	height:160px;
}
.t-l span{
    display: block;
	margin-top: 3px;
}
.t-l span a.edit{
   color: #535353;
   margin-left: -35px;
}
.t-l span i{
   display: inline-block;
   width: 12px;
   height: 13px;
   background:  url(../images/icon.png) -124px -56px no-repeat;
   vertical-align: middle;
   margin-left: 5px;
}
.t-r{
    float: left;
    line-height: 38px;

}
.t-r input{
    width: 224px;
	line-height:20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.t-r p.last{
    position: relative;
	
}
.t-r p.last input{
	width:110px;
	cursor:no-drop;
}
.t-r p.last i{
   display: inline-block;
    width: 14px;
    height: 18px;
    background: url(../images/icon.png) -1px -479px no-repeat;
    margin: 0px 0px -3px 6px;
    cursor: pointer;
}
.t-r p{
	margin-bottom:8px;
}
.t-r p.edit{
	display:none;
}
.t-r p.detial input{
	width:339px;
}
.t-r span{
    color: #707070;
    display: inline-block;
    width: 85px;
}
.t-r strong{
    color: #313131;
    width: 550px;
    vertical-align: middle;
    line-height: 24px;
    display: inline-block;
}
.t-r strong span{
	color:#40bb8c;
	cursor:pointer;
	margin-left:10px;
}
/*b1*/
.con-bd-b p{
    color: #313131;
}
.con-bd-b span.w80{
    color: #707070;
    display: inline-block;
    width: 85px;
}
.con-bd-b .b1{
    margin-top: 6px;
}
.con-bd-b  i{
   display: inline-block;
   width: 8px;
   height: 7px;
   background:  url(../images/icon.png) -108px -56px no-repeat;
}
.con-bd-b .b1 .input{
    width: 110px;
    height: 32px;
    border: 1px solid #dcdcdc;
    margin-left: 8px;
}
.con-bd-b .b1 .input1{
    margin:0  5px;
    margin-left: 0;
}
.con-bd-b .b1 .input2{
    margin:0 20px 0 8px;
}
.con-bd-b .b1 .input3{
   margin-right: 5px;
}
/*b2*/
.b2,.b3,.b4,.b5,.ext{
    margin-top: 20px;
}
.b2 input{
    border: 1px solid #dcdcdc;
    height: 34px;
	line-height:34px;
    width: 416px;
}
.server-range .input-group-addon{
	display: inline-block;
	padding: 9px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
	float: left;
}
.server-range #server_range{
	width:208px;
	border-right: 0 none;
	float: left;
}
.server-range .w80{
	float: left;
	margin-top: 5px;
}
/*b4*/
.b4 span{
    float: left;
}
.b4 textarea{
    width: 402px;
    height: 88px;
    border: 1px solid #dcdcdc;
    float: left;
	padding:5px;
	color:#313131;
	font-size: 14px;
}
/*b5*/
.b5 strong{
    color: #ff9f00;
}
.b5 textarea{
    width: 671px;
    height: 187px;
    border: 1px solid #dcdcdc;
    float: left;
    margin-left: 16px;
	padding:5px;
	color:#313131;
}
.b5-b{
    margin-top: 16px;
}
.b5-b button{
    width: 68px;
    height: 32px;
    display: inline-block;
    background-color: #40bb8c;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 86px;
	color: #fff;
	cursor:pointer;
}
.ext input{
	border: 1px solid #dcdcdc;
    height: 32px;
	line-height:32px;
    width: 60px;
    text-align: center;
}
.b5 .posi{
    float: left;
}
.b5 span{
    margin: 0;
}
.pos{
    margin: 0;
    float: left;
}
/*地图*/
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    z-index: -1;
}
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
.box700 {
    width: 700px;
}
.posR {
    position: relative;
}
.posA.off {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 10;
    background: url(../../images/2016/coins.png) no-repeat -440px -53px;
    cursor: pointer;
}
.posA {
    position: absolute;
	z-index:2;
}
.bigbox{
	display: none;
	left:50%;
	margin-left:-350px;
	top:50%;
	margin-top:-250px;
}
textarea,input{
	font:14px "微软雅黑";
	background:#fff;
}
textarea:focus{
	outline:none;
}
/* 维修师系统提示 */
.system_tip{
	color:#ff4444!important;
	font-size:12px;
	float:left;
	margin:2px 2px 2px 10px;
}


