/* 
* @Author: Marte
* @Date:   2016-04-25 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-09 14:43:58
*/
.widget-box table {
    width: 100%;
    border: 1px solid #dcdcdc;
	border-collapse:collapse
}
.widget-box {
	margin-top:15px;
}

.widget-box table td {
    padding:0 8px;
	text-align: left;
    border-right: 1px solid #dcdcdc;
	color:#666;
}
.widget-box table td a.edit{
	color:#5bab4c;
}
.widget-box table td a.attr{
	color:#0044cc;
}
.widget-box table td a.rela{
	color:#faa732;
}
.widget-box table td a.dele{
	color:#ff4444;
}

.widget-box table td:last-child,
.widget-box table th:last-child{
	border:0 none;
}
.widget-box table td input{
	cursor:pointer;
}
.widget-box table th{
	text-align: center;
	border-right:1px solid #dcdcdc;
}
.widget-box table th label{
	cursor:pointer;
}
.widget-box table th input{
	cursor:pointer;
}
.widget-box .table tr{
    text-align: center;
    border-bottom:1px solid #dcdcdc;
	line-height: 32px;
}
.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 14px;
    text-align: right;
}

.form-horizontal .checker{
	display:inline-block;
}
.form-horizontal .checker label{
	cursor:pointer;
}
.form-horizontal .checker input{
	vertical-align:-1px;
	margin:0 5px 0 15px;
}
.form-horizontal .controls {
    margin-left: 120px;
    padding: 10px 0;
    color: #555;
}
.form-horizontal .control-group .span1{
	width:52px;
	display:inline-block;
}
.form-actions .ui-button{
	line-height:27px;
}
.form-actions .ui-button.return{
	background-color:#fff;
	color:#313131;
	border-color:#dcdcdc;
}
.form-actions .ui-button.change{
	background-color:#006dcc;
	color:#fff;
	border-color:#006dcc;
	margin:0 30px 0 122px;
}



