<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        a {
            color:#27A9E3;
        }
        a:hover {
            color:#f70;
            text-decoration:underline;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">品牌列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">商品品牌</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div class="tab-pane active">
                            <div class="" style="width:100%; height:30px; margin-bottom:10px;">
								<form action="" method="get" class="span6">
									<input type="text" name="brand_name" style="width:150px;">
									<input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" placeholder="请输入关键字..." value="提交">
								</form>
                                <a href="__CONTROLLER__/brandAdd" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加品牌</a>
                            </div> 
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
										<th class="list-title" style="width:5%;">编号</th>
                                        <th class="list-title">名称</th>
                                        <th class="list-title" style="width:10%;">排序</th>
                                        <th class="list-title" style="width:10%;">显示</th>
                                        <th class="list-title" style="width:10%;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="vo">
                                    <tr>
										<td class="align-center"><{$vo.id}></td>
                                        <td class="align-left"><{$vo.brand_name}></td>
                                        <td class="align-center"><{$vo.sort}></td>
										<td class="align-center">
											<eq name="vo.is_show" value="1">
											<i class="icon-ok" style="color:green;"></i>
											<else />
											<i class="icon-remove" style="color:red;"></i>
											</eq>
										</td>
                                        <td class="align-center">
                                            <a href="__CONTROLLER__/brandEdit/id/<{$vo.id}>"><i class="icon-pencil"></i> 编辑</a> | 
                                            <a href="__CONTROLLER__/brandDelete/id/<{$vo.id}>" onclick="return confirm('您确定删除该品牌？');"><i class="icon-trash"></i> 删除
										</td>
                                        </tr>
                                    </foreach>
                                </tbody>
								<tfoot>
									<tr>
										<td colspan="7">
										<div class="pagination alternate text-right span9 pull-right">
										<{$page}>
										</div>
										</td>
									</tr>
								</tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">
      
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
