/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
input{
    padding:5px;
    font:14px "微软雅黑";
}
.prolist{
    margin-top: 30px;
}
.prolist h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.protit{
    border-bottom:4px solid #eeeeee;
    padding-bottom: 11px;
}


.adds{
    margin:18px 0 15px 0;
}
.adds .rope{
    border:1px solid #e5e5e5;
    padding:15px 0;
    margin-top:-1px;
}
.adds .rope dl{
    width:670px;
    margin:0;
    line-height:30px;
}
.adds .rope dl dt{
    float:left;
    width:150px;
    margin-right:10px;
    text-align:right;
    font-size:14px;
    color:#707070;
    line-height:30px;
    font-weight:normal;
}
.adds .rope dl dd{
    float:left;
    color:#535353;
    width:500px;
    line-height:30px;
}

.adds p{
    width:100px;
    margin:0;
    padding-top:6px;
}
.adds p a{
    display:block;
    text-align:center;
    line-height:2;
    font-size:14px;
    color:#40bb8c;
}
.adds p a.delete{
    margin-top: 10px;
    color:#898989;
}
p.moren{
    color:#ff8916;
    top:35%;
    margin-top: -2px;
    left:20px;
    font-size: 16px;
}

.title{
	margin-top: 28px;
}
.title p{
    font-size:16px;
    line-height:44px;
    color:#707070;
    height: 44px;
    text-align:center;
    display:inline-block;
    width:201px;
    border: 1px solid #dcdcdc; 
    padding: 0;
    cursor: pointer;
}
.title p:hover{
    background-color: #40bb8c;
    color:#fff;
    border-color: #40bb8c;
}

.up{
    margin-top: 29px;
    display: none;
}
.up dl{
    margin:0 0 15px 0;
}

.up dt{
    float:left;
    width:70px;
    margin-right:15px;
    text-align:right;
    font-size:14px;
    color:#898989;
    line-height:30px;
    font-weight:normal;
}
.up dl.moren dt{
    margin:0 0 0 80px;
    width: 90px;
}
.up dl.moren dt span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #dcdcdc;
    padding: 0;
    vertical-align: -6px;
    margin-right: 6px;
    cursor: pointer;
}
.up dl.moren dt span.selected{
    background: url(../images/selsected.png)center center no-repeat;
    border-color: #40bb8c;
}
.up dt span{
    padding:0 3px;
    color:#f00;
    line-height:36px;
    display:inline-block;
}
.up dd{
    float:left;
    width:590px;
    line-height:30px;
}
.up dd input{
    margin:0;
    border-color: #e5e5e5;
	height:26px;
	line-height:26px;
}
.up dd select{
    width:150px;
    margin:0;
    margin-right:5px;
    border-color: #e5e5e5;
	height:36px;
}
.up dd select#area{
    margin-right: 0;
}
.up dd a.ui-button{
    border:0;
    color:#fff;
}
.up dd a.cancle{
    margin-right: 25px;
    background: #b5b5b5;
}
span.must{
    color:red;
    margin:0 0 0 5px;
    display: inline-block;
    line-height: 30px;
}