/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.protit h2{
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
#repair{
	margin-top:13px;
}
#repair .t1{
    position: relative;
}
#repair .t1,
#repair .t2,
#repair .t3{
	margin-bottom:13px;
}
#repair .t1 input{
    width: 233px;
    height: 29px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 0 5px;
}
#repair .t1 span {
    width: 49px;
    height: 17px;
    padding: 7px 0;
    display: inline-block;
    background-color: #40bb8c;
    text-align: center;
    margin-left: 6px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}
#repair .t1 span i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/2016/icon.png) -324px -82px no-repeat;
}
#repair .t2 input{
    width: 128px;
    height: 19px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding:5px;
}
#repair .t3{
    margin-top: 13px;
}
#repair .t3 select{
    height: 29px;
    color: #535353;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
	width:150px;
}
#repair.t3 .span1{
   margin-left: 18px;
   width: 128px;
}

.bd-b{
	margin-top:26px;
}
.bd-b .ul_tit{
    margin-top: 10px;
    height: 48px;
    background-color: #eee;
    border: 1px solid #dcdcdc;
}
.bd-b .ul_tit li{
    float: left;
    text-align: center;
    line-height: 48px;
}
.bd-b .ul_tit li.one{
   width: 352px;
}
.bd-b .ul_tit li.two{
   width: 166px;
}
.bd-b .ul_tit li.three{
   width: 166px;
}
.bd-b .ul_tit li.five{
   width: 166px;
}
.bd-b .ul_bd{
  margin-top: 10px;
}
.bd-b .ul_bd li{
  border: 1px solid #dcdcdc;
  margin-bottom: 13px;
}
.bd-b .ul_bd li.empty{
	border:0 none;
	text-align:center;
}
.bd-b .ul_bd .list_tit,
.bd-b .ul_bd .list_btn{
   height: 42px;
   padding: 0 16px;
   color: #535353;
   background-color: #f4f4f4;
   line-height: 42px;
}
.bd-b .ul_bd .list_btn span{
	*float:none;
}
.bd-b .ul_bd .list_tit img{
	vertical-align:-6px;
}
.bd-b .ul_bd .list_tit time{
   margin-right: 10px;
}
.bd-b .ul_bd .list_tit .order{
   margin-right: 43px;
}
.phpic{
  float:left;
  width:352px;
}
.phpic .iphone{
  float:left;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
.list_bd{
  padding: 20px 11px;
}
.list_bd .phpic_id{
  float:left;
  vertical-align: middle;
  margin-left: 8px;
  width:260px;
}
.list_bd .phpic_id span{
  display: block;
  line-height: 22px;
  color: #535353;
}
.list_bd .phpic_id span.color{
  color: #898989;
}
.list_bd .phpic_id span.introduce a.customer{
  color: #ff4444;
  font-size:12px;
  padding-left:20px;
}
.ul_bd span.two,
.ul_bd span.three,
.ul_bd span.four,
.ul_bd span.five{
  display:inline-block;
  *float:left;
  text-align: center;
}
.ul_bd span.two{
  width: 161px;
  color: #535353;
}
.ul_bd span.two strong{
  display: block;
  font-size: 12px;
  color: #898989;
}
.ul_bd span.three{
  width: 161px;
  color: #40bb8c;
  vertical-align: 1px;
}
.bd-b .ul_bd .list_btn span.three {
	width: auto;
	vertical-align:0;
	margin-right:10px;
}
.ul_bd span.five{
  width: 161px;
  vertical-align: 1px;
}
.bd-b .ul_bd .list_btn a.confirm{
  width: 94px;
  height: 33px;
  background-color: #ff7e00;
  line-height: 33px;
  text-align: center;
  color: #fff;
  display:inline-block;
  border-radius: 5px;
  margin: 5px auto 0;
  *margin: 5px 25px 0;
  float:right;
  *float:none;
}
.pageLink ul li.active a{
	line-height:2.4;
}