/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
/* 评论数字条 */
.tcdPageCode{
    padding: 60px 20px;
    text-align: center;
    color: #ccc;
}
.tcdPageCode a:hover{
    text-decoration: none;
    color:#40bb8c;
}
.tcdPageCode span.current,
.tcdPageCode span.disabled,
.tcdPageCode a{
    display: inline-block;
    height: 33px;
    line-height: 33px;
	border-radius:5px;
    padding: 0 15px;
    margin: 0 8px;
    color: #f60;
    border: 1px solid #f60;
    vertical-align: middle;
}
.tcdPageCode span.disabled{
    color: #313131;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
	display:none;
}
.tcdPageCode a{
    color: #313131;
    border: 1px solid #ddd;
}

.prolist h2{
  font-size: 24px;
  color: #000;
  font-weight: bold;
  float:left;
}
.protit span{
	width:100px;
	float:right;
	text-align:center;
	height:32px;
	line-height:32px;
	border-radius:5px;
	border:1px solid #40bb8c;
	position:relative;
}
.protit span a{
	color:#40bb8c;
	display:block;
	height:100%;
	text-indent:1em;
}
.protit span a em{
	color:#40bb8c;
	font-size:24px;
	left:-7px;
	position:absolute;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.filter{
	margin-top:15px;
}
.filter .filtername{
	color:#313131;
}
.filter .search{
	width:42px;
	display:inline-block;
	margin-left:15px;
	text-align:center;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	border-radius:5px;
	background:#40bb8c;
	color:#fff;
	cursor:pointer;
}
.filter input{
	height:22px;
}
.filter select{
	margin-right:10px;
}
.storeList{
  margin-top: 17px;
}
.storeList .empty{
  padding:14px 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 25px #dcdcdc;
  margin-bottom: 18px;
  text-align:center;
}
.storeList ul{
	display: none;
}
.storeList li{
  padding:21px 20px;
  border: 1px solid #e5e5e5;
  float: left;
  box-shadow: 1px 1px 25px #dcdcdc;
  width: 238px;
  height: 310px;
  *margin-right:10px;
  margin-right:10px\9;
  margin-bottom: 18px;
  position:relative;
  overflow:hidden;
}
.storeList li .editShopnews{
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:28px;
	text-align:center;
	line-height:28px;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
}
.storeList li .hasRepairOrder{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:32px;
	line-height: 32px;
	text-align:center;
	background-color:rgba(64,187,140,0.6);
	color:#fff;
}
.storeList li:nth-child(3n-1){
  margin: 0 17px;
}
.storeList li a img{
  border: 1px solid #eeeeee;
  width: 236px;
}
.storeList li .master-shop{
	position:absolute;
	bottom:10px;
	right:10px;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.storeList li .master-shop img{
	width:46px;
}
.storeList li .storenews span{
  color:#313131;
  margin-top: 12px;
  display: block;
  height: 26px;
  overflow:hidden;
}
.storeList li .storenews span em{
  display: inline-block;
  vertical-align: 1px;
  width: 18px;
  height: 18px;
  color: #ff5252;
  border-radius: 50%;
  border: 1px solid #ff5252;
  text-align: center;
  line-height: 18px;
  margin-right: 5px;
  font-size: 12px;
}
.storeList li .storenews img{
  width:16px;
  margin: 0 1px;
  border:0 none;
  vertical-align: -3px;
}
.storeList li .storenews p{
  color:#707070;
  margin-top: 2px;
  line-height: 22px;
}