/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.prolist h2{
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.List li{
  margin-top: 20px;
}
.List li.clearfix span{
	float:left;
	margin-top:33px;
}
.List li.clearfix span.red{
	float:right;
	margin:30px 333px 0 5px;
}
.List li .addpic{
  width: 98px;
  height: 85px;
  float:left;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: not-allowed;
}
.List li.clearfix button{
	float:right;
	margin:20px 0 0 0;
}
.List li .addpic p{
  color:#dcdcdc;
  margin-top: 10px;
}
.List li span{
  color:#898989;
  display: inline-block;
  width: 120px;
  text-align:right;
}
.List li:first-child label{
	margin-right: -102px;
    color: #707070;
    width: 95px;
    text-align: right;
    vertical-align: -1px;
}
.List li:first-child input{
  background: transparent;
}
.List li span.red{
  color:#ff4444;
  font-size: 14px;
  margin-left: 5px;
  width:auto;
}
.List .fix-width input{
  width: 395px;
  height: 30px;
  line-height:30px;
  border: 1px solid #e5e5e5;
}
.List .server_style{
	color:#535353;
}
.List .server_style label{
	margin-right:15px;
	cursor:pointer;
}
.List .server_style label input{
	margin-right:5px;
	vertical-align:-1px;
}
.List .map input{
	width: 104px;
	margin-right:10px;
}
.List .tips{
	margin-left:48px;
	color:#f60;
	height: 28px;
	font-size:14px;
}
.List button{
  width: 100px;
  height: 40px;
  background-color: #40bb8c;
  line-height: 40px;
  text-align: center;
  color:#fff;
  font:14px "微软雅黑";
  margin: 0 0 0 48px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align:middle;
}
.List .map button{
	margin:0;
	height:38px;
	line-height: 38px;
	vertical-align:middle;
}
.List .map button i{
	background:url(../images/2016/icon.png) -34px -40px no-repeat;
	width:14px;
	height:18px;
	display:inline-block;
	vertical-align:-3px;
	margin-right:5px;
}
.List li .span2{
  width:132px;
  margin-right:10px;
}
.List li .span2{
      border-color: rgb(229, 229, 229);
	  width:114px;
}
.List li #area{
	margin:0;
}
.List ul li:nth-child(9) label{
	cursor:pointer;
}
.List ul li:nth-child(9) input{
	width:auto!important;
	height:auto!important;
	margin:0 6px 0 10px;
}
.col-md-9 span.off{
    position: absolute;
    right: 15px;
    top: 5px;
    background: #337ab7;
    color: #fff;
    z-index: 587;
    width: 60px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
}
.dark{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
    z-index: 2;
}
.row{
  margin-right: -120px;
}
.bigbox{
	display: none;
	left:50%;
	margin-left:-350px !important;
	top:50%;
	margin-top:-250px !important;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0px;
    bottom: 32px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    border: 1px solid #37bc9b;
    font-size: 14px;
	z-index:1;
}
.bigbox p.PS img{
	width:14px;
	margin:0 5px;
}
.col-md-3 {
	width:20%!important;
	padding-left:0!important;
}