/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.protit {
    border-bottom: 4px solid #eeeeee;
    padding-bottom: 11px;
}
.prolist h2 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
/* item1&item2 */
.tab_item{
	margin-top: 20px;
}
.same-item ul li{
	border:1px solid #dcdcdc;
	margin-bottom:12px;
}
.same-item ul li .title-news{
	background-color:#e9faf4;
	height:43px;
	line-height:43px;
	padding:0 10px;
	border-bottom: 1px solid #dcdcdc;
}
.same-item ul li .title-news.noPerson{
	background-color:#f6f6f6;
}
.same-item ul li .title-news .titile-user-news img{
	width:28px;
	height:28px;
	border:1px solid #e6e6e6;
	border-radius:50%;
	display:inline-block;
	vertical-align: middle;
}
.same-item ul li .main-content a{
	display: block;
	padding:16px 14px;
}
.same-item ul li .main-content .main-content-phone{
	line-height:24px;
}
.same-item ul li .main-content .main-content-phone .user-phone{
	color:#898989;
}
.same-item ul li .main-content .main-content-phone .required{
	color:#ff9000;
	font-size:16px;
	padding-left: 5px;
}
.same-item ul li .main-content .main-content-people{
	height:44px;
	line-height:44px;
	color:#000;
	padding:0 10px;
	border-top:1px dashed #eeeeee;
}
.same-item ul li .main-content .main-content-people .quote-shop{
	color: #313131;
}
.same-item ul li .main-content .main-content-people .quote-people span{
	color:#40bb8c;
}
/*分页*/
.page{
    text-align: center;
    padding: 25px 0 20px 0;
    background: none !important;
    margin: 0;
}
.page ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page ul li {
    display: inline-block;
	*display: inline;
}
.page a {
    display: inline-block;
	*display: inline;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 2.4;
    font-size: 14px;
    background: #fff;
    margin: 0 3px;
}
.page ul li.active a {
    border-color: #f60;
    color: #f60;
    font-size: 14px;
    line-height: 28px;
}
/* 共用类 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}