.posF{display:none;}

.demo .im{width:880px;margin:5% auto 0 auto;}
.demo .im img{width:100%;}

.content{background:#fff;}

.recoKinds{padding:45px 0 10px 0;}
.recoKinds .tit{margin:0 0 10px 0;border-bottom:1px solid #3fb88c;}
.recoKinds .tit p{text-indent:15px;margin:0;font-size:16px;line-height:40px;}

.prod{height:300px;overflow:hidden;margin:0 0 20px 0;}

.prod .prodImg{}
.prod .prodImg i{display:block;left:0px;top:0px;height:50px;height:50px;}
.prod .prodImg img{width:100%;height:auto;display:block;}

.prod .prodInfo{}
.prod .prodInfo .tit{margin:0 0 10px 0;padding:15px 0 0 0;}
.prod .prodInfo .tit dt{font-size:14px;font-weight:normal;margin:0;line-height:2;}
.prod .prodInfo .tit dd{font-size:24px;margin:0;line-height:1.6;height:76px;overflow:hidden;}
.prod .prodInfo .others{margin:0 0 10px 0;}
.prod .prodInfo .others dt{float:left;margin:0;width:85px;line-height:2;}
.prod .prodInfo .others dd{float:left;margin:0;width:296px;}
.prod .prodInfo .others dd span{display:inline-block;padding:0 10px 0 0;line-height:2;}
.prod .prodInfo .servers {margin:0;}
.prod .prodInfo .servers dt{margin:0;}
.prod .prodInfo .servers dd{float:left;width:100px;margin:0;text-align:center;}
.prod .prodInfo .servers dd img{display:block;margin:auto;}
.prod .prodInfo .servers dd span{display:block;line-height:2;color:#999;}

.prod .prodPrice{}
.prod .prodPrice .current{width:98%;height:300px;}


.details{clear:both;}

.details .cont{width:893px;overflow:hidden;min-height:600px;}
.details .cont .bd{}
.details .cont .bd .tab{}
.details .cont .bd .detail{}
.details .cont .bd .detail .wrap {padding:6px 0 0 0;width:auto;}
.details .cont .bd .detail .wrap dl{margin:0 0 10px 0;padding:0 25px;}
.details .cont .bd .detail .wrap dt{margin:0;font-size:15px;padding:0 0 0 25px;line-height:2;font-weight:normal;color:#3fb88c;}
.details .cont .bd .detail .wrap dd{float:left;margin:5px;border:1px solid #dfdfdf;border-radius:4px;background:#fff;cursor:pointer;height:36px;text-align:center;width:156px;}
.details .cont .bd .detail .wrap dd:hover{border-color:#3fb88c;}
.details .cont .bd .detail .wrap dd.on{background:url(../images/coins/selected.png) 143px 22px  no-repeat #fff;border-color:#3fb88c;}
.details .cont .bd .detail .wrap dd span{display: inline-block;width: 100%;height: 36px;line-height: 36px;font-size: 16px;}
.details .cont .bd .detail .wrap dd p{padding: 0 5px;line-height: 1.6;font-size: 12px;color: #999;}
.details .cont .bd .detail .wrap dd.mod{display:none;}


.details .cont .bd .detail .wrap div.option{text-align:center;}
.details .cont .bd .detail .wrap div.option span{cursor:pointer;width:230px;text-align:center;font-size:14px;line-height:36px;border-radius:4px;border:1px solid #dfdfdf;display:inline-block;margin:0 25px;background:#dfdfdf;}
.details .cont .bd .detail .wrap div.option span.pvTp{}
.details .cont .bd .detail .wrap div.option span.submit{background:#f60;color:#fff;border-color:#f60;}
.details .cont .bd .detail .wrap div.price{padding:0 0 0 40px;margin:0 0 15px 0;}
.details .cont .bd .detail .wrap div.price p{margin:0;font-size:15px;}
.details .cont .bd .detail .wrap div.price p span{padding:0 5px;display:inline-block;color:#f00;}
.details .cont .bd .detail .empty{margin: 5px;border: 1px solid #dfdfdf;border-radius: 4px;background: #fff;height: 36px;line-height:36px;text-align: center;width: 99%;}

.details .otherInfo{}
.details .otherInfo .title{border-bottom:1px solid #dfdfdf;margin-bottom:25px;}
.details .otherInfo .title p{margin:0;font-size:15px;line-height:37px;padding-left:25px}
.details .otherInfo dl{margin:0 0 15px 0;padding:0 25px;}
.details .otherInfo dt{margin:0;line-height:2;font-size:14px;font-weight:normal;}
.details .otherInfo dt img{display:inline-block;margin-right:8px;vertical-align:-7px;}
.details .otherInfo dd{margin:0;font-size:14px; line-height:2;border-bottom:1px dashed #dfdfdf;}
.details .otherInfo dd:last-child{border:0;}
.details .otherInfo dd p{text-indent:2em;margin:0;color:#686868;}
.details .otherInfo dd span{font-style:mormal;padding:0 3px;color:#ff9f00;display:inline-block;cursor:pointer;}

#more{}
#more .hd{border-bottom:2px solid #dfdfdf;}
#more .hd p{font-size:16px;line-height:40px;margin:0;text-indent:2em;}
#more .bd{padding:25px 35px;}
#more .bd a{display:inline-block;padding:0 15px;border-radius:3px;line-height:28px;font-size:14px;margin:3px;}
#more .bd a:hover{background:#3fb88c;color:#fff;}

.con-bd-t ul {
    padding-top: -5px;
    width: 100%;
}
.con-bd-t li {
    float: left;
    line-height: 13px;
}
.con-bd-t li.Line{
    width: 16%;
}
.con-bd-t li.Lines{
    width:16%;
}
.con-bd-t ul li p {
    height: 5px;
    margin-left: -3px;
    display: block;
    /*border-top: 1px solid #92d9b2;
    border-bottom: 1px solid #92d9b2;*/
    vertical-align: -2px;
}
.con-bd-t ul li.on p {
    background: #40bb8c;
}
.con-bd-t ol {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    margin-top: 1px;
    height: 78px;
    background-color: #edf8f2;
}
.con-bd-t ol li{
    margin: 18px;
}
.con-bd-t ol li.Breadcrumbs-backArrow{
    width: 38px;
    height: 34px;
    cursor: pointer;
    background:  url(../images/2016/icon.png) -178px -68px no-repeat;
}
.con-bd-t ol li.Breadcrumbs-item{
    width: auto;
    text-align: center;
    line-height: 24px;
}
.con-bd-t ol li .Breadcrumbs-label{
    display: block;
    color: #b5b5b5;
}
.con-bd-t ol li .Breadcrumbs-link{
    display: block;
    font-size: 20px;
    color: #313131;
}
/* 覆盖样式 */

.row-fluid .span9 {
    width: 74.46808510638297%;
}
.row-fluid .span3 {
    width: 23.404255319148934%;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color:#313131;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}



































