@charset "utf-8";
/* CSS Document */

.navStep{
    text-align:center;
    margin:20px 0 35px;
}
.navStep p{
    display:inline;
    margin:-2px;
    position:relative;
}
.navStep p span{
    position:absolute;
    display:block;
    bottom:-22px;
    left:-34px;
    width:80px;
    text-align:center;
}
.navStep p.step{
}
.navStep p.step b{
    width:13px;
    height:13px;
    display:inline-block;
    background:url(../images/coins/coins.png) no-repeat -208px -181px;
    vertical-align: -4px;
}
.navStep p.step b.on{
    background-position:-258px -181px;
}
.navStep p.line{
}
.navStep p.line b{
    width:160px;
    display:inline-block;
    height:2px;
    background:#969696;
    vertical-align: 1px;
}
.navStep p.line b.on{
    background:#3fb88c;
}
.ie7 .navStep p{
    margin:-2px;
}
.title{
    background: #3fb88c;
}
.title dd{
    float:left;
    text-align:center;
    font-size:14px;
    line-height:2.4;
    color:#fff;
}

.prod  dl{
    border:1px solid #dfdfdf;
    background:#fff;
    margin-bottom:6px;
}
.prod  dl  dd{
    float:left;
    height:80px;
}
.prod .shop-tit{
	margin:20px 0 15px 0;
	color:#000;
}
.prod .shop-tit .icon-store{
	background: url(../images/2016/icon.png) no-repeat -390px -552px;
	width:19px;
	height:17px;
	display:inline-block;
	vertical-align:-3px;
	margin-right:5px;
}
.prod .shop-tit b.ok {
    background: url(../images/coins/coins.png) no-repeat -299px -178px;
}
.prod .shop-tit b.coin {
    width: 18px;
    height: 18px;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    line-height: 18px;
    display: inline-block;
    margin: -2px 5px 0 25px;
    vertical-align: middle;
}
.prod .shop-tit .self-sale{
	width:32px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
	font-size:13px;
}

dd.b{
    width:80px;
}
dd.b b.coin{
    width:18px;
    height:18px;
    border:1px solid #b5b5b5;
    border-radius:3px;
    line-height:18px;
    display:block;
    margin:40% 0 0 25px;
    vertical-align:middle;
}
dd.b b.ok{
    background:url(../images/coins/coins.png) no-repeat -299px -178px;
}

.prod  dl.options dd{
    height:60px;
    font-size:14px;
    line-height:60px;
}
.prod  dl.options dd.b{
    line-height:60px;
}
.prod  dl.options dd.b b.coin{
    margin:2px 3px 5px 25px;
    display:inline-block;
}
.prod  dl.options dd.delAll span{
    padding-left:15px;
    line-height:60px;
    font-size:14px;
    display:inline-block;
    cursor:pointer;
}
.prod  dl.options dd.delAll span:hover{
    color:#3fb88b;
}
.prod  dl.options dd.allMoney{
    margin-left: 768px;
    width: 146px;
}
.prod  dl.options dd.allMoney span{
    font-size:20px;
    color:#e5383c;
}
.prod  dl.options dd.allMoney i{
    font-style:normal;
    color:#969696;
}
.prod  dl.options dd.order{
    width:118px;
}
.prod  dl.options dd.order button{
    display:block;
    background:#f2901d;
    color:#fff;
    line-height:2.5;
    font-size:14px;
    width:80%;
    margin:12px auto 0 auto;
    text-align:center;
    border-radius:5px;
    text-decoration:none;
    border:0;
    cursor:pointer;
}



dd.prodInfo{
    width:300px;
}
dd.prodInfo img{
    height: 52px;
    margin: 10px 8px 0 0;
    width: 52px;
    float: left;
}
dd.prodInfo p{
    margin:10px 0 0 0;
    font-size:14px;
    line-height:1.6;
    float:left;
    width:240px;
}

dd.color{
    width:160px;
}
dd.color p{
    text-align: center;
    line-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

dd.price{
    width:160px;
}
dd.price p{
    text-align:center;
    line-height:80px;
}

dd.number{
    width:160px;
}
dd.number p{
    margin:28px 0 0 0;
    text-align:center;
}
dd.number b{
    width:20px;
    height:20px;
    border:1px solid #e6e6e6;
    display:inline-block;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    background:url(../images/coins/coins.png) no-repeat;
    margin:0 -2px;
}
dd.number b.plus{
    background-position: -175px -217px;
}
dd.number b.minus{
    background-position: -106px -217px;
}
dd.number b.disabled{
    background-position-y: -237px;
}
dd.number input{
    width:40px;
    margin-top:28px;
    display:inline-block;
    vertical-align:middle;
    border-right:0;
    border-left:0;
    margin:0 -2px;
    border-radius:0;
    padding:0;
    text-align:center;
}
.oldie dd.number input{
    width:40px;
    margin-top:28px;
    display:inline-block;
    vertical-align:middle;
    border-right:0;
    border-left:0;
    margin:0 -2px;
    border-radius:0;
    padding:0;
    text-align:center;
    line-height:20px;
    height:20px;
}

dd.money{
    width:160px;
}
dd.money p{
    text-align:center;
    line-height:80px;
    margin:0;
}

dd.option{
    width:175px;
}
dd.option p{
    text-align:center;
    line-height:80px;
    margin:0;
}
dd.option p span{
    cursor:pointer;
    padding:0 10px;
    line-height:2;
    *margin:22px 0 0 0 ;
    font-size:14px;
    display:inline-block;
}
dd.option p span:hover{
    background:#F2901D;
    color:#fff;
    border-radius:3px;
    padding:0 10px;
}

.prod .kong{
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    padding: 20px 0;
}
.prod .kong a{
    display:inline-block;
    padding:0 10px;
    line-height:2.4;
}

dl.child{
    clear:both;
}
dl.child:last-child dd{
    border-bottom:0;
}
.child dd{
    float:left;
    height:36px;
    padding:0 0 5px 0;
}
.child dd p{
    margin:0;
}

.child dd.no{
    margin-left:104px;
    width:36px;
    height:36px;
}
.child dd.no i{
    width:16px;
    height:16px;
    line-height:16px;
    text-align:center;
    font-size:14px;
    border:1px solid #dfdfdf;
    border-radius:50px;
    display:block;
    font-style:normal;
    vertical-align:middle;
    margin:9px auto 0 auto;
}

.child dd.name{
    border-bottom:1px solid #dfdfdf;
    width:240px;
}
.child dd.name p{
    font-size:14px;
    line-height:35px;
}

.child dd.color{
    border-bottom:1px solid #dfdfdf;
    width:160px;
    text-align:center;
}
.child dd.color select{
    width:80px;
    border-radius:0;
    margin:7px 0 0 0;
    font-size:14px;
    height:26px;
    line-height:26px;
}

.child dd.price{
    border-bottom:1px solid #dfdfdf;
    width:160px;
    text-align:center;
}
.child dd.price p{
    line-height:35px;
}

.child dd.number{
    border-bottom:1px solid #dfdfdf;
    text-align:center;
    width:160px;
}
.child dd.number p{
    margin:9px 0 0 0;
    text-align:center;
}
.child dd.number b{
    width:20px;
    height:20px;
    border:1px solid #e6e6e6;
    display:inline-block;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    background:url(../images/coins/coins.png) no-repeat;
    margin:0 -2px;
}
.child dd.number b.plus{
    background-position: -175px -217px;
}
.child dd.number b.minus{
    background-position: -106px -217px;
}
.child dd.number b.disabled{
    background-position-y: -237px;
}
.child dd.number input{
    width:40px;
    margin-top:28px;
    display:inline-block;
    vertical-align:middle;
    border-right:0;
    border-left:0;
    margin:0 -2px;
    border-radius:0;
    padding:0;
    text-align:center;
}



.child dd.money{
    border-bottom:1px solid #dfdfdf;
    text-align:center;
    width:160px;
}
.child dd.money p{
    line-height:35px;
}

.child dd.option{
    border-bottom:1px solid #dfdfdf;
    text-align:center;
    width:175px;
}
.child dd.option p{
    line-height:35px;
}

.delSome span{
    cursor:pointer;
}
/* 覆盖样式 */
body{
    background:#f5f5f5;
}



