.header{
    border-bottom:2px solid #3fb88c;
    background:#fff;
}
.header .bx{
    width:1200px;
    margin:auto;
    padding:20px 0;
}
.header a{
    display:block;
    float:left;
    width:auto;
    height:72px;
    margin-left:150px;
    padding-right:25px;
    border-right:1px solid #dfdfdf;
}
.header p{
    float:left;
    width:780px;
    padding-left:25px;
    margin:0;
}
.header .ti{
    font-size:18px;
    font-weight:500;
    line-height:2;
}
.header .info{
    font-size:16px;
    line-height:2;
    color:#666;
}

.header a img{
    width:171px;
    height:72px;
}
.list{
    background:#fff;
    padding:20px;
}
.list .region{
    padding-bottom:15px;
}
.list .region .regionTit{
    line-height:40px;
    background:url() repeat-x center;
    border-bottom:1px dashed #969696;
}
.list .region .regionTit p{
    margin:0;
    display:inline-block;
    background:#fff;
    color:#969696;
    font-size:16px;
    line-height:40px;
    text-indent:40px;
}
.list .region dl{
    margin:0;
    padding:5px;
    font-size:14px;
}
.list .region dl dt{
    margin:0;
    padding:0;
    line-height:2.4;
    float:left;
    width:150px;
    text-indent:40px;
}
.list .region dl dd{
    line-height:36px;
    margin:0;
    float:left;
    width:960px;
    line-height:2.4;
}
.list .region dd a{
    color:#002bc9;
    display:inline-block;
    padding:0 20px 0 0;
}

.list .search{
    margin:0 0 10px 0;
}
.list .search dt{
    float:left;
    width:100px;
    font-size:15px;
    margin:0;
    line-height:26px;
    text-align:center;
    line-height:30px;
}
.list .search dd{
    margin:0;
    float:left;
    width:940px;
    line-height:30px;
}
.list .search input{
    font-size:14px;
    float:left;
    width:250px;
    margin:0 15px 0 0;
}


.search ul{
    margin:0;
    padding:10px 0;
    list-style:none;
    display:none;
    position:absolute;
    top:30px;
    left:0;
    width:262px;
    z-index:10;
    border:1px solid #dfdfdf;
    background:#fff;
    border-radius:4px;
    min-height:30px;
}
.search ul li{
    line-height:26px;
    border-bottom:1px dashed #dfdfdf;
    padding-left:15px;
    display:block;
    cursor:pointer;
}
.search ul li.error{
    color:#969696;
    cursor:no-drop;
} 
.search ul li:hover{
    background:#f5f5f5;
}
.search input{
}
.search p.hotCity{
    float:left;
    margin:0;
    line-height:26px;
}
.search p.hotCity a{
    padding:0 5px;
    color:#ff9f00;
}


.footer{
    padding-bottom:20px;
    background:#f5f5f5;
}
.footer a:hover{
    color:#00a242 !important;
}
.footer .row-fluid{
    width:1200px;
    margin:0 auto;
    border-top:1px solid #dfdfdf;
    background-color: #fff;
}
.footer .row-fluid .span7{
}
.footer .row-fluid .span7 h2{
    font-size:16px;
    line-height:2;
    font-weight:normal;
    margin:0;
    padding-left:10px;
    padding-top:25px;
}
.footer .row-fluid .span7 ul{
    margin:0;
    padding:0 15px;
    list-style:none;
}
.footer .row-fluid .span7 ul li.nLi{
    float:left;
    width:16%;
}
.footer .row-fluid .span7 ul li.nLi h3{
    font-size:14px;
    line-height:2;
    font-weight:normal;
    margin:0 0 5px 0;
}
.footer .row-fluid .span7 ul li.nLi ol{
    margin:0;
    padding:0;
    list-style:none;
}
.footer .row-fluid .span7 ul li.nLi ol li{
    line-height:2;
    text-indent:5px;
    font-size:12px;
}
.footer .row-fluid .span7 ul li.nLi ol li a{
    color:#646464;
    text-decoration:none;
}

.footer .row-fluid .span3{
}
.footer .row-fluid .span3 dl{
    padding-top:45px;
    margin:0;
}
.footer .row-fluid .span3 dt{
    width:80px;
    height:80px;
    margin-right:5px;
    background:url(../images/coins/coins.png) no-repeat 5px -235px;
}
.footer .row-fluid .span3 dd{
}
.footer .row-fluid .span3 dd h3{
    margin:0;
    font-size:16px;
    line-height:1.6;
    font-weight:normal;
}
.footer .row-fluid .span3 dd p{
    margin:0;
    line-height:2;
    font-size:13px;
}
.footer .row-fluid .span3 p{
    font-size:13px;
    line-height:2;
}
.footer .row-fluid .span3 span.login{
    border-radius:5px;
    line-height:2;
    width:124px;
    display:inline-block;
    margin:0 5px;
    text-align:center;
    background:#31A3C8;
    color:#fff;
}
.footer .row-fluid .span3 span.login a{
    display:block;
    text-align:center;
    color:#fff !important;
}

.footer .row-fluid .span2{
    padding:25px 0 10px 0;
}
.footer .row-fluid .span2 img{
    width:80%;
    margin:auto;
    display:block;
}
.footer .row-fluid .span2 p{
    text-align:center;
    font-size:13px;
    line-height:2;
    margin:0;
}

.footer .safeInfo{
    padding:10px 0;
    text-align:Center;
}
.footer .safeInfo a{
    display:inline-block;
    border:1px solid #d5d5d5;
}
.footer .safeInfo a img{
    width:auto;
    height:47px;
}
.footer .CR{
    margin-top:15px;
    text-align:center;
    font-size:13px;
}

.bar{
    width:65px;
    position:fixed;
    right:3px;
    bottom:35px;
    z-index:10;
}
.bar .coin{
    width:60px;
    height:60px;
    border-radius:6px;
    margin:0 0 5px 0;
    overflow:hidden;
    cursor:pointer;
}
.bar .scrollUp{
    display:none;
    border:1px solid #dfdfdf;
}
.bar .scrollUp:hover{
    border-color:#777;
}

 