@charset "utf-8";
/* CSS Document */

.navStep{
    text-align:center;
    margin:20px 0 35px;
}
.navStep p{
    display:inline;
    margin:-2px;
    position:relative;
}
.navStep p span{
    position:absolute;
    display:block;
    bottom:-22px;
    left:-34px;
    width:80px;
    text-align:center;
    color:#535353;
}
.navStep p.step b{
    width:13px;
    height:13px;
    display:inline-block;
    background:url(../images/coins/coins.png) no-repeat -208px -181px;
    vertical-align: -4px;
}
.navStep p.step b.on{
    background-position:-258px -181px;
}
.navStep p.line{
}
.navStep p.line b{
    width:160px;
    display:inline-block;
    height:2px;
    background:#969696;
    vertical-align:1px;
}
.navStep p.line b.on{
    background:#3fb88c;
}

.ie8 .navStep p.step b{
}
.ie8 .navStep p.line b{
    vertical-align:2px;
}
.ie7 .navStep p.line b{
    vertical-align:2px;
}
.ie6 .navStep p.line b{
    vertical-align:2px;
}

.title{
    background: #3fb88c;
}
.title p{
    color:#fff;
    line-height:2.5;
    font-size:14px;
    text-indent:20px;
    margin:0;
}

.title dd{
    font-size:14px;
    color:#fff;
}
.title dd{
    float:left;
    text-align:center;
    line-height:2.4;
}

.infos .write-info{
	font-size:16px;
	color:#40bb8c;
	margin:15px 10px;
}
.infos .cont{
    padding:15px 25px;
    border:1px solid #dfdfdf;
    background:#fff;
}
.infos .cont ul{
    border-bottom:1px dashed #dfdfdf;
    padding:10px 15px;
    margin:0 0 5px 0;
    list-style:none;
}
.infos .cont ul:last-child{
    border-bottom:0;
}
.infos .cont p.ti{
    font-size:16px;
    line-height:2;
    margin:0;
	color:#000;
}

.infos .cont p.ti span{
    display:inline-block;
    padding-left:50px;
    font-size:14px;
    line-height:32px;
}
.infos .cont p.ti span label{
    margin:0;
    color:#f00;
}
.infos .cont p.ti span input{
    vertical-align:-2px;
    margin:0 5px;
}
.infos .cont p.ti span b{
    font-weight:normal;
    color:#969696;
}

.prodList{
    margin-top:20px;
}
.prodList p.ti{
    font-size:16px;
    line-height:2;
    margin:10px 25px;
	color:#000;
}
.prodList table{
    width:100%;
    background:#fff;
}
.prodList tr.shop-tit{
	text-align:left;
	padding:0 15px;
	background-color:#f5f5f5;
	border:0 none;
	height:52px;
}
.prodList tr.shop-tit td{
	padding:0 15px;
	color:#000000;
	font-size: 15px;
}
.prodList tr{
    border:1px solid #dfdfdf;
    border-bottom:0 none;
    text-align:center;
    height:90px;
}
.prodList tr td{
    padding:0;
}
.prodList tr p{
    margin:0;
    line-height:inherit;
    text-align:center;
}
.prodList .prodInfo{
    width:520px;
}
.prodList .prodInfo img{
    height:60px;
    width:auto;
    float:left;
    margin-left:25px;
}
.prodList .prodInfo p{
    padding:15px 13px 0;
    font-size:14px;
    line-height:1.6;
    float:left;
    width:280px;
    text-align:left;
}
.prodList .color{
    width:170px;
}
.prodList .number{
    width:170px;
}
.prodList .money{
    width:170px;
}
.prodList .price{
    width:170px;
}

.prodList .option{
    width:200px;
    line-height:40px;
	border-bottom:1px solid #dfdfdf;
}
.prodList .option .remarks{
    text-align:left;
}
.prodList .option .remarks p{
    margin:0;
    line-height:inherit;
    padding:0 25px;
}
.prodList .option .remarks input{
    width:400px;
    margin:0 0 0 10px;
    vertical-align:0;
}
.prodList .option .balance{
}
.prodList .option .balance p,
.remarks .gets p{
    margin:0;
    line-height:inherit;
    padding:0 25px;
	text-align:right;
}
.shop-tit .icon-store{
	background: url(../images/2016/icon.png) no-repeat -390px -552px;
	width:19px;
	height:17px;
	display:inline-block;
	vertical-align:-3px;
	margin-right:5px;
}
.remarks .gets p{
	text-align:left;
}
.prodList .option .balance p span,
.remarks .gets p span{
    font-weight:bold;
    font-size:18px;
    color:#f60;
    padding:0 3px 0 0;
	width: 82px;
    display: inline-block;
}
.remarks .gets p span{
	width:auto;
}

.self-sale{
	width:32px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
	font-size:13px;
}
.userInfo li{
    line-height:32px;
}
.userInfo li label{
    display:inline-block;
    margin:0;
    width:750px;
    cursor:pointer;
}
.userInfo li input{
    vertical-align: -2px;
    cursor:pointer;
}
.userInfo li span{
    padding:0 8px;
    line-height:inherit;
    font-size:14px;
}
.userInfo li span b{
    font-weight:normal;
}
.userInfo li button{
    display:inline-block;
    background:none;
    border:0;
    float:right;
    margin-left:10px;
    color:#e33939;
    font-size:14px;
}
.userInfo li button.delete{
    margin-right:25px;
}
.userInfo li span.is_default{
    font-size:14px;
    color:#3fb88d;
    display:none;
    cursor:pointer;
}
.userInfo li a{
    display:none;
    line-height:inherit;
    color:#f60;
    padding:0 10px;
}
.userInfo li a:hover{
    color:#f60;
}
.userInfo li:hover a{
    display:inline-block;
}
.userInfo li.newAdds a.fr{
    display:block;
    margin-right:30px;
    line-height:28px;
    padding:0 10px;
}

.settlement{
    text-align:right;
    margin-bottom:10px;
    padding:0 20px;
}
.settlement p{
    margin:0 0 0 10px;
    line-height:inherit;
    display:inline-block;
}
.integrals{
    text-align:right;
    line-height:30px;
	padding-right: 25px;
}
.integrals a{
    margin:0;
    display:inline-block;
    line-height:inherit;
    color:#3fbb8c;
    padding:0 5px;
}
.integrals p{
	margin: 0 0 0 10px;
	padding:0!important;
    line-height: inherit;
    display: inline-block;
}
.integrals p span{
    margin:0;
    display:inline-block;
    line-height:inherit;
    color:#3fbb8c;
    font-size:16px;
    padding:0 5px 0 0;
}
.integrals p input{
    margin:0 10px 0 0;
    vertical-align:0;
    width:100px;
    text-align:center;
}
.integrals label{
    margin:0;
    display:inline-block;
    line-height:inherit;
}
.integrals label input{
    vertical-align:-2px;
    margin:0;
    line-height:inherit;
}
.integrals label span{
    display:inline-block;
    line-height:inherit;
}

.settlement .settlemented{
    line-height:40px;
}
.settlement .settlemented p span{
    margin:0;
    display:inline-block;
    line-height:inherit;
    color:#f00;
    font-size:16px;
}
.settlement .settlemented p:last-child span{
    font-size:28px;
	margin-top:15px;
}
.settlement .settlemented p i{
    font-style:normal;
    color:#999;
}
.settlement .settlemented .gets{
    font-size:12px;
    color:#888;
}



.settlement .gets p{
    color:#888;
}
.settlement .gets span{
    padding:0 3px;
    font-size:13px;
    color:#444;
}

.options dd{
    float:right;
    line-height:36px;
    padding:0 0 0 10px;
    margin:8px 0 15px 0;
}
.options dd span{
    font-size:14px;
    color:#e43a3d;
    line-height:36px;
    display:inline-block;
    vertical-align:baseline;
    padding:0 3px;
    height:36px;
}
.options dd i{
    font-style:normal;
    line-height:36px;
    color:#969696;
    display:inline-block;
    vertical-align:bottom;
}
.options dd.allMoney span{
    font-size:18px;
    line-height:34px;
}
.options dd.order button{
    width:180px;
    color:#fff;
    margin:auto;
    border:0;
    border-radius:5px;
    line-height:46px;
    background:#ff7e00;
    padding:0;
    vertical-align:top;
    cursor:pointer;
	font-size:18px;
}


.postCom li{
    float:left;
    margin-right:10px;
}
.postCom li label{
    margin:0;
    line-height:28px;
    cursor:pointer;
}
.postCom li label b{
    color:#898989;
    font-weight:normal;
}
.postCom li input{
    vertical-align:-2px;
}
.postCom li span{
    padding:0 5px;
    line-height:2;
    font-size:14px;
}
.postCom p{
    margin:0;
    font-size:14px;
    line-height:2;
    color:#f60;
    padding:0 0 0 10px;
}

.citys .span2{
    width:87px !important;
    display:inline-block;
}
/* 覆盖样式 */
body{
    background:#f5f5f5;
}



