.cont{padding:0 35px 30px 35px;font-size:14px/26px;min-height:500px;}

.cont h1{text-align:center;font-size:22px;line-height:40px;color:#535353;}
.cont p{}
.cont p img{max-width:100%;margin:auto;}
.cont table{}
.cont table p{margin:0;line-height:1.6;}

.cont .from{margin:0;}
.cont .from dt{margin:0 20px 0 0;float:left;font-weight:normal;font-size:14px;width:80px;text-align:right;}
.cont .from dd{margin:0;float:left;font-weight:normal;font-size:14px;text-align:left;width:800px;}

.cont .otherInfo{text-align:center;border-top:1px dashed #dfdfdf;}
.cont .otherInfo p{color:#888;line-height:30px;padding:0 10px;display:inline-block;}
.cont .otherInfo p span{padding:0 5px;}

/* 翻页 */
.pages{padding:15px 40px;}
.pages p{margin:0;color:#969696;line-height:2;}
.pages p span{color:#333;} 
.pages p a{color:#1ea1f2;}

.cont .title{height:40px;overflow:visible;border-bottom:2px solid #777;margin-bottom:25px;}
.cont .title p{display:inlin-block;text-align:center;text-indent:0;width:150px;line-height:40px;border-bottom:2px solid #3fb88c;font-size:16px;margin:0;font-weight:bold;}

.cont .ready dl{margin:0 0 15px 0;line-height:30px;padding-left:40px;font-size:14px;}
.cont .ready dt{margin:0 0 5px 0;}
.cont .ready dd{margin:0;color:#898989;}
.cont .ready dd ul{margin:10px 0 0 40px;}
.cont .ready dd li{line-height:26px;}

.cont .steps table{}
.cont .steps table tr{}
.cont .steps table th{}
.cont .steps table td{vertical-align:top;width:50%;}
.cont .steps table h1{margin:0 0 10px 0;font-size:1.33em;line-height:1.8;}
.cont .steps table h2{margin:0 0 10px 0;font-size:1.2em;line-height:1.8;}
.cont .steps table h3{margin:0 0 10px 0;font-size:1.1em;line-height:1.6;}
.cont .steps table h4{margin:0 0 10px 0;font-size:1em;line-height:1.6;}
.cont .steps table ul{}
.cont .steps table li{}

.cont .steps table p{margin:0 0 10px 0;}
.cont .steps table img{width:90%;*width:410px;height:auto;display:block;margin:auto;}

.recommend{width:902px;margin:auto;overflow:hidden;}
.recommend p.tit{
	border-bottom:1px solid #dcdcdc;
	font-size:16px;
	color:#313131;
	height:32px;
	line-height:32px;
	margin:28px 0 15px 0;
}
.recommend li{
	float:left;
	margin-left:30px;
}
.recommend li:first-child{
	margin-left:0;
}
.recommend p{
	margin:5px 0;
}
.recommend p.storename{
	overflow:hidden;
	height:22px;
	width:156px;
}
.recommend p.address{
	width:156px;
	color:#898989;
}
.recommend p.repair{
	width:156px;
	color:#898989;
	font-size:12px;
	word-break:break-all;
}
.recommend p img{
	margin:0;
}
.recommend p.bigpic img{
	width:156px;
}
.recommend p.levelpic img{
	width:12px;
	display:inline-block;
}

.bespoke{
	height:42px;
	width:100px;
	line-height:42px;
	text-align:center;
	border:1px solid #ff9c00;
	border-radius:5px;
	margin:0 10px;
	display: inline-block;
}
.bespoke a{
	display:block;
	color:#ff9c00;
	font-size:16px;
}
.bespoke a:hover{
	background:#ff9c00;
	color:#fff;
}














