/* 用户选择类型页面 */
.bdCont{
    background:#fff;
    border:1px solid #dfdfdf;
    padding:25px 35px;
}
.bdCont .applyStep{
    padding:15px 0;
	border-bottom: 1px solid #dcdcdc;
}
.bdCont .applyStep ul{
    margin:0;
    padding:0;
    list-style:none;
}
.bdCont .applyStep li{
    width:20%;
    float:left;
    text-align:center;
    font-size:14px;
    line-height:2.4;
    border-radius:5px;
    margin:0 2%;
}
.bdCont .applyStep li.on{
    background:#3fb88c;
    color:#fff;
}
.select{
	padding-top: 15px;
}
.select .recruit a{
	display: block;
}
.select .recruit .join-head{
	text-align: center;
	margin-bottom: 40px;
}
.select .recruit .join-head h2{
	font-size: 24px;
	color: #000;
	margin-bottom: 17px;
}
.select .recruit .join-head p{
	width: 114px;
	color: #5a5754;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
}
.select .noshop .join-head  p{
	width: 218px;
}
.select .recruit .join-bg{
	margin-bottom: 90px;
}
.select .recruit .join-btn{
	width: 138px;
	height: 40px;
	border: 1px solid #b5b5b5;
	border-radius: 8px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	color: #000;
	margin:0 auto;
}
.select .recruit .join-btn:hover{
	background-color: #f5f5f5;
}
/* 填写信息页面 */
.bdCont .form{
    padding:20px 0 0 0;
}
.bdCont .form .title{
    margin:0 0 15px 0;
    padding:0 0 0 25px;
}
.bdCont .form .title p{
    font-size:18px;
    margin:0;
    line-height:2.4;
}
.bdCont .form form{
    margin:0 auto;
    padding:0;
    width:1000px;
}
.bdCont .form dl{
    margin:0px;
    padding:0 0 15px 0;
    position: relative;
}
.bdCont .form dt{
    float:left;
    line-height:30px;
    margin:0 20px 0 0;
    width:150px;
    text-align:right;
    font-size:14px;
    font-weight:normal;
}
.bdCont .form dt i{
    color:#f00;
    padding:0 5px;
    line-height:30px;
    font-size:14px;
    font-style:normal;
}
.bdCont .form dd{
    float:left;
    line-height:30px;
    margin:0;
}
.bdCont .form dd.formItem{
    width:480px;
    height: auto;
}
.bdCont .form dd.formItemIDcart{
    width:auto;
    height: auto;
}

.bdCont .form dd.formItem .imgicon{
    width:36px;
    height:26px;
    float:left;
}
.bdCont .form dd.formItem .smsicon{
    width:36px;
    height:26px;
    float:left;
}
.bdCont .form dd.formItem  .succcess{
    width:36px;
    background:url(../images/coins/coins.png) no-repeat -495px -292px;
}
.bdCont .form dd.formItem  .error{
    width:36px;
    background:url(../images/coins/coins.png) no-repeat -475px -238px;
}

.bdCont .form dd.formTips{
    width:390px;
    color:#f60;
    font-size:13px;
    line-height:30px;
    margin-left:650px;
    position: absolute;
    *margin-left:10px;
}
.bdCont .form dd input{
    margin:0 5px 0 0;
    display:block;
    float:left;
}
.bdCont .form dd select{
    margin:0 5px 0 0;
    display:block;
    float:left;
}
.bdCont .form dd textarea{
    margin:0;
}
.bdCont .form dd label{
    display:inline-block;
    padding-right:10px;
}
.bdCont .form dd label input{
    vertical-align:-2px;
    margin-top:8px;
}
.bdCont .form dd label a{
    color:#0088cc;
}
.bdCont .form dd span{
    padding:0 2px;
    display:block;
    float:left;
}
.bdCont .form dd span.Tips{
    margin:-10px 0 0 118px;
    font-size: 12px;
    color: #535353;
}
.bdCont .form dd button{
    border:0;
    border-radius:4px;
    line-height:30px;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    background:#3fb88c;
    width:120px;
    text-align:center;
    display:block;
    float:left;
	cursor: pointer;
}
.bdCont .form dd input.item{
    width:120px;
    margin-right:5px;
}
.bdCont .form dd select.item{
    width:180px;
    margin-right:5px;
}

.bdCont .form dd .img{
    width:inherit;
    margin-bottom:10px;
}
.bdCont .form dd .img .ImgFile{
    border:1px solid #dfdfdf;
    border-radius:4px;
    padding:0 0 0 6px;
    cursor:pointer;
    float:left;
}
.bdCont .form dd .img:last-child{
    margin-bottom:0;
}
.bdCont .form dd .img .ImgFile span{
    display:inline-block;
    border-radius:4px;
    line-height:30px;
    padding:0;
}
.bdCont .form dd .img .ImgFile span.filename{
    float:left;
    color:#888;
    width:210px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bdCont .form dd .img .ImgFile span.action{
    float:right;
    color:#fff;
    background:#3fbb8c;
    padding:0 15px;
}
.bdCont .form dd .img img{
    display:none;
    height:60px;
    width:60px;
    float:left;
}
.bdCont .form dd.formItemIDcart .img img{
    display:none;
    width: 244px;
    height: 140px;
    float: none;
}


.bdCont .form dd .imgs{
    float:left;
    margin:0 5px 0 0;
    position:relative;
    border:1px solid #dfdfdf;
    border-radius:6px;
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    height:200px;
    width:200px;
}
.bdCont .form dd .imgs img{
    width:100%;
    height:auto;
    display:block;
    text-align:center;
    border:0;
}
.bdCont .form dd .verify{
    height:30px;
    width:auto;
    vertical-align:top;
}

.bdCont .form dd button.getMap{
    background:#ff9f00;
    width:auto;
    padding:0 15px;
}

.bdCont .form .uploadify{
    position:absolute;
    width:50px;
}
.bdCont .form .uploadify .uploadify-button {
    border-radius:6px;
    font-size:14px;
    background:#3fb88c;
}
.bdCont .form .uploadify .uploadify-button span{
    display:block;
    text-align:center;
    color:#fff;
    float:none;
}

.bigbox{
    display: none;
    left:50%;
    margin-left:-350px;
    top:50%;
    margin-top:-250px;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0px;
    bottom: 32px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    border: 1px solid #37bc9b;
    font-size: 14px;
    z-index:1;
}
.bigbox p.PS img{
    width:14px;
    margin:0 5px;
}


#servers{
    display:none;
}
#servers .hd{
    border-bottom:2px solid #dfdfdf;
    height:40px;
    line-height:40px;
}
#servers .hd h3{
    font-size:20px;
    margin:0;
    text-align:center;
    line-height:40px;
}
#servers .bd{
    padding:0px 25px;
    margin:15px 0;
    height:524px;
    font-size:14px;
    overflow:auto;
}
#servers .bd h3{
}
#servers .bd ul{
    list-style:none;
}
#servers .bd li{
    line-height:inherit;
}
#servers .bd p{
    text-indent:2em;
}
#servers .bd dl{
    margin:0;
}
#servers .bd dt{
    margin:0 0 5px 0;
}
#servers .bd dd{
    margin:0;
    line-height:1.6;
}


.infos{
    text-align:center;
}
.infos p{
    margin:0;
    font-size:13px;
    padding:10px 0;
    line-height:32px;
}
.infos a{
    display:inline-block;
    padding:0 25px;
    background:#ff9f00;
    color:#fff;
    border-radius:4px;
    line-height:30px;
}
.infos p a{
    background:none;
    padding:0 5px;
    line-height:inherit;
}
.infos p a img{
    vertical-align:-2px;
}
.infos p span{
    padding:0 5px;
    color:#f30;
}
.infos div{
    font-size:20px;
}
.infos div span{
    color:#f60;
    font-weight:bold;
    font-size:24px;
}
.infos .acc{
    padding:15px 0 5px 0;
}
.infos .pasd{
    padding:5px 0 10px 0;
}
/* 上传图片样式 */
.IDcart .Ifile{
	width: 231px;
	height: 138px;
	text-align: center;
	line-height: 138px;
	cursor: pointer;
	color: #313131;
	position: relative;
}
.IDcart .Ifile p{
	width: 231px;
	height: 138px;
	line-height: 138px;
}
.IDcart .Ifile .icon-add{
	width: 16px;
	height: 16px;
	background: url(../images/2016/icon.png) -462px -553px no-repeat;
	display: inline-block;
	vertical-align:-3px;
	margin-right: 5px;
}
.Ifile input {
    position: absolute;
    right: 0;
    top: 0;
	width: 241px;
	height: 138px;
    opacity: 0;
	cursor: pointer;
}
.IDcart{
	width: 244px;
	margin-right: 14px;
}
.IDcart .IDcart-simple{
	text-align: center;
}
.IDcart .IDcart-simple p{
	color: #898989;
	margin:5px 0;
}
.IDcart .IDcart-simple p.pic-simple{
	position: relative;	
}
.IDcart .IDcart-simple p .pic-simple-big{
	position: absolute;
    left: 140px;
    top:0;	
	z-index:2;
	display: none;
}
.IDcart .IDcart-simple p img{
	display: inline-block;
	cursor: pointer;
}
.bdCont .form dd .IDcart .img{
	margin-bottom: 0;
	border: 1px solid #e5e5e5;
	border-radius:4px;
	position: relative;
	height: 140px;
	overflow:hidden;
}
.bdCont .form .formItem .fl{
	float: left;
}

/* 覆盖样式 */
body{
	background:#f5f5f5;
}
h2{
	font-weight:bold;
	color:#535353;
}
p {
    margin: 0 0 10px;
	color:#535353;
	line-height:22px;
}












