.contBx .detail{padding:0 35px;}
.contBx .detail .title{height:48px;margin:0 0 15px 0;}
.contBx .detail .title p{line-height:48px;font-size:18px;text-align:Center;margin:0;border-bottom:1px dashed #d2d2d2;}
.contBx .detail .links{padding:0 0 15px 0;border-bottom:1px solid #d2d2d2;min-height:300px;}
.contBx .detail .links a{float:left;display:block;width:140px;margin:5px;text-align:center;}
.contBx .detail p.frdSwap{font-size:14px;line-height:32px;margin:0;padding:15px 0 15px 40px;}
.contBx .detail p.frdSwap a{color:#f60;}
