.header{
    width:1200px;
    margin:auto;
}
.head{
    background:#f5f5f5;
}
.topNav{
    background:#fafafa;
    border-bottom:1px solid #dfdfdf;
    height:30px;
    line-height:30px;
    font-size:12px;
    color:#646464;
}
.topNav a{
    padding:0 4px;
    display:inline-block;
    text-decoration: none;
    color:#646464;
}
.topNav a.login{
    color:#3fbb8c;
}
.topNav a.reg{
    color:#f90;
}
.topNav a.index{
    padding:0 2px;
    color:#4fc0e8;
}
.topNav a.logout{
    color:#f60;
}
.header .row-fluid{
    z-index:0;
    position:static;
    overflow:visible;
    z-index:999999;
}

.site_menu{
    padding:0 5px;
    margin-bottom:0;
    height:30px;
    line-height:30px;
    position:relative;
}
.site_menu ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:right;
    display:inline-block;
}
.site_menu .atten{
    width:94px;
}
.site_menu .atten span{
    float:left;
    display:block;
    width:30px;
    height:30px;
    line-height:99px;
    overflow:hidden;
    background:url(../images/coins/coins.png) no-repeat;
}
.site_menu .atten span a{
}
.site_menu .atten span.Call400{
    background-position:-98px 6px;
}
.site_menu .atten span.sina{
    background-position:-29px 6px;
}
.site_menu .atten span.weixin{
    background-position:6px 6px;
}
.site_menu .atten img.posA{
    right:0;
    top:30px;
    border:1px solid #3fb88c;
    border-radius:4px;
}

.site_menu ol{
    padding:0;
    margin:0;
    list-style:none;
}
.site_menu .nLi{
    float:right;
    display:inline;
    margin:0;
    width:auto;
    padding:0 10px;
    text-align:center;
}
.site_menu .order_car_num{
    font-size:10px;
    color:#f30;
    padding:0 3px;
}
.site_menu .nLi h3{
    cursor:pointer;
    float:left;
    width:100%;
    font-size:12px;
    font-weight:normal;
    color:#3d3d3d;
    line-height:30px;
    margin:0;
    text-align:center;
}
.site_menu .nLi h3 a{
    display:block;
    font-size:12px;
    padding:0;
}
.site_menu .nLi h3 b.posA{
    line-height:30px;
    padding-right:5px;
    font-size:12px;
    color:#646464;
    right:0;
    top:0;
}
.site_menu .nLi h3.sb{
    background:url("../images/coins/coins.png") no-repeat -230px -194px;
}
.site_menu .nLi h3.sb:hover{
    background:url("../images/coins/coins.png") no-repeat  -130px -194px;
}
.site_menu .order_car{
    background:none !important;
}
.site_menu .nLi:first-child h3{
    background:0;
}
.site_menu .sub{
    display:none;
    width:330px;
    right:0;
    top:30px;
    position:absolute;
    background:#fff;
    line-height:26px;
    padding:10px 5%;
    z-index:99;
    border:1px solid #ccc;
    zoom:1;
    margin:0;
    list-style:none;
}
.site_menu .sub ol{
    margin:0;
    padding:0;
    list-style:none;
}
.site_menu .sub ol li{
    line-height:26px;
} 
.site_menu .sub ol h4{
    line-height:26px;
}
.site_menu .sub p{
    color:#333;
}
.site_menu .sub>li{
    zoom:1;
    float:left;
    width:33%;
    text-align:center;
    line-height:26px;
}
.site_menu .sub>li a{
    display:block;
}
.site_menu .sub li ul{
    margin:0;
    padding:0;
    list-style:none;
}
.site_menu .sub li li{
}
.site_menu .sub li h4{
    color:#333;
    font-size:12px;
    margin:0;
}
.site_menu .sub li.goodsInfo a{
    display:block;
    text-align:center;
    font-size:12px;
    color:#333;
}
.site_menu .sub li.goodsInfo a:hover{
    color:#fff;
    border-radius:4px;
    background:#F30;
}
.site_menu .sub>li.goto{
    width:100% !important;
}
.site_menu .sub>li.goto a{
    width:auto;
}
.site_menu .sub a:hover{
    background:#3fb88c;
    color:#fff;
}

.site_menu .userOrders{
    width:110px;
    left:-24px;
    top:30px;
}
.site_menu .userOrders li{
    float:none;
    width:inherit;
}
.site_menu .userOrders li a{
    display:inline-block;
    line-height:1.8;
}
.site_menu .userOrders li a span{
    color:#f00;
    padding:0 2px;
}

.nav{
    width:1200px;
    margin:auto;
    height:100px;
}
.nav p{
    float:left;
    margin:14px 0;
} 
.nav .span1{
    padding-top:40px;
}
.nav .span1 p.city{
    font-size:13px;
} 
.nav .span1 p.city span{
    max-width:63px;
    padding:0 2px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align:middle;
}
.nav .span1 p{
    margin:0;
}
.nav .span1 p a{
    color:#ff9f00;
    font-size:13px;
}
.nav ul{
    padding:50px 0 0 0;
    margin:0;
    list-style:none;
    width:110%;
}
.nav ul li{
    float:left;
    width:20%;
    text-align:center;
}
.nav ul li a{
    font-size:18px;
    line-height:2.4;
    text-decoration: none;
    color:#555;
    border-radius:6px;
    display:block;
    line-height:1.8;
    width:90%;
    margin:auto;
}
.nav ul li a:hover{
    text-decoration: none;
    background:#3fb88c;
    color:#fff;
}
.nav ul li.on a{
    text-decoration: none;
    background:#3fb88c;
    color:#fff;
}

.nav .searchBox{
    float:right;
    width: 26%;
}
.nav form{
    margin:40px 0 0 0;
    border:2px solid #3fb88c;
}
.nav .searchBox .ulSelect{
    width:100px;
    float:left;
    position:relative;
}
.nav .searchBox .ulSelect .tiName{
    border-right:2px solid #3fb88c;
    line-height:32px;
    height:32px;
}
.nav .searchBox .ulSelect .tiName p{
    line-height:32px;
    margin:0;
    text-indent:10px;
    font-size:14px;
    color:#646464;
    cursor: pointer;
}
.nav .searchBox .ulSelect .tiName .posA{
    cursor:pointer;
    right:0;
    top:0;
    line-height:32px;
    font-size:14px;
    padding-right: 10px;
    margin: 0;
    z-index:3;
}
.nav .searchBox .ulSelect .selects{
    padding:0;
    position: absolute;
    top:34px;
    left:-2px;
    border:2px solid #3fb88c;
    width:98px;
    border-top:0;
    z-index:5;
    background:#f5f5f5;
}
.nav .searchBox .ulSelect .selects li{
    width:100%;
    text-align:center;
    line-height:32px;
    color:#646464;
    cursor: pointer;
}
.nav .searchBox input{
    margin:0;
    border:0;
    box-shadow:none;
    width:305px;
    padding:5px;
    background:none;
}
.nav .searchBox button{
    right:0;
    bottom:2px;
    background:#3fb88c;
    color:#fff;
    line-height:30px;
    border:0;
    padding:0;
    font-size:18px;
    width:67px;
    height:30px;
    margin:0;
}
.ie7 .nav .searchBox button{
    background:url(../images/coins/coins.png) no-repeat -100px -272px #3fb88c;
}
.oldie .nav .searchBox input{
    margin:0;
    border:0;
    box-shadow:none;
    width:305px;
    padding:8px;
    background:none;
}

.content{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
}
.siteUrl{
    margin:0;
    padding:0 0 0 15px;
    height:50px;
    overflow:hidden;
}
.siteUrl dt{
    float: left;
    padding: 0 3px;
    line-height: 55px;
    font-size: 14px;
    font-weight: normal;
}
.siteUrl dd{
    float:left;
    line-height:55px;
    font-size:14px;
    padding:0 5px;
    margin:0;
}
.siteUrl dd:last-child{
	color:#40bb8c;
}
.siteUrl dd:last-child a{
	color:#40bb8c;
}
.siteUrl dd.kinds{
    padding-top:8px;
}
.siteUrl dd .title{
    border:1px solid #dbdbdb;
    width:100px;
}
.siteUrl dd .title b{
    background:url(../images/coins/coins.png) no-repeat -455px -197px;
    display:block;
    width:19px;
    height:19px;
    right:0;
    bottom:0;
}
.siteUrl dd .title b.on{
    background:url(../images/coins/coins.png) no-repeat -385px -197px;
}
.siteUrl dd .title p{
    margin:0;
    font-size:14px;
    line-height:1.8;
    text-indent:5px;
}
.siteUrl dd ul{
    margin:0;
    padding:0;
    list-style:none;
    width:100px;
    padding: 0;
    background:#fff;
    top:31px;
    right:6px;
    display:none;
    z-index:10;
    border:1px solid #dfdfdf;
}
.siteUrl dd ul li{
    border-bottom:1px dashed #dfdfdf;
    padding:0 5px;
}
.siteUrl dd ul li:last-child{
    border-bottom:0;
}
.siteUrl dd ul li a{
    font-size:14px;
    line-height:2.2;
    display:block;
    padding-left:10px;
}

.pageLink{
    text-align:center;
    padding:25px 0 20px 0;
    background:#fff;
    margin:0;
}
.pageLink ul{
    margin:0;
    padding:0;
    list-style:none;
}
.pageLink ul:before,.pageLink ul:after{
    display: table;
    line-height: 0;
    content: "";
    clear:both;
}
.pageLink ul li{
    display:inline-block;
}
.pageLink ul li.active a{
    border-color:#f60;
    color:#f60;
    font-size:14px;
    line-height:28px;
}
.pageLink a{
    display:inline-block;
    border:1px solid #d8d8d8;
    border-radius:5px;
    padding:0 15px;
    line-height:2.4;
    font-size:14px;
    background:#fff;
    margin:0 3px;
}

.classifyBar{
    margin:0 14px;
    border-bottom:1px dashed #dfdfdf;
    padding-bottom:10px;
}
.classifyBar > dl{
    padding:15px 0 10px 0;
    margin:0;
    font-size:13px;
}
.classifyBar > dl dt{
    margin:0;
    line-height:30px;
    font-weight:normal;
    float:left;
    width:60px;
    text-align:center;
}
.classifyBar > dl dd{
    margin:0;
    line-height:30px;
    float:left;
    width:1030px;
}
.classifyBar > dl dd a{
    display:block;
    text-align:center;
    border:1px solid #fff;
    float:left;
    line-height:28px;
    margin:0 0 5px 0;
    padding:0 15px;
}
.classifyBar > dl dd a.on{
    border-color:#3fbb8c;
    color:#3fbb8c;
    background: url(../images/coins/selected.png) no-repeat right bottom;
}
.classifyBar > dl span.more{
    display:none;
    right:10px;
    top:0px;
    border:1px solid #dfdfdf;
    width:60px;
    text-indent:10px;
    line-height:28px;
    background:url(../images/coins/catsArrows.png) no-repeat -58px 10px;
    cursor:pointer;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
}
.classifyBar > dl span.more:hover{
    border-color:#3fbb8c;
    color:#3fbb8c;
    background-position:-58px -26px;
}
.classifyBar > dl span.on{
    background-position:37px 10px;
}
.classifyBar > dl span.on:hover{
    background-position:37px -26px;
}

.prodModels{
    max-height:30px;
    overflow:hidden;
}
.prodModels a{
}

.topCats{
    margin:0;
    padding:15px 15px 0 10px;
    border-bottom:1px solid #dfdfdf;
}
.topCats a{
    display:block;
    float:left;
    width:160px;
    color:#565656;
    text-align:center;
    line-height:48px;
    font-size:15px;
    border-top:1px solid #dfdfdf;
}
.topCats a:first-child{
    border-left:1px solid #dfdfdf;
}
.topCats a:last-child{
    border-right:1px solid #dfdfdf;
}
.topCats a.on{
    background:#3fbb8c;
    color:#fff;
    border-color:#3fbb8c;
}

#user{
    display:none;
}

div.bdsharebuttonbox{
    border:0 !important;
    margin:15px 0 0 0 !important;
    padding:10px 0 0 20px !important;
}
div.bdsharebuttonbox a{
    display:inline-block !important;
    width:auto !important;
    margin:6px 6px 6px 0 !important;
}

#siteNotice{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:#fff;
    height:0;
    overflow:hidden;
    border-bottom:1px solid #dfdfdf;
    z-index:999999;
}
#siteNotice .title{
    border-bottom:1px solid #dfdfdf;
}
#siteNotice .title p{
    font-size:16px;
    line-height:36px;
    margin:0;
    width:1200px;
    margin:auto;
    padding:0 15px;
}
#siteNotice .noticeCont{
    width:1200px;
    margin:auto;
}
#siteNotice .noticeCont dl{
    margin:0;
    padding:10px 0;
}
#siteNotice .noticeCont dt{
    line-height:30px;
    color:#f60;
}
#siteNotice .noticeCont dd{
    margin:0;
    line-height:28px;
}
#siteNotice .noticeCont dd .date{
    color:#f60;
}
.bar img{
    vertical-align: -2px;
}
.header-btm ul li.search{
    margin-top: -9px;
}