/* 
* @Author: Marte
* @Date:   2016-05-05 15:46:31
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-21 17:34:43
*/
.con .slt{
	margin-top:10px;
}
.con .sltPhoneNews{
	margin-top:45px;
}
.con .detial input{
	height:20px;
	width:300px;
	margin-right:10px;
}
.con .detial button{
	line-height:28px;
}
.con .slt select{
	margin:0 10px 10px 0;
	width:135px;
	cursor:pointer;
}
.con .sltPhoneNews select{
	margin:0 6px 10px 0;
}
.con .slt span{
	display:inline-block;
	vertical-align:4px;
}
.con .slt em.tip{
	display:inline-block;
	color:#ff4444;
	text-indent:1em;
}
.con .detial span{
	vertical-align:-1px;
}
.store_lst{
	width:793px;
    overflow:hidden;
    margin-bottom: 15px;
}
.con h2 {
    font-size: 16px;
	padding-bottom:10px;
    color: #535353;
	margin:30px 0 15px 0;
    height: 32px;
	line-height:32px;
	border-bottom:1px solid #dcdcdc;
}
.store_lst span.tip{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #40bb8c;
    margin-top: 15px;
}
.store_lst .lst_num{
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 12px;
    margin-top: 5px;
}
.store_lst .lst_top{
    font-size: 16px;
    color: #313131;
}
.store_lst .lst_top em a{
    color: #313131;
}
.store_lst .lst_top em a:hover{
    text-decoration: underline;
}
.store_lst  .lst_top i{ 
    display: inline-block;
    vertical-align: 1px;
    width: 22px;
    height: 22px;
    color: #ff7b7b;
    border-radius: 50%;
    border: 1px solid #ff7b7b;
    text-align: center;
    line-height: 22px;
    margin-right: 7px;
}
.store_lst .lst_top b.distance{ 
    font-size: 14px;
    color: #b5b5b5;
    float: right;
    font-weight: normal;
}
.store_lst .lst_bd{
    margin-top:18px;
}
.store_lst .lst_bd .pic{
    float: left;
}
.store_lst .lst_bd .art{
    line-height: 28px;
    margin-left: 20px;
}
.store_lst .lst_bd .art{
    float: left;
} 
.store_lst .lst_bd .art .article{
    color: #707070;
}
.store_lst .lst_bd .lst_btn{
    float: right;
	margin-top:10px;
} 
.store_lst .lst_bd .lst_btn span{
    display:block;
	padding:6px 20px;
	background:#ff9600;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
}
.fill div{
	margin-top:15px;
}
.fill div input{
	width:300px;
	height:20px;
}
.fill div.input_radio input{
	width:auto;
	height:auto;
	vertical-align:middle;
	margin:0 5px 0 0;
}
.fill label{
	cursor:pointer;
}
.fill div.input_radio #godoor, .fill div.input_radio #official{
	margin:0 5px 0 20px;
}
.fill button.lst_btn{
	display:none;
}
.con .fill span{
	vertical-align:-1px;
}


















