.im{width: 100%;}
.im img{margin:50px auto 5px auto;display:block;}
.im p{text-align:center;font-size:20px;margin:0;line-height:3.6;background:url(../images/coins/jumpLine.png) no-repeat center bottom;}
.ti{width:60%;margin: auto;padding:15px 0 0 0;}
.ti h4{font-size:18px; line-height:2;margin:0 0 10px 0;}
.ti p{font-size:12px; line-height:2; text-indent:2em;margin:0 0 10px 0;}
.ti p a{color:#00b4ff;padding:0 3px;text-indent:0em;}
#wait{padding:0 2px;color:#e71f19;}
.container{
    margin: 0 auto;
    width: 960px;
    padding:0 10px;
    box-sizing: border-box;
}
@media screen and (min-width:960px) and (max-width:1000px){
   .wrap{ width:960px;} 
}

@media screen and (min-width:640px) and (max-width:959px){
    .wrap{width:100%;}
}

@media screen and (min-width:320px) and (max-width:639px){
     {background: none;}
    .wrap{width:100%;}
             html {
        background: #fff;
        -webkit-text-size-adjust: none;
        -webkit-appearance:none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }
    body{
        min-width: 320px;
        max-width: 640px;
        width: 100%;
        font-family:Helvetica,sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}