.bdCont .list{min-height:600px;}

.bdCont .list dl{margin:0 0 15px 0;padding:0 35px 15px 35px;border-bottom:1px dashed #dfdfdf;}

.bdCont .list dl dt{width:230px;height:130px;margin:0 10px 0 0;padding:5px;border:1px solid #d9d9d9;}
.bdCont .list dl dt:hover{border:1px solid #999;}
.bdCont .list dl dt a{display:block;width:230px;height:130px;overflow:hidden;}
.bdCont .list dl dt img{width:100%;height:auto;}
.bdCont .list dl dd{width:640px;height:140px;overflow:hidden;margin:0;}
.bdCont .list dl dd p{margin:0;width:100%;}
.bdCont .list dl dd .ti{font-weight:bold;line-height:2;}
.bdCont .list dl dd .ti a{font-weight:bold;font-size:16px;display:inline-block;float:left;}
.bdCont .list dl dd .ti span{color:#969696;float:right;}

.bdCont .list dl dd .detail{font-size:14px;color:#707070;line-height:1.6;}
.bdCont .list dl dd .detail p{float:left;max-height:140px;overflow:hidden;line-height:inherit;}
.bdCont .list dl dd .detail a{float:right;background:#3fb88c;color:#fff;padding: 0 5px;border-radius:3px;line-height:inherit;}

.bdCont .page{text-align:center;padding:15px 0;}
.bdCont .page a{padding:0 15px;margin:0 3px;font-size:14px; display:inline-block; line-height:2;border:1px solid #dfdfdf;border-radius:3px;}
.bdCont .page a.active{background:#f5f5f5;}
 
 .bdCont .list dl dd.explain{width:100%;} 
 
 dl .fl{
    float: left;
 }