.bdCont{
    position:relative;
}
a{
    color:#444;
}
.listNavBar{
    float:left;
    width:220px;
    margin-right:5px;
}
.navBar{
    background:#fff;
    border:1px solid #dfdfdf;
    padding-bottom:15px;
    margin-bottom:10px;
}
.navBar .title{
    padding:15px 15px 10px 15px;
}
.navBar .title p{
    font-size:16px;
    margin:0;
    border-bottom:1px solid #dfdfdf;
    padding-left:15px;
    line-height:2;
}
.navBar dl{
    margin:0;
} 
.navBar dl dt{
    margin:0;
    padding-left:30px;
    font-size:14px;
    line-height:32px;
    cursor:pointer;
    font-weight:normal;
}
.navBar dl.on dt{
    background:#3fb88c;
    color:#fff;
}
.navBar dl dt a{
    display:block;
    color:#444;
}
.navBar dl.on dt a{
    color:#fff;
}
.navBar dl dt em{
    background:url(../images/coins/coins.png) no-repeat 0px -179px;
    float:right;
    *float:none;
    display:block;
    *display:inline-block;
    width:12px;
    height:12px;
    margin:10px 10px 0 0;
    *margin:10px 0 0 10px;
}
.navBar dl.on dt em{
    background-position:0 -167px;
}
.navBar dl dd{
    margin:0;
    display:none;
    padding:5px 0 5px 30px;
}
.navBar dl dd p{
    margin:0;
    border-left:2px solid #dfdfdf;
    text-indent:15px;
    font-size:14px;
    line-height:28px;
}
.navBar dl dd p i{
    width:12px;
    height:12px;
    display:block;
    left:-7px;
    top:8px;
    border-radius:10px;
}
.navBar dl dd p a{
    display:block;
}
.navBar dl dd p.on{
}
.navBar dl dd p.on i{
    background:url(../images/coins/coins.png) no-repeat 0 -152px;
}

.listNav ul{
    list-style:none;
    margin:0;
    cursor:pointer;
}
.listNav li{
    line-height:30px;
    font-size:14px;
}
.listNav h3{
    font-weight:normal;
    font-size:14px;
    margin:0;
    line-height:30px;
    text-indent:15px;
	position:relative;
}
.listNav h3 i{
    position:absolute;
	top:5px;
	right:5px;
    line-height:30px;
    width:30px;
    font-style:normal;
    font-size:14px;
    height:30px;
    overflow:hidden;
    text-align:center;
    text-indent:0;
    color:#666;
}
.listNav .catList{
    padding:0;
}
.listNav .level1{
}
.listNav .level2{
    padding-left:30px;
    display:none;
}
.listNav .level3{
    padding-left:15px;
    display:none;
}
.listNav li a{
    display:block;
    border-left:2px solid #dfdfdf;
    text-indent:15px;
    font-size:14px;
    line-height:28px;
}
.listNav .level3 li i{
    left:-6px;
    top:7px;
    width:8px;
    height:8px;
    border-radius:50%;
}
.listNav .level3 li.on i{
    border:3px solid #fff;
    background:#3fb88c;
}
.listNav .level1 > li > h3{
    background:#3fb88c;
    color:#fff;
}
.listNav .level2 > li.on > h3 i{
}

.newsList{
    padding:0 15px;
}
.newsList ul{
    margin:0;
    list-style:none;
}
.newsList ul li{
    border-bottom:1px dashed #dfdfdf;
    line-height:30px;
    padding-left:15px;
    background:url(../images/coins/coins.png) no-repeat -670px 5px;
}
.newsList ul li:hover{
    border-bottom:1px dashed #3fb88c;
}
.newsList ul li a{
    display:block;
    line-height:30px;
    font-size:14px;
    width:173px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#444;
}
.newsList ul li:hover a{
    color:#3fb88c;
}

.wendaList{
    padding:0 15px;
}
.wendaList ul{
    margin:0;
    list-style:none;
}
.wendaList ul li{
    border-bottom:1px dashed #dfdfdf;
    line-height:30px;
    padding-left:15px;
    background:url(../images/coins/coins.png) no-repeat -670px 5px;
}
.wendaList ul li:hover{
    border-bottom:1px dashed #3fb88c;
}
.wendaList ul li a{
    display:block;
    line-height:30px;
    font-size:14px;
    width:173px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.wendaList ul li:hover a{
    color:#3fb88c;
}

.advs{
    padding:0;
}
.advs .hd{
    z-index:10;
    bottom:5px;
    right:5px;
}
.advs .hd ul{
    margin:0;
    padding:0;
    list-style:none;
}
.advs .hd ul li{
    border:1px solid #dfdfdf;
    background:#fff;
    color:#333;
    border-radius:10px;
    width:14px;
    height:14px;
    line-height:14px;
    text-align:center;
    display:inline-block;
	*display:inline;
    margin:0 2px;
    cursor:default;
    padding:0;
}
.advs .hd ul li.on{
    border-color:#3fb88c;
    color:#fff;
    background:#3fb88c;
}

.advs .bd{
}
.advs .bd ul{
    margin:0;
    padding:0;
    list-style:none;
}
.advs .bd ul li{
    border:0;
    padding:0;
}
.advs .bd ul li a{
    display:block;
    width:100%;
}
.advs .bd ul li a img{
    display:block;
    width:100%;
    height:auto;
}

.bdCont .contBx{
    background:#fff;
    width:970px;
    padding:25px 0 35px 0;
    float:left;
    border:1px solid #dfdfdf;
}


.content .topadv a{
    display: block;
    float: left;
	margin-right:18px;
}
/* 覆盖样式 */
body{
    background:#f5f5f5;
}
h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
p {
    margin: 0 0 10px;
    color:#444;
    line-height:22px;
}
div.bdsharebuttonbox {
    border: 0 !important;
    margin: 15px 0 0 0 !important;
    padding: 10px 0 0 20px !important;
}
strong{
    font-weight:bold;
}




