
.zoomWrapper{
}

.zoomIn{
  cursor:url("../images/coins/zoomin.png"), -moz-zoom-in ;
}

.zoomOut{
  cursor: url("../images/coins/zoomout.png"), -moz-zoom-in ;
}

.move{
  cursor: url("../images/coins/cursor-hand.png"), -moz-zoom-in !important;
}

.grab{
  cursor: url("../images/coins/cursor-grab.png"), -moz-zoom-in !important;
}

#loader{
  background: url("../images/coins/load.gif") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

img.zoomify{
  cursor:url("../images/coins/zoomin.png"), -moz-zoom-in;
}

.zoomControls{
  position:absolute;
  bottom:10px;
  right:10px;
  background: rgba(0,0,0,0.1);
  padding: 5px 5px 0 5px ;
  text-align: center;
  border-radius: 8px;
  margin-top: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.zoomInControl{
  display: inline-block;
  width: 30px;
  height: 25px;
  background:   url("../images/coins/zoomin.png") no-repeat center center;
  cursor: pointer;
  opacity: .5;
  border-right: 1px solid #666;
}

.zoomOutControl{
  display: inline-block;
  width: 30px;
  height: 25px;
  background:  url("../images/coins/zoomout.png") no-repeat center center;
  cursor: pointer;
  opacity: .5;
}

.zoomCloseControl{
  display: inline-block;
  position: fixed;
  top:20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: .5;
  background: #000;
  padding: 10px 0 10px 0;
  text-align: center;
  border-radius: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 110000;
}

.zoomCloseControl:after{
  content: "close";
  color:white;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed","Open sans","Helvetica Neue", Arial, san-serif;
}

.zoomOutControl:hover,
.zoomInControl:hover,
.zoomCloseControl:hover {
  opacity: 1;
}

.zoomOutControl.disabled, .zoomInControl.disabled {
  opacity:0 !important;
}

#zoomScreenOver{
  background: rgba(0,0,0,.5);
  z-index: 100000 !important;
}

#zoomScreenOver img{
  max-width: none !important;
  max-height: none !important;
}

#zoomScreen{
  /*width: 700px;
  height: 700px;*/
  background: #FFF;
  border: 3px solid green;

  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

}

#zoomScreen.isTouch{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border: 0px solid white;
}
