#newAddsCont{
	width:600px;
}
.tits{border-bottom:2px solid #dfdfdf;}
.tits p{font-size:16px; line-height:2; text-indent:1em;margin:0;}
#newAddsCont table {
	width: 400px;
	margin: 5% auto;
}
#newAddsCont tr {
	line-height: 40px;
}
#newAddsCont td {
	text-align: left;
}
#newAddsCont td.tit {
	width: 105px;
	text-align: right;
}
#newAddsCont td i {
	font-style: normal;
	color: #e4393c;
	padding: 0 3px;
	line-height: 34px;
}
#newAddsCont td span {
	font-size: 14px;
	line-height: 2.4;
	display: inline-block;
}
#newAddsCont td input{margin-bottom:0;}
#newAddsCont td input.isDefault {
	vertical-align: -2px;
}
#newAddsCont td input.must {
	border: 1px solid #b4b4b4;
	padding: 6px;
	width: 250px;
}
#newAddsCont td select {
	width: 85px;
	padding: 4px;
	border-radius: 0;
	color: #555;
	margin-right:1px;
	margin-bottom:0;
}
#newAddsCont td .update {
	width: 80px;
	margin-right: 5px;
	line-height: 2.4;
	font-size: 14px;
	display: inline-block;
	background: #3fb88c;
	color: #fff;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}
#newAddsCont td .off {
	width: 80px;
	display: inline-block;
	line-height: 2.4;
	font-size: 14px;
	border: 0;
	background: #fff;
	color: #646464;
	cursor: pointer;
}
#newAddsCont td .off:hover {
	background: #ff7e00;
	color: #fff;
	border-radius: 5px;
	border: 0;
}