/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.bd-t{
	margin-bottom:20px;
}
.tab-container-inner {
    height: 46px;
    border-bottom: 1px solid #cccccc;
}
.tabWrap ul li:first-child {
    margin-left: 6px;
}
.tabWrap ul li.current {
    border-color: #535353;
    border-bottom-color: #fff;
}
.tabWrap ul li {
    float: left;
    height: 41px;
    line-height: 41px;
    border: 1px solid #b5b5b5;
    margin: 4px 15px 0 0;
    border-bottom-color: #fff;
}
.tabWrap ul li.current a {
    color: #535353;
}
.tabWrap ul li a {
    color: #898989;
    padding: 0 16px;
    display: block;
    height: 100%;
}

.bd-b .ul_tit{
    margin-top: 10px;
    height: 48px;
    background-color: #eee;
    border: 1px solid #dcdcdc;
}
.bd-b .ul_tit li{
    float: left;
    text-align: center;
    line-height: 48px;
	color:#000;
}
/* 订单列表 */
.bd-b .ul_bd .null{
	border:0 none;
	text-align:center;
	color:#535353;
	margin:20px 0;
}
.bd-b .ul_bd{
  margin-top: 10px;
}
.bd-b .ul_bd li{
  border: 1px solid #dcdcdc;
  margin-bottom: 13px;
}
.bd-b .ul_bd li.null{
	border:0 none;
	text-align:center;
}
.bd-b .ul_bd .list_tit,
.bd-b .ul_bd .list_btn{
   height: 42px;
   padding: 0 16px;
   color: #535353;
   background-color: #e8f3ef;
   line-height: 42px;
}
.bd-b .ul_bd .list_tit img{
	vertical-align:-6px;
}
.bd-b .ul_bd .list_tit time{
   margin-right: 10px;
   font-weight:bold;
}
.bd-b .ul_bd .list_tit .order-num{
   margin:0 136px 0 20px;
}
.bd-b .ul_bd .list_tit .order-statu a{
	color:#ff9600;
}
/* 店铺名 */
.shop-name{
	height:45px;
	line-height:45px;
	background-color:#f4f4f4;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	padding:0 10px;
}
.shop-name h4{
	float:left;
}
.shop-name .contact-btn{
	float:right;
	font-size:12px;
}
.shop-name h4 .icon-store {
    background: url(../images/2016/icon.png) no-repeat -390px -552px;
    width: 19px;
    height: 17px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 5px;
}
.shop-name .contact-btn .icon-QQ {
    background: url(../images/2016/icon.png) -362px -552px;
    display: inline-block;
    width: 14px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.shop-name .contact-btn .icon-office{
	background: url(../images/2016/icon.png) -418px -556px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -5px;
    margin-right: 3px;
}
.shop-name h4 .self-sale {
    width: 32px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
}
/* 定义三个宽度 */
.bigW{
	width:282px;
}
.bigM{
	width:164px;
}
.bigS{
	width:130px;
}
/* 订单详情 */
.list-detial .list-item{
	float:left;
	border-right:1px solid #f5f5f5;
}
.list-detial .list-item .three .user-service{
  display: block;
  line-height: 22px;
  color: #535353;
}
.list-detial .list-item .three .user-service a.customer{
  color: #40bb8c;
  font-size:12px;
}
.list-detial .list-item .three .user-service a.extracts{
  color: #ff4444;
  font-size:12px;
}
.list-detial .btn-group{
	float:left;
	text-align:center;
}
.list-detial .btn-group .ui-button{
	padding: 0;
    width: 102px;
    height: 30px;
    line-height: 30px;
    border-color: #c9c9c9;
    background-color: #fff;
    font-size: 12px;
    color: #535353;
	margin-top: 5px;
}
.list-detial .btn-group .signin{
    color: #535353;
	margin-top: 22px;
	display:inline-block;
}
.list-detial .phpic{
  float:left;
  width:270px;
  padding-left:12px;
}
.list-detial .phpic .iphone{
  float:left;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
.list-detial .list_bd{
  padding: 10px 0;
  line-height:52px;
}
.list-detial .list_bd .phpic_id{
  float:left;
  vertical-align: middle;
  margin-left: 8px;
  width:210px;
  line-height: 22px;
}
.list-detial .list_bd .phpic_id .introduce{
	display:block;
}
.list-detial .list_bd .phpic_id .color{
	display:block;
	color:#b5b5b5;
}
.ul_bd span.two,
.ul_bd span.three,
.ul_bd span.four,
.ul_bd span.five{
  float:left;
  text-align: center;
}
.ul_bd span.two{
  color: #535353;
}
.ul_bd span.two strong{
  display: block;
  font-size: 12px;
  color: #898989;
}
.ul_bd span.three{
  vertical-align: 1px;
  line-height:22px;
  padding-top: 13px;
}
.ul_bd span.five{
  vertical-align: 1px;
}

.pageLink ul li.active a{
	line-height:2.4;
}
.ul_bd .list_tit .delete {
    width: 14px;
    cursor: pointer;
    height: 100%;
    background: url(../images/2016/icon.png) -457px 14px no-repeat;
    display: inline-block;
    float: right;
}
/* 订单结算 */
.countMoney{
	padding:0 16px 0;
	border-top:1px solid #f5f5f5;
	line-height:52px;
}
.countMoney .allprice{
	float:left;
}
.countMoney .btns{
	float:right;
}
.countMoney .allprice .shipping-price{
	color:#898989;
}
.countMoney .allprice .realyPay{
	color:#000;
}
.countMoney .allprice .realyPay .price-num{
	color:#ff4444;
	font-size:22px;
}
.countMoney .allprice .realyPay .price-num em{
	font-size:14px;
}
.countMoney  .btns a{
	display: inline-block;
    width: 106px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    margin: 0 11px;
}
.countMoney .pay{
	background-color:#ff9600;
}
.countMoney .eva{
	background-color:#40bb8c;
}






