/* 订单状态 */
.order-statu{
	margin-bottom:28px;
}
.order-statu h2{
	margin-top:20px;
	font-size:26px;
	color:#ff4444;
}
.order-statu p{
	color:#898989;
	line-height:24px;
}
.item h2{
	font-size:16px;
	color:#000;
	padding:15px 0;
	font-weight:bold;
}
.orderDetail h2{
	font-size:16px;
	color:#000;
	padding:15px 0;
	font-weight:bold;
}
/* 用户信息&故障信息 */
.orderDetail .item{
	border:1px solid #e5e5e5;
	padding:0 17px 24px;
}
.orderDetail .item h3{
	color:#000000;
	padding:16px 0;
	font-weight:bold;
}
.orderDetail .item .orderDetail-item{
	border-bottom: 1px solid #eeeeee;
	padding:0 0 25px;
}
.orderDetail .item .orderDetail-item .news-tit,
.new-fault-news .news-tit,
.official-news .news-tit{
	color:#313131;
}
.orderDetail .item .orderDetail-item .news-content,
.new-fault-news .news-content,
.official-news .news-content{
	color:#898989;
}
.fault-news,
.new-fault-news-content,
.official-news .official-news-content{
	padding:23px 28px 13px;
	background-color:#e4f5ee;
	border:1px solid #eeeeee;
}
.fault-news{
	margin-bottom:28px;
}
.fault-news .rope .news-tit{
	color:#313131;
}
.fault-news .rope .news-content{
	color:#898989;
	line-height:22px;
}
.fault-news .rope,
.order-detial-news .rope,
.new-fault-news-content .rope,
.official-news-content .rope{
	margin-bottom:10px;
}
/* 维修师报价信息 */
.master-news{
	padding:16px 0;
}
.master-news .master-news-tit ul li{
	color:#000;
	text-align:center;
}
.master-news ul li.first{
	text-indent:72px;
	text-align:left;
}
.master-news-con .common ul{
	margin-top:15px;
}
.master-news-con ul li{
	line-height:46px;
	text-align:center;
	cursor:pointer;
}
.master-news-con ul li .shop-name{
	width:273px;
}
.master-news-con .common ul li .shop-name{
	width:250px;
}
.master-news-con .common ul li .shop-name .shop-address{
	display:none;
}
.master-news-con .special li .shop-name .shop-address{
	display:block!important;
}
.master-news-con .common .shop-tips .icon-tips{
	width:10px;
	height:14px;
	display:inline-block;
	background:url(../images/2016/icon.png) -274px -54px;
	vertical-align:-2px;
	margin-right:5px;
}
.master-news-con .common .shop-tips{
	color:#a0a0a0;
	font-size:12px;
	text-align:right;
	padding:10px 10px 0;
}
.master-news-con .common ul .first .circle{
	width:10px;
	height:10px;
	border:2px solid #a0a0a0;
	border-radius:50%;
	margin:16px 14px;
	display:block;
}
.master-news-con .special .first .circle{
	display:none!important
}
.master-news-con .first img{
	border:1px solid #eeeeee;
	height:44px;
}
.master-news-con .first p{
	margin-left:10px;
	color:#535353;
	height:46px;
	line-height:46px;
	font-weight:bold;
	text-align:left;
}
.master-news-con .special{
	padding:16px 20px 20px;
	border:1px solid #eeeeee;
	margin-top:10px;
}

.master-news-con .common .checked{
	display:none;
}
.master-news-con .special .checked{
	color:#ff4444;
	margin-bottom:16px;
	text-align:left;
	line-height:24px;
	display:block;
}
.master-news-con  .special li{
	line-height:67px;
}
.master-news-con  .special .circle{
	display:none;
}
.master-news-con  .special .first{
	width:340px;
}
.master-news-con .special .first img{
	height:67px;
}
.master-news-con .special .first p{
	line-height:24px;
	height:auto;
	font-size:16px;
}
.master-news-con .price{
	font-size:18px;
	color:#ff4444;
	font-weight:bold;
}
.master-news-con .price em{
	font-size:14px;
	font-weight:normal;
}
.master-news-con .special .first .shop-address{
	color:#898989;
	line-height:20px;
	font-weight:normal;
	font-size:14px;
}
.master-news-con .special .first .shop-address span{
	color:#000000;
}
/* 物流详细 */
.shipping-news{
	margin-top:45px;
}
.shipping-news .shopping-tit{
	margin-bottom:15px;
}
.shipping-news .hd{
	background-color:#e8f3ef;
	border:1px solid #eee;
	height:48px;
	line-height:48px;
}
.shipping-news .hd li{
	float:left;
	width:120px;
	text-align:center;
	color:#000;
	height:48px;
	line-height:48px;
	cursor:pointer;
}
.shipping-news .hd li.on{
	border-bottom:3px solid #40bb8c;
	margin-top:-1px;
	font-weight:bold;
}
.shipping-news .package-detail-list{
	padding:24px 32px;
	display:none;
}
.shipping-news .package-detail-list.show{
	display:block;
}
.shipping-news .package-detail-list .null{
	text-align:center;
}
.shipping-news .package-detail-list ul li{
	border-left: 1px solid #b8eed9;
    padding-left: 38px;
    position: relative;
	color:#313131;
	line-height:22px;
	padding-top:29px;
}
.shipping-news .package-detail-list ul li:first-child{
	padding-top:0;
}
.shipping-news .package-detail-list ul li:first-child .circle_step{
	top: 0;
}
.shipping-news .package-detail-list ul li .circle_step {
    position: absolute;
    left: -6px;
	background-color:#fff;
    top: 36px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 26px;
    border:1px solid #49be91;
    border-radius: 50%;
}
/* 按钮 */
.btngrops{
	margin-top:30px;
	text-align:center;
	position: relative;
}
.btngrops .ui-button{
	padding:0;
	width:140px;
	margin-left:12px;
	border:0 none;
	height:42px;
	line-height:42px;
}
.btngrops .btn-prin{
	background-color:#a0a0a0;
}
.btngrops .btn-cancel{
	background-color:#40bb8c;
}
.btngrops .btn-payment{
	background-color:#ff9600;
}
/* 收款 */
.btngrops .wx_zfb{
	width: 143px;
    display: inline-block;
    border: 1px solid #eeeeee;
    text-align: center;
    background-color: #fff;
    position: absolute;
    right: 366px;
    bottom: 48px;
    z-index: 99;
	box-shadow:2px 2px 8px rgba(0,0,0,0.2);
	display: none;
}
.btngrops .wx_zfb a{
	display: block;
	border-radius:5px;
	height:59px;
	margin-left:5px;
	line-height:59px;
	margin:0;
}
.btngrops .wx_zfb a i{
	background:url(../images/2016/icon.png) -389px -206px;
	display:inline-block;
	margin-right:2px;
	vertical-align: -4px;
}
.btngrops .wx_zfb a.wx{
	color:#62b900;
	border-bottom: 1px solid #eee;
}
.btngrops .wx_zfb a.wx .wx_icon{
	width:21px;
	height:19px;
	
}
.btngrops .wx_zfb a.line .line_icon{
	width:20px;
	height:20px;
	background-position: -390px -276px;
}
.btngrops .wx_zfb a.zfb{
	color:#31a3c8;
}
.btngrops .wx_zfb a.zfb .zfb_icon{
	width:20px;
	height:20px;
	margin-left: 12px;	
	background-position: -390px -242px;
}
/* 公共类 */
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.mr85{
	margin-right:85px;
}
.mr75{
	margin-right:75px;
}
.w30{
	width:360px;
}
.w15{
	width:200px;
}
.w19{
	width:216px;
}
.lh20{
	height:20px;
	line-height:20px;
}













