/* 
* @Author: Marte
* @Date:   2016-12-26 16:48:55
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-24 14:05:49
*/
.order-statu h2{
	margin-top:20px;
	font-size:26px;
	color:#ff4444;
}
.order-statu p{
	color:#898989;
	line-height:24px;
}
.user-news{
	padding:23px 50px 13px;
	background-color:#e8f3ef;
	border:1px solid #eee;
	margin-top:15px;
}
.user-news .mod-left{
	width:540px;
}
.user-news .rope{
	margin-bottom:10px;
}
.user-news .rope .news-tit{
	color:#313131;
}
.user-news .rope .news-content{
	color:#898989;
	line-height:22px;
}
.prodInfo .bought-listform-header {
    text-align: center;
    height: 28px;
    line-height: 28px;
	color:#313131;
	margin: 20px 0;
}
.prodInfo .bought-listform-header dd{
    float: left;
	text-align:center;
}
.header-prod{
    width:373px;
}
.header-color{
    width:200px;
}
.header-price{
    width:200px;
}
.header-number{
    width:150px;
}
.header-money{
    width:268px;
}
.content-package{
	background-color:#e8f3ef;
	height:50px;
	line-height:50px;
	padding:0 10px;
}
.content-package .shop-name{
	color:#000;
	margin-right:15px;
}
.content-package .shipping-news{
	color:#40bb8c;
	position:relative;
}
.content-package .shipping-news .best-new{
	display:inline-block;
	max-width:602px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	vertical-align:middle;
	margin-top:-4px;
}
.content-package .shipping-news .best-new .fwb{
	font-weight:bold;
}
/* 物流详细 */
.content-package .shipping-news .package-detail-list{
	width:420px;
	height:402px;
	padding:24px 32px;
	overflow:auto;
	background-color:#fff;
	border:1px solid #e6e6e6;
	position:absolute;
	right:12px;
	top:43px;
	z-index:11;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
	display:none;
	
}
.content-package .shipping-news .package-detail-list .null{
	text-align:center;
	
}
.content-package .shipping-news .package-detail-list ul li{
	border-left: 1px solid #b8eed9;
    padding-left: 38px;
    position: relative;
	color:#313131;
	line-height:22px;
	padding-top:29px;
}
.content-package .shipping-news .package-detail-list ul li:first-child{
	padding-top:0;
}
.content-package .shipping-news .package-detail-list ul li:first-child .circle_step{
	top: 0;
}
.content-package .shipping-news .package-detail-list ul li .circle_step {
    position: absolute;
    left: -6px;
	background-color:#fff;
    top: 36px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 26px;
    border:1px solid #49be91;
    border-radius: 50%;
}
/* 物流详细 */
.content-package .shipping-news .more-shipping-news{
	color:#b5b5b5;
	cursor:pointer;
}
.content-package .shipping-news .more-shipping-news .icon-arrow{
	width: 13px;
    height: 7px;
    background: url(../images/2016/icon.png) -200px -256px;
    display: inline-block;
	margin-left:5px;
	vertical-align:middle;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.self-sale {
    background-color: #40bb8c;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    margin-left: 4px;
    text-align: center;
    width: 32px;
}
.icon-QQ {
    background: url(../images/2016/icon.png) -362px -552px;
    display: inline-block;
    width: 14px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.icon-office{
	background: url(../images/2016/icon.png) -418px -556px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -5px;
    margin-right: 3px;
}
.icon-store {
    background: url(../images/2016/icon.png) no-repeat -390px -552px;
    width: 19px;
    height: 17px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 5px;
}
.orderDetail .prodInfo .prodInfoDetial{
	margin-bottom:30px;
	border:1px solid #dfdfdf;
}
.settlement{
	text-align:right;
}
.settlement p{
	color:#313131;
}
.settlement p .AlltotalPrice{
	color:#ff4444;
	font-size:24px;
}
.settlement .btngrops{
	margin-top:30px;
}
.settlement .btngrops .ui-button{
	padding:0;
	width:140px;
	margin-left:12px;
	border:0 none;
	height:42px;
	line-height:42px;
}
.settlement .btngrops .btn-cancel{
	background-color:#a0a0a0;
}
.settlement .btngrops .btn-payment{
	background-color:#ff9600;
}

.orderDetail .prodInfo table{
    width: 98%;
    margin-left: 12px;
}
.orderDetail .prodInfo table tr{
    text-align:center;
}
.orderDetail .prodInfo table tr.card-password td{
	text-align:left;
	color:#535353;
	padding:0 0 10px 15px;
}
.orderDetail .prodInfo table tr.card-password span{
	display:inline-block;
	margin:0 5px;
	font-weight:bold;
}
.orderDetail .prodInfo table tr:last-child td{
    text-align:right;
    line-height:24px;
    padding:5px 25px;
}
.orderDetail .prodInfo table tr.last-tr{
	border-top:1px dashed #dadada;
}
.orderDetail .prodInfo table tr .balance p{
	color:#898989;
}
.orderDetail .prodInfo table tr .balance span{
	color:#313131;
	display: inline-block;
    width: 93px;
}
.orderDetail .prodInfo table tr .balance .totalPrice{
	color:#ff4444;
	font-size:18px;
}
.orderDetail .prodInfo table tr.last-tr .masterRemarks{
	text-align:left;
	color:#898989;
	border: 0 none;
}
.orderDetail .prodInfo table tr.last-tr .masterRemarks span{
	color:#313131;
}
.orderDetail .prodInfo table td{
    padding:0;
    text-align:center;
}
.orderDetail .prodInfo table td.money a{
	color:#ff4444;
	display:block;
	font-size:12px;
	margin-top:3px;
}
.orderDetail .prodInfo table .prod .im{
    width:60px;
    height:60px;
    margin:10px;
    float:left;
}
.orderDetail .prodInfo table .prod p{
    float:left;
	padding: 10px 5px;
	text-align:left;
	width: 270px;
}
.orderDetail .prodInfo table .prod .im img{
    width:60PX;
    height:auto;
    display:block;
}
/* 覆盖样式 */
body{
    background:#fff;
}












