/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.success-tip {
	text-align: center;
	margin-bottom: 36px;
	margin-top: 150px;
}
.success-tip .tipimg{
	margin:15px 0;
	display:inline-block;
}
.success-tip p{
	font-size: 24px;
	color: #000;
}
.commen_con{
	text-align:center;
	color: #5c5c5c;
}
.comment_btn{
	display: block;
    width: 86px;
    margin: 20px auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #40bb8c;
    border-radius: 5px;
    color: #fff;
}
.comment_btn:hover{
    color: #fff;
}
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.item{
  border: 1px solid #eee;
  box-shadow: 1px 4px 10px #eee;
  margin-top: 15px;
  padding: 26px 20px;
  margin-bottom: 20px;
}
.pronews{
  width:88px;
  float: left;
}
.pronews .pic{
	text-align:center;
}
.pronews .pic img{
  border: 1px solid #eee;
  display:inline-block;
}
.pronews .pro_bd p{
  color:#313131;
  line-height: 24px;
  margin-top: 2px;
  height: 22px;
  overflow: hidden;
}
.pronews .pro_bd .money{
    color:#ff6262;
    float: left;
    margin-top: 0;
}
.pronews .pro_bd .num{
  float: right;
}

.edis{
  float: left;
  margin-left: 20px;
}
.edis .sacle p{
  margin-right: 35px;
  float: left;
}
.edis .sacle label{
  cursor: pointer;
}
.edis .sacle input{
  margin-right: 2px;
  vertical-align: -2px;
  cursor: pointer;
}
.edis .sacle img{
  width: 20px;
  margin-right: 3px;
  vertical-align: -4px;
}
.edis .key{
  margin-top: 12px;
}
.edis .key textarea{
  height: 85px;
  border: 1px solid #dcdcdc;
  resize: none;
  width: 700px; 
  padding: 5px;
  font:14px "微软雅黑";
}
.submit{
  width: 168px;
  height: 38px;
  margin: 0 auto;
  border-radius: 5px;
  line-height:38px;
  background-color: #40bb8c;
}
.submit a{
  width: 100%;
  height: 100%;
  display: block;
  color:#fff;
  text-align: center;
}
.submit a:hover{
  color:#fff;
}