@charset "utf-8";
/* CSS Document */
.content{
	background-color:#fff;
	padding:18px 16px;
	margin-bottom:20px;
	margin-top: 10px;
}
.tipInfo{
	width:100%;
	margin:0 0 30px 0;
}
.tipInfo p{font-size:14px; line-height:34px;margin:0;}
.tipInfo p.tit{
	font-size:20px;
}
.tipInfo p.payTip{
	color:#898989;
	margin-bottom:15px;
}
.tipInfo p.payMoney{
	float:right;
	margin-top:-20px;
}
.tipInfo .money{color:#e5383c;padding:0 2px;font-size:36px; line-height:34px;}

.title{ background:#3fb88c;}
.title p{color:#fff; font-size:15px; text-indent:2em; line-height:2.4;margin:0;}
 
.payWays{
	border:1px solid #dcdcdc;
}
.payWays .bd{
	padding:20px 15px;
	background-color:#fff;
}
.payWays li.clearfix{
	line-height:60px;
	margin:0 0 5px 0;
	padding:0 22px 0 12px;
	border:1px solid #fff;
	cursor:pointer;
}
.payWays li.clearfix:last-child,
.payWays li.clearfix:first-child{
	height:auto;
}
.payWays li.clearfix .balance_password{
	height:45px;
	line-height:45px;
	display:none;
}
.payWays li.clearfix .balance_password strong{
	margin-right:5px;
}
.payWays li.clearfix .selectCart{
	margin:14px 0 0 6px;
}
.payWays li.clearfix .way{
	color:#313131;
}
.payWays li.clearfix .way i{
	display:inline-block;
	width:24px;
	height:22px;
	vertical-align:-8px;
}
.payWays li.clearfix .way i em{
	display:inline-block;
	width:24px;
	height:22px;
	background:url(../images/2016/icon.png) -424px -317px no-repeat;
}
.payWays li.clearfix .way i.hover em{
	background-position:-424px -377px;
}
.payWays li.clearfix .way i.selected em{
	background-position:-424px -348px;
}
.payWays li.clearfix .way strong{
	color:#a0a0a0;
	margin-left:28px;
}
.payWays li.clearfix .fr{
	display:none;
	color:#313131;
}
.payWays li.clearfix .fr strong{
	color:#ff4444;
	font-size:20px;
}
.payWays li.clearfix span.paybg{
	width:20px;
	height:20px;
	display:inline-block;
	background:url(../images/2016/icon.png) -424px -169px no-repeat;
	vertical-align:middle;
	margin:0 8px 0 0;
 }
 .payWays li.clearfix span.wx_paybg{
	background-position: -420px -205px;
    width: 25px;
 }
 .payWays li.clearfix span.zfb_paybg{
	background-position: -419px -242px;
    width: 25px;
 }
 .payWays li.clearfix span.jd_paybg{
	background-position: -420px -279px;
    width: 24px;
 }
 .used-bank {
    float: left;
    position: relative;
    z-index: 1;
}
 .used-bank .emptyCart{
	 line-height:36px;
	 height:36px;
	 color:#ff4444;
 }
.used-bank dt {
    position: relative;
    cursor: pointer;
    width: 320px;
    height: 30px;
	font-weight:normal;
    border: 1px solid #b0c2e1;
    line-height: 30px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
}
.used-bank .ub-item {
    overflow: hidden;
	height:34px;
	line-height:34px;
	border-bottom:1px dashed #eee;
}
.used-bank .ub-item .bank-logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -2px;
}
.used-bank .ub-item .ub-i-quick,
.used-bank .ub-item .ub-i-wangyin {
    background: #83a4dc;
    color: #fff;
    height: 18px;
    line-height: 18px;
	margin-top:8px;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 2px;
}
.used-bank .ub-item .credit{
	background:#ff7674;
}
.used-bank .ub-item em {
    float: left;
	font-size:12px;
	line-height:35px;
}
.used-bank .ub-item .p-div {
    float: left;
    margin: 0 5px;
}
.paybox .p-div {
    margin: 0 3px;
    color: #ddd;
}
.used-bank .ub-item .ub-i-limit {
    color: #999;
}
.used-bank .ub-item .bank-pre {
    margin-left: 20px;
    color: #ff5d5b;
}
.used-bank dt .ub-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 30px;
    background: url(../images/2016/icon.png) -100px -260px no-repeat #b0c2e1;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
}
.used-bank dd {
    position: absolute;
    z-index: 21;
    left: 0;
    top: -10px;
    background-color: #fff;
    width: 390px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}
.used-bank .ub-list {
    padding: 10px 0 5px;
}
.used-bank .ub-list li:hover {
    background-color: #d8f1ff;
}
.used-bank .ub-list li:hover i em
.used-bank .ub-list li {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 30px;
}
.used-bank .ub-list li.selected i {
    display: block;
}
.used-bank .ub-list li i {
    display: none;
    position: absolute;
    right: 8px;
    top: 12px;
    width: 10px;
    height: 10px;
    background: url(../images/2016/icon.png) -159px -283px no-repeat;
}
.bank-new,
.bank-return{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #b1c3e0;
    border-radius: 2px;
    color: #8598b6;
    margin-left: 10px;
}
.bank-new .bn-icon {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-right: 6px;
    float: left;
    font-family: "microsoft yahei";
    font-size: 20px;
    line-height: 7px;
    margin-left: -1px;
}
.bank-identific {
    margin-bottom: 20px;
    line-height: 32px;
}
.bank-identific .bi-input {
    position: relative;
    width: 310px;
    height: 20px;
    padding: 5px 0 5px 5px;
    line-height: 20px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #ededed inset;
    vertical-align: middle;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
	
}
.bank-identific .bi-input .bi-i-result {
    position: absolute;
    line-height: 20px;
    width: 110px;
    right: 5px;
    top: 5px;
    color: #999;
    text-align: right;
}
.mr10{
	margin-right:10px;
}
.bank-identific .bi-input .bi-i-text {
    height: 14px;
    width: 290px;
    border: 0;
    margin: 0;
}
.security-form-btn{
	text-align: center;
	margin-top: 25px;
}
.security-form-btn .ui-button-XL {
    height: 44px;
    line-height: 42px;
    font-size: 16px;
    width: 180px;
}
/* 添加新卡开始 */
.bw-quick {
    padding-top: 4px;
	line-height:24px;
}
.bw-quick .auth-tips {
    padding-left: 85px;
    padding-bottom: 10px;
    color: #ff5d5b;
}
.ui-form .ui-form-line {
    margin-bottom: 15px;
}
.ui-form .ui-form-label {
    float: left;
    text-align: right;
    width: 75px;
    line-height: 32px;
}
.ui-form .ui-form-group {
    margin-left: 85px;
    line-height: 32px;
}
.ui-form .ui-form-line {
    margin-bottom: 20px;
}
.ml10{
	margin-left:10px;
}
.font-black{
	margin-left:-3px;
	vertical-align:2px;
}
.bw-q-input-auth{
	width:70px;
}
/* 添加新卡结束 */

/* 支付窗口开始 */
#common_verificationModal{
	display:none;
}
#common_verificationModal .hd{
	border-bottom:2px solid #dfdfdf;
}
#common_verificationModal .ui-modal-head {
    overflow: hidden;
    height: 20px;
    padding: 15px 20px;
    background: #4b5b78;
}
#common_verificationModal .ui-modal-head .um-h-title {
    float: left;
    font-family: "microsoft Yahei";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
#common_verificationModal .ui-modal-head .um-h-close {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/2016/elements.png) -2px -92px no-repeat;
    cursor: pointer;
}
.verification-modal {
    width: 440px;
    left: 50%;
    margin-left: -220px;
}
.ui-modal {
    position: absolute;
    left: 50%;
    z-index: 10001;
    border: 8px solid #b1b1b1;
}
.verification-modal .ui-modal-content {
    padding-bottom: 10px;
}
.ui-modal .ui-modal-content {
    padding: 30px;
    background: #fff;
}
.verification-content .vc-amount {
    text-align: center;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    line-height: 26px;
    margin-bottom: 20px;
}
.verification-content .vc-amount .vc-a-phone {
    font-size: 12px;
}
.verification-content .vc-number {
    text-align: center;
    position: relative;
    height: 90px;
}
.verification-content .vc-number a{
	color:#40bb8c;
}
.verification-content .vc-number a:hover{
	color:#ff4444;
}
.verification-content .vc-number.vc-loading {
    background: url(../images/2016/ui-button-XL-loading.gif) center 8px no-repeat;
}
.verification-content .vc-number .vc-n-grid {
    vertical-align: top;
    height: 48px;
    font-size: 0;
    display: inline-block;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #ededed inset;
}
.verification-content .vc-number .vc-n-grid .grid-item {
    vertical-align: top;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.verification-content .vc-number .vc-n-input {
    position: absolute;
    border: 0;
    background: 0 0;
    top: 0;
    left: 50%;
    margin-left: -130px;
    width: 295px;
    height: 48px;
    line-height: 51px;
    font-size: 30px;
    letter-spacing: 32px;
	padding:0!important;
}
.verification-content .vc-number .vc-n-block {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 150px;
    width: 48px;
    height: 48px;
    background: #fff;
}
.verification-content .vc-n-error {
    margin-top: 8px;
    line-height: 20px;
    color: #ff5d5b;
}
.verification-content .vc-operations {
    border-top: 1px solid #c6c6c6;
    padding-top: 10px;
}
.verification-content .vc-operations .disable {
    cursor: default;
    border-color: #fff;
    background-color: #fff;
}
.verification-content .vc-operations .vc-o-left {
    display: inline-block;
    width: 240px;
    text-align: center;
}
.vc-operations .vc-o-left a.ui-button {
    height: 30px;
    line-height: 30px;
	font-size:14px;
}
.vc-operations .vc-o-left a.ui-button:hover{
	color:#666;
}
.ui-button-gray {
    background: #f1f2f7;
    filter: none;
    box-shadow: none;
    text-shadow: none;
    border-color: #999;
    color: #666;
}
.verification-content .vc-operations .vc-o-right {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #c6c6c6;
}
/* 支付窗口结束 */

/* 银行卡 */
.extra {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 10px;
}
#cardspan-notify-cardNo{
	height:36px;
	line-height:36px;
}
.number {
font-size: 14px;
font-weight: 700;
color: #5e5e5e;
width: 154px;
height: 34px;
line-height: 34px;
float: left;
padding:0!important;
border:0 none!important;
}
#ui-form-group-cardNo{
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    height: 34px;
	display:inline-block;
	width:330px;
	margin-left:10px;
    border-radius: 4px;
}
.bank-info em {
    font-family: simsun;
    font-size: 12px;
    color: #fff;
    padding: 3px 2px 3px 3px;
    font-style: normal;
}
.bank-info .saving {
    background: #5b9fe2;
}
.enty-number-focus .magnifier {
    position: absolute;
    top: -30px;
    left: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #5e5e5e;
    padding: 0 10px;
    background-color: #fafcfe;
    border: 1px solid #8cb5de;
    border-bottom: 1px solid #ecf3f9;
    width: 330px;
    display: block;
}
/* 支持银行 */
.support-bank .support-bank-list {
    border: 1px solid #8cb5de;
    width: 580px;
    position: absolute;
    top: 32px;
    left: -250px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
}
.support-bank .support-bank-list .suport-bank-tab{
    height:400px;
    overflow:auto;
}
.section-tab {
    overflow: hidden;
}
.section-tab .section-tab-title {
    height: 32px;
    line-height: 32px;
    border-bottom: 2px solid #ced4e0;
}
.section-tab .section-tab-title .current {
    border-bottom: 2px solid #ea544a;
}
.section-tab .section-tab-title li {
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
}
.section-tab .section-tab-title .current span {
    color: #ea544a;
}
.section-tab .section-tab-title span {
    padding: 0 20px;
    border-left: 1px solid #ced4e0;
    margin-left: -1px;
    font-size: 12px;
    font-weight: 700;
    color: #474e5d;
}

.support-bank {
    position: relative;
    z-index: 1;
	line-height: 35px;
    height: 35px;
}
.support-bank .support-arrow{
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    top: -7px;
    left: 278px;
    background: url(../images/2016/icon.png) -155px -256px no-repeat;
}
.support-bank .text {
    color: #5b9fe2;
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
}
.support-bank .product {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
}
.support-bank .product-bg {
    background-color: #fafcfe;
}
.support-bank .product .name {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
    font-size: 12px;
    color: #5e5e5e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 覆盖样式 */
body{
	background:#f5f5f5;
}
.font-red{
	color:#ff4444;
	padding-left:12px;
}
#span-red-cartNo{
	top:5px;
	position:relative;
}
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
.box400 {
    width: 400px;
}


