.wrapsp{
	width:1200px;
	margin:0 auto;
}
/*产品展示图*/
.bigleft{
    float: left;
}
.left{
    width: 614px;
	border:1px solid #eee;
}
.left .goods {
    width: 480px;
	overflow:hidden;
	padding:10px;
	height:480px;
	margin:0 auto;
    background: #fff;
    cursor: url("../images/coins/zoomin.png"), -moz-zoom-in;
}
.left .goods img{
	width:100%;
	height:auto;
}
/*产品展示小图*/
.down{
    position: relative;
    height: 76px;
    width: 614px;
    line-height: 76px;
    overflow: hidden;
    margin-top: 11px;
}
.down ul{
    width: 999px;
    height: 63px;
    position: absolute;
    left: 0;
    top: 0;
}
.down ul li{
    width: 60px;
    height: 60px;
    border: 1px solid #eeeeee;
    float: left;
    margin:0 10px;
	cursor:pointer;
}
.down ul li.current{
    border: 1px solid #dcdcdc;
}
.down ul li img{
	width: 60px;
    height: 60px;
}
.down span{
	display:inline-block;
	width: 13px;
    height: 22px;
	position:absolute;
	top:20px;
	left:29px;
    background:url(../images/2016/icon.png) -376px -415px no-repeat;
	cursor: pointer;
	z-index:999;
}
.down .rightarrow{
	left:auto;
	background-position:-398px -415px;
    right: 29px;
}
/*产品基本信息*/
.bigright{
    height:auto;
	width:545px;
    float: left;
	margin-left:24px;
}
.pro_attr h1{
    font-size: 30px;
    line-height:36px;
	color:#414141;
}
.pro_attr .price{
    margin:10px 0;
	height:36px;
	line-height:36px;
}
.pro_attr .price span{
    font-size:30px;
    color:#ff4444;
}
.pro_attr .price .batch{
    font-size:14px;
	margin-left:15px;
    color:#898989;
	font-weight:normal;
}


.pro_attr .price .word{
    font-size:18px;
    color:#757575;
	position:relative;
	top:-3px;
	margin-right:5px;
}
.pro_attr .price span.sellout{
	font-size:24px;
    color:#b5b5b5;
	display:block;
	height:36px;
	line-height:36px;
}
.pro_attr .price em{
    font-size: 18px;
	color:#757575;
}
.pro_attr .price .batch em{
    color:#40bb8c;
	font-size:14px;
	text-indent:1em;
}
.pro_attr .oldscreen{
	margin:15px 0;
}
.pro_attr .oldscreen .change{
    color:#ffa368;
    font-size: 14px;
}
.pro_attr .oldscreen strong{
    color:#464646;
}
.pro_attr .oldscreen a{
    color: #608ce7;
    margin-left:16px;
    font-size: 10px;
}
.pro_attr .attrs{
    margin:0;
}
.pro_attr .attrs li{
    height: 47px;
	color:#313131;
    border: 1px solid #bdbdbd;
    float: left;
    border-radius:2px;
    margin-right:8px;
    line-height:47px;
	width:99px;
	padding:0 8px;
	text-align:center;
    cursor: pointer;
    margin-top: 10px;
	display: table;
	word-break:break-all;
}
.pro_attr .attrs li a{
    display:table-cell;
	text-align: center;
	vertical-align: middle;
}
.pro_attr .attrs li a span{
    display:inline-block;
    width: 100%;
}
.pro_attr .attrs li.current{
    border-color:#40bb8c;
    background:  url(../images/2016/selected.png) right bottom no-repeat;
}
.pro_attr .attrs li:hover{
    border-color:#40bb8c;
}
.pro_attr .Fleft{
	float: left;
    color: #898989;
    position: relative;
    top: 21px;
    text-align: right;
    margin: 0 5px 0 0;
}
.pro_attr .Fright{
	float:left;
	width:502px;
}
.pro_attr .number{
    margin-top: 20px;
}
.pro_attr .number strong{
	color:#898989;
	top:15px;
}
.pro_attr .number select{
    width: 118px;
    height: 49px;
    font-size:14px;
    line-height: 24px;
    border-radius: 0px;
    padding:0;
    vertical-align: middle;
    display: inline-block;
    margin: 0 8px 0 2px;
}
.pro_attr .clicktimes{
    font-size: 14px;
    color: #898989;
    width: auto;
    margin-top: 13px;
}
.pro_attr .clicktimes span{
    color: #ff9b58;
}
.pro_attr .buys{
	margin-top:10px;
}
.pro_attr .buys button{
    float: left;
    width: 143px;
    height: 46px;
    border-radius:5px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
	color:#fff;
}
.pro_attr .buys button a{
	color: #fff;
	display:block;
	font-size:18px;
	color:#fff;
}
.pro_attr .buys .sale{
    background-color: #dcdcdc;
    color:#fff;
    font-size:14px;
    cursor: no-drop !important;
}
.pro_attr .buys .buyer{
    background-color: #ff9c0e;
	margin-left:20px;
}
.pro_attr .buys .join{
    background-color: #40bb8c;
}
.pro_attr .buys button.nostock{
	background-color: #dcdcdc;
	cursor: no-drop !important;
}
.pro_attr .baodou{
    font-size: 14px;
	margin-top:10px;
	color:#898989;
}
.pro_attr .baodou span{
    color: #ff9b58;
}
.pro_attr .servic{
    margin-top:10px;
}
.pro_attr .servic img{
    margin-right: 5px;
}
.pro_attr .servic li{
    float: left;
    margin-right: 20px;
    *margin-right: 30px;
    margin-top: 5px;
    line-height:35px;
}
.pro_attr .servic li:last-child{
    margin-right:0;
}
.pro_attr .servic li.middle{
    float: left;
}
.pro_attr .video {
    margin-top: 13px;
    vertical-align: middle;
}
.pro_attr .video a img {
    margin-right: 7px;
    margin-top: -2px;
    cursor: pointer;
}
/*小导航*/
.proandeva .snav{
	border-bottom:2px solid #40bb8c;
}
.proandeva .snav h3{
	width:143px;
	height:43px;
	border:1px solid #40bb8c;
	text-align:center;
	line-height:43px;
	font-weight:bold;
	font-size:16px;
	position:relative;
	color:#414141;
	float:left;
}
.proandeva .snav em{
	display:inline-block;
	width:0;   
	height:0;   
	border-left:7px solid transparent;   
	border-right:7px solid transparent;   
	border-top:7px solid #40bb8c;
	position:absolute;
	left:50%;
	margin-left:-10px;
	top:46px;
}
.need .snav{
	border-bottom:1px solid #e6e6e6;
	background-color:#f0f0f0;
}
.need .snav h3{
	width:123px;
	height:45px;
	text-align:center;
	line-height:45px;
	color:#3c3c3c;
	font-weight:bold;
	font-size:16px;
	letter-spacing:1px;
	float:left;
}
.need .snav{
	border-bottom:1px solid #e6e6e6;
}
/*需要工具*/
.need{
	margin-top:26px;
	border:1px solid #e6e6e6;
}
.need .tool{
	padding:15px 30px;
	position:relative;
}
.need .tool .toollst{
	float:left;
}
.need .tool .icon{
	width:22px;
	height:22px;
	background:url(../images/2016/icon.png) -456px -417px;
	margin:68px 18px 0 18px;
	display:inline-block;
}
.need .tool .suits ul{
	height:100%;
	overflow:hidden;
}
.need .tool .suits ul>li{
	width:410px;
}
.need .tool .suits{
	width:824px;
	height:130px;
	overflow-x:auto;
	overflow-y:hidden;
	float:left;
}
.need .tool .alladd{
	float:left;
	color:#3c3c3c;
	font-size:16px;
	height:130px;
	line-height:130px;
	margin-left:30px;
}
.need .tool .alladd span{
	color:#ff4444;
	font-size:16px;
}
.need .img_Box{
	width:128px;
	height:128px;
	float:left;
}
.need .img_Box img{
	width:128px;
	height:128px;
}
.need .content_Box{
	float:left;
	margin-left:15px;
	margin-top:15px;
}
.need .content_Box a{
	font-size:16px;
	color:#313131;
}
.need .content_Box p{
	color:#676767;
}
.need .content_Box p span{
	font-size:16px;
	color:#eb2626;
}
.need .content_Box button{
	color:#fff;
	background:#ff9c0e;
	width:107px;
	height:34px;
	line-height:32px;
	border-radius:4px;
	font-size:16px;
	cursor:pointer;
	margin-top:10px;
}
.need .content_Box button:hover{
	background-color:#ff9600;
	color:#fff;
}
/* 用户局域 */
.product-area{
	margin-top:15px;
}
.bottom-left-bar {
	float:left;
	width:218px;
}
/* 店铺信息及联系方式 */
.bottom-left-bar .contact-buyer{
	height:97px;
	border:1px solid #40bb8c;
	margin-bottom:22px;
	padding:13px 11px;
}
.bottom-left-bar .contact-buyer h4{
	color:#010101;
	font-size:16px;
	line-height:24px;
}
.bottom-left-bar .contact-buyer .user_phone{
	padding-left:32px;
	margin-top:6px;
}
.bottom-left-bar .contact-buyer a.contact-btn{
	width: 120px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    text-align: center;
    color: #535353;
    line-height: 34px;
    margin: 13px 0 0 32px;
    display: inline-block;
}
.bottom-left-bar .contact-buyer a.contact-btn .icon-QQ{
	background: url(../images/2016/icon.png) -362px -552px;
    display: inline-block;
    width: 14px;
    height: 18px;
    vertical-align: -5px;
    margin-right: 3px;
}
.bottom-left-bar .contact-buyer a.contact-btn .icon-office{
	background: url(../images/2016/icon.png) -418px -556px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -5px;
    margin-right: 3px;
}
.bottom-left-bar .contact-buyer h4 em{
	color:#44bc8e;
	width:22px;
	height:22px;
	display:inline-block;
	line-height:22px;
	margin-right:4px;
	text-align:center;
	border:1px solid #44bc8e;
	border-radius:50%;
	float:left;
}
.bottom-left-bar .contact-buyer h4 strong{
	float:left;
	width:160px;
	font-size:16px;
}
/* 顾客还购买了 */
.bottom-left-bar .buy{
	border:1px solid #e6e6e6;
}
.bottom-left-bar .buy h2{
	font-size:16px;
	color:#414141;
	text-align:center;
	height:44px;
	line-height:44px;
	width:100%;
	background-color:#f0f0f0;
	border-bottom:1px solid #e6e6e6;
}
.bottom-left-bar .buy div ul li{
	margin-top:6px;
	text-align:center;
	padding:0 30px;
	border-bottom:1px solid #e6e6e6;
}
.bottom-left-bar .buy div ul li .img_Box{
	width:161px;
	height:161px;
}
.bottom-left-bar .buy div ul li .img_Box img{
	width:161px;
	height:161px;
}
.bottom-left-bar .buy div ul li a{
	display:block;
}
.bottom-left-bar .buy div ul li a h4{
	color:#414141;
	line-height:22px;
	margin-top: 10px;
}
.bottom-left-bar .buy div ul li p{
    color: #535353;
	margin:5px 0 10px;
}
.bottom-left-bar .buy div ul li span{
    color: #eb2626;
	font-size:18px;
}
.self-sale{
	width:32px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:inline-block;
    color: #fff;
    background-color: #40bb8c;
    margin-left: 4px;
    border-radius: 2px;
	font-size:13px;
}
/* 产品介绍 */
.proandeva {
	float:right;
	width:913px;
}
.proandeva .snav h3{
	border-color:#e6e6e6;
	cursor:pointer;
	color:#898989;
	font-weight:normal;
	margin-left:-1px;
}
.proandeva .snav h3 em{
	display:none;
}
.proandeva .snav h3.current{
	background-color:#f0f0f0;
}
.proandeva .snav h3.current em{
	display:inline-block;
}
/* 产品详情 */
.products .describe-content{
	color:#666;
	margin-top:20px;
	line-height:26px;
}
.products .describe{
	padding: 25px 0 20px 0;
    margin-top: -1px;
    border: 1px solid #cddcdc;
}
.products .describe h4{
	color:#999;
	padding:0 0 20px 42px;
	float:left;
	width:100%;
}
.products .describe .describe_content{
	width: 200px;
    padding-left: 42px;
    float: left;
    margin-bottom: 5px;
	color:#666;
	height:24px;
	line-height:24px;
	overflow:hidden;
}
.products .describe .describe_content dt{
	float:left;
}
.products .describe .describe_content dd{
	float: left;
    overflow: hidden;
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .describe .describe_content dd p{
	line-height:24px;
}
.products .describe .describe_content dd img{
	display:block;
	width:760px;
}
/* 评价 */
.evaluate{
	display:none;
	margin-top:10px;
}
.evaluate .eva_null{
	text-align:center;
	color:#535353;
	margin:30px 0;
}
.evaluate .eva_list li{
	padding:20px 0;
	border-bottom:1px solid #eee;
}
.evaluate .eva_list li .scal_left{
	float: left;
    text-align: center;
    width: 120px;
}
.evaluate .eva_list li .scal_left p{
	border: 1px solid #ff7800;
    border-radius: 5px;
    color: #ff7800;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0;
    width: 59px;
}
.evaluate .eva_list li .scal_left span{
	display:inline-block;
}
.evaluate .eva_list li .scal_left time{
	display:block;
	color:#b5b5b5;
	text-align:center;
	margin-top:5px;
}
.evaluate .eva_list li .scal_left img{
	width:18px;
	height:18px;
}
.evaluate .eva_list li .content_Box{
	float:left;
	color:#313131;
	width:580px;
}
.evaluate .eva_list li .content_Box .content_right{
	padding-left:5px;
}

.evaluate .eva_list li .content_Box .pro_news{
	color:#898989;
	font-size:14px;
	padding-left:5px;
	margin-top:10px;
}
.evaluate .eva_list li .content_Box .pro_news span{
	margin-right:36px;
	display:inline-block;
}
.evaluate .eva_list li .content_Box .reply{
	color:#ff4444;
	padding:10px;
	margin-top:20px;
	background-color:#eeeeee;
}
.evaluate .eva_list li .user_Box{
	float:right;
	text-align:center;
	width:188px;
}
.evaluate .eva_list li .user_Box img{
	width:48px;
	height:48px;
	border:1px solid #eee;
	border-radius:50%;
	float:left;
}
.evaluate .eva_list li .user_Box .right{
	float:left;
	margin: 2px 0 0 5px;
}
.evaluate .eva_list li .user_Box p{
	color:#898989;
	font-size:12px;
	line-height:22px;
	word-break :break-all;
	margin:0;
	text-align:left;
}
.evaluate .eva_list li .user_Box p.username{
	color: #313131;
    font-size: 14px;
    height: 22px;
    white-space: normal;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 售后及物流 */
.server{
	margin:0 auto;
	width:670px;
	padding:45px;
	display:none;
}
.server .guarantee{
	height:36px;
}
.server .guarantee div{
	float:left;
	font-size:18px;
	color:#40bb8c;
	font-weight:bold;
	height:36px;
	line-height:36px;
}
.server .guarantee div .server_icon{
	float:left;
	width:36px;
	height:36px;
	background:url(../images/2016/icon.png) no-repeat -140px -544px ;
	vertical-align:middle;
	margin-right:5px;
}
.server .guarantee .guarantee_two{
	margin-left:96px;
}
.server .guarantee .guarantee_two .server_icon{
	background-position:-188px -544px;
}
.server .dlitem{
	margin-top:40px;
}
.server dl{
	margin:20px 0;
}
.server .dlitem dt{
	font-size:16px;
	color:#40bb8c;
	margin-bottom:6px;
}
.server .dlitem dd{
	color:#535353;
	line-height:26px;
}
.server .shopping dd{
	margin-bottom:30px;
}
.server .server_tip{
	padding:20px 16px;
	background-color:#faf5ed;
	border:1px solid #efb365;
	color:#000;
}
.server .server_tip dt,
.server .server_tip dd{
	line-height:26px;
}
/* 评论数字条 */
.tcdPageCode{
    padding: 60px 20px;
    text-align: center;
    color: #ccc;
}
.tcdPageCode a:hover{
    text-decoration: none;
    color:#40bb8c;
}
.tcdPageCode span.current,
.tcdPageCode span.disabled,
.tcdPageCode a{
    display: inline-block;
    height: 33px;
    line-height: 33px;
	border-radius:5px;
    padding: 0 15px;
    margin: 0 8px;
    color: #f60;
    border: 1px solid #f60;
    vertical-align: middle;
}
.tcdPageCode span.disabled{
    color: #313131;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
	display:none;
}
.tcdPageCode a{
    color: #313131;
    border: 1px solid #ddd;
}
/*加入购物车*/
.flyer-img{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	z-index: 9999;
}
#tip{
	position:fixed;
	top:300px;
	right:35px;
	z-index:10000;
	width:1px;
	height:52px;
	line-height:52px;
	font-size:20px;
	text-align:center;
	color:#fff;
	background:#40bb8c;
	display:none;
}