@charset "utf-8";
/* 覆盖样式 */
body{
	background:#fff;
}
/*分类和banner*/
#toparea #cb_classify{
	position:absolute;
	left:0;
	top:0;
	z-index:999;
	background-color:#fff;
}
.pro_main_nav{
	border-bottom:2px solid #848382;
}
.pro_main_nav li.pro_main_nav_li{ 
	float:left;
	font-size:16px;
	height:40px;
	line-height:40px;
	text-align:center;
	width:100px;
}
.pro_main_nav li.all_cli{
	width:237px;
	position:relative;
	z-index:1000;
}
.pro_main_nav li.all_cli.current{
	background-color:#40bb8c;
}
.pro_main_nav li.all_cli.current .pro_main_nav_li_a{
	color:#fff;
}
.pro_main_nav li.pro_main_nav_li .pro_main_nav_li_a{ 
	color:#535353;
	display:block;
	font-weight:bold;
}
.pro_main_nav li.pro_main_nav_li .pro_main_nav_li_a:hover{ 
	color:#40bb8c;
}
.pro_main_nav li.all_cli .pro_main_nav_li_a:hover{
	color:#fff;
}
/*分类*/
#cb_classify{
	width:237px;
	box-shadow:2px 2px 8px rgba(0,0,0,0.2);
	margin-right: -1px;
	float:left;
	position:relative;
	z-index:999;
	background-color:#fff;
}
#cb_classify .sort_list li{
	height:106px;
	border-bottom:1px solid #dcdcdc;
}
#cb_classify .sort_list li.border_no{
	border-bottom:0 none;
}
#cb_classify .sort_list li .sort_div{
	display:block;
	height: auto;
    padding: 10px 31px 0 36px;
	position:relative;
	text-align:left;
	transition: padding .15s ease-in-out;
	-webkit-transition: padding .15s ease-in-out;
	-moz-transition: padding .15s ease-in-out;
	cursor:pointer;
}
#cb_classify .sort_list li .sort_div strong{
	display:block;
	font-size:16px;
	color:#535353;
	margin-bottom:5px;
}
#cb_classify .sort_list li .sort_div strong a{
	font-size:16px;
	color:#535353;
}
#cb_classify .sort_list li .sort_div strong a{
	color:#535353;
}
#cb_classify .sort_list li .sort_div strong a:hover{
	color:#40bb8c;
}
#cb_classify .sort_list li .sort_div a{
	font-size: 14px;
    color: #898989;
    display: inline-block;
    width: auto;
    height: 26px;
    margin: 0 6px;
    line-height: 26px;
}
#cb_classify .sort_list li .sort_div a:hover{
	color:#40bb8c;
}
#cb_classify .sort_list li .sort_div em{
	width:8px;
	height:14px;
	position:absolute;
	top:46px;
	right:10px;
	background:url(../images/2016/icon.png) -47px -509px;
}
#cb_classify .sort_list li.current .sort_div{
	background:#f5fcf9;
	padding: 10px 31px 23px 41px;
}
/*悬浮层*/
#cb_classify .JS_popCtn{
	width:956px;
	height:407px;
	position:absolute;
	top:2px;
	left:237px;
	padding:0 10px 18px 30px;
	z-index:999;
	background-color:#fff;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
#cb_classify .JS_popCtn div h2{
	font-size:16px;
	height: 36px;
    line-height: 36px;
    color: #000;
	margin:10px 0;
	padding-left:10px;
	text-align:left;
}
#cb_classify .JS_popCtn .classify_brand{
	width:700px;
	float:left;
}
#cb_classify .JS_popCtn li{
	width:129px;
	height:76px;
	margin:0 10px 10px 0;
	float:left;
}
#cb_classify .JS_popCtn li a{
	width:76px;
	display:block;
	padding:5px;
	text-align: center;
	transition:padding 0.15s ease-in-out;
	-webkit-transition:padding 0.15s ease-in-out;
}
#cb_classify .JS_popCtn li a:hover{
	padding-left:10px;
}
#cb_classify .JS_popCtn li a img{
	height:50px;
}
#cb_classify .JS_popCtn li a span{
	color:#535353;
	display: block;
    line-height: 24px;
	font-size:14px;
}
#cb_classify .adver{
	float:right;
	margin-top:8px;
	width:233px;
}
#cb_classify .adver a{
	display:block;
	margin-top:9px;
}
/* banner */
#slideBox{
    width: 1920px;
    height:428px;
    overflow:hidden;
    position:relative;
    border-bottom:1px solid #ddd;
	float:left;
}
#slideBox .bd{
    position:relative;
    height:100%;
    z-index:0;
}
#slideBox .bd li{
    zoom:1;
    vertical-align:middle;
}
#slideBox .bd img{
    width:100%;
    height:428px;
    display:block;
}
#slideBox .hd{
    height: 15px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -41px;
    bottom: 10px;
    z-index: 1;
}
#slideBox .hd ul{
    overflow:hidden; 
    zoom:1;
    float:left;  
}
#slideBox .hd ul li{
    float: left;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    border: 1px solid #40bb8c;
    cursor: pointer;
    border-radius: 50%;
}
#slideBox .hd ul li.on{
 border-width:2px;
}
#slideBox .prevStop{
	display:none;
}
#slideBox .nextStop{
	display:none;
}
/* 共用样式 */
.common .floor_tit{
	margin:33px 0 5px 0;
}
.common .floor_tit h2{
	font-size:20px;
	color:#898989;
	height:26px;
	font-weight:bold;
	line-height:26px;
	float:left;
}
.common .floor_tit h2 a{
	color:#898989;
}
.common .floor_tit .more{
	float:right;
	margin-right:16px;
	font-size:14px;
}
.common .floor_tit .more a .arrow_icon{
	width: 12px;
    height: 13px;
    display: inline-block;
    background: url(../images/2016/icon.png) -78px -509px;
}
.common .floor_tit .more a{
	color:#000;
	padding-left:20px;
}
.common .floor_tit .more a.more_a{
	color:#b5b5b5;
}
.common .floor_tit .bar_h2{
	display:inline-block;
	margin-right:9px;
	vertical-align:-5px;
	width:4px;
	height:26px;
	background-color:#898989;
}
.common .common_con{
	padding:10px 0 10px 0;
}
.common .common_con .recommend{
	width:231px;
	float:left;
	border:1px solid #eee;
}
.common .common_con .recommend .pic{
	text-align:center;
}
.common .common_con .recommend .pic img{
	width:231px;
}
.common .common_con .figure_hot{
	width:960px;
	margin-top: 1px;
	float:right;
	border:1px solid #e6e6e6;
}
/* 左侧 */
.common .common_con .figure_hot .figure_left{
	float:left;
	width:578px;
}
.common .common_con .figure_hot .figure_left ul li{
	float:left;
	position:relative;
	height: 285.5px;
	cursor:pointer;
}
.common .common_con .figure_hot .figure_left ul li.main{
	width:383px;
}
.common .common_con .figure_hot .figure_left ul li.main img{
	position:absolute;
	left:0;
	bottom:0;
	width:240px;
	height:240px;
}
.common .common_con .figure_hot .figure_left ul li.main .txt{
	padding-left: 184px;
    text-align: center;
	padding-top:20px;
	line-height:26px;
}
.common .common_con .figure_hot .figure_left ul li.main .txt .tit{
	font-size:16px;
	color:#6a6a6a;
	height:26px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.common .common_con .figure_hot .figure_left ul li.main .txt .money{
	font-size:22px;
	color:#fe645a;
}
.common .common_con .figure_hot .figure_left ul li.main .txt .money .sign{
	font-size:16px;
}
.common .common_con .figure_hot .figure_left ul li.upDown{
	width:191px;
}
.common .common_con .figure_hot .figure_left ul li.upDown img{
	width:160px;
	height:160px;
	margin:34px auto;
	display:block;
}
.common .common_con .figure_hot .figure_left ul li.upDown .txt{
	text-align:center;
	line-height:26px;
}
.common .common_con .figure_hot .figure_left ul li.upDown .txt .tit{
	color:#313131;
	height:26px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width: 160px;
    margin: 0 auto;
}
.common .common_con .figure_hot .figure_left ul li.upDown .txt .money{
	font-size:20px;
	color:#ff4444;
}
.common .common_con .figure_hot .figure_left ul li.upDown .txt .money .sign{
	font-size:16px;
}
/* 右侧 */
.common .common_con .figure_hot .figure_right{
	float:left;
	width:378px;
}
.common .common_con .figure_hot .figure_right ul li.leftRight{
	width:379px;
	height:142px;
	cursor:pointer;
}
.common .common_con .figure_hot .figure_right ul li.leftRight img{
	width:120px;
	height:120px;
	float:left;
	padding: 11px 0 0 50px;
}
.common .common_con .figure_hot .figure_right ul li.leftRight .txt{
	float:left;
	width:180px;
	text-align:center;
	line-height:36px;
	padding-top: 30px;
}
.common .common_con .figure_hot .figure_right ul li.leftRight .txt .tit{
	color:#535353;
	max-height:72px;
	overflow:hidden;
	line-height: 26px;
}
.common .common_con .figure_hot .figure_right ul li.leftRight .txt .money{
	font-size:20px;
	color:#ff4444;
}
.common .common_con .figure_hot .figure_right ul li.leftRight .txt .money .sign{
	font-size:16px;
}

.bd_r{
	border-right:1px solid #f5f5f5;
}
.bd_b{
	border-bottom:1px solid #f5f5f5;
}
/* 新品推荐 */
#new_product{
	margin-top:26px;
}
#new_product .recommend_hd ul li{
	float:left;
	height:46px;
	width:146px;
	text-align:center;
	line-height:46px;
	cursor:pointer;
	font-size:16px;
	color:#535353;
}
#new_product ul.new_product_lst{
	display:none;
}
#new_product ul.new_product_lst.current{
	display:block;
}
#new_product .recommend_hd ul li.current{
	border:1px solid #e5e5e5;
	border-bottom-color:#fff;
	border-top-color:#40bb8c;
	border-top-width:3px;
	color:#40bb8c;
	margin-bottom: -1px;
}
#new_product .new_product_lst{
	border:1px solid #e5e5e5;
}
#new_product .new_product_lst li{
	width:178px;
	*width:171px;
	width:171px\9;
	float:left;
	border-left:1px solid #efefef;
	text-align:center;
	padding:0 10px;
	overflow:hidden;
	margin: 10px 0;
}
#new_product .new_product_lst li:nth-child(5n){
	margin-right:0;
}
#new_product .new_product_lst li img{
	width:160px;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	display:inline-block;
}
#new_product .new_product_lst li .pic{
	width:100%;
	overflow:hidden;
}
#new_product .new_product_lst li .pic a{
	display:block;
}
#new_product .new_product_lst li .pic:hover img{
	-webkit-transform:scale(1.2);
       -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
         -o-transform:scale(1.2); 
            transform:scale(1.2);
}
#new_product .new_product_lst li .tit{
	margin:20px 0 0 0;
}
#new_product .new_product_lst li .tit a{
	display:block;
	width:178px;
	color:#898989;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	height:20px;
	font-weight:bold;
}
#new_product .new_product_lst li .tit .price{
	font-size:18px;
	color:#fe645a;
	line-height:26px;
}
/* 广告 */
.pro_sm_banner{
	margin:10px auto 0;
}
/* 内配 */
#Internal h2 .bar_h2{
	background-color:#fbc563;
}
/* 外配 */
#External h2 .bar_h2{
	background-color:#ea4f4f;
}
#External .common_con .recommend .recommend_btm{
	background:#fa9f9f;
}
/* 工具 */
#Tool h2 .bar_h2{
	background-color:#40bb8c;
}
#Tool .common_con .recommend{
	border:1px solid #eee;
}
#Tool .common_con .recommend .recommend_top img{
	border:0 none;
}
#Tool .common_con .recommend .recommend_btm{
	background:#7ad0af;
	height:92px;
	padding:25px 0;
	width:231px;
}
#Tool .common_con .recommend .recommend_btm a{
	width:200px;
	height:43px;
	border:1px solid #fff;
	margin:0 auto;
	color:#fff;
	display:block;
	border-radius:5px;
	line-height:43px;
	text-align:center;
	margin-bottom:12px;
}









