@charset "utf-8";
/*商城头部*/
#pro_header .pro_nav_Box{
	height:37px;
	line-height:37px;
	border-bottom:1px solid #eee;
}
#pro_header .user_operation_ul{
	margin-left:10px;
}
#pro_header .user_operation_ul li.line{
	display:none;
}
#pro_header .user_operation_ul li a{
	color:#40bb8c;
	text-decoration:underline;
	margin:0 5px;
}
#pro_header .user_operation_ul li a.logout_a{
	color:#ff9600;
}
/*头部地址*/
#pro_header .pro_nav_left{
	float:left;
	font-size:12px;
}
#pro_header .pro_nav_left p{
	float:left;
	margin-right:5px;
}
/*头部导航*/
#pro_header .pro_nav_right{
	float:right;
	height:37px;
}
#pro_header li{
	float:left;
	line-height:37px;
}
#pro_header li.line{
    margin: 0 15px;
    color: #dcdcdc;
}
#pro_header li a{
	display:inline-block;
}
#pro_header .nav_ul li a{
	color:#535353;
}
#pro_header .nav_ul{
	float:left;
}
#pro_header .nav_ul li.space{
    margin: 0 10px;
}
/*头部logo*/
#pro_header .pro_btm_Box{
	padding: 14px 0 12px 0;
}
#pro_header .pro_btm_Box .pro_logo{
	width: 177px;
	height: 52px;
	background: url(../images/2016/product/pro-logo.png) 0 0 no-repeat;
	float:left;
	margin-top: 10px;
}
#pro_header .pro_btm_Box .pro_logo a{
	display:block;
	width: 177px;
	height: 52px;
}
/*头部搜索*/
#pro_header .pro_btm_Box .pro_search{
	float:left;
	margin-left:160px;
	display:inline\9;
	position:relative;
}
#pro_header .pro_btm_Box .pro_search_key{
	border:2px solid #40bb8c;
	border-radius:4px;
}
#pro_header .pro_btm_Box .people_search{
	font-size:12px;
	padding:15px 8px 0;
}
#pro_header .pro_btm_Box .people_search a,
#pro_header .pro_btm_Box .people_search span{
	color:#898989;
	float:left;
	margin-right:20px;
}
.btn-select { 
	position: relative; 
	float:left; 
	width: 80px; 
	height: 44px; 
	font: 14px/20px "Microsoft YaHei"; 
	color: #313131; 
	cursor:pointer;
	border-right:1px solid #40bb8c;
} 
.btn-select .cur-select { 
	position: absolute; 
	display: block; 
	width: 80px; 
	height: 44px; 
	line-height: 44px; 
	background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll 56px center transparent;
	text-indent: 10px; 
}  
.btn-select select { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 80px; 
	height: 44px; 
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	font: 14px/20px "Microsoft YaHei"; 
	cursor:pointer;	
} 
.btn-select select option { 
	text-indent: 10px; 
	line-height:26px;
	margin:5px 0;
} 
#pro_header .pro_btm_Box .pro_search .search_input{
	width:448px;
	float:left;
	height:32px;
	line-height:32px;
	border:0 none;
	padding-left:28px;
	color:#000;
}
#pro_header .pro_btm_Box .pro_search .search_btn{
	width:100px;
	height:40px;
	float:left;
	border-radius:0;
	font-size: 18px;
	letter-spacing:1px;
	padding:0;
}
#pro_header .pro_btm_Box .pro_search .search_icon{
    width: 16px;
    height: 16px;
    background: url(../images/2016/icon.png) 0 -526px no-repeat;
    position: absolute;
    top: 13px;
    left: 7px;
}