@charset "utf-8";
body{
	background-color:#fff;
}
.con{
	border-top:1px solid #eeeeee;
}
.siteUrl{
	height:70px;
}
/*商城内容*/
#pro_content .pro_filter{
	width:998px;
	float:right;
}
/*选择分类*/
#pro_content .pro_classify{
	width:192px;
	float:left;
	border:1px solid #ededed;
}
#pro_content .pro_classify .level .levelitem{
	height:49px;
	border-bottom:1px solid #e6e6e6;
	line-height:49px;
	padding:0 15px;
	cursor:pointer;
}
#pro_content .pro_classify .level .tool{
	border:0 none;
}
#pro_content .pro_classify .level .levelitem h3{
	font-size:16px;
	color:#535353;
}
#pro_content .pro_classify .level .levelitem h3 a{
    display: inline-block;
    float: left;
	width:64px;
}
#pro_content .pro_classify .level .levelitem h3 p{
    display: inline-block;
    float: left;
    height: 49px;
    width: 96px;
}
#pro_content .pro_classify .level .levelitem h3 span{
	width:12px;
	height:12px;
	background:url(../images/2016/icon.png) -68px -529px;
	display:inline-block;
	float:right;
	margin-top:18px;
}
#pro_content .pro_classify .level .levelitem.open{
	height:auto;
}
#pro_content .pro_classify .level .levelitem.open h3 span{
	background-position: -46px -534px;
}
#pro_content .pro_classify .level .levelitem.open .level2{
	display:block;
}
#pro_content .pro_classify .level2{
	padding:0 15px;
	display:none;
}
#pro_content .pro_classify .level2 li{
	height:38px;
	line-height:38px;
	font-size:14px;
}
#pro_content .pro_classify .level2 li a{
	color:#898989;
	display:block;
}
#pro_content .pro_classify .level2 li.current a{
	color:#40bb8c;
}

/*选择型号*/
#pro_content .models{
	height:54px;
	border:1px solid #ebebeb;
	background-color:#f2f2f2;
	width:964px;
	padding:35px 16px;
	margin-bottom: 10px;
}
#pro_content .models dt,
#pro_content .models dd{
	float:left;
}
#pro_content .models dt{
	color:#313131;
	height:50px;
	padding-right:30px;
}
#pro_content .models dd{
	padding-right:50px;
	height:36px;
}
#pro_content .models dd a{
	color:#898989;
	display:block;
}
#pro_content .models dd.current a{
	color:#40bb8c;
}
/*排序*/
#pro_content .array{
	text-align:center;
	width:996px;
	border:1px solid #ebebeb;
	margin:0px 0 15px 0;
}
#pro_content .array li{
	float:left;
	height:57px;
	line-height:57px;
	width:120px;
	border-right:1px solid #ebebeb;
}
#pro_content .array li.current a{
	color:#40bb8c;
}
#pro_content .array li.price_section{
	width:360px;
	border-right:none;
}
#pro_content .array li.price_section .confirm{
	border-right:none;
	padding:0 10px;
	margin-left:10px;
	background-color:#ff9600;
	border:none;
	height:30px;
}
#pro_content .array li.price i{
	display:inline-block;
	width:10px;
	height:14px;
	background:url(../images/2016/icon.png) -110px -529px;
	position:relative;
	top:3px;
	*top:-1px;
	left:4px;
}
#pro_content .array li.price a:hover i{
	background-position: -96px -529px;
}
#pro_content .array li.price.current.up i{
	background-position: -96px -529px;
}
#pro_content .array li.price.current.down i{
	background-position: -81px -529px;
}
#pro_content .array li a{
	display:block;
}
#pro_content .array li input{
	border-color:#cdcdcd!important;
	width:60px;
	height:20px;
	border-radius:3px;
}
#pro_content .array li input.min{
	margin-left:10px;
	margin-right:5px;
}
#pro_content .array li input.max{
	margin-right:10px;
	margin-left:5px;
}

/*商城列表*/
#pro_content .pro_filter{
	zoom:1;
    margin:0;
    list-style:none;
    min-height:400px;
}
#pro_content .pro_lists li.list_item{
    margin:0px 22px 10px 0;
	margin-right: 8px\9;
    margin-left: 8px\9;
    float:left;
    overflow:hidden;
    text-align:center;
    width:233px;
    box-shadow:0px 0px 0px #f5f5f5;
    transition:all 0.2s ease;
}
#pro_content .pro_lists li.list_item:nth-child(4n){
	margin:0px 0 20px 0;
}
#pro_content .pro_lists li.list_item.on{    
    box-shadow:4px 4px 2px #d5d5d5;
    transition:all 0.5s ease;
}
#pro_content .pro_lists li.list_item .pic{
    text-align:center;
    height:233px;
    overflow:hidden;
    position:relative;
}
#pro_content .pro_lists li.list_item .pic a{
    display:block;
    background:#fff;
    height:inherit;
}
#pro_content .pro_lists li.list_item .pic img{
    width:233px;
    height:inherit;
    display:block;
    margin:1px auto 0 auto;
    transition:all 1s ease;
}
#pro_content .pro_lists li.list_item .pic:hover img{
	border-color:#999;
 	-webkit-transform:scale(1.2);
       -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
         -o-transform:scale(1.2); 
            transform:scale(1.2);
}
#pro_content .pro_lists li.list_item .pic .new,
#pro_content .pro_lists li.list_item .pic .hot{
    width: 63px;
    height: 64px;
    background: url(../images/2016/hot.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
	background-size:cover;
}
#pro_content .pro_lists li.list_item .pic span {
    width: 46px;
    height: 46px;
    display: block;
    font-size: 16px;
    color: #fff;
    transform: rotate(-45deg);
    padding: 11px 0 0 2px;
}
#pro_content .pro_lists li.list_item .pic .shipping {
    width: 46px;
    height: 46px;
    background: url(../images/2016/shipping.png) no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
	background-size:cover;
}
#pro_content .pro_lists li.list_item .pic .shipping span{
	display:none;
}
#pro_content .pro_lists li.list_item .tit{
    line-height:24px;
    padding:0 0 5px 0;
    background:#fff;
    position:relative;
}
#pro_content .pro_lists li.list_item a{
    text-decoration:none;
    display:inline-block;
}
#pro_content .pro_lists li.list_item p{
    margin:0;
    font-size:14px;
    line-height:2;
    text-align:left;
    width:inherit;
}
#pro_content .pro_lists li.list_item .tit p span{
    display: inline-block;
    width:140px;
    float:left;
    line-height:28px;
}
#pro_content .pro_lists li.list_item .prodName{
    font-size:14px;
    padding:5px 0 0 0;
	height:53px;
	overflow:hidden;
    width:inherit;
}
#pro_content .pro_lists li.list_item .prodName a{
    overflow: hidden;
    width:inherit;
    line-height:24px;
    display:block;
	color:#313131;
}
#pro_content .pro_lists li.list_item .info{
    color:#969696;
}
#pro_content .pro_lists li.list_item .nowPrice{
    color:#e4393c;
    font-size:18px;
    line-height:24px;
}
#pro_content .prodsList li.list_item .price{
    color:#969696;
    text-decoration: line-through;
}
#pro_content .pro_lists li.list_item .kcNum{
    color:#969696;
}
#pro_content .pro_lists li.list_item:hover .tit p .buy{
    display:inline-block;
}
#pro_content .pro_lists li.list_item:hover .buy a{
    color:#ff9600;
    text-decoration:none;
}
#pro_content .pro_lists li.list_item p.colors{
    padding:8px 5px 6px 5px;
    text-align:center;
    display:none;
}
#pro_content .pro_lists li.list_item p.colors b.color{
    display:inline-block;
    margin:0 4px;
}
#pro_content .pro_lists li.list_item p.colors b.color:last-child{
    cursor:pointer;
}
#pro_content .pro_lists li.list_item p.colors b.color i{
    display:inline-block;
    width:19px;
    height:19px;
    border-radius:100%;
}

#pro_content .pro_lists .list_item .cb-scroll.scrolled {
	padding-left: 0;
    width: 194px;
	position: relative;
    z-index: 2;
    margin: 10px 0;
}
#pro_content .pro_lists .list_item.p26 .cb-scroll.scrolled {
	padding-left: 32px;
}
#pro_content .pro_lists .list_item .cb-scroll.scrolled .cb-prev,
#pro_content .pro_lists .list_item .cb-scroll.scrolled .cb-next{
	display: block;
	left: 2px;
    top: 6px;
    position: absolute;
    width: 20px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #aaa;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    cursor: pointer;
	display:none;
}
#pro_content .pro_lists .list_item .cb-scroll.scrolled .cb-next {
    left: 205px;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap{
	position: relative;
    overflow: hidden;
    width: 168px;
	height: 40px;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap ul{
	position:absolute;
	width:999px;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap ul li {
    float: left;
    width: 42px;
    height: 37px;
    text-align: left;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap ul li.current a {
    border-color: #40bb8c;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap ul li a {
	cursor:pointer;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 1px;
}
#pro_content .pro_lists .list_item .cb-scroll .cb-wrap ul li a img {
    width: 34px;
    height: 34px;
}

/*分页*/
.pageLink{
    text-align:center;
    padding:25px 0 20px 0;
    background:none !important;
    margin:0 0 0 200px;
}








