/* 
* @Author: Marte
* @Date:   2016-05-05 15:46:31
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-21 17:34:43
*/
.FF {
    border-top: 1px solid #eee;
}
.navbg{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.none{ display:none;}
.con{
    padding-top: 32px;
    position: relative;
}
.con-l .mode-title{
	font-size:14px;
	color:#535353;
	font-weight:bold;
	width: 90px;
	margin-bottom: 10px;
}
.lists {
	margin-top: 18px;
}
.lists .mode-title,
.official .mode-title {
    font-size: 18px;
    width: auto;
}
.official .mode-title{
	margin-bottom: 15px;
	padding-bottom: 10px;
    border-bottom: 1px solid #eee;
	display: block;
}
.lists .mode-title .user-tips{
	font-size: 14px;
	color: #898989;
	font-weight: normal;
	display: block;
	margin-top: 3px;
	padding-bottom: 10px;
}
/** 正在报价 **/
.lists .b-addcode{
	margin-bottom: 26px;
	border-bottom: 1px solid #eee;
}
.lists .b-addcode .loading-offer{
	margin:20px 0 10px 0;
	width: 950px;
}
.lists .b-addcode .offer-introduce p{
	color:#898989;
	margin: 5px 5px 0;
}
.lists .b-addcode .offer-introduce img{
	width: 30px;
}
.lists .b-addcode .offer-introduce p .offer-count{
	font-size: 18px;
	font-weight: bold;
	color:#ff9600;
	margin:0 2px;
}
.lists .b-addcode .cb-code{
	width: 240px;
	text-align: center;
}
.lists .b-addcode .cb-code img{
	width: 77px;
	height: 77px;
}
.lists .b-addcode .cb-code p{
	color:#898989;
	font-size: 12px;
}
.lists .b-addcode .cb-code p .weixin{
	color:#40bb8c;
}
/* 邮寄官方维修 */
.official{
    margin-top: 0px;
    margin-bottom: 120px;
}
.official .cbw-news{
	float:left;
}
.official #officialRecovery{
    width:159px;
	height:36px;
	line-height:36px;
	color:#fff;
	background-color:#40bb8c;
	text-align:center;
	border-radius:3px;
	display:inline-block;
	font-size:16px;
	float: right;
}
.official h3{
	font-size:20px;
	margin-bottom:20px;
}
.official h3 a{
	color:#313131;
}
.official .official-detial{
	width:613PX;
	height:228px;
	background:url(../images/2016/official.jpg);
	padding:30px 24px;
	float:left;
}
.official .empty{
	color:#898989;
	text-align:center;
	font-size: 18px;
	float:none;
	background:none;
}
.official .official-detial .pri{
    color: #535353;
}
.official .official-detial .num{
    color: #ff9600;
    font-size: 24px;
	font-weight: bold;
}
.official .official-detial .num em{
    color: #ff9600;
    font-size: 14px;
}
.official .official-detial .pri-b{
	margin: 18px 0 20px;
}
.official .official-detial .buyat{
    color: #898989;
    font-size: 14px;
}
.official .official-detial .off{
    height: 26px;
    font-size: 16px;
    line-height: 15px;
	color:#313131;
}
.official .official-detial .ifo{
    margin-top: 5px;
    line-height: 33px;
}
.official .official-detial .ifo p{
    color: #535353;
}
.official .official-detial .ifo b{
    margin-left: 13px;
    font-weight: normal;
}
.official .official-detial .ifo p.more a{
    display: block;
    color: #49b579;
}
.official .official-detial .ifo p.more strong{
    float: left;
}
.official .official-detial .ifo p.more span{
    float: left;
    width: 773px;
}
.official .official-detial .ifo p strong{
    color: #b5b5b5;
}
.official .official-detial .off i{
    width: 22px;
    height: 22px;
    background:  url(../images/2016/icon.png) -183px -141px no-repeat;
    display: inline-block;
    vertical-align: -4px;
    margin: 0 7px 0 0;
}
.official .official-mod .official-remark{
    color:#8d8d8d;
	font-size: 14px;
	position: relative;
	float:left;
	padding-left:15px;
	margin:10px 0 0 15px;
	width: 430px;
}
.official .official-mod .official-remark .icon-tip{
    background:url(../images/2016/icon.png) -274px -54px no-repeat;
	width: 10px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 2px;
}
.official .cbw{
	cursor:pointer;
}
.official .lst_btn {
	cursor:pointer;
}
/** 维修店列表 **/
.store-list{
    overflow:hidden;
    margin-bottom: 15px;
}
.store-list span.tip{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #40bb8c;
    margin-top: 15px;
}
.store-list .lst_num{
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0 10px;
    margin: 5px 20px 0;
    float: left;
    width: 556px;
    position: relative;
}
.store-list .lst_top{
    font-size: 16px;
    color: #313131;
}
.store-list .lst_top .f_left{
    float: left;
}
.store-list .lst_top b img {
    margin: 0 1px;
}
.store-list .address .position_ab{
    display: inline-block;
    background:  url(../images/2016/coins.png) -485px -341px no-repeat;
    width: 14px;
    height: 18px;
    vertical-align: -3px;
    margin-left: 8px;
}
.store-list .lst_top em a{
    color: #313131;
}
.store-list .lst_top em a:hover{
    text-decoration: underline;
}
.store-list .lst_top .store{
	margin-right:5px;
}
.store-list .ordinary-store {
    width: 20px;
    vertical-align: -3px;
    margin-right: 5px;
}
.store-list .lst_top b.distance{ 
    font-size: 14px;
    color: #b5b5b5;
    float: right;
    font-weight: normal;
}
.lst_bd{
    margin-top: 10px;
}
.lst_bd .art{
    line-height: 28px;
    margin-left: 16px;
}
.lst_bd .art p{
	color:#313131;
}
.lst_bd .art .atr-detial{
	color:#898989;
}
.lst_bd .pic{
    float: left;
}
.lst_bd .pic a{
	display:block;
}
.lst_bd .pic a img{
    height:106px;
}
.lst_bd .art{
    float: left;
	width: 406px;
}
.lst_bd .art span.Authentication,
.lst_bd .art span.chain,
.lst_bd .art span.custemers,
.lst_bd .art span.guarantee{
    display: inline-block;
    width: 39px;
    height: 21px;
    background:url(../images/shopicon/authentication.png);
	background-size:cover;
	-webkit-background-size:cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font: 12px/21px 微软雅黑;
    border-radius: 3px;
}
.lst_bd .art span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.lst_bd .art span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.lst_bd .art span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.lst_bd .art .ar3 strong{
    color: #ff9c00;
}
.lst_bd .art .ar3 .pri{
    font-size: 24px;
    color: #ff9c00;
}
.lst_bd .art .ar3 .door{
    font-size: 14px;
    color: #ff9c00;
}
.lst_bd .lst_btn{
    position: absolute;
    right: 14px;
    top: 41px;
}
.lst_bd .lst_btn .nowRepair{
    width:78px;
	height:28px;
	line-height:28px;
	color:#fff;
	background-color:#fff;
	background-color:#40bb8c;
	text-align:center;
	border-radius:3px;
	display:inline-block;
}
.remarks .art-detial{
	color:#898989;
}
/*地图*/
.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
	filter:Alpha(Opacity=35);
    z-index: -1;
}
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
.box700 {
    width: 700px;
}
.posR {
    position: relative;
}
.posA.off {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 10;
    background: url(../images/2016/coins.png) no-repeat -440px -53px;
    cursor: pointer;
}
.posA {
    position: absolute;
	z-index:2;
}
.bigbox{
	display: none;
	left:50%;
	margin-left:-350px;
	top:50%;
	margin-top:-250px;
	z-index:10000;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0px;
    bottom: 32px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    border: 1px solid #37bc9b;
    font-size: 14px;
	z-index:1;
}
.bigbox button.ensure {
    background: #37bc9b;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    line-height: 2;
    font-size: 14px;
    width: 100px;
    text-align: center;
    z-index: 999;
    bottom: 38px;
    right: 120px;
}
.add_ress{
    width: 277px;
    height: 51px;
    margin: 10px auto 15px;
    background-color: #e0f2e8;
    text-align: center;
    line-height: 51px;
    color: #40bb8c;
    cursor: pointer;
}
/*添加地址模态窗口*/
.add_ress_window{
    background-color: #fff;
    position: fixed;
    z-index: 10000;
    left: 50%;
    border-radius: 8px;
    width: 680px;
    margin-left: -340px;
    top: 30px;
    display: none;
}
.add_ress_window .top{
    height:68px;
    line-height: 68px;
    padding: 0 15px;
    font-size: 24px;
    color: #535353;
    border-bottom: 1px solid #dcdcdc;
	position:relative;
}
.add_ress_window .top i{
    position:absolute;
	right:10px;
	top:10px;
    background:  url(../images/2016/icon.png) -79px -132px no-repeat;
    width: 33px;
    height: 33px;
    margin-top: 10px;
    cursor: pointer;
}
.add_ress_window .bottom{
    width: 532px;
}
.add_ress_window .bottom p{
    font-size: 16px;
    color: #535353;
    margin-top: 25px;
}
.add_ress_window .bottom p.tips{
    font-size: 12px;
    color: #f40;
    margin:5px 0 0 152px;
}
.add_ress_window .bottom p.conserve{
    width: 163px;
    height: 43px;
    background-color: #40bb8c;
    text-align: center;
    color: #fff;
    line-height: 43px;
    margin: 15px 0 55px 146px;
    border-radius: 6px;
    cursor: pointer;
}
.add_ress_window .bottom p span{
    display: inline-block;
    width: 84px;
    margin-left: 39px;
    line-height: 47px;
    text-align: right;
}
.add_ress_window .bottom p span.codeimg{
	width: 168px;
	height: 55px;
    vertical-align: -12px;
}
.add_ress_window .bottom p span.codeimg img{
	width: 168px;
}
.add_ress_window .bottom input{
    width: 372px;
    height: 37px;
	line-height:37px!important;
    margin-left: 24px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font: 16px "微软雅黑";
}
.add_ress_window .bottom input.top2,.add_ress_window .bottom input.top0{
    margin-top: 0;
    width: 166px;
}
.add_ress_window .bottom p span.mesgSend{
    width: 176px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #40bb8c;
    border: 1px solid #40bb8c;
    border-radius: 5px;
    float: right;
	*float:none;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
}
.add_ress_window .bottom select{
    width: 118px;
	height:47px;
	*height:auto;
    margin:10px 4px;
	vertical-align:middle;
    border: 1px solid #dcdcdc;
    margin-top: 13px;
    border-radius: 5px;
    color: #535355;
    font:16px "微软雅黑";
    color: #535353;
}
.add_ress_window .bottom select#province{
   margin-left: 24px;
}
.add_ress_window .bottom select#area{
   margin-right: 0;
}
.add_ress_window .bottom select option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
i.rightWord,i.faultWord{
    width: 16px;
    height: 16px;
    background:  url(../images/2016/coins.png) -503px -302px no-repeat;
    margin-right: 0;
    margin-left: 7px;
    vertical-align: -2px;
}
i.faultWord{
    background-position: -521px -302px;
}
.smscode{
	display:none;
}


/* 切换地址 */
.slideBox{ width:223px;overflow:hidden; position:relative;border: 1px solid #dcdcdc;border-radius:5px;background: #eefaf6; padding:0 25px;margin-top:10px;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd ul li p{width:101%;line-height:24px;}
.slideBox .bd ul li p .phone{margin-left:10px;}
.slideBox .bd ul li p .reset{margin-left:15px;color:#40bb8c;cursor:pointer;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3px; top:50%; margin-top:-13px; display:block;  }
.slideBox img{
	width:14px;
}
.slideBox .next{ left:auto; right:3px;}
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/* 收款 */
.recoAccs{
    margin:10px 0 10px 0;
	background:#fff;
	display:none;
}
.recoAccs dt{
    margin:0;
    font-size:14px;
    line-height:26px;
    font-weight:normal;
}
.recoAccs dt span{
    padding:0 5px;
    line-height:40px;
    display:inline-block;
    font-weight:normal;
    font-size:13px;
    color:#f60;
}
.recoAccs dd{
    margin:0;
    padding:0;
    border-bottom:1px solid #dfdfdf;
}
.recoAccs dd p{
    margin:0;
    line-height:40px;
    border-bottom:1px dashed #dfdfdf;
	position:relative;
	cursor:pointer;
}
.con-r .recoAccs dd p i{
	display:inline-block;
	background:  url(../images/2016/icon.png) -150px -178px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-7.5px;
	*margin-top:-18px;
	margin-right:0;
}
.con-r .recoAccs dd p i.current{
	background-position:-130px -178px;
}
.recoAccs dd p.alipay{
    border-bottom:0 none;
}
.recoAccs dd p span{
    color:#313131;
	margin:0 5px 0 15px;
}
.recoAccs dd p strong{
	color:#898989;
}
/*弹窗共用样式*/
.add_IDcar,.top_cart{
    position: fixed;
    padding: 10px;
    width: 380px;
    background-color: #fff;
    z-index: 51;
    left: 50%;
	z-index:9999;
    margin-left: -190px;
    border-radius: 5px;
    top: 50px;
	display:none;
}
.add_IDcar .top,.top_cart .top{
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    position: relative;
}
.add_IDcar .top .icon,.top_cart .top .icon{
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 5px;
	cursor:pointer;
    background:  url(../images/2016/icon.png) -79px -132px no-repeat;
}
/*添加银行卡弹窗*/
.add_IDcar .bd{
    margin-top: 10px;
}
.add_IDcar ul li{
    height:42px;
    line-height: 42px;
    padding: 0 12px;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    color: #212121;
    width: 93%;
}
.add_IDcar ul li:first-child{
    padding:0 10px;
}
.add_IDcar ul li select{
    width: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 35px;
    border: 1px solid #dcdcdc;
    color: #212121;
}
.add_IDcar ul li input{
	height: inherit;
	*height: 17px;
    width: 70%;
    float: right;
    *float: none;
    padding: 5px;
    font: 14px "微软雅黑";
    margin-left: 10px;
	margin-top:6px;
    border: 1px solid #dcdcdc;
}
.add_IDcar ul li:last-child label{
    width: auto;
    height:auto;
}
.add_IDcar ul li:last-child input{
    display: inline-block;
    vertical-align: -1.5px;
    height: auto;
    width: auto;
}
.add_IDcar ul li:last-child span{
    font-size: 12px;
    color: #757575;
    width: 214px;
}
.add_IDcar button{
	width: 47%;
	display:inlin-block;
    height: 36px;
    background-color: #40bb8c;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
	color:#fff;
	font:14px "微软雅黑";
	margin:25px 1% 10px 1%;
	cursor:pointer;
}
.add_IDcar .rope{
	position:relative;
}
/*支付宝*/
.posiF {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "微软雅黑";
    color: #535353;
    display: none;
}
.posiF .span-red-tip{
	top:-3px;
}
.posiF .rope{
	position:relative;
}
.bx80 {
    width: 380px;
    margin: 50px auto 0 auto;
    background: #fff;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
}
.bx80 .hd {
    height: 48px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.bx80 .hd p {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.bx80 .hd .off {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 5px;
    background: url(../images/2016/icon.png) -79px -132px no-repeat;
}

.posiF .bd {
    width: auto;
    display: block;
    padding: 12px 15px;
}

.posiF .bd .rope {
    margin: 0 0 10px 0;
    width: inherit;
    display: block;
    text-align: center;
}

.posiF .bd .rope input {
    margin: auto;
    display: block;
	height:28px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 95%;
    font:14px "微软雅黑";
}
.posiF .bd .rope button{
    width: 100%;
    background: #3fbb8c;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #3fbb8c;
    height: 38px;
    line-height: 38px;
    margin: 15px 1% 1% 1%;
    padding: 0;
    font:14px "微软雅黑";
	cursor:pointer;
}
.dark{
	z-index:9999;
}



.loading{
	display:none;
	width:793px;
	text-align:center;
	margin:20px auto 0;
	color:#535353;
}
.loading img{
	margin-right:5px;
	vertical-align:-25px;
	width:60px;
}












