/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.con .select .one {
	text-align:center;
}
.con .select dl {
    margin: 20px 0 0px 0;
}
.con .select dl .select-style .select{
    width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/2016/unselect.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
	vertical-align: -5px;
	margin: 0 5px;
}
.con .select dl .select-style p{
	display: inline-block;
	font-size: 14px;
}
.con .select dl .select-style{
	float: left;
	width: 178px;
	margin-top: -6px;
}
.con .select dl .select-style p.store{
	margin:0 0 0 20px;
}
.con .select dl .select-style p.selected span{
    background: url(../images/2016/uselected.png) 0 0 no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px ;
}
.con .select dt{
	font-size:18px;
	color:#313131;
	margin: 0 0 20px 0;
}
.con .select dd strong{
	line-height: 34px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}
.con .select dd {
	width: 100%;
	vertical-align: top;
	border:0 none;
	line-height:32px;
}
.con .select dd .icon-right{
	width: 16px;
    height: 16px;
    background: url(../images/2016/icon.png) -440px -553px;
    float: left;
    margin: 13px 0 0 10px;
	display:none;
}
.con .select dd.cart-mod{
	margin-bottom:0;
}
.con .select dd.cart-mod p{
	margin-bottom:14px;
}
.con .select dd.cart-mod .payMod{
	display:none;
}
.con .select dd.cart-mod .payMod.show{
	display:block;
}
.con .select dd .receivables span{
	float: left;
    width: 50%;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.con .select dd .receivables span.current{
	color:#fff;
	background-color:#40bb8c;
}
.con .select dd.tps{
	margin: 0;
    font-size: 14px;
}
.con .select dd.current{
	border:0 none;
}
.con .select dd.textarea-address{
	position:relative;
}
.con .select dd.textarea-address .icon-map{
	position:absolute;
	left: 108px;
    top: 12px;
	background:url(../images/2016/icon.png) -272px -3px;
	width:14px;
	height:18px;
}
.con .select dd.textarea-address.input .icon-map{
	background-position:-272px -26px;
}
.con .select dd.textarea-address input{
	width: 410px;
    padding-left: 26px;
}
.con .select dd.textarea-supplement input{
	width: 426px;
}
.con .select dd strong{
	float:left;
	height: 42px;
    line-height: 42px;
	border:0 none;
	font-size:16px;
	color:#313131;
	width:100px;
	text-align:right;
}
.con .select dd input,
.con .select dd textarea,
.con .select dd select,
.con .select dd .receivables{
   width:374px;
   height:32px;
   line-height:32px;
   border-radius:0;
   float: left;
   font-size:16px;
   padding-left:10px;
   color:#898989;
}
.con .select dd select{
	width: 392px;
    height: 42px;
    border-color: #dcdcdc;
	cursor:pointer;
}
.con .select dd textarea{
   height:64px;
}
/* 设置文本框placeholder颜色 */
.con .select dd input::-webkit-input-placeholder{              
   color: #c9c9c9;
}
.con .select dd input:-moz-placeholder {
	   color: #c9c9c9;
}
.con .select dd input:-ms-input-placeholder{
	   color: #c9c9c9;
 }
.con .select .one .next-step{
	display: inline-block;
	width: 383px;
	height: 54px;
	line-height: 54px;
	background-color:#40bb8c;
	color:#fff;
	text-align:center;
	border-radius:3px;
	margin-top:25px;
	font-size:16px;
}

/* 绑定手机 */
.linker .rope input#img_code,
.linker .rope input#code{
	width: 248px;
}
.linker .rope #phone_login_btn,
.linker .rope #re_code{
	margin-left: 10px;
	width: 120px;
	height: 40px;
	display:inline-block;
	background-color: #fff;
	text-align: center;
	border: 1px solid #dcdcdc;
	line-height:40px;
	cursor:pointer;
	color:#535353;
	font-size:14px;
	float:left;
	margin-left:5px;
}
.img_code img {
    height: 42px;
    display: inline-block;
    float: left;
	margin-left:5px;
}
/* 地址 */
.address{
	line-height: 30px;
}
.address  .add-l{
	margin-top:4px;
}
.address .add-r,
.address .add-l{
	float: left;
}
/** 地址下拉列表 **/
.address .town .position{
	color: #3ebb8d;
	cursor: pointer;
	border: 1px solid #40bb8c;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	width: 80px;
	padding: 0 10px;
	text-align: center;
}
.address .town .position i{
	display: inline-block;
	background:  url(../images/2016/icon.png) -26px 0px no-repeat;
	width: 15px;
	height: 18px;
	vertical-align: -4px;
	margin-right: 3px;
}
.address .town .mapsearch{
	width: 468px;
    position: absolute;
    top: 53px;
    left: 100px;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #dcdcdc;
	display: none;
}
.address .town .mapsearch ul li{
	cursor: pointer;
	padding-left: 18px;
	line-height: 58px;
	border-top: 1px solid #eee;
	text-align: left;
}
.address .town .mapsearch ul li.current{
	background-color: #fbfbfb;
}
.address .town .mapsearch ul li .suggest-name{
	line-height: normal;
	padding-top: 10px;
	font-size: 14px;
}
.address .town .mapsearch ul li .suggest-addr{
	line-height: normal;
	padding-bottom: 10px;
	font-size: 9pt;
	color: #999;
}