.tipInfo{width:100%;margin:15px auto 15px auto;}
.tipInfo p{font-size:14px; line-height:34px;margin:0;}
.tipInfo .orderNo{color:#3fb88c;padding:0 2px;font-size:18px; line-height:34px;}
.tipInfo .money{color:#e5383c;padding:0 2px;font-size:18px; line-height:34px;}

.repairInfo{padding:12px 40px;border:1px solid #dfdfdf; border-radius:8px; background:#fff;margin-bottom:10px;}
.repairInfo dl{margin:0 0 0 0;}
.repairInfo dt{margin:0;float:left;width:120px; line-height:32px;font-size:14px;}
.repairInfo dd{margin:0;line-height:32px;font-size:14px;}
.repairInfo dd a{color:#3fb88c;}

.posF{display:none;}
.posF img{width:1000px;height:520px;margin:8% auto 0 auto;border:5px solid #dfdfdf; position:relative;z-index:88;display:block;}
.title{ background:#3fb88c;}
.title p{color:#fff; font-size:15px; text-indent:2em; line-height:2.4;margin:0;}

.payWays .hd{ background:#fff;}
.payWays .hd ul{margin:0;padding:0;list-style:none;height:40px; overflow:visible;border-bottom:2px solid #dfdfdf;}
.payWays .hd ul li{float:left;width:140px;cursor: pointer;height:40px; line-height:40px;font-size:14px; text-align:center;}
.payWays .hd ul li.on{color:#3fb88c;border-bottom:2px solid #3fb88c;}
.payWays .tempWrap{background:#fff;}
.payWays .bd .tab{padding:25px;}
.payWays .bd .tab ul{padding:0;margin:0;list-style:none;}
.payWays .bd .tab li{float:left;width:20%;margin-bottom:10px;}
.payWays .bd .tab li label{margin:0;}
.payWays .bd .tab li input{margin:0 5px 0 0;}
.payWays .bd .tab li img{display:inline-block;height:auto;width:150px;}
.payWays .bd .tab li{}

.payWays .bd .surplus li span{font-size:13px;}
.payWays .bd .surplus li span b{padding:0 2px;color:#f60;font-size:16px;}
.payWays .bd .surplus li label{margin-bottom:10px;}
.payWays .bd .surplus li input[type="password"]{}

.bts{padding:15px 0;}
.bts button{margin:auto;display:block;width:120px; text-align:center; text-decoration:none; background:#f2901d;color:#fff; border-radius:4px; line-height:2;border:0; font-size:16px;}
 
#payStatue {display:none;}
#payStatue .hd{border-bottom:2px solid #dfdfdf;}
#payStatue .hd p{font-size:16px; line-height:36px; text-indent:2em;margin:0;}
#payStatue .bd{padding:20px 50px;}
#payStatue .rope{margin-bottom:10px;}
#payStatue .rope p{margin:0;}
#payStatue .rope a.true{background:#3fb88c;border-radius:4px;padding:0 15px; color:#fff; line-height:32px; display:block;float:left;}
#payStatue .rope a.false{background:#f60;border-radius:4px;padding:0 15px; color:#fff; line-height:32px;margin-left:126px;display:block;float: left;}
#payStatue .rope a.other{color:#f60;}
#payStatue .rope a.other:hover{text-decoration:underline;}
#payStatue .rope{}

.btns{text-align:center;padding:10px 0;}
.btns a{display:inline-block;font-size:14px;line-height:2.4;border-radius:3px;padding:0 20px;margin:0 5px;}
.btns a.userCenter{background:#ff9f00;color:#fff;}
.btns a.repair{background:#3fb88c;color:#fff;}

.box400{
    width: 400px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -200px;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}