/* 
* @Author: Marte
* @Date:   2016-05-05 15:46:31
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-21 17:34:43
*/
.none{
	display:none;
}
.con h2{
    font-size: 18px;
    color: #313131;
    font-weight: bold;
    margin: 45px 0 12px 0;
    letter-spacing:2px;
}
.con .bd{
    border: 1px solid #e5e5e5;
    padding: 14px;
}
.false .bd{
    line-height: 29px;
}
.way .bd label{
    margin-right:15px;
	cursor:pointer;
}
.way .bd label input{
    vertical-align: -1px;
	margin-right:1px;
}
.false strong{
    color: #b5b5b5;
	float:left;
}
.false strong.careful{
	color:#ff4444;
}
.false strong b{
    margin-left: 28px;
    font-weight: normal;
}
.false span{
    color: #535353;
	float:left;
	width:1090px;
}
.store .style{
    font-weight: bold;
    color: #313131;
}
.store label{
    color: #898989;
    margin-left: 20px;
}
.store label input{
    margin: 0 4px;
    vertical-align: middle;
}
.store i{
    display: inline-block;
    vertical-align: 1px;
    width: 22px;
    height: 22px;
    color: #ff6b6b;
    border-radius: 50%;
    border: 1px solid #ff6b6b;
    text-align: center;
    line-height: 22px;
    margin-right: 8px;
}
/* 维修店 */
.lst_num{
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 12px;
	cursor:pointer;
}
.lst_num .lst_top{
    font-size: 16px;
    color: #313131;
}
.lst_num .lst_top .store{
	margin-right:5px;
}
.lst_num  .lst_top i{ 
    display: inline-block;
    vertical-align: 1px;
    width: 22px;
    height: 22px;
    color: #ff7b7b;
    border-radius: 50%;
    border: 1px solid #ff7b7b;
    text-align: center;
    line-height: 22px;
    margin-right: 7px;
}
.lst_num .lst_top b img{
	margin:0 1px;
}
.lst_num .lst_bd{
    margin-top: 10px;
}
.lst_num .lst_bd .art{
    line-height: 28px;
    margin-left: 20px;
}
.lst_num .lst_bd .pic{
    float: left;
}
.lst_num .lst_bd .art{
    float: left;
}
.lst_num .lst_bd .art span.Authentication,
.lst_num .lst_bd .art span.chain,
.lst_num .lst_bd .art span.custemers,
.lst_num .lst_bd .art span.guarantee{
    display: inline-block;
    width: 39px;
    height: 21px;
    background:url(../images/shopicon/authentication.png);
	background-size:cover;
	-webkit-background-size:cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font: 12px/21px 微软雅黑;
    border-radius: 3px;
}
.lst_num .lst_bd .art span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.lst_num .lst_bd .art span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.lst_num .lst_bd .art span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.lst_num .lst_bd .art .ar2,
.lst_num .lst_bd .art .ar3{
    color: #707070;
}
.lst_num .lst_bd .art .ar3 strong{
    color: #ff9c00;
}
.lst_num .lst_bd .art .ar3 .pri{
    font-size: 14px;
    color: #ff9c00;
}
.lst_num .lst_bd .art .ar3 span{
    font-size: 14px;
    color: #707070;
}
.lst_num .lst_bd .lst_btn {
    float: right;
}
.lst_btn .btn{
    border-radius: 50%;
    float: right;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 20px 20px 0 0;
    border: 2px solid #40b88c;
}
.lst_num .btn {
    background: url(../images/2016/icon.png) -149px -141px no-repeat;
}
/* 联系信息 */
.address .add_ress {
    width: 277px;
    height: 51px;
    margin: 10px 0 15px;
    background-color: #e0f2e8;
    text-align: center;
    line-height: 51px;
    color: #40bb8c;
    cursor: pointer;
}
.address input{
    vertical-align: middle;
}
.address li{
    line-height: 28px;
    color: #313131;
}
.address li div{
    display:inline-block;
	*display:inline;
    cursor: pointer;
}
.address li span.name{
    margin-left: 20px;
}
.address li span.reset{
    color: #3ebb8d;
    margin-left: 5px;
}
/* 更多描述 */
.more .bd{
    border:0 none;
    padding: 0;
}
.more .bd textarea{
    border: 1px solid #e5e5e5;
    padding: 6px;
    font:14px "微软雅黑";
    width: 100%;
    height:130px;
    resize:none;
}
.order .submit {
    display: block;
    margin: 8px 0;
    width: 224px;
    height: 39px;
    background-color: #ff9c00;
    line-height: 39px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
}
.dark {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    display: none;
}
/*添加地址模态窗口*/
.add_ress_window{
    background-color: #fff;
    position: fixed;
    z-index: 51;
    left: 50%;
    border-radius: 8px;
    width: 680px;
    margin-left: -340px;
    top: 30px;
    display: none;
}
.add_ress_window .top{
    height:68px;
    line-height: 68px;
    padding: 0 15px;
    font-size: 24px;
    color: #535353;
    border-bottom: 1px solid #dcdcdc;
	position:relative;
}
.add_ress_window .top i{
    position:absolute;
	right:10px;
	top:10px;
    background:  url(../images/2016/icon.png) -79px -132px no-repeat;
    width: 33px;
    height: 33px;
    margin-top: 10px;
    cursor: pointer;
}
.add_ress_window .bottom{
    width: 532px;
}
.add_ress_window .bottom p{
    font-size: 16px;
    color: #535353;
    margin-top: 25px;
}
.add_ress_window .bottom p.tips{
    font-size: 12px;
    color: #f40;
    margin:5px 0 0 152px;
}
.add_ress_window .bottom p.conserve{
    width: 163px;
    height: 43px;
    background-color: #40bb8c;
    text-align: center;
    color: #fff;
    line-height: 43px;
    margin: 15px 0 55px 146px;
    border-radius: 6px;
    cursor: pointer;
}
.add_ress_window .bottom p span{
    display: inline-block;
    width: 84px;
    margin-left: 39px;
    line-height: 47px;
    text-align: right;
}
.add_ress_window .bottom p span.codeimg{
    width: 168px;
    height: 55px;
    vertical-align: -12px;
}
.add_ress_window .bottom p span.codeimg img{
    width: 168px;
}
.add_ress_window .bottom input{
    width: 372px;
    height: 37px;
	line-height:37px!important;
    margin-left: 24px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font: 16px "微软雅黑";
}
.add_ress_window .bottom input.top2,.add_ress_window .bottom input.top0{
    margin-top: 0;
    width: 166px;
}
.add_ress_window .bottom p span.mesgSend{
    width: 176px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #40bb8c;
    border: 1px solid #40bb8c;
    border-radius: 5px;
    float: right;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
}
.add_ress_window .bottom select{
    margin-right: 8px;
    width: 118px;
    padding:10px 0;
	*margin:10px 5px;
    border: 1px solid #dcdcdc;
    margin-top: 13px;
    border-radius: 5px;
    color: #535355;
    font:16px "微软雅黑";
    color: #535353;
}
.add_ress_window .bottom select#province{
   margin-left: 24px;
}
.add_ress_window .bottom select#area{
   margin-right: 0;
}
.add_ress_window .bottom select option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
i.rightWord,i.faultWord{
    width: 16px;
    height: 16px;
    background:  url(../images/2016/coins.png) -503px -302px no-repeat;
    margin-right: 0;
    margin-left: 7px;
    vertical-align: -2px;
}
i.faultWord{
    background-position: -521px -302px;
}
.smscode{
    display:none;
}
.tipss{
	color:#ff4444;
}












