/* 
* @Author: Marte
* @Date:   2017-05-02 14:49:34
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-02 14:49:34
*/

/* 报价信息 */
.wrap{
	width:928px;
}
.header-btm.wrap{
	width:1200px;
}
.header-out .wrap{
	width:1200px;
}
.con .user-all-news{
	border:1px solid #e6e6e6;
    margin-top: 40px;
}
.navbg{
	box-shadow: 0 3px 14px rgba(0,0,0,0.1);
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.release-news{
	width:808px;
	height:57px;
	background:url(../images/2016/repaire/store-bg.jpg);
	border-bottom:1px solid #e6e6e6;
	padding:50px 60px;
}
.release-news .user-news-img img{
	width:63px;
	border:1px solid #e5e6e5;
	border-radius:50%;
	margin-top: 4px;
}
.release-news .user-news-intro{
	color:#313131;
	font-size:16px;
	padding:0 0 0 5px;
	line-height:24px;
}
.release-news .user-news-intro .user-name{
    font-weight: bold;
}
.release-news .user-news-intro .user-phone{
	font-size: 24px;
    font-weight: bold;
    margin: 1px 0;
}
.release-news .user-news-intro .user-phone-tips{
	color: #535353;
	font-size: 13px;
}
.other-news{
	padding-top:12px;
}
.other-news .other-news-item{
	margin-left:45px;
}
.other-news .other-news-item  p{
	color:#000;
}
.other-news .other-news-item  .contact-num{
	color:#ff9600;
}
.other-news .other-news-item .icon-item{
	width:27px;
	height:27px;
	background:url(../images/2016/icon.png) -239px -505px;
	display:inline-block;
	margin-right:5px;
}
.other-news .other-news-item .item-detial{
	display:inline-block;
}
.other-news .other-news-item .icon-item.consume{
	background-position:-274px -506px;
	width:34px;
	height:24px;
}
.other-news .other-news-item .icon-item.person{
	background-position:-314px -504px;
	width:29px;
	height:29px;
}
/* 用户需求详情 */
.user-demand {
	margin-top:30px;
	padding:0 37px 15px 70px;
	position:relative;
}
.user-demand .user-demand-detial h3{
	color:#313131;
	font-size:18px;
	margin-bottom:6px;
	font-weight: bold;
}
.user-demand .user-demand-detial li{
	line-height:32px;
	font-size:16px;
	color:#313131;
}
.user-demand .user-demand-detial li .demand-title{
	color:#313131;
	float:left;
}
.user-demand .user-demand-detial li .demand-content{
	color:#898989;
	float:left;
	width: 400px;
}
.user-demand .user-demand-detial li.user-address .user-distance{
	color:#ff9600;
	font-size:14px;
	margin-top: -7px;
}
.user-demand .user-demand-detial li.user-address .user-distance .icon-map{
	width:12px;
	height:18px;
	background:url(../images/2016/icon.png) -356px -513px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.user-demand .user-demand-detial em.circle{
	display:inline-block;
	float:left;
	width:6px;
	height:6px;
	border-radius:50%;
	background-color:#40bb8c;
	margin-right:12px;
	vertical-align:2px;
	margin-top: 12px;
}
/* 用户地址 */
.shop-address {
	margin-top: 39px;
}
.shop-address p {
	text-align: right;
	color:#000;
	margin:8px 0;
	padding-right: 3px;
}
.shop-address p #cbdBalance{
	color: #ff9600;
	font-size: 16px;
	font-weight: bold;
}
.shop-address .map {
    width: 302px;
    background-color: #f8f6f3;
    border: 2px solid #c9c9c9;
}
/* 维修师报价 */
.my-quote{
	position: relative;
}
.my-quote .order-success{
	position: absolute;
    right: 129px;
    top: -33px;
    width: 103px;
    z-index: 99;
}
.my-quote p{
	color:#898989;
	line-height:28px;
	text-align:left;
}
.my-quote p em{
	color: #ff4444;
    font-size: 16px;
    padding: 0px 2px;
}
.my-quote {
	text-align:center;
}
.my-quote .quote-btn a{
	display:inline-block;
	width:354px;
	height:46px;
	background-color:#ff9600;
	color:#fff;
	line-height:46px;
	border-radius:5px;
	margin-top:8px;
	text-align:center;
	font-size: 16px;
}
.my-quote .quote-btn .reduce-cbd{
	color: #898989;
}
.my-quote .quote-btn .reduce-cbd #reduceNum{
	color: #ff9600;
	font-size: 16px;
	font-weight: bold;
}
.my-quote .quote-btn .reduce-cbd .original{
	opacity:0.5;
}
.my-quote .quote-btn .reduce-cbd #primaryNum{
	text-decoration:line-through;
}
.my-quote .quote-btn #quoteBtnEd{
	background-color:#ccc;
	cursor:no-drop;
}
.quote-empty{
	display:none;
}
#quote .bd input.quote-input{
	width:256px;
	height: 42px;
    line-height: 42px;
	border:2px solid #ff9600;
	font-size:18px;
	color: #ff9600;
	font-weight: bold;
	padding:4px 10px;
}
/* 设置文本框placeholder颜色 */
#quote .bd input.quote-input::-webkit-input-placeholder {              
   color: #f6cb8f;
   font-weight: normal;
}
#quote .bd input.quote-input:-moz-placeholder {
	color: #f6cb8f;
	font-weight: normal;font-weight: normal;
}
 #quote .bd input.quote-input::-moz-placeholder{
	color: #f6cb8f;
	font-weight: normal;
}
 #quote .bd input.quote-input:-ms-input-placeholder {
	color: #f6cb8f;
	font-weight: normal;
 }
 /* 报价 */
 #quote .user-tips {
	 margin: 15px 0;
 }
#quote .user-sever{
	color: #313131;
	margin-top: 25px;
}
#quote .quote-tips{
	margin-top: 10px;
	float: left;
	margin-right: 50px;
}
#quote .quote-tips .word-tips{
	color: #898989;
	font-size: 12px;
	float:left;
}
#quote .quote-tips .icon-tips{
	width: 10px;
    height: 14px;
    display: inline-block;
    background: url(../images/2016/icon.png) -274px -54px;
    margin-right: 5px;
    margin-top: 2px;
    float: left
}
#quote .user-sever p.confirm {
	text-align:center;
	margin-top:25px;
}
#quote .user-sever p.go-to-sever {
	margin-top: 10px;
}
#quote .user-sever p.confirm a{
	width:286px;
	height:44px;
	line-height:44px;
	text-align:center;
	background-color:#ff9600;
	display:inline-block;
	color:#fff;
	border-radius:2px ;
}

.btn-select { 
	position: relative; 
	display: inline-block; 
	width: 286px; 
	height: 44px; 
	font: 14px/20px "Microsoft YaHei"; 
	color: #535353; 
	cursor: pointer;    
	margin: 8px 0 12px 28px;
} 
.btn-select:hover { 
	color: #535353; 
} 
.btn-select .cur-select { 
	position: absolute; 
	display: block; 
	width: 286px; 
	height: 44px; 
	line-height: 44px;
	border: 1px solid #dcdcdc;  
	background: url(../images/2016/arrow.png) no-repeat right 5px;
	text-indent: 10px; 
	cursor: pointer;
} 
.btn-select select { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 286px; 
	height: 44px; 
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	font: 14px/20px "Microsoft YaHei"; 
	cursor: pointer;
} 
.btn-select select option { 
	text-indent: 10px; 
} 
/* 维修师报价列表 */
.offer-list{
	margin: 10px 0 0;
	background-color: #fff;
	padding-bottom: 20px;
}
.offer-list h3{
	color: #000;
	padding:10px;
	font-size: 15px;
}
.offer-list .offer-content{
	padding:10px;
	position: relative;
	border-bottom: 1px solid #eeeeee;
}
.offer-list .offer-content .order-success{
	width: 80px;
    right: 10px;
    top: 0;
    position: absolute;
}
.offer-list .bd-offer-success{
	background-color: #fbf5ec;
}
.offer-list .offer-content .pic{
	width: 80px;
	float: left;
}
.offer-list .offer-content .pic img{
	width: 100%;
}
.offer-list .offer-content .off-content{
	float: left;
    width: 728px;
    margin-left: 10px;
}

.offer-list .offer-content .off-content .name{
	margin-bottom: 5px;
}
.offer-list .offer-content .off-content .name a{
	font-size: 15px;
	color: #000;
}
.offer-list .offer-content .off-content p{
	color: #898989;
	font-size: 13px;
}
.offer-list .offer-content .off-content p.remarks{
	height: 19px;
	text-overflow:ellipsis;
	overflow:hidden;
	position: relative;
	word-wrap:break-word;
}
.offer-list .offer-content .off-content p.cur{
	height: auto;
}
.offer-list .offer-content .off-content p.remarks .more{
	color: #778adb;
	position: absolute;
	bottom:0;
	right:0;
	background-color: #fff;
	display: none;
}
.offer-list .bd-offer-success .off-content p.remarks .more{
	background-color: #fbf5ec;
}
.offer-list .offer-content .off-content p.remarks .more b{
	color: #898989;
}
.offer-list .offer-content .off-content p span{
	color: #535353;
}
.offer-list .offer-content .price{
	float: right;
	margin-top: 20px;
}
.offer-list .offer-content .price .style{
	color: #b5b5b5;
}
.offer-list .offer-content .price .money{
	font-size: 16px;
	color: #ff4444;
	font-weight: bold;
}
.offer-list .offer-content .price .money span{
	font-size: 12px;
	color: #898989;
	font-weight: normal;
}
/* 维修师报价 */
.remarks input{
	width: 274px;	
	height: 34px;
	line-height: 34px;
	border-radius:0px;
	margin: 8px 0 12px 28px;
}
/* 草包豆充值弹窗 */
#cbdRecharge{
	display: none;
}
#cbdRecharge .posA.off {
    top: 5px;
    right: 5px;
}
#cbdRecharge .box735{
	padding:46px 30px 60px;
	border:0 none;
	width:735px;
	margin-top:16%;
}
#cbdRecharge .hd{
	color: #6d6d6d;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
#cbdRecharge .hd .icon-warm{
	background: url(../images/2016/icon.png) -383px -505px no-repeat;
	width: 30px;
	height: 28px;
	display: inline-block;
	vertical-align:middle;
	margin-right: 5px;
}
#cbdRecharge .bd .rechange-num{
	color: #313131;
}
#cbdRecharge .bd .rechange-num span{
	color: #a0a0a0;
	font-size: 12px;
}
#cbdRecharge .bd #rechangeVal{
	margin-top: 16px;
}
#cbdRecharge .bd #rechangeVal li{
	width: 165px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    text-align: center;
    color: #313131;
    padding: 30px 0;
    font-size: 16px;
    margin-right: 20px;
    float: left;
	line-height: 22px;
    position: relative;
    cursor: pointer;
}
#cbdRecharge .bd #rechangeVal li .give{
	width: 132px;
}
#cbdRecharge .bd #rechangeVal li .cbdspecial{
	line-height:40px;
}
#cbdRecharge .bd #rechangeVal li .giveval{
	font-weight: normal;
	font-size: 16px;
}
#cbdRecharge .bd #rechangeVal li.current{
	border-color: #ff4444;
	border-width: 2px;
}
#cbdRecharge .bd #rechangeVal li .sign{
	position: absolute;
	right: 0;
	top: 0;
}
#cbdRecharge .bd #rechangeVal li:last-child{
	margin:0;
}
#cbdRecharge .bd #rechangeVal li span{
	color: #ff4444;
	font-size: 20px;
	font-weight: bold;
}
#cbdRecharge .bd .btn{
	text-align: center;
	margin-top: 38px;
}
#cbdRecharge .bd .btn #nowRecharge{
	width: 184px;
	height: 52px;
	text-align: center;
	color:#fff;
	font-size: 16px;
	border-radius:3px;
	background-color: #ff4444;
	line-height: 52px;
	display: inline-block;
}
#cbdRecharge .bd #rechangeTips{
	text-align: center;
	color: #ff4444;
	display: none;
	margin-top: 5px;
}






