/* 
* @Author: Marte
* @Date:   2016-05-05 15:46:31
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-21 17:34:43
*/
.FF {
    border-top: 1px solid #eee;
}
.navbg{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.none{ display:none;}
.con{
    padding-top: 32px;
    position: relative;
}
.con-l .mode-title{
	font-size:14px;
	color:#535353;
	font-weight:bold;
	width: 90px;
}
.lists .mode-title,
.official .mode-title {
    font-size: 18px;
    width: auto;
	display: block;
}
/*店铺列表*/
.lists{
	margin-top:18px;
}
.lists .mode-title,
.official .mode-title{
	font-size:18px;
	width:auto;
}
.official .mode-title{
	margin-bottom:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.lists .mode-title .user-tips{
	font-size: 14px;
	color: #898989;
	font-weight: normal;
	display: block;
	margin-top: 3px;
	padding-bottom: 10px;
}
/** 正在报价 **/
.lists .b-addcode{
	margin-bottom: 26px;
	border-bottom: 1px solid #eee;
}
.lists .b-addcode .loading-offer{
	margin:20px 0 10px 0;
	width: 950px;
}
.lists .b-addcode .offer-introduce{
	margin-top: 8px;
}
.lists .b-addcode .offer-introduce img{
	width: 30px;
}
.lists .b-addcode .offer-introduce p{
	color: #898989;
    margin: 4px 5px 0;
}
.lists .b-addcode .offer-introduce p .offer-count{
	font-size: 18px;
	font-weight: bold;
	color:#ff9600;
	margin:0 2px;
}
.lists .b-addcode .cb-code{
	width: 240px;
	text-align: center;
}
.lists .b-addcode .cb-code img{
	width: 77px;
	height: 77px;
}
.lists .b-addcode .cb-code p{
	color:#898989;
	font-size: 12px;
}
.lists .b-addcode .cb-code p .weixin{
	color:#40bb8c;
}
/** 维修店列表 **/
.store-list{
    overflow:hidden;
    margin-top: 10px;
    margin-bottom: 15px;
}
.store-list span.tip{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #40bb8c;
    margin-top: 15px;
}
.store-list .lst_num{
    padding: 5px 0 10px;
    margin: 5px 20px 0;
    float: left;
    width: 556px;
    position: relative;
}
.store-list .lst_top{
    font-size: 16px;
    color: #313131;
}
.store-list .lst_top b img {
    margin: 0 1px;
}
.store-list .address .position_ab{
    display: inline-block;
    background:  url(../images/2016/coins.png) -485px -341px no-repeat;
    width: 14px;
    height: 18px;
    vertical-align: -3px;
    margin-left: 8px;
	cursor: pointer;
}
.store-list .lst_top em a{
    color: #313131;
}
.store-list .lst_top em a:hover{
    text-decoration: underline;
}
.store-list .lst_top .store{
	margin-right:5px;
}
.store-list .ordinary-store {
    width: 20px;
    vertical-align: -3px;
    margin-right: 5px;
}
.store-list .lst_top b.distance{ 
    font-size: 14px;
    color: #b5b5b5;
    float: right;
    font-weight: normal;
}
.lst_bd{
    margin-top: 10px;
}
.lst_bd .art{
    line-height: 28px;
    margin-left: 16px;
}
.lst_bd .art p{
	color:#313131;
}
.lst_bd .art .atr-detial{
	color:#898989;
}
.lst_bd .pic{
    float: left;
}
.lst_bd .pic a{
	display:block;
}
.lst_bd .pic a img{
    height:106px;
}
.lst_bd .art{
    float: left;
	width: 406px;
}
.lst_bd .art span.Authentication,
.lst_bd .art span.chain,
.lst_bd .art span.custemers,
.lst_bd .art span.guarantee{
    display: inline-block;
    width: 39px;
    height: 21px;
    background:url(../images/shopicon/authentication.png);
	background-size:cover;
	-webkit-background-size:cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font: 12px/21px 微软雅黑;
    border-radius: 3px;
}
.lst_bd .art span.chain{
	background-image:url(../images/shopicon/guarantee.png);
}
.lst_bd .art span.custemers{
	background-image:url(../images/shopicon/credit.png);
}
.lst_bd .art span.guarantee{
	background-image:url(../images/shopicon/authorization.png);
} 
.lst_bd .art .ar3 strong{
    color: #ff9c00;
}
.lst_bd .art .ar3 .pri{
    font-size: 24px;
    color: #ff9c00;
}
.lst_bd .art .ar3 .door{
    font-size: 14px;
    color: #ff9c00;
}
.lst_bd .lst_btn{
    position: absolute;
    right: 14px;
    top: 41px;
}
.lst_bd .lst_btn .nowRepair{
    width:78px;
	height:28px;
	line-height:28px;
	color:#fff;
	background-color:#fff;
	background-color:#40bb8c;
	text-align:center;
	border-radius:3px;
	display:inline-block;
}
.remarks .art-detial{
	color:#898989;
}
/* 邮寄官方维修 */
.official{
    margin-top: 0px;
    margin-bottom: 120px;
}
.official .cbw-news{
	float:left;
}
.official #officialRepair{
    width:159px;
	height:36px;
	line-height:36px;
	color:#fff;
	background-color:#40bb8c;
	text-align:center;
	border-radius:3px;
	display:inline-block;
	font-size:16px;
	float: right;
}
.official h3{
	font-size:20px;
	margin-bottom:20px;
}
.official h3 a{
	color:#313131;
}
.official .official-detial{
	width:613PX;
	height:228px;
	background:url(../images/2016/official.jpg);
	padding:30px 24px;
	float:left;
}
.official .empty{
	color:#898989;
	font-size: 18px;
	float:none;
	background:none;
}
.official .official-detial .pri{
    color: #535353;
}
.official .official-detial .num{
    color: #ff9600;
    font-size: 24px;
	font-weight: bold;
}
.official .official-detial .num em{
    color: #ff9600;
    font-size: 14px;
}
.official .official-detial .pri-b{
	margin: 18px 0 20px;
}
.official .official-detial .buyat{
    color: #898989;
    font-size: 14px;
}
.official .official-detial .off{
    height: 26px;
    font-size: 16px;
    line-height: 15px;
	color:#313131;
}
.official .official-detial .ifo{
    margin-top: 5px;
    line-height: 33px;
}
.official .official-detial .ifo p{
    color: #535353;
}
.official .official-detial .ifo b{
    margin-left: 13px;
    font-weight: normal;
}
.official .official-detial .ifo p.more a{
    display: block;
    color: #49b579;
}
.official .official-detial .ifo p.more strong{
    float: left;
}
.official .official-detial .ifo p.more span{
    float: left;
    width: 773px;
}
.official .official-detial .ifo p strong{
    color: #b5b5b5;
}
.official .official-detial .off i{
    width: 22px;
    height: 22px;
    background:  url(../images/2016/icon.png) -183px -141px no-repeat;
    display: inline-block;
    vertical-align: -4px;
    margin: 0 7px 0 0;
}
.official .official-mod .official-remark{
    color:#8d8d8d;
	font-size: 14px;
	position: relative;
	float:left;
	padding-left:15px;
	margin:10px 0 0 15px;
	width: 430px;
}
.official .official-mod .official-remark .icon-tip{
    background:url(../images/2016/icon.png) -274px -54px no-repeat;
	width: 10px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 2px;
}
.official .cbw{
	cursor:pointer;
}
.official .lst_btn {
	cursor:pointer;
}
/*地图*/
.posF {
    z-index: 999;
}
.bigbox{
	display: none;
	left:50%;
	margin-left:-350px;
	top:50%;
	margin-top:-250px;
}
.bigbox p.PS {
    background: #fff;
    text-align: center;
    left: 0px;
    bottom: 32px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    border: 1px solid #37bc9b;
    font-size: 14px;
	z-index:1;
}
.bigbox button.ensure {
    background: #37bc9b;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    line-height: 2;
    font-size: 14px;
    width: 100px;
    text-align: center;
    z-index: 999;
    bottom: 38px;
    right: 120px;
}














