.content h2{
    font-size:24px;
    margin:30px 0 20px 0;
    text-indent:2em;
}
.siteUrl dd i{
    font-style:normal;
    font-size:14px;
    color:#f60;
}
.bdCont{
}

/* 旧版的产品结果 */
.prodsList{
    overflow:hidden;
    zoom:1;
    padding:0;
    margin:0;
    list-style:none;
    background:#fff;
    min-height:400px;
} 
.prodsList li{
    margin:5px;
    float:left;
    overflow:hidden;
    text-align:center;
    border:1px solid #fff;
    width:228px;
    height:286px;
}
.prodsList li:hover{
    border:1px solid #e7e7e7;
}
.prodsList li .pic{
    text-align:center;
    height:228px;
    overflow:hidden;
}
.prodsList li .pic a{
    display:block;
}
.prodsList li .pic img{
    width:228px;
    height:auto;
    display:block;
}
.prodsList li .pic:hover img{
    border-color:#999;
}

.prodsList li .txtInfo{
    padding:5px 10px;
    color:#fff;
    position:relative;
    z-index:10;
}
.prodsList li .bg{
    opacity:0.45;
}
.prodsList li .txtInfo p{
    line-height:26px;
}
.prodsList li .txtInfo .recoPrice{
    color:#e4393c;
    font-size:14px;
}
.prodsList li .txtInfo a{
    color:#fff;
    border-radius:3px;
    background:#ff9f00;
    display:inline-block;
    padding:0 15px;
}

.prodsList li .tit{
    line-height:24px;
    padding:0 10px 5px 10px;
}
.prodsList li a{
    text-decoration:none;
    display:inline-block;
}
.prodsList li p{
    margin:0;
    font-size:14px;
    line-height:2;
    text-align:left;
    width:208px;
}
.prodsList li .tit p span{
    display: inline-block;
    width:120px;
    float:left;
}
.prodsList li .prodName{
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.prodsList li .info{
    color:#969696;
}
.prodsList li .nowPrice{
    color:#e4393c;
    font-size:18px;
    line-height:24px;
}
.prodsList li .price{
    color:#969696;
    text-decoration: line-through;
}
.prodsList li .kcNum{
    color:#969696;
}
.prodsList li .tit p .buy{
    background:#3fb88c;
    border-radius:5px;
    display:none;
    text-align:Center;
    width:88px;
}
.prodsList li:hover .tit p .buy{
    display: inline-block;
}
.prodsList li:hover .buy a{
    color:#fff;
    text-decoration:none;
}
.prodsList li p.clearfix{
    padding-top:5px;
}

/* 新版搜索结果 */

/* 搜索分类 */
.searchCats{
    border:1px solid #dfdfdf;
    border-bottom:0;
    background:#fff;
}
.searchCats p{
    border-bottom:1px solid #dfdfdf;
    line-height:48px;
    margin:0;
    font-size:16px;
}
.searchCats p.on{
    border-color:#3fbb8c;
    background:#3fbb8c;
}
.searchCats p a{
    display:block;
    padding:0 0 0 30%;
    letter-spacing:10px;
}
.searchCats p a i{
    display:inline-block;
    font-style:normal;
    font-size:13px;
    letter-spacing:0px;
    color:#f60;
    padding:0 0 0 5px;
}
.searchCats p.on a{
    color:#fff;
}
.searchCats p.on a i{
    color:#fff;
}

/* 搜索结果标题 */
.resultCont{
    bordeR:1px solid #dfdfdf;
    background:#fff;
}
.resultCont .title{
    border-bottom:1px solid #3fbb8c;
}
.resultCont .title p{
    margin:0;
    font-size:16px;
    font-weight:bold;
    line-height:38px;
    padding:0 0 0 5%;
}
.resultCont .title p span{
    padding:0 1px 0 5px;
    line-height:inherit;
    font-weight:normal;
    display:inline-block;
    font-size:13px;
}
.resultCont .title p span i{
    font-style:normal;
    padding:0 1px;
    line-height:inherit;
    font-weight:normal;
    color:#f00;
    display:inline-block;
}
.resultCont .resultList{
    margin:10px 15px;
    overflow:hidden;
    width:861px;
	position:relative;
}
.resultCont .resultList .pageTable .pageRow{
    float:left;
    width:861px;
}

.resultCont .resultList .item{
    display:block;
}
.resultCont .resultList a{
    display:block;
    line-height:inherit;
    height:inherit;
    overflow:hidden;
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.resultCont .resultList img{
    width:100%;
    height:auto;
}
.resultCont .resultList p{
    margin:0;
}

.resultCont i.keyWords{
    color:#f60;
    font-weight:bold;
    font-style:normal;
}

/* 产品 */
.resultCont .prod{
    width:204px;
    float:left;
    margin:0 4px 8px 4px;
    border:1px solid #dfdfdf;
}
.resultCont .prod a{
}
.resultCont .prod p{
    padding:0 8px;
    overflow:hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.resultCont .prod .im{
    width:68%;
    margin:auto;
    height:139px;
    overflow:hidden;
}
.resultCont .prod .prodName{
    line-height:24px;
    height:24px;
}
.resultCont .prod .prodPrice a{
    color:#f00;
    font-size:15px;
    line-height:28px;
    height:28px;
    padding-bottom:5px;
}

/* 视频 */
.resultCont .video{
    width:250px;
    float:left;
    margin:15px 18px;
    border-radius:5px;
    overflow:hidden;
    height:140px;
}
.resultCont .video a{
    color:#fff !important;
}
.resultCont .video p{
    line-height:30px;
    padding:0 8px;
    height:30px;
    width:233px;
}
.resultCont .video .videoTitle{
    background: url(../images/coins/bg.png) repeat;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.resultCont .video .videoTitle a{
    overflow:hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 新闻 */
.resultCont .news{
    padding:8px 0;
    border-bottom:1px solid #dfdfdf;
	height:167px;
}
.resultCont .news .im{
    width:200px;
    height:150px;
	float:left;
    overflow:hidden;
    margin:0 10px 0 0;
    vertical-align: middle;
    -webkit-box-orient: vertical;
    display: inline-block;
}
.resultCont .news .infos{
	float:left;
    vertical-align: top;
    -webkit-box-orient: vertical;
    margin:0;
    width:600px;
    display: inline-block;
}
.resultCont .news .newsTitle{
    line-height:36px;
}
.resultCont .news .newsTitle p{
    line-height:inherit;
    font-size:16px;
    display:inline-block;
    font-weight:bold;
	width:400px;
	float:left;
}
.resultCont .news .newsTitle .dateTime{
    line-height:inherit;
    font-size:13px;
    color:#787878;
    float:right;
}
.resultCont .news .abstract{
    line-height:1.8;
    color:#454545;
    overflow:hidden;
}
.resultCont .news a.read{
    display:inline-block;
    line-height:inherit;
    background:#3fbb8c;
    color:#fff;
    border-radius:3px;
    float:right;
    text-indent:10px;
}

/* 问答 */
.resultCont .wenda{
    padding:10px 0;
    border-bottom:1px solid #dfdfdf;
    overflow:hidden;
	height:171px;
}
.resultCont .wenda .im{
    width:200px;
    height:150px;
    overflow:hidden;
	float:left;
	float:left;
    margin:0 10px 0 0;
    vertical-align: middle;
    display: inline-block;
}
.resultCont .wenda .infos{
    vertical-align: top;
    margin:0;
    width:600px;
	float:left;
    display: inline-block;
}
.resultCont .wenda .newsTitle{
    line-height:36px;
}
.resultCont .wenda .newsTitle p{
    line-height:36px;
	float:left;
    font-size:16px;
    display:inline-block;
    font-weight:bold;
}
.resultCont .wenda .newsTitle .dateTime{
    line-height:inherit;
    font-size:13px;
    color:#787878;
    float:right;
}
.resultCont .wenda .abstract{
    line-height:1.8;
    color:#454545;
    overflow:hidden;
}
.resultCont .wenda a.read{
    display:inline-block;
    line-height:inherit;
    background:#3fbb8c;
    color:#fff;
    border-radius:3px;
    float:right;
    text-indent:10px;
}

/* 课堂 */
.resultCont .class{
    border-bottom:1px solid #dfdfdf;
}
.resultCont .class .classTitle{
    line-height:40px;
    width:inherit;
    width:100%;
}
.resultCont .class .classTitle p{
    line-height:inherit;
    font-size:16px;
    display:inline-block;
    font-weight:bold;
}
.resultCont .class .classTitle .dateTime{
    line-height:inherit;
    font-size:13px;
    color:#787878;
    float:right;
    *float:none;
}

/* 搜索无结果 */
.resultCont .resultNull{
    padding:50px 0;
    text-align:center;
}
.resultCont .resultNull p{
    margin:0;
    line-height:36px;
    width:100%;
}
.resultCont .resultNull img{
    display:inline-block;
    margin:0 10px 0 0;
    width:80px;
}
.resultCont .resultNull span{
    padding:0 3px;
    color:#f60;
    line-height:inherit;
}


/* 分页链接 */
.pageLink{
	text-align:center;
	margin:25px 0 20px 33px;
	display:none;
	height:45px;
}
.pageLink span.JsPage{
	border:1px solid #d8d8d8;
	border-radius:5px;
	padding:0 15px;
	line-height:2.4;
	font-size:14px;
	background:#fff;
	margin:0 3px;
	float:left;
	cursor:pointer;
}
.pageLink span.JsPage:hover{
	border-color:#3fbb8c;
	color:#3fbb8c;
	}
.pageLink span.on,.pageLink span.on:hover{
	background:#3fbb8c;
	border-color:#3fbb8c;
	color:#fff;
	}
.pageLink ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.pageLink ul:before,.pageLink ul:after{
	display: table;
	line-height: 0;
	content: "";
	clear:both;
	}
.pageLink ul li{
	display:inline-block;
	}
.pageLink ul li.active a{
	border-color:#f60;
	color:#f60;
	font-size:14px;
	line-height:28px;
	}
.pageLink a{
	display:inline-block;
	border:1px solid #d8d8d8;
	border-radius:5px;
	padding:0 15px;
	line-height:2.4;
	font-size:14px;
	background:#fff;
	margin:0 3px;
}
.pageLink input{
	width:60px;
	text-align:center;
	vertical-align:top;
	margin:0;
	}
.pageLink button{
	font-size:14px;
	line-height:2.4;
	padding:0 15px;
	background:#fff;
	border-radius:5px;
	border:1px solid #d8d8d8;
	vertical-align: top;
}
.pageLink .pagebar{
	float:left;
	max-width:580px;
	overflow:hidden;
	vertical-align:top;
}
.pageLink .pageNums{
	padding:0 10px;
	height:35px;
	line-height:35px;
	float:left;
	}
.pageLink .pagebar span{
	display:block;
	float:left;
	width:50px;
	text-align:center;
	padding:0;
	}
/* 样式覆盖 */
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
	margin-bottom:10px;
}
body{
	background:#f5f5f5;
}
.row-fluid .span3 {
    width: 23.404255319148934%;
}
.row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 71.46808510638297%;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
	color:#535353;
}
a{
	color:#444;
}






