/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
body{
	background:#efefef;
}
.con .orderDetail{
	background:#fff;
	padding:15px;
	margin-bottom:15px;
}
.con .order_news{
    background-color: #fff;
    margin-top: 10px;
}
.con h2{
    font-size: 15px;
    color: #313131;
    height:36px;
    line-height:36px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
.con .order_news p{
    padding: 6px 10px;
}
.con .order_news strong{
    color: #b5b5b5;
    float: left;
    width: 84px;
}
.con .order_news span{
    color: #313131;
    width: 70%;
    float: left;
}
.con .order_news span.cbdreduce{
	color:#ff4444;
}
.con .order_news span.yfadd{
	color:#40bb8c;
}
.con .order_news em{
	color:#313131;
}
.con .order_news em.add{
	color:#40bb8c;
	font-size:16px;
}
.con .order_news em.reduce{
	color:#ff4444;
	font-size:16px;
}

/*商品信息*/
.news_lst{
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.pro_news{
    background-color: #fff;
    margin-top: 10px;
}
.pro_news .pro {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    padding: 10px;
}
.pro_news .news_pic {
    float: left;
}
.pro_news .news_pic img {
    width: 70px;
}
.pro_news .news_bd {
    float: left;
    width: 72%;
    color: #313131;
    padding: 0 6px;
    line-height: 22px;
}
.pro_news .news_bd p.num {
    color: #898989;
}
.pro_news .price {
    text-align: left;
    color: #ff6262;
    font-size: 14px;
    margin-top: 5px;
}
.pro_news .price em {
    font-size: 12px;
}
.pro_news .price ins {
    color: #313131;
    text-decoration: none;
    font-size: 12px;
}
.pro_news .price span {
    float: right;
    color: #ff4d5a;
    font-size: 14px;
}
.pro_news .order_news p.last{
    text-align: right;
    border-top: 1px solid #eee;
}
.pro_news .order_news p.last strong{
    width:auto;
    float: none;
}
.pro_news .order_news p.last span{
    width:auto;
    float: none;
    color: #ff4444;
}
.pro_news .order_news p:nth-child(1) em{
    border-right: 1px solid #313131;
    color: #313131;
    padding:0 3px;
}/*回收样式*/
.pro_news .order_news p:nth-child(1) em:last-child{
    border:0 none;
    padding: 0;
}/*回收样式*/

/*物流信息*/
.fllow_news{
    background-color: #fff;
    margin-top: 10px;
}
.fllow_news div.fllow_news1,.fllow_news div.fllow_news2,.fllow_news div.fllow_news3{
    display: none;
}
.fllow_news div.current{
    display: block;
}
.outorin{
    border-bottom: 1px solid #eeeeee;
    padding-left: 8px;
    margin: 10px 0;
    height: 36px;
}/*维修样式*/
.outorin span{
    display: inline-block;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #898989;
		cursor:pointer;
}/*维修样式*/
.outorin span.current{
    border: 1px solid #e5e5e5;
    border-bottom-color: #fff;
    color: #313131;
}/*维修样式*/
.fllow_news ul.dad {
    display: inline-block;
    padding-top: 15px;
    margin-left: 20px;
    float: left;
}
.fllow_news li.on b {
    border-color: #40bb8c;
}
.fllow_news ul.dad li p {
    width: 2px;
    height: 55px;
    display: block;
    background: #dfdfdf;
}
.fllow_news li b {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display:block;
    margin-left: -4px;
}
.fllow_news ul.dad li.on p {
    background: #3fb88c;
}
.fllow_news ul.son{
    float: left;
    width: 86%;
    margin-left: 15px;
    margin-top: 10px;
    color: #313131;
}
.fllow_news ul.son li{
    margin-top: 11px;
	height:54px;
	color:#535353;
}
.fllow_news ul.son li:first-child{
    margin-top: 0;
}
.fllow_news ul.son li:first-child{
    color: #f4a600;
}
.fllow_news ul.son li:first-child strong{
    color: #f4a600;
}
.fllow_news ul.son strong{
    color: #b5b5b5;
	display:block;
	font-weight:normal;
	font-size:12px;
	margin-top:5px;
}