/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.bd-b .ul_tit{
    margin-top: 10px;
    height: 48px;
    background-color: #eee;
    border: 1px solid #dcdcdc;
}
.bd-b .ul_tit li{
    float: left;
    text-align: center;
    line-height: 48px;
}
.bd-b .ul_tit li.one{
   width: 352px;
}
.bd-b .ul_tit li.two{
   width: 166px;
}
.bd-b .ul_tit li.three{
   width: 166px;
}
.bd-b .ul_tit li.five{
   width: 166px;
}
.bd-b .ul_bd{
  margin-top: 10px;
}
.bd-b .ul_bd li{
  border: 1px solid #dcdcdc;
  margin-bottom: 13px;
}
.bd-b .ul_bd li.empty{
	border:0 none;
	text-align:center;
}
.bd-b .ul_bd .list_tit,
.bd-b .ul_bd .list_btn{
   height: 42px;
   padding: 0 16px;
   color: #535353;
   background-color: #f4f4f4;
   line-height: 42px;
}
.bd-b .ul_bd .list_tit time{
   margin-right: 10px;
}
.bd-b .ul_bd .list_tit .order{
   margin-right: 43px;
}
.phpic{
  display: inline-block;
  width:352px;
}
.phpic .iphone{
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
.list_bd{
  padding: 20px 11px;
}
.list_bd .phpic_id{
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width:260px;
}
.list_bd .phpic_id span{
  display: block;
  line-height: 22px;
  color: #535353;
}
.list_bd .phpic_id span.color{
  color: #b5b5b5;
}
.list_bd .phpic_id span.introduce a.customer{
  color: #ff4444;
  font-size:12px;
  padding-left:20px;
}
.ul_bd span.two,
.ul_bd span.three,
.ul_bd span.four,
.ul_bd span.five{
  display: inline-block;
  text-align: center;
}
.ul_bd span.five{
  width: 161px;
  vertical-align: 1px;
}
.ul_bd span.two{
  width: 161px;
  color: #535353;
}
.ul_bd span.two strong{
  display: block;
  font-size: 12px;
  color: #898989;
}
.ul_bd span.three{
  width: 161px;
  color: #40bb8c;
  vertical-align: 1px;
}
.bd-b .ul_bd .list_btn span.three {
	width: auto;
	vertical-align:0;
	margin-right:10px;
}
.bd-b .ul_bd .list_btn a{
  width: 94px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  display:inline-block;
  border-radius: 5px;
  margin: 5px auto 0;
  float:right;
  cursor:pointer;
}
.bd-b .ul_bd .list_btn a.send{
  background-color: #40bb8c;
}

.pageLink ul li.active a{
	line-height:2.4;
}
.ul_bd .list_tit .delete {
    width: 14px;
    cursor: pointer;
    height: 100%;
    background: url(../images/2016/icon.png) -457px 14px no-repeat;
    display: inline-block;
    float: right;
}

.con .posF{
    display: none;
}
.posF .hd{
    border-bottom:2px solid #dfdfdf;
}
.posF .hd p{
    line-height:50px;
    font-size: 20px;
    color: #535353;
    text-indent:2em;
    margin:0;
}
.posF .bd{
    padding:30px;
}
.posF .rope{
    padding:0;
    margin:0 25px 10px 25px;
    text-align:center;
}
.posF .rope input{
    width:296px;
    height: 33px;
    border-color: #e5e5e5;
    margin:0;
}
.posF .rope select {
    width:310px;
    height: 43px;
    margin:0;
    border-color: #e5e5e5;
}
.posF .rope button{
    display:inline-block;
    padding:0 15px;
    line-height:2;
    font-size:14px;
    width: 105px;    
    font-family: "微软雅黑";
    height: 40px;
    cursor: pointer;
    border:0;
    border-radius:4px;
	margin-left: 23px;
}
.posF .rope button.off{
    background-color: #b5b5b5;
    color:#fff;
    margin-left:0;
}
.posF .rope label{
    margin:0;
    text-align:left;
    color:#898989;
    font-size: 16px;
}
.posF .rope label input{
    vertical-align:-1px;
    height: auto;
    width:auto;
    display:inline-block;
}
.posF .rope .submit{
    background:#3fb88c;
    color:#fff;
}
.posF .rope  span{
    display: inline-block;
    width: 70px;
    color:#535353;
}
.box400 .hd .off {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 15px;
    background: url(../images/2016/icon.png) -79px -132px no-repeat;
    cursor: pointer;
}
.con .box400{
    border-radius: 6px;
	width:500px;
}