/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.prod table{
  width:100%;
  border:1px solid #dfdfdf;
  margin:0 0 20px 0;
  border-top:0;
  margin-top: 16px;
}
.prod tr{
}
.prod th{
  font-size:13px;
  color:#555;
  font-weight:normal;
  background:#efefef;
  border-bottom:1px solid #dfdfdf;
  line-height:30px;
}
.prod td{
  text-align:center;
  padding:0;
}
.prod td p{
  margin:0;
}
.prod .prodInfo{
  width:500px;
}
.prod .money{
  width:200px;
}
.prod .number{
  width:255px;
}

.prod .im{
  float:left;
  text-align:center;
  width:100px;
  height:100px;
  padding:0;
  margin:0;
}
.prod .im img{
  height:80px;
  width:auto;
  padding:10px 0;
}
.prod .info{
  float:left;
  height:100px;
  overflow:hidden;
  width:360px;
}
.prod .info p{
  padding-left:10px;
}
.prod .prodName{
  text-align:left;
  font-size:14px;
  line-height:40px;
  height:40px;
  padding-top:10px;
}
.prod .prodAttr{
  text-align:left;
  font-size:12px;
  color:#777;
  line-height:22px;
  height:44px;
  overflow:hidden;
}
.order dl{
  margin:0 0 15px 0;
}
.order dl dt{
  line-height:30px;
  font-size:14px;
  font-weight:normal;
  color:#313131;
}
.order dl dd{
  margin:0;
}
.order dl dd input{
  margin:0;
}
.order dl dd select{
  margin:0;
  border-color: #ccc;
}
.order dl dd textarea{
  resize:none;
  width:600px;
  height:120px;
  margin:0;
}
.order dl dd button{
  background:#3fb88c;
  color:#fff;
  border:0;
  width:120px;
  text-align:center;
  border-radius:4px;
  margin:0;
  cursor: pointer;
  font:14px/2 "微软雅黑";
}
.order dl dd label{
  float:left;
  line-height:30px;
  padding:0 10px;
  color:#4a4a4a;
  margin:0;
  cursor: pointer;
}
.order dl dd label input{
  margin:0 3px;
  vertical-align:-2px;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
