/* 
* @Author: Marte
* @Date:   2016-05-21 17:57:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-26 09:25:43
*/
.con{
	margin:0 auto;
	background: url(../images/2016/store_tbg.jpg) -106px 0;
    padding: 20px;
    margin-top: 15px;
    width: 874px;
    height: 555px;
    background-size: cover;
}
.create{
	color: #fff;
    float: left;
    font-size: 24px;
    line-height: 45px;
    margin: 80px 0 0 15px;
    width: 460px;
}
.main_Box{
	margin: 60px 0 0 50px;
}
.main_Box img{
	width: 325px;
	float:left;
}








