/* 
* @Author: Marte
* @Date:   2016-03-07 14:08:03
* @Last Modified by:   Marte
* @Last Modified time: 2016-03-17 09:10:08
*/
/*初始化css代码*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img,input{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑";
    background:#fff;
}
input{
    border:0 none;
    outline-style:none;
}
h1, h2, h3, h4, h5, h6,strong{
    font-size:12px;
    font-weight:normal;
}
i,em{
    font-style:normal;
}
fieldset,img{
    border:0 none;
}
img{
    display:block;
}
ul, ol {
    list-style:none;
}
a{
    text-decoration:none;
    color: #707070;
}
select, input, textarea {
    font-size:12px;
    margin:0;
}
textarea {
    resize:none;
}
.wrap{
    width: 1036px;
    margin:0 auto;
}
.clearfix{
    *zoom:1;
}
.clear{
    clear:both;
}
.clearfix:before,.clearfix:after{
    display:table;
    line-height:0;
    content:"";
}
.clearfix:after{
    clear:both;
}
/* header */
.header p {
    width: 100%;
    height: 222px;
	position: relative;
}
.header p.p1 {
    background: url(../images/2016/special/header_hd_1.jpg) no-repeat center;
}
.header p.p2 {
    background: url(../images/2016/special/header_hd_2.jpg) no-repeat center;
}
.header p.p3 {
    background: url(../images/2016/special/header_hd_3.jpg) no-repeat center;
}
.header p.p4 {
    background: url(../images/2016/special/header_hd_4.jpg) no-repeat center;
}

.header a.now-join {
    color: #f16635;
	font-size: 34px;
	text-align: center;
	height: 68px;
	line-height: 68px;
	border-radius:20px;
	width: 408px;
	position: absolute;
	top:604px;
	left:50%;
	margin-left: -217px;
	background-color: #fff;
}
.content{
	background-color: #6db3f4;
	padding-bottom: 30px;
}
.content .platform .intro{
	background: url(../images/2016/special/intro_1.png) top center no-repeat;
    margin: 0 auto;
    width: 759px;
    height: 157px;
    padding-top: 23px;
    padding: 71px 100px 100px 88px;
}
.content .platform .intro p{
	line-height: 32px;
	color: #2a79c2;
	font-size: 18px;
	font-weight: bold;
	text-indent:2em;
}
.content .join-mod .num{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	margin-top: 20px;
}
.content .join-mod .text{
	font-size: 30px;
	color: #fff;
	margin-bottom: 28px;
}
.content .why-join .detial{
	background-color: #feff01;
	border-radius:15px ;
	padding:53px 65px 40px 47px;
}
.content .why-join .detial .advantage{
	text-align: center;
	float: left;
}
.content .why-join .detial .advantage .icon{
	width: 60px;
	height: 68px;
	background: url(../images/2016/special/specialbg.png) -10px -10px no-repeat;
	display: inline-block;
}
.content .why-join .detial .advantage p{
	text-align: left;
	line-height: 28px;
	font-size: 16px;
	color: #2184c7;
	position: relative;
	padding-left: 15px;
}
.content .why-join .detial .advantage .circle{
	width: 7px;
	height: 7px;
	border-radius:50% ;
	background-color: #2184c7;
	position: absolute;
	top: 9px;
	left: 0;
}
.content .why-join .detial .advantage2 .icon{
	width: 39px;
	height: 68px;
	background-position: -80px -10px;
}
.content .why-join .detial .advantage3 .icon{
	width: 107px;
	height: 68px;
	background-position: -129px -10px;
}
.content .why-join .detial .advantage4 .icon{
	width: 71px;
	height: 65px;
	background-position: -246px -10px;
}
.content .why-join .detial .advantage5 .icon{
	width: 65px;
	height: 65px;
	background-position: -326px -10px;
}
.content .why-join .detial .advantage6 .icon{
	width: 75px;
	height: 65px;
	background-position: -401px -10px;
}
.content .why-join .detial .advantage1,.content .why-join .detial .advantage4{
	width: 282px;
}
.content .why-join .detial .advantage2,.content .why-join .detial .advantage5{
	width: 251px;
	margin: 0 69px;
}
.content .why-join .detial .advantage3,.content .why-join .detial .advantage6{
	width: 251px;
}
.content .why-join .detial .advantage4,.content .why-join .detial .advantage5,.content .why-join .detial .advantage6{
	margin-top: 46px;
}
.content .difference .detial{
	background: url(../images/2016/special/intro_2.png) top center no-repeat;
	width: 1036px;
	height: 467px;
	display: block;
	margin: 0 auto;
}
.content .case .detial{
	background-color: #feff01;
	padding:40px;
	border-radius:15px;
}
.content .case .detial img{
	display: block;
	margin:0 auto 13px;
}
.content .case .detial img:last-child{
	margin:0 auto;
}
.content .join-know{
	margin-top: 60px;
}
.content .join-know h3{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.content .join-know p{
	font-size: 16px;
	color: #fff;
	margin-top: 20px;
}
.content .now-join a{
	position: relative;
	width: 311px;
	display: block;
	height: 70px;
	line-height: 70px;
	margin: 10px auto;
}
.content .now-join p.tips{
	text-align: center;
	color: #feff01;
	margin-top: 15px;
}
.content .now-join a .topz{
	width: 311px;
	display: block;
	height: 70px;
	line-height: 70px;
	margin: 6px auto 30px;
	background-color: #feff01;
	text-align: center;
	font-size: 30px;
	color: #247db9;
	font-weight: bold;
	border-radius:10px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}
.content .now-join a .shadow{
	position: absolute;
    width: 320px;
    height: 79px;
    background-color: #cbcc00;
    border-radius: 10px;
    bottom: -15px;
    left: -4px;
}







































