/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.protit h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.con-right{
	position:relative;
	padding: 17px 22px;
}
.bg_Box{
	background:url(../images/2016/store_tbg.jpg) -106px 0;
	padding:20px 0;
	margin-top:15px;
	width:874px;
	height:555px;
	background-size:cover;
}
.main_Box{
	width: 356px;
    height: 472px;
    margin: 60px 0 20px 132px;
    background-color: #90e5c4;
    float: left;
	overflow: hidden;
}
.mainbg_Box{
	background-color:#fff;
	margin:10px;
	border-radius: 5px;
}
.main_Box .user_news{
	height:40px;
	line-height:40px;
	padding:15px 15px 15px 30px;
}
.main_Box .user_news .user{
	height:46px;
	width:46px;
	overflow:hidden;
	border-radius:5px;
	float:left;
}
.main_Box .user_news img{
	width:46px;
}
.main_Box .user_news h1{
	font-size:16px;
	color:#000;
	margin-left:15px;
	float:left;
	height:40px;
}
.introduce h2{
	height:40px;
	line-height:40px;
	background-color:#eeeeee;
	text-align:center;
}
.img_Box{
	width: 220px;
	margin:20px auto 10px;
}
.img_Box img{
	border:10px solid #eee;
	width: 220px;
	box-sizing:border-box;
}
.main_Box p{
	color: #535353;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 10px;
    text-align: center;
}
.share_four{
	margin: 170px 0 0 50px;
    width: 230px;
    float: left;
}
.jiathis_style_32x32 strong{
	display:block;
	text-align:center;
	color:#313131;
	height:40px;
	cursor:pointer;
	margin:20px 0;
	padding:5px 15px;
	line-height:40px;
	width:230px;
	box-sizing:border-box;
	font-size:18px;
	
	border-radius:5px;
}
.jiathis_style_32x32 strong:hover{
	background-color:#fff;
}
.jiathis_style_32x32 strong:hover a{
	color:#707070;
}
.jiathis_style_32x32 strong em{
	margin-left:5px;
	display:inline-block;
}
.jiathis_style_32x32 .jiathis_txt{
	font-size:18px!important;
}











