/* 
* @Author: Marte
* @Date:   2016-04-29 09:19:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:57:28
*/
/*css初始化代码*/
*{ margin:0; padding:0; }
body{font-size: 14px;font-family:"微软雅黑";}
input,button{outline-style:none;}
h1, h2, h3, h4, h5, h6,strong{ font-size:14px; font-weight:normal;}
i,em{ font-style:normal;}
ul, ol { list-style:none;}
a{text-decoration:none;color: #8b8b8b;}
.wrap{ width: 1000px; margin:0 auto;}
.clearfix{*zoom:1}
.clear{clear:both;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}

.header .logo {
    float: left;
}
.header .logo p.h1 {
    width: 129px;
    height: 38px;
    background: url(../images/2016/logo.png) 0 0 no-repeat;
    margin: 13px 0;
}
.header .logo p.h1 a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.header .nav{
    float: right;
}
.navbg {
    background-color: #fff;
}
.header ul li {
    float: left;
    height: 57px;
    line-height: 57px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}
.header ul li a {
    color: #313131;
    display: inline-block;
}
.header ul li a:hover{
    color:#40bb8c;
}
.bodybg{
    position: relative;
}
.bodybg img{
    width:100%;
    height:auto;
}
.bodybg .Login{
    height: 429px;
    position: absolute;
    left:50%;
    margin-left: -500px;
    top:13%;
}
.bodybg .Login-body{
    width: 380px;
    /*height:  455px;*/
    border: 1px solid #c9c9c9;
    background-color: #fff;
    box-shadow: 2px 2px 10px #dcdcdc;
    position: absolute;
    right:20px;
    top:0;
}
.Login-body h1{
    height:77px;
    font-size: 20px;
    font-weight:bold;
    color:#313131;
    line-height:77px;
    padding-left:30px;
    border-bottom: 1px solid #eeeeee;
}
.Login-body h1 a{
    color:#40bb8c;
    float: right;
    font-weight:normal;
    font-size: 14px;
	*margin-top:-50px;
}
.Login-body h1 a i{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 30px 0 4px;
	*margin:-20px 30px 0 4px;
    vertical-align: -5px;
    background:  url(../images/2016/icon.png) -71px -478px no-repeat;
}
.Login-body .content{
    padding:0 32px;
}
.Login-body .content p{
    color:#797979;
    height: 28px;
    margin-top:12px;
}
.Login-body .content p.input{
    margin: 0;
    height:auto;
    position: relative;
}
.Login-body .content p.textInput i,
.Login-body .content p.passwordInput i{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 17px;
    height: 19px;
    background:  url(../images/2016/icon.png) -73px -426px no-repeat;
}
.Login-body .content p.passwordInput i{
    background-position: -73px -455px;
}
.Login-body .content a.member{
    display: block;
    text-align: right;
    color:#40bb8c;
    margin-top: 5px;
}
.Login-body .content .tips{
    color: #ff0000;
    font-size: 12px;
    padding-top: 10px;
}
.Login-body .content button{
    width:100%;
    height:47px;
    background-color: #40bb8c;
    color:#fff;
    text-align: center;
    margin-top: 23px;
    line-height: 47px;
    cursor: pointer;
    border-radius: 5px;
    border:0 none;
    font:16px "微软雅黑";
}
.bodybg .Login-body .content input{
    width: 100%;
    *width: 284px;
    box-sizing: border-box;
    padding:0 5px 0 32px;
    font-size: 16px;
	background:#fff;
    height:42px;
	line-height:42px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fff;
}
/* 合作伙伴登录 */
.login_extinfo {
    width: 300px;
    margin: 0 auto;
    padding: 35px 0 20px 0;
}
.login_extinfo .optbar {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: -15px 0 25px;
    zoom: 1;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}
.login_extinfo .optbar .tit {
    position: absolute;
    left: 50%;
    top: 10px;
    margin: 0 0 0 -60px;
    background: #fff;
    width: 120px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.api_login {
    width: 270px;
    height: 30px;
    margin: 0 auto;
    zoom: 1;
}
.api_login li {
    width: 30px;
    *width: 66px;
    height: 30px;
    margin:0 auto;
    overflow: hidden;
    zoom: 1;
}
.api_login li a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/2016/icon.png) no-repeat -31px -549px;
}


.footerbg{
    background-color: #515151;
    width: 100%;
    height:40px;
    line-height: 40px;
}
.footer{
    margin:-4px auto 0!important;
}
.footer p{
    text-align: center;
    color:#fff;
    font-size:12px;
}

























