/* 
* @Author: Marte
* @Date:   2016-05-09 16:12:38
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:38:40
*/
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.prolist ul li{
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.prolist ul li .msg{
    margin-top: 15px;
}
.prolist ul li .msg input{
    cursor: pointer;
}
.prolist ul li .msg span{
    color: #535353;
}
.prolist ul li .msg time{
    color: #b5b5b5;
    float: right;
    margin-right: 6px;
    font-size: 12px;
}
.prolist ul li .msg span.noread{
	font-weight:bold;
}
.probtm{
    margin-top: 26px;
}
.probtm .both{
    float: left;
}
.probtm .both button{
    height: 28px;
    width: 60px;
    font:14px "微软雅黑";
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    background-color: #40bb8c;
    color:#fff;
    display: inline-block;
}
.probtm .both i{
    width: 14px;
    margin-left: 26px;
    height: 14px;
    display: inline-block;
    background:  url(../images/2016/icon.png) -457px 0 no-repeat;
	cursor:pointer;
}