/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
input{
    padding:5px ;
    font:14px "微软雅黑";
}
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.safe_level{
    margin: 15px 0;
    color: #757575;
    line-height: 5px;
}
.safe_level strong{
    color: #2b2b2b;
}
.con .safe_level  p {
    border: 1px solid #dfdfdf;
    height: 6px;
    margin: 0 218px 0 10px;
    vertical-align: middle;
    width: 64%;
    float: right;
    line-height: 25px;
    border-radius: 5px;
}
.safe_level p span.level1 {
    display: block;
    width: 10%;
    background: #ff4444;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level2 {
    display: block;
    width: 25%;
    background: #ff4444;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level3 {
    display: block;
    width: 50%;
    background: #ff9c00;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level4 {
    display: block;
    width: 75%;
    background: #ff9c00;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_level p span.level5 {
    display: block;
    width: 100%;
    background: #40bb8c;
    float: none;
    height: 6px;
    border-radius: 5px;
}
.safe_style p{
    color: #757575;
    margin: 15px 0;
}
.safe_style  ul{
    width: 100%;
    height:auto;
	margin: 32px 0;
}
.safe_style  ul li{
   text-align: center;
   width: 25%;
   *width: 24%;
   float: left;
   padding: 10px 0;
   word-wrap: break-word;
   color: #292929;
}
.safe_style  ul li img{
   width: 106px;
}
.safe_style .pic_con{
    margin: 6px 0;
}
.safe_style .none{
    color: #898989;
}
.safe_style .reset{
   color: #3ebb8d;
   font-size: 12px;
   cursor: pointer;
}
.safe_style .reset a{
	color: #3ebb8d;
}
.safe_style .reset a:hover{
	color: #3ebb8d;
}

button{
  font-family: "微软雅黑";
}
.posF{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "微软雅黑";
    color:#535353;
    display:none;
}
.hide{
  display: none;
}
.posF .bd{
  width:auto;
  display:block;
  padding: 12px 15px;
}
.posF .bd .tips{
  color:#f60;
  line-height:20px;
  text-align:Center;
  margin-bottom:10px;
}
.posF .bd .rope{
  margin:0 0 10px 0;
  width:inherit;
  display:block;
}
.posF .bd .rope:before{
  content:'';
  line-height:0;
  display:table;
}
.posF .bd .rope:after{
  content:'';
  line-height:0;
  display:table;
  clear:both;
}
.posF .bd .rope button{
  width:105px;
  background:#3fbb8c;
  color:#fff;
  border-radius:4px;
  border:1px solid #3fbb8c;
  height:36px;
  line-height:36px;
  margin:auto;
  padding:0;
  cursor: pointer;
}
.posF .bd .rope input{
  display:block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 382px;
}
.posF .bd .rope p{
  margin:0;
  font-size:14px;
  line-height:28px;
  text-align:left;
}
.posF .bd .posR{
  z-index:0;
  width:inherit;
}
.posF .bd .ImgCode img{
  height:34px;
  width:auto;
  margin:auto;
  display:block;
  right:0;
  top:0;
  border:1px solid #ccc;
  border-radius:4px;
  border-left:0;
}

.posF .bd .mesg .submit{
  display:none;
}
.posF .bd .after{
  display:none;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.con .box700 {
    background: #fff;
    border: 0 none;
    border-radius:5px;
    width: 426px;
}
.box700 .hd {
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.box700 .hd .off {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 15px;
    background: url(../images/2016/icon.png) -79px -132px no-repeat;
    cursor: pointer;
}
.posA {
    position: absolute;
}
.posR {
    position: relative;
}
.box700 .hd p {
    margin: 0;
    padding: 0 15px 0 15px;
    line-height: 50px;
    text-align:left;
    font-size: 16px;
	font-weight:bold;
    color: #535353;
}
input{
    font-family:"微软雅黑";
    height:26px;
}