/* 
* @Author: Marte
* @Date:   2016-04-29 09:19:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:57:28
*/
/*css初始化代码*/
*{ margin:0; padding:0; }
body{font-size: 14px;font-family:"微软雅黑";background:#fff;}
input,button{outline-style:none;}
input{background:#fff;}
h1, h2, h3, h4, h5, h6,strong{ font-size:14px; font-weight:normal;}
i,em{ font-style:normal;}
ul, ol { list-style:none;}
a{text-decoration:none;color: #8b8b8b;}
.wrap{ width: 1000px; margin:0 auto;}
.wrap1{ width: 316px; margin:0 auto;}
.clearfix{*zoom:1}
.clear{clear:both;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
.header .logo {
    float: left;
}
.header .logo p.h1 {
    width: 129px;
    height: 38px;
    background: url(../images/2016/logo.png) 0 0 no-repeat;
    margin: 13px 0;
}
.header .logo p.h1 a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.header .nav{
    float: right;
}
.navbg {
    background-color: #fff;
    border-bottom:2px solid #40bb8c;
}
.header ul li {
    float: left;
    height: 57px;
    line-height: 57px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}
.header ul li a {
    color: #313131;
    display: inline-block;
}
.header ul li a:hover{
    color:#40bb8c;
}
.bodybg{
    margin:58px auto 320px;
    position: relative;
}
.rope{
    margin-bottom:18px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    color:#000;
}
.rope input{
    height: 28px;
    width: 298px;
    font:14px "微软雅黑";
    border:1px solid #dcdcdc;
    border-radius:4px;
    padding:5px 8px;
	line-height:28px;
}
.mesgCode input{
    width: 132px;
    height: 28px;
    float: left;
}
.agreement input{
    width: auto;
    height:auto;
    vertical-align:-1px;
}
.agreement a{
    color:#40bb8c;
}
.mesgCode button{
    float: right;
    width: 150px;
    height: 40px;
    background-color: #40bb8c;
    color:#fff;
    border-radius:2px;
    border:0 none;
    cursor: pointer;
    font:14px "微软雅黑";
    border-radius:3px;
}
.agreement{
    margin-bottom: 27px;
}
.buttonRegist{
    margin-bottom: 8px;
}
.buttonRegist .regist{
    width: 316px;
    cursor: pointer;
    height:40px;
    color:#fff;
    background-color: #40bb8c;
    border:0 none;
    font:14px "微软雅黑";
    border-radius:5px;
}
.rope p{
    color:#b5b5b5;
}
.rope p a{
    color:#40bb8c;
}
div.tips{
    color:#ff4444;
    position: absolute;
    left: 0;
    top: 293px;
}

.footerbg{
    background-color: #515151;
    width: 100%;
    height:40px;
    line-height: 40px;
}
.footer{
    margin:-4px auto 0!important;
}
.footer p{
    text-align: center;
    color:#fff;
    font-size:12px;
}

.posF {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.posR{
	position:relative;
}
.posA{
	position:absolute;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    z-index: -1;
}
[class*="box"] {
    margin-top: 6%;
    height: auto;
    background: #fff;
    border: 5px solid #e8e8e8;
    margin-left: auto;
    margin-right: auto;
}
.box300{
	width:400px;
	border: 2px solid #dfdfdf;
    border-radius: 5px;
}
.posF{display:none;}
.posF .hd{line-height:40px;border-bottom:1px solid #dfdfdf;}
.posF .hd p{margin:0;line-height:inherit;}
.posF .bd{padding:15px 25px;text-align:center;}
.posF .bd .ropes{margin-bottom:10px;position:relative;}
.posF .bd .ropes input{margin:0;}
.posF .bd .ropes img{}
.posF .bd .msg {color:#f00;line-height:22px;margin:0 0 10px 0;}
.posF .bd .btn{
	text-align:left;
}
.posF .bd .ropes button{
	width: 105px;
    background: #3fbb8c;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #3fbb8c;
    height: 40px;
    margin: auto;
    padding: 0;
    cursor: pointer;
	display:inline-block;
	font:14px/40px "微软雅黑";
}
.posF .bd .ropes button.send{background:#3fbb8c;color:#fff;}
.box300 .hd .off {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 15px;
    background: url(../images/2016/icon.png) -79px -132px no-repeat;
    cursor: pointer;
}
.box300 .hd p {
    margin: 0;
    padding: 0 15px 0 15px;
    line-height: 50px;
    text-align: left;
    font-size: 18px;
    color: #535353;
}
.posF .bd .ropes input {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 27px;
    color: #333;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 337px;
}
.posF .bd .ropes img {
    height: 34px;
    width: auto;
    margin: auto;
    display: block;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: 0;
}
















