/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.protit h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.con .lst{
	margin-top:20px;
}
.con .lst p{
	line-height:24px;
	color:#535353;
	margin:10px 0;
	font-size:15px;
	letter-spacing:1px;
	text-indent:30px;
}
.con .lst .lst{
	text-indent:0;
}
.con .lst p strong{
	color:#313131;
	font-size:15px;
	font-weight:bold;
}
.con .lst p.special{
	background-color: rgb(248,249,250);
}










