/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
input{
    padding:5px ;
    font:14px "微软雅黑";
}
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.prolist ul{
    padding: 20px 0;
    list-style:none;
    width:870px;
}
.prolist ul li {
    width: 278px;
    height: 125px;
    border: 1px solid #dcdcdc;
    margin: 0 10px 25px 0;
    float: left;
	cursor:pointer;
}
.prolist ul li.current{
	border-color:#40bb8c;
}
.prolist ul li .mt {
    background: #fcfcfc;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
}
.prolist ul li .mt .bank-logo {
    text-indent: 0;
    line-height: 50px;
}
.prolist ul li .mt span{
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.prolist ul li .mt .tail-number {
    color: #323232;
    font-weight: 700;
    width: 78px;
    padding-right: 5px;
    text-align: right;
    font-size: 14px;
}
.prolist ul li .mt .saving {
    background-color: #5b9fe2;
}
.prolist ul li .mt .credit{
	background-color: #ff7674;
}
.prolist ul li .mt em {
    font-family: simsun;
    font-size: 12px;
    color: #fff;
    padding: 3px 2px 3px 3px;
    font-style: normal;
}
.prolist ul li .mc {
    height: 60px;
    padding: 15px 8px 0;
}
.prolist ul li .mc .item {
    height: 23px;
    line-height: 23px;
}
.prolist ul li .mc .info {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
	font-size:12px;
}
.prolist ul li .mc .font-blue {
    vertical-align: middle;
    width: 40px;
    text-align: right;
    display: none;
	font-size: 12px;
}
.prolist p.zfb span{
    width:206px;
    border:1px solid #dcdcdc;
    border-radius:3px;
    cursor:pointer;
    height:44px;
    line-height:44px;
    color: #707070;
    display: inline-block;
    *display: inline;
    margin:27px 10px;
    text-align: center;
}
.prolist ul li .quick-add-item {
    display: block;
    height: 89px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #40bb8c;
}
.prolist ul li .quick-add-item:hover{
	color:#ff4444;
}
.prolist ul li .quick-add-item .bgpic {
    display: block;
    width: 32px;
    height: 32px;
    margin: 45px auto 10px;
    background:url(../images/2016/icon.png) -86px -209px no-repeat;
}

.con .posF{
    display: none;
}
.posF .hd{
    border-bottom:2px solid #dfdfdf;
}
.posF .hd p{
    line-height:50px;
    font-size: 18px;
    color: #535353;
	font-weight:bold;
    text-indent:2em;
    margin:0;
}
.posF .bd{
    padding:30px;
}
.posF .rope{
    padding:0;
    margin:0 25px 10px 25px;
    text-align:left;
	position:relative;
}
.posF .rope input{
    width:370px;
    height: 26px;
	line-height:26px;
    border-color: #e5e5e5;
    margin:0;
}
.posF .rope select {
    width:384px;
    height: 43px;
    margin:0;
    border-color: #e5e5e5;
}
.posF .rope button{
    display:inline-block;
    padding:0 15px;
    line-height:36px;
    font-size:14px;
    width: 105px;    
    font-family: "微软雅黑";
    height: 36px;
    cursor: pointer;
    border:0;
    border-radius:4px;
}
.posF .rope button.off{
    background-color: #b5b5b5;
    color:#fff;
    margin-right: 23px;
}
.posF .rope label{
    margin:0;
    text-align:left;
    color:#898989;
    font-size: 16px;
}
.posF .rope label input{
    vertical-align:-1px;
    height: auto;
    width:auto;
    display:inline-block;
}
.posF .rope .submit{
    background:#3fb88c;
    color:#fff;
}
.posF .rope p{
    margin:0;
    color:#969696;
    text-align:left;
}
.posF .rope  span{
    display: inline-block;
    width: 70px;
    color:#535353;
}
.posF .rope span.span-red-tip{
	top:8px;
	right:24px;
	*right:60px;
	right:60px\9;
	color:#ff4444;
	width:auto;
	left:auto; 
}
.box400 .hd .off {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    *margin-top: -30px;
    right: 15px;
    background: url(../images/2016/icon.png) -79px -132px no-repeat;
    cursor: pointer;
}
.con .box400{
    width: 620px;
    border-radius: 6px;
}
.font-blue{
	color:#5b9fe2;
}
#card .box400{
	margin-top:18%;
}
#card .bd span{
	background: url(../images/2016/icon.png) -126px -210px no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 10px;
	vertical-align:middle;
}
#card .bd .check{
	color:#535353;
	font-size:18px;
	font-weight:bold;
}
#card .bd .btn a{
	display:block;
	width:80px;
	height:36px;
	font-size:16px;
	line-height:36px;
	text-align:center;
	background-color:#ff696c;
	color:#fff;
	border-radius:3px;
	margin:15px auto;
}
#card .bd .btn a:hover{
	background-color:#ff4444;
}













