/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.prolist{
  margin-top: 30px;
}
.prolist h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
/*list*/
.prolist .protit h2{
    float: left;
}
.prolist .protit a{
  color: #ff7800;
  float: right;
  margin-top: 12px;
}
.prolist .ul_tit{
  height: 38px;
  margin-top: 17px;
  line-height: 38px;
  color: #313131;
  border-bottom: 1px solid #dcdcdc;
}
.prolist .ul_tit li{
  float: left;
  color: #313131;
}
.prolist .ul_bd li{
  height: 45px;
  border-bottom: 1px dashed #dcdcdc;
  line-height: 45px;
}
.prolist .ul_bd li span{
  display: inline-block;
}
.prolist .ul_tit li.first,.ul_bd li span.first{
  width: 60px;
  padding-left: 12px;
}
.prolist .ul_tit li.two,.ul_bd li span.two{
  width: 105px;
  text-align: center;
}
.prolist .ul_bd li span{
  color: #b5b5b5;
}
.prolist .ul_bd li span.two{
  color: #40bb8c;
}
.prolist .ul_bd li span.two .in{
  color: #2faa64;
}
.prolist .ul_bd li span.two .out{
  color: #ff9600;
}
.prolist .ul_tit li.three,.ul_bd li span.three{
  width: 105px;
  text-align: center;
}
.prolist .ul_tit li.four,.ul_bd li span.four{
  width: 186px;
  text-align: center;
}
.prolist .ul_tit li.five,.ul_bd li span.five{
  width: 396px;
  text-align: center;
}
.prolist .ul_bd li span.five{
  width: 370px;
}
.prolist .ul_bd li span.withdraw{
	color:#40bb8c;
}
.prolist .ul_bd li span.settlement{
	color:#f40;
}
.prolist .ul_bd li span.recovery{
	color:#2a6cf3;
}
.prolist .ul_bd li span.recharge{
	color:#d64cfe;
}
.prolist .ul_bd li span.return,
.prolist .ul_bd li span.pay{
	color:#ff4444;
}