/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-08 10:58:56
*/
.con-right{
	padding:10px 22px;
}
.con-r{
	border: 0 none;
}
.selectmoney{
	margin-top: 10px;
}
.selectmoney .title .rate{
	font-size: 12px;
    color: #b5b5b5;
}
.selectmoney .money ul li{
	width: 165px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    text-align: center;
    color: #313131;
    padding: 30px 0;
    font-size: 16px;
    margin-right: 20px;
    float: left;
	line-height: 22px;
    position: relative;
    cursor: pointer;
}
.selectmoney .money ul li .give{
	width: 132px;
}
.selectmoney .money ul li .cbdspecial{
	line-height:40px;
}
.selectmoney .money ul li .giveval{
	font-weight: normal;
	font-size: 16px;
}
.selectmoney .money ul li.current{
	border-color: #ff4444;
	border-width: 2px;
}
.selectmoney .money ul li .sign{
	position: absolute;
	right: 0;
	top: 0;
}
.selectmoney .money ul li span {
    color: #ff4444;
    font-size: 20px;
    font-weight: bold;
	margin-right: 0;
}
.btn_div {
	text-align: center;
	margin-top: 38px;
}
.btn_div .btn-recharge{
	display: inline-block;
	width: 160px;
    height: 50px;
    overflow: hidden;
	background-color: #ff4444;
	border-radius: 5px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
}













