/* 
* @Author: Marte
* @Date:   2016-04-29 09:19:50
* @Last Modified by:   Marte
* @Last Modified time: 2016-05-16 16:57:28
*/
/*css初始化代码*/
*{ margin:0; padding:0; }
body{font-size: 14px;font-family:"微软雅黑";}
input,button{outline-style:none;font-family:"微软雅黑";font-size:14px;}
h1, h2, h3, h4, h5, h6,strong{ font-size:14px; font-weight:normal;}
i,em{ font-style:normal;}
ul, ol { list-style:none;}
a{text-decoration:none;color: #8b8b8b;}
.wrap{ width: 1000px; margin:0 auto;}
.clearfix{*zoom:1}
.clear{clear:both;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}

.header .logo {
    float: left;
}
.header .logo p.h1 {
    width: 129px;
    height: 38px;
    background: url(../images/2016/logo.png) 0 0 no-repeat;
    margin: 13px 0;
}
.header .logo p.h1 a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.header .nav{
    float: right;
}
.navbg {
    background-color: #fff;
	border-bottom:1px solid rgba(0,0,0,0.05);
	margin-bottom:100px;
}
.header ul li {
    float: left;
    height: 57px;
    line-height: 57px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}
.header ul li a {
    color: #313131;
    display: inline-block;
}
.header ul li a:hover{
    color:#40bb8c;
}
.img_code img{
	width:151px;
	display:inline-block;
	float:right;
}
.bdCont{
    width:788px;
    border:1px solid #dcdcdc;
    border-radius:10px;
    margin:auto;
    text-align:center;
    background:#fff;
	margin-bottom: 30px;
}
.bdCont .title{
	background-color:rgba(0,0,0,0.03);
}
.bdCont .title h2{
    font-size:24px;
    line-height:2.4;
	color:#313131;
}
.bdCont form{
    margin:0;
    padding:25px 0 40px 0;
}
.bdCont .rope p{
    font-size:14px;
    line-height:2.4;
    margin:15px 0 15px 0;
    text-align:left;
	color:#535353;
}
.bdCont .rope p span{
    display:inline-block;
}
.bdCont .rope{
    margin:0 auto 30px auto;
    width:330px;
	height:42px;
	overflow:hidden;
}
.bdCont .tps{
	 margin:0 auto 15px auto;
}
.bdCont .rope input{
    padding:10px;
    width:308px;
    margin:0;
	border:1px solid #b5b5b5!important;
}
.bdCont .rope input.code{
	width:180px;
}
.bdCont .rope input#img_code{
	width: 150px;
}
.bdCont .rope #phone_login_btn,.bdCont .rope #re_code{
	margin-left: 10px;
	width: 105px;
	height: 40px;
	display:inline-block;
	background-color: #fff;
	border: 1px solid #b5b5b5;
	cursor:pointer;
	vertical-align:0;
	line-height:40px;
	cursor:pointer;
	color:#535353;
}
.bdCont .rope button{
    width:98%;
    padding:0;
    text-align:center;
    line-height:40px;
    border:0;
    border-radius:4px;
    background:#3fb88c;
    color:#fff;
	cursor:pointer;
}
.footer{
    margin:80px auto 0!important;
}
.footer p{
    text-align: center;
    color:#535353;
    font-size:12px;
}











