/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-08 10:58:56
*/
.show{
    display:block;
}
.securityTitle{
    height:45px;
    line-height: 45px;
    border-bottom:4px solid #eee;
    margin:16px 0;
}
.securityTitle strong{
    font-size: 18px;
    font-weight:bold;
    color:#000;
}
.securityCon{
    border: 1px solid #dcdcdc;
    min-height: auto;
}
.realName{
    color: #707070;
    font-size: 14px;
    line-height: 32px;
    padding: 50px 0px;
}
.realName .item {
    padding-bottom: 20px;
}
.realName .label {
    float: left;
    width: 130px;
    padding-right: 10px;
    text-align: right;
}
.realName .value {
    float: left;
    width: 730px;
}
.realName .extra {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 10px;
}
.realName .ui-input {
    height: 24px;
    line-height: 24px;
    width: 88px;
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    vertical-align: middle;
    background-color: #fff;
    color: #5e5e5e;
    font-family: arial,"microsoft yahei";
}
.realName .ui-input:focus{
    border-color:#8cb5de;
}
.realName .short-input {
    width: 68px;
}
.realName .long-input {
    width: 328px;
}
.realName .center-input {
    width: 198px;
}
.realName .yzm-btn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #e6e6e6;
    background: #f5f5f5;
    vertical-align: middle;
    color: #5e5e5e;
    margin-left: 1px;
    padding: 0 8px;
}
#creditCardMonth,
#creditCardYear{
    background-color: #fff;
    border: 1px solid #5b9fe2;
    height: 32px;
    line-height: 32px;
    width: 88px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#input-phone-code{
	margin-right:5px;
}
.support-bank .support-arrow{
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    top: -7px;
    left: 278px;
    background: url(../images/2016/icon.png) -155px -256px no-repeat;
}
.realName .agreement {
    line-height: 14px;
    padding-bottom: 10px;
}
.realName .enty-number-focus .magnifier {
    position: absolute;
    top: -30px;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #5e5e5e;
    padding: 0 10px;
    background-color: #fafcfe;
    border: 1px solid #8cb5de;
    border-bottom: 1px solid #ecf3f9;
    width: 328px;
    display: block;
}
.realName .bank-info .number {
    font-size: 14px;
    font-weight: 700;
    color: #5e5e5e;
    width: 154px;
    height: 34px;
    line-height: 34px;
    float: left;
    padding:0;
    border:0 none;
}
.realName .error-text {
    color: #ff5256;
    font-size: 12px;
    padding-left: 10px;
}
.realName .bank-info .bank-list {
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    height: 34px;
    border-radius: 4px;
}
.realName .magnifier {
    overflow: hidden;
}
.realName .link {
    font-size: 12px;
    color: #5b9fe2;
}
.realName .bank-info {
    background-color: #fff;
    width: 350px;
    position: relative;
}
.realName .bank-info .saving {
    background: #5b9fe2;
}
.realName .bank-info em{
    font-family: simsun;
    font-size: 12px;
    color: #fff;
    padding: 3px 2px 3px 3px;
    font-style: normal;
}

.support-bank .support-bank-list {
    border: 1px solid #8cb5de;
    width: 580px;
    position: absolute;
    top: 32px;
    left: -250px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
}
.support-bank .support-bank-list .suport-bank-tab{
    height:400px;
    overflow:auto;
}
.section-tab {
    overflow: hidden;
}
.section-tab .section-tab-title {
    height: 32px;
    line-height: 32px;
    border-bottom: 2px solid #ced4e0;
}
.section-tab .section-tab-title .current {
    border-bottom: 2px solid #ea544a;
}
.section-tab .section-tab-title li {
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
}
.section-tab .section-tab-title .current span {
    color: #ea544a;
}
.section-tab .section-tab-title span {
    padding: 0 20px;
    border-left: 1px solid #ced4e0;
    margin-left: -1px;
    font-size: 12px;
    font-weight: 700;
    color: #474e5d;
}

.support-bank {
    position: relative;
    z-index: 1;
}
.support-bank .text {
    color: #5b9fe2;
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
}
.support-bank .product {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
}
.support-bank .product-bg {
    background-color: #fafcfe;
}
.support-bank .product .name {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
    font-size: 12px;
    color: #5e5e5e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bank-list .bank-logo,
.bank-list .type{
    display:inline-block;
}
.bank-logo{
    display: block;
    width: 125px;
    height: 28px;
    overflow: hidden;
}
.realName .bank-info span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.realName .bank-info span img{
	vertical-align:0;
}
dl .fl{
	float:left!important;
}