/* 
* @Author: Marte
* @Date:   2016-03-19 09:11:27
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-19 09:46:29
*/
.protit h2{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.pageLink {
    padding: 45px 0 20px 0;
}
.protit{
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.con .lst{
	padding:14px 8px;
	width:100%;
}
.con .statistics{
	border:1px solid #dcdcdc;
	color:#535353;
	padding:10px;
	width:96%;
	border-radius:3px;
}
.con .statistics span{
	margin-right:10px;
	display:inline-block;
}
.lst li{
	padding:10px;
	width:50%;
	float:left;
	box-sizing:border-box;
}
.lst .empty{
	color:#535353;
	text-align:center;
	display:block;
	border:0 none;
	padding:10px;
}
.lst .empty a{
	color:#40bb8c;
}
.lst .img_Box{
	width:68px;
	height:68px;
	overflow:hidden;
	margin:0 10px 0 0;
	float:left;
	border-radius:5px;
	border:1px solid #e5e5e5;
}
.lst .img_Box img{
	width:68px;
	height:68px;
	border-radius: 5px;
	border-radius:5px;
}
.lst .text_Box{
	float:left;
	width:280px;
}
.lst .text_Box p{
	line-height:24px;
}
.lst .text_Box p.name{
	height:25px;
}
.lst .text_Box p.name strong{
	float:left;
	width:145px;
	height:24px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.lst .text_Box p.name .span_consume{
	float:right;
	width:120px;
}
.lst .text_Box .consume .span_right em{
	color:#40bb8c;
}
.lst .text_Box .name strong{
	color: #313131;
    font-size: 14px;
}
.lst .text_Box span{
	font-size:14px;
	color:#898989;
}












