/* 
* @Author: Marte
* @Date:   2016-04-25 16:34:48
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-28 14:09:04
*/
[class*=box]{
	margin:0;
	border:0 none;
	background:transparent;
}
.con-right{
	width:918px;
}
.con h2{
  font-size: 24px;
  color: #000;
  border-bottom:4px solid #eeeeee;
  padding-bottom: 11px;
}
.header-btm ul li.search input{
	width:300px;
	height:32px;
}
.header-btm ul li.search{
	top:-12px;
}
body{
	background:#edf2f0!important;
}
.con h3{
	line-height:42px;
	font-size:14px;
}
.con p{
	margin:0;
}