.header{text-align:center;margin:15px 0 25px 0}

.bdCont{width:1000px;border:1px solid #dfdfdf;border-radius:10px;margin:auto;text-align:center;background:#fff;}
.bdCont .title{border-bottom:1px solid #dfdfdf;}
.bdCont .title h2{font-size:24px;line-height:2.4;}
.bdCont form{margin:0;padding:25px 0 40px 0;}
.bdCont .rope p{font-size:14px;line-height:2.4;margin:15px 0 25px 0;text-align:left;}
.bdCont .rope a{text-align:left;color:#ff9f00;display:block;}
.bdCont .rope p span{display:inline-block;}
.bdCont .rope img{height:42px;width:auto;}
.bdCont .rope{margin:0 auto 15px auto;width:340px; text-align:left;}
.bdCont .rope input{padding:10px;width:160px;margin:0;}
.bdCont .rope button{padding:0;text-align:center;line-height:42px;border-radius:4px;border:0;background:#3fb88c;color:#fff;}
.bdCont .rope button.sendMesg{width:96%;}
.bdCont .rope button.sendMail{width:96%;}
.bdCont .rope button.submit{width:96%;}
.bdCont .rope button.mailReSend {width:110px;}
.bdCont .rope button.mesgReSend {width:110px;}
.footer{padding:25px 0 35px 0;text-align:center;}
.footer p{font-size:14px;line-height:36px;margin:0;} 
.checkError{background:url(../images/coins/checkError.png) no-repeat 310px 12px;}
.bdCont .tab{display:none;}