.header{text-align:center;margin:15px 0 25px 0}

.bdCont{width:1000px;border:1px solid #dfdfdf;border-radius:10px;margin:auto;text-align:center;background:#fff;}
.bdCont .title{border-bottom:1px solid #dfdfdf;}
.bdCont .title h2{font-size:24px;line-height:2.4;}
.bdCont form{margin:0;padding:25px 0 40px 0;}
.bdCont .rope p{font-size:14px;line-height:2.4;margin:15px 0 25px 0;text-align:left;}
.bdCont .rope p span{display:inline-block;}
.bdCont .rope{margin:0 auto 30px auto;width:330px;}
.bdCont .rope input{padding:10px;width:300px;margin:0;}
.bdCont .code input{width:180px;}
.bdCont .code img{width:auto;height:42px;}
.bdCont .rope button{width:98%;padding:0;text-align:center;line-height:40px;border:0;border-radius:4px;background:#3fb88c;color:#fff;}

.footer{padding:25px 0 35px 0;text-align:center;}
.footer p{font-size:14px;line-height:36px;margin:0;} 