.bdCont{background:#fff;border:1px solid #dfdfdf;padding:25px 35px 35px 35px;}

.title{margin:0 0 10px 0;border-bottom:1px solid #dfdfdf;width:100%;}
.title h1,.title h3{margin:0;font-size:16px;line-height:36px;padding-left:20px;font-weight: normal;}



.video{width:858px;float:left;}

.videoBx{width:100%;height:544px;}

.videos{width:250px;float:left;margin:0 0 0 20px;}
.videos .list{height:544px;overflow-x:hidden;overflow-y:auto;}
.videos .item{margin:0 0 13px 0;width:280px;}
.videos .item:last-child{margin:0;}
.videos .item .im{width:120px;height:68px;float:left;margin:0 5px 0 0;}
.videos .item .im a{display:block;}
.videos .item .im img{width:120px;height:68px;}
.videos .item .infos{float:left;width:140px;padding:0 15px 0 0;}
.videos .item p{margin:0;font-size:12px;line-height:16px;color:#888;width:inherit;}
.videos .item p.ti{margin:0 0 5px 0;}
.videos .item p a{font-size:inherit;line-height:inherit;color:#666;height:32px;overflow:hidden;width:inherit;}

.videos .join{margin:25px 0 0 0;width:280px;}
.videos .join a{display:block;width:inherit;}
.videos .join img{width:inherit;}

.videoDetail{padding:15px 0 0 0;}
.videoDetail dt{line-height:60px;padding:0 0 0 5%;border-bottom:1px solid #dfdfdf;margin:0 0 10px 0;}
.videoDetail dt h3{display: inline-block;font-size:16px;vertical-align: bottom;}
.videoDetail dt span.upDate{float: right;display:inline-block;padding:0 15px;line-height:inherit;color:#888;font-weight:normal;font-size:12px;vertical-align: bottom;}
.videoDetail dd{margin:0;line-height:26px;padding:0 3% 25px 3%;height:78px;overflow:hidden;}
.videoDetail dd span{color:#535353;}
.videoDetail dd p{text-indent:2em;}


.eval{width:318px;margin-left:10px;}
.eval .list{height:380px;overflow:auto;margin:0 0 10px 0;}
.eval dl{margin:0 0 10px 0;border-bottom:1px dashed #dfdfdf;padding:5px 0;}
.eval dt{margin:0 10px 0 0;font-weight:normal;width:60px;float:left;}
.eval dd{margin:0;float:left;width:230px;}
.eval dt .im{width:60px;height:60px;overflow:hidden;margin:0 0 10px 0;}
.eval dt .im img{width:100%;height:auto;}
.eval dd{}
.eval dd p{font-size:14px;line-height:18px;margin:0 0 5px 0;}
.eval dd p span{}
.eval dd p span img{vertical-align:top;}
.eval dd p span.fl{color:#969696;}
.eval dd p span.fr{padding:0 5px;cursor:pointer;color:#4fc0e8;}
.eval dd p.text{}
.eval .reply{}
.eval .reply textarea{height:120px;width:300px;resize:none;}
.eval .reply .btns{text-align:right;margin:0;}
.eval .reply button{margin-right:5px;padding:0 15px;line-height:2;font-size:14px;color:#fff;background:#3fb88c;border:0;border-radius:3px;}
.eval .list dl.more{cursor:pointer;text-align:center;border:0;margin:0;padding:10px 0;font-size:14px;color:#3fb88c;}

.pages{padding:25px 35px 0 35px;}
.pages p{font-size:14px;line-height:30px;margin:0;}

.prods{ clear:both;}
.prodList{}
.prodList a{display:block;width:inherit;}
.prodList .item{width:190px;margin:0 5px;float:left;}
.prodList .item:last-child{margin:0;}
.prodList .im{width:190px;}
.prodList .im span.posA{display: block;top: 0;right: 0;border-radius: 4px 0 4px 0;background: #f69900;font-size: 14px;line-height: 1.4;color: #fff;padding: 5px 10px;}
.prodList .im img{width:190px;}
.prodList .info{padding:5px 0 0 0;}
.prodList .info p{margin:0;padding:0 5px;width:180px;line-height:20px;}
.prodList .info p a{
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 180px;
	line-height: 20px;
	height: 40px;
	font-size:14px;
	color:#707070;
}
.prodList .prodPrice{font-size:16px;line-height:22px;color:#f00;}
/* 覆盖样式 */
body{
	background:#f5f5f5;
}
.posR {
    position: relative;
}
.posA {
    position: absolute;
}
.row-fluid .span9 {
    width: 74.46808510638297%;
}
.row-fluid .span3 {
    width: 23.404255319148934%;
	margin-left: 2.127659574468085%;
}
