.bdCont{background:#fff;border:1px solid #dfdfdf;padding:25px 35px;}
.bdCont .cond{}
a{color:#444;}
.bdCont .cond dl{margin:0;padding:10px 0 5px 0;border-bottom:1px dashed #dfdfdf;font-size:13px;line-height:30px; }
.bdCont .cond dt{font-weight:normal;margin:0;width:5%;float:left;text-align:right;padding-right:1%;line-height:inherit;}
.bdCont .cond dd{width:94%;float:left;line-height:30px;margin:0;}
.bdCont .cond dd a{display:inline-block;line-height:28px;padding:0 15px;border:1px solid #fff;text-align:center;margin:0 0px 5px 0;}
.bdCont .cond dd a.on{border-color:#3fbb8c;color:#3fbb8c;background:url(../images/coins/selected.png) no-repeat right bottom;}

.bdCont .list{}
.bdCont .list ul{margin:0;padding:15px 0;list-style:none;border-bottom:1px dashed #dfdfdf;}
.bdCont .list ul li{float:left;width:250px;height:240px;margin:15px; overflow:hidden;}
.bdCont .list ul li a{display:block;overflow:hidden;word-break: inherit;white-space: inherit;text-overflow: ellipsis;height:inherit;color:#414141;width:inherit;}  
.bdCont .list ul li img{width:250px;height:140px;line-height:140px;border:0;}
.bdCont .list ul li p{margin:0;padding:0 5px;width:240px;}
.bdCont .list ul li .ti{font-size:16px;line-height:30px;height:32px;word-break: keep-all;white-space: nowrap;}
.bdCont .list ul li .detail{font-size:13px;color:#898989;line-height:16px;height:46px;margin:0 0 5px 0;word-break: break-all;white-space: normal;}
.bdCont .list ul li .detail a{height:32px;height: 46px;font-size: 13px;line-height: 22px;color: #707070;}
.bdCont .list ul li .dateTime{text-align:right;color:#888;font-size:12px;line-height:20px;}


.bdCont .page{text-align:center;padding:15px 0;}
.bdCont .page a{padding:0 15px;margin:0 3px;font-size:14px; display:inline-block; line-height:2;border:1px solid #dfdfdf;border-radius:3px;}
.bdCont .page a.active{background:#f5f5f5;}

.posR p.ti{background:url(../images/coins/bg.png) repeat;bottom:0;left:0;z-index:9;width:96%;line-height:2;margin:0;padding:0 2%;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:#fff;font-size:14px;}

/* 覆盖样式 */
body{
	background:#f5f5f5;
}

