/* 
* @Author: Marte
* @Date:   2016-08-22 17:19:58
* @Last Modified by:   Marte
* @Last Modified time: 2016-08-23 10:23:05
*/
.con{
	border:1px solid #e5e5e5;
	padding:0 29px 90px 29px;
	width:1140px;
}
#user_Box{
	padding:26px 0;
	border-bottom:1px dashed #e2e2e2;
}
#user_Box .img_Box{
	width:52px;
	height:52px;
	overflow:hidden;
	border-radius:50%;
	float:left;
}
#user_Box .img_Box img{
	width:52px;
}
#user_Box .con_Box{
	float:left;
	margin-left:9px;
}
#user_Box .con_Box .name{
	color:151414;
	font-size:16px;
}
#user_Box .con_Box .date,#user_Box .con_Box .novip{
	color:#b5b5b5;
	margin-top:4px;
}
#user_Box .con_Box .date span{
	width:36px;
	height:20px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	border-radius:2px;
	text-align:center;
	line-height:20px;
	background-color:#debc00;
	margin-right:5px;
}
#user_Box .con_Box .novip span{
	width:36px;
	height:20px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	border-radius:2px;
	text-align:center;
	line-height:20px;
	background-color:#dcdcdc;
	margin-right:5px;
}

#select_Box p{
	font-size:18px;
	color:#151414;
	margin:28px 15px;
}
#select_Box ul{
	margin-bottom:45px;
}
#select_Box li{
	width:228px;
	height:100px;
	*line-height:100px;
	border:1px solid #e5e5e5;
	text-align:center;
	font-size:26px;
	color:#000;
	float:left;
	margin-right:25px;
	cursor:pointer;
	display: table;
	padding: 15px 0;
}
#select_Box li .center{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}
#select_Box li p{
	font-size:16px;
	padding-left:3px;
	color: #ff4444;
	text-decoration: line-through;
	margin:10px 15px 0;
}
#select_Box li span{
	color:#ff4444;
}
#select_Box li.current{
	border:2px solid #40bb8c;
}
#select_Box button{
	width:126px;
	height:42px;
	background-color:#ff4444;
	color:#fff;
	font-size:16px;
	border-radius:2px;
	cursor:pointer;
}
#select_Box button a{
	display:block;
	color:#fff;
}

#introduce{
	margin-top:55px;
	border-top:1px dashed #e2e2e2;
	color:#151414;
}
#introduce .tit{
	margin:20px 0;
	color:#40bb8c;
	
}

















