.cont .info{width:500px;float:left;}
.cont .headImg{width:250px;float:left;}

.cont form{padding:45px 0;display:block;}
.cont dl{margin:0 0 10px 0; }
.cont dt{margin:0;float:left;padding-left:70px;width:80px;line-height:30px;font-size:14px; font-weight:normal;}
.cont dd{margin:0;width:350px;float:right;line-height:30px}
.cont dd p{margin-bottom:0;color:#666;}
.cont dd a{display:inline-block;}
.cont dd select{width:220px;margin:0;}
.cont dd input{margin:0;}
.cont dd input[type='radio']{vertical-align:-2px;margin-right:2px;}
.cont dd label{display:inline-block;margin:0;padding-right:10px; line-height:30px;font-size:14px;}
.cont dd label span{line-height:1.4;}
.cont dd button{line-height:inherit;color:#fff;border:0;border-radius:4px;padding:0 20px;background:#3fbb8c;vertical-align:top;}
.cont dl.card{display:block;}
.cont dl.alipay{display:none;}




