/* 
* @Author: Marte
* @Date:   2016-08-22 17:19:58
* @Last Modified by:   Marte
* @Last Modified time: 2016-08-23 10:23:05
*/
/*开始*/
.w{
    background-color: #ecedf2;
    padding: 32px 0;
}
.con{
    color:#666;
    width: 950px;
    margin: 0 auto;
}
.payment{
    background-color: #fff;
    padding: 12px 30px 0;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.p-w-hd {
    margin-bottom: 20px;
    font-size: 18px;
    color:#666;
    font-family: "Microsoft Yahei";
}
.font-red {
    color: #ff5d5b!important;
}
.j_weixinInfo{
    color:#666;
	font: 12px/150% Microsoft Yahei;
}
.p-w-bd {
    padding-left: 130px;
    margin-bottom: 30px;
}
.p-w-box {
    float: left;
    width: 300px;
	border:0 none;
	margin:0;
}
.p-w-box .repeat{
	line-height:298px;
	text-align:center;
	font-size:16px;
}
.pw-box-hd {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 298px;
    height: 298px;
	margin-top:0;
}
.pw-box-ft {
    height: 44px;
	margin:0;
	border:0 none;
    padding: 8px 0 8px 125px;
    background: url(../images/2016/icon-red.png) 50px 8px no-repeat #ff7674;
}
.pw-box-ft p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
}
.p-w-sidebar {
    float: left;
    width: 379px;
    height: 421px;
    padding-left: 50px;
    margin-top: -20px;
    background: url(../images/2016/phone-bg.png) 50px 0 no-repeat;
}
.payment-change a{
    display: block;
    height:60px;
    line-height: 56px;
    padding:0 20px;
    color:#40bb8c;
}
.payment-change a i{
    color:#40bb8c;
    display: inline-block;
    vertical-align: -2px;
    font-size: 20px;
}
/*订单开始*/
.order .o-left {
    float: left;
    width: 605px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.order .o-left h3{
    font-weight: bold;
}
.order .o-title {
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    font-size: 14px;
}
.order .o-tips {
    line-height: 20px;
    height: 20px;
    color:#666;
}
.order .o-right {
    float: right;
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 125px;
    overflow: hidden;
}
.order .o-right strong {
	font-size:16px;
	font-weight: bold;
    color: #ffa368;
	margin:0 3px;
}
.order .o-price {
    text-align: right;
    line-height: 26px;
    margin-bottom: 4px;
}
.order .o-detail {
    text-align: right;
    line-height: 20px;
    color: #40bb8c;
}
.order .o-detail a {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    color:#2ea7e7;
}
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.order .o-list {
    display: none;
    padding: 12px 0 25px;
    margin: 0 30px;
    border-top: 1px solid #ddd;
}
.order .o-list span{
    margin-right:10px;
}
.order .o-detail a i {
    right: 0;
    top: 6px;
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/2016/elements.png) -76px -25px no-repeat;
}