<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/product-category.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1>
			<div class="return"><span>&#xe61d;</span></div>商城分类
		</h1>
    </header>
	<main>
		<div class="con clearfix">
			<div class="category_tab fixed_bug" style="overflow:hidden;">
				<ul>
					<foreach name="category" key="key" item="cate">
					<li <eq name="key" value="0">class="cur"</eq>>
						<h2><a class="J_ping" href="javascript:void(0);"><{$cate.cat_name}></a></h2>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="category_con">
				<foreach name="category" key="key" item="cate">
				<div class="category_con_in category_common" <neq name="key" value="0">style="display:none;"</neq>>
					<if condition="($cate['id'] eq 5) OR ($cate['id'] eq 8)">
						<foreach name="cate.category" item="vo">
						<div class="item">
							<h3><a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>.html" title="<{$vo.cat_name}>"><{$vo.cat_name}></a></h3>
							<notempty name="vo.category">
							<ul class="clearfix">
								<foreach name="vo.category" item="v">
								<li>
									<a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>_<{$v.id}>.html" title="<{$v.cat_name}>">
										<img src="__PUBLIC__/Product/icon/<{$v.icon_image}>" alt="<{$v.cat_name}>" width="90%" />
										<strong><{$v.cat_name}></strong>
									</a>
								</li>
								</foreach>
							</ul>
							</notempty>
						</div>
						</foreach>
					<else />
						<div class="item">
							<h3><a href="<{$CBW_URL}>/product/<{$cate.id}>.html" title="<{$cate.cat_name}>"><{$cate.cat_name}></a></h3>
							<ul class="clearfix">
								<foreach name="cate.category" item="vo">
								<li>
									<a href="<{$CBW_URL}>/product/<{$cate.id}>_<{$vo.id}>.html" title="<{$vo.cat_name}>">
										<img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" width="90%" />
										<strong><{$vo.cat_name}></strong>
									</a>
								</li>
								</foreach>
							</ul>
						</div>
					</if>
				</div>
				</foreach>
			</div>
		</div>
	</main>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var win_height = $(window).height();
		$(".category_tab,.category_con").height(win_height);
		$(".con").delegate(".category_tab li","click",function(){
			$(this).addClass("cur").siblings().removeClass("cur");
			var myIndex = $(this).index();
			$(".category_con>div:eq("+myIndex+")").show().siblings().hide();
			$('html,body').animate({scrollTop:0}, 300);
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->