<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/product-comments.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>全部评论</h1>
	</header>
	<div class="con">
		<!-- 评价 -->
        <div class="eva">
			<div class="big_box">
				<foreach name="commentsRes" item="vo">
				<div class="eva_lst">
					<div class="top clearfix">
						<img class="user" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
						<div class="nameandtime">
							<span class="username"><{$vo.uname}></span>
							<time><{$vo.comment_time|date="m.d",###}></time>
						</div>
						<div class="eva-scal">
							<img src="__PUBLIC__/Home/images/2016/<if condition="$vo.score eq 1">good<elseif condition="$vo.score eq 2"/>middle<else />low</if>.png" />
							<span><if condition="$vo.score eq 1">好评<elseif condition="$vo.score eq 2"/>中评<else />差评</if></span>
						</div>
					</div>
					<div class="bottom"><{$vo.content}></div>
					<div class="pro_news"><span class="attr">属性：<{$vo.attr}></span><span>数量：<{$vo.number}></span></div>
					<neq name="vo.replies.content" value="">
					<div class="reply">
						<span>[回复]</span>
						<{$vo.replies.content}>
					</div>
					</neq>
				</div>
				</foreach>
			</div>
        </div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.eva').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			var id  = "<{$Think.get.id}>";
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreComments',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'id':id },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<div class="eva_lst">';
							html += '	<div class="top clearfix">';
							html += '		<img class="user" src="__PUBLIC__/User/'+ data[a]['thumb'] +'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';" />';
							html += '<div class="nameandtime">';
							html += '		<span class="username">'+ data[a]['uname'] +'</span>';
							html += '		<time>'+ data[a]['comment_time'] +'</time>';
							html += '</div>';
							html += '		<div class="eva-scal">';
							
							if(data[a]['score'] == 1){
							html +='		<img src="__PUBLIC__/Home/images/2016/good.png" />';
							html +='		<span>好评</span>';
							}else if(data[a]['score'] == 2){
							html +='		<img src="__PUBLIC__/Home/images/2016/middle.png" />';
							html +='		<span>中评</span>';
							}else if(data[a]['score'] == 3){
							html +='		<img src="__PUBLIC__/Home/images/2016/low.png" />';
							html +='		<span>差评</span>';
							}

							html += '		</div>';
							
							html += '	</div>';
							html += '	<div class="bottom">'+ data[a]['content'] +'</div>';
							html += '	<div class="pro_news"><span class="attr">属性：'+ data[a]['attr'] +'</span><span>数量：'+ data[a]['number'] +'</span></div>';
							
							if(data[a]['replies'] != '' && data[a]['replies'] != null){
							html +='	<div class="reply">';
							html += '		<span>[回复]</span>'+ data[a]['replies'];
							html +='	</div>';
							}

							html += '</div>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.big_box').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->