<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile/css/product-detail.css" />
	<link type="text/css" rel='stylesheet' href='__PUBLIC__/Plugins/PhotoSwipe-4.1.1/dist/photoswipe.css'>
	<link type="text/css" rel='stylesheet' href='__PUBLIC__/Plugins/PhotoSwipe-4.1.1/dist/default-skin/default-skin.css'>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1>
		<div class="return"><span>&#xe61d;</span></div>草包商城
		<neq name="agent" value="1">
		<div id="shareweb" class="share"><span>&#xe60a;</span></div>
		<div id="shareapp" class="shareapp"><span>&#xe60a;</span></div>
		</neq>
		</h1>
    </header>
	<div class="con">
		<!-- banner -->
        <div id="focus" class="focus">
            <div class="hd">
                <ul></ul>
            </div>
			<div class="bd">
				<div class="my-gallery">	
					<foreach name="product.album" item="vo">
						<figure data-href="__PUBLIC__/Product/images/source_img/<{$vo.images}>" data-size="2000x2000" class="clearfix">
							<img src="__PUBLIC__/Product/images/goods_img/<{$vo.images}>" alt="<{$product.pro_name}>" />
						</figure>
					</foreach>
				</div>
			</div>
        </div>
		<!-- 选择属性 -->
        <div class="select_news">
            <h1><{$product.pro_name}></h1>
            <div class="pro_price">
                <p class="p_price">
					<span class="normal-price">
						<span class="difference">
							<if condition="($Think.session.user.groupid eq 1) AND ($Think.session.user.vip eq 0)">
								批发价 
							<elseif  condition="$Think.session.user.vip eq 1"/>
								成本价
							<else />
								零售价
							</if>
						</span>
						<span class="difference-price"><em>￥</em><{$product.price}></span>
					</span>
					<if condition="($Think.session.user.groupid eq 1) AND ($Think.session.user.vip eq 0) AND ($product.four_price gt 0)">
					<span class="batch">批量≥5 <em>￥<{$product.four_price}></em></span>
					</if>
				</p>
                <p class="oldscreen">
					<gt name="product.is_buy" value="0">
						<span class="start">★</span>
						<strong>旧屏回收：<em>￥<{$product.sale_money}></em></strong>
					</gt>
				</p>
				<p class="cbd">
					<gt name="product.virtual_money" value="0">
						<span class="start">★</span>
						<span>购买可获得<em><{$product.virtual_money}> </em>草包豆</span>
					</gt>
				</p>
				<p class="clicktimes">
					<span class="start">★</span>
					<span>已有<em> <{$product.click_times}> </em>人关注</span>
				</p>
            </div>
			<div class="servic">
				<ul class="clearfix">
					<eq name="product.is_quality" value="1"><li><img src="__PUBLIC__/Home/images/coins/quality.jpg"/>原厂品质</li></eq>
					<eq name="product.is_return" value="1"><li><img src="__PUBLIC__/Home/images/coins/return.jpg"/>7天退换货</li></eq>
					<eq name="product.warranty" value="1"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 15 天</li></eq>
					<eq name="product.warranty" value="2"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 1 个月</li></eq>
					<eq name="product.warranty" value="3"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 2 个月</li></eq>
					<eq name="product.warranty" value="4"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 3 个月</li></eq>
					<eq name="product.warranty" value="5"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 6 个月</li></eq>
					<eq name="product.warranty" value="6"><li><img src="__PUBLIC__/Home/images/coins/warranty.jpg"/>保 12 个月</li></eq>
					<li>
						<img src="__PUBLIC__/Home/images/coins/shipping.jpg"/>
						<if condition="$product.is_shipping eq '1'">
							商品包邮
						<else />
							全场满99元包邮
						</if>
					</li>
				</ul>
			</div>
			<div class="slt_content">
				<span class="part-note-msg">已选</span>
				<div class="base-txt"><{$product.attr_name}></div>
				<em>&#xe60f;</em>
			</div>
			<div class="clickbuy_tip"></div>
        </div>
		<!-- 需要工具 -->
		<notempty name="links">
        <div class="needtool">
            <h2>需要工具</h2>
			<foreach name="links" item="vo">
            <div class="tool_lst clearfix">
			    <a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>">
					<div class="pic">
						<img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" />
					</div>
					<div class="pic_bd">
						<strong><{$vo.pro_name}></strong>
						<p class="clearfix">
							<span> ￥<{$vo.price}></span>
							<span class="buy">购买</span>
						</p>
					</div>
				</a>
            </div>
            </foreach>
        </div>
		</notempty>
		<!-- 店铺信息，联系方式 -->
		<div class="contact-buyer">
			<if condition="$product['shop_id'] gt 0">
				<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" alt="<{$shop.shop_name}>" />
				<div class="buyer-news">
					<h4><{$shop.shop_name}></h4>
					<a class="contact-btn" href="tencent://message/?uin=<{$shop.qq}>&Site=caobao.com&Menu=yes" target="_blank"><i class="icon-QQ"></i>联系卖家</a>
				</div>
			<else />
				<img src="__PUBLIC__/Home/images/2016/picc.png"/>
				<div class="buyer-news">
					<h4>深圳市草包网络科技有限公司<span class="self-sale">自营</span></h4>
					<a class="contact-btn open_kefu" href="<{:U('Index/service')}>" onclick="if(confirm('需要联系在线客服吗？')==false)return false;" target="_blank"><i class="icon-office"></i>联系卖家</a>
				</div>
			</if>
		</div>
		<!-- tab栏切换 -->
		<div class="pro-tab">
			<ul class="clearfix">
				<li class="current detial-item">商品详情</li>
				<li class="eva-item">评价（<{$commentLength}>）</li>
				<li class="sever-item">售后及物流</li>
			</ul>
			<!-- 商品信息 -->
			<div class="pro_news show">
				<h5>产品参数：</h5>
				<foreach name="paramRes" item="vo">
				<div class="clearfix param">
					<strong><{$vo.param_title}>：</strong>
					<span class="right"><{$vo.param_content|htmlspecialchars_decode}></span>
				</div>
				</foreach>
				<div class="describe"><{$product.feacher|htmlspecialchars_decode}></div>
			</div>
			<!-- 评价 -->
			<div class="eva">
				<h2>用户评价（<{$commentLength}>）</h2>
				<div class="big_box">
					<foreach name="commentsRes" item="vo">
					<div class="eva_lst">
						<div class="top clearfix">
							<img class="user" alt="<{$vo.uname}>" <empty name="vo.thumb" >src="__PUBLIC__/User/default.jpg"<else />src="__PUBLIC__/User/<{$vo.thumb}>"</empty>>
							<div class="nameandtime">
								<span class="username"><{$vo.uname}></span>
								<time><{$vo.comment_time|date="m.d",###}></time>
							</div>
							<div class="eva-scal">
								<img src="__PUBLIC__/Home/images/2016/<if condition="$vo.score eq 1">good<elseif condition="$vo.score eq 2"/>middle<else />low</if>.png" />
								<span><if condition="$vo.score eq 1">好评<elseif condition="$vo.score eq 2"/>中评<else />差评</if></span>
							</div>
						</div>
						<div class="bottom"><{$vo.content}></div>
						<div class="pro_news"><span class="attr">属性：黑色</span><span>数量：1</span></div>
						<neq name="vo.replies" value="">
						<div class="reply">
							<span>回复:</span>
							<{$vo.replies}>
						</div>
						</neq>
					</div>
					</foreach>
				</div>
				<div class="more"><a href="<{$CBW_URL}>/comments/<{$product['id']}>.html" >查看所有评论</a></div>
			</div>
			<!-- 售后及物流 -->
			<div class="server">
				<div class="guarantee">
					<div class="guarantee_one"><img src="__PUBLIC__/Mobile/images/sever.jpg" width="22"/>拒绝劣质产品</div>
					<div class="guarantee_two"><img src="__PUBLIC__/Mobile/images/set.jpg" width="22"/>只售优品</div>
				</div>
				<div class="dlitem">
					<dl>
						<dt>草包网承诺：</dt>
						<dd>       本平台所售手机均为全新原装，全国联保，享受三包服务，质保期为：一年质保。如因质量问题或故障，凭厂商维修中心或特约维修点（包括厂商官方售后点）的质量检测证明非人为因素可到本平台进行退货或换货，所有机型享受未拆封7日无理由退货。</dd>
						<dd style="margin-top:10px;">所售配件均经过严格检测，经过长期精心挑选行业最优品质，方可上架出售。也许外观成色和同行业相似，但我们更注重内在品质和服务。所有产品在未拆封情况下享受7天无理由退货和30天因质量问题退货待遇。</dd>
					</dl>
					<dl>
						<dt>签收须知：</dt>
						<dd>       凡手机等产品须当面签字签收，如发现货不对版，配件缺失，外观磨损等问题，请拒绝签收，并立即与我们联系，签收后再出现类似情况由客户自理。</dd>
					</dl>
				</div>
				<div class="dlitem shopping">
					<dl>
						<dt>物流发货规则如下：</dt>
						<dd>1、商城购物订单手机类产品付款时起48小时内发货，正常情况当日下午18点之前成交的订单，由草包网19点之前发出。18点以后付款订单于次日下午19点之前发出。（部分大法定节假日相应延后）</dd>
						<dd>2、维修订单苹果系列配件充足，非主板故障当天收到，当天修好发货，及个别偏门品牌配件需从原厂调货2-3天内发货，发货统一时间当日18点到19点。</dd>
						<dd>4、满99元包邮普通快递，如需发顺丰请补运费差价，非LCD显示屏类产品，草包网默认为普通物流，以申通，圆通，中通为主，高价值产品默认顺丰物流。</dd>
						<dd>5、因各物流公司的配送服务区域经常更新，因此可能存在以上快递不支持用户收货地址区域的配送的情况，此类情形下客服将与用户沟通转发事宜。</dd>
					</dl>
				</div>
				<div class="server_tip">
					<dl>
						<dt>温馨提示：</dt>
						<dd>如遇交通管制、大雨雪、洪涝、冰灾、地震、节假日、停电及其他不可抗力因素等特殊情况，派送时间均会有所延长，请您谅解</dd>
					</dl>
				</div>
			</div>
		</div>
		<!-- 商品相关 -->
        <div class="pro_relative">
            <h3>买过的人还会买</h3>
            <ul class="clearfix prolst">
                <foreach name="buyRes" item="vo">
				<if condition="$vo['id'] neq 722">
				<li>
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>">
						<img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" class="pro" />
					</a>
					<p class="ido"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><{$vo.pro_name}></a></p>
					<p class="price clearfix"><strong>￥<{$vo.price}></strong></p>
				</li>
				</if>
				</foreach>
            </ul>
        </div>
		<!-- 购物车购买 -->
        <div class="add_car_buy clearfix">
			<if condition="$product['is_on_sale'] eq 0">
				<span class="sale">已下架</span>
			<else />
				<div class="kefu_car">
					<a href="<{$CBW_URL}>/buy/cart.html" class="buy_car">
						<span class="block"><img src="__PUBLIC__/Mobile/images/car.png"></span>
						<span class="buy_car_art art">购物车</span>
						<i><eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq></i>
					</a>
					<a href="<{:U('Index/service')}>" onclick="if(confirm('需要联系在线客服吗？')==false)return false;" target="_blank" class="kefu">
						<span class="block"><img src="__PUBLIC__/Mobile/images/footer3.png"></span>
						<span class="kefu_art art">客服</span>
					</a>
				</div>
				<if condition="$product['pro_stock'] gt 0">
					<eq name="product.is_card" value="0">
					<span class="join fix_cell">加入购物车</span>
					</eq>
					<span class="buy fix_cell">立即购买</span>
				<else />
					<span class='nostock'>已售罄</span>
				</if>
			</if>
        </div>
		<!-- 选择商品属性弹窗 -->
		<div class="dark"></div>
		<div class="clickbuy">
			<div class="sku-pro">
				<div>
					<div class="sku-img">
						<p><img src="__PUBLIC__/Product/thumb/<{$product.list_image}>" /></p>
					</div>
					<div class="sku-pro-info">
						<div>
							<h3 class="sku-title"><{$product.pro_name}></h3>
							<p class="h">￥<{$product.price}></p>
							<if condition="($Think.session.user.groupid eq 1) AND ($Think.session.user.vip eq 0) AND ($product.four_price gt 0)">
								<strong class="batch">批量≥5 <em>￥<{$product.four_price}></em></strong>
							</if>
						</div>
					</div>
					<div class="close">&#xe625;</div>
				</div>
			</div>
			<div class="middle_two" data-id="<{$product.id}>">
				<foreach name="product.attrs" item="vo">
				<div class="attribute clearfix">
					<strong><{$vo.attr_name}>：</strong>
					<div class="right">
						<foreach name="vo.list" key="k" item="v">
						<span <in name="v.id" value="$attrs">class="current"</in> data-id="<{$v.id}>"><{$v.attr_value}></span>
						</foreach>
					</div>
				</div>
				</foreach>
				<div class="buynum">购买数量：
					<div class="customize">
						<strong class="min" id="min">&#xe628;</strong>
						<input type="text" disabled="disabled" id="num" name="num" value="1" class="text_box" />
						<strong class="max" id="max">&#xe629;</strong>
					</div>
				</div>
			</div>
			<div class="bottom">
				<if condition="$product['is_on_sale'] eq 0">
					<button class="sale">已下架</button>
				<else />
					<if condition="$product['pro_stock'] gt 0">
						<span class="confirm cell">确定</span>
						<span class="join jump jump_join cell" style="width:50%; background-color:#ff9600; display:none;">加入购物车</span>
						<span class="buy jump jump_buy cell" style="width:50%; background-color:#f40; display:none;">购买</span>
					<else />
						<button class='nostock cell'>已售罄</button>
					</if>
				</if>
			</div>
			<div class="clickbuy_tip"></div>
		</div>
    </div>
	<!-- 分享 -->
	<div class="sharesocil fixTop fullLayer z10">
		<div class="share-list fixBottom pct100">
			<div class="feature">
				<ul class="clearfix">
					<li>
						<a class="jiathis_button_qzone">
							<img src="__PUBLIC__/Mobile/images/qzone.jpg" />
							<p>QQ空间</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tsina">
							<img src="__PUBLIC__/Mobile/images/sina.jpg" />
							<p>新浪微博</p>
						</a>
					</li>
					<li>
						<a class="jiathis_button_tqq">
							<img src="__PUBLIC__/Mobile/images/tx.jpg" />
							<p>腾讯微博</p>
						</a>
					</li>
					<li>
						<a class="jiatitle" onclick="jiathis_sendto('tieba');return false;">
							<img src="__PUBLIC__/Mobile/images/baidu.jpg" />
							<p>百度贴吧</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="fcancel ptb20r">取消</div>
		</div>
	</div>
	<!-- PhotoSwipe插件使用到的结构. 无需改动. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
	<script type="text/javascript" src='__PUBLIC__/Plugins/PhotoSwipe-4.1.1/dist/photoswipe.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/Plugins/PhotoSwipe-4.1.1/dist/photoswipe-ui-default.min.js'></script>
	<script type="text/javascript" src="__PUBLIC__/Plugins/PhotoSwipe-4.1.1/dist/photoswipe-page.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="__PUBLIC__/Mobile/js/YdbOnline.js"></script>
	<!--<script src="http://static.ydbimg.com/API/YdbOnline.js" type="text/javascript"></script>-->
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var YDB = new YDBOBJ();
		$(document).ready(function(){
			imgSort();
			$(window).resize(function(){
			     imgSort();
			});
			auto_size();
			isapp();
			// 商品分享
			$("#shareapp").click(function () {
                YDB.Share("<{$product.pro_name}>", "<{$product.pro_subname}>", "<{:C('SITE_URL')}>/Public/Product/thumb/<{$product.list_image}>", "<{:C('SITE_URL')}>/detail/<{$product.rid}>.html");
            });
			// 购物车按钮隐藏的情况
			if($(".add_car_buy .join").length == 0){
				$(".add_car_buy .buy").css("width","66.66%")
			}
			// 商品主图切换
			TouchSlide({ 
				slideCell:"#focus",
				titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
				mainCell:".bd .my-gallery", 
				effect:"left",
				autoPage:true //自动分页
			});                                    // 主图轮播
			initPhotoSwipeFromDOM('.my-gallery');  // 主图放大
			$(".con").delegate('.add_car_buy .fix_cell,.jump.cell', 'click', function(event) {                        // 加入购物车和购买按钮
				var id  = "<{$product.rid}>";
				var num = $('input[name="num"]').val();
				if($(this).hasClass("join")){
					$.post('__CONTROLLER__/addCart', {'id':id,'num':num}, function(d){
						if(d > 0){
							$('.kefu_car i').html(d);
							$(".select_news .clickbuy_tip").hide().text("加入购物车成功！");
							setTimeout(show, 500);
							setTimeout(hide, 1300);
						}
					});
				}
				if($(this).hasClass("buy")){
					$.post('__CONTROLLER__/buyCart', {'id':id,'num':num}, function(d){
						if(d > 0){
							$('.kefu_car i').html(d);
							window.location.href = '<{$CBW_URL}>/Buy/collect/ids/'+d+'.html';
						}
					});
				}
				if($(this).hasClass("jump_join")){
					$(".dark").fadeOut(300);
					$(".con").css({'height':'auto'});
					$(".clickbuy").removeClass("goTop");
				}
			}).delegate('#max', 'click', function(event) {                                                 // + 按钮事件:增加数量
				var t=$(this).siblings('.text_box'); 
				t.val(parseInt(t.val())+1);
				if(parseInt(t.val()) > 99){ 
					t.val(99); 
				}
			}).delegate('#min', 'click', function(event) {                                                 // - 按钮事件:减少数量
				var t=$(this).siblings('.text_box'); 
				t.val(parseInt(t.val())-1);
				if(parseInt(t.val()) < 1){ 
					t.val(1); 
				}
			}).delegate('#num', 'change', function(event) {                                                // 手动输入数量
				var _this=$(this); 
				if(parseInt(_this.val()) < 1){ 
					_this.val(1); 
				}
				if(parseInt(_this.val()) > 99){ 
					_this.val(99); 
				}
			}).delegate('.clickbuy .sku-pro .close,.dark', 'click', function(event) {                      // 关闭
				$(".dark").fadeOut(300);
				$(".con").css({'height':'auto'});
				$(".clickbuy").removeClass("goTop");
			}).delegate('.middle_two div.attribute span', 'click', function(event) {                      // 切换商品属性,跳转页面
				$(this).addClass('current').siblings().removeClass('current');
				var id    = $('.middle_two').attr('data-id');
				var array = [];
				var attrs = $(".middle_two").find(".attribute");
				for(var i = 0;i<attrs.length;i++){
					array.push($(attrs[i]).find(".current").attr('data-id'))
				}
				$.post('__CONTROLLER__/getId', {'pro_id':id, 'attrs':array}, function(d){
					if(d > 0){
						window.location.href = '<{$CBW_URL}>/detail/'+d+'.html';
					}else{
						return false;
					}
				});
			}).delegate(".slt_content","click",function(){                                                // 点击弹出选择商品属性
				$(".dark").fadeTo(300,0.5);
				$(".con").css({'overflow':'hidden','height':$(window).height()-94+'px'});
				$(".clickbuy").addClass("goTop");
				$(".bottom .join,.bottom .buy").show();
				$(".bottom .confirm").hide();
			}).delegate(".pro-tab ul li","click",function(){                                              // tab栏切换
				$(this).addClass("current").siblings().removeClass("current");
				var index = $(this).index();
				$(".pro-tab").children("div").eq(index).addClass("show").siblings().removeClass("show");
			});
		});
		/*
		* 图片规定
		*/
		function imgSort(){
			for(var i = 0;i<$(".prolst li").length;i++){
				var imgW = $(".prolst li").eq(i).find("img").width();
				var imgH = $(".prolst li").eq(i).find("img").height();
				if(imgH != imgW){
					$(".prolst li").eq(i).find("img").css("height",imgW);
				}
			}
		};
		/*
		* 是不是app
		*/
		function isapp() {
			var YundabaoUA = navigator.userAgent;    // 获取当前的useragent
			if (YundabaoUA.indexOf('CK 2.0') > -1){  // 判断当前的ua中是否包含"CK 2.0"，如果包含"CK 2.0"标识当前在CK 2.0的应用中
				$("#shareapp").show();
				$("#shareweb").hide();
			}else{
				$("#shareapp").hide();
				$("#shareweb").show();
			}
		};

		/*
		* banner图自适应
		*/
		function auto_size(){
			var autoHeight = Math.ceil($(window).width());
			if(autoHeight<320){autoHeight=320}
			if(autoHeight>640){autoHeight=640}
			$("#focus").height(autoHeight);
		};
		/*
		* 提示
		*/
		function hide(){
			$(".clickbuy_tip").hide();
		};
		function show(){
			$(".clickbuy_tip").show();
		};
	</script>
	<script type="text/javascript">
		wx.config({
			debug: false,                         // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId:     '<{$package.appId}>',      // 必填，公众号的唯一标识
			timestamp: '<{$package.timestamp}>',  // 必填，生成签名的时间戳
			nonceStr:  '<{$package.nonceStr}>',   // 必填，生成签名的随机串
			signature: '<{$package.signature}>',  // 必填，签名
			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'checkJsApi',
				'openLocation',
				'getLocation',
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ',
				'onMenuShareWeibo'
			]
		});
		wx.ready(function () {
			wx.onMenuShareTimeline({
				title:  "<{$product.pro_name}>",                                           // 分享标题
				link:   "<{:C('SITE_URL')}>/detail/<{$product.rid}>.html?u=<{$Think.session.user.userid}>",                  // 分享链接
				imgUrl: "<{:C('SITE_URL')}>/Public/Product/thumb/<{$product.list_image}>", // 分享图标
				success: function () { 
					// 用户确认分享后执行的回调函数
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
				}
			});

			wx.onMenuShareAppMessage({
				title:   "<{$product.pro_name}>",                                                // 分享标题
				desc:    "<{$product.pro_subname}>",                                             // 分享描述
				link:    "<{:C('SITE_URL')}>/detail/<{$product.rid}>.html?u=<{$Think.session.user.userid}>",                       // 分享链接
				imgUrl:  "<{:C('SITE_URL')}>/Public/Product/thumb/<{$product.list_image}>",      // 分享图标
				type:    '',                                                                     // 分享类型,music、video或link，不填默认为link
				dataUrl: '',                                                                     // 如果type是music或video，则要提供数据链接，默认为空
				success: function () { 
					// 用户确认分享后执行的回调函数
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
				}
			});

			wx.onMenuShareQQ({
				title:  "<{$product.pro_name}>",                                             // 分享标题
				desc:   "<{$product.pro_subname}>",                                          // 分享描述
				link:   "<{:C('SITE_URL')}>/detail/<{$product.rid}>.html?u=<{$Think.session.user.userid}>",                    // 分享链接
				imgUrl: "<{:C('SITE_URL')}>/Public/Product/thumb/<{$product.list_image}>",   // 分享图标
				success: function () { 
				   // 用户确认分享后执行的回调函数
				},
				cancel: function () { 
				   // 用户取消分享后执行的回调函数
				}
			});
		});
		
		var jiathis_config = { 
			pic: "<{:C('SITE_URL')}>/Public/Product/thumb/<{$product.list_image}>",
			url: "<{:C('SITE_URL')}>/detail/<{$product.rid}>.html?u=<{$Think.session.user.userid}>",
			title: "<{$product.pro_name}>",
			summary:"<{$product.pro_subname}>"
		} 
	</script>
</block>
<!-- 底部JS执行区域 结束 -->