<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/product-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return return_a"><span>&#xe61d;</span></div>
			<div class="search_bar_cancel"><span>&#xe625;</span></div>
			<div class="search">
				<form action="<{:C('MOBILE_URL')}>/product/lists.html">
					<input type="search" name="keyword" value="<{$keyword}>" placeholder="输入您需要的商品名称" />
					<em>&#xe614;</em>
				</form>
			</div>
			<div class="classify"><a href="<{:U('Product/category')}>">&#xe626;</a></div>
		</h1>
    </header>
	<div class="con">
		<!-- banner -->
		<div id="focus">
			<div class="hd">
				<ul><li class="on"></li></ul>
			</div>
			<div class="bd">
				<ul>
					<foreach name="banners" item="vo">
					<li><a href="<{$vo.link_url}>"><img src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" /></a></li>
					</foreach>
				</ul>
			</div>
		</div>
		<!-- 产品小分类 -->
		<div id="smlclassify">
			<ul class="clearfix">
				<li>
					<a href="<{$CBW_URL}>/product/6_7.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/headset.png" />
						<h3>耳机</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/6_21.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/line.png" />
						<h3>数据线</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/6_120.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/membrane.png" />
						<h3>钢化膜</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/9_51.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/phonetool.png" />
						<h3>工具</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/5_2_14.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/iphone.png" />
						<h3>手机配件</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/5_41_42.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/ipad.png" />
						<h3>平板配件</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/6_52.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/sound.png" />
						<h3>音箱</h3>
					</a>
				</li>
				<li>
					<a href="<{$CBW_URL}>/product/6_53.html" class="clearfix">
						<img src="__PUBLIC__/Home/images/2016/morepro.png" />
						<h3>其他</h3>
					</a>
				</li>
			</ul>
		</div>
		<!-- 新品推荐 -->
		<div id="new_product" class="common">
			<h2><span class="bar_h2"></span>新品</h2>
			<ul class="clearfix prolst">
				<foreach name="news" item="vo">
				<li>
					<div class="pic"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>"></a></div>
					<div class="introduce"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><{$vo.pro_name}></a></div>
					<div class="price clearfix"><strong>￥<{$vo.price}></strong></div>
				</li>
				</foreach>
			</ul>
		</div>
		<!-- 内配 -->
		<div id="External" class="common">
			<h2><a href="<{$CBW_URL}>/product/5.html" title="显示屏,电池"><span class="bar_h2"></span>内配</a><span class="more"><a href="<{$CBW_URL}>/product/5.html" title="显示屏,电池">更多></a></span></h2>
			<div class="recommend">
				<a href="<{$CBW_URL}>/detail/<{$inside['rid']}>.html" title="<{$inside.pro_name}>">
					<div class="pic"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$inside.list_image}>" alt="<{$inside.pro_name}>" /></div>
					<div class="content">
						<h3><{$inside.pro_name}></h3>
						<p><{$inside.pro_subname}></p>
						<div class="price_c"><strong><{$inside.price}></strong>元</div>
					</div>
				</a>
			</div>
			<ul class="clearfix prolst">
				<foreach name="insides" key="key" item="vo">
				<gt name="key" value="0"> 
				<li>
					<div class="pic"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>"></a></div>
					<div class="introduce"><a href="#"><{$vo.pro_name}></a></div>
					<div class="price clearfix"><strong>￥<{$vo.price}></strong></div>
				</li>
				</gt>
				</foreach>
			</ul>
		</div>
		<!-- 外配 -->
		<div id="Internal" class="common">
			<h2><a href="<{$CBW_URL}>/product/6.html" title="保护壳,数据线"><span class="bar_h2"></span>外配</a><span class="more"><a href="<{$CBW_URL}>/product/6.html" title="保护壳,数据线">更多></a></span></h2>
			<div class="recommend">
				<a href="<{$CBW_URL}>/detail/<{$outside['rid']}>.html" title="<{$outside.pro_name}>">
					<div class="pic"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$outside.list_image}>" alt="<{$outside.pro_name}>" /></div>
					<div class="content">
						<h3><{$outside.pro_name}></h3>
						<p><{$outside.pro_subname}></p>
						<div class="price_c"><strong><{$outside.price}></strong>元</div>
					</div>
				</a>
			</div>
			<ul class="clearfix prolst">
				<foreach name="outsides" key="key" item="vo">
				<gt name="key" value="0"> 
				<li>
					<div class="pic"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>"></a></div>
					<div class="introduce"><a href="#"><{$vo.pro_name}></a></div>
					<div class="price clearfix"><strong>￥<{$vo.price}></strong></div>
				</li>
				</gt>
				</foreach>
			</ul>
		</div>
		<!-- 工具 -->
		<div id="Tool" class="common">
			<h2><a href="<{$CBW_URL}>/product/9.html" title="维修工具"><span class="bar_h2"></span>工具</a><span class="more"><a href="<{$CBW_URL}>/product/9.html" title="维修工具">更多></a></span></h2>
			<div class="recommend">
				<a href="<{$CBW_URL}>/detail/<{$tool['rid']}>.html" title="<{$tool.pro_name}>">
					<div class="pic"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$tool.list_image}>" alt="<{$tool.pro_name}>" /></div>
					<div class="content">
						<h3><{$tool.pro_name}></h3>
						<p><{$tool.pro_subname}></p>
						<div class="price_c"><strong><{$tool.price}></strong>元</div>
					</div>
				</a>
			</div>
			<ul class="clearfix prolst">
				<foreach name="tools" key="key" item="vo">
				<gt name="key" value="0"> 
				<li>
					<div class="pic"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>"></a></div>
					<div class="introduce"><a href="#"><{$vo.pro_name}></a></div>
					<div class="price clearfix"><strong>￥<{$vo.price}></strong></div>
				</li>
				</gt>
				</foreach>
			</ul>
		</div>
	</div>
	<div class="people_search">
		<h3>大家都在搜</h3>
		<ul class="clearfix">
			<foreach name="hots" item="vo">
			<li data-val="<{$vo.keyword}>"><{$vo.keyword}></li>
			</foreach>
		</ul>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		auto_size();
		$('header input').on('click',function(){                                            // 文本框聚焦
			$(".con").fadeOut(300);
			$(".people_search").fadeIn(600);
			$(".return_a").hide();
			$(".search_bar_cancel").css("display","block")
		});
		$('header .search em').on('click',function(){                                       // 搜索
			var keyword  = $("input[name=keyword]").val();
			if(!keyword || keyword == ''){
				return false;
			}
			changeParam('keyword', keyword, "<{:C('MOBILE_URL')}>/product/lists.html");
		});
		$('.search_bar_cancel').on('click',function(){                                                // 关闭文本框
			$(".con").fadeIn(300);
			$(".people_search").fadeOut(600);
			$(".return_a").show();
			$(this).hide();
		});
		$('.people_search li').on("click",function(){                                       // 热搜词搜索
			var keyword = $(this).attr("data-val");
			changeParam('keyword', keyword, "<{:C('MOBILE_URL')}>/product/lists.html");
		})
		TouchSlide({ 
			slideCell:"#focus",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"leftLoop", 
			autoPlay:true,//自动播放
			autoPage:true //自动分页
		});
		$(window).resize(function(){
			auto_size();
		});
		/*
		* 图片懒加载
		*/
		$(function() {
			$("img").lazyload({
				placeholder : "images/loading.gif",
				effect: "show"
			});
		});
		/*
		* banner图自适应
		*/
		function auto_size(){
			var autoHeight = Math.ceil($(window).width()/2.237762237762238)+10;
			if(autoHeight<143){autoHeight=143}
			if(autoHeight>286){autoHeight=286}
			$("#focus").height(autoHeight);
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->