<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/product-lists.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return return_a"><span>&#xe61d;</span></div>
			<div class="search_bar_cancel"><span>&#xe625;</span></div>
			<div class="search">
				<form action="<{:C('MOBILE_URL')}>/product/lists.html">
					<input type="hidden" name="class" value="<{$classId}>" />
					<input type="hidden" name="type" value="<{$typeId}>" />
					<input type="hidden" name="brand" value="<{$brandId}>" />
					<input type="hidden" name="model" value="<{$modelId}>" />
					<input type="search" name="keyword" value="<{$keyword}>" placeholder="输入您需要的商品名称" />
					<em>&#xe614;</em>
				</form>
			</div>
			<div class="classify"><a href="<{:U('Product/category')}>">&#xe626;</a></div>
		</h1>
	</header>
	<div class="con">
		<div class="cat fixed_bug">
			<ul id="classs">
				<li class="new-change-eleven news_array"><span class="J_ping active arrow-down"><strong>综合</strong><input type="hidden" name="sort" value="<{$sort}>" /><i class="comprehensive_icon list_icon"></i></span></li>
				<li class="new-change-eleven sort_sale"><span class="J_ping">销量</span></li>
				<li class="new-change-eleven sort_price"><span class="J_ping">价格<i class="price_icon list_icon"></i></span></li>
				<li class="last select"><a href="javascript:;"><i>&#xe606;</i>筛选</a></li>
			</ul>
		</div>
		<!-- 综合排序 -->
		<div id="searchSort14" class="integrative-box show-position">
			<ul class="integrative-list">
				<li id="searchSort11" class="sidebar-iteam checked"><span><i class="tick">&#xe622;</i><span class="sort-of-brand" data-val="default" data-text="综合">综合排序</span></span></li>
				<li id="searchSort12" class="sidebar-iteam"><span><i class="tick">&#xe622;</i><span class="sort-of-brand" data-val="new" data-text="新品">新品优先</span></span></li>
				<li id="searchSort13" class="sidebar-iteam"><span><i class="tick">&#xe622;</i><span class="sort-of-brand" data-val="comment" data-text="评论">评论数从高到低</span></span></li>
			</ul>
		</div>
		<div id="SearchCoverPannel7" class="mjd-floor cover-pannel"><div class="cover-floor "></div></div>
		<div class="lists">
			<ul class="clearfix prolst">
				<foreach name="products" item="vo">
				<if condition="$vo['id'] neq 722">
				<li data-id="<{$vo['id']}>">
					<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html">
						<img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>" />
					</a>
					<p class="ido"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html"><{$vo.pro_name}></a></p>
					<p class="price clearfix"><strong>￥<{$vo.price}></strong></p>
					<if condition="$vo.is_new eq 1">
						<div class="new"><span>新 品</span></div>
					<elseif condition="$vo.is_hot eq 1"/>
						<div class="hot"><span>热 销</span></div>
					</if>
					<if condition="$vo.is_shipping eq 1">
						<div class="shipping"><span>包 邮</span></div>
					</if>
				</li>
				</if>
				</foreach>
			</ul>
		</div>
		<div class="filter">
			<div class="bg"></div>
			<div class="filterBx">
				<dl class="clearfix header">
					<dt><i>&#xe60f;</i></dt>
					<dd class="ddName">筛选</dd>
				</dl>
				<notempty name="models">
				<dl class="models">
					<dt class="clearfix">型号</dt>
					<dd class="clearfix">
						<foreach name="models" item="vo">
							<a href="<{$CBW_URL}>/product/<{$classId}>_<{$typeId}>_<{$brandId}>_<{$vo.id}>.html" <if condition="$vo.id eq $modelId">class="on"</if>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				</notempty>
				<dl class="price_section">
					<dt class="clearfix">价格区间</dt>
					<dd class="clearfix"><input type="tel" name="min" value="<{$min}>" placeholder="最小价格" maxlength="5"/> - <input type="tel" name="max" value="<{$max}>" placeholder="最大价格" maxlength="5"/></dd>
				</dl>
				<button>确定</button>
			</div>
		</div>
	</div>
	<div class="people_search">
		<h3>大家都在搜</h3>
		<ul class="clearfix">
			<foreach name="hots" item="vo">
			<li data-val="<{$vo.keyword}>"><{$vo.keyword}></li>
			</foreach>
		</ul>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var now = 'hide';           //定义排列模式
		var tac = 'yes';            //定义综合模式
		$(".con").delegate(".filterBx dt strong","click",function(event) {                  // 打开修改筛选
			$(this).parent("dt").siblings("dd").show();
		}).delegate("#SearchCoverPannel7","click",function(){                               // 关闭综合模式
			$(this).hide();
			$("#searchSort14").hide();
			tac = 'yes';
		});
		$('header input').on('click',function(){                                            // 文本框聚焦
			$(".con").fadeOut(300);
			$(".people_search").fadeIn(600);
			$(".return_a").hide();
			$(".search_bar_cancel").css("display","block")
		});
		$('header .search em').on('click',function(){                                       // 搜索
			var keyword  = $("input[name=keyword]").val();
			if(!keyword || keyword == ''){
				return false;
			}
			changeParam('keyword', keyword);
		});
		$('.search_bar_cancel').on('click',function(){                                     // 关闭文本框
			$(".con").fadeIn(300);
			$(".people_search").fadeOut(600);
			$(".return_a").show();
			$(this).hide();
		});
		$('.people_search li').on("click",function(){                                       // 热搜词搜索
			var keyword = $(this).attr("data-val");
			changeParam('keyword', keyword);
		})
		
		$(function(){
		    function imgSort(){
				for(var i = 0;i<$(".prolst li").length;i++){
					var imgW = $(".prolst li").eq(i).find("img").width();
					var imgH = $(".prolst li").eq(i).find("img").height();
					if(imgH != imgW){
					    $(".prolst li").eq(i).find("img").css("height",imgW);
					}
				}
			};
			imgSort();
			$(window).resize(function(){
			     imgSort();
			});
			// 筛选提交
			$('.filterBx button').on('click',function(){
				$(".filter").animate({"left":"100%"}, 500);
				load_data();
			});
			// 切换综合排序模式显示
			$('.cat li.news_array').on('click',function(){
				$(this).children("span").addClass("active").parent().siblings().children("span").removeClass("active");
				$(".cat li.news_array").children("span").addClass("arrow-up").removeClass("arrow-down");
				if(tac == 'yes'){
					$(this).children("span").addClass("arrow-down").removeClass("arrow-up");
					tac = 'no';
				}else{
					$(this).children("span").addClass("arrow-up").removeClass("arrow-down");
					tac = 'yes';
				}
				if($(this).find("span").hasClass("arrow-down")){
					$("#searchSort14").show();
					$("#SearchCoverPannel7").show();
				}else if($(this).find("span").hasClass("arrow-up")){
					$("#searchSort14").hide();
					$("#SearchCoverPannel7").hide();
				}
				var liVal = $(".sidebar-iteam.checked").find(".sort-of-brand").attr("data-val");
				$("input[name=sort]").val(liVal);
				load_data();
			});
			$('.sidebar-iteam').on('click',function(){
				$(this).addClass("checked").siblings().removeClass("checked");
				var liText = $(this).find(".sort-of-brand").attr("data-text");
				var liVal  = $(this).find(".sort-of-brand").attr("data-val");
				$(".news_array span strong").text(liText);
				$("input[name=sort]").val(liVal);
				$("#searchSort14").hide();
				$("#SearchCoverPannel7").hide();
				tac = 'yes';
				load_data();
			});
			// 切换销量排序模式显示
			$('.cat li.sort_sale').on('click',function(){
				$(this).children("span").addClass("active").parent().siblings().children("span").removeClass("active");
				if(!$(this).hasClass("news_array")){
					$("#searchSort14").hide();
					$("#SearchCoverPannel7").hide();
				}
				$("input[name=sort]").val('sale');
				load_data();
			});
			// 切换价格排序模式显示
			$('.cat li.sort_price').on('click',function(){
				$(this).children("span").addClass("active").parent().siblings().children("span").removeClass("active");
				if(!$(this).hasClass("news_array")){
					$("#searchSort14").hide();
					$("#SearchCoverPannel7").hide();
				}
				if(now == 'hide'){
					$(this).children("span").addClass("arrow-down").removeClass("arrow-up");
					now = 'show';
					$("input[name=sort]").val('down');
				}else{
					$(this).children("span").addClass("arrow-up").removeClass("arrow-down");
					now = 'hide';
					$("input[name=sort]").val('up');
				}
				load_data();
			});
			// 图片懒加载
			$("img").lazyload({effect: "fadeIn"});
			
			function load_data(){
				var class_id = $("input[name=class]").val();
				var type_id  = $("input[name=type]").val();
				var brand_id = $("input[name=brand]").val();
				var model_id = $("input[name=model]").val();
				var min      = $("input[name=min]").val();
				var max      = $("input[name=max]").val();
				var sort     = $("input[name=sort]").val();
				var keyword  = $("input[name=keyword]").val();
				$.ajax({
					type: 'POST',
					url: '__CONTROLLER__/loadMoreProduct',
					dataType: 'json',
					data: {'counter':0, 'num':8, 'class':class_id, 'type':type_id, 'brand':brand_id, 'model':model_id, 'min':min, 'max':max, 'sort':sort, 'keyword':keyword },
					success: function(data){
						var html = '';
						if(data){
							for(var a = 0;a < data.length;a++){
								html += '<li>';
								html += '	<a href="<{$CBW_URL}>/detail/'+ data[a]['rid'] +'.html"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/'+ data[a]['list_image'] +'" alt="'+ data[a]['pro_name'] +'" title="'+ data[a]['pro_name'] +'" /></a>';
								html += '	<p class="ido"><a href="<{$CBW_URL}>/detail/'+ data[a]['rid'] +'.html">'+ data[a]['pro_name'] +'</a></p>';
								html += '	<p class="price clearfix"><strong>￥'+ data[a]['price'] +'</strong></p>';
								if(data[a]['is_new'] == 1){
									html += '	<div class="new"><span>新 品</span></div>';
								}
								if(data[a]['is_hot'] == 1){
									html += '	<div class="hot"><span>热 销</span></div>';
								}
								if(data[a]['is_shipping'] == 1){
									html += '	<div class="shipping"><span>包 邮</span></div>';
								}
								html += '</li>';
							}
							$('.prolst').empty();
							$('html,body').animate({scrollTop:0}, 300);
							$('.prolst').html(html);
							$("img").lazyload({effect: "fadeIn"});
						}
						counter = 0;
						loadEnd = false;
						// 解锁
						dropload.unlock();
						dropload.noData(false);
						// 重置
						dropload.resetload();
					},
					error: function(xhr, type){
						//alert('Ajax error!');
					}
				});
			}
			
			// dropload
			var counter = 0;
			var num     = 8;
			var loadEnd = false;
			var dropload = $('.lists').dropload({
				scrollArea : window,
				domDown : {
					domClass   : 'dropload-down',
					domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
					domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
					domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
				},
				loadDownFn : function(me){
					counter++;
					var class_id = $("input[name=class]").val();
					var type_id  = $("input[name=type]").val();
					var brand_id = $("input[name=brand]").val();
					var model_id = $("input[name=model]").val();
					var min      = $("input[name=min]").val();
					var max      = $("input[name=max]").val();
					var sort     = $("input[name=sort]").val();
					var keyword  = $("input[name=keyword]").val();
					$.ajax({
						type: 'POST',
						url: '__CONTROLLER__/loadMoreProduct',
						dataType: 'json',
						data: {'counter':counter, 'num':num, 'class':class_id, 'type':type_id, 'brand':brand_id, 'model':model_id, 'min':min, 'max':max, 'sort':sort, 'keyword':keyword },
						success: function(data){
							var html = '';
							if(data){
								for(var a = 0;a < data.length;a++){
									html += '<li>';
									html += '	<a href="<{$CBW_URL}>/detail/'+ data[a]['rid'] +'.html"><img src="__PUBLIC__/Home/images/product/lazy.jpg" data-original="__PUBLIC__/Product/thumb/'+ data[a]['list_image'] +'" alt="'+ data[a]['pro_name'] +'" title="'+ data[a]['pro_name'] +'" /></a>';
									html += '	<p class="ido"><a href="<{$CBW_URL}>/detail/'+ data[a]['rid'] +'.html">'+ data[a]['pro_name'] +'</a></p>';
									html += '	<p class="price clearfix"><strong>￥'+ data[a]['price'] +'</strong></p>';
									if(data[a]['is_new'] == 1){
										html += '	<div class="new"><span>新 品</span></div>';
									}
									if(data[a]['is_hot'] == 1){
										html += '	<div class="hot"><span>热 销</span></div>';
									}
									if(data[a]['is_shipping'] == 1){
										html += '	<div class="shipping"><span>包 邮</span></div>';
									}
									html += '</li>';
								}
								if(data.length < num){
									loadEnd = true; // 数据加载完
									me.lock();      // 锁定
									me.noData();    // 无数据
								}
								
								// 为了测试，延迟1秒加载
								setTimeout(function(){
									$('.prolst').append(html);
									imgSort();
									$("img").lazyload();
									me.resetload();  // 每次数据加载完，必须重置
								},1000);
							}
						},
						error: function(xhr, type){
							//alert('Ajax error!');
							// 即使加载出错，也得重置
							me.resetload();
						}
					});
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->