<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/address-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab"><a href="<{:U('Users/info')}>">个人信息</a></li>
							<li class="tab current"><a href="<{:U('Address/index')}>">地址管理</a></li>
							<li class="tab"><a href="<{:U('Users/pay')}>">支付管理</a></li>
							<li class="tab"><a href="<{:U('Users/security')}>">安全管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="prolist">
				<div class="protit"><h2>地址管理</h2></div>
				<div class="adds">
					<foreach name="address" item="vo">
					<div class="rope clearfix posR <eq name="vo.is_default" value="1">default</eq>">
						<div class="fl">
							<dl class="clearfix">
								<dt>收货人：</dt>
								<dd class="name"><{$vo.reciver_user}></dd>
							</dl>
							<dl class="clearfix">
								<dt>收货地址：</dt>
								<dd class="address">
									<span class="province"><{$vo.pro_addr}></span> 
									<span class="city"><{$vo.city_addr}></span> 
									<span class="town"><{$vo.addr}></span> 
									<span class="detial"><{$vo.street}></span>
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>联系电话：</dt>
								<dd class="phones"><{$vo.reciver_phone}></dd>
							</dl>
						</div>
						<p class="fr">
							<a href="javascript:;" data-id="<{$vo.id}>" class="update">【修改】</a>
							<a href="javascript:;" data-id="<{$vo.id}>" class="delete">【删除】</a>
						</p>
						<eq name="vo.is_default" value="1">
						<p class="moren posA">[默认]</p>
						</eq>
					</div>
					</foreach>
					<div class="title">
						<p class="newAdds">新增收货地址</p>
					</div>
					<div id="addsBx" class="newAdds up">
						<form id="address" action="<{:U('Address/update')}>" method="post">
						<dl class="clearfix">
							<dt>收货人：</dt>
							<dd><input type="text" name="reciver_user" placeholder="收货人"><span class="must">*</span></dd>
						</dl>
						<dl class="clearfix">
							<dt>联系电话：</dt>
							<dd><input type="text" name="reciver_phone" placeholder="联系电话"><span class="must">*</span></dd>
						</dl>
						<dl class="clearfix">
							<dt>所在地区：</dt>
							<dd>
								<{$city.str}>
								<span class="must">*</span>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>街道地址：</dt>
							<dd><input type="text" name="street" placeholder="街道地址"><span class="must">*</span></dd>
						</dl>
						<dl class="clearfix">
							<dt>&nbsp;</dt>
							<dd>
								<input type="hidden" name="id" value="" />
								<a href="javascript:;" class="cancle ui-button">取消</a>
								<a href="javascript:;" class="submit ui-button">保存</a>
							</dd>
						</dl>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>
		
		$('.con').delegate('.title p', 'click', function(event) {                      // 打开添加
            $(this).hide();
            $('#addsBx').removeClass('update').addClass('newAdds');
            $('#addsBx').slideDown(300, function () {
                $('#addsBx input[type=text]').val('');
                $('.up dd select').val('');
            });
        }).delegate('a.cancle', 'click', function(event) {                        // 取消
            $(".title p").show();
            $(this).parents(".up").slideUp(500);
        }).delegate('a.update', 'click', function(event) {                             // 打开修改
			var id = $(this).attr('data-id');
			$.post("__CONTROLLER__/organize", {'id': id}, function(d){
				var data = JSON.parse(d);
				if(data == 'null' || !data){
					return false;
				}else{
					$('input[name=id]').val(data['address']['id']);
					$('input[name=reciver_user]').val(data['address']['reciver_user']);
					$('input[name=reciver_phone]').val(data['address']['reciver_phone']);
					$("select#province").empty().prepend(data['provinces']);
					$("select#city").empty().prepend(data['citys']);
					$("select#area").empty().prepend(data['areas']);
					$('input[name=street]').val(data['address']['street']);
					$(".title p").hide();
					$(".up").slideDown(300);
				}
			});
        }).delegate('a.submit', 'click', function(event) {                         // 提交
            var input = $('#address input');
			for(var a = 0;a < input.length;a++){
				if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
					var txt=  "请输入" + $(input[a]).attr("placeholder");
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					return false;
				}
			}
			var select = $('#address select');
			for(var b = 0;b < select.length;b++){
				if(!$(select[b]).val() || $(select[b]).val() == 0){
					var txt=  "请检查城市地区选择";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					return false;
				}
			}
			$('form#address').submit();
        }).delegate('a.delete', 'click', function(event) {                         // 删除
            var txt=  "确定要删除该收货地址吗？";
			var id = $(this).attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					$.post('__CONTROLLER__/delete', {'id':id}, function (d) {
						if(d > 0){
							var txt=  "删除成功！";
							window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
							window.location.href=window.location.href;
						}else{
							var txt=  "删除失败！";
							window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
						}
						
					});
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->