<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/brand.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="special_brand clearfix">
			<div class="imgArea"><img src="__PUBLIC__/bbs/icon/<{$brands.icon}>" alt="" /></div>
			<div class="textArea">
				<h1><{$brands.name}> 专题</h1>
				<p>共有<{$number}>个<if condition="$category eq 1">问题<else />分享</if></p>
			</div>
		</div>
		<div class="common_nav">
			<ul class="clearfix ulTit">
				<li <if condition="($sort eq '')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html">所有<if condition="$category eq 1">问题<else />文章</if></a></li>
				<if condition="$category eq 1">
				<li <if condition="($sort eq 'new')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html?sort=new">最新</a></li>
				<li <if condition="($sort eq 'helpful')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html?sort=helpful">最有帮助</a></li>
				<li <if condition="($sort eq 'unanswer')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html?sort=unanswer">未答复的</a></li>
				<else />
				<li <if condition="($sort eq 'use')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html?sort=use">使用技巧</a></li>
				<li <if condition="($sort eq 'repair')">class="current"</if>><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>.html?sort=repair">维修技巧</a></li>
				</if>
			</ul>
			<ul class="filter clearfix">
				<li><a href="<{$CBW_URL}>/forum/<{$category}>.html">品牌列表 >></a></li>
			</ul>
		</div>
		<div class="show_bd">
			<div class="thread_bd common_bd">
				<div class="thread_list">
					<ul>
						<foreach name="data" item="vo">
						<if condition="$category eq 1">
						<li class="clearfix <{$vo.cname}>">
							<div class="item_detial clearfix">
								<div class="item_detial_img">
									<a href="<{$CBW_URL}>/model/<{$category}>_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
								</div>
								<div class="item_detial_question">
									<span class="item_question_tit"><{$vo.replies}></span>
									<span class="item_question_bd">回答</span>
								</div>
							</div>
							<div class="item_tit">
								<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h2>
								<p>
									<if condition="$vo.satisfy eq '1'">
									<span>已接受</span>
									</if>
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.content|msubstr=0,70,'utf-8',true}></a>
								</p>
							</div>
							<div class="item_auth">
								<div class="item_auth_img">
									<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
								</div>
								<div class="item_auth_name">
									<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
									<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
								</div>
							</div>
						</li>
						<else />
						<li class="clearfix">
							<div class="share_pic">
								<empty name="vo.attachment" >
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/Forum/images/nopic.jpg" /></a>
								<else />
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" /></a>
								</empty>
							</div>
							<div class="share_bd">
								<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></h2>
								<p class="share_content">简介：<{$vo.description|msubstr=0,85,'utf-8',true}></p>
								<p class="pdz"><strong><{$vo.replies}></strong> 回复 / <strong><{$vo.votes}></strong> 评分 / <strong><{$vo.favtimes}></strong> 收藏</p>
							</div>
							<div class="share_auth">
								<div class="share_auth_img">
									<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
								</div>
								<div class="share_auth_name">
									<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
									<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
								</div>
							</div>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
				<div class="pagenum">
					<if condition="($page gt 1)">
						<if condition="($sort eq '')">
							<span class="pre_page"><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>/<{$page-1}>.html">&lt&lt上一页</a></span>
						<else />
							<span class="pre_page"><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>/<{$page-1}>.html?sort=<{$sort}>">&lt&lt上一页</a></span>
						</if>
					</if>
					<span class="num"><{$page}>/<{$pages}>页</span>
					<if condition="($page lt $pages)">
						<if condition="($sort eq '')">
							<span class="next_page"><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>/<{$page+1}>.html">下一页&gt&gt</a></span>
						<else />
							<span class="next_page"><a href="<{$CBW_URL}>/brand/<{$category}>_<{$brand}>/<{$page+1}>.html?sort=<{$sort}>">下一页&gt&gt</a></span>
						</if>
					</if>
				</div>
			</div>
		</div>
	</div>
	<div class="proList_right">
		<h3>该专题包含<{$snumber}>个小专题</h3>
		<ul>
			<foreach name="subs" item="vo">
			<li class="clearfix">
				<div class="imgArea"><a href="<{$CBW_URL}>/model/<{$category}>_<{$vo.id}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a></div>
				<div class="txtArea">
					<h4><a href="<{$CBW_URL}>/model/<{$category}>_<{$vo.id}>.html"><{$vo.name}></a></h4>
					<p>共有<{$vo.number}>个<if condition="$category eq 1">问题<else />分享</if></p>
				</div>
			</li>
			</foreach>
		</ul>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->