<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/forum.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap">
	<foreach name="forums" item="vo">
	<div class="brand">
		<h2><{$vo.name}></h2>
		<ul class="clearfix">
			<foreach name="vo.forums" item="v">
			<li><a href="<{$CBW_URL}>/brand/<{$category}>_<{$v.id}>.html"><img src="__PUBLIC__/bbs/icon/<{$v.icon}>" alt="<{$v.name}>" /></a></li>
			</foreach>
		</ul>
	</div>
	</foreach>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->