<extend name="Public:base" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Forum/css/default/model.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<div class="content wrap clearfix">
	<div class="content_left">
		<div class="special_model clearfix">
			<div class="imgArea"><img src="__PUBLIC__/bbs/icon/<{$models.icon}>" alt="<{$models.name}>" /></div>
			<div class="textArea">
				<h1><{$models.name}></h1>
				<p>共有<{$number}>个<if condition="$category eq 1">问题<else />分享</if></p>
				<p class="sp_content"><{$models.description}><span class="more"><i>...</i><em>展开</em></span></p>
			</div>
		</div>
		<div class="common_nav">
			<ul class="clearfix ulTit">
				<li <if condition="($sort eq '')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html">所有<if condition="$category eq 1">问题<else />文章</if></a></li>
				<if condition="$category eq 1">
				<li <if condition="($sort eq 'new')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html?sort=new">最新</a></li>
				<li <if condition="($sort eq 'helpful')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html?sort=helpful">最有帮助</a></li>
				<li <if condition="($sort eq 'unanswer')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html?sort=unanswer">未答复的</a></li>
				<else />
				<li <if condition="($sort eq 'use')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html?sort=use">使用技巧</a></li>
				<li <if condition="($sort eq 'repair')">class="current"</if>><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>.html?sort=repair">维修技巧</a></li>
				</if>
			</ul>
			<ul class="filter clearfix">
				<li><a href="<{$CBW_URL}>/brand/<{$category}>_<{$models.fid}>.html">返回品牌专题 >></a></li>
			</ul>
		</div>
		<div class="show_bd">
			<div class="thread_bd common_bd">
				<div class="thread_list">
					<ul>
						<foreach name="data" item="vo">
						<if condition="$category eq 1">
						<li class="clearfix <{$vo.cname}>">
							<div class="item_detial clearfix">
								<div class="item_detial_img">
									<a href="<{$CBW_URL}>/model/<{$category}>_<{$vo.fid}>.html"><img src="__PUBLIC__/bbs/icon/<{$vo.icon}>" alt="<{$vo.name}>" /></a>
								</div>
								<div class="item_detial_question">
									<span class="item_question_tit"><{$vo.replies}></span>
									<span class="item_question_bd">回答</span>
								</div>
							</div>
							<div class="item_tit">
								<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a></h2>
								<p>
									<if condition="$vo.satisfy eq '1'">
									<span>已接受</span>
									</if>
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.content|msubstr=0,70,'utf-8',true}></a>
								</p>
							</div>
							<div class="item_auth">
								<div class="item_auth_img">
									<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
								</div>
								<div class="item_auth_name">
									<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
									<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
								</div>
							</div>
						</li>
						<else />
						<li class="clearfix">
							<div class="share_pic">
								<empty name="vo.attachment" >
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/Forum/images/nopic.jpg" /></a>
								<else />
									<a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><img src="__PUBLIC__/bbs/attachment/<{$vo.attachment}>" /></a>
								</empty>
							</div>
							<div class="share_bd">
								<h2><a href="<{$CBW_URL}>/view/<{$vo.id}>.html"><{$vo.subject}></a><eq name="vo.original" value="1"><span class="original">（<em>原创</em>）</span></eq></h2>
								<p class="share_content">简介：<{$vo.description|msubstr=0,85,'utf-8',true}></p>
								<p class="pdz"><strong><{$vo.replies}></strong> 回复 / <strong><{$vo.votes}></strong> 评分 / <strong><{$vo.favtimes}></strong> 收藏</p>
							</div>
							<div class="share_auth">
								<div class="share_auth_img">
									<a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
								</div>
								<div class="share_auth_name">
									<p class="question-author-name"><a href="<{$CBW_URL}>/user/<{$vo.userid}>.html"><{$vo.uname}></a></p>
									<p class="question-date"><{$vo.occurtime|CBWTimeFormat='m.d'}></p>
								</div>
							</div>
						</li>
						</if>
						</foreach>
					</ul>
				</div>
				<div class="pagenum">
					<if condition="($page gt 1)">
						<if condition="($sort eq '')">
							<span class="pre_page"><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>/<{$page-1}>.html">&lt&lt上一页</a></span>
						<else />
							<span class="pre_page"><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>/<{$page-1}>.html?sort=<{$sort}>">&lt&lt上一页</a></span>
						</if>
					</if>
					<span class="num"><{$page}>/<{$pages}>页</span>
					<if condition="($page lt $pages)">
						<if condition="($sort eq '')">
							<span class="next_page"><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>/<{$page+1}>.html">下一页&gt&gt</a></span>
						<else />
							<span class="next_page"><a href="<{$CBW_URL}>/model/<{$category}>_<{$model}>/<{$page+1}>.html?sort=<{$sort}>">下一页&gt&gt</a></span>
						</if>
					</if>
				</div>
			</div>
		</div>
	</div>
	<div class="proList_right">
		<h3>该话题最新<if condition="$category eq 1">回答<else />回复</if></h3>
		<ul>
			<foreach name="news" item="vo">
			<li><a href="<{$CBW_URL}>/view/<{$vo.tid}>.html"><span>[<{$vo.dateline|CBWTimeFormat='m.d'}>] <{$vo.uname}> <if condition="$category eq 1">回答了问题<else />回复了文章</if></span><{$vo.subject}></a></li>
			</foreach>
		</ul>
	</div>
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
        if($("p.sp_content")[0].scrollHeight>60){
            $("p.sp_content .more").show();
        }else{
            $("p.sp_content .more").hide();
        };
        $("p.sp_content .more em").click(function(event) {
            var _this = $(this);
            if(_this.html() == "展开"){
                $("p.sp_content").css("height","auto");
                _this.html("收起").siblings('i').css("visibility","hidden");
            }else if(_this.html() == "收起"){
                $("p.sp_content").css("height","57px");
                _this.html("展开").siblings('i').css("visibility","visible");
            };
        });
        $(".filter li").click(function(event) {
            $(this).addClass('current').siblings().removeClass('current');
            var myIndex = $(this).index();
            $(".show_bd .common_bd").eq(myIndex).show().siblings().hide();
        });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->