<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/recovery-assess.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
			<div class="return"><span>&#xe61d;</span></div>回收评估
		</h1>
	</header>
	<div class="con">
		<notempty name="basic[1]['basic']">
		<form id="recovery" action="<{:U('Recovery/information')}>" method="post">
		<foreach name="basic" item="vo">
		<eq name="vo.show" value="1">
		<dl class="must options clearfix">
			<dt><{$vo.name}></dt>
			<dd>
				<foreach name="vo.basic" item="b">
				<span data-id="<{$b.id}>"><{$b.name}></span>
				</foreach>
				<span class="mod">修改</span>
			</dd>
		</dl>
		</eq>
		</foreach>
        <foreach name="other" item="vo">
		<eq name="vo.show" value="1">
		<dl class="must options clearfix">
			<dt><{$vo.name}></dt>
			<dd class="clearfix">
				<foreach name="vo.other" item="o">
				<span data-id="<{$o.id}>"><{$o.name}></span>
				</foreach>
				<span class="mod">修改</span>
			</dd>
		</dl>
		</eq>
		</foreach>
        <dl class="options clearfix">
            <dt>功能情况<span style="color:#f60; paspaning-left:15px; font-size:13px;">此项可多选也可不选</span></dt>
            <dd class="clearfix">
                <foreach name="function" item="vo">
					<neq name="vo.pid" value="0">
						<span data-id="<{$vo.id}>" data-kinds="<{$vo.brother}>"><{$vo.name}></span>
					</neq>
				</foreach>
            </dd>
        </dl>
        <div class="btns">
            <button type="button" data-type="reset" class="reset">重新评估</button>
            <button type="button" data-type="reco" class="reco">立即回收</button>
			<input type="hidden" name="ids" value="" />
        </div>
		</form>
		<else />
		<div class="empty clearfix">
			该设备暂不支持回收
		</div>
		</notempty>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
        $('.con').delegate('.options dd span','click',function(e){
            var e = e || event;
            var top = e.pageY;
            var _this = $(this);
            var must = $('.must');
            var _dl = _this.parents('dl');
            if(_dl.hasClass('must')){
                if(_this.hasClass('on')){return false;}
                if(_this.hasClass('mod')){
                    _this.hide(150).siblings('span').removeClass('on').show(150);
                    $('.btns .checkPrice').show(150);
                    $('.btns .next').hide(150);
                }else{
                    _this.addClass('on').siblings('span').removeClass('on').hide(150);
                    _this.siblings('span.mod').show(150);
                }
            }else{
                var call = $(this).attr('data-kinds');
                if(call){
                    if(_this.hasClass('on')){
                        _this.removeClass('on');
                    }else{
                        _this.addClass('on').siblings('span[data-kinds="'+ call +'"]').removeClass('on');
                    }
                }else{
                    $(this).toggleClass('on');
                }
            }
            $('html,body').animate({scrollTop:(top - 80)+'px'});
            _dl.find('dt').removeAttr('style');
            $('.btns .next').hide(150);
            $('.btns .checkPrice').show(150);
        }).delegate('button','click',function(){
            var _this = $(this);
            var type = _this.attr('data-type');
            if(type == 'reset'){
				$("input[name=ids]").val(ids);
                $('.options span:not(.mod)').show(150).removeClass('on').siblings('.mod').hide(150);
                $('html,body').animate({scrollTop: 0 + 'px'});
            }else if(type == 'reco'){
                var must = $('dl.must');
                var onMust = $('dl.must span.on');
                var top = 0;
                var index = 'a';
                for(var a = 0;a < must.length;a++){
                    if($(must[a]).find('span.on').length == 0){
                        $(must[a]).find('dt').css({'background':'#ffe1e1'})
                        if(index == 'a'){
                            index = a;
                            var offset = $(must[index]).offset();
                            dTop = offset.top;
                        }
                    }
                }
                if(must.length > onMust.length){
                    $('html,body').animate({scrollTop: top + 'px'});
                    return false;
                }
                var ids = [];
                var dds = $('.options dd span.on');
                for(var i = 0;i < dds.length;i++){
                    ids[i] = $(dds[i]).attr('data-id');
                }
				$("input[name=ids]").val(ids);
                $('form#recovery').submit();
            }
        });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->