<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/repair-step.css" />
	<style type="text/css">
		.con dd strong{
			display: block;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con">
		<div class="topnews">
			<ul class="clearfix">
				<li><div class="return"><span>&#xe61d;</span></div></li>
				<li>
					<span>类型</span>
					<strong><a href="<{$CBW_URL}>/recovery/select.html" title="<{$step.type}>"><{$step.type}></a></strong>
				</li>
			</ul>
		</div>
		<div class="bts-cdn">
			<div class="select">
				<dl class="clearfix">
					<dt>2.请选择您的设备品牌</dt>
					<foreach name="brandRes" item="vo">
					<if condition="$vo['cat_name'] eq '其他'">
					<dd>
						<a href="<{$CBW_URL}>/recovery/information.html" title="<{$vo.cat_name}>">
							<img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" width="80">
							<strong><{$vo.cat_name}></strong>
						</a>
					</dd>
					<else />
					<dd>
						<a href="<{$CBW_URL}>/recovery/<{$typeId}>-<{$vo.id}>.html" title="<{$vo.cat_name}>">
							<img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" alt="<{$vo.cat_name}>" width="80">
							<strong><{$vo.cat_name}></strong>
						</a>
					</dd>
					</if>
					</foreach>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var nows = true
		$(".buy_pro ul li").click(function(event) {
			if (nows==true) {
				$(this).children('.pro_news').children('.select').css({"background-position-x":"-347px"});
				nows=false
			}else{
				$(this).children('.pro_news').children('.select').css({"background-position-x":"-367px"});
				nows=true
			};
		});
		var now = 1;
		$(".all_slt").click(function(event) {
			if (now==1) {
				$(this).children('i').css({"background-position-x":"-347px"});
				$('.pro_news .select').css({"background-position-x":"-347px"});
				now = 0;
			}else{
				$(this).children('i').css({"background-position-x":"-367px"});
				$('.pro_news .select').css({"background-position-x":"-367px"});

				now=1
			};
		});
	</script>
</block>

<!-- 底部JS执行区域 结束 -->