<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/recovery-step.css" />
	<style type="text/css">
		.con{
			padding-top:44px;
		}
		.con dd{
			width: 45%;
			margin: 0 2%;
		}
		.con dd:last-child img{
			margin-bottom: 7px;
		}
		.con dd strong{
			display: block;
		}
		.con .select{
			margin-top:15px;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>设备回收</h1>
    </header>
	<div class="con">
		<div class="bts-cdn">
			<div class="select">
				<dl class="clearfix">
					<dt>1.请选择您的设备类型</dt>
					<dd class="">
						<a href="<{$CBW_URL}>/recovery/10.html">
							<img src="__PUBLIC__/Mobile/images/iphone-pc.png">
							<strong>手机</strong>
						</a>
					</dd>
					<dd class="">
						<a href="<{$CBW_URL}>/recovery/11.html">
							<img src="__PUBLIC__/Mobile/images/ipad-pc.png">
							<strong>平板</strong>
						</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->