<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/assess.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>检测改价</h2>
		<if condition="$recovery['reco_id'] gt 0">
		<div class="orderDetail ddd">
			<h2>订单信息</h2>
			<div class="item">
				<div class="user-news orderDetail-item clearfix">
					<h3>订单信息</h3>
					<div class="rope clearfix">
						<span class="news-tit f_left">收货人：</span>
						<div class="news-content f_left">
							<span><{$order.reciver_user}> <{$order.reciver_phone}></span> 
							<span><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span>
						</div>
					</div>
					<div class="rope clearfix">
						<span class="news-tit f_left">订单编号：</span>
						<div class="news-content f_left"><{$order.order_sn}></div>
					</div>
					<div class="rope clearfix">
						<span class="news-tit f_left">下单时间：</span>
						<div class="news-content f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></div>
					</div>
				</div>
				<div class="fault-content">
					<h3>故障信息</h3>
					<div class="fault-news clearfix">
						<div class="rope clearfix">
							<div class="f_left mr85">
								<span class="news-tit f_left">类型：</span>
								<div class="news-content f_left"><{$recovery.type}></div>
							</div>
							<div class="f_left mr85">
								<span class="news-tit f_left">品牌：</span>
								<div class="news-content f_left"><{$recovery.brand}></div>
							</div>
							<div class="f_left mr85">
								<span class="news-tit f_left">型号：</span>
								<div class="news-content f_left"><{$recovery.model}></div>
							</div>
					    </div>
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">信息：</span>
								<div class="news-content f_left"><{$recovery.attrs}></div>
							</div>
						</div>
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">服务方式：</span>
								<div class="news-content f_left"><if condition="$recovery['reco_way'] eq 1">到店服务<else />上门服务</if></div>
							</div>
						</div>
						<div class="rope">
							<div class="clearfix">
								<span class="news-tit f_left">备注：</span>
								<div class="news-content f_left"><eq name="order.remarks" value="">无<else /><{$order.remarks}></eq></div>
							</div>
						</div>
						<if condition="$recovery['new_attr'] eq ''">
						<div class="clearfix f_right repair-price rope">
							<span class="news-tit f_left">回收价格：</span>
							<div class="news-content f_left"><em>￥</em><span>148.00</span></div>
						</div>
						</if>
					</div>
				</div>
			</div>
			<div class="master-test <if condition="$recovery['new_attr'] eq ''">dn</if>">
			    <h2>维修师评估信息</h2>
				<div class="master-test-content clearfix">
				    <div class="clearfix mb10 f_left">
						<span class="news-tit f_left">信息：</span>
						<div class="news-content f_left" id="testDetial"><{$recovery.again_attr}></div>
					</div>
					<div class="clearfix f_right repair-price">
						<span class="news-tit f_left">回收价格：</span>
						<div class="news-content f_left"><em>￥</em><span id="testPrice"><{$recovery.new_price}></span></div>
					</div>
				</div>
				<div class="tips clearfix"><span class="icon-tips"></span><span class="word-tips">回收价格不对可重新检测改价</span></div>
			</div>
		</div>
		<!-- 物流信息 -->
		<if condition="$recovery['reco_way'] eq 3">
		<div class="item shipping-news">
			<h2 class="clearfix">
				<span class="f_left">物流信息</span>
				<div class="hd f_right">
					<ul class="clearfix">
						<li class="on">寄出</li>
						<li>寄回</li>
					</ul>
				</div>
			</h2>
			<div class="bd">
				<div class="package-detail-list tab chu show">
					<p class="shopping-tit clearfix">
						<span class="f_left">快递公司：<{$order['shipping_name']}> 快递单号：<{$order['shipping_num']}></span>
						<span class="f_right">展开</span>
					</p>
					<notempty name="order.shipping">
					<ul>
						<foreach name="order.shipping" item="v">
						<li><{$v.time}> <{$v.context}><span class="circle_step"></span></li>
						</foreach>
					</ul>
					</notempty>
				</div>
				<div class="package-detail-list hui tab">
					<p class="shopping-tit clearfix">
						<span class="f_left">快递公司：<{$order['return_name']}> 快递单号：<{$order['return_num']}></span>
						<span class="f_right">展开</span>
					</p>
					<notempty name="order.return">
					<ul>
						<foreach name="order.return" item="v">
						<li><{$v.time}> <{$v.context}><span class="circle_step"></span></li>
						</foreach>
					</ul>
					</notempty>
					</neq>
				</div>
			</div>
		</div>
		</if>
		<div class="btn-groups">
			<if condition="$order['order_status'] eq 1">
		    <a href="javascript:;" class="change">重新评估</a>
			</if>
		</div>
		<div class="bd" id="recovery">
			<div class="tab detail">
				<div class="clearfix">
					<foreach name="basic" item="vo">
						<eq name="vo.show" value="1">
						<dl class="clearfix must">
							<dt><{$vo.name}></dt>
							<foreach name="vo.basic" item="b">
								<dd data-id="<{$b.id}>"><span title="<{$b.description}>"><{$b.name}></span></dd>
							</foreach>
							<dd class="mod"><span>修改</span></dd>
						</dl>
						</eq>
					</foreach>
					<foreach name="other" item="vo">
						<eq name="vo.show" value="1">
						<dl class="clearfix must">
							<dt><{$vo.name}></dt>
							<foreach name="vo.other" item="o">
								<dd data-id="<{$o.id}>"><span title="<{$o.description}>"><{$o.name}></span></dd>
							</foreach>
							<dd class="mod"><span>修改</span></dd>
						</dl>
						</eq>
					</foreach>
					<dl class="clearfix">
						<dt>功能情况<span style="color:#f60; padding-left:15px; font-size:13px;">此项多选也可不选</span></dt>
						<foreach name="function" item="vo">
							<neq name="vo.pid" value="0">
								<dd data-id="<{$vo.id}>" data-kinds="<{$vo.brother}>"><span title="<{$vo.description}>"><{$vo.name}></span></dd>
							</neq>
						</foreach>
					</dl>
					<div class="price"><p>最终评估价：<input type="text" id="lastPrice" name="money" value="" /></p></div>
					<div class="option clearfix">
						<span class="pvTp" id="saveAllNews">保存</span>
					</div>
				</div>
			</div>
		</div>
		</if>
		<input type="hidden" name="model" value="<{$recovery.reco_id}>" />
		<input type="hidden" name="ids" value="" />
		<input type="hidden" name="id" value="<{$recovery.order_id}>" />
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
	    // 物流
		$(".shipping-news .chu ul li").eq(0).css("display","block");
		$(".shipping-news .chu ul li").eq(1).css("display","block");
		$(".shipping-news .hui ul li").eq(0).css("display","block");
		$(".shipping-news .hui ul li").eq(1).css("display","block");
		if($(".shipping-news .chu ul li").length <= 2){
		    $(".shipping-news .chu .shopping-tit .f_right").hide();
		}else{
		    $(".shipping-news .chu .shopping-tit .f_right").show();
		}
		if($(".shipping-news .hui ul li").length <= 2){
		    $(".shipping-news .hui .shopping-tit .f_right").hide();
		}else{
		    $(".shipping-news .hui .shopping-tit .f_right").show();
		}
		$(".package-detail-list .shopping-tit .f_right").click(function(){
		   var _this = $(this);
		   if(_this.html() == "展开"){
			   _this.parents(".shopping-tit").siblings("ul").find("li").css("display","block");	
			   _this.html("收起");
		   }else if(_this.html() == "收起"){
				_this.parents(".shopping-tit").siblings("ul").find("li").css("display","none");
				$(".shipping-news .chu ul li").eq(0).css("display","block");
				$(".shipping-news .chu ul li").eq(1).css("display","block");
				$(".shipping-news .hui ul li").eq(0).css("display","block");
				$(".shipping-news .hui ul li").eq(1).css("display","block");
			   _this.html("展开");				   
		   } 	   
		});
		$(".shipping-news .hd li").click(function(){
			var _this = $(this);
			var myIndex = _this.index();
			_this.addClass("on").siblings().removeClass("on");
			$(".package-detail-list").eq(myIndex).addClass("show").siblings().removeClass("show");
		});
		$('.con-bd').delegate('dd','click',function(){
			var _this = $(this);
			var _dl = _this.parents('dl');
			var must = _dl.hasClass('must');
			var musts = _dl.nextAll('dl.must');
			var kind = _this.attr('data-kinds');
			var bdTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
			_this.siblings('dt').css({'background':'none'});
			//判断是否修改
			if(_this.hasClass('mod')){
				_this.siblings('dd').removeClass('on').show(250);
				_this.hide();
				$('.option .submit').hide();
				return false;
			}
			//下一个未选择的对象的TOP
			var dTop = 0;
			var index = 'a';
			for(var a = 0;a < musts.length;a++){
				if($(musts[a]).find('dd.on').length == 0 && index == 'a'){
					index = a;
					var offset = $(musts[index]).offset();
					dTop = offset.top;
				}
			}
			//点击对象的TOP
			var ofst = _dl.offset();
			var tp = ofst.top;
			//两者之间的距离
			var move = dTop - tp;
			if(!must){
				if(kind){
					if(_this.hasClass('on')){
						_this.removeClass('on');
					}else{
						_this.addClass('on');
						_this.siblings('dd[data-kinds="'+ kind +'"]').removeClass('on');
					}
				}else{
					_this.toggleClass('on');
				}
				$('.option .submit').hide();
			}else{
				if(move > 0){
					$('html,body').animate({scrollTop: bdTop + move + 'px'});
				}else{
					var checkOfst = $('.option').offset();
					var checkTop = checkOfst.top;
					$('html,body').animate({scrollTop: checkTop + 'px'});
				}
				if(_this.hasClass('on')){
					return false;
				}
				_this.addClass('on').siblings('dd').removeClass('on').hide(250);
				_this.siblings('dd.mod').show();
			};
			// 选择完毕评估价格
			var must = $('dl.must');
            var on = must.find('dd.on');
			if(must.length == on.length){
				var model = $('input[name=model]').val();
                var order_id = $('input[name=id]').val();
                var ids = [];
                var dd = $('.tab dd.on');
                for(var a = 0;a < dd.length;a++){
                    ids[a] = $(dd[a]).attr('data-id');
                }
                $.post('__CONTROLLER__/compute', {'ids':ids,'model':model,'order_id':order_id}, function(d){
                    var data = $.parseJSON(d);
                    if(data['statue'] == 1){
                        var money = parseFloat(data['money']);
                        $('input[name=money]').val(money.toFixed(2));
                        $('input[name=ids]').val(ids);
                        $('.option span.submit').css({'display':'inline-block'});
                        $('.option span.ntTp').css({'display':'none'})
                    }else{
                        var txt=  "网络错误，请重试！";
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                        return false;
                    }
                })
			};
		}).delegate('.btn-groups .change','click',function(){
		    $("#recovery").slideDown(300);
			setTimeout(function(){
			    var scroll_hei = $("#recovery").offset().top-50;
				$('html,body').animate({scrollTop:scroll_hei}, 300)
			},300)
		}).delegate('#saveAllNews','click',function(){
			var _this = $(this);
			var id    = $("input[name=id]").val();
			var ids   = $("input[name=ids]").val();
			var money = $("input[name=money]").val();
			$.post('__CONTROLLER__/updateRecovery', {'id':id,"ids":ids,"money":money}, function (d){
				if(d > 0){
					var must = $('dl.must');
					var on = must.find('dd.on');
					var ids = [];
					var dds = $('dl dd.on span');
					if(must.length > on.length){
						var index = 'a';
						var top;
						for(var a = 0;a < must.length;a++){
							if($(must[a]).find('dd.on').length == 0){
								$(must[a]).find('dt').css({'background':'#ffe1e1'});
								if(index == 'a'){
									index = a;
									var offset = $(must[index]).offset();
									top = parseFloat(offset.top);
								}
							}
						}
						if(index != 'a'){
							$('body').animate({scrollTop: top + 'px'},300);
						}
						return false;
					};
					for(var i = 0;i < dds.length;i++){
						ids[i] = $(dds[i]).html();
					}
					var allNews = ids.join("|");
					var lastPrice = parseInt($("#lastPrice").val());
					var toLastPrice = lastPrice.toFixed(2);
					$(".fault-news .repair-price").hide();
					$(".master-test").show();
					$("#testDetial").html(allNews);
					$("#testPrice").html(toLastPrice);
					_this.parents("#recovery").slideUp(300);
				}else{
					alert('保存失败');
				}
			}); 
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->