<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/comment.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>我的评价</h2>
		<div class="con-bd-t">
			<form id="comment" action="<{:U('System/comment')}>" method="get">
			<input type="text" class="date-select" name="startdate" value="<{$startdate}>" />
			<span>至</span>
			<input type="text" name="enddate" class="date-select" value="<{$enddate}>" />
			<span class="icon"><i class="search"></i></span>
			</form>
		</div>
		<div class="con-bd-b">
			<div class="ul-tit">用户评价</div>
			<div class="ul-bd">
				<ul>
					<foreach name="comments" item="vo">
					<li>
						<div class="li-t">
							<div class="clearfix clearTop">
								<div class="eva-a">
									<img src="__PUBLIC__/User/<{$vo.thumb}>"  onerror="javascript:this.src='__PUBLIC__/User/man.jpg'"/>
									<span class="athname"><{$vo.uname}></span>
								</div>
								<div class="eva-b">
									<p class="gon">
										<span class="iap">
											<if condition="($vo['score'] eq 1)">
												<img src="__PUBLIC__/Home/system/images/eva-good.png" height="18" width="18" alt="" />好评
											<elseif condition="$vo['score'] eq 2"/>
												<img src="__PUBLIC__/Home/system/images/eva-zh.png" height="18" width="18" alt="" />中评
											<elseif condition="$vo['score'] eq 3"/>
												<img src="__PUBLIC__/Home/system/images/eva-no.png" height="18" width="18" alt="" />差评
											</if>
										</span>
										<span class="eva-at"><{$vo.content}></span>
										<eq name="vo.replies" value=""><span class="rely">回复</span></eq>
									</p>
									<p class="gon-b">
										<time><{$vo.comment_time|date="Y-m-d H:i:s",###}></time>
										<span>订单编号：<{$vo.order_sn}></span>
									</p>
								</div>
							</div>
							<eq name="vo.replies" value="">
							<div class="addreply clearfix" data-id="<{$vo.id}>">
								<textarea name="reply" placeholder="适当的回复或许能提升对您的信任哦~"></textarea>
								<p class="alert">请输入内容</p>
								<span class="submit">提交</span>
							</div>
							</eq>
						</div>
						<neq name="vo.replies" value="">
						<div class="eva-c">
							<p class="eva-c-t"><span>[回复]</span><{$vo.replies}></p>
							<p class="time"><time><{$vo.reply_time|date="Y-m-d H:i:s",###}></time></p>
						</div>
						</neq>
					</li>
					</foreach>
				</ul>
			</div><!-- ul-bd -->
			<div class="page">
				<{$page}>
			</div>
		</div><!-- con-bd-b -->
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d'});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d'});
		
		$(".con-bd").delegate('.search','click',function(){      // 搜索
			$('#comment').submit();
		}).delegate('.rely','click',function(){                  // 打开回复
			$(this).parents(".clearTop").siblings(".addreply").fadeToggle(400);
		}).delegate('.submit','click',function(){                // 回复
			var _this = $(this);
			var id = _this.parents('.addreply').attr('data-id');
			var reply = _this.siblings('textarea').val();
			if(reply == ''){
				$(".addreply .alert").show();
				return false;
			}else{
				$(".addreply .alert").hide();
				var txt=  "确认提交回复？";
				var option = {
					title: "提示",
					btn: parseInt("0011",2),
					onOk: function(){
						var data = {'commentid': id,'reply':reply};
						$.post('__CONTROLLER__/reply', data, function (d) {
							if(d){
								location.reload();
							}else{
								var txt=  "回复失败";
								window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
							}
						});	
					}
				}
				window.wxc.xcConfirm(txt, "custom", option);
				
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->