<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/create.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>创建订单</h2>
		<form id="shopset" class="clearfix" method="post" action="<{:U('System/doCreateOrder')}>" autocomplete="off">
		<div class="con-bd-t clearfix">
			<div class="repair_news mod">
				<h3>维修信息</h3>
				<div class="way false">
					<span>维修方式：</span>
					<label for="gostore"><input id="gostore" type="radio" name="way" value="1" /> 到店维修</label>
					<label for="godoor"><input id="godoor" type="radio" name="way" value="2" /> 上门维修</label>
					<em class="tip">请选择维修方式</em>
				</div>
				<div class="slt_mobile false">
					<span class="fls_tit">维修设备：</span>
					<select name="brand" id="brand">
						<option value="0">选择品牌</option>
						<foreach name="brands" item="vo">
						<option value="<{$vo.id}>"><{$vo.cat_name}></option>
						</foreach>
					</select>
					<select name="model" id="model">
						<option value="0">选择型号</option>
					</select>
					<select name="color" id="color">
						<option value="0">选择颜色</option>
					</select>
					<select name="relation" id="relation">
						<option value="0">选择故障与方案</option>
					</select>
					<em class="tip"></em>
				</div>
				<div class="remarks">
					<span class="fls_tit">备注：</span>
					<textarea name="remarks" class="mustInput" id="remarks" placeholder="如果上面找不到您需要的设备或故障，请在这里填写维修设备品牌、型号、颜色还有故障，否则允许留空！"></textarea>
					<em class="tip">请填写维修备注</em>
				</div>
				<div class="money false textInput">
					<span class="fls_tit">金额：</span>
					<input id="money" class="ui-input ui-input1 mustInput" type="text" name="money" placeholder="请输入金额" />
					<em class="tip">请输入金额</em>
					<span class="suggest">参考金额:<em class="money">0.00</em>元</span>
				</div>
			</div>
			<div class="custor_news mod">
				<h3>顾客信息</h3>
				<div class="name false textInput">
					<span class="fls_tit">姓名：</span>
					<input id="name" class="ui-input ui-input2 mustInput" type="text" name="uname" placeholder="请输入姓名" />
					<em class="tip">请输入姓名</em>
				</div>
				<div class="mobile false textInput">
					<span class="fls_tit">手机号码：</span>
					<input id="mobile" class="ui-input ui-input2 mustInput" type="text" name="mobile" placeholder="请输入手机号码" />
					<em class="tip">请输入手机号码</em>
				</div>
				<div class="area">
					<span class="fls_tit">地区：</span>
					<{$city.str}>
				</div>
				<div class="address">
					<span class="fls_tit">详细地址：</span>
					<input type="text" class="ui-input ui-input3 mustInput" id="address" name="address" placeholder="输入详细地址" />
				</div>
			</div>
			<div class="b5-b"><button id="setSubmit" class="submit ui-button">提交</button></div>
		</div>
		</form>
	</div><!-- con-bd-b -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
		<{$city.script}>
		
		// 下拉框选择
		$('#brand').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeBrandSelect', {'id': id}, function (d) {
					if(d){
						$("#model").empty().append(d);
					}else{
						$('#model').empty().append('<option value="0">选择型号</option>');
					}
					$('#color').empty().append('<option value="0">选择颜色</option>');
					$('#relation').empty().append('<option value="0">选择故障</option>');
                });
			}
		});
		$('#model').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeModelSelect', {'id': id}, function (d) {
					if(d){
						$("#color").empty().append(d);
					}else{
						$('#color').empty().append('<option value="0">选择颜色</option>');
					}
					$('#relation').empty().append('<option value="0">选择故障</option>');
                });
			}
		});
		$('#color').change(function(){
			var id = $('#model').children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeColorSelect', {'id': id}, function (d) {
					if(d){
						$("#relation").empty().append(d);
					}else{
						$('#relation').empty().append('<option value="0">选择故障</option>');
					}
                });
			}
		});
		$('#relation').change(function(){
			var id    = $(this).children('option:selected').val();
			var color = $('#color').children('option:selected').val();
			if(id && color){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeRelationSelect', {'id': id, 'color': color}, function (d) {
					if(d > 0){
						$(".suggest").show().find(".money").html(d);
					}else{
						$(".suggest").hide();
					}
                });
			}
		});
		
		// 提交验证
		function checkRadio(){
			var way = $(".way");
			var val = way.find("input:checked").val();
			if( val == null){
				way.find("em.tip").show();
				way.addClass("false");
			}else{
				way.find("em.tip").hide();
				way.removeClass("false");
			};
		};
		/* 选择故障，只要选择一个即可通过 */
		function checkfalse(){
			var statu = 0;
			var slt_mob = $(".slt_mobile");
			var slt = slt_mob.find("select").eq(3);
			var text = '';
			if(slt.val() == 0){
				slt_mob.find('em.tip').show().text('请选择维修故障');
			}else{
				slt_mob.find('em.tip').hide().text('');
				statu++;
			}
			
			var remarks = $(".remarks");
			if(remarks.find("#remarks").val() == ""){
				remarks.find("em.tip").show();
			}else{
				remarks.find("em.tip").hide();
				statu++;
			}
			
			if(statu>=1){
				slt_mob.removeClass("false");
				remarks.find("em.tip").hide();
				slt_mob.find('em.tip').hide().text('');
			}else{
				slt_mob.addClass("false");
			}
			
		};
		function checkInput(){
			for(var i = 0;i<$(".textInput").length;i++){
				var inputBox = $(".textInput");
				if($(inputBox[i]).find(".mustInput").val() == ""){
					$(inputBox[i]).find("em.tip").show();
					$(inputBox[i]).addClass("false");
				}else{
					$(inputBox[i]).find("em.tip").hide();
					$(inputBox[i]).removeClass("false");
				}
			};
		};
		$(".con-bd-t").on("click","#setSubmit",function(){
			checkRadio();
			checkInput();
			checkfalse();
			if($(".con-bd-t div.false").length != 0){
				return false;
			}
		}).on("click",".way label",function(){
			checkRadio();
		}).on("blur",".money input",function(){
			$(this).siblings("em.tip").hide();
			$(this).parents(".textInput").removeClass("false");
		}).on("blur",".name input",function(){
			$(this).siblings("em.tip").hide();
			$(this).parents(".textInput").removeClass("false");
		}).on("blur",".mobile input",function(){
			$(this).siblings("em.tip").hide();
			$(this).parents(".textInput").removeClass("false");
		}).on("blur",".remarks textarea",function(){
			$(this).siblings("em.tip").hide();
			$(this).parents(".textInput").removeClass("false");
		}).on("change",".slt_mobile select",function(){
			var slt_mob = $(".slt_mobile");
			var slt = slt_mob.find("select").eq(3);
			if(slt.val() != 0){
				slt_mob.find('em.tip').hide().text('');
			}
		}).on("blur","#remarks",function(){
			var remarks = $(".remarks");
			if(remarks.find("#remarks").val() != ""){
				remarks.find("em.tip").hide();
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->













