<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/delivery_add.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>商品出库</h2>
		<div class="container">
		    <div class="pro-mod">
				<div class="pro-name">
					商品名称：<input type="text" autocomplete="off" id="pro_name" placeholder="输入产品名称或者产品编号" />
				</div>
				<div class="prolist"></div>
			</div>
			<form action="__CONTROLLER__/doDeliveryAdd" id="add" method="post">
			<table>
				<thead>
					<tr class="theadtr">
						<th style="width:40%;">商品名称</th>
						<th style="width:15%;">单价</th>
						<th style="width:15%;">数量</th>
						<th style="width:15%;">金额</th>
						<th style="width:15%;">操作</th>
					</tr>
				</thead>
				<tbody id="pro_list">
					<tr style="height:15px;"></tr>
					<tr class="usernews">
					    <td colspan="5">
							<div class="buy-user">用户：<input type="text" name="username" value=""></div>
							<div class="buy-phone">电话：<input type="text" name="mobile" value=""></div>
							<div class="all-price">
								合计金额：<span>0.00</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="btns"><button id="shiPment">出 库</button></div>
			</form>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	    // 添加出库商品
		$(".pro-mod").on('mouseenter',".prolist li",function(event){
		   $(this).addClass('current').siblings().removeClass('current');
		}).on('mouseleave',".prolist li",function(event){
			$(this).removeClass('current')
		}).on('click',".prolist li",function(event){
			var id     = $(this).attr('data-id');
			var price  = $(this).attr('data-price');
			var imgsrc = $(this).children('img').attr("src");
			var phtml  = $(this).find('p').html();
			$(this).parents(".prolist").hide();
			var html = '';
				html += '<tr class="checkId" data-id="'+id+'">';
				html +=	'<td class="pro-detial"><img src="'+imgsrc+'" alt="">'+phtml+'</td>';
				html +=	'<td class="text-center sigprice"><input type="hidden" name="id[]" value="'+id+'" /><input class="pro_sig_price" type="text" name="price[]" value="'+price+'" onkeyup="countPrice()" /></td>>';
				html +=	'<td class="text-center number">';
				html +=		'<p>';
				html +=			'<b class="minus bns disabled"></b>';
				html +=			'<input type="text" name="number[]" onkeyup="countPrice()" class="parent" value="1">';
				html +=			'<b class="plus bns"></b>';
				html +=		'</p>';
				html +=	'</td>';
				html +=	'<td class="text-center smlcount">'+price+'</td>';
				html +=	'<td class="text-center delete">删除</td>';
				html += '</tr>';
			for(var i = 0;i<$(".checkId").length;i++){
			    var cur = $(".checkId").eq(i);
				if(cur.attr("data-id") == id){
				    var pro_num = cur.find(".number .parent").val();
					var sigprice = Number(cur.find(".sigprice .pro_sig_price").val());
					pro_num++;
				    cur.find(".number .parent").val(pro_num);
					cur.find(".smlcount").text(sigprice*pro_num+".00");
					countPrice();
					return;
				}
			}
			$("#pro_list").append(html);
			countPrice();
		});
		$('#pro_name').bind('keyup focus',function(event) {
			var keyword = $(this).val();
			if(keyword.length == 0){
				$(".prolist").hide();
				return false;
			}
			$.post('__CONTROLLER__/loadSelectProducts', {'keyword':keyword}, function(d){
				var data = JSON.parse(d);
				if(data && data != ''){
					var html = '<ul>';
					for(var i = 0;i<data.length;i++){                
						html += '<li class="clearfix" data-id="'+data[i]['rid']+'" data-price="'+data[i]['price']+'">';
						html += '<img src="__PUBLIC__/Product/thumb/'+data[i]['list_image']+'"/><p>'+data[i]['pro_name']+ ' '+data[i]['attr_name']+'</p>';
						html += '</li>';
					}
					html += '</ul>';
					$(".prolist").empty().html(html).show();
				}
			});
		});

		
		var eq = null;
		$(document).on('click','.bns',function(){            //-+改变商品数量
		    var _this = $(this);
			var num = _this.siblings('.parent').val();
			if(_this.hasClass('plus') == true){
				if(num >= 999){
					num = 999;
					_this.addClass('disabled');
				}else{
					num++;
					_this.removeClass('disabled');
				}
				_this.siblings('b.minus').removeClass('disabled');	
			}
			if(_this.hasClass('minus') == true){
				if(num <= 1){
					num = 1;
					_this.addClass('disabled');
				}else{
					num --;
					_this.removeClass('disabled');
				}
				_this.siblings('b.minus').removeClass('disabled');	
			}
			_this.siblings('.parent').val(num);
			countPrice();
		}).on('mouseenter','#pro_list tr',function(){         // 获取eq
			eq = $(this).index();
		}).on('click','.delete',function(){                   // 删除产品
		    var confirm = "确定删除这件商品吗？"
			if(confirm == true){
		        $(this).parents("tr").remove();
			    countPrice();
			}
		}).on('click','#shiPment',function(){                // 提交
		    
		    for(var i = 0;i<$(".checkId").length;i++){
			    if($(".checkId").eq(i).find(".pro_sig_price").val() == "" || $(".checkId").eq(i).find(".pro_sig_price").val() == "0.00"){
				    $(".checkId").eq(i).find(".pro_sig_price").css("border-color","#ff4444")
				    alert("有价格还没有填写！"); 
                    return false;					
				}else{
				    $(".checkId").eq(i).find(".pro_sig_price").css("border-color","#e6e6e6");
				}
			};
			if($(".checkId").length == 0){
			    alert("请添加商品！");
				return false;
			};
			$("form#add").submit();
		});
		function countPrice(){
		    var sigprice = Number($("#pro_list tr").eq(eq).find(".sigprice .pro_sig_price").val());
			var num = Number($("#pro_list tr").eq(eq).find(".number .parent").val());
			var sText = 0;
			if(!isNaN(sigprice) && !isNaN(num)){
			    $("#pro_list tr").eq(eq).find(".smlcount").text(sigprice*num+".00");
			};
			for(var i = 0;i<$("#pro_list tr").length-2;i++){
			    var sNum = Number($(".smlcount").eq(i).text());
				sText += sNum;
			};
			$(".all-price span").text(parseFloat(sText).toFixed(2));
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



