<extend name="Public:system"/>
<block name="cssFile">
    <link href="__PUBLIC__/Home/system/css/editprice.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">
	
</block>
<block name="publicBody"> 
    <div class="content clearfix">
		<div class="con-bd">
			<div class="orderDetail ddd">
				<h2>订单信息</h2>
				<div class="item">
					<div class="user-news orderDetail-item clearfix">
						<h3>订单信息</h3>
						<div class="rope clearfix">
							<span class="news-tit f_left">联系人：</span>
							<div class="news-content f_left">
								<span><{$order.reciver_user}></span> 
								<span><{$order.reciver_phone}></span>
								<span><{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span>
							</div>
						</div>
						<div class="rope clearfix">
							<span class="news-tit f_left">订单编号：</span>
							<div class="news-content f_left"><{$order.order_sn}></div>
						</div>
						<div class="rope clearfix">
							<span class="news-tit f_left">下单时间：</span>
							<div class="news-content f_left"><{$order.order_date|date="Y-m-d H:i:s",###}></div>
						</div>
					</div>
					<div class="fault-content">
						<h3>故障信息</h3>
						<div class="fault-news clearfix">
							<div class="rope clearfix">
								<if condition="$order['type'] neq ''">
								<div class="f_left mr85">
									<span class="news-tit f_left">类型：</span>
									<div class="news-content f_left"><{$order.type}></div>
								</div>
								</if>
								<if condition="$order['brand'] neq ''">
								<div class="f_left mr85">
									<span class="news-tit f_left">品牌：</span>
									<div class="news-content f_left"><{$order.brand}></div>
								</div>
								</if>
								<if condition="$order['model'] neq ''">
								<div class="f_left mr85">
									<span class="news-tit f_left">型号：</span>
									<div class="news-content f_left"><{$order.model}></div>
								</div>
								</if>
								<if condition="$order['color_name'] neq ''">
								<div class="f_left mr85">
									<span class="news-tit f_left">颜色：</span>
									<div class="news-content f_left"><{$order.color_name}></div>
								</div>
								</if>
							</div>
							<if condition="$order['plan'] neq ''">
							<div class="rope">
								<div class="clearfix">
									<span class="news-tit f_left">故障：</span>
									<div class="news-content f_left"><{$order.plan}></div>
								</div>
							</div>
							</if>
							<div class="rope">
								<div class="clearfix">
									<span class="news-tit f_left">维修方式：</span>
									<div class="news-content f_left">
									<if condition="$order['server_way'] eq 1">到店维修</if>
									<if condition="$order['server_way'] eq 2">上门维修</if>
									<if condition="$order['server_way'] eq 3">邮寄维修</if>
									</div>
								</div>
							</div>
							<div class="rope">
								<div class="clearfix">
									<span class="news-tit f_left">备注：</span>
									<div class="news-content f_left"><{$order['remarks']}></div>
								</div>
							</div>
							<if condition="$order['relation_ids'] eq ''">
							<div class="clearfix repair-price" style="text-align: right;">
							    <div style="display: inline-block;">
									<span class="news-tit f_left">维修价格：</span>
									<div class="news-content f_left"><em>￥</em>269.00</div>
								</div>
							</div>
							</if>
						</div>
					</div>
				</div>
			</div>
			<div class="master-test <if condition="$order['relation_ids'] eq ''">dn</if>">
			    <h2>维修店检测故障信息</h2>
				<div class="master-test-content clearfix">
					<if condition="$order['again_fault_name'] neq '' OR $order['again_plan_name'] neq ''">
				    <div class="clearfix mb10 f_left">
						<span class="news-tit f_left">故障：</span>
						<div class="news-content f_left" id="testDetial"><{$order.again_fault_name}> <{$order.again_plan_name}></div>
					</div>
					</if>
					<div class="clearfix mb10 f_left">
						<span class="news-tit f_left">备注：</span>
						<div class="news-content f_left" id="testRemark"><if condition="$order['shop_remarks'] eq ''">空<else /><{$order.shop_remarks}></if></div>
					</div>
					<div class="clearfix f_right repair-price">
						<span class="news-tit f_left">维修价格：</span>
						<div class="news-content f_left"><em>￥</em><span id="testPrice"><{$order.new_price}></span></div>
					</div>
				</div>
			</div>
			<!-- 物流信息 -->
			<if condition="$order['server_way'] eq 3">
			<div class="item shipping-news">
				<h2 class="clearfix">
				    <span class="f_left">物流信息</span>
					<div class="hd f_right">
						<ul class="clearfix">
							<li class="on">寄出</li>
							<li>寄回</li>
						</ul>
					</div>
				</h2>
				<div class="bd">
					<div class="package-detail-list tab chu show">
						<p class="shopping-tit clearfix">
						    <span class="f_left">快递公司：<{$order['shipping_name']}> 快递单号：<{$order['shipping_num']}></span>
							<span class="f_right">展开</span>
						</p>
						<notempty name="order.shipping">
						<ul>
							<foreach name="order.shipping" item="v">
							<li><{$v.time}> <{$v.context}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</notempty>
					</div>
					<div class="package-detail-list hui tab">
						<p class="shopping-tit clearfix">
						    <span class="f_left">快递公司：<{$order['return_name']}> 快递单号：<{$order['return_num']}></span>
							<span class="f_right">展开</span>
						</p>
						<notempty name="order.return">
						<ul>
							<foreach name="order.return" item="v">
							<li><{$v.time}> <{$v.context}><span class="circle_step"></span></li>
							</foreach>
						</ul>
						</notempty>
					</div>
				</div>
			</div>
			</if>
			<!-- 维修师模块 -->
			<div class="master-mod">
				<div class="btngrops">
					<if condition="$order['order_status'] eq 1">
					<a class="ui-button btn-change" href="javascript:;">检测改价</a>
					<div id="btnSuccess" style="display: inline-block;">
						<a class="ui-button btn-success" href="javascript:;">维修完成</a>
						<span class="wx_zfb clearfix">
							<a class="qrcode wx" target="_blank" href="<{:U('Wxpay/native', array('trade_no'=>$order['order_sn']))}>"><i class="wx_icon"></i>微信支付</a>
							<a class="qrcode zfb" target="_blank" href="<{:U('Alipay/qrcode', array('trade_no'=>$order['order_sn']))}>"><i class="zfb_icon"></i>支付宝支付</a>
						</span>
					</div>
					</if>
				</div>
				<div class="test-change item">
					<h2>重新评估</h2>
					<div class="newSelect">
						<div class="addone">
							<div class="styled-select">
								<a class="btn-select" id="btn_select"> 
									<span class="cur-select">请选择维修故障</span> 		
									<select class="fault" name="fault">
										<option value="0">请选择维修故障</option>
										<foreach name="relationRes" item="vo">
										<option value="<{$vo.id}>"><{$vo.fault_name}>-<{$vo.plan_name}></option>
										</foreach>
									</select>
								</a>
							</div>
						</div>
						<div class="rope remarks">
							<textarea name="remarks" maxlength="255" id="masterRemark" autocomplete="off" placeholder="维修师自行填写检测结果，并自行根据维修故障调整维修价格！维修价格请参照网站的维修查询"></textarea>
						</div>
						<div class="rope write clearfix">
							<input type="hidden" name="order_id" value="<{$order.id}>">
							<input type="hidden" name="color_id" value="<{$order.color_id}>">
							<p class="money"><input type="text" placeholder="请填写订单维修价格" id="Price" autocomplete="off" value="" name="money"/> 元</p>
							<a href="javascript:void(0);" id="saveNews" class="submit">保存</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
	    // 物流
		$(".shipping-news .chu ul li").eq(0).css("display","block");
		$(".shipping-news .chu ul li").eq(1).css("display","block");
		$(".shipping-news .hui ul li").eq(0).css("display","block");
		$(".shipping-news .hui ul li").eq(1).css("display","block");
		if($(".shipping-news .chu ul li").length <= 2){
		    $(".shipping-news .chu .shopping-tit .f_right").hide();
		}else{
		    $(".shipping-news .chu .shopping-tit .f_right").show();
		}
		if($(".shipping-news .hui ul li").length <= 2){
		    $(".shipping-news .hui .shopping-tit .f_right").hide();
		}else{
		    $(".shipping-news .hui .shopping-tit .f_right").show();
		}
		$(".package-detail-list .shopping-tit .f_right").click(function(){
		   var _this = $(this);
		   if(_this.html() == "展开"){
			   _this.parents(".shopping-tit").siblings("ul").find("li").css("display","block");	
			   _this.html("收起");
		   }else if(_this.html() == "收起"){
				_this.parents(".shopping-tit").siblings("ul").find("li").css("display","none");
				$(".shipping-news .chu ul li").eq(0).css("display","block");
				$(".shipping-news .chu ul li").eq(1).css("display","block");
				$(".shipping-news .hui ul li").eq(0).css("display","block");
				$(".shipping-news .hui ul li").eq(1).css("display","block");
			   _this.html("展开");				   
		   } 	   
		});
		$(".shipping-news .hd li").click(function(){
			var _this = $(this);
			var myIndex = _this.index();
			_this.addClass("on").siblings().removeClass("on");
			$(".package-detail-list").eq(myIndex).addClass("show").siblings().removeClass("show");
		});
		
	     // 保存维修师检测信息
		$("#saveNews").click(function(){
			var _this   = $(this);
			var oid     = $('input[name=order_id]').val();
			var fault   = $('select[name=fault]').val();
			var opt     =  $(".fault option:selected").text();
			var money   = $('input[name=money]').val();
			var remarks = $('textarea[name=remarks]').val();
			if (money == 0 || money == ''){
                alert('请填写维修价格');
                return false;
            }
			$.post('__CONTROLLER__/updateServer', {'fault':fault,"oid":oid,"money":money,"remarks":remarks}, function (d){
				if(d > 0){
					_this.parents(".test-change").slideUp(300);
					$("#testDetial").html(opt);
					$("#testRemark").html(remarks);
					$("#testPrice").html(money);
					$(".fault_news .repair-price").hide();
					$(".master-test").show();
					$(".orderDetail .repair-price").hide();
				}else{
					alert('保存失败');
				}
			});
		});
		
		// 选择故障
		$(".addone select.fault").on("change",function(){
			var oid = $('input[name=order_id]').val();
			var cid = $('input[name=color_id]').val();
			var fault = $('select[name=fault]').val();
			$.post('__CONTROLLER__/updateServerMoney', {'fault':fault,"oid":oid,"cid":cid}, function (d){
				if(d > 0){
					$('input[name=money]').val(d);
				}
			});
		});

		// 检测改价
		$('.master-mod').delegate('.btn-change','click',function(){
			$(".test-change").slideToggle(500);
			setTimeout(function(){
			    var win_hei = $(window).height();
				var doc_hei = $(document).height();
				$('html,body').animate({scrollTop:doc_hei-win_hei}, 300)
			},500)
		}).delegate('#btnSuccess','click',function(){
			$(this).find(".wx_zfb").toggle(300);
		}); 
		
		$(document).on("change","#btn_select .fault",function(){
			var text = $("#btn_select").find("option:selected").text(); 
			$("#btn_select .cur-select").html(text);
		})
		 
    </script>
</block>








