<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/editaddress.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>修改地址</h2>
		<form action="<{:U('System/doEditAddress')}>" method="post" id="address">
			<dl class="clearfix">
				<dt>收货人：</dt>
				<dd><input type="text" name="reciver_user" class="ui-input long-input" value="<{$order.reciver_user}>" placeholder="收货人"/></dd>
			</dl>
			<dl class="clearfix">
				<dt>联系电话：</dt>
				<dd><input type="text" class="ui-input long-input" name="reciver_phone" value="<{$order.reciver_phone}>" placeholder="联系电话"/></dd>
			</dl>
			<dl class="clearfix">
				<dt>所在地区：</dt>
				<dd>
					<{$city.str}>
				</dd>
			</dl>
			<dl class="clearfix">
				<dt>街道地址：</dt>
				<dd><input type="text" class="ui-input long-input" name="address" value="<{$order.address}>" placeholder="街道地址"/></dd>
			</dl>
			<dl class="clearfix">
				<dt>&nbsp;</dt>
				<dd>
					<input type="hidden" name="id" value="<{$order.id}>">
					<button type="button" style="margin:0 15px 0 15px;" class="ui-button btn-cancle">取消</button>
					<button type="submit" class="ui-button">保存</button>
				</dd>
			</dl>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 城市三级联动
		<{$city.script}>
	</script>
</block>
<!-- 底部JS执行区域 结束 -->