<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/index.css" />
	<link rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5.0.2/video-js.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/ietip/iealert/style.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="con-bd-t clearfix">
			<div class="bd-t-l">
				<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" height="209" width="292" poster="__PUBLIC__/Mv/pc-system_poster.jpg" data-setup="{}">
					<source src="__PUBLIC__/Mv/pc-system.mp4" type="video/mp4">
					<source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
					<source src="https://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
				</video>
			</div>
			<div class="bd-t-r">
				<p class="notic">公告：<{$notice}></p>
			</div>
		</div>
		<div class="con-bd-m clearfix">
			<div class="l-l">
				<div class="tit">
					<h2>我的店铺</h2>
					<neq name="shop.type_id" value="2">
					<span><a href="<{$CBW_URL}>/repairer/<{$shop.id}>.html" target="_blank">前往前台店铺<i></i></a></span>
					</neq>
					<span><a href="<{:U('Users/index')}>">前往用户中心<i></i></a></span>
				</div>
				<div class="kefuNews clearfix">
					<div class="infomation">
						<h3>店铺信息</h3>
						<p class="clearfix">
							<strong>店铺名称：</strong>
							<span><{$shop.shop_name}></span>
							<span class="Authentication">认证</span>
							<if condition="$shop['type_id'] eq 2">
							<span class="chain">直营</span>
							</if>
							<span class="custemers notuse">售后</span>
							<span class="guarantee notuse">担保</span>
						</p>
						<p class="scale clearfix">
							<strong>荣誉等级：</strong>
							<span>
								<for start="0" end="$shop.level_image_num">
									<b><img src="__PUBLIC__/Home/images/level/<{$shop.level_image_name}>.png" width="16" title="<{$shop.level_level}>级" alt="<{$shop.level_level}>级" /></b>
								</for>
							</span>
						</p>
						<p class="clearfix">
							<strong>联系姓名：</strong>
							<span><{$shop.user_name}></span>
						</p>
						<p class="clearfix">
							<strong>联系号码：</strong>
							<span><{$shop.user_phone}></span>
						</p>
						<p class="clearfix address">
							<strong>店铺地址：</strong>
							<span><{$shop.province}> <{$shop.city}> <{$shop.area}> <{$shop.address}></span>
						</p>
						<p class="clearfix">
							<strong>营业时间：</strong>
							<span><eq name="shop.is_week" value="1">周一至周末<else />周一至周五</eq>（<{$shop.hours_start}>:00-<{$shop.hours_close}>:00）</span>
						</p>
						<p class="clearfix">
							<strong>周边范围：</strong>
							<span><{$shop.server_area}></span>
						</p>
					</div>
					<notempty name="service">
					<div class="kefu">
						<h3>专属客服</h3>
						<div class="sever-pic">
							<img src="__PUBLIC__/User/thumb/<{$service.thumbnail}>" />
						</div>
						<div class="sever-con">
							<p class="clearfix">
								<strong>编号：</strong>
								<span><{$service.username}></span>
							</p>
							<p class="clearfix">
								<strong>姓名：</strong>
								<span><{$service.true_name}></span>
							</p>
							<p class="clearfix">
								<strong>电话：</strong>
								<span><{$service.phone}></span>
							</p>
							<p class="clearfix">
								<strong>Q Q：</strong>
								<span><{$service.qq}></span>
							</p>
							<p class="clearfix">
								<strong>邮箱：</strong>
								<span><{$service.email}></span>
							</p>
						</div>
					</div>
					</notempty>
				</div>
			</div><!-- l-l -->
		</div>
	</div>
	<!--<div class="has-order" id="hasOrder">
		<a href="#">您有新的订单，请及时处理</a>
		<button id="closeOrder" class="close-order-tip">关闭</button>
	</div>-->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/ietip/jquery-migrate-1.2.1.js"></script>
	<script src="__PUBLIC__/Plugins/ietip/iealert.js"></script>
	<script src="__PUBLIC__/Home/page-js/html5shiv.min.js"></script>
	<script src="https://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <script src="https://vjs.zencdn.net/5.0.2/video.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript" >
		$(document).ready(function() {
			$("body").iealert();
			if($(".kefu").length === 0){
				$(".infomation").addClass("nokefu");
			}else{
				$(".infomation").removeClass("nokefu");
			}
			//setTimeout($('#hasOrder').animate({'bottom':0}, 800).fadeOut(300).fadeIn(300),1000);
			//$('#closeOrder').click(function(event) {
			//	$(this).parent().animate({'bottom':-120}, 800)
			//});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->