<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/introduce.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>相关说明</h2>
		<div class="con-bd-t clearfix">
			<ul class="block">
				<foreach name="introduce" key="key" item="vo">
				<li>
					<i><{$key+1}></i><strong><{$vo.title}> <em class="arrow"></em></strong>
					<p><{$vo.content|htmlspecialchars_decode}></p>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con-bd-t").delegate('ul li strong', 'click', function(event) {
			$(this).parents("ul li").toggleClass("current");
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->







