<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/menu.css" />

<!--菜单 开始-->
<div class="slidebar">
	<ul class="list-ul">
		<li class="list-item <eq name="action" value="index">current</eq>"><a href="<{:U('System/index')}>">系统首页</a></li>
		<li class="list-item <in name="action" value="shopset,image">current</in>"><a href="<{:U('System/shopset')}>">店铺设置</a></li>
		<li class="list-item <eq name="action" value="repairset">current</eq>"><a href="<{:U('System/repairset')}>">服务设置</a></li>
		<eq name="shop.type_id" value="2">
		<!--<li class="list-item <eq name="action" value="search">current</eq>"><a href="<{:U('System/search')}>">订单搜索</a></li>-->
		</eq>
		<li class="list-item introduce <in name="action" value="offer,offering,repair,recovery,orders,create,printlist,editaddress">open</in>">
			<h3>
			    订单中心
				<if condition="($offerCount gt 0)">
				<i class="icons-circle"></i>
				</if>
				<i class="icon-arrow"></i>
			</h3>
			<ul class="child-ul">
				<li class="child-item <in name="action" value="create">active</in>">
					<a href="<{:U('System/create')}>">创建订单</a>
					<span class="pay-sign"><img src="__PUBLIC__/Home/images/2016/paySign.png" /></span>
				</li>
				<li class="child-item my-repair <in name='action' value='offering'>active</in>">
				<a href="<{:U('System/offering')}>">火速抢单</a>
				</li>
				<li class="child-item <in name='action' value='repair,recovery'>active</in>">
				<a href="<{:U('System/repair')}>">我的订单</a>
				</li>
				<li class="child-item <in name="action" value="orders,printlist,editaddress">active</in>">
					<a href="<{:U('System/orders')}>">我卖出的</a>
				</li>
			</ul>
		</li>
		<li class="list-item <in name="action" value="products,productadd,productedit,productattr,productattradd,productattredit,productrelation,productrelationadd,productrelationedit,service,shipping">current</in>">
			<a href="<{:U('System/products')}>">商品出售</a>
		</li>
		<li class="list-item <eq name="action" value="comment">current</eq>"><a href="<{:U('System/comment')}>">我的评价</a></li>
		<li class="list-item <eq name="action" value="poster">current</eq>"><a href="<{:U('System/poster')}>">下载海报</a></li>
		<li class="list-item <eq name="action" value="introduce">current</eq>"><a href="<{:U('System/introduce')}>">相关说明</a></li>
		<li class="system-notice list-item <in name="action" value="notice,noticedetail">current</in>"><a href="<{:U('System/notice')}>">我的通知<if condition="$notices gt 0"><em class="notice-circle"></em></if></a></li>
	</ul>
</div>
<!--菜单 结束-->
<script type="text/javascript">
	$(document).ready(function(){
		$(".list-item h3").click(function(){
			var _this = $(this);
			_this.siblings(".child-ul").slideToggle(300);
			_this.parent().toggleClass("open");
		});
	});
</script>