<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/notice.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2 class="clearfix">
			<span>我的通知</span>
			<dl>
				<dt>显示：</dt>
				<dd <eq name="status" value="">class="current"</eq>><a href="<{:U('System/notice')}>">全部</a></dd>
				<dd <eq name="status" value="0">class="current"</eq>><a href="<{:U('System/notice', array('status'=>0))}>">未读</a></dd>
				<dd <eq name="status" value="1">class="current"</eq>><a href="<{:U('System/notice', array('status'=>1))}>">已读</a></dd>
			</dl>
			<span class="set-all"><a href="<{:U('System/doReadNotice')}>">全部设置为已读</a></span>
		</h2>
		<div class="con-bd-b">
			<div class="ul-hd">
				<ul class="clearfix">
					<li class="sender">发件人</li>
					<li class="send-title">标题</li>
					<li class="send-time">时间</li>
				</ul>
			</div>
			<div class="ul-bd">
				<notempty name="notices">
				<ul>
					<foreach name="notices" item="vo">
					<li class="clearfix <if condition="$vo['status'] eq 0">unread</if>">
						<a href="<{:U('System/noticedetail', array('id'=>$vo['id']))}>">
						<div class="cbw">草包网</div>
						<div class="content"><{$vo.title}></div>
						<div class="time"><{$vo.create_time|date="Y-m-d",###}></div>
						</a>
					</li>
					</foreach>
				</ul>
				<else />
				<div class="empty">暂无通知信息</div>
				</notempty>
			</div><!-- ul-bd -->
			<div class="page">
				<{$page}>
			</div>
		</div><!-- con-bd-b -->
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->