<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/notice.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2 class="clearfix">
			<span>我的通知</span>
		</h2>
		<div class="con-bd-b">
			<div class="ul-bd">
				<div class="ReplayBox">
					<div class="xtfjr clearfix">
						<dl>
							<dt>主题：</dt>
							<dd><{$notice.title}></dd>
						</dl>
						<dl>
							<dt>时间：</dt>
							<dd><{$notice.create_time|date="Y-m-d",###}></dd>
						</dl>
						<dl>
							<dt>发件人：</dt>
							<dd>草包网</dd>
						</dl>
					</div>
					<div class="msgct">
						<p><{$notice.content}></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->