<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/offer.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2 class="clearfix"><strong>正在抢单</strong></h2>
		<!-- tab栏 -->
		<div class="repair-tab">
			<ul>
				<li class="current offerIng"><a href="<{:U('System/offerIng')}>">正在抢单</a><if condition="($offerCount gt 0)"><span class="icon-circle"></span></if></li>
				<li><a href="<{:U('System/offer')}>">已报价订单</a></li>
			</ul>
		</div>
		<div class="tab_item">
			<!-- item1 -->
			<div class="item1 same-item">
				<ul>
					<foreach name="orders" item="vo">
					<li <if condition="$vo['status'] eq 1">class="already"</if>>
						<div class="title-news clearfix">
							<div class="titile-user-news f_left">
								<img alt="<{$vo.uname}>" src="__PUBLIC__/User/<{$vo.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';">
								<span><{$vo.uname}></span>
							</div>
							<div class="ready-statu f_right">
								<if condition="$vo['status'] eq 1">已读<else />未读</if>
							</div>
						</div>
						<div class="main-content">
						    <a href="<{$CBW_URL}>/offer/<{$vo.id}>-<{$Think.session.shop.id}>.html">
								<div class="main-content-phone">
									<p class="required">用户需求：<if condition="$vo['order_type'] eq 1">设备维修<else />设备回收</if></p>
									<p class="user-phone">
									<if condition="$vo['pro_name'] neq ''">
									【型号】<{$vo.pro_name}>  
									</if>
									<if condition="$vo['color_name'] neq ''">
									【颜色】<{$vo.color_name}>
									</if>
									<if condition="$vo['plan_name'] neq ''">
									【方案】<{$vo.plan_name}>
									</if>
									【备注】<{$vo.remarks}>
									</p>
								</div>
							</a>
							<div class="main-content-people clearfix">
								<p class="quote-people f_left">已有<{$vo.offer_count}>人报价</p>
								<div class="user-time f_right">发布于 <{$vo.order_date|CBWTimeFormat='m.d'}></div>
							</div>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="page">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->