<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/orders.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2 class="clearfix">
		    <span>销售记录</span>
			<div class="csy">
				<a href="<{:U('System/orders', array('line'=>1))}>" class="in-line <if condition="$line eq 1">current</if>">门店卖出</a>
				<a href="<{:U('System/orders', array('line'=>0))}>" class="on-line <if condition="$line eq 0">current</if>">商城销售</a>
		    </div>
	    </h2>
		<div class="filter">
			<form id="source" action="<{:U('System/orders')}>" method="get">
			<div class="filter-btm">
				<input type="text" name="keyword" value="<{$keyword}>" placeholder="请输入订单号码" />
				<input type="hidden" name="line" value="<{$line}>" />
				<button class="submit"> 搜索 </button>
			</div>
			<div class="filter-csy">
				<input type="text" class="date-select" name="startdate" placeholder="2017-01-01" value="<{$start}>" />
				<span>至</span>
				<input type="text" name="enddate" class="date-select" placeholder="2017-01-31" value="<{$end}>" />
				<select name="status">
					<option></option>
					<option value="4" <eq name="status" value="4">selected</eq>>已完成</option>
					<option value="3" <eq name="status" value="3">selected</eq>>已发货</option>
					<option value="2" <eq name="status" value="2">selected</eq>>已付款,待发货</option>
					<option value="1" <eq name="status" value="1">selected</eq>>待付款</option>
					<option value="0" <eq name="status" value="0">selected</eq>>已取消</option>
				</select>
			</div>
			</form>
		</div>
		<div class="order-lst">
			<ul class="ul_tit">
				<li class="one bigW">商品信息</li>
				<li class="five bigM">单价</li>
				<li class="two bigS">数量</li>
				<li class="three bigS">小结</li>
				<li class="six bigM">操作</li>
			</ul>
			<ul class="ul_bd">
				<foreach name="orders" item="vo">
				<li data-id="<{$vo.id}>">
					<!-- 订单头部 -->
					<div class="list_tit clearfix">
						<time><{$vo.order_date|date="Y-m-d H:i:s",###}></time>
						<span class="order-num">订单号：<{$vo.order_sn}></span>
						<span class="order-statu">
							订单状态：<a href="javascript:;">
							<if condition="($vo['order_status'] eq 0)">
								已取消
							<elseif condition="($vo['order_status'] eq 1)"/>
								<if condition="($vo['pay_status'] eq 1)">
									<if condition="$vo['schedule']['shop_status'] eq 1">
										已付款
									<elseif condition="$vo['schedule']['shop_status'] eq 2"/>
										已发货
									<elseif condition="$vo['schedule']['shop_status'] eq 3"/>
										已收货
									</if>
								<else />
									待付款
								</if>
							<elseif condition="($vo['order_status'] eq 2)"/>
								已完成
							</if></a>
						</span>
					</div>
					<!-- 订单详情 -->
					<div class="list-detial clearfix">
						<div class="list-item">
						    <foreach name="vo.product" item="v">
							<if condition="$v['shop_id'] eq $shopId">
							<div class="list_bd clearfix">
								<div class="phpic bigW">
									<div class="iphone"><a href="<{$CBW_URL}>/detail/<{$v['pro_id']}>.html"><img src="__PUBLIC__/Product/thumb/<{$v.list_image}>" height="52" width="52" alt=""></a></div>
									<div class="phpic_id">
										<span class="introduce"><{$v.pro_name}></span>
										<span class="color"><{$v.attr_name}></span>
									</div>
								</div>
								<span class="two bigM"><{$v.pro_price}></span>
								<span class="five bigS"><{$v.pro_number}></span>
								<span class="three bigS">
									<{$v.pro_money|number_format=2,'.',''}>
								</span>
							</div>
							</if>
							</foreach>
						</div>
						<div class="btn-group bigM">
							<if condition="$vo['order_status'] eq 1">
								<if condition="$vo['pay_status'] eq 1">
									<if condition="$vo['schedule']['shop_status'] eq 1">
										<a class="change-address ui-button" href="<{:U('System/editAddress', array('id'=>$vo['id']))}>" target="_blank">修改地址</a>
										<a class="change-deliver ui-button" id="change_deliver" href="javascript:;">发货</a>
									<elseif condition="($vo['schedule']['shop_status'] eq 2)"/>
										<a class="change-shipping ui-button" id="change_shipping" href="javascript:;">修改运单号</a>
									</if>
									<a class="change-print ui-button" href="<{:U('System/printlist', array('id'=>$vo['id']))}>" target="_blank">打印出货单</a>
								<else />
									<if condition="$vo['schedule']['shipping_fee'] gt 0">
									<a class="change-fee" onClick="return confirm('确定免除该订单运费?');" href="<{:U('System/exemptFee', array('id'=>$vo['id']))}>">免运费</a>
									</if>
									<a class="change-price ui-button" id="change_price" href="javascript:;">改价</a>
								</if>	
							</if>
							<a class="look-orders ui-button" href="<{:U('Orders/odetail', array('sn'=>$vo['order_sn']))}>" target="_blank">订单详情</a>
						</div>
					</div>
					<div class="countMoney clearfix">
						<div class="allprice"><span class="realyPay">实付款:<b class="price-num"><{$vo.schedule.shop_money}><em>元</em></b></span><span class="shipping-price">（含运费：<{$vo.schedule.shipping_fee}>）</span></div>
					</div>
				</li>
				</foreach>
			</ul>
			<div class="page">
				<{$page}>
			</div>
		</div>
	</div>
	<!-- 改价 -->
	<div class="posF" id="changePrice">
		<div class="bg"></div>
		<div class="box300" style="margin-top: 347.5px;">
			<div class="hd posR">
				<p>改价</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<input type="hidden" name="id" value="0">
				<div class="rope">
					<input type="tel" style="width:200px;" class="ui-input" name="money" placeholder="请填写更改后金额"/>
				</div>
				<div class="rope btns">
					<button type="button" class="off ui-button small-btn">取消</button>
					<button type="button" class="submit ui-button small-btn">提交</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 发货 -->
	<div class="posF" id="delivery">
		<div class="bg"></div>
		<div class="box300" style="margin-top: 347.5px;">
			<div class="hd posR">
				<p>发货</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<input type="hidden" name="id" value="0">
				<div class="rope">
					<select name="shipping_way" id="shipping_way">
						<foreach name="shipping" item="vo">
						<option value="<{$vo.id}>"><{$vo.cname}></option>
						</foreach>
					</select>
				</div>
				<div class="rope">
					<input type="tel" style="width:200px;" class="ui-input" name="shipping_num" placeholder="请填写快递单号"/>
				</div>
				<div class="rope btns">
					<button type="button" class="off ui-button small-btn">取消</button>
					<button type="button" class="submit ui-button small-btn">提交</button>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		
		$(".order-lst").on("click","#change_price",function(){
			var id = $(this).parents('li').attr('data-id');
			$('#changePrice .bd input[name=id]').val(id);
			$("#changePrice").slideDown(300);
		}).on("click","#change_deliver,#change_shipping",function(){
			var id = $(this).parents('li').attr('data-id');
			$('#delivery .bd input[name=id]').val(id);
			$("#delivery").slideDown(300);
		});
		
		$("body").on("click","#changePrice button.submit",function(){
			var id    = $('#changePrice .bd input[name=id]').val();       
			var money = $('#changePrice .bd input[name=money]').val();   
			if(!money || money == ""){
				alert('请填写更改后金额');
				return false;
			}
			$.post('__CONTROLLER__/changePrice', {'id':id, 'money':money}, function (d) {
				if(d){
					window.location.href=window.location.href;
				}else{
					alert('网络错误！请重试！');
					return false;
				}
			});
		}).on("click","#delivery button.submit",function(){
			var id  = $('#delivery .bd input[name=id]').val();       
			var way = $('#delivery .bd #shipping_way').val();
			var num = $('#delivery .bd input[name=shipping_num]').val();   
			if(!num || num == ""){
				alert('请输入快递单号');
				return false;
			}
			$.post('__CONTROLLER__/delivery', {'id':id, 'way':way, 'num':num}, function (d) {
				if(d){
					window.location.href=window.location.href;
				}else{
					alert('网络错误！请重试！');
					return false;
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



