<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/poster.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>下载海报</h2>
		<div class="con-bd-b">
			<ul class="clearfix">
				<foreach name="data" item="vo">
				<li>
					<div class="downImg"><img src="__PUBLIC__/Poster/<{$vo.image}>" /></div>
					<div class="text"><{$vo.name}></div>
					<div class="down"><eq name="vo.status" value="1"><a href="javascript:;" data-id="<{$vo.id}>">下载</a><else /><a href="javascript:;">停用</a></eq></div>
				</li>
				</foreach>
			</ul>
		</div><!-- con-bd-b -->
		<div class="jumpWindow">
			<div class="bg"></div>
			<div class="wrap popup">
				<div class="img"><img src="__PUBLIC__/Home/system/images/joins.jpg" /></div>
				<button class="cancle">取消</button>
				<button id="consever">立即保存</button>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var close = $(".jumpWindow .cancle");
		var down  = $(".down");
		var jump  = $(".jumpWindow");
		close.on("click",function(){
			$(this).parents(".jumpWindow").fadeOut(300);
		});
		down.on("click",function(){
			var id = $(this).find("a").attr("data-id");
			$.post('__CONTROLLER__/createPoster', {'id':id}, function(d){
				if(d){
					jump.fadeIn(300).find("img").attr("src",'__PUBLIC__/Temp/'+d);
				}
			});
		});
		$('#consever').click(function() {
			var src = $(this).siblings(".img").children("img").attr("src");
			window.location.href = src
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->











