<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/printlist.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
	    <div class="ddd">
			<h1>出货单</h1>
			<div class="shop-news clearfix">
				<div class="news f_left">
					<p>店名：<{$shop.shop_name}></p>
					<p>电话：<{$shop.user_name}> <{$shop.user_phone}></p>
					<p>地址：<{$shop.pro_addr}><{$shop.city_addr}><{$shop.addr}><{$shop.address}></p>
				</div>
				<div class="shop-erweima f_right">
					<img src="__PUBLIC__/Temp/<{$qrcode}>" alt="" />
					<p>店铺微信二维码</p>
				</div>
			</div>
			<div class="user-news">
				<div class="top clearfix">
					<div class="f_left"><p>客户名称：<{$order.reciver_user}></p></div>
					<div class="f_left"><p>电话：<{$order.reciver_phone}></p></div>
					<div class="f_left"><p>日期：<{$order['order_date']|date="Y年m月d日",###}></p></div>
					<!--<div class="f_left"><p>付款方式：支付宝</p></div>-->
				</div>
				<div class="btm clearfix">
					<div class="f_left"><p>地址：<{$order['pro_addr']}> <{$order['city_addr']}> <{$order['addr']}> <{$order['address']}></p></div>
					<div class="f_right"><p>单号：<{$order.order_sn}></p></div>
				</div>
			</div>
			<table class="pro-news">
				<thead>
					<tr>
						<td>编号</td>
						<td>商品名称</td>
						<td>单价</td>
						<td>数量</td>
						<td>金额</td>
					</tr>
				</thead>
				<tbody>
					<foreach name="product" item="vo">
						<if condition="($vo['service'] eq '') AND ($vo['shop_id'] eq $shopId)">
						<tr>
							<td><{++$a}></td>
							<td><{$vo.pro_name}><{$vo.attr_name}></td>
							<td><{$vo.pro_price}></td>
							<td><{$vo.pro_number}></td>
							<td><{$vo['pro_price']*$vo['pro_number']|number_format=2,'.',''}></td>
						</tr>
						</if>
					</foreach>
					<tr class="count-all">
						<td colspan="6"><if condition="$schedule.remarks neq ''"><div class="f_left"><p>备注：<{$schedule['remarks']}></p></div></if><div class="f_right"><span>合计金额：<{$schedule.pro_money|number_format=2,'.',''}>元</span></div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="prin">
		    <button class="ui-button" onclick="print()">打印</button>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.jqprint-0.3.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
	    //打印输出
		function print() {
			$(".ddd").jqprint();
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



