<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/products-edit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="snav">
			<ul class="clearfix">
				<li class="current currency">基本<em class="sanjiao"></em></li>
				<li class="pro-characteristic">详情<em class="sanjiao"></em></li>
				<li class="color">参数<em class="sanjiao"></em></li>
				<li class="color">库存/规格<em class="sanjiao"></em></li>
			</ul>
		</div>
		<form action="__CONTROLLER__/doProductEdit" id="edit" method="post">
			<!-- 选项卡一开始 -->
			<div id="tab1" class="tab-pane active">
				<div class="form-horizontal">
					<div class="control-group">
						<label class="control-label">商品类别：</label>
						<div class="controls">
							<select name="classify_id" id="classify" style="width:150px;">
								<option value="0">请选择</option>
								<foreach name="classifys" item="vo">
								<option value="<{$vo.id}>" <eq name="data.classify_id" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
								</foreach>
							</select>
							<select name="type_id" id="type" style="width:150px;<lt name="data.type_id" value="1">display:none</lt>">
								<option value="0">请选择</option>
								<foreach name="types" item="vo">
								<option value="<{$vo.id}>" <eq name="data.type_id" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
								</foreach>
							</select>
							<select name="brand_id" id="brand" style="width:150px;<lt name="data.type_id" value="1">display:none</lt>">
								<option value="0">请选择</option>
								<foreach name="brands" item="vo">
								<option value="<{$vo.id}>" <eq name="data.brand_id" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
								</foreach>
							</select>
							<select name="cat_id" id="cat" style="width:150px;<lt name="data.type_id" value="1">display:none</lt>">
								<option value="0">请选择</option>
								<foreach name="cats" item="vo">
								<option value="<{$vo.id}>" <eq name="data.cat_id" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
								</foreach>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">商品品牌：</label>
						<div class="controls">
							<select name="pro_brand" style="width:150px;">
								<option value="0">请选择</option>
								<foreach name="bbrands" item="vo">
								<option value="<{$vo.id}>" <eq name="data.pro_brand" value="$vo.id">selected</eq>><{$vo.brand_name}></option>
								</foreach>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">商品名称：</label>
						<div class="controls">
							<input type="text" class="ui-input long-input" name="pro_name" value="<{$data.pro_name}>" placeholder="请输入产品名称">
						</div>
					</div>
					<!--<div class="control-group">
						<label class="control-label">价格：</label>
						<div class="controls">
							<input type="text" class="ui-input middle-input" name="pro_price" value="<{$data.pro_price}>" placeholder="0.00">
						</div>
					</div>-->
					<div class="control-group">
						<label class="control-label">商品货号：</label>
						<div class="controls">
							<input type="text" class="ui-input middle-input" name="pro_sn" value="<{$data.pro_sn}>" placeholder="产品货号">
						</div>
					</div>
					<div class="control-group">
					    <label class="control-label">商品属性：</label>
						<div class="controls" style="margin-left: 100px;">
							<label><input type="checkbox" value="1" name="is_shipping" <eq name="data.is_shipping" value="1">checked</eq>/> 包邮</label>
							<label><input type="checkbox" value="1" name="is_quality" <eq name="data.is_quality" value="1">checked</eq>/> 原装品质</label>
							<label><input type="checkbox" value="1" name="is_return" <eq name="data.is_return" value="1">checked</eq>/> 7天退换货</label>
						</div>
					</div>
					<div class="control-group">
					    <label class="control-label"> 保修期： </label>
						<div class="controls">
							<select name="warranty" class="sort-input">
								<option value="0" <eq name="data.warranty" value="0"> selected</eq>>不保</option>
								<option value="1" <eq name="data.warranty" value="1"> selected</eq>>15天</option>
								<option value="2" <eq name="data.warranty" value="2"> selected</eq>>1个月</option>
								<option value="3" <eq name="data.warranty" value="3"> selected</eq>>2个月</option>
								<option value="4" <eq name="data.warranty" value="4"> selected</eq>>3个月</option>
								<option value="5" <eq name="data.warranty" value="5"> selected</eq>>6个月</option>
								<option value="6" <eq name="data.warranty" value="6"> selected</eq>>12个月</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">关键字：</label>
						<div class="controls">
							<input type="text" name="keywords" class="long-input ui-input" value="<{$data.keywords}>" placeholder="商品关键字,能准确搜到商品的,比如 : 苹果电池|外屏 之类的"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">描述：</label>
						<div class="controls">
							<textarea class="long-input ui-textarea" name="description" placeholder="产品相关简单描述"><{$data.description}></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"><em style="color:#f00;">*</em>上传缩略图：</label>
						<div class="controls">
							<label class="inser_thumbnail_pic">
								<em class="icon_add"></em>添加图片<input type="file" name="inser_thumbnail_pro" id="inser_thumbnail_pro"/>
							</label>
							<span class="form-tips">请上传缩略图</span>
							<div class="thumbnail_img_pro">
								<neq name="data.list_image" value="">
									<img id="thumbnail_img" src="__PUBLIC__/Product/thumb/<{$data.list_image}>" />
									<input type="hidden" name="old_list_image" value="<{$data.list_image}>" />
								</neq>
								<input type="hidden" name="list_image" id="thumbnail_pro" value="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 选项卡二开始 -->
			<div id="tab2" class="tab-pane">
				<table class="table">
					<tbody>
						<tr>
							<td>
								<textarea name="feacher" id="feacher" style="width:100%; height:350px;"><{$data.feacher}></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 选项卡三开始 -->
			<div id="tab3" class="tab-pane">
				<div class="widget-box">
					<div class="widget-title">
						<h5 class="clearfix"><strong>商品参数</strong><span class="ui-button" id="add_para">添加参数</span></h5>
					</div>
					<div class="widget-content">
						<div class="widget-content-top">
							<div class="content-box clearfix">
								<div class="content-tit">标题</div>
								<div class="content-con">内容</div>
								<div class="content-btn">操作</div>
							</div>
							<foreach name="params" item="vo">
							<div class="content-box clearfix">
								<div class="content-tit"><{$vo.param_title}></div>
								<div class="content-con"><{$vo.param_content}></div>
								<div class="content-btn">
									<a href="#" data-id="<{$vo.id}>" class="ui-button btn-delete">删除</a>
									<a href="#" data-id="<{$vo.id}>" class="ui-button btn-edit">编辑</a>
								</div>
							</div>
							</foreach>
						</div>
						<div class="form-horizontal">
							<div class="control-group">
								<label class="control-label">参数标题：</label>
								<div class="controls">
									<input type="text" class="ui-input long-input" id="param_tit">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">参数内容：</label>
								<div class="controls">
									<input type="text" class="ui-input long-input" id="param_con">
								</div>
							</div>
							<div class="form-actions">
								<input type="hidden" name="param_id" value="" />
								<span class="ui-button" id="add_form">提交添加</span>
								<span class="ui-button" id="submit_form" style="display:none;">提交编辑</span>
							</div>
						</div>
					 </div>
				</div>
			</div>
			<!-- 选项卡四开始 -->
			<div id="tab4" class="tab-pane">
				<div class="alert alert-info">
					添加前请阅读“相关说明”里的“商品设置”<br>
					1、请先添加规格，才能添加价格<br>
					2、添加规格：是指添加该商品比如：大小，颜色，型号等类别；添加选项：是指该规格下的详细分类，如：红色，绿色，白色等。
				</div>
				<div id="specs" class="ui-sortable">
					<foreach name="specs" item="vo">
				    <div class="spec_item" id="spec_<{$vo.attr_ident}>">
						<div class="form-group">
						    <input type="hidden" class="spec_id" name="spec_id[]" value="<{$vo.attr_ident}>">
							<div class="input-group">
								<input type="text" class="form-control spec_title" name="spec_title[<{$vo.attr_ident}>]" value="<{$vo.attr_name}>" placeholder="规格名称 (比如: 颜色)">
								<div class="input-group-btn">
								    <a href="javascript:;" style="border-radius:0;" specid="<{$vo.attr_ident}>" class="btn btn-info add-specitem addAttribute"><i class="fa fa-plus"></i> 添加选项</a>
									<a href="javascript:void(0);" style="border-radius:0;" class="btn btn-danger deleteSpec"><i class="icon-remove"></i>删除</a>
								</div>
							</div>
						</div>
						<div class="form-group">
						    <div class="spec_item_item spec_item_sZ clearfix">
								<foreach name="vo.item" item="v">
							    <div class="spec_item_items copyedItem">
								    <div class="input-group clearfix">
									    <input type="hidden" class="spec_item_id" name="spec_item_id_<{$vo.attr_ident}>[]" value="<{$v.attr_ident}>">
										<input type="text" class="form-control f_left spec_item_title" name="spec_item_title_<{$vo.attr_ident}>[]" value="<{$v.attr_value}>">
										<span class="input-group-addon delete-val f_left"><a href="javascript:;" class="btn btn-danger" title="删除"><i class="icon-close"></i>删除</a></span>
									</div>
									<div class="add_bd clearfix">
									    <label class="inser_pic"><em class="icon_add"></em><input type="file" itemid="<{$v.attr_ident}>" class="inser_pic_pro"></label>
										<div class="user_img">
											<foreach name="v.ablum" item="a">
												<div class="imcontainer" data-id="<{$a.id}>" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
													<img src="__PUBLIC__/Product/images/thumb_img/<{$a.images}>" width="85">
													<input class="attachment_pro" name="spec_item_thumb_<{$v.attr_ident}>[]" value="<{$a.images}>" type="hidden">
													<input class="attachment_sort" name="spec_item_thumbsort_<{$v.attr_ident}>[]" value="<{$a.sort}>" type="hidden">
												</div>
											</foreach>
										</div>
									</div>
								</div>
								</foreach>
							</div>
						</div>
					</div>
					</foreach>
				</div>
				<h4>
					<a href="javascript:;" class="btn btn-primary" id="add-spec" title="添加规格"><i class="icon-add"></i> 添加规格</a> 
					<a href="javascript:;" onclick="refreshOptions()" title="添加价格" id="refreshDate" class="btn btn-primary"><i class="icon-refresh"></i> 添加价格</a>
				</h4>
				<div id="options">
					<table class="table table-bordered table-condensed">
						
					</table>
				</div>
			</div>
			<div class="btn-group">
				<input type="hidden" name="options" value="" />
				<input type="hidden" name="pro_id" value="<{$data.id}>" />
				<button type="button" class="ui-button btn-save" id="save_pro_news" style="margin-right:20px"> 保存商品信息 </button>
			</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="__PUBLIC__/Home/system/js/form-sort.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(document).ready(function(){
			refreshOptions();
			fillOptions();
		});
		// 编辑器
        var editor;
        KindEditor.ready(function(K) {
			editor = K.create('#feacher', {
				resizeType : 1,
				uploadJson : '__PUBLIC__/editor/php/upload_feacher_json.php',
				afterBlur: function(){this.sync();}
			});
        });
		
		// 下拉框选择
		$('#classify').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#type").empty().append(d).show();
					}else{
						$('#type').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#brand').empty().append('<option value="0">请选择</option>').hide();
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#type').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#brand").empty().append(d).show();
					}else{
						$('#brand').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#brand').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#cat").empty().append(d).show();
					}else{
						$('#cat').empty().append('<option value="0">请选择</option>').hide();
					}
                });
			}
		});
		// 选项卡三，商品参数
		$(".widget-box").on("click",".content-btn .btn-delete",function(){  // 删除参数
			var _this   = $(this);
			var paramId = _this.attr('data-id');
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					$.post('__CONTROLLER__/doParamDelete', {'id': paramId}, function (d) {
						if(d > 0){
							_this.parents(".content-box").remove();
						}
					});
				}
			}
			window.wxc.xcConfirm("您确定要删除此参数吗？", "custom", option);
		}).on("click",".content-btn .btn-edit",function(){                 // 编辑参数
			var _this   = $(this)
			var titText = _this.parents(".content-box").find(".content-tit").text();
			var conText = _this.parents(".content-box").find(".content-con").text();
			var paramId = _this.attr('data-id');
			$("#param_tit").val(titText);
			$("#param_con").val(conText);
			$("input[name=param_id]").val(paramId);
			$("#add_form").hide();
			$("#submit_form").show();
			index = _this.parents(".content-box").index();
		}).on("click","#add_form",function(){                              // 提交添加
			var titVal  = $("#param_tit").val();
			var textVal = $("#param_con").val();
			var proId   = $("input[name=pro_id]").val();
			if(titVal != "" && textVal != ""){
				$.post('__CONTROLLER__/doParamAdd', {'id': proId, 'title': titVal, 'content': textVal}, function (d) {
					if(d > 0){
						var html = '';
							html+='<div class="content-box clearfix">';
							html+=		'<div class="content-tit">'+titVal+'<input name="param_title[]" type="hidden" value="'+titVal+'" /></div>';
							html+=		'<div class="content-con">'+textVal+'<input name="param_content[]" type="hidden" value="'+textVal+'" /></div>';
							html+=		'<div class="content-btn">';
							html+=		'	<a href="#" data-id="'+d+'" class="ui-button btn-delete">删除</a>';
							html+=		'	<a href="#" data-id="'+d+'" class="ui-button btn-edit">编辑</a>';
							html+=		'</div>';
							html+='</div>';
						$(".widget-content-top").append(html);
						$("#param_tit").val("");
						$("#param_con").val("");
					}
				});
			}else{
			    if(titVal == ""){
			        alert("请输入标题");
				}else if(textVal == ""){
				    alert("请输入内容");
				}
			};
		}).on("click","#submit_form",function(){                           // 提交编辑
			var myindex = index;
			var titVal  = $("#param_tit").val();
			var textVal = $("#param_con").val();
			var paramId = $("input[name=param_id]").val();
			if(titVal != "" && textVal != ""){
				$.post('__CONTROLLER__/doParamEdit', {'pid': paramId, 'title': titVal, 'content': textVal}, function (d) {
					if(d > 0){
						$(".content-box").eq(myindex).find(".content-tit").html(titVal+'<input name="param_title[]" type="hidden" value="'+titVal+'" />');
						$(".content-box").eq(myindex).find(".content-con").html(textVal+'<input name="param_content[]" type="hidden" value="'+textVal+'" />');
						$("#param_tit").val("");
						$("#param_con").val("");
						$("input[name=param_id]").val("");
						$("#add_form").show();
						$("#submit_form").hide();
					}
				});
			}else{
			    if(titVal == ""){
			        alert("请输入标题");
				}else if(textVal == ""){
				    alert("请输入内容");
				}
			};
		}).on("click","#add_para",function(){                              // 添加参数
			$("#param_tit").val("");
			$("#param_con").val("");
			$("#add_form").show();
			$("#submit_form").hide();
		});
		// 选项卡四，商品规格
		// 获取图片父元素的索引值
		var sortIndex = null;
		var parentIndex = null;
		$("#tab4").on("click","#add-spec",function(){                       // 添加规格    
			var spec_id = randomString(32);
		    var html = "";
			    html += '<div class="spec_item" id="spec_'+ spec_id +'">';
				html +=' 	<div class="form-group"><input type="hidden" class="spec_id" name="spec_id[]" value="'+ spec_id +'" />';
				html +=' 		<div class="input-group">';
				html +=' 			<input type="text" class="form-control spec_title" name="spec_title['+ spec_id +']" value="" placeholder="规格名称 (比如: 颜色)"/>';
				html +=' 			<div class="input-group-btn">';
				html +=' 				<a href="javascript:;" style="border-radius:0;" specid="'+ spec_id +'" class="btn btn-info add-specitem addAttribute"><i class="fa fa-plus"></i> 添加选项</a>';
				html +=' 				<a href="javascript:void(0);" style="border-radius:0;" class="btn btn-danger deleteSpec" ><i class="icon-remove"></i>删除</a>';
				html +=' 			</div>';
				html +=' 		</div>';
				html +=' 	</div>';
				html +=' 	<div class="form-group">';
				html +=' 		<div class="spec_item_item spec_item_sZ clearfix"></div>';    
				html +=' 	</div>';    
				html +='</div>';
			$("#specs").append(html);
		}).on("click",".deleteSpec",function(){                             // 删除规格  
			var flag = confirm("确定要删除这个规格吗");
			if(flag == true){
			    $(this).parents(".spec_item").remove();
				refreshOptions();
				fillOptions();
			};
			if($(".spec_item").length == 0){
			    $("#options").hide();  
			};
		}).on("click",".addAttribute ",function(){                           // 添加选项
			var spec_id      = $(this).attr('specid');
			var spec_item_id = randomString(32);
			var html = "";
				html += '<div class="spec_item_items copyedItem">';
				html += '	<div class="input-group clearfix"><input type="hidden" class="spec_item_id" name="spec_item_id_'+ spec_id +'[]"  value="'+ spec_item_id +'" />';
				html += '		<input type="text" class="form-control f_left spec_item_title" name="spec_item_title_'+ spec_id +'[]" value="" />';
				html += '		<span class="input-group-addon delete-val f_left">';
				html += '			<a href="javascript:;" class="btn btn-danger" title="删除"><i class="icon-close"></i>删除</a>';
				html += '		</span>';
				html += '	</div>';
				html += '   <div class="add_bd clearfix">';
				html += '	    <label class="inser_pic">';
				html += '		    <em class="icon_add"></em><input type="file" itemid="'+ spec_item_id +'" class="inser_pic_pro">';
				html += '	    </label>';
				html += '	    <div class="user_img"></div>';
				html += '   </div>	';
				html += '</div>';
			$(this).parents(".spec_item").find(".spec_item_sZ").append(html);
			$(".spec_item_title").last().focus();
		}).on("click",".delete-val",function(){                             // 删除规格项
		    var _this = $(this);
			var copyLen = _this.parents(".spec_item_sZ").find(".copyedItem").length;
			if(copyLen <= 1){
			    _this.parents(".spec_item").remove();
			};
			_this.parents(".copyedItem").remove();
            refreshOptions();
			fillOptions();
		}).on("mouseover",".spec_item_items",function(){                     // 获取图片父元素的索引值
			var _this = $(this);
		    sortIndex = _this.index();
			parentIndex = _this.parents(".spec_item").index();
		}).on("click",".imcontainer",function(){                             // 删除图片
			var flag  = confirm("确定要删除这张图片吗？");
			var _this = $(this);
			var imgId = _this.attr('data-id');
			if (flag==true){
				_this.remove();
				var sort = $(".spec_item_sZ ").eq(parentIndex).find(".spec_item_items").eq(sortIndex).find(".attachment_sort");
				var sortLen = sort.length;
				for(var i = 0;i < sortLen;i++){
					$(sort[i]).val(i+1);
				};
				if(imgId){
					$.post('__CONTROLLER__/doAlbumDelete', {'id': imgId}, function (d) {});
				};
			}
		});
		// tab栏切换
		$(".snav ul li").click(function(){
			var _this = $(this);
			var myindex = _this.index()
			_this.addClass("current").siblings().removeClass("current");
			$(".tab-pane").eq(myindex).addClass("active").siblings(".tab-pane").removeClass("active");
		});
		// 上传属性图片 选项卡四
		$(document).on("change",".inser_pic_pro",function(e){
		    var _this = $(this);
			var itemId    = _this.attr("itemid");
 			var thisImg   = _this.parents("label").siblings('.user_img');
			var thisInput = _this.parents("label").siblings('.attachment_pro');
			inser_pic(e,thisImg,null, itemId,_this);
		}).on("change","#inser_thumbnail_pro",function(e){               // 上传缩略图 选项卡一
			inser_pic(e,$("#thumbnail_img"),$("#thumbnail_pro"),null,null);
		});
		
		// 表单提交
		$("#save_pro_news").on("click",function(){
		    var proName = $("#pro_name");
			var proNameVal = $("#pro_name").val();
			if(proNameVal == ""){
			    $(".snav ul li").eq(0).addClass("current").siblings().removeClass("current");
				setTimeout(function(){
				   proName.focus(); 
				   proName.siblings(".form-tips").show();
				   proName.parents(".controls").siblings(".control-label").css("color","#f00");
				},300)
				$(".tab-pane").eq(0).addClass("active").siblings(".tab-pane").removeClass("active");
				return false;
			}else {
			    proName.siblings(".form-tips").hide();
				proName.parents(".controls").siblings(".control-label").css("color","#000");
				optionArray();
				$("form#edit").submit();
			};
		});
		
		// 填充规格项目数据
		function fillOptions(){
			var proId = $("input[name=pro_id]").val();
			$.post('__CONTROLLER__/loadProductRelations', {'id': proId}, function (d) {
				var data = JSON.parse(d);
				for(var i = 0;i<data.length;i++){                
					var stock = data[i].pro_stock;       // 库存 
					var retail = data[i].one_price;      // 零售
					var shop = data[i].two_price;        // 店铺
					var cost = data[i].three_price;      // 成本
					var wholesale = data[i].four_price;  // 批发
					var goods_sn = data[i].goods_sn;     // 编码
					var pro_sn = data[i].pro_sn;         // 条码
					var pro_weight = data[i].pro_weight; // 重量
					var joinStr = data[i].item.join(" ");// 编码
					var id = data[i].id;                 // id
					$(".cosf1").eq(i).val(stock);
					$(".cosf2").eq(i).val(retail);
				    $(".cosf3").eq(i).val(shop);
					$(".cosf4").eq(i).val(cost);
					$(".cosf5").eq(i).val(wholesale);
					$(".cosf6").eq(i).val(goods_sn);
					$(".cosf7").eq(i).val(pro_sn);
					$(".cosf8").eq(i).val(pro_weight);
					$(".option_id").eq(i).val(id);
				}
			});
		}
	
		// 生成随机字符串
		function randomString(len) {
		　　len = len || 32;
		　　var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
		　　var maxPos = $chars.length;
		　　var pwd = '';
		　　for (i = 0; i < len; i++) {
		　　　　pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
		　　}
		　　return pwd;
		};
		
		// 插入图片
		function inser_pic(e,imgs,input,itemId,that){
		    if(that){
		        var len = that.parents(".inser_pic").siblings(".user_img").find(".imcontainer").length;
			}
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					if(imgs.attr("id") == "thumbnail_img"){
					    imgs.attr('src',src).show(); 
                        input.val(src);						
					}else{
                        imgs.append('<div class="imcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)"><img src="'+src+'" width="85" /><input type="hidden" name="spec_item_thumb_'+ itemId +'[]" class="attachment_pro" value="'+src+'"/><input type="hidden" name="spec_item_thumbsort_'+ itemId +'[]" class="attachment_sort" value="'+(len+1)+'"/></div>');	
                        						
					}
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持...');
				}
			});
		};
		// h5拖拽
		function allowDrop(ev)  {  
			ev.preventDefault(); 
		}   
		var eleOffestLeft = null;
		var eleOffestTop = null;
		var srcdiv = null;  
		function drag(ev,divdom)  {   
			eleOffestLeft = $(divdom).parents(".spec_item_items").width() + $(divdom).parents(".spec_item_items").offset().left;
			eleOffestTop = $(divdom).parents(".spec_item_items").height() + $(divdom).parents(".spec_item_items").offset().top;
			srcdiv=divdom;  
			ev.dataTransfer.setData("Text",divdom.innerHTML);  
		};
		function drop(ev,divdom)  {  
			ev.preventDefault(); 
			var page_left = ev.pageX - eleOffestLeft;
            var page_top = ev.pageY - eleOffestTop;
			if(page_left > 0 || Math.abs(page_left) > 450){
			    return false;
			};
			if(srcdiv != divdom){  
				srcdiv.innerHTML = divdom.innerHTML;  
				divdom.innerHTML=ev.dataTransfer.getData("Text");  
			}; 
			var sort = $(divdom).parents(".user_img").find(".attachment_sort");
			for(var i = 0;i < sort.length;i++){
			    sort.eq(i).val(i+1);
			}
		}; 
		
		// 批量设置 
		function setCol(_this,flag){
		    var _thisVal = $(_this).siblings(".option_stock_all").val();
			if(flag == 1 || flag == 6 || flag == 7){
			    $(".table tbody").find(".cosf"+flag+"").val(_thisVal);
			}else{
			    $(".table tbody").find(".cosf"+flag+"").val(_thisVal+".00");
			}
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



