<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/products.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="snav">
			<ul class="clearfix">
				<li class="current pro"><a href="<{:U('System/products')}>">我的商品</a><em class="sanjiao"></em></li>
				<li class="sever_li"><a href="<{:U('System/service')}>">我的售后</a><em class="sanjiao"></em></li>
				<li class="sever_li"><a href="<{:U('System/shipping')}>">物流设置</a><em class="sanjiao"></em></li>
			</ul>
		</div>
		<!-- 全部库存 -->
		<div class="all-stock clearfix">
		    <h3>全部库存</h3>
			<div class="btns">
			    <a href="<{:U('System/deliveryAdd')}>" class="pro-library ui-button"> 出库商品</a>
			    <a href="<{:U('System/productAdd')}>" class="pro-plus ui-button"> 添加商品</a>
			</div>
		</div>
		<!-- 筛选 -->
		<div class="filter">
			<form id="source" action="<{:U('System/products')}>" method="get">
			    <div class="filter-shelves">
				    查找：<span>按上架</span>
					<span class="select <if condition="$isonsale eq 1">current</if>"><a href="<{:U('System/products', array('is_on_sale'=>1))}>">上架的商品</a></span>
					<span class="select <if condition="($isonsale eq 0) AND ($isonsale neq '')">current</if>"><a href="<{:U('System/products', array('is_on_sale'=>0))}>">未上架的商品</a></span>
				</div>
				<div class="filter-csy">
				    <span>按类型</span>
					<select name="classify_id" id="classify">
						<option value="0">请选择分类</option>
						<foreach name="classifys" item="vo">
						<option value="<{$vo.id}>" <eq name="classify" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
						</foreach>
					</select>
					<select name="type_id" id="type" <lt name="type" value="1">style="display:none"</lt>>
						<option value="0">请选择</option>
						<foreach name="types" item="vo">
						<option value="<{$vo.id}>" <eq name="type" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
						</foreach>
					</select>
					<select name="brand_id" id="brand" <lt name="brand" value="1">style="display:none"</lt>>
						<option value="0">请选择</option>
						<foreach name="brands" item="vo">
						<option value="<{$vo.id}>" <eq name="brand" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
						</foreach>
					</select>
					<select name="cat_id" id="cat" <lt name="cat" value="1">style="display:none"</lt>>
						<option value="0">请选择</option>
						<foreach name="cats" item="vo">
						<option value="<{$vo.id}>" <eq name="cat" value="$vo.id">selected</eq>><{$vo.cat_name}></option>
						</foreach>
					</select>
				</div>
				<div class="filter-name">
				    <span>按名称</span>
				    <input type="text" class="keyword" name="keyword" value="<{$keyword}>" placeholder="请输入商品名称" />
				    <input type="hidden" name="is_on_sale" value="<{$isonsale}>" />
					<button class="submit ui-button"> 搜索 </button>
				</div>
			</form>
		</div>
		<form id="batch" action="<{:U('System/doBatchProducts')}>" method="post">
		<div class="widget-box pro-lst">
			<table class="table">
				<thead>
					<tr class="theadtr">
						<th style="width:3%;">编号</th>
						<th colspan="2">商品名称</th>
						<th style="width:10%;">售价</th>
						<th style="width:10%;">库存</th>
						<th style="width:8%;">上架</th>
						<th style="width:10%;">上架时间</th>
						<th style="width:8%;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="operation">
						<td colspan="9">
							<div class="all-select">
								<label for="title-checkbox" class="labelFor">
									<input type="checkbox" name="title-checkbox" id="title-checkbox"/>
									<span class="all-select-text">全选</span>
								</label>
								<span class="btn dobatch" data-type="on">上架</span>
								<span class="btn dobatch" data-type="off">下架</span>
								<span class="btn dobatch" data-type="del">删除</span>
								<input type="hidden" name="batch" value="" />
							</div>
							<div class="page">
								<{$page}>
							</div>
						</td>
					</tr>
					<foreach name="data" item="vo">
					<tr>
						<td class="text-center slted" style="padding: 0;">
							<label class="checker" class="uniform-undefined"><input type="checkbox" name="ids[]" class="subBox" value="<{$vo.id}>" /></label>
						</td>
						<td class="text-center"><{$vo['id']}></td>
						<td class="pro-detial slted"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" target="_blank"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt=""><{$vo.pro_name}></a></td>
						<td class="text-center price"><{$vo.pro_price}></td>
						<td class="text-center"><{$vo.stock_num}></td>
						<td class="text-center shelves"><if condition="$vo['is_on_sale'] eq 1"><span class="up icon"></span><else /><span class="down icon"></span></if></td>
						<td class="text-center time">
							<p><{$vo.add_time|date="Y.m.d",###}></p>
						</td>
						<td class="text-center">
							<a class="edit" href="<{:U('System/productEdit', array('id'=>$vo['id']))}>" title="编辑"> 编辑 </a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(function() {
			$("#title-checkbox").click(function(){
				$(".subBox").prop("checked",this.checked);
			});
			var checker = $(".subBox");
			checker.click(function(){
				$("#title-checkbox").prop("checked",checker.length == $(".subBox:checked").length ? true : false);
			});
			$(".filter .filter-shelves .select").click(function(){
			   var _this = $(this);
			   _this.addClass("current").siblings().removeClass("current");
			})
			$('.dobatch').click(function(){
			    if($(".subBox:checked").length == 0){
				    alert("还没有选中哦！")
					return;
				}
				var type   = $(this).attr('data-type');
				var txtMsg = "确定要删除选中的商品吗？";
				if(type == 'on'){
					txtMsg = "确定要上架选中的商品吗？";
				}else if(type == 'off'){
					txtMsg = "确定要下架选中的商品吗？";
				}
				$("input[name=batch]").val(type);
				if(confirm(txtMsg) == true){
					$("form#batch").submit();
				}
			});
		});
		
		// 下拉框选择
		$('#classify').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#type").empty().append(d).show();
					}else{
						$('#type').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#brand').empty().append('<option value="0">请选择</option>').hide();
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#type').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#brand").empty().append(d).show();
					}else{
						$('#brand').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#brand').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#cat").empty().append(d).show();
					}else{
						$('#cat').empty().append('<option value="0">请选择</option>').hide();
					}
                });
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



