<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/products-edit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="snav">
			<ul class="clearfix">
				<li class="current currency">基本<em class="sanjiao"></em></li>
				<li class="pro-characteristic">详情<em class="sanjiao"></em></li>
				<li class="pro-parameter">参数<em class="sanjiao"></em></li>
				<li class="pro-Specifications">库存/规格<em class="sanjiao"></em></li>
			</ul>
		</div>
		<form action="__CONTROLLER__/doProductAdd" id="add" method="post">
		<!-- 选项卡一开始 -->
		<div id="tab1" class="tab-pane active">
			<div class="form-horizontal">
				<div class="control-group">
					<label class="control-label">商品类别：</label>
					<div class="controls">
						<select name="classify_id" id="classify" style="width:150px;">
							<option value="0">请选择</option>
							<foreach name="classifys" item="vo">
							<option value="<{$vo.id}>"><{$vo.cat_name}></option>
							</foreach>
						</select>
						<select name="type_id" id="type" style="width:150px; display:none">
							<option value="0">请选择</option>
						</select>
						<select name="brand_id" id="brand" style="width:150px; display:none">
							<option value="0">请选择</option>
						</select>
						<select name="cat_id" id="cat" style="width:150px; display:none">
							<option value="0">请选择</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">商品品牌：</label>
					<div class="controls">
						<select name="pro_brand" style="width:150px;">
							<option value="0">请选择</option>
							<foreach name="brands" item="vo">
							<option value="<{$vo.id}>"><{$vo.brand_name}></option>
							</foreach>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><em style="color:#f00;">*</em> 商品名称：</label>
					<div class="controls">
						<input type="text" class="ui-input long-input" name="pro_name" id="pro_name" placeholder="请输入产品名称">
						<span class="form-tips">此项必须填写</span>
					</div>
				</div>
				<!--<div class="control-group">
					<label class="control-label">价格：</label>
					<div class="controls">
						<input type="text" class="ui-input middle-input" name="pro_price" placeholder="0.00">
					</div>
				</div>-->
				<div class="control-group">
					<label class="control-label">商品货号：</label>
					<div class="controls">
						<input type="text" class="ui-input middle-input" name="pro_sn" placeholder="产品货号">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">商品属性：</label>
					<div class="controls" style="margin-left: 100px;">
						<label><input type="checkbox" value="1" name="is_shipping"/> 包邮</label>
						<label><input type="checkbox" value="1" name="is_quality"/> 原装品质</label>
						<label><input type="checkbox" value="1" name="is_return"/> 7天退换货</label>
					</div>
					
				</div>
				<div class="control-group">
				    <label class="control-label"> 保修期： </label>
					<div class="controls">
						<select name="warranty" class="sort-input">
							<option value="0">不保</option>
							<option value="1">15天</option>
							<option value="2">1个月</option>
							<option value="3">2个月</option>
							<option value="4">3个月</option>
							<option value="5">6个月</option>
							<option value="6">12个月</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">关键字：</label>
					<div class="controls">
						<input type="text" name="keywords" class="long-input ui-input" placeholder="商品关键字,能准确搜到商品的,比如 : 苹果电池|外屏 之类的"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">描述：</label>
					<div class="controls">
						<textarea class="long-input ui-textarea" name="description" placeholder="产品相关简单描述"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><em style="color:#f00;">*</em>上传缩略图：</label>
					<div class="controls">
						<label class="inser_thumbnail_pic">
							<em class="icon_add"></em>添加图片<input type="file" name="inser_thumbnail_pro" id="inser_thumbnail_pro"/>
						</label>
						<span class="form-tips">请上传缩略图</span>
						<div class="thumbnail_img_pro"><img id="thumbnail_img" src=""></div>
						<input type="hidden" name="list_image" id="thumbnail_pro" value="">
						
					</div>
				</div>
			</div>
		</div>
		<!-- 选项卡二开始 -->
		<div id="tab2" class="tab-pane">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<textarea name="feacher" id="feacher" style="width:100%; height:350px;"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 选项卡三开始 -->
		<div id="tab3" class="tab-pane">
			<div class="widget-box">
				<div class="widget-title">
					<h5 class="clearfix"><strong>商品参数</strong><span class="ui-button" id="add_para">添加参数</span></h5>
				</div>
				<div class="widget-content">
					<div class="widget-content-top">
						<div class="content-box clearfix">
							<div class="content-tit">标题</div>
							<div class="content-con">内容</div>
							<div class="content-btn">操作</div>
						</div>
						<foreach name="params" item="vo">
						<div class="content-box clearfix">
							<div class="content-tit"><{$vo.param_title}></div>
							<div class="content-con"><{$vo.param_content}></div>
							<div class="content-btn">
								<a href="#" class="ui-button btn-delete">删除</a>
								<a href="#" class="ui-button btn-edit">编辑</a>
							</div>
						</div>
						</foreach>
					</div>
					<div class="form-horizontal">
						<div class="control-group">
							<label class="control-label">参数标题：</label>
							<div class="controls">
								<input type="text" class="ui-input long-input" id="param_tit">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">参数内容：</label>
							<div class="controls">
								<input type="text" class="ui-input long-input" id="param_con">
							</div>
						</div>
						<div class="form-actions">
							<span class="ui-button" id="add_form">提交添加</span>
							<span class="ui-button" id="submit_form" style="display:none;">提交编辑</span>
						</div>
					</div>
				 </div>
			</div>
		</div>
		<!-- 选项卡四开始 -->
		<div id="tab4" class="tab-pane">
		    <div class="alert alert-info">
				添加前请阅读“相关说明”里的“商品设置”<br>
				1、请先添加规格，才能添加价格<br>
				2、添加规格：是指添加该商品比如：大小，颜色，型号等类别；添加选项：是指该规格下的详细分类，如：红色，绿色，白色等。
	        </div>
			<div id="specs" class="ui-sortable"></div>
			<h4>
				<a href="javascript:;" class="btn btn-primary" id="add-spec" title="添加规格"><i class="icon-add"></i> 添加规格</a> 
				<a href="javascript:;" onclick="refreshOptions()" title="添加价格" class="btn btn-primary"><i class="icon-refresh"></i> 添加价格</a>
			</h4>
			<div id="options">
			    <table class="table table-bordered table-condensed">
				    
				</table>
			</div>
		</div>
		<div class="btn-group">
			<input type="hidden" name="options" value="" />
			<button type="button" class="ui-button btn-save" id="save_pro_news" style="margin-right:20px"> 保存商品信息 </button>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="__PUBLIC__/Home/system/js/form-sort.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 编辑器
        var editor;
        KindEditor.ready(function(K) {
			editor = K.create('#feacher', {
				resizeType : 1,
				uploadJson : '__PUBLIC__/editor/php/upload_feacher_json.php',
				afterBlur: function(){this.sync();}
			});
        });
		
		// 下拉框选择
		$('#classify').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#type").empty().append(d).show();
					}else{
						$('#type').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#brand').empty().append('<option value="0">请选择</option>').hide();
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#type').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#brand").empty().append(d).show();
					}else{
						$('#brand').empty().append('<option value="0">请选择</option>').hide();
					}
					$('#cat').empty().append('<option value="0">请选择</option>').hide();
                });
			}
		});
		$('#brand').change(function(){
			var id = $(this).children('option:selected').val();
			if(id){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeNextSelect', {'id': id}, function (d) {
					if(d){
						$("#cat").empty().append(d).show();
					}else{
						$('#cat').empty().append('<option value="0">请选择</option>').hide();
					}
                });
			}
		});
		
		// tab栏切换
		$(".snav ul li").click(function(){
			var _this = $(this);
			var myindex = _this.index()
			_this.addClass("current").siblings().removeClass("current");
			$(".tab-pane").eq(myindex).addClass("active").siblings(".tab-pane").removeClass("active");
		});
		
		// 选项卡三，商品参数
		$(".widget-box").on("click",".content-btn .btn-delete",function(){  // 输出参数
			var _this  = $(this)
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					_this.parents(".content-box").remove();
				}
			}
			window.wxc.xcConfirm("您确定要删除此参数吗？", "custom", option);
		}).on("click",".content-btn .btn-edit",function(){ // 编辑参数
			var _this   = $(this)
			var titText = _this.parents(".content-box").find(".content-tit").text();
			var conText = _this.parents(".content-box").find(".content-con").text();
			$("#param_tit").val(titText);
			$("#param_con").val(conText);
			$("#add_form").hide();
			$("#submit_form").show();
			index = _this.parents(".content-box").index();
		}).on("click","#add_form",function(){           // 提交添加
			var titVal  = $("#param_tit").val();
			var textVal = $("#param_con").val();
			if(titVal != "" && textVal != ""){
				var html = '';
					html+='<div class="content-box clearfix">';
					html+=		'<div class="content-tit">'+titVal+'<input name="param_title[]" type="hidden" value="'+titVal+'" /></div>';
					html+=		'<div class="content-con">'+textVal+'<input name="param_content[]" type="hidden" value="'+textVal+'" /></div>';
					html+=		'<div class="content-btn">';
					html+=		'	<a href="#" class="ui-button btn-delete">删除</a>';
					html+=		'	<a href="#" class="ui-button btn-edit">编辑</a>';
					html+=		'</div>';
					html+='</div>';
				$(".widget-content-top").append(html);
				$("#param_tit").val("");
				$("#param_con").val("");
			}else{
			    if(titVal == ""){
			        alert("请输入标题");
				}else if(textVal == ""){
				    alert("请输入内容");
				}
			};
		}).on("click","#submit_form",function(){           // 提交编辑
			var myindex = index;
			var titVal  = $("#param_tit").val();
			var textVal = $("#param_con").val();
			$(".content-box").eq(myindex).find(".content-tit").html(titVal+'<input name="param_title[]" type="hidden" value="'+titVal+'" />');
			$(".content-box").eq(myindex).find(".content-con").html(textVal+'<input name="param_content[]" type="hidden" value="'+textVal+'" />');
			$("#param_tit").val("");
			$("#param_con").val("");
			$("#add_form").show();
			$("#submit_form").hide();
		}).on("click","#add_para",function(){                // 添加参数
			$("#param_tit").val("");
			$("#param_con").val("");
			$("#add_form").show();
			$("#submit_form").hide();
		});
		
		// 选项卡四，商品规格
		$("#tab4").on("click","#add-spec",function(){        // 添加规格    
			var spec_id = randomString(32);
		    var html = "";
			    html += '<div class="spec_item false" id="spec_'+ spec_id +'">';
				html +=' 	<div class="form-group"><input type="hidden" class="spec_id" name="spec_id[]" value="'+ spec_id +'" />';
				html +=' 		<div class="input-group">';
				html +=' 			<input type="text" class="form-control spec_title" name="spec_title['+ spec_id +']" value="" placeholder="规格名称 (比如: 颜色)"/>';
				html +=' 			<div class="input-group-btn">';
				html +=' 				<a href="javascript:;" style="border-radius:0;" specid="'+ spec_id +'" class="btn btn-info add-specitem addAttribute"><i class="fa fa-plus"></i> 添加选项</a>';
				html +=' 				<a href="javascript:void(0);" style="border-radius:0;" class="btn btn-danger deleteSpec" ><i class="icon-remove"></i>删除</a>';
				html +=' 			</div>';
				html +=' 		</div>';
				html +=' 	</div>';
				html +=' 	<div class="form-group">';
				html +=' 		<div class="spec_item_item spec_item_sZ clearfix"></div>';    
				html +=' 	</div>';    
				html +='</div>';
			$("#specs").append(html);
		}).on("click",".deleteSpec",function(){              // 删除规格  
			var flag = confirm("确定要删除这个规格吗");
			if(flag == true){
			    $(this).parents(".spec_item").remove();
				refreshOptions();
			};
			if($(".spec_item").length == 0){
			    $("#options").hide();  
			};
		}).on("click",".addAttribute ",function(){           // 添加选项
			var spec_id      = $(this).attr('specid');
			var spec_item_id = randomString(32);
			var html = "";
				html += '<div class="spec_item_items false copyedItem">';
				html += '	<div class="input-group clearfix"><input type="hidden" class="spec_item_id" name="spec_item_id_'+ spec_id +'[]"  value="'+ spec_item_id +'" />';
				html += '		<input type="text" class="form-control f_left spec_item_title" name="spec_item_title_'+ spec_id +'[]" value="" />';
				html += '		<span class="input-group-addon delete-val f_left">';
				html += '			<a href="javascript:;" class="btn btn-danger" title="删除"><i class="icon-close"></i>删除</a>';
				html += '		</span>';
				html += '	</div>';
				html += '   <div class="add_bd clearfix">';
				html += '	    <label class="inser_pic">';
				html += '		    <em class="icon_add"></em><input type="file" itemid="'+ spec_item_id +'" class="inser_pic_pro">';
				html += '	    </label>';
				html += '	    <div class="user_img"></div>';
				html += '   </div>	';
				html += '</div>';
			$(this).parents(".spec_item").find(".spec_item_sZ").append(html);
			$(this).parents(".form-group").siblings().find(".spec_item_title").last().focus();
		}).on("click",".delete-val",function(){                             // 删除规格项
		    var _this = $(this);
			var copyLen = _this.parents(".spec_item_sZ").find(".copyedItem").length;
			if(copyLen <= 1){
			    _this.parents(".spec_item").remove();
			};
			_this.parents(".copyedItem").remove();
            refreshOptions();
		}).on("click",".imcontainer",function(){                 // 删除图片
			var flag =confirm("确定要删除这张图片吗？");
			if (flag ==true){
				$(this).remove();
			}
		});
		
		$(document).on("change",".inser_pic_pro",function(e){        // 上传属性图片 选项卡四
			var itemId    = $(this).attr("itemid");
 			var thisImg   = $(this).parents("label").siblings('.user_img');
			var thisInput = $(this).parents("label").siblings('.attachment_pro');
			inser_pic(e,thisImg,null, itemId);
		}).on("change","#inser_thumbnail_pro",function(e){           // 上传缩略图 选项卡一
			inser_pic(e,$("#thumbnail_img"),$("#thumbnail_pro"),null);
		});
		
		// 表单提交
		$("#save_pro_news").on("click",function(){
		    var proName = $("#pro_name");
			var proNameVal = $("#pro_name").val();
			var thumb = $("#thumbnail_pro");
			var thumbVal = $("#thumbnail_pro").val();
			var count = null;
			if(proNameVal == ""){
			    $(".snav ul li").eq(0).addClass("current").siblings().removeClass("current");
				setTimeout(function(){
				   proName.focus(); 
				   proName.siblings(".form-tips").show();
				   proName.parents(".controls").siblings(".control-label").css("color","#f00");
				},300)
				$(".tab-pane").eq(0).addClass("active").siblings(".tab-pane").removeClass("active");
				return false;
			}else {
			    proName.siblings(".form-tips").hide();
				proName.parents(".controls").siblings(".control-label").css("color","#000");
				count++;
			};
			if(thumbVal == ""){
			    $(".snav ul li").eq(0).addClass("current").siblings().removeClass("current");
				$(".tab-pane").eq(0).addClass("active").siblings(".tab-pane").removeClass("active");
				thumb.siblings(".form-tips").show();
				thumb.parents(".controls").siblings(".control-label").css("color","#f00");
			    return false;
			}else{
			    thumb.siblings(".form-tips").hide();
				thumb.parents(".controls").siblings(".control-label").css("color","#000");
				count++;
			};
			if(count == 2){
				optionArray();
				$("form#add").submit();
			}
		});
		
		
		
		// 生成随机字符串
		function randomString(len) {
		　　len = len || 32;
		　　var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
		　　var maxPos = $chars.length;
		　　var pwd = '';
		　　for (i = 0; i < len; i++) {
		　　　　pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
		　　}
		　　return pwd;
		};

		// 插入图片
		function inser_pic(e,imgs,input,itemId){
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					if(imgs.attr("id") == "thumbnail_img"){
					    imgs.attr('src',src).show(); 
                        input.val(src);						
					}else{
                        imgs.append('<div class="imcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)"><img src="'+src+'" width="85" /><input type="hidden" name="spec_item_thumb_'+ itemId +'[]" class="attachment_pro" value="'+src+'"/></div>');	
                        						
					}
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					//console.log('浏览器不支持...');
				}
			});
		};
		
		// h5拖拽
		function allowDrop(ev)  {  
			ev.preventDefault(); 
			
		}   
		var eleOffestLeft = null;
		var eleOffestTop = null;
		var srcdiv = null;  
		function drag(ev,divdom)  {   
			eleOffestLeft = $(divdom).parents(".spec_item_items").width() + $(divdom).parents(".spec_item_items").offset().left;
			eleOffestTop = $(divdom).parents(".spec_item_items").height() + $(divdom).parents(".spec_item_items").offset().top;
			srcdiv=divdom;  
			ev.dataTransfer.setData("Text",divdom.innerHTML);  
		};
		function drop(ev,divdom)  {  
			ev.preventDefault(); 
			var page_left = ev.pageX - eleOffestLeft;
            var page_top = ev.pageY - eleOffestTop;
			if(page_left > 0 || Math.abs(page_left) > 450){
			    return false;
			};
			if(srcdiv != divdom){  
				srcdiv.innerHTML = divdom.innerHTML;  
				divdom.innerHTML=ev.dataTransfer.getData("Text");  
			};
		}; 
		
		// 批量设置 
		function setCol(_this,flag){
		    var _thisVal = $(_this).siblings(".option_stock_all").val();
			if(flag == 1 || flag == 6 || flag == 7){
			    $(".table tbody").find(".cosf"+flag+"").val(_thisVal);
			}else{
			    $(".table tbody").find(".cosf"+flag+"").val(_thisVal+".00");
			}
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



