<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/repairset.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
	    <h2>服务设置</h2>
	    <div class="bd1 clearfix">
			<foreach name="types" item="vo">
		    <span <eq name="vo.id" value="$type">class="current"</eq>><a href="<{:U('System/repairset', array('type'=>$vo['id']))}>"><{$vo.cat_name}></a></span>
			</foreach>
	    </div>
	    <div class="bd2 brand clearfix">
			<span>服务品牌：</span>
		    <ul class="clearfix" id="Sbrand">
				<foreach name="brands" key="key" item="vo">
				<if condition="$vo['cat_name'] neq '其他'">
				<li <eq name="key" value="0">class="current"</eq> brand-id="<{$vo.id}>"><i></i><img src="__PUBLIC__/Product/icon/<{$vo.icon_image}>" width="59" alt="" /></li>
				</if>
				</foreach>
			</ul>
	    </div>
		<notempty name="brands">
	    <div class="bd3 model clearfix">
			<span>服务型号：</span>
		    <ul class="clearfix" id="Smodel">
				<foreach name="brands" key="key" item="vo">
				<if condition="$vo['cat_name'] neq '其他'">
				<li <eq name="key" value="0">class="block"</eq>>
					<foreach name="vo.models" item="v">
				    <div class="<eq name="v.selected" value="1">current</eq> model-item" brand-id="<{$vo.id}>" model-id="<{$v.id}>"><i></i><{$v.pro_name}></div>
					</foreach>
				</li>
				</if>
				</foreach>
			</ul>
	    </div>
		</notempty>
		<div class="submit-modify">
		    <a href="#" id="submitModify">立即提交</a>
		</div>
	</div><!-- con-bd -->
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		$(".con-bd").delegate('.add','click',function(){                                     	 // 打开添加品牌型号窗口
			$(".select-jump").slideDown(300);
			$(".dark").fadeTo(300,0.5);
		}).delegate('#Sbrand li','click',function(){                                             // 点击品牌
		    var _this = $(this);
			_this.addClass("current").siblings().removeClass("current");
			var thisIndex = _this.index();
			$("#Smodel li").eq(thisIndex).addClass("block").siblings().removeClass("block");
		}).delegate('#Smodel li  .model-item','click',function(){                             	 // 点击型号
			$(this).toggleClass("current");
		}).delegate('#submitModify','click',function(){                                          // 点击更新设置
			var txt=  "确认更新此设置？";
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					var model = new Array();
					var brand = new Array();
					$("#Smodel li .current").each(function(index,element){
						var modelId = $(element).attr('model-id');
						var brandId = $(element).attr('brand-id');
						model[index] = brandId+"-"+modelId;
					}); 
					$("#Sbrand li").each(function(index,element){
						brand[index] = $(element).attr('brand-id');
					}); 
					$.post('__CONTROLLER__/updateModel', {'brand':brand, 'model':model}, function (d) {
					    var data = $.parseJSON(d);
						if(d > 0){ 
							var txt=  "更新成功！";
							window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
							setTimeout(autuUrl,300)
							function autuUrl(){
								window.location.href="__APP__/system/repairset.html"; 
							}
						}else{
							return false;
						}
					});
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		});;
	</script>
</block>
<!-- 底部JS执行区域 结束 -->