<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/repair.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
	<script src="__PUBLIC__/Plugins/layer-v2.4/layer.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2 class="clearfix"><strong>维修订单</strong></h2>
		<!-- tab栏 -->
		<div class="repair-tab">
			<ul>
				<li class="current"><a href="<{:U('System/repair')}>">维修订单</a></li>
				<li><a href="<{:U('System/recovery')}>">回收订单</a></li>
			</ul>
		</div>
		<div class="con-bd-t">
			<form id="repair" action="<{:U('System/repair')}>" method="get">
			<div class="t1">精准搜索：<input type="text" name="keyword" value="<{$keyword}>" placeholder="搜索 订单号、手机号码、物流单号" /> <span class="search"><i></i></span></div>
			<div class="t2">下单日期：
				<input type="text" class="date-select" name="startdate" value="<{$startdate}>" />
				<span>至</span>
				<input type="text" name="enddate" class="date-select" value="<{$enddate}>" />
			</div>
			<div class="t3">订单状态：   
				<select name="status" class="span2">
					<option value=""></option>
					<option value="1" <eq name="status" value="1">selected</eq>>交易中订单</option>
					<option value="2" <eq name="status" value="2">selected</eq>>已完成订单</option>
					<option value="0" <eq name="status" value="0">selected</eq>>已关闭订单</option>
				</select>
			</div>
			</form>
		</div>
		<div class="con-bd-b">
			<ul class="ul-tit">
				<li class="li1">服务产品</li>
				<li class="li2">维修方式</li>
				<li class="li3">价格（元）</li>
				<li class="li4">订单状态</li>
				<li class="li5">操作</li>
			</ul>
			<ul class="ul-bd">
				<foreach name="orders" item="vo">
				<li data-id="<{$vo.id}>">
				    <p class="li-b">
						<span class="li-b-l"><time><{$vo.order_date|date="Y-m-d H:i:s",###}></time>订单号：<{$vo.order_sn}></span>
					</p>
					<div class="li-t clearfix">
						<a href="<{:U('System/editprice', array('id'=>$vo['id']))}>" target="_blank" title="订单详情" >
							<p class="li-t1">
								<span><img src="<{$vo.show_img}>" width="64" /></span>
								<strong><{$vo.show_name}> <br /> <{$vo.name}></strong>
							</p>
						</a>
						<p class="li-t2">
							<eq name="vo.server_way" value="1">到店维修</eq>
							<eq name="vo.server_way" value="2">上门维修</eq>
							<eq name="vo.server_way" value="3">邮寄维修</eq>
						</p>
						<p class="li-t3">
						<eq name="vo.new_price" value="0">
							<span class="resivi_price"><{$vo.deail_price}></span>
						<else />
							<del><{$vo.deail_price}></del>
							<span class="resivi_price"><{$vo.new_price}></span>
						</eq>
						</p>
						<p class="li-t4">
							<if condition="($vo['order_status'] eq 0)">
								<span>已取消</span>
							<elseif condition="($vo['order_status'] eq 1)"/>
								<if condition="($vo['pay_status'] eq 1)">
									<span>已付款</span>
								<else />
									<eq name="vo.server_status" value="1"><span class="red">待付款，等待报价</span></eq>
									<eq name="vo.server_status" value="2"><span class="red">待付款，等待维修</span></eq>
									<eq name="vo.server_status" value="3"><span class="red">待付款，维修完成</span></eq>
								</if>
							<elseif condition="($vo['order_status'] eq 2)"/>
								<span>已完成</span>
							</if>
						</p>
						<div class="li-t5">
							<if condition="$vo['security'] eq '0'">
								<if condition="($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
									<strong class="replace"><a href="<{:U('System/editprice', array('id'=>$vo['id']))}>">检测改价</a></strong>
								<else />
									<strong class="replace disabled"><a href="javascript:;">检测改价</a></strong>
								</if>
							<else />
								<if condition="$vo['order_status'] eq '1'">
								<strong class="replace"><a href="<{:U('System/security', array('id'=>$vo['id']))}>" class="security">完成订单</a></strong>
								</if>
							</if>
							
							<if condition="$vo['order_status'] eq '0'">
								<if condition="$vo['server_way'] eq 3">
									<if condition="($vo['shipping_num'] neq '') AND ($vo['return_num'] eq '')">
										<a href="javascript:;" class="deliver">退回发货</a>
									</if>
								</if>
							<elseif condition="$vo['order_status'] eq '1'"/>
								<if condition="($vo['pay_status'] eq 1) AND ($vo['server_way'] eq 3)">
									<a href="javascript:;" class="deliver">发货</a>
								</if>
								<if condition="$vo['appeal'] eq 1">
									<a href="javascript:;" title="订单未成交,此入口申请退还草包豆" class="representations">申诉</a>
								</if>
							</if>

							<if condition="(($vo['security'] eq '0') OR ($vo['server_way'] eq 3)) AND ($vo['pay_status'] eq 0) AND ($vo['order_status'] eq 1)">
								<div class="receivables-mod">
									<a href="javascript:;" class="receivables">收款</a>
									<span class="wx_zfb clearfix">
										<a class="qrcode wx" target="_blank" href="<{:U('Wxpay/native', array('trade_no'=>$vo['order_sn']))}>"><i class="wx_icon"></i>微信支付</a>
										<a class="qrcode zfb" target="_blank" href="<{:U('Alipay/qrcode', array('trade_no'=>$vo['order_sn']))}>"><i class="zfb_icon"></i>支付宝支付</a>
									</span>
								</div>
							</if>
						</div>
					</div>
				</li>
				</foreach>
			</ul>
			<div class="page">
				<{$page}>
			</div>
		</div>
		<!-- 发货窗口 -->
		<div class="dark"></div>
		<div class="deliverbox" style="margin:0;top:40%;">
			<div class="select-t">
				发货
				<i></i>
			 </div>
			<form id="deliver" action="__CONTROLLER__/deliver" method="post">
			<div class="select-m">
				<select name="shipping_way">
					<foreach name="shipping" item="vo">
					<option value="<{$vo.id}>"><{$vo.cname}></option>
					</foreach>
				</select>
				<input type="text" name="shipping_num" value="" placeholder="请输入物流单号" />
				<input type="hidden" name="orderid" value="" />
			</div>
			<div class="select-b">
				<span class="dele"><a href="javascript:;">取消</a></span>
				<span class="submit"><a href="javascript:;">提交</a></span>
			</div>
			</form>
		</div>
		<!-- 申诉 -->
		<div class="posF" id="masterRepresentations">
			<div class="bg"></div>
			<div class="box280 posR">
				<form id="appeal" action="<{:U('System/doAppeal')}>" method="post" autocomplete="off">
				<div class="hd"><span class="posA off">&nbsp;</span></div>
				<div class="bd">
					<a class="btn-select" id="btn_Representations">
						<span class="cur-select">请选择申诉原因</span>         
						<select name="reason" class="fault">
							<option value="0">请选择申诉原因</option>
							<option value="1">顾客取消交易</option>
							<option value="2">缺少配件</option>
							<option value="3">路程太远</option>
						</select>
						<input type="hidden" name="id" value="" />
					</a>
					<a class="appeal-tip" href="javascript:void(0);">提示：订单未达成交易,在此申请退还草包豆</a>
					<div class="btn btn-confirm"><a href="javascript:void(0);">确定</a></div>
				</div>
				</form>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});

		$(".con-bd").delegate('.search','click',function(){      // 搜索
			$('#repair').submit();
		}).delegate('.deliver','click',function(){               // 打开发货窗口
			var id = $(this).parents('li').attr('data-id');
			$('.deliverbox input[name=orderid]').val(id);
			$('.deliverbox').slideDown(250);
			$('.dark').fadeTo(500,0.5);
		}).delegate('.closeThisOrder','click',function(){        // 取消订单
			var id  = $(this).parents('li').attr('data-id');
			var txt =  "您确定要关闭订单吗？";
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href = "__APP__/system/close/id/"+id+".html"; 
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
		}).delegate('.representations','click',function(){        // 申诉
			var id = $(this).parents('li').attr('data-id');
			$('#masterRepresentations input[name=id]').val(id);
			$("#masterRepresentations").slideDown(300);
		}).delegate('.li-t5 .receivables-mod','mouseenter',function(){        // 收款
			$(this).find(".wx_zfb").show();
		}).delegate('.li-t5 .receivables-mod','mouseleave',function(){        // 收款
			$(this).find(".wx_zfb").hide();
		});
		
		// 发货窗口
		$(".deliverbox").delegate('.select-t i, .dele a','click',function(){
			$('.deliverbox').slideUp(300);
			$('.dark').fadeOut(500)
		}).delegate('.submit a','click',function(){              // 打开发货窗口
			var shipping_num = $('.deliverbox input[name=shipping_num]').val();
			if(!shipping_num){
				var txt=  "请输入物流单号！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('#deliver').submit();
		});
		
		// 申诉窗口
		$("#masterRepresentations").delegate('.btn-confirm','click',function(){  // 提交申诉
			var c = $("#btn_Representations select option:selected").val();
			if(c == 0){
			    alert("请选择申诉内容");
				return false;
			}
			$('form#appeal').submit();
		});
		
		$(document).on("change",$("#btn_Representations .fault"),function(){
			var text = $("#btn_Representations").find("option:selected").text(); 
			$("#btn_Representations .cur-select").html(text);
		})
	</script>
</block>
<!-- 底部JS执行区域 结束 -->