<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/search.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>订单搜索</h2>
		<div class="con-bd-t">
			<form id="search" action="<{:U('System/search')}>" method="get">
			<div class="t1">
				精准搜索：
				<input type="text" name="keyword" value="<{$keyword}>" placeholder="搜索 订单编号/物流单号"/>
				<span><i class="search"></i></span>
			</div>
			<div class="t2">
				下单日期：
				<input type="text" class="date-select" name="startdate" value="<{$startdate}>" />
				<span>至</span>
				<input type="text" name="enddate" class="date-select" value="<{$enddate}>" />
			</div>
			</form>
		</div>
		<div class="con-bd-b">
			<ul class="ul-tit">
				<li class="li1">服务产品</li>
				<li class="li2">服务价格(元)</li>
				<li class="li3">服务状态</li>
				<li class="li4">相关操作</li>
			</ul>
			<ul class="ul-bd">
				<foreach name="orders" item="vo">
				<li data-id="<{$vo.id}>">
					<div class="li-t clearfix">
						<p class="li-t1">
							<span><img src="<{$vo.show_img}>" width="64" /></span>
							<strong><{$vo.show_name}> <br /> <{$vo.name}></strong>
						</p>
						<p class="li-t2"><{$vo.deail_price}></p>
						<p class="li-t3">
							<span><eq name="vo.pay_status" value="1">已付款<else />未付款</eq></span>
							<strong><a href="<{:U('Orders/rdetail', array('sn'=>$vo['order_sn']))}>" target="_blank" class="shipping">订单详情</a></strong>
						</p>
						<p class="li-t4"><a href="javascript:;" class="sign">签收</a></p>
					</div>
					<p class="li-b">
						<span>订单编号：<{$vo.order_sn}></span>
						<span class="li-b-r">提交日期：<{$vo.order_date|date="Y-m-d H:i:s",###}></span>
					</p>
				</li>
				</foreach>
			</ul>
			<div class="page">
				<{$page}>
			</div>
		</div>
	</div>
	<div class="dark"></div>
	<!-- 签收确认窗口 -->
	<div class="signbox">
		<div class="sign-t">确认签收<i></i></div>
		<form id="sign" action="__CONTROLLER__/sign" method="post">
		<div class="sign-bd">
			<select name="shipping_way">
				<foreach name="shipping" item="vo">
				<option value="<{$vo.id}>"><{$vo.cname}></option>
				</foreach>
			</select>
			<input type="text" name="shipping_num" placeholder="请正确输入物流单号" />
			<input type="hidden" name="orderid" value="" />
			<p><a href="javascript:;" class="submit">确认</a></p>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>		
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d'});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d'});

		$(".con-bd").delegate('.search','click',function(){          // 搜索
			$('#search').submit();
		}).delegate('.sign','click',function(){                      // 签收
			var orderid = $(this).parents('li').attr('data-id');
			$('.signbox input[name=orderid]').val(orderid);
			$('.signbox').slideDown(250);
			$('.dark').fadeTo(500,0.5);
		});
		
		// 发货窗口
		$(".signbox").delegate('.sign-t i','click',function(){
			$('.signbox').slideUp(300);
			$('.dark').fadeOut(500)
		}).delegate('.submit','click',function(){      // 确认签收
			var shipping_num = $('.signbox input[name=shipping_num]').val();
			if(!shipping_num){
				var txt=  "请输入物流单号！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$('#sign').submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->