<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/security.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>保障卡订单</h2>
		<div class="con-bd-t">
			<h3>订单详情<span>订单编号：<{$order.order_sn}></span></h3>
			<div class="h3-bd">
				<div class="h3-bd-1">  
					<p><span>维修设备：</span><{$order.type}> <{$order.brand}> <{$order.model}> <{$order.color_name}></p>
					<p><span>维修故障：</span><{$order.fault}></p>
					<p><span>维修方案：</span><{$order.plan}></p>
				</div>  
				<div class="h3-bd-1 h3-bd-2">  
					<p><span>联 系 人：</span><{$order.reciver_user}></p>
					<p><span>联系电话：</span><{$order.reciver_phone}></p>
					<p><span>联系地址：</span><{$order.province}><{$order.city}><{$order.area}><{$order.position}><{$order.address}></p>
				</div>
				<div class="h3-bd-3">
					<span>备注：<eq name="order.remarks" value="">无<else /><{$order.remarks}></eq></span>
				</div>
				<div class="h3-bd-4">
					<span>维修金额：<strong><{$order.deail_price}></strong>元</span>
				</div>
			</div>
		</div>
		<div class="con-bd-m">
			<form id="repair" action="<{:U('System/doSecurity')}>" method="post" autocomplete="off">
				<div class="rope clearfix">
					<div class="img-box clearfix">
						<p>维修前手机与身份证信息照片</p>
						<div class="clearfix">
							<div class="upload-box">
								<div class="file clearfix">
									<label class="Ifile" for="upload_file">上传<input type="file" name="upload_file1" id="upload_file1" /></label>
									<input type="hidden" name="upload1" id="upload1" />
								</div>
								<div><img id="upload_img1" src="__PUBLIC__/Plugins/1.png" /></div>
							</div>
							<div class="example-box">
								<p>示例&gt;&gt;</p>
								<img src="__PUBLIC__/Home/images/2016/example1.jpg" />
							</div>
						</div>
					</div>
					<div class="img-box clearfix">
						<p>保险订单信息照片</p>
						<div class="clearfix">
							<div class="upload-box">
								<div class="file clearfix">
									<label class="Ifile" for="upload_file">上传<input type="file" name="upload_file2" id="upload_file2" /></label>
									<input type="hidden" name="upload2" id="upload2" />
								</div>
								<div><img id="upload_img2" src="__PUBLIC__/Plugins/1.png" /></div>
							</div>
							<div class="example-box">
								<p>示例&gt;&gt;</p>
								<img src="__PUBLIC__/Home/images/2016/example2.jpg" />
							</div>
						</div>
					</div>
					<input type="hidden" name="id" value="<{$Think.get.id}>" />
					<button type="submit" class="fl submit">提交</button>
				</div>
			</form>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 维修前手机与身份证信息照片
		$("#upload_file1").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('#upload_img1').attr('src',src).show();
					$('#upload1').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					var txt=  "浏览器不支持！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				}
			});
		});
		// 保险订单信息照片
		$("#upload_file2").change(function (e) {
			new html5ImgCompress(e.target.files[0], {
				before: function(file) {
					//console.log('单张: 压缩前...');
				},
				done: function (file, base64) {
					//console.log('单张: 压缩成功...');
					var img = new Image(), title, src, size, base;
					if (typeof base64 === 'object') {
						title = '前';
						size = base64.size;
						src = URL.createObjectURL(base64);
						base = 1024;
					} else {
						title = '后';
						size = base64.length;
						src = base64;
						base = 1333;
					}
					$('#upload_img2').attr('src',src).show();
					$('#upload2').val(src);
					base64 = null; // 处理完后记得清缓存
				},
				fail: function(file) {
					//console.log('单张: 压缩失败...');
				},
				complate: function(file) {
					//console.log('单张: 压缩完成...');
				},
				notSupport: function(file) {
					var txt=  "浏览器不支持！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				}
			});
		});
		$("#repair .example-box img").on("click",function(){
			$(this).toggleClass("scale");
		})
	</script>
</block>
<!-- 底部JS执行区域 结束 -->