<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/service.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.datetimepicker.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.datetimepicker.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="snav">
			<ul class="clearfix">
				<li class="pro"><a href="<{:U('System/products')}>">我的商品</a><em class="sanjiao"></em></li>
				<li class="sever_li current"><a href="<{:U('System/service')}>">我的售后</a><em class="sanjiao"></em></li>
				<li class="sever_li"><a href="<{:U('System/shipping')}>">物流设置</a><em class="sanjiao"></em></li>
			</ul>
		</div>
		<div class="filter">
			<form id="source" action="<{:U('System/service')}>" method="get">
			<div class="filter-btm">
				<input type="text" name="keyword" value="<{$keyword}>" placeholder="请输入售后单号" />
				<button class="submit"> 搜索 </button>
			</div>
			<div class="filter-csy">
				<input type="text" class="date-select" name="startdate" placeholder="2017-01-01" value="<{$start}>" />
				<span>至</span>
				<input type="text" name="enddate" class="date-select" placeholder="2017-01-31" value="<{$end}>" />
				<select name="status">
					<option></option>
					<option value="6" <eq name="status" value="6">selected</eq>>完成售后</option>
					<option value="5" <eq name="status" value="5">selected</eq>>待打款/发货</option>
					<option value="4" <eq name="status" value="4">selected</eq>>签收(卖家)</option>
					<option value="3" <eq name="status" value="3">selected</eq>>发货(买家)</option>
					<option value="2" <eq name="status" value="2">selected</eq>>等待发货</option>
					<option value="1" <eq name="status" value="1">selected</eq>>申请中</option>
					<option value="0" <eq name="status" value="0">selected</eq>>已取消</option>
				</select>
			</div>
			</form>
		</div>
		<div class="service">
			<ul class="ul_tit">
				<li class="one">商品信息</li>
				<li class="five">单价</li>
				<li class="two">数量</li>
				<li class="three">小结</li>
			</ul>
			<ul class="ul_bd">
				<foreach name="service" item="vo">
				<li data-id="<{$vo.id}>">
					<div class="list_tit clearfix">
						<span class="order">售后编号：<{$vo.service_sn}> - <a href="<{:U('Orders/odetail', array('sn'=>$vo['order']['order_sn']))}>" target="_blank"><{$vo.order.order_sn}></a></span>
						<span class="placeholder">
							<if condition="($vo['service_status'] neq 0) AND ($vo['service_status'] neq 6)">
							<a href="<{:U('System/doCloseService', array('id'=>$vo['id']))}>" class="close" onClick="return confirm('确定要取消该售后单吗?');"></a>
							</if>
						</span>
						<time><{$vo.apply_time|date="Y-m-d H:i:s",###}></time>
					</div>
					<div class="list_bd clearfix">
						<div class="phpic">
							<div class="iphone"><img src="__PUBLIC__/Product/thumb/<{$vo.product.list_image}>" height="52" width="52" alt=""></div>
							<div class="phpic_id">
								<span class="introduce"><{$vo.product.pro_name}></span>
								<span class="color"><{$vo.product.attr_name}></span>
							</div>
						</div>
						<span class="two"><{$vo.product.pro_price}></span>
						<span class="five"><{$vo.applynum}></span>
						<span class="three"><{$vo.pro_money|number_format=2,'.',''}></span>
					</div>
					<div class="list_btn clearfix">
						订单类型：
						<span class="three">
							<if condition="$vo['service_type'] eq 1">
								退货
							<elseif condition="$vo['service_type'] eq 2" />
								换货
							<elseif condition="$vo['service_type'] eq 3" />
								维修
							</if>
						</span>
						订单状态：
						<span class="three">
							<if condition="$vo['service_status'] eq 0">
								已取消
							<elseif condition="$vo['service_status'] eq 1" />
								申请中
							<elseif condition="$vo['service_status'] eq 2" />
								等待发货
							<elseif condition="$vo['service_status'] eq 3" />
								发货(买家)
							<elseif condition="$vo['service_status'] eq 4" />
								签收(卖家)
							<elseif condition="$vo['service_status'] eq 5" />
								待打款(卖家)
							<elseif condition="$vo['service_status'] eq 6" />
								完成服务单
							</if>
						</span>
						<span class="allprice"><b></b></span>
						<div class="btn-groups clearfix">
							<if condition="$vo['service_status'] eq 1">
								<a class="change-agree" onClick="return confirm('确定通过该售后申请?');" href="<{:U('System/audit', array('id'=>$vo['id'], 'type'=>1))}>">同意</a>
								<a class="change-disagree" onClick="return confirm('确定不通过该售后申请?');" href="<{:U('System/audit', array('id'=>$vo['id'], 'type'=>0))}>">反对</a>
							<elseif condition="$vo['service_status'] eq 3" />
								<a class="change-sign" onClick="return confirm('确定收到退回商品吗?');" href="<{:U('System/doSignService', array('id'=>$vo['id']))}>">签收</a>
							<elseif condition="$vo['service_status'] eq 4" />
								<a class="deliver" id="deliver" href="javascript:;">发货</a>
							<elseif condition="$vo['service_status'] eq 5" />
								<if condition="$vo['service_type'] eq 1">
									<a class="change-refund" id="change_refund" href="javascript:;">退款</a>
								</if>
							</if>
							<a class="look-orders" href="<{:U('Service/detail', array('sn'=>$vo['service_sn']))}>" target="_blank">查看订单</a>
						</div>
					</div>
				</li>
				</foreach>
			</ul>
			<div class="page">
				<{$page}>
			</div>
		</div>
	</div>
	<!-- 发货 -->
	<div class="posF" id="delivery">
		<div class="bg"></div>
		<div class="box300" style="margin-top: 347.5px;">
			<div class="hd posR">
				<p>发货</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<input type="hidden" name="id" value="0">
				<div class="rope">
					<select name="shipping_way" id="shipping_way">
						<foreach name="shipping" item="vo">
						<option value="<{$vo.id}>"><{$vo.cname}></option>
						</foreach>
					</select>
				</div>
				<div class="rope">
					<input type="tel" style="width:200px;" id="shipping_num" class="ui-input" name="shipping_num" placeholder="请填写快递单号"/>
				</div>
				<div class="rope btns">
					<button type="button" class="off ui-button small-btn">取消</button>
					<button type="button" class="submit ui-button small-btn">提交</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 退款 -->
	<div class="posF" id="refund">
		<div class="bg"></div>
		<div class="box300" style="margin-top: 347.5px;">
			<div class="hd posR">
				<p>退款</p>
				<span class="off posA">&nbsp;</span>
			</div>
			<div class="bd">
				<input type="hidden" name="id" value="0">
				<div class="rope">
					<input type="tel" style="width:200px;" id="money" class="ui-input" name="money" placeholder="请填写退款金额"/>
				</div>
				<div class="rope btns">
					<button type="button" class="off ui-button small-btn">取消</button>
					<button type="button" class="submit ui-button small-btn">提交</button>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 时间控件
		$("input[name=startdate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		$("input[name=enddate]").datetimepicker({lang:'ch',timepicker:false,format:'Y-m-d',formatDate:'Y-m-d',});
		
		$(".service").on("click","#deliver",function(){
			var id = $(this).parents('li').attr('data-id');
			$('#delivery .bd input[name=id]').val(id);
			$("#delivery").slideDown(300);
		}).on("click","#change_refund",function(){
			var id = $(this).parents('li').attr('data-id');
			$('#refund .bd input[name=id]').val(id);
			$("#refund").slideDown(300);
		});
		
		$("body").on("click","#delivery button.submit",function(){
			var id  = $('#delivery .bd input[name=id]').val();       
			var way = $('#delivery .bd #shipping_way').val();
			var num = $('#delivery .bd input[name=shipping_num]').val();   
			if(!num || num == ""){
				alert('请输入快递单号');
				return false;
			}
			$.post('__CONTROLLER__/doDeliveryService', {'id':id, 'way':way, 'num':num}, function (d) {
				if(d){
					window.location.href=window.location.href;
				}else{
					alert('网络错误！请重试！');
					return false;
				}
			});
		}).on("click","#refund button.submit",function(){
			var id    = $('#refund .bd input[name=id]').val();       
			var money = $('#refund .bd input[name=money]').val();   
			if(!money || money == ""){
				alert('请填写退款金额');
				return false;
			}
			$.post('__CONTROLLER__/doRefundService', {'id':id, 'money':money}, function (d) {
				if(d == 1){
					window.location.href=window.location.href;
				}else if(d == -1){
					alert('账户余额不足');
					return false;
				}else{
					alert('网络错误！请重试！');
					return false;
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



