<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/shipping.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<div class="snav">
			<ul class="clearfix">
				<li class="pro"><a href="/system/products.html">我的商品</a><em class="sanjiao"></em></li>
				<li class="sever_li"><a href="/system/service.html">我的售后</a><em class="sanjiao"></em></li>
				<li class="shipping_li current"><a href="/system/shipping.html">物流设置</a><em class="sanjiao"></em></li>
			</ul>
		</div>
		<div class="widget-box">
			<table class="table">
				<thead>
					<tr>
						<th style="width:50px;">编号</th>
						<th style="width:80px;">物流名称</th>
						<th>描述信息</th>
						<th style="width:80px;">操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="shipping" item="vo">
					<tr>
						<td class="text-center"><{$vo.id}></td>
						<td class="text-center"><{$vo.cname}></td>
						<td><{$vo.shipping_desc}></td>
						<td class="text-center">
							<a class="edit" href="<{:U('System/template', array('id'=>$vo['id']))}>">设置</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



