<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/shopset.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/editor/themes/default/default.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>店铺设置</h2>
		<form id="shopset" class="clearfix" method="post" action="<{:U('System/doShopset')}>">
		<div class="con-bd-t clearfix">
			<div class="t-l">
				<img src="__PUBLIC__/User/<{$shop.logo_image}>" onerror="javascript:this.src='__PUBLIC__/Home/images/2016/picc.png';" />
				<span><neq name="shop.mod_image" value=""><a href="javascript:;" class="system_tip">等待审核</a></neq><a href="<{:U('System/image')}>" class="edit">点击修改</a><i></i></span>
			</div>
			<div class="t-r">  
			    <p>
				   <span>店铺名称：</span>
				   <strong><{$shop.shop_name}></strong>
				</p>
				<p>
				   <span>联 系 人 ：</span>
				   <input type="text" name="user_name" value="<{$shop.user_name}>" />
				</p>
				<p>
				   <span>手机号码：</span>
				   <input type="text" name="user_phone" value="<{$shop.user_phone}>" />
				</p>
				<p>
				   <span>联系地址：</span>
				   <strong><{$shop.pro_addr}> <{$shop.city_addr}> <{$shop.addr}> <{$shop.address}><eq name="shop.mod_address" value=""><span class="editAddress">编辑</span><else /><span class="system_tip" style="float:right;">等待审核</span></eq></strong>
				</p>
				<p>
				   <span>坐标定位：</span>
				   <strong><{$shop.lng}> , <{$shop.lat}></strong>
				</p>
				<p class="edit">
				   <span>选择地区：</span>
				   <{$city.str}>
				</p>
				<p class="edit detial">
				   <span>详细地址：</span>
				   <input type="text" name="address" value="" />
				</p>
				<p class="last edit">
				   <span>坐标定位：</span>
				   <input type="text" name="lng" value="<{$shop.lng}>" autocomplete="off" />
				   <input type="text" name="lat" value="<{$shop.lat}>" autocomplete="off" />
				   <i class="getmap"></i>
				</p>
			</div>
		</div>
		<div class="con-bd-b">
		    <p class="b1"><span class="w80"><i></i>营业时间：</span>
				<select name="hours_start" class="input input1" placeholder="营业时间">
					<for start = "0" end = "25">
					<option value="<{$i}>" <eq name="shop.open_hours.0" value="$i">selected</eq>><{$i}>:00</option>
					</for>
				</select>
				至
				<select name="hours_close" class="input input2" placeholder="打烊时间">
					<for start="1" end="25">
					<option value="<{$i}>" <eq name="shop.open_hours.1" value="$i">selected</eq>><{$i}>:00</option>
					</for>
				</select>
				<input type="checkbox" class="input3" name="is_week" value="1" <eq name="shop.is_week" value="1">checked</eq> /> 周末营业
			</p>
			<if condition="$shop['type_id'] eq 1">
		    <p class="b3"><span class="w80">服务方式：</span>
				<label for="is_door"><input type="checkbox" id="is_door" name="is_door" value="1" checked onclick="return false;" /> 仅支持上门服务</label>
			</p>
			<else />
			<p class="b3"><span class="w80">服务方式：</span>
				<label for="is_store"><input type="checkbox" id="is_store" name="is_store" value="1" <eq name="shop.is_store" value="1">checked</eq> /> 支持到店服务</label>
				<label for="is_door"><input type="checkbox" id="is_door" name="is_door" value="1" <eq name="shop.is_door" value="1">checked</eq> /> 支持上门服务</label>
			</p>
			</if>
			<p class="b3"><span class="w80">通知方式：</span>
				<label for="is_wechat"><input type="checkbox" id="is_wechat" name="is_wechat" value="1" <eq name="shop.is_wechat" value="1">checked</eq> /> 微信通知</label>
				<label for="is_sms"><input type="checkbox" id="is_sms" name="is_sms" value="1" <eq name="shop.is_sms" value="1">checked</eq> /> 短信通知</label>
			</p>
		    <p class="b2"><span class="w80"><i></i>服务地区：</span><input type="text" id="server_area" name="server_area" placeholder="服务地区（如：XX花园,XX路,XX小区），并用英文逗号分开" value="<{$shop.server_area}>" /></p>
			
		    <p class="b2 server-range clearfix"><span class="w80">服务范围：</span><input type="text" onkeyup="value=value.replace(/[-~]+/g,'')" id="server_range" name="server_range" placeholder="设置上门服务的距离(单位:公里)" value="<if condition="$shop['server_range'] gt 0"><{$shop.server_range}></if>" /> <span class="input-group-addon">公里</span></p>
			
		    <p class="b2"><span class="w80">客服QQ：</span><input type="text" id="qq" name="qq" placeholder="客服QQ" value="<{$shop.qq}>" /></p>
		    <p class="b3"><span class="w80">服务状态：</span>
				<label for="open"><input type="radio" id="open" name="server_status" value="1" <eq name="shop.server_status" value="1">checked</eq> /> 正常服务</label>
				<label for="close"><input type="radio" id="close" name="server_status" value="0" <eq name="shop.server_status" value="0">checked</eq> /> 暂停服务</label>
			</p>
		    <p class="b4 clearfix">
				<span class="w80"><span>店铺公告：</span></span><textarea name="notice" placeholder="暂无店铺公告"><{$shop.notice}></textarea>
			</p>
			<p class="b4 description clearfix">
				<span class="w80"><span><i></i>店铺简介：</span></span><textarea id="description" name="description" placeholder="10年维修经验，主修：iphone、ipad、华为、小米等机型等等。。。。。。30-50字最佳"><{$shop.description}></textarea>
			</p>
			<div class="b5 clearfix">
				<div class="posi"><span class="w80"><i></i>店铺详情：<br /><strong>【示例】</strong></span></div>
				<div class="pos"><textarea name="content"><{$shop.content}></textarea></div>
		    </div>
		    <div class="b5-b"><button id="setSubmit" class="submit">提交</button></div>
		</div>
		</form>
	</div><!-- con-bd-b -->
	<div class="dark"></div>
	<div class="bigbox posF" style="height:500px;width:700px;">
		<span class="posA off">&nbsp;</span>
		<div id="mapBx" style="height:500px;width:700px;"></div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
	<script charset="utf-8" src="__PUBLIC__/editor/kindeditor-min.js"></script>
	<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		// 城市三级联动
        <{$city.script}>
		
		$(function(){
			mapInit();    // 初始化地图
		});
		
		// 坐标地图
		$('.con-bd').delegate('.getmap','click',function(){
			var area    = $('#area').val();
			var address = $('input[name=address]').val();

			if(!area || area == ''){
				var txt=  "请选择您的所在城市/地区";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			if(!address || address == ''){
				var txt=  "请输入您的街道住宅地址！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			$(".dark").fadeTo(300,0.5);
			$('.bigbox').slideDown(250);
			againPosition();
		});
		$('.bigbox').delegate('.off','click',function(){      // 关闭地图
			$(".dark").fadeOut(300);
			$('.bigbox').slideUp(250);
		});
		
		// 编辑器
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('textarea[name="content"]', {
				items : [
					'fullscreen', '|', 'justifyleft', 'justifycenter', 'justifyright',
					'|','formatblock', 'fontname', 'fontsize', '|','forecolor', 'hilitecolor', 'bold','italic', 'underline', '|',
					'table', 'image', 'multiimage', '|', 'link', 'unlink'
				],
				width :  500,
				height : 350,
				allowFileManager : true,
				afterCreate : function(){
					elocalStorage();
				},
				afterChange: function(){

				}
			});
		});
		// 全局变量
		var KE = {
			MDU: "<{$shop.id}>" //当前文章标识符
		};
		function elocalStorage(){
			if (window.localStorage){
				 var oc = window.localStorage.getItem('html'+KE.MDU);
				$('.ke-edit').after('<div class="btns"><span onclick="add_data(\'html\',editor.html());" class="save">保存数据</span><span onclick="rec_data(\'html\');" class="huifu">恢复数据</span><span class="e_tips">每15秒自动保存本地数据</span></div>');
				if(oc !== null ){
					$('.ke-edit').after('<div class="e_tip">你上次有未提交的数据，是否恢复？<span onclick="rec_data(\'html\');" class="huifu">恢复</span>|<span onclick="clear_data(\'html\');" class="forget">不恢复</span></div>');
				}else{
					$('.ke-container .e_tip').remove();
				}
				setInterval(function(){
					d = new Date();
					var h = d.getHours();
					var m = d.getMinutes();
					h = h < 10 ? '0' + h : h;
					m = m < 10 ? '0' + m : m;
					if(!editor.isEmpty()){
						add_data('html',editor.html());
						$('.ke-container .e_tips').text('数据已保存 [ ' + h + ' : ' + m +' ]');
					}
				},15000);
			}else{
				$('.ke-edit').after('<div class="e_error">您的浏览器不支持localStorage.无法开启自动保存草稿服务！请升级浏览器！</div>');
			}
		};
		function add_data(k,d){//保存
			window.localStorage.setItem(k+KE.MDU,d);
		};
		function rec_data(k){//恢复
			if(window.localStorage.getItem(k+KE.MDU) !== null){
				editor.html(window.localStorage.getItem(k+KE.MDU));
				clear_data(k);
				$('.ke-container .e_tip').text('');
			}
		};
		function clear_data(k){//丢弃
			window.localStorage.removeItem(k+KE.MDU);
		} ;
		$(".t-r strong .editAddress").on("click",function(){            //修改地址
			$(".t-r p.edit").stop().slideToggle(300)
		});
		$("#setSubmit").on("click",function(){
			var _area = $("#server_area");
			var _description = $("#description");
			if(_area.val() == ""){
				_area.css("borderColor","#f00").focus();
				return false;
			}else{
				_area.css("borderColor","#dcdcdc");
			};
			if(_description.val() == "" || _description.val().length > 170){
				var html = "";
				if(_description.val() == ""){
					html = '<p class="descTip" style="color:#f00;float:left;width:413px;margin:10px 0 10px 85px;">您没有输入文字！！</p>';
				}else if(_description.val().length > 170){
					html = '<p class="descTip" style="color:#f00;float:left;width:413px;margin:10px 0 10px 85px;">您输入的文字字数超过170个了！！</p>';
				}
				$(".descTip").hide();
				$(".description").append(html);
				_description.css("borderColor","#f00").focus();
				return false;
			}else{
				_description.css("borderColor","#dcdcdc");
			};
			if(editor.html() == ""){
				$(".ke-container-default").css("borderColor","#f00").focus();
				return false;
			}else{
				$(".ke-container-default").css("borderColor","#ccc");
			};
			$("#shopset").submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



