<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/templete.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2><strong>运费模板</strong><a href="<{:U('System/templateAdd', array('id'=>$id))}>" class="ui-button button-shiping">添加运费模板</a></h2>
		<div class="widget-box">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="list-title" style="width:5%;">编号</th>
						<th class="list-title" style="width:10%;">物流名称</th>
						<th class="list-title">物流区域</th>
						<th class="list-title" style="width:10%;">快递费</th>
						<th class="list-title" style="width:10%;">补快递费</th>
						<th class="list-title" style="width:10%;">操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="template" item="vo">
					<tr>
						<td class="text-center"><{$vo.id}></td>
						<td class="text-center"><{$vo.cname}></td>
						<td class="text-left"><{$vo.area}></td>
						<td class="text-center"><{$vo.fee}></td>
						<td class="text-center"><{$vo.fill}></td>
						<td class="text-center">
							<a class="edit" href="<{:U('System/templateEdit', array('id'=>$vo['id']))}>">编辑</a>
							<a class="dele" href="<{:U('System/doTemplateDelete', array('id'=>$vo['id']))}>" onclick="return confirm('您确定删除该运费模板？');">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(function() {
			
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



