<extend name="Public:system" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/system/css/templete-add.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con-bd">
		<h2>修改物流运费模板</h2>
		<div class="widget-box">
			<div class="widget-content nopadding">
				<form method="post" action="<{:U('System/doTemplateEdit')}>" name="edit" id="edit">
					<div class="form-horizontal">
						<div class="control-group">
							<label class="control-label">物流区域：</label>
							<foreach name="position" item="vo">
							<div class="controls">
								<span class="span1"><{$vo.name}></span>
								<foreach name="vo.area" item="v">
								<div class="checker">
									<label><input type="checkbox" name="area[]" value="<{$v.id}>" <if condition="$v['checked'] eq 1">checked</if> /><{$v.addr}></label>
								</div>
								</foreach>
							</div>
							</foreach>
						</div>
						<div class="control-group">
							<label class="control-label">运费：</label>
							<div class="controls">
								<input type="text" class="span1 ui-input" name="fee" value="<{$data['fee']}>" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">补运费：</label>
							<div class="controls">
								<input type="text" class="span1 ui-input" name="fill" value="<{$data['fill']}>" />
							</div>
						</div>
						<div class="form-actions">
							<input type="hidden" name="id" value="<{$data['id']}>" />
							<input type="hidden" name="sid" value="<{$data['shipping_id']}>" />
							<input type="submit" value=" 提交编辑 " class="ui-button small-btn change"/>
							<a href="<{:U('System/template', array('id'=>$data['shipping_id']))}>" class="ui-button small-btn return">返回列表</a>
						</div>
					</div>
				</form>
			</div>
        </div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(function() {
			
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->



