<extend name="Public:same" />
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/wxpay-native.css"/>
</block>

<block name="topJsFile">
    
</block>

<block name="publicBody">
	<div class="w">
		<div class="con">
			<div class="order">
				<div class="o-left">
					<h3 class="o-title">请您及时付款，以便订单尽快处理！ 订单号：<{$order.order_sn}></h3>
					<p class="o-tips"></p>
				</div>
				<div class="o-right">
					<div class="o-price">
						<em>应付金额</em><strong><{$money}></strong><em>元</em>
					</div>
					<div class="o-detail" id="orderDetail"><a href="javascript:;">订单详情<i></i></a></div>
				</div>
				<div class="clr"></div>                                    
				<div class="o-list j_orderList" id="listPayOrderInfo">
					<!-- 单笔订单 -->
					<div class="o-list-info">
						<span class="mr10" id="shdz">收货地址：<{$order.pro_addr}><{$order.city_addr}><{$order.addr}><{$order.address}></span>
						<span class="mr10" id="shr">收货人：<{$order.reciver_user}></span>
						<span id="mobile"><{$order.reciver_phone}></span>
					</div>
					<div class="o-list-info">
						<span id="spmc">商品名称：<foreach name="order.list" item="vo"><{$vo.show_name}> <{$vo.show_desc}></foreach></span>
					</div>
					<!-- 单笔订单 end -->
				</div>        
			</div>
			<div class="payment clearfix">
				<!-- 微信支付 -->
				<div class="pay-weixin">
					<div class="p-w-hd">微信支付</div>
					<div class="p-w-bd clearfix" style="position:relative">
						<div class="j_weixinInfo" style="position:absolute; top: -40px; left: 130px;">距离二维码过期还剩<span class="j_qrCodeCountdown font-bold font-red">60</span>秒，过期后请刷新页面重新获取二维码。</div>
						<div class="p-w-box">
							<eq name="err_code" value="OUT_TRADE_NO_USED">
							<div class="pw-box-hd repeat">
								商户订单号重复,请重新下单!
							</div>
							<else />
							<div class="pw-box-hd">
								<input type="hidden" name="trade_no" value="<{$order.order_sn}>" />
								<img src="<{:U('Wxpay/qrcode/',array('data'=>$code_url))}>" alt="微信扫码支付" title="微信扫码支付" width="298" height="298" />
							</div>
							</eq>
							<div class="pw-box-ft">
								<p>请使用微信扫一扫</p>
								<p>扫描二维码支付</p>
							</div>
						</div>
						<div class="p-w-sidebar"></div>
					</div>
				</div>
				<!-- 微信支付 end -->

				<!-- payment-change 变更支付方式 -->
				<div class="payment-change">
					<a class="pc-wrap" id="reChooseUrl" href="<{:U('Buy/pay', array('id'=>$order['order_sn']))}>">
						<i class="pc-w-arrow-left">&lt;</i>
						<strong>选择其他支付方式</strong>
					</a>
				</div>
				<!-- payment-change 变更支付方式 end -->
			</div>
		</div><!-- con -->
	</div>
</block>

<!--js-->
<block name="footScript">
	<script>
		var now = 1;
        $("#orderDetail").click(function(event) {
            if (now == 1) {
                $("#listPayOrderInfo").slideDown(350);
                $(this).children("a").html("收起详情<i></i>").children('i').css("background-position","-76px -5px");
                now = 0;
            }else{
                $("#listPayOrderInfo").slideUp(350);
                $(this).children("a").html("订单详情<i></i>").children('i').css("background-position","-76px -25px");
                now = 1;
            }
            
        });
		var endtime = 60;
        var sh;
        function FreshTime(){
			endtime--;
			$(".j_qrCodeCountdown").text(endtime);
			if(endtime<=0){
				$(".j_weixinInfo").addClass("font-red").html("二维码已过期，<a href='javascript:;' class='refresh'>刷新<a/>页面重新获取二维码。");
				$(".pw-box-hd").find('img').attr('src','__PUBLIC__/Home/images/2016/57b51ea9Nb862ca5e.png');
				clearInterval(sh);
			}
			checkWeiXinPay();
        }
        sh=setInterval(FreshTime,1000);

		function checkWeiXinPay(){
			var trade_no = $('input[name=trade_no]').val();
			$.post('__CONTROLLER__/orderQuery',{'trade_no':trade_no},function(d){
				var data = JSON.parse(d);
				if(data['pay_status'] == 1){
					if(data['pay_link'] != ''){
						window.location.href = data['pay_link'];                                 // 页面跳转
					}else{
						window.location.href = '<{:U("Orders/index")}>';                         // 页面跳转
					}
				}	
			});
		}
		
		$(".con").delegate(".refresh" ,"click" ,function(event){
			endtime = 60;
			sh=setInterval(FreshTime,1000);
			$(".j_weixinInfo").removeClass("font-red").html('距离二维码过期还剩<span class="j_qrCodeCountdown font-bold font-red">60</span>秒，过期后请刷新页面重新获取二维码。');
			$(".pw-box-hd").find('img').attr("src","<{:U('Wxpay/qrcode/',array('data'=>$code_url))}>");
		})
	</script>
</block> 