<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/wenda.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="returnUrl"><a href="<{$CBW_URL}>">&#xe61d;</a></div>问答列表</h1>
	</header>
	<div class="con">
		<div class="list">
			<ul>
				<foreach name="wendaRes" item="vo">
				<li>
					<a href="javascript:;" class="tit"><{$vo.cat_name}></a><i>&#xe60f;</i>
					<div class="wenda">
						<foreach name="vo.list" item="v">
						<p><a href="<{$CBW_URL}>/wenda/<{$v.id}>.html"><{$v.title}></a></p>
						</foreach>
					</div>
				</li>
				</foreach>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".list ul li").click(function(event) {
            $(this).addClass('current').siblings().removeClass('current');
        });
	</script>
		
</block>
<!-- 底部JS执行区域 结束 -->