<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header class="clearfix">
		<img src="__PUBLIC__/Mobile/images/logo.png" title="logo" alt="草包网" />
		<if condition="$userId eq ''">
		<a class="systemlogin" rel="nofollow" href="<{:U('Users/login')}>">维修店登录</a>
		</if>
		<if condition="$userId neq ''">
			<if condition="$user['group_id'] eq 1">
				<a class="my-notice" href="<{:U('Agent/offers')}>">抢单通知<em><{$offerCount}></em></a>
			<else />
				<a class="my-notice" href="<{:U('Users/offers')}>">报价通知<em><{$offerCount}></em></a>
			</if>
		</if>
	</header>
	<div class="con">
		<!-- 轮播图 -->
		<div id="focus" class="focus">
			<div class="hd">
				<ul><li class="on"></li></ul>
			</div>
			<div class="bd">
				<ul>
					<foreach name="catAds" item="vo">
					<li><a href="<{$vo.link_url}>"><img _src="__PUBLIC__/Imgadv/<{$vo.thumbnail}>" src="__PUBLIC__/Mobile/images/blank.png"/></a></li>
					</foreach>
				</ul>
			</div>
		</div>
		<!-- 导航 -->
		<nav class="nav">
			<div class="nav-top">
				<ul class="clearfix">
					<li class="f_left">
						<a href="<{$CBW_URL}>/repair/select.html">
							<img src="__PUBLIC__/Mobile/images/repair.png" alt="维修" />
							<strong>维修</strong>
							<p>到店、上门、邮寄</p>
						</a>
					</li>
					<li class="f_right">
						<a href="<{$CBW_URL}>/recovery/select.html">
							<img src="__PUBLIC__/Mobile/images/recovery.png" alt="回收" />
							<strong>回收</strong>
							<p>快速换钱</p>
						</a>
					</li>
					<li class="f_right">
						<a href="<{$CBW_URL}>/product/">
							<img src="__PUBLIC__/Mobile/images/product.png" alt="商城" />
							<strong>商城</strong>
							<p>优质精品配件</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="nav-bottom clearfix">		
				<div class="other">
					<a href="http://bbs.caobao.com/">
						<div class="nav-pic">
							<img src="__PUBLIC__/Mobile/images/forum.png" />
						</div>
						<div class="nav-text">
							<strong>问题解答</strong>
							<p>疑问在线解答</p>
						</div>
					</a>
				</div>
				<div class="other">
					<a href="<{$CBW_URL}>/video_list/">
						<div class="nav-pic">
							<img src="__PUBLIC__/Mobile/images/video.png" />
						</div>
						<div class="nav-text">
							<strong>拆机视频</strong>
							<p>手把手教你拆机</p>
						</div>
					</a>
				</div>
			</div>
		</nav>
		<!-- 维修师招募 -->
		<div class="master clearfix">
			<a href="<{:U('Index/special')}>">
				<img src="__PUBLIC__/Mobile/images/master_03.png" alt="维修师招募" />
				<div class="word">
					<div class="word_l">
						<strong>维修店入驻</strong>
						<span>专业的平台为您免费做广告</span>
					</div>
					<img src="__PUBLIC__/Mobile/images/0504wap1_03.png" alt="维修师招募" />
				</div>
			</a>
		</div>
		<!-- 商城 -->
		<div class="product-mod">
			<div class="pro-top clearfix b_bottom">
				<div class="pro-focus clearfix">
					<div class="focus-intro f_left">
						<strong>商品配件</strong>
						<p class="p-tit">精品配件</p>
						<p class="p-tit">优品热卖</p>
					</div>
					<div id="pro_focus" class="focus f_right">
						<div class="hd">
							<ul><li class="on"></li></ul>
						</div>
						<div class="bd">
							<ul>
								<foreach name="product" item="vo">
								<li><a href="<{$CBW_URL}>/detail/<{$vo.rid}>.html" title="<{$vo.pro_name}>"><img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>" /><p class="p-intro"><{$vo.pro_name}></p></a></li>
								</foreach>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="pro-bottom clearfix">
				<div class="pro-item f_left b_right">
					<a href="<{$CBW_URL}>/product/9.html" class="clearfix">
						<div class="pro-text">
							<strong>拆机工具</strong>
							<p class="tool">实用简单</p>
						</div>
						<div class="pro-pic">
							<img src="__PUBLIC__/Mobile/images/tool.jpg" />
						</div>
					</a>
				</div>
				<div class="pro-item f_left b_right">
					<a href="<{$CBW_URL}>/product/6.html" class="clearfix">
						<div class="pro-text">
							<strong>手机外配</strong>
							<p class="on">总能找到你爱的</p>
						</div>
						<div class="pro-pic">
							<img src="__PUBLIC__/Mobile/images/on.jpg" />
						</div>
					</a>
				</div>
				<div class="pro-item f_left">
					<a href="<{$CBW_URL}>/product/5.html" class="clearfix">
						<div class="pro-text">
							<strong>手机内配</strong>
							<p>高品质原厂配件</p>
						</div>
						<div class="pro-pic">
							<img src="__PUBLIC__/Mobile/images/in.jpg" />
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		/** 主banner **/
		TouchSlide({ 
			slideCell:"#focus",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"leftLoop", 
			autoPlay:true,//自动播放
			interTime:3500,
			autoPage:true, //自动分页
			switchLoad:"_src" //切换加载，真实图片路径为"_src" 
		});
		/** 商城banner **/
		TouchSlide({ 
			slideCell:"#pro_focus",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"left", 
			autoPlay:true,//自动播放
			interTime:3500,
			autoPage:true //自动分页
		});
		
		$(document).ready(function(){
			auto_size();
		});
		
		$(window).resize(function(){
			auto_size();
		});
		
		/*
		* banner图自适应
		*/
		function auto_size(){
			var autoHeight = Math.ceil($(window).width()/2.237762237762238);
			if(autoHeight<143){autoHeight=143}
			if(autoHeight>286){autoHeight=286}
			$("#focus").height(autoHeight);
		};
		
	</script>
</block>
<!-- 底部JS执行区域 结束 -->