<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index-joins.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>加盟类型</h1>
	</header>
	<div class="con">
	    <div class="content">
			<div class="company type">
				<a class="db" href="<{:U('Index/recruit', array('type'=>0))}>">
					<h2>有店面加入<i class="icon-right"></i></h2>
					<p>支持上门、到店客户双向选择</p>
					<img src="__PUBLIC__/Mobile/images/hasShop.jpg" alt="有店面加入">
				</a>
			</div>
			<div class="person type">
				<a class="db" href="<{:U('Index/recruit', array('type'=>1))}>">
				   <h2>无店面加入<i class="icon-right"></i></h2>
					<p>专业上门维修，无需办公场地，也能轻松接单</p>
					<img src="__PUBLIC__/Mobile/images/noShop.jpg" alt="有店面加入"> 
				</a>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->