<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index-process.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>维修店加入流程</h1>
	</header>
	<div class="con">
		<p>1.注册会员账号：这里可以注册新账号、可以使用动态密码登录、也可以使用微信一键登录。如果已有账号请直接从下一步开始！</p>
		<p class="img"><img src="__PUBLIC__/Mobile/images/step1.jpg" width="230" alt="维修师加入流程" /></p>
		<p>2.会员登陆后，点击用户中心将会在如图所示的位置看到一个加盟申请入口！已经是加盟维修师的用户可以直接从这里进入维修师系统！</p>
		<p class="img"><img src="__PUBLIC__/Mobile/images/step2.jpg" width="230" alt="维修师加入流程" /></p>
		<p>3、选择加盟类型：企业加入或个人加入。</p>
		<p class="img"><img src="__PUBLIC__/Mobile/images/step3.jpg" width="230" alt="维修师加入流程" /></p>
		<p>4、按要求填写真实的店铺信息及上照片，这里需要注意请允许你的浏览器或是草包网APP使用当前位置以及上传的照片最好不要大于1MB，最后勾选同意招募协议并提交。</p>
		<p class="img"><img src="__PUBLIC__/Mobile/images/step4.jpg" width="233" alt="维修师加入流程"></p>
		<dl class="tip">
			<dt>维修店加盟提示</dt>
			<dd>为了你更简单方便加盟草包网维修请先注册本站会员，本站维修师账号与会员账号信息同步，只是级别不同。商城配件也是根据账号级别不一样，所显示的价格不一样。维修师统一显示批发价。</dd>
		</dl>
		<dl class="progress">
			<dt>手机端提交资料由于图片不规则，除提交简单的店铺名称、地址和真实姓名手机号之外还需要提交：</dt>
			<dd>1、至少两张不同角度 店铺图片尺寸比例为：<strong>(5:4)</strong>   图片标准：<strong>能看到店铺的基本信息，方便到店客户识别。和草包网首页店铺展示。</strong></dd>
			<dd>2、个人店请提交身份证，企业店请提交营业执照。发送到 <strong>003@caobao.com</strong> ，标题直接写你注册的手机号即可。方便工作人员核对。无图片的申请将视为无效。</dd>
		</dl>
		<p class="bottom">请各位店主、师傅尽量选择PC端申请，按PC的要求提交好资料，无需在发邮件补资料。</p>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->