<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index-recruit.css" />
	<link rel="stylesheet" href="__PUBLIC__/Plugins/cropper-2.3.2/assets/css/bootstrap.min.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div><eq name="type" value="1">无店面<else />有店面</eq>加盟申请</h1>
	</header>
	<div class="con">
		<div class="must">
			<dl class="celarfix">
				<dt>店铺名称</dt>
				<dd><input type="text" name="shop_name" placeholder="请输入您的店铺名称,无名称可填自己姓名" class="must" value="<{$Think.session.recruit.sname}>" /></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="celarfix">
				<dt>真实姓名</dt>
				<dd><input type="text" name="user_name" placeholder="请输入您的真实姓名" class="must" value="<{$Think.session.recruit.uname}>"/></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="celarfix">
				<dt>所在城市</dt>
				<dd>
					<{$city.str}>
				</dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="celarfix">
				<dt>详细地址</dt>
				<dd><input type="text" name="address" placeholder="请输入您的详细地址" class="must" value="<{$Think.session.recruit.address}>"/></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must">
			<dl class="celarfix Map">
				<dt>地图坐标</dt>
				<dd><input type="text" name="lng" class="must" placeholder="地图坐标" value="" /><input type="text" name="lat" placeholder="地图坐标" class="must" value="" /><a class="showmap" >定位</a></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="pic must" id="IDspecial">
			<dl class="IDcarstDl">
				<dt>身份证</dt>
				<dd class="samllpic checkEleDd">
				    <label for="identity_positive_file" class="Ifile">
					    <input type="file" class="none" name="identity_positive_file" id="identity_positive_file" />
					</label>
					<input type="hidden" name="identity_positive" class="checkEle" id="identity_positive" />
				    <img id="positive_img" src="__PUBLIC__/Mobile/images/just-big.jpg" style="width:100%; height:100%;" />
				</dd>
				<dd class="samllpic checkEleDd">
				    <label for="identity_back_file" class="Ifile">
					    <input type="file" class="none" name="identity_back_file" id="identity_back_file" />
					</label>
					<input type="hidden" name="identity_back" class="checkEle" id="identity_back" />
				    <img id="back_img" src="__PUBLIC__/Mobile/images/back-big.jpg" style="width:100%; height:100%;" />
				</dd>
				<dd class="samllpic checkEleDd">
				    <label for="identity_body_file" class="Ifile">
					    <input type="file" class="none" name="identity_body_file" id="identity_body_file" />
					</label>
					<input type="hidden" name="identity_body" class="checkEle" id="identity_body" />
				    <img id="body_img" src="__PUBLIC__/Mobile/images/person-big.jpg" style="width:100%; height:100%;" />
				</dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<if condition="$type eq 0">
		<div class="pic">
			<dl class="businessDl">
				<dt>营业执照</dt>
				<dd class="samllpic">
				    <label for="business_file" class="Ifile">
					    <input type="file" class="none" name="business_file" id="business_file" />
					</label>
					<input type="hidden" name="business" id="business" placeholder="请提交营业执照图片" />
				    <img id="business_img" src="__PUBLIC__/Mobile/images/business.jpg" style="width:100%; height:100%;" />
				</dd>
			</dl>
		</div>
		<div class="must pic">
			<dl class="externalDl">
				<dt>店铺图片</dt>
				<dd class="samllpic">
				    <label for="external_file" class="Ifile">
					    <input type="file" class="none" name="external_file" id="external_file" />
					</label>
					<input type="hidden" class="must" name="external" id="external" placeholder="请提交店铺图片" />
				    <img id="external_img" src="__PUBLIC__/Mobile/images/external.jpg" style="width:100%; height:100%;" />
				</dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div class="must sever_style">
			<dl class="celarfix">
				<dt>服务方式</dt>
				<dd style="margin-top:8px;">
					<div class="style_store checkbox_select">
						<div class="selectedset">
							<input type="checkbox" class="checkbox_input sever_style_input" id="is_store" name="is_store" value="1" <if condition="$Think.session.recruit.store eq 1">checked</if> />
							<span class="<if condition="$Think.session.recruit.store eq 1">checked<else />unchecked</if>">&#xe607;</span>
						</div>
						<label for="is_store"> 支持到店服务</label>
					</div>
					<div class="style_door checkbox_select">
						<div class="selectedset">
							<input type="checkbox" class="checkbox_input sever_style_input" id="is_door" name="is_door" value="1" <if condition="$Think.session.recruit.door eq 1">checked</if> />
							<span class="<if condition="$Think.session.recruit.door eq 1">checked<else />unchecked</if>">&#xe607;</span>
						</div>
						<label for="is_door">支持上门服务</label>
					</div>
				</dd>
			</dl>
			<p class="formTips leastTips" style="margin:0;"></p>
		</div>
		<else />
		<div class="must sever_style">
			<dl class="celarfix">
				<dt>服务方式</dt>
				<dd style="margin-top:8px;">
					<div class="style_door checkbox_select" id="mustSelect">
						<div class="selectedset">
							<input type="checkbox" class="checkbox_input sever_style_input" id="is_door" name="is_door" value="1" checked />
							<span style="color:#40bb8c;">&#xe607;</span>
						</div>
						<label for="is_door">仅支持上门服务</label>
					</div>
				</dd>
			</dl>
			<p class="formTips leastTips" style="margin:0;"></p>
		</div>
		</if>
		<div class="must">
			<dl class="celarfix">
				<dt>主营内容</dt>
				<dd><input type="text" name="main" placeholder="请输入您的主营内容" class="must" value="<{$Think.session.recruit.main}>"/></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<eq name="userId" value="">
		<div class="must">
			<dl class="celarfix">
				<dt>手机号码</dt>
				<dd><input type="text" name="mobile" placeholder="请输入您的手机号码" class="must" value="<{$Think.session.recruit.mobile}>"/></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div id="imgcode" class="must">
			<dl class="celarfix Imgcode">
				<dt>图形验证码</dt>
				<dd><input type="text" name="imgcode" placeholder="请输入图形验证码" /></dd>
				<dd class="img"><img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" /></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		<div id="smscode" class="must">
			<dl class="celarfix Newcode">
				<dt>短信验证码</dt>
				<dd><input type="text" name="smscode" placeholder="请输入短信验证码" class="must"/></dd>
				<dd class="news"><button>获取验证码</button></dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
		</div>
		</eq>
		<div class="must">
			<dl class="celarfix introduce">
				<dd class="formItem checkbox_select">
					<div class="selectedset">
						<input id="serverTerms" class="must checkbox_input" name="servers" value="1" type="checkbox" placeholder="请阅读并接受《招募简介》" /><span>&#xe607;</span>
					</div>
					<label for="serverTerms">
						我已阅读并接受《<a href="<{$CBW_URL}>/article/52.html">草包网用户协议</a>》
					</label>
				</dd>
			</dl>
			<p class="formTips" style="margin:0;"></p>
			<p class="tips"></p>
		</div>
		<div class="subing">
		    <img src="__PUBLIC__/Mobile/images/submiting.gif" alt="正在加载">
		</div>
		<div class="submit">
			<input type="hidden" name="type" value="<{$Think.get.type}>" /> 
			<button id="subAllnews">提交</button>
		</div>
	</div>
	<div id="map" style="position: fixed;"><span class="close">关闭</span></div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Mobile/js/webapi-amap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Plugins/html5-img-compress/html5ImgCompress.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Plugins/html5-img-compress/3.chunk.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(document).ready(function(){
			var mapObj = new AMap.Map("map", {
				resizeEnable: true,
				zoom: 18
			});
			mapObj.plugin('AMap.Geolocation', function () {
				var geolocation = new AMap.Geolocation();
				geolocation.getCurrentPosition();
				//mapObj.addControl(geolocation);
				AMap.event.addListener(geolocation, "complete", function(data){
					var lngX = data.position.getLng();
					var latY = data.position.getLat();
					$("input[name=lng]").val(lngX);
					$("input[name=lat]").val(latY);
					mapObj.setCenter(new AMap.LngLat(lngX, latY));
					var marker = new AMap.Marker({
						position: mapObj.getCenter(),
						draggable: true,
						cursor: 'move',
						raiseOnDrag: true
					});
					marker.setMap(mapObj);
					AMap.event.addListener(marker, 'dragend', function(e){
						var point = marker.getPosition();     // 重新获取点坐标
						$("input[name=lng]").val(point.getLng());
						$("input[name=lat]").val(point.getLat());
					});
				});//返回地点查询结果
			});
		});
		
		$(".con").delegate('input[name=imgcode]','input',function(){  // 输入图形验证码
			var _this = $(this);
			var code = _this.val();
			$.post("__CONTROLLER__/checkAjaxVerify", {'code': code}, function(d){
				if(d){
					_this.parents('div').children('.formTips').text('');
					$('#imgcode').hide();
					$('#smscode').show();
				}else{
					_this.parents('div').children('.formTips').text("图形验证码错误");
				}
			})	
		}).delegate('.news button','click',function(){   // 发送短信验证码
			var _this = $(this);
			if(_this.hasClass('disabled')){return false;}
			var mobile = $.trim($('input[name=mobile]').val());
			var mobileReg = !!mobile.match(/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/);
			if(!mobileReg){
				$(this).parents('div').addClass('false').children('.formTips').text("请检查您的手机号码格式是否正确");
				return false;
			}
			_this.text('发送中...');
			var time = parseInt(90);
			var statue = true;
			$.post("__CONTROLLER__/sendSms", {'mobile': mobile, 'tempid': 'SMS_116560959','testid':'13'}, function(d){
				var data = JSON.parse(d);
				if (data['status'] > 0){                   //发送成功
					_this.prop('disabled', true).addClass('disabled');
					statue = true;
				} else{
					statue = false;
				}
				if(statue == false){
					_this.text('获取短信');
					return false;
				}else{
					var t = setInterval(function(){
						time--;
						_this.text('已发送(' + time + ')');
						if (time == 0) {
							clearInterval(t);
							_this.text("重新获取");
							_this.prop('disabled', false).removeClass('disabled');
						}
					}, 1000);
				}
			});
		}).delegate('.submit #subAllnews', 'click', function(event) {                                  // 提交
			var DL = $('div.must');
			var atLeast = $(".sever_style_input");
			if(!atLeast.is(':checked')){
				$(this).parents(".must").addClass("false");
				$(".leastTips").html("请选择服务方式");
			}else{
				$(this).parents(".must").removeClass("false");
				$(".leastTips").html("");
			}
			for(var a = 0;a < DL.length;a++){
				var input = $(DL[a]).find('input.must');
				var select = $(DL[a]).find('select');
				if(input){
					for(var b = 0;b < input.length;b++){
						var val = $(input[b]).val();
						if(!val || ($(input[b]).attr('type') == 'checkbox' && !$(input[b]).is(':checked'))){
							$(input[b]).parents('div').addClass('false').children('.formTips').text($(input[b]).attr('placeholder'));
						}else{
							$(input[b]).parents('div').removeClass('false').children('.formTips').text('');
						}
					}
				}
				if(select){
					var text = '';
					for(var b = 0;b < select.length;b++){
						if($(select[b]).val() == 0 || $(select[b]).val() == '' || !$(select[b]).val()){
							if(b == 0){
								text += ' 省份';
							}else if(b == 1){
								text += ' 城市';
							}else if(b == 2){
								text += ' 选择县/区';
							}
							$(select[b]).parents('div').addClass('false').children('.formTips').text('请选择您的所在' + text);
						}else{
							$(select[b]).parents('div').removeClass('false').children('.formTips').text('');
						}
					}
				}
			};
			checkIDcart();
			if($('div.must').hasClass('false')){
				return false;
			}
			var type      = $('input[name=type]').val();
			var shop_name = $('input[name=shop_name]').val();
			var user_name = $('input[name=user_name]').val();
			var area      = $('#area').val();
			var address   = $('input[name=address]').val();
			var lng       = $('input[name=lng]').val();
			var lat       = $('input[name=lat]').val();
			var positive  = $('input[name=identity_positive]').val(); 
			var back      = $('input[name=identity_back]').val(); 
			var body      = $('input[name=identity_body]').val(); 
			var external  = $('input[name=external]').val(); 
			var business  = $('input[name=business]').val();
			var is_store  = $('input[name=is_store]:checked').val();
			var is_door   = $('input[name=is_door]:checked').val();
			var main      = $('input[name=main]').val();
			var mobile    = $('input[name=mobile]').val();
			var smscode   = $('input[name=smscode]').val();
			$(".subing").show();
			$.post('__CONTROLLER__/insertRecruit', {'type':type,'shop_name':shop_name,'user_name':user_name,'area':area,'address':address,'lng':lng,'lat':lat,'positive':positive,'back':back,'body':body,'external':external,'business':business,'is_store':is_store,'is_door':is_door,'main':main,'mobile':mobile,'smscode':smscode}, function(d){
				var data = JSON.parse(d);
				$(".subing").hide();
				if(data['status'] > 0){
					window.location.href = "<{$CBW_URL}>/Index/success";
				}else{
				    $('.tips').html(data['msg']);
				}
			});
		}).delegate('dl.Map a.showmap', 'click', function(event) {
			$(".dark").slideDown(150);
			$(".amap-container").slideDown(150);
		}).delegate('.checkbox_select', 'click', function(event) {
		    var _this = $(this);
		    if(_this.attr("id") == "mustSelect"){
			    return false;
			};
			if(_this.find(".checkbox_input").is(":checked")){
				_this.find("span").attr("class","checked");
				_this.find(".checkbox_input").attr("checked",true);
			}else{
				_this.find("span").attr("class","unchecked");
				_this.find(".checkbox_input").attr("checked",false);
			};
		});
		$("#map").delegate('span.close', 'click', function(event) {
			$(".dark").slideUp(150);
			$(".amap-container").slideUp(150);
		});
		
		//身份证正面
		upload($("#identity_positive_file"),$('#positive_img'),$('#identity_positive'));
		//身份证反面
		upload($("#identity_back_file"),$('#back_img'),$('#identity_back'));
		//半身照
		upload($("#identity_body_file"),$('#body_img'),$('#identity_body'));
		//营业执照
		upload($("#business_file"),$('#business_img'),$('#business'));
		//店铺图片
		upload($("#external_file"),$('#external_img'),$('#external'));
		// 上传压缩图片函数
		function upload(input,imgs,hidden){
		    input.change(function (e) {
			    console.log(123)
				new html5ImgCompress(e.target.files[0], {
					before: function(file) {
						//console.log('单张: 压缩前...');
					},
					done: function (file, base64) {
						//console.log('单张: 压缩成功...');
						var img = new Image(), title, src, size, base;
						if (typeof base64 === 'object') {
							title = '前';
							size = base64.size;
							src = URL.createObjectURL(base64);
							base = 1024;
						} else {
							title = '后';
							size = base64.length;
							src = base64;
							base = 1333;
						}
						imgs.attr('src',src);
						hidden.val(src);
						base64 = null; // 处理完后记得清缓存
					},
					fail: function(file) {
						//console.log('单张: 压缩失败...');
					},
					complate: function(file) {
						//console.log('单张: 压缩完成...');
					},
					notSupport: function(file) {
						alert('浏览器不支持！');
					}
				});
			});
		};
		// 检查身份信息是否齐全
		function checkIDcart(){
		    var checkEle = $("#IDspecial").find(".checkEle");
			for(var i = 0;i<checkEle.length;i++){
			   if($(checkEle[i]).val() == ""){
			        $(checkEle[i]).parent('dd.checkEleDd').addClass("ddfalse");
				}else{
				    $(checkEle[i]).parent('dd.checkEleDd').removeClass("ddfalse");
				}
			};
			if($("#IDspecial dd.ddfalse").length == 0){
			    $("#IDspecial").removeClass("false");
				$("#IDspecial").find('.formTips').text("");
			}else{
			   $("#IDspecial").addClass("false");
			   $("#IDspecial").find('.formTips').text("请完整提交您的身份信息");
			}
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->