<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <style>
		.con{
			margin-top:44px;
		}
	</style>
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="returnUrl"><a href="<{$CBW_URL}>">&#xe61d;</a></div>在线客服</h1>
	</header>
	<div class="con">
		<iframe src="https://chat8.live800.com/live800/chatClient/chatbox.jsp?companyID=674053&configID=150194&jid=2017829186" id="myiframe" width="100%" scrolling="no" frameborder="0">
		您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
		</iframe>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		var ifm= document.getElementById("myiframe");
		ifm.height=document.documentElement.clientHeight-44;
	</script>
</block>
<!-- 底部JS执行区域 结束 -->







