<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index-special.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>维修加盟</h1>
	</header>
	<div class="content">
		<div class="div1">
			<h2><img src="__PUBLIC__/Mobile/images/1_03.png"/>草包网维修平台</h2>
			<div class="paragraph">
			    <p>草包网是专业的数码设备维修平台，我们致力做全国最专业数码设备维修互联网平台 O2O 模式，线上下单，评估费用，线下维修</p>
                <p>我们的维修店遍及全国300多个城市，网站每日用户访问量达50000余。通过利用线上平台为用户提供附近手机维修店信息，帮助用户快捷安全有效的完成需要的设备维修。平台还会提供设备的一些拆机视频、使用技巧、常见问题和简单的维修常识，为新手维修师提供技术帮助。</p>
           </div>
		</div>
		<div class="div2">
			<h2><img src="__PUBLIC__/Mobile/images/2_03.png"/>草包网维修平台</h2>
			<div class="paragraph">
				<ul class="clearfix">
					<li class="one">
						<p><img src="__PUBLIC__/Mobile/images/5_03.png"/></p>
						<p>申请区域内的全部订单派发给你， 获得精准稳定的网络客流</p>
					</li>
					<li class="two">
						<p><img src="__PUBLIC__/Mobile/images/6_03.png"/></p>
						<p>免费加盟，平台不收取任何提成， 商家获得全部维修收入</p>
					</li>
					<li class="three">
						<p><img src="__PUBLIC__/Mobile/images/7_03.png"/></p>
						<p>强大的品牌影响力，在平台首页 为您的店铺免费做广告</p>
					</li>
					<li class="four">
						<p><img src="__PUBLIC__/Mobile/images/8_03.png"/></p>
						<p>保证你的利润空间，提供部分热门配件，维修无后顾之忧</p>
					</li>
					<li class="five">
						<p><img src="__PUBLIC__/Mobile/images/9_03.png"/></p>
						<p>免费提供技术支持，各种手机故障维修视频学习资料和手机维修技术 交流的论坛</p>
					</li>
					<li class="six">
						<p><img src="__PUBLIC__/Mobile/images/10_03.png"/></p>
						<p>店铺地段不好，一样抢单， 缓解维修师的租金压力，不 再为房东打工</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="div4">
			<h2><img src="__PUBLIC__/Mobile/images/4_03.png"/>草包网于其他平台的优势</h2>
			<div class="paragraph">
				<p><span>服务项目：</span>专业</p>
				<p><span>收费标准：</span>免费</p>
				<p><span>合作态度：</span>提供免费技术咨询</p>
				<p><span>广告推广：</span>自动上到该地区首页</p>
				<p><span>未来趋势：</span>诚信维修有保障</p>
			</div>
		</div>
		<div class="div3">
			<h2><img src="__PUBLIC__/Mobile/images/3_03.png"/>加入需知</h2>
			<div class="paragraph">
				<p>1、有半年以上的维修经验及 2-3 个品牌手机或平板的维修技术。</p>
				<p>2、小店面大服务，主板进水、严重故障维修后同一故障保三个月、配件更换保半年。</p>
				<p>3、客户在线支付，资金冻结 48小时（保证维修没有问题），48小时后可随意提取</p>
			</div>
		</div>	
	</div>
	<div class="div5">
	    <p class="tips">请搜索微信公众号“草包网”并关注，以便及时接收订单推送信息。</p>
		<span><a href="<{:U('Index/joins')}>">我要加入</a></span>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->