<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index-success.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>提交完成</h1>
	</header>
	<div class="con">
		<div class="tit"><img src="__PUBLIC__/Mobile/images/yes_03.png">提交完成</div>
		<div class="content">感谢你的加入，工作人员会在1-2个工作日内和你取得联系！</div>
		<div class="btn">
			<a href="<{:U('Users/login')}>">返回登录</a>
			<a href="<{$CBW_URL}>">返回首页</a>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->















