<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">商品分类</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>修改商品分类</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('ProductCat/doCatEdit')}>" name="useredit" id="useredit" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">选择上级分类：</label>
                                <div class="controls"><{$fidcats.cat_name}></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">类别名称：</label>
                                <div class="controls">
                                    <input type="text" name="cat_name" class="tip-right" value="<{$cat.cat_name}>" data-original-title="指定商品名称" id="cat_name" />
                                    <span id="checkU" available='0'></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">选择排序：</label>
                                <div class="controls">
                                    <input type="text" name="sort" class="tip-right" value="<{$cat.sort}>" data-original-title="指定商品排列顺序" id="sort" />
                                    <span></span>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">级别：</label>
                                <div class="controls">
                                    <input type="text" name="level" class="tip-right" value="<{$cat.level}>" id="level" />
                                    <span></span>
                                </div>
                            </div>
							<div class="control-group">
                                    <label class="control-label">上传图标：</label>
                                    <div class="controls">
                                        <input id="file_upload" type="file" multiple="true" name="file_upload" />
										<div id="imgs"><img <eq name="cat.icon_image" value=""> src="__PUBLIC__/Plugins/1.png" <else />src="__PUBLIC__/Product/icon/<{$cat.icon_image}>"</eq>></div>
										<input type="hidden" name="org_icon_image" value="<{$cat.icon_image}>">
                                    </div>
                                </div>
                            <div class="control-group">
                                <label class="control-label">是否显示：</label>
                                <div class="controls">
                                    <label><input type="checkbox" value="1" <if condition="$cat['is_show'] eq 1">checked</if> name="is_show"> 显示</label>
                                </div>
                            </div>
                            <div class="form-actions">
								<input type="hidden" value="<{$cat.id}>" name="id" />
                                <input type="submit" value=" 更新 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                                <a href="__CONTROLLER__/catList" class="btn btn-default">返回列表</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/excanvas.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.resize.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/fullcalendar.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.dashboard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.gritter.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.chat.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.wizard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>--> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> --> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
    <script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
		$('#file_upload').uploadify({
				'debug' : false,
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("ProductCat/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '分类图标',
                'onUploadSuccess' : function(file, data, response) {
					var img = "<img width='200px' src='__PUBLIC__/Product/icon/"+data+"'><input type='hidden' name='icon_image' value='"+data+"'>";
					$('#imgs').html(img);
				}
        });
        // 分类select获取分类级别
        $(function (){
			$('[name=fid]').change(function(){
				var fid = $(this).val();
				var data = {'fid': fid};
				$.post('__CONTROLLER__/postCatLevel', data, function (a) {
					if (a > 0) {
						$('[name=level]').val(parseInt(a)+1);
					} else {
						alert("获取失败.");
					}
				});
			});  
        });
            
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
