<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
		.nopadding{}
		.nopadding dl{margin:0;border-bottom:1px solid #dfdfdf;}
		.nopadding dl.child{float:none;border-top:1px solid #dfdfdf;border-bottom:0;clear:both;}
		.nopadding dl:last-child{border-bottom:0;}
		.nopadding dt{margin:0;font-size:14px;border-right:1px solid #dfdfdf;float:left;}
		.nopadding dd{margin:0;font-size:14px;border-right:1px solid #dfdfdf;float:left;}
		.nopadding dl dd{float:left;margin:0;border-right:1px solid #dfdfdf;text-align:center;font-size:14px;line-height:2.4;}
		.nopadding dl dd:last-child{border-right:0;}
		.nopadding .sp1{width:4%;}
		.nopadding .sp2{width:6%;}
		.nopadding .sp3{width:68%;text-align:left;text-indent:2%;}
		.nopadding .sp4{width:4%;}
		.nopadding .sp5{width:8%}
		.nopadding .sp6{width:8%;border:0;}
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">商品分类</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <!--<a href="<{:U('ProductCat/catAdd')}>" class="btn btn-primary"><i class="icon-plus"></i> 添加分类</a> -->
                </div>
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>所有商品分类</h5>
                    </div>
                    <div class="widget-content nopadding">
						<div class="list">
							<dl class="clearfix tbs">
								<dt class="clearfix tbs">
									<dd class="tbCell sp1">&nbsp;</dd>
									<dd class="tbCell sp3">分类名称</dd>
									<dd class="tbCell sp2">编号</dd>
									<dd class="tbCell sp4">排序</dd>
									<dd class="tbCell sp5">属性</dd>
									<dd class="tbCell sp6">操作</dd>
								</dt>
							</dl>
							<foreach name="catList" item="cats" >
							<dl class="clearfix tbs" data-fid="0" data-id="<{$cats.id}>" data-level="1">
								<dd class="tbCell more sp1"><i class="icon-plus"></i></dd>
								<dd class="name sp3"><{$cats.cat_name}></dd>
								<dd class="tbCell sp2"><{$cats.id}></dd>
								<dd class="tbCell sp4"><{$cats.sort}></dd>
								<dd class="tbCell sp5">
									<if condition="$cats['is_show'] eq 1">可见</if>
									<if condition="$cats['is_show'] eq 0">不可见</if>
								</dd>
								<dd class="sp6">
									<a href="__CONTROLLER__/catAdd/id/<{$cats.id}>" title="添加" target="_blank" class="btn btn-success btn-mini"> <i class="icon-plus"></i> </a>
									<a href="__CONTROLLER__/catEdit/id/<{$cats.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
									<a href="__CONTROLLER__/doCatDel/id/<{$cats.id}>" title="删除" onclick="return confirm('您确定删除该类别吗？');" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
								</dd>
							</dl>
							</foreach>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->
<!-- icon-minus -->
<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
	$('.nopadding').delegate('dd.more','click',function(){
		var _this = $(this);
		var dl = $(this).parent('dl');
		var id = parseInt(dl.attr('data-id'));
		var fid = parseInt(dl.attr('data-fid'));
		var level = parseInt(dl.attr('data-level'));
		var statue = $(this).find('i').attr('class');
		if(statue == 'icon-plus'){
			$.post('__CONTROLLER__/catChildList',{'fid':id},function(data){
				var data = $.parseJSON(data);
				if(data){
					var html = '';
					var space = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
					for(var a = 0;a < data.length;a++){
						if(data[a]['is_show'] == 0){var show = '不可见';}else if(data[a]['is_show'] == 1){var show = '可见';}
						var lel = data[a]['level'];
						var spaces = '';
						for(var b = 0;b < level;b++){spaces += space;}
						html += '<dl class="clearfix tbs child" data-fid="'+ data[a]['fid'] +'" data-id="'+ data[a]['id'] +'" data-level="'+ data[a]['level'] +'" >';
						html += '<dd class="more tbCell sp1"><i class="icon-plus"></i></dd>';
						html += '<dd class="name sp3">'+ spaces + '|—— ' + data[a]['cat_name'] +'</dd>';
						html += '<dd class="tbCell sp2">'+ data[a]['id'] +'</dd>';
						html += '<dd class="tbCell sp4">'+ data[a]['sort'] +'</dd>';
						html += '<dd class="tbCell sp5">'+ show +'</dd>';
						html += '<dd class="tbCell sp6">';
						html += '<a href="__CONTROLLER__/catAdd/id/'+ data[a]['id'] +'" title="添加" target="_blank" class="btn btn-success btn-mini"> <i class="icon-plus"></i> </a>';
						html += '&nbsp;<a href="__CONTROLLER__/catEdit/id/'+ data[a]['id'] +'" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>';
						html += '&nbsp;<a href="__CONTROLLER__/doCatDel/id/'+ data[a]['id'] +'" title="删除" onclick="return confirm(\'您确定删除该类别吗？\');" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>';
						html += '</dd></dl>';
					}
					$(_this).parent().append(html);
					$(_this).find('i').attr('class','icon-minus')
				}else{alert('暂无子分类！');return false;}
			})
		}else if(statue == 'icon-minus'){$(this).parent().find('dl').remove();$(this).find('i').attr('class','icon-plus');}
	})
	</script>
</block>
<!-- 底部JS执行区域 结束 -->
