<extend name="Public:same" />
<block name="cssFile">
	<link href="__PUBLIC__/Home/css/video.css" rel="stylesheet" type="text/css">
</block>
<block name="topJsFile">
	<script src="__PUBLIC__/Home/js/jquery.Magnifier.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.fly.js"></script>
</block>
<block name="publicBody">
<!--商品的详情-->
<div class="content">
	<dl class="clearfix siteUrl">
		<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
		<dd><em></em> <a href="<{$CBW_URL}>/video/" title="维修视频">维修视频</a></dd>
		<dd><em></em> <{$video.title}></dd>
	</dl>
	<div class="row-fluid clearfix">
		<div class="video span9">
			<div class="title">
				<h1><{$video.title}></h1>
			</div>
			<div class="videoBx">
				<div id="youkuplayer" style="height:540px;width:100%;"></div>
				<script type="text/javascript" src="https://player.youku.com/jsapi">
					player = new YKU.Player('youkuplayer',{
						styleid: '4',
						client_id: 'ea1c9dc551dbddce',
						vid: '<{$video.weburl}>'
					});
				</script>
			</div>
			<dl class="videoDetail">
				<dt class="clearfix"><h3>视频简介</h3><span class="upDate">上传时间：<{$video.create_time|date="Y-m-d H:i",###}></span></dt>
				<dd><{$video.content|htmlspecialchars_decode}></dd>
			</dl>
		</div>
		<div class="videos span3">
			<div class="title">
				<h3>相关视频</h3>
			</div>
			<div class="list">
				<foreach name="videoRes" item="vo">
				<div class="item clearfix">
					<div class="im">
						<a href="<{$CBW_URL}>/video/<{$vo.id}>.html" title="<{$vo.title}>">
							<img src="__PUBLIC__/Video/<{$vo.simg}>" alt="<{$vo.title}>" title="<{$vo.title}>" />
						</a>
					</div>
					<div class="infos">
						<p class="ti">
							<a href="<{$CBW_URL}>/video/<{$vo.id}>.html" title="<{$vo.title}>"><{$vo.title}></a>
						</p>
						<p>播放次数：<{$vo.clicktimes}></p>
					</div>
				</div>
				</foreach>
			</div>
			<div class="join">
				<a href="<{$recruit.link_url}>" target="_blank"><img src="__PUBLIC__/Imgadv/<{$recruit.thumbnail}>" title="<{$recruit.adv_name}>"  alt="<{$recruit.adv_name}>"/></a>
			</div>
		</div>
<!--
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
-->
		<div class="prods">
			<div class="title posR">
				<h3>相关产品</h3>
			</div>
			<div class="prodList clearfix">
				<foreach name="productRes" item="vo">
				<if condition="$vo['id'] neq 722">
				<div class="item">
					<div class="im posR">
						<eq name="vo.is_buy" value="1">
							<span class="posA recoPrice clearfix">折价<br/>换屏</span>
						</eq>
						<a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>">
							<img src="__PUBLIC__/Product/thumb/<{$vo.list_image}>" alt="<{$vo.pro_name}>" title="<{$vo.pro_name}>" />
						</a>
					</div>
					<div class="info">
						<p class="prodName"><a href="<{$CBW_URL}>/detail/<{$vo['rid']}>.html" title="<{$vo.pro_name}>"><{$vo.pro_name}></a></p>
						<p class="prodPrice">￥<{$vo.pro_price}></p>
					</div>
				</div>
				</if>
				</foreach>
			</div>
		</div>
	</div>
</div>
</block>
<block name="footScript"> 
 
</block>
