<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel = "stylesheet" href = "__PUBLIC__/Home/css/videoList.css"/>
</block>
<!--js-->
<block name="topJsFile"></block>
	
</block>

<!--main-->
<block name="publicBody">
	<div class="content clearfix">
		<dl class="clearfix siteUrl">
			<dt><a href="<{$CBW_URL}>" title="返回首页">首页</a></dt>
			<dd><em></em> <a href="<{$CBW_URL}>/video/" title="维修视频">维修视频</a></dd>
			<neq name="type_name" value="">
			<dd><em></em> <a href="<{$CBW_URL}>/video_list/<{$type}>.html" title="教程视频"><{$type_name}></a></dd>
			</neq>
			<neq name="brand_name" value="">
			<dd><em></em> <a href="<{$CBW_URL}>/video_list/<{$brand}>.html" title="教程视频"><{$brand_name}></a></dd>
			</neq>
			<neq name="cat_name" value="">
			<dd><em></em> <a href="<{$CBW_URL}>/video_list/<{$brand}>_<{$cat}>.html" title="教程视频"><{$cat_name}></a></dd>
			</neq>
		</dl>
		<div class="bdCont">
			<div class="cond">
				<dl class="brands clearfix">
					<dt>类型：</dt>
					<dd>
						<foreach name="typeRes" item="vo">
						<a href="<{$CBW_URL}>/video_list/<{$vo.id}>.html" <eq name="type" value="$vo.id">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				<neq name="brandRes" value="">
				<dl class="brands clearfix">
					<dt>品牌：</dt>
					<dd>
						<foreach name="brandRes" item="vo">
						<a href="<{$CBW_URL}>/video_list/<{$type}>_<{$vo.id}>.html" <eq name="brand" value="$vo.id">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				</neq>
				<neq name="catRes" value="">
				<dl class="models clearfix">
					<dt>机型：</dt>
					<dd>
						<foreach name="catRes" item="vo">
						<a href="<{$CBW_URL}>/video_list/<{$type}>_<{$brand}>_<{$vo.id}>.html" <eq name="cat" value="$vo.id">class="on"</eq>><{$vo.cat_name}></a>
						</foreach>
					</dd>
				</dl>
				</neq>
			</div>
			<div class="list">
				<ul class="clearfix">
					<foreach name="videoRes" item="video">
					<li>
						<div class="im">
							<a href="<{$CBW_URL}>/video/<{$video.id}>.html" title="<{$video.title}>">
								<img src="__PUBLIC__/Video/<{$video.simg}>" alt="<{$video.title}>" />
							</a>
						</div>
						<div class="info">
							<p class="ti">
								<a href="<{$CBW_URL}>/video/<{$video.id}>.html" alt="<{$video.title}>"><{$video.title}></a>
							</p>
							<p class="detail">
								<a href="<{$CBW_URL}>/video/<{$video.id}>.html" alt="<{$video.title}>简介"><{$video.content|htmlspecialchars_decode}></a>
							</p>
							<p class="dateTime">[ <{$video.create_time|date="Y-m-d H:i",###}> ]</p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分结束 -->
<!--js-->
<block name="footScript">
    <script>
	
	</script>
</block>
