<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">商品列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('Product/index')}>" id="searchPro" name="searchPro" method="get" class="span8">
								<select name="classify_id" id="classify_id" style="width:150px;">
                                    <option>请选择分类</option>
									<foreach name="classifyRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$classify_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								<neq name="typeRes" value="">
								<select name="type_id" id="type_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="typeRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$type_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
								<neq name="brandRes" value="">
								<select name="brand_id" id="brand_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="brandRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$brand_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
								<neq name="catRes" value="">
								<select name="cat_id" id="cat_id" style="width:150px;">
                                    <option>请选择</option>
									<foreach name="catRes" item="vo">
									<option value="<{$vo.id}>" <eq name="vo.id" value="$cat_id">selected</eq>><{$vo.cat_name}></option>
									</foreach>
                                </select>
								</neq>
								<br/>
								<select name="pro_brand" style="width:120px;">
                                    <option>查找品牌</option>
									<foreach name="brand" item="vo">
									<option value="<{$vo.id}>" <if condition="$Think.get.pro_brand eq $vo['id']">selected</if>><{$vo.brand_name}></option>
									</foreach>
                                </select>
                                <select name="is_on_sale" style="width:120px;">
                                    <option>是否上架</option>
                                    <option value="1" <if condition="$Think.get.is_on_sale eq '1'">selected</if>>上架</option>
                                    <option value="0" <if condition="$Think.get.is_on_sale eq '0'">selected</if>>下架</option>
                                </select>
								<select name="is_card" style="width:120px;">
                                    <option>是否卡类商品</option>
                                    <option value="1" <if condition="$Think.get.is_card eq '1'">selected</if>>是</option>
                                    <option value="0" <if condition="$Think.get.is_card eq '0'">selected</if>>否</option>
                                </select>
								<select name="is_shop" style="width:120px;">
                                    <option>是否店铺专供</option>
                                    <option value="1" <if condition="$Think.get.is_shop eq '1'">selected</if>>是</option>
                                    <option value="0" <if condition="$Think.get.is_shop eq '0'">selected</if>>否</option>
                                </select>
								<select name="is_new" style="width:120px;">
                                    <option>是否新品</option>
                                    <option value="1" <if condition="$Think.get.is_new eq '1'">selected</if>>是</option>
                                    <option value="0" <if condition="$Think.get.is_new eq '0'">selected</if>>否</option>
                                </select>
								<select name="is_hot" style="width:120px;">
                                    <option>是否热销</option>
                                    <option value="1" <if condition="$Think.get.is_hot eq '1'">selected</if>>是</option>
                                    <option value="0" <if condition="$Think.get.is_hot eq '0'">selected</if>>否</option>
                                </select>
								<select name="is_shipping" style="width:120px;">
                                    <option>是否包邮</option>
                                    <option value="1" <if condition="$Think.get.is_shipping eq '1'">selected</if>>是</option>
                                    <option value="0" <if condition="$Think.get.is_shipping eq '0'">selected</if>>否</option>
                                </select>
                                <input type="text" name="pro_name" id="pro_name" value="<{$pro_name}>" style="width:150px;">
                            </form>
							<a href="<{:U('Product/productAdd')}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加商品</a>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
					<div class="widget-title">
						<span class="icon"><input type="checkbox" id="title-checkbox" name="title-checkbox" /></span>
						<h5>商品列表</h5>
					</div>
					<div class="widget-content nopadding">
					<form action="__CONTROLLER__/batchDo" method="post">
						<table class="table table-bordered table-striped with-check">
						<thead>
						<tr>
							<th><i class="icon-resize-vertical"></i></th>
							<th style="width:3%;">编号</th>
							<th>商品名称</th>
							<th style="width:5%;">商品分类</th>
							<th style="width:5%;">价格</th>
							<th style="width:5%;">库存</th>
							<th style="width:5%;">赠送草包豆</th>
							<th style="width:5%;">上架</th>
							<th style="width:5%;">卡类商品</th>
							<th style="width:5%;">店铺专供</th>
							<th style="width:5%;">新品</th>
							<th style="width:5%;">热销</th>
							<th style="width:5%;">包邮</th>
							<th style="width:5%;">原装品质</th>
							<th style="width:5%;">15天退换</th>
							<th style="width:8%;">上架时间</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="productsList" item="pro">
						<tr>
							<td><input type="checkbox" name="ids[]" value="<{$pro.id}>" /></td>
							<td class="text-center"><{$pro.id}></td>
							<td>
								<span class="name<{$pro.id}>" id="name<{$pro.id}>" ondblclick="postData(<{$pro.id}>, 'name', '<{$pro.pro_name}>');"><{$pro.pro_name}></span>
							</td>
							<td class="text-center"><{$pro.classify}></td>
							<td class="text-center"><span><{$pro.pro_price}></span></td>
							<td class="text-center"><span><{$pro.stock_num}></span></td>
							<td class="text-center"><span class="virtual_money<{$pro.id}>" id="virtual_money<{$pro.id}>" ondblclick="postData(<{$pro.id}>, 'virtual_money', '<{$pro.virtual_money}>');"><{$pro.virtual_money}></span></td>
							<td class="text-center" id="is_on_sale<{$pro.id}>">
								<eq name="pro.is_on_sale" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_on_sale', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_on_sale', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_card<{$pro.id}>">
								<eq name="pro.is_card" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_card', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_card', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_shop<{$pro.id}>">
								<eq name="pro.is_shop" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_shop', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_shop', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_new<{$pro.id}>">
								<eq name="pro.is_new" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_new', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_new', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_hot<{$pro.id}>">
								<eq name="pro.is_hot" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_hot', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_hot', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_shipping<{$pro.id}>">
								<eq name="pro.is_shipping" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_shipping', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_shipping', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_quality<{$pro.id}>">
								<eq name="pro.is_quality" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_quality', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_quality', '1');"></i>
								</eq>
							</td>
							<td class="text-center" id="is_return<{$pro.id}>">
								<eq name="pro.is_return" value="1">
								<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_return', '0');"></i>
								<else />
								<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus(<{$pro.id}>, 'is_return', '1');"></i>
								</eq>
							</td>
							<td class="text-center"><{$pro.add_time|date='Y-m-d H:i',###}></td>
							<td class="text-center" style="width:170px;">
								<a href="__CONTROLLER__/productEdit/id/<{$pro.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="__APP__/Comment/index/id/<{$pro.id}>" title="评论" class="btn btn-info btn-mini"> <i class="icon-comments"></i> </a>
								<a href="__CONTROLLER__/productParamAdd/id/<{$pro.id}>" title="参数" class="btn btn-warning btn-mini"> <i class="icon-list-ul"></i> </a>
								<a href="__CONTROLLER__/attrList/id/<{$pro.id}>" title="属性" class="btn btn-primary btn-mini"> <i class="icon-columns"></i> </a>
								<a href="__CONTROLLER__/relationList/id/<{$pro.id}>" title="价格、库存" class="btn btn-inverse btn-mini"> <i class="icon-table"></i> </a>
								<a href="__CONTROLLER__/addProductToRecycle/id/<{$pro.id}>" onclick="return confirm('您确定加入到回收站吗？')" title="回收站" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
							</td>
						</tr>
						</foreach>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="17">
							<div class="btns" style="margin-top:5px">
							<select name="batch_option" class="span2" style="margin-right:10px">
							<option value="-1">请选择</option>
							<option value="1">批量回收</option>
							<option value="2">批量下架</option>
							<option value="3">批量上架</option>
							</select>
							<button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="icon-icon-align-justify"></i> 执行</button>
							</div>
							<div class="pagination alternate text-right span9 pull-right" style="margin-top:-20px">
							<{$page}>
							</div>
							</td>
						</tr>
						</tfoot>
						</table>
					</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
<script>
function postData(no, type, val){
	var width="width:50px;";
	if(type=='name'){
		width="width:300px;";
	}
	$("span."+ type + no).html('<input type="text" id="'+ type +'_'+ no +'" name="'+ type +'_'+ no +'" onblur="postDataEdit('+ no +', \''+ type +'\', \''+ val +'\')" value="'+ val +'" style="'+ width +'margin-bottom:0px;" />');
	$("#"+ type +"_"+no).focus();
}
function postDataEdit(no, type, oldval){
	var val = $("#"+ type + '_' + no).val();
	data = {'id': no, 'type': type, 'val':val};
	$.post('__CONTROLLER__/postProductEdit', data, function (a) {
		if (a > 0) {
			$("#"+ type + no).html(val);
		} else {
			$("#"+ type + no).html(oldval);
		}
	});
}
function postDataStatus(no, type, val){
	var data = {'id': no, 'type': type, 'val':val};
	$.post('__CONTROLLER__/postProductEdit', data, function (a) {
		if (a > 0) {
			if(val=='1'){
				$("#"+ type + no).html('<i class="icon-ok" style="color:green;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'0\');"></i>');
			}else{
				$("#"+ type + no).html('<i class="icon-remove" style="color:red;cursor:pointer;" onclick="postDataStatus('+ no +', \''+ type +'\', \'1\');"></i>');
			}
		} else {
			alert("修改失败.");
		}
	});
}
$('#searchPro select').change(function(){
	$('#searchPro').submit();
});
$('#searchPro #pro_name').blur(function(){
	$('#searchPro').submit();
});
</script>
</block>
<!-- 底部JS执行区域 结束 -->
