<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">属性管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
							<a href="__CONTROLLER__/index/classify_id/<{$products.classify_id}>/type_id/<{$products.type_id}>/brand_id/<{$products.brand_id}>/cat_id/<{$products.cat_id}>" class="btn btn-info pull-right">返回商品列表</a> 
                            <a href="__CONTROLLER__/addAttr/id/<{$id}>" class="btn btn-info pull-right"><i class="icon-plus"></i> 添加属性</a> 
                        </div>
                    </div>
                </div>
                <div class="widget-box">
					<div class="widget-title">
						<h5>属性列表</h5>
					</div>
					<div class="widget-content nopadding">
					<table class="table table-bordered table-striped with-check">
						<thead>
						<tr>
							<th style="width:5%;">编号</th>
							<th>关联属性</th>
							<th>属性值</th>
							<th style="width:10%;">排序</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="attrRes" item="attr">
						<tr>
							<td class="text-center"><{$attr.id}></td>
							<td class="text-center"><{$attr.attr_name}></td>
							<td class="text-center"><{$attr.attr_value}></td>
							<td class="text-center"><{$attr.sort}></td>
							<td class="text-center" style="width:150px;">
								<a href="__CONTROLLER__/editAttr/id/<{$attr.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="__CONTROLLER__/doDeleteAttr/id/<{$attr.id}>" title="删除" onclick="return confirm('您确定删除该属性吗？')" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
							</td>
						</tr>
						</foreach>
						</tbody>
					</table>
					</div>
				</div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->
