<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
    <style>
        div.fblocks {
            margin:0 auto; 
            width: 80%; 
            height:100px; 
            background:#fff;
        }
        .blocks {
            width:150px; 
            height:98px; 
            border:1px dashed #ccc;
            text-align:center;
            line-height:98px;
            font-size:50px;
            cursor:pointer;
            display:block;
            float:left;
            margin:0 5px;
        }
        .blocks h4 {
            font-size:30px;
            color:#555;
            line-height:60px;
            margin:0;
            padding:0;
        }
        .blocks small {
            font-size:25px;
            line-height:40px;
            color:red;
            margin:0;
            padding:0;
        }
        .upadv-show {
            width:100px; 
            height:100px;
            margin:5px;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">添加商品</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
        <div class="span12">
            <form action="<{:U('Product/doAddProduct')}>" id="addPro" method="post">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">通用属性</a></li>
                            <li><a data-toggle="tab" href="#tab2">商品特性</a></li>
							<li><a data-toggle="tab" href="#tab3">关联商品</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <!-- 选项卡一开始 -->
						<div id="tab1" class="tab-pane active">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">商品类别：</label>
                                    <div class="controls">
										<select name="classify_id" id="classify_id" style="width:150px;">
											<option value=""></option>
                                            <foreach name="cats" item="cats">
                                                <option value="<{$cats.id}>"><{$cats.cat_name}></option>
                                            </foreach>
                                        </select>
                                        <select name="type_id" id="type_id" style="width:150px;">
                                        </select>
										<select name="brand_id" id="brand_id" style="width:150px;">
                                        </select>
										<select name="cat_id" id="cat_id" style="width:150px;">
                                        </select>
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">商品品牌：</label>
                                    <div class="controls">
                                        <select name="pro_brand" style="width:150px;">
											<option value=""></option>
											<foreach name="brand" item="vo">
											<option value="<{$vo.id}>"><{$vo.brand_name}></option>
											</foreach>
                                        </select>
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">商品名称：</label>
                                    <div class="controls">
                                        <input type="text" class="span5" name="pro_name" placeholder="产品名称">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品副标题：</label>
                                    <div class="controls">
                                        <input type="text" class="span5" name="pro_subname" placeholder="产品副标题">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">价格：</label>
                                    <div class="controls">
                                        <input type="text" name="pro_price" class="span2" placeholder="0.00">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">赠送草包豆：</label>
                                    <div class="controls">
                                        <input type="text" name="virtual_money" class="span2" placeholder="0">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">商品货号：</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="pro_sn" placeholder="产品货号">
                                    </div>
                                </div>
								<div class="control-group">
                                    <label class="control-label">商品属性：</label>
                                    <div class="controls">
										<label><input type="checkbox" value="1" name="is_card" /> 卡类商品</label>
										<label><input type="checkbox" value="1" name="is_shop" /> 店铺专供</label>
										<label><input type="checkbox" value="1" name="is_new" /> 新品</label>
										<label><input type="checkbox" value="1" name="is_hot" /> 热销</label>
										<label><input type="checkbox" value="1" name="is_shipping" /> 包邮</label>
										<label><input type="checkbox" value="1" name="is_quality" /> 原装品质</label>
										<label><input type="checkbox" value="1" name="is_return" /> 7天退换</label>
										<label><input type="checkbox" value="1" name="is_buy" /> 折价 <input type="text" name="sale_money" class="span1" placeholder="折价金额" value="0.00" /></label>
                                    </div>
									<div class="controls">
										<label> 保修期 
										<select name="warranty" class="span1">
											<option value="0">不保</option>
											<option value="1">15天</option>
											<option value="2">1个月</option>
											<option value="3">2个月</option>
											<option value="4">3个月</option>
											<option value="5">6个月</option>
											<option value="6">12个月</option>
										</select>
										</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">关键字：</label>
                                    <div class="controls">
                                        <input type="text" name="keywords" class="span5" placeholder="关键字">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">描述：</label>
                                    <div class="controls">
                                        <textarea class="span5" name="description" placeholder="产品相关描述"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">上传缩略图：</label>
                                    <div class="controls">
                                        <input id="file_upload" type="file" multiple="true" name="file_upload" />
										<div id="imgs"><img width="200px" src="__PUBLIC__/Plugins/1.png"></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">上架：</label>
                                    <div class="controls">
                                        <label><input type="radio" value="1" name="is_on_sale" checked /> 是</label>
										<label><input type="radio" value="0" name="is_on_sale" />否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 选项卡一结束 -->
						<!-- 选项卡二开始 -->
                        <div id="tab2" class="tab-pane">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <textarea name="feacher" id="feacher" style="width:100%; height:350px;"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 选项卡二结束 -->
						<!-- 选项卡三开始 -->
                        <div id="tab3" class="tab-pane">
                            <table style="width:100%">
                                <tbody>
									<tr>
                                        <td align="center" width="42%">可选商品</td>
										<td align="center">操作</td>
										<td align="center" width="42%">跟该商品关联的商品</td>
                                    </tr>
                                    <tr>
                                        <td width="42%">
                                            <select multiple="true" style="width:100%;height:400px;" id="source_select" name="source_select">
												<foreach name="linkRes" item="vo">
												<option value="<{$vo.id}>"><{$vo.pro_name}></option>
												</foreach>
											</select>
                                        </td>
										<td align="center">
                                            <p><span id="add_all" class="btn btn-info">&gt;&gt;</span></p>
                                            <p><span id="add" class="btn btn-info">  &gt;  </span></p>
                                            <p><span id="remove" class="btn btn-info">  &lt;  </span></p>
                                            <p><span id="remove_all" class="btn btn-info">&lt;&lt;</span></p>
                                        </td>
										<td width="42%">
                                            <select multiple="true" style="width:100%;height:400px;" id="link_products" name="link_products">
											</select>
											<input type="hidden" name="linkproducts" value="" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 选项卡三结束 -->
                    </div>
                </div>
                <div style="padding-top:20px; padding-bottom:20px; text-align:center;">
                    <button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 保存商品信息 </button>
                    <a type="submit" href="__CONTROLLER__/index" class="btn btn-default btn-large"> 返回商品列表 </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </form> -->
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/excanvas.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.flot.resize.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/fullcalendar.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.dashboard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.gritter.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.chat.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.wizard.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>--> 
    <script src="__PUBLIC__/Admin/js/masked.js"></script> 
    <!--<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> --> 
    <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
    <script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">		
        $('.textarea_editor').wysihtml5();
        var img = '';
        $('#file_upload').uploadify({
				'debug' : false,
                'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
                'uploader' : '<{:U("Product/upload",array("session_id"=>session_id()))}>',
                'buttonText' : '商品图片',
                'onUploadSuccess' : function(file, data, response) {
					img = "<img width='200px' src='__PUBLIC__/Product/thumb/"+data+"'><input type='hidden' name='list_image' value='"+data+"'>";
					$('#imgs').html(img);
					//$('#images').val(data);
				}
        });

        // 编辑器
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#feacher', {
                    resizeType : 1,
                    uploadJson : '__PUBLIC__/editor/php/upload_feacher_json.php'
                });
        });
		
		// 产品类别,产品change提交
		$('#classify_id').change(function(){
			var cid = $(this).children('option:selected').val();
			if(cid){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeProductSelect', {'id': cid}, function (d) {
					if(d){
						$('#type_id').empty();
						$('#brand_id').empty();
						$('#cat_id').empty();
						$("#type_id").append('<option></option>'+d);
					}else{
						$('#type_id').empty();
						$('#brand_id').empty();
						$('#cat_id').empty();
					}
                });
			}
		});
		// 产品类别,产品change提交
		$('#type_id').change(function(){
			var proid = $(this).children('option:selected').val();
			if(proid){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeProductSelect', {'id': proid}, function (d) {
					if(d){
						$('#brand_id').empty();
						$('#cat_id').empty();
						$("#brand_id").append('<option></option>'+d);
					}else{
						$('#brand_id').empty();
						$('#cat_id').empty();
					}
                });
			}
		});
		$('#brand_id').change(function(){
			var brandid = $(this).children('option:selected').val();
			if(brandid){
				// Ajax请求数据库验证
                $.get('__CONTROLLER__/changeProductSelect', {'id': brandid}, function (d) {
					if(d){
						$('#cat_id').empty();
						$("#cat_id").append('<option></option>'+d);
					}else{
						$('#cat_id').empty();
					}
                });
			}
		});
		
		//移到右边
		$('#add').click(function() {
		//获取选中的选项，删除并追加给对方
			$('#source_select option:selected').appendTo('#link_products');
			set_links();
		});
		//移到左边
		$('#remove').click(function() {
			$('#link_products option:selected').appendTo('#source_select');
			set_links();
		});
		//全部移到右边
		$('#add_all').click(function() {
			//获取全部的选项,删除并追加给对方
			$('#source_select option').appendTo('#link_products');
			set_links();
		});
		//全部移到左边
		$('#remove_all').click(function() {
			$('#link_products option').appendTo('#source_select');
			set_links();
		});
		//双击选项
		$('#source_select').dblclick(function(){ //绑定双击事件
			//获取全部的选项,删除并追加给对方
			$("option:selected",this).appendTo('#link_products'); //追加给对方
			set_links();
		});
		//双击选项
		$('#link_products').dblclick(function(){
		   $("option:selected",this).appendTo('#source_select');
		   set_links();
		});
		
		function set_links(){
			var str = $("#link_products option").map(function(){return $(this).val();}).get().join(",");
			$('input[name=linkproducts]').val(str);
		}
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
