<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        table#param table {
            border:none;
        }
        table#param td {
            border:none;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统管理</a> 
    </div>
    <h1 style="margin-top:10px;">商品参数</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>修改商品参数</h5>
                    </div>
                    <div class="widget-content nopadding">
                        
                        <form class="form-horizontal" method="post" action="<{:U('Product/doEditParam')}>" name="useradd" id="useradd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">参数标题：</label>
                                <div class="controls">
                                    <input type="hidden" name="id" value="<{$paramRes.id}>">
                                    <input type="hidden" name="pro_id" value="<{$paramRes.pro_id}>">
                                    <input type="text" name="param_title" value="<{$paramRes.param_title}>" id="param_title" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">参数内容：</label>
                                <div class="controls">
                                    <textarea name="param_content" id="param_content" style="width:700px; height:280px;"><{$paramRes.param_content}></textarea>
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 确认修改 " id="sub" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="<{:U('Product/productParamAdd', array('id'=>$paramRes['pro_id']))}>" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
        // 编辑器
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#param_content', {
                    resizeType : 1,
                    uploadJson : '__PUBLIC__/editor/php/upload_param_json.php'
                });
        });


        /*
        $('#sub').click(function (){

            var title = $('#param_title').val();        // 标题的值

            // 编辑中的方法，为了获取textarea中的值
            editor.sync();
            var content = $('#param_content').val();    // 内容的值

            // 对值进行验证
            if (title.length == 0 || content.length == 0)
            {
                alert('有必填项没有填写');         // 需要修改
                return false;
            }

            var data = {
                'pro_id': <{$Think.get.id}>,
                'param_title': title,
                'param_content': content
            };

            $.post('<{:U("Product/doAddParamByAjax")}>', data, function (d){

                // 如果返回为空，不进行操作返回
                if (d == null)
                {
                    return false;   
                }

                var html = '';
                for (var i in d)
                {
                    html += '<tbody><tr><td style="width:180px; text-align:right;">标题：</td><td>'+d[i].param_title+'</td></tr><tr><td>内容：</td><td>'+unescape(d[i].param_content)+'</td></tr></tbody>';
                }
                $('table#param-area').html(html);



            });



        });
*/
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
