<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
        table#param table {
            border:none;
        }
        table#param td {
            border:none;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">商品颜色</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>修改商品颜色</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('Product/doEditAttr')}>" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">关联属性：</label>
                                <div class="controls">
                                    <select name="attr_id" style="width:150px;">
										<option value=""></option>
										<foreach name="attributeRes" item="vo">
										<option value="<{$vo.id}>" <eq name="vo.id" value="$attrRes.attr_id">selected</eq>><{$vo.attr_name}></option>
										</foreach>
									</select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">属性值：</label>
                                <div class="controls">
                                    <input type="hidden" name="id" value="<{$attrRes.id}>">
									<input type="hidden" name="pro_id" value="<{$attrRes.pro_id}>">
                                    <input type="text" name="attr_value" value="<{$attrRes.attr_value}>" />
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">排序：</label>
                                <div class="controls">
                                    <input type="text" name="attr_sort" value="<{$attrRes.sort}>" />
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label">主图图片：</label>
                                <div class="controls">
                                    <ul class="thumbnails" id="imgsforcolor">
										<foreach name="albumRes" item="pic">
										<li class="span2"> 
											<a><img src="__PUBLIC__/Product/images/thumb_img/<{$pic.images}>" alt=""></a>
											<div>
												<input type="hidden" name="ids[<{$pic.id}>]" value="<{$pic.id}>" />
												<input type="tel" name="sort[<{$pic.id}>]" value="<{$pic.sort}>" style="width:110px;" />
											</div>
											<div class="actions">
												<a title="删除" href="__CONTROLLER__/deleteAlbum/id/<{$pic.id}>"><i class="icon-remove"></i></a>
												<a class="lightbox_trigger" href="__PUBLIC__/Product/images/source_img/<{$pic.images}>"><i class="icon-search"></i></a> 
											</div>
										</li>
										</foreach>
										</pic>
									</ul>
                                </div>
                            </div>
							<div class="control-group">
								<label class="control-label">上传图片：</label>
								<div class="controls">
									<input id="adv_upload" type="file"  multiple="true" name="adv_upload" />
								</div>
							</div>
                          <div class="form-actions">
                            <input type="submit" value=" 确认修改 " id="sub" class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/attrList/id/<{$attrRes.pro_id}>" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
	<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script> 
    <script src="__PUBLIC__/Plugins/jquery.uploadify.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>
        // 处理多张小图上传
        $('#adv_upload').uploadify({
			'swf'      : '__PUBLIC__/Plugins/uploadify.swf',
			'uploader' : '<{:U("Product/advUpload",array("session_id"=>session_id()))}>',
			'buttonText' : '主图图片',
			'onUploadSuccess' : function(file, data, response) {
			// 处理返回过来的值
			var imgC = '<li class="span2"><a><img src="__PUBLIC__/Product/images/thumb_img/'+data+'"></a>';
			imgC += '<div><input type="hidden" name="new_img[]" value="'+data+'"><input type="tel" name="new_sort[]" value="0" style="width:110px;" /></div></li>';
			$('#imgsforcolor').append(imgC);
            }
        });
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
