<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
    <style>
		.form-horizontal .controls .name{
			height: 30px;
			line-height:30px;
		}
        div.fblocks {
            margin:0 auto; 
            width: 80%; 
            height:100px; 
            background:#fff;
        }
        .blocks {
            width:150px; 
            height:98px; 
            border:1px dashed #ccc;
            text-align:center;
            line-height:98px;
            font-size:50px;
            cursor:pointer;
            display:block;
            float:left;
            margin:0 5px;
        }
        .blocks h4 {
            font-size:30px;
            color:#555;
            line-height:60px;
            margin:0;
            padding:0;
        }
        .blocks small {
            font-size:25px;
            line-height:40px;
            color:red;
            margin:0;
            padding:0;
        }
        .upadv-show {
            width:100px; 
            height:100px;
            margin:5px;
        }
		.name{
			font-size:14px;
			margin-top:5px;
		}
		.supplier{
			vertical-align:bottom;
			display:inline-block;
		}
		#num_control{
			padding-top:16px;
		}
		th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">商品管理</a> 
    </div>
    <h1 style="margin-top:10px;">库存管理</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
<div class="container-fluid">
    <hr style="margin:0;">
    <div class="row-fluid">
        <div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab1">变更记录</a></li>
						<li><a data-toggle="tab" href="#tab2">库存变更</a></li>
					</ul>
				</div>
				<div class="widget-content tab-content">
					<!-- 选项卡一开始 -->
					<div id="tab1" class="tab-pane active">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="list-title" style="width:5%;">编号</th>
									<th class="list-title" style="width:12%;">供应商</th>
									<th class="list-title" style="width:6%;">零售价格</th>
									<th class="list-title" style="width:6%;">店铺价格</th>
									<th class="list-title" style="width:6%;">批发价格</th>
									<th class="list-title" style="width:6%;">成本价格</th>
									<th class="list-title" style="width:6%;">类型</th>
									<th class="list-title" style="width:6%;">数量</th>
									<th class="list-title">备注</th>
									<th class="list-title" style="width:10%;">操作时间</th>
								</tr>
							</thead>
							<tbody>
								<foreach name="stock" item="vo">
								<tr>
									<td class="align-center"><{$vo.id}></td>
									<td class="align-center"><{$vo.supplier_name}></td>
									<td class="align-center"><{$vo.one_price}></td>
									<td class="align-center"><{$vo.two_price}></td>
									<td class="align-center"><{$vo.four_price}></td>
									<td class="align-center"><{$vo.three_price}></td>
									<td class="align-center"><if condition="$vo['type_id'] eq 1">增加<else/>减少</if></td>
									<td class="align-center"><{$vo.number}></td>
									<td class="align-left"><{$vo.remarks}></td>
									<td class="align-center"><{$vo.create_time|date="Y-m-d H:i:s",###}></td>
								</tr>
								</foreach>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="10">
										<div class="pagination alternate text-right span9 pull-right">
											<{$page}>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- 选项卡一结束 -->
					<!-- 选项卡二开始 -->
					<div id="tab2" class="tab-pane">
						<form action="__CONTROLLER__/doProductStockEdit" method="post">
						<div class="form-horizontal">
							<div class="control-group">
								<label class="control-label">商品：</label>
								<div class="controls">
									<span class="name"><{$relation.pro_name}> <{$relation.pro_attr_name}></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">增/减:</label>
								<div class="controls" id="num_control">
									<label><input id="num_add" type="radio" value="1" checked name="type_id" /> 增加</label>
									<label><input id="num_duce" type="radio" value="0" name="type_id" /> 减少</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">数量：</label>
								<div class="controls">
									<input type="text" name="number" class="span1" placeholder="数量" />
								</div>
							</div>
							<div class="control-group add">
								<label class="control-label">供应商：</label>
								<div class="controls">
									<select name="supplier_id" style="width:150px;">
										<option value=""></option>
										<foreach name="suppliers" item="vo">
										<option value="<{$vo.id}>"><{$vo.name}></option>
										</foreach>
									</select>
									<span class="supplier"><a href="<{:U('Product/supplier')}>" target="_blank">+增加供应商</a></span>
								</div>
							</div>
							<div class="control-group add">
								<label class="control-label">零售价格：</label>
								<div class="controls">
									<input type="text" name="one_price" class="span1" placeholder="0.00" />
								</div>
							</div>
							<div class="control-group add">
								<label class="control-label">店铺价格：</label>
								<div class="controls">
									<input type="text" name="two_price" class="span1" placeholder="0.00" />
								</div>
							</div>
							<div class="control-group add">
								<label class="control-label">批发价格：</label>
								<div class="controls">
									<input type="text" name="four_price" class="span1" placeholder="0.00" />
								</div>
							</div>
							<div class="control-group add">
								<label class="control-label">成本价格：</label>
								<div class="controls">
									<input type="text" name="three_price" class="span1" placeholder="0.00" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">备注：</label>
								<div class="controls">
									<input type="text" name="remarks" class="span4" placeholder="一句话备注" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"></label>
								<div class="controls">
									<input type="hidden" name="product_id" value="<{$id}>" />
									<button type="submit" class="btn btn-primary btn-large" style="margin-right:20px"> 确认提交 </button>
								</div>
							</div>
						</div>
						</form>
					</div>
					<!-- 选项卡二结束 -->
				</div>
			</div>
        </div>
    </div>
</div>
<!-- </form> -->
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.popover.js"></script>
    <script src="__PUBLIC__/Admin/js/matrix.interface.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script type="text/javascript">		
		$("#num_control").on("click",function(){
			var addEle = $(".add");
			if($(this).find("input:checked").attr("id") == "num_duce"){
				addEle.hide();
			}else{
				addEle.show();
			}
		});
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
