<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        td.text-center {
            text-align:center;
        }
        a.title-link {
            color:#0066ff;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
        </a>
		<a href="#" class="current">用户管理</a> 
    </div>
    <h1 style="margin-top:10px;">代理列表</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <div class="control-group">
                        <div class="controls">
                            <form action="<{:U('UserAgent/index')}>" method="get" class="span8">
								<{$city.str}>
								<input type="text" name="keyword" style="width:125px;" value="<{$keyword}>" placeholder="请输入关键字...">
                                <input type="submit" id="sub" class="btn btn-primary" style="margin-top:-10px;" value="查找">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
          <div class="widget-title">
			<span class="icon"><i class="icon-list-ul"></i></span>
            <h5>代理列表</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped with-check">
                <thead>
                    <tr>
                        <th style="width:4%;">编号</th>
                        <th style="width:8%;">姓名</th>
						<th style="width:8%;">联系电话</th>
						<th>联系地址</th>
						<th style="width:5%;">状态</th>
						<th style="width:12%;">代理时间</th>
                        <th style="width:8%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="agents" item="vo">
                        <tr>
                            <td class="text-center"><{$vo.id}></td>
                            <td class="text-center"><{$vo.name}></td>
							<td class="text-center"><{$vo.mobile}></td>
							<td class="text-left"><{$vo.pro_addr}><{$vo.city_addr}><{$vo.addr}><{$vo.address}></td>
							<td class="text-center" id="status<{$vo.id}>">
                                <empty name="vo.status">
                                    <i class="icon-lock" style="color:red;cursor:pointer;" onclick="postAgentStatus(<{$vo.id}>, '1');"></i>
                                <else />
                                    <i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postAgentStatus(<{$vo.id}>, '0');"></i>
                                </empty>
                            </td>
							<td class="text-center"><{$vo.end_time|date="Y-m-d H:i:s", ###}></td>
                            <td class="text-center">
                                <a href="__CONTROLLER__/edit/id/<{$vo.id}>" title="编辑" class="btn btn-success btn-mini"> <i class="icon-pencil"></i> </a>
								<a href="__CONTROLLER__/del/id/<{$vo.id}>" onclick="return confirm('确定要删除吗？');" title="删除" class="btn btn-danger btn-mini"> <i class="icon-trash"></i> </a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
              <tfoot>
                <tr>
                    <td colspan="9">
                      <div class="pagination alternate text-right">
                          <{$page}>
                      </div>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		//城市选择js
		<{$city.script}>
		
		function postAgentStatus(no, val){
			var data = {'id': no, 'val':val};
			$.post('__CONTROLLER__/agentStatusEdit', data, function (a) {
				if (a > 0) {
					if(val=='1'){
						$("#status"+ no).html('<i class="icon-unlock" style="color:green;cursor:pointer;" onclick="postAgentStatus('+ no +', \'0\');"></i>');
					}else{
						$("#status"+ no).html('<i class="icon-lock" style="color:red;cursor:pointer;" onclick="postAgentStatus('+ no +', \'1\');"></i>');
					}
				} else {
					alert("修改失败.");
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->
