<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/vip-purchase.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 顶部JS执行区域 开始 -->
<block name="topScript">
	
</block>
<!-- 顶部JS执行区域 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>购买会员</div></h1>
    </header>
	<div class="con">
		<div id="user_Box" class="clearfix">
			<div class="img_Box">
				<img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
			</div>
			<div class="con_Box">
				<h2><{$user.uname}></h2>
				<eq name="user.vip" value="1">
				<p class="date"><span>VIP</span>到期日期：<{$user.vip_time|date="Y-m-d",###}></p>
				<else />
				<p class="novip"><span>VIP</span></p>
				</eq>
			</div>
		</div>
		<div id="select_Box">
			<h3>草包网VIP服务</h3>
			<ul>
				<li class="clearfix current" data-id="1">
					<div class="Fleft"><span class="circle"></span>月度会员<!--<em>(原价:1000元)</em>--></div>
					<div class="Fright"><span>1000</span> 元</div>
				</li>
				<li class="clearfix" data-id="3">
					<div class="Fleft"><span class="circle"></span>季度会员<!--<em>(原价:3000元)</em>--></div>
					<div class="Fright"><span>3000</span> 元</div>
				</li>
				<li class="clearfix" data-id="6">
					<div class="Fleft"><span class="circle"></span>半年会员<!--<em>(原价:6000元)</em>--></div>
					<div class="Fright"><span>6000</span> 元</div>
				</li>
				<li class="clearfix" data-id="12">
					<div class="Fleft"><span class="circle"></span>年度会员<!--<em>(原价:12000元)</em>--></div>
					<div class="Fright"><span>12000</span> 元</div>
				</li>
			</ul>
			<button class="purchase">立即购买</button>
		</div>
		<div id="introduce">
			<h3>草包网VIP套餐</h3>
			<p>零售价普通购买价格，针对大众用户;</p>
			<p>加盟店可享受批发价（普通户用看不到）;</p>
			<p>会员价等于采购成本价（只向地区合伙人开放）</p>			
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$("#select_Box li").click(function(){
			$(this).addClass("current").siblings().removeClass("current");
		});
		$(".purchase").click(function(){
			var times = $("#select_Box").find('li.current').attr('data-id');
			if (confirm("您确定要购买"+ times +"个月VIP服务吗？")){
				window.location.href = _CONTROLLER_+"/order/times/"+ times +".html";
			}
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->











