<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-auth.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab"><a href="<{:U('Users/info')}>">个人信息</a></li>
							<li class="tab"><a href="<{:U('Address/index')}>">地址管理</a></li>
							<li class="tab"><a href="<{:U('Users/pay')}>">支付管理</a></li>
							<li class="tab current"><a href="<{:U('Users/security')}>">安全管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 实名认证开始 -->
			<div class="securityCenter">
                <div class="securityTitle">
                    <strong>实名认证</strong>
                </div>
                <div class="securityCon">
                    <div class="realName">
                        <dl class="item clearfix false">
                            <dt class="label">真实姓名：</dt>
                            <dd class="value">
                                <input type="text" class="ui-input short-input" maxlength="20" name="name" id="ui-input-holderName" autocomplete="off">
                                <span id="span-notify-holderName" class="extra">为确保您的账户安全，请填写您本人的实名认证信息</span>
								<span class="error-text" id="span-red-name"></span>
                            </dd>
                        </dl>
                        <dl class="item clearfix false">
                            <dt class="label">身份证号：</dt>
                            <dd class="value">
                                <input type="text" class="ui-input long-input" maxlength="18" name="idcardno" id="ui-input-holderId" autocomplete="off">
								<span class="error-text" id="span-red-IDcart"></span>
                            </dd>
                        </dl>
                        <dl class="item clearfix false">
                            <dt class="label">银行卡号：</dt>
                            <dd class="value">
                                <div id="div-newcard" class="bank-info clearfix fl">
                                    <div id="newcard" class="bank-list">
                                        <input type="text" id="ui-input-cardNo" class="number" maxlength="23" name="bankcardno" autocomplete="off">
                                        <span id="bank-abc" class="bank-logo"></span>
                                        <span id="newcard-type-span" class="type"></span>
                                    </div>
                                    <div class="magnifier" id="magnifier"></div>
                                </div>
                                <div class="support-bank fl">
                                    <span class="text">支持银行</span>
                                    <div class="support-bank-list">
                                        <i class="support-arrow"></i>
                                        <div class="section-tab">
                                            <ul class="section-tab-title clearfix">
                                                <li class="current"><span>储蓄卡</span></li>
                                                <li><span>信用卡</span></li>
                                            </ul>
                                        </div>
                                        <div class="suport-bank-tab">
                                            <div class="product product-bg">
												<foreach name="deposits" key="key" item="vo">
													<span class="name" bankno="<{$vo.ident}>" agencycode="<{$vo.id}>"><{$vo.name}></span>
													<if condition="($key+1)%4 eq 0">
														<if condition="($key+1)%8 eq 0">
															</div><div class="product product-bg">
														<else />
															</div><div class="product">
														</if>
													</if>
												</foreach>
                                            </div>
                                        </div>
										<div class="suport-bank-tab" style="display:none;">
											<div class="product product-bg">
												<foreach name="credits" key="key" item="vo">
													<span class="name" bankno="<{$vo.ident}>" agencycode="<{$vo.id}>"><{$vo.name}></span>
													<if condition="($key+1)%4 eq 0">
														<if condition="($key+1)%8 eq 0">
															</div><div class="product product-bg">
														<else />
															</div><div class="product">
														</if>
													</if>
												</foreach>
											</div>
                                        </div>                       
                                    </div>
                                </div>
                                <span id="cardspan-notify-cardNo" class="extra fl">仅支持您本人名下的银行卡，输入卡号自动识别银行卡种</span>
								<span class="error-text" id="span-red-cartNo"></span>
                            </dd>
                        </dl>
                        <dl id="creditDate" class="item clearfix false" style="display:none;">
                            <dt class="label">有效期：</dt>
                            <dd class="value">
                                <div class="date-select clearfix">
                                    <select id="creditCardMonth" name="month" autocomplete="off">
                                        <option value="">请选择</option>
										<for start="1" end="13">
											<lt name="i" value="10">
												<option value="0<{$i}>">0<{$i}></option>
											<else />
												<option value="<{$i}>"><{$i}></option>
											</lt>
                                        </for>
                                    </select>
                                    &nbsp;&nbsp;月&nbsp;&nbsp;
                                    <select id="creditCardYear" name="year" autocomplete="off">
                                        <option value="">请选择</option>
										<for start="0" end="10">
											<option value="<{$year+$i}>"><{$year+$i}></option>
                                        </for> 
                                    </select>
                                    &nbsp;&nbsp;年
									<span class="error-text" id="span-red-Date"></span>
                                </div>
                            </dd>
                        </dl>
                        <dl id="credit" class="item clearfix false" style="display:none;">
                            <dt class="label">卡验证码：</dt>
                            <dd class="value">
                                <input id="ui-input-cvv2" type="password" class="ui-input short-input" maxlength="3" name="cvv2" autocomplete="off">
                                <span class="extra" id="cardspan-notify-cartcode">卡背面三位数字</span>
								<span class="error-text" id="span-red-cvv2"></span>
                            </dd>
                        </dl>
                        <dl id="mobile" class="item clearfix false">
                            <dt class="label">手机号码：</dt>
                            <dd class="value">
                                <input id="input_card_phone_no" type="text" class="ui-input center-input" maxlength="11" name="mobile" autocomplete="off">
                                <span id="span-phone-notify" class="extra">请填写该卡在银行预留的手机号码，验证该银行卡是否真实属于您本人</span>
								<span class="error-text" id="span-red-number"></span>
                            </dd>
                        </dl>
						<dl id="mobile" class="item clearfix false">
                            <dt class="label">图形验证码：</dt>
                            <dd class="value">
                                <input id="input-phone-code" type="text" class="ui-input short-input" name="imgcode" autocomplete="off">
								<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="34"/>
								<span class="error-text" id="span-red-code"></span>
                            </dd>
                        </dl>
                        <dl class="item clearfix">
                            <dt class="label">&nbsp;</dt>
                            <dd class="value">
                                <div class="agreement">
                                    <a href="<{$CBW_URL}>/article/43.html" target="_blank" class="link">《草包网快捷支付相关协议》</a>
                                </div>
                                <div class="security-form-btn">
                                    <a id="authSubmit" href="javascript:" class="ui-button">同意协议并确定</a>
                                    <span class="error-text" id="span-red-All"></span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
			<!-- 实名认证结束 -->
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/users-auth.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->











