<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-avatar.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/cropper-2.3.2/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/cropper-2.3.2/assets/css/bootstrap.min.css" />
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/cropper-2.3.2/dist/cropper.min.css" />
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/cropper-2.3.2/examples/crop-avatar/css/main.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/ietip/iealert/style.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
	
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right" id="crop-avatar">
			<h2>设置头像</h2>
			<div class="row" id="avatar-modal">
				<form class="avatar-form" action="<{:U('Users/crop')}>" enctype="multipart/form-data" method="post">
					<div class="modal-body">
						<div class="avatar-body">
					
							<!-- Crop and preview -->
							<div class="row">
								<div class="col-md-9">
									<div class="avatar-wrapper"></div>
								</div>
								<div class="col-md-3">
									<div class="avatar-preview preview-lg"></div>
									<div class="avatar-preview preview-md"></div>
									<div class="avatar-preview preview-sm"></div>
								</div>
							</div>
							<div style="padding: 10px 0 0;">建议尺寸：156px*156px</div>
							<div class="row avatar-btns">
								<div class="col-md-9">
									<div class="btn-group">
										<label class="btn btn-primary btn-upload" for="avatarInput" title="Upload image file">
											<input type="hidden" class="avatar-src" name="avatar_src">
											<input type="hidden" class="avatar-data" name="avatar_data">
											<input type="file" class="avatar-input sr-only" id="avatarInput" name="avatar_file">
											<span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
												<span class="fa fa-upload"></span>
											</span>
										</label>
										<button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
											<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
												<span class="fa fa-search-plus"></span>
											</span>
										</button>
										<button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
											<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
												<span class="fa fa-search-minus"></span>
											</span>
										</button>
										<button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
											<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)">
												<span class="fa fa-rotate-left"></span>
											</span>
										</button>
										<button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
											<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)">
												<span class="fa fa-rotate-right"></span>
											</span>
										</button>
									</div>
								</div>
								<div class="col-md-3">
									<button type="submit" class="btn btn-primary btn-block avatar-save">更新形象</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Plugins/ietip/jquery-migrate-1.2.1.js"></script>
	<script src="__PUBLIC__/Plugins/ietip/iealert.js"></script>
	<script src="__PUBLIC__/Plugins/cropper-2.3.2/assets/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Plugins/cropper-2.3.2/dist/cropper.min.js"></script>
	<script src="__PUBLIC__/Plugins/cropper-2.3.2/examples/crop-avatar/js/main.js"></script>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript" >
		$(document).ready(function() {
			$("body").iealert();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->