<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-editcard.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab"><a href="<{:U('Users/info')}>">个人信息</a></li>
							<li class="tab"><a href="<{:U('Address/index')}>">地址管理</a></li>
							<li class="tab current"><a href="<{:U('Users/pay')}>">支付管理</a></li>
							<li class="tab"><a href="<{:U('Users/security')}>">安全管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 实名认证开始 -->
			<div class="securityCenter">
                <div class="securityTitle">
                    <strong>修改快捷卡手机验证</strong>
                </div>
                <div class="securityCon">
                    <div class="realName">
                        <dl class="item clearfix">
                            <dt class="label">银行卡号：<input type="hidden" id="ui-input-cardid" name="cardid" value="<{$card.id}>"></dt>
                            <dd class="value"><{$card.card_no|hidestr='card'}></dd>
                        </dl>
						<eq name="card.card_type" value="C">
                        <dl id="creditDate" class="item clearfix false">
                            <dt class="label">有效期：</dt>
                            <dd class="value">
                                <div class="date-select clearfix">
                                    <select id="creditCardMonth" name="month" autocomplete="off">
                                        <option value="">请选择</option>
										<for start="1" end="13">
											<lt name="i" value="10">
												<option value="0<{$i}>">0<{$i}></option>
											<else />
												<option value="<{$i}>"><{$i}></option>
											</lt>
                                        </for>
                                    </select>
                                    &nbsp;&nbsp;月&nbsp;&nbsp;
                                    <select id="creditCardYear" name="year" autocomplete="off">
                                        <option value="">请选择</option>
										<for start="0" end="10">
											<option value="<{$year+$i}>"><{$year+$i}></option>
                                        </for> 
                                    </select>
                                    &nbsp;&nbsp;年
									<span class="error-text" id="span-red-Date"></span>
                                </div>
                            </dd>
                        </dl>
                        <dl id="credit" class="item clearfix false">
                            <dt class="label">卡验证码：</dt>
                            <dd class="value">
                                <input id="ui-input-cvv2" type="password" class="ui-input short-input" maxlength="3" name="cvv2" autocomplete="off">
                                <span class="extra" id="cardspan-notify-cartcode">卡背面三位数字</span>
								<span class="error-text" id="span-red-cvv2"></span>
                            </dd>
                        </dl>
						</eq>
                        <dl id="mobile" class="item clearfix false">
                            <dt class="label">手机号码：</dt>
                            <dd class="value">
                                <input id="input_card_phone_no" type="text" class="ui-input center-input" maxlength="11" name="mobile" autocomplete="off">
                                <span id="span-phone-notify" class="extra">请确认你已在银行修改新的手机号</span>
								<span class="error-text" id="span-red-number"></span>
                            </dd>
                        </dl>
						<dl id="mobile" class="item clearfix false">
                            <dt class="label">图形验证码：</dt>
                            <dd class="value">
                                <input id="input-phone-code" type="text" class="ui-input short-input" name="imgcode" autocomplete="off">
								<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="34"/>
								<span class="error-text" id="span-red-code"></span>
                            </dd>
                        </dl>
                        <dl class="item clearfix">
                            <dt class="label">&nbsp;</dt>
                            <dd class="value">
                                <div class="agreement">
                                    <a href="<{$CBW_URL}>/article/43.html" target="_blank" class="link">《草包网快捷支付相关协议》</a>
                                </div>
                                <div class="security-form-btn">
                                    <a id="cardSubmit" href="javascript:" class="ui-button">同意协议并确定</a>
                                    <span class="error-text" id="span-red-All"></span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
			<!-- 实名认证结束 -->
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/users-auth.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->











