<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-friends.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="protit"><h2>我的粉丝</h2></div>
			<div class="lst">
				<empty name="friends">
				<div class="empty">一个好友都没有? 赶紧 <a href="<{:U('Users/share')}>">邀请好友</a> !!</div>
				<else />
				<!--<div class="statistics"><span>好友: <{$count}> 个</span></div>-->
				<ul class="clearfix">
					<foreach name="friends" item="vo">
					<li class="clearfix">
						<div class="img_Box">
							<img src="<{$vo.headimgurl}>?1100" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" width="68" height=68 />
						</div>
						<div class="text_Box">
							<p class="name clearfix">
								<strong><{$vo.nickname}></strong>
								<span class="span_consume">消费：<em><{$vo.money}>元</em></span>
							</p>
							<p class="time clearfix">
								<span>成为好友时间：<time><{$vo.fans_time|date="Y-m-d",###}></time></span>
							</p>
							<p class="consume">
								<span class="span_right">收益：<em><{$vo.harvest}>元</em></span>
							</p>
						</div>
					</li>
					</foreach>
				</ul>
				</empty>
			</div>
			<div class="pageLink clearfix">
				<{$page}>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->