<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="con-r clearfix">
				    <div class="con-r-l">
						<p class="time"><span class="account">帐号：<{$user.account}></span>上次登陆：<{$user.last_login_time|date="Y-m-d H:i:s",###}></p>
						<p class=" safe">
							安全等级：
							<if condition="$user['level'] eq 5"><span class="sfscale"><b class="high"></b></span> <strong>高</strong></if>
							<if condition="($user['level'] lt 5) AND ($user['level'] egt 3)"><span class="sfscale"><b class="medium"></b></span> <strong>中</strong></if>
							<if condition="$user['level'] lt 3"><span class="sfscale"><b class="low"></span> <strong>低</strong></b></if>
							<span class="phone"><a href="<{:U('Users/security')}>"><img src="__PUBLIC__/Home/images/2016/<eq name="user.mobile_state" value="1">phone1.jpg<else />phone.jpg</eq>"></a></span>
							<span class="Email"><a href="<{:U('Users/security')}>"><img src="__PUBLIC__/Home/images/2016/<eq name="user.email_state" value="1">Email1.jpg<else />Email.jpg</eq>"></a></span>
						</p>
						<p class="money">
							账户金额：<span><{$user.money|number_format=2,'.',''}></span>
							冻结金额：<span><{$user.frozen_money|number_format=2,'.',''}></span>
							<a href="<{:U('Users/withdraw')}>" class="btn">提现</a>
							<a href="<{:U('Users/money')}>">收支明细</a>
						</p>
						<p class="cbd">
							草包豆：<span><{$user.virtual_money}></span>
							<a href="<{:U('Users/recharge')}>" class="btn btn-recharge">立即充值</a>
						</p>
				    </div>
				    <div class="con-r-r">
						<eq name="user.group_id" value="1">
							<span><a href="<{:U('System/index')}>">我的店铺</a></span>
						<else />
							<span><a href="<{:U('Index/joins')}>">维修店申请加盟</a></span>
						</eq>
				    </div>
			</div>
			<div class="bd-t">
				<div class="cbd-detail">
				   <div class="protit clearfix"><h2>草包豆收支明细</h2><a href="<{$CBW_URL}>/article/4.html">关于草包豆？</a></div>
				   <ul class="ul_tit clearfix">
					   <li class="first">类型</li>
					   <li class="two">加/减</li>
					   <li class="three">剩余</li>
					   <li class="four">时间</li>
					   <li class="five">明细</li>
				   </ul>
				   <ul class="ul_bd">
						<foreach name="virtuals" item="vo">
						<li class="clearfix">
							<span class="first">
								<eq name="vo.event" value="1"><span class="shopping">购物</span></eq>
								<eq name="vo.event" value="2"><span class="repair">维修</span></eq>
								<eq name="vo.event" value="3"><span class="recovery">回收</span></eq>
								<eq name="vo.event" value="4"><span class="offer">报价</span></eq>
								<eq name="vo.event" value="5"><span class="comment">评价</span></eq>
								<eq name="vo.event" value="6"><span class="return">返还</span></eq>
								<eq name="vo.event" value="7"><span class="bbs">论坛</span></eq>
								<eq name="vo.event" value="8"><span class="recharge">充值</span></eq>
							</span>
							<span class="two">
								<eq name="vo.type" value="1">
									<span class="in">+<{$vo.val}></span>
								<else />
									<span class="out">-<{$vo.val}></span>
								</eq>
							</span>
							<span class="three"><{$vo.surplus}></span>
							<span class="four"><{$vo['create_time']|date="Y-m-d H:i:s",###}></span>
							<span class="five">
							<if condition="($vo['event'] eq 7)">
								<eq name="vo.sn" value="-5">取消投票</eq>
								<eq name="vo.sn" value="-4">取消采纳</eq>
								<eq name="vo.sn" value="-3">删除评论</eq>
								<eq name="vo.sn" value="-2">删除回复</eq>
								<eq name="vo.sn" value="-1">删除发布</eq>
								<eq name="vo.sn" value="1">发布</eq>
								<eq name="vo.sn" value="2">回复</eq>
								<eq name="vo.sn" value="3">写评论</eq>
								<eq name="vo.sn" value="4">采纳</eq>
								<eq name="vo.sn" value="5">投票</eq>
							<else />
								订单编号:<{$vo.sn}>
							</if>
							</span>
						</li>
						</foreach>
				   </ul>
				</div>
				<notempty name="virtuals">
				<div class="pagenum" data-page="0">
				  <span class="pre_page" style="display:none">&lt&lt上一页</span>
				  <span class="num"><em class="page"><{$page}></em>/<em class="pagecount"><{$pagecount}></em>页</span>
				  <span class="next_page">下一页&gt&gt</span>
				</div>
				</notempty>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$('.con').delegate('.pre_page','click',function(){
			var _this = $(this);
			var page = _this.parent('.pagenum').attr('data-page');
			page--;
			if(page == 0){
				_this.hide();
			}
			_this.siblings('.next_page').show();
			$.post("__CONTROLLER__/loadPageVirtual", {'page':page}, function(d){
				var data = JSON.parse(d);
				if(data == '' || !data){
					return false;
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="clearfix">';
						html += '	<span class="first">';
						if(data[a]['event'] == 1){
							html += '		<span class="shopping">购物</span>';
						}else if(data[a]['event'] == 2){
							html += '		<span class="repair">维修</span>';
						}else if(data[a]['event'] == 3){
							html += '		<span class="recovery">回收</span>';
						}else if(data[a]['event'] == 4){
							html += '		<span class="offer">报价</span>';
						}else if(data[a]['event'] == 5){
							html += '		<span class="comment">评价</span>';
						}else if(data[a]['event'] == 6){
							html += '		<span class="return">返还</span>';
						}else if(data[a]['event'] == 7){
							html += '		<span class="bbs">论坛</span>';
						}else if(data[a]['event'] == 8){
							html += '		<span class="recharge">充值</span>';
						}
						html += '	</span>';
						html += '	<span class="two">';
						if(data[a]['type'] == 1){
							html += '			<span class="in">+'+ data[a]['val'] +'</span>';
						}else{
							html += '			<span class="out">-'+ data[a]['val'] +'</span>';
						}
						html += '	</span>';
						html += '	<span class="three">'+ data[a]['surplus'] +'</span>';
						html += '	<span class="four">'+ data[a]['create_time'] +'</span>';
						html += '	<span class="five">';
						if(data[a]['event'] == 7){
							if(data[a]['sn'] == -5){
								html += '取消投票';
							}else if(data[a]['sn'] == -4){
								html += '取消采纳';
							}else if(data[a]['sn'] == -3){
								html += '删除评论';
							}else if(data[a]['sn'] == -2){
								html += '删除回复';
							}else if(data[a]['sn'] == -1){
								html += '删除发布';
							}else if(data[a]['sn'] == 1){
								html += '发布';
							}else if(data[a]['sn'] == 2){
								html += '回复';
							}else if(data[a]['sn'] == 3){
								html += '写评论';
							}else if(data[a]['sn'] == 4){
								html += '采纳';
							}else if(data[a]['sn'] == 5){
								html += '投票';
							}
						}else{
							html += '订单编号:'+data[a]['sn'];
						}
						html += '	</span>';
						html += '</li>';
					}
					_this.parent('.pagenum').attr('data-page', page);
					_this.siblings('.num').find('.page').text(page+1);
					_this.parent('.pagenum').siblings('.cbd-detail').find("ul.ul_bd li").remove();
					_this.parent('.pagenum').siblings('.cbd-detail').find("ul.ul_bd").append(html);
				}
			});
		}).delegate('.next_page','click',function(){
			var _this = $(this);
			var page = _this.parent('.pagenum').attr('data-page');
			var pagecount = _this.siblings('.num').find('.pagecount').text();
			page++;
			if((page+1) >= pagecount){
				_this.hide();
			}
			_this.siblings('.pre_page').show();
			$.post("__CONTROLLER__/loadPageVirtual", {'page':page}, function(d){
				var data = JSON.parse(d);
				if(data == '' || !data){
					return false;
				}else{
					var html = '';
					for(var a = 0;a < data.length;a++){
						html += '<li class="clearfix">';
						html += '	<span class="first">';
						if(data[a]['event'] == 1){
							html += '		<span class="shopping">购物</span>';
						}else if(data[a]['event'] == 2){
							html += '		<span class="repair">维修</span>';
						}else if(data[a]['event'] == 3){
							html += '		<span class="recovery">回收</span>';
						}else if(data[a]['event'] == 4){
							html += '		<span class="offer">报价</span>';
						}else if(data[a]['event'] == 5){
							html += '		<span class="comment">评价</span>';
						}else if(data[a]['event'] == 6){
							html += '		<span class="return">返还</span>';
						}else if(data[a]['event'] == 7){
							html += '		<span class="bbs">论坛</span>';
						}else if(data[a]['event'] == 8){
							html += '		<span class="recharge">充值</span>';
						}
						html += '	</span>';
						html += '	<span class="two">';
						if(data[a]['type'] == 1){
							html += '			<span class="in">+'+ data[a]['val'] +'</span>';
						}else{
							html += '			<span class="out">-'+ data[a]['val'] +'</span>';
						}
						html += '	</span>';
						html += '	<span class="three">'+ data[a]['surplus'] +'</span>';
						html += '	<span class="four">'+ data[a]['create_time'] +'</span>';
						html += '	<span class="five">';
						if(data[a]['event'] == 7){
							if(data[a]['sn'] == -5){
								html += '取消投票';
							}else if(data[a]['sn'] == -4){
								html += '取消采纳';
							}else if(data[a]['sn'] == -3){
								html += '删除评论';
							}else if(data[a]['sn'] == -2){
								html += '删除回复';
							}else if(data[a]['sn'] == -1){
								html += '删除发布';
							}else if(data[a]['sn'] == 1){
								html += '发布';
							}else if(data[a]['sn'] == 2){
								html += '回复';
							}else if(data[a]['sn'] == 3){
								html += '写评论';
							}else if(data[a]['sn'] == 4){
								html += '采纳';
							}else if(data[a]['sn'] == 5){
								html += '投票';
							}
						}else{
							html += '订单编号:'+data[a]['sn'];
						}
						html += '	</span>';
						html += '</li>';
					}
					_this.parents('.pagenum').attr('data-page', page);
					_this.siblings('.num').find('.page').text(page+1);
					_this.parents('.pagenum').siblings('.cbd-detail').find("ul.ul_bd li").remove();
					_this.parents('.pagenum').siblings('.cbd-detail').find("ul.ul_bd").append(html);
				}
			});
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->