<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-info.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab current"><a href="<{:U('Users/info')}>">个人信息</a></li>
							<li class="tab"><a href="<{:U('Address/index')}>">地址管理</a></li>
							<li class="tab"><a href="<{:U('Users/pay')}>">支付管理</a></li>
							<li class="tab"><a href="<{:U('Users/security')}>">安全管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="prolist">
				<div class="protit"><h2>编辑你的个人资料</h2></div>
				<div class="clearfix">
					<div class="pro_left">
						<div class="_left_top">
							<form id="info" action="<{:U('Users/updateinfo')}>" method="post">
							<span class="one">
								<strong>@用户名</strong>
								<input type="text" name="uname" value="<{$user.uname}>" placeholder="您的网络昵称" />
							</span>
							<span class="select">
								<strong>现居地</strong>
								<{$city.str}>
							</span>
							<span>
								<strong>详细地址</strong>
								<input type="text" name="address" value="<{$user.address}>" placeholder="详细地址" />
							</span>
							<span class="save">
								<a href="javascript:;">保存</a>
							</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(".con").delegate('.save a', 'click', function(event) {
            var input = $('#info input');
            for(var a = 0;a < input.length;a++){
                if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
					var txt=  '请输入' + $(input[a]).attr('placeholder');
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
                    return false;
                }
            }
            var select = $('#info select');
            for(var b = 0;b < select.length;b++){
                if(!$(select[b]).val() || $(select[b]).val() == 0){
                    var txt=  "请检查城市地区选择！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
                    return false;
                }
            }
            $('form#info').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->