<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-menu.css" />

<!--菜单 开始-->
<div class="con-left">
	<div class="con-l-t">
		<a href="<{:U('Users/avatar')}>"><img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" title="点击编辑头像" /></a>
		<p class="name">
			<{$user.uname}>
			<if condition="$user['group_id'] eq 1"><span class="store">店</span></if>
			<span class="<eq name="user.vip" value="1">vip<else />novip</eq>">VIP</span>
		</p>
		<if condition="$user['vip'] eq 1">
			<p class="time">VIP会员<{$user.vip_time|date="Y-m-d",###}>到期</p>
			<p class="openVip"><a href="<{:U('Vip/purchase')}>">续费VIP服务</a></p>
		</if>
	</div>
	<div class="con-l-b">
		<ul class="level2">
			<li class="levelitem open">
				<h3 class="clearfix"><a href="<{:U('users/index')}>">用户中心</a><p><span></span></p></h3>
				<ul class="level3">
					<li><a href="<{:U('Users/info')}>">个人信息</a></li>
					<li><a href="<{:U('orders/index')}>">我的订单</a></li>
					<li><a href="<{:U('Service/index')}>">我的售后</a></li>
					<li><a href="<{:U('Users/msg')}>">我的消息</a></li>
				</ul>
			</li>
			<if condition="$user['group_id'] eq 1">
			<li class="levelitem open">
				<h3 class="clearfix"><a href="<{:U('Users/friends')}>">分享中心</a><p><span></span></p></h3>
				<ul class="level3">
					<li><a href="<{:U('Users/friends')}>">我的粉丝</a></li>
					<li><a href="<{:U('Users/share')}>">推广二维码</a></li>
					<li><a href="<{:U('Users/explain')}>">永久赚钱</a></li>
				</ul>
			</li>
			</if>
			<if condition="$user['is_agent'] eq 1">
			<li class="border_no levelitem open">
				<h3><a href="<{:U('Agent/myshop')}>">代理中心</a><p><span></span></p></h3>
				<ul class="level3">
					<li><a href="<{:U('Agent/myshop')}>">我的店铺</a></li>
					<li><a href="<{:U('Agent/offers')}>">报价通知</a></li>
					<li><a href="<{:U('Agent/repair')}>">维修订单</a></li>
					<li><a href="<{:U('Agent/recovery')}>">回收订单</a></li>
					<li><a href="<{:U('Agent/shopping')}>">购物订单</a></li>
				</ul>
			</li>
			</if>
		</ul>
	</div>
</div>
<!--菜单 结束-->

<script type="text/javascript">	
//导航栏切换显示
$("h3 p").click(function(event) {     
	var pLi = $(this).parents('li')
	pLi.toggleClass("open");
	if(pLi.hasClass("open")){
		pLi.siblings().removeClass("open");
	}
});
</script>