<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-money.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="prolist">
				<div class="protit clearfix"><h2>账户金额收支明细</h2></div>
				<ul class="ul_tit clearfix">
					<li class="first">类型</li>
					<li class="two">加/减</li>
					<li class="three">剩余</li>
					<li class="four">时间</li>
					<li class="five">明细</li>
				</ul>
				<ul class="ul_bd">
					<foreach name="moneys" item="vo">
					<li class="clearfix">
						<span class="first">
							<eq name="vo.event" value="1"><span class="return">退款</span></eq>
							<eq name="vo.event" value="2"><span class="settlement">结算</span></eq>
							<eq name="vo.event" value="3"><span class="recovery">回收</span></eq>
							<eq name="vo.event" value="4"><span class="withdraw">提现</span></eq>
							<eq name="vo.event" value="5"><span class="recharge">充值</span></eq>
							<eq name="vo.event" value="6"><span class="profit">收益</span></eq>
							<eq name="vo.event" value="7"><span class="pay">支付</span></eq>
							<eq name="vo.event" value="8"><span class="return">返还</span></eq>
							<eq name="vo.event" value="9"><span class="pay">扣佣</span></eq>
						</span>
						<span class="two">
							<eq name="vo.type" value="1">
								<span class="in">+<{$vo.val}></span>
							<else />
								<span class="out">-<{$vo.val}></span>
							</eq>
						</span>
						<span class="three"><{$vo.surplus|number_format=2,'.',''}></span>
						<span class="four"><{$vo['create_time']|date="Y-m-d H:i:s",###}></span>
						<span class="five"><{$vo.order.order_sn}> <{$vo.remarks}></span>
					</li>
					</foreach>
				</ul>
				<div class="pageLink clearfix">
					<{$page}>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->