<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-msg.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						  <ul class="tabs">
							<li class="tab <eq name="type" value="0">current</eq>"><a href="<{:U('Users/msg', array('type'=>0))}>">全部消息</a></li>
							<li class="tab <eq name="type" value="1">current</eq>"><a href="<{:U('Users/msg', array('type'=>1))}>">未读消息</a></li>
							<li class="tab <eq name="type" value="2">current</eq>"><a href="<{:U('Users/msg', array('type'=>2))}>">已读消息</a></li>
						</ul>
					</div>
				</div>
				<div class="prolist">
				    <div class="protit clearfix"><h2>最新消息</h2></div>
					<ul>
					   <foreach name="messages" item="vo">
					    <li>
							<div class="msg">
								<label for="Time">
									<input type="checkbox" name="ids" value="<{$vo.id}>" />
									<span <eq name="vo.is_read" value="0">class="noread"</eq>><a href="<{:U('Users/msgview', array('id'=>$vo['msg_id']))}>"><{$vo.title}></a></span>
								</label>
								<time><{$vo['send_date']|date="Y-m-d",###}></time>
							</div>
					    </li>
					    </foreach>
				    </ul>
				</div>
				<div class="probtm clearfix">
					<div class="both">
						<button id="all">全选</button><i class="delete"></i>
					</div>
					<div class="pageLink">
						<{$page}>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate(".delete" ,"click" ,function(event){
			var ok = confirm("确定删除选中消息吗？");
            if (!ok) {
                return false;
            }
			var ids_value =[];
			$('input[name="ids"]:checked').each(function(){
				ids_value.push($(this).val());
			});
			if (!ids_value || ids_value == '') {
                return false;
            }
			var ids = ids_value.join(",");
			$.post('__CONTROLLER__/deleteMessage',{'ids':ids}, function(d){
				if(d > 0){
					window.location.href = window.location.href;
				}else{
					alert('删除消息失败');
				}
			});
			console.log();
		});
		window.onload = function(){
			var btns = document.getElementById("all");
			var ipts = document.getElementsByTagName('input');
			
			btns.onclick = function(){
				for(var i=0;i<ipts.length;i++){
					ipts[i].checked = true;
				}   
			}
		};
	</script>
</block>
<!-- 底部JS执行区域 结束 -->