<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-pay.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="bd-t">
				<div class="tab-container-inner">
					  <div class="tabWrap">
						<ul class="tabs ">
							<li class="tab"><a href="<{:U('Users/info')}>">个人信息</a></li>
							<li class="tab"><a href="<{:U('Address/index')}>">地址管理</a></li>
							<li class="tab current"><a href="<{:U('Users/pay')}>">支付管理</a></li>
							<li class="tab"><a href="<{:U('Users/security')}>">安全管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="prolist IDcart">
				<div class="protit"><h2>快捷卡</h2></div>
				<ul class="clearfix">
					<foreach name="user.card" item="vo">
					<li class="clearfix <eq name="vo.is_default" value="1">current</eq>" name="banks">
						<div class="mt">
							<span id="bank-abc" class="bank-logo"><img src="__PUBLIC__/Bank/<{$vo.picture}>" /></span>
							<span class="tail-number">尾号<{$vo.card_no|substr=-4}></span>
							<span class="type"> 
								<eq name="vo.card_type" value="C">
									<em class="credit">信用卡</em>
								<else />
									<em class="saving">储蓄卡</em>
								</eq>
							</span>
						</div>
						<div class="mc">
							<div class="item">
								<span class="info">持卡人姓名：<{$vo.true_name|hidestr='name'}></span>
								<a href="<{:U('Users/editcard', array('id'=>$vo['id']))}>" class="font-blue">修改</a>
							</div>
							<div class="item">
								<span class="info">手机号：<{$vo.card_mobile|hidestr='tel'}></span>
								<a href="javascript:void(0);" data-id="<{$vo.id}>" class="font-blue deleteCart">删除</a>
							</div>
                        </div>
					</li>
					</foreach>
					<li id="li-addCard" class="quick-add">
						<a class="quick-add-item" href="javascript:void(0);">
							<span class="bgpic"></span>
							添加快捷卡
						</a>
					</li>
				</ul>
			</div>
			<div class="prolist zfb">
				<div class="protit"><h2>支付宝</h2></div>
				<p class="zfb"><span><eq name="user.alipay.alipay" value="">暂无<else /><{$user.alipay.alipay}></eq></span><a href="javascript:;" class="add">更新</a></p>
			</div>
		</div>
		<div class="posF" id="card">
			<div class="bg"></div>
			<div class="box400"> 
				<div class="hd posR"> 
					<p>提示</p>
					<span class="off posA">&nbsp;</span>
				</div>
				<div class="bd">
					<div class="check"><span class="Tipbg"></span>为了您的账户安全，请先实名认证后再绑卡</div>
					<div class="btn"><a href="<{:U('Users/auth')}>">确定</a></div>
				</div>
			</div>
		</div>
		<div class="posF" id="alipay">
			<div class="bg"></div>
			<div class="box400">
				<div class="hd posR"> 
					<p data-type="update">更新支付宝</p>
					<span class="off posA">&nbsp;</span>
				</div>
				<div class="bd">
					<form id="updatealipay" action="<{:U('Users/updateAlipay')}>" method="post">
					<div class="rope">
						<span>真实姓名</span>
						<input type="text" name="name" placeholder="真实姓名" value="" />
						<span id="span-red-name" class="span-red-tip"></span>
					</div>
					<div class="rope">
						<span>帐号</span>
						<input type="text" name="alipay" placeholder="支付宝账号" value="" />
						<span id="span-red-zfb" class="span-red-tip"></span>
					</div>
					<div class="rope">
						<p>请如实填写支付宝信息，以免汇款失败！</p>
					</div>
					<div class="rope" style="position:relative;">
						<button type="button" class="off">取消</button>
						<button type="button" class="submit">提交</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$('.con').delegate('li.quick-add','click',function(){                     // 打开添加快捷卡
			$.post(_CONTROLLER_+"/checkRealNameAuth", {}, function(d){
				if(d == -1){
					$('#card').slideDown(200);
				}else{
					window.location.href = '/users/addcard.html';
				}
			});
            
        }).delegate('.prolist .add', 'click', function(event) {                   // 打开更新支付宝
            $('#alipay').slideDown(200);
        }).delegate('.prolist ul li', 'mouseenter', function(event) {             // 鼠标移进快捷卡列表
            $(this).css("border-color","#40bb8c").find(".font-blue").show();
        }).delegate('.prolist ul li', 'mouseleave', function(event) {             // 鼠标移出快捷卡列表
            $(this).css("border-color","#dcdcdc").find(".font-blue").hide();
			var myindx = $(this).index();
			if(myindx==0){
				$(this).css("border-color","#40bb8c")
			}
        }).delegate('.deleteCart', 'click', function(event) {                      // 删除快捷卡
			var id  = $(this).attr("data-id");
            var txt =  "确定删除该快捷卡吗？";
			var option = {
				title: "提示",
				btn: parseInt("0011",2),
				onOk: function(){
					window.location.href="__APP__/Users/delcard/id/"+id+".html"; 
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);
        });
        $('.posF').delegate('#updatealipay .submit','click',function(){             // 更新支付宝提交
            var name   = $("input[name=name]").val();
			var alipay = $("input[name=alipay]").val();
			var regName =/^[\u4e00-\u9fa5]{2,4}$/;
			var phoneRule =  /^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/;
			var emailRule =  /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
			if(!name || name ==""){
				$("#span-red-name").text('请填写持有人姓名');
				return false;
			}else if(!regName.test(name)){
				$("#span-red-name").text('姓名格式不正确');
				return false;
			}else{
				$("#span-red-name").text('');
			};
			if(!alipay || alipay ==""){
				$("#span-red-zfb").text('请填写支付宝帐号');
				return false;
			}else if(!phoneRule.test(alipay) && !emailRule.test(alipay)){
				$("#span-red-zfb").text('支付宝帐号不正确');
				return false;
			}else{
				$("#span-red-zfb").text('');
			}
			$("form#updatealipay").submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->