<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-recharge.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		<div class="con-right">
			<div class="con-r clearfix">
				<div class="cbd-mod">
					<p class="cbd">
						草包豆余额：<span><{$user.virtual_money}></span>
					</p>
				</div>
				<form id="recharge" method="post" action="<{:U('Users/doRecharge')}>" autocomplete="off">
				<div class="selectmoney">
					<h3 class="title">选择金额：<span class="rate">（兑换比例：1元=100草包豆）</span></h3>
					<div class="select_money">
						<div class="money clear">
							<ul id="moneyList" class="clearfix">
								<foreach name="product.list" key="key" item="vo">
								<if condition="$key eq 0">
								<li class="item" data-id="<{$vo.id}>">
									<p class="cbdspecial"><span><{$vo['virtual']}></span>豆/<{$vo.attr_value}>元</p>
								</li>
								<else />
								<li class="item" data-id="<{$vo.id}>">
									<p><span class="cbdval"><{$vo['virtual']}></span>豆/<{$vo.attr_value}>元</p>
					                <p class="give"><span class="giveval">送<{$vo['give_virtual']}></span>豆</p>
									<img class="sign" src="__PUBLIC__/Home/images/2016/yh.png"/>
								</li>
								</if>
								</foreach>
							</ul>
						</div>
					</div>
				</div>
				<div class="btn_div">
					<input type="hidden" name="id" value="" />
					<a href="javascript:void(0);" class="btn-recharge">立即充值</a>
				</div>
				</form>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$("#moneyList li").click(function(){
			var _this = $(this);
			var id = _this.attr('data-id');
			var moneyText = _this.text();
			var money = parseFloat(moneyText) * 100;
			_this.addClass("current").siblings().removeClass("current");
			$("input[name=id]").val(id);
			$(".tps").hide();
		});
		$(".btn-recharge").click(function(){
			var id = $("input[name=id]").val();
			if(id <= 0){
				$(".tps").show();
				return false;
			}
			$("form#recharge").submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->