<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-share.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		<div class="con-right">
			<div class="protit"><h2>推广二维码</h2></div>
			<div class="bg_Box clearfix">
				<div class="main_Box">
					<img class="erweima" src="__PUBLIC__/Share/<{$imgFile}>" width="357" />
				</div>
				<div class="share_four">
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style_32x32">
						<strong class="clearfix"><a class="jiathis_button_weixin"><em>分享到微信</em></a></strong>
						<strong class="clearfix"><a class="jiathis_button_tsina"><em>分享到微博</em></a></strong>
						<strong class="clearfix"><a class="jiathis_button_qzone"><em>分享到QQ空间</em></a></strong>
						<strong class="clearfix"><a class="jiathis_button_cqq"><em>分享到QQ好友</em></a></strong>
					</div>
					<!-- JiaThis Button END -->
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		var jiathis_config = { 
			pic: "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png",
			url: "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",
			title: "扫一扫,微信关注!",
			summary:"您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！"
		} 
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
</block>
<!-- 底部JS执行区域 结束 -->