<extend name="Public:same" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-same.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/users-withdraw.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con wrap clearfix">
		
		<!-- 菜单 开始 -->
		<{:W('Users/menu')}>
		<!-- 菜单 结束 -->
		
		<div class="con-right">
			<div class="prolist">
				<div class="protit"><h2>提现</h2></div>
				<div class="withdraw">
					<div class="hd">
						<ul class="clearfix">
							<li class="on" data-id="1" >提现到支付宝</li>
							<li data-id="2" >提现到银行卡</li>
						</ul>
					</div>
					<form id="withdraw" method="post" action="<{:U('Users/saveWithdraw')}>">
					<div class="bd">
						<ul>
							<li class="clearfix zfb current">
								<empty name="user.alipay" value="">
									尚未设置支付宝账号? <a href="<{:U('Users/pay')}>">立即设置</a>
								<else />
									<label for="carname"><strong>帐号</strong><span><{$user.alipay.alipay}></span><a href="<{:U('Users/pay')}>">更换</a></label>
								</empty>
							</li>
							<li class="clearfix bank ">
								<empty name="user.card" value="">
									尚未添加银行卡? <a href="<{:U('Users/pay')}>">立即设置</a>
								<else />
									<label for="carname"><strong>卡号</strong>
										<select name="card">
											<foreach name="user.card" item="vo">
											<option value="<{$vo.id}>"><{$vo.true_name|hidestr='name'}> <{$vo.name}>(<{$vo.card_no|hidestr='card'}>)</option>
											</foreach>
										</select>
									</label>
								</empty>
							</li>
							<li class="clearfix">
								<label for="carnum"><strong>金额</strong><input type="text" name="money" placeholder="可提现：<{$user.allow|number_format=2,'.',''}>元"></label>
							</li>
							<li class="clearfix">
								<eq name="user.pay_password" value="">
									尚未设置支付密码? <a href="<{:U('Users/security')}>" class="fontRed">立即设置</a>
								<else />
									<label for="bran"><strong>密码</strong><input type="password" name="password" value="" placeholder="输入您的支付密码"></label>
								</eq>
							</li>
						</ul>
					</div>
					<div class="submit">
						<input type="hidden" name="type" value="1" />
						<input type="hidden" name="alipay" value="<{$user.alipay.alipay}>" />
						<a href="javascript:void(0);">提现</a>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.hd li', 'click', function(event) {
            $(this).addClass('on').siblings().removeClass("on");
            var Liindex = $(this).index();
            $(".bd li:eq("+Liindex+")").addClass('current').siblings().removeClass('current');
            $("input[name=type]").val($(this).attr('data-id'));
        }).delegate('.submit a', 'click', function(event) {
			var type   = $("input[name=type]").val();
			var alipay = $("input[name=alipay]").val();
			var card   = $("select[name=card]").val();
			var money  = $("input[name=money]").val();
			var pwd    = $("input[name=password]").val();
			if(type == 1){
				if(!alipay || alipay ==""){
					var txt=  "尚未设置支付宝帐号！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					return false;
				}
			}else if(type == 2){
				if(!card || card ==""){
					var txt=  "尚未选择银行卡帐号！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
					return false;
				}
			}
			if(money<1 || money ==""){
				var txt=  "请输入提现金额！";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			if(!pwd || pwd ==""){
				var txt=  "请输入支付密码！";
				window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
				return false;
			}
			
			$("form#withdraw").submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->