<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-addcard.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>添加快捷卡</h1>
	</header>
	<div class="con">
		<if condition="($user['true_name'] neq '') AND ($user['identity'] neq '')">
        <div class="idcrdInfo cl">
            <span class="perName"><{$user.true_name|hidestr='name'}></span>
            <span class="idcardNm"><{$user.identity|hidestr='card'}></span>
        </div>
		</if>
        <div class="nameAndId col-bgw">
			<if condition="($user['true_name'] eq '') AND ($user['identity'] eq '')">
			<div class="ui-form-item posR ui-textfield false" id="cot-username">
				<span id="span-red-name" class="font-red posA Tip"></span>
				<input class=" debit anim-input" type="text" id="username" maxlength="15" autocomplete="on" placeholder="请输入您的真实姓名" name="name">
				<div id="userNameCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
				<!--一键清除内容图标-->
			</div>
			<div class="border-top  ui-form-item  posR ui-textfield false" id="cot-usercardid">
				<span id="span-red-id" class="font-red posA Tip"></span>
				<input class="debit anim-input" type="text" id="userid" autocomplete="on" maxlength="18" placeholder="请输入您本人的身份证号码" name="idcardno">
				<div id="userIdCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div> <!--一键清除内容图标-->
			</div>
			</if>
            <div class="ui-form-item  posR border-top ui-textfield false" id="bankcard">
                <span id="span-red-cartId" class="font-red posA Tip"></span>
                <input id="card-num" class=" debit anim-input noCancel" type="tel" autocomplete="on" maxlength="23" width="80%" placeholder="请输入本人银行卡号" name="bankcardno">
                <div id="bank-clear" class="rightCancels posA"><a href="<{:U('Users/supportbank')}>" class="posA">&#xe623;</a></div>
                <div id="suport-bank" class="sportCard posA db">
                    <i class="card_icon card_icon_bg db"></i>
                </div>
            </div>
            <!--信用卡-->
            <div id="rn-card-type" class="ui-form-item border-top posR  ui-textfield">
                <span class="font-redsp posA Tip">卡类型/发卡行</span>
                <div id="cardtypeh" class=" debit anim-input  noCancel">***/******</div>
            </div>
            <div class="dl ui-form-item wdh-per100 border-top  posR ui-textfield" id="credit-info-data">
                <span id="span-red-data" class="font-red posA Tip"></span>
                <input id="selectdata" class="anim-input  noCancel" type="text" maxlength="7" placeholder="请输入日期，格式为“月-年”" name="exp">
                <div id="dataCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
            </div>
            <div class="dl  ui-form-item wdh-per100 border-top posR  ui-textfield" style="overflow: hidden" id="credit-info-cvv2">
                <span id="span-red-cvv2" class="font-red posA Tip"></span>
                <input id="cardcode" class="anim-input  noCancel" type="tel" autocomplete="on" maxlength="3" placeholder="请输入卡验证码" name="cvv2">
                <div id="cardCodeCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
            </div>
            <div class="ui-form-item border-1px border-top  posR  ui-textfield false">
                <span id="span-red-phone" class="font-red posA Tip"></span>
                <input id="phone-num" class="debit  anim-input" type="tel" autocomplete="on" value="" maxlength="11" placeholder="请输入银行预留的手机号码" name="mobile">
                <div class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
            </div>
			<div class="ui-form-item border-top  posR  ui-textfield false">
				<span id="span-red-code" class="font-red posA Tip"></span>
				<input id="pic-code" class="debit  anim-input" type="text" autocomplete="on" value="" maxlength="11" placeholder="请输入右侧验证码" name="imgcode" style="width:50%;">
				<div class="rightCode posA">
					<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="40"/>
				</div>
			</div>
        </div>
        <div id="confirmBtn" name="user-add-card" class="makeSurebtn">
			<span id="span-red-all" class="font-red posA Tip"></span>
            同意协议并确定
        </div>
        <div id="btnProtcol" class="text-not-attention text-attention textcont top col-999999 marginauto">我已阅读<a class="link-col" href="http://192.168.1.250/mobile.php/article/43.html" id="xieyi">《草包网快捷支付服务协议》</a> </div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->