<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>实名认证</h1>
	</header>
	<div class="con">
		<div class="header posR clearfix">
			<p id="realname-tip" class="basicAttention ft-24px col-999999">请填写您的真实信息,通过后将不能修改</p>
		</div>
		<div class="nameAndId col-bgw">
			<form id="authnext" action="<{:U('Users/authnext')}>" method="post">
			<div class="ui-form-item posR ui-textfield false" id="cot-username">
				<span id="span-red-name" class="font-red posA Tip"></span>
				<input class=" debit anim-input" type="text" id="username" maxlength="15" autocomplete="on" placeholder="请输入您的真实姓名" name="name">
				<div id="userNameCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
				<!--一键清除内容图标-->
			</div>
			<div class="border-top  ui-form-item  posR ui-textfield false" id="cot-usercardid">
				<span id="span-red-id" class="font-red posA Tip"></span>
				<input class="debit anim-input" type="text" id="userid" autocomplete="on" maxlength="18" placeholder="请输入您本人的身份证号码" name="idcardno">
				<div id="userIdCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div> <!--一键清除内容图标-->
			</div>
			</form>
		</div>
		<div id="confirmBtn" name="auth" class="makeSurebtn">下一步</div>
		<div class="textcont top col-999999 marginauto">实名认证后，您的账户将得到更完整的保护</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->