<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authnext.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>实名认证</h1>
	</header>
	<div class="con">
		<div class="header posR clearfix">
			<p id="realname-tip" class="basicAttention ft-24px col-999999">请填写您的真实信息,通过后将不能修改</p>
		</div>
		<div class="pl30 col-bgw posR nameAndId mt20 ">
			<div class=" ui-form-item  posR ui-textfield false" id="bankcard">
				<span id="span-red-cartId" class="font-red posA Tip"></span>
				<input id="card-num" class=" debit anim-input noCancel" type="tel" autocomplete="on" maxlength="23" style="width: 80%" placeholder="请输入本人银行卡号" name="bankcardno">
				<div id="bank-clear" class="rightCancels posA"><a href="<{:U('Users/supportbank')}>" class="posA" target="_blank">&#xe623;</a></div>
				<div id="suport-bank" class="sportCard posA db">
					<i class="card_icon card_icon_bg db"></i>
				</div>
			</div>
			<div id="rn-card-type" class="ui-form-item border-top posR  ui-textfield">
				<span class="font-redsp posA Tip">卡类型/发卡行</span>
				<div id="cardtypeh" class=" debit anim-input  noCancel">***/******</div>
			</div>
			<!--信用卡-->
			<div class="dl ui-form-item wdh-per100 border-top  posR ui-textfield" id="credit-info-data">
				<span id="span-red-data" class="font-red posA Tip"></span>
				<input id="selectdata" class="anim-input  noCancel" type="text" maxlength="7" placeholder="请输入日期，格式为“月-年”" name="exp">
				<div id="dataCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
			</div>
			<div class="dl ui-form-item wdh-per100 posR border-top  ui-textfield" style="overflow: hidden" id="credit-info-cvv2">
				<span id="span-red-cvv2" class="font-red posA Tip"></span>
				<input id="cardcode" class="anim-input  noCancel" type="tel" autocomplete="on" maxlength="3" placeholder="请输入卡验证码" name="cvv2">
				<div id="cardCodeCan" class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
			</div>
			<!--信用卡-->
			<div class="ui-form-item border-top  posR  ui-textfield false">
				<span id="span-red-phone" class="font-red posA Tip"></span>
				<input id="phone-num" class="debit  anim-input" type="tel" autocomplete="on" value="" maxlength="11" placeholder="请输入银行预留的手机号码" name="mobile">
				<div class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
			</div>
			<div class="ui-form-item border-top  posR  ui-textfield false">
				<span id="span-red-code" class="font-red posA Tip"></span>
				<input id="pic-code" class="debit  anim-input" type="text" autocomplete="on" value="" maxlength="11" placeholder="请输入右侧验证码" name="imgcode" style="width:50%;">
				<div class="rightCode posA">
					<img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" class="fl" height="40"/>
				</div>
			</div>
		</div>
		<div id="confirmBtn" name="auth-next" class="makeSurebtn">
			<span id="span-red-all" class="font-red posA Tip"></span>
			确定提交
			<input type="hidden" autocomplete="on" name="name" value="<{$name}>">
			<input type="hidden" autocomplete="on" name="idcardno" value="<{$idcardno}>">
		</div>
		<div id="btnProtcol" class="text-not-attention text-attention textcont top col-999999 marginauto">我已阅读<a class="link-col" href="<{$CBW_URL}>/article/43.html" target="_blank" id="xieyi">《草包网快捷支付服务协议》</a> </div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->