<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-binding.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<div class="con">
		<div class="header">
			<div class="middle clearfix">
				<div class="user_pic">
					<a href="#"><img src="<{$picURL}>" onerror="javascript:this.src='/Public/User/default.jpg';"></a>
				</div>
				<div class="user_name">
					<p class="name"><eq name="nickName" value="">空白<else /><{$nickName}></eq></p>
					<p class="account">帐号：123123</p>			
				</div>
			</div>
			<span class="master"><a href="#">申请加盟 &gt;</a></span>	</div>
		<div class="classify clearfix">
			<a href="#">
				<strong>0</strong>
				<span>我的订单</span>
			</a>
			<a href="#" class="middle">
				<strong>0</strong>
				<span>购物车</span>
			</a>
			<a href="#">
				<strong>0</strong>
				<span>草包豆</span>
			</a>
			<a href="#">
				<strong>0</strong>
				<span>好友圈</span>
			</a>
		</div>
		<div class="list">
			<ul class="clearfix">
				<li>
					<a href="#">
						<img src="/Public/Mobile/images/1.png" alt="">
						<p>账户余额</p>
					</a>
					<!-- <span><b>￥</b>0.00</span> -->
				</li>
							<li>
					<a href="#"><img src="/Public/Mobile/images/3.png">
						<p>支付管理</p>
					</a>
				</li>
				<li>
					<a href="#"><img src="/Public/Mobile/images/4.png">
						<p>地址管理</p>
					</a>
				</li>
				<li>
					<a href="#"><img src="/Public/Mobile/images/5.png">
						<p>帮助中心</p>
					</a>
				</li>
				<li>
					<a href="#"><img src="/Public/Mobile/images/6.png">
						<p>售后中心</p>
					</a>
				</li>
				<li>
					<a href="#"><img src="/Public/Mobile/images/7.png">
						<p>安全中心</p>
					</a>
				</li>	
				<li>
					<a href="#"><img src="/Public/Mobile/images/8.png">
						<p>分享二维码</p>
					</a>
				</li>
				<li>
					<a href="#"><img src="/Public/Mobile/images/9.png">
						<p>回馈规则</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="btn"><a href="#" onclick="return confirm('您确定要退出吗？');" class="logout">退出登录</a></div>
	</div>
	<div class="binding_phone">
		<div class="main_box">
			<h2>绑定手机号码</h2>
			<p class="tips"></p>
			<div class="content">
				<div class="phone"><input style="font-size:14px;" type="tel" name="mobile" id="mobile" placeholder="请输入手机号码" class="input_common"  autocomplete="off"/></div>
				<div class="phone_code clearfix">
					<input style="font-size:14px;" type="tel" id="smscode" name="smscode" class="input_common input_short input_code" placeholder="请输入验证码"  autocomplete="off"/>
					<button class="button_common button_code" id="send_code">获取验证码</button>
				</div>
				<div class="img_code clearfix">
					<input style="font-size:14px;" type="text" id="img_code" name="imgcode" class="input_common input_short input_code" value="" placeholder="图形验证码" maxlength="4" autocomplete="off">
					<img src="<{:U('Users/getArithVerify')}>" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新">
				</div>
				<p>注：手机号作为您账户的唯一标识，用于身份验证，会员优惠等用途</p>
				<input type="hidden" name="openId" value="<{$openId}>" />
				<input type="hidden" name="partnerId" value="<{$partnerId}>" />
				<input type="hidden" name="nickName" value="<{$nickName}>" />
				<input type="hidden" name="picURL" value="<{$picURL}>" />
				<input type="hidden" name="platform" value="<{$platform}>" />
				<button class="button_common submit">提交</button>
			</div>
		</div>
	</div>
	<div class="img_bg">
		<img width="80%" src="__PUBLIC__/Mobile/images/cbtit.png" />
	</div>
	<footer>
		<ul class="clearfix">
			<li class="first current">
				<a href="<{$CBW_URL}>">
					<strong><img src="/Public/Mobile/images/footer1.png"></strong>
					<span>首页</span>
				</a>
			</li>
			<li class="second">
				<a href="<{$CBW_URL}>/repair/select.html">
					<strong><img src="/Public/Mobile/images/footer4.png"></strong>
					<span>修手机</span>
				</a>
			</li>
			<li class="five">
				<a href="<{$CBW_URL}>/recovery/select.html">
					<strong><img src="/Public/Mobile/images/footer5.png"></strong>
					<span>收手机</span>
				</a>
			</li>
			<li class="third">
				<a href="<{$CBW_URL}>/index/service.html" onclick="if(confirm('需要联系在线客服吗？')==false)return false;" target="_blank" class="kefu">
					<strong><img src="/Public/Mobile/images/footer3.png"></strong>
					<span>客服</span>
				</a>
			</li>
			<li class="four">
				<a href="<{$CBW_URL}>/users/index.html">
					<strong><img src="/Public/Mobile/images/footer2.png"></strong>
					<span>我</span>
				</a>
			</li>
		</ul>
	</footer>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		
		//手机号码
		function check_phone() {
			if (/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/.test($("#mobile").val())) return true;
		}
		
		// 检查手机号码是否有发送记录
		$('#mobile').on('input', function(event) {
			var mobile = $('input[name=mobile]').val();
			if(mobile.length == 11){
				$.post('__CONTROLLER__/checkMobileSms', {'mobile':mobile}, function (d){
					var data = JSON.parse(d);
					if(data['code'] > 0){
						$(".img_code").hide();
						$(".phone_code").show();
						$("#smscode").css("width","100%");
						$("#send_code").hide();
					}else{
						$(".img_code").show();
						$(".phone_code").hide();
						$("#smscode").css("width","50%")
						$("#send_code").show();
					}
				});
			}
		});
		
		//发送验证码
		$('#send_code').click(function(event) {
			var mobile = $('input[name=mobile]').val();
			if (!check_phone()) {
				clearInterval(timer);
				$(".tips").text("请输入正确的手机号码").css("color","#ff4444");
			}else{
				$.post('__CONTROLLER__/sendSms', {'mobile':mobile, 'tempid':'SMS_116560959','testid':'10'}, function (d){
					var data = JSON.parse(d);
					if(data['status'] > 0){
						clearInterval(timer);
						timer = setInterval(settime,1000);
						$(".tips").text("验证码第"+data['status']+"次成功发送，8小时内有效").css("color","#535353");
					}else{
						$(".tips").text(data['msg']).css("color","#ff4444");
						return false;
					}
				});
			}
		});
		//提交
		$(".submit").click(function(event) {
			var flag = true;
			if (!check_phone()) {
				$(".tips").text("请输入正确的手机号码").css("color","#ff4444");
				flag = false;
			}
			if (flag) {
				$(".tips").text("");
				var mobile    = $('input[name=mobile]').val();
				var smscode   = $('input[name=smscode]').val();
				var openId    = $('input[name=openId]').val();
				var partnerId = $('input[name=partnerId]').val();
				var nickName  = $('input[name=nickName]').val();
				var picURL    = $('input[name=picURL]').val();
				var platform  = $('input[name=platform]').val();
				$.post('__CONTROLLER__/doBindingMobile', {'mobile':mobile, 'smscode':smscode, 'openId':openId, 'partnerId':partnerId, 'nickName':nickName, 'picURL':picURL, 'platform':platform}, function (d){
					var data = JSON.parse(d);
					if(data['status'] > 0){
						window.location.href="__CONTROLLER__/index.html";
					}else{
						$(".tips").text(data['msg']).css("color","#ff4444");
						return false;
					}
				});
			}
		});
		//图形验证码
		$(".binding_phone").delegate("#img_code","input",function(){
			var _this = $(this);
			var imgcode = $('input[name=imgcode]').val();
			if(imgcode.length > 0){
				$.post('__CONTROLLER__/checkAjaxVerify', {'code':imgcode}, function (data) {
					if(data){
						$(".tips").text("");
						_this.parents(".img_code").hide();
						$(".phone_code").show();
					}else{
						$(".tips").text("图形验证码错误").css("color","#ff4444");
					}
				});
			}
		});
		/*
		定时器
		*/
		var endtime=60; 
		var timer;
		function settime() {
			var obj = $("#send_code")
			if (endtime == 0) { 
				obj.removeAttr("disabled");    
				obj.html("重新发送"); 
				endtime = 60; 
				return;
				
			} else { 
				obj.attr("disabled", "disabled").css({"background":"#eee","borderColor":"#dcdcdc","color":"#313131"}); 
				obj.html("重新发送(" + endtime + ")"); 
				endtime--; 
			} 
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->