<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-addcard.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>快捷卡</h1>
	</header>
	<div class="con">
		<div class="header posR clearfix">
			<p id="realname-tip" class="basicAttention ft-24px col-999999">您正在修改快捷卡的手机信息</p>
		</div>
		<div class="nameAndId col-bgw">
			<div id="rn-card-type" class="ui-form-item border-top posR  ui-textfield">
				<span class="font-redsp font-black posA Tip">银行卡</span>
				<div id="cardtypeh" class=" debit anim-input  noCancel"><{$card.name}>(<{$card.card_no|hidestr='card'}>)</div>
			</div>
			<div class="ui-form-item border-top  posR  ui-textfield false">
				<span id="span-red-phone" class="font-red posA Tip"></span>
				<input id="phone-num" class="debit  anim-input" type="tel" autocomplete="on" value="" maxlength="11" placeholder="请输入银行预留的手机号码" name="mobile">
				<div class="rightCancel posA dn"><span class="posA">&#xe602;</span></div>
			</div>
		</div>
		<div id="confirmBtn" name="user-edit-card" data-id="<{$card.id}>" class="makeSurebtn">
			<span id="span-red-all" class="font-red posA Tip"></span>
			同意协议并确定
		</div>
		<div id="btnProtcol" class="text-not-attention text-attention textcont top col-999999 marginauto">我已阅读<a class="link-col" href="http://192.168.1.250/mobile.php/article/43.html" target="_blank" id="xieyi">《草包网快捷支付服务协议》</a> </div>
		<div class="textcont top col-999999 marginauto">请确认您在银行修改的手机号码</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->