<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-edit.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>个人资料</h1>
	</header>
	<div class="con info">
		<form id="userinfo" action="<{:U('Users/updateinfo')}>" method="post">
		<div class="rope">
			<p class="prompt"><span class="text">昵称：</span></p>
			<input class="text" type="text" name="uname" value="<{$user.uname}>" placeholder="您的网络昵称">
		</div>
		<eq name="groupId" value="">
		<div class="rope">
			<p class="prompt">
				<span class="text">姓名：</span>
				<input class="text" type="text" name="true_name" value="<{$user.true_name}>" placeholder="您的真实姓名">
		</div>
		</eq>
		<div class="rope">
			<p class="prompt">
				<span class="text">性别：</span>
			</p>
			<div class="selectedset">
				<input id="sex2" class="radio" type="radio" name="sex" value="1" <eq name="user.sex" value="1">checked</eq>><span>&#xe607;</span>
			</div>
			<label for="sex2">男士</label>
			<div class="selectedset">
				<input id="sex3" class="radio" type="radio" name="sex" value="2" <eq name="user.sex" value="2">checked</eq>><span>&#xe607;</span>
			</div>
			<label for="sex3">女士</label>
			<div class="selectedset">
				<input id="sex1" class="radio" type="radio" name="sex" value="0" <eq name="user.sex" value="0">checked</eq>><span>&#xe607;</span>
			</div>
			<label for="sex1">保密</label>
		</div>
		<eq name="groupId" value="">
		<div class="rope citys">
			<p class="prompt"><span class="text">现居地：</span></p>
			<{$city.str}>
			<input class="text" type="text" name="address" value="<{$user.address}>" placeholder="详细地址">
		</div>
		</eq>
		<p class="serve">保存</p>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// 城市三级联动
        <{$city.script}>

		$(".con").delegate('.serve', 'click', function(event) {
            var input = $('.info input');
            for(var a = 0;a < input.length;a++){
                if((!$(input[a]).val() || $(input[a]).val() == ' ') && $(input[a]).attr('type') != 'hidden'){
                    alert('请输入' + $(input[a]).attr('placeholder'));
                    return false;
                }
            }
            var select = $('.info select');
            for(var b = 0;b < select.length;b++){
                if(!$(select[b]).val() || $(select[b]).val() == 0){
                    alert('请检查城市地区选择');
                    return false;
                }
            }
            $('form#userinfo').submit();
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->