<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-explain.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>永久赚钱</h1>
	</header>
	<div class="con">
		<div class="lst">
			<p>一份辛勤，一份收获，只要您足够勤奋，草包网一定会给你带来意想不到的财富</p>
				
			<p>规则如下：个人中心的推广二维码和维修系统海报下载里的二维码是同步的，都属于店铺专属二维码，都有培养粉丝功能。粉丝来源：可以通过手机端分享让周围朋友圈扫描此二维码，扫描后将成功关注草包网公众号也同时成为店铺账号下好友圈成员及粉丝。或者去维修系统首页海报下载里，花2-3元 印刷各类海报，张贴于本店。推荐用户关注。</p>
				
			<p>成为本店粉丝的好处：该粉丝无论任何时候，一次或多次购买草包商城产品，零售价与批发价之前的利润，自动归结于本店账号名下，永久消费挂钩。比如：iphone5s显示屏零售价260，批发价150，本店粉丝购买后这110的利润将归结于你账号下，7天之后随意提取。多销多得。</p>
				
			<p>保护协议：一经成功关注，永久属于该店铺名下，其他店铺重复推广无效。强烈建议广大维修入驻店铺自行印刷专属海报。</p>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	
</block>
<!-- 底部JS执行区域 结束 -->














