<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-forget.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>找回密码</h1>
	</header>
	<div class="con">
		<div class="accounts"><input type="text" name="loginname" placeholder="请输入手机号"/></div>
		<div class="code img">
			<!--<input type="text" name="codeimg" placeholder="请输入图形验证码"/>-->
			<!--<span class="codeimg"><img src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" /></span>-->
			<button class="tencent_code" id="TencentCaptcha">安全验证</button>
		</div>
		<div class="code sms"><input type="text" name="codeword" placeholder="请输入短信验证码"/><span class="codesend">点击获取</span></div> 
		<div class="password">
			<input type="password" name="password" placeholder="请输入6-16个数字和字母的组合"/>
		</div>
		<div class="tips"></div>
		<div class="button"><a href="javascript:;" class="forget">提交</a></div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
	<script type="text/javascript">
        $(document).delegate('#TencentCaptcha','click',function(){  //验证码
            // 绑定一个元素并手动传入场景Id和回调
            var captcha1 = new TencentCaptcha(
                document.getElementById('TencentCaptcha'),
                '<{$appid}>',
                function(res) {
                    if(res.ret === 0) {
                        //验证票据
                        var ticket = res.ticket
                        var randstr = res.randstr
                        $.post("__CONTROLLER__/checkTencentImgCode", {'ticket': ticket,'randstr': randstr}, function(d){
                            if(d){
                                $('.img').hide();
                                $('.sms').show();
                                $('.tips').hide();
                            }else{
                                captcha1.show();
                            }
                        });
                    }
                }
            );
            captcha1.show();
		}).delegate('.codesend','click',function(){  // 发送短信验证码
			var _this = $(this);
			if(_this.hasClass('disabled')){return false;}
			var mobile = $.trim($('input[name=loginname]').val());
			var mobileReg = !!mobile.match(/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/);
			if(!mobileReg){
				$('.tips').text("请检查您的手机号码格式是否正确").show();
				return false;
			}
			_this.text('发送中...');
			var time = parseInt(90);
			var statue = true;
			$.post("__CONTROLLER__/sendSms", {'mobile': mobile, 'tempid': 'SMS_116560959','testid':'9'}, function(d){
				var data = JSON.parse(d);
				if (data['status'] > 0){//发送成功
					$('.tips').text("短信验证码第"+data['status']+"次成功发送，8小时内有效");
					_this.prop('disabled', true).addClass('disabled');
					statue = true;
				} else{
					$('.tips').text(data['msg']);
					statue = false;
				}
				if(statue == false){
					_this.text('获取短信');
					return false;
				}else{
					var t = setInterval(function(){
						time--;
						_this.text('已发送(' + time + ')');
						if (time == 0) {
							clearInterval(t);
							_this.text("重新获取");
							_this.prop('disabled', false).removeClass('disabled');
							$('.tips').empty();
						}
					}, 1000);
				}
			});
		}).delegate('.forget','click',function(){     // 提交
			var loginName = $.trim($('input[name=loginname]').val());
			var loginPwd  = $.trim($('input[name=password]').val());
			var codeword  = $.trim($('input[name=codeword]').val());
			
			if(loginName==""){
				$(".tips").html("请检查您的手机号码格式是否正确").show();
				return false;
			}
			if(codeword==""){
				$(".tips").html("短信验证码不能为空").show();
				return false;
			}
			if(loginPwd==""){
				$(".tips").html("登录密码不能为空").show();
				return false;
			}
			
			$.post('__CONTROLLER__/findPass',{'loginName':loginName,'loginPwd':loginPwd,'codeword':codeword},function(d){
				var data = JSON.parse(d);
				if(data.status=='1'){
					location.href=data.refer;
				}else if(data.status=='-1'){
					$(".tips").html(data.msg).show();
				}else if(data.status=='-2'){
					$(".tips").html(data.msg).show();
				}else if(data.status=='-3'){
					$(".tips").html(data.msg).show();
				}else if(data.status=='-4'){
					$(".tips").html(data.msg).show();
				}
			});
        });
	</script>
</block>
<!-- 底部JS执行区域 结束 -->