<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-friends.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>我的好友</h1>
	</header>
	<div class="con">
		<div class="lst">
			<empty name="friends">
			<div class="empty">一个好友都没有? 赶紧 <a href="<{:U('Users/share')}>">邀请好友</a> !!</div>
			<else />
			<ul class="friends_list">
				<foreach name="friends" item="vo">
				<li>
					<div class="img_box">
						<img src="<{$vo.headimgurl}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" />
					</div>
					<div class="text_box">
						<p class="name clearfix">
							<strong><{$vo.nickname}></strong>
							<span class="span_right">消费：<em><{$vo.money}>元</em></span>
						</p>
						<p class="time">
							<span class="left">成为好友时间：<time><{$vo.times}></time></span>
						</p>
						<p class="profit">
							<span class="profit_left">收益：<em><{$vo.harvest}>元</em></span>
						</p>
					</div>
				</li>
				</foreach>
			</ul>
			</empty>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		// dropload
		var counter = 0;
		$('.lst').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreFriends',
				dataType: 'json',
				data: {'counter':counter, 'num':num },
				success: function(data){
					var html = '';
					if(data){
						for(var a = 0;a < data.length;a++){
							html += '<li>';
							html += '	<div class="img_box">';
							html += '		<img src="'+ data[a]['headimgurl'] +'" onerror="javascript:this.src=\'__PUBLIC__/User/default.jpg\';" />';
							html += '	</div>';
							html += '	<div class="text_box">';
							html += '		<p class="name clearfix">';
							html += '			<strong>'+ data[a]['nickname'] +'</strong>';
							html += '			<span class="span_right">消费：<em>'+ data[a]['money'] +'元</em></span>';
							html += '		</p>';
							html += '		<p class="time">';
							html += '			<span class="left">成为好友时间：<time>'+ data[a]['times'] +'</time></span>';
							html += '		</p>';
							html += '		<p class="profit">';
							html += '			<span class="profit_right">待收益：<em>'+ data[a]['wait'] +'</em> 元</span>';
							html += '			<span class="profit_left">收益：<em>'+ data[a]['harvest'] +'</em> 元</span>';
							html += '		</p>';
							html += '	</div>';
							html += '</li>';
							
							
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.friends_list').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();        // 锁定
						me.noData();      // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					//alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->