<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-index.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
<header style="display:none;"></header>
<div class="con">
	<div class="header">
		<div class="middle clearfix">
			<div class="user_pic">
				<a href="<{:U('Users/info')}>"><img src="__PUBLIC__/User/<{$user.thumb}>" onerror="javascript:this.src='__PUBLIC__/User/default.jpg';" /></a>
			</div>
			<div class="user_name">			
				<p class="name">
					<{$user.uname}>
					<if condition="$user['group_id'] eq 1"><span class="store">店</span></if>
					<span class="<eq name="user.vip" value="1">vip<else />novip</eq>">VIP</span>
				</p>
				<if condition="($user['group_id'] eq 0) AND ($user['is_agent'] eq 0)"><p class="account">帐号：<{$user.account}></p></if>
				<if condition="$user['vip'] eq 1">
					<p class="date">VIP会员<{$user.vip_time|date="Y-m-d",###}>到期</p>
					<a href="<{:U('Vip/purchase')}>" class="purchase">续费VIP服务</a>
				</if>
			</div>
		</div>
		<if condition="$user['group_id'] gt 0">
		<span class="master"><a href="<{:U('System/index')}>">我的店铺 ><if condition="$offerCount gt 0"><i class="icons-circle"></i></if></a></span>
		<else />
		<span class="master"><a href="<{:U('Index/special')}>">申请加盟 ></a></span>
		</if>
	</div>
	<div class="classify clearfix">
		<a href="<{:U('Orders/index')}>">
			<strong><{$orderCount}></strong>
			<span>我的订单</span>
		</a>
		<a href="<{$CBW_URL}>/buy/cart.html" class="middle">
			<strong><eq name="Think.session.gws_count" value="">0<else /><{$Think.session.gws_count}></eq></strong>
			<span>购物车</span>
		</a>
		<a href="<{:U('Users/virtuals')}>">
			<strong><{$user.virtual_money}></strong>
			<span>草包豆</span>
		</a>
		<if condition="$user['group_id'] eq 1">
		<a href="<{:U('Users/friends')}>">
			<strong><{$user.fans}></strong>
			<span>好友圈</span>
		</a>
		</if>
	</div>
	<div class="list">
		<ul class="clearfix">
			<li>
				<a href="<{:U('Users/money')}>">
					<img src="__PUBLIC__/Mobile/images/1.png"  alt="" />
					<p>账户余额</p>
				</a>
			</li>
			<if condition="$user['is_agent'] eq 1">
			<li>
				<a href="<{:U('Agent/index')}>">
					<img src="__PUBLIC__/Mobile/images/2.png" />
					<p>代理中心</p>
				</a>
			</li>
			</if>
			<li>
				<a href="<{:U('Users/pay')}>"><img src="__PUBLIC__/Mobile/images/3.png" />
					<p>支付管理</p>
				</a>
			</li>
			<li>
				<a href="<{:U('Address/index')}>"><img src="__PUBLIC__/Mobile/images/4.png" />
					<p>地址管理</p>
				</a>
			</li>
			<li>
				<a href="<{$CBW_URL}>/article/" ><img src="__PUBLIC__/Mobile/images/5.png" />
					<p>帮助中心</p>
				</a>
			</li>
			<li>
				<a href="<{:U('Service/index')}>"><img src="__PUBLIC__/Mobile/images/6.png" />
					<p>售后中心</p>
				</a>
			</li>
			<li>
				<a href="<{:U('Users/security')}>"><img src="__PUBLIC__/Mobile/images/7.png" />
					<p>安全中心</p>
				</a>
			</li>
			<if condition="$user['group_id'] eq 1">			
			<li>
				<a href="<{:U('Users/share', array('id'=>$user['id']))}>"><img src="__PUBLIC__/Mobile/images/8.png" />
					<p>推广二维码</p>
				</a>
			</li>
			<li>
				<a href="<{:U('Users/explain')}>"><img src="__PUBLIC__/Mobile/images/9.png" />
					<p>永久赚钱</p>
				</a>
			</li>
			</if>
		</ul>
	</div>
	<div class="btn"><a href="<{:U('Users/logout')}>" onclick="return confirm('您确定要退出吗？');" class="logout">退出登录</a></div>
</div>
<div class="img_bg">
	<img width="80%" src="__PUBLIC__/Mobile/images/cbtit.png" />
</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->