<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-info.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
        <h1><div class="return"><span>&#xe61d;</span></div>个人资料</h1>
	</header>
	<div class="con">
	   <div class="head_pic clearfix">
		<a href="<{:U('Users/avatar')}>">
			<span>头像</span>
			<div class="right">
				<img src="__PUBLIC__/User/<{$user.thumb}>" />
				<i>&#xe60f;</i>
			</div>
		</a>
	   </div> 
	   <div class="news_pic clearfix">
		   <ul>
				<li class="clearfix">
					<a href="javascript:void(0);">
						<span>帐号</span>
						<div class="right">
							<strong><{$user.account}></strong>
							<i>&#xe60f;</i>
						</div>
					</a>
			   </li>
			   <li class="clearfix">
				 <a href="<{:U('Users/edit')}>">
					<span>昵称</span>
					<div class="right">
						<strong><{$user.uname}></strong>
						<i>&#xe60f;</i>
					</div> 
				</a>
				  
			   </li>
			   <li class="clearfix">
				  <a href="<{:U('Users/edit')}>">
					<span>真实姓名</span>
					<div class="right">
					  <strong><{$user.true_name}></strong>
					  <i>&#xe60f;</i>
					</div> 
				  </a>
			   </li>
			   <li class="clearfix">  
				  <a href="<{:U('Users/edit')}>">
					<span>性别</span>
					<div class="right">
					  <strong><eq name="user.sex" value="1">男</eq><eq name="user.sex" value="2">女</eq><eq name="user.sex" value="0">保密</eq></strong>
					  <i>&#xe60f;</i>
					</div> 
				 </a>
			   </li>
			   <li class="clearfix">
				 <a href="<{:U('Users/edit')}>">
					<span>现居地</span>
					<div class="right">
					  <strong><{$user.address}></strong>
					  <i>&#xe60f;</i>
					</div>
				 </a>
			   </li>
		   </ul>
	   </div> 
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->