<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-login.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="returnUrl"><a href="<{$CBW_URL}>">&#xe61d;</a></div>登录</h1>
	</header>
	<div class="con">
		<!--<div class="hd">
			<ul class="clearfix">
				<li class="on" data-id="0">动态密码登录</li>
				<li data-id="1">账号登录</li>
			</ul>
		</div>-->
		<div class="bd">
			<div class="tab">
				<div class="accounts"><input type="text" name="loginname" placeholder="请输入您的手机号码"/></div>
				<div class="password"><input type="password" name="password" placeholder="请输入密码"/></div>
                <!--<div class="code">
                    <input type="text" name="codeword" placeholder="请输入短信验证码"/><span class="codesend">点击获取</span>
                </div>-->
				<div class="tips"></div>
				<div class="rope">
					<button id="TencentCaptcha" data-appid="<{$appid}>" data-cbfn="callback">登录</button>
				</div>
				<div class="rope">
					<span class="acc">
						<a class="fgtWd" href="<{:U('Users/forget')}>">忘记密码？</a>
					</span>
					<span class="mobile"><{$test}>
						<if condition="($agent neq 1)">
						<a id="web" class="reg" href="<{:U('Users/regist')}>">新会员注册</a>
						<else />
						<a id="web" class="reg" href="<{:U('Users/login',array('type'=>'weixin'))}>">新会员注册</a>
						</if>
						<a id="app" class="reg" href="#" onclick="WxLogin()">新会员注册</a>
					</span>
				</div>
				<div class="login_extinfo">
					<dl>
						<dt class="optbar"><span class="tit">合作网站账号登录</span></dt>
						<dd>
							<ul class="api_login clearfix">
								<li id="web"><a href="<{:U('Users/login',array('type'=>'weixin'))}>" class="api-wechat" title="微信授权登录"><span></span></a></li>
								<li id="app"><a href="#" onclick="WxLogin()" class="api-wechat" title="微信APP登录"><span></span></a></li>
							</ul>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/YdbOnline.js"></script>
	<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
</block>
<!-- js文件部分 结束 -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
        //腾讯验证码
        window.callback = function(res){
            if(res.ret === 0) {
                //验证票据
                var ticket = res.ticket
                var randstr = res.randstr
                var loginType = 1;
                var loginName = $.trim($('input[name=loginname]').val());
                var loginPwd = $.trim($('input[name=password]').val());
                //var loginCode = $.trim($('input[name=codeword]').val());//短信验证码
                //var imgcode = $.trim($('#imgCodeInput').val());//验证码

                if (loginName == "" || loginPwd == "") {
                    $(".tips").html("登录账号、密码不能为空").show();
                    return false;
                }
                $.post('__CONTROLLER__/doLogin', {
                    'loginType': loginType,
                    'loginName': loginName,
                    'loginPwd': loginPwd,
                    'ticket': ticket,
                    'randstr': randstr
                }, function (d) {
                    var data = JSON.parse(d);
                    if (data.status == -5) {
                        $(".tips").html("登陆失败,验证码错误").show();
                    } else if (data.status == -4) {
                        $(".tips").html("登陆失败,验证码超时").show();
                    } else if (data.status == -3) {
                        $(".tips").html("账号被锁,请联系客服").show();
                    } else if (data.status == -2) {
                        $(".tips").html("非法请求!").show();
                    } else if (data.status == -1) {
                        $(".tips").html("未知错误,请联系客服").show();
                    } else if (data.status == 0) {
                        $('.tips').html('账号或密码错误').show();
                    } else {
                        location.href = data.refer;
                    }
                });
            }
        }

		$(document).ready(function(){
			var ua = navigator.userAgent;    // 获取当前的useragent
			if (ua.indexOf('CK 2.0') > -1){  // 判断当前的ua中是否包含"CK 2.0"，如果包含"CK 2.0"标识当前在CK 2.0的应用中
				$(".mobile #web, .login_extinfo #web").hide();
				$(".mobile #app, .login_extinfo #app").show();
			}else{
				$(".mobile #web, .login_extinfo #web").show();
				$(".mobile #app, .login_extinfo #app").hide();
			}
		});

		//微信快捷登录
		function WxLogin() {
            var YDB = new YDBOBJ();
            YDB.WXLogin(1, "<{$CBW_URL}>/users/appwechatlogin.html");
        }

        //短信登录
        // $('.con').delegate('.hd ul li','click',function(){    // 登录类型切换
        //     var _this = $(this);
        //     if(_this.hasClass('on')){return false;}
        //     var id = _this.attr('data-id');
        //     _this.addClass('on').siblings('li').removeClass('on');
        //     if(id == 0){
        //         $('div.password').slideUp();
        //         $('div.code').slideDown();
			// 	$('input[name=loginname]').attr('placeholder','请输入您的手机号码');
        //         BtnFix($('div.code'),$('.codeword'));
        //     }else if(id == 1){
        //         $('div.password').slideDown();
        //         $('div.code').slideUp();
			// 	$('input[name=loginname]').attr('placeholder','请输入邮箱或者手机号');
        //     }
        // }).delegate('.codesend','click',function(){  // 发送短信验证码
			// var _this = $(this);
			// if(_this.hasClass('disabled')){return false;}
			// var mobile = $.trim($('input[name=loginname]').val());
			// var mobileReg = !!mobile.match(/^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/);
			// if(!mobileReg){
			// 	$('.tips').text("请检查您的手机号码格式是否正确").show();
			// 	return false;
			// }
			// _this.text('发送中...');
			// var time = parseInt(90);
			// var statue = true;
			// $.post("__CONTROLLER__/sendSms", {'mobile': mobile, 'tempid': 'SMS_116560959','testid':'8', 'ischeck':1}, function(d){
			// 	var data = JSON.parse(d);
			// 	if (data['status'] > 0){//发送成功
			// 		$('.tips').text("短信验证码第"+data['status']+"次成功发送，8小时内有效");
			// 		_this.prop('disabled', true).addClass('disabled');
			// 		statue = true;
			// 	} else{
			// 		$('.tips').text(data['msg']);
			// 		statue = false;
			// 	}
			// 	if(statue == false){
			// 		_this.text('获取短信');
			// 		return false;
			// 	}else{
			// 		var t = setInterval(function(){
			// 			time--;
			// 			_this.text('已发送(' + time + ')');
			// 			if (time == 0) {
			// 				clearInterval(t);
			// 				_this.text("重新获取");
			// 				_this.prop('disabled', false).removeClass('disabled');
			// 				$('.tips').empty();
			// 			}
			// 		}, 1000);
			// 	}
			// });
        // //}).delegate('.login','click',function(){     // 登录
        //     //var loginType = $('.hd').find('li.on').attr('data-id');
        // });
		
        // function BtnFix(obj,item){ // 按钮位置修复
        //     var objInput = obj.find('input');
        //     var right = (obj.width() - objInput.outerWidth()) / 2;
        //     item.css({'right':right+'px'});
        // }
	</script>
</block>
<!-- 底部JS执行区域 结束 -->