<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-money.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>我的钱包</h1>
	</header>
	<div class="con">
		<div class="money">
			<div class="usable">
				<strong><{$user.allow|number_format=2,'.',''}></strong>
				<p>可提现余额（元）</strong>
			</div>
			<div class="other">
				<div class="allmoner">
					<p>账户余额（元）</p>
					<strong><{$user.money|number_format=2,'.',''}></strong>
				</div>
				<div class="allmoner">
					<p>冻结余额（元）</p>
					<strong><{$user.frozen_money|number_format=2,'.',''}></strong>
				</div>
			</div>
		</div>
		<div class="balance">
			<h2><a href="<{:U('Users/moneys')}>" >账户收支明细<i>&#xe60f;</i></a></h2>
			<ul>
				<foreach name="moneys" item="vo">
				<li>
					<div class="clearfix">
						<div class="left Fleft">
							<span><{$vo.create_time|date="m-d",###}></span>
							<span><{$vo.create_time|date="H:i",###}></span>
						</div>
						<div class="middle Fleft">
							<div class="item">
								<eq name="vo.event" value="1"><span class="return">退款</span></eq>
								<eq name="vo.event" value="2"><span class="settlement">结算</span></eq>
								<eq name="vo.event" value="3"><span class="recovery">回收</span></eq>
								<eq name="vo.event" value="6"><span class="profit">收益</span></eq>
								<eq name="vo.event" value="4"><span class="withdraw">提现</span></eq>
								<eq name="vo.event" value="5"><span class="recharge">充值</span></eq>
								<eq name="vo.event" value="7"><span class="pay">支付</span></eq>
							</div>
						</div>
						<div class="right Fleft">
							<eq name="vo.type" value="1">
							<span class="in">+<{$vo.val}></span>
							<else />
							<span class="out">-<{$vo.val}></span>
							</eq>
							<p><{$vo.order.order_sn}> <{$vo.remarks}></p>
						</div>
					</div>
				</li>
				</foreach>
			</ul>
			<a class="withdraw_btn" href="<{:U('Users/withdraw')}>">提现</a>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->