<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-mybank.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>保存银行卡</h1>
	</header>
	<div class="con">
		<foreach name="cards" item="vo">
			<p class="clearfix cart">
				<a href="<{:U('Users/withdraw', array('id'=>$vo['id']))}>">
					<img src="__PUBLIC__/Bank/<{$vo.picture}>" />
					<span><eq name="vo.card_type" value="C"><em class="credit">信用卡</em><else /><em>储蓄卡</em></eq>尾数:<{$vo.card_no|substr=-4}></span>
				</a>
			</p>
		</foreach>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->