<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-authcard.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-pay.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>支付管理</h1>
	</header>
	<div class="con">
		<div class="card-center pct100 border-box pt15rn">
			<div class="zfb mlr15rn">
				<strong class="zfbson tit">支付宝</strong>
				<span class="zfbson content"><eq name="user.alipay.alipay" value="">点击添加支付宝账号<else /><{$user.alipay.alipay}> [<{$user.alipay.name}>]</eq></span>
			</div>
			<notempty name="user.card">
			<ul class="card-list pt15rn mlr15rn">
				<foreach name="user.card" item="vo">
				<li style="background-color: #39868D;" id="<{$vo.id}>">
					<div class="info pr">
						<div class="bank-icon pr abs-lm">
						  <img class="abs-mm" src="__PUBLIC__/Bank/<{$vo.picture}>" alt="<{$vo.name}>">
						</div>
						<div class="info-bank abs-lm">
							<eq name="vo.card_type" value="C">
								<p class="fs12 pt5r" id="cardType">信用卡</p>
							<else />
								<p class="fs12 pt5r" id="cardType">储蓄卡</p>
							</eq>
						</div>
					</div>
					<div class="card-no pr">
						<div class="card-dot abs-lm">
							<ul class=""><li></li><li></li><li></li><li></li></ul>
							<ul class=""><li></li><li></li><li></li><li></li></ul>
							<ul class=""><li></li><li></li><li></li><li></li></ul>
						</div>
						<div class="abs-rm fs24 font-bold num" id="cardNoEnd"><{$vo.card_no|substr=-4}></div>
					</div>
				</li>
				</foreach>
			</ul>
			</notempty>
			<a href="<{:U('Users/addCard')}>">
				<div class="add-card pr mlr15rn">
					<div class="word fs18 pr">添加快捷卡</div>
				</div>
			</a>
		</div>
		<div class="menu fixTop fullLayer z10 dn">
			<div class="menu-list fixBottom pct100">
				<div class="feature">
					<h6 class="fs12 ptb15r">您可对 农业银行 尾号3071的 储蓄卡 进行操作</h6>
					<ul class="fs18">
						<li class="bt red">删除</li>
						<li class="bt green">修改</li>
					</ul>
				</div>
				<div class="fcancel ptb20r fs18">取消</div>
			</div>
		</div>
		<div class="filter" id="zfb">
			<div class="bg"></div>
			<div class="filterBx">
				<form id="updatealipay" action="<{:U('Users/updateAlipay')}>" method="post">
					<dl class="clearfix header">
						<dt><i>&#xe60f;</i></dt>
						<dd class="ddName">支付宝</dd>
					</dl>
					<div class="ui-form-item  posR border-top ui-textfield false" id="bankcard">
						<span id="span-red-name" class="font-red posA Tip"></span>
						<input id="username" class=" debit anim-input noCancel" type="text" autocomplete="on" placeholder="请输入持有人姓名" name="name" value="">
					</div>
					<div class="ui-form-item  posR border-top ui-textfield false" id="bankcard">
						<span id="span-red-zfb" class="font-red posA Tip"></span>
						<input id="zfb-no" class="debit anim-input noCancel" type="text" autocomplete="on" placeholder="请输入支付宝帐号" name="alipay" value="">
					</div>
					<div id="confirmBtn" class="makeSurebtn">
						<span id="span-red-all" class="font-red posA"></span>
						确定提交
					</div>
				</form>
			</div>
		</div>
	</div>

</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/users-authcard.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".card-center .card-list  li").click(function(event) {           //打开提示层
			$(".menu").fadeIn(300);
			var banknews = {
				bankname:$(this).find("#bankName").text(),
				banktype:$(this).find("#cardType").text(),
				banktNo:$(this).find("#cardNoEnd").text()
			}
			$(".fixBottom h6").text("您可对 "+banknews.bankname+" 尾号"+banknews.banktNo+"的 "+banknews.banktype+" 进行操作");
			$(".fixBottom ul").attr("id", $(this).attr('id'));
		});
		$(".fixBottom li.red").click(function(event) {                      //删除快捷卡
			var id = $(this).parent('ul').attr('id');
			window.location.href = '__CONTROLLER__/delCard/id/'+id+'.html';
		});
		$(".fixBottom li.green").click(function(event) {                     //修改快捷卡
			var id = $(this).parent('ul').attr('id');
			window.location.href = '__CONTROLLER__/editcard/id/'+id+'.html';
		});
		$(".fcancel").click(function(event) {                                 //关闭提示层
			$(".menu").fadeOut(300);
		});
		$('.zfb').click(function(){                                           // 关闭支付宝层
			$('#zfb').animate({"left":"0"},500);
		});
                             
		$("#zfb-no").bind('input', function(event) {                          //支付宝验证
			var phoneRule =  /^(((1[3456789][0-9]{1})|(15[0-9]{1}))+\d{8})$/;
			var emailRule =  /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
			var zfbNo = $(this).val();
			if($.trim(zfbNo) == ""){
				$("#span-red-zfb").text("请输入您支付宝帐号");
				$(this).siblings('.rightCancel').hide();
			}
			if(!phoneRule.test(zfbNo) && !emailRule.test(zfbNo)){
				$("#span-red-zfb").text("支付宝不正确");
				$(this).parents(".ui-form-item").addClass("false");
				autocheck();
				return false;
			}else{
				$("#span-red-zfb").text("");
				$(this).parents(".ui-form-item").removeClass("false");
				autocheck();
			}
		});
		$("#zfb #confirmBtn,.filterBx .header dt").click(function(event){   //支付宝提交
			if(!$(".ui-form-item").hasClass('false')){
				$("form#updatealipay").submit();
				$("#zfb").animate({"left":"100%"},500);
			}
		});
		function autocheck(){                                                //检查表单是否填写完整
			if(!$(".ui-form-item").hasClass('false')){
				$("#confirmBtn").addClass('col-btn1Gray');
			}else{
				$("#confirmBtn").removeClass('col-btn1Gray');
				$("#span-red-all").text("");
			}
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->