<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-security.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>安全中心</h1>
	</header>
	<div class="con">
		<div class="safe_level">
			安全等级：<strong><if condition="$user['level'] eq 5">高</if><if condition="($user['level'] lt 5) AND ($user['level'] egt 3)">中</if><if condition="$user['level'] lt 3">低</if></strong>
			<p><span class="level<{$user.level}>">&nbsp;</span></p>
		</div>
		<div class="safe_style">
			<p class="tip">建议您绑定所有的安全设置以保障账户安全</p>
			<ul class="clearfix">
				<li class="bdr bdb">
					<div class="pic"><img src="__PUBLIC__/Mobile/images/safe1.png" alt="邮箱绑定" /></div>
					<eq name="user.email_state" value="1">
						<div class="pic_con"><{$user.email}></div>
						<div class="reset delEmail">解除绑定</div>
					<else />
						<div class="pic_con">无</div>
						<div class="reset addEmail">立即绑定</div>
					</eq>
				</li>
				<li class="bdb">
					<div class="pic"><img src="__PUBLIC__/Mobile/images/safe2.png" alt="手机绑定" /></div>
					<eq name="user.mobile_state" value="1">
						<div class="pic_con"><{$user.mobile}></div>
						<div class="reset delPhone">解除绑定</div>
					<else />
						<div class="pic_con">无</div>
						<div class="reset addPhone">立即绑定</div>
					</eq>
				</li>
				<li class="bdr bdb">
					<div class="pic"><img src="__PUBLIC__/Mobile/images/safe3.png" alt="密码安全" /></div>
					<div class="pic_con">
						<egt name="user.pwd_level" value="4">高</egt>
						<eq name="user.pwd_level" value="3">中</eq>
						<elt name="user.pwd_level" value="2">低</elt>
					</div>
					<div class="reset midPswd">修改密码</div>
				</li>
				<li class="bdb">
					<div class="pic"><img src="__PUBLIC__/Mobile/images/safe4.png" alt="支付密码" /></div>
					<neq name="user.pay_password" value="">
						<div class="pic_con none">已设置</div>
						<div class="reset midPaywd">更新密码</div>
					<else />
						<div class="pic_con none">尚未设置支付密码</div>
						<div class="reset midPaywd">立即设置</div>
					</neq>
				</li>
				<li class="bdr">
					<div class="pic"><img src="__PUBLIC__/Mobile/images/safe5.png" alt="实名认证" /></div>
					<neq name="user.true_name" value="">
						<div class="pic_con none"><{$user.true_name|hidestr='name'}></div>
						<div class="reset realName"><{$user.identity|hidestr='idcard'}></div>
					<else />
						<div class="pic_con none">尚未实名认证</div>
						<div class="reset realName"><a href="<{:U('Users/auth')}>">立即实名认证</a></div>
					</neq>
				</li>
			</ul>
		</div>
		<div class="posF hide" id="delEmail">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>解绑邮箱</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<p data-mail="<{$user.email}>">绑定邮箱：<{$user.email}></p>
					</div>
					<div class="tips"></div>
					<div class="rope">
						<button type="button" class="send">发送邮件</button>
					</div>
				</div>
			</div>
		</div>
		<div class="posF hide" id="addEmail">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>邮箱绑定</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<input name="email" type="email" placeholder="电子邮箱" value="" />
					</div>
					<div class="tips"></div>
					<div class="rope">
						<button type="button" class="send">发送邮件</button>
					</div>
				</div>
			</div>
		</div>
		<div class="posF hide" id="delPhone">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>解绑手机</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<p data-mail="<{$user.email}>">绑定手机：<span class="tel"><{$user.mobile}></span></p>
					</div>
					<div class="before">
						<div class="rope ImgCode posR">
							<input type="text" name="ImgCode" placeholder="右图文字" value="" />
							<img class="posA" src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
						</div>
					</div>
					<div class="after">
						<div class="rope mesgCode">
							<input type="text" name="mesgCode" value="" placeholder="短信验证码" />
						</div>
					</div>
					<div class="tips"></div>
					<div class="rope mesg">
						<button type="button" class="sendMesg" >发送短信</button>
						<button type="button" class="submit">提交</button>
					</div>
				</div>
			</div>
		</div>
		<div class="posF hide" id="addPhone">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>绑定手机</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<input type="tel" name="mobile" value="" placeholder="联系电话" />
					</div>
					<div class="before">
						<div class="rope ImgCode posR">
							<input type="text" name="ImgCode" placeholder="右图文字" value="" />
							<img class="posA" src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
						</div>
					</div>
					<div class="after">
						<div class="rope mesgCode">
							<input type="text" name="mesgCode" value="" placeholder="短信验证码" />
						</div>
					</div>
					<div class="tips"></div>
					<div class="rope mesg">
						<button type="button" class="sendMesg" >发送短信</button>
						<button type="button" class="submit">提交</button>
					</div>
				</div>
			</div>
		</div>
		<div class="posF hide" id="payword">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>修改/设置支付密码</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<p data-phone="<{$user.phone}>">绑定手机：<span class="tel"><{$user.mobile}></span></p>
					</div>
					<div class="before">
						<div class="rope ImgCode posR">
							<input type="text" name="ImgCode" placeholder="右图文字" value="" />
							<img class="posA" src="<{:U('Users/getArithVerify')}>" class="code-img" onclick="this.src='<{:U('Users/getArithVerify')}>?' + Math.random()" alt="点击刷新" title="点击刷新" />
						</div>
					</div>
					<div class="after">
						<div class="rope mesgCode">
							<input type="text" name="mesgCode" value="" placeholder="短信验证码" />
						</div>
						<div class="rope">
							<input type="password" name="payword" value="" placeholder="新支付密码" />
						</div>
						<div class="rope">
							<input type="password" name="rePayword" value="" placeholder="重复支付密码" />
						</div>
					</div>
					<div class="tips"></div>
					<div class="rope mesg">
						<button type="button" class="sendMesg">发送短信</button>
						<button type="button" class="submit">提交</button>
					</div>
				</div>
			</div>
		</div>
		<div class="posF hide" id="password">
			<div class="bg"></div>
			<div class="bx80">
				<div class="hd">
					<p>密码修改</p>
					<span class="posA off">&#xe602;</span>
				</div>
				<div class="bd">
					<div class="rope">
						<input name="oldPswd" type="password" placeholder="原密码" value="" />
					</div>
					<div class="rope">
						<input name="newPswd" type="password" placeholder="新密码" value="" />
					</div>
					<div class="rope">
						<input name="reNewPswd" type="password" placeholder="重复密码" value="" />
					</div>
					<div class="tips"></div>
					<div class="rope">
						<button type="button" class="mid">修改</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$('.con').delegate('.addEmail','click',function(){     // 绑定邮箱
				$('#addEmail input').val('');
				$('#addEmail').slideDown(250);
			}).delegate('.delEmail','click',function(){        // 解绑邮箱
				$('#delEmail').slideDown(250);
			}).delegate('.addPhone','click',function(){        // 绑定手机
				$('#addPhone input').val('');
				$('#addPhone').slideDown(250);
				ImgCodeFix($('#addPhone'));
			}).delegate('.delPhone','click',function(){        // 解绑手机
				$('#delPhone input').val('');
				$('#delPhone').slideDown(250);
				ImgCodeFix($('#delPhone'));
			}).delegate('.midPswd','click',function(){         // 修改密码
				$('#password input').val('');
				$('#password').slideDown(250);
			}).delegate('.midPaywd','click',function(){        // 修改支付密码
				$('#midPaywd input').val('');
				$('#payword').slideDown(250);
				ImgCodeFix($('#payword'));
			});
			
			$('.posF').delegate('.off','click',function(){
				$(this).parents('.posF').slideUp(250);
			}).delegate('.send','click',function(){
				var _this = $(this);
				var posF = _this.parents('.posF');
				var id = posF.attr('id');
				if(id == 'addEmail'){
					var email = posF.find('input[name=email]').val();
					if(email == '' || !email){
						posF.find('.tips').text('请填写电子邮箱！');
						return false;
					}else{
						posF.find('.tips').empty();
					}
					var emailReg = /^[A-Za-z0-9d]+([-_.][A-Za-z0-9d]+)*@([A-Za-z0-9d]+[-.])+[A-Za-zd]{2,5}$/;
					var checkEmail = emailReg.test(email);
					if(!checkEmail){
						posF.find('.tips').text('邮箱格式不正确！');
						return false;
					}else{
						posF.find('.tips').empty();
					}
					$.post('__CONTROLLER__/bindEmailSend', {'email':email, 'template':'email_send_binding', 'action':'bind'}, function (d) {
						if(d == -2){
							posF.find('.tips').text('邮箱已绑定其他账号！');
						}else if(d == -1){
							posF.find('.tips').text('账号已绑定邮箱！');
						}else if(d == 1){
							posF.slideUp(250);
							posF.find('.tips').text('邮件发送,请登录邮箱查收！');
						}else if(d == 2){
							posF.find('.tips').text('发送失败！');
						}
					});
				}else if(id == 'delEmail'){
					var email = posF.find('.rope p').attr('data-mail');
					$.post('__CONTROLLER__/bindEmailSend', {'email':email, 'template':'email_send_binding', 'action':'unbind'}, function (d) {
						if(d == 1){
							posF.slideUp(250);
							posF.find('.tips').text('邮件已发送！');
						}else if(d == 2){
							posF.find('.tips').text('发送失败！');
						}
					});
				}
			}).delegate('.mid','click',function(){
				var _this = $(this);
				var posF = _this.parents('.posF');
				var input = posF.find('input');
				for(var a = 0;a < input.length;a++){
					if($(input[a]).val() == '' || !$(input[a]).val()){
						posF.find('.tips').text('请输入密码');
						return false;
					}
					if($(input[a]).val().length < 6){
						posF.find('.tips').text('密码长度不低于6位！');
						return false;
					}
				}
				if($('input[name=newPswd]').val() != $('input[name=reNewPswd]').val()){
					posF.find('.tips').text('输入的两次新密码不一致！');
					return false;
				}
				$.post('__CONTROLLER__/updatepwd', {'password': $('input[name=oldPswd]').val(),'newPassword': $('input[name=newPswd]').val()}, function (d) {
					var data = JSON.parse(d);
					if(data['status'] > 0){
						alert('修改成功!');
						window.location.href = window.location.href;
					}else{
						posF.find('.tips').text(data['msg']);
						return false;
					}
				});
			}).delegate('.sendMesg','click',function(){
				var posF = $(this).parents('.posF');
				var type = posF.attr('id');
				var tel = '';
				var imgCode = posF.find('input[name=ImgCode]').val();
				if(type == 'delPhone' || type == "payword"){
					tel = posF.find('.rope .tel').text();
				}else if(type == 'addPhone'){
					tel = posF.find('input[name=mobile]').val();
					var telReg = !!tel.match(/^(0|86|17951)?(13[0-9]{2}|15[012356789][0-9]|17[678][0-9]|170[059]|18[0-9]{2}|14[57][0-9])[0-9]{7}$/);
					if(!telReg){
						posF.find('.tips').text('请检查您输入的手机号码！');
						return false;
					}
				}
				if(!imgCode || imgCode == '' || imgCode == ' '){
					posF.find('.tips').text('请输入的图形验证码！');
					return false;
				}
				$.post("__CONTROLLER__/sendSms", {'mobile':tel,'imgcode':imgCode,'tempid':'SMS_116560959','testid':'6'},function(d){
					var data = JSON.parse(d);
					if(data['status'] > 0){
						posF.find('.tips').text('验证码第'+data['status']+'次成功发送，8小时内有效！');
						posF.find('.submit').show();
						posF.find('.sendMesg').hide();
						posF.find('.before').hide();
						posF.find('.after').show();
					}else{
						posF.find('.tips').text(data['msg']);
						posF.find('img.posA').click();
						return false;
					}
				});
			}).delegate('.submit','click',function(){
				var posF = $(this).parents('.posF');
				var type = posF.attr('id');
				var code = posF.find('input[name=mesgCode]').val();
				if(!code || code == '' || code == ' '){
					posF.find('.tips').text('请输入您收到的短信验证码！');
					return false;
				}else{
					if(type == 'payword'){
						var password = posF.find('input[name=payword]').val();
						var repassword = posF.find('input[name=rePayword]').val();
						if(!password || password == ''){
							posF.find('.tips').text('请输入新支付密码！');
							return false;
						}
						if(!repassword || repassword == ''){
							posF.find('.tips').text('请再次输入新支付密码！');
							return false;
						}
						if(password != repassword){
							posF.find('.tips').text('两次密码不一致！');
							return false;
						}
						$.post('__CONTROLLER__/payPassword', {'code':code,'password':password},function(d){
							var data = JSON.parse(d);
							if(data['status'] > 0){
								window.location.href = window.location.href; //页面刷新
							}else{
								posF.find('.tips').text(data['msg']);
								return false;
							}
						});
					}else if(type == 'delPhone'){
						$.post('__CONTROLLER__/bindmobile', {'code':code, 'action':'unbind'}, function (d) {
							var data = JSON.parse(d);
							if(data['status'] == 1){
								window.location.href=window.location.href;
							}else{
								posF.find('.tips').text(data['msg']);
							}
						}); 
					}else if(type == 'addPhone'){
						var mobile = posF.find('input[name=mobile]').val();
						$.post('__CONTROLLER__/bindmobile', {'mobile':mobile,'code':code, 'action':'bind'}, function (d) {
							var data = JSON.parse(d);
							if(data['status'] == 1){
								window.location.href=window.location.href;
							}else{
								posF.find('.tips').text(data['msg']);
							}
						}); 
					}
				}
			});
			
			function ImgCodeFix(obj){
				var ImgCodeBx = obj.find('.ImgCode');
				var CodeImg = obj.find('.ImgCode img');
				var ImgCode = obj.find('.ImgCode input[name=ImgCode]');
				var right = (ImgCodeBx.width() - ImgCode.outerWidth()) / 2;
				CodeImg.css({'right':right+'px'});
			}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->