<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-share.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1>
		<div class="return"><span>&#xe61d;</span></div>微信扫一扫，活动早知道
		<if condition="($agent neq 1)">
		<div id="shareweb" class="share"><span>&#xe60a;</span></div>
		<div id="shareapp" class="shareapp"><span>&#xe60a;</span></div>
		</if>
		</h1>
	</header>
	<div class="con">
		<div class="main_box">
			<img class="erweima" src="__PUBLIC__/Share/<{$imgFile}>" />
		</div>
		<if condition="($agent neq 1)">
		<div class="sharesocil fixTop fullLayer z10">
			<div class="share-list fixBottom pct100">
				<div class="feature">
					<ul class="clearfix">
						<li>
							<a class="jiathis_button_qzone">
								<img src="__PUBLIC__/Mobile/images/qzone.jpg" />
								<p>QQ空间</p>
							</a>
						</li>
						<li>
							<a class="jiathis_button_tsina">
								<img src="__PUBLIC__/Mobile/images/sina.jpg" />
								<p>新浪微博</p>
							</a>
						</li>
						<li>
							<a class="jiathis_button_tqq">
								<img src="__PUBLIC__/Mobile/images/tx.jpg" />
								<p>腾讯微博</p>
							</a>
						</li>
						<li>
							<a class="jiatitle" onclick="jiathis_sendto('tieba');return false;">
								<img src="__PUBLIC__/Mobile/images/baidu.jpg" />
								<p>百度贴吧</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="fcancel ptb20r">取消</div>
			</div>
		</div>
		</if>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="__PUBLIC__/Mobile/js/YdbOnline.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script>
		wx.config({
			debug: false,                         // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId:     '<{$package.appId}>',      // 必填，公众号的唯一标识
			timestamp: '<{$package.timestamp}>',  // 必填，生成签名的时间戳
			nonceStr:  '<{$package.nonceStr}>',   // 必填，生成签名的随机串
			signature: '<{$package.signature}>',  // 必填，签名
			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'checkJsApi',
				'openLocation',
				'getLocation',
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ',
				'onMenuShareWeibo'
			]
		});
		wx.ready(function () {
			wx.onMenuShareTimeline({
				title:  "<{$title}>",                                                     // 分享标题
				link:   "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",             // 分享链接
				imgUrl: "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png", // 分享图标
				success: function () { 
					// 用户确认分享后执行的回调函数
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
				}
			});

			wx.onMenuShareAppMessage({
				title:   "<{$title}>",                                                           // 分享标题
				desc:    "您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！", // 分享描述
				link:   "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",                    // 分享链接
				imgUrl:  "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png",       // 分享图标
				type:    '',                                                                     // 分享类型,music、video或link，不填默认为link
				dataUrl: '',                                                                     // 如果type是music或video，则要提供数据链接，默认为空
				success: function () { 
					// 用户确认分享后执行的回调函数
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
				}
			});

			wx.onMenuShareQQ({
				title:  "<{$title}>",                                                            // 分享标题
				desc:   "您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！", // 分享描述
				link:   "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",                    // 分享链接
				imgUrl: "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png",        // 分享图标
				success: function () { 
				   // 用户确认分享后执行的回调函数
				},
				cancel: function () { 
				   // 用户取消分享后执行的回调函数
				}
			});

			wx.onMenuShareWeibo({
				title:  "<{$title}>",                                                            // 分享标题
				desc:   "您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！", // 分享描述
				link:   "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",                    // 分享链接
				imgUrl: "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png",        // 分享图标
				success: function () { 
				   // 用户确认分享后执行的回调函数
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
				}
			});
		});
	</script>
	<script type="text/javascript">
		var YDB = new YDBOBJ();
		$(window).load(function(){
			isapp();

			// 商品分享
			$("#shareapp").click(function () {
                YDB.Share("<{$title}>", "您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！", "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png", "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html");
            });
			
			
		});
		
		function isapp() {
			var YundabaoUA = navigator.userAgent;    // 获取当前的useragent
			if (YundabaoUA.indexOf('CK 2.0') > -1){  // 判断当前的ua中是否包含"CK 2.0"，如果包含"CK 2.0"标识当前在CK 2.0的应用中
				$("#shareapp").show();
				$("#shareweb").hide();
			}else{
				$("#shareapp").hide();
				$("#shareweb").show();
			}
		}
		
		var jiathis_config = { 
			pic: "<{:C('SITE_URL')}>/Public/Share/<{$dir}>/share_<{$shopId}>.png",
			url: "<{:C('SITE_URL')}>/share/share/id/<{$shopId}>.html",
			title: "扫一扫,微信关注!",
			summary:"您的好友 <{$user.uname}> 邀您关注草包网，专业的手机平板数码维修、回收以及新潮时尚数码周边出售平台！"
		} 
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
</block>
<!-- 底部JS执行区域 结束 -->