<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-supportbank.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>支持银行</h1>
	</header>
	<div class="con">
		<div id="leftTabBox" class="tabBox">
			<div class="hd">
				<ul class="tab_bank" id="icons">
					<li id="cxCard"><a href="javascript:;">储蓄卡</a></li>
					<li id="creCard" class="on"><a href="javascript:;">信用卡</a></li>
				</ul>
			</div>
			<div class="bd">
				<ul>
					<!--储蓄卡模块-->
					<li class="col-bgw clearfix" id="cxBank">
						<foreach name="credits" item="vo">
						<div class="cardList posR">
							<div class="bankIC posA">
								<img src="__PUBLIC__/Bank/<{$vo.picture}>" class="img">
							</div>
						</div>
						</foreach>
					</li>
				</ul>
				<ul>
					<!--信用卡模块-->
					<li class="col-bgw clearfix" id="credBank">
						<foreach name="deposits" item="vo">
						<div class="cardList posR">
							<div class="bankIC posA">
								<img src="__PUBLIC__/Bank/<{$vo.picture}>" class="img">
							</div>
						</div>
						</foreach>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		TouchSlide({ 
			slideCell:"#leftTabBox",

		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->