<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-virtuals.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>草包豆管理</h1>
	</header>
	<div class="con">
		<div class="allcbd">
			<span class="all">草包豆 <em><{$user.virtual_money}></em><a href="<{:U('Users/recharge')}>" class="btn-recharge">立即充值</a></span>
		</div>
		<div class="cbd">
			<div class="cbd_tit">草包豆收入明细<div class="i"><i>&#xe60b;</i></div></div>
			<div class="lists">
				<ul class="cbd_lst">
					<foreach name="virtual" item="vo">
					<li class="clearfix">
						<div class="time">
							<time>
								<span><{$vo.create_time|date="m-d",###}></span>
								<span class="clock"><{$vo.create_time|date="H:i",###}></span>
							</time>
						</div>
						<div class="circle">
						<eq name="vo.event" value="1"><span class="shopping">购物</span></eq>
						<eq name="vo.event" value="2"><span class="repair">维修</span></eq>
						<eq name="vo.event" value="3"><span class="recovery">回收</span></eq>
						<eq name="vo.event" value="4"><span class="offer">报价</span></eq>
						<eq name="vo.event" value="5"><span class="comment">评价</span></eq>
						<eq name="vo.event" value="6"><span class="return">返还</span></eq>
						<eq name="vo.event" value="7"><span class="bbs">论坛</span></eq>
						<eq name="vo.event" value="8"><span class="recharge">充值</span></eq>
						</div>
						<div class="detial">
							<eq name="vo.type" value="1">
							<span class="in">+<{$vo.val}></span>
							<else />
							<span class="out">-<{$vo.val}></span>
							</eq>
							<p><{$vo.sn}></p>
						</div>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="data">
			<ul class="clearfix">
				<for start="1" end="13">
				<li data-id="<{$i}>" <eq name="month" value="$i">class="checked"</eq>><{$year}>年<{$i}>月</li>
				</for>
			</ul>
		</div>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="__PUBLIC__/Plugins/dropload-gh-pages/dist/dropload.min.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.cbd_tit div.i', 'click', function(event) {     // 打开月份选择器
			$(".data").toggle(300);
		}).delegate('.data ul li', 'click', function(event) {               // 选择月份筛选
			var month = $(this).attr('data-id');
			window.location.href = "<{$CBW_URL}>/users/virtuals/month/"+month;
		});
		
		// dropload
		var counter = 0;
		$('.lists').dropload({
			scrollArea : window,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
			},
			loadDownFn : function(me){
				counter++;
				ajax_data(me,counter);
			}
		});
		
		function ajax_data(me, counter){
			var num = 8;
			var month = $('.data').find('li.checked').attr('data-id');
			$.ajax({
				type: 'POST',
				url: '__CONTROLLER__/loadMoreVirtual',
				dataType: 'json',
				data: {'counter':counter, 'num':num, 'month':month },
				success: function(data){
					if(data){
						var html = '';
						for(var a = 0;a < data.length;a++){
							html += '<li class="clearfix">';
							html += '	<div class="time">';
							html += '		<time>';
							html += '			<span>'+ data[a]['md'] +'</span>';
							html += '			<span class="clock">'+ data[a]['hi'] +'</span>';
							html += '		</time>';
							html += '	</div>';
							html += '	<div class="circle">';
							if(data[a]['event'] == 1){
								html += '<span class="shopping">购物</span>';
							}else if(data[a]['event'] == 2){
								html += '<span class="repair">维修</span>';
							}else if(data[a]['event'] == 3){
								html += '<span class="recovery">回收</span>';
							}else if(data[a]['event'] == 4){
								html += '<span class="offer">报价</span>';
							}else if(data[a]['event'] == 5){
								html += '<span class="comment">评价</span>';
							}else if(data[a]['event'] == 6){
								html += '<span class="return">返还</span>';
							}else if(data[a]['event'] == 7){
								html += '<span class="bbs">论坛</span>';
							}else if(data[a]['event'] == 8){
								html += '<span class="recharge">充值</span>';
							}
							html += '	</div>';
							html += '	<div class="detial">';
							if(data[a]['type'] == 1){
								html += '<span class="in">+'+ data[a]['val'] +'</span>';
							}else{
								html += '<span class="out">-'+ data[a]['val'] +'</span>';
							}
							html += '		<p>'+ data[a]['sn'] +'</p>';
							html += '	</div>';
							html += '</li>';
						}
						if(data.length < num){
							me.lock();   // 锁定
							me.noData(); // 无数据
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							$('.cbd_lst').append(html);
							me.resetload();  // 每次数据加载完，必须重置
						},1000);
					}else{
						me.lock();   // 锁定
						me.noData(); // 无数据
						me.resetload();   // 每次数据加载完，必须重置
					}
				},
				error: function(xhr, type){
					alert('Ajax error!');
					// 即使加载出错，也得重置
					me.resetload();
				}
			});
		}
	</script>
</block>
<!-- 底部JS执行区域 结束 -->