<extend name="Public:public" />
<!-- 自定义CSS文件 部分 -->
<block name="cssFile">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/users-withdraw.css" />
</block>
<!-- 自定义CSS文件 结束 -->

<!-- 自定义顶部js文件 部分 -->
<block name="topJsFile">

</block>
<!-- 自定义顶部js文件 结束 -->

<!-- 主体部分 开始 -->
<block name="publicBody">
	<header>
		<h1><div class="return"><span>&#xe61d;</span></div>余额提现</h1>
	</header>
	<div class="con">
		<div class="hd">
			<ul class="clearfix">
				<li <eq name="Think.get.id" value="">class="on"</eq> data-id="1">提现到支付宝</li>
				<li <neq name="Think.get.id" value="">class="on"</neq>  data-id="2">提现到银行卡</li>
			</ul>
		</div>
		<form id="withdraw" method="post" action="<{:U('Users/saveWithdraw')}>">
		<div class="bd">
			<ul>
				<li class="clearfix zfb <eq name="Think.get.id" value="">current</eq>">
					<empty name="user.alipay" value=""> 
						<label for="carname"><strong>支付宝</strong><span>尚未设置支付宝账号</span><a href="<{:U('Users/pay')}>" class="fontRed">立即设置</a></label>
					<else />
						<label for="carname"><strong>支付宝</strong><span><{$user.alipay.alipay}></span><a href="<{:U('Users/pay')}>">更换</a></label>
					</empty>
				</li>
				<li class="clearfix bank <neq name="Think.get.id" value="">current</neq>">
					<empty name="user.card" value="">
						<label for="carname"><strong>银行卡</strong><span>尚未添加银行卡</span><a href="<{:U('Users/pay')}>" class="fontRed">立即添加</a></label>
					<else />
						<label for="carname"><strong>银行卡</strong><span><img src="__PUBLIC__/Bank/<{$user.card.picture}>" /> <{$user.card.true_name|hidestr='name'}> (<{$user.card.card_no|substr=-4}>)</span><a href="<{:U('Users/mybank')}>">更换</a></label>
					</empty>
				</li>
				<li class="clearfix input">
					<label for="carnum">
						<strong>金&nbsp;&nbsp;&nbsp;额</strong>
						<input autofocus="autofocus" autocomplete="on" type="tel" name="money" placeholder="可提现：<{$user.allow|number_format=2,'.',''}>元 ">
					</label>
				</li>
				<li class="clearfix password">
					<eq name="user.pay_password" value="">
						尚未设置支付密码? <a href="<{:U('Users/security')}>" class="fontRed">立即设置</a>
					<else />
						<label for="bran"><strong>密&nbsp;&nbsp;&nbsp;码</strong><input  autocomplete="on" type="password" name="password" value="" placeholder="输入您的支付密码"></label>
					</eq>
				</li>
			</ul>
			<div class="submit">
				<input type="hidden" name="type" value="1" />
				<input type="hidden" name="alipay" value="<{$user.alipay.alipay}>" />
				<input type="hidden" name="card" value="<{$user.card.id}>" />
				<a href="javascript:;">提现</a>
			</div>
		</div>
		</form>
	</div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">
	<script type="text/javascript">
		$(".con").delegate('.hd li', 'click', function(event) {
			$(this).addClass('on').siblings().removeClass("on");
			var Liindex = $(this).index();
			$(".bd li:eq("+Liindex+")").addClass('current').siblings().removeClass('current');
			$("input[name=type]").val($(this).attr('data-id'));
		}).delegate('.submit a', 'click', function(event) {
			var type   = $("input[name=type]").val();
			var alipay = $("input[name=alipay]").val();
			var card   = $("input[name=card]").val();
			var money   = $("input[name=money]").val();
			var pwd    = $("input[name=password]").val();
			if(type == 1){
				if(!alipay || alipay ==""){
					alert('尚未设置支付宝账号');
					return false;
				}
			}else if(type == 2){
				if(!card || card ==""){
					alert('尚未选择银行卡账号');
					return false;
				}
			}
			if(money<1 || money ==""){
				alert('请输入提现金额');
				return false;
			}
			if(!pwd || pwd ==""){
				alert('请输入支付密码');
				return false;
			}
			
			$("form#withdraw").submit();
		});
	</script>
</block>
<!-- 底部JS执行区域 结束 -->