<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairStep.css">
	<style type="text/css">
        .con .select dd strong{
            font-size: 20px;
            text-align: center;
        }
    </style>
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
        <div class="con-bd-t">
            <ul class="clearfix  dad">
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line Lines"><p class="line"></p></li>
            </ul>
            <ol class="clearfix">
                <li class="Breadcrumbs-backArrow"></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">类型</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/select.html"><{$step.type}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">品牌</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>.html"><{$step.brand}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">型号</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>.html"><{$step.model}></a></li>
            </ol>
        </div>
        <div class="select">
            <div class="one">
                <dl class="clearfix">
                    <dt>4.请选择您的设备颜色</dt>
					<foreach name="colorRes" item="vo">
                    <dd>
						<a href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>-<{$Think.get.model}>-<{$vo.id}>.html">
							<strong><{$vo.name}></strong>
						</a>
                    </dd>
                    </foreach>
                </dl>
            </div>
        </div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->