<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairStep.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
		<div class="con-bd-t">
            <ul class="clearfix  dad"></ul>
            <ol class="clearfix">
                <li class="Breadcrumbs-backArrow"></li>
            </ol>
        </div>
        <div class="select">
            <div class="one">
                <dl class="clearfix">
                    <dt>1.请选择您的<span style="color:#f90;">维修</span>类型</dt>
                    <dd>
						<a href="<{$CBW_URL}>/repair/10.html">
							<img src="__PUBLIC__/Home/images/2016/iphone-pc.png" height="37" width="27"/>
							<strong>手机</strong>
						</a>
                    </dd>
                    <dd>
						<a href="<{$CBW_URL}>/repair/11.html">
							<img src="__PUBLIC__/Home/images/2016/ipad-pc.png" height="35" width="39"/>
							<strong>平板</strong>
						</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->