<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairServer.css">
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con wrap clearfix">
        <div class="con-l">
			<!-- 维修店列表 -->
			<if condition="$offerCount gt 0">
            <div class="lists">
				<!-- 正在报价 -->
				<div class="b-addcode clearfix">
					<div class="loading-offer f_left">
					    <p class="mode-title">等待维修店报价<span class="user-tips">订单会保留两个小时,请尽快选择一家维修店服务</span></p>
						<div class="offer-introduce clearfix">
						    <img class="f_left" src="__PUBLIC__/Home/images/2016/repaire/loading.gif" />
							<p class="f_left">附近<span class="offer-count"><{$offerCount}></span>家维修店</p>
						</div>
					</div>
					<div class="cb-code f_right">
					    <img src="__PUBLIC__/Home/images/2016/erweima01.jpg" />
						<p>扫码关注或微信搜索<span class="weixin">caobao_com</span></p>
						<p>查看订单最新报价</p>
					</div>
				</div>
				<div class="store-list"><!--店铺报价列表--></div>
            </div>
			</if>
			<!-- 邮寄官方维修 -->
            <!--<div class="official">
				<if condition="$offerCount gt 0">
					<strong class="mode-title">不想等待？立即下单免邮寄送到官方维修</strong>
				<else />
					<strong class="mode-title">免邮寄送到官方维修</strong>
				</if>
				<eq name="relation.is_show" value="1">
				<div class="official-mod clearfix">
					<div class="official-detial clearfix">
						<div class="off">
							<div class="cbw" data-warranty="<{$relation.warranty}>">
								<div class="cbw-news"><i></i>草包网官方邮寄信息</div>
							</div>
						</div>
						<div class="ifo">
							<p><strong>地<b>址</b>：</strong>广东省广州市海珠区杨协成电子创意园A座319之1</p>
							<p><strong>联系人：</strong> 维修部（收）</p>
							<p><strong>电<b>话</b>：</strong> 4006233866</p>
						</div>
						<div class="pri-b">
							<span class="pri">官方维修价格：<eq name="relation.money" value="0"><span class="num">依检测结果</span><else /><span class="num"><em>￥</em><{$relation.money}></span></eq></span>
							<span class="buyat">（该配件保修<{$relation.warranty}>个月）</span>
						</div>
						<div class="lst_btn"><a href="javascript:;" data-warranty="<{$relation.warranty}>" id="officialRepair">选择邮寄维修</a></div>
					</div>
					<div class="official-remark">
						<i class="icon-tip"></i>
						注意：所有邮寄类维修，建议使用顺丰，来回运费全免，邮寄时选到付即可，
						快递单上一定要填写和下单时一致的11位手机号，修不好不收任何费用。
						（属于主板类大型故障，如：严重进水等。经检测无法修复的，我们不承担寄
						回运费。谢谢理解支持！）
					</div>
				</div>
				<else />
				<div class="official-detial empty clearfix">
                    <div>该故障暂不支持邮寄维修!</div>
                </div>
				</eq>
            </div>-->
        </div>
		<!-- 地图 -->
		<div class="dark"></div>
		<div class="bigbox posF" style="height:500px;width:700px;">
			<span class="posA off">&nbsp;</span>
			<p class="PS posA">拖动<img src="__PUBLIC__/Home/images/2016/master.png" title="定位标记" alt="定位标记">即可重新定位！</p>
			<button type="button" class="ensure posA">确定</button>
			<div id="mapBx" style="height:500px;width:700px;"></div>
		</div>
		<div id="map" style="display:none"></div>
    </div>
	<input type="hidden" name="id" value="<{$order.id}>" />
	<input type="hidden" name="lng" value="<{$server.lng}>" />
	<input type="hidden" name="lat" value="<{$server.lat}>" />
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9b2ce5f14f80d8d3bfba270fa2ee8915"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/webapi-amap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/page-js/repair-step.js"></script>
</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->