<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairStep.css">
	<style type="text/css">
        .con .select dd strong{
            line-height: 34px;
            font-size: 20px;
            text-align: center;
        }
        .con .select dd p{
            font-size: 14px;
            color: #898989;
            height: 55px;
            line-height: 22px;
            width: 100%;
            text-align: center;
        }
        .con .select dd {
            width: 192px;
            vertical-align: top;
			overflow: hidden;
        }
    </style>
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
        <div class="con-bd-t">
            <ul class="clearfix  dad">
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line Lines"><p class="line"></p></li>
            </ul>
            <ol class="clearfix">
                <li class="Breadcrumbs-backArrow"></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">类型</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/select.html"><{$step.type}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">品牌</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>.html"><{$step.brand}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">型号</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>.html"><{$step.model}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">颜色</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>-<{$Think.get.model}>.html"><{$step.color}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">分类</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>-<{$Think.get.model}>-<{$Think.get.color}>.html"><{$step.cat}></a></li>
            </ol>
        </div>
        <div class="select">
            <div class="one">
                <dl class="clearfix">
                    <dt>6.请选择您的故障详细</dt>
					<foreach name="faultRes" item="vo">
                    <dd>
						<a href="<{$CBW_URL}>/repair/serven/fault/<{$vo.fault_id}>.html" title="<{$vo.fault_name}>">
							<strong><{$vo.fault_name}></strong>
							<p><{$vo.description}></p>
						</a>
                    </dd>
					</foreach>
                </dl>
            </div>
        </div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->