<extend name="Public:same" />
<!--css-->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/repairStep.css">
	<style type="text/css">
        .con .select dd a{
            display: block;
            width: 100%;
            height: 100%;
			*width: auto;
			*height: auto;
        }
        .con .select dd strong{
            font-size: 16px;
        }
    </style>
</block>

<!--js-->
<block name="topJsFile">

</block>

<!-- 主体部分 开始 -->
<block name="publicBody">
    <div class="con">
        <div class="con-bd-t">
            <ul class="clearfix  dad">
                <li class="on Line"><p class="line"></p></li>
                <li class="on Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line"><p class="line"></p></li>
                <li class="Line Lines"><p class="line"></p></li>
            </ul>
            <ol class="clearfix">
                <li class="Breadcrumbs-backArrow"></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">类型</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/select.html"><{$step.type}></a></li>
                <li class="Breadcrumbs-item"><span class="Breadcrumbs-label">品牌</span><a class="Breadcrumbs-link" href="<{$CBW_URL}>/repair/<{$Think.get.type}>.html"><{$step.brand}></a></li>
            </ol>
        </div>
        <div class="select">
            <div class="one">
                <dl class="clearfix">
                    <dt>3.请选择您的<span style="color:#f90;">维修</span>型号</dt>
                    <foreach name="modelRes" item="vo">
					<if condition="$vo['pro_name'] eq '其他型号'">
                    <dd>
						<a href="<{$CBW_URL}>/repair/serven.html">
							<strong><{$vo.pro_name}></strong>
						</a>
                    </dd>
					<else />
					<dd>
						<a href="<{$CBW_URL}>/repair/<{$Think.get.type}>-<{$Think.get.brand}>-<{$vo.id}>.html">
							<strong><{$vo.pro_name}></strong>
						</a>
                    </dd>
					</if>
                    </foreach>
                </dl>
            </div>
        </div>
    </div>
</block>
<!-- 主体部分 结束 -->

<!-- js文件部分 开始 -->
<block name="footJsFile">

</block>
<!-- js文件部分 结束 -->
	
<!-- 底部JS执行区域 开始 -->
<block name="footScript">

</block>
<!-- 底部JS执行区域 结束 -->